<!-- Sidebar -->
<div class="sidebar-container <%- (pageName=='spotlight') ? 'spotlightSidebar' : '' %> sidebar-container1">
    <div class="navbar-logo">
        <div class="navbar-header mv-float-left">
            <% if(ifiBankName == "HDFC"){ %>
                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/zeta-logo.svg" alt="zeta Logo" class="zeta-logo" style="width:65px;padding-right:0;">
                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/hdfcHeaderLogo.svg" alt="hdfc Logo" class="hdfc-logo" style="width:120px;height:20px;padding:0 0 0 15px;border-left:1px solid #3a383e;margin-left:15px;">
            <% } else { %>
            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/zeta-logo.svg" alt="zeta Logo" class="zeta-logo">
            <% } %>
        </div>
    </div>
  <div id="sidebar-cntr-overflow" class="some-content-related-div">
    <div class="sidebar-cntr-overflow" id="inner-content-div">
        <div class="heading-cntr heading-cntr-toggle">
            <p class="heading-txt">PRODUCTS</p>
        </div>
        <div class="companyListSec">
                <% if(ifiBankName == "HDFC"){ %>
                    <div class="navbar-Company mva-float-left nav-company-toggle navbar-CompanyHDFC" style="background-color: #004b8d">
                <%} else { %>
                    <div class="navbar-Company mva-float-left nav-company-toggle">
                <% } %>
                <ul class="nav nav-sidebar nav-company-list">
                    <li class="dropdown" id="dropDown">
                        <a href="/dashboard" id='selectedCompany' class="dropdown-toggle company-text-arrow" data-toggle="dropdown">
                            <span id="selectedCompanyName" class="companyName nav-cmpy-toggle"><span class="companyShow">
                                <% if(selectedCompany.company.companyShortCode != undefined) {%>
                                    <%- selectedCompany.company.companyShortCode %>
                                <%}%>
                                <% if(selectedCompany.company.companyShortCode == '' || selectedCompany.company.companyShortCode == undefined) {%>
                                    <%- selectedCompany.company.companyName %>
                                <%}%>
                            </span>
                            <span class="companyHide"><%- selectedCompany.company.companyName %></span><br/>
                            <span class="companyName companyName1 nav-cmpy-toggle"><%- selectedCompany.company.companyID %>
                                <span class="companyHide">
                                    <% if(selectedCompany.company.companyShortCode != '' || selectedCompany.company.companyShortCode == undefined) {%>
                                        - <%- selectedCompany.company.companyShortCode %>
                                    <%}%>
                                </span>
                            </span>
                            <p id="currCorp" class="hidden"><%- corp.name %></p>
                            <p id="currUser" class="hidden"><%- user.account.accountDetails.email %></p>
                            <img class="business-arrow-list business-arrow-toggle" align="right" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/drop_down_arrow.svg" alt="zeta icon" />
                        </a>
                        <ul class="dropdown-menu sidebar-dropdown some-content-related-div">
                            <div class="scroll-section" id="inner-content-div1">
                                <% for(var currIndex=0; currIndex<companies.length; currIndex++) {%>
                                    <li data-company-id=<%- companies[currIndex].company.companyID %> data-company="<%- companies[currIndex].company.companyName %>" class='sidebar-company-item'>
                                            <a class="common-link bussiness-list-pd" <% if(companies[currIndex].company.companyID != selectedCompany.company.companyID){ %> href="/companies/<%- companies[currIndex].company.companyID %>/optima"  <% } %>>
                                                <div class="image-text-container">
                                                    <div class="column-text">
                                                        <div>
                                                            <h4 class="media-heading inner">
                                                                <span><%- companies[currIndex].company.companyName %></span>
                                                            </h4>
                                                            <% if(companies[currIndex].company.companyID == selectedCompany.company.companyID){ %>
                                                                <span class="success_img">
                                                                    <img align="right" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png">
                                                                </span>
                                                            <% } %>
                                                        </div>
                                                        <div>
                                                            ID: <%- companies[currIndex].company.companyID %> &nbsp &nbsp
                                                            <% if(companies[currIndex].company.companyShortCode == '' || companies[currIndex].company.companyShortCode == undefined) {%>
                                                                Code: N/A &nbsp &nbsp
                                                            <%} else if(companies[currIndex].company.companyShortCode != '') { %>
                                                                Code: <%- companies[currIndex].company.companyShortCode %>&nbsp &nbsp
                                                            <%}%>
                                                            Active Programs: <%- companies[currIndex].activePrograms %>
                                                        </div>
                                                    </div>
                                                    <span class="label-verified"> </span>
                                                </div>
                                            </a>
                                    </li>
                                <% } %>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="nav nav-sidebar child-list sidebar-overflow sideBar_mainSec side_products">
            <% if(corp.allowedPrograms.indexOf("OPTIMA") > -1){ %>
            <li>
                <a href="javascript:void(0)" class="sideMenuNav <%- (pageName=='optima') || (pageName== 'bulk') || (pageName== 'employees' || (pageName== 'document') || (pageName== 'reportCentre')) ?
                'cur-page' : '' %> tooltip">
                    <div class="nav_list_icon-group openProgList closed">
                        <span class="first-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                        <% if(ifiBankName == "HDFC"){ %>
                            <span class="sidebar-option-txt">Maximiser</span> 
                        <%} else { %>
                            <span class="sidebar-option-txt">Zeta Tax Benefits</span>
                            <% } %>
                    </div>
                    
                    <% if(ifiBankName == "HDFC"){ %>
                        <span class="tooltiptext">Maximiser</span> 
                    <%} else { %>
                        <span class="tooltiptext">Zeta Tax Benefits</span>
                        <% } %>
                </a>
                <div class="sideBar_subcon">
                <span class="arrowBounce"></span>
                <ul class="list-unstyled">
                    <a href="/companies/<%- selectedCompany.company.companyID %>/optima" data-pagename="Zeta Optima" class="sideMenuNav subListItem <%- (pageName=='optima' ) ?
                        'activeSubItm' : '' %>">
                        <li>Programs</li>
                    </a>
                    <a href="/beneficiaries" data-pagename="Beneficiary Directory" class="sideMenuNav subListItem <%- (pageName=='employees' ) ?
                        'activeSubItm' : '' %>">
                        <li>Beneficiary Directory</li>
                    </a>
                    
                    <a href="/documents-drive" data-pagename="Document Drive" class="sideMenuNav subListItem <%- (pageName=='document' ) ?
                        'activeSubItm' : '' %>">
                        <li>Document Drive</li>
                    </a>
                   
                    <% if(reportCentreActive) { %>
                        <a href="/report-centre" data-pagename="Report Center" class="sideMenuNav subListItem <%- (pageName=='reportCentre' ) ?
                        'activeSubItm' : '' %>">
                        <li>Report Center</li>
                        </a>
                    <% } %>
                    
                        <a href="/bulk-action" data-pagename="Bulk Actions" class="sideMenuNav subListItem <%- (pageName=='bulk' ) ?
                            'activeSubItm' : '' %>">
                            <li>Bulk Actions</li>
                        </a>
                    
                </ul>
                </div>
            </li>
            <% } %>

            <% if(corp.allowedPrograms.indexOf("EXPENSE") > -1){ %>
            <% if(isExpense){ %>
                    <li>
                        <a href="javascript:void(0)" class="sideMenuNav <%- (pageName=='rubix-programs') || (pageName=='rubix-create-employee') || (pageName== 'reportCentreExpense') ?
                                'cur-page' : '' %> tooltip">
              <div class="nav_list_icon-group openProgList closed">
                <span class="expense-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                <span class="sidebar-option-txt">Zeta Expense</span>
              </div>
                            <span class="tooltiptext">Zeta Expense</span>
                        </a>
                <div class="sideBar_subcon">
                    <span class="arrowBounce"></span>
                    <ul class="list-unstyled">
                        <a href="/companies/<%- selectedCompany.company.companyID %>/rubix/programs" data-pagename="Zeta Expense" class="sideMenuNav <%- (pageName =='rubix-programs' ) ?
                                'activeSubItm' : '' %>">
                            <li>Programs</li>
                        </a>
                        <a href="/companies/<%- selectedCompany.company.companyID %>/rubix/create-employee" data-pagename="Zeta Expense" class="sideMenuNav <%- (pageName =='rubix-create-employee' ) ?
                                'activeSubItm' : '' %>">
                            <li>Create Employees</li>
                        </a>
                        <% if(reportCentreActive) { %>
                            <a href="/report-centre?product=expense" data-pagename="Report Center" class="sideMenuNav subListItem <%- (pageName=='reportCentreExpense' ) ?
                                    'activeSubItm' : '' %>">
                                <li>Report Center</li>
                            </a>
                        <% } %>
                        <a href="/companies/<%- selectedCompany.company.companyID %>/rubix/hcr" data-pagename="Zeta Expense" class="sideMenuNav <%- (pageName =='rubix-hcr' ) ?
                            'activeSubItm' : '' %>">
                            <li>Invoice Reconciliation</li>
                        </a>
                    </ul>
                </div>

                    </li>
                    <%  } %>
          <%  } %>

          <% if(corp.allowedPrograms.indexOf("EXPRESS") > -1) { %>
            <li>
                <a href="javascript:void(0)" class="sideMenuNav <%- (pageName=='express') || (pageName== 'cashless') || (pageName== 'feedback') || (pageName== 'power') ||  (pageName== 'reportCentreExpress') ?
                'cur-page' : '' %> tooltip">
                    <div class="nav_list_icon-group openProgList closed">
                        <span class="first-icon sidebar--list-element sidebar-img-toogle-optima second-icon">&nbsp;</span>
                        <span class="sidebar-option-txt">Zeta Express</span>
                    </div>
                    <span class="tooltiptext">Zeta Express</span>
                </a>

                <div class="sideBar_subcon">
                <span class="arrowBounce"></span>
                    <ul class="list-unstyled">

                        <% if(expressDashboardActive) { %>
                            <a href="/express" data-pagename="Zeta Express" class="sideMenuNav subListItem <%- (pageName=='express' ) ?
                                'activeSubItm' : '' %>">
                                <li>Express Insights</li>
                            </a>
                        <% } %>

                        <% if(!restrict_to_express_insights){ %>
                                <a href="/companies/<%- selectedCompany.company.companyID %>/cashless" data-pagename="Zeta Cashless Cafeteria" class="sideMenuNav subListItem <%- (pageName=='cashless' ) ?
                                    'activeSubItm' : '' %>">
                                    <li>Cashless Cafeteria</li>
                                </a>
                         <% } %>
                         <% if(powerCenterEnabled && powerCenterUserEnabled) { %>
                            <a href="/power-center" data-pagename="Power Center" class="sideMenuNav subListItem powerCenter <%- (pageName=='power' ) ?
                                        'activeSubItm' : '' %>">
                                <li>Power Center <div class="new-program-powercenter new-program-toggle">New</div></li>
                            </a>
                        <% } %>
                         <% if(reportCentreActive) { %>
                            <a href="/report-centre?product=express" data-pagename="Report Center" class="sideMenuNav subListItem <%- (pageName=='reportCentreExpress' ) ?
                            'activeSubItm' : '' %>">
                            <li> Report Center</li>
                            </a>
                        <% } %>

                        <% if(expressDashboardActive) { %>
                            <a href="/feedback" data-pagename="Results : Rating after every order" class="sideMenuNav subListItem <%- (pageName=='feedback' ) ?
                                'activeSubItm' : '' %>">
                                <li>Feedback</li>
                            </a>
                        <% } %>

                        <% if(expressDashboardActive) { %>
                            <% if(surveyLaunch){ %>
                            <a href="/survey" data-pagename="Survey" class="sideMenuNav subListItem <%- (pageName=='survey' ) ?
                                    'activeSubItm' : '' %>">
                                <li>Surveys</li>
                            </a>
                            <% } %>
                        <% } %>
                        <% if(powerCenterEnabled && powerCenterUserEnabled) { %>
                            <a href="/power-center" data-pagename="Power Center" class="sideMenuNav subListItem <%- (pageName=='power' ) ?
                                        'activeSubItm' : '' %>">
                                <li>Power Center <div class=".new-program-powercenter new-program-toggle">New</div> </li>  
                            </a>
                        <% } %>
                        <% if(expressDashboardActive) { %>
                            <a href="/employee-onboard" data-pagename="Employee Onboard" class="sideMenuNav subListItem <%- (pageName=='Employee Onboard' ) ?
                                        'activeSubItm' : '' %>">
                                <li>Cafeteria Card</li>           
                            </a>
                         <% } %>
                        
                    </ul>
                </div>
            </li>
            <%  }%>

            <% if(corp.allowedPrograms.indexOf("SPOTLIGHT") > -1){ %>
            <li>
                <% if(!restrict_to_express_insights){ %>
                    <a href="/companies/<%- selectedCompany.company.companyID %>/spotlight" data-pagename="Spotlight" class="sideMenuNav <%- (pageName=='spotlight' ) ?
                    'cur-page' : '' %> tooltip">
                        <div class="nav_list_icon-group openProgList closed">
                            <span class="spotlight-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                            <% if(ifiBankName.toLowerCase() == "hdfc"){ %> 
                                <span class="sidebar-option-txt">SpotGifting</span> 
                            <%} else if(ifiBankName.toLowerCase() == "kotak") {%>
                                <span class="sidebar-option-txt">Kotak SpotGifting</span>
                            <%} else { %>
                                <span class="sidebar-option-txt">Zeta Spotlight</span> 
                            <% } %>
                            <div class="new-program new-program-toggle">New</div> 
                        </div>
                        <% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak"){ %>
                            <span class="tooltiptext">SpotGifting</span> 
                        <%} else { %>
                            <span class="tooltiptext">Zeta Spotlight</span> 
                            <% } %>

                    </a>
                <% } %>
            </li>
            <%  }%>



      </ul>

      <ul class="nav nav-sidebar child-list sidebar-overflow sideBar_mainSec secondList">
        <li class="corpTools"><span class="global-heading global-heading-toggle">Corporate Tools</span></li>
            <% if(!restrict_to_express_insights){ %>
                <li>
                    <a href="/admin/funding-accounts" data-pagename="Funding Accounts" class="sideMenuNav <%- (pageName=='fundingAccounts' ) ?
                    'cur-page' : '' %> tooltip">
                        <div class="nav_list_icon-group openProgList closed">
                            <span class="account-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                            <span class="sidebar-option-txt">Funding Accounts</span>
                        </div>
                        <span class="tooltiptext">Funding Accounts</span>
                    </a>
                </li>
            <% } %>

        <% if(!restrict_to_express_insights){ %>
            <li>
                <a href="/admin" data-pagename="Admin" class="sideMenuNav <%- (pageName=='admin' ) ?
                'cur-page' : '' %> tooltip">
                    <div class="nav_list_icon-group openProgList closed">
                        <span class="admin-console-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                        <span class="sidebar-option-txt">Admin Console</span>
                    </div>
                    <span class="tooltiptext">Admin Console</span>
                </a>
            </li>
        <% } %>
        <% if(invoices_commercials){ %>
            <li>
                <a href="/invoices-commercials" data-pagename="Invoices & Commercials" class="sideMenuNav <%- (pageName=='invoices-commercials' ) ? 'cur-page' : '' %> tooltip">
                    <div class="nav_list_icon-group openProgList closed">
                        <span class="admin-console-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                        <span class="sidebar-option-txt">Invoices</span>
                    </div>
                    <span class="tooltiptext">Invoices</span>
                </a>
            </li>
        <% } %>
      </ul>
    </div>
  </div>

  <div class="nav-btn">
    <ul>
      <li class="nav-cntr" id="nav-block-hide">
        <div class="nav-btn-cntr">
          <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/right_arrow.svg" alt="" class="left-arrow">
        </div>
      </li>
    </ul>
  </div>
</div>