<!-- Php - Sidebar -->
<% var compId = locals.selectedCompany.company.companyID %>
<div class="sidebar-container sidebar-container1 sm-sidebar">
    <div class="navbar-logo">
        <div class="navbar-header mv-float-left sm-logo-container">
            <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/philippines-sodexo/sm-logo.png" class="sm-left-logo" alt="SM Logo">
            <img src="https://mailers-cdn.zetaapps.in/images/kyc-sodexo/sodexo-logo.png" alt="sodexo Logo" class="sm-right-logo">
        </div>
    </div>
  <div id="sidebar-cntr-overflow" class="some-content-related-div">
    <div class="sidebar-cntr-overflow" id="inner-content-div">
        <div class="heading-cntr heading-cntr-toggle">
                <p class="heading-txt">STORE</p>
        </div>
        <div class="companyListSec">
            <div class="navbar-Company mva-float-left nav-company-toggle sdp-royal-blue-bg" >
                <ul class="nav nav-sidebar nav-company-list">
                    <li class="dropdown" id="dropDown">
                        <a href="/dashboard" id='selectedCompany' class="dropdown-toggle company-text-arrow <%= companies.length === 1 ? 'disableReset':'' %>" data-toggle="dropdown">
                            <span class="companyName nav-cmpy-toggle"><span class="companyShow">
                                <% if(selectedCompany.company.companyShortCode != undefined) {%>
                                    <%- selectedCompany.company.companyShortCode %>
                                <%}%>
                                <% if(selectedCompany.company.companyShortCode == '' || selectedCompany.company.companyShortCode == undefined) {%>
                                    <%- selectedCompany.company.companyName %>
                                <%}%>
                            </span>
                            <span class="companyHide"><%- selectedCompany.company.companyName %></span><br/>
                            <span class="companyName companyName1 nav-cmpy-toggle"><%- selectedCompany.company.companyID %>
                                <span class="companyHide">
                                    <% if(selectedCompany.company.companyShortCode != '' || selectedCompany.company.companyShortCode == undefined) {%>
                                        - <%- selectedCompany.company.companyShortCode %>
                                    <%}%>
                                </span>
                            </span>
                            <p id="currCorp" class="hidden"><%- corp.name %></p>
                            <p id="currUser" class="hidden"><%- user.account.accountDetails.email %></p>
                            <% if (companies.length !== 1) { %>
                            <img class="business-arrow-list business-arrow-toggle" style="right: 5px" align="right" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/drop_down_arrow.svg" alt="down arrow" />
                            <% } %>
                        </a>
                        <ul class="dropdown-menu sidebar-dropdown some-content-related-div" style="overflow:hidden; min-height: 350px">
                            <div class="phSearchBox">
                                <input type="text" placeholder="Search" class="phCompanySearch" id="phCompanySearch"/>
                            </div>
                            <div class="scroll-section" id="inner-content-div1" >
                                <% for(var currIndex=0; currIndex<companies.length; currIndex++) {%>
                                    <li data-company-id=<%- companies[currIndex].company.companyID %> data-company="<%- companies[currIndex].company.companyName %>" class='sidebar-company-item'>
                                            <a class="common-link bussiness-list-pd" <% if(companies[currIndex].company.companyID != selectedCompany.company.companyID){ %> href="/companies/<%- companies[currIndex].company.companyID %>/sm-corp/gift-pass"  <% } %>>
                                                <div class="image-text-container">
                                                    <div class="column-text">
                                                        <div>
                                                            <h4 class="media-heading inner">
                                                                <span><%- companies[currIndex].company.companyName %></span>
                                                            </h4>
                                                            <% if(companies[currIndex].company.companyID == selectedCompany.company.companyID){ %>
                                                                <span class="success_img">
                                                                    <img align="right" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png">
                                                                </span>
                                                            <% } %>
                                                        </div>
                                                        <div>
                                                            ID: <%- companies[currIndex].company.companyID %> &nbsp &nbsp
                                                            <% if(companies[currIndex].company.companyShortCode == '' || companies[currIndex].company.companyShortCode == undefined) {%>
                                                                Code: N/A &nbsp &nbsp
                                                            <%} else if(companies[currIndex].company.companyShortCode != '') { %>
                                                                Code: <%- companies[currIndex].company.companyShortCode %>&nbsp &nbsp
                                                            <%}%>
                                                            Active Programs: <%- companies[currIndex].activePrograms %>
                                                        </div>
                                                    </div>
                                                    <span class="label-verified"> </span>
                                                </div>
                                            </a>
                                    </li>
                                <% } %>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <% if(!locals.rbac || (locals.rbac && (rbac['createOrder_'+compId] || rbac['listOrders_'+compId]))){ %>
        <ul class="nav nav-sidebar child-list sidebar-overflow sideBar_mainSec side_products">
                <li>
                    <a href="/companies/<%- selectedCompany.company.companyID %>/sm-corp/gift-pass" data-pagename="SM Gift Pass" class="sideMenuNav <%- (pageName=='sm-corp-gift-pass' ) ?
                    'cur-page' : '' %> tooltip">
                        <div class="nav_list_icon-group openProgList closed">
                            <span class="spotlight-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                            <span class="sidebar-option-txt">Issue Digital Gift Pass</span> 
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/companies/<%- selectedCompany.company.companyID %>/sm-corp/convert-gift" data-pagename="SM Gift Pass" class="sideMenuNav <%- (pageName=='sm-corp-convert-gift' ) ?
                    'cur-page' : '' %> tooltip">
                        <div class="nav_list_icon-group openProgList closed">
                            <span class="convert-giftpass-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                            <span class="sidebar-option-txt">Convert Gift Pass</span> 
                        </div>
                    </a>
                </li>
          </ul>
        <% } %>
        <% if(!locals.rbac || (locals.rbac && (rbac['addFunds_'+compId] || rbac['addAccountForEmployee_'+compId] || rbac['moveFunds_'+compId]))){ %>
        <ul class="nav nav-sidebar child-list sidebar-overflow sideBar_mainSec side_products">
                <li class="corpTools"><span class="global-heading global-heading-toggle">Corporate Tools</span></li>
                <% if(!restrict_to_express_insights){ %>
                    <% if(!locals.rbac || (locals.rbac && (rbac['addFunds_'+compId] || rbac['moveFunds_'+compId]))) { %>
                    <li>
                        <a href="/admin/funding-accounts" data-pagename="Funding Accounts" class="sideMenuNav <%- (pageName=='fundingAccounts' ) ?
                        'cur-page' : '' %> tooltip">
                            <div class="nav_list_icon-group openProgList closed">
                                <span class="account-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                                <span class="sidebar-option-txt">Funding Accounts</span>
                            </div>
                            <span class="tooltiptext">Funding Accounts</span>
                        </a>
                    </li>
                    <% } %>
                    <% if(!locals.rbac || (rbac['addAccountForEmployee_'+compId])) { %>
                    <li>
                        <a href="/admin/access-controlV2" data-pagename="Admin" class="sideMenuNav <%- (pageName=='admin' ) ?
                        'cur-page' : '' %> tooltip">
                            <div class="nav_list_icon-group openProgList closed">
                                <span class="admin-console-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                                <span class="sidebar-option-txt">Access Control</span>
                            </div>
                            <span class="tooltiptext">Access Control</span>
                        </a>
                    </li>
                    <% } %>
                <% } %>
            </ul>
        <% } %>
    </div>
  </div>

  <div class="nav-btn">
    <ul>
      <li class="nav-cntr" id="nav-block-hide">
        <div class="nav-btn-cntr">
          <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/right_arrow.svg" alt="" class="left-arrow">
        </div>
      </li>
    </ul>
  </div>
</div>