<!-- Vietnam - Sidebar -->
<div class="sidebar-container sidebar-container1">
    <div class="navbar-logo">
        <div style="padding: 5px;" class="navbar-header mv-float-left">
            <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/sodexo_white_logo.png" alt="sodexo" class="sodexo-logo">    
        </div>
    </div>
  <div id="sidebar-cntr-overflow" class="some-content-related-div">
    <div class="sidebar-cntr-overflow" id="inner-content-div">
        <div class="companyListSec">
            <div class="navbar-Company mva-float-left nav-company-toggle sdp-royal-blue-bg" >
                    <ul class="nav nav-sidebar nav-company-list">
                            <li class="dropdown" id="dropDown">
                                <a href="/dashboard" id='selectedCompany' class="dropdown-toggle company-text-arrow" data-toggle="dropdown">
                                    <span id="selectedCompanyName" class="companyName nav-cmpy-toggle"><span class="companyShow">
                                        <% if(selectedCompany.company.companyShortCode != undefined) {%>
                                            <%- selectedCompany.company.companyShortCode %>
                                        <%}%>
                                        <% if(selectedCompany.company.companyShortCode == '' || selectedCompany.company.companyShortCode == undefined) {%>
                                            <%- selectedCompany.company.companyName %>
                                        <%}%>
                                    </span>
                                    <span class="companyHide"><%- selectedCompany.company.companyName %></span><br/>
                                    <span class="companyName companyName1 nav-cmpy-toggle"><%- selectedCompany.company.companyID %>
                                        <span class="companyHide">
                                            <% if(selectedCompany.company.companyShortCode != '' || selectedCompany.company.companyShortCode == undefined) {%>
                                                - <%- selectedCompany.company.companyShortCode %>
                                            <%}%>
                                        </span>
                                    </span>
                                    <p id="currCorp" class="hidden"><%- corp.name %></p>
                                    <p id="currUser" class="hidden"><%- user.account.accountDetails.email %></p>
                                    <img class="business-arrow-list business-arrow-toggle" align="right" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/drop_down_arrow.svg" alt="zeta icon" />
                                </a>
                                <ul class="dropdown-menu sidebar-dropdown some-content-related-div">
                                    <div class="scroll-section" id="inner-content-div1">
                                        <% for(var currIndex=0; currIndex<companies.length; currIndex++) {%>
                                            <li data-company-id=<%- companies[currIndex].company.companyID %> data-company="<%- companies[currIndex].company.companyName %>" class='sidebar-company-item'>
                                                    <a class="common-link bussiness-list-pd" <% if(companies[currIndex].company.companyID != selectedCompany.company.companyID){ %> href="/companies/<%- companies[currIndex].company.companyID %>/optima"  <% } %>>
                                                        <div class="image-text-container">
                                                            <div class="column-text">
                                                                <div>
                                                                    <h4 class="media-heading inner">
                                                                        <span><%- companies[currIndex].company.companyName %></span>
                                                                    </h4>
                                                                    <% if(companies[currIndex].company.companyID == selectedCompany.company.companyID){ %>
                                                                        <span class="success_img">
                                                                            <img align="right" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png">
                                                                        </span>
                                                                    <% } %>
                                                                </div>
                                                                <div>
                                                                    ID: <%- companies[currIndex].company.companyID %> &nbsp &nbsp
                                                                    <% if(companies[currIndex].company.companyShortCode == '' || companies[currIndex].company.companyShortCode == undefined) {%>
                                                                        Code: N/A &nbsp &nbsp
                                                                    <%} else if(companies[currIndex].company.companyShortCode != '') { %>
                                                                        Code: <%- companies[currIndex].company.companyShortCode %>&nbsp &nbsp
                                                                    <%}%>
                                                                    Active Programs: <%- companies[currIndex].activePrograms %>
                                                                </div>
                                                            </div>
                                                            <span class="label-verified"> </span>
                                                        </div>
                                                    </a>
                                            </li>
                                        <% } %>
                                    </div>
                                </ul>
                            </li>
                        </ul>
            </div>
        </div>
        
        <ul class="nav nav-sidebar child-list sidebar-overflow sideBar_mainSec side_products">
                <li>
                    <a href="/companies/<%- selectedCompany.company.companyID %>/optima" data-pagename="Zeta Optima" class="sideMenuNav <%- (pageName=='optima' ) ?
                    'cur-page' : '' %> tooltip">
                        <div class="nav_list_icon-group openProgList">
                            <span class="programs-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                            <span class="sidebar-option-txt">Programs</span>
                        </div>
                        <span class="tooltiptext">Programs</span>
                    </a>
                </li>
                <li>
                    <a href="/beneficiaries"  data-pagename="Beneficiary Directory" class="sideMenuNav <%- (pageName=='employees' ) ?
                    'cur-page' : '' %> tooltip">
                        <div class="nav_list_icon-group openProgList closed">
                            <span class="beneficiary-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                            <span class="sidebar-option-txt">Beneficiary Directory</span>
                        </div>
                        <span class="tooltiptext">Beneficiary Directory</span>
                    </a>
                </li>
                
                   <li>
                        <a href="/admin/funding-accounts" data-pagename="Funding Accounts" class="sideMenuNav <%- (pageName=='fundingAccounts' ) ?
                        'cur-page' : '' %> tooltip">
                            <div class="nav_list_icon-group openProgList closed">
                                <span class="account-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                                <span class="sidebar-option-txt">Funding Accounts</span>
                            </div>
                            <span class="tooltiptext">Funding Accounts</span>
                        </a>
                    </li>
                    <% if(isVNReportCenterEnabled) { %> 
                        <li>
                            <a href="/vn/report-center" data-pagename="Report Center" class="sideMenuNav <%- (pageName == 'vn-report-center' ) ?
                            'cur-page' : '' %> tooltip">
                                <div class="nav_list_icon-group openProgList closed">
                                    <span class="reportCenter-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                                    <span class="sidebar-option-txt">Report Center</span>
                                </div>
                                <span class="tooltiptext">Report Center</span>
                            </a>
                        </li>
                    <% } %>
                    <li>
                        <a href="/admin" data-pagename="Admin" class="sideMenuNav <%- (pageName=='admin' ) ?
                        'cur-page' : '' %> tooltip">
                            <div class="nav_list_icon-group openProgList closed">
                                <span class="admin-console-icon sidebar--list-element sidebar-img-toogle-optima">&nbsp;</span>
                                <span class="sidebar-option-txt">Admin Console</span>
                            </div>
                            <span class="tooltiptext">Admin Console</span>
                        </a>
                    </li>  
            </ul>
    </div>
  </div>

  <div class="nav-btn">
    <ul>
      <li class="nav-cntr" id="nav-block-hide">
        <div class="nav-btn-cntr">
          <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/right_arrow.svg" alt="" class="left-arrow">
        </div>
      </li>
    </ul>
  </div>
</div>