<% for(var currIndex=0; currIndex< activeCards.programs.length; currIndex++) { %>
    <% if(  activeCards.programs[currIndex].corpProductType === "OPTIMA" ) { %>
        <div class="benefit-card benefit-card-active col-md-3 col-lg-3 col-xs-3 col-sm-3">
    
            <a href="/companies/<%- companyID %>/optima/<%- activeCards.programs[currIndex].programID %>" data-type="Active" class="common-link active-card-programs">
                <div class="thumbnail cards-container mg-bottom-zero cards-height active-cards-height">
                    <% if(displayTag && activeCards.programs[currIndex].cardProgramObject.issuanceConfiguration.lastIssuanceDate && activeCards.programs[currIndex].cardProgramObject.productType !== 'Meal' && activeCards.programs[currIndex].cardProgramObject.productType !== 'Gift') { %>
                        <div class="benefit-card__tag">
                            <span class="benefit-card__tag--pd">Year end closure approaching</span>
                        </div>
                        <% } %>
                            <div class="card-image-part" align="center">
                                <% if(typeof activeCards.programs[currIndex].cardProgramObject.cardDesign.bg != 'undefined') { %>
                                    <img src=<%- activeCards.programs[currIndex].cardProgramObject.cardDesign.bg %> alt="Zeta image" />
                                    <% } else { %>
                                        <img src="/images/cards.png" alt="Zeta image">
                                        <% } %>
                            </div>
                            <div class="caption card-text-part">
                                <h3>
                                    <%= activeCards.programs[currIndex].cardProgramObject.cardName %>
                                </h3>
                                <!--<% if (typeof activeCards.programs[currIndex].cardProgramObject.active != 'undefined') { %>
                        <p class="medium-green program-status">Active</p>
                    <% } else { %>
                        <p class="medium-green"></p>
                    <% } %>-->
                                <p>No. of Beneficiaries :
                                    <%- activeCards.programs[currIndex].numberOfEmployees || 0 %>
                                </p>
                                <!--<p>Financial Year :
                                    <% if(activeCards.programs[currIndex].cardProgramObject.issuanceConfiguration.extraIssuanceConfig) { %>
                                        <%- activeCards.programs[currIndex].cardProgramObject.issuanceConfiguration.extraIssuanceConfig["corpben.financialYear"] %>
                                            <% } else { %>
                                                2016-17
                                                <% } %>
                                </p>-->
                                <div class="ellipsis-for-active-cards">  
                                <div class="ellipsis">
                                    <div class="inner"><span>
                                    <%- activeCards.programs[currIndex].cardProgramObject.taxStatus %>
                                </span></div>
                                </div>
                                </div>
    
                            </div>
                </div>
            </a>
        </div>
        
        <% } %>
        <% } %>
    
    