<!-- Banner Start -->

<!--<div class="col-md-12 banner-new-section">
        <div class="col-md-9 banner-new-section--margin">
          <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/exclaimatory-banner.svg">
          <span class="banner-new-section__imp-text">This program was closed on 31 Mar 2016. Balance amount in beneficiary’s card was transferred to their Zeta Cash Card</span>
        </div>
        <a href="#">
          <div class="col-md-2 banner-new-section__btn">
            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/doc-icon.svg">
            <span class="banner-new-section__btn-text"> Download report</span>
          </div>
        </a>
</div>-->
<div class="banner-section banner-background">

    <!-- <div class="anim-container">
        <ul id="scene">
            <li class="layer fifth" data-depth="0.10">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </li>
            <li class="layer forth" data-depth="0.20">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </li>
            <li class="layer third" data-depth="0.30">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </li>
            <li class="layer second" data-depth="0.50">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </li>
            <li class="layer front" data-depth="1.00">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </li>
        </ul>
    </div> -->

    <div>
        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-xs-9 col-md-9">
                <ul class="breadcrumb pd-tb-zero">
                    <li><a href="/companies/<%- companyID %>/optima">Programs</a></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-xs-3 col-xs-3">
                <div class="nav-justified">
                    <ul class="nav nav-pills navbar-right">
                       <!-- <li><a class="text-uppercase pd-tb-zero" href="#"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/gear.png"
                                                                                alt="Zeta Setting Icon"/>
                            Edit Program Details</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
        <!-- Popover -->
        <!-- <div class="row">
            <div class="col-xs-12 col-md-12 text-right">
            <div class="popover-content">
                <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                </span>
            </div>
            </div>
        </div> -->
        <!-- Popover End -->
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="page-heading">
                    <h1 class="pd-top-five" id="benefitCardName"><%- cardProgramObject.cardName %></h1>
                    <% if(status != 'CLOSED'){ %>
                    <div class="x-medium-button pull-right banner-top">
                        <a class="benefit-new-transfer-order" data-program="<%- programID %>" data-programname="<%- cardProgramObject.cardName %>" href="/companies/<%- companyID %>/optima/<%- programID %>/new-transfer">
                            <% if(!compareDates && !checkGenie && createTransferOrder) { %>
                            <button class="btn" type="button">New Transfer Order
                            </button>
                            <% } %>
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Banner End -->
