 <!-- Banner -->

<div class="banner-section">
   <div class="row row-to-table">
     <div class="col-xs-12 col-md-12 float-to-column">
       <div class="page-heading">
         <h1>
           <% if(IFIsBankName == "HDFC"){ %>
           Maximiser
           <% } else { %>
            Programs
           <% } %>
         </h1>
       </div>
       <p class="mg-bottom-zero">
           <span class="document-quote-text"><%=templateData.documentQuoteText%></span>
       </p>
     </div>
     <% if(corpID == "495") { %>
     <div class="col-xs-5 col-md-5 float-to-column" align="right">
       <div class="x-medium-button pull-right">
         <a href="/companies/<%- companyID %>/optima/cardorder">
           <button class="btn btn-default" type="button">Order Cards</button>
         </a>
       </div>
       <!-- <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/page-1.png" alt="Zeta Infograph" /> -->
     </div>
     <% } %>
   </div>
 </div>
 <% if(displayBanner) { %>
 <div class="col-md-12 banner-new-section">
   <div class="col-md-9">
     <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/exclaimatory-banner.svg">
     <span class="banner-new-section__imp-text">Important: Schedule year end closure for all your active reimbursement
       programs for the current financial year 2016-17</span>
   </div>
   <a href="#" data-target="#myModalScheduleYear" data-toggle="modal">
     <div class="col-md-3 banner-new-section__btn text-center">
       <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/calendar-banner.svg">
       <span class="banner-new-section__btn-text"> LEARN MORE & SCHEDULE NOW</span>
     </div>
   </a>
 </div>
 <% } %>
 <!-- Banner End -->