<!-- Media List -->
<% for(var currIndex=0; currIndex<recommondedCardPrograms.length; currIndex++) {%>
 <div class="row">
     <div class="col-xs-12 col-md-12">
          <div class="media media-list-container">
                <div class="media-left media-middle">
                    <a class="cursor-none" href="">
                        <img align="left" src=<%- recommondedCardPrograms[currIndex].cardDesign.bg %> alt="Zeta image" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><%- recommondedCardPrograms[currIndex].programName %></h4>
                      <div class="page-sub-heading">
                        <p class="pd-top-five"><%- recommondedCardPrograms[currIndex].programDescription %></p>
                      </div>
                      <div class="page-sub-heading media-footer">
                          <div class="row">
                                <div class="col-xs-9 col-md-9">
                                    <div class="media-column">
                                      <ul class="nav nav-pills nav-pills-list">
                                        <% if(recommondedCardPrograms[currIndex].helpVideoURL) { %>
                                          <li><a target="_blank" href=<%- recommondedCardPrograms[currIndex].helpVideoURL %> > <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/video-icon.png" alt="Zeta video"> Watch Video</a></li>
                                        <% } %>
                                        <% if(recommondedCardPrograms[currIndex].helpPage) { %>
                                          <li><a target="_blank" href=<%- recommondedCardPrograms[currIndex].helpPage %> > Learn More </a></li>
                                        <% } %>
                                      </ul>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <div class="small-button small-btn-container" align="right">
                                        <button class="btn btn-secondary text-uppercase" type="button" data-programType="<%- recommondedCardPrograms[currIndex].type %>" data-programName="<%- recommondedCardPrograms[currIndex].programName %>" data-toggle="modal" data-target="#setupProgramModal">Setup</button>
                                    </div>
                                </div>
                          </div>
                      </div>
                </div>
          </div>
      </div>
  </div>
<!-- Media List End -->
<div class="clearfix">&nbsp;</div>
<% } %>
