<% if(closedCards && closedCards.length > 0) { %>
    <% for(var currIndex=0; currIndex< closedCards.length; currIndex++) { %>
    <div class="benefit-card benefit-card-closed col-md-3 col-lg-3 col-xs-3 col-sm-3">
        <a href="/companies/<%- companyID %>/optima/<%- closedCards[currIndex].programID %>" data-type="Closed" class="common-link inactive-card-programs">
            <div class="thumbnail cards-container mg-bottom-zero cards-height active-cards-height">
                <div class="card-image-part" align="center">
                    <% if(closedCards[currIndex].cardProgramObject.cardDesign.bg) { %>
                    <img src=<%- closedCards[currIndex].cardProgramObject.cardDesign.bg %> alt="Zeta image" />
                    <% } else { %>
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/cards.png" alt="Zeta image">
                    <% } %>
                </div>
                <div class="caption card-text-part">
                    <h3>
                        <%- closedCards[currIndex].cardProgramObject.cardName %>
                    </h3>
                    <!--<p class="orange-darker">Closed</p>-->
                    <% if(closedCards[currIndex].numberOfEmployees) { %>
                    <p>No. of Beneficiaries :
                        <%- closedCards[currIndex].numberOfEmployees || 0 %>
                    </p>
                    <% } %>
                    <% if(closedCards[currIndex].cardProgramObject.taxStatus) { %>
                    <div class="ellipsis-for-active-cards">
                        <div class="ellipsis">
                            <div class="inner"><span><%- closedCards[currIndex].cardProgramObject.taxStatus %> </span></div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </a>
    </div>
    <% } %>
<div class="clearfix"></div>
<% } %>
<% if(closedCards.length <= 0) { %>
<div class="cards-row">
    No Inactive Programs Available
</div>
<div class="clearfix"></div>
<% } %>

<script type='text/javascript'>
    localStorage.setItem('closedProgramPageNumber', 0);
    var totalClosedProgramPages = <%= totalClosedProgramPages %>
    localStorage.setItem('totalClosedProgramPages', totalClosedProgramPages);
</script>