<!-- Media List -->
<% for(var currIndex=0; (currIndex<recommondedCardPrograms.length); currIndex++) { %>
<% if(!(recommondedCardPrograms[currIndex].type == 'meal' && IFIsBankName == 'HDFC')) { %>
 <div class="row">
     <div class="col-xs-12 col-md-12">
          <div class="media media-list-container">
                <div class="media-left media-middle">
                    <a class="cursor-none" href="">
                        <img align="left" src=<%- recommondedCardPrograms[currIndex].cardDesign.bg %> alt="Zeta image" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><%- recommondedCardPrograms[currIndex].name %></h4>
                      <div class="page-sub-heading">
                        <p class="pd-top-five"><%- recommondedCardPrograms[currIndex].description %></p>
                      </div>
                      <div class="page-sub-heading media-footer">
                          <div class="row">
                                <div class="col-xs-9 col-md-9">
                                    <div class="amount-column">
                                      <p class="pd-top-twenty pd-bottom-five mg-bottom-zero">Saves an Employee</p>
                                      <div class="page-sub-heading">
                                          <h2><span class="ruppee">
                                            <%=locals.country_details && typeof country_details.currencySymbol != 'undefined' ? country_details.currencySymbol : '₹'%>
                                          </span><%- recommondedCardPrograms[currIndex].taxSaving.amount %>
                                          <% if (recommondedCardPrograms[currIndex].taxSaving.PERIOD == 'MONTHLY') { %>
                                              <sub> every month</sub>
                                          <% } else if(recommondedCardPrograms[currIndex].taxSaving.PERIOD == 'WEEKLY') { %>
                                              <sub> every week</sub>
                                          <% } else if(recommondedCardPrograms[currIndex].taxSaving.PERIOD == 'YEARLY') { %>
                                              <sub> every year</sub>
                                          <% } %>

                                          </h2>
                                      </div>
                                    </div>
                                    <div class="media-column">
                                      <ul class="nav nav-pills nav-pills-list">
                                        <% if(recommondedCardPrograms[currIndex].helpVideoURL && recommondedCardPrograms[currIndex].type != "meal" && recommondedCardPrograms[currIndex].type != "self_education") { %>
                                          <li><a target="_blank" href=<%- recommondedCardPrograms[currIndex].helpVideoURL %> > <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/video-icon.png" alt="Zeta video"> Watch Video</a></li>
                                        <% } %>
                                        <% if(recommondedCardPrograms[currIndex].helpPage) { %>
                                          <li><a target="_blank" href=<%- recommondedCardPrograms[currIndex].helpPage %> > Learn More </a></li>
                                        <% } %>
                                      </ul>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                  <div class="small-button small-btn-container" align="right">
                                    <% if(!checkGenie) { %>
                                      <% if(programSetupEnabled && IFIsBankName != 'Sodexo_Vietnam') { %>
                                        <a href="/optima/<%- companyID %>/setup-program/<%- recommondedCardPrograms[currIndex].type %>?programName=<%- recommondedCardPrograms[currIndex].name %>" class="btn btn-secondary text-uppercase setupProgramBtn" type="button" data-programType="<%- recommondedCardPrograms[currIndex].type %>" data-programName="<%- recommondedCardPrograms[currIndex].name %>" >Setup</a>
                                      <% } else {%>
                                        <button class="btn btn-secondary text-uppercase" type="button" data-programType="<%- recommondedCardPrograms[currIndex].type %>" data-programName="<%- recommondedCardPrograms[currIndex].name %>" data-toggle="modal" data-target="#setupProgramModal">Setup</button>
                                        <% } %>
                                      <% } %>
                                  </div>
                            </div>
                          </div>
                      </div>
                </div>
          </div>
      </div>
  </div>
<!-- Media List End -->
<div class="clearfix">&nbsp;</div>
<% } %>
<% } %>