<div class="selectRows col-md-12 row">
    <div class="col-md-3 row">
        <select class="form-control timeFrom">
            <option value="select">Select</option>
            <option value="0" <%- timeFrom == "0" ? 'selected' : '' %>>12AM</option>
            <option value="1"  <%- timeFrom == "1" ? 'selected' : '' %>>1AM</option>
            <option value="2"  <%- timeFrom == "2" ? 'selected' : '' %>>2AM</option>
            <option value="3"  <%- timeFrom == "3" ? 'selected' : '' %>>3AM</option>
            <option value="4"  <%- timeFrom == "4" ? 'selected' : '' %>>4AM</option>
            <option value="5"  <%- timeFrom == "5" ? 'selected' : '' %>>5AM</option>
            <option value="6"  <%- timeFrom == "6" ? 'selected' : '' %>>6AM</option>
            <option value="7"  <%- timeFrom == "7" ? 'selected' : '' %>>7AM</option>
            <option value="8"  <%- timeFrom == "8" ? 'selected' : '' %>>8AM</option>
            <option value="9"  <%- timeFrom == "9" ? 'selected' : '' %>>9AM</option>
            <option value="10"  <%- timeFrom == "10" ? 'selected' : '' %>>10AM</option>
            <option value="11"  <%- timeFrom == "11" ? 'selected' : '' %>>11AM</option>
            <option value="12"  <%- timeFrom == "12" ? 'selected' : '' %>>12PM</option>
            <option value="13"  <%- timeFrom == "13" ? 'selected' : '' %>>1PM</option>
            <option value="14"  <%- timeFrom == "14" ? 'selected' : '' %>>2PM</option>
            <option value="15"  <%- timeFrom == "15" ? 'selected' : '' %>>3PM</option>
            <option value="16"  <%- timeFrom == "16" ? 'selected' : '' %>>4PM</option>
            <option value="17"  <%- timeFrom == "17" ? 'selected' : '' %>>5PM</option>
            <option value="18"  <%- timeFrom == "18" ? 'selected' : '' %>>6PM</option>
            <option value="19"  <%- timeFrom == "19" ? 'selected' : '' %>>7PM</option>
            <option value="20"  <%- timeFrom == "20" ? 'selected' : '' %>>8PM</option>
            <option value="21"  <%- timeFrom == "21" ? 'selected' : '' %>>9PM</option>
            <option value="22"  <%- timeFrom == "22" ? 'selected' : '' %>>10PM</option>
            <option value="23"  <%- timeFrom == "23" ? 'selected' : '' %>>11PM</option>
        </select>
        <p id="timeToText"></p>
    </div>
    <div class="centerText textCenter">
        to
    </div>
    <div class="col-md-3 row">
        <select class="form-control timeTo">
            <option value="select">Select</option>
            <option value="0" <%- timeTo == "0" ? 'selected' : '' %>>12AM</option>
            <option value="1"  <%- timeTo == "1" ? 'selected' : '' %>>1AM</option>
            <option value="2"  <%- timeTo == "2" ? 'selected' : '' %>>2AM</option>
            <option value="3"  <%- timeTo == "3" ? 'selected' : '' %>>3AM</option>
            <option value="4"  <%- timeTo == "4" ? 'selected' : '' %>>4AM</option>
            <option value="5"  <%- timeTo == "5" ? 'selected' : '' %>>5AM</option>
            <option value="6"  <%- timeTo == "6" ? 'selected' : '' %>>6AM</option>
            <option value="7"  <%- timeTo == "7" ? 'selected' : '' %>>7AM</option>
            <option value="8"  <%- timeTo == "8" ? 'selected' : '' %>>8AM</option>
            <option value="9"  <%- timeTo == "9" ? 'selected' : '' %>>9AM</option>
            <option value="10"  <%- timeTo == "10" ? 'selected' : '' %>>10AM</option>
            <option value="11"  <%- timeTo == "11" ? 'selected' : '' %>>11AM</option>
            <option value="12"  <%- timeTo == "12" ? 'selected' : '' %>>12PM</option>
            <option value="13"  <%- timeTo == "13" ? 'selected' : '' %>>1PM</option>
            <option value="14"  <%- timeTo == "14" ? 'selected' : '' %>>2PM</option>
            <option value="15"  <%- timeTo == "15" ? 'selected' : '' %>>3PM</option>
            <option value="16"  <%- timeTo == "16" ? 'selected' : '' %>>4PM</option>
            <option value="17"  <%- timeTo == "17" ? 'selected' : '' %>>5PM</option>
            <option value="18"  <%- timeTo == "18" ? 'selected' : '' %>>6PM</option>
            <option value="19"  <%- timeTo == "19" ? 'selected' : '' %>>7PM</option>
            <option value="20"  <%- timeTo == "20" ? 'selected' : '' %>>8PM</option>
            <option value="21"  <%- timeTo == "21" ? 'selected' : '' %>>9PM</option>
            <option value="22"  <%- timeTo == "22" ? 'selected' : '' %>>10PM</option>
            <option value="23"  <%- timeTo == "23" ? 'selected' : '' %>>11PM</option>
        </select>
        <p id="timeToText"></p>
    </div>
    <div class="col-md-1">
        <% if(newRow == 'false'){ %>
            <img id="addMoreRow" src="/images/plus.png">
            <% }else{ %>
                <img class="removeRow" src="/images/minus.png">
                <% } %>
    </div>
</div>