<% var programId = $('#transferId').val(); %>
<tr data-orderid="<%- order.orderID %>" data-order-status="<%- order.orderStatus %>" class="numbers-font">

    <td>
        <div '<% if(status !='failed') { %> class=' orders-row' <% } %>'>
        <% if(status == 'Errors Found') { %>
        <a href='<%-programId%>/transfers/<%-order.orderID%>/errors' class="text-id">
            <% } else { %>
            <a href='<%-programId%>/transfers/<%-order.orderID%>' class="text-id">
                <% } %>
                <strong><%- order.orderID%></strong>
            </a>
            </div>
    </td>

    <% if( productType.indexOf("gift") === -1 && productType.indexOf("reward") === -1) { %>
        <td class="orders-row">
            <%- payoutDate%>
        </td>
    <% } %>


    <td class="payrollCycle">
        <%- order.month ? order.month.charAt(0).toUpperCase() +  order.month.substring(1).toLowerCase() : "-"  %>
    </td>

    <td class="text-right">
        <%- order.totalScheduledPayouts || "-" %>
    </td>
    <td class="text-right">
    <%- order.amount || "-" %>
    </td>
    <td>
        <div>
            <% if(order.orderStatus == 'Errors Found') { %>
            <a href='<%-programId%>/transfers/<%-order.orderID%>/errors' class="text-none">
                <% } else { %>
                <a href='<%-programId%>/transfers/<%-order.orderID%>' class="text-none">
                    <% } %>
                    <% if(order.orderStatus === "completed") { %>
                        <span
                                class="transfer_status_completed text-capitalize text-completed"><%- order.orderStatus %></span>
                    <% } else if(order.orderStatus === "scheduled") { %>
                        <span class="payout_status_scheduled text-capitalize text-scheduled"><%- order.orderStatus %></span>
                    <% } else if(order.orderStatus === "initiated") { %>
                        <span class="payout_status_scheduled text-capitalize text-scheduled"><%- order.orderStatus %></span>
                    <% } else if(order.orderStatus === "processing") { %>
                        <span class="processing text-capitalize text-processing"><%- order.orderStatus %></span>
                    <% } else if(order.orderStatus === "stalled" || order.orderStatus === "failed") { %>
                        <span class="transfer_status_stalled text-capitalize text-failed"><%- order.orderStatus %></span>
                    <% } else if(order.orderStatus === "cancelled") { %>
                        <span class="cancelled text-capitalize text-cancelled"><%- order.orderStatus %></span>
                    <% } else { %>
                        <span class="transfer_status_stalled text-capitalize text-failed"><%- order.orderStatus %></span>
                    <% } %>
                </a>
            </a>
        </div>
    </td>
    <td>
        <%- order.recurringOrderId || '-' %>
    </td>
    <td class="view-details">
        <a  href="" data-toggle="modal">
            <span>View Details</span>
        </a>
    </td>
    <td class="file-url">
        <a href="" data-orderFileAPiUrl="<%=fileUrl%>" download
           class="tooltip-title tooltip-cursor-pointer downloadOrderFile">
            <%if(order.fileName.substr(order.fileName.lastIndexOf(".") + 1) === 'csv') {%>
                <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/csv.svg"
                     alt="Download Order">
            <% } else if(order.fileName.substr(order.fileName.lastIndexOf(".") + 1) === 'xls') { %>
                <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xls.svg"
                     alt="Download Order">
            <% } else if(order.fileName.substr(order.fileName.lastIndexOf(".") + 1) === 'xlsx') { %>
                <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xlsx.svg"
                     alt="Download Order">
            <% } else { %>
                <img class="download-icon"
                     src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/report-copy.png"
                     alt="Download Order">
            <% } %>
            <!-- <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xls@2x.png" alt="Download Order"> -->
            <span class="tooltip-view">
                <!-- Tooltip Content  -->
                <div class="tooltip-lrtb-pd">
                    <div class="row">
                        <div class="col-xs-12 col-md-12"> Download Order File</div>
                    </div>
                </div>
                <!-- Tooltip Content End -->
            </span>
        </a>
         <% if(checkGenie == 0){ %>
            <% if((order.orderStatus === "scheduled" || order.orderStatus === "initiated" || order.orderStatus === "stalled") && order.type != "cashless_cafeteria" && ifiBankName != 'Sodexo_Vietnam') { %>
                <a href="<%- performaUrl %>" target="_blank" class="tooltip-title tooltip-cursor-pointer">
                    <img class="download-icon"
                         src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/proforma-icon.png"
                         alt="Proforma Invoice">
                    <span class="tooltip-view">
                <!-- Tooltip Content  -->
                <div class="tooltip-lrtb-pd">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">Download Proforma Invoice</div>
                    </div>
                </div>
                        <!-- Tooltip Content End -->
            </span>
                </a>
            <% } %>
        <% } %>
        <% if(checkGenie == 0){ %>
            <% if(order.orderStatus === "completed" && order.type != "cashless_cafeteria" && ifiBankName != 'Sodexo_Vietnam') { %>
                <a href="<%- invoiceUrl %>" class="tooltip-title tooltip-cursor-pointer">
                    <img class="download-icon"
                         src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/invoice-icon.png" alt="Invoice">
                    <span class="tooltip-view">
                <!-- Tooltip Content  -->
                <div class="tooltip-lrtb-pd">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">Download Invoice</div>
                    </div>
                </div>
                        <!-- Tooltip Content End -->
            </span>
                </a>
            <% } %>
        <% } %>
        <% if((order.orderStatus === "completed" || order.orderStatus === "scheduled" || order.orderStatus === "stalled" ) && (order.orderStatus !== "cancelled")){ %>
            <a href="" data-orderReportAPiUrl="<%= csvUrl %>" download
               class="tooltip-title tooltip-cursor-pointer downloadOrderReport">
                <img class="download-icon"
                     src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/report-copy.png"
                     alt="Download Order">
                <span class="tooltip-view">
                <!-- Tooltip Content  -->
                <div class="tooltip-lrtb-pd">
                    <div class="row">
                        <div class="col-xs-12 col-md-12"> Download Order Report</div>
                    </div>
                </div>
                    <!-- Tooltip Content End -->
            </span>
            </a>
        <% } %>

    </td>
    <td class="position-dropdown  payout-revoke">
        <!-- Popover -->
        <div class="popover-content">
            <span data-container="body" data-toggle="popover" data-placement="bottom"
                  data-content="Edit Program Settings">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </div>
        <!-- Popover End -->
        <!-- Dropdown -->
        <div class="dropdown-log">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="" data-toggle="dropdown"><span><img
                                    src="/images/vertical_dot_icon.png"></span></a>
                    <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                        <% if(order.orderStatus === "Errors Found") { %>
                        <li><a href='<%-programId%>/transfers/<%-order.orderID%>/errors' class="error-row">View order
                                details</a></li>
                        <% } else { %>
                        <li><a href='<%-programId%>/transfers/<%-order.orderID%>' class="orders-row">View order
                                details</a></li>
                        <% } %>
                        <% if(order.orderStatus === "scheduled") { %>

                        <li><a class="addPayout" id="payoutAdd" data-linkRecurringOrderId='<%-programId%>/transfers/<%-order.orderID%>/addPayoutTransfer?payoutDate=<%-payoutDate%>&totalAmount=<%-order.amount%>&recurringOrderID=<%-order.recurringOrderId%>'
                               data-linkOrderId='<%-programId%>/transfers/<%-order.orderID%>/addPayoutTransfer?payoutDate=<%-payoutDate%>&totalAmount=<%-order.amount%>&orderID=<%-order.orderID%>'
                               data-payoutOrderId='<%-order.orderID%>'  data-recurringId='<%-order.recurringOrderId%>'>Add new payout</a></li>
                        <% } %>
                        <% if(order.orderStatus === "scheduled" || order.orderStatus === "stalled") { %>
                            <% if(!compareDates) { %>
                                <li><a class="cancelOrderBtn">Cancel this order</a></li>
                            <% } %>
                        <% } %>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Dropdown End -->
    </td>
</tr>