<table class="custom-table hover-state">
    <thead>
    <tr>

        <th class="hover">Order Id</th>
        <th>Schedule Date</th>
        <!-- CODE ADDED BY PARYUL JAIN WITH REF. TO TASK B)REPEAT ORDERS
        START  -->
        <th>Payroll<br> Period</th>
        <!-- END -->
        <th class="beneficiaries">Beneficiaries</th>
        <th class="text-right">Amount</th>
        <th>Status</th>
        <th class="">Recurring <br> Order Id</th>
        <th>Order <br> History</th>
        <th>Download</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="main-content"></tbody>
    <tbody class="loading-content">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
    </tr>
    </tbody>
</table>
<!-- Table End -->
<div align="center" class="row paging-container"></div>
<div class="table-empty-state" style="display: none">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-empty-state.png" alt="">
    <p>No data available</p>
</div>

<div class="table-error-state" style="display: none">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-error-state.png" alt="">
    <p>Data failed to load.</p>
    <a class="reload-btn" href="javascript:void(0);">Reload</a>
</div>
