<!DOCTYPE html>
<% if(locals.countryVar && countryVar == "isSodexoVn") { %>

    <html class="sodexo">
    <% } else { %>
        <html>
        <% } %>
            <head>
                <meta charset="utf-8" />
                <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />

                <% if(locals.countryVar && countryVar == "isSodexoVn") { %>
                    <title>Sodexo Corporates</title>
                    <link
                      rel="shortcut icon"
                      href="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/philippines-sodexo/favicon.png"
                    />

                    <% } else { %>

                        <title>Zeta Corporates</title>
                        <link
                          rel="shortcut icon"
                          href="https://card-program-files.s3.amazonaws.com/hrDashboard/images/favicon.png"
                        />
                    <% } %>

      <link
        rel="stylesheet"
        href="/lib/bootstrap/dist/css/bootstrap.min.css?v=<%- deployVersion%>"
      />
      <link
        rel="stylesheet"
        href="/css/vendor.css?v=<%- deployVersion%>"
        type="text/css"
      />
      <link
        rel="stylesheet"
        href="/css/main.css?v=<%- deployVersion%>"
        type="text/css"
      />
      
    <meta name="corpID" content="<%- corp.id%>" />
    <meta name="companyID" content="<%- selectedCompany.company.companyID%>" />
    <meta name="companyIDs" content="<%- companyIds %>" />
    <meta name="userID" content="<%- userID%>" />
    <meta name="ifi" content="<%- ifiBankName%>" />
    <meta name="currencySymbol" content="<%- country_details.currencySymbol%>">
    <meta name="currencyName" content="<%- country_details.currencyName%>">
    <meta name="corpIFI" content="<%- corp.ifi%>">
    <meta name="countryVar" content="<%- countryVar%>"/>
    <meta
      http-equiv="Content-Security-Policy"
      content="
      default-src 'self' https://api.stage.zeta.in/ https://power-center-pp.zetaapps.in/ https://power-center.zetaapps.in/ https://power-center-stage.zetaapps.in/ https://user-views-pp.zetaapps.in https://user-views.zetaapps.in https://employee-onboard-stage.zetaapps.in https://employee-onboard-pp.zetaapps.in https://employee-onboard.zetaapps.in https://survey-stage.zetaapps.in https://corporates-expense-pp.zetaapps.in https://corporates-expense-stage.zetaapps.in https://survey-pp.zetaapps.in https://survey.zetaapps.in https://corporates-expense.zetaapps.in https://report-center-stage.zetaapps.in https://report-center-pp.zetaapps.in https://report-center.zetaapps.in https://zeta-report-center-prod.s3.ap-southeast-1.amazonaws.com https://www.youtube.com/embed/uArTyjks75M;
      script-src 'self' 'unsafe-inline' 'unsafe-eval' https://deploy.mopinion.com/ https://www.googletagmanager.com/ https://collect.mopinion.com/ http://deploy.mopinion.com/ https://api.stage.zeta.in/ https://static.doubleclick.net https://googleads.g.doubleclick.net https://corp.zetaapps.in https://mv-stage.dash.zeta.in https://www.gstatic.com https://maps.googleapis.com https://ajax.googleapis.com https://www.google-analytics.com https://cdn.ravenjs.com https://cdn.datatables.net;
      style-src 'unsafe-inline' 'self' https://fonts.mopinion.com/ https://www.gstatic.com https://fonts.googleapis.com ;
      connect-src 'self' https://deploy.mopinion.com/ http://deploy.mopinion.com/ https://survey.mopinion.com/ https://survey.app.mopinion.com/ https://cacheorcheck.mopinion.com/ http://pastease.mopinion.com/ https://acspropercert.stage.zeta.in https://supercard-gw.preprod.zeta.in https://supc.gw.zetapay.in https://api.stage.zeta.in https://api.gw.zetapay.in https://api.preprod.zeta.in https://corp-pp.zetaapps.in https://corp.zetaapps.in https://zeta-s3-bucket-temporary-preprod.s3.amazonaws.com/ https://zapps-prod-mv-tmp.s3-ap-southeast-1.amazonaws.com https://api.stage.zeta.in https://mv-stage.dash.zeta.in https://corp-ben-hr-files-temp-stage.s3-ap-southeast-1.amazonaws.com/ https://zeta-s3-bucket-temporary-staging.s3.amazonaws.com/ https://zeta-s3-bucket-temporary-prod.s3.amazonaws.com/ https://sentry.io/ https://zeta-s3-bucket-permanent-prod-report.s3.amazonaws.com/ http://staging1-sg-1b.aws.zeta.in:7595/ https://avail-finance.preprod.zeta.in https://avail-finance.gw.zetapay.in https://sodexovn.gw.zetapay.in/ ;
      img-src 'self' https://prnr.s3.amazonaws.com http://prnr.s3.amazonaws.com https://sodexo-brazil.s3.amazonaws.com https://disneydebit.com/ https://content3.jdmagicbox.com/ https://www.google.co.in/ads/ga-audiences https://www.google.com/ads/ga-audiences https://stats.g.doubleclick.net https://s3.ap-south-1.amazonaws.com/ https://web.zetaapps.in https://card-program-files.s3.amazonaws.com https://zeta-ud-prod.s3.amazonaws.com https://csi.gstatic.com https://zeta-s3-bucket-claimed-bills-prod.s3.amazonaws.com https://zeta-s3-bucket-claimed-bills-prod.s3-ap-southeast-1.amazonaws.com https://i.ytimg.com https://zeta-userdocs-stage2.s3.amazonaws.com https://www.google-analytics.com https://zeta-s3-bucket-claimed-bills-staging.s3.amazonaws.com https://corp-ben-hr-files.s3.amazonaws.com http://loyalty-files.zetaapps.in.s3.amazonaws.com/ https://s3.ap-south-1.amazonaws.com https://zeta-s3-bucket-claimed-bills-staging.s3-ap-southeast-1.amazonaws.com https://s3-ap-southeast-1.amazonaws.com https://zeta-s3-bucket-corpben-staging.s3-ap-southeast-1.amazonaws.com https://zeta-s3-bucket-corpben-staging.s3.amazonaws.com https://zeta-s3-bucket-claimed-bills-preprod.s3.ap-south-1.amazonaws.com https://zeta-s3-bucket-corpben-preprod.s3.ap-south-1.amazonaws.com https://corpben-corporates-logo-preprod.s3.amazonaws.com https://zeta-s3-bucket-corpben.s3.amazonaws.com;
      font-src 'self' data: https://gstatic.mopinion.com/ https://fonts.gstatic.com https://s3-ap-southeast-1.amazonaws.com;"
    />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
</html>
