.access-ctrl-V2-container {
  .custom-searchbox {
    input[type="text"] {
      min-width: 100% !important;
    }
  }
  .access-ctrl-search {
    padding-right: 0;
  }
  .access-ctrl-table-container {
    .access-ctrl-store-list {
      color: inherit;
      cursor: default !important;
      .more {
        color: #273895;
        cursor: pointer;
      }
    }
    .popover-list-items {
      padding: 10px;
    }
    .access-ctrl-store-list:hover 
    {
        color:inherit;
        cursor:pointer;  
    }
    .access-control-table tr td {
      padding: 15px 10px 15px 10px !important;
    }
  }
}

.add-user-V2 {
  .choose-company {
    height: 50px;
    .ms-options-wrap, .ms-active {
      button {
        padding-top: 13px !important;
        padding-bottom: 30px !important;
        background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/down-arrow-black.svg) no-repeat right !important;
        background-position-x: 97.5% !important;
      }
      button:after {
        content: none;
      }
    }
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}