@import "home.scss";
@import "access-control.scss";
@import "inactive-corp-account.scss";
@import "sidebar.scss";

// Global
.disableButton {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

// template/funding-history
.phDwnldReport {
  cursor: pointer;
}
.ph-date-picker {
  input[type="text"] {
    background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-calendar-60.png);
    background-repeat: no-repeat;
    background-position: 96% 10px;
    padding-right: 35px;
    height: 35px;
  }
}
.phdownloadBtn {
  margin-bottom: 20px;
}

// section/sodexo-philippines-sm/corporateSwitchDesignPh
.signup-parent__left {
  &.ph_color {
    background: #2a295c;
    &:after {
      background: #2a295c;
    }
  }
}
.signup__hero { 
  &.signup__hero--php-hero {
    background-image: url(/images/php-hero.png);
    background-size: 350px 219px;
  }
}