.sm-sidebar {
  .sm-logo-container {
    padding: 5px;
    .sm-left-logo{
      width:50px; padding: 10px;
    }
    .sm-right-logo {
      width:85px;height:25px;padding:0 0 5px 15px;margin-left:90px;
    }
  }
}

ul.sidebar-dropdown {
  .phSearchBox{
      padding:10px;
      .phCompanySearch{
          padding:4px 10px;
          width:100%;
          font-size:16px;
      }
  }
}