<!-- Banner Start -->
<div class="top-section pointbased-banner">
    <div>
        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-xs-9 col-md-9">
                <ul class="breadcrumb pd-tb-zero">
                    <li><a href="/companies/<%- companyID %>/spotlight">Zeta Spotlight</a></li>
                    <li><a href="/companies/<%- companyID %>/spotlight">Rewards and Recognition</a></li>
                    <li><a href="/companies/<%- companyID %>/spotlight/pointbased">Point-Based</a></li> 
                </ul>
            </div>
        </div>
        <!-- Popover End -->
        <div class="row">
            <div class="col-xs-6 col-md-6 col-sm-6">
                <div class="page-heading spBtnDv">
                    <h1 class="pd-top-ten"> <%- programName %> </h1>
                </div>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6 program-based-action">
                    <div class="dropdown pull-right">
                            <button class="btn dropdown-toggle x-medium-button"  type="button" data-toggle="dropdown">Actions
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><a href="/companies/<%- companyID %>/spotlight/pointbased/employee/<%- programID %>/<%- programName %>/upload/issuepoints">
                                <% if(corpID == 96 || corpID == 4803 || corpID == 17573) { %> 
                                    Allocate Gems
                                <% } else { %>
                                    Allocate Points
                                <% } %>
                            </a></li>
                              <li><a href="/companies/<%- companyID %>/spotlight/pointbased/employee/<%- programID %>/<%- programName %>/upload/beneficairy">Upload Beneficiaries</a></li>
                            </ul>
                          </div>
            </div>
            <div style="display:none">
                <input id="getProgramID" type="hidden" value="<%- programID %>" >
            </div>
        </div>

    </div>
</div>
<!-- Banner End -->