<!-- Banner Start -->
<div class="top-section pointbased-banner">
    <div>
        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-xs-9 col-md-9">
                <ul class="breadcrumb pd-tb-zero">
                    <li><a href="/companies/<%- companyID %>/spotlight">Zeta Spotlight</a></li>
                    <li><a href="/companies/<%- companyID %>/spotlight">Rewards and Recognition</a></li> 
                </ul>
            </div>
        </div>
        <!-- Popover End -->
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="page-heading spBtnDv">
                    <h1 class="pd-top-ten">Point-Based</h1>
                </div>
            </div>
            
        </div>

    </div>
</div>
<!-- Banner End -->