<div class="tab-pane active" id="tab_default_5">

  <div class="col-xs-12 col-md-12 ">
    <div class="inner-sub-container page-sub-heading point-based-subcontainer" style="min-width:948px;">

      <div class="summaryHeadDv row">        
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="row" style="margin-right:-13px">
            <ul class="table-widgets-container">

            <li>
              <div>
                <div class="form-group custom-searchbox" style="width: 215px;">
                  <div class="input-group stylish-input-group">
                    <input id="searchBeneficiaryBox" type="text" class="form-control" style="width: 100% !important;" placeholder="Search ">
                    <span class="input-group-addon">
                      <button id="searchBeneficiaryBtn" type="button">
                        <span>
                          <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/search_small.png">
                        </span>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
              </li>
            
              <li>
              <div class="form-group select-custom">
                <select class="form-control width-xs" id="beneficiary-filter">
                  <option value="ALL" disabled="" selected="">Filter by BU Name</option>
                  <option value="ABCD">ABCD</option>                 
                </select>
              </div>
              </li>                          

            </ul>
            </div>
          

        </div>
      </div>


      <div class="row" id="beneficiary-table-render" style="width: 100%;margin: 0 auto;">
        <% include reward-issued-table/rewards-issued %>
      </div>
    </div>
  </div>   
</div>