<% include ../../../common/html-head %>

    <body>
        <input type="hidden" id="productType" value="physical">
        <input type="hidden" id="programID" value=""> 
        <input type="hidden" id="SpotlightIFIName" value='<%- ifiBankName %>'> 
        <div class="wrapper">                                   

            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container reward_container">
                                <% include ../../../section/spotlight/pointbased/banner %>
                                    <!-- <div class="col-xs-12 col-md-12 program">
                                       
                                    </div> -->

                                    <div class="sub-container inner-sub-container mg-top-minus-ten point-based-subcontainer" style="display:none">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="page-sub-heading">
                                                        <h2 class="mg-bottom-twenty">Active Programs</h2>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row mg-minus-five appendActivePrograms">
                                            <% if(programDetail !== undefined){ %>
                                            <% for(var i=0;i< programDetail.length;i++){ %>
                                                <div class="col-lg-3 col-md-3 col-sm-3 padding-left-5">                                                    
                                                    <div class="pointCardProgram">
                                                        <a href="/companies/<%- companyID %>/spotlight/pointbased/employee/<%- programDetail[i].programID %>/<%- programDetail[i].name %>/pointsprogram#overview" >
                                                            <div class="pointCardImage"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/pointbasedRr.svg" /></div>
                                                            <div class="pointCardName"><%= programDetail[i].name %></div>
                                                            <div class="pointCardCurrTxt">Currency: <%= programDetail[i].currencyName %></div>
                                                            <div class="pointCardCurrTxt mg-bottom-thirty">No. of Beneficiaries: <span><%= programDetail[i].noOfBeneficiary %></span></div>
                                                        <a href="" ></a>
                                                    </div>
                                                </div>
                                                <% } %>
                                               <%}%> 
                                                     
                                        </div>
                                        <% if(programDetail.length == 10){ %>
                                        <div align="center" class="large-button mg-ten">
                                                <button  id="showMorePrograms" data-pageno="1"  class="btn btn-secondary text-uppercase btn-bg-color"   type="button" value="">Show More Programs</button>
                                            </div>                                        
                                        <% } %>                               



                                <!-- 
                                        <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="straight-line">&nbsp;</div>
                                                </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="page-sub-heading">
                                                        <h2>Setup an RnR Program</h2>
                                                        <p class="pd-top-ten">Engage, Recognize and Reward your employees with a single integrated platform to interact with co-workers and share their achievements.</p>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row physicalConatiner">
                                            <div class="col-md-12 col-sm-12 col-lg-12 pg-0">

                                                    <div class="clearfix physicalMainDv">
                                                            <div class="imgDv">
                                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/pointbasedEmployee.svg" style="width:72px;margin-top:15px;">
                                                            </div>
                                                            <div class="txtDv">
                                                                <div class="txtDvHead">For Employee Engagement</div>
                                                                <div class="txtDvSubHead">Employee engagement solution to build an encouraging workplace culture and drive optimal performance for your business</div>
                                                                <div class="txtdvVideo">
                                                                    <a href="">
                                                                        <span class="circle"><span class="playBtn">&nbsp;</span></span>
                                                                        Watch Video
                                                                    </a> 
                                                                    <a href="" >Learn More</a>                                                            
                                                                </div>
                                                            </div>
                                                            <div class="btnDv">
                                                                    <div class="small-button btn-group">
                                                                            <a id="physicalCardIssueGift" href="/companies/<%- companyID %>/spotlight/pointbased/employee/setup" class="activeLink">
                                                                                <button type="button" data-label="Physical gift cards" class="btn btn-secondary text-uppercase btn-more " style="margin-top:68px;">
                                                                                        Get Started
                                                                                </button>
                                                                            </a>
                                                                    </div>
                                                            </div>
                                                            
                                                        </div>

                                                        <div class="clearfix physicalMainDv">
                                                                <div class="imgDv">
                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/pointbasedChannel.svg" style="width:72px;margin-top:15px;">
                                                                </div>
                                                                <div class="txtDv">
                                                                    <div class="txtDvHead">For Channel Loyalty</div>
                                                                    <div class="txtDvSubHead">Channel loyalty solution to help you address key challenges in your distribution network and create a win-win for your channel partners</div>
                                                                    <div class="txtdvVideo">
                                                                            <a href="">
                                                                                <span class="circle"><span class="playBtn">&nbsp;</span></span>
                                                                                Watch Video
                                                                            </a> 
                                                                            <a href="" >Learn More</a>                                                            
                                                                        </div>
                                                                </div>
                                                                <div class="btnDv">
                                                                        <div class="small-button btn-group">
                                                                                <a id="physicalCardIssueGift" href="/companies/<%- companyID %>/spotlight/pointbased/channel" class="activeLink">
                                                                                    <button type="button" data-label="Physical gift cards" class="btn btn-secondary text-uppercase btn-more " style="margin-top:68px;">
                                                                                            Get Started
                                                                                    </button>
                                                                                </a>
                                                                        </div>
                                                                </div>
                                                            </div>

                                                            <div class="clearfix physicalMainDv">
                                                                    <div class="imgDv">
                                                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/pointbasedEmployee.svg" style="width:72px;margin-top:15px;">
                                                                    </div>
                                                                    <div class="txtDv">
                                                                        <div class="txtDvHead">For Customer Loyalty</div>
                                                                        <div class="txtDvSubHead">Identify and retain your best customers through our data-driven customer engagement strategies that ensure repeat business and maximise share of wallet.</div>
                                                                        <div class="txtdvVideo">
                                                                                <a href="">
                                                                                    <span class="circle"><span class="playBtn">&nbsp;</span></span>
                                                                                    Watch Video
                                                                                </a> 
                                                                                <a href="" >Learn More</a>                                                            
                                                                            </div>
                                                                    </div>
                                                                    <div class="btnDv">
                                                                            <div class="small-button btn-group">
                                                                                    <a id="physicalCardIssueGift" href="/companies/<%- companyID %>/spotlight/pointbased/customer" class="activeLink">
                                                                                        <button type="button" data-label="Physical gift cards" class="btn btn-secondary text-uppercase btn-more " style="margin-top:68px;">
                                                                                                Get Started
                                                                                        </button>
                                                                                    </a>
                                                                            </div>
                                                                    </div>
                                                                </div>
                                            </div>


                                        </div>

                                -->



                                        <!-- last login  -->
                                        <% include ../../../common/time-footer %>
                                    </div>
                            </div>

                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>






        <% include ../../../common/html-script %>       
        <script src="/dist/scripts/pointbasedHome.js"></script>        
            

    </body>

    </html>