<% include ../../../common/html-head %>

<body>
    <input type="hidden" id="SpotlightIFIName" value='<%- ifiBankName %>'>
    <input type="hidden" id="getProgramID" value='<%- programID %>'>
    <div class="wrapper">
        <% include ../../../common/header %>
        <!-- Container -->
        <div class="container-fluid sidebar-row">
            <div class="row">
                <% include ../../../common/sidebar %>
                <!-- Inner container -->
                <div class="inner-container">
                    <!-- Banner Start -->
                    <div class="banner-section pointbased-banner" style="margin-top: 0px;">
                        <div>
                            <!-- Breadcrumb -->
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <ul class="breadcrumb pd-tb-zero">
                                        <li><a href="/companies/<%- companyID %>/spotlight">Zeta Spotlight</a></li>
                                        <li>
                                            <a href="/companies/<%- companyID %>/spotlight/">Rewards and Recognition</a>
                                        </li>
                                        <li><a href="/companies/<%- companyID %>/spotlight/pointbased">Point-Based</a>
                                        </li>
                                        <li class='active'><a
                                                href="/companies/<%- companyID %>/spotlight/pointbased/employee/<%- programID %>/<%-programName%>/pointsprogram#issuance">Allocation
                                                History</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Breadcrumb End -->
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <div class="page-heading">
                                        <h1 class="pd-top-ten pd-bottom-ten">Order ID: <span
                                                id="get-oreder-id"><%-orderID%></span></h1>
                                        <div class='bulk-order-status' style="padding-top:unset">Status: <span>
                                                <% if(orderStatus == 'Insufficient_funds') {%>
                                                Insufficient funds
                                                <% } else { %>
                                                <%- orderStatus %>
                                                <% }%>
                                            </span></div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="user-profile-list" style="top:-10px">
                                        <div class="user-list-column">

                                            <ul class="list-unstyled mg-bottom-zero employee-status">
                                                <li class="clearfix">
                                                    <div class="employee-label">
                                                        <small>Scheduled date: </small>
                                                    </div>
                                                    <div class="user-discription-column label-details"
                                                        style="text-align: right;padding-right: 50px;"><span
                                                            ><%- scheduledDate %></span></div>
                                                </li>
                                                <li class="clearfix">
                                                    <div class="employee-label">
                                                        <small>Total beneficiaries: </small>
                                                    </div>
                                                    <div class="user-discription-column label-details"
                                                        style="text-align: right;padding-right: 50px;"><span><%- totalPayouts %></span></div>
                                                </li>
                                                <li class="clearfix">
                                                    <div class="employee-label">
                                                        <small>Total amount: </small>
                                                    </div>
                                                    <div class="user-discription-column label-details"
                                                        style="text-align:right;padding-right: 50px;"><span
                                                            class="ruppee">₹</span><span><%- amount %></span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Banner End -->
                    <div class="sub-container point-based-subcontainer">
                        <div class="inner-sub-container page-sub-heading" style="min-width:935px;">

                            <div class="summaryHeadDv row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="row" style="margin-right:-13px">
                                        <ul class="table-widgets-container">

                                            <li class="">
                                                <div>
                                                    <div class="form-group custom-searchbox">
                                                        <div class="input-group stylish-input-group">
                                                            <input id="searchissuanceBox" type="text" style="width: 100% !important;"
                                                                class="form-control" placeholder="Search by Name or Email">
                                                            <span class="input-group-addon">
                                                                <button id="searchissuanceBtn" type="button">
                                                                    <span>
                                                                        <img
                                                                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/search_small.png">
                                                                    </span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                          <!--   <li>
                                               <div class="form-group select-custom">
                                                    <select class="form-control width-xs" id="issuance-filter">
                                                        <option value="ALL" disabled="" selected="">Filter by Status
                                                        </option>
                                                        <option value="ALL">All Statuses</option>
                                                        <option value="PENDING">Pending</option>
                                                        <option value="PROCESSING">Approved</option>
                                                        <option value="REJECTED">Declined</option>
                                                    </select>
                                                </div>                                             
                                            </li>   -->
                                           

                                        </ul>
                                    </div>


                                </div>
                            </div>


                            <div class="row" id="individual-order" style="margin: 0 5px;">
                                <% include individual-order-table/individual-transfer-table %>
                            </div>
                        </div>
                        <!-- last login  -->
                        <% include ../../../common/time-footer %>
                    </div>
                </div>
                <!-- Inner container End -->
            </div>
        </div>
        <!-- Container End -->
    </div>
    <% include ../../../common/html-script %>
    <script src="/dist/scripts/individualPointBasedOrders.js"></script>


</body>

</html>