<div class="tab-pane" id="tab_default_1">
    <div class="reward-container-one point-based-subcontainer">
        <div class="row pointbasedConatiner">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="pointbasedSummary point-based-subcontainer">
                    <div class="summaryHeadDv row">

                        <div class="col-md-3 col-lg-2 col-sm-3">
                            <div class="summaryHeadTxt">Summary</div>
                        </div>
                        <div class="col-md-9 col-lg-10 col-sm-9">
                            <ul class="table-widgets-container">
                                <li>
                                    <div>
                                        <div class="form-group custom-searchbox" style="width: 215px;">
                                            <div class="input-group stylish-input-group">
                                                <input id="searchBox" type="text" class="form-control" style="width: 100% !important;" placeholder="Search">
                                                <span class="input-group-addon">
                                                    <button id="searchBtn" type="button">
                                                        <span>
                                                            <img
                                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/search_small.png">
                                                        </span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div>
                                        <div class="form-group date-picker">
                                            <div class="input-group">
                                                <input type="text" name="daterange" class="form-control datepicker-img"
                                                    style="width: 214px;" id="tranferPeriod"
                                                    placeholder="Filter by Date" value="" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="summaryBodyDv row point-based-subcontainer">
                        <div class="col-md-3 col-lg-3 col-sm-3 summaryBodyDv1">
                            <span class="totalPointImg">
                                <img
                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewards-issued-icon.svg" />
                                <!-- <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/business16pxWallet.svg" /> -->
                            </span>
                            <span class="totalPointTxt">
                                <span class="totalPointTxt1">Rewards Allocated</span>
                                <br><span class="totalPointTxt2" id="totalRewardsIssued">0</span><br>
                                <a class="totalPointTxt3" href="#issuance">Allocation History</a>
                            </span>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 summaryBodyDv2 summaryBodyDvX">
                            <span class="totalPointTxt">
                                <span class="totalPointTxt1">Total Rewards Given</span>
                                <br><span class="totalPointTxt2" id="totalRewardsRewarded">0</span><br>
                            </span>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 summaryBodyDv3 summaryBodyDvX">
                            <span class="totalPointTxt">
                                <span class="totalPointTxt1">Total Rewards Revoked + Expired</span>
                                <br><span class="totalPointTxt2" id="totalRewardsExpired">0</span><br>
                                 <!-- <a style="padding-left:10px;text-decoration: underline" href="" >REVOKE HISTORY</a><br> -->
                            </span>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 summaryBodyDv4 summaryBodyDvX">
                            <span class="totalPointTxt">
                                <span class="totalPointTxt1">Remaining Balance</span>
                                <br><span class="totalPointTxt2" id="totalRewardsRemaining">0</span><br>
                            </span>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row reward-issue-container">
                <div id="rewarded-table-render">
                    <% include reward-issued-table/rewards-issued %>
                </div>
            </div>

        </div>


    </div>

</div>
<!-- Modal Box Transfer Initiated success -->
<div class="modal fade" data-backdrop="static" id="revokeBadgePayoutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="custom-modal-body">        
          
          <div class="modal-body">
              <div class="text-center">
                <img width="38" height="38" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewards-issued-icon.svg" alt="Zeta icon" />
              </div>
              <h4 class="text-center pd-bottom-zero">Revoke Badges</h4>
              <h5 style="text-align: center;"> Are you sure you want to revoke the remaining badges?</h5> 
              <h6 style="text-align: center;padding-top:10px;font-weight:bold;"> Note : Badge revoke takes 24 hours to reflect. </h6> 
          </div>
          <div class="modal-footer margin-top-zero">
              <div class="flexible-button">
                  <button class="btn btn-default revoke-btn cancel" name="" data-dismiss="modal" type="button" value="">
                      NO
                  </button>        
                  <button disaled class="btn btn-default btn-disaled revoke-btn reissue" id="revokeBadgescall" name="" type="button" value="">
                      REVOKE BADGES
                  </button>
                  <img class="add-user-loader" id="addUserLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
              </div>            
          </div>    
        </div>
  
      </div>
    </div>
  </div>
  <!-- Modal Box Transfer Initiated success End -->

  <!-- success modal -->
<div class="modal fade" id="revokeBadgePayoutModalSuccess" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                  </button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="program-code-list-wrpr text-center">   
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg" alt="">                  
                        <h3> The Badges has been Revoked successfully.</h3>                     
                        <div class='bulk-order-dtls-wrpr'>
                            <div class='bulk-order-dtls-hdg'>Summary</div>
                            <ul>
                                <li class="clearfix">
                                    <div class='bulk-order-lbl'>Revoke ID</div>
                                    <div class='bulk-order-val' id='revokeid'></div>
                                </li>
                                <li class="clearfix">
                                    <div class='bulk-order-lbl'>Total Amount Revoked</div>
                                    <div class='bulk-order-val' id='amountRevoked'></div>
                                </li>
                                <li class="clearfix">
                                    <div class='bulk-order-lbl'>Total Points Revoked</div>
                                    <div class='bulk-order-val' id='pointsRevoked'></div>
                                </li> 
                                
                            </ul>
                        </div>
                       
                        <div class="x-medium-button create-bulk-transfer-order">
                            <a href="/">
                            <button onclick="window.location.reload();" class="btn btn-default reload-btn" style="width:100%;" type="button" data-dismiss="modal">Done</button>
                            </a>
                        </div>
                       
                        
                    </div>
                </div>
            </div>
   
        </div>
    </div>
   </div>
  <!--success End -->
<!-- Modal Oops Transfer  -->
<div class="modal fade" id="revokeBadgesPayoutError" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="custom-modal-body">
          <div class="modal-body">
            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png"
                alt="Zeta icon" /></div>
            <h4 class="text-center pd-bottom-zero">Oops!.something went wrong.</h4>
            <div class="modal-heading-pdtb" align="center">
              <div class="heading-sub-text">This error is usually temporary and can be due to your Internet connection or
                something wrong at our end. Trying within few minutes should work. If the problem still persists please
                try again later or contact us on support@zeta.in</div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="flexible-button">
              <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <!-- Modal Oops Transfer End  -->
