<div class="tab-pane" id="tab_default_3">
    <div class="row pointbasedConatiner point-based-subcontainer">
        <div class="col-md-12 col-sm-12 col-lg-12">
          <div class="pointbasedPolicy">
               <div class="row pointbasedPolicyHead clearfix">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <span class="pointbasedPolicyHeadTxt">Overview</span><br><span class="pointbasedPolicyHeadSubTxt">Your program name and description.</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                            <%# <span class="editIcon "><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/setting-gear.svg">Edit</span> %>
                    </div>
               </div>
               <div class="row">
                   <div class="col-md-12 col-sm-12 col-lg-12"><div class="straight-line">&nbsp;</div></div>
               </div>
               <div class="row pointbasedPolicyBody point-based-subcontainer">
                    <div class="col-md-4 col-sm-4 col-lg-4 pointbasedPolicyName" >
                            Program name
                    </div>
                    <div class="col-md-8 col-sm-8 col-lg-8 pointbasedPolicyValue">
                            <input id="programName" type="text" value="Loading...." readonly/>                    
                    </div>
                   
                    <div class="col-md-12 col-sm-12 col-lg-12"><div class="straight-line">&nbsp;</div></div>

                    <div class="col-md-4 col-sm-4 col-lg-4 pointbasedPolicyName">
                            Description
                    </div>
                    <div class="col-md-8 col-sm-8 col-lg-8 pointbasedPolicyValue">
                            <input type="text" value="Loading...."  id="description" readonly />
                    </div>
                   

                    <!-- <div class="col-md-4 col-sm-4 col-lg-4 pointbasedPolicyName">
                            Funding account
                    </div>
                    <div class="col-md-8 col-sm-8 col-lg-8 pointbasedPolicyValue">
                            <input type="text" value="Loading...." />                    
                    </div> -->
                   
                    
               </div>
          </div>


          <div class="pointbasedPolicy point-based-subcontainer">
                <div class="row pointbasedPolicyHead clearfix">
                     <div class="col-md-6 col-sm-6 col-lg-6">
                         <span class="pointbasedPolicyHeadTxt">Currency</span><br><span class="pointbasedPolicyHeadSubTxt">Your unique RnR currency type and conversion rate</span>
                     </div>
                     <div class="col-md-6 col-sm-6 col-lg-6">
                             <%# <span class="editIcon "><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/setting-gear.svg">Edit</span> %>
                     </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12"><div class="straight-line">&nbsp;</div></div>
                </div>
                <div class="row pointbasedPolicyBody point-based-subcontainer">
                     <div class="col-md-4 col-sm-4 col-lg-4 pointbasedPolicyName">
                            Currency Name
                     </div>
                     <div class="col-md-8 col-sm-8 col-lg-8 pointbasedPolicyValue">
                             <input id="currencyName" type="text" value="Loading...." readonly/>                    
                     </div>
                    
                     <div class="col-md-12 col-sm-12 col-lg-12"><div class="straight-line">&nbsp;</div></div>
 
                     <div class="col-md-4 col-sm-4 col-lg-4 pointbasedPolicyName">
                            Currency symbol
                     </div>
                     <div class="col-md-8 col-sm-8 col-lg-8 pointbasedPolicyValue">
                             <img src="" id="currencySymbol" width="25" style="margin-left: 10px;">
                     </div>
                    
                     <div class="col-md-12 col-sm-12 col-lg-12"><div class="straight-line">&nbsp;</div></div>
 
                     <div class="col-md-4 col-sm-4 col-lg-4 pointbasedPolicyName">
                            Conversion rate
                     </div>
                     <div class="col-md-8 col-sm-8 col-lg-8 pointbasedPolicyValue">
                             <input type="text" value="Loading...." id="conversionRate" readonly/>                    
                     </div>
                    
                     
                </div>
           </div>


        <!--
           <div class="pointbasedPolicy">
                <div class="row pointbasedPolicyHead clearfix">
                     <div class="col-md-6 col-sm-6 col-lg-6">
                         <span class="pointbasedPolicyHeadTxt">Badges</span><br><span class="pointbasedPolicyHeadSubTxt">Customized badges for your program</span>
                     </div>
                     <div class="col-md-6 col-sm-6 col-lg-6">
                             <%# <span class="editIcon "><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/setting-gear.svg">Edit</span> %>
                     </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12"><div class="straight-line">&nbsp;</div></div>
                </div>
                <div class="row pointbasedPolicyBody">
                     <div class="col-md-4 col-sm-4 col-lg-4 pointbasedPolicyName">
                             Program name
                     </div>
                     <div class="col-md-8 col-sm-8 col-lg-8 pointbasedPolicyValue">
                             <input type="text" value="Circle of Excellence " />                    
                     </div>
                    
                     <div class="col-md-12 col-sm-12 col-lg-12"><div class="straight-line">&nbsp;</div></div>
 
                     <div class="col-md-4 col-sm-4 col-lg-4 pointbasedPolicyName">
                             Description
                     </div>
                     <div class="col-md-8 col-sm-8 col-lg-8 pointbasedPolicyValue">
                             <input type="text" value="Circle of Excellence " />                    
                     </div>
                    
                     <div class="col-md-12 col-sm-12 col-lg-12"><div class="straight-line">&nbsp;</div></div>
 
                     <div class="col-md-4 col-sm-4 col-lg-4 pointbasedPolicyName">
                             Funding account
                     </div>
                     <div class="col-md-8 col-sm-8 col-lg-8 pointbasedPolicyValue">
                             <input type="text" value="Circle of Excellence " />                    
                     </div>
                    
                     
                </div>
           </div>


           <div class="pointbasedPolicy">
                <div class="row pointbasedPolicyHead clearfix">
                     <div class="col-md-6 col-sm-6 col-lg-6">
                         <span class="pointbasedPolicyHeadTxt">Limits</span><br><span class="pointbasedPolicyHeadSubTxt">Overall program limits to prevent abuse</span>
                     </div>
                     <div class="col-md-6 col-sm-6 col-lg-6">
                             <%# <span class="editIcon "><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/setting-gear.svg">Edit</span> %>
                     </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12"><div class="straight-line">&nbsp;</div></div>
                </div>
                <div class="row pointbasedPolicyBody">
                     <div class="col-md-4 col-sm-4 col-lg-4 pointbasedPolicyName">
                            Sending Limits
                     </div>
                     <div class="col-md-8 col-sm-8 col-lg-8 pointbasedPolicyValue">
                             <input type="text" value="Circle of Excellence " />                    
                     </div>
                    
                     <div class="col-md-12 col-sm-12 col-lg-12"><div class="straight-line">&nbsp;</div></div>
 
                     <div class="col-md-4 col-sm-4 col-lg-4 pointbasedPolicyName">
                            Receiving Limits
                     </div>
                     <div class="col-md-8 col-sm-8 col-lg-8 pointbasedPolicyValue">
                             <input type="text" value="Circle of Excellence " />                    
                     </div>
                    
                     
                </div>
           </div>
-->

           <div class="pointbasedPolicy point-based-subcontainer">
                <div class="row pointbasedPolicyHead clearfix">
                     <div class="col-md-6 col-sm-6 col-lg-6">
                         <span class="pointbasedPolicyHeadTxt">Rewards</span><br><span class="pointbasedPolicyHeadSubTxt">Customized rewards for your program</span>
                     </div>
                     <div class="col-md-6 col-sm-6 col-lg-6">
                             <%# <span class="editIcon "><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/setting-gear.svg">Edit</span> %>
                     </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12"><div class="straight-line">&nbsp;</div></div>
                </div>
                <div class="row pointbasedPolicyBody point-based-subcontainer">
                     <div class="col-md-12 col-sm-12 col-lg-12" id="rewarded-setup-table-render">
                         <% include reward-setup-table/reward-setup-table %>
                     </div>                                         
                </div>
           </div>

        </div>
    </div>    
    
</div>