<% include ../../../common/html-head %>

    <body>
        <input type="hidden" id="productType" value="physical">
        <input type="hidden" id="programID" value=""> 
        <input type="hidden" id="SpotlightIFIName" value='<%- ifiBankName %>'> 
        <div class="wrapper">        
<!-- Field Error Modal Oops Transfer End  -->

    <div class="modal fade" id="show-model-loader" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end -->

            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container reward_container">
                                <% include ../../../section/spotlight/pointbased/bannerinner %>
                                    <div class="col-xs-12 col-md-12 program">
                                        <div class="tabs-nav-container tabbable-panel">
                                            <div class="tabbable-line">
                                                <ul class="nav nav-tabs ">
                                                    <li>
                                                        <a href="#tab_default_1" id="overview" data-toggle="tab" data-reload="true" onclick="return false;">Rewards Allocated</a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_default_2" id="cardOrderHistory" data-reload="true" data-toggle="tab" onclick="return false;">Reward Activity</a>
                                                    </li>                                                    
                                                    <li>
                                                        <a href="#tab_default_4" id="issuance"  data-reload="true" data-toggle="tab" onclick="return false;">Allocation History</a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_default_5" id="beneficiary"  data-reload="true" data-toggle="tab" onclick="return false;">Beneficiaries</a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_default_6" id="revokeRequest"  data-reload="true" data-toggle="tab" onclick="return false;">Revoke Request</a>
                                                    </li>

                                                    <li>
                                                        <a href="#tab_default_7" id="revokeTransactionHistory"  data-reload="true" data-toggle="tab" onclick="return false;">Revoke Transaction History</a>
                                                    </li>
                                                     <li>
                                                        <a href="#tab_default_3" id="policies"  data-reload="true" data-toggle="tab" onclick="return false;">Policy</a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sub-container" style="display:none">
                                        <div class="row">
                                            <div class="tab-content">

                                                <% include overview %>

                                                <% include tab-content/transfer-orders %> 
                                                                                               
                                                <% include issuance-history%>

                                                <% include beneficiaries%>

                                                <% include revokeRequest %>

                                                <% include revokeTransactionHistory %>

                                                <% include policy %>

                                            </div>
                                        </div>
                                        <!-- last login  -->
                                        <% include ../../../common/time-footer %>
                                    </div>
                            </div>

                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
                  <!-- show-cretificate  -->
        <div class="modal fade signup--video--modal--block" id="show-cretificate" tabindex="-1" role="dialog" style="display: none;">
                <div class="modal-dialog" role="document" style="min-width: 750px;">

                    <div class="modal-content container-certificate">
                       
                         <div>                            
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>

                        <div>
                            <div class="modal-body modal-certificate">
                                <% if(corpID == 3209) { %>
                                <div class="text-center"><img class="header-image" id="certificateheaderimage" src="http://prnr.s3.amazonaws.com/communications/certificate-header.png" alt="Zeta icon"><img class="badge-logo" src="https://prnr.s3.amazonaws.com/badges/guiding-star-badge.png" width="47"></div>
                                <div class="text-center pd-bottom-zero header-award"><span class="header-title" id="badgename"></span><span> Award</span></div>
                                <div class="body-award" ><%- programName %></div>
                                <div class="award-member-name">Member’s name</div>
                                <hr>
                                <div class="award-member-description">
                                    <p>Congratulations on your award! Thank you for your efforts in providing excellent work to CGI and our clients.
                                                This award is presented on Month DD, YYYY, in recognition of your exceptional work for CGI.
                                    </p>
                                </div>
                                <div class="certificate-footer">
                                    <div class="certificate-footer-div">
                                        <strong>#Name of the distributor</strong>
                                        <p style="visibility: hidden;">Senior Vice-President and Business Unit Leader
                                            Asia Pacific Financial Services Delivery Center</p>
                                    </div>
                                    <div class="certificate-footer-div" >
                                         <strong>#Name of the distributor</strong>
                                        <p style="visibility: hidden;">Vice-President, Human Resources
                                            Asia Pacific</p>
                                    </div>
                                    <div class="certificate-footer-img">
                                        <img src="http://prnr.s3.amazonaws.com/communications/certificate-footer.png">
                                    </div>
                                </div>
                                <% } else if(corpID == 96 || corpID == 4803 || corpID == 17573) { %>
                                    <div class="text-center"><img class="header-image" id="certificateheaderimage" alt="Zeta icon"></div>
                                    <div class="award-member-name" style="margin-top: 20px;">Member’s name</div>
                                    <div style="text-align:center;font-family: AmsiProCond;font-size: 32px;font-weight: bold;margin-bottom: 25px;"><span>Congratulations!</span></div>
                                    <div class="award-member-description" style="font-family: AmsiProCond;font-size: 20px;">
                                            <p>We truly appreciate your commitment, dedication, efforts and achievement. We value you and your work at Zeta.
                                            </p>
                                    </div>
                                    <div style="text-align: center;font-size: 20px;margin-top: 10px;margin-bottom: 30px;font-weight: bold;"><span>DD MMM YYYY</span></div>
                                    <div class="text-center"><img class="header-image" id="certificatefooterimage" alt=""></div>
                                <% } else { %>
                                <table width="100%" style="table-layout: fixed; margin:0 0 55px;">
                                        <tbody><tr>
                                            <td valign="top" style="padding:0;">
                                            <img src="https://prnr.s3.amazonaws.com/communications/certificateHeaderLeft.png">
                                            </td>
                                            <td valign="top" style="padding:70px 0 0; text-align: center;">
                                            <h4 style="font-size:24px; margin:0 0 8px; font-family: 'ProximaNova-Semibold', sans-serif; color:#464B9D; line-height: normal;">Circle of Excellence</h4>
                                            <div style="display:inline-block; padding:7px 30px; background-color:#464b9d12; font-size:24px; margin:0 0 10px; font-family: 'ProximaNova-Semibold', sans-serif; color:#5fc5eb; border-radius: 22px; line-height: normal;">
                                                    <span id="badgename"></span> Award
                                            </div>
                                            <h5 style="font-size: 14px; margin:0; font-family: 'ProximaNova-Regular',sans-serif; color:#464b9d; line-height: normal;">Proudly presented to</h5>
                                            </td>
                                            <td valign="top" style="padding:0 20px 0 0; text-align: right;">
                                            <img src="https://prnr.s3.amazonaws.com/communications/certificateHeaderRight.png">
                                            </td>
                                        </tr>
                                        </tbody>
                                </table>
                                <div>
                                    <h4 style="text-align:center;color: #464b9d;margin-top:0px;margin-bottom:10px;font-family: 'ProximaNova-Semibold', Helvetica, Arial, sans-serif;font-size: 32px;font-weight: 600;line-height:normal;">
                                        Member's Name
                                    </h4>
                                </div>
                                <div style="margin:0px auto;width:75%; color: #464b9d;font-family: 'ProximaNova-Regular',Helvetica Neue, Helvetica, Arial, sans-serif;font-size: 16px;font-weight: normal;text-align: center;line-height: normal;">
                                        Every service starts and ends with users. Keeping in mind every step<br>
                                        of the way is what makes us great! Your focus on the people is great<br>
                                        and we are proud to have such an empathetic person in our team.
                                </div>
                                <table width="auto" style="margin-top:42px; table-layout: fixed;" align="center">
                                        <tbody><tr>
                                          <td valign="bottom" style="padding:0 30px; text-align:center; vertical-align: bottom; font-family: 'ProximaNova-Semibold', Helvetica Neue, Helvetica, Arial, sans-serif;font-weight: 600;font-style: normal;text-align: center;color: #464b9d;font-size:16px; line-height: 24px; padding-bottom: 32px;">
                                            <span style="font-weight:bold;">
                                                    #Name of the distributor
                                           </span>
                                          </td><td valign="bottom" style="padding:0 30px; text-align:center; vertical-align: bottom; font-family: 'ProximaNova-Semibold', Helvetica Neue, Helvetica, Arial, sans-serif;font-weight: 600;font-style: normal;text-align: center;color: #464b9d;font-size:16px; line-height: 24px; padding-bottom: 32px;">
                                            <span style="font-weight:bold;">
                                                    #Name of the distributor</span>
                                          </td></tr>
                                      </tbody>
                                </table>
                                <table width="100%" style="margin-top:50px; margin-bottom: 20px; table-layout: fixed;" align="center">
                                        <tbody><tr>
                                          <td valign="bottom" style="text-align:left; color: #464b9d;font-family: 'ProximaNova-Regular',Helvetica Neue, Helvetica, Arial, sans-serif;font-size: 16px;font-weight: normal; padding:0; padding-left:30px; padding-bottom:30px;">
                                            Dated: <span style="font-family: 'ProximaNova-Semibold' Helvetica Neue, Helvetica, Arial, sans-serif;font-weight: 600;">DD MMM YYYY</span>
                                          </td>
                                          <td valign="bottom" align="right" style="text-align: right; padding-right: 20px;">
                                              
                                          </td>
                                        </tr>
                                        </tbody>
                                </table>
                                <% } %>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end show-cretificate -->

        </div>




        <% include ../../../common/html-script %>
        <!-- <script src="/dist/scripts/home.js"></script> -->
         <script src="/dist/scripts/pointbasedHome.js"></script>            
        <script src="/dist/scripts/downloadPdfInvoice.js"></script>
    </body>

    </html>