<div class="tab-pane" id="tab_default_6">
    <div class="reward-container-one point-based-subcontainer">
        <div class="row pointbasedConatiner">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="inner-sub-container page-sub-heading point-based-subcontainer">
                    <div class="summaryHeadDv row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <ul class="table-widgets-container" style="margin-right: 0;">
                                <li>
                                    <div>
                                        <div class="form-group custom-searchbox" style="width: 300px;">
                                            <div class="input-group stylish-input-group">
                                                <input id="searchRevokeBox" type="text" class="form-control" style="width: 100% !important;" placeholder="Search by Employee Email or Revoke ID">
                                                <span class="input-group-addon">
                                                    <button id="searchRevokeBtn" type="button">
                                                        <span>
                                                            <img
                                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/search_small.png">
                                                        </span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row" id="revoke-request-table-render" style="width: 100%;margin: 0 auto;">
                            <% include tab-content/tables/revoke-requests %>
                    </div>
                </div>

            </div>

        </div>


    </div>

</div>