<div class="tab-pane" id="tab_default_7">
    <div class="reward-container-one point-based-subcontainer">
        <div class="row pointbasedConatiner">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="inner-sub-container page-sub-heading point-based-subcontainer">
                    <div class="row" id="revoke-transaction-table-render" style="width: 100%;margin: 0 auto;">
                            <% include tab-content/tables/revoke-transaction-history %>
                    </div>
                </div>

            </div>

        </div>


    </div>

</div>