
                                                        <h2 class="section--heading">Snapshot </h2><br>
                                                        <br><div class="stat--item">
                                                            <h3 class="stat--value">
                                                                <%- numOfStores %>
                                                            </h3>
                                                            <img class="stat--image" src="/images/express/shopping-icon.png" alt="">
                                                            <span class="stat--detail">No. of Stores</span>
                                                            <div class="vertical-line"></div>
                                                        </div>
                                                        
                                                        <div class="stat--item">
                                                            <h3 class="stat--value">
                                                                <%-formatINR(successfulTransactions) %>
                                                            </h3>
                                                            <img class="stat--image" src="/images/express/business-icon.png" alt="">
                                                            <span class="stat--detail">Total Transactions</span>
                                                            <div class="vertical-line"></div>

                                                        </div>
                                                        <div class="stat--item">
                                                            <h3 class="stat--value">₹
                                                                <%-formatINR(totalSales/100) %>
                                                            </h3>
                                                            <img class="stat--image" src="/images/express/total-sales.png" alt="">
                                                            <span class="stat--detail">Total Sales</span>
                                                            <!--<div class="vertical-line"></div>-->
                                                            <!--<h3 class="stat&#45;&#45;value">16</h3>-->
                                                        </div>
                                                        <div class="stat--item">
                                                            <h3 class="stat--value">
                                                                <%- (totalTransaction > 0) ? ((successfulTransactions / totalTransaction)*100).toFixed(0) : 0 %>%</h3>
                                                            <img class="stat--image" src="/images/express/transaction-success.png" alt="">
                                                            <span class="stat--detail">Transactions Success</span>
                                                            <div class="vertical-line"></div>

                                                        </div>
                                                        <div class="stat--item">
                                                            <h3 class="stat--value">
                                                                <%=  toHHMMSS(cashierTimeSaved) %>     
                                                            </h3>
                                                            <img class="stat--image" src="/images/express/cashier-timer.png" alt="">
                                                            <span class="stat--detail">Cashier Time Saved</span>
                                                            <a href="javascript:void(0)" class="tooltip-title">
                                                            <img src="/images/express/express_insights.svg" />  
                                                                <span class="tooltip-view  position-tooltip" id="override_top">             
                                                                    <!-- Tooltip Content  -->
                                                                    <div class="tooltip-lrtb-pd">
                                                                        <div class="row">
                                                                            <div class="col-xs-12 col-md-12"> 
                                                                                Approx time saved per transaction via zeta = 30 sec <br>
                                                                                Cashier time saved in seconds = total transactions * 30 sec           
                                                                            </div>
                                                                        </div>
                                                                    </div>                                         
                                                                    <!-- Tooltip Content End -->
                                                                </span>  
                                                            </a> 
                                                            <div class="vertical-line"></div>

                                                        </div>
                                                        <div class="stat--item">
                                                            <h3 class="stat--value">
                                                                <%= toHHMMSS(averageServiceTime) %>       
                                                            </h3>
                                                            <img class="stat--image" src="/images/express/avg-service-time.png" alt="">
                                                            <span class="stat--detail">Avg. Service time</span>
                                                            <div class="vertical-line"></div>
                                                        </div>
                                                        <div class="stat--item">
                                                            <h3 class="stat--value">
                                                                <%- treesSaved %>
                                                            </h3>
                                                            <img class="stat--image" src="/images/express/tree-saved.png" alt="">
                                                            <span class="stat--detail">Trees Saved</span>
                                                            <a href="javascript:void(0)" class="tooltip-title">
                                                            <img src="/images/express/express_insights.svg" />  
                                                                <span class="tooltip-view  position-tooltip">          
                                                                    <!-- Tooltip Content  -->
                                                                    <div class="tooltip-lrtb-pd">
                                                                        <div class="row">
                                                                            <div class="col-xs-12 col-md-12"> 
                                                                                1 tree ~ 8300 sheets, 1 sheet ~ 4 receipts -> total ~33000 receipts, <br>
                                                                                Transactions supported ~ 33000/3 =11000 <br>
                                                                                Trees saved = number of transactions/11000           
                                                                            </div>
                                                                        </div>
                                                                    </div>                                         
                                                                    <!-- Tooltip Content End -->
                                                                </span>  
                                                            </a>                     
                                                        </div>
                                                   