<div class="stat--item">
    <h3 class="stat--value"><%-formatINR(numOfUniqueUsers)%></h3>
    <img class="stat--image" src="/images/express/employees-icon.png" alt="">
    <span class="stat--detail">No. of Unique Users</span>
    <div class="vertical-line"></div>
</div>

<div class="stat--item">
    <h3 class="stat--value"><%-formatINR(numOfTransactions)%></h3>
    <img class="stat--image"  src="/images/express/business-icon.png" alt="">
    <span class="stat--detail">No. of Transactions</span>
    <div class="vertical-line"></div>
</div>

<div class="stat--item">
    <h3 class="stat--value">₹<%-formatINR((totalSpent)/100)%></h3>
    <img class="stat--image" src="/images/express/cashier-timer.png" alt="">
    <span class="stat--detail">Avg. Spend per day</span>
    <!--<div class="vertical-line"></div>-->
</div>
<!--<div class="stat&#45;&#45;item">-->
    <!--<h3 class="stat&#45;&#45;value">78%</h3>-->
    <!--<img class="stat&#45;&#45;image" src="/images/express/business-icon.png" alt="">-->
    <!--<span class="stat&#45;&#45;detail">Repeat visit%</span>-->
<!--</div>-->