<div class="express-menu">
    <div class="menu--header">
        <div class="row">
            <div class="col-md-4">
                <p class="menu--title">Category</p>
            </div>
            <div class="col-md-8">
                <p class="menu--title">Items</p>
            </div>
        </div>
    </div>
    <div class="menu--body">
        <div class="row">
            <div class="col-md-4 menu-left">
                <ul class="category--list" id="catergoryList">
                    <% _.forEach(menu.categories, function(category, categoryIndex){ %>
                        <li>
                            <a class="category--link" href="javascript:void(0)" data-target="#category_<%-categoryIndex%>"><%-category.name%></a>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="col-md-8 menu-right">
                <div class="category--items-list">
                    <% _.forEach(menu.categories, function(category, categoryIndex){ %>
                    <div class="category--group scrollto" id="category_<%-categoryIndex%>">
                        <h4 class="category--name"><%-category.name%></h4>

                        <ul class="category--items">
                            <% _.forEach(category.items, function (item) { %>
                            <li>
                                <div class="category--initial"><%-item.initial%></div>
                                <h5 class="item--name"><%-item.name%></h5>
                                <span class="item--price">₹<%-formatINR(item.price/100)%></span>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>