<table class="pie-stats">
    <thead>
    <tr>
        <th>Payment Type</th>
        <th>Tool</th>
        <th class="text-right">No. of Txn</th>
        <th class="text-right">Total Amount(₹)</th>
    </tr>
    </thead>
    <tbody>

    <% _.forEach(zeta, function (item, key) { %>
        <tr>
            <%if (key == 'Super Tag') {%>
            <td rowspan="5" class="percentage">Zeta</td>
            <%}%>
            <td><span class="dot dot--orange" style="background-color: <%-item.color%>"></span><%-key%></td>
            <td class="text-right"><%- item.count %></td>
            <td class="text-right"><%- formatINR(item.sum / 100) %></td>
        </tr>
    <% }) %>

    <% _.forEach(nonZeta, function (item, key) { %>
    <tr>
        <%if (key == 'Paytm') {%>
        <td rowspan="6" class="percentage">Non-Zeta</td>
        <%}%>
        <td><span class="dot dot--orange" style="background-color: <%-item.color%>"></span><%-key%></td>
        <td class="text-right"><%- item.count %></td>
        <td class="text-right"><%- formatINR(item.sum / 100) %></td>
    </tr>
    <% }) %>

    </tbody>


</table>