<div class="sales--stats">
    <!--<div class="sale&#45;&#45;item">-->
        <!--<h4 class="sale&#45;&#45;value"><%-totalTransactionsCount%></h4>-->
        <!--<img class="sale&#45;&#45;icon" src="/images/express/business-icon.png" alt="">-->
        <!--<div class="sale&#45;&#45;caption">-->
            <!--<p class="sale&#45;&#45;title">No. of Transactions</p>-->
            <!--&lt;!&ndash;<h4 class="sale&#45;&#45;value"><%-totalTransactionsCount%></h4>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="vertical-line"></div>-->
    <!--</div>-->

    <div class="stat--item">
        <h3 class="stat--value"><%-formatINR(totalTransactionsCount)%></h3>
        <img  src="/images/express/business-icon.png" alt="" class="stat--image">
        <span class="stat--detail">No. of Transactions</span>
        <div class="vertical-line"></div>
    </div>

    <div class="stat--item">
        <h4 class="stat--value full-width">₹<%-formatINR(totalTransactionAmt / 100)%></h4>
        <img  src="/images/express/total-business.png" alt="" class="stat--image">
        <span class="stat--detail">Total Sales</span>
        <!--<div class="vertical-line"></div>-->
    </div>

    <!--<div class="sale&#45;&#45;item">-->
        <!--<h4 class="sale&#45;&#45;value">₹<%-totalTransactionAmt / 100%></h4>-->
        <!--<img class="sale&#45;&#45;icon" src="/images/express/total-business.png" alt="">-->
        <!--<div class="sale&#45;&#45;caption">-->
            <!--<p class="sale&#45;&#45;title">Total Sales</p>-->
            <!--&lt;!&ndash;<h4 class="sale&#45;&#45;value">₹<%-totalTransactionAmt / 100%></h4>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="sale&#45;&#45;item">-->
        <!--<h4 class="sale&#45;&#45;value">₹<%-totalTransactionAmt / 100%></h4>-->
        <!--<img class="sale&#45;&#45;icon" src="/images/express/rupee-icon.svg" alt="">-->
        <!--<div class="sale&#45;&#45;caption">-->
            <!--<p class="sale&#45;&#45;title">Settled Externally</p>-->
            <!--&lt;!&ndash;<h4 class="sale&#45;&#45;value">₹<%-totalTransactionAmt / 100%></h4>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="sale&#45;&#45;item">-->
        <!--<h4 class="sale&#45;&#45;value">₹<%-totalTransactionAmt / 100%></h4>-->
        <!--<img class="sale&#45;&#45;icon" src="/images/express/rupee-icon.svg" alt="">-->
        <!--<div class="sale&#45;&#45;caption">-->
            <!--<p class="sale&#45;&#45;title">Settled by Zeta</p>-->
            <!--&lt;!&ndash;<h4 class="sale&#45;&#45;value">₹<%-totalTransactionAmt / 100%></h4>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="sale&#45;&#45;item&#45;&#45;grey">-->
        <!--<div class="sale&#45;&#45;caption">-->
            <!--<p class="sale&#45;&#45;title">Settled Externally</p>-->
            <!--<h4 class="sale&#45;&#45;value">₹0</h4>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="sale&#45;&#45;item&#45;&#45;grey">-->
        <!--<div class="sale&#45;&#45;caption">-->
            <!--<p class="sale&#45;&#45;title">Settled by Zeta</p>-->
            <!--<h4 class="sale&#45;&#45;value"></h4>-->
        <!--</div>-->
    <!--</div>-->

</div>