<div class="sales--stats">
    <div class="stat--item">
        <h3 class="stat--value"><%-formatINR(bankTranfersCount)%></h3>
        <img  src="/images/express/business-icon.png" alt="" class="stat--image">
        <span class="stat--detail">Bank Transfers</span>
        <div class="vertical-line"></div>
    </div>

    <div class="stat--item">
        <h4 class="stat--value full-width">₹<%-formatINR(prepaidPayments / 100)%></h4>
        <img  src="/images/express/total-business.png" alt="" class="stat--image">
        <span class="stat--detail">Sale via prepaid payments</span>
        <a href="javascript:void(0)" class="tooltip-title">
            <img src="/images/express/express_insights.svg" />  
            <span class="tooltip-view  position-tooltip" id="override_top">             
                <!-- Tooltip Content  -->
                <div class="tooltip-lrtb-pd">
                    <div class="row">
                        <div class="col-xs-12 col-md-12"> 
                               via cash or paytm                                                      
                         </div>
                    </div>
                </div>                                         
                 <!-- Tooltip Content End -->
            </span>  
        </a> 
        <div class="vertical-line"></div>
    </div>

    <div class="stat--item">
        <h4 class="stat--value full-width">₹<%-formatINR(transferedAmount / 100)%></h4>
        <img  src="/images/express/business-icon.png" alt="" class="stat--image">
        <span class="stat--detail">Transferred to Bank</span>
        <!--<div class="vertical-line"></div>-->
    </div>
</div>