 <div class="stat--item">
 
                                                            <h3 class="stat--value">
                                                                <%- htmlDecoder(mostPopularStore) || 'NA'%>
                                                            </h3>
                                                            <img src="/images/express/most-popular.png" class="stat--image">
                                                            <span class="stat--detail">Most Popular Shop</span>
                                                            <div class="vertical-line"></div>
                                                            <!--<h3 class="stat&#45;&#45;value">RMZ Ecospace wonder</h3>-->
                                                        </div>
                                                        <div class="stat--item">
                                                            <h3 class="stat--value">
                                                                <%- bestSellingItem || 'NA'%>
                                                            </h3>
                                                            <img src="/images/express/best-selling.png" class="stat--image">
                                                            <span class="stat--detail">Best Selling Item</span>
                                                            <div class="vertical-line"></div>
                                                            <!--<h3 class="stat&#45;&#45;value">Masala Dosa</h3>-->
                                                        </div>
                                                        <div class="stat--item">
                                                            <h3 class="stat--value">₹
                                                                <%- formatINR(totalSales/100) || 'NA'%>      
                                                            </h3>
                                                            <img src="/images/express/sales-month.png" class="stat--image">
                                                            <span class="stat--detail">Sales</span>
                                                            <!--<h3 class="stat&#45;&#45;value">₹4,566</h3>-->
                                                        </div>