<div class="vendors-media-list">
    <% _.forEach(vendorDetails, function (vendor) { %>
    <div class="vendor--item">
        <div class="row">
            <div class="col-md-2">
                <img class="vendor--logo" src="/images/express/businessLogoPlaceholder.svg" alt="">
            </div>
            <div class="col-md-8">
                <h4 class="vendor--title"><%- htmlDecoder(vendor.vendorName) %></h4>

                <%if (vendor.rating > 0) {%>
                <div class="vendor--stars vendor--stars__<%-vendor.rating%>">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <%}%>


                <p class="vendor--address">NA</p>
                <p class="vendor--phone">NA</p>


                <div class="row">
                    <div class="col-md-6">
                        <div class="vendor--services">
                            <h5 class="service--title">Offices Served</h5>
                            <ul class="service--list">
                                <% _.forEach(vendor.offices, function (office) { %>
                                <li><%- office %></li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                    <% if (vendor.productsAccepted.length) { %>
                    <div class="col-md-6">
                        <div class="vendor--services">
                            <h5 class="service--title">Express Products in Use</h5>
                            <ul class="service--list">
                                <% _.forEach(vendor.productsAccepted, function (item) { %>
                                <li><%- productsInUse(item) %></li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                    <% } %>
                </div>

            </div>
            <div class="col-md-2 text-right">
                <a href="/express/insight/vendor/<%- vendor.businessID %>/overview"
                   class="btn btn-warning">View Details</a>
            </div>
        </div>
    </div>
    <% }) %>
</div>