<tr data-orderid="" class="orders-row numbers-font" style="padding: 15px 20px 15px 20px !important;">
    <td class="custom-padding" style="font-weight: 800;color:black">
    <% if(status == 'completed'){%>
         <a style="text-decoration: underline;color:black" href="../<%- document.querySelectorAll('.pd-top-ten')[0].innerText %>/<%- fileUploadOrderID %>/ <%- updatedAt %>/<%- totalBeneficiaries %>/<%- orderAmount %>/<%-  status %>/orders">  <%- fileUploadOrderID %> </a>
        <% } else {%>
            <%- fileUploadOrderID %>
        <%  }%>       
    </td>

    <td class="custom-padding" style="min-width:124px;">
        <%- createdAt %>
    </td>

    <td class="custom-padding" style="min-width:124px;text-align:right">
        <%- totalBeneficiaries %>
    </td>

    <td class="custom-padding text-capitalize" style="text-align:  right">
        <%- totalAwardsIssued %>
    </td>

    <td class="custom-padding" style="text-align:  right">
        <%- orderAmount %>
    </td>

    <td class="custom-padding">
    <% if(status == 'completed'){%>
        <span class="instagift_status_completed text-capitalize">
           <%-  status %>
        </span>
        <% } else if(status == 'processing'){%>
        <span class="instagift_status_processing text-capitalize">
             <%-  status %>
        </span>
        <% } else if(status == 'created'){%>
        <span class="instagift_status_pending text-capitalize">
             <%-  status %>
        </span>
        <% } else { %>
             <span class="instagift_status_scheduled text-capitalize">
             <%-  status %>
        </span>
        <%} %>
    </td>

    <td class="custom-padding file-url">

        <a href="<%-fileUrl %>" class="tooltip-title tooltip-cursor-pointer">
            <% if(fileName.substr(fileName.lastIndexOf(".") + 1) === 'csv') {%>
                <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/csv.svg" alt="Download Order">
                <% } else if(fileName.substr(fileName.lastIndexOf(".") + 1) === 'xls') { %>
                    <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xls.svg" alt="Download Order">
                    <% } else if(fileName.substr(fileName.lastIndexOf(".") + 1) === 'xlsx') { %>
                        <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xlsx.svg" alt="Download Order">
                        <% } else { %>
                            <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/report-copy.png" alt="Download Order">
                            <% } %>

                                <!-- <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xls@2x.png" alt="Download Order"> -->
                                <span class="tooltip-view">
                                    <!-- Tooltip Content  -->
                                    <div class="tooltip-lrtb-pd">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">Download Order File</div>
                                        </div>
                                    </div>
                                    <!-- Tooltip Content End -->
                                </span>
        </a>

          <% if((status.toLowerCase() === "initiated") || (status.toLowerCase() === "processing") || (status.toLowerCase() === "scheduled") || (status.toLowerCase() === "created") || (status.toLowerCase() === "stalled")) { %>
            <a href="../<%- fileUploadOrderID %>/proforma-invoice" class="tooltip-title tooltip-cursor-pointer" target="_blank">
                <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/proforma-icon.png" alt="Download Proforma Invoice">
                <span class="tooltip-view">
                    <!-- Tooltip Content  -->
                    <div class="tooltip-lrtb-pd">
                        <div class="row">
                            <div class="col-xs-12 col-md-12"> Proforma Invoice</div>
                        </div>
                    </div>
                    <!-- Tooltip Content End -->
                </span>
            </a>
            <% } %>

              <% if(status.toLowerCase() === "completed") { %>
                <a href="javascript:void(0)" class="tooltip-title tooltip-cursor-pointer">
                    <img class="download-icon downloadpointpdfinvoice" data-spotlighttype="pointbased" data-orderid="<%- fileUploadOrderID %>" data-from="pointbased"
                        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/invoice-icon.png"
                        alt="Download Invoice">
                    <span class="tooltip-view">
                        <!-- Tooltip Content  -->
                        <div class="tooltip-lrtb-pd">
                            <div class="row">
                                <div class="col-xs-12 col-md-12"> Download Invoice</div>
                            </div>
                        </div>
                        <!-- Tooltip Content End -->
                    </span>
                </a>
                <% } %>
    </td>


    <td class="custom-padding position-dropdown  payout-revoke" colspan="2">
        <!-- Popover -->
      
            <div class="popover-content">
            <span data-container="body" data-toggle="popover" data-placement="bottom"
                data-content="Edit Program Settings">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
            </span>
        </div>       
         
           
        <!-- Popover End -->
        <!-- Dropdown -->
          <% if(status == 'completed'){%>
        <div class="dropdown-log">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="" data-toggle="dropdown"><span><img
                                src="/images/vertical_dot_icon.png"></span></a>
                    <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                        <li>
                        <a href="../<%- document.querySelectorAll('.pd-top-ten')[0].innerText %>/<%- fileUploadOrderID %>/ <%- updatedAt %>/<%- totalBeneficiaries %>/<%- orderAmount %>/<%-  status %>/orders"> View Details</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Dropdown End -->
         <%  }%>     
    </td>
</tr>