<tr data-payout-id='<%-payoutID%>' data-order-id='<%-orderID%>'>
    <% if(payoutStatus == 'revoked') { %>
    <td class="multi-select-chkbox">
        <input type="checkbox" name="multiselect" class="select-chkbox disabled" data-payout-id="<%-payoutID%>" disabled/>
    </td>
    <% } else { %>
        <td class="multi-select-chkbox">
            <input type="checkbox" name="multiselect" class="select-chkbox" data-payout-id="<%-payoutID%>"/>
        </td>
    <% } %>
    <td>
        <%-payoutCompleteDate%>
    </td>
    <td class="payout-id">
        <%-payoutID%>
    </td>
    <td class="name text">
        <a href="<%- profileUrl%>" class="text-id">
            <u>
                <%-name%>
            </u>
        </a>
    </td>
    <% if(email == 'N/A') { %>
        <td>
            <%-phoneNumber%>
        </td>
        <% } else { %>
            <td class="text-lowercase">
                <%-email%>
            </td>
            <% } %>
                <td class="text-right">
                    <%-amount%>
                </td>
                <td class="view-details">
                        <a  href="" data-toggle="modal">
                            <span>View Details</span>
                        </a>
                    </td>
                <td class="payout-status">
                    <span class='<%-primaryStatusClass%> text-capitalize'><%-primaryStatus%></span>
                    <% if(typeof statusMessage !== 'undefined' && (payoutStatus === 'temporarily_failed' || payoutStatus === 'initiated')) { %>
                        <br>
                        <small class='status-message'><%-statusMessage%></small>
                    <% } %>
                    <% if(primaryStatus=='Revoked' || primaryStatus == 'Partially Revoked') { %>
                        <br><span class="revoked_amt">Revoked Amount - <%-revokedAmount%></span>
                    <% } %>
                </td>
                <% if(payoutStatus == 'scheduled' || payoutStatus == 'stalled' || payoutStatus == 'temporarily_failed' || payoutStatus == 'claimed') { %>
                    <td class="position-dropdown payout-revoke">
                        <!-- Popover -->
                     
                            <!-- <div class="popover-content">
                                <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                                    <span><img src="/images/vertical_dot_icon.png"></span>
                                </span>
                            </div>  -->
                            <!-- Popover End -->
                            <!-- Dropdown -->
                            <div class="dropdown-log">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="" data-toggle="dropdown">
                                            <span><img src="/images/vertical_dot_icon.png"></span></a>
                                        <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                                            <% if(payoutStatus == 'scheduled' || payoutStatus == 'stalled') {%>
                                                <li><a class='payoutOutCancelBtn'>Cancel Transfer</a></li>
                                                <% } %>
                                                    <% if((payoutStatus == 'temporarily_failed' || payoutStatus == 'claimed') && type != 'incentive') {%>
                                                        <li><a class='payoutOutRevokeBtn'>Revoke Funds</a></li>
                                                        <% } %>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                           
                                <!-- Dropdown End -->
                    </td>
                    <% } else { %>
                        <td></td>
                        <% } %>
</tr>