<!-- Filter End -->
<!-- Table -->
<table class="custom-table hover-state">
    <thead>
    <tr>
        <th class="multi-select-chkbox">
            <input type="checkbox" name="multiselect" class="selectall" />
        </th>
        <th>TRANSFER DATE</th>
        <th>Ref. ID</th>
        <th class="name text">BENEFICIARY</th>
        <th>EMAIL/MOBILE</th>
        <th class="text-right">AMOUNT</th>
        <th>ORDER HISTORY</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="main-content" style="display: none;">


    </tbody>
    <tbody class="loading-content">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>


<!-- Table End -->
<div align="center" class="row paging-container"></div>

<!-- Pagination End -->
<div class="table-empty-state" style="display: none">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-empty-state.png" alt="">
    <p>No data available</p>
</div>

<div class="table-error-state" style="display: none">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-error-state.png" alt="">
    <p>Data failed to load.</p>
    <a class="reload-btn" href="javascript:void(0);">Reload</a>
</div>
