<div class="tab-pane active" id="tab_default_1">
    <!-- Page Heading and List -->
        <div class="col-xs-6 col-md-6 left-column">
            <div class="pd-top pd-b-20">
                <!-- Page Card Display -->
                <div class="card-section">
                    <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/instagiftCard.png' alt="zeta bitmap"/>
                </div>
                <!-- Page Card Display End -->
                <div class="page-heading">
                    <div class="page-heading-list">
                        <ul class="list-unstyled">
                            <li>
                                <small class="list-label list-label-overview">Status:</small>
                                <div class="details details-benefits">
                                    <div class="active"><% if(cardProgramObject.active) {%>
                                    Active
                                    <% } else { %>
                                    Inactive
                                    <% } %></div>
                                </div>
                            </li>
                            <li class="text-capitalize">
                                <small class="list-label list-label-overview">Funding Type:</small>
                                <div class="details details-benefits">
                                    <%- cardProgramObject.fundingType.toLowerCase() %>
                                </div>
                            </li>
                            <li>
                                <small class="list-label list-label-overview">Issued by:</small>
                                <div class="details details-benefits">
                                    <div class="text-left">
                                        <% if(ifiBankName == "RBL"){ %>
                                            <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/rbl-logo.png" alt="" style="width: 72px;">
                                            <%}%>
                                                <% if(ifiBankName == "IDFC"){ %>
                                                    <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/IDFC-FIRST-Bank-Primary-Logo.jpg" alt="" style="width: 72px;">
                                                    <%}%>
                                                        <% if(ifiBankName == "Kotak"){ %>
                                                            <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/kotak-logo.png" alt="" style="width: 72px;">
                                                            <%}%>
                                                                <% if(ifiBankName == "Sodexo"){ %>
                                                                    <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/Sodexo-logo.png" alt="" style="width: 72px;">
                                                                    <%}%>
                                                                    <% if(ifiBankName == "HDFC"){ %>
                                                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/HDFC-logo-2x.png" alt="" style="width: 120px;">
                                                                        <%}%>
                                    </div>
                                </div>
                            </li>
                            <li class="text-capitalize">
                                <small class="list-label list-label-overview">Funding Account:</small>
                                <div class="details details-benefits">
                                    <%- fundingAccountDetails.name %> 
                                    <a href="javascript:void(0)" data-programtype="books" data-programname="Books &amp; Periodicals" data-toggle="modal" data-target="#setupProgramModal"> Change</a>
                                </div>
                            </li>
                            <li>
                                <small class="list-label list-label-overview">Balance:</small>
                                <div class="details details-benefits">
                                    <span class="ruppee">₹</span><%- fundingAccountDetails.balance %>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <!-- <div class="col-xs-3 col-md-3">
        <div class='merchant-data-wrpr' id='merchantsWrpr'>
            <div id='merchantGraphLoader' class='merchant-data-loader'>
                <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif' alt='loading'/>
                <div>Loading Merchant Data </div>
            </div>
        </div>
    </div> -->

    <div class="col-xs-3 col-md-3 instaHow">
        <p>How it works?</p>
        <div class="clearfix instaHowDv">
            <div class="instaHowNum"><span>1</span></div>
            <div class="instaHowTxt">
                <span class="instaHowTxtHead">Order Cards</span><br>
                <span class="instaHowTxtContent">Get physical zero-value cards delivered at your doorstep</span>
            </div>
        </div>
        <div class="clearfix instaHowDv">
            <div class="instaHowNum"><span>2</span></div>
            <div class="instaHowTxt">
                <span class="instaHowTxtHead">Load Money</span><br>
                <span class="instaHowTxtContent">Load money on cards as needed after delivery</span>
            </div>
        </div>
        <div class="clearfix instaHowDv pd-b-20">
            <div class="instaHowNum"><span>3</span></div>
            <div class="instaHowTxt">
                <span class="instaHowTxtHead">Distribute</span><br>
                <span class="instaHowTxtContent">Distribute loaded cards to your employees</span>
            </div>
        </div>
        <div class="instaFaq">
            <div class="instaFaqTxt">Got more questions?</div>
            <div><a href="/companies/<%- companyID %>/spotlight/instagift/<%- programID%>/faq">View FAQs</a></div>
        </div>
    </div>

    <div class="col-md-3 col-xs-3 instaOverviewCard">
        <div class="instaOverviewCardDv">
            <div><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/instaOrderCard.svg" /></div>
            <div class="instaOveriewHeading">Order Cards</div>
            <div class="instaOveriewText">Get physical Insta Gift cards delivered at your door-step</div>
            <a href="/companies/<%- companyID %>/spotlight/instagift/<%- programID %>/order-cards">Order now</a>    
        </div>
        <div class="instaOverviewCardDv">
            <div><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/instaLoadMoney.svg" /></div>
            <div class="instaOveriewHeading">Load Money</div>
            <div class="instaOveriewText">Already got cards? Load them</div>
            <a href="/companies/<%- companyID %>/spotlight/instagift/<%- programID %>/load-cards">Load now</a>    
        </div>
    </div>
     
     <!-- <div class="col-md-3 col-xs-3 control-center-wrap">
      <div class="row">
        <div class="col-xs-12">
            <a href="/companies/<%- companyID %>/spotlight/instagift/<%- programID%>/control-center">
                <div class="pd-top control-center text-center">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/control-center.svg">
                    <h4 class="text-center">Control Center</h4>
                    <p>Approve or decline PIN reset requests</p>
                    <div class="request">
                        <span class="bdr"></span>
                        <span class="request-number" id="requestNumber"></span>
                    </div>
                </div>
            </a>
        </div>
         <div class="col-xs-12">
            <a href="/companies/<%- companyID %>/spotlight/instagift/<%- programID%>/faq">
                <div class="pd-top control-center text-center">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/f-a-qs.svg">
                    <h4 class="text-center">FAQS</h4>
                    <p>Have questions? Get them answered here</p>
                </div>
            </a>
        </div>
      </div>
    </div> -->
  

</div>
