.express-home {
  .express-gateway-menu {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 24px;
      margin-bottom: 24px;

      .menu--item {
        width: 192px;
        height: 184px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: solid 1px #f4f4f4;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        vertical-align: top;

        &:hover
        {
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
        }

        .item--illus {
          margin-top: 42px;
          margin-bottom: 10px;
        }

        .item--title {
          font-size: 15px;
          font-weight: 600;
          line-height: 1.2;
          color: #190f27;
        }

        .item--details {
          font-size: 12px;
          line-height: 0.5;
          text-align: center;
          color: #6335aa;
        }
      }
    }
  }
}