.load-cards {
    .file-input {
        display: inline-block;
        cursor: pointer;
    }

    .remove.link {
        color: #333;
        cursor: pointer;
    }

    .error {
        font-size: 14px;
        border: 1px solid #e74c3c;
        width: 65%;
        margin: 20px auto;
        border-radius: 2px;
        max-height: 170px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #8c8793;
          border-radius: 50px;
        }

        .msg {
            text-align: left;
            padding: 10px 15px;
            line-height: 17px;
            font-family: ProximaNova;
            font-size: 14px;
            color: #8c8793;

            &:nth-child(even) {
                background-color: #f5f5f5;
            }
        }
    }

    .upload-cards {
        @extend .dropzone;

        .dz-preview .dotted-line .dz-details .dz-filename {
            // margin-bottom: 0;
        }

        .dz-preview .dotted-line .removelink {
            padding-top: 15px;
            display: inline-block;
        }

        .dz-progress {
            display: none;
        }

        .dz-error-message {
            color: #e74c3c;
            padding: 8px;
        }
    }

    // .dz-details {
    //     position: absolute;
    //     top: 50%;
    //     width: 100%;
    //     text-align: center;
    // }

    .upload-button {
        cursor: pointer;
        width: 124px;
    }

    .load-cards-preview {
        display: none;
    }

    .addFundsOnHome {
        margin-left: 20px;
        background-color:transparent;
        color: $color-santas-gray;
        border: solid 1px #e0e0e0;
        &:hover,&:focus,&:active,&:visited{
            color: $color-santas-gray;
            background-color: $color-white;
        }

    }
}
.load-cards .upload-cards .dz-preview .dotted-line {
    min-height: 340px;
}
.load-cards-modal {
    .flexible-button a {
        width: 40%;
    }

    .view-image {
        margin: auto;
    }
}
.validFile {
    margin: 0!important;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.error-color {
    display: none;
    color: $color-red;
    margin-top: 5px;
}
.error-bdr {
    border-color: $color-red!important;
}
.purchase-ref-width {
    width: 410px;
}
.hide-btn {
    display: none;
}
#image_upload_preview {
    width:85px;
    height:44px;
}
.reloadGif {
    width: 32px;
}