.faq-tabs {
    padding: 50px 60px;
    .tabs-left {
        background: $right-panel-heading-bgcolor;
        padding: 0;
        li {
            float: none;
            display: block;
            &.active {
                a {
                    &:before {
                        content: '';
                        background: $color-studio-blue;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: 2px;
                        height: 100%;
                    }
                }
            }
            a {
                font-size: $font-size-regular;
                border: none;
                border-bottom: 1px solid $tab-border-darker;
                margin-right: 0;
                border-radius: 0;
                color: $color-medium-block;
                position: relative;
                &:hover,
                &:focus,
                &:active {
                    border: none;
                    border-bottom: 1px solid $tab-border-darker;
                }
                img {
                    margin-right: 14px;
                }
                @media screen and (max-width: 1280px) {
                    font-size: 14px;
                    img {
                        margin-right: 10px;
                    }
                }
                @media screen and (max-width: 1200px) {
                    font-size: 12px;
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .tab-content {
        background: $color-white;
        
    
        .faq-detail {
            padding: 30px 20px;
            h5 {
                margin-top: 0;
                font-weight: $font-weight-bold;
                color: $color-medium-block;
            }
            ul {
                padding-left: 5px;
                list-style: none;
                li {
                    color: $color-medium-block;
                    position: relative;
                    margin-bottom: 25px;
                    &:last-child {
                    	margin-bottom:0;
                    }
                    &:before {
                        position: absolute;
                        top: 2px;
                        left: -15px;
                        content: '';
                        width: 8px;
                        height: 8px;
                        border-radius: 1px;
                        background-color: $color-white-lilac;
                        border-radius: 50%;
                    }
                    ul {
                        padding-left: 15px;
                        li {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
