/* Spotlight Banner */
.spotlight-banner {
    @include gradient(#d80063, #eb3b8c, horizontal);
}

.inner-container---spotlight-container {
    .page-sub-heading {
        margin-bottom: 20px;
    }
}

.inner-container {
    .spotlight-card {
        margin-bottom: 20px;
        .cards-container {
            img {
                width: 100%;
                height: auto;
                max-width: 100%;
                padding: 0 20px;
            }
            .company-name {
                opacity: 0.5;
                color: #190f27;
                font-size: 12px;
            }
            p {
                font-size: $font-size-x-small;
            }
        }
        .cards-height {
            min-height: 210px;
        }
        h5 {
            font-weight: 600;
        }
    }
    .active-programs {
        .cards-container {
            img {
                padding: 0 10px;
                margin: 0px auto;
            }
            .img-padding-10 {
                padding: 10px;
            }
            .card-text-part {
                padding-left: 12px;
                padding-right: 12px;
            }
        }
        .card-setup {
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                color: $color-orange;
            }
        }
        .medium-green {
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }
        }
        h5 {
            margin: 2px 0 2px 0;
        }
    }
    .small-button {
        .btn-more {
            width: 160px;
            background-color: $color-orange;
            border: solid 1px $color-orange;
            color: $color-white;
            margin-bottom: 10px;
            transition: all 300ms ease-in-out;
            &:hover {
                border: solid 1px $button-hover-bgcolor;
                background-color: $button-hover-bgcolor;
                color: $color-white;
                transition: all 300ms ease-in-out;
            }
        }
    }
}

.modal-image {
    img {
        width: 100%;
    }
}

.spotlight-modal {
    width: 520px;
    text-align: center;
    .gift-img-wrap {
        img {
            max-width: 120px;
        }
    }
    &.gift-voucher-modal {
        .modal-footer {
            padding-top: 30px;
        }
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/modal-header-shades.png") no-repeat;
        background-size: 100%;
        background-position: 100%;
        height: 105px;
        z-index: 1;
    }
    &.gift-voucher-modal {
        &:before {
            content: '';
            background: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/group-20.png") no-repeat;
        }
    }
    h4 {
        margin-top: 30px;
    }
    .modal-image {
        text-align: center;
        z-index: 1;
        position: relative;
        img {
            width: 160px;
        }
    }
    p {
        font-size: $font-size-x-small;
        line-height: 1.5;
        color: $color-medium-block;
        opacity: 0.7;
    }
    .modal-footer {
        padding-top: 10px;
        p {
            display: inline-block;
            margin-bottom: 0;
        }
    }
    .close {
        z-index: 1;
        position: relative;
    }
    h5 {
        color: $color-medium-block;
        margin: 0;
        margin-top: 15px;
        line-height: 18px;
    }
    .program-demo-wrapper {
        display: none;
    }
    .profile-container {
        float: left;
        width: 120px;
        margin-right: 20px;
        position: relative;
        &:after {
            content: '';
            background: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/dialog-separator.svg") no-repeat;
            position: absolute;
            right: -10px;
            top: 0;
            width: 10px;
            height: 130px;
        }
        img {
            width: 72px;
            height: 72px;
            border-radius: 50%;
        }
    }
    .progrem-info {
        display: table;
        h5 {
            margin-bottom: 10px;
        }
    }
}

// .card-info {
//     min-height: 145px;
// }

// @media screen and (max-width: 1340px) {
//     .card-info {
//         min-height: 165px;
//     }
// }

// @media screen and (max-width: 1205px) {
//     .card-info {
//         min-height: 185px;
//     }
// }

.gift-voucher-modal {
    width: 920px;
    .program-demo-wrapper,
    .program-demo-default-text {
        width: 80%;
        margin: 0 auto;
    }
}

.program-demo-default-text {
    border-top: 1px solid #d5d1dc;
    display: none;
    .profile-container {
        width: 60px;
        img {
            width: 40px;
            height: 40px;
            position: relative;
            top: 30px;
        }
        &:after {
            background: transparent;
            width: 0;
            height: 0;
        }
    }
}

.instagift-loader {
    position: relative;
    &:after {
        content: '';
        background: url('https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif') no-repeat;
        width: 20px;
        height: 20px;
        background-size: 100%;
        position: absolute;
        right: 15px;
        top: 12px;
    }
}

.noteInfo {
    margin-top: 20px;
}

.card-setup {
    color: $color-orange;
}

.flexible-button button.request-demo {
    width: 418px;
}

#newAccountField {
    display: none;
}

.error {
    margin-top: 10px;
    color: $color-red;
    display: none;
}

// #digitalGiftModal {
//     .modal-image {
//         img {
//             width: 100px!important;
//         }
//     }
// }

.programsuccess-footer {
    display: inline-block;
    padding-top: 20px;
    font-size: 12px;
    .inner-content {
        text-align: left;
        padding-left: 23px;
        font-size: 12px;
        display: inline;
        float: right;
    }
    .inner-image-content {
        position: absolute;
        img {
            float: left;
        }
    }
}

// new spotlight

.spContainer{
    border-radius: 4px;
    background-color: #ffffff;
    padding:30px;
    margin:0 0 30px 0;
    box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
    color: #190f27;
    div{float:left;}
    .spTextContent{width:78%;
        .spImage{margin-right:30px;width:14%;
                    img{width:85%;}
                }
        .spTextDetails{width:76%;}
        h4{font-weight: 600;margin-top:5px;}
        ul{padding:10px 22px;margin-bottom:0; list-style-image: url('https://card-program-files.s3.amazonaws.com/hrDashboard/images/valid-icon.svg');
            li{padding: 0 0 4px 0;}
        }
        a{font-size:12px;color: #4a90e2; text-decoration:underline;}
    }
    .spTextContent-giftcards{width:78%;
        .spImage{margin-right:30px;width:14%;
                    img{width:100%;}
                }
        .spTextDetails{width:76%;}
        h4{font-weight: 600;margin-top:5px;}
        ul{padding:10px 22px;margin-bottom:0; list-style-image: url('../images/tick-copy.png');
            li{padding: 0 0 4px 0;}
        }
        a{font-size:12px;color: #4a90e2; text-decoration:underline;}
    }
    .spBtnDv{width:22%;
         .video-container{
             width:100%;
             .video-containerDv{width:70%;background:#190f27;border-radius:8px;float: right;
                a{opacity:0.75;transition: all 300ms ease-in;
                    &:hover{opacity:1;transition: all 300ms ease-in;}
                    img{width:100%;}
                }
             }
         }
        .small-btn-container{margin-top:68px;float:right;text-align:right;
            button.btn-more{margin:0;}
        }
    }
}
.sp-corp-container{
    background-color: #e9e6ee;box-shadow: unset; padding: 0px 30px 30px 30px
}
.spPopularBrand{
    border-radius: 4px;
    background-color: #f4f4f4;
    padding:20px 30px 30px;
    margin:-34px 0 30px 0;
    box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
    color: #190f27;
    border-top-left-radius:0;
    border-top-right-radius:0;
    .spBtnDv{width:22%;float:left;text-align:right;
        .small-btn-container{padding-top:20px;
            button.btn-more{margin:0;}
        }
    }
    .spPopBrandDtl{width:78%;float:left;
        h5{font-weight:bold;font-size: 12px;}
        .popularBrandDv{
            a.common-link{display:inline-block;}
            .popularBrandSp{display:inline-block;cursor:pointer;margin-right:20px;
                img{width:24px;height:24px;border-radius: 50%;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.21);}
                span{display:inline-block;padding:0px 10px;line-height:1.5}
                a{color: #190f27;}
                .circleMore{width:24px;height:24px;border-radius:50%;border: solid 1px #c7c4d2;font-size:12px;font-weight:bold;
                    letter-spacing: 2px; padding: 0 5px;vertical-align: 2px;}
                .circleMoreTxt{font-size:12px;}
            }
        }
    }
}
div.spBtnDv{
div.drpdwnBtn{
    a.activeLink{float:left;}
    a {
        .btn-more{border-bottom-right-radius: 0px;
            border-top-right-radius: 0px}
    }
    button.btn-more{width:116px;}
    button.dropdown-toggle{width:44px;background-color: #eeaf00;}
    .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: .255em;
        content: "";
        border-top: .5em solid;
        border-right: .5em solid transparent;
        border-bottom: 0;
        border-left: .5em solid transparent;
    }
    }
    .dropdown-menu{
        width:160px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
        border: solid 1px #c7c4d2;
        z-index:100;
        //margin-top:10px;
        a.dropdown-item{font-size:13px;
            line-height: 2.38;
            color: rgba(25, 15, 39, 0.7);
            display:inline-block;
            width:100%;
            padding:4px 20px;
        }
    }
}

#selectGiftLrnMre{
    .custom-modalbox{width:60%;min-width:800px;
        .modal-content{
            border-radius:4px;
        }
    }
}

.spotlight-banner{
    height:260px;
    padding:0;
    //margin-top:18px;
    color: #ffffff;
    width:100%;
    .ifnoSlick{
        background:#d81460 url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/select-banner-bg.png") no-repeat right top; background-size: cover;
        width: 100%;
        height: 260px;
        .sptBan{padding: 20px 40px 0;
            .banDv1{float:left;width:50%;
            .banHeader{	font-size: 32px;
                font-weight: 600;
                line-height: 1.12;
            }
            }
            .banSubHeader{
                font-size: 16px;
                line-height: 1.31;
                padding:10px 0 5px 0;
                
            }
            .banDisDv{ font-size: 10px;color:#fff;letter-spacing:1px;font-weight: 600;padding:2px 4px;margin-bottom:14px;background:#00b898;display: inline-block;
                border-radius: 4px;}
            .banBtn{margin-top:25px;}
            .banDv2{float:left;width:50%;text-align:right;
            .img1{margin:0 auto;width:50%;max-width:400px;padding-top: 10px;margin-right: 10px;}
            //.img2{margin:0 auto;width:90%;max-width:600px;padding-top: 10px; }
        }
        &.ban1{
            .banDv1{
                .banHeader{padding-top:10px;}
            }
        }
        }
    }
    .slick-slider{
        height:100%;
        position:relative;
        width:100%;
        .slick-list{ 
            height:100%;
            .slick-track{height:100%;}    
            .slick-slide{height:100%;padding:20px 40px 0 40px;}
            #slick-slide00{background:#d81460 url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/select-banner-bg.png") no-repeat right top; background-size: cover;}
            #slick-slide01{background:#ff9900 url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/select-banner-bg.png") no-repeat right top; background-size: cover;}
           // #slick-slide02{background:#ff8900;}
            //#slick-slide03{background:#ff7900;}
            //#slick-slide04{background:#ff6900;}
        }
        .slick-prev, .slick-next{display:none !important; }
        .slick-dots{
            position: absolute;
            bottom: 20px;
            display: block;
            width: 100%;
            padding: 0 40px;
            list-style: none;
            margin:0;
            li {
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                padding: 0;
                cursor: pointer;
                button{
                        font-size: 0;
                        line-height: 0;
                        display: block;
                        width: 20px;
                        height: 20px;
                        padding: 5px;
                        cursor: pointer;
                        color: transparent;
                        border: 0;
                        outline: none;
                        background: transparent;
                }
                button::before {
                    font-family: 'slick';
                    font-size: 26px;
                    line-height: 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    content: '•';
                    text-align: center;
                    opacity: 0.5;
                    color: #fff;
                }
        }
        li.slick-active{
            button::before{opacity:1;}
            
        }

        }
        .sptBan{
            .banDv1{float:left;width:50%;
            .banHeader{	font-size: 32px;
                font-weight: 600;
                line-height: 1.12;
               }
            }
            .banSubHeader{
                font-size: 16px;
                line-height: 1.31;
                padding:10px 0 5px 0;
                
            }
            .banDisDv{ font-size: 10px;color:#fff;letter-spacing:1px;font-weight: 600;padding:2px 4px;margin-bottom:14px;background:#00b898;display: inline-block;
                border-radius: 4px;}
            .banBtn{margin-top:25px;}
            .banDv2{float:left;width:50%;
            .img1{margin:0 auto;width:50%;max-width:400px;padding-top: 10px; margin-right: 30px;}
            .img2{margin:0 auto;width:90%;max-width:600px;padding-top: 10px; }
        }
        &.ban1{
            .banDv1{
                .banHeader{padding-top:10px;}
            }
        }
        }
        
    }
}

.xTransparentBtn{
    a{background-color: rgba(255, 255, 255, 0);
    &:hover, &:visited, &:active,&:focus,{background-color: rgba(255, 255, 255, 0);}
    }
    button{  border-radius: 2px;  border: solid 1px #ffffff;
        background-color: rgba(255, 255, 255, 0.15);
        &:hover, &:visited, &:active,&:focus,{background-color: rgba(255, 255, 255, 0.15);border-radius: 2px;  border: solid 1px #ffffff;
        }
        .btnImg{display:inline-block;}
    }
}
abbr[data-original-title],
abbr[title] {
    cursor: help;
    border-bottom: none;
}

.spotlight-inner-card{
    margin-top: -57px;
    margin-bottom: 30px;
    width: 85%;
    float: right;
    .spotlight-inner-digi{
        padding:10px 14px;
        background-color: #fff;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.19);
         border-radius: 3px;
         border: solid 1px #dfdde6;
        h5{
            font-weight: bold;
        }
    }
}


@media only screen 
and (min-device-width: 1500px) 
and (max-device-width: 2400px)
{
.spotlight-banner{
    .slick-slider {
        .sptBan{
            .banDv2{
                .img1{margin:0 auto;width:35%;max-width:400px;margin-right: 50px;}
                .img2{margin:0 auto;width:65%;max-width:600px;margin-right: 50px; }
            }
        } 
    }
    .ifnoSlick{
        .sptBan{
            .banDv2{
                .img1{margin:0 auto;width:35%;max-width:400px; margin-right: 60px;}
            }
        } 

    }
}
}

@media (max-width: 1170px){
    .spotlight-inner-card{  
        width: 84%;
        float: right;
    
    } 
}

@media (max-width: 1900px){
    .spotlight-inner-card{  
        width: 82%;
        float: right;
    
    } 
}