.inner-container {
    .physical-banner {
        margin-top: 0px;
        padding-bottom: 30px;
        @include gradient(#f549b9, #7654ff, vertical);

        .page-heading {
            h1 {
                font-size: 24px;
                font-weight: $font-weight-regular;
            }
        }

        .order-history-physical {
            width: 236px;
            height: 44px;
            border-radius: 2px;
            background-color: rgba(255, 255, 255, 0.2);
            border: solid 1px #ffffff;
            cursor: pointer;

            h2 {
                font-size: 12px;
                font-weight: 600;
                line-height: 0.75;
                letter-spacing: 1px;
                text-align: center;
                color: #ffffff;
                text-transform: uppercase;
                margin-top: 17px;
                margin-bottom: 10px;
            }
        }
    }
}

#createCustomCard,
#openEmail,
#rewardSingleSelected,
#rewardTemplateSelected {
    &.btn-disabled {
        background: #ddd;
        color: #190f27;
    }
}

.physical_container {

    .custom-box {
        .rewardChooseTxt {}

        .chooseDesignRow {
            ul {

                li {

                    &:hover {}

                    .newCreateDv {
                        span {}
                    }

                    .createDv {

                        img {}
                    }

                    .newCreateTxt {}

                    &.active {

                        .active-icon {}
                    }

                }
            }
        }
    }

    .rewardPrvwTxt {}

    .rewardBlankState {
        img {}
    }

    .rewardMobileDemo {}

    .rewardEmailDemo {}

    .collapseData {
        .rewardPImageMain {}

        .rewardPImg {}

        .rewardPtitle {}

        .rewardPmoney {}

        .commonTxtsty {}

        .rewardPEImgbg {}

        .rewardPEImg {}

        .rewardPEtitle {}

        .preEmailMessage {}

        .preEmailInnerMessage {}

        .emailQuotes {}

        .rewardPEmessage {}

        .rewardPEcompany {}
    }

    .rewardEmailDemo {
        .collapseData {}
    }

    .orDiv {}

    .emptyLine {}

    #rewardBulkUpload {
        a {

            &:hover {}
        }
    }

    #addBenefitsBulkPhysical {
        .custom-box {}

        .sguploadFile {
            animation: fadein 3s;
            -moz-animation: fadein 3s;
            /* Firefox */
            -webkit-animation: fadein 3s;
            /* Safari and Chrome */
            -o-animation: fadein 3s;
            /* Opera */
            padding: 28px 15px;

            .bulk-upload-hdg-wrpr {}

            h3 {}

            .pageSubTxt {}

            .physical-bulk-header {
                margin: 0px;

                h3 {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    font-size: 13px;
                    line-height: 22px;
                }
            }

            .input-phusical-reference {
                height: 35px;
                border: 1px solid #C7C4D2;
                width: 50%;
                font-size: 13px;
            }

            .pagePhySubTxt {
                padding-top: 5px;

            }
        }

        .panel-container-physical {
            margin-left: unset;

            .view-image {}
        }


        .needHelp {
            //width:100%;
            border-radius: 4px;
            border: solid 1px #c7c4d2;
            padding-left: 20px;
            padding: 20px;

            .needHelpHeader {
                .needHelpHeadTxt {
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    color: #190f27;
                    text-transform: uppercase;
                    line-height: 14px;
                    padding: 0 6px;
                    vertical-align: -1px;
                    // font-family: 'Proxima Nova Semibold';
                }
            }

            .needHelpBody {
                opacity: 0.7;
                font-size: 12px;
                line-height: 1.5;
                color: #190f27;
                margin: 8px 0 0 23px;

                .mailto {
                    color: #190f27;
                    text-decoration: underline;
                    font-weight: 800;
                }

                .tel {
                    color: #190f27;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }


    }

    #createOrder {
        .custom-box {
            div.select-custom {}
        }

        .cutomBoxGrey {
            position: absolute;
            top: -1px;
            right: 0;
        }

        .orderSummaryTxt {}

        .orderSummarySTxt {}

        .orderSummarySVal {}

        .paymntTxt {}

        .form-group {
            label {}
        }

        .select-custom {
            select {}
        }

        .fundCurrntBalance {}

        .insuffFund {
            img {}
        }

        .insuffFundText {}

    }



    .rewardbenegitHead {}

    .rewardbenegitSubHead {}

    .rewardBenefitInputDv {

        span {}

        input.inputField {}

        input.removeX {}

        p {}
    }

    .benefitAddBtn {
        .plus {}

    }
}

.max10 {}

.btn-collapse {

    &:hover,
    &:active,
    &:visited {}

    span.rewardPlusMinus {}

    span.circleNumber {}

    .editGear {

        img {}
    }
}

.openCollapse {


    &:hover {}
}

@media only screen and (max-width: 1300px) and (min-width: 1200px) {
    .reward_container {
        .collapseData {
            .rewardPImg {
                max-width: 145px;
                max-height: 85px;
            }

            .rewardPEImg {
                width: 76px;
                top: 26px;
            }

            .rewardPEtitle {
                top: 82px;
            }

            .btn-collapse {
                span.rewardPlusMinus {
                    margin-left: 48%;
                }
            }
        }

        span.rewardPlusMinus {
            margin-left: 50%;
        }
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1301px) {
    .reward_container {
        .collapseData {
            .rewardPImg {
                max-width: 170px;
                max-height: 95px;
                left: 36px;
            }

            .rewardPEImg {
                width: 78px;
                top: 26px;
            }

            .rewardPEtitle {
                top: 82px;
            }

            .btn-collapse {
                span.rewardPlusMinus {
                    margin-left: 50%;
                }
            }
        }

        span.rewardPlusMinus {
            margin-left: 50%;
        }
    }
}


.beneficiaries-input {}

.spotlight-padding-top {}

.spotlight-padding-left {}

.input-error {}

// .virtualManual{
//     .zeta-col1,.zeta-col3,.zeta-col4{
//         float:left;width:48%;margin:0 10px 8px 0;
//         input.inputField{width:100%;}


//     }

//     .zeta-col2,.zeta-Date{
//         float:left;width:24%;margin:0 10px 20px 0;
//         input.inputField{width:100%;}
//         .form-group{margin:0;
//             .input-group{
//                 input.datepicker-img {
//                     height: 35px;
//                     border-radius: 2px;
//                     background-color: #fff;
//                     border: 1px solid #c7c4d2;
//                     font-size: 13px;
//                     display: inline-block;
//                     padding: 0 6px;
//                     line-height: 35px;
//                 }
//             }
//         }

//     }
//     .zeta-Date{margin:0 0 12px 0;}
//     .benefitAddBtn{display:inline-block;padding-left:0;margin-top:10px;
//         span{text-decoration:none;}
//     }
//     .rewardBenefitInputDv{margin: 0px; clear: both;}
//     .manualBenefitHead{margin:0 0 10px 0;display:inline-block;width:87%;
//         span.dottedLine{width:85%;margin-right:6px;display:inline-block;border-top:1px dashed #c7c4d2;margin:0 4px 3px 0;}
//         .removeX{;color:#8c8793 !important;font-size:13px !important;}
//         span.dottedLineFull{width:96%;}

//     }
//     ol.beneficiaries-input{
//         list-style-type: none;
//         counter-reset: elementcounter;
//         padding-left: 0;
//     }

//     li:before{
//         content: "BENEFICIARY " counter(elementcounter)".";
//         counter-increment:elementcounter;
//         font-size:11px;opacity:0.5;color:#190f27;
//     }
// }

.zeta-col5 {}

.spinner-loader {}


.card-design-image {
    width: 34px;
    height: auto;

}

.btn-default[disabled]:hover {
    background-color: #ffbc00;
}

.instaGiftOrderCardsDV {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);

    .form-group {
        margin: 0 0 20px 0;

        label {
            font-size: 13px;
            line-height: 1.69;
        }

        input {
            max-width: 250px;
            color: #190f27;
            padding: 5px 12px;
            height: 35px;
        }
    }

    .instaDeliveryAdd {
        width: 100%;

        .form-group {
            float: left;
            margin-right: 20px;
            width: 40%;

            label {
                font-size: 13px;
                line-height: 1.69;
            }

            input {
                max-width: 250px;
                color: #190f27;
                padding: 5px 12px;
                font-size: 13px;
            }

            p {
                font-size: 12px;
                padding-top: 4px;
                width: 334px;
            }
        }

        .instaDeliveryTextarea {
            width: 82%;
            margin-right: 40px;

            textarea {
                max-width: 560px;
                height: 80px;
                color: #190f27;
                padding: 5px 12px;
            }
        }

        .instaPinDv {
            width: 90%;
            position: relative;

            label {
                display: block;
            }

            #zipcode {
                width: 180px;
                display: inline-block;
                width: 30%
            }

            .instaAdd {
                display: inline-block;
                margin-left: -5px;
                width: 70%;
                max-width: 67%;
            }

            #addUserLoader {
                position: absolute;
                animation: spin 1s linear infinite;
                right: 45px;
                top: 45px;
            }
        }

        .phoneNumberDv {
            position: relative;

            // #phoneNumber{padding-left:35px;}
            .error-message-phone {
                color: #e84b3c;
                opacity: unset;
            }

            .instaprefixNum {
                position: absolute;
                color: #190f27;
                opacity: 0.7;
                top: 41px;
                left: 12px;
            }
        }
    }

}

.rewardPrvwTxt {
    opacity: 0.5;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #190f27;
    margin-bottom: 10px;
}

.physcialCardPrw {
    width: 100%;
    border-radius: 4px;
    border: solid 1px #c7c4d2;
    background: none;
    padding: 12px;

    .physcialCardHead {
        background: none;
        font-size: 14px;
        font-weight: 600;
        line-height: 0.94;
        color: #190f27;
        margin-bottom: 14px;
    }

    .physcialCardImg {
        width: 100%;
        text-align: center;

        img {
            width: 100%;
            max-width: 100%;
        }

    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.physicalConatiner {
    margin: 0;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;

    /* Opera */
    .physicalHead {
        font-size: 20px;
        line-height: 1.5;
        color: #190f27;
        margin-bottom: 4px;
    }

    .physicalSubHead {
        opacity: 0.5;
        font-size: 14px;
        line-height: 1.5;
        color: #190f27;
    }

    .physicalMainDv {
        margin: 0;
        margin-top: 30px;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
        background-color: #ffffff;
        border: solid 1px #dfdde6;
        padding: 30px;

        .imgDv {
            float: left;
            margin: 0 auto;
            padding: 0;
            margin-right: 20px;

            img {}
        }

        .txtDv {
            float: left;
            padding: 0;

            .txtDvStep {
                opacity: 0.5;
                font-size: 12px;
                font-weight: 600;
                line-height: 0.75;
                letter-spacing: 1px;
                padding-bottom: 3px;
            }

            .txtDvHead {
                font-size: 18px;
                font-weight: 600;
                line-height: 1.61;
            }

            .txtDvSubHead {
                opacity: 0.7;
                font-size: 14px;
                line-height: 1.64;
                max-width: 600px;
            }
        }

        .btnDv {
            float: right;
            padding: 0;
            text-align: right;

            .small-button {
                .btn-more {
                    margin-bottom: 0;
                    margin-top: 10px;
                }


            }
        }
    }
}

#createOrderPhysical {
    margin-left: 5px;

    .paymntTxt {
        font-size: 20px;
        line-height: 0.75;
        color: #190f27;
        margin: 0 0 20px 0;
    }

    .form-group {
        label {
            font-weight: normal
        }
    }

    .select-custom {
        select {
            line-height: normal
        }
    }

    .custom-box-physical {
        animation: fadein 2s;
        -moz-animation: fadein 2s;
        /* Firefox */
        -webkit-animation: fadein 2s;
        /* Safari and Chrome */
        -o-animation: fadein 2s;
        /* Opera */
        padding: 30px;
    }

    .control-padding-top {
        padding-top: 32px;
    }

    .cutomBoxGreyPhysical {
        background: #f5f4f6 !important;
        width: 250px !important;
        border-bottom-right-radius: 0;
        display: none;
        border-top-right-radius: 0;
        border-right: 0;

    }

    .orderSummaryTxt {
        opacity: 0.5;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #190f27;
        margin: 30px 0;
    }

    .orderSummarySTxt {
        opacity: 0.7;
        font-size: 12px;
        line-height: 0.75;
        color: #190f27;
    }

    .orderSummarySVal {
        font-size: 12px;
        font-weight: 600;
        color: #190f27;
        margin: 4px 0 20px 0;
    }

    #orderCompletedNew {
        background-color: #ccc;
    }

    .needHelp {
        //width:100%;
        border-radius: 4px;
        border: solid 1px #c7c4d2;
        padding-left: 20px;
        padding: 20px;

        .needHelpHeader {
            .needHelpHeadTxt {
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 1px;
                color: #190f27;
                text-transform: uppercase;
                line-height: 14px;
                padding: 0 6px;
                vertical-align: -1px;
                // font-family: 'Proxima Nova Semibold';
            }
        }

        .needHelpBody {
            opacity: 0.7;
            font-size: 12px;
            line-height: 1.5;
            color: #190f27;
            margin: 8px 0 0 23px;

            .mailto {
                color: #190f27;
                text-decoration: underline;
                font-weight: 800;
            }

            .tel {
                color: #190f27;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.go-back-physical {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
    margin-left: 5px;
    margin-bottom: 10px;

    .go-back {
        opacity: 0.5;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #190f27;
    }
}