// new spotlight css

.inner-container {
    height:100%;
    margin-top:20px;
    @media only screen and (min-width: 1590px)  {
        .mainContainerSpot{
        background-size:cover !important;
        .spotlight-ifi-info{span{color:#fff !important;}}
        }
    } 
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
.mainContainerSpot{
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */

   background: linear-gradient(to bottom,#682ecf 0,#4700ec 100%);
   background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightBG.png);
   width: 100%;
   min-height:900px;
   height:100%;
   max-width: 100%; 
   background-size:contain;
   background-position: 0px 0px;
   background-repeat:no-repeat;
//    background-color:#f8f8f8;
  // margin-top:18px;
   margin-bottom:18px;
    padding:40px;
    overflow-x: hidden;
    padding-bottom: 64px;
   &.mainContainerSpotHDFC{background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightBGHdfc.png);
        .spotlightBtn{
            a{color:#004489;}
        }

    }    
    &.mainContainerSpotKotak{background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightBGKotak.png);
        .spotlightBtn{
            a{color:#004489;}
        }

        .sptProgramsContainerKotak {
            display:flex;
            display:-webkit-flex;
            display:-ms-flex;
            justify-content: center;
            -webkit-justify-content:center;
            -ms-justify-content:center;
        }
    }  
   .sptSuperTxt{
    font-size: 48px;
    font-weight: 300;
    line-height: 1.02;
    color: #ffffff;
    padding:12px 0 16px 0;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-family:Proxima Nova Light;
    span{color: #ffbc00;}
   }
   .sptSuperSubTxt{
    opacity: 0.7;
    font-size: 16px;
    line-height: 1.56;
    color: #ffffff;
    font-family:Proxima Nova Rg;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
   }

   .sptTabsDv{
       margin:0 auto;
       margin-top:52px 0  42px 0;
       text-align: center;

       .sptTabsBtn{
           display:inline-block;
           width:352px;
           height:60px;
           line-height:60px;  
           font-size: 14px;
           font-weight: 600;
           letter-spacing: 0.5px;
           text-align: center;
           color:#fff;
           text-transform:uppercase;
           background-color:#7536ff;
           box-shadow: 0 20px 24px 0 rgba(31, 17, 55, 0.33);
           font-family: Proxima Nova SemiBold;
           cursor:pointer;
          
           span{padding-left:36px;}
        &.active{color: #301176;}
        span{padding-left:36px;}

       }
       .sptGCV{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-right: -2px;
        background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightTabGift.svg) 60px 18px no-repeat;
        background-color:#7536ff;
        transition: background-color 0.5s ease-in;
        &.sptGCVHdfc {
            background-position-x: 115px;
            background-position-y:16px;
            border-radius: 4px;
        }
        &:hover{background-color: #641EFC;transition: background-color 0.5s ease-out;}
        &.active{background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightTabGiftBlue.svg) 60px 18px no-repeat;
            background-color: #ffbc00;transition: background-color 0.2s ease-in;
            &:hover{background-color: #ffa800;transition: background-color 0.5s ease-out;}
        }
       }
       .sptGCVHdfc{
        background-color:#1a478c;
        &:hover{background-color: #004B8D;transition: background-color 0.5s ease-out;}
        &.active{background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightTabGiftBlueHdfc.svg) 115px 16px no-repeat;
            background-color: #ffbc00;transition: background-color 0.2s ease-in;color:#004589;
            &:hover{background-color: #ffa800;transition: background-color 0.5s ease-out;}
        }
       }
       .sptGCVKotak{
        color:#000000;
        background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightTabGiftBlackKotak.svg) 115px 16px no-repeat;
        background-color: #ffffff;
        &:hover{background-color: #ffffff;transition: background-color 0.5s ease-out;}
        &.active{background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightTabGiftBlackKotak.svg) 115px 16px no-repeat;
            background-color: #fbdede;transition: background-color 0.2s ease-in;color:#000000;
            &:hover{background-color: #fbdede;transition: background-color 0.5s ease-out;}
        }
       }
       .sptIR{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-left: -2px;
        background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightTabRewardW.svg) 60px 18px no-repeat;
        background-color:#7536ff;
        transition: background-color 0.5s ease-in;
        &:hover{background-color: #641EFC;transition: background-color 0.5s ease-out;}
        &.active{background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightTabReward.svg) 60px 18px no-repeat;
            background-color: #ffbc00;transition: background-color 0.2s ease-in;
            &:hover{background-color: #ffa800;transition: background-color 0.5s ease-out;}
        }
  
        }
        .sptIRHdfc{
            background-color:#1a478c;
            &:hover{background-color: #004B8D;transition: background-color 0.5s ease-out;}
        &.active{background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightTabRewardHdfc.svg) 60px 18px no-repeat;
            background-color: #ffbc00;transition: background-color 0.2s ease-in;color:#004589;
            &:hover{background-color: #ffa800;transition: background-color 0.5s ease-out;}
        }
        
        }

        .sptIRKotak{
            background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/rewardKotak.svg) 60px 18px no-repeat;
            background-color:#ffffff;
            color:#000;
            &:hover{background-color: #ffffff;transition: background-color 0.5s ease-out;}
        &.active{background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/rewardKotak.svg) 60px 18px no-repeat;
            background-color: #fbdede;transition: background-color 0.2s ease-in;color:#000000;
            &:hover{background-color: #ffffff;transition: background-color 0.5s ease-out;}
        }
        
        }
   }

   .sptTabsContainer{
       .sptTabsCTxt{font-family:Proxima Nova Light;
        font-size: 28px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        text-align:center;
        margin: 0 auto;
        margin-top:42px;
    }
       .sptTabsCSubTxt{font-family:Proxima Nova Rg;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        opacity:0.7;
        max-width:570px;
        text-align:center;
        margin: 0 auto;
        margin-top:10px;
        margin-bottom:38px;
    }

   }

   .sptProgramsContainer{
    min-height: 421px;
    margin-bottom: 20px;
    &.sptProgramsContainerHDFC {
        display: flex;
        display:-webkit-flex;
        display:-ms-flex;
        justify-content: center;
        -webkit-justify-content:center;
        -ms-justify-content:center;
    }
    &.sptProgramsContainerKotak {
        display: flex;
        display:-webkit-flex;
        display:-ms-flex;
        justify-content: center;
        -webkit-justify-content:center;
        -ms-justify-content:center;
    }
       .sptProgramsDv{
        .new-info{
            position: absolute;                
            right: -7px;
            background-color: #00b898;
            color: #fff;
            font-size: 11px;
            letter-spacing: 0.5px;
            padding: 5px;
            border-radius: 2px;
            box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.14);
            &::after{
                content: '';
                width: 0;
                height: 0;  
                right: 0px;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid #00b898;
                z-index: 1;
                position: absolute;
                top: 17px;  
            }
        }
        position: relative;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.14);
        padding:20px 20px 80px;
        width:100%;
        transition: all .4s ease-in-out;
        height:100%;
        // &:hover{
        //     -webkit-transform: scale(1.05);
        //     -ms-transform: scale(1.05);
        //     transform: scale(1.05);
        // }

        .sptProgramsImg{text-align:center;
            margin-top:10px;
            img{height:79px;}
        }
        .sptProgramsHead{text-align:center;
            font-family: Proxima Nova SemiBold;
            font-size: 20px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            text-align: center;
            color: #301176;
            margin-top:12px;
            margin-bottom:2px;
        }
        .sptProgramsBorder{text-align:center;
            span{display:inline-block;  width: 60px;border: solid 1px #e4e1e8;}
        }
        .sptProgramsInfo{
            padding:2px;
            margin-top:10px;
            ul{
                list-style-image: url('https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightGreyTick.svg');
                margin:0;
                padding-left: 26px;
                li{
                    padding: 7px 0px;
                    span{
                        font-family:Proxima Nova Rg;
                        font-size: 15px;
                        color:#5e5767;
                        padding-left: 10px;
                        @media only screen and (max-width:1280px) {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .sptProgramsOrderBtn{
            position: absolute;
            left:20px;
            bottom: 20px;
            right:20px;
            margin-top:20px;
        }

       }
   }
   .insta-gift-info{
    border-radius: 4px;
    background-color:rgb(235, 225, 222);
    border: solid 2px #fdb142;
    padding: 30px;
    .info-header{
        font-size: 16px;
        font-family:"Proxima Nova SemiBold";
        color: #190f27;
        font-weight: 900;
    }
    .info-description{
        font-size: 14px;
        line-height: 24px;
        a{
            color: #1e85f7;
            text-decoration: underline;
            font-weight: 700;

        }
    }
   }  
   .spotlight-ifi-info{
       text-align: center;
       margin-top:30px;
       span{
           opacity: 0.7;
            font-size: 14px;
            line-height: 0.64;
            text-align: right;
            color: #190f27;
       }
       img{
        width: 120px;
        margin-left: 10px;
       }
   }

}

.spotlightBtn{
    width:100%;
    text-align:center;
    background:rgba(255, 188, 0, 1);
    border-radius:4px;
    height:44px;
    line-height:44px;
    transition: background-color 0.5s ease-in;
    &:hover{background:#FFA800;transition: background-color 0.5s ease-out;}
   a{
    width:100%;
    font-size:12px;
    color:#301176;
    letter-spacing: 1px;
    font-family: Proxima Nova SemiBold;
    text-transform:uppercase;
    text-decoration:none;
    display: inline-block;
    &:hover{text-decoration:none; }
    
   }

}  

}

.sidebar-row{
    .sidebar-container
    {
        &.spotlightSidebar{
            background: #222629;
            .navbar-logo {
                .navbar-header{
                    background-color: #222629;
                }
            }
            .heading-cntr, .companyListSec, .side_products{background-color: #222629;}
            .navbar-Company{background-color: #7536ff;}
            .navbar-CompanyHDFC{background-color: #004b8d;}
            span.arrowBounce{
                
                &::before{
                    content: '\203A';
                    width: 9px;
                    height: 14px;
                    color: #f9f9f9;
                    font-size: 20px;
                    background-color: #222629;
                   
                }}
                @media (max-width: 1170px){
                    .nav-btn {.nav-cntr {.nav-btn-cntr {
                        width: 80px;
                        height: 40px;
                        background-color: #3A383E;
                        right: 0;
                        bottom: 0;
                        position: relative;
                        z-index: 9999;
                        cursor: pointer;
                        margin-top: 20px;
                        padding: 10px 32px;}}
                    }
                }
            }

        }
        
}

