.select-gift-head {
    text-align:center;
    
    .mainSgImg{
        img{height:76px;width:68px;}
    }
    h3 {
        font-size: 20px;
    }
    p {
        opacity: 0.7;
        font-size: 13px;
        padding-bottom: 10px;
    }
    h4 {
        margin: 10px 0 10px 0;
        line-height: 22px;
    }
    .border-bottom {
        border-bottom: solid 1px #dfdde6
    }
    .numbering{
        margin: 20px 0 0 0;
        span{
            font-size: 14px;
            font-weight: 600;
            border: 1px solid grey;
            border-radius: 50%;
            width: 25px;
            line-height: 25px;
            height:25px;
            display:inline-block;
        }                       
    }
    .heading {
        font-size: 14px;
        font-weight: 600;
        margin: 20px 0 0 0;
        opacity: 1;
    }
    .x-medium-button {
        margin: 40px 0 10px 0;
    }
}

.moving-menu{
    #topMenu {
	    background-color:#fff;
    overflow: auto;
}

#box {
  background-color:#fff;
  position:relative;
  /*margin:0 auto;*/
  padding:5px;
  width:100%;
}

.scroller {
  color: #000000;;
  width:40px;
  text-align:center;
  cursor:pointer;
  display:none;
  padding:5px;
  margin-top:10px;
}

.scroller-right{
  float:right;
  width: 4%;
    opacity: 1;
    background: linear-gradient(270deg, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.09) 100%);
}

.scroller-left {
  float:left;
  width: 4%;
    opacity: 1;
    background: linear-gradient(90deg, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.09) 100%);
}

.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:5px;
    height: 55px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	// margin-left:12px;
    margin-top:0px;
}


.item{
    padding: 17px 8px;
    display: table-cell;
    // margin: 1px;
    position: relative;
    text-align: center;
    cursor: -moz-grab;
    cursor: grab;
    cursor: -webkit-grab;
    color: #21172f;
    // background-color: #e9e6ed;
    // border: 7px solid #fff;
    vertical-align: middle;
    // border-radius: 12px;    
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.25;
    cursor: pointer;
    span{
        padding: 10px;
        border-radius: 12px;  
        background-color: #e9e6ed;
    }
    &.active{
        span{
            background-color: #633ea5;
            color: #fff;
            font-weight: 600;
        }
      
    }
}
.active{
    span{
        background-color: #633ea5;
        color: #fff;
        font-weight: 600;
    }   
}
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
#brandFilter{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#verifyOrderCntr{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#uploadFileCntr{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}


.chooseBrandsUl {
    min-height:142px;
    li.chooseBrandsLi {
        width: 25%;
        min-height:120px;
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
        position: relative;
        z-index: 0;
        &:hover{           
            z-index: 3;            
        }
        .tooltip {
            position: relative;            
            display: inline-block;
            @keyframes fadeInOpacity {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .tooltiptext {
              opacity: 0;
              visibility: hidden;
              width: auto;
              background-color: black;
              color: #fff;
              text-align: left;
              border-radius: 3px;
              padding: 10px 15px;
              position: absolute;            
              top: 79%;
              left: -32%;
              width: 260px;
              .tooltip-text_gift{
                color: #ffffff;
                padding: 5px;   
               
                .tool-list-order{
                    div{
                        padding: 5px 0px;
                    }
                    display: inline-block;
                    padding: 0px;
                    margin: 0px;
                    padding-left: 8px;
                    font-size: 11.5px; 
                    li{
                        list-style-type:disc;
                        width: 100%;
                        padding: 0px;    
                        margin-bottom: 5px;                    
                    }
                }
              }
            
              &::after {
                content: "";
                position: absolute;
                top: 0%;
                right: 50%;
                margin-top: -10px;
                border-width: 5px;
                border-style: solid;
                border-color:transparent transparent black transparent;
              }
            }
            &:hover .tooltiptext {
              visibility: visible;
              opacity: 1;
              animation-name: fadeInOpacity;
              animation-iteration-count: 1;
              animation-timing-function: ease-in;
              animation-duration: 0.5s;
            }
          }



        .program-code-img-cntr {
            padding: 10px;
            img.brandImgSg {
                margin: 0 0 10px 0;
                width:50px;
                height:50px;
                //vertical-align: unset;
            }
            .program-code-align-center {
                text-align: center;
            }
            .program-code-hdg {
                line-height: 1.5;
                font-weight:600;
            }
            .program-code-dtls {
                font-size: 12px;
                line-height: 1.67;
                height:20px;
                .program-code-label {
                    opacity: 0.7;
                }
            }
        }
        &:nth-of-type(even){padding-left: 0px;
            position: relative;            
        }
        &:nth-of-type(odd){
            position: relative;           
        }
    }
}

.text-decoration {
    text-decoration: underline;
}

.confirmation-page-background {
    background-image: linear-gradient(#633ea5, #633ea5);
}

#myModalBrandDetail {
    .custom-modalbox {
        
        .custom-modal-body {
            padding: 0px 30px 30px 30px;
            font-size: 12px;
            line-height: 1.67;
            .heading {
                font-weight: 600;
            }
            .content {
                padding: 8px 0 20px 0;
            }
            .tandc{max-height:350px;overflow-y: auto;padding:0 15px 0 0;}
        }
    }
}

.date-picker-width {
    width: unset;
}

.loading-gif {
    text-align: center;
    width: 420px;
    border-radius: 3px;
    margin: 100px auto;
    background-color: #ffffff;
    padding: 40px 20px;
    img {
        height: 30px;
        margin-bottom: 15px;
        display: inline-block;
    }
    p {
        font-size: 18px;
        opacity: unset;
    }
}

.generate-gift-box {
    width: 420px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    margin: 100px auto;
    padding: 0 0 20px 0;
    color:#190f27;
    .generate-brand-logo {
        text-align: center;
        padding-bottom: 20px;
        img {
            display: inline-block;
            text-align: center;
            width: 100px;
            height: auto;
        }
    }
    .generate-message {
        text-align: center;
        padding-top: 60px;
        margin-bottom: 20px;
        background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/confetti.svg) no-repeat 0 0;
    
        strong {
            font-size: 18px;
            text-align: center;
            font-weight: 800;
        }
        p {
            font-size: 17px;
            text-align: center;
        }
    }
    .generate-details {
        background-color: #f1eff2;
        margin: 0 30px;
        padding:10px 20px;
        .generate-details-amount {
            background-color: #f1eff2;
            font-size: 26px;
            font-weight: 500;
            margin: 10px 0 20px 0;
            span {
                float:right;
                line-height:2;
            }
        }
        .generate-details-giftcard {
            //margin: 0 20px;
            p {
                font-size: 14px;
                text-align: left;
                line-height: 2;
                color: #5a5a5a;
            }
            p:nth-of-type(2){
                font-size:12px;
            }
            strong {
                font-size: 18px;
                font-weight: 500;
                text-align: left;
                letter-spacing: 1px;
                line-height: 20px;
            }
        }
    }
    .generate-gift-footer {
        margin: 0 30px;
        p {
            font-size: 12px;
            padding-top: 10px
        }
        ul{padding-top:6px;
            margin:0;
        li{
            font-size: 12px;
            opacity:0.7;
            padding-top:4px;
            a{opacity:1;
            color:#4a90e2
            }
        }
        }
    }
    .container-header-wave {
        padding: 0px 30px 10px;
        .top-header-wave {
            height: 10px;
            position: relative;
            //background-image: url(../../../images/spotlight/voucher-edge-top.png);
            background-repeat: repeat;
        }
        .bottom-header-wave {
            height: 9px;
            position: relative;
            //background-image: url(../../../images/spotlight/ridges.svg);
            background-repeat: repeat;
            background-size: 18px 9px;
        }
    }
}

#createGiftCheckbox {
    display: inline-block;
    font-size: 18px;
}

.program-code-list-wrpr h3 {
    margin-top: 10px;
}
.program-code-list-wrpr h6 {
    color:#190f27;letter-spacing: 1px;
}

#createOrderDone {
    width: 100%;
}

.generate-error-state {
    h3 {
        font-size: 18px;
        line-height: 1.33;
        text-align: center;
        color: #190f27;
        margin-top: 10px;
    }
    p {
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        color: #190f27;
        padding: 14px 40px 14px 40px;
    }
    button {
        width: 84%;
    }
}

.link-color {
    color: #000000;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    &:hover {
        color: #000000;
        font-size: 14px;
    }
}

.program-code-img-box{
    border: solid 1px #dfdde6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /* padding: 14px 0 14px 20px; */
    float: left;
    width: 156px;
    margin-bottom: 20px;
    img{
        width:70px;
    }
} 
#comingSoonBrandsPop{
    .comingSoonThankTxt{
        font-size: 18px;
        line-height: 0.83;
        color: #190f27;
        margin:30px 0 20px 0;
    }
    .comingSoonTxt{
        opacity: 0.7;
        font-size: 14px;
        line-height: 1.43;
        color: #190f27;
    }
    
}
.insufFundTable{
    span{color:#eb5946;font-size:11px;}
    .warnCircle{display:inline-block;width:14px;height:14px;border:1px solid #eb5946;border-radius:50%;padding: 0px 5px 2px 5px;
        vertical-align: 1px;font-size:10px;margin:0 6px 0 0;}
        a{text-decoration:underline;font-size:12px;margin: 0 0 0 6px;}
}
.sguploadFile{
    .bulk-upload-hdg-wrpr{margin:5px 0;}
    h3{float:left;}
    img.brandLogoSg{float: right;height: 50px;width: 100px;margin: 10px 0 0 0;}
}
.termsNcon, .skipAddLater{color:#4a90e2;text-decoration:underline;}
.skipAddLater{padding-top:20px;display:inline-block;}
.errorTextSG{ color: #e74c3c;opacity:1;
img{padding:0 10px 1px 0;}
}
#amazonAccountImg {line-height:40px;}
#orderListTable .text-capitalize, #orderListTable .text-capitalize:hover{text-decoration:none ; cursor:default ;}

#chooseShortcodeCntr{
    .custom-box{background: transparent;padding:0;}
    .new-custom-box{margin:0 0 30px 0; box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
        border: solid 1px #dfdde6; border-radius: 4px;background:#fff;}
        .shopCateDv{margin:0 0 20px 0;
            .shopCateTxt{float:left;font-size:20px;color: #190f27;width:35%;}
            .shopCateSearch{float:right;width:60%;max-width:300px;
            input{color: #190f27; width:97%;height: 34px;border-radius: 2px;border: solid 1px #c7c4d2;
                background-position: 96% 50%;
                background-repeat: no-repeat;
                padding:4px 30px 4px 12px;background-image:url('https://card-program-files.s3.amazonaws.com/hrDashboard/images/search.svg');}
        }
        }
        
}
.chooseCategory{    list-style-type: none;
    padding: 0;
    li{color:#fff;float:left;border-radius: 4px;font-size:12px;letter-spacing: 1px;text-transform: uppercase;line-height:1.25;
        padding:10px 16px;background-color: #e9e6ed;border: solid 1px #dfdde6;color: #190f27;margin-right:8px;margin-bottom:12px;cursor:pointer;
      }
    li.active{color:#fff;background-color: #633ea5;font-weight: 600;}
    
}

.file-upload-custom__selectbrand{
    .info-brand-uploads{
        margin-top: 8px;
        font-size: 11px;
        img{
            width: 13px;
            margin: -2px 2px 0px 0px;
        }
    }
}