@mixin bounceInUp($deploy) {
    animation: bounceInUp $deploy ease both;
    -webkit-animation: bounceInUp $deploy ease both;
    -moz-animation: bounceInUp $deploy ease both;
    -ms-animation: bounceInUp $deploy ease both;
    -o-animation: bounceInUp $deploy ease both;

    @-webkit-keyframes bounceInUp {
        0% {
            opacity: 0.8;
            -webkit-transform: translateY(50px);
        }

        60% {
            opacity: 1;
            -webkit-transform: translateY(-0px);
        }

        80% {
            opacity: 1;
            -webkit-transform: translateY(-0px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(0px);
        }
    }
}

.point-based-subcontainer {
    @include bounceInUp(0.8s);
}


.inner-container {
    .pointbased-banner {
        margin-top: 0px;
        padding-bottom: 30px 40px;
        @include gradient(#682ecf, #4700ec, horizontal);
        // @include bounceInUp(1.2s);

        .page-heading {
            h1 {
                font-size: 24px;
                font-weight: $font-weight-regular;
            }
        }

        .order-history-physical {
            width: 236px;
            height: 44px;
            border-radius: 2px;
            background-color: rgba(255, 255, 255, 0.2);
            border: solid 1px #ffffff;
            cursor: pointer;

            h2 {
                font-size: 12px;
                font-weight: 600;
                line-height: 0.75;
                letter-spacing: 1px;
                text-align: center;
                color: #ffffff;
                text-transform: uppercase;
                margin-top: 17px;
                margin-bottom: 10px;
            }
        }

        .program-based-action {
            position: relative;
            top: -10px;
        }
    }

    .pointCardProgram {
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
        transition: box-shadow 0.3s ease-in-out;
        border: solid 0.5px #dfdde6;
        background-color: #ffffff;
        margin-bottom: 20px;
        min-height: 265px;
        text-align: center;
        cursor: pointer;
        @include bounceInUp(0.6s);

        a {
            color: #190f27;
            width: 100%;
            height: 100%;

            &:hover {
                color: #190f27;
                text-decoration: none;
            }

            .pointCardImage {
                text-align: center;

                img {
                    border-radius: 100%;
                    margin: 24px auto;
                    background: #e9e6ee;
                    height: 100px;
                    width: 100px;

                }
            }

            .pointCardName {
                font-size: 14px;
                padding: 0 20px;
                font-weight: 600;
                line-height: 1.5;
                margin-bottom: 16px;
                word-break: break-all;
            }

            .pointCardCurrTxt {
                font-size: 12px;
                padding: 0 20px;
                line-height: 0.75;
                margin: 10px 0;
            }
        }

        &:hover {
            box-shadow: 0 11.5px 8.5px 0 rgba(21, 12, 34, 0.08);
        }
    }

    .physicalConatiner {
        .txtdvVideo {
            margin-top: 20px;

            a {
                font-size: 12px;
                padding-right: 20px;
                line-height: 0.75;
                color: #4a90e2;

                .circle {
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    border: solid 0.6px #e0e0e0;
                    display: inline-block;
                    margin-right: 5px;
                    text-align: center;
                    padding: 4px 7px;
                    vertical-align: -3px;

                    .playBtn {
                        width: 0;
                        height: 0;
                        border-top: 4px solid transparent;
                        border-bottom: 4px solid transparent;
                        border-left: 4px solid #000;
                        display: inline-block;
                    }
                }
            }
        }
    }

    .mainCollapseDv {

        .accordion {
            dt {
                position: relative;
                margin-top: 20px;

                &.accordianHead {
                    height: 64px;
                    border-radius: 4px;
                    border: solid 1px #c7c4d2;

                    .editIcon {
                        display: none;
                    }

                    .number {
                        width: 24px;
                        height: 24px;
                        border: solid 1px #c7c4d2;
                        height: 24px;
                        display: inline-block;
                        border-radius: 50%;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 22px;
                        text-align: center;
                        color: #231f20;
                        margin-left: 6px;
                        vertical-align: 10px;
                    }
                }

                &.accordianActive {
                    border-radius: 4px;
                    box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
                    border: solid 1px #dfdde6;
                    background-color: #ffffff;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;

                    .editIcon {
                        display: none;
                    }

                    .number {
                        width: 24px;
                        height: 24px;
                        border: solid 1px #00b898;
                        background-color: rgba(0, 184, 152, 0.1);
                        height: 24px;
                        display: inline-block;
                        border-radius: 50%;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 22px;
                        text-align: center;
                        color: #231f20;
                        margin-left: 6px;
                        vertical-align: 10px;
                    }
                }

                &.accordianDone {
                    border-radius: 4px;
                    box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
                    border: solid 1px #dfdde6;
                    background-color: #ffffff;

                    .editIcon {
                        display: block;
                    }

                    .number {
                        width: 24px;
                        height: 24px;
                        background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/greenTickWhite.svg);
                        background-size: 24px 24px;
                        border: none;
                        text-indent: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        background-repeat: no-repeat;
                        vertical-align: 3px;
                    }
                }

                a {
                    text-decoration: none;
                    color: #190f27;
                    padding: 0 14px;
                    display: inline-block;
                    width: 100%;

                    &:hover {
                        text-decoration: none;
                        color: #190f27;
                    }

                    .heading {
                        display: inline-block;
                        margin: 11px 10px;

                        .headingTxt {
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 14px;
                            color: #190f27;
                            display: inline-block;
                        }

                        .headingSubTxt {
                            opacity: 0.5;
                            font-size: 12px;
                            line-height: 12px;
                            color: #190f27;
                            font-weight: normal;
                            display: inline-block;
                        }
                    }

                    .editIcon {
                        opacity: 0.5;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 0.75;
                        letter-spacing: 1px;
                        color: #190f27;
                        position: absolute;
                        top: 26px;
                        right: 26px;

                        img {
                            padding-right: 6px;
                        }
                    }


                }
            }

            dd {
                padding: 30px;
                border-radius: 4px;
                box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
                border: solid 1px #dfdde6;
                background-color: #ffffff;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-top: none;

                &.accordianBody {
                    .row {
                        margin-bottom: 30px;
                    }


                }

                .accordianLabel {
                    text-align: right;

                    label {
                        font-size: 13px;
                        line-height: 1.38;
                        text-align: right;
                        color: #190f27;
                        font-weight: normal;
                        padding-top: 10px;
                    }
                }

                .accordianInput {
                    input {
                        height: 35px;
                        border-radius: 2px;
                        border: solid 1px #c7c4d2;
                        background-color: #ffffff;
                        min-width: 200px;
                        width: 50%;
                        line-height: 35px;
                        padding: 0 12px;
                        font-size: 13px;
                        color: #190f27;
                    }

                    textarea {
                        height: 75px;
                        color: #190f27;
                        border-radius: 2px;
                        border: solid 1px #c7c4d2;
                        background-color: #ffffff;
                        min-width: 200px;
                        width: 50%;
                        line-height: 1.4;
                        padding: 8px 12px;
                        font-size: 13px;
                    }

                    select {
                        height: 35px;
                        line-height: 35px;
                        background-color: #ffffff;
                        min-width: 200px;
                        width: 50%;
                        font-size: 13px;
                        padding: 0 12px;
                        color: #190f27;
                    }

                    span {
                        opacity: 0.62;
                        font-size: 12px;
                        line-height: 1.67;
                        color: #190f27;
                        display: inline-block;
                        margin-top: -15px;
                    }

                    .currencySymbol {
                        display: inline-block;
                        width: 44px;
                        height: 45px;
                        border-radius: 4px;
                        border: solid 1px rgba(25, 15, 39, 0.2);
                        background-color: #ffffff;
                        text-align: center;
                        line-height: 44px;
                        margin-right: 15px;
                        cursor: pointer;
                        position: relative;
                        opacity: 1;

                        .activeIcon {
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/greenTickWhite.svg);
                            display: none;
                            width: 20px;
                            height: 20px;
                            background-size: 20px;
                            position: absolute;
                            right: -7px;
                            top: 4px;
                            background-color: transparent;
                            opacity: 1;
                        }

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    .choosen {
                        .activeIcon {
                            display: inline-block;
                        }
                    }

                    .inputConversion {
                        width: 50px;
                        min-width: 30px;
                        display: inline-block;
                    }

                    .pointClass {
                        opacity: 0.62;
                        font-size: 13px;
                        line-height: 1.69;
                        color: #190f27;
                        padding-left: 8px;
                        display: inline-block;
                    }

                    .limitMain {
                        margin-right: 20px;
                        display: inline-block;
                        opacity: 1;

                        .limitLabel {
                            font-size: 13px;
                            line-height: 1.69;
                            color: #190f27;
                            opacity: 1;
                        }

                        input {
                            min-width: 180px;
                            width: 25%;
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/greenTickWhite.svg);
                            background-repeat: no-repeat;
                            background-size: 16px;
                            background-position: 12px 8px;
                            padding: 0 36px;
                        }
                    }
                }
            }
        }

        .none {
            display: none;
        }

        .x-medium-button {
            .btn-disabled {
                background: #ddd;
                color: #190f27;
            }
        }
    }

    .pointbasedConatiner {
        margin: 0;

        .pointbasedSummary {
            background-color: #ffffff;
            width: 99%;
            padding: 30px 0px;
            margin: 1px auto;

            .summaryHeadDv {
                line-height: 36px;

                .summaryHeadTxt {
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 36px;
                    color: #190f27;
                    margin: 0 20px;
                }
            }

            .summaryBodyDv {
                @media (min-width: 1600px) {
                    .col-lg-3 {
                        width: 25%;
                    }
                }

                margin: 0 20px;

                .summaryBodyDvX {
                    background-color: #f2f2f2;
                    padding: 27px 0;
                    text-align: center;
                }

                .summaryBodyDv1 {
                    padding: 27px 0 7px 12px;
                    border-top: solid 1px #e8e8e8;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    border-bottom: solid 1px #e8e8e8;
                    border-left: solid 1px #e8e8e8;

                    .totalPointImg {
                        width: 40px;
                        height: 40px;
                        background-color: #DFD8ED;
                        border-radius: 50%;
                        text-align: center;
                        display: inline-block;
                        line-height: 40px;
                        vertical-align: 38px;

                        img {
                            // width: 16px;
                            // height: 16px;
                        }
                    }
                }

                .summaryBodyDv2 {
                    border-bottom: solid 1px #e8e8e8;
                    border-top: solid 1px #e8e8e8;
                }

                .summaryBodyDv2::before {
                    content: '=';
                    background: #fff;
                    border: 1px solid #ede6f8;
                    border-radius: 50%;
                    display: inline-block;
                    top: 37px;
                    left: -15px;
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    font-family: ProximaNova;
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    text-align: center;
                    color: #633ea5;
                }

                .summaryBodyDv3 {
                    border: solid 1px #e8e8e8;


                }

                .summaryBodyDv3::before {
                    content: '+';
                    background: #fff;
                    border: 1px solid #ede6f8;
                    border-radius: 50%;
                    display: inline-block;
                    top: 37px;
                    left: -16px;
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    font-family: ProximaNova;
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    text-align: center;
                    color: #633ea5;
                }

                .summaryBodyDv4 {
                    border-top: solid 1px #e8e8e8;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    border-bottom: solid 1px #e8e8e8;
                    border-right: solid 1px #e8e8e8;
                }

                .summaryBodyDv4::before {
                    content: '+';
                    background: #fff;
                    border: 1px solid #ede6f8;
                    border-radius: 50%;
                    display: inline-block;
                    top: 37px;
                    left: -16px;
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    font-family: ProximaNova;
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    text-align: center;
                    color: #633ea5;
                }

                .totalPointTxt {
                    display: inline-block;
                    padding: 0 0 0 10px;
                    text-align: left;

                    .totalPointTxt1 {
                        opacity: 0.7;
                        font-size: 14px;
                        color: #190f27;
                    }
                }

                .totalPointTxt2 {
                    display: inline;
                    font-size: 22px;
                    font-weight: normal;
                    color: #190f27;
                }

                .totalPointTxt3 {
                    display: inline;
                    font-size: 12px;
                    color: #4a90e2;
                    visibility: hidden;
                }
            }
        }


        .pointbasedPolicy {
            border-radius: 4px;
            box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
            border: solid 1px #dfdde6;
            background-color: #ffffff;
            margin-bottom: 30px;

            .pointbasedPolicyHead {
                padding: 14px 6px;
                margin: 0;

                .pointbasedPolicyHeadSubTxt {
                    opacity: 0.6;
                    font-size: 12px;
                    line-height: 1.5;
                    color: #190f27;
                }

                .pointbasedPolicyHeadTxt {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 0.94;
                    color: #190f27;
                }
            }

            .straight-line {
                margin: 0;
            }

            .pointbasedPolicyBody {
                padding: 16px 20px;

                .pointbasedPolicyName {
                    line-height: 32px;
                    font-size: 12px;
                    font-weight: 600;
                    color: #190f27;
                }

                .pointbasedPolicyValue {
                    line-height: 32px;
                    font-size: 13px;
                    color: #190f27;

                    input {
                        line-height: 30px;
                        border: none;
                        border-radius: 0;
                        height: 30px;
                        width: 100%;
                        // min-width: 50%;
                        padding: 0 10px;
                    }

                    textarea {
                        border: none;
                        border-radius: 0;
                        min-width: 50%;
                    }
                }

                .straight-line {
                    margin: 16px 0;
                }
            }


            .editIcon {
                opacity: 0.5;
                font-size: 12px;
                font-weight: 600;
                line-height: 40px;
                letter-spacing: 1px;
                color: #190f27;
                float: right;
                text-transform: uppercase;

                img {
                    margin-right: 6px;
                    vertical-align: -2px;
                }
            }
        }

    }

    .reward-issue-container {
        padding: 30px 30px;
        background: #fff;
        margin: 30px 12px;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);

        #rewarded-table-render {
            background: #fff;
            margin: 0 auto;
        }
    }

    #errorSelectGiftingTransfers {
        overflow-x: scroll;
    }

    .custom-table-rnr {
        tr th {
            background-color: #666666;
            border: unset;
            line-height: 24px;
            padding: 8px 10px!important;
        }

        tr td {
            // padding: 5px 20px 5px 20px !important;
            padding: 5px 10px!important;
            font-size: 12px;
        }

        tbody>tr:nth-child(even) {
            background-color: #f2f2f2;
            border-left: unset;
            border-top: unset;
            border-bottom: unset;

            &:hover {
                border-left: unset;
                border-top: unset;
                border-bottom: unset;
            }
        }

        .thumbnail-profile-view {
            display: table;
            width: 100%;
            min-height: 60px;

            .thumbnail-profile-row {
                display: table-row;

                .thumbnail-profile-icon {
                    display: table-cell;
                    width: 50px;
                    vertical-align: middle;

                    .img-shawdow {
                        box-shadow: 0px 4px 4px 1px #ccc;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                    .thumbnail-profile-name {
                        background: #ccc;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        text-align: center;
                        text-transform:uppercase;
                        p{
                            font-size: 18px;                            
                            line-height: 40px;
                            font-weight: bold;
                            color:#fff;    
                            opacity: 1;
                        }
                    }
                }

                .thumbnail-profile-details {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 10px;
                    text-align: left;                    

                    h6 {
                        text-transform: capitalize;
                        font-size: 12px;
                        line-height: 15px;
                        text-decoration: underline;
                        font-weight: 600;
                        margin: 0px 0px 5px;
                    }

                    p {
                        font-size: 10px;
                        line-height: 9px;
                        color: #000;
                        opacity: 0.7;
                    }

                    .text-ellipsis-show-email {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100px;
                        line-height: 10px;
                        white-space: nowrap;
                        word-break: break-all;

                        &:hover {
                            overflow: visible;
                            white-space: normal;
                            height: auto;
                        }
                    }
                }
            }
        }

        thead {
            border: 1px solid #666;
        }

        tr th:last-child {
            border-right: 2px solid #666 !important;
        }

        .custom-padding {
            padding: 15px 20px 15px 10px !important;
        }

        .tool-tip-rnr {
            border-bottom: 1px dotted;

            .tool-tip-text {
                border-radius: 3px;
                padding: 5px 7px;
                z-index: 1;
                top: 50%;
                left: 25px;
                width: 180px;
                text-align: left;
                font-size: 11px;
                line-height: 1.36;
                letter-spacing: 0.3px;
                transform: translateY(-50%);

            }

            .tool-tip-text__p {
                color: #ffffff;
            }
        }
        .loading-content{
            tr{
                td{
                    padding: 15px 10px !important;
                }
            }
        }
    }

    .custom-table-rnr__order {
        tr {
            th{
                font-size: 14px;
                padding: 14px 20px !important;
            }
            td {
                font-size: 14px;
                padding: 14px 20px !important;
            }
        }

        ;

        tr:last-child {
            td {
                font-size: 14px;
                font-weight: bold;
            }
        }

        ;
    }

    .dropdown {
        text-align: center;

        .x-medium-button {
            background: #ffbc00;
            color: #fff;
            height: 44px;
            font-size: 12px;
            text-transform: uppercase;
            line-height: 44px;
            border-radius: 2px;
            font-weight: 600;
            letter-spacing: 1px;
            padding-top: 0 !important;
            padding: 0 20px;
        }

        .caret {
            margin-left: 10px;
            height: 8px;
        }

        .dropdown-menu {
            li {
                border-radius: 2px;

                a {
                    font-size: 12px;
                    font-weight: 400;
                    text-transform: uppercase;
                    line-height: 30px;
                    color: #190f27;
                }
            }
        }
    }


}

.table-widgets-container {
    margin: 0px;
    padding: 0px;
    text-align: right;
    margin-right: 20px;

    li {
        list-style-type: none;
        display: inline-block;
        vertical-align: middle;
        padding-left: 12px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.container-certificate {
    background: #fff !important;

    hr {
        border-top: 2px solid #dfdde6;
        width: 88%;
    }

    .modal-certificate {
        text-align: center;
        padding: 0px;
        margin: 15px;
        border: 1px solid #ccc;
    }

    .header-image {
        max-width: 100%;
        position: relative;
    }

    .badge-logo {
        position: absolute;
        left: 44px;
        top: 33px;
        width: 44px;
        border: 4PX SOLID #FFFF;
        border-radius: 50%;
    } 

    .header-award {
        font-family: HelveticaNeue-Light;
        font-size: 46px;
    }

    .header-title {
        font-family: HelveticaNeue-Light;
        font-size: 46px;
        font-weight: 600;
    }

    .body-award {
        width: 100%;
        background-color: #231f20;
        color: #ffffff;
        height: 52px;
        line-height: 52px;
        font-size: 26px;
    }

    .award-member-name {
        font-size: 46px;
        font-family: HelveticaNeue-Bold;
        font-weight: bold;
        margin-top: 15px;
    }

    .award-member-description {
        font-family: HelveticaNeue;
        font-size: 15.5px;
        font-weight: 300;
        width: 85%;
        margin: 0 auto;
    }

    .certificate-footer {
        display: inline-block;
        margin: 50px 0px 20px 0px;

        .certificate-footer-div {
            display: inline-block;
            width: 40%;
            vertical-align: top;
        }

        .certificate-footer-img {
            position: absolute;
            right: 0;
            bottom: 0px;

            img {
                width: 130px;
                vertical-align: unset;
            }
        }
    }


}

.custom-box__point {
    padding: 10px 30px 20px !important;

    .container-point-issue {
        p {
            font-size: 20px;
            line-height: 0.75;
            padding-top: 20px;
            padding-bottom: 10px;
            color: #000;
            font-weight:600;
        }
    }

    .container-point-header {
        font-size: 13px;
        line-height: 35px;

        .container-point-para {
            color: #000;
            opacity: 0.7;
            font-size: 13px;
        }

        .container-point-span {
            opacity: 0.7;
            font-size: 13px;
        }
    }

    .btn-default[disabled] {
        background-color: #ccc;
    }

}

.file-main-container__point {
    margin-top: 0px;
}

.select-custom-point {
    width: 247px;

    label {
        font-weight: normal;
    }

    select.input-lg {
        height: 36px;
        line-height: unset;
        padding: 4px 11px;
    }


}

.program-code-list-wrpr__point {
    h3 {
        font-size: 18px !important;
        margin-bottom: 20px !important;
        margin-top: 15px;
    }

}

.project-text{
    font-size: 10px;
    opacity: 0.5;
    color: #000;
}

.error-list-headers{
    margin-top: 10px;
    font-weight: 900;
    ol{
        text-align: left;
        margin-left: 30%;
        li{            

        }
    }
}