.inner-container {
    .instagift-banner {
        margin-top: 0px;
        padding-bottom: 30px;
        @include gradient(#d80063, #eb3b8c, horizontal);
        .page-heading {
            h1 {
                font-size: 24px;
                font-weight: $font-weight-regular;
            }
        }
    }
}

.instagift_container {
    .step-list {
        padding: 0 10px;
        h4,
        h5 {
            margin-top: 0;
            font-weight: $font-weight-bold;
        }
        h5 {
            color: $color-medium-block;
        }
        ul {
            margin-top: 30px;
            padding-left: 10px;
            list-style: none;
            li {
                color: $color-medium-block;
                position: relative;
                p {
                    opacity: 0.7;
                }
                &:before {
                    position: absolute;
                    top: 2px;
                    left: -15px;
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-radius: 1px;
                    background-color: $color-white-lilac;
                }
            }
        }
    }
    .card-section img {
        box-shadow: none;
        margin:0 auto;
        display: block;
        height: 120px;
    }
    .control-center-wrap {
        &:before {
            content:'';
            position: absolute;
            left:0;
            background: $border-line-darker;
            width: 1px;
            height: 100%;
            top: 0;
        }
        a {
            color: inherit;
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }
            img {
                margin-bottom: 25px;
            }
            p {
                opacity: .7;
            }
        }
        .request {
            display: none;
            .bdr {
                width: 6px;
                height: 6px;
                background-color: $color-blue;
                border-radius: 50%;
                display: inline-block;
                position: relative;
                left: -10px;
                top: -1px;
                &:before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    opacity: 0.4;
                    -webkit-filter: blur(2px);
                    filter: blur(2px);
                    background-color: $color-blue;
                    position: absolute;
                    left: -3px;
                    top: -3px;
                    border-radius: 50%
                }
            }
            .request-number {
                color: $color-blue;
                font-size: $font-size-small;
            }
        }
    }
    .time {
        opacity: 0.5;
        font-size: $font-size-small;
    }
}

.page-heading-overview {
    .active {
        color:$color-medium-green;
        display:inline-block;
    }
    ul {
        position: relative;
    }
    li {
        margin-left: 110px;
        .title {
            position: absolute;
            left:0;
        }
        .balance {
            margin-top: -10px;
            display: block;
        }
    }
}
.transferDate {
    color: $color-white;
    opacity: .6;
    position: relative;
    top: -5px;
    left: 10px;
    font-size: $font-size-small;
}
.instagift_status_completed {
    color: #00b898;
}
.instagift_status_scheduled {
    color: #8c8793;
}
.instagift_status_processing {
    color: $color-orange;
}
.instagift_status_pending {
    color: #f89406;
} 
.instagift_status_stalled {
    color: $color-red;
}
.text-capitalize {
    text-transform: capitalize;
}
.transfer-detail-search {
    width: 550px;
}
.statusMessage {
    color: #8c8793;
}
.filter-amount {
    font-size: 12px!important;
    margin-top: 8px;
}
#instagiftPayoutFilters .filter-wrpr {
    height: 90px;
}
.tooltip_report {
    .tooltip-view {
        width: 210px!important;
        left: -12px!important;
        margin-top: -15px;
    }
}
.report-loader {
    position: relative;
    &:after {
        content:'';
        background: url('https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif') no-repeat;
        width: 20px;
        height: 20px;
        background-size: 100%;
        position: absolute;
        right: 22px;
        top: 23px;
    }
}
.totalFailed {
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
}
