.reset-pin-table {
    h3 {
        color:$color-medium-block;
        font-size:$font-size-xx-regular;
    }
    h5 {
        color:$color-medium-block;
        margin:0;
        font-weight:$font-weight-bold;
    }
    .note {
        margin:20px 0;
    }
    .time {
        display:block;
        opacity:.5;
    }
    .approved {
        color: $color-green;
    }
    .declined {
        color: $color-red;
    }
    .pending {
        color:$color-orange;
    }
}
