.inner-container {
    .virtual-banner {
        margin-top: 0px;
        padding-bottom: 30px;
        @include gradient(#9F58D1, #8E5BE3, vertical);

        .page-heading {
            h1 {
                font-size: $font-size-large;
                font-weight: $font-weight-regular;
            }
        }
    }
}

#createCustomCard,
#openEmail,
#rewardSingleSelected,
#rewardTemplateSelected {
    &.btn-disabled {
        background: #ddd;
        color: #190f27;
    }
}

.reward_container {
    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-moz-keyframes fadein {

        /* Firefox */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadein {

        /* Safari and Chrome */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-o-keyframes fadein {

        /* Opera */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .custom-box {
        animation: fadein 2s;
        -moz-animation: fadein 2s;
        /* Firefox */
        -webkit-animation: fadein 2s;
        /* Safari and Chrome */
        -o-animation: fadein 2s;
        /* Opera */

        #addBenefits {
            animation: fadein 2s;
            -moz-animation: fadein 2s;
            /* Firefox */
            -webkit-animation: fadein 2s;
            /* Safari and Chrome */
            -o-animation: fadein 2s;
            /* Opera */
        }

        #chooseDesign {
            animation: fadein 2s;
            -moz-animation: fadein 2s;
            /* Firefox */
            -webkit-animation: fadein 2s;
            /* Safari and Chrome */
            -o-animation: fadein 2s;
            /* Opera */
        }

        #addBenefitsBulk {
            animation: fadein 2s;
            -moz-animation: fadein 2s;
            /* Firefox */
            -webkit-animation: fadein 2s;
            /* Safari and Chrome */
            -o-animation: fadein 2s;
            /* Opera */
        }

        #createOrder {
            animation: fadein 2s;
            -moz-animation: fadein 2s;
            /* Firefox */
            -webkit-animation: fadein 2s;
            /* Safari and Chrome */
            -o-animation: fadein 2s;
            /* Opera */
        }

        #fileErrorWrpr {
            animation: fadein 2s;
            -moz-animation: fadein 2s;
            /* Firefox */
            -webkit-animation: fadein 2s;
            /* Safari and Chrome */
            -o-animation: fadein 2s;
            /* Opera */
        }

        .rewardChooseTxt {}

        .chooseDesignRow {
            ul {
                li {
                    &:hover {}

                    .newCreateDv {
                        span {}
                    }

                    .createDv {
                        img {}
                    }

                    .newCreateTxt {}

                    &.active {
                        .active-icon {}
                    }
                }
            }
        }
    }

    .rewardPrvwTxt {}

    .rewardBlankState {
        img {}
    }

    .rewardMobileDemo {}

    .rewardEmailDemo {}

    .collapseData {
        .rewardPImageMain {}

        .rewardPImg {}

        .rewardPtitle {}

        .rewardPmoney {}

        .commonTxtsty {}

        .rewardPEImgbg {}

        .rewardPEImg {}

        .rewardPEtitle {}

        .preEmailMessage {}

        .preEmailInnerMessage {}

        .emailQuotes {}

        .rewardPEmessage {}

        .rewardPEcompany {}
    }

    .rewardEmailDemo {
        .collapseData {}
    }

    .orDiv {}

    .emptyLine {}

    #rewardBulkUpload {
        a {
            &:hover {}
        }
    }

    #addBenefitsBulk {
        .custom-box {}

        .sguploadFile {
            .bulk-upload-hdg-wrpr {}

            h3 {}

            .pageSubTxt {}
        }

        .panel-container {
            .view-image {}
        }

        #rewardManually {
            a {
                color: #4a90e2;
                text-decoration: underline;
                font-size: 12px;
                font-weight: 600;
                line-height: 1.5;
            }
        }
    }

    #createOrder {
        .custom-box {
            div.select-custom {}
        }

        .cutomBoxGrey {
            position: absolute;
            top: -1px;
            right: 0;
        }

        .orderSummaryTxt {}

        .orderSummarySTxt {}

        .orderSummarySVal {}

        .paymntTxt {}

        .form-group {
            label {}
        }

        .select-custom {
            select {}
        }

        .fundCurrntBalance {}

        .insuffFund {
            img {}
        }

        .insuffFundText {}
    }

    .rewardbenegitHead {}

    .rewardbenegitSubHead {}

    .rewardBenefitInputDv {
        span {}

        input.inputField {}

        input.removeX {}

        p {}
    }

    .benefitAddBtn {
        .plus {}
    }
}

.max10 {}

.btn-collapse {

    &:hover,
    &:active,
    &:visited {}

    span.rewardPlusMinus {}

    span.circleNumber {}

    .editGear {
        img {}
    }
}

.openCollapse {
    &:hover {}
}

@media only screen and (max-width: 1300px) and (min-width: 1200px) {
    .reward_container {
        .collapseData {
            .rewardPImg {
                max-width: 145px;
                max-height: 85px;
            }

            .rewardPEImg {
                width: 76px;
                top: 26px;
            }

            .rewardPEtitle {
                top: 82px;
            }

            .btn-collapse {
                span.rewardPlusMinus {
                    margin-left: 48%;
                }
            }
        }

        span.rewardPlusMinus {
            margin-left: 50%;
        }
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1301px) {
    .reward_container {
        .collapseData {
            .rewardPImg {
                max-width: 170px;
                max-height: 95px;
                left: 36px;
            }

            .rewardPEImg {
                width: 78px;
                top: 26px;
            }

            .rewardPEtitle {
                top: 82px;
            }

            .btn-collapse {
                span.rewardPlusMinus {
                    margin-left: 50%;
                }
            }
        }

        span.rewardPlusMinus {
            margin-left: 50%;
        }
    }
}

.beneficiaries-input {}

.spotlight-padding-top {}

.spotlight-padding-left {}

.input-error {}

.virtualManual {

    .zeta-col1,
    .zeta-col3,
    .zeta-col4 {
        float: left;
        width: 44%;
        margin: 0 20px 20px 0;

        input.inputField {
            width: 100%;
            color: #190f27;

            &::placeholder {
                color: #bebbc2;
            }
        }
    }

    .zeta-col3 {
        .tooltip-custom {
            position: relative; // display: inline-block;
            // border-bottom: 1px dotted black;
        }

        .tooltip-custom .tooltiptext {
            visibility: hidden;
            width: 100%;
            color: #fff;
            text-align: center;
            border-radius: 4px;
            padding: 9px 7px 12px 7px;
            position: absolute;
            z-index: 3;
            top: 44px;
            left: 18.5%;
            margin-left: -60px;
            font-size: 11px;
            border-radius: 1px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
            background-color: #ffffff;
            border: solid 1px #c7c4d2;

            .inner-suggestion-container {

                // padding: 10px;  
                .inner-suggestion-p {
                    font-size: 11px;
                    display: block;
                    text-transform: uppercase;
                    color: #190f27;
                    opacity: 0.8;
                    text-align: left;
                    padding: 0 6px 9px;
                    line-height: 1.8;
                    font-weight: 100;
                }
                .inner-suggestion-p-kotak {
                    display: none;
                }

                .inner-suggestion-amount {
                    .inner-suggestion-list {
                        width: 100%;
                        text-align: left;
                        display: inline-block;
                        padding: 0px;

                        div {
                            padding: 10px;
                            margin-left: 5px;
                            border-radius: 2px;
                            background-color: #ffffff;
                            border: solid 1px #c7c4d2;
                            color: #190f27;
                            display: inline-block;
                            cursor: pointer;
                            font-weight: 200;

                            &:hover {
                                background-color: #e9e6ed;
                                border: solid 1px #c7c4d2;
                                cursor: pointer;
                            }
                        }
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid #fff;
                    top: -5px;
                    z-index: 2;
                    left: 46px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    left: 30px;
                    position: absolute;
                    left: 46px;
                    border-bottom: 6px solid #c7c4d3;
                    top: -7px;
                    z-index: 1;
                }
            }
        }

        .tooltip-custom .tooltiptext::after {
            content: "";
            position: absolute;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #fff;
            top: -5px;
            z-index: 2;
            left: 46px;
        }

        .tooltip-custom .tooltiptext::before {
            content: "";
            position: absolute;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            left: 30px;
            position: absolute;
            left: 46px;
            border-bottom: 6px solid #c7c4d3;
            top: -7px;
            z-index: 1;
        }

        @keyframes fadeInOpacity {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .tooltip-custom:focus-within .tooltiptext {
            visibility: visible;
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.5s;
        }

        .tooltip-custom:hover .tooltiptext {
            visibility: hidden;
        }

        .tooltip-custom:active .tooltiptext {
            visibility: visible;
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.5s;
        }

        .tooltip-custom:focus-within .tooltiptext {
            visibility: visible;
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.5s;
        }

        .tooltip-custom:visited .tooltiptext {
            visibility: visible;
        }
    }

    .zeta-col2,
    .zeta-Date {
        float: left;
        width: 24%;
        margin: 0 20px 20px 0;

        input.inputField {
            width: 100%;
        }

        .form-group {
            margin: 0;

            .input-group {
                input.datepicker-img {
                    height: 35px;
                    border-radius: 2px;
                    background-color: #fff;
                    border: 1px solid #c7c4d2;
                    font-size: 13px;
                    display: inline-block;
                    padding: 0 6px;
                    line-height: 35px;
                }

                .date-picker input[type=text] {
                    background-position: 90% 9px;
                    color: #bebbc2;
                }
            }
        }
    }

    .zeta-Date {
        margin: 0 0 12px 0;
    }

    .benefitAddBtn {
        display: inline-block;
        padding-left: 0;
        margin-top: 10px;

        span {
            text-decoration: none;
        }
    }

    .rewardBenefitInputDv {
        margin: 0px;
        clear: both;
                
        .inner-suggestion-p-kotak {
            display: none!important;
        }

        &.kotakBeneficiary {
            .inner-suggestion-p-kotak {
                display: block!important;
            }
        }
    }

    .manualBenefitHead {
        margin: 0 0 10px 0;
        display: inline-block;
        width: 87%;

        span.dottedLine {
            width: 85%;
            margin-right: 6px;
            display: inline-block;
            border-top: 1px dashed #c7c4d2;
            margin: 0 4px 3px 0;
        }

        .removeX {
            color: #8c8793 !important;
            font-size: 13px !important;

            &:hover {
                opacity: 0.7;
            }
        }

        span.dottedLineFull {
            width: 96%;
        }
    }

    ol.beneficiaries-input {
        list-style-type: none;
        counter-reset: elementcounter;
        padding-left: 0;
    }

    li:before {
        content: "BENEFICIARY "counter(elementcounter)".";
        counter-increment: elementcounter;
        font-size: 11px;
        opacity: 0.5;
        color: #190f27;
    }
}

.zeta-col5 {}

.spinner-loader {}

.card-design-image {
    width: 34px;
    height: auto;
}

.btn-default[disabled]:hover {
    background-color: #ffbc00;
}