.inner-container {
    .reward-banner {
        padding-top: 30px;
        margin-top: 0px;
        padding-bottom: 30px;
        @include gradient(#ff5555, #e8a1ff, horizontal);

        .page-heading {
            h1 {
                font-size: $font-size-large;
                font-weight: $font-weight-regular;
            }
        }
    }
}

#createCustomCard,
#openEmail,
#rewardSingleSelected,
#rewardTemplateSelected {
    &.btn-disabled {
        background: #ddd;
        color: #190f27;
    }
}

.reward_container {
    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-moz-keyframes fadein {

        /* Firefox */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadein {

        /* Safari and Chrome */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-o-keyframes fadein {

        /* Opera */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .custom-box {
        padding: 30px 5px 30px 30px;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
        background-color: #ffffff;
        border: solid 1px #dfdde6;
        animation: fadein 2s;
        -moz-animation: fadein 2s;
        /* Firefox */
        -webkit-animation: fadein 2s;
        /* Safari and Chrome */
        -o-animation: fadein 2s;

        /* Opera */
        &::after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

        .rewardChooseTxt {
            font-size: 20px;
            line-height: 1.5;
            color: #190f27;
            padding: 0 0 20px 0;
        }

        .chooseDesignRow {
            width: 100%;
            margin: 0 0 15px 0;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                width: 100%;

                li {
                    width: 23%;
                    height: 135px;
                    border-radius: 3.4px;
                    box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
                    background-color: #ffffff;
                    border: solid 1px #dfdde6;
                    padding: 10px;
                    cursor: pointer;
                    transition: all 0.5s;
                    margin: 0 10px 10px 0;
                    float: left;

                    &:hover {
                        box-shadow: 0 3px 6px 0 rgba(20, 12, 33, 0.18);
                    }

                    .newCreateDv {
                        width: 100%;
                        height: 90px;
                        background: #c9cadc;
                        border-radius: 4px;
                        text-align: center;

                        span {
                            display: inline-block;
                            font-size: 30px;
                            color: #fff;
                            font-weight: bold;
                            margin: 24px 0;
                        }
                    }

                    .createDv {
                        width: 100%;
                        height: 90px;
                        border-radius: 4px;
                        text-align: center;

                        img {
                            max-width: 100%;
                            width: 100%;
                            border-radius: 4px;
                            min-height: 90px;
                        }
                    }

                    .ellipsis {
                        margin-top: 8px;
                    }

                    .newCreateTxt {
                        font-size: 12px;
                        line-height: 1.5;
                        color: #190f27;
                        margin-top: 8px;
                    }

                    &.active {
                        border-color: #00b898;
                        position: relative;
                        box-shadow: 0 3px 6px 0 rgba(20, 12, 33, 0.18);

                        .active-icon {
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/greenTickWhite.svg);
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            background-size: 24px;
                            position: absolute;
                            right: -9px;
                            top: -13px;
                            background-color: transparent;
                        }
                    }

                }
            }
        }
    }

    .rewardPrvwTxt {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        opacity: 0.5;
        color: #190f27;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .rewardBlankState {
        img {
            max-width: 100%;
        }
    }

    .rewardMobileDemo {}

    .rewardEmailDemo {
        margin-top: 20px;
    }

    .collapseData {
        border-radius: 4px;
        width: 100%;
        max-width: 260px;
        background-color: #e5e2ea;
        border: solid 1px #c7c4d2;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 10px;
        position: relative;
        padding-bottom: 0;

        .rewardPImageMain {
            max-width: 100%;
            margin: 0 10px;
        }

        .rewardPImg {
            position: absolute;
            z-index: 10;
            top: 56px;
            left: 35px;
            max-width: 185px;
            max-height: 105px;
            width: 100%;
        }

        .rewardPtitle {
            position: absolute;
            z-index: 100;
            top: 60px;
            left: 50px;
        }

        .rewardPmoney {
            position: absolute;
            z-index: 100;
            top: 60px;
            right: 48px;
        }

        .commonTxtsty {
            font-size: 8px;
            line-height: 1.5;
            letter-spacing: 0.1px;
            color: #ffffff;
        }

        .rewardPEImgbg {
            max-width: 100%;
        }

        .rewardPEImg {
            position: absolute;
            width: 80px;
            left: 0;
            right: 0;
            margin: auto;
            top: 34px;
        }

        .rewardPEtitle {
            position: absolute;
            top: 94px;
            font-size: 12px;
            font-weight: bold;
            left: 0;
            right: 0;
            margin: auto;
            line-height: 1.19;
            color: #ffffff;
        }

        .preEmailMessage {
            border: 1px dashed #c7c4d2;
            border-top: none;
            background: #fff;
            text-align: center;
            padding: 10px;
            position: relative;
        }

        .preEmailInnerMessage {
            border-radius: 4px;
            background-color: #e9e6ee;
            padding: 20px 10px;
        }

        .emailQuotes {
            color: #b8b1c2;
            position: absolute;
            top: -10px;
            right: 16px;
            font-size: 50px;
            z-index: 10;
        }

        .rewardPEmessage {
            opacity: 0.9;
            font-size: 11px;
            line-height: 1.82;
            text-align: center;
            color: #190f27;
        }

        .rewardPEcompany {
            opacity: 0.6;
            font-size: 10px;
            font-style: italic;
            line-height: 1.22;
            text-align: center;
            color: #190f27;
        }
    }

    .rewardEmailDemo {
        margin-top: 20px;

        .collapseData {
            padding-bottom: 10px;
            text-align: center;
        }
    }

    .orDiv {
        opacity: 0.5;
        font-size: 13px;
        font-weight: 600;
        color: #190f27;
        margin: 20px 0;
    }

    .emptyLine {
        display: inline-block;
        height: 2px;
        border-top: solid 1px #c7c4d2;
        width: 90%;
        margin: 0 20px;
    }

    #rewardBulkUpload {
        a {
            width: 100%;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.5;
            color: #4a90e2;
            text-decoration: underline;

            &:hover {
                color: #4a90e2;
                text-decoration: none;
            }
        }
    }

    #addBenefitsBulk {
        .custom-box {
            padding: 20px 30px 30px 30px;
        }

        .sguploadFile {
            .bulk-upload-hdg-wrpr {
                margin: 0;
            }

            h3 {
                margin: 0;
                padding: 0;
            }

            .pageSubTxt {
                opacity: 0.7;
                font-size: 14px;
                line-height: 1.5;
            }
        }

        .panel-container {
            margin-top: 36px;
            margin-left: 0;

            .view-image {
                height: 130px;
            }
        }
    }

    #createOrder {
        .custom-box {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-left: 0;
            padding: 30px;

            div.select-custom {
                width: 80%;
            }
        }

        .cutomBoxGrey {
            background: #f5f4f6 !important;
            width: 250px !important;
            border-bottom-right-radius: 0;
            display: none;
            border-top-right-radius: 0;
            border-right: 0;
        }

        .orderSummaryTxt {
            opacity: 0.5;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #190f27;
            margin: 0 0 20px 0;
        }

        .orderSummarySTxt {
            opacity: 0.7;
            font-size: 12px;
            line-height: 0.75;
            color: #190f27;
        }

        .orderSummarySVal {
            font-size: 12px;
            font-weight: 600;
            color: #190f27;
            margin: 4px 0 20px 0;
        }

        .paymntTxt {
            font-size: 20px;
            line-height: 0.75;
            color: #190f27;
            margin: 0 0 20px 0;
        }

        .form-group {
            label {
                font-weight: normal
            }
        }

        .select-custom {
            select {
                line-height: normal
            }
        }

        .fundCurrntBalance {
            font-size: 13px;
            line-height: 1.54;
            color: #190f27;
            margin-bottom: 10px;
        }

        .insuffFund {
            font-size: 13px;
            line-height: 13px;
            color: #ffa500;
            margin: 0 10px;
            font-weight: 600;

            img {
                width: 13px;
                height: 13px;
                margin-right: 2px;
                vertical-align: -2px;
            }
        }

        .insuffFundText {
            opacity: 1.0;
            font-size: 12px;
            line-height: 1.5;
            color: #190f27;
            margin: 20px 0;
        }

    }



    .rewardbenegitHead {
        font-size: 20px;
        line-height: 1.5;
        color: #190f27;
    }

    .rewardbenegitSubHead {
        opacity: 0.7;
        font-size: 14px;
        line-height: 1.5;
        color: #190f27;
        padding-top: 6px;
        padding-bottom: 10px;
    }

    .rewardBenefitInputDv {
        margin: 20px 0px 35px 0px;

        span {
            font-size: 13px;
            font-weight: 600;
            line-height: 1.15;
            color: #190f27;
            display: inline-block;
            margin-right: 6px;
        }

        input.inputField {
            height: 35px;
            border-radius: 2px;
            background-color: #ffffff;
            border: solid 1px #c7c4d2;
            margin: 0 8px 0 0;
            font-size: 13px;
            display: inline-block;
            padding: 0 6px;
            line-height: 35px;
            width: 142px;
        }

        .custom-border {
            border-radius: 0px 2px 2px 0px !important;
        }

        input.removeX {
            color: #190f27;
            opacity: 0.5;
            font-weight: bold;
            font-size: 14px;
            display: inline-block;
            border: 0;
            padding: 0;
            cursor: pointer;
            margin-left: -5px;
            margin-top: 8px;
        }

        p {
            font-size: 12px;
            color: red;
            text-align: left;
            display: none;
        }
    }

    .benefitAddBtn {
        color: #4a90e2;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 20px;
        cursor: pointer;
        padding-left: 15px;

        .plus {
            display: inline-block;
            color: #4a90e2;
            border: 1px solid #4a90e2;
            font-size: 14px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            line-height: 14px;
            text-align: center;
            margin-right: 8px;
        }

        p {
            text-decoration: underline;
        }

        &:hover {
            p {
                text-decoration: none !important;
            }
        }
    }
}

.max10 {
    color: rgba(25, 15, 39, 0.5);
    text-decoration: none;
}

.btn-collapse {
    width: 100%;
    padding: 10px;
    max-width: 260px;
    cursor: default;
    border-radius: 4px;
    background-color: #e5e2ea;
    border: solid 1px #c7c4d2;
    font-size: 14px;
    font-weight: 600;
    line-height: 0.94;
    color: #190f27;
    text-align: left;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:hover,
    &:active,
    &:visited {
        cursor: default;
        background-color: #e5e2ea;
        border: solid 1px #c7c4d2;
        color: #190f27;
        border-radius: 4px;
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    // span.rewardPlusMinus{color: #190f27;border:1px solid #190f27; font-size:12px;
    //     display:inline-block;border-radius:50%;width:12px;height:12px;line-height: 12px;
    //     text-align: center;opacity: 0.7;margin-left:56%;
    // }
    span.circleNumber {
        display: inline-block;
        width: 24px;
        height: 24px;
        border: 1px solid #00b898;
        border-radius: 50%;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        margin-right: 10px;
    }

    .editGear {
        float: right;
        font-size: 12px;
        line-height: 64px;
        color: #190f27;
        opacity: 0.5;

        img {
            width: 12px;
            height: 12px;
            margin: 10px;
        }
    }
}

// .openCollapse{
//     border-bottom:none;border-bottom-left-radius: 0;border-bottom-right-radius: 0;
//    &:hover{border-bottom:none;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
// }
.virtualManual {
    .zeta-col3 {
        .tooltip-custom {
            .rewardTootltip {
                left: 36.5% !important;
                bottom: -512% !important;

                .inner-suggestion-list {
                    div {
                        margin-bottom: 8px !important;
                    }
                }
            }
        }
    }
}

#newTemplateCreate {

    .x-medium-button {
        width: 100%;

        .btn {
            width: 100%;
        }
    }

    .custom-modalbox {
        width: 100%;
        max-width: 710px;
        border-radius: 4px;
        background-color: #e9e6ed;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        margin: 30px;

        .modalHeadTxt {
            font-size: 18px;
            line-height: 0.83;
            text-align: center;
            color: #190f27;
            margin-top: 20px;
        }

        .custom-modal-body {
            border-radius: 4px;
            box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
            margin: 30px;
            padding: 0;
        }

        .collapseData {
            padding: 0 20px 20px;
            border-top: 0;
            background: #fff;
            border-radius: 4px;
            height: inherit !important;

            .row {
                border-top: 1px solid #ccc8d4;
                padding-top: 20px;
                background: #fff;
            }
        }

        .modalPhoneDeign {
            margin-bottom: 20px;
            background-color: #ffffff;
            box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
            border-radius: 4px;
            border: none;

            .btn-collapse {
                background-color: #fff;
                max-width: none;
                border: none;

                &:hover {
                    background-color: #fff;
                    cursor: pointer;
                    border: none;
                }
            }
        }
    }

    .modal-content {
        background-color: #e9e6ed;
        max-height: 700px;
        overflow-y: scroll;
    }

    .modalinputBox {
        width: 90%;
        height: 35px;
        line-height: 35px;
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #c7c4d2;
        padding: 6px 12px;
        font-size: 13px;
        color: #190f27;
    }

    .modalCardTitle {
        font-size: 13px;
        line-height: 1.69;
        text-align: left;
        color: #190f27;
    }

    .modalCardInput {
        margin: 10px 0;
    }

    .modalCards {
        width: 100%;
        max-height: 160px;
        height: 160px;
        overflow-x: scroll;
        border-radius: 1.4px;
        padding: 8px 0 8px 8px;
        margin: 10px 0;
        background-color: #e9e6ed;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                width: 30%;
                margin: 0 8px 8px 0;
                cursor: pointer;
                position: relative;

                img.chooseTick {
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    display: none;
                }

                div {
                    width: 100%;

                    img {
                        max-width: 100%;
                        border-radius: 2px;
                    }
                }
            }
        }
    }

    .prvwTxt {
        opacity: 0.5;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: left;
        color: #190f27;
    }

    .prewImgContainer {
        margin-top: 10px;
        border-radius: 2px;
        border: dashed 1px #c7c4d2;
        padding: 28px 20px 0 20px;
        width: 100%;
        position: relative;

        img.imageonPhone {
            max-width: 100%;
        }

        .imageonPhoneCard {
            position: absolute;
            z-index: 10;
            top: 76px;
            width: 68%;
            left: -14px;
            right: 0;
            margin: auto;
            border-radius: 2px;
        }

        .textonPhone {
            position: absolute;
            top: 80px;
            left: 36px;
            font-size: 10px;
            color: #fff;
            z-index: 100;
        }

        .moneyonPhone {
            position: absolute;
            top: 80px;
            right: 54px;
            font-size: 10px;
            color: #fff;
            z-index: 100;
        }
    }

    .modalEmailDesign {
        margin-bottom: 0 !important;

        .emailTextarea {
            height: 196px;
            width: 90%;
            border-radius: 2px;
            background-color: #fff;
            border: 1px solid #c7c4d2;
            padding: 6px 12px;
            font-size: 13px;
        }

        .emailProTip {
            opacity: 0.7;
            font-size: 12px;
            line-height: 1.58;
            color: #190f27;
            margin-bottom: 14px;
        }

        .emailGreeting {
            position: absolute;
            top: 82px;
            left: 0;
            right: 0;
            margin: auto;
            color: #fff;
            font-size: 12px;
            display: inline-block;
            width: 99%;
        }

        .prewImgContainer {
            border: none;
            padding: 0;
            text-align: center;

            .imageonPhone {}

            .imageonPhoneCard {
                top: 18px;
                width: 40%;
                left: 0;
            }

            .textonPhone {
                top: 22px;
                left: 75px;
                font-size: 7px;
            }

            .moneyonPhone {
                top: 22px;
                right: 75px;
                font-size: 7px;
            }

        }
    }

    .emailMainDv {
        width: 99%;
        margin: 0 auto;
        border: 1px dashed #c7c4d2;
        border-top: none;
        padding: 20px;
        position: relative;

        .emailQuotes {
            color: #b8b1c2;
            position: absolute;
            top: -2px;
            right: 20px;
            font-size: 50px;
            z-index: 10;
        }
    }

    .emailSubDv {
        padding: 10px;
        opacity: 0.5;
        border-radius: 2px;
        background-color: #e9e6ee;
        text-align: center;

        .greetingEmail {
            font-size: 10px;
            line-height: 1.5;
            color: #190f27;
            opacity: 0.9;
        }

        .greetingCompany {
            opacity: 0.6;
            padding-top: 10px;
            font-size: 9px;
            font-style: italic;
            line-height: 1.63;
            color: #190f27;
        }
    }

    .actvUrCard {
        color: #fff;
        font-size: 8px;
        line-height: 8px;
        background: #ffbc00;
        width: 60%;
        margin: 20px auto;
        padding: 5px 10px;
        text-align: center;
        border-radius: 8px;
        text-transform: uppercase;
    }

    .orDv {
        opacity: 0.7;
        line-height: normal;
        color: #190f27;
        text-align: center;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .downloadTxt {
        opacity: 0.5;
        font-size: 6px;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #190f27;
    }

    // .openCollapse{
    //     border-bottom:none;border-bottom-left-radius: 0;border-bottom-right-radius: 0;
    //    &:hover{border-bottom:none;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
    // }
    .circleTick {
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin-right: 10px;

        img {
            max-width: 100%;
            width: 24px;
        }
    }

    .btn-collapse {
        height: 64px;
        line-height: 64px;
        padding: 0 20px;
    }

    .collapsed {
        border-radius: 4px;
    }
}

@media only screen and (max-width: 1300px) and (min-width: 1200px) {
    .reward_container {
        .collapseData {
            .rewardPImg {
                max-width: 145px;
                max-height: 85px;
            }

            .rewardPEImg {
                width: 76px;
                top: 26px;
            }

            .rewardPEtitle {
                top: 82px;
            }

            .btn-collapse {
                cursor: default;

                span.rewardPlusMinus {
                    margin-left: 48%;
                }
            }
        }

        span.rewardPlusMinus {
            margin-left: 50%;
        }
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1301px) {
    .reward_container {
        .collapseData {
            .rewardPImg {
                max-width: 170px;
                max-height: 95px;
                left: 36px;
            }

            .rewardPEImg {
                width: 78px;
                top: 26px;
            }

            .rewardPEtitle {
                top: 82px;
            }

            .btn-collapse {
                cursor: default;

                span.rewardPlusMinus {
                    margin-left: 50%;
                }
            }
        }

        span.rewardPlusMinus {
            margin-left: 50%;
        }
    }
}


.beneficiaries-input {
    padding-left: 15px;
    list-style-position: outside;
}

.spotlight-padding-top {
    padding-top: 15px;
}

.spotlight-padding-left {
    padding-left: 30px;
}

.input-error {
    border: 1px solid red;
}

.zeta-col1,
.zeta-col2,
.zeta-col3,
.zeta-col4 {
    float: left;
    width: 24%
}

.zeta-col5 {
    padding-top: 10px;
    margin-left: -7px;
}

.spinner-loader {
    display: none;
    // position: absolute;
    animation: spin 1s linear infinite;
    top: 15px;
    right: 26px;
}