<% include ../../../common/html-head %>

    <body>
        <div class="wrapper">
            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <% include ../../../section/spotlight/instagift/control-banner %>
                                    <!-- request pin table -->

                                    <div class="sub-container">
                                        <div class="row">
                                            <% include control-center/reset-pin-table %>
                                        </div>
                                        <!-- last login  -->
                                        <% include ../../../common/time-footer %>
                                    </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <!-- Modal Decline pin reset success -->
        <div class="modal fade" data-backdrop="static" id="declinePinResetSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Request declined successfully</h4>
                            <p>The reset PIN request declined successfully</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal Decline pin reset -->
        <div class="modal fade" data-backdrop="static" id="declinePinReset" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero">Are you sure you want to decline this request?</h4>
                            <p>Note: Once you decline a request, you'll not be able to change your action.</p>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" id="declinePinRequest">DECLINE PIN RESET</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal Approve pin reset success -->
        <div class="modal fade" data-backdrop="static" id="approvePinResetSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Request Approved successfully</h4>
                            <p>The reset PIN request approved successfully</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal Approve pin reset -->
        <div class="modal fade" data-backdrop="static" id="approvePinReset" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero">Are you sure you want to Approve this request?</h4>
                            <p>Note: Once you approve a request, you'll not be able to change your action.</p>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" id="approvePinRequest">Approve PIN RESET</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <% include ../../../common/html-script %>
            <script src="/dist/scripts/control-center.js"></script>

    </body>

    </html>