<!-- Banner Start -->
<div class="top-section instagift-banner">
    <div>
        <!-- Breadcrumb -->
        <div class="row">

             <div class="col-xs-9 col-md-9">
                <ul class="breadcrumb pd-tb-zero">
                    <li><a href="/companies/<%- companyID %>/spotlight/"><% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %>Zeta Spotlight <%} %> </a></li>
                    <li><a href="/companies/<%- companyID %>/spotlight/instagift/<%- benefitDetails.programID %>">InstaGift</a></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <!-- Popover End -->
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="page-heading">
                    <h1 class="pd-top-five">Help/FAQs</h1>
                    <div class="x-medium-button pull-right">
                        <a href="/companies/<%- companyID %>/spotlight/instagift/<%- programID %>/load-cards">
                            <button class="btn btn-default" type="button">LOAD CARDS
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->