<!-- FAQ tabs -->
<div class="col-sm-12 faq-tabs">
    <ul class="nav nav-tabs tabs-left col-sm-3">
        <li class="active">
            <a href="#orders" data-toggle="tab" data-faqID="Invoicing_Cards">
                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/orders-invoicing.svg" alt="Orders & invoicing">
                <span>Invoicing & Cards</span>
            </a>
        </li>
        <li>
            <a href="#loading-cards" data-toggle="tab" data-faqID="Loading_Cards">
                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/loading-cards.svg" alt="Orders & invoicing">
                <span>Loading of cards</span>
            </a>
        </li>
        <li>
            <a href="#usage-cards" data-toggle="tab" data-faqID="Usage_Card">
                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/using-cards.svg" alt="Orders & invoicing">
                <span>Usage of card</span>
            </a>
        </li>
        <li>
            <a href="#load-pin" data-toggle="tab" data-faqID="Loss_Pin">
                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/lost-card.svg" alt="Orders & invoicing">
                <span>Loss of card/PIN</span>
            </a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content col-sm-9">
        <div class="tab-pane active" id="orders">
            <div class="faq-detail">
                <ul>
                    <li>
                        <h5>How do I get a proforma invoice for adding funds for an InstaGift order?</h5>
                        <p>Please ask for proforma invoice from your Zeta Account Manager or write to <a target="_blank" href="mailTO:support@zeta.in">support@zeta.in</a></p>
                    </li>
                    <li>
                        <h5>How do I order cards?</h5>
                        <p>Please contact your Zeta Account Manager to order cards or contact <a target="_blank" href="mailTO:support@zeta.in">support@zeta.in</a></p>
                    </li>
                    <li>
                        <h5>How much time will it take to for the cards to reach my location after ordering?</h5>
                        <p>Cards will usually reach your location in 5-7 business days from date of order.</p>
                    </li>
                    <li>
                        <h5>How do I get a sales invoice?</h5>
                        <p>Sales invoices are available on the <a target="_blank" href="/companies/<%- companyID%>/spotlight/instagift/<%- programID%>">Transfer Order </a>page, against each order you’ve placed for InstaGift.</p>
                    </li>
                    <li>
                        <h5>What if I need a custom invoice?</h5>
                        <p>Custom invoices are available only on request, please contact your Account Manager for the same or write to <a target="_blank" href="mailTO:support@zeta.in">support@zeta.in</a>.</p>
                    </li>
                    <li>
                        <h5>How do I add funds to my Spotlight InstaGift account?</h5>
                        <p>You can add funds via NEFT and IMPS, details of which are available on the <a target="_blank" href="/admin/funding-accounts">Funding Account</a> page.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane" id="loading-cards">
            <div class="faq-detail">
                <ul>
                    <li>
                        <h5>What all details do I need to load a card?</h5>
                        <p>You need the 16 digit card no., amount to be loaded (between 500 to 10000 INR), name of recipient and email ID/phone no/Beneficiary ID of the recipient.</p>
                    </li>
                    <li>
                        <h5>How do I get the 16 digit card no.?</h5>
                        <p>The 16 digit card no. is visible on the back of the InstaGift card kit that you’ll have with you. Please enter the number carefully to avoid load failure.</p>
                    </li>
                    <li>
                        <h5>What if I loaded a card with an incorrect amount?</h5>
                        <p>Gift cards are non-reloadable under RBI guidelines and, hence, you’ll have to load a new card. You can call up Zeta Support to block and revoke a card.</p>
                    </li>
                    <li>
                        <h5>My card load is showing failed, what is the reason for this?</h5>
                        <p>Your card load might have failed due to one of the following reasons:</p>
                        <ul>
                            <li>Card is already loaded - You’re trying to enter a card which is already loaded</li>
                            <li>Card number is invalid - You’ve entered an incorrect card no., please cross-check the card number you’ve entered with the one on the card</li>
                            <li>Server error - This might be due to an intermittent technical issue, please try the card load again</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane" id="usage-cards">
            <div class="faq-detail">
                <ul>
                    <li>
                        <h5>Is the card secured with a PIN?</h5>
                        <p>Yes, card is secured with a 4-digit PIN which is included inside the InstaGift card package.</p>
                    </li>
                    <li>
                        <h5>Can the card be used online?</h5>
                        <p>Yes, the card can be used online, but the default PIN needs to be changed for making online transactions. The same can be done at https://gifting.zetaapps.in</p>
                    </li>
                    <li>
                        <h5>Where can a cardholder see his balance and transaction information?</h5>
                        <p>This information can be viewed at https://gifting.zetaapps.in or by calling Zeta support at 022-61123989 (10 AM to 7 PM, all days except public holidays)</p>
                    </li>
                    <li>
                        <h5>What is the minimum value of transaction possible with InstaGift card?</h5>
                        <p>Card can be used for a minimum transaction value of 50 INR.</p>
                    </li>
                    <li>
                        <h5>What is a user complains that a card is not working?</h5>
                        <p>A card might not work due to multiple reasons:</p>
                        <ul>
                            <li>Value of transaction attempted is less than 50 INR</li>
                            <li>Insufficient balance on card - check card balance at https://gifting.zetaapps.in </li>
                            <li>Incorrect PIN is being entered - Check ‘Loss of card/PIN’ section for instructions if a user has forgotten the card PIN</li>
                            <li>There’s an issue with the merchant EDC machine/payment gateway - Please try the transaction again, and if it still doesn’t work please contact Zeta Support at 022-61123989 (10 AM to 7 PM, all days except public holidays)</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-pane" id="load-pin">
            <div class="faq-detail">
                <ul>
                    <li>
                        <h5>How can a user block a lost card?</h5>
                        <p>Lost cards can be blocked by calling Zeta support at 022-61123989 (10 AM to 7 PM, all days except public holidays). User will be asked a series of questions to verify his authenticity after which the card will be blocked, and remaining balance will be refunded back to the funding account <br/>
                        Note: Refund will only be applicable if remaining balance is greater than or equal to 50 INR)</p>
                    </li>
                    <li>
                        <h5>How can I order and load a replacement card?</h5>
                        <p>Please contact your Zeta Account Manager to order a replacement card. You can load the new card with the balance amount in the lost card, which’ll be refunded back to your funding account.</p>
                    </li>
                    <li>
                        <h5>What is a user has forgotten his/her card PIN?</h5>
                        <p>A user can request a PIN reset on <a target="_blank" href="https://gifts.zetaapps.in">https://gifts.zetaapps.in</a>. This request will be forwarded to your Spotlight dashboard, and once you’ve verified the authenticity of the user, you can approve/decline such a request. The PIN will be reset to the default PIN which came in the kit.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- FAQ end -->
