<% include ../../../common/html-head %>

    <body>
        <div class="wrapper">
            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <% include ../../../section/spotlight/instagift/faq-banner %>
                                    <% include ../../../section/spotlight/instagift/faq-tabs %>
                            </div>
                            <% if(lastLoginTime != false) { %>
                                <div class="col-xs-12 col-md-12">
                                    <!-- last login info display -->
                                    <div class="straight-line">&nbsp;</div>
                                    <div class="text-center">
                                        <span>
                                          <p>Last login - <%-lastLoginTime %></p>  
                                  </span>
                                    </div>
                                </div>
                                <% } %>
                                    <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <% include ../../../common/html-script %>
            <script src="/dist/scripts/faq.js"></script>

    </body>

    </html>