<% include ../../../common/html-head %>

    <body>
        <input type="hidden" id="orderID" value="<%- orderID %>">
        <div class="wrapper">
            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <div class="inner-container">
                                <!-- Banner Start -->
                                <div class="top-section instagift-banner">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-9 col-md-9">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <li><a href="/companies/<%- companyID %>/spotlight/"><% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %>Zeta Spotlight <%} %> </a></li>
                                                    <li><a href="/companies/<%- companyID %>/spotlight/instagift/<%- benefitDetails.programID %>">InstaGift</a></li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="page-heading">
                                                    <h1 class="pd-top-five text-capitalize">
                                                        <%- refName %>
                                                    </h1>
                                                    <span class="transferDate"><%- date %></span>
                                                    <div class="x-medium-button pull-right">
                                                        <a href="/companies/<%- companyID %>/spotlight/instagift/<%- programID %>/load-cards">
                                                            <button class="btn btn-default" type="button">LOAD CARDS
                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="sub-container">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <!-- Filter -->
                                            <div class="row">
                                                <div class="filter-section">
                                                    <div class="col-xs-5 col-md-5">
                                                        <div class="custom-searchbox transfer-detail-search">
                                                            <div class="input-group stylish-input-group">
                                                                <input id="employeeSearch" type="text" class="form-control" placeholder="Search by Beneficiary Name, Last 4 digits of Card Number or Email/Mobile/Employee ID">
                                                                <span class="input-group-addon">
                                                    <button type="button" id="searchEmployeeBtn">
                                                    <span><img src="/images/search_small.png"></span>
                                                                </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Filter End -->
                                            <div class="inner-sub-container page-sub-heading transfer-details-wrpr">
                                                <!-- Table -->
                                                <div class='row filter-cntr' id='instagiftPayoutFilters'>
                                                    <div class='col-xs-2 col-md-2 filter-wrpr active' data-filter-val='PROCESSING, SUCCESS, FAILED, REVOKED'>
                                                        <div class='filter-no' id='totalPayouts'></div>
                                                        <div class='filter-txt'>Total Loaded </div>
                                                        <div class="filter-txt filter-amount">(<span class="ruppee">₹</span><span id="totalPayoutsAmount"></span>)</div>
                                                    </div>
                                                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='PROCESSING'>
                                                        <div class='filter-no' id='processingPayouts'></div>
                                                        <div class='filter-txt'>Processing</div>
                                                        <div class="filter-txt filter-amount">(<span class="ruppee">₹</span><span id="processingPayoutsAmount"></span>)</div>
                                                    </div>
                                                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='SUCCESS'>
                                                        <div class='filter-no' id='successPayouts'></div>
                                                        <div class='filter-txt'>Successful</div>
                                                        <div class="filter-txt filter-amount">(<span class="ruppee">₹</span><span id="successPayoutsAmount"></span>)</div>
                                                    </div>
                                                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='FAILED'>
                                                        <div class='filter-no' id='failedPayouts'></div>
                                                        <div class='filter-txt'>Failed</div>
                                                        <div class="filter-txt filter-amount">(<span class="ruppee">₹</span><span id="failedPayoutsAmount"></span>)</div>
                                                    </div>
                                                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='REVOKED'>
                                                        <div class='filter-no' id='revokedPayouts'></div>
                                                        <div class='filter-txt'>Revoked</div>
                                                        <div class="filter-txt filter-amount">(<span class="ruppee">₹</span><span id="revokedPayoutsAmount"></span>)</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div id="instagiftPayoutstable">
                                                            <% include tab-content/tables/transfer-details %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Table End -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- last login  -->
                                <% include ../../../common/time-footer %>
                            </div>
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <div class="modal fade" id="revokePayoutModal" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero">Are you sure that you want to revoke this payout?</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" id="confirmRevoke" name="" type="button" value="">
                            Yes, Revoke this payment
                        </button>
                                <img class="add-user-loader" id="confirmRevokeLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- revoke payment modal End -->

        <div class="modal fade" id="requestResponseModal" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content responseModalBody">
                    <div class="modal-header">

                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <img class="response-img" id="errorImg" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.svg">
                            <img class="response-img" id="successImg" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/success-icon.svg">
                            <h4 class="text-center pd-bottom-zero" id="errorResponse"></h4>
                            <p id="errorResponseMsg"></p>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default reload-btn" id="responseBtn" name="" type="button" value="">
                        </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Request Response Modal End -->


        <% include ../../../common/html-script %>

            <script src="/dist/scripts/card-transfer-details.js"></script>

    </body>

    </html>