
<div class="modal fade" data-backdrop="static" id="addPayoutConfirmModal" tabindex="-1" role="dialog">
    
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="text-center"><img
                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png"
                alt="Zeta icon" /></div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <h4 class="text-center pd-bottom-zero">Confirm adding payouts to this order</h4>
                </div>
                <div class="modal-footer cancel-order">
                    <table>
                        <tr>
                            <td> 
                                <button class="btn confirm-cancel-single confirm" type="button"  id="addPayOrderIdButton">
                                    THIS ORDER (Order ID: <span id="addPayOrderId"></span>
                                </button>
                            </td>
                        </tr>
                        <tr >
                            <td class="cancel-row"> 
                                <button class="btn confirm-cancel-all reset cancel-confirm confirm"  id="addRecurringOrderIdButton" type="button" >
                                    ALL SCHEDULED ORDERS FOR THIS RECURRING ID:<span id="addALLPayOrderId"></span>
                                </button></td>
                        </tr>
                    </table>
                </div>
            </div>
      
        </div>
    </div>
</div>