<div class="modal fade" data-backdrop="static" id="status-modal" tabindex="-1" role="dialog">
    
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="text-center">
                    <% if(status == 'success') { %>
                    <img
                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png"
                    alt="Zeta icon" />
                    <% } else {%>
                        <img
                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png"
                    alt="Zeta icon" />
                    <% } %>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <h4 class="text-center pd-bottom-zero"><%- message %></h4>
                    </div>
                </div>
          
            </div>
        </div>
</div>