<div class="modal-dialog custom-modalbox custom-modalbox--width" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="custom-modal-body">
            <div class="modal-body">
                <h4 class="text-center pd-bottom-zero pd-top-zero">Order History</h4>
                <div class="modalbox-form-section">
                    <div class="page-heading">
                        <div class="page-heading-list">
                            
                                <div class="form-group">
                                    <label class="latest-order-update list-label list-label-overview">
                                        <b>Latest Update by :</b>
                                        <span class="updated-by-name"></span>
                                    </label>
                                       
                                    </div>
                                <div class="form-group">
                                    <label class="list-label list-label-overview"><b>History : </b></label>
                                    <div id="orderHistory"></div>
                                </div>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>