<tr class="orders-row numbers-font">
    <td> 
     <%- id %>
    </td>
    <td>
        <%- createdAt %>
    </td>
    <td class="text-capitalize">                   
    <%- referenceName %>
    </td>
    <td>
    <%- numberOfCards %>
    </td>
    <td>  
    <% if(status.toLowerCase() === "completed") { %>
    <span class="instagift_status_completed text-capitalize">
    Approved
    </span>           
    <% } %>     
    <% if(status.toLowerCase() === "failed") { %>
        <span class="instagift_status_stalled text-capitalize">
            <%- status.toLowerCase() %>
        </span>

    <% } %> 
    <% if(status === "INITIALIZED") { %>
        <span class="instagift_status_completed text-capitalize">
        Approved
        </span>

    <% } %>
    <% if(status.toLowerCase() === "processing") { %>
        <span class="instagift_status_completed text-capitalize">
        Approved
        </span>

    <% } %>
    <% if(status.toLowerCase() === "rejected") { %>
        <span class="instagift_status_stalled text-capitalize">
        Declined
        </span>
        <span>            
     <% } %>
    <% if(status.toLowerCase() === "pending") { %>
        <span class="instagift_status_pending text-capitalize" style="color:#f89406">
            <%- status.toLowerCase() %>
        </span>

    <% } %>
    </td> 

    <td class="file-url">
        <% if((status.toLowerCase() === "pending") || (status.toLowerCase() === "initialized") || (status.toLowerCase() === "valid") || (status.toLowerCase() === "failed") || (status.toLowerCase() === "rejected")) { %>
            <a href="<%= performaUrl %>" class="tooltip-title tooltip-cursor-pointer" target="_blank">
                <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/proforma-icon.png" alt="Download Proforma Invoice">
                <span class="tooltip-view">
                    <!-- Tooltip Content  -->
                    <div class="tooltip-lrtb-pd">
                        <div class="row">
                            <div class="col-xs-12 col-md-12"> Download Proforma Invoice</div>
                        </div>
                    </div>
                    <!-- Tooltip Content End -->
                </span>
            </a>
            <% } %>

            <% if(status.toLowerCase() === "completed" || status.toLowerCase() === "processing") { %>
                    <a href="javascript:void(0)"  class="tooltip-title tooltip-cursor-pointer" target="_blank">
                        <img class="download-icon downloadpdfinvoice" data-spotlighttype="PHYSICAL_CARD_ORDER" data-orderid="<%= id %>" data-from="physicalcardcost" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/invoice-icon.png" alt="Download Invoice">
                        <span class="tooltip-view">
                            <!-- Tooltip Content  -->
                            <div class="tooltip-lrtb-pd">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">Download Invoice</div>
                                </div>
                            </div>
                            <!-- Tooltip Content End -->
                        </span>
                    </a>
            <% } %>


    </td>    
</tr>