<tr data-orderid="<%- orderID %>" class="orders-row numbers-font">
    <td> 
     <a style="font-size: 14px;color: #190f27;text-decoration:  underline;" href="physical/order/<%- orderID%>/view/<%-totalAmount.amount%>/<%-status%>/<%- totalPayouts %>">
            <%- orderID%>
                <a/>      
    </td>
    <td style="min-width:124px;">
        <%- createdOn %>
    </td>
    <td class="text-capitalize">    
                 <div class="ellipsis">
                        <div class="inner">
                            <span style="color: #000;" class="newCreateTxt">  <%-   refName %> </span>
                        </div>
                </div>
        
    </td>
    <td style="text-align:  right">
        <%- totalPayouts %>
    </td>
    <td style="text-align:  right">
     <!--   <span class="ruppee">₹</span> -->
        <%- totalAmount.amount %>
    </td>
    <td>
        <% if(status.toLowerCase() === "completed") { %>
            <span class="instagift_status_completed text-capitalize">
                <%- status.toLowerCase() %>
            </span>           
            <% } %>
            
            <% if(status.toLowerCase() === "cancelled") { %>
            <span class="instagift_status_stalled text-capitalize">
                <%- status.toLowerCase() %>
            </span>           
            <% } %>

            <% if(status.toLowerCase() === "stalled") { %>
                <span class="instagift_status_stalled text-capitalize">
                    <%- status.toLowerCase() %>
                </span>
                <span>            
                <p class="instagift_status_stalled"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ic-info-outline.svg" width="14px"/> Insufficient Fund <a class="addFundsSG" data-fundingaccountids="<%-fundingAccountIDAsString%>" href="javascript:void(0)">Add</a></p></span>
            <% } %>
            <% if(status === "DELIVERED") { %>
                <span class="instagift_status_stalled text-capitalize">
                    <%- status.toLowerCase() %>
                </span>

            <% } %>
            <% if(status.toLowerCase() === "failed") { %>
                <span class="instagift_status_stalled text-capitalize">
                    <%- status.toLowerCase() %>
                </span>

            <% } %>
            <% if(status.toLowerCase() === "initiated") { %>
                <span class="instagift_status_processing text-capitalize" style="color:#190f27;opacity:  0.5;">
                Scheduled
                </span>

            <% } %>
            <% if(status.toLowerCase() === "processing") { %>
                <span class="instagift_status_processing text-capitalize">
                    <%- status.toLowerCase() %>
                </span>

            <% } %>
            <% if(status === "INSUFFICIENT_FUNDS") { %>
                <span class="instagift_status_stalled text-capitalize">
                Stalled
                </span>
                <span>            
                <p class="instagift_status_stalled"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ic-info-outline.svg" width="14px"/> Insufficient Fund <a class="addFundsSG" data-fundingaccountids="<%-fundingAccountIDAsString%>" href="javascript:void(0)">Add</a></p></span>
             <% } %>
            <% if(status.toLowerCase() === "scheduled") { %>
                <span class="instagift_status_processing text-capitalize">
                    <%- status.toLowerCase() %>
                </span>

            <% } %>
    </td>
 
    <td class="file-url">
        <% if((status.toLowerCase() === "initiated") || (status.toLowerCase() === "processing") || (status.toLowerCase() === "scheduled") || (status.toLowerCase() === "valid") || (status.toLowerCase() === "stalled") || (status === "INSUFFICIENT_FUNDS")) { %>
            <a href="<%- performaUrl %>" class="tooltip-title tooltip-cursor-pointer" target="_blank">
                <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/proforma-icon.png" alt="Download Proforma Invoice">
                <span class="tooltip-view">
                    <!-- Tooltip Content  -->
                    <div class="tooltip-lrtb-pd">
                        <div class="row">
                            <div class="col-xs-12 col-md-12"> Download Proforma Invoice</div>
                        </div>
                    </div>
                    <!-- Tooltip Content End -->
                </span>
            </a>
            <% } %>

                <% if(status.toLowerCase() === "completed") { %>
                    <!-- <a href="<%- inVoiceUrl %>"  class="tooltip-title tooltip-cursor-pointer" target="_blank"> -->
                    <a href="javascript:void(0)"  class="tooltip-title tooltip-cursor-pointer">
                        <img class="download-icon downloadpdfinvoice" data-spotlighttype="PHYSICAL_NON_PERSONALISED" data-orderid="<%= orderID %>" data-from="physical" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/invoice-icon.png" alt="Download Invoice">
                        <span class="tooltip-view">
                            <!-- Tooltip Content  -->
                            <div class="tooltip-lrtb-pd">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">Download Invoice</div>
                                </div>
                            </div>
                            <!-- Tooltip Content End -->
                        </span>
                    </a>


                    <% } %>


    </td>

    <td colspan="2" class="position-dropdown  payout-revoke">
        <!-- Popover -->
        <div class="popover-content">
            <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
            </span>
        </div>
        <!-- Popover End -->
        <!-- Dropdown -->
        <div class="dropdown-log">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="" data-toggle="dropdown"><span><img src="/images/vertical_dot_icon.png"></span></a>
                    <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">                    
                            <li><a href='physical/order/<%- orderID%>/view/<%-totalAmount.amount%>/<%-status%>/<%- totalPayouts %>'>View Order Details</a></li>

                            <% if(corpID=="495") { %>
                                <li><a href='physical/issuegift' >Add new payout</a></li>
                            <% } %>
                    </ul>
                </li>  
            </ul>
        </div>
        <!-- Dropdown End -->
    </td>
</tr>