<tr>
    <td>
        <%- name.firstName + " " + name.lastName %>
    </td>
    <td class="text-capitalize">
        <%- gender %>
    </td>
    <td>
         <%- dob %>
    </td>
    <td>
        <%- age %>
    </td>
    <td>
         <%- relation %>
    </td>
</tr>
