<tr class="order-row">
    <td width="10%">
        <div>
            <%- dateObj.date %>
        </div><span class="time"><%- dateObj.time %></span></td>
    <td class="numbers-font">
        <div class="text-capitalize merchant-name">
            <%- merchantName || '-' %>
        </div>
        <% if(attrs.merchantType) { %>
            <span class="tag"><%- attrs.merchantType %></span>
            <% } %>
    </td>
    <td class="numbers-font">
        <% if(attrs.category) { %>
            <%- attrs.category %>
                <% } else { %>
                    -
                    <%  } %>
    </td>
    <td class="numbers-font align-right">
        <%- amount %>
    </td>
    <td class="numbers-font align-right">
        <%- approvedAmount %>
    </td>
    <td class="numbers-font">
        <span class="<%- statusClass %>"><%- billStatus %></span>
        <% if(status === 'Declined' && secondaryStatus) { %>
            <div class="secondary-status">
                <%- secondaryStatus %>
            </div>
            <% } %>
                <% if(billStatus === 'Paid' && partialReason) { %>
                    <div class="secondary-status">
                        <%- partialReason %>
                    </div>
                    <% } %>
    </td>
    <td class="position-dropdown">
        <!-- Popover -->
        <div class="popover-content">
            <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
              <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
            </span>
        </div>
        <!-- Popover End -->
        <!-- Dropdown -->
        <div class="dropdown-log">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle benefits-dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span><img src="/images/vertical_dot_icon.png"></span></a>
                    <ul class="dropdown-menu dropdown-log-typeTwo">
                        <li><a class="view-statement" href="/document-drive/<%- claimId %>" target="_blank">
                        View Claim Details</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </td>
</tr>