<div class="filter-widget" tabindex="1">
    <div class="filter-ctrl">All Companies</div>
    <div class="filter-options">
        <input placeholder='Search' type="text" class="search-box"/>
        <ul class="option-list">
            <li>
                <p>
                    <input id="select_all" type="checkbox" value=""/>
                    <label for="select_all">Select All</label>
                </p>
            </li>

            <li class="option-item">
                <p>
                    <input id="option_" type="checkbox" value=""/>
                    <label for="option_">AAA</label>
                </p>
            </li>
            <li class="option-item">
                <p>
                    <input id="option_" type="checkbox" value=""/>
                    <label for="option_">BBB</label>
                </p>
            </li>

        </ul>
        <div class="multiselect-options clearfix">
            <div class="total-selected"><span>0</span> Selected</div>
            <div class="other-options">
                <div class="clear-all">Clear All</div>
                <div class="apply">Apply</div>
            </div>
        </div>
    </div>
</div>

