<tr data-orderid="" class="orders-row numbers-font">
    <td>
        <div class="thumbnail-profile-view">
            <div class="thumbnail-profile-row">
                <div class="thumbnail-profile-icon">                    
                <% if(employee.profileImage){ %>
                        <img class="thumbnail-profile-name" src="<%-employee.profileImage%>" width="40"> 
                    <% } else { %>
                     <div class="thumbnail-profile-name" style="background:'<%-initialColor%>''">
                            <p>
                                <%- initial %>
                            </p>
                    </div>
                   
                   <%}%>
                </div>
                <div class="thumbnail-profile-details">
                    <h6> <%- managerName %></h6>
                    <p class="text-ellipsis-show-email"><%- managerEmail %></p>
                </div>
            </div>
        </div>
    </td>

    <td style="min-width:124px;">
        <%# buID +" / " + %>
        <%-  buID %>
    </td>

    <td class="text-capitalize" style="text-align:  right">
        <span class="tooltip tool-tip-rnr" style="opacity:1;">
            <div>
                <%- rewardsIssued %>    
            </div>
            <span class="tooltiptext tool-tip-text" style="opacity:1;">
                <div class="tooltip-text_gift"> 
                    <% for(let i in rewardsIssuedCountMap){ %>    
                    <div class="tool-tip-text__p"><%- i %>  <span class="pull-right">x <%- rewardsIssuedCountMap[i] %></span></div>
                    <% } %>
                </div>
            </span>
        </span>
    </td>

    <td style="text-align:  right">         
          <span class="tooltip tool-tip-rnr" style="opacity:1;">
            <div>
                <%- rewardsRewarded %>    
            </div>
            <span class="tooltiptext tool-tip-text" style="opacity:1">
                <div class="tooltip-text_gift">
                    <% for(let i in rewardsRewardedCountMap){ %>    
                    <div class="tool-tip-text__p"><%- i %>  <span class="pull-right">x <%- rewardsRewardedCountMap[i] %></span></div>
                    <% } %>
                </div>
            </span>
        </span>
    </td>

    <td style="text-align:  right">
        <%- rewardsRewarded + rewardsRemaining + rewardsRevoked === rewardsIssued ? '0' : (rewardsIssued) - (rewardsRewarded + rewardsRemaining + rewardsRevoked) %>
    </td>
    <td style="text-align:  right">         
        <span class="tooltip tool-tip-rnr" style="opacity:1;">
          <div>
            <%- rewardsRevoked %>
          </div>
          <span class="tooltiptext tool-tip-text" style="opacity:1">
              <div class="tooltip-text_gift">
                  <% for(let i in rewardsRevokedCountMap){ %>    
                  <div class="tool-tip-text__p"><%- i %>  <span class="pull-right">x <%- rewardsRevokedCountMap[i] %></span></div>
                  <% } %>
              </div>
          </span>
      </span>
  </td>

    <td style="text-align:  right">        
         <span class="tooltip tool-tip-rnr" style="opacity:1;">
            <div>
                <%- rewardsRemaining %>
            </div>
            <span class="tooltiptext tool-tip-text" style="opacity:1">
                <div class="tooltip-text_gift">
                    <% for(let i in rewardsRemainingCountMap){ %>    
                    <div class="tool-tip-text__p"><%- i %>  <span class="pull-right">x <%- rewardsRemainingCountMap[i] %></span></div>
                    <% } %>
                </div>
            </span>
        </span>
    </td>


    <td class="custom-padding position-dropdown payout-revoke" colspan="2">
        <% if (rewardsRemaining > 0 && isRevokeInProcess === false) { %>
        <!-- Dropdown -->
        <div class="dropdown-log">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:void(0)" style="padding-top: 22px;" data-toggle="dropdown"><span><img
                                src="/images/vertical_dot_icon.png"></span></a>
                    <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown" style="z-index:10000">
                        <li>
                            <a id="revokeBadges" data-employeeid='<%- employee.employeeID %>' data-programid='<%- employee.programID %>' data-remainbatch='<%-JSON.stringify(rewardsRemainingCountMap) %>'> Revoke Badges</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Dropdown End -->
        <% } %>
    </td>
    <td></td>
</tr>
