<% if(programCommercials.length > 0) { %>
<div class="accordionContainer">

    <div class="headingTop" type="button" data-toggle="collapse" data-target="#multiCollapseExample" role="button"
        aria-expanded="true" aria-controls="multiCollapseExample<%- i %>">
        <div class="">
            <b>Tax-benefit Programs</b>
        </div>
    </div>

    <div class="collapse multi-collapse in" id="multiCollapseExample">
        <div class="">
            <% for(var i = 0; i < programCommercials.length; i++){ %>
            <div class="programRow" :key="index">
                <div class="heading">
                    <div class="status">

                    </div>
                    <div class="title">
                        <%- programCommercials[i].productType.charAt(0).toUpperCase() + programCommercials[i].productType.slice(1) %>
                        Vouchers
                    </div>
                </div>
                <div class="content hideMe">
                    <table class="table programTable">
                        <thead>
                            <tr>
                                <th>Fee Name</th>
                                <th>Invoice Frequency</th>
                                <th>Invoice Date</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var j = 0; j < programCommercials[i].commercials.length; j++){ %>
                            <tr>
                                <td><%- programCommercials[i].commercials[j].fee %></td>
                                <td><%- programCommercials[i].commercials[j].triggerType %></td>
                                <td><%- programCommercials[i].commercials[j].invoiceDate || 'NA' %></td>
                                <td>
                                    <p>₹<%- programCommercials[i].commercials[j].value %></p>
                                    <p class="gstText">
                                        <span>CGST: <%- programCommercials[i].commercials[j].taxes[0].val %>%</span> -
                                        <span>SGST: <%- programCommercials[i].commercials[j].taxes[0].val %>%</span>
                                    </p>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% } %>
        
        </div>
    </div>


</div>

<% }else{ %>
    <p class="cardTypeTitle"><b>TAX-BENEFIT PROGRAMS</b></p>
    <br>
    No data available
<% } %>

<br>
<br>
<p class="cardTypeTitle"><b>PHYSICAL & DIGITAL CARDS</b></p>
<br>
<% if(cardCommercials.length > 0) { %>
    <% for(var k = 0; k < cardCommercials.length; k++){ %>
    <div class="accordionContainer">
        <div class="headingTop" type="button" data-toggle="collapse" data-target="#multiCollapseExample<%- k %>"
            role="button" aria-expanded="true" aria-controls="multiCollapseExample<%- k %>">
            <div class="">
                <b><%- keyMaps[cardCommercials[k].productType] %> Cards</b>
            </div>
        </div>
        <div class="collapse multi-collapse <%- k == 0 ? 'in' : '' %> table-container" id="multiCollapseExample<%- k %>">
            <div class="cardRow">
                <div class="cardMasterList">
                    <div class="listContainer">
                        <% for(var l = 0; l < cardMasterDetails.length; l++){ %>
                        <% if(cardCommercials[k].commercials.filter(fees => fees.category == cardCommercials[k].productType && fees.subCategory == cardMasterDetails[l].cardMasterID).length > 0){ %>
                        <div class="listItem" data-type="<%- cardCommercials[k].productType %>"
                            data-id="<%- cardMasterDetails[l].cardMasterID %>">
                            <div>
                                <p><b><%- cardMasterDetails[l].cardName %></b></p>
                                <p>
                                    <img src="<%- cardMasterDetails[l].designLink %>">
                                </p>
                            </div>
                        </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
            <% for(var m = 0; m < cardMasterDetails.length; m++){ %>
            <% if(cardCommercials[k].commercials.filter(fees => fees.category == cardCommercials[k].productType && fees.subCategory == cardMasterDetails[m].cardMasterID).length > 0){ %>

            <div class="cardTableRow hideMe" id="<%- cardCommercials[k].productType + cardMasterDetails[m].cardMasterID %>">
                <div class="content">
                    <table class="table programTable">
                        <thead>
                            <tr>
                                <th>Fee</th>
                                <th>Who To Bill</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var p=0; p < cardCommercials[k].commercials.filter(fees => fees.category == cardCommercials[k].productType && fees.subCategory == cardMasterDetails[m].cardMasterID).length; p++) { %>
                            <tr>
                                <td>
                                    <%- cardCommercials[k].commercials.filter(fees => fees.category == cardCommercials[k].productType && fees.subCategory == cardMasterDetails[m].cardMasterID)[p].fee %>
                                </td>
                                <td>
                                    <%- keyMaps[cardCommercials[k].commercials.filter(fees => fees.category == cardCommercials[k].productType && fees.subCategory == cardMasterDetails[m].cardMasterID)[p].billingEntity] %>
                                </td>

                                <td>
                                    <p class="valueView">
                                        <%- cardCommercials[k].commercials.filter(fees => fees.category == cardCommercials[k].productType && fees.subCategory == cardMasterDetails[m].cardMasterID)[p].valueType == "ABSOLUTE" ? "₹" : "" %><span><%- cardCommercials[k].commercials.filter(fees => fees.category == cardCommercials[k].productType && fees.subCategory == cardMasterDetails[m].cardMasterID)[p].value %></span><%- cardCommercials[k].commercials.filter(fees => fees.category == cardCommercials[k].productType && fees.subCategory == cardMasterDetails[m].cardMasterID)[p].valueType == "ABSOLUTE" ? "" : "%" %>
                                    </p>
                                    <p class="hiddenInput hideMe">
                                        <input class="valueEdit" type="number" value="0">
                                    </p>
                                    <p class="gstText">
                                        <span>CGST:
                                            <%- cardCommercials[k].commercials.filter(fees => fees.category == cardCommercials[k].productType && fees.subCategory == cardMasterDetails[m].cardMasterID)[p].taxes[0].val %>%</span>
                                        -
                                        <span>SGST:
                                            <%- cardCommercials[k].commercials.filter(fees => fees.category == cardCommercials[k].productType && fees.subCategory == cardMasterDetails[m].cardMasterID)[p].taxes[0].val %>%</span>
                                    </p>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                        <% let addressData = cardCommercials[k].commercials.filter(fees => fees.category == cardCommercials[k].productType && fees.subCategory == cardMasterDetails[m].cardMasterID).filter(comm => comm.billingAddress) %>
                        <div class="billingAddress row marTop10">
                            <div class="col-md-6">
                                <div class="row"><div class="col-md-12"><p class=""><div class="showAddress open"></div>Billing address details</p></div></div>
                                <div class="addressContainer hideMe">
                                    <div class="row marTop10">
                                        <div class="col-md-6">
                                            <input class="form-control" placeholder="First Name" name="firstName" type="text" value="<%- addressData.length > 0 ? addressData[0].billingAddress.billingAddress.firstName : '' %>">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" placeholder="Last Name" name="lastName" type="text" value="<%- addressData.length > 0 ? addressData[0].billingAddress.billingAddress.lastName : '' %>">
                                        </div>
                                    </div>
                                    <div class="row marTop10">
                                        <div class="col-md-6">
                                            <input class="form-control" placeholder="Email" name="email" type="email" value="<%- addressData.length > 0 ? addressData[0].billingAddress.billingAddress.email : '' %>">
                                        </div>
                                        <div class="col-md-6">
                                            <input style="width: 60px;display: inline-block" class="form-control" name="countryCode" type="text" value="<%- addressData.length > 0 ? addressData[0].billingAddress.billingAddress.countryID : '+91' %>">
                                            <input style="display: inline-block; max-width: calc(100% - 64px);" class="form-control" placeholder="Phone Number" name="phone" type="number" value="<%- addressData.length > 0 ? addressData[0].billingAddress.billingAddress.telephone : '' %>">
                                        </div>
                                    </div>
                                    <div class="row marTop10">
                                        <div class="col-md-6">
                                            <input class="form-control" placeholder="Address line1" name="address1" type="text" value="<%- addressData.length > 0 ? addressData[0].billingAddress.billingAddress.line1 : '' %>">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" placeholder="Address line2" name="address2" type="text" value="<%- addressData.length > 0 ? addressData[0].billingAddress.billingAddress.line2 : '' %>">
                                        </div>
                                    </div>
                                    <div class="row marTop10">
                                        <div class="col-md-6">
                                            <input class="form-control" placeholder="City" name="city" type="text" value="<%- addressData.length > 0 ? addressData[0].billingAddress.billingAddress.city : '' %>">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" placeholder="State" name="state" type="text" value="<%- addressData.length > 0 ? addressData[0].billingAddress.billingAddress.region : '' %>">
                                        </div>
                                    </div>
                                    <div class="row marTop10">
                                        <div class="col-md-6">
                                            <input class="form-control" placeholder="Pin Code" name="pincode" type="number" value="<%- addressData.length > 0 ? addressData[0].billingAddress.billingAddress.postCode : '' %>">
                                        </div>
                                    </div>
                                    <div class="row marTop10">
                                        <div class="col-md-12 marTop10">
                                            <button class="btn btn-success saveCommercialAddress" data-commid="<%- addressData.length > 0 ? addressData[0].id : cardCommercials[k].commercials.filter(fees => fees.category == cardCommercials[k].productType && fees.subCategory == cardMasterDetails[m].cardMasterID)[0].id %>">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <% } %>
            <% } %>
        </div>
    </div>
    <br>
    <% } %>
<% }else{ %>
    No data available
<% } %> 


<style>
    .accordionContainer {
        background: #fff;
    }

    .marTop10{
        margin-top: 10px;
    }

    button{

    }

    .showAddress{
        cursor: pointer;
        width: 27px;
        height: 20px;
        background: url(https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/circle-bold-close.png);
        background-size: 20px;
        background-repeat: no-repeat;
        float: left;
    }

    .showAddress.open{
        background: url(https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/circle-bold-open.png);
        background-size: 20px;
        background-repeat: no-repeat;   
    }

    .headingTop {
        padding: 14px;
        border: 1px solid #ccc;
        display: table;
        width: 100%;
    }

    div.title {
        font-size: 14px;
        color: #190f27;
        display: table-cell;
        vertical-align: middle;
    }

    .status {
        cursor: pointer;
        width: 27px;
        height: 20px;
        background: url(https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/circle-bold-open.png);
        background-size: 20px;
        display: table-cell;
        vertical-align: middle;
        background-repeat: no-repeat;
    }

    .status.open {
        background: url(https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/circle-bold-close.png);
        background-size: 20px;
        background-repeat: no-repeat;
    }

    .heading {
        border: none !important;
        padding: 13px 20px !important;
        margin-top: none !important;
    }

    .content {
        padding: 14px;
    }

    .hideMe {
        display: none;
    }

    table.programTable {
        margin-bottom: 0;
        border: 1px solid #ccc;
    }

    table.programTable thead {
        background: #9c9eb8;
        color: #fff;
    }

    table.programTable tbody td {
        border: 1px solid #ccc;
        vertical-align: middle;
    }

    .listContainer {
        white-space: nowrap;
        overflow: auto;
        padding: 14px 14px;
        background: #f3f2f7;
    }

    .listContainer::-webkit-scrollbar {
        display: none;
    }

    .listItem {
        display: inline-block;
        position: relative;
    }

    .listItem img {
        max-width: 190px;
        margin-right: 25px;
    }

    .listItem.active img {
        zoom: 1.15;
    }

    .gstText {
        font-size: 10px;
        color: #8c8793;
    }

    .cardTypeTitle {
        font-size: 13px;
        color: #5a5a5a;
        margin-bottom: -10px;
    }

    input {
        width: 100%;
    }

    input[type=email]{
        height: 45px;
    }
</style>