<tr>
  <td><%- id %></td>
  <td><%- invoiceDate %></td>
  <td><%- name %></td>
  <td><%- programName %></td>
  <td><%- amount %></td>
  <td class="<%- status == 'PAID' ? 'text-completed' : (status == 'UNPAID' ? 'text-failed' : (status == 'PROCESSING' ? 'text-processing' : '')) %>"><%- status %></td>
  <td>
    <% if(typeof url !== 'undefined'){ %>
      <a href="<%- url %>" download=""><img style="width: 20px;" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/invoice-icon.png"></a>
    <% } else { %>

    <% } %>
  </td>
</tr>