<% include ../../common/html-head %>

<body>
    <div class="wrapper">
        <% include ../../common/header %>
        <!-- Container -->
        <div class="container-fluid sidebar-row">
            <div class="row">
                <% include ../../common/sidebar %>
                <div class="inner-container">
                    <!-- Banner Start -->
                    <div class="banner-section banner-background">
                        <div>
                            <!-- Breadcrumb -->
                            <div class="row">
                                <div class="col-xs-9 col-md-9">
                                    <ul class="breadcrumb pd-tb-zero">
                                        <li><a href="/">Zeta Tax Benefits</a></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="page-heading">
                                        <h1 class="pd-top-five" id="benefitCardName">Invoices</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 program">
                        <div class="tabs-nav-container tabbable-panel">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#invoicesList" id="New-Report" data-toggle="tab" onclick="return false;">
                                            Invoices
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#commercialsList" id="Generated-Reports" data-tab="listReport"
                                        class="generatedReportTab" data-toggle="tab">
                                            Commercials
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sub-container">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="page-sub-heading no-padding">
                                    <div class="">
                                        <div class="tab-content">
                                            <div class="filter-section tab-pane active listreport-wrapper" id="invoicesList">
                                                <!-- <div class="inner-sub-container page-sub-heading"> -->
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label>Filter by Status</label>
                                                            <div class="form-group select-custom">
                                                                <select class="form-control width-xs"
                                                                        id="filterInvoicesOnState">
                                                                    <option value="ALL">All</option>
                                                                    <option value="PAID">Paid</option>
                                                                    <option value="UNPAID">Unpaid</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="invoicesListTable">
                                                        <% include invoicesTable %>                                                    
                                                    </div>
                                                <!-- </div> -->
                                            </div>
                                            <div class="filter-section tab-pane listreport-wrapper" id="commercialsList">
                                                <!-- <div class="inner-sub-container page-sub-heading"> -->
                                                    <div id="commercialsListData">
                                                    </div>
                                                <!-- </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <% include ../../common/html-script %>
    <script src="../../../dist/scripts/invoicing.js"></script>
    <script type="text/javascript">
        $(function() {
            $('[data-toggle="popover"]').popover()
        })
    </script>
</body>
</html>