<tr data-orderid="" class="orders-row numbers-font">
    <td class="custom-padding">
        <%- timestamp %>
    </td>
    <td>
        <%- amount %>
    </td>
    <td>
        <%- previousBalance %>
    </td>
    <td>
        <%- newBalance %>
    </td>
    <td>
        <%- remarks %>
    </td>
</tr>