<% include ../../../../common/html-head %>

<body>
    <input type="hidden" id="productType" value="pointbased">
    <input type="hidden" id="programID" value="<%-programID %>">
    <input type="hidden" id="SpotlightIFIName" value='<%- ifiBankName %>'>
    <input type="hidden" class="uploadType" value='issuepoint'>
    <div class="wrapper">
        <% include ../../../../common/header %>
        <!-- Container -->
        <div class="container-fluid sidebar-row">
            <div class="row physical_container">
                <% include ../../../../common/sidebar %>
                <!-- Inner container -->
                <div class="inner-container load-cards">
                    <!-- Banner Start -->
                    <div class="top-section pointbased-banner">
                        <div>
                            <!-- Breadcrumb -->
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <ul class="breadcrumb pd-tb-zero">
                                        <li><a href="/companies/<%- companyID %>/spotlight">Zeta Spotlight</a></li>
                                        <li><a href="/companies/<%- companyID %>/spotlight">Rewards and Recognition</a>
                                        </li>
                                        <li><a href="/companies/<%- companyID %>/spotlight/pointbased">Point-Based</a>
                                        </li>
                                        <li>
                                            <a
                                                href="/companies/<%- companyID %>/spotlight/pointbased/employee/<%-programID %>/<%- programName %>/pointsprogram#overview"><%- programName %></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Popover End -->
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <div class="page-heading">
                                        <h1 class="pd-top-ten pd-bottom-ten">Allocate Rewards</h1>
                                    </div>
                                </div>
                                <!-- <div class="col-xs-6 col-md-6">
                                            <a href="/companies/<%- companyID %>/spotlight/physical#issueOrderHistory">
                                                <div class="order-history-physical pull-right">
                                                    <h2>Issuance Order History</h2>
                                                </div>
                                                </a>  
                                            </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- Banner End -->
                    <div class="sub-container point-based-subcontainer" style="display: none;">
                        <div class="row sguploadFile point-based-subcontainer" id='uploadFileCntr'>
                            <!-- Upload File -->
                            <div class="col-xs-9 col-md-9 custom-box custom-box__point">
                                <div class="row ">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="page-sub-heading-txt bulk-upload-hdg-wrpr clearfix">
                                            <h5>Upload manager details & load amount</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- File Upload -->
                                <input type="hidden" id="uploadDetails" value='<%- fileUploadDetails %>'
                                    name="uploadDetails">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 file-main-container file-main-container__point">
                                        <form action="<%- fileUploadUrl %>" id='dragDrop'
                                            class="dropzone bulk-upload-cnt-wrpr">
                                            <div class="file-upload-container page-sub-heading dz-message">
                                                <div class="dotted-line">
                                                    <div class="display-table file-upload-height">
                                                        <div class="table-row">
                                                            <div class="table-column">
                                                                <img width="85" height="44" id="image_upload_preview"
                                                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/files-icon.png"
                                                                    alt="your image" />
                                                            </div>
                                                        </div>
                                                        <div class="table-row">
                                                            <div class="table-column">
                                                                <span class="file-upload-heading">Drag & Drop</span>
                                                            </div>
                                                        </div>
                                                        <div class="table-row">
                                                            <div class="table-column">
                                                                <span class="or-font">OR</span>
                                                            </div>
                                                        </div>
                                                        <div class="table-row">
                                                            <div class="table-column">
                                                                <form id="form1" runat="server">
                                                                    <div class="browse-wrap btn-disabled">
                                                                        <div class="text-center">
                                                                            <div class="upload-button">
                                                                                <strong></strong> BROWSE
                                                                            </div>
                                                                        </div>

                                                                        <div class="fallback">
                                                                            <input class="upload" name="file"
                                                                                type="file" />
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <div id="preview-template" style="display: none">
                                                <div class="dz-preview dz-file-preview">
                                                    <div class="dotted-line">
                                                        <div class="dz-details">
                                                            <img class="fileType" src="" alt="xls">
                                                            <div class="dz-filename"><span
                                                                    data-dz-name>payout.csv</span>
                                                            </div>
                                                            <div class="dz-progress"><span class="dz-upload"
                                                                    data-dz-uploadprogress></span>
                                                            </div>
                                                            <div class="dz-error-message"><span
                                                                    data-dz-errormessage>Error uploading file</span>
                                                            </div>
                                                            <!--<a class="removelink" href="javascript:void(0);">Change-->
                                                            <!--File</a>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="info-brand-uploads">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/c-info.svg" alt=""/>
                                            <span style="font-size: 11px;">Revoked amount will be used by default while placing new order.</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- File Upload End -->
                                <!-- Date Picker start -->
                                <div class="row pd-top-fifty">
                                    <div class="col-xs-12 col-md-12" style="display:none">
                                        <div class="form-group date-picker date-picker-width">
                                            <label>Schedule Transfer Expire Date</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control datepicker-img"
                                                    id="scheduleTransferDate" readonly />
                                                <!-- <span class="icon-transparent input-group-addon">
                                                                        <span><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/date.png"  alt="Zeta Date"/></span>
                                                                    </span> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Date Picker End -->
                                <!-- funding account selection-->
                                <input type="hidden" id="newFundDetails"
                                    data-fund='<%- JSON.stringify(fundingAccountDetails) %>' />
                                <div class="form-group select-custom select-custom-point" align="left">
                                    <label for="recipient-name" class="control-label "
                                        style="margin-bottom: 6px;">Funding account
                                        <span class="tooltip" style="opacity:1">
                                            <img class="subtitle sidebar-option-txt"
                                                style="width:12px;cursor:pointer;opacity:1"
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-icon.svg"
                                                alt="">
                                            <span class="tooltiptext tooltiptext-benefits" style="opacity:1">A Funding
                                                A/c is
                                                similar to your Bank’s current account. They can fund one or more
                                                programs
                                                across all your companies. You can use them to transfer funds to your
                                                beneficiaries.</span>
                                        </span>
                                    </label>
                                    <select id='fundingAccountID' class="form-control width-xs input-lg">
                                        <option value='0'>Select funding account</option>
                                        <% for(var currIndex=0; currIndex< fundingAccountDetails.length; currIndex++) {%>
                                        <option value='<%- fundingAccountDetails[currIndex].accountID %>'
                                            data-name="<%- fundingAccountDetails[currIndex].name %>"
                                            data-balance="<%- fundingAccountDetails[currIndex].balance / 100 %>">
                                            <%- fundingAccountDetails[currIndex].name %> -
                                            ₹<%- fundingAccountDetails[currIndex].balance / 100 %>
                                        </option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="fundCurrntBalance" style="display:none">
                                    Current Balance -<b>₹</b><b><span id="balanceFund"></span></b>
                                    <span class="insuffFund" style="display:none;color: #ffbc00;">
                                        <img
                                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/alert-orange.svg" />
                                        Insufficient Funds</span>
                                </div>
                                <!--end funding account selection-->
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="x-medium-button pd-top-ten pd-bottom-ten">
                                            <button class="btn btn-default btn-disabled" type="button" name="" value=""
                                                disabled id="order-verify-file">NEXT</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <!-- Right Panel -->
                                <div class="panel-container" id="remove-side-bar">
                                    <h6>Need help?</h6>
                                    <div class="straight-line mg-tb-less">&nbsp;</div>
                                    <p class="opcity-reduce">
                                        You need to upload a file with the manager list & details in an XLS,XLSX or CSV
                                        format.
                                    </p>
                                    <div class="header-preview pd-top-twenty pd-bottom-ten">
                                        <b>Download samples</b>
                                    </div>
                                    <% if(corpID == 96 || corpID == 17573 || corpID ==4803) { %>
                                    <div class="download-img-list">
                                        <a id='csvFile' href="/../../download-samples/ZetaRewardIssue-Sample.csv"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png"
                                                alt="Zeta icon" /></a>
                                        <a id='xlsFile' href="/../../download-samples/ZetaRewardIssue-Sample.xls"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png"
                                                alt="Zeta icon" /></a>
                                        <a id='xlsxFile' href="/../../download-samples/ZetaRewardIssue-Sample.xlsx"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                                                alt="Zeta icon" /></a>
                                    </div>
                                    <div class="header-preview pd-top-twenty pd-bottom-ten">
                                        <b>Sample Preview</b>
                                    </div>
                                    <div class="preview-image-container">
                                        <a href="#"
                                            data-featherlight="/../../images/previews/rewardsample-preview.png">
                                            <img id='previewImage' class="thumbnail img-responsive view-image"
                                                src="/../../images/previews/rewardsample-preview.png"
                                                alt="Zeta Preview" id="#mylightbox" />
                                        </a>
                                        <div class="image-preview">
                                            <img data-toggle="modal"
                                                data-featherlight="/../../images/previews/rewardsample-preview.png"
                                                class="search-image"
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                                                alt="zeta search" />
                                        </div>
                                    </div>
                                    <% } else {%>
                                        <div class="download-img-list">
                                            <a id='csvFile' href="/../../download-samples/rewardIssue-sample.csv"><img
                                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png"
                                                    alt="Zeta icon" /></a>
                                            <a id='xlsFile' href="/../../download-samples/rewardIssue-sample.xls"><img
                                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png"
                                                    alt="Zeta icon" /></a>
                                            <a id='xlsxFile' href="/../../download-samples/rewardIssue-sample.xlsx"><img
                                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                                                    alt="Zeta icon" /></a>
                                        </div>
                                        <div class="header-preview pd-top-twenty pd-bottom-ten">
                                            <b>Sample Preview</b>
                                        </div>
                                        <div class="preview-image-container">
                                            <a href="#"
                                                data-featherlight="/../../images/previews/rewardIssuePoint-preview.png">
                                                <img id='previewImage' class="thumbnail img-responsive view-image"
                                                    src="/../../images/previews/rewardIssuePoint-preview.png"
                                                    alt="Zeta Preview" id="#mylightbox" />
                                            </a>
                                            <div class="image-preview">
                                                <img data-toggle="modal"
                                                    data-featherlight="/../../images/previews/rewardIssuePoint-preview.png"
                                                    class="search-image"
                                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                                                    alt="zeta search" />
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <!-- Error Details start-->
                        <div class="row sguploadFile point-based-subcontainer" id="fileErrorWrpr"
                            style="display: none;">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class='bulk-order-errors'>
                                        <h3>Oops! We found some errors in your order file</h3>
                                        <div class='file-details-wrpr clearfix'>
                                            <div class='file-details-cntr'>
                                                <img id='fileTypeImg' width="36" height="48"
                                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                                                    alt="fileType" />
                                                <div class='file-details'>
                                                    <div id='fileName' class='file-name'></div>
                                                    <div class='file-status'>File uploaded</div>
                                                </div>
                                            </div>
                                            <div class='bulk-report-wrpr'>
                                                <!-- <a id='downloadSGReport' class='bulk-report-link' href='javascript:void(0)'>Download
                                                    complete
                                                    report</a> -->
                                            </div>
                                        </div>
                                        <div class='error-row-hdr'>
                                            <span class='bulk-invalid-icon'></span>
                                            <span class='bulk-invalid-dtls'>
                                                <span class='no-of-invalid-entries' id='noOfInvalidEntries'></span>
                                                invalid
                                                entries
                                            </span>
                                        </div>
                                        <div id="errorSelectGiftingTransfers">
                                            <!-- < include ../../../tables/transfer-orders > -->
                                        </div>
                                        <div class='error-page-btn-wrpr'>
                                            <div class="x-medium-button pd-top-ten pd-bottom-ten upload-again">
                                                <button class="btn btn-default" type="button" id="uploadAgain">Upload
                                                    file
                                                    again</button>
                                            </div>
                                            <!-- <span>OR</span> -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Error Details End-->


                        <div class="row sguploadFile point-based-subcontainer" id='createOrderShow'
                            style="display:none;margin: 0px;">
                            <!-- Upload File -->
                            <div class="col-xs-9 col-md-9 custom-box custom-box__point">
                                <div class="container-point-issue">
                                    <p>Verify your order</p>
                                </div>
                                <div class="container-point-header">
                                    <p class="container-point-para pull-left">SUMMARY</p>
                                    <p class="pull-right" style="display:none">
                                        <span class="container-point-span">Scheduled Date:</span>
                                        <strong id="order-date">01 Jan 2018</strong>
                                    </p>
                                </div>
                                <div>
                                    <table class="custom-table custom-table-rnr custom-table-rnr__order">
                                        <thead>
                                            <tr>
                                                <th>REWARD</th>
                                                <th style="text-align:  right;">QUANTITY</th>
                                                <th style="text-align:  right;">AMOUNT(₹)</th>
                                            </tr>
                                        </thead>                                        
                                        <tbody class="appendSummary">
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group left-align pd-top-ten">
                                    <div class="control-group control-padding-top">
                                        <label class="control control--checkbox terms" style="font-weight:normal;">I understand that this order can
                                            be neither cancelled nor revoked.
                                            <input type="checkbox" id="createGiftCheckbox">
                                            <div class="control__indicator"></div>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="x-medium-button">
                                            <button class="btn btn-default btn-disabled" type="button" name="" value=""
                                                disabled id="orderCompleted">CREATE ORDER</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 col-md-12">
                        <!-- last login  -->
                    </div>

                    <!-- Error Modal Oops Transfer  -->
                    <div class="modal fade" id="createOrderModalSGOops" tabindex="-1" role="dialog">
                        <div class="modal-dialog custom-modalbox" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="custom-modal-body">
                                    <div class="modal-body">
                                        <div class="text-center"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png"
                                                alt="Zeta icon" /></div>
                                        <h4 class="text-center pd-bottom-zero header-error-msg"></h4>                                       
                                         <div>
                                         <div class="text-center displayErrorMsg">
                                            <p> 
                                                Please check the file for missing headers or spelling mistakes. These are the expected headers:
                                            </p>                                        
                                            <div class="error-list-headers">
                                                <ol class="appendError">
                                                    <li><strong></strong></li>                                                   
                                                </ol>
                                            </div>
                                        </div>
                                            
                                        </div>                                       
                                    </div>
                                    <div class="modal-footer">
                                        <div class="x-medium-button create-bulk-transfer-order ">
                                            <a href="/companies/<%- companyID %>/spotlight/pointbased/employee/<%-programID %>/<%- programName %>/upload/issuepoints">
                                                <button class="btn btn-default reupload-file" style="width:100%;"
                                                    type="button">Upload file again</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Error Modal Oops Transfer End  -->

                    <!-- Error Modal Oops Transfer End  -->

                    <div class="modal fade in" id="show-success-modal" tabindex="-1" role="dialog"
                        data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog custom-modalbox" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&nbsp;</span>
                                    </button>
                                </div>
                                <div class="custom-modal-body">
                                    <div class="modal-body">
                                        <div class="page-sub-heading-txt program-code-list-wrpr text-center">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg"
                                                alt="">
                                            <h3>Order placed successfully</h3>
                                            <h5 style="font-size: 13px;">We will notify you once we complete processing
                                                the order file.</h5>
                                            <div class="bulk-order-dtls-wrpr">
                                                <div class="bulk-order-dtls-hdg">Summary</div>
                                                <ul>
                                                    <li class="clearfix">
                                                        <div class="bulk-order-lbl">Order ID</div>
                                                        <div class="bulk-order-val" id="orderId"></div>
                                                    </li>
                                                    <li class="clearfix" style="display:none">
                                                        <div class="bulk-order-lbl">Scheduled date</div>
                                                        <div class="bulk-order-val" id="scheduledDate"></div>
                                                    </li>
                                                    <li class="clearfix createhideIt">
                                                        <div class="bulk-order-lbl">Total Beneficiaries</div>
                                                        <div class="bulk-order-val" id="totalBeneficiary"></div>
                                                    </li>
                                                    <li class="clearfix createhideIt">
                                                        <div class="bulk-order-lbl">Total Rewards</div>
                                                        <div class="bulk-order-val" id="totalRewards"></div>
                                                    </li>
                                                    <li class="clearfix createhideIt">
                                                        <div class="bulk-order-lbl">Total Amount</div>
                                                        <div class="bulk-order-val" id="totalAmount"></div>
                                                    </li>

                                                    <li class="clearfix createhideIt2">
                                                        <div class="bulk-order-lbl">Status</div>
                                                        <div class="bulk-order-val"><span id="createStatus"><b
                                                                    style="color:#ff8b00">Processing</b></span></div>
                                                    </li>

                                                </ul>
                                            </div>

                                            <div class="x-medium-button create-bulk-transfer-order createhideIt2">
                                                <a
                                                    href="/companies/<%- companyID %>/spotlight/pointbased/employee/<%-programID %>/<%- programName %>/pointsprogram#overview">
                                                    <button class="btn btn-default" style="width:100%;"
                                                        type="button">Done</button>
                                                </a>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->



    <% include ../../../../common/html-script %>
    <script src="/dist/scripts/pointbasedHome.js"></script>
</body>

</html>