<div  style="border: 1px solid #c7c4d2;">
<div class="table-empty-state pad-top-bottom-forteen" style="display:block;">
<img src="/images/cards-empty.png" class="no-card-img" alt="">
<p class="zero-vd-text">0 Cards Issused.</p>
</div>
</div>
