<div class="row amount-pos">
        <div class="col-xs-6 col-md-6">
            <div class="user-profile-container">
                <div class="schedule_images">
                    <img src="../../../images/scheduled.png" class="amount-pic" alt="Scheduled Image">
                </div>
                <div class="profile-name-cell">
                    <div class="profile-heading modal-rupee">
                    <span id="scheduled-amount">0</span>
                    </div>
                    <div class="profile-subHeading modal-subheading-rupee">
                        Scheduled (<span id="scheduled-count">0</span>)
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-xs-6 col-md-6">
                <div class="modal-profileLink text-right pad-top-ten">
                        <a href="javascript:void(0)" data-id="schedule-table" id="schedule-table-id" class="">View Details</a>
                </div>
        </div>
  </div>