<div class="row single-card-area">
    <div class="col-xs-12 col-md-12">
        <div class="media-list-container border-line media-list-padding">
            <div class="media box-overflow-visible">
                <div class="media-left">

                    <img src="<%-(benefits.cardDesign.bg) ? benefits.cardDesign.bg : '' %>" alt="<%-(benefits.cardDesign.cardName) ? benefits.cardDesign.cardName : '' %>">
                </div>
                <div class="media-body box-overflow-visible">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="page-heading">
                                <h4 class="media-heading">
                                    <%-(benefits.cardDesign.cardName) ? htmlDecoder(benefits.cardDesign.cardName) : '' %>
                                </h4>
                            </div>
                            <div class="CardsIssued-cntr">
                                <div class="user-list-column">
                                    <ul class="list-unstyled mg-bottom-zero">
                                        <li>
                                            <small>Card Status:</small>
                                        </li>


                                        <li>
                                            <small>Issued By:</small>
                                        </li>


                                        <li>
                                            <small>Card ID:</small>
                                        </li>


                                    </ul>
                                </div>
                                <div class="user-discription-column">
                                    <ul class="list-unstyled mg-bottom-zero">
                                        <li>
                                            <% if(cards.status){ %>
                                                <%   if(cards.status === 'ACTIVE'){ %>
                                                    <small class="medium-green">Active</small>
                                                    <%   } else if(cards.status === 'CLOSED'){ %>
                                                        <small class="medium-red">Closed</small>
                                                        <%   } else{  %>
                                                            <small class=""><%-(cards.status) ? cards.status : '' %></small>
                                                            <%   } %>
                                                                <%  }    %>
                                        </li>


                                        <li>
                                            <small><%-(companyName) ? companyName : '' %></small>
                                        </li>


                                        <li>
                                            <small>
                                                            
                                                                <%-(cards.cardID) ? cards.cardID : '' %>
                                                            
                                                        </small>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="modal-profileLink text-right">
                                <div>
                                    <!-- Popover -->
                                    <div class="dropdown-log">
                                        <ul class="cus-card-nav nav navbar-nav">
                                            <li class="dropdown">
                                                <a href="#" class="" data-toggle="dropdown" aria-expanded="true"><span><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/vertical_dot_icon.png"></span></a>
                                                <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                                                    <li><a href="" class="">View Program Details</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div align="right" class="x-medium-button card-button-pos">
                                        <button class="btn btn-secondary downloadStatement text-uppercase btn-bg-color" data-card-id="<%-(cards.cardID) ? cards.cardID : '' %>" data-cardprogramid="<%-(benefits.cardProgramID) ? benefits.cardProgramID : '' %>" data-producttype="<%-(benefits.productType) ? benefits.productType : '' %>"
                                            data-cardname=" <%-(benefits.cardDesign.cardName) ? benefits.cardDesign.cardName : '' %>" data-userid="<%-(cards.userID) ? cards.userID : '' %>" data-cardstatus="<%-(cards.status) ? cards.status : '' %>" id="" name=""
                                            type="button" value="">
                                        DOWNLOAD STATEMENT 
                                            </button>
                                        <!-- <button class="btn btn-secondary text-uppercase btn-bg-color"  id="" name="" type="button" value="" disabled>DOWNLOAD STATEMENT
                                    </button> -->
                                        <!-- <button class="btn btn-default btn-disabled" type="button" name="" value="" disabled="" id="create-order">DOWNLOAD STATEMENT
                                    </button> -->
                                        <!-- <a class="btn btn-default btn-disabled tooltip-title transfer-tooltip anchor-disabled-button" type="button" name="" value="" disabled="" id="create-order" style="
                                    
                                   ">DOWNLOAD STATEMENT 
                                    <span class="tooltip-view anchor-disabled-tooltip">
                                        <div class="tooltip-lrtb-pd anchor-desabled-tooltip-width" >
                                    <div class="row"> <div class="col-xs-12 col-md-12"></div> </div> </div>Beneficiary statements are getting an upgrade and will be launched soon. Meanwhile,
                                   for any help,
                                   please email us on support@zeta.in</span> </a> -->
                                    </div>
                                    <div class="card-link-pos">
                                        <a href="javascript:void(0)" data-card-id="<%-(cards.cardID) ? cards.cardID : '' %>" id="cardDetailsLink-<%-(cards.cardID) ? cards.cardID : '' %>" class="cardDetailsLink ">View Details</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Table -->
                <div class="employee-details-cards-section no-display" id="cardDetailsHead-<%-(cards.cardID) ? cards.cardID : '' %>">
                    <h2 class="sub-heading-pdb">Transfer Report</h2>
                    <div class="employee-report-table" id="cardTransferReportTable-<%-(cards.cardID) ? cards.cardID : '' %>">

                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
    <script src="../../../../dist/scripts/cardProgramIndividualCard.js"></script>