<div class="row amount-pos">
        <div class="col-xs-6 col-md-6">
            <div class="user-profile-container">
                <div class="schedule_images">
                    <img src="../../../images/waiting-employees.png" class="amount-pic" alt="Scheduled Image">
                </div>
                <div class="profile-name-cell">
                    <div class="profile-heading modal-rupee">
                    <span class="ruppee">₹</span> <span id="waiting-amount">32000</span>
                    </div>
                    <div class="profile-subHeading modal-subheading-rupee">
                        Waiting for Beneficiary (<span id="waiting-count">2</span>)
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-xs-6 col-md-6">
                <div class="modal-profileLink text-right pad-top-ten">
                        <a href="javascript:void(0)" data-id="waiting-table" id="waiting-table-id" class="">View Details</a>
                </div>
        </div>
  </div>