<div class="signup-parent__left ph_color">
    <div class="signup__header">
    </div>
    <div class="signup__hero signup__hero--php-hero">
        <h1 class="signup__hero___heading">Sodexo Solutions</h1>
    </div>
  
    <div class="signup__support">
        <p class="signup__support___help">Need Help? Let us know</p>
        <ul class="signup__support___list">
            <li class="support__list___phone"><a href="tel:+63026894700">+63 (02)6894700</a></li>
            <li class="support__list___email"><a href="mailto:customercare.svc.ph@sodexo.com">customercare.svc.ph@sodexo.com</a></li>
        </ul>
    </div>
  </div>