<tr data-orderid="<%- orderID %>" class="orders-row numbers-font" >
    <td>
        <%-date%>
        <div class="time"><%-time%></div>
    </td>
    <td class="text-capitalize">
        <%-refName%>
    </td>
    <td>
        <%-orderID%>
    </td>
    <td>
        <%-totalPayouts %>
    </td>
    <td>
       <span class="ruppee">₹</span> <%- amount %>
    </td>
    <td>
        <% if(status.toLowerCase() === "completed") { %>
          <span class="instagift_status_completed text-capitalize"><%- status.toLowerCase() %></span>
          <div class="totalFailed failed"><%- failedPayouts %> FAILED</div>
        <% } %>
        <% if(status.toLowerCase() === "processing") { %>
          <span class="instagift_status_processing text-capitalize"><%- status.toLowerCase() %></span>
          <div class="totalFailed failed"><%- failedPayouts %> FAILED</div>
        <% } %>
    </td>
    <% if(status.toLowerCase() === "processing") { %>
      <td class="file-url text-center tooltip_report">
          <a href="javascript:void(0)" class="tooltip-title tooltip-cursor-pointer">
              <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xlsx-disabled.svg" alt="Download Order">
              <span class="tooltip-view">
                    <div class="tooltip-lrtb-pd">
                        <div class="row">
                            <div class="col-xs-12 col-md-12"> Report will be available once the order is processed</div>
                        </div>
                    </div>
              </span>
          </a>
      </td>
    <% } %>
    <% if(status.toLowerCase() === "completed" ) { %>
      <td class="file-url text-center download-report" data-reportOrderID="<%-orderID%>">
          <a href="javascript:void(0)" class="tooltip-title tooltip-cursor-pointer">
              <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xlsx.png" alt="Download Order">
              <span class="tooltip-view">
                    <div class="tooltip-lrtb-pd">
                        <div class="row">
                            <div class="col-xs-12 col-md-12"> Download Report</div>
                        </div>
                    </div>
              </span>
          </a>
      </td>
    <% } %>
    <!-- <td>
        <a href="#" target="_blank" class=" text-center tooltip-title tooltip-cursor-pointer">
            <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/proforma-icon.svg" alt="Proforma Invoice">
            <span class="tooltip-view">
                  <div class="tooltip-lrtb-pd">
                      <div class="row">
                          <div class="col-xs-12 col-md-12">Report and Invoice will be available once the order is processed</div>
                      </div>
                  </div>
            </span>
        </a>
    </td> -->
    <td></td>
</tr>
