<tr data-payout-id='<%-payoutID%>' data-order-id='<%-orderID%>'>
    <td class="text-capitalize">
        <%- name%>
    </td>
    <td>
        <%- maskedCardNumber%>
    </td>
    <td class="text-lowercase">
        <%- contact%>
    </td>
    <td class="text-right">
        <%- amount%>
    </td>
    <td class="payout-status">
        <span class='<%-status.toLowerCase()%> text-capitalize'><%- status.toLowerCase()%></span>
        <% if(typeof(statusMessage) !== 'undefined' && statusMessage === "ERR_CARD_ALREADY_LOADED"){ %>
            <div class="statusMessage">Card Already Loaded</div>
            <% } %>
                <% if(typeof(statusMessage) !== 'undefined' && statusMessage === "ERR_INVALID_CARD"){ %>
                    <div class="statusMessage">Invalid Card Number</div>
                    <% } %>
                        <% if(typeof(statusMessage) !== 'undefined' && statusMessage === "ERR_SERVER_ERROR"){ %>
                            <div class="statusMessage">Server Error</div>
                            <% } %>
    </td>
    <td class="position-dropdown">
        <% if(status.toLowerCase() === 'success'){ %>
            <div class="popover-content">
                <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="revoke payment">
                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                </span>
            </div>
            <!-- Popover End -->
            <!-- Dropdown -->
            <div class="dropdown-log">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="" data-toggle="dropdown"><span><img src="/images/vertical_dot_icon.png"></span></a>
                        <ul class="dropdown-menu dropdown-log-typeTwo">
                            <li><a class="revokePaymentLink" href="javascript:void(0)" data-orderid="<%- orderID %>" data-payoutid="<%- payoutID %>">
                                Revoke Payment
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <% } %>
    </td>
</tr>