<!-- Filter End -->
<!-- Table -->
<table class="custom-table mv-table-view">
    <thead>
    <tr>
        <th width="20%">BENEFICIARY</th>
        <th width="20%">CARD NUMBER</th>
        <th width="25%">EMAIL/MOBILE/BENEFICIARY ID</th>
        <th width="15%" class="text-right">AMOUNT (<span class="ruppee">₹</span>)</th>
        <th width="18%">Status</th>
        <th width="2%"></th>
    </tr>
    </thead>
    <tbody class="main-content" style="display: none;">
    </tbody>
    <tbody class="loading-content">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
        </tr>
    </tbody>
</table>


<!-- Pagination End -->
<div class="table-empty-state" style="display: none">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-empty-state.png" alt="">
    <p>No data available</p>
</div>

<div class="table-error-state" style="display: none">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-error-state.png" alt="">
    <p>Data failed to load.</p>
    <a class="reload-btn" href="javascript:void(0);">Reload</a>
</div>

<!-- Table End -->
<div align="center" class="row paging-container"></div>
