.bad-bits-container{
    // height:100px;
    border: solid 1px #dfdde6;
    border-radius:4px;
     padding:14px;
     background-color:#ffffff;
     height:505px;
     .bad-image-container{
         display:table;
         .bad-image{
             display:table-cell;
             width:32px;
             height:32px;
             vertical-align: middle;
             .bad-bits-image{
                width:36px;
                height:36px;
            }
         }
         .bad-stat-container{
             display:table-cell;
             padding-left:10px;
             vertical-align: middle;
            // width:calc(100% - 32px);
            .bad-bits-text{
                // font-family:$font-family-text;
                font-weight:600;
                font-size:18px;
            }
            .bad-bits-total-rating{
                // font-family:$font-family-text;
                font-size:12px;
            }
         }
     }
     .bad-review-container{
        // border:1px solid pink;
         height:445px;
         overflow:auto;
         #bad-bits-loading{
            z-index: 1;
            width: inherit;
            position: absolute;
            left: 0;
            right: 0;
            top: 100px;
            display:none;
        }
        #bad-bits-empty{
            text-align: center;
            top: 200px;
            position: relative;
           // display: none;
        }
         .bad-review-text-number{
             //border:1px solid orange;
             display:table;
             width:100%;
             padding-top:36px;
             .bad-review-text{
                // border:1px solid purple;
                 display:table-cell;
                 width:70%;
                 font-weight:bolder;
             }
             .bad-review-number{
                // border:1px solid gold;
                 display:table-cell;
                 width:30%;
                 text-align:right;
                 font-weight:bolder;
             }
         }
         .loader-container{
             padding-top:12px;
             .loader-outer{
                  height:5px;
                  background-color:#dfdde6;
                 // border:1px solid cyan;
                  border-radius:5px;
                 .loader-inner{
                    height: inherit;
                    width:70%;
                    background-color:#e74c3c;
                    border-radius:5px;
                    animation:progressbar 2s;
                 }
             }
         }
     }
     
 
 }

 @keyframes progressbar {
    from {width: 0%;}
}