.customer-rating-container{
   // height:100px;
   border: solid 1px #dfdde6;
   border-radius:4px;
    background-color:#ffffff;
    padding-left:24px;
    padding-top:20px;
    .rating-star-container{
        //border:1px solid yellow;
       // background-color:green;
        // height:100px;
        .rating-text-container{
            font-weight:600;
            .avg-rating{
                font-size:32px;
            }
            .total-rating{
                padding-left:2px;
            }
        }
        .star-rating-container{
            .rating-star{
                width:12px;
                height:12px;
            }
            
        }
        .rated-by-people-container{
            font-size:12px;
        }
    }
    .rating-stats-graph-container{
       // border:1px solid blue;
    }
}
