.comment-text-container{
    //border:1px solid gold;
    .comment-text{
        font-size:20px;  
        font-weight:bolder;  
        color: #190f27;
    }
}
.comment-rating-container{
    //border:1px solid rgb(128, 0, 128);
    padding-top:16px;
    .customer-rating{
        padding:5px 16px;
       // border-bottom:2px solid purple;
       cursor:pointer;
        font-size:14px;
        display:inline-block;
    }
}
.comment-details-container{
    
    //border:1px solid green;
    #customer-comments-loading{
        z-index: 1;
        width: inherit;
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        display:none;
    }
    #customer-comments-empty{
        text-align: center;
        top: 25px;
        position: relative;
       // display: none;
    }
    .comment-inner-container{
       // border:1px solid cyan;
        .comment-user-name{
            font-weight:700;
            padding-top:30px;
            color:#000000;
            //border:1px solid #B700FF;
        }
        .comment-user-time{
            font-size:12px;
            opacity:0.7;
            padding-top:5px;
           // border:1px solid #FF0062;
        }
        .user-comment{
            padding-top:5px;
            font-weight:600;
           // border:1px solid #FFAE00;
        }
    }
}