.no-padding{
    padding:0px !important;
}
.no-margin{
    margin:0px !important;
}
.stats-container{
    margin-top:10px;
    //height:500px;
    border-radius:4px;
    background-color:#ffffff;
    
    .global-date-container{
        //height:70px;
       // background-color:yellow;
    
        .heading-one{
           // background-color:blue;
            .customer-rating-text{
                font-size:20px;
            }
            //font-size:20px;
            // padding-left:26px;
            // padding-top:40px;

        }
        .date-container{
           // background-color:red;
            // padding-top:40px;
            text-align:right;
            .date-picker{
                display:inline-block;
                width:auto;
            }
        
        }
    }
    .rating-bits-container{
        #rating-graph-container{
            //height:100px;
            //padding-left:42px;
            //background-color:green;
            padding-right:5px;
        
        }
        #good-bits-container{
        // height:100px;
            //background-color:blue;
        
        }
        #bad-bits-container{
        // height:100px;
           // background-color:gold;
        }
    }
    
}
.comment-main-container{
    //border:1px solid purple;
    margin-top:16px;
    border-radius:4px;
    background-color:#ffffff;
}