.office-dropdown{
    //height:50px;
    padding:10px 10px 16px 0px;
    background-color:#ffffff;
    border-radius:4px;
    text-align:center;
    position:relative;
    text-align:left;
    cursor:pointer;
    
    
  }
  .office-label{
    position:relative;
    left:5%;
    top:5px;
    font-size:12px;
  }
  .office-title{
    position:relative;
    top:16px;
    left:5%;
    transform:translateY(-50%);
    
  }
  .office-image{
    position:absolute;
    right:10px;
    top:calc(50% - 3px);
    border: solid black;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 3px;
     transform: rotate(45deg);
     
    
  }
  
  .office-multiselect-option{
     display:inline-block;
    // border:1px solid green;
    background-color:#f4f4f4;
    width:16px;
    height:16px;
    border-radius:2px;
    position:relative; 
    cursor:pointer;  
  }
  
  .office-tick{
    position:absolute;
    left:5px;
    top:2px;
    color:green;
    font-size:10px;
    //display:none;
  }
  
  .office-multiselect-container{
    //border:1px solid gold;
    padding:10px 10px;
    z-index:1;
    
    &:hover{
        cursor:pointer;
        border-radius:4px;
    }
    
  }
  
  .office-tick-visible{
    display:none;
  }
  .ischecked{
    
  }
  
  .office-multiselect-values{
    display:inline-block;
    //border:1px solid grey;
    height:16px;
    width:calc(100% - 25px);
    overflow:hidden;
    text-overflow: ellipsis;
  }
  .office-list{
    //border:1px solid orange;
    background-color:#ffffff;
    border-radius:4px;
    position:absolute;
    width:calc(100% - 30px);
    z-index:5;
    display:none;
    top:78px;//64px
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.12);
  }
  .office-triangle-container{
    //border:1px solid purple;
    position:absolute;
    padding-left:275px;
    display:none;
    z-index:1;
    
    
  }
  .office-triangle{
    top:0px;
    height:0px;
    width:0px;
   // border:1px solid green;
    border-top:14px solid transparent;
    border-bottom:14px solid #ffffff;
    border-left:14px solid transparent;
    border-right:14px solid transparent;
    margin-top:-14px;
    position:absolute;
  }