<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Corporates Dashboard</title>
    <link rel="shortcut icon" href="https://card-program-files.s3.amazonaws.com/hrDashboard/images/favicon.png">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css?v=<%- deployVersion%>">
    <link rel="stylesheet" href="/lib/dropzone/dist/min/dropzone.min.css?v=<%- deployVersion%>" />
    <link rel="stylesheet" href="/lib/jquery-flipster/dist/jquery.flipster.min.css?v=<%- deployVersion%>" />
    <link href="/lib/featherlight-1.7.2/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/dist/css/main.css?v=<%- deployVersion%>">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://corp.zetaapps.in https://mv-stage.dash.zeta.in https://www.gstatic.com https://maps.googleapis.com https://www.google-analytics.com; style-src 'unsafe-inline' 'self' https://www.gstatic.com https://fonts.googleapis.com ; connect-src 'self' https://api.gw.zetapay.in https://corp.zetaapps.in https://zapps-prod-mv-tmp.s3-ap-southeast-1.amazonaws.com https://api.stage.zeta.in https://mv-stage.dash.zeta.in https://corp-ben-hr-files-temp-stage.s3-ap-southeast-1.amazonaws.com/ ws: ;img-src 'self' https://card-program-files.s3.amazonaws.com https://zeta-ud-prod.s3.amazonaws.com https://csi.gstatic.com https://zeta-s3-bucket-claimed-bills-prod.s3.amazonaws.com https://i.ytimg.com https://zeta-userdocs-stage2.s3.amazonaws.com https://www.google-analytics.com https://zeta-s3-bucket-claimed-bills-staging.s3.amazonaws.com http://loyalty-files.zetaapps.in.s3.amazonaws.com/; font-src 'self' data: https://fonts.gstatic.com;">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="wrapper">
        <!-- Top Header Part -->
        <nav class="navbar navbar-inverse navbar-fixed-top header-container" style="left:0;">
            <div class="container-fluid mv-container header-boxshadow">
                <div id="navbar" class="navbar-collapse collapse full-header">
                    <ul class="nav navbar-nav navbar-left navbar-left-pd">
                        <li>
                            <span class='zeta-purple-logo'></span>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right dropdown-log">
                        <li class="dropdown"><a href="#" class="dropdown-toggle hover-focus-overcome" data-toggle="dropdown" aria-expanded="true">Help & Support
                        <img src="/images/down-arrow.png" alt="zeta iocn"/></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li><a class="noColor" target="_blank" href="https://docs.zetaapps.in" role="menuitem">Documentation</a></li>
                                <li><a class="noColor" target="_blank" href="https://docs.zetaapps.in/display/OND/FAQs#ForEmployers" role="menuitem">FAQs</a></li>
                                <li><a class="noColor" target="_blank" href="https://zeta.in/support/" role="menuitem">Contact Us</a></li>
                            </ul>
                        </li>
                        <li><a href="3"><span class="vertical-line">&nbsp;</span></a></li>
                        <!-- Logout -->
                        <!-- Must include this class <div class="dropdown-log"></div> -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle hover-focus-overcome" data-toggle="dropdown">
                                <%-fullName %> <img src="/images/down-arrow.png" alt="zeta iocn" />
                            </a>
                            <ul class="dropdown-menu dropdown-log-menu logout-dropdown">
                                <li><a href="/logout"> Log Out </a></li>
                            </ul>
                        </li>
                        <!-- Logout End -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Top Header Part End -->
        <!-- Container -->
        <div class="container-fluid sidebar-row">
            <div class="row">
                <div class='no-account-wrpr clearfix'>
                    <div class='no-account-left'>
                        <div class='profile-img-cntr'>
                            <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png' class='profile-img' />
                            <div class='profile-name'>
                                <%-fullName %>
                            </div>
                        </div>
                        <div class='profile-details-cntr'>
                            <% if(phoneNumbers.length > 0) { %>
                                <div class='contact-list-wrpr mobile-contacts-wrpr'>
                                    <div class='contact-list-hdg'>Verified mobile number</div>
                                    <div class='contact-list'>
                                        <% for(var currIndex=0; currIndex< phoneNumbers.length; currIndex++) { %>
                                            <div>
                                                <%-phoneNumbers[currIndex].phoneNumber %>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                                <% } %>
                                    <% if(emailList.length > 0) { %>
                                        <div class='contact-list-wrpr'>
                                            <div class='contact-list-hdg'>Verified email address</div>
                                            <div class='contact-list'>
                                                <% for(var currIndex=0; currIndex< emailList.length; currIndex++) { %>
                                                    <div>
                                                        <%-emailList[currIndex].email %>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <% } %>
                        </div>
                    </div>
                    <div class='no-account-right'>
                        <div class='no-account-hdr clearfix'>
                            <div class='no-account-icon'></div>
                            <h3>Oops! You don’t have access to a Zeta corporate account</h3>
                        </div>
                        <div class='no-account-details'>
                            <div class='details-hdg'>Seeing this in error? Check below:</div>
                        </div>
                        <ul class='reason-list'>
                            <li class='clearfix'>
                                <div class='reason-no'>1</div>
                                <div class='reason-details'>
                                    <div class='reason-question'>Do you have a Zeta corporate account?</div>
                                    <div class='reason-answer'>If no, <a href="/signup">click here</a> to request for a new Zeta corporate account to manage your employees’ tax reimbursement experience. It's free and easy.</div>
                                </div>
                            </li>
                            <li class='clearfix'>
                                <div class='reason-no'>2</div>
                                <div class='reason-details'>
                                    <div class='reason-question'>Are you an existing Zeta corporate dashboard user?</div>
                                    <div class='reason-answer'>We recently launched the <span class='new-txt'>new</span> corporate dashboard. It’s swanky and comes with a host of benefits. It’s mandatory for everyone to start using the new dashboard (Not that you wouldn’t want
                                        to 😊 ). To migrate to the new dashboard, just login to the old corporate dashboard using your old account details and then click on “Migrate Now”.</div>
                                    <div class='login-link'>To login to your old dashboard, <a href='https://corp.zetaapps.in/#/login'>click here</a></div>
                                </div>
                            </li>
                            <li class='clearfix'>
                                <div class='reason-no'>3</div>
                                <div class='reason-details'>
                                    <div class='reason-question'>Need help?</div>
                                    <div class='reason-answer'>Please get in touch with your corporate Account Manager or reach out to us on <b>support@zeta.in</b> or <b>080-66905995</b>. We’re here to help.</div>
                                </div>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <% include ../html-script %>


        <script src="/dist/scripts/corpDetails.js"></script>

        <script type="text/javascript">
            $(function() {
                $('[data-toggle="popover"]').popover()
            })
        </script>

</body>

</html>