<tr data-orderid="" class="orders-row numbers-font">
    <td class="custom-padding">              
        <%- employee.employeeID %>
    </td>

    <td class="custom-padding" style="min-width:124px;">
    <%- employee.name %>    
    </td>

    <td class="custom-padding">        
    <%- employee.emailID %>                 
    </td>

    <td class="custom-padding" style="text-align:  right">
    <%- employee.buID %>   
    </td>

    <td class="custom-padding" style="text-align:  right">
    
      <span class="tooltip tool-tip-rnr" style="opacity:1;">
            <div>
                 <%- rewardsIssued %>
            </div>
            <span class="tooltiptext tool-tip-text" style="opacity:1">
                <div class="tooltip-text_gift">
                    <% for(let i in rewardsIssuedCountMap){ %>    
                    <div class="tool-tip-text__p"><%- i %>  <span class="pull-right">x <%- rewardsIssuedCountMap[i] %></span></div>
                    <% } %>
                </div>
            </span>
        </span>
    </td>

    <td  class="custom-padding">
     <% if(isZetaUser === true ){%>
        <span class="instagift_status_completed text-capitalize">
           Completed
        </span>
        <% } else {%>
        <span class="instagift_status_processing text-capitalize">
            Waiting for Beneficiary
        </span>
        <p>User not verified</p>
        <% } %>
    </td>


    <td colspan="2" class="custom-padding position-dropdown  payout-revoke">
        <!-- Popover -->
        <!--<div class="popover-content">
            <span data-container="body" data-toggle="popover" data-placement="bottom"
                data-content="Edit Program Settings">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
            </span>
        </div>-->
        <!-- Popover End -->
        <!-- Dropdown -->
        <!--<div class="dropdown-log">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="" data-toggle="dropdown"><span><img src="/images/vertical_dot_icon.png"></span></a>
                    <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                        <li><a href=''>View Order Details</a></li>                       
                    </ul>
                </li>  
            </ul>
        </div>-->
        <!-- Dropdown End -->
    </td>   
</tr>