<div class="tab-pane active" id="tab_default_1">
        <!-- Page Heading and List -->
        <div class="row">
            <div class="col-xs-9 col-md-9">
                <ul class='bulk-transfer-step-list'>
                    <li id='chooseStep' class='active'>
                        <div class='bulk-transfer-step-no'>1</div>
                        <div id='chooseTxt' class='bulk-transfer-step-txt'>Choose Design</div>
                    </li>
                    <li id='uploadStep'>
                        <div class='bulk-transfer-step-line'></div>
                        <div class='bulk-transfer-step-no'>2</div>
                        <div class='bulk-transfer-step-txt bulk-transfer-step-two'>Add Beneficiaries</div>
                    </li>
                    <li id='verifyStep'>
                        <div class='bulk-transfer-step-line'></div>
                        <div class='bulk-transfer-step-no'>3</div>
                        <div class='bulk-transfer-step-txt bulk-transfer-step-three'>Verify & Pay</div>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="row" style="margin-left:15px;" id="virtualGiftContainer">
        <div class="col-xs-9 col-md-9 custom-box" style="min-height:432px;">
        <div>
            <!-- START chooseDesign -->
            <div id="chooseDesign">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="rewardChooseTxt">Choose a design</div>
                        <div class="chooseDesignRow">
                            <ul class="clearfix">
                                <!-- <li class="newCreateDesign addNewTemplate">
                                    <div class="newCreateDv">
                                        <span>+</span>
                                    </div>
                                    <div class="newCreateTxt">Create custom design</div>
                                </li> -->
    
                                <% for(var i=0; i<newtemplateVirtual.length; i++) { %>
                                <% if(newtemplateVirtual[i].ifiName.toLowerCase() == 'hdfc' ) { %>
                                   
                                    <li class="newCreateDesign rewardGift" data-cardprogramid="<%- newtemplateVirtual[i].cardProgramID %>"
                                            data-cardtype="<%- newtemplateVirtual[i].cardType %>" data-id="<%- newtemplateVirtual[i].id %>"
                                            data-fundingaccountid="<%- newtemplateVirtual[i].fundingAccountID %>" data-cardname="<%- newtemplateVirtual[i].cardName %>"
                                            data-templategroupid="<%- newtemplateVirtual[i].templateGroupID %>" data-img="<%- newtemplateVirtual[i].designLink %>"
                                            data-message='<%- newtemplateVirtual[i].attributes.email_line_2 %>' data-greeting="<%- newtemplateVirtual[i].attributes.email_line_1 %>">
            
                                            <span class="active-icon"></span>
                                            <div class="createDv">
                                                <img src="<%- newtemplateVirtual[i].designLink %>" />
                                            </div>
                                            <div class="ellipsis">
                                                <div class="inner">
                                                    <span class="newCreateTxt">
                                                        <%- newtemplateVirtual[i].cardName %>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                <% } else {%>    
                                    <li class="newCreateDesign rewardGift" data-cardprogramid="<%- newtemplateVirtual[i].cardProgramID %>"
                                        data-cardtype="<%- newtemplateVirtual[i].cardType %>" data-id="<%- newtemplateVirtual[i].id %>"
                                        data-fundingaccountid="<%- newtemplateVirtual[i].fundingAccountID %>" data-cardname="<%- newtemplateVirtual[i].cardName %>"
                                        data-templategroupid="<%- newtemplateVirtual[i].templateGroupID %>" data-img="<%- newtemplateVirtual[i].designLink %>"
                                        data-message='<%- newtemplateVirtual[i].attributes.email_line_2 %>' data-greeting="<%- newtemplateVirtual[i].attributes.email_line_1 %>">
    
                                        <span class="active-icon"></span>
                                        <div class="createDv">
                                            <img src="<%- newtemplateVirtual[i].designLink %>" />
                                        </div>
                                        <div class="ellipsis">
                                            <div class="inner">
                                                <span class="newCreateTxt">
                                                    <%- newtemplateVirtual[i].cardName %>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                  
                                <% } %>
                                <% } %>
                            </ul>
                        </div>
                        <div class="x-medium-button">
                            <button id="rewardTemplateSelected" data-url="Step2" class="btn btn-default btn-disabled"
                                disabled type="button">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END chooseDesign -->
    
            <!-- START ADDBENEFITS MANUAL ENTRY -->
            <div class="virtualManual" id="addBenefits" style="display:none">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="rewardbenegitHead">Add Beneficiaries</div>
                        <div class="rewardbenegitSubHead">Enter details of beneficiaries to whom you want to send gifts</div>
                        <form id="manualData" class="clearfix" autocomplete="off">
                            <% if(ifiBankName == 'HDFC' ) { %>
                            <div>
                                <ol id="buildyourform" class="beneficiaries-input">
                                    <li class="rewardBenefitInputDv" id="field1">
                                        <div class="manualBenefitHead">
                                            <span class="dottedLine dottedLineFull"></span>
                                        </div>
    
                                        <div class="zeta-col1">
                                            <input type="text" class="inputField inputFieldValidate input-name-validate"
                                                data-validator="name" placeholder="Name">
                                        </div>
    
                                        <div class="zeta-col3 " style="width: 24%">
                                            <div class="input-group tooltip-custom">   
                                                <div class="input-group-addon"> &nbsp; ₹ &nbsp; </div>
                                                <input type="number" onpaste="return false;" class="inputField inputFieldValidate <%=ifiBankName.toLowerCase()+'AmountValidate'%> custom-border input-amount-validate1"
                                                    placeholder="Amount" data-validator="amount" maxlength="8" style="width: 100%;"
                                                    onkeypress="return event.charCode >= 48 && event.charCode <= 57" >
                                                <span class="tooltiptext" style="left: 37.5%;width:  305px;">
                                                    <div class="inner-suggestion-container">
                                                        <% if(ifiBankName.toLowerCase() === 'hdfc') { %>
                                                            <div class="inner-suggestion-p" style="color:red; opacity:0.8;">Minimum value for virtual card is Rs. 100</div>
                                                        <% } %>
                                                        <div class="inner-suggestion-p">Suggested Amounts</div>
                                                        <div class="inner-suggestion-amount" style="width:  297px;">
                                                            <div class="inner-suggestion-list hdfc-amount-suggestion-list">
                                                                <div class="append-amount" data-amount="100" data-id="1">100</div>
                                                                <div class="append-amount" data-amount="500" data-id="1">500</div>
                                                                <div class="append-amount" data-amount="1000" data-id="1">1,000</div>
                                                                <div class="append-amount" data-amount="2500" data-id="1">2,500</div>
                                                                <div class="append-amount" data-amount="5000" data-id="1">5,000</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                            <!--  <p>Please fill the amount</p> -->
                                        </div>
    
    
                                        <div class="zeta-col4" style="width:21%;">
                                            <div class="form-group date-picker date-picker-width" style="margin-bottom:unset">
                                                <div class="input-group" style="width:100%;">
                                                    <input type="text" class="inputField inputFieldValidate input-date-validate form-control datepicker-img scheduleTransferDate"
                                                        data-validator="date" placeholder="Transfer Date" id="" readonly />
                                                </div>
                                            </div>
                                        </div>
    
    
                                        <div class="zeta-col3">
                                            <input type="text" class="inputField inputFieldValidate input-email-validate"
                                                data-validator="email" placeholder="Email">
                                            <!--   <p>Invalid Email Address</p> -->
                                        </div>
    
                                        <div class="zeta-col4" style="width:49.5%;">
                                            <div class="input-group">
                                                <div class="input-group-addon"> +91</div>
                                                <input type="number" onkeypress="if(this.value.length==10) return false;"
                                                    class="inputField inputFieldValidate input-phone-validate custom-border"
                                                    data-validator="phone" placeholder="Mobile Number" style="width:96%" autocomplete="off">
                                            </div>
                                        </div>
                                        <!--  <p>Invalid Date</p> -->
    
                                    </li>
                                </ol>
                            </div>
                            <input type="hidden" value="" id="rightHdfcAmount" readonly />
                            <%} else { %>
                            <div>
                                <ol id="buildyourform" class="beneficiaries-input">
                                    <li class="rewardBenefitInputDv" id="field1">
                                        <div class="manualBenefitHead">
                                            <span class="dottedLine dottedLineFull"></span>
                                        </div>
                                        <div class="zeta-col1">
                                            <input type="text" class="inputField inputFieldValidate input-name-validate"
                                                data-validator="name" placeholder="Name">
                                            <!--  <p>Please fill the name</p> -->
                                        </div>
                                        <div class="zeta-col3 " style="width: 49%">
                                            <div class="input-group tooltip-custom">
                                                <div class="input-group-addon"> &nbsp; ₹ &nbsp; </div>
                                                <input type="number"  onpaste="return false;" class="inputField inputFieldValidate  <%=ifiBankName.toLowerCase()+'AmountValidate'%> custom-border input-amount-validate1"
                                                    placeholder="Amount" data-validator="amount" maxlength="8">
                                                <span class="tooltiptext">
                                                    <div class="inner-suggestion-container">
    
                                                        <% if(ifiBankName.toLowerCase() === 'kotak') { %>
                                                            <div class="inner-suggestion-p" style="color:red; opacity:0.8;">Minimum value for virtual card is Rs. 1</div>
                                                        <% } %>
                                                        <div class="inner-suggestion-p">Suggested Amounts</div>
    
                                                        <div class="inner-suggestion-amount">
                                                            <div class="inner-suggestion-list">
                                                                <div class="append-amount" data-amount="500" data-id="1">500</div>
                                                                <div class="append-amount" data-amount="1000" data-id="1">1,000</div>
                                                                <div class="append-amount" data-amount="2500" data-id="1">2,500</div>
                                                                <div class="append-amount" data-amount="5000" data-id="1">5,000</div>
                                                                <div class="append-amount" data-amount="10000" data-id="1">10,000</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                            <!--  <p>Please fill the amount</p> -->
    
                                        </div>
    
                                        <div class="zeta-col3">
                                            <input type="text" class="inputField inputFieldValidate input-email-validate"
                                                data-validator="email" placeholder="Email or Mobile Number" autocomplete="off">
                                            <!--   <p>Invalid Email Address</p> -->
                                        </div>
                                        <div class="zeta-col4" style="width:49%;">
                                            <div class="form-group date-picker date-picker-width" style="margin-bottom:unset">
                                                <div class="input-group" style="width:100%;">
                                                    <input type="text" class="inputField inputFieldValidate input-date-validate form-control datepicker-img scheduleTransferDate"
                                                        data-validator="date" placeholder="Transfer Date" id="" readonly />
                                                </div>
                                            </div>
                                            <!--  <p>Invalid Date</p> -->
                                        </div>
                                    </li>
                                </ol>
                                <input type="hidden" value="" id="is-all-fields-filled" readonly />
                                
                            </div>
                            <% } %>
                            <input type="hidden" value="" id="rightHdfcAmount" readonly />
                        </form>
                        
                        <span class="benefitAddBtn">
                            <span class="plus">+</span>
                            <p id="add" style="color: #4a90e2;font-size: 13px;font-weight: 600; margin-bottom: 20px;cursor: pointer;opacity: unset;display:  inline;text-decoration:  underline;">Add
                                beneficiary</p>
                            <span class="max10" style="cursor: default;">(max 10)</span>
                    </div>
    
                    <div class="x-medium-button col-xs-12 col-md-12">
                        <button id="rewardSingleSelected" data-url="Step3Manual" class="btn btn-default" type="button">Next
                            <img class="spinner-loader" id="spot-show-loader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                        </button>
                    </div>
    
                    <div class="orDiv col-xs-12 col-md-12">or
                        <span class="emptyLine"></span>
                    </div>
                    <div id="rewardBulkUpload" class="col-xs-12 col-md-12">
                        <a href="javascript:void(0)">Upload in bulk</a>
                    </div>
                </div>
            </div>
            <!-- END ADDBENEFITS MANUAL ENTRY -->
    
            <!-- START BULKUPLOAD -->
            <div id="addBenefitsBulk" style="display:none;margin-right: 25px;">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="row sguploadFile">
                            <!-- Upload File -->
                            <div class="col-xs-9 col-md-9">
                                <div class="row ">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="page-sub-heading-txt bulk-upload-hdg-wrpr clearfix">
                                            <h3>Add Beneficiaries</h3>
                                        </div>
                                        <div class="pageSubTxt">Upload a file with beneficiary list & details in an XLS,
                                            XLSX or CSV format.</div>
                                    </div>
                                </div>
                                <!-- File Upload -->
                                <input type="hidden" id="uploadDetails" value='<%- fileUploadDetails %>' name="uploadDetails">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 file-main-container">
                                        <form action="<%- fileUploadUrl %>" id='dragDrop' class="dropzone bulk-upload-cnt-wrpr">
                                            <div class="file-upload-container page-sub-heading dz-message">
                                                <div class="dotted-line">
                                                    <div class="display-table file-upload-height">
                                                        <div class="table-row">
                                                            <div class="table-column">
                                                                <img width="85" height="44" id="image_upload_preview" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/files-icon.png"
                                                                    alt="your image" />
                                                            </div>
                                                        </div>
                                                        <div class="table-row">
                                                            <div class="table-column">
                                                                <span class="file-upload-heading">Drag & Drop</span>
                                                            </div>
                                                        </div>
                                                        <div class="table-row">
                                                            <div class="table-column">
                                                                <span class="or-font">OR</span>
                                                            </div>
                                                        </div>
                                                        <div class="table-row">
                                                            <div class="table-column">
                                                                <form id="form1" runat="server">
                                                                    <div class="browse-wrap btn-disabled">
                                                                        <div class="text-center">
                                                                            <div class="upload-button">
                                                                                <strong>+</strong> Upload File
                                                                            </div>
                                                                        </div>
                                                                        <div class="fallback">
                                                                            <input class="upload" name="file" type="file" />
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
    
    
                                            <div id="preview-template" style="display: none">
                                                <div class="dz-preview dz-file-preview" style="margin:0px;height: 268px;">
                                                    <div class="dotted-line">
                                                        <div class="dz-details">
                                                            <img class="fileType" src="" alt="xls">
                                                            <div class="dz-filename">
                                                                <span data-dz-name>payout.csv</span>
                                                            </div>
                                                            <div class="dz-progress">
                                                                <span class="dz-upload" data-dz-uploadprogress></span>
                                                            </div>
                                                            <div class="dz-error-message">
                                                                <span data-dz-errormessage>Error uploading file</span>
                                                            </div>
                                                            <!--<a class="removelink" href="javascript:void(0);">Change-->
                                                            <!--File</a>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="info-brand-uploads">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/c-info.svg" alt=""/>
                                            <span style="font-size: 11px;">Providing correct email and/or phone number of the beneficiary is corporate's responsibility</span>
                                        </div>
                                        <% if(ifiBankName == 'HDFC') { %>
                                            <div class="col-xs-12 col-md-12" style="padding: 0px;">
                                                <div class="info-brand-uploads">
                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/c-info.svg" alt=""/>
                                                    <span style="font-size: 11px;">Disclaimer: Each beneficiary can be issued upto 25 gift cards in a day</span>
                                                </div>
                                            </div>
                                          <% } %>
                                    </div>
                                </div>
                                <!-- File Upload End -->
                              
                                <div class="row">
                             <% if(corpID) { %>
                                        <div class="col-xs-12 col-md-12">
                                                <div class="form-group left-align" style="width:245px;margin-top:10px;">
                                                        <label style="font-weight:normal;">Repeat this order (optional)</label>
                                                        <div class="form-group select-custom" align="right">
                                                                <select id='repeatAction' class="form-control width-xs input-lg" style="padding:0 16px;height:40px;line-height:40px;">
                                                                    <option value='0'>Select repeat action</option>
                                                                    <option value='1'>Weekly</option>
                                                                    <option value='2'>Monthly</option>
                                                                    <option value='3'>Quarterly</option>
                                                                    <option value='4'>Half-yearly</option>  
                                                                </select>
                                                            </div>
                                                    </div>
                                                </div>
                           
                            <% } %>                       
                                    <div class="col-xs-12 col-md-12">
                                        <div class="x-medium-button pd-top-twenty pd-bottom-ten" style="padding:  0px;">
                                            <button class="btn btn-default btn-disabled" data-url="Step3Bulk" disabled type="button"
                                                name="" value="" id="create-order">NEXT
                                                <img class="spinner-loader create-order-spinner" id="order-show-loader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                                                </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <!-- Right Panel -->
                                <div class="panel-container">
                                    <div class="header-preview pd-top-twenty pd-bottom-ten" style="padding-top: 27px;">
                                        <b>Sample Preview</b>
                                    </div>
                                    <div class="preview-image-container">
                                        <% if(ifiBankName == 'HDFC' ) { %>
                                        <a href="#" data-featherlight="../../../../images/previews/digital-gift-hdfc-preview.png">
                                            <img id='previewImage' class="thumbnail img-responsive view-image" src="../../../../images/previews/digital-gift-preview.png"
                                                alt="Zeta Preview" id="#mylightbox" />
                                        </a>
                                        <div class="image-preview">
                                        <img data-toggle="modal" data-featherlight="../../../../images/previews/digital-gift-hdfc-preview.png"
                                            class="search-image" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                                            alt="zeta search" />
                                    </div>
                                        <% }else{ %>
                                        <a href="#" data-featherlight="../../../../images/previews/digital-gift-preview.png">
                                            <img id='previewImage' class="thumbnail img-responsive view-image" src="../../../../images/previews/digital-gift-preview.png"
                                                alt="Zeta Preview" id="#mylightbox" />
                                        </a>
                                        <div class="image-preview">
                                        <img data-toggle="modal" data-featherlight="../../../../images/previews/digital-gift-preview.png" data-backdrop="false"
                                            class="search-image" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                                            alt="zeta search" />
                                    </div>
                                        <%} %>
    
                                        <div class="image-preview">
                                            <img data-toggle="modal" data-featherlight="../../../../images/previews/digital-gift-preview.png" data-backdrop="false"
                                                class="search-image" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                                                alt="zeta search" />
                                        </div>
                                    </div>
                                    <div class="header-preview pd-top-twenty pd-bottom-ten">
                                        <b>Download samples</b>
                                    </div>
                                    <% if(ifiBankName == 'HDFC' ) { %>
                                    <div class="download-img-list">
                                        <a id='csvFile' href="/../../download-samples/SpotGifting-digital-gift-hdfc-sample.csv">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png"
                                                alt="Zeta icon" />
                                        </a>
                                        <a id='xlsFile' href="/../../download-samples/SpotGifting-digital-gift-hdfc-sample.xls">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png"
                                                alt="Zeta icon" />
                                        </a>
                                        <a id='xlsxFile' href="/../../download-samples/SpotGifting-digital-gift-hdfc-sample.xlsx">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                                                alt="Zeta icon" />
                                        </a>
                                    </div>
                                    <% }else{ %>
                                    <div class="download-img-list">
                                        <a id='csvFile' href="/../../download-samples/spotlight-digital-gift-sample.csv">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png"
                                                alt="Zeta icon" />
                                        </a>
                                        <a id='xlsFile' href="/../../download-samples/spotlight-digital-gift-sample.xls">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png"
                                                alt="Zeta icon" />
                                        </a>
                                        <a id='xlsxFile' href="/../../download-samples/spotlight-digital-gift-sample.xlsx">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                                                alt="Zeta icon" />
                                        </a>
                                    </div>
                                    <%} %>
                                    <!-- Right Panel End -->
                                </div>
                            </div>
                        </div>
                        <div class="orDiv">or
                            <span class="emptyLine"></span>
                        </div>
                        <div id="rewardManually">
                            <a href="javascript:void(0)" style="opacity: unset;text-decoration: underline;">Enter manually</a>
                            <span class="max10"> (max 10)</span>
                        </div>
                    </div>
                </div>
            </div>
             <!-- END BULKUPLOAD -->
    
            <!-- START CREATE ORDER -->
            <div id="createOrder" style="display:none;">
                <div class="row">
                    <div class="col-xs-8 col-md-8">
                        <div class="paymntTxt">Payment Information</div>
    
                        <div class="form-group mg-bottom-zero">
                            <label for="recipient-name" class="control-label " style="margin-bottom: 6px;">Funding
                                account
                                <span class="tooltip" style="opacity:1">
                                    <img class="subtitle sidebar-option-txt" style="width:12px;cursor:pointer;opacity:1"
                                        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-icon.svg"
                                        alt="" />
                                    <span class="tooltiptext tooltiptext-benefits" style="opacity:1">A Funding A/c is
                                        similar to your Bank’s current account. They can fund one or more programs
                                        across all your companies. You can use them to transfer funds to your
                                        beneficiaries.</span>
                                </span>
                            </label>
                            <input type="hidden" id="newFundDetails" data-fund='<%- JSON.stringify(fundingAccountDetails) %>' />
                            <div class="form-group select-custom" align="left">
                                <select id='fundingAccountID' style="height:38px;width: 180px;" class="form-control width-xs input-lg">
                                    <option value='0'>Select funding account</option>
                                    <% for(var currIndex=0; currIndex< fundingAccountDetails.fundingAccounts.length; currIndex++) {%>
                                    <option value='<%- fundingAccountDetails.fundingAccounts[currIndex].accountID %>'
                                        data-name="<%- fundingAccountDetails.fundingAccounts[currIndex].name %>"
                                        data-balance="<%- fundingAccountDetails.fundingAccounts[currIndex].balance / 100 %>">
                                        <%- fundingAccountDetails.fundingAccounts[currIndex].name %> - ₹<%- fundingAccountDetails.fundingAccounts[currIndex].balance / 100 %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="fundCurrntBalance">
                                Current Balance - <b>₹</b><b><span id="balanceFund"></span></b>
                                <span class="insuffFund" style="display:none;">
                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/full-alert-circle.svg" />
                                    Insufficient Funds</span>
                            </div>
                        </div>
                        <div class="form-group left-align" style="padding-top: 17px;width: 455px;">
                            <div class="control-group">
                                <label class="control control--checkbox terms">I understand that this order can be
                                    neither cancelled nor revoked.
                                    <input type="checkbox" id="createGiftCheckbox">
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                        </div>
                        <div class="x-medium-button placeOrderEndAddFund program-code-next-btn" style="display:none;">
                            <button id="orderCompleted" data-fundingaccountid="" disabled class="btn btn-default btn-disabled"
                                type="button">Place order & Add funds later
                                <img class="spinner-loader" id="order-show-loader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                            </button>
                        </div>
                        <div class="x-medium-button placeOrderEnd program-code-next-btn">
                            <button id="orderCompletedNew" data-fundingaccountid="" disabled class="btn btn-default btn-disabled"
                                type="button">Place Your Order
                                <img class="spinner-loader" id="order-show-loader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                            </button>
                        </div>
    
                        <div class="insuffFundText" style="display:none;">When your order is placed, a
                            <b>proforma invoice</b> will be generated and you can add funds to your funding account
                            later. Once
                            we receive the funds, gifts will automatically be sent to your beneficiaries and we’ll
                            notify you
                            via e-mail.</div>
    
                    </div>
                    <div class="col-xs-4 col-md-4 custom-box cutomBoxGrey" style="display:block;width:190px !important;height: 432px;right: 0px;top: -1px;">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="orderSummaryTxt">ORDER SUMMARY</div>
                                <div class="orderSummarySTxt">No. of Beneficiaries</div>
                                <div class="orderSummarySVal" id="totalBenefits"></div>
                                <div class="orderSummarySTxt">Order Total</div>
                                <div class="orderSummarySVal" id="totalAmount">₹</div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
             <!-- END CREATE ORDER -->
        </div>
        <div style="clear:both">&nbsp;</div>
        </div>
    
    
    
    
    
            <!-- END SIDEPREVIEW -->
            <div class="col-xs-3 col-md-3 ">
                <div class="rewardPrvwTxt">Preview</div>
                <div class="rewardBlankState">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/blank-state.svg" />
                </div>
                <div class="rewardMobileDemo" style="display:none">
                    <button type="button" class="btn btn-collapse ">Card Design
                        <!-- <span class="rewardPlusMinus">-</span> -->
                    </button>
                    <div id="demo1" class="collapse collapseData in">
                        <img class="rewardPImageMain" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardPhoneAsset.svg" />
                        <img class="rewardPImg" src="" />
                        <span class="rewardPtitle commonTxtsty">Work Anniversary</span>
                        <span class="rewardPmoney commonTxtsty">₹1234</span>
                    </div>
                </div>
                <div class="rewardEmailDemo" style="display:none">
                    <button type="button" class="btn btn-collapse ">Email Design
                        <!-- <span id="rewardPlus1" class="rewardPlusMinus">-</span> -->
                    </button>
                    <div id="demo2" class="collapse collapseData in">
                        <% if(ifiBankName == 'HDFC' ) { %>
                            <img class="rewardPEImgbg" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardEmailAssetNoZeta.svg" />
                            <% }else{ %>
                            <img class="rewardPEImgbg" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardEmailAsset.svg" />
                            <% } %>
                        <img class="rewardPEImg" src="" />
                        <span class="rewardPEtitle"></span>
                        <div class="preEmailMessage">
                            <!-- <span class="emailQuotes">"</span> -->
                            <div class="preEmailInnerMessage">
                                <span class="rewardPEmessage">Congratulations for completing 3 years with ACME! Thank you
                                    for your dedication & contributions
                                    along the journey. We wish you continued success with ACME family! In appreciation of
                                    your
                                    dedicated service, here is a token of recognition.</span>
                                <br>
                                <span class="rewardPEcompany"> -
                                    <%- corp.name %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
            <!-- END SIDEPREVIEW -->
        </div>
    
    
        <!-- Error Details start-->
        <div class="row" id="fileErrorWrpr" style="display: none;">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class='bulk-order-errors'>
                        <h3>Oops! We found some errors in your order file</h3>
                        <div class='file-details-wrpr clearfix'>
                            <div class='file-details-cntr'>
                              <img id='fileTypeImg' width="36" height="48" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png" alt="fileType" />
                              <div class='file-details'>
                                  <div id='fileName' class='file-name'></div>
                                  <div class='file-status'>File uploaded</div>
                              </div>
                          </div>
                          <div class='bulk-report-wrpr'>
                              <a id='downloadSGReport' class='bulk-report-link' href='javascript:void(0)'>Download complete report</a>
                          </div>
                        </div>
                        <div class='error-row-hdr'>
                            <span class='bulk-invalid-icon'></span>
                            <span class='bulk-invalid-dtls'>
                                <span class='no-of-invalid-entries' id='noOfInvalidEntries'></span> invalid entries
                            </span>
                        </div>
                        <div id="fileErrorMain">
                            <div id="errorVirtualGiftingTransfers">
                                
                            </div>
                            <div id="errorVirtualGiftingTransfers1">
                            </div>
                        </div>
                        <div class='error-page-btn-wrpr'>
                            <div class="x-medium-button pd-top-ten pd-bottom-ten upload-again duplicateEntries">
                                <button class="btn btn-default" type="button" id="duplicateEntries" data-type="" style="background: #ffbc00;color: #fff;border: 0;opacity: unset;" ">Continue with duplicate entries</button>
                            </div>
                            <span class="duplicateOr">OR &nbsp;</span>
                            <div class="x-medium-button pd-top-ten pd-bottom-ten upload-again">
                                <button class="btn btn-default" type="button" id="uploadAgain" data-type="" style="background: #fff;color: #190f27;border: 1px solid #E0DDE6;opacity: unset;">Upload
                                    file again</button>
                            </div>
                            
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Error Details End-->
    
    </div>