<% include ../../../common/html-head %>

    <body>
        <input type="hidden" id="productType" value="virtual">
        <input type="hidden" id="programID" value=""> 
        <input type="hidden" id="SpotlightIFIName" value='<%- ifiBankName %>'> 
        <div class="wrapper">          
            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container reward_container">
                                <% include ../../../section/spotlight/virtual/banner %>
                                    <div class="col-xs-12 col-md-12 program">
                                        <div class="tabs-nav-container tabbable-panel">
                                            <div class="tabbable-line">
                                                <ul class="nav nav-tabs ">
                                                    <li>
                                                        <a href="#tab_default_1" id="sendGift" data-toggle="tab" onclick="return false;">
                                        Send Gift
                                    </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_default_2" id="orderHistory" data-toggle="tab" onclick="return false;">
                                        Order History
                                    </a>
                                                    </li> 
                                                   
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sub-container" style="display:none">
                                        <div class="row">
                                            <div class="tab-content">

                                                <% include tab-content/transfer-orders %> 

                                                <% include giftOrder %>                                                

                                            </div>
                                        </div>
                                        <!-- last login  -->
                                        <% include ../../../common/time-footer %>
                                    </div>
                            </div>

                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>


      <!-- all modals -->
                <!-- Modal Loader success order  -->
                <div class="modal fade" id="createOrderModalShow" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog custom-modalbox" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                              </button>
                        </div>
                        <div class="custom-modal-body">
                            <div class="modal-body">
                                <div class="page-sub-heading-txt program-code-list-wrpr text-center">
                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg" alt="">
                                    <h3>Gift order created successfully</h3>
                                        <p class="createhideIt errorTextSG"><img src="../../../../images/spotlight/alert-redicon.svg" alt="">You don’t have enough funds to fulfil this order</p> 
                                    <div class='bulk-order-dtls-wrpr'>
                                        <div class='bulk-order-dtls-hdg'>Summary</div>
                                        <ul>
                                            <li class="clearfix">
                                                <div class='bulk-order-lbl'>Order ID</div>
                                                <div class='bulk-order-val' id='createOrderId'></div>
                                            </li>
                                           
                                            <li class="clearfix createhideIt">
                                                <div class='bulk-order-lbl'>Funding account</div>
                                                <div class='bulk-order-val' id='createFundName'></div>
                                            </li> 
                                            <li class="clearfix">
                                                <div class='bulk-order-lbl'>Total order amount</div>
                                                <div class='bulk-order-val'><b class="ruppee">₹</b><span id='createTotalOrderAmt'></span></div>
                                            </li>
                                            <li class="clearfix createhideIt">
                                                <div class='bulk-order-lbl'>Balance in funding account</div>
                                                <div class='bulk-order-val'><b class="ruppee">₹</b><span id='createFundBalance'></span></div>
                                            </li>
                                            <li class="clearfix createhideIt">
                                                <div class='bulk-order-lbl'>Amount to be added</div>
                                                <div class='bulk-order-val'><b class="ruppee">₹</b><span id='createFundTobAdded'></span></div>
                                            </li> 
                                            <li class="clearfix ">
                                                <div class='bulk-order-lbl'>Status</div>
                                                <div class='bulk-order-val'><span id='createStatus'><b>Processing</b></span></div>
                                            </li>
                                            
                                        </ul>
                                    </div>  
                                   
                                    <div class="x-medium-button create-bulk-transfer-order createhideIt2">
                                        <a href="/companies/<%- companyID %>/spotlight/virtual#orderHistory">
                                            <button class="btn btn-default done-redirect" data-url="/companies/<%- companyID %>/spotlight/virtual#orderHistory" style="width:100%;" type="button">Done</button>
                                        </a>
                                    </div>
                                   
                                     <div class="x-medium-button create-bulk-transfer-order createhideIt">
                                            <button id='createOrderDone' data-fundingaccountids="" class="btn btn-default addFundsSG" type="button">Add Funds Now</button>
                                    </div> 
                                    <a class="skipAddLater createhideIt" href="/companies/<%- companyID %>/spotlight/virtual">Skip & add later</a> 
                                    
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
            <!-- Modal Loader success order End  -->
            
            <!-- Modal details cheque transfer -->
            <div class="modal fade" id="fundChequeTransferx" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sz-550 custom-modalbox " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                            <a href="/companies/<%- companyID %>/spotlight/virtual">
                                <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </a>
                        <h4 id="acc_name" class="text-center">Add Funds to <strong></strong></h4>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body no-border pad-top-10 modal-inner-container">
                            <div class="row">
                                
                                <div class="col-xs-12 col-md-12 pd-left-zero ">
                                    <h6 class="mg-top-zero"><span class="list-number-circle">1</span> <b id='addFundDetailsHdg'>Drop a cheque/transfer to Zeta’s Bank Account</b></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12 pd-right-zero funding-account-block ">
                                    <div id='acNameModalWrpr' class="row">
                                        <div class="col-xs-4 col-md-3">
                                            <div class="account-details">
                                                <p>A/c Name:</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="account-discription">
                                                <p id="ifiAccName">
                                                    
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pad-top-8">
                                        <div class="col-xs-4 col-md-3">
                                            <div class="account-details">
                                                <p>A/c No:</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="account-discription">
                                                <p id='ifiAccNo'></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pad-top-8">
                                        <div class="col-xs-4 col-md-3">
                                            <div class="account-details">
                                                <p>Bank Name:</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="account-discription">
                                                <p id='ifiBankName'>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pad-top-8">
                                        <div class="col-xs-4 col-md-3">
                                            <div class="account-details">
                                                <p>Branch:</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="account-discription">
                                                <p id='ifiBankBranch'>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pad-top-8">
                                        <div class="col-xs-4 col-md-3">
                                            <div class="account-details">
                                                <p>IFSC Code:</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="account-discription">
                                                <p id='ifiIfscCode'>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
            
                            </div>
                            <div class="row pad-top-20" id='addFundsBtnWrpr'>
                                <div class="col-xs-12 col-md-12 pd-left-zero ">
                                    <h6 class="mg-top-zero pd-bottom-ten"><span class="list-number-circle">2</span> <b>After
                                    making the payment</b></h6>
                                    <div class="pd-left-forty">
                                        <p class="pad-top-4">Let us know the details of your cheque/transfer, by raising a fund addition request:</p>
                                    </div>
                                    <div class="flexible-button pd-left-forty pad-top-20">
                                        <button class="btn btn-default" type="button" name="" value="" id="routeToAddFund">Raise a fund addition request
                                </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            
                </div>
            </div>
            </div>
            <!-- Modal details cheque transfer End -->
            
            
            
            <!-- Error Modal Oops Transfer  -->
            <div class="modal fade" id="createOrderModalSGOops" tabindex="-1" role="dialog">
                    <div class="modal-dialog custom-modalbox" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="custom-modal-body">
                                <div class="modal-body">
                                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" /></div>
                                     <h4 class="text-center pd-bottom-zero">Error while processing the request.</h4> 
                                    <div class="modal-heading-pdtb" align="center">
                                        <!-- <div class="heading-sub-text" id"errorText">Error while processing the request.</div> -->
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="x-medium-button create-bulk-transfer-order ">
                                        <a href="/companies/<%- companyID %>/spotlight/virtual">
                                        <button class="btn btn-default" style="width:100%;" type="button">TRY AGAIN</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
                <!-- Error Modal Oops Transfer End  -->
            
                <!-- Error Modal Oops Transfer  -->
            <div class="modal fade" id="createOrderModalFail" tabindex="-1" role="dialog">
                <div class="modal-dialog custom-modalbox" role="document">
                    <div class="modal-content" style="padding-top: 10px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="custom-modal-body">
                            <div class="modal-body">
                                <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" /></div>
                                 <h4 class="text-center pd-bottom-zero">Error while processing the request.</h4> 
                                <div class="modal-heading-pdtb" align="center" style="padding-bottom: 0px;">
                                     <div class="heading-sub-text" id"errorText">Please check the file for errors or make sure you are uploading the correct order file</div> 
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="x-medium-button create-bulk-transfer-order ">
                                    <a href="javascript:void(0)" data-dismiss="modal" aria-label="Close">
                                    <button class="btn btn-default" style="width:100%;" type="button">TRY AGAIN</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Error Modal Oops Transfer End  -->


              <!-- Server Error   -->
              <div class="modal fade" id="server-error-oops" tabindex="-1" role="dialog">
              <div class="modal-dialog custom-modalbox" role="document">
                  <div class="modal-content" style="padding-top: 10px;">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="custom-modal-body">
                          <div class="modal-body">
                              <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.svg" alt="Zeta icon" /></div>
                               <h4 class="text-center pd-bottom-zero">Oops! Server Error.</h4> 
                              <div class="modal-heading-pdtb" align="center" style="padding-bottom: 0px;">
                                   <div class="heading-sub-text" id"errorText">Please try again or later</div> 
                              </div>
                          </div>
                          <div class="modal-footer">
                              <div class="x-medium-button create-bulk-transfer-order ">
                                  <a href="javascript:void(0)" data-dismiss="modal" aria-label="Close">
                                  <button class="btn btn-default" style="width:100%;" type="button">TRY AGAIN</button>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--  End  -->
            

            
                 <!-- Field Error Modal Oops Transfer  -->
            <div class="modal fade" id="error-required-oops" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="padding-top: 10px;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" /></div>
                             <h4 class="text-center pd-bottom-zero">All the input fields are required.</h4>                 
                        </div>
                        <div class="modal-footer">
                            <div class="x-medium-button create-bulk-transfer-order ">                           
                                <button class="btn btn-default" data-dismiss="modal" aria-label="Close" style="width:100%;" type="button">OK</button>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- Field Error Modal Oops Transfer End  -->
            
                <div class="modal fade" id="card-selection-loader" tabindex="-1" role="dialog">
                    <div class="modal-dialog custom-modalbox" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                            </div>
                            <div class="custom-modal-body">
                                <div class="modal-body">
                                    <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                                    <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
            
                <!-- end -->



        <% include ../../../common/html-script %>
             <!-- <script type='text/javascript' async src='/lib/visualize.js'></script> -->
             <script src="/dist/scripts/virtualHome.js"></script> 
             <script src="/dist/scripts/downloadPdfInvoice.js"></script> 
            <script>
            (function(){                
                let currentUrl = window.location.href;
                if (currentUrl.indexOf('#') !== -1) {
                    var selectedId = currentUrl.substr(currentUrl.lastIndexOf('#'), currentUrl.length);
                }
                           
                $(document).ready(function() {
                    $('[data-toggle="tooltip"]').tooltip();
                });

                // window.location.hash != "#orderHistory" ?  history.pushState(null, null, '#sendGift') : ''

                $('.nav.nav-tabs > li > a').click(function(e){
                    var data = $(this).attr("id");
                    if(history.pushState) {
                        history.pushState(null, null, '#'+data);                        
                    }
                    else {
                        window.location.hash = '#'+data;
                       
                    }       
                        
                    e.preventDefault();
                    $(this).tab('show');
                });
                window.location.hash == "" ? $('#sendGift').parent().addClass('active') : ''
                $("document").ready(function() {
                    $(selectedId).trigger('click');
                    $('.tabContainer').css('display', 'block');
                });

                setTimeout(function(){                   
                        $('.sub-container').show()
                },1000)
                
            }());
            </script>

    </body>

    </html>