<% include ../../../../common/html-head %>

    <body>
            <input type="hidden" id="productType" value="physical">
            <input type="hidden" id="programID" value=""> 
            <input type="hidden" id="SpotlightIFIName" value='<%- ifiBankName %>'> 
        <div class="wrapper">
            <% include ../../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row physical_container">
                        <% include ../../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container load-cards">
                                <!-- Banner Start -->
                                <div class="top-section physical-banner">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <li><a href="/companies/<%- companyID %>/spotlight"><% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %>Zeta Spotlight <%} %> </a></li>
                                                    <li class='active'><a href="/companies/<%- companyID %>/spotlight/physical#overview"> Physical Gift Cards %></a>
                                                    </li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Popover End -->
                                        <div class="row">
                                            <div class="col-xs-6 col-md-6">
                                                <div class="page-heading">
                                                    <h1 class="pd-top-ten pd-bottom-ten">Issue Gifts</h1>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                            <a href="/companies/<%- companyID %>/spotlight/physical#issueOrderHistory">
                                                <div class="order-history-physical pull-right">
                                                    <h2>Issuance Order History</h2>
                                                </div>
                                                </a>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="sub-container">
                                    <div class="row" id="addBenefitsBulkPhysical" style="margin-right:  0px;">
                                        <div class="col-xs-9 col-md-9 custom-box" style="padding-bottom:5px;min-width:708px;width: 75%" >
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="row sguploadFile">
                                                        <!-- Upload File -->
                                                        <div class="col-xs-9 col-md-9">
                                                            <div class="row ">
                                                                <div class="col-xs-12 col-md-12">                                                                    
                                                                    <div class="form-group left-align">
                                                                    <label class="control-label" for="referenceName">Reference name</label>
                                                                    <input class="form-control input-phusical-reference" id="reference-name" type="text" placeholder="Eg: Diwali Gift - First Batch.">
                                                                </div>
                                                                    <div class="pagePhySubTxt">Upload a file with the beneficiary list & details.</div>
                                                                </div>
                                                            </div>
                                                            <!-- File Upload -->
                                                            <input type="hidden" id="uploadDetails" value='<%- fileUploadDetails %>' name="uploadDetails">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-12 file-main-container">
                                                                    <form action="<%- fileUploadUrl %>" id='dragDrop' class="dropzone bulk-upload-cnt-wrpr">
                                                                        <div class="file-upload-container page-sub-heading dz-message">
                                                                            <div class="dotted-line">
                                                                                <div class="display-table file-upload-height">
                                                                                    <div class="table-row">
                                                                                        <div class="table-column">
                                                                                            <img width="85" height="44" id="image_upload_preview" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/files-icon.png"
                                                                                                alt="your image" />
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="table-row">
                                                                                        <div class="table-column">
                                                                                            <span class="file-upload-heading">Drag & Drop</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="table-row">
                                                                                        <div class="table-column">
                                                                                            <span class="or-font">OR</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="table-row">
                                                                                        <div class="table-column">
                                                                                            <form id="form1" runat="server">
                                                                                                <div class="browse-wrap btn-disabled">
                                                                                                    <div class="text-center">
                                                                                                        <div class="upload-button">
                                                                                                            <strong>+</strong> Upload File
                                                                                                        </div>
                                                                                                    </div>
                                
                                                                                                    <div class="fallback">
                                                                                                        <input class="upload" name="file" type="file" />
                                                                                                    </div>
                                                                                                </div>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                
                                                                            </div>
                                                                        </div>
                                
                                
                                                                        <div id="preview-template" style="display: none">
                                                                            <div class="dz-preview dz-file-preview">
                                                                                <div class="dotted-line">
                                                                                    <div class="dz-details">
                                                                                        <img class="fileType" src="" alt="xls">
                                                                                        <div class="dz-filename">
                                                                                            <span data-dz-name>payout.csv</span>
                                                                                        </div>
                                                                                        <div class="dz-progress">
                                                                                            <span class="dz-upload" data-dz-uploadprogress></span>
                                                                                        </div>
                                                                                        <div class="dz-error-message">
                                                                                            <span data-dz-errormessage>Error uploading file</span>
                                                                                        </div>
                                                                                        <!--<a class="removelink" href="javascript:void(0);">Change-->
                                                                                        <!--File</a>-->
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                    <div class="info-brand-uploads">
                                                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/c-info.svg" alt=""/>
                                                                        <span style="font-size: 11px;">Providing correct email and/or phone number of the beneficiary is corporate's responsibility</span>
                                                                    </div>
                                                                    <% if(ifiBankName == 'HDFC') { %>
                                                                        <div class="col-xs-12 col-md-12" style="padding: 0px;">
                                                                            <div class="info-brand-uploads">
                                                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/c-info.svg" alt=""/>
                                                                                <span style="font-size: 11px;">Disclaimer: Each beneficiary can be issued upto 25 gift cards in a day</span>
                                                                            </div>
                                                                        </div>
                                                                    <% } %>
                                                                </div>
                                                            </div>
                                                            <!-- File Upload End -->
                                
                                                            <div class="row">
                                                                    <% if(corpID) { %>
                                                                        <div class="col-xs-12 col-md-12">
                                                                                <div class="form-group left-align" style="width:245px;margin-top:10px;">
                                                                                        <label style="font-weight:normal;">Repeat this order (optional)</label>
                                                                                        <div class="form-group select-custom" align="right">
                                                                                                <select id='repeatAction' class="form-control width-xs input-lg" style="padding:0 16px;height:40px;line-height:40px;">
                                                                                                    <option value='0'>Select repeat action</option>
                                                                                                    <option value='1'>Weekly</option>
                                                                                                    <option value='2'>Monthly</option>
                                                                                                    <option value='3'>Quarterly</option>
                                                                                                    <option value='4'>Half-yearly</option>  
                                                                                                </select>
                                                                                            </div>
                                                                                    </div>
                                                                                </div>
                                                           
                                                            <% } %>
                                                                <div class="col-xs-12 col-md-12">
                                                                    <div class="x-medium-button pd-top-ten pd-bottom-ten" style="padding:0px">
                                                                        <button class="btn btn-default btn-disabled" data-url="Step3Bulk" disabled type="button" name="" value="" id="create-order">NEXT
                                                                        <img class="spinner-loader" id="showBtnLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg" style="margin-left: 8px;">
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-3 col-md-3" style="bottom:0px;position:absolute;right: 13px;top: 96px;">
                                                            <!-- Right Panel -->
                                                            <div class="panel-container panel-container-physical">
                                
                                
                                                                <div class="header-preview pd-top-twenty pd-bottom-ten" style="padding-top: 43px;">
                                                                    <b>Sample Preview</b>
                                                                </div>
                                                                <div class="preview-image-container">
                                                                <% if(ifiBankName == 'HDFC' ) { %>
                                                                <a href="#" data-featherlight="../../../../images/previews/digital-gift-hdfc-preview.png">
                                                                    <img id='previewImage' class="thumbnail img-responsive view-image" src="../../../../images/previews/digital-gift-preview.png"
                                                                        alt="Zeta Preview" id="#mylightbox" />
                                                                </a>
                                                                <div class="image-preview">
                                                                <img data-toggle="modal" data-featherlight="../../../../images/previews/digital-gift-hdfc-preview.png" class="search-image" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                                                                    alt="zeta search" />
                                                            </div>
                                                                <% }else{ %>
                                                                <a href="#" data-featherlight="../../../../images/previews/digital-gift-preview.png">
                                                                    <img id='previewImage' class="thumbnail img-responsive view-image" src="../../../../images/previews/digital-gift-preview.png"
                                                                    alt="Zeta Preview" id="#mylightbox" />
                                                                </a>
                                                                <div class="image-preview">
                                                                <img data-toggle="modal" data-featherlight="../../../../images/previews/digital-gift-preview.png" class="search-image" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                                                                    alt="zeta search" />
                                                            </div>
                                                                <%} %>
                                                                
                                                                   
                                                                </div>
                                                                <div class="header-preview pd-top-twenty pd-bottom-ten">
                                                                    <b>Download samples</b>
                                                                </div>
                                                                <% if(ifiBankName == 'HDFC' ) { %>
                                                                <div class="download-img-list">
                                                                    <a id='csvFile' href="/../../download-samples/SpotGifting-digital-gift-hdfc-sample.csv" download="SpotGifting-physical-card-hdfc-sample.csv">
                                                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png" alt="Zeta icon" />
                                                                    </a>
                                                                    <a id='xlsFile' href="/../../download-samples/SpotGifting-digital-gift-hdfc-sample.xls" download="SpotGifting-physical-card-hdfc-sample.xls">
                                                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png" alt="Zeta icon" />
                                                                    </a>
                                                                    <a id='xlsxFile' href="/../../download-samples/SpotGifting-digital-gift-hdfc-sample.xlsx" download="SpotGifting-physical-card-hdfc-sample.xlsx">
                                                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png" alt="Zeta icon" />
                                                                    </a>
                                                                </div>
                                                                <% }else{ %>
                                                                <div class="download-img-list">
                                                                <a id='csvFile' href="/../../download-samples/spotlight-digital-gift-sample.csv" download="spotlight-physical-card-sample.csv">
                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png" alt="Zeta icon" />
                                                                </a>
                                                                <a id='xlsFile' href="/../../download-samples/spotlight-digital-gift-sample.xls" download="spotlight-physical-card-sample.xls">
                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png" alt="Zeta icon" />
                                                                </a>
                                                                <a id='xlsxFile' href="/../../download-samples/spotlight-digital-gift-sample.xlsx" download="spotlight-physical-card-sample.xlsx">
                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png" alt="Zeta icon" />
                                                                </a>
                                                            </div>
                                                            <%} %>
                                                                

                                                                
                                                                <!-- Right Panel End -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3 col-md-3 pull-right" style="padding-right: 0px;">
                                        <div class="needHelp">
                                        <div class="needHelpHeader">
                                            <span class=""><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/round-e-help.svg" /></span>
                                            <span class="needHelpHeadTxt">Need help?</span>
                                        </div>
                                        <div class="needHelpBody">
                                        You need to upload a file with the beneficiary list & details in an XLS, XLSX or CSV format.
                                        </div>
                                    </div>
                                        </div>                                                   
                                        </div>


                                                                                        <!-- Error Details start-->
                                                                                        <div class="row" id="fileErrorWrpr" style="display: none;">
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-12">
                                                                                                <div class='bulk-order-errors'>
                                                                                                    <h3>Oops! We found some errors in your order file</h3>
                                                                                                    <div class='file-details-wrpr clearfix'>
                                                                                                         <div class='file-details-cntr'>
                                                                                                            <img id='fileTypeImg' width="36" height="48" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png" alt="fileType" />
                                                                                                            <div class='file-details'>
                                                                                                                <div id='fileName' class='file-name'></div>
                                                                                                                <div class='file-status'>File uploaded</div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class='bulk-report-wrpr'>
                                                                                                            <a id='downloadSGReport' class='bulk-report-link' href='javascript:void(0)'>Download complete report</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class='error-row-hdr'>
                                                                                                        <span class='bulk-invalid-icon'></span>
                                                                                                        <span class='bulk-invalid-dtls'>
                                                                                                        <span class='no-of-invalid-entries' id='noOfInvalidEntries'></span> invalid entries
                                                                                                        </span>
                                                                                                    </div>
                                                                                                    <div id="fileErrorMain">                                                                    
                                                                                                    <div id="errorVirtualGiftingTransfers1">
                                                                                                    </div>
                                                                                                    </div>
                                                                                                    <div class='error-page-btn-wrpr'>
                                                                                                        <div class="x-medium-button pd-top-ten pd-bottom-ten upload-again duplicateEntries">
                                                                                                            <button class="btn btn-default" type="button" id="duplicateEntries" data-type="" style="background: #ffbc00;color: #fff;border: 0;opacity: unset;" ">Continue with duplicate entries</button>
                                                                                                        </div>
                                                                                                        <span class="duplicateOr">OR &nbsp;</span>
                                                                                                        <div class="x-medium-button pd-top-ten pd-bottom-ten upload-again">
                                                                                                            <button style="background: #fff;color: #190f27;border: 1px solid #E0DDE6;opacity: unset;" class="btn btn-default" type="button" id="uploadAgain" data-type="">Upload file again</button>
                                                                                                        </div>
                                                                                                        <!-- <span>OR</span> -->
                                 
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        </div>
                                                                                    <!-- Error Details End-->

                                    <div class="col-xs-12 col-md-12">
                                        <!-- last login  -->
                                    <% include ../../../../common/time-footer %>
                                    </div>
                                    
                                    <!-- Error Modal Oops Transfer  -->
                                        <div class="modal fade" id="createOrderModalSGOops" tabindex="-1" role="dialog">
                                                <div class="modal-dialog custom-modalbox" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                                aria-hidden="true">&times;</span></button>
                                                        </div>
                                                        <div class="custom-modal-body">
                                                            <div class="modal-body">
                                                                <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" /></div>
                                                                <h4 class="text-center pd-bottom-zero">Error while processing the request.</h4> 
                                                                <div class="modal-heading-pdtb" align="center">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <div class="x-medium-button create-bulk-transfer-order ">
                                                                    <a href="/companies/<%- companyID %>/spotlight/physical#orderHistory">   
                                                                    <button class="btn btn-default" style="width:100%;"  data-dismiss="modal" type="button">Done</button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
    <!-- Error Modal Oops Transfer End  -->



                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->

        </div>
        



        <% include ../../../../common/html-script %>
        <script src="/dist/scripts/home.js"></script>
        <script src="/dist/scripts/physicalHome.js"></script> 
                
            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>
    </body>

    </html>
