<tr data-payout-id='<%- payoutID %>' data-order-id='<%- orderID %>' data-company-id='<%- $("meta[name='companyID']").attr("content")  %>' data-program-id='<%- $('#transferId').val()  %>'>
    <td>
            <%- scheduledOn %>
    </td>
    <td>
            <a href="/companies/<%- $("meta[name='companyID']").attr("content") %>/optima/<%- $('#transferId').val() %>/transfers/<%- orderID %>" class="text">
           <strong><%- orderID %></strong> 
            </a>
    </td>
    <td>
        <%- payoutID %>
    </td>
    
    <td>
       <%- amount %>
    </td>
    <td class='<%- primaryStatusClass%> text-capitalize'>
        <%- primaryStatus %>
    </td>
    <!-- <% if(payoutStatus == 'scheduled' || payoutStatus == 'stalled' || payoutStatus == 'temporarily_failed' || payoutStatus == 'claimed') { %>
        <td class="position-dropdown payout-revoke"> -->
            <!-- Popover -->
            <!-- <% if(!compareDates) { %>
                <div class="popover-content">
                    <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                    </span>
                </div> -->
                <!-- Popover End -->
                <!-- Dropdown -->
                <!-- <div class="dropdown-log">
                    <ul class="pos-initial nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="" data-toggle="dropdown"><span><img src="/images/vertical_dot_icon.png"></span></a>
                            <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                                <% if(payoutStatus == 'scheduled' || payoutStatus == 'stalled') {%>
                                    <li><a class='payoutOutCancelBtn'>Cancel Transfer</a></li>
                                    <% } %>
                                        <% if((payoutStatus == 'temporarily_failed' || payoutStatus == 'claimed') && type != 'incentive') {%>
                                            <li><a class='payoutOutRevokeBtn'>Revoke Funds</a></li>
                                            <% } %>
                            </ul>
                        </li>
                    </ul>
                </div>
                <% } %> -->
                    <!-- Dropdown End -->
        <!-- </td>
        <% } else { %>
            <td></td>
            <% } %>   -->
</tr>
<!-- <script src="../../../../../dist/scripts/CardProgramIndividualRevokeFund.js"></script> -->