<tr>
        <td><div><%- date ? date : '' %></div></td>
        <td class="text-center"><div><a href="/companies/<%- $("meta[name='companyID']").attr("content") %>/optima/<%- $('#transferId').val() %>/transfers/<%- orderID %>" class="text">
                <%- orderId ? orderId : '' %></a></div></td>
        <td class="text-center"><div><%- referenceNo ? referenceNo : '' %></div></td>
        <td class="text-center"><div><%- amount ? amount : '' %></div></td>
</tr>