<table>
        <thead class="table--head">
        <tr>
                <th >DATE</th>
                <th class="text-center">ORDER ID</th>
                <th class="text-center">REF. NO</th>
                <th class="text-center">AMOUNT</th> 
        </tr>
        </thead>
        <tbody class="table--body">
                <tr>
                        <td><div><%- date ? date : '' %></div></td>
                        <td class="text-center"><div><a href="/companies/<%- $('#selected-company-id').val() %>/optima/<%- $('#transferId').val() %>/transfers/<%- orderID %>" class="text">
                                <strong class="orderLink"><%- orderId ? orderId : '' %></strong></a></div></td>
                        <td class="text-center"><div><%- payoutID ? payoutID : '' %></div></td>
                        <td class="text-center"><div><%- amount ? amount : '' %></div></td>
                </tr>
        </tbody>
    </table>