<div class="tab-pane" id="tab_default_2">
    <div class="col-xs-12 col-md-12">
        <div class="inner-sub-container page-sub-heading" style="min-width:981px;">
            <div class="row">
                <div class="col-xs-12 col-md-12 filter-section filter-section-prjtr">
                    <div class="col-md-12 filter-prjtr">
                        <div class="row">
                            <div class="col-md-2 clearRightPadding">
                                <div class="custom-searchbox">
                                    <div class="input-group stylish-input-group">
                                        <input id="searchBox" type="text" class="form-control"
                                            placeholder="Search by Order ID"
                                            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                        <span class="input-group-addon">
                                            <button id="searchBtn" type="button">
                                                <span>
                                                    <img
                                                        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/search_small.png">
                                                </span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2" style="margin-right:  -12px;margin-left: 52px;">
                                <div class="form-group select-custom">
                                    <select class="form-control width-xs" id="transferOrderStatus">
                                        <option value="ALL" disabled selected>Filter by Status</option>
                                        <option value="ALL">All Statuses</option>
                                        <option value="COMPLETED">Completed</option>
                                        <option value="INITIATED">Initiated</option>
                                        <option value="PROCESSING">Processing</option>
                                        <option value="PENDING">Pending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 bulk_order-datepicker">
                                <div class="form-group date-picker">
                                    <div class="input-group">
                                        <input type="text" name="daterange" class="form-control datepicker-img"
                                            id="tranferPeriod" placeholder="Filter by Date" style="border-radius: 2px;"
                                            value="" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left" style="margin-left: 32px;">
                                <p class="resetFilter"
                                    style="opacity: 1;text-decoration: underline;color: #4a90e2;font-size: 12px;line-height: 3;cursor: pointer;margin-left: 10px;position: relative;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11"
                                        style="margin-bottom:  -2px;margin-right:  1px;">
                                        <path fill="#4A90E2" fill-rule="nonzero"
                                            d="M.15 4.917c.216-.24.552-.24.792-.048l.911.816V5.06A5.062 5.062 0 0 1 6.915 0C9.697 0 12 2.255 12 5.061a5.062 5.062 0 0 1-5.061 5.062.543.543 0 0 1-.552-.552c0-.312.24-.552.552-.552a3.962 3.962 0 0 0 3.958-3.958 3.962 3.962 0 0 0-3.958-3.958A3.962 3.962 0 0 0 2.98 5.061v.624l.911-.816a.545.545 0 0 1 .792.048.545.545 0 0 1-.048.792L2.765 7.364a.529.529 0 0 1-.36.144.588.588 0 0 1-.384-.144L.174 5.709c-.215-.216-.24-.576-.024-.792z">
                                        </path>
                                    </svg>
                                    <span>Reset</span>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div id="transferOrderTable" class="cardloadhistry-tbl" style="padding-left:15px;">
                        <% include tables/transfer-orders %>
                    </div>
                    <!-- <div id="ordersTable"></div> -->
                </div>
            </div>
            <!-- Table End -->
            <!-- Media Object -->
        </div>
    </div>
</div>