<div class="tab-pane" id="tab_default_3">
    <div class="col-xs-12 col-md-12">
        <div class="inner-sub-container page-sub-heading" style="min-width:981px;">
            <div class="row">
                <div class="col-xs-12 col-md-12 filter-section filter-section-prjtr">
                    <div class="col-md-12 filter-prjtr">
                        <div class="row">
                            <div class="col-md-2 clearRightPadding">
                                <div class="custom-searchbox">
                                    <div class="input-group stylish-input-group">
                                        <input style="font-weight:normal" id="searchDisBox" type="text"
                                            class="form-control" placeholder="Search by Order ID"
                                            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                        <span class="input-group-addon">
                                            <button id="searchDisBtn" type="button">
                                                <span>
                                                    <img
                                                        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/search_small.png">
                                                </span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2" style="margin-right:  -12px;margin-left: 52px;">
                                <div class="form-group select-custom">
                                    <select class="form-control width-xs" id="transferDisOrderStatus">
                                        <option value="ALL" disabled selected>Filter by Status</option>
                                        <option value="ALL">All Statuses</option>
                                        <option value="ACTIVE">Active</option>
                                        <option value="BLOCKED">Closed</option>
                                        <option value="DISABLED">Disabled</option>
                                        <option value="ENABLED">Enabled</option>
                                        <option value="INACTIVE">Inactive</option>
                                        <option value="PENDING">Pending</option>
                                        <option value="PROCESSING">Processing</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 bulk_order-datepicker">
                                <div class="form-group date-picker">
                                    <div class="input-group">
                                        <input type="text" name="daterange" class="form-control datepicker-img"
                                            id="tranferDisPeriod" placeholder="Filter by Date"
                                            style="border-radius: 2px;" value="" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left" style="margin-left: 32px;">
                                <p class="resetFilter"
                                    style="opacity: 1;text-decoration: underline;color: #4a90e2;font-size: 12px;line-height: 3;cursor: pointer;margin-left: 10px;position: relative;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11"
                                        style="margin-bottom:  -2px;margin-right:  1px;">
                                        <path fill="#4A90E2" fill-rule="nonzero"
                                            d="M.15 4.917c.216-.24.552-.24.792-.048l.911.816V5.06A5.062 5.062 0 0 1 6.915 0C9.697 0 12 2.255 12 5.061a5.062 5.062 0 0 1-5.061 5.062.543.543 0 0 1-.552-.552c0-.312.24-.552.552-.552a3.962 3.962 0 0 0 3.958-3.958 3.962 3.962 0 0 0-3.958-3.958A3.962 3.962 0 0 0 2.98 5.061v.624l.911-.816a.545.545 0 0 1 .792.048.545.545 0 0 1-.048.792L2.765 7.364a.529.529 0 0 1-.36.144.588.588 0 0 1-.384-.144L.174 5.709c-.215-.216-.24-.576-.024-.792z">
                                        </path>
                                    </svg>
                                    <span>Reset</span>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div id="transferDisbursedOrderTable" class="cardloadhistry-tbl" style="padding-left:15px;">
                        <% include tables/transfer-disbursed-orders %>
                    </div>
                    <!-- <div id="ordersTable"></div> -->
                </div>
            </div>
            <!-- Table End -->
            <!-- Media Object -->
        </div>
    </div>
</div>

<!-- modal revoke -->
<div class="modal fade" data-backdrop="static" id="actionConfirm" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding:20px 0 0 0;">
                <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <h3 class="text-center pd-bottom-zero cardActionText"></h3>
                    <div class="form-group left-align mg-bottom-ten email" style="display:none;padding-top:30px;">
                        <label class="control-label" for="email">Please enter your registered Email Address</label>
                        <input class="form-control addUserFields" id="emailid" type="text"
                            placeholder="Enter Email Address">
                        <p class="error-message"></p>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="flexible-button cancel-order">
                        <button class="btn btn-default confirmActioncall" type="button">Yes</button>
                        <button data-dismiss="modal" class="btn btn-default reset" type="button">No</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--  modal revoke -->

<!-- Modal Oops Transfer  -->
<div class="modal fade" id="cardActionError" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png"
                            alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Oops. Required action failed.</h4>
                    <div class="modal-heading-pdtb" align="center">
                        <div class="heading-sub-text">This error is usually temporary and can be due to your
                            Internet connection or something wrong at our end. Trying within few minutes should
                            work. If the problem still persists please try again later or contact us on
                            support@zeta.in</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <a href="/companies/9584/optima/cardorder#disbursedHistory">
                            <button class="btn btn-default done-redirect"
                                data-url="/companies/9584/optima/cardorder#disbursedHistory" style="width:100%;"
                                type="button">Close</button>
                        </a>
                        <!-- <button data-dismiss="modal" class="btn btn-default" type="button" name="" value="" id=""
                            data-dismiss="modal">CLOSE</button> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Oops Transfer End  -->



<!-- Modal Box Transfer Initiated success -->
<div class="modal fade" data-backdrop="static" id="cardActionSuccess" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png"
                            alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Card action done successfully</h4>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <a href="/companies/9584/optima/cardorder#disbursedHistory">
                            <button class="btn btn-default done-redirect"
                                data-url="/companies/9584/optima/cardorder#disbursedHistory" style="width:100%;"
                                type="button">Done</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Box Transfer Initiated success End -->
<!-- Modal Loader  -->
<div class="modal fade" id="actionLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span data-dismiss="modal"
                        aria-hidden="true">&nbsp;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img width="32"
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif"
                            alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Loader End  -->

<div class="modal fade" id="resetpinModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&nbsp;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"></div>
                    <h3 class="text-center pd-bottom-zero resetpinTxt"></h3>
                </div>
            </div>
            <div class="modal-footer">
                <div class="flexible-button">
                    <a href="/companies/9584/optima/cardorder#disbursedHistory">
                        <button class="btn btn-default done-redirect"
                            data-url="/companies/9584/optima/cardorder#disbursedHistory" style="width:100%;"
                            type="button">Done</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Loader End  -->