<tr>
    <td><%- date %> <span class="time"><%- time %></span></td>
    <td class="text-capitalize"><%- name %></td>
    <td><%- mobileNumber %></td>
    <td><%- maskedCardNumber %></td>
    <td>
      <% if(status === "ACCEPTED") { %>
          <span class="approved">Approved</span>
      <% } else if(status === "REJECTED") { %>
          <span class="declined">Declined</span>
      <% } else { %>
          <span class="pending">Pending</span>
      <% } %>
    </td>
    <td data-requestID="<%- requestID %>" class="request-id">
      <% if(status.toLowerCase() === "processing") { %>
        <a href="#" data-toggle="modal" data-target="#approvePinReset" class="tooltip-title approve-pin tooltip-cursor-pointer">
            <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/approve.svg" alt="Zeta Legend">
            <span class="tooltip-view">
                <!-- Tooltip Content  -->
                  <div class="tooltip-lrtb-pd">
                      <div class="row">
                          <div class="col-xs-12 col-md-12"> Approve Request</div>
                      </div>
                  </div>
                <!-- Tooltip Content End -->
            </span>
        </a>
        <a href="#" data-toggle="modal" data-target="#declinePinReset" class="tooltip-title decline-pin tooltip-cursor-pointer">
            <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/decline.png" alt="Zeta Legend">
            <span class="tooltip-view">
                <!-- Tooltip Content  -->
                  <div class="tooltip-lrtb-pd">
                      <div class="row">
                          <div class="col-xs-12 col-md-12"> Decline Request</div>
                      </div>
                  </div>
                <!-- Tooltip Content End -->
            </span>
        </a>
        <% } %>
    </td>
</tr>