<table class="custom-table small-table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Beneficiary Name</th>
            <th>Mobile No.</th>
            <th>Card Number</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="main-content"></tbody>
    <tbody class="loading-content">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<!-- Table End -->

<div class="table-empty-state" style="display: none">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-empty-state.png" alt="">
    <p>No data available</p>
</div>

<div class="table-error-state" style="display: none">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-error-state.png" alt="">
    <p>Data failed to load.</p>
    <a class="reload-btn" href="javascript:void(0);">Reload</a>
</div>
<div align="center" class="row paging-container"></div>