<table class="custom-table roboto-font hover-state">
    <thead>
        <tr>
            <th width="15%">DATE</th>
            <th width="40%">PARTICULARS</th>
            <th class="text-right">DEBIT</th>
            <th class="text-right">CREDIT</th>
            <th class="text-right">BALANCE</th>
        </tr>
    </thead>
    <tbody class="main-content"></tbody>
    <tbody class="loading-content">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>




    </tbody>
</table>
<div align="center" class="row paging-container" id="hidePageNo"></div>
<div class="table-empty-state" style="display: none">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-empty-state.png" alt="">
    <p>No data available</p>
</div>

<div class="table-error-state" style="display: none">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-error-state.png" alt="">
    <p>Data failed to load.</p>
    <a class="reload-btn" href="javascript:void(0);">Reload</a>
</div>
<style>
/* #hidePageNo ul li:not(:first-child):not(:last-child){
 display:none;
}  */
</style>
