<tr>
    <td>
        <%- createdOn %>
    </td>
    <td><%- description %></td>
    <% if(type == 'credit') { %>
        <td class="text-right">-</td>
        <td class="text-right numbers-font"><%- amount %></td>
    <% } else { %>
        <td class="text-right numbers-font"><%- amount %></td>
        <td class="text-right">-</td>
    <% } %>
</tr>