<tr>
    <td><%-timestamp%></td>
    <td><%-remarks%></td>
    <% if(recordType == 'DEBIT') { %>
        <td class="text-right numbers-font"><%-amount%></td>
    <% } else { %>
        <td class="text-right">-</td>
    <% } %>
    <% if(recordType == 'CREDIT') { %>
        <td class="text-right numbers-font"><%-amount%></td>
    <% } else { %>
        <td class="text-right">-</td>
    <% } %>
    <td class="text-right numbers-font"><%-newBalance%></td>
</tr>