<tr class="benefit-row cardProgramIndividualBeneficiary-class" data-toggle="<%- isProgramManagerRead ? 'none' : 'modal' %>" data-beneficiary-name="<%- name%>" data-beneficiary-email="<%- email%>" data-phone="<%- phoneNumber%>" data-beneficiary-id="<%- employeeID %>" data-beneficiary-dp="<%-(profileInfo.profilePicURL) ? profileInfo.profilePicURL : 'https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png' %>"
    data-zetauserid="<%-(profileInfo.zetaUserID) ? profileInfo.zetaUserID : '' %>" data-beneficiary-companyid="<%- companyID %>" data-beneficiary-companyname="<%- companyName %>" data-read="<%- isProgramManagerRead || isProgramManagerWrite ? 'true' : 'false' %>">
    <td class="profile-details profile-details-benefits">
        <img src="<%-(profileInfo.profilePicURL) ? profileInfo.profilePicURL : 'https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png' %>" alt="Zeta Profile">
        <div class="nameAfterPic">
            <strong><%- name%></strong>
        </div>

    </td>
    <td class="text-center">
        <% if(email != 'N/A') { %>
            <span class="text-center" title="<%- email %>"><%- email %></span>
            <% } else if (phoneNumber !== '-1') { %>
                <span class="text-center" title="<%- phoneNumber %>"><%- phoneNumber %></span>
                <% } else {%>
                    <span class="" title="email"> - </span>
                    <% } %>
    </td>
    <td class="text-right">
        <% if((activeCardCount != 0) && (closedCardCount != 0)) { %>
            <span class="active-green"><%= activeCardCount %> Active</span> / <span class="closed-red"><%= closedCardCount %> Closed</span>
            <% } else if(activeCardCount != 0) {%>
                <span class="active-green"><%= activeCardCount %> Active</span>
                <% } else if(closedCardCount != 0) {%>
                    <span class="closed-red"><%= closedCardCount %> Closed</span>
                    <% } else{ %>
                        <span>0 Issued</span>
                        <% } %>

    </td>
    <td class="text-right">
        <% if(!isProgramManagerRead){ %>
        <img src="../../../images/arrow-right.png"> </td>
        <% } %>

</tr>