<tr data-payout-id='<%-payoutID%>' data-order-id='<%-orderID%>'>
    <td>
        <%-payoutCompleteDate%>
    </td>
    <td>
        <%-payoutID%>
    </td>
    <td class="name text">
        <a href="<%- profileUrl%>" class="text-id">
            <u>
                <%-name%>
            </u>
        </a>
    </td>
    <% if(email == 'N/A') { %>
        <td>
            <%-phoneNumber%>
        </td>
    <% } else { %>
        <td class="text-lowercase">
            <%-email%>
        </td>
    <% } %>
    <td class="text-right">
        <%-amount%>
    </td>
    <td class="payout-status">
        <span class='<%-primaryStatusClass%> text-capitalize'><%-primaryStatus%></span>
        <% if(typeof statusMessage !== 'undefined' && (payoutStatus === 'temporarily_failed' || payoutStatus === 'initiated')) { %>
            <br>
            <small class='status-message'><%-statusMessage%></small>
        <% } %>
    </td>
</tr>