<tr class="order-row tab-row" data-start-date="<%- startDate%>" data-end-date="<%-endDate %>">
    <td><%- aggregationKey %></td>
    <td class="numbers-font"><%- totalPayouts %></td>
    <td class="amount-transferred numbers-font"><%- amount %></td>
</tr>

