<tr>
    <td class="profile-image"><img src="<%-profileInfo.profilePicURL%>" onerror="if (this.src != 'https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png') this.src = 'https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png';" alt="Zeta Profile"></td>
    <td class="profile-details profile-details-benefits">
        <a class="text-capitalize text" href="<%- profileURL %>">
            <strong><%- name %></strong>
        </a>
        <% if(phoneNumber !== '-1') { %>
            <span class="tel" title="<%- phoneNumber %>"><%- phoneNumber %></span>
            <% } %>
                <div class="emailIds">
                    <% if(email.first !== 'N/A') { %>
                        <span class="email text-lowercase" title="<%- email.first %>"><%- email.first %></span>
                        <% } %>
                            <% if(email.plusCount > 0) { %>
                                <a href="" class="tooltip-title"><span class="plusCountToolTip"><%- email.plusCount %></span>
                <span class="tooltip-view">
                      <div class="tooltip-lrtb-pd">
                          <div class="row">
                              <div class="col-xs-12 col-md-12"><%- email.otherEmails %></div>
                          </div>
                      </div>
                </span>
            </a>
                                <% } %>
                </div>
    </td>
    <td class="text-right roboto-font">
        
    </td>

    <td class="text-right profile-details-balance profile-details-transfer roboto-font">
        
    </td>
    <td class="card-status profile-details-cardstatus text-center">
        <% if(highlightCard) { %>
            <span class="transfer_status_completed text-capitalize">Active</span>     
        <% } else{ %>
            <span class="cancelled text-capitalize">No active cards</span>
        <% } %>
    </td>
    <% if(isLBSNAA &&  highlightCard) { %>
        <td class="position-dropdown">
            <div class="popover-content">
                <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                  <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                </span>
            </div>
            <div class="dropdown-log">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle benefits-dropdown-toggle" data-toggle="dropdown">
                            <span><img src="/images/vertical_dot_icon.png"></span></a>
                        <ul class="dropdown-menu dropdown-log-typeTwo">
                            <!--li><a class="view-statement" href="" target='_blank'>View Statement</a></li-->
                            <li><a href="javascript:void(0)" data-userID="<%- highlightCard.userID %>" data-employeeID="<%- highlightCard.employeeID %>" data-cardID="<%- highlightCard.cardID %>" id="delete-card-btn" target='_blank'>Delete</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </td>
    <% }else{%>
    <td class="position-dropdown">
    </td>
    <% } %>
</tr>