<tr>
    <td class="profile-image"><img src="<%-profilePicURL%>" alt="Zeta Profile"></td>
    <td class="profile-details profile-details-benefits">
        <a class="text-capitalize text" href="<%- profileUrl %>">
            <strong><%- name%></strong>
        </a>
        <% if(phoneNumber !== '-1') { %>
            <span class="tel" title="<%- phoneNumber %>"><%- phoneNumber %></span>
            <% } %>
                <div class="emailIds">
                    <% if(email.first !== 'N/A') { %>
                        <span class="email text-lowercase" title="<%- email.first %>"><%- email.first %></span>
                        <% } %>
                            <% if(email.plusCount > 0) { %>
                                <a href="" class="tooltip-title"><span class="plusCountToolTip"><%- email.plusCount %></span>
                <span class="tooltip-view">
                    <!-- Tooltip Content  -->
                      <div class="tooltip-lrtb-pd">
                          <div class="row">
                              <div class="col-xs-12 col-md-12"><%- email.otherEmails %></div>
                          </div>
                      </div>
            <!-- Tooltip Content End -->
                </span>
            </a>
                                <% } %>
                </div>
    </td>
    <td class="text-right roboto-font">
        <%- transfered%>
    </td>

    <td class="text-right profile-details-balance profile-details-transfer roboto-font">
        <%- currentBalance%>
    </td>
    <!-- <td class="status-green"><%- cardState%></td> -->

    <td class="card-status profile-details-cardstatus text-center">
        <% if(cardState === "active") { %>
            <span class="transfer_status_completed text-capitalize"><%- cardState %></span>
            <% } else if(cardState === "blocked") { %>
                <span class="transfer_status_stalled" text-capitalize><%- cardState %></span>
                <% } else { %>
                    <span class="cancelled text-capitalize"><%- cardState %></span>
                    <% } %>
    </td>

    <% if( productType.indexOf("gift") === -1 && productType.indexOf("reward") === -1 && productType.indexOf("meal") === -1 ) { %>
        <td class="position-dropdown">
            <!-- Popover -->
            <div class="popover-content">
                <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                  <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                </span>
            </div>
            <!-- Popover End -->
            <!-- Dropdown -->
            <div class="dropdown-log">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle benefits-dropdown-toggle" data-toggle="dropdown">
                            <span><img src="/images/vertical_dot_icon.png"></span></a>
                        <ul class="dropdown-menu dropdown-log-typeTwo">
                            <li><a class="view-statement" href="<%- statementUrl %>" target='_blank'>View Statement</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Dropdown End -->
            <!-- <% if(benefits.cardState  != 'closed') { %>
                                <li><a href="javascript:void(0);" class="closeCardBtn" data-employee-id="<%-employeeID%>"><span class="dropdown-list-close">&nbsp;</span> Close Card</a></li>
                            <% } %> -->
        </td>
        <% } else { %>
            <td></td>
            <% } %>
</tr>