<tr>
    <td width="25%"> <a href="javascript:void(0);" class="previewBtn"  data-image="<%-data%>"><img class="profile-img-xs" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/media-16-px-1-image-02.png" alt="Zeta Profile" /><strong><%-filename%></strong></a></td>
    <td class="opcity-half"><%-name%></td>
    <td class="opcity-half"><%-email%></td>
    <td class="opcity-half"><%-phone%></td>
    <td class="opcity-half"><%-modified%></td>
    <td>
        <a download href="<%-data%>"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/arrows-16-px-1-cloud-download-95.png" alt="Zeta icon" /></a>
    </td>
</tr>