<tr class="click-doc-row" data-value="<%-index%>" data-doc-id="<%-docGroupID%>">
    <td width="25%"><img class="profile-img-xs" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/files-16-px-folder-13.png" alt="Zeta Profile" /><%-id%></td>
    <td><%-producttype%></td>
    <td><%-name%></td>
    <td><%-updatedAt%></td>
    <td>
        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/arrows-16-px-1-minimal-down.png" alt="Zeta Arrow" />
    </td>
</tr>
<tr class="toggle-row rowBox_<%-index%>" style="display: none">
    <td colspan="5">
        <!-- Table Toggle -->
        <table class="custom-table-child small-table-child">
            <thead>
                <tr class="table-heading-child">
                    <td>File Name</td>
                    <td>Created By</td>
                    <td>Email Id</td>
                    <td>Mobile Number</td>
                    <td>Date Modified</td>
                    <td></td>
                </tr>
            </thead>
            <tbody class="main-content">
            </tbody>
            <tbody class="loading-content">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>

            <tbody class="table-empty-state">
                <tr>
                    <td colspan="6">
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-empty-state.png" alt="">
                        <p>No docs available</p>
                    </td>
                </tr>
            </tbody>
            <tbody class="table-error-state">
            <tr>
                <td colspan="6">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-error-state.png" alt="">
                    <p>Data failed to load</p>
                </td>
            </tr>
            </tbody>


        </table>
        <!-- Table Toggle End -->
    </td>
</tr>