<tr>
    <td width="15%"><%- transactionDate %></td>
    <td width="40%"><%- transactionRefNumber %></td>
    <td><%-paymentMode%></td>
    <td class="text-right numbers-font"><%-amount%></td>

    <% if (status === 'accepted') { %>
        <td class="status-green text-capitalize"><%-status%></td>
    <% } else { %>
        <td class="status-red text-capitalize"><%-status%></td>
    <% } %>
</tr>