<tr class="mainContent">
    <td width="100%">
            <div class="row pd-tupple" id="<%- name %>">
                    <div class="col-xs-12 col-md-12">
                        <!--- Default well -->
                        <div class="well-default-container">
                            <div class="row">
                                <div class="funding-account-left">
                                    <div class='funding-acc-dtls clearfix'>
                                        <span class='funding-acc-icon ac-name-icon'></span>
                                        <span class='funding-acc-label'>A/c Name:</span>
                                        <span class='funding-acc-val'><%- name %></span>
                                    </div>
                                    <div class='funding-acc-dtls clearfix'>
                                        <% if(ifiID == '50') { %>
                                            <span class='funding-acc-icon ac-no-icon'></span>
                                            <span class='funding-acc-label'>A/c No:</span>
                                            <span class='funding-acc-val'><%- transferInDetails[0].accountNumber  %></span>
                                            <% } %>
                                    </div>
                                    <div class='funding-acc-dtls clearfix'>
                                        <% if(ifiID == '50') { %> 
                                            <span class='funding-acc-icon ifsc-code-icon'></span>
                                            <span class='funding-acc-label'>IFSC Code:</span>
                                            <span class='funding-acc-val'><%- transferInDetails[0].ifscCode %></span>
                                            <% } %>
                                    </div>
                                    <div class="page-sub-heading">
                                    </div>
                                </div>
                                <div class="funding-account-right clearfix">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="page-sub-heading">
                                                <p>Balance</p>
                                            </div>
                                            <h4 class="media-heading"><b><%- balance %></b>
                                            </h4>
                                        </div>
                                        <div class="col-md-2 left-align">
                                            <% if(ifiBankName != "Sodexo_Philippines") { %>
                                                <div class="dropdown-log">
                                                    <ul class="nav navbar-nav">
                                                        <li class="dropdown">
                                                            <a href="#" class="<%=typeof disableFundTransfer != 'undefined' && disableFundTransfer ? 'hidden' : ''%>" data-toggle="dropdown"><span><img src="/images/vertical_dot_icon.png"></span></a>
                                                            <ul class="dropdown-menu dropdown-log-typeTwo">
                                                                <li>
                                                                    <a class="change-status" href="javascript:void(0)" data-accountid="<%- accountID %>" data-accname="<%- name %>" data-accno="<%- accountID  %>" data-accbal="<%- balance %>"
                                                                        data-accbalpaise="<%- balanceInPaise %>" data-target="#transferFundsModal" data-toggle="modal">Transfer funds to another Funding A/c</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="pd-top-ten">
                                                <div id="trans-history" class="btn-trns-column x-medium-button">
                                                    <a href="/admin/transaction-history/<%- accountID %>" class="btn btn-default height-small" value="" data-attr-accountid="<%- accountID %>">TRANSACTION HISTORY</a>
                                                </div>
                                                <div class="btn-adfund-column large-small-button mg-right-16">
                                                    <button class="btn btn-secondary text-uppercase addFundsOnHome <%=typeof disableAddFund != 'undefined' && disableAddFund ? 'hidden' : ''%>" data-bank="<%- ifiBankName %>" data-toggle="modal" id="" name="" type="button" value="" data-attr-accountid="<%- accountID %>" data-attr-ifiid="<%- ifiID %>" data-attr-name="<%- name %>">
                                                        <strong>+</strong> ADD FUNDS
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% if(typeof disableFooterInfo == 'undefined' || !disableFooterInfo) {%>
                                <div class='row progrmas-linked'>
                                    <div class="col-xs-9 col-md-9 progrmas-linked-cntr">
                                        <% if(programsFunded.length > 0) { %>
                                            <div>This account funds <a data-funding-id='<%- accountID %>' class='show-program-funded'><span><%- programsFunded.length %></span> Programs across <span><%- companiesFunded.length %></span> companies</a></div>
                                            <% } %>
                                    </div>
                                    <div class="col-xs-3 col-md-3 progrmas-linked-cntr">
                                        <span class="text-right">
                                                        <% if(ifiBankName == "RBL"){ %>
                                                           <p>Issued by &nbsp;
                                                                   <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/rbl-logo.png" alt="" style="width: 72px;">
                                                        <%}%>
                                                        <% if(ifiBankName == "IDFC"){ %>
                                                           <p>Issued by &nbsp;
                                                                   <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/IDFC-FIRST-Bank-Primary-Logo.jpg" alt="" style="width: 72px;">
                                                        <%}%>
                                                        <% if(ifiBankName == "Kotak"){ %>
                                                           <p>Issued by &nbsp;
                                                                   <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/kotak-logo.png" alt="" style="width: 72px;">
                                                        <%}%>
                                                        <% if(ifiBankName == "Sodexo" || ifiBankName == "SodexoVietnam"){ %>
                                                           <p>Issued by &nbsp;
                                                                   <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/Sodexo-logo.png" alt="" style="width: 72px;">
                                                        <%}%>
                                                        <% if(ifiBankName == "HDFC"){ %>
                                                            <p>Issued by &nbsp;
                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/HDFC-logo-2x.png" alt="" style="width: 120px;">
                                                         <%}%>
                                                    </p></span>
                                    </div>
                                </div>
                            <%}%>
                        </div>
                        <!--- Default well -->
                    </div>
                </div>
    </td>
</tr>
<script src="/dist/scripts/fundingAccTable.js"></script>
    