<tr>
    <td><%- transactionDate.replace(/\./g, ' ') %></td>
    <td>
       <div class="max-width-row"><%- transactionRefNumber %></div>
    </td>
    <td><%-paymentMode%></td>
    <td class="text-right numbers-font"><%-amount%></td>
    <% if (status === 'accepted') { %>
        <td class="status-green text-capitalize"><%-status%></td>
    <% } else { %>
        <td class="status-red text-capitalize"><%-status%></td>
    <% } %>
</tr>