<!-- Pagination -->
<div class="pagination-container">
    <div class="col-xs-12 col-md-12">
        <nav aria-label="...">
            <ul class="pager">
                <li>
                    <a href="javascript:void(0);" class="go-first">
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/stroke-441.png" alt="icon">
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/stroke-441.png" alt="icon">
                    </a>
                </li>
                <li><a href="javascript:void(0);" class="go-prev"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/stroke-441.png"
                                                                       alt="Zeta icon"/></a></li>
                <% for(var curr =0;curr < totalPages;curr++) { %>

                <li><a data-pageno="<%- curr+1 %>" class="paging-item" href="javascript:void(0)"><%- curr+1 %></a></li>
                <%}%>
                
                <li><a href="javascript:void(0);" class="go-next"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/stroke-441-right.png"
                                                                       alt="Zeta icon"/></a></li>
                <li>
                    <a href="javascript:void(0);" class="go-last">
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/stroke-441-right.png" alt="icon">
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/stroke-441-right.png" alt="icon">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>