<tr class="numbers-font <%- payoutStatus %>" >
    <td><%- payoutStatus %></td>
    <td class="text-right"><%- count %></td>
    <% if(amount < 0) { %>
        <td class="text-right">0</td>
    <% } else { %>
        <td class="text-right"><%- amount %></td>
    <% } %>
</tr>