<% if((status == 'active')||(status == 'inactive')||(status=='suspended') ){ %>
    <tr>
        <td>
            <div>
                <span class="access-ctrl-user-name"><%- _.startCase(name) %></span>
                <% if(loggedUser == true){ %>
                    <span class="current-user-info"> YOU </span>
                    <% } %>
            </div>
        </td>
        <td>
            <div>
                <span class="access-ctrl-user-details text-lowercase">
                    <%- email %>
                </span>
            </div>
        </td>
        <td>
            <div>
                <span class="access-ctrl-user-details">
                    <% if(typeof(mobileNumber) != "undefined"){ %>
                        <%- mobileNumber %>
                    <% } 
                    else{  %>
                    -
                    <% } %>
                </span>
            </div>
        </td>
        <td class="<% if(status == 'active'){ %>status-green<% }else if(status == 'suspended'){%>status-red<%}else{%>status-orange<%}%> access-ctrl-status">
            <% if(status == 'inactive'){ %>
                Pending Verification
                <%}
            else{ %>
                    <%- _.startCase(status) %>
                        <% } %>
        </td>
        <td class="position-dropdown access-control-dropdwn">
            <!-- Popover -->
            <% if((status === 'active' || status === 'suspended') && (loggedUser == false)){  %>
                <!-- <div class="popover-content">
                    <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Change account status">
                        <span><img src="/images/vertical_dot_icon.png"></span>
                    </span>
                </div> -->
                <!-- Popover End -->
                <!-- Dropdown -->
                <div class="dropdown-log">
                    <ul class="nav navbar-nav">
                        <li class="dropdown right20px">
                            <a href="#" class="" data-toggle="dropdown"><span><img src="/images/vertical_dot_icon.png"></span></a>
                            <ul class="dropdown-menu dropdown-log-typeTwo">
                                <li>
                                    <a class="change-status" href="javascript:void(0)" data-status="<%-status%>" data-name="<%- _.startCase(name) %>" data-accountid="<%-accountID%>" data-target="#changeStatusModal" data-toggle="modal">
                                        <% if(status == 'active'){ %>
                                            Suspend this User
                                            <%}
                                    else if(status == 'suspended'){ %>
                                                Restore this User
                                                <% } %>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <% } %>
                    <!-- Dropdown End -->
        </td>
    </tr>
    <% } %>