<div class="heading-sub-text--size last-issuance-date">
    Based on your selection, the closure date will be:
    <span class="heading-sub-text--color"><%- lastIssuanceDate.formatted %></span> — which means:
    <span class="heading-sub-text--color"> You won’t be able to create any transfer orders after this date.</span>
</div>
<!-- Table -->
<div class="row">
    <div class="col-xs-12 col-md-12">

        <table class="custom-table custom-table-margin custom-table__header">
            <thead>
              <tr>
              <th width="80%"><span>Last date to create transfer orders — Closure Date</span> <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-grey.svg"></th>
              <th class="lastIssuanceDate" data-issuance-date="<%- lastIssuanceDate.iso %>"><%- lastIssuanceDate.formatted %></th>
              </tr>
            </thead>
            <tbody class="main-content">
              <tr>
                <td>
                  <span>
                    Last date for submission of claims by beneficiaries
                  </span>
                  <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-grey.svg">
                </td>
                <td class="lastClaimUploadDate" data-claim-upload-date="<%- lastClaimUploadDate.iso %>"><%- lastClaimUploadDate.formatted %></td>
              </tr>
              <tr>
                <td>
                  <span>
                    Processing complete for all claims for the financial year
                  </span>
                  <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-grey.svg">
                </td>
                <td class="lastClaimProcessDate" data-claim-process-date="<%- lastClaimProcessDate.iso %>"><%- lastClaimProcessDate.formatted %></td>
              </tr>
              <tr>
                <td>
                  <span>
                    Settlement of balance in the beneficiary card
                  </span>
                  <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-grey.svg">
                </td>
                <td class="cardCloseDate" data-card-close-date="<%- cardCloseDate.iso %>"><%- cardCloseDate.formatted %></td>
              </tr>
              <tr>
                <td>
                  <span>
                    Final report available for download
                  </span>
                  <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-grey.svg">
                </td>
                <td class="reportGenerationDate" data-report-generation-date="<%- reportGenerationDate.iso %>"><%- reportGenerationDate.formatted %></td>
              </tr>
            </tbody>
        </table>


    </div>
</div>
<!-- Table End -->