<% include ../../common/html-head %>

<body>
<div class="wrapper">
    <% include ../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container power-center-frame">
                    <iframe src= "<%- url %>"  class="survey-frame"  name = <%- corpID %>,<%- authToken %>,<%- userID %> >
                    </iframe>
                
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<% include ../../common/html-script %>

<!-- <script type="text/javascript" src="/lib/highcharts/highcharts.js"></script> -->
<!-- <script type="text/javascript" src="/lib/moment/moment.js"></script> -->
<!-- <script type="text/javascript" src="/lib/bootstrap-daterangepicker/daterangepicker.js"></script> -->
<script src="/dist/scripts/survey.js"></script> 
<script type="text/javascript" src="/dist/scripts/powerCenterModule.js"></script>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>

</html>
