<tr class="order-row">
    <td>
        <div>
            <%- dateObj.date %>
        </div><span class="time"><%- dateObj.time %></span></td>

    <td class="numbers-font">
        <div class="profile-details profile-details-benefits">
            <a class="text" href="javascript:void(0)"><strong><%- name %></strong></a>
            <% if(mobileNumber) { %>
                <span class="tel" title="<%- mobileNumber %>"><%- mobileNumber %></span>
                <% } %>
                    <% if(emailID) { %>
                        <div class="emailIds">
                            <span class="email text-lowercase" title="<%- emailID %>"><%- emailID %></span>
                        </div>
                        <% } %>
        </div>
    </td>

    <td class="numbers-font">
        <div class="text-capitalize merchant-name">
            <%- merchantName || '-' %>
        </div>
        <% if(attrs.merchantType) { %>
            <span class="tag"><%- attrs.merchantType %></span>
            <% } %>
    </td>

    <td class="numbers-font">
        <% for(var i = 0;i < billUrls.length; i++) { %>
            <a href="<%- billUrls[i] %>" target="_blank" class="document-icon"></a>
            <% } %>
    </td>

    <td class="numbers-font align-right">
        <%- amount %>
    </td>
    <% if (approvedAmount) { %>
        <td class="numbers-font align-right">
            <%- approvedAmount %>
        </td>
        <% } else { %>
            <td class="numbers-font align-right"> - </td>
            <% } %>
                <td class="numbers-font">
                    <span class="<%- statusClass %>"><%- status %></span>
                    <% if(status === 'Declined' && secondaryStatus) { %>
                        <div class="secondary-status">
                            <%- secondaryStatus %>
                        </div>
                        <% } %>
                </td>
                <td class="position-dropdown">
                    <!-- Popover -->
                    <div class="popover-content">
                        <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
              <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                        </span>
                    </div>
                    <!-- Popover End -->
                    <!-- Dropdown -->
                    <div class="dropdown-log">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle benefits-dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span><img src="/images/vertical_dot_icon.png"></span></a>
                                <ul class="dropdown-menu dropdown-log-typeTwo">
                                    <li><a class="view-statement" href="/document-drive/<%- claimId %>" target="_blank">
                        View Claim Details</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
</tr>