<table>
    <thead class="table--head">
    <tr>
        <th class="align--left">Stores</th>
        <th class="align--left">Person In Charge</th>
        <th class="align--left">Contact No.</th>
        <th class="align--left">Avg. Rating</th>
        <th>Products in Use</th>
    </tr>
    </thead>
    <tbody class="table--body">
    <tr>
        <td>
            <span class="category--initial"><%- htmlDecoder(getInitialFromTheName(storeName)) %></span>
            <div class="all-stores__caption">
                <div class="all-stores__store-name">
                    <h4><%- storeName %></h4>
                    <p><%- city %></p>
                </div>
            </div>
        </td>
        <td><%- personInCharge %></td>
        <td class=""><%- (phoneNumber.length > 0) ? phoneNumber[0] : 'NA' %></td>
        <td class=""><%- (ratingCount > 0) ? (ratingSum / ratingCount).toFixed(2).replace(/\.00$/, '') + ' / 5' : 'No Rating' %></td>
        <td>
            <% if(productsAccepted.length) { %>
            <ol>
                <% _.forEach(productsAccepted, function (item) { %>
                <li><%- productsInUse(item) %></li>
                <% }) %>
            </ol>
            <% }else { %>
            NA
            <% } %>
        </td>
    </tr>
    </tbody>
</table>
