<div>
    <table class="pie-stats pie-stats__consumption">
        <thead class="table--head">
        <tr>
            <th>Category</th>
            <th>Item</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Sale Amount(₹)</th>
        </tr>
        </thead>
        <tbody class="table--body">

        <% _.forEach(itemTransactionDetailMap, function (item, key) { %>
            <% _.forEach(item, function (itemDetails, index) { %>
                <tr>
                    <% if(index == 0) { %>
                        <td rowspan="<%-item.length%>"><%- itemDetails.categoryName %></td>
                    <% } %>
                    <td><span class="category--initial"><%-getInitialFromTheName(itemDetails.itemName)%></span><%-itemDetails.itemName%></td>
                    <td class="text-right"><%-formatINR(itemDetails.saleQuantity)%></td>
                    <td class="text-right"><%-formatINR(itemDetails.saleAmount/100)%></td>
                </tr>
            <% }) %>
        <% }) %>

        </tbody>
    </table>

</div>