<table>
    <thead class="table--head">
    <tr>
        <th class="align--left">Items</th>
        <th class="align--right">Sale Amount (₹)</th>
        <th class="align--right">Sale Quantity</th>

    </tr>
    </thead>
    <tbody class="table--body">
    <tr>
        <td><span class="category--initial"><%-getInitialFromTheName(itemName)%></span><%-itemName%></td>
        <td class="align--right"><%-formatINR(saleAmount/100)%></td>
        <td class="align--right"><%-formatINR(saleQuantity)%></td>
    </tr>
    </tbody>
</table>
