<div class="express--table">
  <table class="custom-table">
    <thead class="table--head">
    <tr>

    </tr>
    </thead>
    <tbody class="table--body"></tbody>
    <tfoot class="table--footer table--footer__active">
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
    <tfoot class="table--empty--state">
      <tr>
        <td colspan="100">
          <img src="/images/express/table-empty-icon.svg" alt="">
          <p>No data available</p>
        </td>
      </tr>
    </tfoot>
    <tfoot class="table--error--state">
    <tr>
      <td colspan="100">
        <img src="/images/express/table-error-icon.svg" alt="">
        <p>Data Failed to load</p>
        <a href="javascript:void(0)" class="reload--buttom">Reload</a>
      </td>
    </tr>
    </tfoot>
  </table>

  <div class="express--loading">
    <div class="loading--body">
      <p class="loading--description">Loading…</p>
      <img class="loading--image" src="/images/express/loading.svg" alt="">
    </div>
  </div>

  <div class="express--paging"></div>
</div>
