<table>
    <thead class="table--head">
    <tr>
        <th class="align--left">Date</th>
        <th class="align--right">Sale Amount (₹)</th>
        <th class="align--right">Sale Quantity</th>
    </tr>
    </thead>
    <tbody class="table--body">
    <tr>
        <td><%- formatedDate %></td>
        <td class="align--right"><%- formatINR(amount) %></td>
        <td class="align--right"><%- formatINR(transactionCount) %></td>
    </tr>
    </tbody>
</table>
