<table>
    <thead class="table--head">
    <tr>
        <th>SETTLED ON</th>
        <th>SALES FOR</th>
        <th class="align-right">SETTLEMENT AMOUNT(₹)</th>
        <th>BANK DETAILS</th>
        <th>TXN REF NO.</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="table--body">
    <tr class="settlement__row">
        <td>
           <%- settlementDate || '-' %>                 
        </td>                                                   
        <td>
            <% for(var i = 0; i < txnEndDate.length; i++) { %>
                <%- txnEndDate[i] %> </br>                       
            <% } %>   
        </td>   
        <td class="align-right">
            <% if(isSettledExternally){ %>
            ₹ 0
            <% }else{ %>
            ₹ <%- formatINR(settlementAmount/100) %>
            <% } %>
        </td>
        <td>
            <% if (bankAccount == '-' ){ %>
                -
            <% } else { %>
                AC: <%- bankAccount.accountNumber%> 
            <% } %>   
                  
        </td>                                                     
        <td><%-bankRefNumber%></td>
    </tr>
    </tbody>
</table>
