<table>
    <thead class="table--head">
    <tr>
        <th class="align--left">Stores</th>
        <th class="align--left">City</th>
        <th class="align--right">Sale Amount (₹)</th>
        <th class="align--right">Sale Quantity</th>

    </tr>
    </thead>
    <tbody class="table--body">
    <tr>
        <td><span class="category--initial"><%-getInitialFromTheName(storeName)%></span><%-storeName%></td>
        <td><%-city%></td>
        <td class="align--right"><%-formatINR(totalSum)%></td>
        <td class="align--right"><%-formatINR(transactionCount)%></td>
    </tr>
    </tbody>
</table>
