<table>
    <thead class="table--head">
    <tr>
        <th class="align--left">Date</th>
        <th class="text-right">No. of Unique Users</th>
        <th class="text-right">No. of Transactions</th>
    </tr>
    </thead>
    <tbody class="table--body">
    <tr>
        <td><%- dateFormatted %></td>
        <td class="text-right"><%- uniqueUsers %></td>
        <td class="text-right"><%- transactionCount %></td>
    </tr>
    </tbody>
</table>
