<table>
    <thead class="table--head">
    <tr>
        <th class="align--left">Vendor</th>
        <th class="align--right">Sale Amount (₹)</th>
        <th class="align--right">Sale Quantity</th>

    </tr>
    </thead>
    <tbody class="table--body">
    <tr>
        <td><span class="category--initial"><%-getInitialFromTheName(businessName)%></span><%-businessName%></td>
        <td class="align--right"><%-formatINR(totalSum)%></td>
        <td class="align--right"><%-formatINR(transactionCount)%></td>
    </tr>
    </tbody>
</table>
