<div class="expense-card active-programs col-xs-3">
    <a href="/companies/<%- companyID %>/expense/<%- activeCards.programs[currIndex].programID %>" class="common-link">
        <div class="thumbnail cards-container mg-bottom-zero">
            <div class="card-image-part" align="center">
                <% if(activeCards.programs[currIndex].cardProgramObject.cardDesign.bg) { %>
                    <img src=<%- activeCards.programs[currIndex].cardProgramObject.cardDesign.bg %> alt="Expense Program Image" />
                <% } else { %>
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/cards.png" alt="Zeta image">
                <% } %>
            </div>
            <div class="caption card-text-part">
                <h5><%- activeCards.programs[currIndex].cardProgramObject.cardName %></h5>
                <% if (typeof activeCards.programs[currIndex].cardProgramObject.active) { %>
                    <p class="medium-green">Active</p>
                <% } else { %>
                    <p>Inactive</p>
                <% } %>
                <p>No. of Beneficiaries: <b><%- activeCards.programs[currIndex].numberOfEmployees || 0 %></b></p>
            </div>
        </div>
    </a>
</div>
