<div class="graph-empty show pd-top-twenty">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/programs-empty.svg" class='empty-state'>
    <div class='pd-top-twenty msg'>No Closed Programs</div>
</div>
