<% include ../../../common/html-head %>

<body>
<div class="wrapper">
    <% include ../../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../../common/sidebar %>
            <!-- Inner container -->
                <div class="inner-container">
                    <% include ../../../section/expense/home/banner %>
                    <div class="top-section">
                        <div class="row">
                        <!-- Page Heading and List -->
                          <div class="col-xs-12 col-md-12">
                                <!-- Active program heading -->
                                <ul class="nav nav-tabs nav-tabs--program-list mg-bottom-thirty" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#active-programs" role="tab" data-toggle="tab">Active Programs</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#closed-programs" role="tab" data-toggle="tab">Closed Programs</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="active-programs">
                                        <!-- Active program cards -->
                                        <div class="cards-row row">
                                        <% if(activeCards.programs.length > 0) { %>
                                            <% for(var currIndex=0; currIndex<activeCards.programs.length; currIndex++) { %>
                                                <% include ../../../section/expense/home/active-programs %>
                                            <% } %>
                                         <% } else { %>
                                        <div class="graph-empty show pd-top-twenty">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/programs-empty.svg" class='empty-state'>
                                            <div class='pd-top-twenty msg'>No Active Programs</div>
                                        </div>
                                         
                                         <% } %>
                                        
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="closed-programs">
                                        <!-- Closed program cards -->
                                        <div class="cards-row row">
                                            <% include ../../../section/expense/home/closed-programs %>
                                        </div>
                                    </div>
                                </div>
                          </div>
          <!-- Page Heading and List End -->
                      </div>
                    </div>
                </div>
          <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<% include ../../../common/html-script %>

</body>

</html>
