<div class='total-merchants-wrpr clearfix'>
    <div>
        <span class='total-merchants numbers-font'><%-aggregations.topLocations.length %></span>
        <span class='total-merchants-txt'>Total merchants</span>
    </div>
    <!-- <div class='total-merchants-note'>(Where this benefit was used)</div> -->
</div>
<% if(aggregations.topLocations.length > 0) { %>
    <div class='top-merchants-wrpr'>
        <div class='top-merchants-hdg'>Top <%- aggregations.topLocations.length %>  Merchants</div>
        <div class='top-merchants-cntr'>
            <% for(let currMerchant = 0; currMerchant < aggregations.topLocations.length; currMerchant++) { %>
                <div class='top-merchant'>
                    <div class='row clearfix merchant-left'>
                        <div class='col-xs-9'>
                            <div class='row'>
                                <div class='top-merchant-name text-capitalize'><%- aggregations.topLocations[currMerchant].merchantName.toLowerCase() %></div>
                            </div>
                        </div>
                        <div class='top-merchant-count numbers-font col-xs-3'><%-aggregations.topLocations[currMerchant].count%></div>
                    </div>
                    <div class='top-merchant-graph'>
                        <div style='width: <%-aggregations.topLocations[currMerchant].count %>;' class='top-merchant-active'></div>
                    </div>
                </div>
            <% } %>
        </div>
        <em class="footer-note">* Data for last 3 months only</em>
    </div>
<% } %>