.express-menu {
  .menu--header {
    height: 40px;
    border-radius: 2px;
    background-color: #b7b9d0;

    .menu--title {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #ffffff;
      text-transform: uppercase;
      margin-top: 13px;
      margin-left: 10px;
    }
  }

  .menu--body {
    .menu-left {
      padding-right: 0;
      .category--list {
        list-style: none;
        padding: 0;
        li {
          .category--link {
            font-size: 16px;
            line-height: 1.19;
            letter-spacing: 0.6px;
            color: #000000;
            padding: 15px 24px;
            display: block;
            background-color: #fcfbfc;
            text-decoration: none;

            &.category--link--active {
              background-color: #6335aa;
              color: #FFFFFF;
            }
          }
        }
      }
    }

    .menu-right {
      padding-left: 0;
      border-left: 1px solid #e6e6e6;
      //height: 60vh;
      //overflow: scroll;

      .category--items-list {
        .category--group {
          .category--name {
            font-size: 16px;
            font-weight: 600;
            line-height: 0.94;
            color: #190f27;
            margin-left: 24px;
            margin-top: 48px;
          }

          .category--items {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              border-bottom: 1px solid #e6e6e6;
              padding: 8px 24px;
              .category--initial {
                text-transform: uppercase;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: #ffbe00;
                color: #FFFFFF;
                text-align: center;
                padding-top: 7px;
                float: left;
                margin-right: 8px;
              }

              .item--name {
                display: inline-block;
              }

              .item--price {
                float: right;
              }
            }
          }
        }
      }
    }
  }
}

.menu__container {
  position: relative;
  min-height: 150px;


}

.loading--box {
  top: 20px;
  position: absolute;
  width: 100%;
}

.menu__container__empty
{
  text-align: center;
  margin-top: 20px;

  h4
  {
    font-size: 16px;
    color: #8c8793;
    margin-top: 20px;
  }
}

.menu__container__error
{
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
  width: 100%;

  h4
  {
    font-size: 16px;
    color: #8c8793;
    margin-top: 20px;
  }
}