.express--stats {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #f4f4f4;
  padding: 40px; //padding-right: 0;
  position: relative;
  min-height: 154px;
  .section--caption {
    margin-top: -5px !important;
  }
  .stat--item {
    display: inline-block;
    width: 24.5%;
    padding-bottom: 18px;
    padding-top: 18px;
    position: relative; //border-right: solid 1px #ededed;
    //border-bottom: solid 1px #ededed;
    //padding-left: 30px;
    //margin-left: -4px;
    &:nth-child(5n),
    &:first-child {
      padding-left: 8px;
    }
    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4) {
      padding-bottom: 0;
      border-bottom: 0;
    }
    &:nth-child(4n) {
      border-right: 0;
    }
    .stat--image {
      width: 16px;
      height: 16px;
      border-radius: 2px; //background-color: #00b998;
      //margin-bottom: 23px;
      margin-bottom: 6px;
      margin-right: 5px;
      margin-left: 2px;
      text-align: center;
      img {
        margin-top: 10px;
      }
    }
    .stat--detail {
      opacity: 0.7;
      font-size: 12px;
      line-height: 0.56;
      color: #190f27;
      margin-bottom: 12px;
    }
    .stat--value {
      font-size: 30px;
      line-height: 0.9;
      color: #190f27;
      margin: 0;
      white-space: nowrap; // width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 10px;
      padding-bottom: 11px;
      &.full-width {
        width: 100%;
      }
      sub {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.6px;
        color: #190f27;
      }
    }
    .tooltip-title{
      position:absolute;
      right:20%;       
      bottom:0px;                                                                                    
    }
    .tooltip-view{
      width:360px;
      
    }
    #override_top{
      left:-90px;    
      top:-55px;
    }
    .vertical-line {                                                            
      width: 2px;
      height: 20px;
      border: solid 1px #dfdde6;
      position: absolute;
      right: 15%;
      top: 40px;
    }
    &:last-child{        
      .tooltip-view{
        width:300px;
        top:-120px;
        left:-178px;      
      }     
      .tooltip-view:after{
        
        left: 88%;                                                   
        
      }
    }
  }
  .loading--box {
    top: -12px;
    left: 0;
  }
  &.vendor-over-stats {
    .stat--item {
      // width: 40%;
      .stat--value {
        font-size: 20px;
        width: 80%;
      }
      &:last-child {
        width: 19%;
      }
    }
  }
}

.loader__parent {
  position: relative;
}