.loading--box {
  text-align: center;
  margin: 30px 0;
  .loading--body {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    display: inline-block;
    padding: 25px 40px;

    .loading--text {
      font-size: 14px;
      text-align: center;
      color: #000000;
      margin-bottom: 8px;
    }

    img {
      -webkit-animation: spin 1s linear infinite;
      -moz-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
  }
}

.graphBarLoading {
  position: relative;
  margin-bottom: 60px;

  .loading--box {
    position: absolute;
    top:0px;
    width: 100%;
  }
}

.scroll-loader{
  text-align:center;
  img {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
}