.pie-stats {
  width: 100%;
  thead {
    border-radius: 2px;
    background-color: #b7b9d0;
    tr {
      th {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #ffffff;
        height: 40px;
        text-transform: uppercase;

        &:first-child {
          padding-left: 10px;
        }
        &:last-child {
          padding-right: 10px;
        }

        &:nth-child(2) {
          padding-left: 10px;
        }
      }
    }
  }

  tbody {
    background-color: #fcfbfc;
    tr {
      td {
        padding: 15px 0;
        border-bottom: 1px solid #e6e6e6;
        vertical-align: top;
        &.percentage {
          padding-left: 10px;
          border-right: 1px solid #e6e6e6;
        }

        &:nth-last-child(3) {
          padding-left: 10px;
        }

        &:last-child {
          padding-right: 10px;
        }

        .dot {
          width: 12px;
          height: 12px;
          background-color: #000000;
          border-radius: 50%;
          display: inline-block;
          margin-right: 10px;
          vertical-align: text-top;

          &.dot--red {
            background-color: #f5635a;
          }

          &.dot--orange {
            background-color: #fa8935;
          }

          &.dot--pink {
            background-color: #f0308c;
          }

          &.dot--green {
            background-color: #00b998;
          }

          &.dot--purple {
            background-color: #6335aa;
          }
        }
      }
    }
  }

  &.pie-stats__consumption {
    tbody {
      background-color: #fcfbfc;
      tr {
        td {

          .category--initial{
            text-transform: uppercase;
            width: 32px;
            height: 32px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: #ffbe00;
            color: #FFFFFF;
            text-align: center;
            padding-top: 7px;
            //float: left;
            display: inline-block;
            margin-right: 8px;
          }

          &:nth-last-child(4)
          {
            padding-left: 10px;
            vertical-align: top;
          }
          &:nth-last-child(3)
          {
            border-left: 1px solid #e6e6e6;
          }
        }
      }
    }
  }
}

