.sales--stats {
  margin-bottom: -15px;
  .sale--item {
    display: inline-block;
    width: 24.5%;
    //padding: 30px 0;
    //adding-left: 16px;

    &:first-child {
      //border-right: 1px solid #ededed;
      padding-left: 0;
    }

    .sale--icon {
      float: left;
      width: 12px;
      height: 17px;
      margin-right: 16px;
    }

    .sale--caption {

      .sale--title {
        margin: 0;
        opacity: 0.7;
        font-size: 16px;
        color: #190f27;
      }

      .sale--value {
        margin: 0;
        font-size: 30px;
        line-height: 0.67;
        color: #190f27;

      }
    }
  }

  .sale--item--grey {
    display: inline-block;
    background-color: #f9f7fe;
    width: 25%;
    padding: 30px;
    position: relative;

    &:nth-child(3):before {
      content: "=";
    }

    &:before {
      content: "+";
      width: 32px;
      height: 32px;
      background-color: #FFFFFF;
      position: absolute;
      top: 38px;
      left: -17px;
      border: 1px solid #d8d8d8;
      border-radius: 50%;

      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0.5px;
      text-align: center;
      color: #633ea5;
      padding-top: 2px;
    }

    .sale--caption {
      .sale--title {
        opacity: 0.7;
        font-size: 14px;
        color: #190f27;
        margin: 0;
      }

      .sale--value {
        font-size: 22px;
        line-height: 1.23;
        color: #190f27;
        margin: 0;
        margin-top: 3px;
      }
    }

    &:last-child {
      margin-left: -11px;
      border-left: solid 1px #ede6f8;
    }
  }
}