.section--box {
  .section--heading {
    font-size: 20px;
    line-height: 0.75;
    color: #190f27;
    //margin-bottom: 22px;
    margin-top: 0;

  }

  .downloadBtn {
    display: inline-block;
    margin-right: 16px;
  }

  .date-picker {
    width: 245px;
    display: inline-block;
    vertical-align: top;
  }

  .right-info {
    font-size: 12px;
    color: rgba(25, 15, 39, 0.7);
    float: right;
    margin: 0;
  }

  &.section--white {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #f4f4f4;
    padding: 40px;
    margin-top: 16px;

    h3.section--title {
      font-size: 18px;
      font-weight: 600;
      color: #190f27;
      margin: 0;
      margin-bottom: 30px;

      &.remove--margin {
        margin-bottom: -30px !important;
      }

      .single-dropdown__link {
        color: #6335aa;
        text-decoration: underline;
        //border-bottom: 1px #6335aa dashed;
      }
    }

    h2.section--title {
      font-size: 28px;
      font-weight: 400;
      color: #000000;
    }

    .section--subtitle {
      font-size: 18px;
      line-height: 0.83;
      color: rgba(25, 15, 39, 0.5);

      &.section--subtitle-footfall {
        img {
          vertical-align: bottom;
          margin-right: 6px;
        }

        .time {
          font-size: 18px;
          font-weight: 600;
          color: #190f27;
        }
      }
    }

    .custom-table {
      margin-top: 40px;
    }
  }
}

.express--charts {
  margin-bottom: 60px;
}
