.settlement--stats {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #f4f4f4;
  padding: 24px 0;



  .settlement--column {
    display: inline-block;
    width: 33.33%;
    margin-left: -3px;
    text-align: center;
    border-right: solid 1px rgba(151, 151, 151, 0.2);
    padding: 24px 0;

    &:last-child
    {
      border: 0;
    }

    h3 {
      font-size: 26px;
      line-height: 0.69;
      color: #190f27;
      margin: 0;
      margin-bottom: 13px;
    }

    p {
      opacity: 0.8;
      font-size: 14px;
      line-height: 0.64;
      color: #190f27;
      margin: 0;
      text-transform: uppercase;

      &.text-success {
        color: #1e9677;
      }
    }
  }
}