.express--table {
  position: relative;
  //margin-top: 60px;

  table {
    width: 100%;
    border-collapse: collapse;

    .table--head {
      background-color: #9c9eb8;

      tr {
        height: 40px;
        th {
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 1px;
          color: #ffffff;
          text-transform: uppercase;
          padding-top: 4px;
          //text-align: left;

          &:first-child {
            padding-left: 16px;
          }

          &:last-child {
            padding-right: 16px;
          }
        }
      }
    }

    .table--body {
      border: 1px solid #f0eff3;
      tr {
        height: 48px;
        td {
          //background-color: #f0eff3;
          box-shadow: inset 0 -1px 0 0 #e6e6e6;
          .category--initial{
            text-transform: uppercase;
            width: 32px;
            height: 32px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: #ffbe00;
            color: #FFFFFF;
            text-align: center;
            padding-top: 7px;
            //float: left;
            display: inline-block;
            margin-right: 8px;
          }

          &:first-child {
            padding-left: 16px;
          }

          &:last-child {
            padding-right: 16px;
          }
        }
        &:nth-child(even) {
          background-color: #f0eff3;
        }
      }
    }

    .table--footer {
      display: none;

      &.table--footer__active {
        display: table-footer-group;
      }

      tr {
        height: 48px;
        td {
          background-color: #f3f3f3;
          border: 12px solid #FFFFFF;
        }
      }
    }

    .table--empty--state {
      display: none;

      &.table--empty--state__active {
        display: table-footer-group;
      }

      td {
        text-align: center;
        padding-top: 36px;
        padding-bottom: 10px;

        img {

        }

        p {
          font-size: 16px;
          color: #8c8793;
          margin-top: 24px;
        }
      }
    }

    .table--error--state {
      display: none;

      &.table--error--state__active {
        display: table-footer-group;
      }

      td {
        text-align: center;
        padding-top: 36px;
        padding-bottom: 10px;

        img {

        }

        p {
          font-size: 16px;
          color: #8c8793;
          margin-top: 24px;
        }

        a {
          font-size: 14px;
          color: #4a90e2;
          text-decoration: none;
          margin-top: 20px;
        }
      }
    }

    .align--left {
      text-align: left;
    }

    .align--center {
      text-align: center;
    }

    .align--right {
      text-align: right;
    }
  }

  .express--loading {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -50px;
    display: none;

    &.express--loading__active {
      display: block;
    }

    .loading--body {
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
      text-align: center;
      display: inline-block;
      padding: 16px 30px;

      .loading--description {
        font-size: 14px;
        color: #000000;
        margin: 0;
        margin-bottom: 8px;
      }
      .loading--image {
        -webkit-animation: spin 1s linear infinite;
        -moz-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
      }
    }
  }

  .express--paging {
    text-align: center;
    .paging--list {
      list-style: none;
      padding: 0;
      display: inline-block;
      li {
        display: inline-block;
        padding: 0 5px;

        .paging--nav {
          width: 6px;
          height: 8px;
          background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/stroke-441-right.png");
          background-repeat: no-repeat;
          background-position: 10px;
          text-decoration: none;
          display: inline-block;
          padding: 8px;
          vertical-align: middle;
          transform: rotate(180deg);

          &.paging--next {
            transform: rotate(0deg);
          }
        }

        .paging--link {
          font-size: 14px;
          text-align: center;
          color: rgba(25, 15, 39, 0.5);
          text-decoration: none;
          display: inline-block;
          padding: 8px;
          vertical-align: middle;

          &.paging--link__active {
            border-radius: 50%;
            background-color: #b7b9d0;
            color: #FFFFFF;
            width: 24px;
            height: 24px;
            padding-top: 3px;
          }
        }
      }
    }
  }
}

.all-stores__caption {
  display: inline-block;
  vertical-align: top;


  .all-stores__store-name {
    h4 {
      margin: 0;
      padding: 0;
      font-size: 14px;
      color: #190f27;
      margin-bottom: 3px;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 12px;
      color: rgba(25, 15, 39, 0.70);
    }
  }
}

.settlement__row {

  td {
    vertical-align: top;
    padding: 6px 0;
    padding-top: 13px;
  }
  .more-settlement-amount-info {
    dl {
      display: none;
      dt {
        display: inline-block;
        font-size: 12px;
        color: #979797;
        float: left;
        margin-right: 10px;
      }

      dd {
        display: block;
        font-size: 12px;
        color: #141414;
        margin-bottom: 5px;
      }
    }

    .show-calc {
      text-decoration: none;
      font-size: 12px;
      color: #4a90e2;
    }
  }

  .back-details {
    padding: 0;
    list-style: none;
    display: none;

    li {
      opacity: 0.5;
      font-size: 12px;
      color: #190f27;
      margin-bottom: 5px;
    }
  }

  .show-more {
    content: "Show More";
    font-size: 12px;
    color: #4a90e2;
    text-decoration: none;
    position: relative;

    &:before {
      content: "Show More";
    }

    &:after {
      content: "";
      background-image: url("/images/express/down-arrow.svg");
      height: 6px;
      width: 8px;
      position: absolute;
      right: -14px;
      top: 2px;
      transform: rotate(0deg);
    }
  }

  &.settlement__row--active {
    .more-settlement-amount-info {
      dl {
        display: block;
      }
    }

    .back-details {
      display: block;
    }

    .show-more {
      &:before {
        content: "Show Less";
      }

      &:after {
        content: "";
        background-image: url("/images/express/down-arrow.svg");
        height: 6px;
        width: 8px;
        position: absolute;
        right: -14px;
        top: 2px;
        transform: rotate(180deg);
      }
    }
  }

}