.vendors-media-list {
  .vendor--item {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #f4f4f4;
    margin-top: 16px;
    padding: 24px;

    .vendor--logo {
      width: 100%;
    }

    .vendor--title {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      color: #353535;
      margin: 0;
    }

    .vendor--stars {
      span {
        font-size: 18px;
        position: relative;
        margin-right: 7px;
        width: 12px;
        height: 12px;
        background-image: url("/images/express/star-inactive.svg");
        display: inline-block;
      }

      &.vendor--stars__1 {
        span:first-child {
          background-image: url("/images/express/star-active.svg");
        }
      }
      &.vendor--stars__2 {
        span:first-child, span:nth-child(2)  {
          background-image: url("/images/express/star-active.svg");
        }
      }
      &.vendor--stars__3 {
        span:first-child, span:nth-child(2), span:nth-child(3)  {
          background-image: url("/images/express/star-active.svg");
        }
      }

      &.vendor--stars__4 {
        span:first-child, span:nth-child(2), span:nth-child(3),span:nth-child(4)  {
          background-image: url("/images/express/star-active.svg");
        }
      }

      &.vendor--stars__5 {
        span  {
          background-image: url("/images/express/star-active.svg");
        }
      }
    }

    .vendor--address, .vendor--phone {
      opacity: 0.5;
      font-size: 12px;
      line-height: 1.33;
      color: #190f27;
      position: relative;
      padding-left: 17px;
      margin-top: 4px;

      &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        height: 13px;
        width: 11px;
        background-size: 100% auto;
        background-repeat: no-repeat;

      }
    }

    .vendor--address:before {
      background-image: url(/images/express/location.png);
    }

    .vendor--phone:before {
      background-image: url(/images/express/phone.png);
    }

    .vendor--services {
      margin-top: 17px;
      .service--title {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #190f27;
        margin: 0;
      }

      .service--list {
        padding-left: 15px;
        margin-top: 5px;
        li {
          opacity: 0.5;
          font-size: 13px;
          line-height: 1.85;
          color: #190f27;
        }
      }
    }

    .btn-warning {
      border-radius: 2px;
      background-color: #ffbc00;
      border-color: #ffbc00;

      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #ffffff;
      text-transform: uppercase;
      padding: 10px 16px;
      padding-top: 13px;
    }
  }
}