.vendor--banner {
  overflow: inherit;
  .banner--dropdown {
    margin-top: 10px;
    cursor: pointer;
    width: 400px;
    position: relative;

    &:after {
      content: " ";
      background-image: url(/images/express/down-arrows-white.svg);
      width: 17px;
      height: 14px;
      position: absolute;
      right: 21px;
      top: 18px;
      background-repeat: no-repeat;
    }

    .vendor--logo {
      width: 56px;
      float: left;
      border-radius: 2px;
      margin-right: 16px;
    }

    .vendor--details {
      overflow: hidden;
      //padding-top: 7px;
      .vendor--title {
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
        margin: 0;
        padding: 0;
      }

      &.vendor--details__norating {
        padding-top: 10px;
        .vendor--stars
        {
          display: none;
        }
      }

      .vendor--stars {
        span {
          font-size: 18px;
          position: relative;
          margin-right: 7px;
          width: 12px;
          height: 12px;
          background-image: url("/images/express/star-inactive-grey.svg");
          display: inline-block;
        }

        &.vendor--stars__1 {
          span:first-child {
            background-image: url("/images/express/star-active.svg");
          }
        }
        &.vendor--stars__2 {
          span:first-child, span:nth-child(2) {
            background-image: url("/images/express/star-active.svg");
          }
        }
        &.vendor--stars__3 {
          span:first-child, span:nth-child(2), span:nth-child(3) {
            background-image: url("/images/express/star-active.svg");
          }
        }

        &.vendor--stars__4 {
          span:first-child, span:nth-child(2), span:nth-child(3), span:nth-child(4) {
            background-image: url("/images/express/star-active.svg");
          }
        }

        &.vendor--stars__5 {
          span {
            background-image: url("/images/express/star-active.svg");
          }
        }
      }

      .vendor--address {
        opacity: 0.5;
        font-size: 14px;
        line-height: 1.57;
        color: #ffffff;
        margin: 0;
      }
    }

    .dropdown--list {
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.12);
      position: absolute;
      z-index: 1;
      width: 400px;
      top: 65px;
      display: none;
      padding: 7px 0;

      &:before {
        content: " ";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #FFFFFF;
        position: absolute;
        top: -10px;
        right: 20px;
      }

      &.dropdown--list__active {
        display: block;
      }

      a {
        text-decoration: none;
        padding: 15px 15px;
        display: block;

        &:hover {
          background-color: rgba(99, 53, 170, 0.1);
        }

        img {
          width: 32px;
          height: 32px;
          border-radius: 2px;
          float: left;
          margin-right: 15px;
        }

        h4 {
          font-size: 16px;
          color: #190f27;
        }
      }
    }
  }

  .details--list {
    margin: 0;
    dt {
      opacity: 0.5;
      font-size: 15px;
      color: #ffffff;
      font-weight: 100;
      margin-bottom: 6px;

      &:after {
        content: ":";
        margin-left: 10px;
      }
    }

    dd {
      font-size: 15px;
      color: #ffffff;
      margin-left: 170px;
    }
  }

}
