<% include common/html-head %>

<body>
  <div class="wrapper">
  <% include common/header %>
  <div class="container-fluid sidebar-row">
    <div class="row">

  <% include common/sidebar %>
  <!-- Inner container -->
        <div class="inner-container">
    <!-- Banner -->
          <div class="top-section gradient-indigo-blue">
            <!-- Breadcrumb -->
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <ul class="breadcrumb pd-tb-zero">
                    <li><a href="#">Administration</a></li>
                    <li><a href="#">Funding Accounts</a></li>
                  </ul>
                </div>
              </div>
            <!-- Breadcrumb End -->
            <div class="row">
              <div class="col-xs-12 col-md-12">
              <div class="page-heading">
                <h1 class="pd-top-ten">Transaction History for - <strong>Funding Account 1</strong>
                    <span class="dropdown dropdown-typeTwo">
                        <a id="dLabel" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="circle-img-pos" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/circle-dropdown.png" alt="Zeta icon" /></a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="">Funding Account 1</a></li>
                            <li><a href="">Extra Special</a></li>
                            <li><a href="">Instant Sapphire</a></li>
                            <li><a href="">Savings Builder</a></li>
                            <li><a href="">Liquid Gold</a></li>
                            <li><a href="">Cashbuild</a></li>
                            <li><a href="">Diamond Reserve</a></li>
                        </ul>
                  </span>
                </h1>
              </div>
            </div>
            </div>
          </div>
        <!-- Banner End -->

        <div class="sub-container">
          <!-- Tabs -->
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="tabs-nav-container tabbable-panel">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                      <li class="active">
                                        <a href="#tab_default_1" data-toggle="tab">
                                          Funds Additions
                                        </a>
                                      </li>
                                      <li>
                                        <a href="#tab_default_2" data-toggle="tab">
                                          Account Statement
                                        </a>
                                      </li>
                                 </ul>
                              </div>
                          </div>
                    </div>
                  </div>
          <!-- Tabs End -->
          <div class="tab-content">
          <!-- First Tab -->
            <div class="tab-pane active" id="tab_default_1">
              <div class="row">
                  <div class="col-xs-12 col-md-12">
                      <div class="inner-sub-container page-sub-heading">

                        <!-- Table -->
                        <div class="row">
                          <div class="col-xs-12 col-md-12">
                              <table class="custom-table small-table">
                                  <thead>
                                    <tr>
                                        <th>MODE</th>
                                        <th>REF. NO</th>
                                        <th>Date</th>
                                        <th class="text-right">AMOUNT <span class="ruppee">₹</span></th>
                                        <th>STATUS</th>
                                        <th>Description</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                          <td>NEFT</td>
                                          <td>UTR19283743</td>
                                          <td>Today</td>
                                          <td class="text-right">300,435</td>
                                          <td class="status-green">Successful</td>
                                          <td width="30%">We will confrm & add funds within one working day of receiving money into Zeta’s Bank Account.</td>
                                      </tr>
                                      <tr>
                                            <td>NEFT</td>
                                            <td>26354</td>
                                            <td>Today</td>
                                            <td class="text-right">1,200</td>
                                            <td class="status-green">Successful</td>
                                            <td width="30%">We will confrm & add funds within one working day of receiving money into Zeta’s Bank Account.</td>
                                        </tr>
                                        <tr>
                                              <td>NEFT</td>
                                              <td>UTR19283743</td>
                                              <td>Today</td>
                                              <td class="text-right">20,000</td>
                                              <td class="status-red">Failed</td>
                                              <td width="30%"></td>
                                          </tr>
                                          <tr>
                                                <td>Cheque</td>
                                                <td>UTR19283743</td>
                                                <td>Today</td>
                                                <td class="text-right">40,000</td>
                                                <td class="status-green">Successful</td>
                                                <td width="30%"></td>
                                            </tr>
                                            <tr>
                                                  <td>Cheque</td>
                                                  <td>26354</td>
                                                  <td>23rd Oct, 2016</td>
                                                  <td class="text-right">20,000</td>
                                                  <td class="status-orange">Pending</td>
                                                  <td width="30%">Funds were transfered from a non-whitelisted bank account. We will get in touch soon.</td>
                                              </tr>
                                              <tr>
                                                    <td>Cheque</td>
                                                    <td>26354</td>
                                                    <td>11th Oct, 2016</td>
                                                    <td class="text-right">20,000</td>
                                                    <td class="status-red">Failed</td>
                                                    <td width="30%">No payment with the mentioned details was received in our bank account</td>
                                                </tr>
                                                <tr>
                                                      <td>Cheque</td>
                                                      <td>UTR19283743</td>
                                                      <td>11th Oct, 2016</td>
                                                      <td class="text-right">20,000</td>
                                                      <td class="status-green">Successful</td>
                                                      <td width="30%"></td>
                                                  </tr>
                                                  <tr>
                                                        <td>NEFT</td>
                                                        <td>26354</td>
                                                        <td>8th Aug, 2016</td>
                                                        <td class="text-right">20,000</td>
                                                        <td class="status-red">Failed</td>
                                                        <td width="30%"></td>
                                                    </tr>
                                  </tbody>
                              </table>
                            </div>
                        </div>
                        <!-- Table End -->
                        <!-- Pagination -->
                        <div class="row" align="center">
                          <div class="pagination-container">
                            <div class="col-xs-12 col-md-12">
                                <nav aria-label="...">
                                    <ul class="pager mg-bottom-zero">
                                        <li><a href="#"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/stroke-441.png" alt="Zeta icon" /></a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/stroke-441-right.png" alt="Zeta icon" /></a></li>
                                    </ul>
                                </nav>
                              </div>
                          </div>
                        </div>
                        <!-- Pagination End -->
                      </div>
                  </div>
              </div>
          </div>
          <!-- First Tab End -->
          <!-- Second Tab -->
            <div class="tab-pane" id="tab_default_2">
              <!-- Second Tab -->
                <div class="tab-pane active" id="tab_default_2">
                  <div class="row">
                      <div class="col-xs-12 col-md-12">
                          <div class="inner-sub-container page-sub-heading">
                            <!-- Filter -->
                                    <div class="row">
                                      <div class="filter-section">
                                        <div class="col-xs-6 col-md-6">
                                              <div class="form-group select-custom" align="left">
                                                    <select class="form-control width-md">
                                                        <option>Filter by: All Particulars</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                    </select>
                                              </div>
                                        </div>
                                          <div class="col-xs-6 col-md-6 pd-top-ten" align="right">
                                              <a class="download-linkBlock" href=""> <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/arrows-download-block.png" alt="Zeta Icon"><strong>Download as CSV</strong></a>
                                          </div>
                                      </div>
                                    </div>
                            <!-- Filter End -->
                            <!-- Table -->
                            <div class="row">
                              <div class="col-xs-12 col-md-12">
                                  <table class="custom-table">
                                      <thead>
                                        <tr>
                                            <th>PARTICULARS</th>
                                            <th>DATE</th>
                                            <th>STATUS</th>
                                            <th class="text-right">AMOUNT <span class="ruppee">₹</span></th>
                                            <th>BALANCE <span class="ruppee">₹</span></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                              <td>
                                                <div><strong>Add Funds</strong> <span class="opcity-half">via IMPS</span></div>
                                                <div class="opcity-half">  Ref No: <a class="anchor-line" href="#1">UTR1829384753</a></div>
                                              </td>
                                              <td>Today</td>
                                              <td>Credit</td>
                                              <td class="text-right">300,435</td>
                                              <td>3,67,985</td>
                                          </tr>
                                          <tr>
                                                <td>
                                                  <div><strong>Revoked</strong> <span class="opcity-half">from Meal Vouchers Card - SWPY</span></div>
                                                  <div class="opcity-half">  Beneficiary - <a class="anchor-line" href="#1">Vivek Ravin</a></div>
                                                </td>
                                                <td>Today</td>
                                                <td>Credit</td>
                                                <td class="text-right">1,200</td>
                                                <td>67,550</td>
                                            </tr>
                                            <tr>
                                                  <td>
                                                    <div><strong>Transfers</strong> <span class="opcity-half">of Meal Vouchers - SWPY</span></div>
                                                    <div class="opcity-half">  Transfer ID: <a class="anchor-line" href="#1">2641</a></div>
                                                  </td>
                                                  <td>Today</td>
                                                  <td>Credit</td>
                                                  <td class="text-right">20,000</td>
                                                  <td>67,550</td>
                                              </tr>
                                              <tr>
                                                    <td>
                                                      <div><strong>Closed</strong> <span class="opcity-half">Fuel Allowance Card - SWLG</span></div>
                                                      <div class="opcity-half">  Beneficiary - <a class="anchor-line" href="#1">Mustafa Quilon</a></div>
                                                    </td>
                                                    <td>Today</td>
                                                    <td>Credit</td>
                                                    <td class="text-right">40,000</td>
                                                    <td>66,350</td>
                                                </tr>
                                                <tr>
                                                      <td>
                                                        <div><strong>Add Funds</strong> <span class="opcity-half">via IMPS</span></div>
                                                        <div class="opcity-half"> Ref No: <a class="anchor-line" href="#1">UTR1829384753</a></div>
                                                      </td>
                                                      <td>23rd Oct, 2016</td>
                                                      <td>Credit</td>
                                                      <td class="text-right">20,000</td>
                                                      <td>65,000</td>
                                                  </tr>
                                                  <tr>
                                                        <td>
                                                          <div><strong>Discount</strong> <span class="opcity-half">for “reason entered by Support”</span></div>
                                                          <div class="opcity-half"> Ref: <a class="anchor-line" href="#1">ToDiscuss</a></div>
                                                        </td>
                                                        <td>11th Oct, 2016</td>
                                                        <td>Debit</td>
                                                        <td class="text-right">20,000</td>
                                                        <td>1,13,750</td>
                                                    </tr>
                                                    <tr>
                                                          <td>
                                                            <div><strong>Add Funds</strong> <span class="opcity-half">via IMPS</span></div>
                                                            <div class="opcity-half"> Ref No: <a class="anchor-line" href="#1">UTR1829384753</a></div>
                                                          </td>
                                                          <td>11th Oct, 2016</td>
                                                          <td>Credit</td>
                                                          <td class="text-right">20,000</td>
                                                          <td>67,550</td>
                                                      </tr>
                                                      <tr>
                                                            <td>
                                                              <div><strong>Add Funds</strong> <span class="opcity-half">via IMPS</span></div>
                                                              <div class="opcity-half"> Ref No: <a class="anchor-line" href="#1">UTR1829384753</a></div>
                                                            </td>
                                                            <td>11th Oct, 2016</td>
                                                            <td>Debit</td>
                                                            <td class="text-right">20,000</td>
                                                            <td>67,550</td>
                                                        </tr>
                                          </tbody>
                                  </table>
                                </div>
                            </div>
                            <!-- Table End -->
                            <!-- Pagination -->
                            <div class="row" align="center">
                              <div class="pagination-container">
                                <div class="col-xs-12 col-md-12">
                                    <nav aria-label="...">
                                        <ul class="pager mg-bottom-zero">
                                            <li><a href="#"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/stroke-441.png" alt="Zeta icon" /></a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/stroke-441-right.png" alt="Zeta icon" /></a></li>
                                        </ul>
                                    </nav>
                                  </div>
                              </div>
                            </div>
                            <!-- Pagination End -->
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Second Tab End -->
            </div>
          <!-- Second Tab End -->

       </div>
            <!-- <div class="row">
                <div class="col-xs-12 col-md-12">
                  <div class="page-sub-heading">
                      <p class="pd-top-fifty text-center">Looking for transactions before 1st Dec, 2016?</p>
                      <div class="text-center"><a class="default-link opacity-full font-size-12" href="#">Click here</a></div>
                  </div>
                </div>
            </div> -->
        </div>
      </div>
  <!-- Inner container End -->
  </div>
</div>
</div>
  <% include common/html-script %>
