<html>
<head>
    <title>Zeta Proforma Invoice</title>
    <link type="text/css" href="../../../../../scss/pages/invoice.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo inline">
            <img src="../../../../../images/kotak-white.svg" />
        </div>
        <div class="address inline">
            <b>Kotak Address:</b><br>
            Kotak​ ​Mahindra​ ​Bank​ ​Limited<br>
            Gr.Floor, SCO No.2, District centre,<br>
            Sec.16, Faridabad,<br>
            Haryana 121002
        </div>
        <div class="contact inline">
            <b>Kotak Bank PAN:</b> AAACK4409J<br />
            <b>Maharashtra GST No.:</b> 06AAACK4409J1ZO<br />
        </div>
    </div>
    <div class="content">
       
        <span class="title">PROFORMA INVOICE</span>

        <div class="body">
            <div class="to-address inline">
                <b><%=corporateCompanyName%></b><br />
                <%=corporateStreetAddress%> <br />
                <%=corporateCity%> <br />
                <%=corporateState%> - <%=corporatePinCode%> <br /><br />
                
                <b>State: </b><%=corporateState%><br />
                <b>GST No: </b><%=corporateCompanyGst%><br />
                <b>Place of Supply: </b><%=corporateState%><br /><br />
                <b>Contact:</b> <%=corporateContactPerson%><br />
            </div>
            <div class="order inline">
                <b>Proforma Invoice No:</b> <%=invoiceId%><br />
                <b>Proforma Invoice Date:</b> <%=invoiceCreationDate%><br /><br />

                <!-- <b>Order No:</b> <%=orderId%><br />
                <b>Order Date:</b> <%=creationDate%><br /><br /> -->
            </div>
        </div>
        <div class="order-table">
            <table class="table">
                <tr>
                    <th class="product">Product</th>
                    <th class="SAC">SAC</th>
                    <th class="quantity">Quantity</th>
                    <th class="amount" colspan="2">Amount</th>

                </tr>
                <!-- Type A Row: ProductsListing -->
                <tr class="type-a">
                    <td class="product">Zeta <%=orderTypeText%></td>
                    <td class="SAC"></td>
                    <td class="quantity"><%=numberOfBooklets%></td>
                    <td class="aggregate"></td>
                    <td class="amount"><%=(totalFaceValue)/100%></td>
                </tr>

                <!-- Type B Row: Subtotal/Round Off -->
                <tr class="type-b">
                    <td class="product"></td>
                    <td class="SAC"></td>
                    <td class="quantity"></td>
                    <td class="aggregate">Sub Total</td>
                    <td class="amount"><b> <%=(totalFaceValue)/100%> </b></td>
                </tr>
                
                <!-- Type B Row: Subtotal/Round Off -->
                <tr class="type-b">
                    <td class="product"></td>
                    <td class="SAC"></td>
                    <td class="quantity"></td>
                    <td class="aggregate">Discount</td>
                    <td class="amount"><b> - <%=(totalDiscount)/100%> </b></td>
                </tr>

                <!-- Type C Row: Tax/Surcharge -->
                <tr class="type-c">
                    <td class="product">Service Charges</td>
                    <td class="SAC"><%=zetaSac%></td>
                    <td class="quantity"></td>
                    <td class="aggregate"></td>
                    <td class="amount"><%=(serviceCharge)/100%></td>
                </tr>

                <% if((corporateState || "").toLowerCase() === "maharashtra") { %>
                <!-- Type C Row: Tax/Surcharge -->
                <tr class="type-c">
                    <td class="product">CGST @ 9% on Service Charges</td>
                    <td class="SAC"></td>
                    <td class="quantity"></td>
                    <td class="aggregate"></td>
                    <td class="amount"><%=(cGst)/100%></td>
                </tr>

                <!-- Type C Row: Tax/Surcharge -->
                <tr class="type-c">
                    <td class="product">SGST @ 9% on Service Charges</td>
                    <td class="SAC"></td>
                    <td class="quantity"></td>
                    <td class="aggregate"></td>
                    <td class="amount"><%=(sGst)/100%></td>
                </tr>
                <% } else { %>
                <!-- Type C Row: Tax/Surcharge -->
                <tr class="type-c">
                    <td class="product">IGST @ 18% on Service Charges</td>
                    <td class="SAC"></td>
                    <td class="quantity"></td>
                    <td class="aggregate"></td>
                    <td class="amount"><%=(iGst)/100%></td>
                </tr>
                <%} %>

                <!-- Type B Row: Subtotal/Round Off -->
                <tr class="type-b">
                    <td class="product"></td>
                    <td class="SAC"></td>
                    <td class="quantity"></td>
                    <td class="aggregate">
                        Round Off<br />
                        <!-- Total Amount<br /> -->
                        Available Balance
                    </td>
                    <td class="amount">
                        <%=(roundOffAmount)/100%><br />
                        <!-- <%=totalAmount%><br /> -->
                        <%=(currentBalance)/100%>
                    </td>
                </tr>

                <!-- Type D Row: Total -->
                <tr class="type-d">
                    <td class="quantity"></td>
                    <td class="SAC"></td>
                    <td class="quantity"></td>
                    <td class="aggregate"><b>TOTAL</b></td>
                    <td class="amount"><b><%=(totalCharges)/100%></b></td>
                </tr>

            </table>
        </div>
    </div>
    <br />

    <div class="footer">
        <div class="payment-methods">
            <div class="signature proforma"  style="top: initial !important;bottom:20px;">
                <img src="../../../../../images/kotakSignature.png" />
            </div>
        </div>
        <div class="subtext">
                This is a system generated proforma invoice.
        </div> 
    </div>
</div>
</body>
