<html>
<head>
    <title>Zeta Invoice</title>
    <link type="text/css" href="../../../../../../scss/pages/invoice.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo inline">
            <img src="../../../../../../images/zeta-logo-purple.svg" />
        </div>
        <div class="address inline">
            <b><%=zetaCompanyName%></b>
            <%-zetaAddress%>
        </div>
        <div class="contact inline">
            <b>Phone:</b><%=zetaPhoneNo%> <br />
            <b>Email:</b><%=zetaEmail%> <br />
            <b>CIN:</b><%=zetaCin%> <br />
            <b>GST No :</b> <%=zetaGstRegNo%>  <br />
            <b>PAN:</b> <%=zetaPan%>
        </div>
    </div>
    <div class="content">
        <span class="title">TAX INVOICE</span>
        <div class="body">
            <div class="to-address inline">
                <b><%=corporateCompanyName%></b><br />
                <%= corporateStreetAddress %><br/>
                <%=corporateCity%> <br />
                <%=corporateState%> - <%=corporatePinCode%> <br /><br />

                
                <b>State: </b><%=corporateState%><br/>
                <b>GST No:</b> <%=corporateCompanyGst%><br />
                <b>Place of Supply:</b><%=corporateState%><br /><br />

                <b>Contact:</b> <%=corporateContactPerson%>
            </div>
            <div class="order inline">
                <b>Invoice No:</b> <%=invoiceId%><br />
                <b>Invoice Date:</b> <%=invoiceCreationDate%><br /><br />

                <b>Order No:</b> <%=orderId%><br />
                <b>Order Date:</b> <%=creationDate%><br /><br />

                <!-- <b>Reference:</b> <%=reference%><br />
                <b>PO Number:</b> <%=poNumber%><br /> -->
            </div>
        </div>
        <div class="order-table">
            <table class="table">
                <tr>
                    <th class="product">Product</th>
                    <th class="SAC">SAC</th>
                    <th class="quantity">Quantity</th>
                    <th class="amount" colspan="2">Amount</th>

                </tr>
                <!-- Type A Row: ProductsListing -->
                <tr class="type-a">
                    <td class="product">Zeta <%=orderTypeText%></td>
                    <td class="SAC"></td>
                    <td class="quantity"><%=numberOfBooklets%></td>
                    <td class="aggregate"></td>
                    <td class="amount"><%= (totalFaceValue)/100 %></td>
                </tr>

                <!-- Type B Row: Subtotal/Round Off -->
                <tr class="type-b">
                    <td class="product"></td>
                    <td class="SAC"></td>
                    <td class="quantity"></td>
                    <td class="aggregate">Sub Total</td>
                    <td class="amount"><b> <%=(totalFaceValue)/100%> </b></td>
                </tr>
                <!-- Type B Row: Subtotal/Round Off -->
                <tr class="type-b">
                    <td class="product"></td>
                    <td class="SAC"></td>
                    <td class="quantity"></td>
                   
                </tr>

                <tr class="type-c">
                    <td class="product">Service Charges</td>
                    <td class="SAC"><%=zetaSac%></td>
                    <td class="quantity"></td>
                    <td class="aggregate"></td>
                    <td class="amount"><%=serviceCharge%></td>
                </tr>

                <% if((corporateState || "").toLowerCase() === "maharashtra") { %>
                <!-- Type C Row: Tax/Surcharge -->
                <tr class="type-c">
                    <td class="product">CGST @ 9% on Service Charges</td>
                    <td class="SAC"></td>
                    <td class="quantity"></td>
                    <td class="aggregate"></td>
                    <td class="amount"><%=(cGst)/100%></td>
                </tr>

                <!-- Type C Row: Tax/Surcharge -->
                <tr class="type-c">
                    <td class="product">SGST @ 9% on Service Charges</td>
                    <td class="SAC"></td>
                    <td class="quantity"></td>
                    <td class="aggregate"></td>
                    <td class="amount"><%=(sGst)/100%></td>
                </tr>
                <% } else { %>
                <!-- Type C Row: Tax/Surcharge -->
                <tr class="type-c">
                    <td class="product">IGST @ 18% on Service Charges</td>
                    <td class="SAC"></td>
                    <td class="quantity"></td>
                    <td class="aggregate"></td>
                    <td class="amount"><%=(iGst)/100%></td>
                </tr>
                <%} %>


                <!-- Type B Row: Subtotal/Round Off -->
                <tr class="type-b">
                    <td class="product"></td>
                    <td class="SAC"></td>
                    <td class="quantity"></td>
                    <td class="aggregate">
                            Round Off<br />
                            <!-- Total Amount<br /> -->
                    </td>
                    <td class="amount">
                            <%=(roundOffAmount)/100%><br />
                            <!-- <%=totalAmount%><br /> -->
                    </td>
                </tr>

                <!-- Type D Row: Total -->
                <tr>
                    <td class="product"></td>
                    <td class="SAC"></td>
                    <td class="quantity"></td>
                    <td class="aggregate"><b>TOTAL</b></td>
                    <td class="amount"><b><%=(totalAmount)/100%></b></td>
                </tr>

            </table>
        </div>
    </div>
    <br />

    <div class="footer">

        <div class="payment-methods">
             <!-- PROFORMA INVOICE -->

            <div class="signature" style="top: -200px !important;">
                <img src="../../../../../../images/signature2.png" />
            </div>
            <!--div class="signatory"></div-->
        </div>

        <div class="subtext">
                This is a system generated invoice. This payment does not entail any TDS since the value only indicates the face value of the electronic gift vouchers which are not "goods or services" but exchangeable prepaid payment instruments. There is no other charge/ service fee levied on provision of these instruments.
        </div>

    </div>
</div>
</body>

