<% include ../common/html-head %>

<body>
<div class="wrapper report-center-wrapper">
    <% include ../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container">
                <% include report-centre-banner %>

                <div class="col-xs-12 col-md-12 program">
                    <div class="tabs-nav-container tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#newReport" id="New-Report" data-toggle="tab" onclick="return false;">
                                        New Report
                                    </a>
                                </li>
                                <% if(showGeneratedReports){ %>
                                <li class="">
                                    <a href="#listReport" id="Generated-Reports" data-tab="listReport"
                                       class="generatedReportTab" data-toggle="tab">
                                        Generated Reports
                                    </a>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="sub-container">
                    <% if (status == "success"){ %>
                    <div class="row">

                        <div class="col-xs-12 col-md-12">

                            <div class="page-sub-heading no-padding">
                                <!-- Filter -->
                                <div class="">
                                    <div class="tab-content">
                                        <div class="filter-section tab-pane active generate-wrapper" id="newReport">
                                            <div class="row">
                                                <div class="col-xs-3 col-md-3 <% if(dashboardReports.length <= 1 ){ %> hidden <% } %> " </div>
                                                    <div id="verticalNavbar">
                                                        <div class="report-heading">
                                                            Categories
                                                        </div>
                                                        <ul class="vertical-menubar">
                                                            <% for (var i = 0; i < dashboardReports.length; i++) { %>
                                                            <li class="<% if(i == 0){ %> active <% } %>"
                                                                data-active="vTab<%- i %>">
                                                                <a href="#vTab<%- i %>">
                                                                    <%- respData[dashboardReports[i]].sectionDisplayName %>
                                                                </a>
                                                            </li>
                                                            <% } %>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="<% if(dashboardReports.length <= 1){ %> col-sm-12 <% }else { %> col-sm-9 <% } %>">
                                                    <div class="row inner-sub-container clearfix report-card-wrapper">
                                                        <% if(dashboardReports.length == 0) { %>
                                                            <h3>No Reports Available</h3>    
                                                        <% } %>
                                                            
                                                        <% for (var i = 0; i < dashboardReports.length; i++) { %>
                                                        <div class="report-heading sectionHeading" id="vTab<%- i %>">
                                                            <% if(respData[dashboardReports[i]].sectionDisplayName === 'Express Reports') { %>
                                                                Closed loop Cafeteria Reports
                                                            <% } else { %> 
                                                                <%- respData[dashboardReports[i]].sectionDisplayName %>
                                                            <% } %>
                                                        </div>
                                                        <% if (respData[dashboardReports[i]].sectionDisplayName.toLowerCase() == 'year end recon report for registered users') { %>
                                                        <% } %>
                                                        <% if (respData[dashboardReports[i]].sectionDisplayName.toLowerCase() == 'year end recon report for unregistered users') { %>
                                                        <% } %>
                                                        
                                                        <div class="row report-card-holder">
                                                                <% for (var j = 0; j < respData[dashboardReports[i]].reports.length; j++) { %>
                                                                    
                                                                <div class="col-sm-4 ">
                                                                <div class="report-card">
                                                                    <input type="hidden" class="reportName"
                                                                           value="<%- respData[dashboardReports[i]].reports[j].reportDisplayName %>">
                                                                    <div class="ellipsis-for-active-cards">
                                                                        <div class="ellipsis report-title">
                                                                            <div class="inner">
                                                                                    <span>
                                                                                      <%- respData[dashboardReports[i]].reports[j].reportDisplayName %>
                                                                                    </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <p class="about-report overlay-text">
                                                                        <%- respData[dashboardReports[i]].reports[j].description %>
                                                                    </p>
                                                                    <ul class="report-sample">
                                                                        <li class="generate-report">
                                                                          <span>
                                                                            <a href="#" class="reportModal" id="<%-
                                                                                respData[dashboardReports[i]].reports[j].reportID
                                                                            %>"
                                                                               data-report-name="<%- respData[dashboardReports[i]].reports[j].reportDisplayName %>">
                                                                              Generate Report
                                                                            </a>
                                                                          </span>
                                                                        </li>
                                                                        <% if( respData[dashboardReports[i]].reports[j].sampleReportURL) { %>
                                                                        <li class="sample">
                                                                            <a href="<%-
                                                                                respData[dashboardReports[i]]
                                                                                        .reports[j].sampleReportURL %>"
                                                                               download target="_blank">
                                                                                <span>Sample</span>
                                                                            </a>
                                                                        </li>
                                                                        <% } %>
                                                                    </ul>

                                                                </div>

                                                            </div>

                                                            <% } %>
                                                            <% if(i !== dashboardReports.length - 1) { %>
                                                            <div class="clearfix seperator"></div>
                                                            <% } %>
                                                        </div>

                                                        <!-- </div> -->
                                                        <% } %>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="filter-section tab-pane listreport-wrapper" id="listReport">
                                            <div class="inner-sub-container page-sub-heading">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label>Filter by Status</label>
                                                        <div class="form-group select-custom">
                                                            <select class="form-control width-xs"
                                                                    id="filterReportOnState">
                                                                <option value="ALL">All</option>
                                                                <option value="AVAILABLE">Generated</option>
                                                                <option value="TRIGGERED">Processing</option>
                                                                <option value="FAILED">Failed</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="listReportTable">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } else { %>
                    <div class="row">
                        <!-- Inner container -->
                        <div class='error-msg-wrpr-inside-page'>
                            <img src="/images/table-error-state.png" alt="error">
                            <div class='error-msg'>
                                <%- message %>
                                <a class="link" href="mailto:<%- mail %>">
                                    <%- mail %>
                                </a>
                            </div>
                            <a href="">Reload</a>
                        </div>
                        <!-- Inner container End -->
                    </div>
                    <% } %>
                    <!-- last login  -->
                    <% include ../common/time-footer %>
                </div>
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<!-- Modal Download Report -->
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeModalBtn" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center loading-image">
                        <img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif"
                             alt="Zeta icon"/>
                    </div>
                    <div class="text-center success-icon pd-top-btm-fifteen">
                        <img width="32"
                             src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png"
                             alt="Zeta icon"/>
                    </div>
                    <div class="text-center inprocess-icon pd-top-btm-fifteen">
                        <img width="32" src="../../images/circle-clock.svg" alt="Zeta icon"/>
                    </div>
                    <div class="text-center triggered-icon pd-top-btm-fifteen">
                        <img width="32" src="https://card-program-files.s3.amazonaws.com/triggered-status.svg" alt="Zeta icon"/>
                    </div>
                    <div class="text-center error-icon pd-top-btm-fifteen">
                        <img width="32"
                             src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png"
                             alt="Zeta icon"/>
                    </div>
                    <h4 class="text-center pd-bottom-zero pd-top-zero" id="reportModalHeading"></h4>
                    <div class="text-center" id="loadingReportText"></div>
                    <div class="modalbox-form-section">
                        <form class="pd-top-twenty">
                            <div class="form-group date-picker date-picker--width">
                                <label class="date-picker__label">Start Date</label>
                                <div class="input-group">
                                    <input readonly='true' type="text"
                                           class="form-control datepicker-img date-picker__input--width date-picker__input--bg-color"
                                           id="start_date">
                                </div>
                            </div>
                            <div class="form-group date-picker date-picker--width date-picker--margin">
                                <label class="date-picker__label">End Date</label>
                                <div class="input-group">
                                    <input readonly='true' type="text"
                                           class="form-control datepicker-img date-picker__input--width date-picker__input--bg-color"
                                           id="end_date">
                                </div>
                            </div>
                            <div class="form-group" id="fundingAccount">
                                <label for="recipient-name" class="control-label">Select Funding Account</label>
                                <div class="form-group select-custom" align="right">
                                    <input type="hidden" value="" id="reportId">
                                    <select id='fundingAccountId'
                                            class="form-control width-xs input-lg select__input--bg-color">
                                        <option value='0'>Select</option>
                                        <% for(var currIndex = 0; currIndex < fundingAccounts.length; currIndex++) { %>
                                        <option value=<%- fundingAccounts[currIndex].accountID %>>
                                            <%- fundingAccounts[currIndex].name %>
                                        </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="programs">
                                <label for="recipient-name" class="control-label">Card Program</label>
                                <div class="form-group select-custom" align="right">
                                    <select id='programId'
                                            class="form-control width-xs input-lg select__input--bg-color">
                                        <option value='0'> - Select a card program -</option>

                                        <% for(var currIndex = 0; currIndex < programs.length; currIndex++) { %>
                                        <% if(programs[currIndex].cardProgramObject.productType !== 'Gift'
                                                && programs[currIndex].cardProgramObject.productType !== 'cashless_cafeteria'
                                                && programs[currIndex].cardProgramObject.productType !== 'Cash'
                                                && programs[currIndex].cardProgramObject.productType !== 'gift'
                                                && programs[currIndex].cardProgramObject.productType !== 'shift') { %>
                                        <option value='<%- programs[currIndex].programID %>'
                                                data-year="<%- programs[currIndex].cardProgramObject.issuanceConfiguration %>">
                                            <%- programs[currIndex].cardProgramObject.cardName %>
                                        </option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                    <select id='programIdMultiple'
                                            class="form-control width-xs input-lg select__input--bg-color" multiple>

                                        <% for(var currIndex = 0; currIndex < programs.length; currIndex++) { %>
                                        <% if(programs[currIndex].cardProgramObject.productType !== 'Gift'
                                                && programs[currIndex].cardProgramObject.productType !== 'cashless_cafeteria'
                                                && programs[currIndex].cardProgramObject.productType !== 'Cash'
                                                && programs[currIndex].cardProgramObject.productType !== 'gift'
                                                && programs[currIndex].cardProgramObject.productType !== 'shift') { %>
                                        <option value='<%- programs[currIndex].programID %>'
                                                data-year="<%- programs[currIndex].cardProgramObject.issuanceConfiguration %>">
                                            <%- programs[currIndex].cardProgramObject.cardName %>
                                        </option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" id="producttype">
                                <label for="recipient-name" class="control-label">Program Types</label>
                                <div class="form-group select-custom" align="right">
                                    <select id='productTypeId'
                                            class="form-control width-xs input-lg select__input--bg-color">
                                        <option value='0'> - Select a card program -</option>
                                        <% for(var currIndex = 0; currIndex < xprogramtype.length; currIndex++)  { %>
                                        <% if(xprogramtype[currIndex] !== 'gift'
                                                && xprogramtype[currIndex] !== 'cashless_cafeteria'
                                                && xprogramtype[currIndex] !== 'cash'
                                        ){ %>

                                        <option value="<%- xprogramtype[currIndex] %>">
                                            <%- xprogramtype[currIndex] %>
                                        </option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" id="companies">
                                <label for="recipient-name" class="control-label">Companies</label>
                                <div class="form-group select-custom multiselect" align="right">
                                    <input type="hidden" id="pTypes" value='<%- JSON.stringify(productTypes) %>'/>
                                    <input type="hidden" id="rData" value='<%- JSON.stringify(resp) %>'/>
                                    <select id='companiesId' disabled multiple="multiple"
                                            class="form-control width-xs input-lg select__input--bg-color">


                                    </select>
                                </div>
                            </div>

                            <div class="form-group" id="onlyCompanyId">
                                <label for="recipient-name" class="control-label">Select Company</label>
                                <div class="form-group select-custom" align="right">
                                    <select id='onlyCompanyIds'
                                            class="form-control width-xs input-lg select__input--bg-color">
                                        <% if(onlyCompany.length > 1) { %>
                                            <option value='0'>Select</option>
                                        <% } %>
                                        <% for(var currIndex = 0; currIndex < onlyCompany.length; currIndex++) { %>
                                        <option value=<%- onlyCompany[currIndex].company.companyID %>>
                                            <%- onlyCompany[currIndex].company.companyName %>
                                        </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button disabled class="btn btn-default btn-disabled" type="button" id="generateReport">GENERATE
                            REPORT
                        </button>
                        <button class="btn btn-default" type="button" id="tryAgainBtn">TRY AGAIN LATER</button>
                        <a class="btn btn-default generatedReportTab" data-dismiss="modal" id="downloadReport"
                         data-tab="listReport">GO TO GENERATED REPORTS SECTION</a>
                        <a class="btn btn-default generatedReportTab" data-dismiss="modal" id="inProcessReport" data-tab="listReport"
                           >CHECK REPORT STATUS</a>
                    </div>
                    <div id="reportNote">
                        <br>Note : The report will be generated corresponding to the chosen company.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Create Program End -->
<link type="text/css" href="../scss/pages/jquery.multiselect.css" rel="stylesheet"/>
<% include ../common/html-script %>
<!-- <script type='text/javascript' async src='/lib/jquery.multiselect.js'></script> -->

<script src="/dist/scripts/reportCentre.js"></script>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover();
    });

</script>

</body>

</html>
