<!-- Banner -->
  <div class="banner-section gradient-blue">
      <div class="row row-to-table">
          <div class="col-xs-12 col-md-12 float-to-column">
              <div class="page-heading">
                  <h1>Report Centre</h1>
              </div>
                <p class="mg-bottom-zero">
                    <span class="document-quote-text opacity-point-seven">Report center enables corporates to view and download reports,<br/> deduce patterns and plan effectively.</span>
                </p>
          </div>
          <div class="col-xs-5 col-md-5 float-to-column" align="right">
              <!-- <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/page-1.png" alt="Zeta Infograph" /> -->
          </div>
      </div>
  </div>
<!-- Banner End -->
