<% include ../common/html-head %>

<body>
<div class="wrapper report-center-wrapper">
    <% include ../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container report-details">
                <div class="banner-section banner-background">
                    <div>
                        <div class="row">
                            <div class="col-xs-9 col-md-9">
                                <ul class="breadcrumb pd-tb-zero">
                                    <li><a href="<%- generatedReportUrl %>">Generated Reports</a></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="col-xs-3 col-xs-3">
                                <div class="nav-justified">
                                    <ul class="nav nav-pills navbar-right">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="page-heading">
                                    <div class='transfer-period-select-cntr clearfix'>
                                        <h1 id="reportName"><%- reportName %></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-12 program" id="reportFilters">
                    <div class="tabs-nav-container tabbable-panel">
                        <div class="tabbable-line">
                            <ul>
                                <li>
                                    <div>Report Parameters:</div>
                                </li>
                                <li>
                                    <% if(startDate) { %>
                                    <div class="overlay-text label-text">Date Range</div>
                                    <div id="dateRange">From <%- startDate %> To <%- endDate %> </div>
                                    <% } else if(reportId == 'ESCROW_BALANCES_PROGRAM_LEVEL' || reportId == 'ESCROW_BALANCES_BENEFICIARY_WISE') { %>
                                        As of <%- generationTime %>
                                    <% } else { %>
                                        -
                                    <% } %>
                                </li>
                                <% if(productTypes.length > 0) { %>
                                <li>
                                    <div class="overlay-text label-text">Card Program</div>
                                    <% if(productTypes.length === 1) { %>
                                    <div class="dropdown custom-dropdown">
                                        <div><%- productTypes[0] %></div>
                                    </div>
                                    <% } else { %>

                                    <div class="dropdown custom-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                           id="cardProgramFilter">
                                            <%- productTypes.length %> programs selected
                                        </a>
                                        <ul class="dropdown-menu">
                                            <% for(let i = 0;i < productTypes.length;i++) { %>
                                            <li><%- productTypes[i] %></li>
                                            <% } %>
                                        </ul>
                                    </div>
                                    <% } %>
                                </li>
                                <% } %>
                                <% if(rep_companies.length > 0) { %>
                                <li>
                                    <div class="overlay-text label-text">Company</div>
                                    <% if(rep_companies.length === 1) { %>
                                    <div><%- rep_companies[0] %></div>
                                    <% } else { %>
                                    <div class="dropdown custom-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="companyFilter">
                                            <%- rep_companies.length %> Companies selected
                                        </a>
                                        <ul class="dropdown-menu">
                                            <% for(let i = 0;i < rep_companies.length;i++) { %>
                                            <li><%- rep_companies[i] %></li>
                                            <% } %>
                                        </ul>
                                    </div>
                                    <% } %>
                                </li>
                                <% } %>
                                <% if(fundingAccs.length > 0) { %>
                                <li>
                                    <div class="overlay-text label-text">Funding Account</div>
                                    <% if(fundingAccs.length === 1) { %>
                                    <div><%- fundingAccs[0] %></div>
                                    <% } else { %>
                                    <div class="dropdown custom-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="companyFilter">
                                            <%- fundingAccs.length %> Funding accounts selected
                                        </a>
                                        <ul class="dropdown-menu">
                                            <% for(let i = 0;i < fundingAccs.length;i++) { %>
                                            <li><%- fundingAccs[i] %></li>
                                            <% } %>
                                        </ul>
                                    </div>
                                    <% } %>
                                </li>
                                <% } %>
                                <% if(programIds.length > 0) { %>
                                    <li>
                                        <div class="overlay-text label-text">Card Programs</div>
                                        <div class="dropdown custom-dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="companyFilter">
                                                <%- programIds.length %> Card programs selected
                                            </a>
                                            <ul class="dropdown-menu">
                                                <% for(let j = 0; j < programIds.length; j++) { %>
                                                    <% for(key in programsData) { %>
                                                        <% if(programsData[key].programID == programIds[j]) { %>
                                                            <li><%- programsData[key].cardDesign.cardName || '--' %></li>
                                                        <% } %>
                                                    <% } %>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="sub-container">
                    <div class="row">

                        <div class="col-xs-12 col-md-12">

                            <div class="page-sub-heading no-padding">
                                <!-- Filter -->
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">

                                        <div class="filter-section tab-pane" id="listReport">
                                            <div class="inner-sub-container page-sub-heading employees-wrpr">
                                                <div class="filter-section tab-pane active report-details-wrapper">
                                                    <div class="report-table-container">
                                                        <div class="report-table-header">
                                                            <h3 id="reportTitle">Itemised Report</h3>
                                                            <div class="dropdown download-btn">
                                                                <button class="dropdown-toggle"
                                                                        type="button" data-toggle="dropdown">
                                                                    <a href="javascript:void(0)"
                                                                       class="tooltip-title tooltip-cursor-pointer">
                                                                        Export
                                                                        <span class="tooltip-view">
                                                                          <div class="tooltip-lrtb-pd">
                                                                              <div class="row">
                                                                                <div class="col-xs-12 col-md-12">
                                                                                    The report will be exported based on filters applied
                                                                                </div>
                                                                              </div>
                                                                          </div>
                                                                        </span>
                                                                    </a>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="javascript:void(0)"
                                                                           class="reportDownloadType"
                                                                           data-report-type="csv">CSV</a></li>
                                                                    <!-- <li><a href="javascript:void(0)"
                                                                           class="reportDownloadType"
                                                                           data-report-type="xls">EXCEL</a></li> -->
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <table class="loader-table">
                                                            <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>

                                                            </tbody>
                                                        </table>
                                                        <table id="example" class=report-details"
                                                               data-reportUrl="<%- url %>">
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../common/html-script %>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.foundation.min.js" defer></script>
<script src="/dist/scripts/reportDetails.js"></script>

</body>

</html>
