<% if ( activeCards.programs[currIndex].cardProgramObject.productType.toLowerCase() === "cashless_cafeteria" ) { %>
<div class="spotlight-card active-programs col-md-3 col-lg-3 col-xs-3 col-sm-3">
    <a href="/companies/<%- activeCards.programs[currIndex].companyID %>/cashless/<%- activeCards.programs[currIndex].programID %>" class="common-link">
        <div class="thumbnail cards-container mg-bottom-zero cards-height">
            <div class="card-image-part" align="center">
                <% if(activeCards.programs[currIndex].cardProgramObject.cardDesign.bg) { %>
                    <img src="<%- activeCards.programs[currIndex].cardProgramObject.cardDesign.bg %>" class="img-padding-10" alt="Zeta image" />
                <% } else { %>
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/instagift-card.svg" class="img-padding-10" alt="Zeta image">
                <% } %>
            </div>
            <div class="caption card-text-part">
                <h3>
                    <%- activeCards.programs[currIndex].cardProgramObject.cardName %>
                </h3>
                
                <p>No. of Beneficiaries :
                    <%- activeCards.programs[currIndex].numberOfEmployees || 0 %>
                </p>
                <p>Currency Type :
                    <%- activeCards.programs[currIndex].fundingAccountDetails.currency %>
                </p>
                
                <!--<div class="ellipsis-for-active-cards">  
                
                </div>-->

            </div>
        </div>
    </a>
</div>
<% } %>
