
<div class="top-section banner-background">

    <div>
        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-xs-9 col-md-9">
                <ul class="breadcrumb pd-tb-zero">
                    <li><a href="/companies/<%- companyID %>/cashless">Zeta Cashless Cafeteria</a></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-xs-3 col-xs-3">
                <div class="nav-justified">
                    <ul class="nav nav-pills navbar-right">
                       <!-- <li><a class="text-uppercase pd-tb-zero" href="#"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/gear.png"
                                                                                alt="Zeta Setting Icon"/>
                            Edit Program Details</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
        <!-- Popover -->
        <!-- <div class="row">
            <div class="col-xs-12 col-md-12 text-right">
            <div class="popover-content">
                <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                </span>
            </div>
            </div>
        </div> -->
        <!-- Popover End -->
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="page-heading">
                    <h1 class="pd-top-five"><%- cardProgramObject.cardName %></h1>
                    <div class="x-medium-button pull-right">
                        <a href="/companies/<%- companyID %>/cashless/<%- programID %>/new-transfer">
                            <% if(!compareDates) { %>
                                <% if(cardProgramObject.cardName != "Campus Card"){ %>
                                    <button class="btn btn-default" type="button">New
                                        Transfer Order
                                    </button>
                                <% } %>
                            <% } %>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Banner End -->