 <!-- Banner -->
  <div class="banner-section">
      <div class="row row-to-table">
          <div class="col-xs-12 col-md-12 float-to-column">
              <div class="page-heading">
                  <h1>Zeta Cashless Cafeteria</h1>
              </div>
                <p class="mg-bottom-zero">
                    <span class="document-quote-text">Transform your cafeteria and go completely digital with our Cashless Cafeteria program. Gain qualitative and quantitative insights about your cafeteria while making your processes more transparent and efficient.</span>
                </p>
          </div>
      </div>
  </div>
<!-- Banner End -->
