<% include ../../common/html-head %>

<body>
<div class="wrapper">
    <% include ../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../common/sidebar %>
            <!-- Inner container -->
                <div class="inner-container">
                    <% include ../../section/cashless/home-banner %>
                    <div class="top-section">
                        <div class="row">
                        <!-- Page Heading and List -->
                          <div class="col-xs-12 col-md-12">
                              <!--<div class="col-xs-12 col-md-12">
                                <div class="row">
                                    <div class="tabs-nav-container tabbable-panel panel-tpd-zero">
                                        <div class="tabbable-line">
                                            <ul class="nav nav-tabs ">
                                                <li class="active">
                                                    <a href="#tab_default_1" data-toggle="tab" aria-expanded="true">
                                                        Active Programs
                                                    </a>
                                                </li>
                                            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                              </div>-->
                              <!-- <div class="col-xs-3 col-md-3 filter-divider--margin-top" align="right">
                                    <div class="filter-divider-table">
                                            <div class="filter-divider-left">
                                                    <div class="form-group select-custom">
                                                        <select id="statusType" class="form-control width-xs">
                                                            <option value="">Filter by All Programs</option>
                                                            <% for(var currIndex = 0; currIndex < productTypeFilter.length; currIndex++) { %>
                                                            <option value="<%- productTypeFilter[currIndex] %>"><%- productTypeFilter[currIndex] %></option>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                            </div>
                                    </div>
                              </div> -->
                              <!-- Cards -->
                            <div class="tab-content">
                                <div id="tab_default_1" class="tab-pane active">
                                    <% if(activeCards.programs && activeCards.programs.length > 0) { %>
                                        <div class="cards-row">
                                            <% for(var currIndex=0; currIndex< activeCards.programs.length; currIndex++) {%>
                                                <% include ../../section/cashless/active-programs %>
                                            <% } %>
                                        </div>
                                        <div class="clearfix"></div>
                                    <% } %>
                           
                                </div>
                                <div id="tab_default_2" class="tab-pane">
                                    <% if(closedCards && closedCards.length > 0) { %>
                                        <div class="cards-row">
                                            <% for(var currIndex=0; currIndex< closedCards.length; currIndex++) { %>
                                                <% include ../../section/benefits/closed-cards %>
                                            <% } %>
                                        </div>
                                        <div class="clearfix"></div>
                                    <% } %>
                                </div>
                                   <!-- Cards End -->
                                    <% if(recommondedCardPrograms.length > 0) { %>
                                      
                                        <div class="row">
                                            <div class="col-xs-7 col-md-7">
                                            <div class="page-sub-heading">
                                                <h2>Set-up</h2>
                                                
                                            </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="heading-button-container">
                                            <!-- <div class="col-xs-4 col-md-4">
                                                  <div class="large-button" align="right">
                                                      <button class="btn btn-secondary text-uppercase" type="button" name="" value="" id=""> <strong>&#43;</strong> Create a Custom Program</button>
                                                  </div>
                                                </div> -->
                                            <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <% include ../../section/benefits/cashless-card %>
                                    <% } %>
                            </div>
                          </div>
          <!-- Page Heading and List End -->
                      </div>
                    </div>
                </div>
          <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<!-- Modal Create Program -->
<div class="modal fade" id="setupProgramModal" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                <h4 class="text-center pd-bottom-zero pd-top-zero">Setup your <span id='programType'></span> program</h4>
                <div class="modalbox-form-section">
                    <form class="pd-top-twenty" id="programCreate">
                       
                         <div class="form-group">
                            <label for="recipient-name" class="control-label">Choose the type of currency</label>
                        </div>
                         <div class="form-group radio-button-container">
                            <label class="radio-inline"><input id="inlineRadio1" name="currency" type="radio" value="INR" checked> <span>( &#8377; ) INR</span></label>
                            <label class="radio-inline"><input id="inlineRadio1" name="currency" type="radio" value="ZToken" > <span> ⓩ Token</span></label>
                        </div>
                       
                        <div class="form-group">
                            <label for="programName" class="control-label">Program Name</label>
                            <div class="form-group select-custom" align="right">
                                <input id='programName' maxlength="40" type='text' class="form-control width-xs" placeholder="New Cashless Cafeteria Program"/>
                            </div>
                        </div>
                </form>
                </div>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default btn-disabled" type="button" id="createProgram">CREATE PROGRAM</button>
                    </div>
                    <div class="declaration">
                        Note: To allow/disallow specific merchants and for other customizations, please contact your account manager or send an email to support@zeta.in
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Create Program End -->

<!-- Modal Loader  -->
<div class="modal fade" id="createProgramLoader" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                <h4 class="text-center pd-bottom-zero">Setting Program. Please wait...</h4>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Loader End  -->

<!-- Modal Box Transfer Initiated success -->
<div class="modal fade" id="createProgramSuccess" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" id="close_Me" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/success-icon.svg" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Program Setup Successfully</h4>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <a id="viewProgramBtnSuccess" href='/companies/<%- companyID %>/cashless'>
                            <button class="btn btn-default" type="button">View Program</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Box Transfer Initiated success End -->

<!-- Modal Oops Transfer  -->
<div class="modal fade" id="createProgramError" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                <h4 class="text-center pd-bottom-zero">Oops. We could not setup program</h4>
                <div class="modal-heading-pdtb" align="center">
                        <div class="heading-sub-text"></div>
                </div>
                  </div>
                  <div class="modal-footer">
                      <div class="flexible-button">
                          <button class="btn btn-default" type="button" data-dismiss="modal">OK</button>
                      </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Oops Transfer End  -->

<!-- Modal Schedule Year -->
<div class="modal fade" id="myModalScheduleYear" role="dialog" tabindex="-1">
    <div class="modal-dialog custom-modalbox custom-modalbox--width" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <h4 class="text-center pd-bottom-zero pd-lrt-zero">Schedule year end closure for financial year 2016-17</h4>
                    <div align="center">
                        <div class="heading-sub-text heading-sub-text--size">
                           Year end closure closes active reimbursement programs for the current financial year - including claims and balances against them. Fresh cards are issued for new financial year.
                          <!--  <br><br> -->
                           You will get details of all credits, debits & claims in a consolidated report per beneficiary.
                        </div>
                    </div>
                    <div class="modalbox-form-section">
                        <form>
                            <div class="form-group date-picker modalbox-form-section--width">
                                <label class="control-label modalbox-form-section__text--size" for="recipient-name">Select the date on which you want the final report for tax filing</label>
                                <div class="input-group">
                                <input class="form-control modalbox-form-section__input--height datepicker-img" id="closureDate" type="text">
                                <% if(allCardsSchedule.length) { %>
                                  <% for(var currIndex=0; currIndex< allCardsSchedule.length; currIndex++) { %>
                                  <input type="hidden" id="card-program-id-<%- currIndex%>" data-card-program-id-<%- currIndex%>="<%- allCardsSchedule[currIndex].programID %>">
                                  <input type="hidden" id="card-program-object-<%- currIndex%>" data-card-program-<%- currIndex%>="<%- allCardsSchedule[currIndex].cardProgramObject.compareProductTypeToPrograms %>">
                                  <input type="hidden" id="card-programs-length" data-card-programs-length="<%- allCardsSchedule.length %>">
                                  <% } %>
                                <% } %>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="yearEndClosuretable">
                      <div class="row">
                          <div class="col-xs-12 col-md-12">
                              <div class="inner-sub-container page-sub-heading">
                                  <!-- Table -->
                                  <div class="row">
                                      <div class="col-xs-12 col-md-12">

                                          <table class="custom-table custom-table-margin custom-table__header">
                                                <tbody class="loading-content tableLoader" style="display: none;">
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>

                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>

                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>


                                                </tbody>
                                            </table>


                                      </div>
                                  </div>
                                  <!-- Table End -->
                              </div>
                          </div>
                      </div>
                    </div>
                     <div class="modal-note-text">Note: After closure, the remaining balance in beneficiary’s card should be moved to the program’s corresponding Funding Account.</div>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default btn-disabled" data-target="#myModalScheduleYearSuccessful" disabled id="scheduleYear" data-toggle="modal" name="" type="button"
                                value="">SCHEDULE YEAR END CLOSURE
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Modal Schedule Year End -->
<!-- Modal Schedule Year Successful -->
<div class="modal fade" id="myModalScheduleYearSuccessful" role="dialog" tabindex="-1">
    <div class="modal-dialog custom-modalbox custom-modalbox--width" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div align="center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/success-icon.svg"></div>
                    <h4 class="text-center pd-bottom-zero pd-lrt-zero">Year end closure scheduled successfully</h4>
                    <div>
                        <div class="heading-sub-text--size">
                        <br>
                           Please note the following important dates for your reference:
                        </div>
                    </div>
                    <div class="yearEndClosuretable">
                      <div class="row">
                          <div class="col-xs-12 col-md-12">
                              <div class="inner-sub-container page-sub-heading">
                                  <!-- Table -->
                                  <div class="row">
                                      <div class="col-xs-12 col-md-12">

                                          <table class="custom-table custom-table-margin custom-table__header custom-table__header--margin">
                                                <tbody class="loading-content tableLoader" style="display: none;">
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>

                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>

                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>


                                                </tbody>
                                            </table>


                                      </div>
                                  </div>
                                  <!-- Table End -->
                              </div>
                          </div>
                      </div>
                    </div>
                    <div align="center" class="modal-body__note">And to make your work easier, we have automatically created programs for the next financial year with the same configuration settings.</div>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default" name="" type="button" id="scheduleYearDone" value="">DONE
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Modal Schedule Year Successful End -->



<% include ../../common/html-script %>


<script src="/dist/scripts/cashless.js"></script>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>

</html>
