<% include ../../common/html-head %>

<body>

<input id="currentProductType" type="hidden" value="<%- productType %>">
<input id="programId" type="hidden" value="<%- benefitDetails.programID %>">

<div class="wrapper">
    <% include ../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container">
                <!-- Banner Start -->
                <div class="top-section banner-background">
                    <div>
                        <!-- Breadcrumb -->
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <ul class="breadcrumb pd-tb-zero">
                                    <li><a href="/companies/<%- companyID %>/cashless">Zeta Cashless Cafeteria</a></li>
                                    <li class='active'><a
                                                href="/companies/<%- companyID %>/cashless/<%- benefitDetails.programID %>"> <%- benefitDetails.cardProgramObject.cardName %></a>
                                    </li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Breadcrumb End -->
                        <!-- Popover -->
                        <!-- <div class="row">
                          <div class="col-xs-12 col-md-12 text-right">
                            <div class="popover-content">
                              <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                                  <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                              </span>
                            </div>
                          </div>
                        </div> -->
                        <!-- Popover End -->
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="page-heading">
                                    <h1 class="pd-top-ten pd-bottom-ten">New Transfer Order</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Page Heading and List -->
                            <!--<div class="col-xs-7 col-md-7">
                                <div class="page-heading">
                                    <p class="para-lead">
                                        <span class="para-lead-text">Instantly distribute vouchers and money to your Beneficiaries. Just upload a file or
                                        enter the necessary information, and you are good to go.</span>
                                    </p>
                                </div>
                            </div>-->
                            <!-- Page Heading and List End -->
                        </div>
                    </div>
                </div>
                <!-- Banner End -->

                <div class="sub-container">
                    <div class="">
                <!-- My Changes Hahahah -->
                    <div class="col-xs-9 col-md-9 custom-box">
                        <div class="col-xs-12 col-md-12">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="page-sub-heading-txt">
                                        <div class="txt">Upload an order file with beneficiary list & details</div>
                                    </div>
                                </div>
                            </div>
                            <!-- File Upload -->
                            <input type="hidden" id="uploadDetails" value='<%- fileUploadDetails %>' name="uploadDetails">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 file-main-container">
                                    <form action="<%- fileUploadUrl %>" id='dragDrop' class="dropzone">
                                        <div class="file-upload-container page-sub-heading dz-message">
                                            <div class="dotted-line">
                                                <div class="display-table file-upload-height">
                                                    <div class="table-row">
                                                        <div class="table-column">
                                                            <img width="85" height="44" id="image_upload_preview"
                                                                 src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/files-icon.png" alt="your image"/>
                                                        </div>
                                                    </div>
                                                    <div class="table-row">
                                                        <div class="table-column">
                                                            <span class="file-upload-heading">Drag & Drop</span>
                                                        </div>
                                                    </div>
                                                    <div class="table-row">
                                                        <div class="table-column">
                                                            <span class="or-font">OR</span>
                                                        </div>
                                                    </div>
                                                    <div class="table-row">
                                                        <div class="table-column">
                                                            <form id="form1" runat="server">
                                                                <div class="browse-wrap btn-disabled">
                                                                    <div class="text-center">
                                                                        <div class="upload-button"><strong>+</strong>
                                                                            Upload File
                                                                        </div>
                                                                    </div>

                                                                    <div class="fallback">
                                                                        <input class="upload" name="file" type="file"/>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div id="preview-template" style="display: none">
                                            <div class="dz-preview dz-file-preview">
                                                <div class="dotted-line">

                                                    <div class="dz-details">
                                                        <img class="fileType" src="" alt="xls">
                                                        <div class="dz-filename"><span data-dz-name>payout.csv</span>
                                                        </div>
                                                        <div class="dz-progress"><span class="dz-upload"
                                                                                       data-dz-uploadprogress></span>
                                                        </div>
                                                        <div class="dz-error-message"><span data-dz-errormessage>Error uploading file</span></div>
                                                        <a class="removelink" href="javascript:void(0);" >Change
                                                            File</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


                            <!-- File Upload End -->

                            <!-- Date Picker End -->
                            <% if(productType !== 'gift' && productType !== 'reward') { %>
                            <div class="row pd-top-fifty">
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group date-picker">
                                        <label>Schedule Transfer Date</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker-img"
                                                   id="scheduleTransferDate" readonly/>
                                            <!-- <span class="icon-transparent input-group-addon">
                                            <span><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/date.png"  alt="Zeta Date"/></span>
                                          </span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                           
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="x-medium-button pd-top-ten pd-bottom-ten">
                                        <button class="btn btn-default btn-disabled" type="button" name="" value=""
                                                disabled id="create-order">INITIATE TRANSFER
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <!-- Right Panel -->
                            <div class="panel-container">
                                <h6>Need help?</h6>
                                <div class="straight-line mg-tb-less">&nbsp;</div>
                                <p class="opcity-reduce">
                                    Upload a file with Beneficiary list & details in an XLS, XLSX or CSV format.
                                </p>
                                <div class="header-preview pd-top-ten pd-bottom-ten">
                                    <b>Sample Preview</b>
                                </div>
                                <div class="preview-image-container">

                                  <a href="#"  data-featherlight="/<%- previewImage %>">
                                  <img
                                         class="thumbnail img-responsive view-image "
                                         src="/<%- previewImage %>" alt="Zeta Preview" id="#mylightbox"/>
                                         </a>

                                    <div class="image-preview">
                                        <img data-toggle="modal" data-target="#thumbnailModal" class="search-image"
                                             src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png" alt="zeta search"/>
                                    </div>
                                </div>
                                <div class="header-preview pd-top-twenty pd-bottom-ten">
                                    <b>Download samples</b>
                                </div>
                                <div class="download-img-list">

                                    <a href="/<%-excelFileDownload%>.xlsx"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                                                                                     alt="Zeta icon"/></a>
                                    <a href="/<%-excelFileDownload%>.xls"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png"
                                                                                    alt="Zeta icon"/></a>
                                    <a href="/<%-excelFileDownload%>.csv"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png"
                                                                                    alt="Zeta icon"/></a>

                                </div>
                            </div>
                            <!-- Right Panel End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>
<input id="programId" type="hidden" value="<%- benefitDetails.programID %>">
<!-- Modal Preview  -->
<div tabindex="-1" class="modal fade" id="thumbnailModal" role="dialog">
    <div class="modal-dialog thumbnail-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
            </div>
           <div class="modal-body">

                <img class="thumbnail img-responsive view-image" src="/<%- previewImage %>" alt="Zeta Preview"/>

            </div>
        </div>
    </div>
</div>
<!-- Modal Preview End -->


<!-- Modal Box Transfer Initiated success -->
<div class="modal fade" id="myModalInitiatedSuccess" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                    </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon"/></div>
                    <h4 class="text-center pd-bottom-zero">Transfer order created successfully</h4>
                    <div class="text-center pd-bottom-zero">We will notify you once we complete processing the order file</div>
                     <div class='transfer-summary'>
                        <div class='transfer-summary-hdr'>Summary</div>
                        <div class='transfer-summary-dtls-row clearfix'>
                            <div class="transfer-summary-dtls-col">Order ID</div>
                            <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second" id='newOrderID'></div>
                        </div>
                        <div class='transfer-summary-dtls-row transfer-summary-dtls-second-row clearfix'>
                            <div class="transfer-summary-dtls-col">Scheduled transfer date</div>
                            <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second" id='newScheduleDate'></div>
                        </div>
                        <div class='transfer-summary-dtls-row clearfix'>
                            <div class="transfer-summary-dtls-col">Status</div>
                            <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second new-transfer-status" id='newStatus'></div>
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <a class="btn btn-default"  href="/companies/<%- companyID %>/cashless/<%- benefitDetails.programID %>/new-transfer">DONE</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Box Transfer Initiated success End -->
<!-- Modal Oops Transfer  -->
<div class="modal fade" id="myModalOops" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon"/></div>
                    <h4 class="text-center pd-bottom-zero">Oops. We could not initiate transfer</h4>
                    <div class="modal-heading-pdtb" align="center">
                        <div class="heading-sub-text">This error is usually temporary and can be due to your Internet
                            connection or something wrong at our end. Trying within few minutes should work. If the
                            problem still persists please try again later or contact us on support@zeta.in
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default" type="button" name="" value="" id="retryBtn">Try Again</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Oops Transfer End  -->
<!-- Modal Loader  -->
<div class="modal fade" id="myModalLoader" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                </button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon"/></div>
                    <h4 class="text-center pd-bottom-zero">Initiating Transfer. Please wait...</h4>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Loader End  -->

<% include ../../common/html-script %>

<script src="/dist/scripts/newTransfer.js"></script>


<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>

</html>
