<div class="tab-pane" id="tab_default_3">
    <div class="col-xs-12 col-md-12">
        <div class="inner-sub-container page-sub-heading employees-wrpr">
            <div class="row">
                <h3 class="sub-heading-pdb col-xs-6 col-md-6">Transfer Report</h3>
                <div class="col-xs-6 col-md-6">
                    <!-- Date Picker End -->
                    <!-- <div class="form-group date-picker">
                        <div class="input-group">
                            <input type="text" class="form-control datepicker-img" placeholder="Select the Date" id="reportDate" />
                        </div>
                    </div> -->
                    <!-- Date Picker End -->
                </div>
            </div>
            <div id="reportAmounts">
                <!-- <div class="chart-section clearfix">
                    <div class="status-details">
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/transferred.svg" alt="Transferred icon">
                        <div class="amount">
                            <span class="amount-val">₹ 20000 %></span>
                            <span class="status-type">Total Transferred</span>
                        </div>
                    </div>
                    <div class="status-details">
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/unclaimed.svg"   alt="Unclaimed icon">
                        <div class="amount">
                            <span class="amount-val">₹ 1000 %></span>
                            <span class="status-type">Waiting for Beneficiary</span>
                        </div>
                    </div>
                    <div class="status-details">
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/claimed.svg" alt="Claimed icon">
                        <div class="amount">
                            <span class="amount-val">₹ 19000 %></span>
                            <span class="status-type">Successful</span>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="pd-top-twenty pd-bottom-thirty report-graph">
                <canvas id="transferReport"></canvas>
                <div class="y-label-left pull-left">Amount Transferred</div>
                <div class="y-label-right pull-right">Total Beneficiaries</div>
            </div>
            <div id="ordersTable" class="pd-top-twenty" data-programid="<%- programID %>">
                <% include ../../tables/product-orders %>
            </div>

        </div>
    </div>
</div>
