<div class="tab-pane" id="tab_default_2">
    <div class="col-xs-12 col-md-12">
        <div class="inner-sub-container page-sub-heading">
            <div class="row transferorder-row">
                <div class="horizontal-row">
                <div class="col-xs-12 col-md-12 filter-section">
                    <h3 class="col-md-3">Transfer Orders</h3>
                    <div class="col-xs-9 col-md-9" align="right">
                        <div class="filter-divider-table">
                            <div class="filter-divider-left">
                                <div class="form-group select-custom">
                                    <select class="form-control width-xs" id="transferOrderStatus">
                                        <option value="ALL" disabled selected>Filter by Status</option>
                                        <option value="ALL">All</option>
                                        <option value="PENDING">Pending</option>
                                        <option value="SCHEDULED">Scheduled </option>                                        
                                        <option value="CANCELLED">Cancelled</option>
                                        <option value="PROCESSING">Processing</option>
                                        <option value="STALLED">Stalled</option>
                                        <option value="COMPLETED">Completed</option>
                                        <option value="FILE_PROCESSING_FAILED">Failed</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Date Picker Start -->
                            <!-- <div class="form-group date-picker">
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker-img" placeholder="Select the Date" id="orderDate" />
                                    <span class="icon-transparent input-group-addon">
                                            <span><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/date.png"  alt="Zeta Date"/></span>
                                          </span>
                                </div>
                            </div> -->
                            <!-- Date Picker End -->
                        </div>
                        <!-- <div class="custom-searchbox">
                            <div class="input-group stylish-input-group">
                                <input id="searchBox" type="text" class="form-control" placeholder="Search by ID">
                                <span class="input-group-addon">
                                    <button id="searchBtn" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                            </div>
                        </div> -->
                    </div>
                    </div>
                    </div>
                    <div id="transferOrderTable" data-programid="<%- programID %>">
                        <% if(fundingAccountDetails.currency == 'INR') { %>
                            <% include ../../tables/cashless-rupee-transfer-orders %>
                        <% } else { %>
                            <% include ../../tables/cashless-token-transfer-orders %>
                        <% } %>
                    </div>
                    <!-- <div id="ordersTable"></div> -->
                
            </div>
            <!-- Table End -->
            <!-- Media Object -->
        </div>
    </div>

    <!-- Modal Box Transfer Order Confirm -->
    <div class="modal fade" data-backdrop="static" id="cancelOrderConfirm" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <h4 class="text-center pd-bottom-zero">Are you sure that you want to cancel this order?</h4>
                    </div>
                    <div class="modal-footer">
                        <div class="flexible-button cancel-order">
                            <button class="btn btn-default confirm something" type="button">Yes</button>
                            <button class="btn btn-default reset" type="button">No</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Box Transfer Order Confirm End -->
    <!-- Modal Box Transfer Initiated success -->
    <div class="modal fade" data-backdrop="static" id="cancelOrderSuccess" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Order cancelled successfully</h4>
                    </div>
                    <div class="modal-footer">
                        <div class="flexible-button">
                            <button class="btn btn-default success" type="button">Done</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Box Transfer Initiated success End -->
    <!-- Modal Loader  -->
    <div class="modal fade" id="cancelOrderLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Loader End  -->

    <!-- Modal Oops Transfer  -->
    <div class="modal fade" id="cancelOrderError" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Oops. Cancel Order failed.</h4>
                        <div class="modal-heading-pdtb" align="center">
                            <div class="heading-sub-text" id="error-msg">
                                This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on support@zeta.in
                            </div>

                            <div class="heading-sub-text" id="cannot-revoke-msg">
                                <p>
                                    This order can't be cancelled. Please contact us at <a
                                            href="mailto:support@zeta.in">support@zeta.in</a>. If you have any further queries.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="flexible-button">
                            <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Oops Transfer End  -->
</div>
