<% include ../../../../common/html-head %>

    <body>
            <input type="hidden" id="productType" value="physical">
            <input type="hidden" id="programID" value=""> 
            <input type="hidden" id="SpotlightIFIName" value='<%- ifiBankName %>'> 
        <div class="wrapper">
            <% include ../../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row physical_container">
                        <% include ../../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container load-cards">
                                <!-- Banner Start -->
                                <div class="top-section physical-banner">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <li><a href="/companies/<%- companyID %>/spotlight"><% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %>Zeta Spotlight <%} %> </a></li>
                                                    <li class='active'><a href="/companies/<%- companyID %>/spotlight/physical"> Physical Gift Cards %></a>
                                                    </li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Popover End -->
                                        <div class="row">
                                            <div class="col-xs-6 col-md-6">
                                                <div class="page-heading">
                                                    <h1 class="pd-top-ten pd-bottom-ten">Issue Gifts</h1>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                            <a href="/companies/<%- companyID %>/spotlight/physical#issueOrderHistory">
                                                <div class="order-history-physical pull-right">
                                                    <h2>Issuance Order History</h2>
                                                </div>
                                                </a>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="sub-container">
                                <div class="row">
                                  <div class="col-xs-12 col-md-12">
                                      <div class="go-back-physical">
                                      <a href="/companies/<%- companyID %>/spotlight/physical/issuegift">
                                          <p class="go-back"><img style="margin-top: -2px;" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/back-icon-shape.svg"/> GO BACK</p>
                                      </a>
                                      </div>                                      
                                  </div>
                                </div> 
                                <div class="row" id="createOrderPhysical">
        
                                <div class="col-xs-6 col-md-6 custom-box custom-box-physical" style="width: 74%;height: 400px;min-width: 708px;">
                                    <div class="row">
                                        <div class="col-xs-8 col-md-8">
                                            <div class="paymntTxt">Payment Information</div>
                            
                                            <div class="form-group mg-bottom-zero">
                                                <label for="recipient-name" class="control-label " style="margin-bottom: 6px;">Funding account
                                                    <span class="tooltip" style="opacity:1">
                                                        <img class="subtitle sidebar-option-txt" style="width:12px;cursor:pointer;opacity:1" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-icon.svg"
                                                            alt="" />
                                                        <span class="tooltiptext tooltiptext-benefits" style="opacity:1">A Funding A/c is similar to your Bank’s current account. They can fund one or more programs
                                                            across all your companies. You can use them to transfer funds to your beneficiaries.</span>
                                                    </span>
                                                </label>
                                                <input type="hidden" id="newFundDetails" data-fund='<%- JSON.stringify(fundingAccountDetails) %>' />
                                                <div class="form-group select-custom" align="left" style="width:  43%;">
                                                    <select id='fundingAccountID' style="height:  38px;width: 185px;" class="form-control width-xs input-lg">
                                                        <option value='0'>Select funding account</option>
                                                        <% for(var currIndex=0; currIndex< fundingAccountDetails.length; currIndex++) {%>
                                                            <option value='<%- fundingAccountDetails[currIndex].accountID %>' data-name="<%- fundingAccountDetails[currIndex].name %>"
                                                                data-balance="<%- fundingAccountDetails[currIndex].balance / 100 %>">
                                                                <%- fundingAccountDetails[currIndex].name %> - ₹<%- fundingAccountDetails[currIndex].balance / 100 %>
                                                            </option>
                                                            <% } %>
                                                    </select>
                                                </div>
                                                <div class="fundCurrntBalance" style="display:none">
                                                    Current Balance -<b>₹</b><b><span id="balanceFund"></span></b>
                                                    <span class="insuffFund" style="display:none;color: #ffbc00;">
                                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/alert-orange.svg" /> Insufficient Funds</span>
                                                </div>
                                            </div>
                                            <div class="form-group left-align">
                                                    <div class="control-group control-padding-top">
                                                        <label class="control control--checkbox terms">I understand that this order can be neither cancelled nor revoked.
                                                                    <input type="checkbox"  id="createGiftCheckbox">
                                                                    <div class="control__indicator"></div>
                                                                </label>
                                                    </div>
                                            </div>
                                            <div class="x-medium-button placeOrderEndAddFund program-code-next-btn" style="display:none;">
                                                    <button id="orderCompleted" data-fundingaccountid="" disabled class="btn btn-default btn-disabled" type="button">Place order & Add funds later 
                                                    <img class="spinner-loader showBtnLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg"></button>
                                            </div>
                                            <div class="x-medium-button placeOrderEnd program-code-next-btn">
                                                <button id="orderCompletedNew" data-fundingaccountid="" disabled class="btn btn-default btn-disabled" type="button">Place Your Order 
                                                <img class="spinner-loader showBtnLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg"></button>
                                            </div>
                                            
                                            <div class="insuffFundText" style="display:none;margin-top:  10px;">When your order is placed, a <b>proforma invoice</b> will be generated and you can add funds to your funding
                                                account later. Once we receive the funds, gifts will automatically be sent to your beneficiaries
                                                and we’ll notify you via e-mail.</div>
                            
                                        </div>
                                        <div class="col-xs-4 col-md-4 custom-box cutomBoxGrey cutomBoxGreyPhysical pull-right" style="display:block;width:190px !important;height: 400px;top: -30px;right: -15px;">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div class="orderSummaryTxt">SUMMARY</div>
                                                        <div class="orderSummarySTxt">No. of Beneficiaries</div>
                                                        <div class="orderSummarySVal" id="totalBenefits"></div>
                                                        <div class="orderSummarySTxt">Order Total</div>
                                                        <div class="orderSummarySVal"><b>₹<span id="totalAmount"></span></b></div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                


                                <div class="col-xs-3 col-md-3 pull-right" style="padding-right: 0px;">
                                <div class="needHelp">
                                <div class="needHelpHeader">
                                    <span class=""><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/round-e-help.svg"></span>
                                    <span class="needHelpHeadTxt">Need help?</span>
                                </div>
                                <div class="needHelpBody">
                                Reach out to us on <strong style="text-decoration: underline;">support@zeta.in</strong> or 
                                <strong>+91 80 66905995</strong>. We assure you of quick service.
                                </div>
                            </div>
                                </div>
                                   
                                        
                                </div>
                                  

                                    <div class="col-xs-12 col-md-12">
                                        <!-- last login  -->
                                    <% include ../../../../common/time-footer %>
                                    </div>
                                    <!-- Error Modal Oops Transfer  -->
                                    <div class="modal fade" id="createOrderModalSGOops" tabindex="-1" role="dialog">
                                    <div class="modal-dialog custom-modalbox" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="custom-modal-body">
                                                <div class="modal-body">
                                                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" /></div>
                                                    <h4 class="text-center pd-bottom-zero">Error while processing the request.</h4> 
                                                    <div class="modal-heading-pdtb" align="center">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="x-medium-button create-bulk-transfer-order ">
                                                        <a href="/companies/<%- companyID %>/spotlight/physical#orderHistory">
                                                        <button class="btn btn-default" style="width:100%;" type="button">Done</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                    <!-- Error Modal Oops Transfer End  -->


                                       <!-- Modal Box Transfer Initiated success -->
                                            <div class="modal fade" id="createOrderModalShow" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" >
                                            <div class="modal-dialog custom-modalbox" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                                                        </button>
                                                    </div>
                                                    <div class="custom-modal-body">
                                                        <div class="modal-body">
                                                            <div class="page-sub-heading-txt program-code-list-wrpr text-center">
                                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg" alt="">
                                                                <h3>Gift card issuance order placed successfully</h3>
                                                                <!-- <h5 style="font-size: 13px;">We’re currently processing this order. A zeta representative will get back to you shortly.</h5> -->
                                                                <div class='bulk-order-dtls-wrpr'>
                                                                    <div class='bulk-order-dtls-hdg'>SUMMARY</div>
                                                                    <ul>
                                                                        <li class="clearfix">
                                                                            <div class='bulk-order-lbl'>ID</div>
                                                                            <div class='bulk-order-val' id='createOrderId'></div>
                                                                        </li>
                                                                        <li class="clearfix">
                                                                            <div class='bulk-order-lbl'>Ref. Name</div>
                                                                            <div class='bulk-order-val' id='refName'></div>
                                                                        </li> 
                                                                        <li class="clearfix createhideIt">
                                                                            <div class='bulk-order-lbl'>Beneficiariess</div>
                                                                            <div class='bulk-order-val' id='noOfBenefit'></div>
                                                                        </li> 
                                                                        <li class="clearfix createhideIt">
                                                                            <div class='bulk-order-lbl'>Total amount</div>
                                                                            <div class='bulk-order-val'>₹<span id='totalAmountRes'></span></div>
                                                                        </li> 
                                                                        <li class="clearfix createhideIt2">
                                                                            <div class='bulk-order-lbl'>Status</div>
                                                                            <div class='bulk-order-val'><span id='createStatus'><b style="color:#4a90e2">Scheduled</b></span></div>
                                                                        </li>
                                                                        
                                                                    </ul>
                                                                </div>
                                                            
                                                                <div class="x-medium-button create-bulk-transfer-order createhideIt2">
                                                                    <a href="/companies/<%- companyID %>/spotlight/physical#issueOrderHistory">
                                                                    <button class="btn btn-default" style="width:100%;" type="button">Done</button>
                                                                    </a>
                                                                </div>
                                                            
                                                                
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal Loader success order End  -->

                                    
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->

        </div>
        



        <% include ../../../../common/html-script %>
        <script src="/dist/scripts/home.js"></script>
        <script src="/dist/scripts/physicalHome.js"></script> 
                
            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover();
                    var x=Number(localStorage.getItem('totalAmount'))/100;
                    x=x.toString();
                    var lastThree = x.substring(x.length-3);
                    var otherNumbers = x.substring(0,x.length-3);
                    if(otherNumbers != '')
                        lastThree = ',' + lastThree;
                    var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
                    $('#totalBenefits').html(localStorage.getItem('totalPayout'))
                    $('#totalAmount').html(res)
                    $('#totalAmountRes').html(res)
                })
            </script>
    </body>

    </html>
