<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zeta Tax Benefits</title>
    <link rel="shortcut icon" href="https://card-program-files.s3.amazonaws.com/hrDashboard/images/favicon.png">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/dropzone/dist/min/dropzone.min.css"/>

    <link rel="stylesheet" href="/dist/css/main.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>
	<div class="wrapper">
		<!-- Container -->
		<div class="container-fluid sidebar-row">
			<div class="row">
				<!-- Inner container -->
				<div>
					<div class='error-msg-wrpr--full'>
						<img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-error-state.png" alt="error">
						<div class='error'><%-message %><a class="link" href="mailto:<%- mail %>"><%- mail %></a></div>
						<a href="">Reload</a>
					</div>
				</div>
				<!-- Inner container End -->
			</div>
		</div>
		<!-- Container End -->
	</div>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</body>
