<% include common/html-head %>

    <body>
        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <!-- Banner -->
                                <div class="banner-section gradient-indigo-blue">
                                    <!-- Breadcrumb -->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <ul class="breadcrumb">
                                                <li><a href="/admin">Admin Console</a></li>
                                                <li></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Breadcrumb End -->
                                    <div class="row">
                                        <div class="col-xs-8 col-md-8">
                                            <div class="page-heading">
                                                <h1 class="pd-bottom-ten">Access Control</h1>
                                                <p class="para-lead">
                                                    <span class="para-lead-text opacity-point-seven">Grant access & manage users for your corporate account.</span>
                                                    <a class="learn-more-link learn-more-size underline-text" target="_blank" href="https://docs.zetaapps.in/display/OND/Administering+Corporate+Entities#AdministeringCorporateEntities-AccessControl">Learn more</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-md-4">
                                            <div align="right" class="large-button">
                                                <button class="btn btn-secondary text-uppercase btn-bg-color" data-target="#addUserModal" data-toggle="modal" name="" type="button" value="">+ Add USER
                                        </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="sub-container">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="inner-sub-container page-sub-heading">
                                                <!-- Filter -->
                                                <div class="row">
                                                    <div class="filter-section">
                                                        <div class="col-xs-5 col-md-5">
                                                            <div class="custom-searchbox">
                                                                <div class="input-group stylish-input-group">
                                                                    <h2 data-acc-id=<%-accId %>>Users with Access</h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Filter End -->
                                                <!-- Table -->
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div id="get-users-widget">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Table End -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- last login  -->
                                    <% include common/time-footer %>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>
        <div class="modal fade" id="addUserModal" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox add-user-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h3 class="text-center pd-bottom-zero">Add a new user</h3>
                            <div class="modalbox-form-section">
                                <form class="pd-top-twenty">
                                    <div class="form-group left-align">
                                        <label class="control-label" for="userName">Full Name</label>
                                        <input class="form-control addUserFields" id="userName" type="text" placeholder="Enter Full Name">
                                        <p class="error-message"></p>
                                    </div>
                                    <div class="form-group left-align">
                                        <label class="control-label" for="email">Email Address</label>
                                        <input class="form-control addUserFields" id="email" type="text" placeholder="Enter Email Address">
                                        <!-- <img class="valid-img" id="validEmail" src="../images/valid-icon.svg">
                                        <img class="valid-img" id="invalidEmail" src="../images/invalid-icon.svg"> -->
                                        <p class="error-message"></p>
                                    </div>
                                    <div class="form-group left-align">
                                        <label class="control-label" for="confirmEmail">Confirm Email Address</label>
                                        <input class="form-control addUserFields" id="confirmEmail" type="text" placeholder="Enter Email Address">
                                        <!-- <img class="valid-img" id="validConfirmEmail" src="../images/valid-icon.svg">
                                        <img class="valid-img" id="invalidConfirmEmail" src="../images/invalid-icon.svg"> -->
                                        <p class="error-message"></p>
                                    </div>
                                    <div class="heading-sub-text pd-btm-fifteen">
                                        The user will receive a link on this email to setup their account
                                    </div>
                                    <% if(addUserRoles){ %>
                                        <div class="role-access-wrap">
                                            <div class="admin-access">
                                                <div>
                                                    Grant <strong>administrator</strong> access to this user?
                                                </div>
                                                <div class="form-group radio-button-container">
                                                    <label class="radio-inline"><input id="adminYes" class="admin-access-radio" name="admin-access" type="radio" value="yes" checked> <span>Yes</span></label>
                                                    <label class="radio-inline"><input id="adminNo" class="admin-access-radio" name="admin-access" type="radio" value="no" > <span>No</span></label>
                                                </div>
                                            </div>
                                            <div class="heading-sub-text pd-btm-fifteen">
                                                By default, this user will not have any access. You can grant access to one or more privileges in the next step.
                                            </div>
                                            <div class="role-select-wrap" style="display: none;">
                                                <div>Select Role</div>
                                                <div class="role-select">
                                                    <% for(let currIndex=0; currIndex < accessRoles.length; currIndex++) { %>
                                                        <div class="role-row row mb-4 <%-accessRoles[currIndex].rowClass%>" >
                                                            <div class="col-lg-5 role-label">
                                                                <%-accessRoles[currIndex].role%>
                                                            </div>
                                                            <% if(accessRoles[currIndex].canRead){ %>
                                                                <div class="col-lg-3">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input class="access-checkbox" type="radio" name="<%-'canRead_'+currIndex%>" id="<%-accessRoles[currIndex].roleReadId%>">
                                                                            <span></span>
                                                                            Read
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            <% } %>
                                                            <% if(accessRoles[currIndex].canWrite){ %>
                                                                <div class="col-lg-3">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input class="access-checkbox" type="radio" name="<%-'canRead_'+currIndex%>" id="<%-accessRoles[currIndex].roleWriteId%>">
                                                                            <span></span>
                                                                            Write
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            <% } %>
                                                        </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                    <!--<div class="form-group">
                                <div>
                                    <label class="control-label">Role</label> 
                                </div>
                                <div class="control-group">
                                    <label class="control control--radio">User
                                        <input type="radio" name="user-type" value="USER" checked>
                                        <div class="control__indicator"></div>
                                    </label>
                                    <label class="control control--radio">Admin
                                        <input type="radio" name="user-type" value="ADMIN">
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>-->
                                    <!--<div class="heading-sub-text">
                                    A user has view access to all the privileges. If needed, you can edit these privileges later.
                                </div>-->
                            </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button disabled class="btn btn-default btn-disabled" id="addNewUserBtn" name="" type="button" value="">
                                Add User
                            </button>
                                <img class="add-user-loader" id="addUserLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Modal Add new user End -->

        <div class="modal fade" id="changeStatusModal" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body center-align">
                        <div class="modal-body">
                            <img id="warningImg" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png">
                            <h4 class="text-center pd-bottom-zero" id="changeStatusQuote"></h4>
                            <p id="userStatusMsg">
                                This will block their access to
                                <%- corp.name %>’s corporate account. 
                                <% if(!(locals.countryVar && countryVar == "isSodexoPh")){ %>
                                    If needed, you can restore their access later.
                                <% } %>
                                
                            </p>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" id="changeStatusBtn" name="" type="button" value="">
                            Yes, Suspend this user
                        </button>
                                <img class="add-user-loader" id="changeAccessLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal request response Modal End -->

        <div class="modal fade" id="requestResponseModal" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content responseModalBody">
                    <div class="modal-header">
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <img class="response-img" id="error-img" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.svg">
                            <img class="response-img" id="success-img" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/success-icon.svg">
                            <h4 class="text-center pd-bottom-zero" id="errorResponse"></h4>
                            <p id="errorResponseMsg"></p>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default reload-btn" id="responseBtn" name="" type="button" value="">
                        </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Change USer Status End -->


        <% include common/html-script %>
            <script src="../dist/scripts/users.js"></script>
            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>
    </body>

    </html>