<% let compId = locals.selectedCompany.company.companyID %>
<% include common/html-head %>

    <body>
        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container access-ctrl-V2-container">
                                <!-- Banner -->
                                <div class="banner-section <%=templateData.bannerBgClass%>">
                                    <!-- Breadcrumb -->
                                    <% if (typeof templateData.breadcrumbs != 'undefined' && templateData.breadcrumbs != null && templateData.breadcrumbs.length > 0) { %>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <ul class="breadcrumb">
                                                <% for(var innerIndex = 0; innerIndex < templateData.breadcrumbs.length; innerIndex++){ %>
                                                    <li>
                                                        <a href="<%=templateData.breadcrumbs[innerIndex].href%>"><%=templateData.breadcrumbs[innerIndex].text%></a>
                                                    </li>
                                                <% } %>
                                                <li></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <% } %>
                                    <!-- Breadcrumb End -->
                                    <div class="row">
                                        <div class="col-xs-8 col-md-8">
                                            <div class="page-heading">
                                                <h1 class="pd-bottom-ten"><%=templateData.headingText%></h1>
                                                <p class="para-lead">
                                                    <span class="para-lead-text opacity-point-seven"><%=templateData.subHeadingText%></span>
                                                </p>
                                            </div>
                                        </div>
                                        <% if (!locals.rbac || (locals.rbac && rbac['addAccountForEmployee_'+compId])) { %>
                                        <div class="col-xs-4 col-md-4">
                                            <div align="right" class="large-button">
                                                <button class="btn btn-secondary text-uppercase btn-bg-color" data-target="#addUserModal" data-toggle="modal" name="" type="button" value="">+ Add USER
                                                </button>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="sub-container">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="inner-sub-container page-sub-heading">
                                                <!-- Filter -->
                                                <div class="row">
                                                    <div style="right: 15px" class="filter-section">
                                                        <div class="col-xs-6 col-md-6">
                                                            <div class="custom-searchbox">
                                                                <div class="input-group stylish-input-group">
                                                                    <h2 data-acc-id=<%-accId %>>Users with Access</h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-md-6 access-ctrl-search" align="right">
                                                            <div class="custom-searchbox">
                                                                <div class="input-group stylish-input-group">
                                                                    <input id="searchBox" type="text" class="form-control" placeholder="Search by Name or Employee ID">
                                                                    <span class="input-group-addon">
                                                        <button id="searchBtn" type="button">
                                                        <span><img src="/images/search_small.png"></span>
                                                                    </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-xs-3 col-md-3" align="right">
                                                            <div class="filter-divider-table">
                                                                <div class="filter-divider-left">
                                                                    <div class="form-group select-custom">
                                                                        <select class="form-control width-xs" id="statusDropDown">
                                                                            <option disabled value="null">Sort by Status</option>
                                                                            <% for(var currIndex=0; currIndex<templateData.filterByStatus.length; currIndex++) {%>
                                                                                <option value="<%=templateData.filterByStatus[currIndex]%>"><%=templateData.filterByStatus[currIndex]%></option>
                                                                            <% } %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <!-- Filter End -->
                                                <!-- Table -->
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">

                                                        <div id="get-users-widget-V2" class="access-ctrl-table-container">
                                                            <% include tables/usersV2/users %>
                                                        </div>


                                                    </div>
                                                </div>
                                                <!-- Table End -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- last login  -->
                                    <% include common/time-footer %>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>
        <div class="modal fade" id="addUserModal" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body add-user-V2">
                            <h3 class="text-center pd-bottom-zero">Add a new user</h3>
                            <div class="modalbox-form-section">
                                <form class="pd-top-twenty" id="addUserFormV2">
                                    <div class="form-group left-align">
                                        <label class="control-label" for="userName">Full Name</label>
                                        <input class="form-control addUserFields" id="userName" type="text" placeholder="Enter Full Name">
                                        <p class="error-message"></p>
                                    </div>
                                    <div class="form-group left-align">
                                        <label class="control-label" for="employeeID">Employee ID</label>
                                        <input class="form-control addUserFields" id="employeeID" type="text" placeholder="Enter Employee ID">
                                        <p class="error-message"></p>
                                    </div>
                                    <div class="form-group left-align __position-relative-input-box">
                                        <label class="control-label" for="password">Password</label>
                                        <input class="form-control addUserFields" id="password" type="number" placeholder="Enter Password" disabled>
                                        <span class="__generate-password" id="forAddUser">Generate Password</span>
                                        <p class="error-message"></p>
                                    </div>
                                    <div class="form-group select-custom left-align">
                                        <label class="control-label" for="accessType">Access Type</label>
                                        <select style="height: 45px" id="accessType" class="form-control addUserFields width-xs">
                                            <option disabled selected>Select Access Type</option>
                                            <% for(var currIndex=0; currIndex<templateData.accessTypes.length; currIndex++) {%>
                                            <!-- <option <%= currIndex == 0 ? 'selected': '' %> value="<%=templateData.accessTypes[currIndex].value%>"><%=templateData.accessTypes[currIndex].text%></option> -->
                                            <option value="<%=templateData.accessTypes[currIndex].value%>"><%=templateData.accessTypes[currIndex].text%></option>
                                            <% } %>
                                        </select>
                                        <!-- <p class="error-message"></p> -->
                                    </div>
                                    <div style="font-size: 12px" class="heading-sub-text pd-btm-fifteen">
                                            An administrator has complete access to your corporate account. They can also revoke access of other administrators.
                                    </div>
                                    <div class="form-group select-custom left-align choose-company <%=companies.length <= 1 ? 'hidden' : ''%>">
                                        <label class="control-label" for="chooseCompany">Choose Company</label>
                                        <div style="width: 100%" class="multipleOpsSelect width-xs">
                                            <select class="form-control width-xs" id="chooseCompany" multiple>
                                                <% for(let currentIndex=0; currentIndex<companies.length; currentIndex++) {%>
                                                    <% if (companies.length > 1) { %>
                                                        <option value="<%=companies[currentIndex].company.companyID%>"><%=companies[currentIndex].company.companyName%></option>
                                                    <% } else { %>
                                                        <option <%= companies[currentIndex].company.companyID == selectedCompany.company.companyID ? 'selected': '' %> value="<%=companies[currentIndex].company.companyID%>"><%=companies[currentIndex].company.companyName%></option>
                                                    <% } %>
                                                <% } %>
                                            </select>
                                            <p class="error-message"></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button disabled class="btn btn-default btn-disabled" id="addNewUserBtn" name="" type="button" value="">
                                    Add User
                                </button>
                                <img class="add-user-loader" id="addUserLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Modal Add new user End -->

        <div class="modal fade" id="changeStatusModal" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body center-align">
                        <div class="modal-body">
                            <img id="warningImg" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png">
                            <h4 class="text-center pd-bottom-zero" id="changeStatusQuote"></h4>
                            <p id="userStatusMsg">
                                This will block their access to
                                <%- corp.name %>’s corporate account. If needed, you can restore their access later.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" id="changeStatusBtn" name="" type="button" value="">
                            Yes, Suspend this user
                        </button>
                                <img class="add-user-loader" id="changeAccessLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal request response Modal End -->

        <div class="modal fade" id="requestResponseModal" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content responseModalBody">
                    <div class="modal-header">
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <img class="response-img" id="error-img" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.svg">
                            <img class="response-img" id="success-img" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/success-icon.svg">
                            <h4 class="text-center pd-bottom-zero" id="errorResponse"></h4>
                            <p id="errorResponseMsg"></p>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default reload-btn" id="responseBtn" name="" type="button" value="">
                        </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Change USer Status End -->

        <div class="modal fade" id="changePasswordModal" role="dialog" tabindex="-1">
                <div class="modal-dialog custom-modalbox" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="custom-modal-body center-align">
                            <div class="modal-body">
                                <h3 class="text-center pd-bottom-zero">Change Password</h3>
                                <div class="modalbox-form-section">
                                <form class="pd-top-twenty" id="changePasswordForm">
                                    <div class="form-group left-align __position-relative-input-box">
                                        <label class="control-label" for="changePassword">Password</label>
                                        <input class="form-control" id="changePassword" type="number" placeholder="Enter Password" disabled>
                                        <span class="__generate-password" id="forChangePassword">Generate Password</span>
                                        <p class="error-message"></p>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div class="flexible-button">
                                    <button class="btn btn-default btn-disabled" disabled="true" id="changePasswordBtnV2" name="" type="button" value="">
                                CHANGE PASSWORD
                            </button>
                                    <img class="add-user-loader" id="changePasswordLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Change Password Status End -->

        <div class="modal fade" id="editPrivilegesModal" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body center-align">
                        <div class="modal-body">
                            <h3 class="text-center pd-bottom-zero">Edit Privileges</h3>
                            <div class="modalbox-form-section">
                                <form class="pd-top-twenty" id="editPrevilegeForm">
                                    <div class="form-group select-custom left-align">
                                        <label class="control-label" for="accessTypeEdit">Access Type</label>
                                        <select style="height: 45px" id="accessTypeEdit" class="form-control width-xs">
                                            <% for(var currIndex=0; currIndex<templateData.accessTypes.length; currIndex++) {%>
                                            <option value="<%=templateData.accessTypes[currIndex].value%>"><%=templateData.accessTypes[currIndex].text%></option>
                                            <% } %>
                                        </select>
                                        <p class="error-message"></p>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div class="flexible-button">
                                    <button class="btn btn-default btn-disabled" disabled="true" id="changeAccessBtn" name="" type="button" value="">
                                        CHANGE ACCESS TYPE
                                    </button>
                                    <img class="add-user-loader" id="changePrivilegeLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Change Password Status End -->

        <% include common/html-script %>
            <link type="text/css" href="../../../scss/pages/jquery.multiselect.css" rel="stylesheet" />
            <script src="../dist/scripts/usersV2.js"></script>
            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>
    </body>

    </html>