<% include common/html-head %>

    <body>
        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->


                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <div class="hide" id="corpIDForAddFund">
                                    <%-corp.id%>
                                </div>
                                <!-- Banner -->
                                <div class="top-section <%=templateData.bannerBgClass%>">
                                    <!-- Breadcrumb -->
                                    <% if (typeof templateData.breadcrumbs != 'undefined' && templateData.breadcrumbs != null && templateData.breadcrumbs.length > 0) { %>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <% for(var innerIndex = 0; innerIndex < templateData.breadcrumbs.length; innerIndex++){ %>
                                                        <li>
                                                            <a href="<%=templateData.breadcrumbs[innerIndex].href%>"><%=templateData.breadcrumbs[innerIndex].text%></a>
                                                        </li>
                                                    <% } %>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                    <% } %>
                                    <!-- Breadcrumb End -->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="page-heading">
                                                <h1 class="pd-top-ten"><%=templateData.headingText%></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="sub-container">
                                    <div class="row">
                                        <div class="col-xs-10 col-md-10">
                                            <div class="inner-sub-container page-sub-heading">
                                                <div class="radio-button-container">
                                                    <form id="addFundForm" class="<%-templateData.addFundClass%>">
                                                        <% if(templateData.transferTypes.length > 0 && (templateData.transferTypes[0].value || (templateData.transferTypes[1] && templateData.transferTypes[1].value))) { %>
                                                            <div class="form-group mg-bottom-zero">
                                                                <label class="pd-bottom-five">Select Transfer Type</label>
                                                            </div>
                                                            <!-- Radio Button -->
                                                            <% for(var innerIndex = 0; innerIndex < templateData.transferTypes.length; innerIndex++){ %>
                                                                <label class="radio-inline"><input id="inlineRadio<%=innerIndex+1%>" name="inlineRadioOptions" type="radio" value="<%=templateData.transferTypes[innerIndex].value%>" <%= innerIndex == 0 ? 'checked' : '' %>> <span><%=templateData.transferTypes[innerIndex].text%></span></label>
                                                            <% } %>
                                                            <!-- Radio Button End -->
                                                        <% } %>
                                                        <!-- <div class="form-group pd-top-twenty">
                                                            <label for="chequeNumber"><%=templateData.transferTypes[0].tranferNumberLabel%></label> 
                                                            <input class="form-control width-xlg" id="transactionRefNumber" type="text">
                                                        </div> -->
                                                        <!-- Datepicker -->
                                                            <!-- <div class="form-group date-picker-xlg">
                                                                <label for="transferDate"><%=templateData.transferTypes[0].trasferDateLabel%></label>
                                                                <div class="input-group">
                                                                    <input class="form-control bdr-radius datepicker-img" id="transactionDate" type="text" readonly>
                                                                    <span class="icon-transparent input-group-addon">
                                                    <span><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/date.png"  alt="Zeta Date"/></span>
                                                </span>
                                                                </div>
                                                            </div> -->
                                                        <!-- Datepicker End -->

                                                        <% for(let index = 0; index < templateData.addFundFields.length; index++){
                                                            let field = templateData.addFundFields[index];
                                                            %>
                                                            <div class="form-group required-field <%=field.wrapperClass%>">
                                                                <label class="add-fund-label" for="<%=field.labelFor%>"><%=field.fieldLabel%>
                                                                    <sup class="hide">*</sup></label> 
                                                                <% if(field.isCalendarInput){ %>
                                                                    <div class="input-group">
                                                                        <input class="form-control <%=field.inputClass%>" id="<%=field.inputId%>" type="text" readonly>
                                                                    </div>
                                                                <% } else if (field.isAttachment){ %>   
                                                                    <span class="new"></span>
                                                                    <input class="form-control <%=field.inputClass%>" id="<%=field.inputId%>" type="<%=field.inputType ? field.inputType : 'text'%>" accept="image/x-png, image/jpeg, application/pdf">
                                                                <% } else { %>
                                                                    <input class="form-control <%=field.inputClass%>" id="<%=field.inputId%>" type="<%=field.inputType ? field.inputType : 'text'%>">
                                                                <% } %>   
                                                            </div>
                                                        <% } %>

                                                        
                                                        <!-- <div class="form-group">
                                                            <label for="chequeAmount">Amount (<%= locals.country_details && typeof country_details.currencySymbol != 'undefined' ? country_details.currencySymbol : '₹'%>)</label> 
                                                            <input class="form-control width-xlg" id="transactionAmount" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                        </div> -->
                                                        <div class="form-group">
                                                            <label>Comments</label>
                                                            <textarea class="form-control width-xlg" rows="5" id="fundReqComment"></textarea>
                                                            <!--<input class="form-control width-xlg" id="transactionAmount" type="number">-->
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div class="flexible-button">
                                                            <button disabled class="btn btn-default width-xlg submit-btn-disabled" id="submitReq" type="button">Submit Request</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Note -->
                                                <% if (typeof templateData.disableFooterNote == 'undefined' || !templateData.disableFooterNote) { %>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <p id="fund_acc_name" class="add-funds-note width-xlg">Note: Funds transferred from your authorised bank accounts are instantly approved. If not, approval may take 1-2 more working days.</p>
                                                        <p class='pd-bottom-ten para-color opacity-full'>
                                                            <strong id='viewAuthorizedBanksLink' class='view-authorized-banks-link'>View Your Authorised Bank Accounts</strong>
                                                        </p>
                                                    </div>
                                                </div>
                                                <% } %>
                                                <!-- Note End -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- last login  -->
                                    <% include common/time-footer %>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" data-backdrop="static" id="myModalInitiatedSuccessFund" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sz-500 custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center pad-top-30"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Request submitted successfully</h4>
                           <!-- <p class="align-cntr">We will confrm and add funds in Medical Reimbursements A/c within one working day of receiving money into Zeta’s Bank Account.</p> -->
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a href='/admin/funding-accounts'>
                                    <button class="btn btn-default" type="button">Done</button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Box Transfer Initiated success End -->
        <!-- Modal Loader  -->
        <div class="modal fade" id="myModalLoaderFund" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Submitting Request...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="myModalOopsFund" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Oops. Fund Request Failed.</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text">This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on <%= locals.country_details && country_details.supportEmail ? country_details.supportEmail : 'support@zeta.in' %></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="duplicateFundError" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="../../images/error-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Oops! Duplicate Fund Request. A similar request was approved or is pending approval.</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <!-- Modal Loader  -->
        <div class="modal fade" id="authorizedBankAccntsModalLoading" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Loading Authorised bank accounts...</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->
        <!-- Modal for authorized bank accounts -->
        <div class="modal fade" id="authorizedBankAccntsModalWrpr" tabindex="-1" role="dialog">
        </div>
        <!--  Modal for authorized bank accounts End  -->
        <% include common/html-script %>
            <script src="/dist/scripts/addFund.js">
            </script>

    </body>