<% include common/html-head %>

<body>

    <input id="currentProductType" type="hidden" value="<%- productType %>">
    <input id="programId" type="hidden" value="<%- benefitDetails.programID %>">
    <input id="blockDates" type="hidden" value='<%- blockDates %>'>
    <input id="orderId" type="hidden" value="<%- orderId %>">
    <input id="scheduledDate" type="hidden" value="<%- payoutDate %>">
    <input id="orderTotalAmount" type="hidden" value="<%- totalAmount %>">
    <input id="recurringOrderID" type="hidden" value="<%- recurringOrderID %>">
  

    <div class="wrapper">
        <% include common/header %>
        <!-- Container -->
        <div class="container-fluid sidebar-row">
            <div class="row">
                <% include common/sidebar %>
                <!-- Inner container -->
                <div class="inner-container">
                    <!-- Banner Start -->
                    <div class="top-section banner-background">
                        <div>
                            <!-- Breadcrumb -->
                            <div class="row">
                                <div class="col-xs-8 col-md-8 banner-breadcrum">
                                    <div class="page-heading">
                                        <ul class="breadcrumb pd-tb-zero">
                                            <li><a href="/companies/<%- companyID %>/optima">Zeta Optima</a></li>
                                            <li class='active'>
                                                <a
                                                    href="/companies/<%- companyID %>/optima/<%- benefitDetails.programID %>">
                                                    <%- benefitDetails.cardProgramObject.cardName %>
                                                </a>
                                            </li>
                                            <li></li>
                                        </ul>

                                        <p class="para-lead brea banner-breadcrum-child">
                                            <h1 class="para-lead-text payout-banner">Add New Payout
                                            </h1>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Banner End -->

                    <div class="sub-container">
                        <div class="">
                            <div class="col-xs-9 col-md-9 custom-box ">
                                <div class="col-xs-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="page-sub-heading-txt sub-heading-txt">
                                                <div class="txt">Upload an order file with beneficiary list & details
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- File Upload -->
                                    <input type="hidden" id="uploadDetails" value='<%- fileUploadDetails %>'
                                        name="uploadDetails">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 form-action-container file-main-container">
                                            <form action="<%- fileUploadUrl %>" id='dragDrop'
                                                class="dropzone multiple-payout-dropzone col-md-7">
                                                <div class="file-upload-container page-sub-heading dz-message">
                                                    <div class="dotted-line">
                                                        <div
                                                            class="display-table file-upload-height payout-file-border multiple-payout-upload">
                                                            <div class="table-row">
                                                                <div class="table-column">
                                                                    <img width="85" height="44"
                                                                        id="image_upload_preview"
                                                                        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/files-icon.png"
                                                                        alt="your image" />
                                                                </div>
                                                            </div>
                                                            <div class="table-row">
                                                                <div class="table-column">
                                                                    <span class="file-upload-heading">Drag & Drop</span>
                                                                </div>
                                                            </div>
                                                            <div class="table-row">
                                                                <div class="table-column">
                                                                    <span class="or-font">OR</span>
                                                                </div>
                                                            </div>
                                                            <div class="table-row">
                                                                <div class="table-column">
                                                                    <form id="form1" runat="server">
                                                                        <div class="browse-wrap btn-disabled">
                                                                            <div class="text-center">
                                                                                <div class="upload-button">
                                                                                    <strong>+</strong> CHOOSE FILE
                                                                                </div>
                                                                            </div>

                                                                            <div class="fallback">
                                                                                <input class="upload" name="file"
                                                                                    type="file" id="uploadFile" />
                                                                            </div>
                                                                            <% if(productType == 'gift' || productType == 'reward') { %>
                                                                            <h6
                                                                                style="margin:20px 0 0 0;line-height:1.5;">
                                                                                <span><b>Note : </b> According to recent
                                                                                    RBI guidelines, gift cards cannot
                                                                                    be<br> loaded with more than INR
                                                                                    10,000 for a beneficiary.</span>
                                                                            </h6>
                                                                            <% } %>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <!-- <div class="multiple-orders-table">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th class="multiple-order-heading" colspan="2">ORDER(S)
                                                                    SELECTED</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="orders-row-layout">
                                                                <td class="clm-layout">ID: <span
                                                                        id="newOrderId"><%- recurringOrderID %></span></td>
                                                                <td class="clm-layout">Amt:
                                                                    <span><%- totalAmount %></span></td>
                                                            </tr>

                                                            <tr class="coherent-rows">
                                                                <td><span><%- payoutDate %></span></td>
                                                            </tr>



                                                        </tbody>


                                                    </table>
                                                </div> -->



                                                <div id="preview-template" style="display: none">
                                                    <div class="dz-preview dz-file-preview">
                                                        <div class="dotted-line">

                                                            <div class="dz-details">
                                                                <img class="fileType" src="" alt="xls">
                                                                <div class="dz-filename"><span
                                                                        data-dz-name>payout.csv</span>
                                                                </div>
                                                                <div class="dz-progress"><span class="dz-upload"
                                                                        data-dz-uploadprogress></span>
                                                                </div>
                                                                <div class="dz-error-message"><span
                                                                        data-dz-errormessage>Error uploading file</span>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="row">

                                                <div class="col-xs-12 col-md-12">
                                                    <div class="x-medium-button pd-top-ten pd-bottom-ten">
                                                        <button id="add-payout-order"
                                                            class="btn btn-default btn-disabled" type="button" disabled>
                                                            UPLOAD FILE
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- File Upload End -->



                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">



                                <!-- Right Panel -->
                                <div class="panel-container">
                                    <h6>Need help?</h6>
                                    <div class="straight-line mg-tb-less">&nbsp;</div>
                                    <p class="opcity-reduce">
                                        You need to upload a file with the beneficiary list & details in an XLS, XLSX or
                                        CSV format.
                                    </p>
                                    <div class="header-preview pd-top-twenty pd-bottom-ten">
                                        <b>Download sample file</b>
                                    </div>
                                    <div class="download-img-list">

                                        <a href="/<%-excelFileDownload%>.xlsx"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                                                alt="Zeta icon" /></a>
                                        <a href="/<%-excelFileDownload%>.xls"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png"
                                                alt="Zeta icon" /></a>
                                        <a href="/<%-excelFileDownload%>.csv"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png"
                                                alt="Zeta icon" /></a>

                                    </div>
                                    <div class="header-preview pd-top-ten pd-bottom-ten">
                                        <b>Sample file preview</b>
                                    </div>
                                    <div class="preview-image-container">

                                        <a href="#" data-featherlight="/<%- previewImage %>">
                                            <img class="thumbnail img-responsive view-image " src="/<%- previewImage %>"
                                                alt="Zeta Preview" id="#mylightbox" />
                                        </a>

                                        <div class="image-preview">
                                            <img data-toggle="modal" data-target="#thumbnailModal" class="search-image"
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                                                alt="zeta search" />
                                        </div>
                                    </div>

                                    <% if(productType == 'LTA') { %>
                                    <div class="header-preview pd-top-twenty">
                                        <b>Documentation</b>
                                    </div>
                                    <p class="opcity-reduce">
                                        To learn how LTA works, <a
                                            href="https://docs.zetaapps.in/display/OND/LTA+Setup+Guidelines"
                                            target="_blank">click here</a>
                                    </p>
                                    <% } %>
                                </div>
                                <!-- Right Panel End -->
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Inner container End -->
            </div>
        </div>
        <!-- Container End -->
    </div>

    <!-- Modal Preview  -->
    <div tabindex="-1" class="modal fade" id="thumbnailModal" role="dialog">
        <div class="modal-dialog thumbnail-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">

                    <img class="thumbnail img-responsive view-image" src="/<%- previewImage %>" alt="Zeta Preview" />

                </div>
            </div>
        </div>
    </div>
    <!-- Modal Preview End -->


    <!-- Modal Box Transfer Initiated success -->
    <div class="modal fade" id="myModalInitiatedSuccess" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png"
                                alt="Zeta icon"></div>
                        <h4 class="text-center pd-bottom-zero">Payout added successfully</h4>

                    </div>
                    <div class="modal-footer">
                        <div class="flexible-button">
                            <a class="btn btn-default"
                                href="/companies/<%- companyID %>/optima/<%- benefitDetails.programID %>#transferOrders">DONE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Box Transfer Initiated success End -->
    <!-- Modal Oops Transfer  -->
    <div class="modal fade" id="myModalOops" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png"
                                alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Oops. We could not initiate transfer</h4>
                        <div class="modal-heading-pdtb" align="center">
                            <div class="heading-sub-text">This error is usually temporary and can be due to your
                                Internet connection or something wrong at our end. Trying within few minutes should
                                work. If the problem still persists please try again later or contact us on
                                <%= locals.country_details && country_details.supportEmail ? country_details.supportEmail : 'support@zeta.in' %>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="flexible-button">
                            <button class="btn btn-default" type="button" name="" value="" id="retryBtn">Try
                                Again</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Loader  -->
    <div class="modal fade" id="myModalLoader" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&nbsp;</span>
                    </button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img width="32"
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif"
                                alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Creating Payout Order. Please wait...</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Loader End  -->
    <% include common/html-script %>
    <script src="/dist/scripts/newTransfer.js"></script>
    <script src="/lib/moment/moment.js"></script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>

</body>


</html>
