<% include common/html-head %>

    <body>
        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">

                    <div class="row">
                        <% include common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <!-- Banner -->
                                <div class="banner-section gradient-indigo-blue">
                                    <div class="row row-to-table">
                                        <div class="col-xs-7 col-md-7 float-to-column">
                                            <div class="page-heading">
                                                <h1>Admin Console</h1>
                                                <p class="mg-bottom-zero">
                                                    <span class="document-quote-text opacity-point-seven">Manage your corporate structure, funding accounts and control access given to programs and applications.</span>
                                                    <a class="learn-more-link learn-more-size underline-text" target="_blank" href="https://docs.zetaapps.in/display/OND/Administering+Corporate+Entities">Learn more</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-md-5 float-to-column position-relative" align="right">
                                            <div class="banner-image-pos"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="top-section">

                                    <div class="row">
                                        <!-- Page Heading and List -->
                                        <div class="col-xs-12 col-md-12">
                                            <div class="page-sub-heading">
                                                <h2 class="manage-txt">Manage </h2>
                                            </div>
                                            <!-- Cards -->
                                            <div class="cards-row manage-panel clearfix">
                                                <div class="cards-column-one">
                                                    <a class="common-link" data-event="Manage Companies" id="manage_companies" href='admin/companies'>
                                                        <div class="thumbnail cards-container">
                                                            <div class="card-image-part" align="center">
                                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/manage-company.png" alt="Zeta image" />
                                                            </div>
                                                            <div class="caption card-text-part">
                                                                <div class="admin-heading-txt">Companies</div>
                                                                <div class="page-sub-heading">
                                                                    <p>Manage your companies, programs and administrators</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!--  <div class="cards-column-two">
                                                    <a class="common-link" href='/admin/funding-accounts'>
                                                        <div class="thumbnail cards-container">
                                                            <div class="card-image-part" align="center">
                                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/funding-accounts.png" alt="Zeta image" />
                                                            </div>
                                                            <div class="caption card-text-part">
                                                                <div class="admin-heading-txt">Funding Accounts</div>
                                                                <div class="page-sub-heading">
                                                                    <p>Manage your accounts, add funds and download reports</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div> -->
                                                <div class="cards-column-three">
                                                    <a class="common-link" data-event="Access Control" id="access_control" href='/admin/access-control'>
                                                        <div class="thumbnail cards-container">
                                                            <div class="card-image-part" align="center">
                                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/manage-access-control.png" alt="Zeta image" />
                                                            </div>
                                                            <div class="caption card-text-part">
                                                                <div class="admin-heading-txt">Access Control</div>
                                                                <div class="page-sub-heading">
                                                                    <p>Manage your access to various programs and applications </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <!-- Cards End -->
                                        </div>
                                        <!-- Page Heading and List End -->
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="straight-line">&nbsp;</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="page-sub-heading">
                                                <h2 class="sub-heading-pdb corporate-txt">Corporate</h2>
                                            </div>
                                            <!-- Cards -->
                                            <div class="media card-business-container">
                                                <div class="media-left">
                                                    <div class="box-image">
                                                        <!-- <span class="list-one">&nbsp;</span> -->
                                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/business-default.png" alt="Zeta Image" />
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="col-sm-8">
                                                        <h4 class="media-heading text-bold">
                                                            <%- corp.name %>
                                                        </h4>
                                                        <div>Corporate ID :
                                                            <%- corp.id %>
                                                        </div>
                                                        <!-- <a class="default-link" href="#">www.apple.com</a> --></div>
                                                    <!-- <div class="col-sm-3 admin-corporate--action"><img class="admin-corporate-edit-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/edit-icon.svg"/><a><span class="admin-corporate-edit">EDIT</span></a></div> -->
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                            <!-- Cards End -->
                                        </div>
                                    </div>
                                    <!-- last login  -->
                                    <% include common/time-footer %>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>


        <% include common/html-script %>


            <script src="../dist/scripts/admin.js"></script>

            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>

    </body>

    </html>