<% include common/html-head %>

    <body>
        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <!-- Banner Start -->
                                <div class="top-section gradient-indigo-blue">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-9 col-md-9">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <li><a href="/admin">Admin Console</a></li>
                                                    <li><a href="/admin/companies">Companies</a></li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                            <!-- <div class="col-xs-3 col-xs-3">
                                <div class="nav-justified">
                                  <ul class="nav nav-pills navbar-right">
                                      <li><a class="pd-tb-zero text-uppercase" href="#"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/gear.png"  alt="Zeta Setting Icon"/> Edit</a></li>
                                  </ul>
                                </div>
                            </div> -->
                                        </div>
                                        <!-- Breadcrumb End -->
                                        <!-- Popover -->
                                        <!-- <div class="row">
                          <div class="col-xs-12 col-md-12 text-right">
                            <div class="popover-content">
                              <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                                  <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                              </span>
                            </div>
                          </div>
                        </div> -->
                                        <!-- Popover End -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="page-heading">
                                                    <% if(typeof companyDetails.name != 'undefined') { %>
                                                        <h1 class="pd-top-ten">
                                                            <%- companyDetails.name %>
                                                        </h1>
                                                        <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pd-top-list">
                                            <!-- Page Heading and List -->
                                            <div class="col-xs-12 col-md-12">
                                                <div class="page-heading">
                                                    <div class="heading-list-typethree">
                                                        <ul class="list-unstyled mg-bottom-zero lastChild-lineHeight">
                                                            <!--<% if(typeof companyDetails.name != 'undefined') { %>
                                            <li><span class="list-one">&nbsp;</span>
                                                <small>Company Name:</small> <%- companyDetails.name %></li>
                                            <% } %>-->
                                                            <% if(typeof companyDetails.streetAddress != 'undefined' || typeof companyDetails.city != 'undefined' || typeof companyDetails.state != 'undefined' || typeof companyDetails.country != 'undefined' || typeof companyDetails.pincode != 'undefined') { %>
                                                                <li><span class="list-two">&nbsp;</span>
                                                                    <small>Address:
                                                </small>
                                                                    <%- companyDetails.streetAddress %>
                                                                        <%- companyDetails.city %>
                                                                            <%- companyDetails.state %>
                                                                                <%- companyDetails.country %>
                                                                                    <%- companyDetails.pincode %>
                                                                </li>
                                                                <% } %>
                                                                    <!-- <li><span class="list-three">&nbsp;</span> <small>CIN:</small>  9143JSN/SGW4</li>
                                            <li class="line-height-zero"><span class="list-four">&nbsp;</span> <small>PAN:</small> AAGPQ7452D</li> -->
                                                        </ul>
                                                    </div>
                                                    <!-- <div class="x-medium-button pd-top-ten">
                                        <button class="btn btn-default" type="button" name="" value="" id="">New Transfer</button>
                                    </div> -->
                                                </div>
                                            </div>
                                            <!-- Page Heading and List End -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="sub-container">
                                    <!-- <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="page-sub-heading">
                                <h2 class="sub-heading-pdb">Programs</h2>
                            </div>
                        </div>
                    </div> -->
                                    <!-- Tabs -->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="tabs-nav-container tabbable-panel">
                                                <div class="tabbable-line">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#tab_default_1" data-toggle="tab">
                                                Active Programs
                                            </a>
                                                        </li>
                                                        <% if(closedCards.length) { %>
                                                            <li>
                                                                <a href="#tab_default_2" data-toggle="tab">
                                                Closed Programs
                                            </a>
                                                            </li>
                                                            <% } %>
                                                                <!-- <li>
                                              <a href="#tab_default_2" data-toggle="tab">
                                                Rewards & Recognition
                                              </a>
                                        </li>
                                        <li>
                                              <a href="#tab_default_3" data-toggle="tab">
                                                Expense Management
                                              </a>
                                        </li>
                                        <li>
                                              <a href="#tab_default_4" data-toggle="tab">
                                                Partner & Vendor Payments
                                              </a>
                                        </li>
                                        <li>
                                              <a href="#tab_default_5" data-toggle="tab">
                                                Corporate Gifting
                                              </a>
                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Tabs End -->
                                    <div class="tab-content">
                                        <!-- First Tab -->
                                        <div class="tab-pane active" id="tab_default_1">
                                            <% if(activeCards.programs && activeCards.programs.length) { %>
                                                <div class="cards-row">
                                                    <% for(var currIndex=0; currIndex< activeCards.programs.length; currIndex++) {%>
                                                        <% include section/benefits/active-cards %>
                                                            <% } %>
                                                </div>
                                                <div class="clearfix"></div>
                                                <% } %>
                                        </div>
                                        <!-- First Tab End -->
                                        <!-- Second Tab -->
                                        <div class="tab-pane" id="tab_default_2">
                                            <% if(closedCards && closedCards.length) { %>
                                                <div class="cards-row">
                                                    <% for(var currIndex=0; currIndex< closedCards.length; currIndex++) { %>
                                                        <% include section/benefits/closed-cards-admin %>
                                                            <% } %>
                                                </div>
                                                <div class="clearfix"></div>
                                                <% } %>
                                        </div>
                                        <!-- Second Tab End -->
                                        <!-- Thired Tab -->
                                        <div class="tab-pane" id="tab_default_3">

                                        </div>
                                        <!-- Second Tab End -->
                                    </div>
                                </div>
                                <% if(typeof companyDetails.numberOfEmployees != 'undefined') { %>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="page-sub-heading">
                                                <h2 class="sub-heading-pdb">Beneficiaries</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-md-3">
                                            <div class="media count-details count-name">
                                                <div class="media-left">
                                                    <h4 class="media-heading font-size-large">
                                                        <%- companyDetails.numberOfEmployees %>
                                                    </h4>
                                                </div>
                                                <div class="media-body">
                                                    <div class="page-sub-heading">
                                                        <p>Beneficiaries</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <!-- last login  -->
                                        <% include common/time-footer %>
                            </div>
                    </div>
                    <!-- Inner container End -->
                </div>
                <!-- Container End -->
        </div>

        <% include common/html-script %>

            <script src="../../dist/scripts/admin.js"></script>

            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>

    </body>

    </html>