<% include common/html-head %>

    <body>
        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <!-- Banner -->
                                <div class="banner-section gradient-indigo-blue">
                                    <!-- Breadcrumb -->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <ul class="breadcrumb">
                                                <li><a href="/admin">Admin Console</a></li>
                                                <li></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Breadcrumb End -->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="page-heading">
                                                <h1 class="pd-bottom-ten">Companies</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- Page Heading and List -->
                                        <div class="col-xs-8 col-md-8">
                                            <div class="page-heading">
                                                <p class="para-lead">
                                                    <span class="para-lead-text"><%- typeof templateData.pageHeading != 'undefined' && templateData.pageHeading ? templateData.pageHeading : 'Create companies in Zeta if your business has multiple legal entities and you wish to seperate their benefits, rewards and expenses programs accordingly.' %></span>
                                                    <a class="learn-more-link learn-more-size" target="_blank" href="https://docs.zetaapps.in/display/OND/Administering+Corporate+Entities#AdministeringCorporateEntities-ManageCompanies">Learn more</a>
                                                </p>
                                            </div>
                                        </div>
                                        <!-- <div class="col-xs-4 col-md-4">
                            <div class="x-medium-button" align="right">
                              <button class="btn btn-secondary text-uppercase" type="button"  data-target="#myModalNewCompany" data-toggle="modal" id="openAddCompanyModal" name="" value="" id=""> <strong>+</strong> ADD A COMPANY</button>
                            </div>
                        </div> -->
                                        <!-- Page Heading and List End -->
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="sub-container">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="inner-sub-container page-sub-heading">
                                                <!-- Filter -->
                                                <div class="row">
                                                    <div class="filter-section">
                                                        <div class="col-xs-5 col-md-5">


                                                            <!-- <div class="custom-searchbox">
                                                <div class="input-group stylish-input-group">
                                                    <input id="searchBox" type="text" class="form-control" placeholder="Search by Company">
                                                    <span class="input-group-addon">
                                                      <button id="searchBtn" type="button">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                      </button>
                                                    </span>
                                                </div>
                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Filter End -->
                                                <!-- Table -->
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">

                                                        <table class="custom-table small-table mv-table-view custom-table-margin no-of-beneficiaries">
                                                            <thead>
                                                                <tr class="hover-remove">
                                                                    <th width="50%">COMPANY</th>
                                                                    <!-- <th>PAN</th>
                                                      <th width="20%">CIN</th> -->
                                                                    <th class="arrow-icon">No. of Beneficiaries</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="main-content" style="">
                                                                <% for(var currIndex=0; currIndex<companies.length; currIndex++) {%>
                                                                    <tr onclick="document.location.href='/admin/companies/<%- companies[currIndex].company.companyID %>';" class="admin-companies">
                                                                        <td class="profile-details company-name">
                                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/business-default.png" alt="Zeta Profile">
                                                                            <span>
                                                    <a href="/admin/companies/<%- companies[currIndex].company.companyID %>" class="text">
                                                      <strong><%- companies[currIndex].company.companyName %></strong>
                                                    </a>
                                                  </span>
                                                                            <!-- <span class="tel" title="+919819675012">DROP</span> -->
                                                                        </td>
                                                                        <!-- <td>Alphabet Inc.,</td>
                                              <td width="20%">
                                                  <a href="" class="tooltip-title">
                                                      reer324234134
                                                  </a>
                                              </td> -->

                                                                        <td class="arrow-icon">
                                                                            <%- companies[currIndex].totalEmployees %>
                                                                        </td>
                                                                        <!-- <td class="multiple-cards-section">
                                                          <a href="" class="tooltip-title">
                                                              <img src="https://card-program-files.s3.amazonaws.com/fuelcard.png" alt="Zeta Cards">
                                                              <span class="tooltip-view">
                                               -->
                                                                        <!-- Tooltip Content  -->
                                                                        <!--                       <div class="tooltip-lrtb-pd">
                                                                        <div class="row">
                                                                            <div class="col-xs-12 col-md-12"> Fuel Card </div>
                                                                        </div>
                                                                    </div>
                                               -->
                                                                        <!-- Tooltip Content End -->
                                                                        <!--                </span>
                                                          </a>

                                              </td>
                                          </tr> -->
                                                                        <% } %>
                                                            </tbody>
                                                            <tbody class="loading-content" style="display: none;">
                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>

                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>

                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>


                                                            </tbody>
                                                        </table>


                                                    </div>
                                                </div>
                                                <!-- Table End -->
                                                <!-- <div align="center" class="row paging-container">
                                  <div class="pagination-container">
                                      <div class="col-xs-12 col-md-12">
                                          <nav aria-label="...">
                                              <ul class="pager">
                                                  <li><a href="javascript:void(0);" class="go-prev"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/stroke-441.png" alt="Zeta icon"></a></li>


                                                  <li><a data-pageno="1" class="paging-item active" href="javascript:void(0)" style="">1</a></li>



                                                  <li><a data-pageno="2" class="paging-item" href="javascript:void(0)" style="">2</a></li>



                                                  <li><a data-pageno="3" class="paging-item" href="javascript:void(0)" style="">3</a></li>



                                                  <li><a data-pageno="4" class="paging-item" href="javascript:void(0)" style="">4</a></li>



                                                  <li><a data-pageno="5" class="paging-item" href="javascript:void(0)" style="">5</a></li>



                                                  <li><a data-pageno="6" class="paging-item" href="javascript:void(0)" style="display: none;">6</a></li>



                                                  <li><a data-pageno="7" class="paging-item" href="javascript:void(0)" style="display: none;">7</a></li>



                                                  <li><a data-pageno="8" class="paging-item" href="javascript:void(0)" style="display: none;">8</a></li>



                                                  <li><a data-pageno="9" class="paging-item" href="javascript:void(0)" style="display: none;">9</a></li>



                                                  <li><a data-pageno="10" class="paging-item" href="javascript:void(0)" style="display: none;">10</a></li>



                                                  <li><a data-pageno="11" class="paging-item" href="javascript:void(0)" style="display: none;">11</a></li>



                                                  <li><a data-pageno="12" class="paging-item" href="javascript:void(0)" style="display: none;">12</a></li>



                                                  <li><a data-pageno="13" class="paging-item" href="javascript:void(0)" style="display: none;">13</a></li>



                                                  <li><a data-pageno="14" class="paging-item" href="javascript:void(0)" style="display: none;">14</a></li>



                                                  <li><a data-pageno="15" class="paging-item" href="javascript:void(0)" style="display: none;">15</a></li>



                                                  <li><a data-pageno="16" class="paging-item" href="javascript:void(0)" style="display: none;">16</a></li>



                                                  <li><a data-pageno="17" class="paging-item" href="javascript:void(0)" style="display: none;">17</a></li>



                                                  <li><a data-pageno="18" class="paging-item" href="javascript:void(0)" style="display: none;">18</a></li>



                                                  <li><a data-pageno="19" class="paging-item" href="javascript:void(0)" style="display: none;">19</a></li>



                                                  <li><a data-pageno="20" class="paging-item" href="javascript:void(0)" style="display: none;">20</a></li>



                                                  <li><a data-pageno="21" class="paging-item" href="javascript:void(0)" style="display: none;">21</a></li>



                                                  <li><a data-pageno="22" class="paging-item" href="javascript:void(0)" style="display: none;">22</a></li>



                                                  <li><a data-pageno="23" class="paging-item" href="javascript:void(0)" style="display: none;">23</a></li>



                                                  <li><a data-pageno="24" class="paging-item" href="javascript:void(0)" style="display: none;">24</a></li>



                                                  <li><a data-pageno="25" class="paging-item" href="javascript:void(0)" style="display: none;">25</a></li>



                                                  <li><a data-pageno="26" class="paging-item" href="javascript:void(0)" style="display: none;">26</a></li>



                                                  <li><a data-pageno="27" class="paging-item" href="javascript:void(0)" style="display: none;">27</a></li>



                                                  <li><a data-pageno="28" class="paging-item" href="javascript:void(0)" style="display: none;">28</a></li>



                                                  <li><a data-pageno="29" class="paging-item" href="javascript:void(0)" style="display: none;">29</a></li>



                                                  <li><a data-pageno="30" class="paging-item" href="javascript:void(0)" style="display: none;">30</a></li>



                                                  <li><a data-pageno="31" class="paging-item" href="javascript:void(0)" style="display: none;">31</a></li>



                                                  <li><a data-pageno="32" class="paging-item" href="javascript:void(0)" style="display: none;">32</a></li>



                                                  <li><a data-pageno="33" class="paging-item" href="javascript:void(0)" style="display: none;">33</a></li>



                                                  <li><a data-pageno="34" class="paging-item" href="javascript:void(0)" style="display: none;">34</a></li>



                                                  <li><a data-pageno="35" class="paging-item" href="javascript:void(0)" style="display: none;">35</a></li>



                                                  <li><a data-pageno="36" class="paging-item" href="javascript:void(0)" style="display: none;">36</a></li>



                                                  <li><a data-pageno="37" class="paging-item" href="javascript:void(0)" style="display: none;">37</a></li>



                                                  <li><a data-pageno="38" class="paging-item" href="javascript:void(0)" style="display: none;">38</a></li>



                                                  <li><a data-pageno="39" class="paging-item" href="javascript:void(0)" style="display: none;">39</a></li>



                                                  <li><a data-pageno="40" class="paging-item" href="javascript:void(0)" style="display: none;">40</a></li>



                                                  <li><a data-pageno="41" class="paging-item" href="javascript:void(0)" style="display: none;">41</a></li>



                                                  <li><a data-pageno="42" class="paging-item" href="javascript:void(0)" style="display: none;">42</a></li>



                                                  <li><a data-pageno="43" class="paging-item" href="javascript:void(0)" style="display: none;">43</a></li>



                                                  <li><a data-pageno="44" class="paging-item" href="javascript:void(0)" style="display: none;">44</a></li>



                                                  <li><a data-pageno="45" class="paging-item" href="javascript:void(0)" style="display: none;">45</a></li>



                                                  <li><a data-pageno="46" class="paging-item" href="javascript:void(0)" style="display: none;">46</a></li>


                                                  <li><a href="javascript:void(0);" class="go-next"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/stroke-441-right.png" alt="Zeta icon"></a></li>
                                              </ul>
                                          </nav>
                                      </div>
                                  </div></div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- last login  -->
                                    <% include common/time-footer %>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <!-- Modal New Company -->
        <div class="modal fade" id="myModalNewCompany" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero">Open a new Funding Account</h4>
                            <div align="center" class="modal-heading-pdtb">
                                <div class="heading-sub-text">
                                    With funding accounts your funds are instantly updated when you transfer money via IMPS/NEFT.
                                </div>
                            </div>
                            <div class="modalbox-form-section">
                                <form class="pd-top-twenty">
                                    <div class="form-group">
                                        <label class="control-label" for="recipient-name">Account Name</label> <input class="form-control" id="recipient-name" type="text">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button disabled class="btn btn-default btn-disabled" id="openNewFundAcc" name="" type="button" value="">OPEN ACCOUNT
                        </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal New Company End -->


        <% include common/html-script %>


            <script src="../dist/scripts/admin.js"></script>

            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })

                // Ellipsis Start
                /*(function () {
    $(function () {
        return $('.ellipsis').mouseenter(function () {
            var innerW, offset, spanW;
            innerW = $('.inner', this).width();
            spanW = $('span', this).width();
            if (spanW > innerW + 1) {
                offset = spanW - innerW;
                return $('.inner', this).css('text-indent', -offset);
            }
        }).mouseleave(function () {
            return $('.inner', this).removeAttr('style');
        });
    });
}.call(this));*/
                // Ellipsis End
            </script>

    </body>

    </html>