<div class="modal-dialog custom-modalbox programs-linked-modal" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
        </div>
        <div class="pad-left-right-zero custom-modal-body">
            <div class="modal-body">
                <% if(whitelistedCorpBankAccounts.length > 1) { %>
                    <h4 class="text-center">Your Authorised Bank Accounts</h4>
                    <table class="custom-table mv-table-view">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>A/c Name</th>
                                <th>A/c No</th>
                                <th>IFSC Code</th>
                            </tr>
                        </thead>
                        <tbody class="main-content">
                            <% for(var currAccnt = 0; currAccnt < whitelistedCorpBankAccounts.length;currAccnt++) { %>
                                <tr>
                                    <td><%- currAccnt + 1 %></td>
                                    <td><%- whitelistedCorpBankAccounts[currAccnt].accountName %></td>
                                    <td><%- whitelistedCorpBankAccounts[currAccnt].accountNumber %></td>
                                    <td><%- whitelistedCorpBankAccounts[currAccnt].ifscCode %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                <% } %>
                <% if(whitelistedCorpBankAccounts.length == 0) { %>
                <div class=' pad-top-10 autorized-banks-modla-note'>
                        <div class="text-center"><img src="/images/no-bank-account-found.png" alt="Bank icon" /></div>
                    <p class="para-middle">You don’t have any authorised bank accounts</p>
                    <p class="para-below">To authorise a new bank account, please contact us on support@zeta.in</p>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>