<% include common/html-head %>

    <body>
        <input type="hidden" id="transferId" value="<%- programID%>">
        <input type="hidden" id="productType" value="<%- cardProgramObject.productType%>">
        <input type="hidden" id="cardProgramID" value="<%- cardProgramObject.cardProgramID%>">
        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container tabContainer">
                                <% include section/benefits/benefit-details-banner %>
                                    <div class="col-xs-12 col-md-12 program">
                                        <div class="tabs-nav-container tabbable-panel">
                                            <div class="tabbable-line">
                                                <ul class="nav nav-tabs ">
                                                    <li class="active">
                                                        <a href="#over-view" id="overview" data-toggle="tab" onclick="return false;">
                                        Overview
                                    </a>
                                                    </li>
                                                    <li>
                                                        <a href="#transfer-orders" id="transferOrders" data-toggle="tab" onclick="return false;">
                                        Transfer Orders
                                    </a>
                                                    </li>
                                                    <li>
                                                        <a href="#transfer-report" id="transferReports" data-toggle="tab" onclick="return false;">
                                        Transfer Report
                                    </a>
                                                    </li>
                                                    <li>
                                                        <a href="#beneficiaries-info" id="beneficiaries" data-toggle="tab" onclick="return false;">
                                        Beneficiaries
                                    </a>
                                                    </li>
                                                    <% if((cardProgramObject.spendConfiguration.channels.allowReimbursement && cardProgramObject.productType.toLowerCase() !== 'meal' && cardProgramObject.productType.toLowerCase() !== 'cashlesscafeteria') && !(locals.countryVar && countryVar == "isSodexoPh")) { %>
                                                        <li>
                                                            <a href="#reimbursements-info" id="reimbursements" data-toggle="tab">
                                                                Claims
                                                            </a>
                                                        </li>
                                                        <% } %>
                                                        <% if(programSetupEnabled && !checkGenie && cardProgramObject.productType.toLowerCase() !== 'otmeal' && cardProgramObject.productType.toLowerCase() !== 'sodexo_cafeteria' && !(locals.countryVar && countryVar == "isSodexoPh")) { %>
                                                            <li>
                                                                <a href="#program-settings" id="settings" data-toggle="tab">
                                                Settings
                                            </a>
                                                            </li>
                                                        <% } %>
                                                        <% if(cardProgramObject.productType.toLowerCase() == 'otmeal' || cardProgramObject.productType.toLowerCase() == 'sodexo_cafeteria' && !(locals.countryVar && countryVar == "isSodexoPh")) { %>
                                                            <li> <a href="#program-settings" id="spend-settings" data-toggle="tab">Settings</a></li>
                                                        <% } %>
                                                            <!-- <li>
                                    <a href="#tab_default_5" id="accTab" data-toggle="tab">
                                        Claims
                                    </a>
                                </li> -->
                                                </ul>
                                            </div>
                                        </div>
                                        <input type="hidden" id="programSetupEnabled" value="<%- programSetupEnabled %>">
                                    </div>

                                    <div class="sub-container">
                                        <div class="row">

                                            <div class="tab-content">

                                                <% include section/benefit-details/overview %>

                                                    <% include section/benefit-details/transfer-orders %>

                                                        <% include section/benefit-details/transfer-report %>

                                                            <% include section/benefit-details/beneficiaries %>

                                                                <% if(cardProgramObject.spendConfiguration.channels.allowReimbursement && cardProgramObject.productType.toLowerCase() !== 'meal' && cardProgramObject.productType.toLowerCase() !== 'cashlesscafeteria') { %>
                                                                    <% include section/benefit-details/reimbursement %>
                                                                        <% } %>
                                                                        <% if(programSetupEnabled && !checkGenie && cardProgramObject.productType != 'OTmeal' && cardProgramObject.productType.toLowerCase() !== 'sodexo_cafeteria') { %>
                                                                            <% include section/benefit-details/settings %>
                                                                        <% } %>
                                                                        <% if(programSetupEnabled && !checkGenie && (cardProgramObject.productType == 'OTmeal' || cardProgramObject.productType.toLowerCase() == 'sodexo_cafeteria')) { %>
                                                                            <% include section/benefit-details/spend-settings %>
                                                                        <% } %>
                                                                        
                                            </div>

                                        </div>
                                        <!-- last login -->
                                        <% include common/time-footer %>
                                    </div>
                            </div>

                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>



        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" data-backdrop="static" id="closeCardSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Card closed successfully</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a href=''>
                                    <button class="btn btn-default" type="button">Done</button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Box Transfer Initiated success End -->
        <!--- revoke modal -->
        <div class="modal fade" data-backdrop="static" id="revokePayoutConfirm" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero">Are you sure that you want to revoke this payout?</h4>
                        </div>
                        <% if(corpID) { %>
                            <div class="form-group">
                                <textarea style="margin-top:30px;height:100px;" class="form-control" type="text" maxlength="500" placeholder="Please provide a reason to revoke" cols="50" row="4"></textarea>
                            </div>
                            <% } %>
                                <div class="modal-footer">
                                    <div class="flexible-button cancel-order">
                                        <button class="btn btn-default confirm" type="button">Yes</button>
                                        <button class="btn btn-default reset" type="button">No</button>
                                    </div>
                                </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- revoke modal end -->
        <!-- Modal Loader  -->
        <div class="modal fade" id="closeCardLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="closeCardError" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Oops. Close card failed.</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text">
                                    This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on support@zeta.in
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <!-- Modal Box For GST Invoise Coming -->
        <div class="modal fade" id="gstInvoiseModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="close_Me" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body gst-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Coming soon!</h4>
                            <div class='gst-modal-desc'>We are currently upgrading our invoicing system to reflect GST. Invoices with GST details will be available by 31st of July.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Box For GST Invoise Coming -->

        <!-- beneficiray-statement-commingsoon-modal  -->
        <!-- <div class="modal fade" id="beneficiaryStatement" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="beneficiary-cntr">
                        <img src="../../../images/statements-coming-soon.png" alt="">
                        <div class="heading-txt">
                            Beneficiary statements are getting an upgrade
                        </div>
                        <div class="content-txt">
                            We heard your feedback and are making some changes to the beneficiary statements. We will launch this feature soon.
                        </div>
                        <div class="sub-content">
                            Meanwhile, if you need any help, please email us on <span>support@zeta.in</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- beneficiray-statement-commingsoon-modal-ends-->
        <!--- individual beneficiary card details -->
        <div class="modal fade" id="cardProgramIndividualBeneficiary" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog custom-modalbox-new" role="document">
                <div class="modal-content left-right-pad">
                    <!-- <div class="custom-modal-header modified-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true" class="cross-size-fortyfive">&times;</span></button>
                        </div> -->
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <input type="hidden" id="selected-employee-id">
                            <input type="hidden" id="selected-company-id">
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <div class="user-profile-container">
                                        <div class="profile-img-cell">
                                            <img id="beneficiary-pic" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/profiledp-doc.png" alt="Zeta User Image">
                                        </div>
                                        <div class="profile-name-cell pad-top-twelve">
                                            <div class="profile-heading modal-name profile-heading-line" id="beneficiary-Name">
                                            </div>
                                            <div class="profile-subHeading modal-subheading" id="beneficiary-companyName">
                                            </div>
                                            <div class="profile-subHeading modal-profileLink pad-top-six" id="beneficiary-profileUrl">
                                                <a id="profileUrl" href="">View Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true" class="cross-size-fortyfive">&times;</span></button>
                                    <!-- <span aria-hidden="true" id="custom-modal-close" class="cross-size-fortyfive" style="
                                                text-align:  right;
                                                float: right;
                                                cursor:  pointer;
                                                font-weight: 600;
                                                border-radius: 2.7px;
                                                color: #8c8793;
                                                /* background-color: #8c8793; */
                                            ">×</span> -->
                                </div>
                            </div>
                            <div class="row amount-type" id="schedule-amount-id">
                                <% include section/benefit-details/individualBeneficiaryDetails/schedule-upper %>
                                    <div class="row amount-table-pos" id="scheduled-amount-table">
                                        <!-- schedule table area -->
                                    </div>
                            </div>
                            <div class="row amount-type" id="waiting-amount-id">
                                <% include section/benefit-details/individualBeneficiaryDetails/waiting-upper %>
                                    <div class="row amount-table-pos" id="waiting-amount-table">
                                        <!-- waiting table area -->
                                    </div>
                            </div>
                            <div class="row amount-type" id="canceled-amount-id">
                                <% include section/benefit-details/individualBeneficiaryDetails/canceled-upper %>
                                    <div class="row amount-table-pos" id="canceled-amount-table">
                                        <!-- cancel table area -->
                                    </div>
                            </div>
                            <div id="no-of-cardIssued"></div>
                            <div class="all-cards-area" id="all-cards-areaId">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--- end -->

        <div class="modal fade" id="beneficiaryStatement" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox download-statement-modal" role="document">
                <div class="modal-content" style="width: 498px;margin-left: 40px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="beneficiary-cntr-download">
                        <div class="heading-txt">
                            Download Statement for <span id="employee-benefit-name" class="text-capitalize"> </span>
                        </div>
                        <form class="pd-top-twenty padding-download-statement">
                            <div class="fundaccerror-state" id="showDownloadStatementError" style="display:none;text-align: center;padding-bottom: 10px;">
                                <img class="img-error" style=" width: 16px;margin-right: 5px; margin-bottom: 2px;" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon-log.png" alt="">
                                <span class="span" style="color: #e74c3c;text-align: center;font-size: 14px; " id="showDownloadStatementErrorMsg">
                                        Failed. Server Error. Please try again or later
                                    </span>
                            </div>
                            <label for="recipient-name" class="control-label">Date Range</label>
                            <div class="form-group date-picker">
                                <div class="input-group">
                                    <input type="text" name="daterange1" class="form-control datepicker-img statement-btn-single" id="tranferPeriod" placeholder="Select date range by Date Picker" value="" readonly="" style="width:416px">
                                </div>
                            </div>
                            <div class="modal-footer" style="padding:0px">
                                <div class="flexible-button">
                                    <button class="btn btn-default submit-btn-disabled" type="button" id="downloadStatementSingle" data-useremail="" data-companyname="" data-username="" data-cardprogramid="" data-zetauserid="" data-cardid="" disabled="disabled">DOWNLOAD STATEMENT</button>
                                    <img class="add-user-loader" id="downloadStatementLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg" style="display: none;">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <% include common/html-script %>
            <div style="display:none">
                <script type='text/javascript'>
                    var localData = <%- JSON.stringify(allFundingAccountName) %>
                    localStorage.setItem('allFundingAccountName', JSON.stringify(localData));
                </script>
            </div>
            <link type="text/css" href="../../../scss/pages/jquery.multiselect.css" rel="stylesheet" />
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" defer></script>
            <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDMv5vpzW8hy8bH54-Mih6Xflgy587xCAI' defer></script>
            <script type='text/javascript' async src='/lib/visualize.js'></script>
            <script src="/dist/scripts/benefitDetails.js"></script>
            <script src="/dist/scripts/employeeDetails.js"></script>
            <script src="/dist/scripts/cardProgramIndividualBeneficiary.js"></script>

            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>

    </body>

    </html>