<% include common/html-head %>

    <body>
        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <input type="hidden" id="selected_comp_info" data-value='<%- JSON.stringify(selected_comp_info) %>'>
                                <% include section/benefits/benefits-home-banner %>
                                    <div class="top-section">
                                        <div class="row">
                                            <!-- Page Heading and List -->
                                            <div class="col-xs-12 col-md-12">
                                                <% if(activeCards.programs.length) { %>
                                                    <div class="col-xs-12 col-md-12 xyz">
                                                        <div class="row">
                                                            <div class="tabs-nav-container tabbable-panel panel-tpd-zero">
                                                                <div class="tabbable-line">
                                                                    <ul class="nav nav-tabs ">
                                                                        <li class="active">
                                                                            <a href="#tab_default_1" data-toggle="tab" aria-expanded="true">
                                                                                Active Programs
                                                                            </a>
                                                                        </li>

                                                                            <li class="">
                                                                                <a href="#tab_default_2" id="closedCards" data-toggle="tab" aria-expanded="false">
                                                                                Inactive Programs
                                                                            </a>
                                                                            </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <!-- Cards -->
                                                        <div class="tab-content">
                                                                <div id="tab_default_1" class="tab-pane active">
                                                                    <% if(activeCards.programs && activeCards.programs.length > 0) { %>
                                                                        <div class="cards-row active-cards-tab">
                                                                            <% for(var currIndex=0; currIndex< activeCards.programs.length; currIndex++) {%>
                                                                                <% include section/benefits/active-cards %>
                                                                                    <% } %>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                        <% if(totalProgramPages > 1) { %> 
                                                                            <div class="small-button small-btn-container" align="center">
                                                                                <button id="activeProgramsTab" class="btn btn-secondary text-uppercase" type="button" data-programtype="" data-programname="" data-toggle="" data-target="">Load More</button>
                                                                            </div>
                                                                            <div class="small-button small-btn-container" style="display:none" id="no-more-active-text" align="center">
                                                                                No more active programs available.
                                                                            </div>
                                                                            <% } %>
                                                                        <% } %>
                                                                </div>
                                                                <div id="tab_default_2" class="tab-pane">
                                                                        <div class="cards-row closed-cards-tab"></div>
                                                                        <div class="small-button small-btn-container" align="center">
                                                                            <button id="closedProgramsTab" class="btn btn-secondary text-uppercase" type="button" data-programtype="" data-programname="" data-toggle="" data-target="">Load More</button>
                                                                        </div>
                                                                        <div class="small-button small-btn-container" style="display:none" id="no-more-closed-text" align="center">
                                                                            No more inactive programs available.
                                                                        </div>
                                                                </div>

                                                        </div>
                                                        <div class="recommended-programs">
                                                            <!-- Cards End -->
                                                            <% if(recommondedCardPrograms.length > 0) { %>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-12">
                                                                    <div class="straight-line">&nbsp;</div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-7 col-md-7">
                                                                    <div class="page-sub-heading">
                                                                        <h2>Set-up Benefits</h2>
                                                                        <p class="pd-top-ten">Beneficiaries benefits are a great way to take care of your team and can help your company stay competitive in the job market.</p>
                                                                    </div>
                                                                </div>
                                                                <div class="ifi-logo-details col-xs-5 col-md-5 text-right">
                                                                                        <span class="text-right">
                                                                                            <% if(IFIsBankName == "RBL"){ %>
                                                                                            <p>Issued by &nbsp;
                                                                                                    <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/rbl-logo.png" alt=""
                                                                                                         style="width: 72px;">
                                                                                                <%}%>
                                                                                                <% if(IFIsBankName == "IDFC"){ %>
                                                                                                            <p>Issued by &nbsp;
                                                                                                                <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/IDFC-FIRST-Bank-Primary-Logo.jpg"
                                                                                                                     alt="" style="width: 72px;">
                                                                                                                <%}%>
                                                                                                                <% if(IFIsBankName == "Kotak"){ %>
                                                                                                                        <p>Issued by
                                                                                                                            &nbsp;
                                                                                                                            <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/kotak-logo.png"
                                                                                                                                 alt=""
                                                                                                                                 style="width: 72px;">
                                                                                                                            <%}%>
                                                                                                                            <% if(IFIsBankName == "Sodexo"){ %>
                                                                                                                                    <p>Issued
                                                                                                                                        by
                                                                                                                                        &nbsp;
                                                                                                                                        <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/Sodexo-logo.png"
                                                                                                                                             alt=""
                                                                                                                                             style="width: 72px;">
                                                                                                                                        <%}%>
                                                                                                                                        <% if(IFIsBankName == "HDFC"){ %>
                                                                                                                                            <p>Issued
                                                                                                                                                by
                                                                                                                                                &nbsp;
                                                                                                                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/HDFC-logo-2x.png"
                                                                                                                                                     alt=""
                                                                                                                                                     style="width: 150px;">
                                                                                                                                                <%}%>

                                                                                                                                    </p>
                                                                                        </span>


                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="heading-button-container">
                                                                    <div class="col-xs-8 col-md-8">
                                                                        <div class="page-sub-heading">
                                                                            <h5 class="heading-child-title">Recommended Programs</h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                            <% include section/benefits/recommonded-program %>
                                                            <% } %>
                                                        </div>
                                                        <% include common/time-footer %>
                                            </div>
                                            <!-- Page Heading and List End -->
                                        </div>
                                    </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <!-- Modal Create Program -->
        <div class="modal fade" id="setupProgramModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero pd-top-zero">Setup your
                                <span id='programType'></span> program</h4>
                            <div class="modalbox-form-section">
                                <form class="pd-top-twenty" id="programCreate">
                                    <!-- <div class="form-group">
                                        <label for="recipient-name" class="control-label">Which Financial Year is this program for?</label>
                                        <div class="form-group select-custom" align="right">
                                            <select id='financialYear' class="form-control width-xs input-lg">
                                                <option value='0'>Select</option>
                                                <option value="2017-18">2017-18</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="fundaccerror-state" id="showFundAccountError" style="display:none">
                                        <img src="../../../images/error-icon-log.png" alt="">
                                        <span>
                                                Failed. Server Error. Please try again or later
                                            </span>
                                    </div>
                                    <div class="fundaccerror-state" id="showGenieFundAccountError" style="display:none">
                                        <img src="../../../images/error-icon-log.png" alt="">
                                        <span>
                                            You do not have access to create program.
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Select a Funding Account for this benefit <span class="tooltip" style="opacity:1" >
                                            <img class="subtitle sidebar-option-txt" style="width:12px;cursor:pointer;opacity:1" src="../../../images/help-icon.png" alt="" />
                                                <span class="tooltiptext tooltiptext-benefits" style="opacity:1">A Funding A/c is similar to your Bank’s current account. They can fund one or more programs across all your companies. You can use them to transfer funds to your beneficiaries.</span>
                                        </span></label>
                                        <div class="form-group select-custom" align="right">
                                            <select id='fundingAccountID' class="form-control width-xs input-lg">
                                                <option value='0'>Select</option>
                                                <option value='createNew'>Create New</option>
                                                <% for(var currIndex=0; currIndex<fundingAccounts.fundingAccounts.length; currIndex++) {%>
                                                    <option value=<%- fundingAccounts.fundingAccounts[currIndex].accountID %>>
                                                        <%- fundingAccounts.fundingAccounts[currIndex].name %> -
                                                        <%- fundingAccounts.fundingAccounts[currIndex].balance%>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="form-group" id="shownewfundingaccname" style="display:none">
                                        <label for="fundingaccname" class="control-label">Enter funding a/c name</label>
                                        <div class="form-group select-custom">
                                            <input id='newfundingaccname' maxlength="40" type='text' class="form-control width-xs" />
                                            <span align="left" style="color:red;display:none" id="showfundingAccDuplicate">Funding account name already exists</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="programName" class="control-label">Program Name</label>
                                        <div class="form-group select-custom" align="right">
                                            <input id='programName' maxlength="40" type='text' class="form-control width-xs" />
                                        </div>
                                    </div>
                                    <div>
                                        <p>For advanced customizations, please get in touch with your acccount manager or write to us on <%= locals.country_details && country_details.supportEmail ? country_details.supportEmail : 'support@zeta.in' %></p>
                                        <div class="form-group left-align" id="setupLtaCheckboxDv">
                                        <div class="control-group">
                                            <label class="control control--checkbox terms" style="font-weight:100">I confirm that I have read and understood  <a href="https://docs.zetaapps.in/display/OND/LTA+Setup+Guidelines" target="_blank" >how LTA works</a>
                                                        <input type="checkbox" id="setupLtaCheckbox">
                                                        <div class="control__indicator"></div>
                                                    </label>
                                        </div> 
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button disabled class="btn btn-default btn-disabled" type="button" id="createProgram">CREATE PROGRAM</button>
                                <img class="create-program-loader" id="createProgramLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                            </div>
                        </div>
                        <div class="ifi-logo-details">


                            <% if(IFIsBankName == "RBL"){ %>
                                <p>Issued by &nbsp;
                                    <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/rbl-logo.png" alt="" style="width: 72px;">
                                    <%}%>
                                        <% if(IFIsBankName == "IDFC"){ %>
                                            <p>Issued by &nbsp;
                                                <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/IDFC-FIRST-Bank-Primary-Logo.jpg" alt="" style="width: 72px;">
                                                <%}%>
                                                    <% if(IFIsBankName == "Kotak"){ %>
                                                        <p>Issued by &nbsp;
                                                            <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/kotak-logo.png" alt="" style="width: 72px;">
                                                            <%}%>
                                                                <% if(IFIsBankName == "Sodexo"){ %>
                                                                    <p>Issued by &nbsp;
                                                                        <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/Sodexo-logo.png" alt="" style="width: 72px;">
                                                                        <%}%>
                                                                        <% if(IFIsBankName == "HDFC"){ %>
                                                                            <p>Issued by &nbsp;
                                                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/HDFC-logo-2x.png" alt="" style="width: 120px;">
                                                                                <%}%>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Create Program End -->

        <!-- Modal Loader  -->
        <div class="modal fade" id="createProgramLoader" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&nbsp;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Setting Program. Please wait...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

        <!-- SettingUp all funding AccName for funding Duplicate -->
        
        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" id="createProgramSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="close_Me" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/success-icon.svg" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Program Setup Successfully</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a id="viewProgramBtnSuccess" href='/companies/<%- companyID %>/optima'>
                                    <button class="btn btn-default" type="button">View Program</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Box Transfer Initiated success End -->

        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="createProgramError" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Oops. We could not setup program</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <!-- Modal Schedule Year -->
        <div class="modal fade" id="myModalScheduleYear" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox custom-modalbox--width" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero pd-lrt-zero">Schedule year end closure for financial year 2016-17</h4>
                            <div align="center">
                                <div class="heading-sub-text heading-sub-text--size">
                                    Year end closure closes active reimbursement programs for the current financial year - including claims and balances against them. Fresh cards are issued for new financial year.
                                    <!--  <br><br> -->
                                    You will get details of all credits, debits & claims in a consolidated report per beneficiary.
                                </div>
                            </div>
                            <div class="modalbox-form-section">
                                <form>
                                    <div class="form-group date-picker modalbox-form-section--width">
                                        <label class="control-label modalbox-form-section__text--size" for="recipient-name">Select the date on which you want the final report for tax filing</label>
                                        <div class="input-group">
                                            <input class="form-control modalbox-form-section__input--height datepicker-img" id="closureDate" type="text">
                                            <% if(allCardsSchedule.length) { %>
                                                <% for(var currIndex=0; currIndex< allCardsSchedule.length; currIndex++) { %>
                                                    <input type="hidden" id="card-program-id-<%- currIndex%>" data-card-program-id-<%- currIndex%>="
                                                    <%- allCardsSchedule[currIndex].programID %>">
                                                        <input type="hidden" id="card-program-object-<%- currIndex%>" data-card-program-<%- currIndex%>="
                                                        <%- allCardsSchedule[currIndex].cardProgramObject.compareProductTypeToPrograms %>">
                                                            <input type="hidden" data-card-programs-length="<%- allCardsSchedule.length %>">
                                                            <% } %>
                                                                <% } %>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="yearEndClosuretable">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="inner-sub-container page-sub-heading">
                                            <!-- Table -->
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">

                                                    <table class="custom-table custom-table-margin custom-table__header">
                                                        <tbody class="loading-content tableLoader" style="display: none;">
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>

                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>

                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>


                                                        </tbody>
                                                    </table>


                                                </div>
                                            </div>
                                            <!-- Table End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-note-text">Note: After closure, the remaining balance in beneficiary’s card should be moved to the program’s corresponding Funding Account.</div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default btn-disabled" data-target="#myModalScheduleYearSuccessful" disabled id="scheduleYear" data-toggle="modal" name="" type="button" value="">SCHEDULE YEAR END CLOSURE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Schedule Year End -->
        <!-- Modal Schedule Year Successful -->
        <div class="modal fade" id="myModalScheduleYearSuccessful" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox custom-modalbox--width" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div align="center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/success-icon.svg">
                            </div>
                            <h4 class="text-center pd-bottom-zero pd-lrt-zero">Year end closure scheduled successfully</h4>
                            <div>
                                <div class="heading-sub-text--size">
                                    <br> Please note the following important dates for your reference:
                                </div>
                            </div>
                            <div class="yearEndClosuretable">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="inner-sub-container page-sub-heading">
                                            <!-- Table -->
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">

                                                    <table class="custom-table custom-table-margin custom-table__header custom-table__header--margin">
                                                        <tbody class="loading-content tableLoader" style="display: none;">
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>

                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>

                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>


                                                        </tbody>
                                                    </table>


                                                </div>
                                            </div>
                                            <!-- Table End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div align="center" class="modal-body__note">And to make your work easier, we have automatically created programs for the next financial year with the same configuration settings.</div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" name="" type="button" id="scheduleYearDone" value="">DONE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Schedule Year Successful End -->

        <% include common/html-script %>
        <script type='text/javascript'>
            localStorage.setItem('activeProgramPageNumber', 0);
            var totalProgramPages = <%= totalProgramPages %>
            localStorage.setItem('totalActiveProgramPages', totalProgramPages);
            var checkGenie = <%= checkGenie %>
            localStorage.setItem('checkGenie', checkGenie);
        </script>

            <script src="/dist/scripts/benefit.js"></script>

            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>


<!-- Modal Spotlight Promotion -->
<style>
    .b-r-4 {
            border-radius: 4px !important;
        }
        .w-16{
            width: 16px;
        }
        .m-2{
            margin: 2px;
        }
        .spotlight-body{
            padding : 16px 15px 0 40px;
        }
        .spotlight-header {
            font-weight: bold;
            line-height: 40px;
            font-size: 36px;
            font-family: Proxima Nova SemiBold;
            color: #000000;
        }
        .spotlight-subheader {
            font-size: 16px;
            line-height: 1.5;
            color: rgba(0, 0, 0, 0.7);
            margin-bottom:25px;
        }
        .spotlight-features{
            list-style: none;
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            font-size: 14px;
            font-weight: 600;
            line-height: 2;
            padding-left: 14px;
            font-family: Proxima Nova SemiBold;
            color:#000;
        }
        .spotlight-button{
            width: 160px !important;
            margin-top: 24px;
        }
        .spotlight-button a {
            width: 100%;
            color:#000000;
            letter-spacing: 1px;
            font-family: Proxima Nova SemiBold;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
        }

        ul.spotlight-features li:before { 
            content: ' ';
            background: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/check-green.png");
            background-size: contain;
            background-repeat: no-repeat;
            padding-left: 32px;
        }
        #spotlightPromotionModal {
            background-color: rgba(0, 0, 0, 0.6);
        }
        #spotlightPromotionModal > div{
            margin-top: 15vh;
            max-width: 800px;
        }
</style>
<% if(templateData && templateData.enableSpotlightPromotionModal) { %>
<div class="modal fade spotlight" id="spotlightPromotionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox-new" role="document">
        <div class="modal-content b-r-4">
            <div class="custom-modal-body">
                <div class="modal-body spotlight-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="spotlight-header">
                                Unlock New Secrets to Employee Gifting
                            </h1>
                        </div>
                        <div class="col-md-6 pull-right">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="font-size: 36px; margin-right: 10px;">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="spotlight-subheader">
                                Introducing the all new  <% if(IFIsBankName.toLowerCase() == "hdfc" || IFIsBankName.toLowerCase() == "kotak"){ %> SpotGifting <% } else { %> Zeta Spotlight&reg; <% } %> - A <br>single platform for all kinds of
                                employee gifiting <br>and rewards and recognition.
                            </h4>
                            <div class="row">
                                <ul class="spotlight-features">
                                    <li>Digital Gift Cards</li>
                                    <li>Physical Gift Cards</li>
                                    <li>Brand Vouchers</li>
                                    <li>Custom RnR Solutions</li>
                                </ul>
                            </div>

                            <div class="row">
                                <div class="col-md-8 small-button">
                                    <button class="btn btn-secondary text-uppercase spotlight-button" type="button">
                                        <a href="/companies/<%- companyID %>/spotlight">Explore Now
                                            <img class="w-16 m-2" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/arrow-black.png"
                                                alt=""></a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div>
                                <img style="margin-top:44px;" class="img-responsive center-block" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight-promtion-header.svg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<% } %>
<script type='text/javascript'>
    $(document).ready(function () {
        if (!parseInt(localStorage.getItem("spotlight-promo"))) {
            localStorage.setItem("spotlight-promo", 0);
        }
        if (parseInt(localStorage.getItem("spotlight-promo")) < 1) {
            $('#spotlightPromotionModal').modal({
                show: false
            })
            $('#spotlightPromotionModal').modal('show');
        }

        $('#spotlightPromotionModal').on('hidden.bs.modal', function () {
            localStorage.setItem("spotlight-promo", parseInt(localStorage.getItem("spotlight-promo")) +
                1)
        })
    });
</script>
<!-- Modal Spotlight Promotion End -->

    <% if(templateData && templateData.enableMopinion) { %>
        <!-- Mopinion Pastea.se  start --><script type="text/javascript">(function(){var id="aun7b5d36perv3iclvbynu7lkg4dvp0idm8";var js=document.createElement("script");js.setAttribute("type","text/javascript");js.setAttribute("src","//deploy.mopinion.com/js/pastease.js");document.getElementsByTagName("head")[0].appendChild(js);var t=setInterval(function(){try{new Pastease.load(id);clearInterval(t)}catch(e){}},50)})();</script><!-- Mopinion Pastea.se end -->
    <% } %>

    </body>

    </html>