<div class="modal-dialog custom-modalbox programs-linked-modal" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
        </div>
        <div class="company-codes-modal-body">
            <div class="modal-body">
                <h4 class="text-center">Company codes for <span><%-corpName %></span></h4>
                <div class="program-funds">
                    <table class="custom-table mv-table-view">
                        <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Company Code</th>
                            </tr>
                        </thead>
                        <tbody class="main-content" style="">
                            <% for(var currComp = 0; currComp<companies.companies.length;currComp++) { %>
                                <% if(companies.companies[currComp].companyName && companies.companies[currComp].companyShortCode) { %>
                                    <tr>
                                        <td><%- companies.companies[currComp].companyName %></td>
                                        <td><%- companies.companies[currComp].companyShortCode %></td>
                                    </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <p class="edit_company-code">Note: To change a company's code, <a href="/bulk-action/edit-company-code" class="edit_code">click here</a></p>
            </div>
        </div>

    </div>
</div>