<% include common/html-head %>

    <body>
        <div class="wrapper">
            <!-- Top Header Part -->
            <input type='hidden' value="<%-corpID %>" name="corpID" />
            <input type='hidden' value="<%-companyDtls.company.companyID %>" name="companyID" />
            <nav class="navbar navbar-inverse navbar-fixed-top header-container" style="left:0;">
                <div class="container-fluid mv-container header-boxshadow">
                    <div id="navbar" class="navbar-collapse collapse full-header">
                        <ul class="nav navbar-nav navbar-left navbar-left-pd">
                            <li>
                                <span class='<%=templateData.logoClassName%>'></span>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right dropdown-log">
                            <li class="dropdown"><a href="#" class="dropdown-toggle hover-focus-overcome" data-toggle="dropdown" aria-expanded="true">Help & Support
                        <img src="/images/down-arrow.png" alt="zeta iocn"/></a>
                        <% if(templateData && templateData.sodexoHelpSupport && templateData.sodexoHelpSupport.speakToUsText) { %>
                                <ul class="help-info-dropdown dropdown-menu" role="menu" aria-labelledby="menu1" style="width : 300px;">
                                    <li class="dropdown-list">
                                        <div class="left">
                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/call-us-icon.png" alt=""/>
                                        </div>
                                        <div class="right">
                                            <h2 class="title">Mail us</h2>
                                            <p>Just drop us a mail at  <%=country_details.supportEmail%></p>
                                            <a class="noColor mailToLink" href="mailto:<%=country_details.supportEmail%>">Drop a mail</a>
                                        </div>
                                    </li>
                                    <li class="dropdown-list">
                                        <div class="left">
                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/mail-us-icon.png" alt=""/>
                                        </div>
                                        <div class="right">
                                            <h2 class="title">Speak to us</h2>
                                            <p><%=templateData.sodexoHelpSupport.speakToUsText%></p>
                                        </div>
                                    </li>
                                </ul>
                            <% } else { %>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li><a class="noColor" target="_blank" href="https://docs.zetaapps.in" role="menuitem">Documentation</a></li>
                                    <li><a class="noColor" target="_blank" href="https://docs.zetaapps.in/display/OND/FAQs#ForEmployers" role="menuitem">FAQs</a></li>
                                    <li><a class="noColor" target="_blank" href="https://zeta.in/support/" role="menuitem">Contact Us</a></li>
                                </ul>
                            <% }  %>
                            </li>
                            <li><a href="3"><span class="vertical-line">&nbsp;</span></a></li>
                            <!-- Logout -->
                            <!-- Must include this class <div class="dropdown-log"></div> -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle hover-focus-overcome" data-toggle="dropdown">
                                    <%- user.account.accountDetails.name %> <img src="/images/down-arrow.png" alt="zeta iocn" /></a>
                                <ul class="dropdown-menu dropdown-log-menu logout-dropdown">
                                    <li><a href="/logout"> Log Out </a></li>
                                </ul>
                            </li>
                            <!-- Logout End -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Top Header Part End -->
            <!-- Container -->
            <div class="container-fluid sidebar-row">
                <div class="row">
                    <div class='corp-details-top-hdr'>
                        <div class='hr-image'></div>
                        <div class='hr-hdg'>Welcome,
                            <%-corpDtls.accountHolderName %>!</div>
                    </div>
                    <div class='corp-details-cnt'>
                        <h2>Please verify your account details</h2>
                        <div class='corporate-dtls details-section'>
                            <div class='details-section-cntr'>
                                <h3>Corporate Details</h3>
                                <div class='details-desc'>A corporate is an holding entity which comprises of one or several companies.</div>
                                <ul class='form-list'>
                                    <li>
                                        <label>Corporate Name <span class='tool-tip-wrpr'>
                                    <span class='tool-tip-cntr'>?</span>
                                        <div class="tool-tip-data">This is your business, public, or brand name. We require these details for representational purposes on the dashboard. Eg: TATA, Jabong, or Practo</div>
                                    </span>
                                </label>
                                        <input class="input-item" id='corporateName' value="<%-corpDtls.name %>" placeholder='Eg: Tata' type='text' name='corporate-name' />
                                        <div class="error-msg">Please enter name</div>
                                    </li>
                                    <!--<li>
                                <label>Website</label>
                                <input class='website-input' placeholder='www.site.com' type='text' name='website' />
                                <span class='input-static-txt'>http://</span>
                            </li>-->
                                </ul>
                            </div>
                        </div>
                        <div class='details-section company-dtls'>
                            <div class='details-section-cntr'>
                                <h3>Company Details</h3>
                                <div class='details-desc'>A company is a legal entity through which you can automate disbursement of benefits. For compliance, we need to have accurate details of your company.</div>
                                <ul class='form-list'>
                                    <li>
                                        <label>Company Name <span class='tool-tip-wrpr'><span class='tool-tip-cntr'>?</span>
                                    <div class="tool-tip-data company-tool-tip">All invoices will be billed to this company name. Eg: Tata Motors Pvt. Ltd., Jade eServices Pvt. Ltd., Practo Technologies Pvt. Ltd.</div>
                                </span></label>
                                        <input class='input-item' id='companyName' value="<%-companyDtls.company.companyName %>" placeholder='Eg: Tata Motors Pvt. Ltd.' type='text' name='company-name' />
                                        <div class="error-msg">Please enter name</div>
                                    </li>
                                    <% if(templateData && templateData.showCinPanGst) { %>
                                    <li class="input-half-wrpr">
                                        <label>CIN</label>
                                        <% if(companyDtls.company.cin) { %>
                                            <input class='input-item' id='cinNo' value="<%- companyDtls.company.cin%>" disabled type='text' name='cin-no' />
                                            <% } else { %>
                                                <input class='input-item' id='cinNo' value="" disabled type='text' name='cin-no' />
                                                <% } %>
                                    </li>
                                    
                                    <li class="input-half-wrpr first-half-wrpr">
                                        <label>PAN</label>
                                        <% if(companyDtls.company.pan) { %>
                                            <input class='input-item' id='panNo' value="- companyDtls.company.pan %>" disabled type='text' name='pan-no' />
                                            <% } else { %>
                                                <input class='input-item' id='panNo' value="" disabled type='text' name='pan-no' />
                                                <% } %>
                                    </li>
                                    <li>
                                        <label>GST No.</label>
                                        <% if(companyDtls.company.gstNumber) { %>
                                            <input class='input-item gst-input-box' id='gstNo' value="<%- companyDtls.company.gstNumber %>" disabled type='text' name='gst-no' />
                                            <% } else { %>
                                                <input class='input-item gst-input-box' id='gstNo' value="" disabled type='text' name='gst-no' />
                                                <% } %>
                                                    <div class="tool-tip-data gst-tool-tip">Is this incorrect? Please let us know by sending an email to support@zeta.in</div>
                                    </li>
                                    <% } %>
                                </ul>
                                <div class="billing-addrs-hdr-wrpr">
                                    <h3>Billing Address</h3>
                                </div>
                                <ul class='form-list'>
                                    <li>
                                        <label>Address</label>
                                        <input class='input-item' value="<%-companyDtls.company.streetAddress %>" id='companyAddrs' placeholder='Enter Building Name/Street Address' type='text' name='billing-addrs' />
                                        <div class="error-msg">Please enter address</div>
                                    </li>
                                    <li class="input-half-wrpr">
                                        <label>City</label>
                                        <input class='input-item' id='companyCity' value="<%-companyDtls.company.city %>" placeholder='Enter City' type='text' name='billing-city' />
                                        <div class="error-msg">Please enter city</div>
                                    </li>
                                    <li class="input-half-wrpr first-half-wrpr">
                                        <label>Pincode</label>
                                        <input id='companyPincode' value="<%-companyDtls.company.pincode %>" class='input-item' placeholder='Enter Pincode' type='tel' name='pincode' />
                                        <!--<span class='input-static-txt pincode-static'>Enter 6 digits</span>-->
                                        <div class="error-msg">Please enter proper pincode</div>
                                    </li>
                                    <li class="input-half-wrpr">
                                            <label><%=templateData.stateLabel ? templateData.stateLabel : 'State'%></label>
                                        <input class='input-item' id='companyState' value="<%-companyDtls.company.state %>" placeholder='Enter State' type='text' name='billing-state' />
                                        <div class="error-msg">Please enter state</div>
                                    </li>
                                    <li class="input-half-wrpr first-half-wrpr">
                                        <label>Country</label>
                                        <!-- <input class='input-item' id='companyCountry' value="<%-companyDtls.company.country %>" placeholder='Enter Country' type='text' name='billing-state' /> -->
                                        <select id="companyCountry" class="form-control">
                                            <option value="">Select</option>
                                            <% countries.forEach(function(item){ %>
                                                <option value="<%- item %>" <%- companyDtls.company.country == item.charAt(0).toUpperCase() + item.substring(1) ? 'selected' : '' %>><%- item.charAt(0).toUpperCase() + item.substring(1) %></option>
                                            <% }) %>
                                        </select>
                                        <div class="error-msg">Please enter country</div>
                                    </li>
                                </ul>
                            </div>
                            <!--<div class='company-details-note'>Note: You can add multiple companies later via “Admin Console”</div>-->
                        </div>
                        <div class="flexible-button">
                            <button id='completeSetup' class="btn btn-default complete-setup" type="button">Save & continue</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <% include common/html-script %>


            <script src="/dist/scripts/corpDetails.js"></script>

            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>

    </body>

    </html>