<% include common/html-signup-head %>

    <body>
        <div class="app-content">
            <div class="signup-parent cleafix">
                <% if(!requestedSource){ %>
                    <% if(locals.hostName && (hostName === 'PH' || hostName === 'PHSM')) {%>
                        <% include section/sodexo-philippines-sm/corporateSwitchDesignPh %>
                    <%} else if(locals.hostName && hostName === 'VN') { %>
                        <% include ./sodexoVnSidebar %>
                    <%} else { %>
                        <div class="signup-parent__left">
                            <div class="signup__header">
                                <a href="#" class="signup__shadow-link"></a>
                                <a href="http://zeta.in" class="signup__logo"></a>
                            </div>
                    
                            <div class="signup__hero signup__hero--hradmins">
                                <h1 class="signup__hero___heading">Zeta for HR admins</h1>
                                <p class="signup__hero___desc">Helping you help your Beneficiaries</p>
                            </div>
                    
                            <div class="signup__support">
                                <p class="signup__support___help">Need Help? Let us know</p>
                                <ul class="signup__support___list">
                                    <li class="support__list___phone"><a href="tel:+9102261123989">022 61123989</a></li>
                                    <li class="support__list___email"><a href="mailto:support@zeta.in">support@zeta.in</a></li>
                                </ul>
                            </div>
                        </div>
                    <% } %>
                <%}%>
                <input type="hidden" id="requestedSource" value="<%- requestedSource %>">
                <div class="<%- !requestedSource ? 'signup-parent__right' : '' %>">
                    <!-- Corporate Switch for HR Admins -->
                    <div class="signup__form-container-switch  signup__form-container--login <%- !requestedSource ? '' : 'no-transform' %>">
                        <div class="signup__form--switch">
                            <div class="custom-modal-body" style="display:block" id="corpSwitcherLoader">
                                <div class="modal-body">
                                    <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                                    <h4 class="text-center">Loading corporate list. Please wait...</h4>
                                </div>
                            </div>
                            <div class='signup__form__cntr' id="corpSwitch" style="display:none">
                                <div class="building-icon">
                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/building.svg" alt="">
                                </div>
                                <h3 class='signin__hdg--switch'>Choose a Corporate Account</h3>
                                <div class='signup-error' id='loginError'>
                                </div>
                                <div class="container-corparate-switch zeta-scroll">
                                    <% for(var currIndex=0; currIndex< corporateCompanies.length; currIndex++) {%>
                                        <div class="list-group">
                                            <a href="#" class="list-group-item" data-key="<%- corporateCompanies[currIndex].corporate.id%>">
                                                <div class="list-group-table">
                                                    <!-- <div class="list-group-table-cell">
                                                        <p>
                                                            <%- corporateCompanies[currIndex].corporate.name.charAt(0) %>
                                                        </p>
                                                    </div> -->
                                                    <div class="list-group-tablecell">
                                                        <h4 class="list-group-item-heading">
                                                            <%- corporateCompanies[currIndex].corporate.name%>
                                                        </h4>

                                                        <%if((corporateCompanies[currIndex].companies.length) == 1){ %>
                                                            <p class="list-group-item-text">
                                                                <%- corporateCompanies[currIndex].companies.length %> Company</p>
                                                            <% } else { %>
                                                                <p class="list-group-item-text">
                                                                    <%- corporateCompanies[currIndex].companies.length %> Companies</p>
                                                                <%} %>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <% } %>

                                </div>
                                <button id="corporateSwitch" class="signup__form___button--switch"> PROCEED TO DASHBOARD </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Loader  -->
        <div class="modal fade" id="corporateSwitcherModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Loading corporate. Please wait...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="corporateSwitcherErrorModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="modalClose" style="color: #0c0b0b;
                            font-size: 15px;
                            padding: 7px 8px;
                            margin-top:-15px;
                            background-color: #fff;">X</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center" 
                            style="font-size: 30px;
                            border-radius: 50%;
                            color: #fd0f0f;
                            font-weight: bold;
                            border: 1px solid #ccc;
                            width: 54px;
                            margin: 0px auto;
                            box-shadow: 0px 0px 22px 6px #ccc;
                            height: 50px;
                            line-height: 50px;
                            text-align:center;">X</div>
                            <h4 class="text-center pd-bottom-zero">Current IP address is not authorized to access the dashboard</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->


        <script>
            (function() {

                setInterval(function() {
                    switch (document.readyState) {
                        case "loading":
                            console.log(document.readyState);
                            document.getElementById("corpSwitch").style.display = "none";
                            document.getElementById("corpSwitcherLoader").style.display = "block";
                            break;
                        case "interactive":
                            console.log(document.readyState);
                            document.getElementById("corpSwitch").style.display = "block";
                            document.getElementById("corpSwitcherLoader").style.display = "none";
                            break;
                        case "complete":
                            console.log(document.readyState);
                            document.getElementById("corpSwitch").style.display = "block";
                            document.getElementById("corpSwitcherLoader").style.display = "none";
                            break;
                    }
                }, 3000);
            })();
        </script>

        <% include common/html-script %>
        <script src="../dist/scripts/login.js"></script>

    </body>