<% include common/html-head %>

    <body>
        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <!-- Banner Start -->
                                <div class="top-section banner-background">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <li><a href="/companies/<%- companyID %>/optima">Zeta Tax Benefits</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Breadcrumb End -->
                                        <!-- Popover -->
                                        <!-- <div class="row">
                          <div class="col-xs-12 col-md-12 text-right">
                            <div class="popover-content">
                              <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                                  <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                              </span>
                            </div>
                          </div>
                        </div> -->
                                        <!-- Popover End -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="page-heading">
                                                    <h1 class="pd-top-ten pd-bottom-ten">Create Custom Program</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="sub-container">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <iframe class='custom-program-iframe' src="<%-iframeUrl%>" height="600"></iframe>
                                        </div>
                                    </div>
                                    <!-- last login -->
                                    <% include common/time-footer %>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <% include common/html-script %>
    </body>

    </html>