<% include common/html-head %>

    <body>
        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% if(!requestedSource){ %>
                            <% include common/sidebar %>
                          <% } %>
                            <!-- Inner container -->
                            <div class="inner-container" style="<%- requestedSource ? 'width:100%;margin: 0;' : '' %>">
                                <!-- Banner Start -->
                                <% if(!requestedSource){ %>
                                <div class="top-section gradient-red-violet">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero pd-bottom-fifteen">
                                                    <li><a href="/documents-drive">Document Drive</a></li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Breadcrumb End -->
                                        <div class="row">
                                            <div class="col-xs-8 col-md-8">
                                                <div class="user-profile-container doc-user-cntr">
                                                    <div class="profile-img-cell">
                                                        <img src="<%- docDetails.attrs.profileImage || 'https://card-program-files.s3.amazonaws.com/hrDashboard/images/profiledp-doc.png' %>" alt="Zeta User Image" />
                                                    </div>
                                                    <div class="profile-name-cell">
                                                        <div class="profile-heading"><span><%= docDetails.attrs.name%></span></div>
                                                        <div class="profile-subHeading">
                                                            <%= docDetails.attrs.emailID && docDetails.attrs.emailID.length > 0 ? docDetails.attrs.emailID[0] : 'NA' %>
                                                        </div>
                                                        <div class="profile-subHeading">
                                                            <%= docDetails.attrs.phone%>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-4 col-md-4 doc-amt-dtls">
                                                <div class="heading-right-section-block" align="right">
                                                    <div class="status">
                                                        <div class="col-sm-6 doc-div">
                                                            <!--<img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/msg-icon.svg">-->
                                                            <span class="doc-div-text">Program Name: </span></div>
                                                        <div class="">
                                                            <div class="col-sm-6 doc-div-value text-capitalize inner"><span><%-docDetails.attrs.productType || docDetails.attrs.producttype || '-' %></span>
                                                                <div class="clear-fix"></div>
                                                                <!--<img src="/images/download-icon.svg"><span class="download-margin"><u>Download statement</span></u>--></div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                            <% if((docDetails.attrs.documentType) && (docDetails.attrs.documentType == 'travel_log')){ %>
                                                                <div class="col-sm-6 doc-div">
                                                                    <span class="doc-div-text text-capitalize">Document Name:</span>
                                                                </div>
                                                                <div class="col-sm-6 doc-div-value text-capitalize">Car Log</div>
                                                                <% } else { %>
                                                                    <div class="col-sm-6 doc-div">
                                                                            <!--<img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/call-icon.svg">-->
                                                                            <span class="doc-div-text text-capitalize">Claim Status:</span></div>
                                                                        <div class="col-sm-6 doc-div-value text-capitalize">
                                                                            <% if((docDetails.attrs.state == 'Approved') || (docDetails.attrs.state == 'Paid' ) || (docDetails.attrs.state == 'Unpaid' ) || (docDetails.attrs.state == 'Partially Paid' ) || (docDetails.attrs.state == 'PARTIALLY_APPROVED' )) {%>
                                                                                Approved
                                                                            <% } else { %>
                                                                                <%-docDetails.attrs.state || '-' %>
                                                                            <% } %>    
                                                                        </div>
                                                                <% } %> 
                                                    </div>
                                                    <% if((docDetails.attrs.state == 'Paid' ) || (docDetails.attrs.state == 'Unpaid' ) || (docDetails.attrs.state == 'Partially Paid' ) || (docDetails.attrs.state == 'PARTIALLY_APPROVED' )) {%>
                                                    <div>
                                                        <div class="col-sm-6 doc-div">
                                                            <!--<img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/call-icon.svg">-->
                                                            <span class="doc-div-text text-capitalize">Payment Status:</span></div>
                                                        <div class="col-sm-6 doc-div-value text-capitalize">
                                                            <%-docDetails.attrs.state || '-' %> 
                                                            <% if(docDetails.attrs.paidAmount != -1){ %>
                                                                ( &#8377; <%=docDetails.attrs.paidAmount%> )
                                                            <%}%>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                    <% if((docDetails.attrs.documentType) && (docDetails.attrs.documentType == 'travel_log')){ %>
                                                        <div>
                                                                <div class="col-sm-6 doc-div">
                                                                    <span class="doc-div-text">Uploaded On:</span></div>
                                                                <div class="col-sm-6 doc-div-value">
                                                                    <%= Util.timestampToDate(docDetails.attrs.createdAt) %>
                                                                </div>
                                                            </div>
                                                    <% } else { %>
                                                    <div>
                                                        <div class="col-sm-6 doc-div">
                                                            <!--<img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/profile-icon.svg">-->
                                                            <span class="doc-div-text">Claimed Amount:</span></div>
                                                        <div class="col-sm-6 doc-div-value">&#8377;
                                                            <%- docDetails.attrs.formattedClaimAmount %>
                                                        </div>
                                                    </div>
                                                    <% } %> 
                                                    <% if(subCategory) { %>
                                                        <div>
                                                            <div class="col-sm-6 doc-div">
                                                                <!--<img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/call-icon.svg">-->
                                                                <span class="doc-div-text text-capitalize">Claim Category:</span></div>
                                                            <div class="col-sm-6 doc-div-value text-capitalize">
                                                                <%-subCategory%>
                                                            </div>
                                                        </div>
                                                        <%  } %>
                                                        <%if((petroDocGroupCheck != 'pc') && (petroDocGroupCheck != 'tl')){ %>
                                                            <% if(docDetails.attrs.state !== 'Uploaded' && docDetails.attrs.state !== 'Declined' && docDetails.attrs.state !== 'Escalated' && docDetails.attrs.state !== 'Unpaid') { %>
                                                                <div>
                                                                    <div class="col-sm-6 doc-div">
                                                                        <!--<img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/profile-icon.svg">-->
                                                                        <span class="doc-div-text">Approved Amount</span>
                                                                    </div>
                                                                    <div class="col-sm-6 doc-div-value">&#8377;
                                                                        <%- docDetails.approvedAmount %>
                                                                    </div>
                                                                </div>
                                                                <% } %>
                                                                <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <!-- Banner End -->
                                <div class="sub-container">
                                    <% if(docGroupID){ %>
                                        <input type="hidden" value="<%=docGroupID %>" id="docId">
                                        <% } %>
                                            <div class="row doc-details">
                                                    <%if((petroDocGroupCheck != 'pc') && (petroDocGroupCheck != 'tl')){ %>
                                                <div class="row">
                                                    <div class='col-xs-12 col-md-12'>
                                                        <div class='doc-activity-dtls'>
                                                            <ul class="list-unstyled pd-bottom-fifteen">
                                                                <% if(category) { %>
                                                                    <li>
                                                                        <small class="title">Category:</small>
                                                                        <small class="details"><%- category %></small>
                                                                    </li>
                                                                    <% } %>
                                                                        <% if(dependants.length) { %>
                                                                            <li>
                                                                                <small class="title">Dependent:</small>
                                                                                <small class="details">
                                                                <% for (var i = 0 ; i < dependants.length; i++) { %>
                                                                <%- dependants[i].relationship%>, <%- dependants[i].name.firstName + " " + dependants[i].name.lastName%><br>
                                                                <% } %>
                                                                            </small>
                                                                            </li>
                                                                            <% } %>
                                                            </ul>
                                                            <h3>Claim Activity</h3>
                                                            <table class="custom-table mv-table-view hover-state">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Description</th>
                                                                        <th>Date</th>
                                                                        <th>Signed by</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="main-content">
                                                                    <% for(var currClaim = 0; currClaim < docDetails.claimStatus.length;currClaim++) { %>
                                                                        <tr>
                                                                            <td class=" <%- docDetails.claimStatus[currClaim].stateClass ? docDetails.claimStatus[currClaim].stateClass : ''%>">
                                                                                <%- docDetails.claimStatus[currClaim].state ? docDetails.claimStatus[currClaim].state : '-' %>
                                                                                    <% if(docDetails.claimStatus[currClaim].state == "Declined"){ %>
                                                                                        <%- docDetails.claimStatus[currClaim].declineReason ? '- '+docDetails.claimStatus[currClaim].declineReason : '' %>
                                                                                            <% } %>

                                                                            </td>
                                                                            <td>
                                                                                <%- Util.timestampToDate(docDetails.claimStatus[currClaim].timeStamp) || '-' %>
                                                                            </td>
                                                                            <td class="text-capitalize">
                                                                                <%= docDetails.claimStatus[currClaim].operatorName || '-' %>
                                                                            </td>
                                                                        </tr>
                                                                        <% } %>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                                <% if(ltaTypes.length > 0 ){ %>
                                                    <div class="row pad-top-doc">
                                                        <div class="col-xs-3 col-md-3" align="left">
                                                            <div class="filter-divider-table">
                                                                <div class="filter-divider-left-long">
                                                                    <div class="form-group select-custom">
                                                                        <select id="ltaType" class="form-control width-xs">                  
                                                      <%  for(var no = 0; no < ltaTypes.length; no++){ %>
                                                            <option value="<%-no %>"><%- ltaTypes[no] %></option>
                                                       <% } %>
                                                       <% if(proofOfLeave){ %>
                                                        <option value="pol">Proof of leave</option>
                                                       <% } %>
                                                  </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-9 col-md-9">
                                                            <!-- loader -->
                                                            <div id='searchingTxtDetails' class='search-txt-loader' style='display: none; text-align:left'>
                                                                <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif' alt='loading' height="40px" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <div class="row" id="ckeckListDetails">
                                                                <%if((petroDocGroupCheck != 'pc') && (petroDocGroupCheck != 'tl')){ %>
                                                            <div class='col-xs-9 col-md-9'>


                                                                <% if(docDetails.checkList.length > 0) { %>
                                                                    <div class="claim-txt">
                                                                        <h3>Claim was processed based on the following checklist</h3>
                                                                        <table class="custom-table mv-table-view hover-state">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Checklist Item</th>
                                                                                    <th>Yes/No</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody class="main-content">
                                                                                <% for(var currCheckList = 0; currCheckList < docDetails.checkList.length;currCheckList++) { %>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <%-docDetails.checkList[currCheckList].question %>
                                                                                        </td>
                                                                                        <% if(docDetails.checkList[currCheckList].checked === 'Yes') { %>
                                                                                            <td class="checkMarks indent"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/checkGreen.png"></td>

                                                                                            <% } else if(docDetails.checkList[currCheckList].answered === 'Yes') { %>
                                                                                                <td class="checkMarks indent"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/checkGreen.png"></td>
                                                                                                <% }else {%>
                                                                                                    <td class="checkMarks indent"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/crossRed.svg"></td>
                                                                                                    <% }%>
                                                                                    </tr>
                                                                                    <% } %>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <% } else {%>
                                                                        <!-- blank vd -->
                                                                        <div class="claim-txt">
                                                                            <h3>Claim is not processed yet</h3>
                                                                        </div>
                                                                        <div>
                                                                            <div class="col-xs-6 col-md-6 no-item-header">CHECKLIST ITEM</div>
                                                                            <div class="col-xs-6 col-md-6 no-item-header right-align">YES/NO</div>
                                                                        </div>
                                                                        <div class="no-documents no-item-border">
                                                                            <div class="no-documents">
                                                                                <div class="table-empty-state" style="display:block;">
                                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-empty-state.png" alt="">
                                                                                    <p>Data not available.</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <% } %>

                                                            </div>
                                                            <% } else { %>
                                                                <div class="col-xs-4 col-md-4 right-margin"></div>
                                                           <% } %>
                                                            <div class='col-xs-3 col-md-3 pad-top-doc' <%if((petroDocGroupCheck == 'pc') || (petroDocGroupCheck == 'tl')){ %> style="text-align:center" <%}%> >
                                                                <h3>Claim Documents</h3>
                                                                <% if(docDetails.attrs.billUrls && docDetails.attrs.billUrls.length) { %>
                                                                    <div id="bills-carousel" class="carousel slide bill-carousel" data-interval="false" data-wrap="false" data-ride="carousel">
                                                                        <!-- Indicators -->
                                                                        <ol class="carousel-indicators">
                                                                            <% let currImg = 0;for(var currDoc = 0; currDoc < docDetails.attrs.billUrls.length;currDoc++) { %>
                                                                                <% if(currImg == 0) { %>
                                                                                    <li data-target="#bills-carousel" data-slide-to="<%-currImg %>" class="active"></li>
                                                                                    <% } else { %>
                                                                                        <li data-target="#bills-carousel" data-slide-to="<%-currImg %>"></li>
                                                                                        <% } %>
                                                                                            <% currImg++; %>
                                                                                                <% } %>
                                                                        </ol>

                                                                        <!-- Wrapper for slides -->
                                                                        <div class="zoom carousel-inner" role="listbox">
                                                                            <% let currDocImg = 0;for(var currDoc = 0; currDoc < docDetails.attrs.billUrls.length ;currDoc++) { %>
                                                                                <div class="item <%- currDocImg == 0 ? 'active' : ''%>">
                                                                                    <a href="<%- docDetails.attrs.billUrls[currDoc] %>" target="_blank">
                                                                <img src="<%- docDetails.attrs.billUrls[currDoc] %>" alt="..." onerror="this.onerror=null;this.src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/documentview-pdf.png';" class="fixed-img-height"/>
                                                            </a>
                                                                                </div>
                                                                                <% currDocImg++; %>
                                                                                    <% } %>
                                                                        </div>

                                                                        <!-- Controls -->
                                                                        <a class="left carousel-control" href="#bills-carousel" role="button" data-slide="prev">
                                                                            <span class="glyphicon" aria-hidden="true"></span>
                                                                            <span class="sr-only">Previous</span>
                                                                        </a>
                                                                        <a class="right carousel-control" href="#bills-carousel" role="button" data-slide="next">
                                                                            <span class="glyphicon" aria-hidden="true"></span>
                                                                            <span class="sr-only">Next</span>
                                                                        </a>
                                                                    </div>
                                                                    <% } %>

                                                            </div>

                                                        </div>
                                            </div>
                                            <!-- last login  -->
                                            <% include common/time-footer %>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <% include common/html-script %>

            <script src="../dist/scripts/document.js"></script>
            <script src="../dist/scripts/documentDetailsLta.js"></script>

            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>

    </body>

    </html>