<% if(docGroup.docGroupsInfos.length == 0) { %>
    <div class='no-documents'><div class='no-documents'><div class="table-empty-state" style="display:block;">
        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-empty-state.png" alt="">
        <p>No documents found</p>
    </div></div></div>
<% } else { %>
    <% for(var currDoc = 0; currDoc < docGroup.docGroupsInfos.length;currDoc++) { %>
        <div class='col-xs-3 doc-store-item-wrpr'>
            <div class='doc-store-item'>
                <a class="docGroupLink" href="javascript:void(0)" data-href="/document-drive/<%-docGroup.docGroupsInfos[currDoc].docGroupID %>?businessID=<%-businessId%>">
                    <div class="doc-store-card">
                        <div style="background:url(<%- htmlDecoder(docGroup.docGroupsInfos[currDoc].attrs.billUrls[0]) %>), url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/preview-pdf.png);" class="doc-store-pic"></div>
                        <% if((docGroup.docGroupsInfos[currDoc].attrs.documentType) && (docGroup.docGroupsInfos[currDoc].attrs.documentType == 'travel_log' || docGroup.docGroupsInfos[currDoc].attrs.documentType == 'employee_proof')){ %>
                            <% } else { %>
                        <div class="doc-store-pic-amt" style="">
                                <span class="doc-store-pic-amt-text">&#8377; <%- docGroup.docGroupsInfos[currDoc].attrs.claimAmount %></span>
                        </div>
                        <% } %>
                        <% if(docGroup.docGroupsInfos[currDoc].attrs.billUrls.length > 1) { %>
                            <div class="doc-store-pic-more"><span class="doc-store-pic-more-text">+ <%- (docGroup.docGroupsInfos[currDoc].attrs.billUrls.length - 1) %></span></div>
                        <% } %>
                    </div>
                    <div class='row doc-store-item-dtls'>
                        <h3 class='doc-name'><img src="<%- docGroup.docGroupsInfos[currDoc].attrs.profileImage || 'https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png' %>" class="img-circle doc-store-profile-pic"><span class="doc-store-profile-name text-capitalize"><%= docGroup.docGroupsInfos[currDoc].attrs.name %><span></h3>
                        <div class='doc-type'>
                        <% if((docGroup.docGroupsInfos[currDoc].attrs.documentType) && (docGroup.docGroupsInfos[currDoc].attrs.documentType == 'travel_log' || docGroup.docGroupsInfos[currDoc].attrs.documentType == 'employee_proof' )){ %>
                            <span>Document Name - </span>
                            <% if(docGroup.docGroupsInfos[currDoc].attrs.label){ %>
                                <span class="doc-state-green" title="<%- docGroup.docGroupsInfos[currDoc].attrs.label %>"><%- docGroup.docGroupsInfos[currDoc].attrs.label %></span>
                            <% } else { %>
                            <span class="doc-state-green">Car Log</span>
                            <% } %>
                        <% } else { %>
                        <span>Claim - </span>
                        <% if(docGroup.docGroupsInfos[currDoc].attrs.state === 'declined' || docGroup.docGroupsInfos[currDoc].attrs.state === 'unpaid' || docGroup.docGroupsInfos[currDoc].attrs.state === 'UNPAID' || docGroup.docGroupsInfos[currDoc].attrs.state === 'DECLINED' ) { %>
                            <% if(docGroup.docGroupsInfos[currDoc].attrs.state === 'declined' || docGroup.docGroupsInfos[currDoc].attrs.state === 'DECLINED' ) { %>
                                <span class="doc-state-red">Declined</span>
                            <% } else if(docGroup.docGroupsInfos[currDoc].attrs.state === 'unpaid' || docGroup.docGroupsInfos[currDoc].attrs.state === 'UNPAID') {%>
                                <span class="doc-state-red">Unpaid</span>
                            <% } %>    
                        <% } else if(docGroup.docGroupsInfos[currDoc].attrs.state === 'paid' || docGroup.docGroupsInfos[currDoc].attrs.state === 'PAID' || docGroup.docGroupsInfos[currDoc].attrs.state === 'partially_paid' || docGroup.docGroupsInfos[currDoc].attrs.state === 'PARTIALLY_PAID' || docGroup.docGroupsInfos[currDoc].attrs.state === 'approved' || docGroup.docGroupsInfos[currDoc].attrs.state === 'APPROVED') { %>
                            <% if(docGroup.docGroupsInfos[currDoc].attrs.state === 'paid' || docGroup.docGroupsInfos[currDoc].attrs.state === 'PAID') { %>    
                                <span class="doc-state-green">Paid</span>
                            <% }else if(docGroup.docGroupsInfos[currDoc].attrs.state === 'partially_paid' || docGroup.docGroupsInfos[currDoc].attrs.state === 'PARTIALLY_PAID') { %>
                                <span class="doc-state-green">Partially Paid</span>
                            <% } else if(docGroup.docGroupsInfos[currDoc].attrs.state === 'approved' || docGroup.docGroupsInfos[currDoc].attrs.state === 'APPROVED') { %>
                                <span class="doc-state-green">Approved</span>
                            <% } %>
                        <% } else if(docGroup.docGroupsInfos[currDoc].attrs.state === 'uploaded' || docGroup.docGroupsInfos[currDoc].attrs.state === 'UPLOADED' ) { %>
                            <span class="doc-state-yellow">Pending Approval</span>
                        <% } else if(docGroup.docGroupsInfos[currDoc].attrs.state === 'proof_submitted') { %>
                            <span class="doc-state-yellow">Proof Submitted</span>
                        <% } else { %>
                            <span class="doc-state-green"><%- docGroup.docGroupsInfos[currDoc].attrs.state || 'N/A' %></span>
                        <% } %>
                        <% } %>
                        </div>
                        <div class='doc-prod-type'><%- programTypes[docGroup.docGroupsInfos[currDoc].attrs.cardProgramID] ? htmlDecoder(programTypes[docGroup.docGroupsInfos[currDoc].attrs.cardProgramID]) : docGroup.docGroupsInfos[currDoc].attrs.productType %></div>
                    </div>
                </a>
                
            </div>
        </div>
    <% } %>
<% } %>