<% include common/html-head %>

  <body>
    <input type="hidden" id="businessId" value="<%-businessId%>">
    <div class="wrapper">
      <% include common/header %>
        <!-- Container -->
        <div class="container-fluid sidebar-row">
          <div class="row">
            <% if(!requestedSource){ %>
              <% include common/sidebar %>
            <% } %>
            <% if(!requestedSource){ %>
              <!-- Inner container -->
              <div class="inner-container">
                <!-- Banner Start -->
                <div class="banner-section gradient-red-violet">
                  <div class="row row-to-table">
                    <div class="col-xs-7 col-md-7 float-to-column">
                      <div class="page-heading">
                        <h1>Document Drive</h1>
                      </div>
                      <p class="mg-bottom-zero">
                        <span class="document-quote-text">
                          One stop place to verify the uploaded documents or bills against the approved/credited claims by all your beneficiaries.
                        </span>
                        <a class="learn-more-link learn-more-size" target="_blank" href="https://docs.zetaapps.in/display/OND/Auditing+Employee+Documents">Learn more</a>
                      </p>
                    </div>
                    <div class="col-xs-5 col-md-5 float-to-column" align="right">
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <!-- Banner End -->
                <div class="col-xs-12 col-md-12 program">
                  <div class="tabs-nav-container tabbable-panel">
                      <div class="tabbable-line">
                          <ul class="nav nav-tabs document-tab">
                              <li class="claims-tab active">
                                  <a href="#newReport" id="allClaims" data-toggle="tab" onclick="return false;">
                                      Claims
                                  </a>
                              </li>
                              <%if(allowOtherDocuments == true){ %>
                                <li class="other-documents-tab">
                                  <a href="#newReport" id="otherDocuments" data-toggle="tab" onclick="return false;">
                                      Documents
                                  </a>
                              </li>
                              <% } %>
                              
                          </ul>
                      </div>
                  </div>
              </div>
            <% } %>
                  <!-- <div class='no-documents'>
                    <div class="table-empty-state" style="display:block;">
                      <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-empty-state.png" alt="">
                      <p>No documents found</p>
                    </div>
                  </div> -->
                  
                    <div class="sub-container" style="<%- requestedSource ? 'padding: 40px 18px 0 18px;' : '' %>">
                      <div class="row">
                        <div class="col-xs-12 col-md-12">
                          <div class="page-sub-heading">
                            <div class="filter-wrap">
                              <div class="filter-section doc-filter-row">
                                <div class="filter-elements search-filter">
                                  <div class="custom-searchbox" style="margin-left:0px;width: 100%;">
                                    <div class="input-group stylish-input-group">
                                      <input id="searchDocs" type="text" class="form-control" placeholder="Name, Email, Mobile or Claim-Id">
                                      <span class="input-group-addon">
                                        <button id="searchDocsBtn" type="submit">
                                          <span>
                                            <img src="/images/search_small.png">
                                          </span>
                                        </button>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="filter-elements">
                                  <div class="">
                                    <div class="filter-divider-left-long" style="width:100%;">
                                      <div class="form-group select-custom doc-multiselect">
                                        <!-- <select id="selectedCompanyDropdown" class="form-control width-xs" style="width:149px">
                                          <option value="<%= currentCompany[0].businessId %>"><%= currentCompany[0].companyName%></option> 
                                          <% for(var i=0;i< othersCompany.length; i++) { %>
                                            <option value="<%= othersCompany[i].businessId %>">
                                              <%= othersCompany[i].companyName %>
                                            </option>
                                            <% } %>
                                        </select> -->
                                        <div class="dropdown company-dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-company="<%= currentCompany[0].businessId %>"><%= currentCompany[0].companyName %></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="company-options selected" href="javascript:void(0)" data-company="<%= currentCompany[0].businessId %>"><%= currentCompany[0].companyName %></a></li>
                                                <% for(var i=0;i< othersCompany.length; i++) { %>
                                                  <li><a class="company-options" href="javascript:void(0)" data-company="<%= othersCompany[i].businessId %>"><%= othersCompany[i].companyName %></a></li>
                                                  <% } %>
                                            </ul>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="filter-elements">
                                  <div class="">
                                    <div class="filter-divider-left-long">
                                      <div class="form-group select-custom all-status doc-multiselect">
                                        <select id="statusType" class="form-control width-xs">
                                          <!-- <option value="">All Statuses</option> -->
                                          <% for(var key in allStates) { %>
                                            <option value="<%- key %>">
                                              <%- allStates[key]%>
                                            </option>
                                            <% } %>
                                        </select>
                                      </div>
                                      <%if(allowOtherDocuments == true){ %>
                                        <div class="form-group select-custom all-documents  doc-multiselect" style="display:none">
                                          <select   id="documentType" class="form-control width-xs">
                                            <option value="">All Documents</option>
                                            <% for(var key in allDocumentsSource) { %>
                                              <option value="<%- key %>">
                                                <%- allDocumentsSource[key]%>
                                              </option>
                                              <% } %>
                                          </select>
                                        </div>
                                      <% } %>
                                    </div>
                                  </div>
                                </div>

                                <div class="filter-elements">
                                  <div class="">
                                    <div class="filter-divider-left-long">
                                      <div class="form-group select-custom  doc-multiselect">
                                        <select id="programType" class="form-control width-xs">
                                          <!-- <option value="0">All Programs</option> -->
                                          <% for(var key in programTypes) { %>
                                            <option value="<%- key%>"  selected="selected">
                                              <%- programTypes[key]%>
                                            </option>
                                            <% } %>
                                        </select>
                                        <!-- <dl id="sample" class="dropdown">
                                            <dt><a href="javascript:void(0)" id="initial-allPrograms"><span>All Programs<span class="value">0</span></span></a></dt>
                                            <dd>
                                                <ul class="program-ul">
                                                  <li class="list gradient" style="height:16px;margin-left: 10px;
                                                  margin-right: 10px;"></li>
                                                  <li class="list gradient" style="height:16px;top: 5px;margin-left: 10px;
                                                  margin-right: 10px;"></li>
                                                  <li class="list gradient" style="height:16px;top: 10px;margin-left: 10px;
                                                  margin-right: 10px;"></li>
                                                   

                                                </ul>
                                            </dd>
                                        </dl> -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="filter-elements bulk_order-datepicker">
                                  <div class="form-group date-picker">
                                      <div class="input-group">
                                          <input type="text" name="daterange" class="form-control datepicker-img" id="timePeriod" placeholder="Search by Date" value="" readonly />
                                      </div>
                                  </div> 
                                </div>
                                <div class="filter-elements download-wrap">
                                  <div class="">
                                    <div class="filter-divider-left-long">
                                      <%if(allowDownload == true){ %>
                                      <div class="form-group select-custom download-link">
                                        <a id="downloadDocuments"><span style="padding-right: 5px;"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/arrows-cloud-download.svg"></span>Download</a>
                                      </div>
                                      <% } %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Filter End -->
                            <!-- Table -->
                            <!--<div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div id="documentsTable"></div>
                                        </div>
                                    </div>-->
                            <!-- Table End -->
                            <div class='row doc-store-list'>
                              <div id='searchingTxt' class='search-txt-loader' style='display: none;'>
                                <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif' alt='loading' />
                                <div>Searching Documents..</div>
                              </div>
                              <div class='clearfix' id='docStoreList'>
                                <% include documentItem %>
                              </div>
                            </div>
                              <div class='load-more-btn-wrpr x-medium-button'>
                                <button id='loadMoreDocsBtn' class="btn btn-default" type="button" <% if(docGroup.docGroupsInfos.length != 12) {%> style="display:none" <% } %> >LOAD MORE</button>
                              </div>
                          </div>
                        </div>
                      </div>
                      <!-- last login  -->
                      <% include common/time-footer %>
                    </div>
                    
              </div>
              <!-- Inner container End -->
          </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Modal Preview  -->
    <div tabindex="-1" class="modal fade" id="myModalThumbnail" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">×</button>
          </div>
          <div class="modal-body">
            <img width='100%' height='500' id="thumbnailImg" src="" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Preview End -->
    <!-- Download Documents Modal -->
     <!-- Modal download documents first -->
     <div class="modal fade" id="downloadDocuments-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog  custom-modalbox " role="document">
          <div class="modal-content">
              <div class="modal-header cross-pos" style="margin-top: 5px;">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                      aria-hidden="true">&times;</span></button>
              </div>
              <div class="custom-modal-body-doc">
                  <div class="modal-body no-border modal-inner-container " style="margin-left: -15px;
                  margin-right: 10px;
                  margin-bottom: 10px; padding-top:12px !important;"> 
                      <div class="row pad-top-20" id='downloadWrpr'> 
                        <div class="col-xs-12 col-md-12 pd-left-zero " style="text-align: center">
                              <img class="download-img" style="padding-bottom: 17px;padding-left: 45px" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/single-folded-blue-content.png">
                              <h6 class="mg-top-zero pd-bottom-ten download-text" style="padding-left:45px;">Download documents?</h6>
                              <div class="pd-left-forty">
                                  <p class="pad-top-4">It will take some time to compile the documents for download. We will email you the compiled documents at <span style="font-weight:bold"><%=userEmailId%></span> 
                                    within <span style="font-weight:bold">24 hrs.</span></p>
                              </div>
                              <div class="flexible-button pd-left-forty" style="padding-top: 16px;">
                                  <button class="btn btn-default" type="button" name="" value="" id="download-doc-btn">Proceed
                          </button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="clearfix"></div>
              </div>

          </div>
      </div>
  </div>
    <!-- Download Modal ends -->
<!-- Modal download compile documents first -->
<div class="modal fade" id="downloadCompile" tabindex="-1" role="dialog">
    <div class="modal-dialog  custom-modalbox " role="document">
        <div class="modal-content">
            <div class="custom-modal-body-doc">
                <div class="modal-body no-border modal-inner-container " style="margin-left: -15px;
                margin-right: 10px;
                margin-bottom: 10px; padding-top:35px !important;"> 
                    <div class="row pad-top-20" id=''> 
                      <div class="col-xs-12 col-md-12 pd-left-zero " style="text-align: center">
                            <img class="download-img" style="padding-bottom: 17px;padding-left: 45px" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/single-folded-green-content.png">
                            <h6 class="mg-top-zero pd-bottom-ten download-text" style="padding-left:45px;">Compiling files for download….</h6>
                            <div class="pd-left-forty">
                                <p class="pad-top-4">Our servers are working full speed to provide you the files as quick as possible. Keep a lookout for our email within the next 24 hrs. </p>
                            </div>
                            <div class="flexible-button pd-left-forty" style="padding-top: 16px;">
                                <button class="btn btn-default" type="button" name="" value="" id="download-done-btn">Done
                        </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>
  <!-- Download compile Modal ends -->
  <!-- Modal download compile documents first -->
<div class="modal fade" id="downloadCompileError" tabindex="-1" role="dialog">
  <div class="modal-dialog  custom-modalbox " role="document">
      <div class="modal-content">
          <div class="custom-modal-body-doc">
              <div class="modal-body no-border modal-inner-container " style="margin-left: -15px;
              margin-right: 10px;
              margin-bottom: 10px; padding-top:35px !important;"> 
                  <div class="row pad-top-20" id=''> 
                    <div class="col-xs-12 col-md-12 pd-left-zero " style="text-align: center">
                          <img class="download-img" style="padding-bottom: 17px;padding-left: 45px" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/single-folded-error-content.png">
                          <h6 class="mg-top-zero pd-bottom-ten download-text" style="padding-left:45px;">Oops! Something went wrong.</h6>
                          <div class="pd-left-forty">
                              <p class="pad-top-4">There seems to be some issue with file compilation. Please try again. We are sorry for the inconvenience caused.</p>
                          </div>
                          <div class="flexible-button pd-left-forty" style="padding-top: 16px;">
                              <button class="btn btn-default" type="button" name="" value="" id="download-error-btn">Try Again
                      </button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="clearfix"></div>
          </div>

      </div>
  </div>
</div>
<!-- Download compile Modal ends -->

    <% include common/html-script %>
    <link type="text/css" href="../../../scss/pages/jquery.multiselect.css" rel="stylesheet" />
    <div style="display:none;">
    <script type='text/javascript'>
      var programTypes= <%- JSON.stringify(programTypes) %>
      localStorage.setItem('programTypes', JSON.stringify(programTypes));
      

      var totalPages= <%= JSON.stringify(totalPages) %>
      // if(totalPages >1){
      //   localStorage.setItem('programPageNumber', 0);
      // } else{
        localStorage.setItem('programPageNumber', 0);
        localStorage.setItem('flag', 0);
        localStorage.setItem('scrollFlag', 0);
    //  }
      localStorage.setItem('programMaxPage', JSON.stringify(totalPages));
     </script>
    </div>
      <script src="../dist/scripts/document.js"></script>

      <script type="text/javascript">
        $(function () {
          $('[data-toggle="popover"]').popover()
        })

      </script>
      <script type="text/javascript">
        //    $(document).ready(function() {
        //        $('.toggle-row').hide();
        //        $('.toggle-row').first().hide();
        //    });
        //
        //    $('.click-row').click(function(event) {
        //        $('.toggle-row').hide();
        //        $(event.target.closest('.click-row')).next().show();
        //    });

      </script>

  </body>

  </html>
