<div class='col-xs-9 col-md-9'>
        
            
            <% if(checkList.length > 0) { %>
                <div class="claim-txt">
                    <h3>Claim was processed based on the following checklist</h3>
                    <table class="custom-table mv-table-view hover-state">
                        <thead>
                            <tr>
                                <th>Checklist Item</th>
                                <th>Yes/No</th>
                            </tr>
                        </thead>
                        <tbody class="main-content" >
                            <% for(var currCheckList = 0; currCheckList < checkList.length; currCheckList++) { %>
                                <tr>
                                        <td>
                                            <%-checkList[currCheckList].question %>
                                        </td>
                                        <% if(checkList[currCheckList].checked === 'Yes') { %>
                                            <td class="checkMarks indent"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/checkGreen.png"></td>
                                            
                                            <% } else if(checkList[currCheckList].answered === 'Yes') { %>
                                                <td class="checkMarks indent"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/checkGreen.png"></td>
                                                <% }else {%>
                                                <td class="checkMarks indent"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/crossRed.svg"></td>
                                                <% }%>
                                    </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
                <% } %>
        
    </div>
    <div class='col-xs-3 col-md-3 pad-top-doc'>
            <h3>Claim Documents</h3>
            <% if(billUrls && billUrls.length) { %>
                <div id="bills-carousel" class="carousel slide bill-carousel" data-interval="false" data-wrap="false" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <% let currImg = 0;for(var currDoc = 0; currDoc < billUrls.length;currDoc++) { %>
                            <% if(currImg == 0) { %>
                                <li data-target="#bills-carousel" data-slide-to="<%-currImg %>" class="active"></li>
                                <% } else { %>
                                    <li data-target="#bills-carousel" data-slide-to="<%-currImg %>"></li>
                                    <% } %>
                                        <% currImg++; %>
                                            <% } %>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="zoom carousel-inner" role="listbox">
                        <% let currDocImg = 0;for(var currDoc = 0; currDoc < billUrls.length ;currDoc++) { %>
                            <div class="item <%- currDocImg == 0 ? 'active' : ''%>">
                                <a href="<%- billUrls[currDoc] %>" target="_blank">
                <img src="<%- billUrls[currDoc] %>" alt="..." onerror="this.onerror=null;this.src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/documentview-pdf.png';" class="fixed-img-height"/>
            </a>
                            </div>
                            <% currDocImg++; %>
                                <% } %>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#bills-carousel" role="button" data-slide="prev">
                        <span class="glyphicon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#bills-carousel" role="button" data-slide="next">
                        <span class="glyphicon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <% } %>

        </div>
        <script src="../dist/scripts/documentLtaChecklist.js"></script>