<% include common/html-head %>

    <body>
        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <!-- Banner Start -->
                                <div class="top-section gradient-indigo-blue-reverse">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero pd-bottom-fifteen">
                                                    <li><a href="/beneficiaries">Beneficiary Directory</a></li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Breadcrumb End -->
                                        
                                        <div class="row flex-container">
                                            <div class="col-xs-6 col-md-6 flex-left-container">
                                                <div class="user-profile-container">
                                                    <input type="hidden" id="employeeId" value="<%-employeeID%>">
                                                    <input type="hidden" id="selected-employee-id" value="<%-employeeID%>">
                                                    <input type="hidden" id="selected-company-id" value="<%-companyID%>">
                                                    <input type="hidden" id="transferId" value="<%-programIDs[0]%>">
                                                    <input type="hidden" id="cardProgrammeId" value="<%-benefits[0].cardProgramID%>">
                                                    <div class="profile-img-cell">
                                                        <img src="<%-(profileInfo.profilePicURL) ? profileInfo.profilePicURL : 'https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png' %>" alt="Zeta Profile">
                                                    </div>
                                                    <div class="profile-name-cell">
                                                        <div class="profile-heading">
                                                            <%- name %>
                                                        </div>
                                                        <div class="profile-subHeading">
                                                            <%- companyName %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-6 col-md-6 flex-right-container">
                                                <div class="user-profile-list">
                                                    <div class="user-list-column">

                                                        <ul class="list-unstyled mg-bottom-zero employee-status">
                                                            <li class="clearfix">
                                                                <div class="employee-label"><span class="list-one">&nbsp;</span><small>Email:</small></div>
                                                                <div class="ellipsis">
                                                                    <div class="user-discription-column label-details inner">
                                                                        <small title="<%- email %>" id="user_email"> <%- email %></small>

                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="clearfix">
                                                                <div class="employee-label"><span class="list-two">&nbsp;</span><small>Mobile:</small></div>
                                                                <div class="user-discription-column label-details">
                                                                    <% if(phoneNumber ) { %>
                                                                        <%   if(phoneNumber == -1){ %>
                                                                            <small id="user_phone">N/A</small>
                                                                            <%   } else {  %>
                                                                                <small><%- phoneNumber %></small>
                                                                                <%   }  %>

                                                                                    <%  } else { %>
                                                                                        <small id="user_phone">N/A</small>
                                                                                        <%  } %>
                                                                </div>
                                                            </li>
                                                            <% if(templateData && templateData.showKYCStatus) { %> 
                                                            <li class="clearfix">
                                                                <div class="employee-label"><span class="list-four">&nbsp;</span><small>KYC Status:</small></div>
                                                                <div class="user-discription-column label-details">
                                                                    <% if(profileInfo.kycDone) { %>
                                                                        <a class="tooltip-title">
                                                                            <span class='label-verified'></span>
                                                                            <span class="tooltip-view tooltip-view-employee-details">
                                                                                    <!-- Tooltip Content  -->
                                                                                      <div class="tooltip-lrtb-pd">
                                                                                          <div class="row">
                                                                                              <div class="col-xs-12 col-md-12">Verified</div>
                                                                                          </div>
                                                                                      </div>
                                                                                    <!-- Tooltip Content End -->
                                                                                </span>
                                                                        </a>
                                                                        <% } else { %>
                                                                            <a class="tooltip-title">
                                                                                <span class='label-not-verified'></span>
                                                                                <span class="tooltip-view tooltip-view-employee-details">
                                                                                  <!-- Tooltip Content  -->
                                                                                    <div class="tooltip-lrtb-pd">
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-12">Not Verified</div>
                                                                                        </div>
                                                                                    </div>
                                                                                  <!-- Tooltip Content End -->
                                                                              </span>
                                                                            </a>
                                                                            <% } %>
                                                                </div>
                                                            </li>
                                                            <li class="clearfix">
                                                                <div class="employee-label"><span class="list-five">&nbsp;</span>Super Card Status:</div>
                                                                <div class="label-details">
                                                                    <% if(noOfActiveSuperCards) { %>
                                                                        <a class="tooltip-title">
                                                                            <span class='label-verified-supercard'></span>
                                                                            <span class="tooltip-view tooltip-view-employee-details">
                                                                                    <!-- Tooltip Content  -->
                                                                                      <div class="tooltip-lrtb-pd">
                                                                                          <div class="row">
                                                                                              <div class="col-xs-12 col-md-12">Active</div>
                                                                                          </div>
                                                                                      </div>
                                                                                    <!-- Tooltip Content End -->
                                                                                </span>
                                                                        </a>
                                                                        <% } else { %>
                                                                            <a class="tooltip-title">
                                                                                <span class='label-not-verified-supercard'></span>
                                                                                <span class="tooltip-view tooltip-view-employee-details">
                                                                                  <!-- Tooltip Content  -->
                                                                                    <div class="tooltip-lrtb-pd">
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-12">Inactive</div>
                                                                                        </div>
                                                                                    </div>
                                                                                  <!-- Tooltip Content End -->
                                                                              </span>
                                                                            </a>
                                                                            <% } %>
                                                                </div>
                                                            </li>
                                                            <% } %>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <!--Filter -->
                                <!--  <div class="col-xs-3 col-md-3 filter-divider--margin-top filter-divider--margin-left" align="right">
                                    <div class="filter-divider-table">
                                            <div class="filter-divider-left">
                                                    <div class="form-group select-custom">
                                                        <select id="statusType" class="form-control width-xs">
                                                            <option value="">Closed Programs</option>
                                                            <option value=""></option>
                                                        </select>
                                                    </div>
                                            </div>
                                    </div>
                                </div> -->

                                <!-- End -->
                                <!--Tool Bar Starts-->
                                <div class="col-xs-12 col-md-12 program program-no-bottom-margin">
                                    <div class="tabs-nav-container tabbable-panel tabbable-panel--pd">
                                        <div class="tabbable-line">
                                            <ul class="nav nav-tabs beneficiary margin-top-pos" id="horizontal">
                                                <% if(templateData && templateData.showOverviewTab) { %>
                                                    <li class="active">
                                                        <a href="#tab_default_0" class="programTab" id="overview-tab" data-toggle="tab">
                                                            Overview
                                                        </a>
                                                    </li> 
                                                <% } %>                                         
                                                <% if(benefits){ %>
                                                    <% for(var i=0;i<benefits.length;i++) {%>
                                                        <% if(i < 25) {%>
                                                            <li>
                                                                <a href="javascript:void(0)" class="programTab" id="<%- benefits[i].programID %>" data-toggle="tab">
                                                                    <% if(benefits[i].productType && benefits[i].productType == 'Cash') { %>
                                                                        Cash Incentive
                                                                        <% } else { %>
                                                                            <%- benefits[i].cardDesign.cardName || benefits[i].productType %>
                                                                                <% } %>
                                                                </a>
                                                            </li>
                                                            <% } %>
                                                                <%  }  }%>
                                                                    <!-- <li class="active">
                                    <a href="#tab_default_one" id="tabElement" data-toggle="tab">
                                        Overview
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_default_two" id="accTab" data-toggle="tab">
                                        Meal Vouchers
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_default_three" id="accTab" data-toggle="tab">
                                        Medical Reimbursement
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_default_four" id="accTab" data-toggle="tab">
                                        Fuel Allowance
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_default_five" id="accTab" data-toggle="tab">
                                        Gift Card
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_default_six" id="accTab" data-toggle="tab">
                                        Gadget Card
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_default_seven" id="accTab" data-toggle="tab">
                                        More<img class="tab-arrow" align="right" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/down-arrow.png" alt="zeta icon">
                                    </a>
                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tool Bar ends here-->
                                <div class="sub-container">
                                    <!-- loader start -->
                                    <div class="col-xs-12 col-md-12">
                                        <!-- loader -->
                                        <div id="searchingProgramDetails" class="search-txt-loader media-list-container margin-top-thirty" style="display: none;">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif" alt="loading" height="40px">
                                        </div>
                                    </div>
                                    <!-- loader end -->
                                    <div>
                                        <div class="tab-content" id="employee-program-details">
                                            <% include section/employee-details/overview %>
                                        </div>
                                        <% include revoke-cancel-modal %>
                                    </div>
                                    <!-- last login  -->
                                    <% include common/time-footer %>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>
        <!-- beneficiray-statement-commingsoon-modal  -->
        <!-- <div class="modal fade" id="beneficiaryStatement" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="beneficiary-cntr">
                        <img src="../../../images/statements-coming-soon.png" alt="">
                        <div class="heading-txt">
                            Beneficiary statements are getting an upgrade
                        </div>
                        <div class="content-txt">
                            We heard your feedback and are making some changes to the beneficiary statements. We will launch this feature soon.
                        </div>
                        <div class="sub-content">
                            Meanwhile, if you need any help, please email us on <span>support@zeta.in</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- beneficiray-statement-commingsoon-modal-ends-->

        <div class="modal fade" id="beneficiaryStatement" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox download-statement-modal" role="document">
                <div class="modal-content" style="width: 498px;margin-left: 40px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="beneficiary-cntr-download">
                        <div class="heading-txt">
                            Download Statement for
                            <%= name.charAt(0).toUpperCase() + name.slice(1)  %>
                        </div>
                        <form class="pd-top-twenty padding-download-statement">
                            <div class="fundaccerror-state" id="showDownloadStatementError" style="display:none;text-align: center;padding-bottom: 10px;">
                                <img class="img-error" style=" width: 16px;margin-right: 5px; margin-bottom: 2px;" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon-log.png" alt="">
                                <span class="span" style="color: #e74c3c;text-align: center;font-size: 14px; " id="showDownloadStatementErrorMsg">
                                        Failed. Server Error. Please try again or later
                                    </span>
                            </div>
                            <label for="recipient-name" class="control-label">Date Range</label>
                            <div class="form-group date-picker">
                                <div class="input-group">
                                    <input type="text" name="daterange1" class="form-control datepicker-img statement-btn" id="tranferPeriod" placeholder="Select date range by Date Picker" value="" readonly="" style="width:416px">
                                </div>
                            </div>
                            <div class="modal-footer" style="padding:0px">
                                <div class="flexible-button">
                                    <button class="btn btn-default submit-btn-disabled" type="button" id="downloadStatement" data-useremail="<%=email%>" data-companyname="<%=companyName.charAt(0).toUpperCase() + companyName.slice(1) %>" data-username="<%=name.charAt(0).toUpperCase() + name.slice(1)%>"
                                        data-cardprogramid="" data-zetauserid="<%= profileInfo.zetaUserID || employeeID %>" data-cardid="" disabled="disabled">DOWNLOAD STATEMENT</button>
                                    <img class="add-user-loader" id="downloadStatementLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg" style="display: none;">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Order List -->
        <div class="modal fade" id="showOrderHistoryListModal" tabindex="-1" role="dialog">
        </div>
        <!-- Modal Order List End -->
        </div>

        <% include common/html-script %>

            <script src="../dist/scripts/employeeBenefits.js"></script>

            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover();
                })
            </script>

    </body>

    </html>