<% include common/html-head %>

    <body>
        <input type="hidden" id="activateCloseCards" value="false">

        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <!-- Banner Start -->
                                <div class="banner-section gradient-indigo-blue-reverse">
                                    <div>
                                        <div class="row">
                                            <div class="col-xs-7 col-md-8">
                                                <div class="page-heading">
                                                    <h1 class="pd-btm-ten">Beneficiary Directory </h1>
                                                    <p class="para-lead mg-bottom-zero">
                                                        <span class="para-lead-text">Review and manage all active beneficiaries and their benefit programs, rewards & gifts, incentives and more. Select an individual to view the detailed analytics. </span>
                                                        <!-- <a class="learn-more-link learn-more-size" href="">Learn more</a> -->
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <input id="employee-Setup-Enabled" type="hidden" value="<%- employeeSetupEnabled %>">
                                <div class="sub-container">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="inner-sub-container page-sub-heading">
                                                <!-- Graph Count -->
                                                <!-- <div class="row">
                                    <div class="graph-heading">
                                        <div class="col-xs-3 col-md-3">
                                          <h5>`86,35,000</h5>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                          <h5>`86,35,000</h5>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                          <h5>`86,35,000</h5>
                                        </div>
                                    </div>
                                </div> -->
                                                <!-- Graph Count End -->
                                                <!-- Graph Legend -->
                                                <!-- <div class="row">
                                    <div class="graph-legend">
                                        <div class="col-xs-3 col-md-3">
                                            <strong class="light-green"></strong> <span> Transferred</span>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                            <strong class="light-pink"></strong> <span> Spent by Beneficiaries</span>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                            <strong class="light-pink"></strong> <span> Reimbursed via Claims</span>
                                        </div>
                                    </div>
                                </div> -->
                                                <!-- Graph Legend End -->
                                                <!-- Filter -->
                                                <div class="row">
                                                    <div class="filter-section">
                                                        <div class="col-xs-5 col-md-5">
                                                            <div class="custom-searchbox">
                                                                <div class="input-group stylish-input-group">
                                                                    <input id="searchBox" type="text" class="form-control" placeholder="Search by Beneficiary Name, Email or Mobile">
                                                                    <span class="input-group-addon">
                                                      <button id="searchBtn" type="button">
                                                        <span><img src="/images/search_small.png"></span>
                                                                    </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-7 col-md-7" align="right">
                                                            <div class="filter-divider-table">
                                                                <div class="filter-divider-left">
                                                                    <div class="form-group select-custom">
                                                                        <select class="form-control width-xs" id="companiesDropDown">
                                                                            <option value="">All Companies</option>
                                                                            <% for(var currIndex = 0; currIndex < companies.length; currIndex++) { %>
                                                                                <option value="<%- companies[currIndex].company.companyID %>" <% if(selectedCompany.company.companyID == companies[currIndex].company.companyID) {%> selected="selected"  <%} %> >  <%- companies[currIndex].company.companyName %> </option>
                                                                            <% } %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                          <!--      <div class="filter-divider-right">
                                                                    <div class="form-group select-custom">
                                                                        <select class="form-control width-xs" id="programsBenifits">
                                                            <option>All Cards</option>
                                                            <% for(var key in activeCards.programs) { %>
                                                            <option value="<%- activeCards.programs[key].programID %>"><%- activeCards.programs[key].cardProgramObject.cardName %></option>
                                                            <% } %>
                                                        </select>
                                                                    </div>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Filter End -->
                                                <!-- Table -->
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">

                                                        <div id="get-employees-widget">
                                                            <% include tables/employees %>
                                                        </div>


                                                    </div>
                                                </div>
                                                <!-- Table End -->

                                            </div>
                                        </div>
                                    </div>
                                    <!-- last login  -->
                                    <% include common/time-footer %>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <div id="statusModal"></div>

        <% include common/html-script %>
            <script src="../dist/scripts/employee.js"></script>
            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>

    </body>

    </html>