<% include common/html-head %>
<body>
	<div class="wrapper">
		<%include common/header %>
		<!-- Container -->
		<div class="container-fluid sidebar-row">
			<div class="row">
				<%include common/sidebar %>
				<!-- Inner container -->
				<div class="inner-container">
					<div class='error-msg-wrpr'>
						<img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-error-state.png" alt="error">
						<div class='error-msg'><%-message %><a class="link" href="mailto:<%- mail %>"><%- mail %></a></div>
						<a href="">Reload</a>
					</div>
				</div>
				<!-- Inner container End -->
			</div>
		</div>
		<!-- Container End -->
	</div>
<%include common/html-script %>
</body>
