<div class="filter-options">
    <input placeholder='Search' type="text" class="search-box" />
    <ul class="option-list">
        <li>
            <p>
                <input id="select_all" type="checkbox" value="" />
                <label for="select_all">Select All</label>
            </p>
        </li>
        <% for(var currIndex=0; currIndex<source.length; currIndex++) {%>
        <li class="option-item">
            <p>
                <%if (isMultiple) { %>
                <input id="option_<%-currIndex %>" type="checkbox" value="<%- source[currIndex] %>" />
                <% } %>
                <label for="option_<%-currIndex %>"><%- source[currIndex] %></label>
            </p>
        </li>
        <% } %>
    </ul>
    <div class="multiselect-options clearfix">
        <div class="total-selected"><span>0</span> Selected</div>
        <div class="other-options">
            <div class="clear-all">Clear All</div>
            <div class="apply">Apply</div>
        </div>
    </div>
</div>
