<% include common/html-head %>

    <body>

        <input type="hidden" id="accountId" value="<%-accountId%>">
        <input type="hidden" id="currPage" value="Accounts">

        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include common/sidebar %>
                            <!-- Inner container -->

                            <div class="inner-container">
                                <!-- Banner -->
                                <div class="top-section <%=templateData.bannerBgClass%>">
                                    <!-- Breadcrumb -->
                                    <% if (typeof templateData.breadcrumbs != 'undefined' && templateData.breadcrumbs != null && templateData.breadcrumbs.length > 0) { %>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <% for(var innerIndex = 0; innerIndex < templateData.breadcrumbs.length; innerIndex++){ %>
                                                        <li>
                                                            <a href="<%=templateData.breadcrumbs[innerIndex].href%>"><%=templateData.breadcrumbs[innerIndex].text%></a>
                                                        </li>
                                                    <% } %>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <% } %>
                                    <!-- Breadcrumb End -->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="page-heading">
                                                <h1 class="pd-top-ten">Transaction History for -
                                                    <span class="dropdown-list-item dropdown">
                                                        <a id="dLabel" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="hideAnchor trans-history-label">
                                                            <strong id="funding-name"><%-fundDetails.name%></strong>
                                                            <% if (fundingAccounts.length > 1) { %>
                                                            <span class="dropdown-typeTwo arrow-dropdown-right">
                                                                <img class="down-arrow-fit" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/down-arrows.svg" alt="Zeta icon" />
                                                                <ul class="dropdown-menu dropdown-select-list" aria-labelledby="dLabel" id="fundsList">
                                                                    <% for (var curr =0; curr < fundingAccounts.length; curr++) {%>
                                                                        <li><a href="#" data-value="<%-fundingAccounts[curr].accountID%>"><%-fundingAccounts[curr].name%></a></li>
                                                                    <%}%>
                                                                </ul> 
                                                            </span>
                                                            <% } %>
                                                        </a>
                                                    </span>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <!-- Tabs -->
                                <div class="col-xs-12 col-md-12 program">
                                    <div class="tabs-nav-container tabbable-panel">
                                        <div class="tabbable-line">
                                            <ul class="nav nav-tabs ">
                                                <li class="active">
                                                    <a href="#tab_default_2" id="fundsTab" data-toggle="tab">
                                        Funds Additions
                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_default_1" id="accTab" data-toggle="tab">
                                        Account Statement
                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tabs End -->

                                <div class="sub-container">
                                    <div class="row">
                                        <div class="tab-content">
                                            <!-- First Tab -->
                                            <div class="tab-pane " id="tab_default_1">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div class="inner-sub-container page-sub-heading">
                                                            <!-- Filter -->
                                                            <div class="row">
                                                                <div class="filter-section">
                                                                    <div class="col-xs-6 col-md-6">

                                                                    </div>
                                                                    <div class="col-xs-6 col-md-6 pd-top-ten" align="right">
                                                                        <a class="download-linkBlock hide" href=""> <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/arrows-download-block.png" alt="Zeta Icon"><strong>Download as CSV</strong></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Filter End -->
                                                            <!-- Table -->
                                                            <div class="row">
                                                                    <% if (templateData && templateData.accountStmt && templateData.accountStmt.enableDateRangeDownload) { %>
                                                                        <div class="col-xs-6 col-md-6"></div>
                                                                        <div class="col-xs-6 col-md-6 phdownloadBtn text-right">
                                                                            <div class="row">
                                                                                <div class="col-md-6 col-md-push-2">
                                                                                    <div class="__position-relative-input-box ph-date-picker">
                                                                                        <input type="text" name="dateranges" class="form-control datepicker-img ph-funds-report" id="tranferPeriodAccount" placeholder="Search by Date" value="" />
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6"><img class="phDwnldReport" alt="Download" data-name="account" width="120" height="35" src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/php-merchant-pos/download-cta@3x.png"></div>
                                                                            </div>
                                                                        </div>
                                                                    <% } %>
                                                                <div class="col-xs-12 col-md-12">
                                                                    <div id="accountStatement">
                                                                        <% include tables/account-statement %>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <!-- Table End -->

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- First Tab End -->
                                            <!-- Second Tab -->
                                            <div class="tab-pane active" id="tab_default_2">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div class="inner-sub-container page-sub-heading">
                                                            <!-- Table -->
                                                            <div class="row">
                                                                <% if (templateData && templateData.fundAdditions && templateData.fundAdditions.enableDateRangeDownload) { %>
                                                                <div class="col-xs-6 col-md-6"></div>
                                                                <div class="col-xs-6 col-md-6 phdownloadBtn text-right">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-md-push-2">
                                                                            <div class="__position-relative-input-box ph-date-picker">
                                                                                <input type="text" name="dateranges" class="form-control datepicker-img ph-funds-report" id="tranferPeriodFund" placeholder="Search by Date" value="" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6"><img class="phDwnldReport" alt="Download" data-name="fund" width="120" height="35" src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/php-merchant-pos/download-cta@3x.png"></div>
                                                                    </div>
                                                                </div>
                                                                <% } %>
                                                                <div class="col-xs-12 col-md-12">
                                                                    <div id="fundingAcc">
                                                                        <% include tables/funds-history %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Table End -->

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Second Tab End -->

                                        </div>
                                      <!--   <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="page-sub-heading-txt">
                                                    <p class="pd-top-fifty text-center">Looking for transactions before 1st Dec, 2016?</p>
                                                    <div class="text-center"><a class="default-link opacity-full font-size-12" href="/admin/transaction-history-legacy">Click
                                            here</a></div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- last login  -->
                                    <% include common/time-footer %>
                                </div>
                            </div>


                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
            </div>

            <!-- Modal request response Modal End -->
            <div class="modal fade" id="requestResponseModal" role="dialog" tabindex="-1">
                <div class="modal-dialog custom-modalbox" role="document">
                    <div class="modal-content responseModalBody">
                        <div class="modal-header">
                        </div>
                        <div class="custom-modal-body">
                            <div class="modal-body">
                                <img class="response-img" id="error-img" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.svg">
                                <img class="response-img" id="success-img" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/success-icon.svg">
                                <h4 class="text-center pd-bottom-zero" id="errorResponse"></h4>
                                <p id="errorResponseMsg"></p>
                            </div>
                            <div class="modal-footer">
                                <div class="flexible-button">
                                    <button class="btn btn-default reload-btn" data-dismiss="modal" id="responseBtn" name="" type="button" value="">
                            </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Change USer Status End -->
        </div>

        <% include common/html-script %>

            <script src="/dist/scripts/getFundsHistory.js"></script>
            <script src="/dist/scripts/admin.js"></script>
            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>

    </body>

    </html>