<% include common/html-head %>

    <body>
        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include common/sidebar %>
                            <!-- Inner container -->

                            <div class="inner-container">
                                <!-- Banner -->
                                <div class="top-section gradient-indigo-blue">
                                    <!-- Breadcrumb -->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <ul class="breadcrumb pd-tb-zero">
                                                <li>
                                                    <a href="/admin">Administration</a>
                                                </li>
                                                <li>
                                                    <a href="/admin/funding-accounts">Funding Accounts</a>
                                                </li>
                                                <li>
                                                    <a href="#" onclick="window.history.back();">Transaction History</a>
                                                </li>
                                                <li></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Breadcrumb End -->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="page-heading">
                                                <h1 class="pd-top-ten">Transaction history before 1st Dec, 2016</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->

                                <!-- Tabs -->
                                <div class="col-xs-12 col-md-12 program">
                                    <div class="tabs-nav-container tabbable-panel">
                                        <div class="tabbable-line">
                                            <ul class="nav nav-tabs ">
                                                <li class="active">
                                                    <a href="#tab_default_1" id="fundsTab" data-toggle="tab">
                                                        Account Statement
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_default_2" id="accTab" data-toggle="tab">
                                                        Funds Additions
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tabs End -->

                                <div class="sub-container">
                                    <div class="row">
                                        <div class="tab-content">
                                            <!-- First Tab -->
                                            <div class="tab-pane active" id="tab_default_2">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div class="inner-sub-container page-sub-heading">
                                                            <!-- Table -->
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-12">

                                                                    <div id="fundsHistory">
                                                                        <%include tables/funds-history-legacy%>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <!-- Table End -->

                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                            <!-- First Tab End -->
                                            <!-- Second Tab -->
                                            <div class="tab-pane" id="tab_default_1">
                                                <!-- Second Tab -->
                                                <div class="tab-pane active" id="tab_default_1">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-12">
                                                            <div class="inner-sub-container page-sub-heading">
                                                                <!-- Table -->
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-md-12">
                                                                        <div id="accountStatement">
                                                                            <%include tables/account-statement-legacy%>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- Table End -->

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Second Tab End -->
                                            </div>
                                            <!-- Second Tab End -->

                                        </div>
                                    </div>
                                    <!-- last login  -->
                                    <% include common/time-footer %>
                                </div>
                            </div>

                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <% include common/html-script %>

            <script src="../dist/scripts/fundingAccLegacy.js"></script>

            <script type="text/javascript">
                $(function () {
                    $('[data-toggle="popover"]').popover()
                })
            </script>

    </body>

    </html>