<% include common/html-head %>

    <body>
        <div class="wrapper">
            <% include common/header %>

                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include common/sidebar %>
                            <div class="inner-container">
                                <div class="hide" id="corpIDForFund">
                                    <%-corp.id%>
                                </div>
                                <!-- Banner -->
                                <div class="banner-section <%=templateData.bannerBgClass%>">
                                    <!-- Breadcrumb -->
                                    <% if (typeof templateData.breadcrumbs != 'undefined' && templateData.breadcrumbs != null && templateData.breadcrumbs.length > 0) { %>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <ul class="breadcrumb pd-tb-zero">
                                                <% for(var innerIndex = 0; innerIndex < templateData.breadcrumbs.length; innerIndex++){ %>
                                                    <li>
                                                        <a href="<%=templateData.breadcrumbs[innerIndex].href%>"><%=templateData.breadcrumbs[innerIndex].text%></a>
                                                    </li>
                                                <% } %>
                                                <li></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <% } %>
                                    <!-- Breadcrumb End -->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="page-heading">
                                                <h1 class="pd-top-ten"><%=templateData.headingText%></h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- Page Heading and List -->
                                        <div class="col-xs-8 col-md-8">
                                            <div class="page-heading">
                                                <p class="para-lead mg-bottom-zero">
                                                    <span class="para-lead-text opacity-point-seven"><%=templateData.subHeadingText%></span>
                                                    <% if (templateData.subHeadingLearnMoreLink) { %>
                                                    <a class="learn-more-link learn-more-size underline-text" target="_blank" href="<%=templateData.subHeadingLearnMoreLink%>">Learn more</a>
                                                    <% } %>
                                                </p>
                                                <!-- <div>
                                      <a class="learn-more-link learn-more-size" href="">Learn more</a>
                                </div> -->
                                            </div>
                                        </div>
                                        <% if (!templateData.disableOpenFundingAcc) { %>
                                        <div class="col-xs-4 col-md-4">
                                            <div align="right" class="large-button">
                                                <button class="btn btn-secondary text-uppercase btn-bg-color" data-target="#myModalNewAccount" data-toggle="modal" id="openAddFundModal" name="" type="button" value=""><strong>+</strong> OPEN A FUNDING ACCOUNT
                                </button>
                                            </div>
                                        </div>
                                        <% } %>
                                        <!-- Page Heading and List End -->
                                    </div>
                                </div>
                                <!-- Banner End -->

                                <div id="getifiname" data-ifiname="<%- ifiBankName %>" class="hide"></div>
                                <div id="fundingAccounts" class="top-section pd-top-zero">
                                        <% include tables/fundingAccounts %>
                                </div>
                            </div>
                            
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>
        <!-- Modal New Funding Account -->
        <div class="modal fade" id="myModalNewAccount" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero">Open a new Funding Account</h4>
                            <div align="center" class="modal-heading-pdtb modal-heading-pdng-zero ">
                                <div class="heading-sub-text">
                                    <%=templateData.addAccountHeading%>
                                </div>
                            </div>
                            <div class="modalbox-form-section">
                                <form class="pd-top-twenty">
                                    <div class="form-group">
                                        <label class="control-label" for="recipient-name">Account Name</label> <input class="form-control" id="recipient-name" type="text">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button disabled class="btn btn-default btn-disabled" id="openNewFundAcc" name="" type="button" value="">OPEN ACCOUNT
                        </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal New Funding Account End -->

        <!-- Funds Transfer Modal -->
        <div class="modal fade transferFundsModal" id="transferFundsModal" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero">Transfer funds to another Funding A/c</h4>
                            <div class="modalbox-form-section">
                                <form class="pd-top-twenty">
                                    <div class="form-group">
                                        <label class="control-label left-align label-bold">Transfer funds from</label>
                                        <p id="accDetails" data-curraccno="" data-accbalpaise="" class="details-text left-align"></p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label left-align label-bold" for="transferTo">Transfer funds to</label>
                                        <select class="form-control" id="transferTo">
                                    <option value="select">Select Funding A/c</option>
                                    
                                    <% for(var innerIndex = 0; innerIndex < fundingAccountsForTransfer.length; innerIndex++){ %>
                                        <option value="<%- fundingAccountsForTransfer[innerIndex].accountID %>" data-accname="<%- fundingAccountsForTransfer[innerIndex].name %>" class="transferToAccs"><span class="details-text"><%- fundingAccountsForTransfer[innerIndex].name+ " - " +fundingAccountsForTransfer[innerIndex].accountID+ " - Current Balance: " + fundingAccountsForTransfer[innerIndex].balance %></span></option>
                                    <% } %>
                                </select>
                                        <p class="error-message left-align"></p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label left-align label-bold" for="transferAmount">Amount to be transferred (<%=locals.country_details && typeof country_details.currencySymbol != 'undefined' ? country_details.currencySymbol : '₹'%>)</label>
                                        <input class="form-control" id="transferAmount" type="number">
                                        <p class="error-message left-align"></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button disabled class="btn btn-default btn-disabled" id="fundTransferBtn" name="" type="button" value="">TRANSFER FUNDS
                        </button>
                                <img class="add-user-loader" id="fundsTransferLoader" src="../images/loading-icon.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Funds Transfer end-->
        <div class="modal fade" id="requestResponseModal" role="dialog" tabindex="-1">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content responseModalBody">
                    <div class="custom-modal-body">
                        <div class="modal-header">

                        </div>
                        <div class="modal-body">
                            <img class="response-img" id="error-img" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.svg">
                            <img class="response-img" id="success-img" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/success-icon.svg">
                            <h4 class="text-center pd-bottom-zero" id="errorResponse"></h4>
                            <p id="errorResponseMsg"></p>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default reload-btn" id="responseBtn" name="" type="button" value="">
                        </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Funds Transfer Response Modal -->


        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" id="myModalInitiatedSuccessFund" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="" onclick="location.reload()">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                            </button>
                        </a>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Account created successfully</h4>
                            <div id='newAccDetailsWrpr'>
                                <div class="modal-border-hr"></div>
                                <h6 class="modal-subheading-pdtb"><b>Account  Details</b></h6>
                                <div class="row">
                                    <div class="col-xs-4 col-md-4">
                                        <div class="account-details">
                                            <p>A/c Name:</p>
                                            <!--<p>Description:</p>-->
                                            <p>A/c No:</p>
                                            <p>IFSC Code:</p>
                                            <!--<p>Account Manager:</p>-->
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-md-8">
                                        <div class="account-discription">
                                            <p class="fundingAccName"></p>
                                            <!--<p class="fundingAccDescription"></p>-->
                                            <p class="fundingAccNumber"></p>
                                            <p class="fundingAccIFSC"></p>
                                            <!--<p class="fundingAccMgr">Jerry Stone, jerry_stone@gmail.com</p>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a href="">
                                    <button class="btn btn-default" type="button" name="" value="" id="">
                                        Done
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Box Transfer Initiated success End -->
        <!-- Modal Loader  -->
        <div class="modal fade" id="myModalLoaderFund" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Creating New Funding Account...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->
        <!-- Add Funds Modal Loader  -->
        <div class="modal fade" id="addFundsLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Loading...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Add Funds Modal Loader End  -->
        <!-- Programs Funded Modal Loader  -->
        <div class="modal fade" id="programsLinkedModalLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Loading......</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Programs Funded Modal Loader  -->
        <!-- Modal details cheque transfer -->
        <div class="modal fade" id="fundChequeTransfer" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sz-550 custom-modalbox " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                        <h4 id="acc_name" class="text-center heading-txt-modal">Add Funds to <strong></strong></h4>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body no-border pad-top-10 modal-inner-container">
                            <div class="row">
                                <!-- <div class="col-xs-6 col-md-6 pd-right-zero">
                            <h5 class="mg-top-zero custom-h5-font"><b>Transfer instantly via IMPS/NEFT</b></h5>
                        </div> -->
                                <div class="col-xs-12 col-md-12 pd-left-zero ">
                                    <!--<h5 class="mg-top-zero custom-h5-font"><b>Transfer via cheque</b></h5>-->
                                    <h6 class="mg-top-zero"><span class="list-number-circle">1</span> <b id='addFundDetailsHdg'>Drop a cheque/transfer to Zeta’s Bank Account</b></h6>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col-xs-5 col-md-5">
                            <div class="row">
                                <div class="col-xs-4 col-md-4">
                                    <div class="account-details">
                                        <p>A/c Name:</p>
                                    </div>
                                </div>
                                <div class="col-xs-8 col-md-8">
                                    <div class="account-discription">
                                        <p id="fundingAccName"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-md-4">
                                    <div class="account-details">
                                        <p>A/c No:</p>
                                    </div>
                                </div>
                                <div class="col-xs-8 col-md-8">
                                    <div class="account-discription">
                                        <p id="acNoFund"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-md-4">
                                    <div class="account-details">
                                        <p>IFSC Code:</p>
                                    </div>
                                </div>
                                <div class="col-xs-8 col-md-8">
                                    <div class="account-discription">
                                        <p id="IfcsCodeFund"></p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                                <!-- OR LINE -->
                                <!-- <div class="divider-or-line">
                            <span>OR</span>
                        </div> -->
                                <!-- OR LINE End -->

                                <!-- Start the IFIS Details -->

                                <div class="col-xs-12 col-md-12 pd-right-zero funding-account-block ">
                                    <div id='acNameModalWrpr' class="row">
                                        <div class="col-xs-4 col-md-3">
                                            <div class="account-details">
                                                <p>A/c Name:</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="account-discription">
                                                <p>
                                                    <%- ifisDetails.accountName %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pad-top-8">
                                        <div class="col-xs-4 col-md-3">
                                            <div class="account-details">
                                                <p>A/c No:</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="account-discription">
                                                <p id='ifiAccNo'></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pad-top-8">
                                        <div class="col-xs-4 col-md-3">
                                            <div class="account-details">
                                                <p>Bank Name:</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="account-discription">
                                                <p id='ifiBankName'>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pad-top-8">
                                        <div class="col-xs-4 col-md-3">
                                            <div class="account-details">
                                                <p>Branch:</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="account-discription">
                                                <p id='ifiBankBranch'>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pad-top-8">
                                        <div class="col-xs-4 col-md-3">
                                            <div class="account-details">
                                                <p>IFSC Code:</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="account-discription">
                                                <p id='ifiIfscCode'>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row pad-top-20" id='addFundsBtnWrpr'>
                                <!-- <div class="col-xs-6 col-md-6 ">
                            <h6 class="mg-top-zero"><b></b></h6>
                        </div> -->
                                <div class="col-xs-12 col-md-12 pd-left-zero ">
                                    <h6 class="mg-top-zero pd-bottom-ten"><span class="list-number-circle">2</span> <b>After
                                    making the payment</b></h6>
                                    <div class="pd-left-forty">
                                        <p class="pad-top-4">Let us know the details of your cheque/transfer, by raising a fund addition request:</p>
                                    </div>
                                    <div class="flexible-button pd-left-forty pad-top-20">
                                        <button class="btn btn-default" type="button" name="" value="" id="routeToAddFund">Raise a fund addition request
                                </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal details cheque transfer End -->
        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="myModalOopsFund" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Oops. We could not create the account.</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text">This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on support@zeta.in
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">
                            CLOSE
                        </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->
        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="myModalOopsFundGenie" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Oops. We could not create the account.</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text">You may not have access to create funding account.
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">
                            CLOSE
                        </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <!-- Modal for programs linked for each funding account Transfer  -->
        <div class="modal fade" id="programsLinkedModalWrpr" tabindex="-1" role="dialog">

        </div>
        <!-- Modal Oops Transfer End  -->

        <% include common/html-script %>
        <script src="/dist/scripts/fundingAccHome.js">
        </script>
        <script type="text/javascript">
            $(function() {
                $('[data-toggle="popover"]').popover()
            })
        </script>
    </body>