<table class="custom-table mv-table-view hover-state">
        <thead>
            <tr>
                <th></th>
                <th class="text-right">No. of Entries</th>
                <th class="text-right">AMOUNT <span class="ruppee">₹</span></th>
            </tr>
        </thead>
        <tbody class="main-content"></tbody>
        <tbody class="loading-content">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    
    
    <!-- Table End -->
    <div align="center" class="row paging-container"></div>
    <!-- Pagination End -->
    
    <div class="table-empty-state" style="display: none">
        <img src="/images/table-empty-state.png" alt="">
        <p>No data available</p>
    </div>
    
    <div class="table-error-state" style="display: none">
        <img src="/images/table-error-state.png" alt="">
        <p>Data failed to load.</p>
        <a class="reload-btn" href="javascript:void(0);">Reload</a>
    </div>
    