<% include common/html-signup-head %>

<body>
  <div class="app-content">
    <div class="signup-parent cleafix">
      <div class="signup-parent__left">
        <div class="signup__header">
          <a href="#" class="signup__shadow-link"></a>
          <a href="http://zeta.in" class="signup__logo"></a>
          <div class="hdfc__logo"></div>
        </div>

        <div class="signup__hero signup__hero--hradmins">
          <h1 class="signup__hero___heading">Zeta for Corporates</h1>
          <p class="signup__hero___desc">Helping you help your employees</p>
        </div>

        <div class="signup__video__block">
          <div class="signup__video__block__items">
            <a class="video-play-button" href="#" data-toggle="modal" data-target="#videoModal"
              data-theVideo="https://www.youtube.com/embed/wJeyzdTW3Y8">
              <span></span>
              <strong>Our all-powerful dashboard at a glance</strong>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="signup__support">
          <p class="signup__support___help">Need Help? Let us know</p>
          <ul class="signup__support___list">
            <li class="support__list___phone">
              <a href="tel:+9108066905949">080 66905949</a>
            </li>
            <li class="support__list___email">
              <a href="mailto:support@zeta.in">support@zeta.in</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="signup-parent__right">
        <!-- Signup for HR Admins -->
        <div class="signup__form-container  signup__form-container--hradmins">
          <div class="signup__form__wrpr">
            <div class="signup__form">
              <h3>Sign up for your Zeta Corporate account</h3>
              <div class='signup-error' id='signupError'></div>
              <div class="input-half">
                <div class="input-wrapper  name_l">
                  <input placeholder='Your full name*' id='fullName' class="signup__form___input" type='text'
                    autocomplete="off" autofocus />
                  <div class='error-msg'></div>
                </div>
                <div class="input-wrapper  email_l">
                  <input placeholder='Your work email address*' id='emailID' class="signup__form___input" type='email'
                    autocomplete="off" />
                  <div class='error-msg'></div>
                </div>
              </div>
              <div class="input-half">
                <div class="input-wrapper">
                  <input placeholder='Official phone number*' id='contactNo' class="signup__form___input" type='number'
                    autocomplete="off" />
                  <div class='error-msg'></div>
                </div>
                <div class="input-wrapper">
                  <select id='noOfEmployees' class="signup__form___select">
                    <option value="0">No of employees*</option>
                    <option value="0-100">0-100</option>
                    <option value="100-500">100-500</option>
                    <option value="500-1000">500-1000</option>
                    <option value="1000-5000">1000-5000</option>
                    <option value="5000 and above">5000 and above</option>
                  </select>
                  <div class='error-msg'></div>
                </div>
              </div>
              <div class="input-half">
                <div class="input-wrapper">
                  <input placeholder='Company name*' id='companyName' class="signup__form___input company_l" type='text'
                    autocomplete="off" />
                  <div class="error-msg"></div>
                </div>
                <div class="input-wrapper">
                  <input placeholder='HDFC Bank Corporate ID' id='hdfcCorpID' class="signup__form___input corpID"
                    type='text' autocomplete="off" />
                </div>
              </div>
              <div class="input-half">
                <div class="input-wrapper">
                  <input placeholder='LG Code' id='lgCode' class="signup__form___input lgCode_l" type='text'
                    autocomplete="off" />
                </div>
                <div class="input-wrapper">
                  <input placeholder='LC Code' id='lcCode' class="signup__form___input lcCode" type='text'
                    autocomplete="off" />
                </div>
              </div>
              <div class="input-with-link">
                <div class="input-wrapper">
                  <input placeholder='PAN - Permanent Acc No.*' id='panNo' class="signup__form___input" type='text'
                    autocomplete="off" />
                  <div class='error-msg'></div>
                </div>
                <div class='link-cntr'>
                  <label for="panImageFile">
                    <span>Upload PAN Card Image</span>
                    <form action="" method="POST" enctype="multipart/form-data" />
                    <input type="hidden" name="x-amz-algorithm" value="" />
                    <input type="hidden" name="x-amz-signature" value="" />
                    <input type="hidden" name="acl" value="" />
                    <input type="hidden" name="success_action_status" value="" />
                    <input type="hidden" name="key" value="" />
                    <input type="hidden" name="policy" value="" />
                    <input type="hidden" name="x-amz-date" value="" />
                    <input type="hidden" name="x-amz-credential" value="" />
                    <input type="hidden" name="content-type" value="application/image" />
                    <input type="file" id="panImageFile" style="display:none" accept="image/*" />
                    <input type="submit" style="display:none" />
                    </form>
                  </label>
                  <div class='file-name' id='panFilename'></div>
                </div>
              </div>
              <div class="input-with-link">
                <div class="input-wrapper company_l">
                  <input placeholder='CIN - Corporate Identity Number' id='cinNo' class="signup__form___input"
                    type='text' autocomplete="off" />
                  <div class='error-msg'></div>
                </div>
                <div class='link-cntr'>
                  <label for="cinImageFile">
                    <span>Upload CIN Certificate Image</span>
                    <form action="" method="POST" enctype="multipart/form-data" />
                    <input type="hidden" name="x-amz-algorithm" value="" />
                    <input type="hidden" name="x-amz-signature" value="" />
                    <input type="hidden" name="acl" value="" />
                    <input type="hidden" name="success_action_status" value="" />
                    <input type="hidden" name="key" value="" />
                    <input type="hidden" name="policy" value="" />
                    <input type="hidden" name="x-amz-date" value="" />
                    <input type="hidden" name="x-amz-credential" value="" />
                    <input type="hidden" name="content-type" value="application/image" />
                    <input type="file" id="cinImageFile" style="display:none" accept="image/*" />
                    <input type="submit" style="display:none" />
                    </form>
                  </label>
                  <div class='file-name' id='cinFilename'></div>
                </div>
              </div>
              <div class="input-with-link">
                <div class="input-wrapper">
                  <input placeholder='GSTN - Goods & services tax number' id='gstNo'
                    class="signup__form___input company_l" type='text' autocomplete="off" />
                  <div class='error-msg'></div>
                </div>
                <div class='link-cntr'>
                  <label for="gstinImageFile">
                    <span>Upload GSTIN Image</span>
                    <form action="" method="POST" enctype="multipart/form-data" />
                    <input type="hidden" name="x-amz-algorithm" value="" />
                    <input type="hidden" name="x-amz-signature" value="" />
                    <input type="hidden" name="acl" value="" />
                    <input type="hidden" name="success_action_status" value="" />
                    <input type="hidden" name="key" value="" />
                    <input type="hidden" name="policy" value="" />
                    <input type="hidden" name="x-amz-date" value="" />
                    <input type="hidden" name="x-amz-credential" value="" />
                    <input type="hidden" name="content-type" value="application/image" />
                    <input type="file" id="gstinImageFile" style="display:none" accept="image/*" />
                    <input type="submit" style="display:none" />
                    </form>
                  </label>
                  <div class='file-name' id='gstinFileName'></div>
                </div>
              </div>
              <div class="input-full">
                <div class="input-wrapper company_l">
                  <textarea placeholder='Address for Communication*' id='address' class="signup__form___textarea"
                    type='text' autocomplete="off"></textarea>
                  <div class='error-msg'></div>
                </div>
              </div>
              <div class="input-half">
                <div class="input-wrapper  city_l">
                  <input placeholder='City*' id='city' class="signup__form___input" type='text' autocomplete="off" />
                  <div class='error-msg'></div>
                </div>
                <div class="input-wrapper">
                  <input placeholder='Pin Code*' id='pinCode' class="signup__form___input" type='text'
                    autocomplete="off" />
                  <div class='error-msg'></div>
                </div>
              </div>
              <div class="signUpTandC control-group input-wrapper">
                <label for="signUpTandC" class="control control--checkbox checbox">
                  <input type="checkbox" id="signUpTandC">
                  <div class="control__indicator"></div>
                  <label for="signUpTandC" class="control control--checkbox">I agree to the Zeta
                    <a href="http://zeta.in/terms/" target="_blank">
                      <span class="blink link">Terms of Service</span>
                    </a> of Use &
                    <a href="http://zeta.in/privacy/" target="_blank">
                      <span class="blink link">Privacy Policy*</span>
                    </a>.
                  </label>
                </label>
                <div class='error-msg'></div>
              </div>
              <div id='recaptcha' class="g-recaptcha" data-sitekey="6Lecc0sUAAAAAMzYRmclMp0gXWZ66pOaRx-6yWSx"
                data-callback="onSubmit" data-size="invisible">
              </div>
              <button class="hidden" id="submitNow"></button>
              <div class="div-btn">
                <button class="signup__form___button" id="createAccount">CREATE ACCOUNT</button>
                <!-- <button id="createAccount" class="hidden"></button> -->
                <input type="text" id="captchaToken" class="hidden">
              </div>
            </div>
            <p class="signup__login-link">Already have an account?
              <a class="link" href="/email">Sign in here</a>
            </p>
          </div>
          <div class="signup__form__success__wrpr">
            <div class="signup__form__success">
              <div class='success__icon'></div>
              <h3>Thanks for your interest in Zeta</h3>
              <div class='signup__form__success_disc'>Our team will verify your information within 3 working days. Once
                we’re done, your Zeta corporate account
                will be ready to use.</div>
              <div class='signup__form__success_mail'>Can’t wait? For expedite approval please send an email to
                <a href='mailto:Max@zeta.in'>Max@zeta.in</a>
              </div>
            </div>
            <p class="signup__login-link">Meanwhile, you may follow us to get regular updates</p>
            <div class='social__icon__wrpr'>
              <a alt='facebook' href='https://www.facebook.com/ZetaIndia/' class='social__icon facebook__icon'></a>
              <a alt='twitter' href='https://twitter.com/ZetaIndia' class='social__icon twitter__icon'></a>
              <a alt='youtube' href='https://www.youtube.com/channel/UCMOe8J09SN-yq2z4eyq8EyQ'
                class='social__icon youtube__icon'></a>
              <a alt='instagram' href='https://www.instagram.com/zetaindia/' class='social__icon instagram__icon'></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- MODAL BOX FOR VIDEO -->
  <div class="modal fade signup--video--modal--block" id="videoModal" tabindex="-1" role="dialog"
    aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div>
            <iframe width="100%" height="330" src=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL BOX FOR VIDEO -->
  <% include common/html-script %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIFsmES_ngL_mMpINpJlqD5uqWxJkHTU8&amp;libraries=places"
    type="text/javascript"></script>
  <script src="../dist/scripts/hdfcSignup.js"></script>
  <script>
    // FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG FOR SIGNUP VIDEO
    function autoPlayYouTubeModal() {
      var trigger = $("body").find('[data-toggle="modal"]');
      trigger.click(function () {
        var theModal = $(this).data("target"),
          videoSRC = $(this).attr("data-theVideo"),
          videoSRCauto = videoSRC + "?autoplay=1";
        $(theModal + ' iframe').attr('src', videoSRCauto);
        $(theModal + ' button.close').click(function () {
          $(theModal + ' iframe').attr('src', videoSRC);
        });
      });
    }
    autoPlayYouTubeModal();
  </script>
</body>

</html>