<html>

<head>
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/main.css">
</head>

<body>
    <h1>
        <%- apiKey %>
    </h1>




    <select name="" id="sampleFilter">
            <option value="aaa">AAA</option>
            <option value="bbb">BBB</option>
            <option value="ccc">CCC</option>
        </select>









    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/ejs/ejs.min.js"></script>

    <script src="../dist/scripts/home.js"></script>


    <script>
        $("#sampleFilter").filter();
    </script>
</body>

</html>