<% if((locals.hostName && hostName === 'PHSM') || isPh) {%>
    <% include ./common/inactiveAccount/ph-inactiveCorpAccount %>
<%} else { %>
    <% include ./common/inactiveAccount/inactiveCorpAccount %>
<%}%>