<% include common/html-signup-head %>

    <body>
        <div class="app-content">
            <div class="signup-parent cleafix">
                <div class="signup-parent__left">
                    <div class="signup__header">
                        <a href="#" class="signup__shadow-link"></a>
                        <a href="http://zeta.in" class="signup__logo"></a>
                    </div>

                    <div class="signup__hero signup__hero--hradmins">
                        <h1 class="signup__hero___heading">Zeta for HR admins</h1>
                        <p class="signup__hero___desc">Helping you help your Beneficiaries</p>
                    </div>

                    <div class="signup__support">
                        <p class="signup__support___help">Need Help? Let us know</p>
                        <ul class="signup__support___list">
                            <li class="support__list___phone"><a href="tel:+9102261123989">022 61123989</a></li>
                            <li class="support__list___email"><a href="mailto:support@zeta.in">support@zeta.in</a></li>
                        </ul>
                    </div>
                </div>

                <div class="signin-parent__right">
                    <!-- Login for HR Admins -->
                    <div class="signin__form-container  signup__form-container--login">
                        <div class="signup__form">
                            <div class='signup__form__cntr'>
                                <h3 class='signin__hdg'>Sign in</h3>
                                <div class='signup-error' id='loginError'>
                                    <% for (var i = 0; i < errors.length; i++) { %>
                                        <span><%- errors[i] %></span><br>
                                        <% } %>
                                </div>
                                <div class="input-wrapper">
                                    <label class='landing-page-label'>Enter your work email address</label>
                                    <input id='emailID' class="signup__form___input signup__form___email" type='email' autocomplete="off" autofocus />
                                    <div class='error-msg'></div>
                                </div>
                                <button id='emailNext' class="signup__form___button">NEXT</button>
                            </div>
                        </div>
                        <p class="signup__login-link">Don't have a Zeta Corporate account? <a class="link" href="https://corp.zetaapps.in/#/signup?who=hradmins" id='signUp'>Request your free account now!</a></p>
                    </div>
                </div>
            </div>
        </div>
        <% include common/html-script %>
            <script src="../dist/scripts/login.js"></script>
    </body>

    </html>