
    <% include common/html-head %>
    
        <div class="new-error-container">
            <img src="/images/error-icon.png" class="new-error-image">
            <div class="new-error-heading">
                Oops. Report Centre is currently unavailable
            </div>
            <div class="new-error-content">
                This error is usually temporary. Trying within few minutes should work. If the problem still persists please try again later or contact us on support@zeta.in
            </div>
            <div class="new-error-button">
                TRY AGAIN LATER
            </div>
        </div>
 