<% include common/html-head %>

<body>

    <input id="currentProductType" type="hidden" value="<%- productType %>">
    <input id="programId" type="hidden" value="<%- benefitDetails.programID %>">
    <input id="blockDates" type="hidden" value='<%- blockDates %>'>
    <input id="countryName" type="hidden" value="<%- IFIName %>">

    <div class="wrapper">
        <% include common/header %>
        <!-- Container -->
        <div class="container-fluid sidebar-row">
            <div class="row">
                <% include common/sidebar %>
                <!-- Inner container -->
                <div class="inner-container">
                    <!-- Banner Start -->
                    <div class="top-section banner-background">
                        <div>
                            <!-- Breadcrumb -->
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <ul class="breadcrumb pd-tb-zero">
                                        <li><a href="/companies/<%- companyID %>/optima">Programs</a></li>
                                        <li class='active'>
                                            <a
                                                href="/companies/<%- companyID %>/optima/<%- benefitDetails.programID %>">
                                                <%- benefitDetails.cardProgramObject.cardName %>
                                            </a>
                                        </li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Breadcrumb End -->
                            <!-- Popover -->
                            <!-- <div class="row">
                          <div class="col-xs-12 col-md-12 text-right">
                            <div class="popover-content">
                              <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                                  <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                              </span>
                            </div>
                          </div>
                        </div> -->
                            <!-- Popover End -->
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="page-heading">
                                        <h1 class="pd-top-ten pd-bottom-ten">New Transfer Order</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Page Heading and List -->
                                <div class="col-xs-12 col-md-12">
                                    <div class="page-heading">
                                        <p class="para-lead full-width">
                                            <span class="para-lead-text">Instantly distribute vouchers and money to your
                                                Beneficiaries. Just upload a file or
                                                enter the necessary information, and you are good to go.</span>
                                        </p>
                                    </div>
                                </div>
                                <!-- Page Heading and List End -->
                            </div>
                        </div>
                    </div>
                    <!-- Banner End -->

                    <div class="sub-container">
                        <div id="fileUploadContent">
                            <!-- My Changes Hahahah -->
                            <div class="col-xs-9 col-md-9 custom-box">
                                <div class="col-xs-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="page-sub-heading-txt sub-heading-txt">
                                                <div class="txt">Upload an order file with beneficiary list & details
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- File Upload -->
                                    <input type="hidden" id="uploadDetails" value='<%- fileUploadDetails %>'
                                        name="uploadDetails">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 form-action-container file-main-container">
                                            <form action="<%- fileUploadUrl %>" id='dragDrop' class="dropzone">
                                                <div class="file-upload-container page-sub-heading dz-message">
                                                    <div class="dotted-line">
                                                        <div class="display-table file-upload-height">
                                                            <div class="table-row">
                                                                <div class="table-column">
                                                                    <% if(!isSodexoPhp){ %>
                                                                        <img width="85" height="44"
                                                                            id="image_upload_preview"
                                                                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/files-icon.png"
                                                                            alt="your image" />
                                                                    <% } else { %>
                                                                        <img width="45" height="54"
                                                                        id=""
                                                                        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png"
                                                                        alt="your image" />
                                                                    <% } %>
                                                                </div>
                                                            </div>
                                                            <div class="table-row">
                                                                <div class="table-column">
                                                                    <span class="file-upload-heading">Drag & Drop</span>
                                                                </div>
                                                            </div>
                                                            <div class="table-row">
                                                                <div class="table-column">
                                                                    <span class="or-font">OR</span>
                                                                </div>
                                                            </div>
                                                            <div class="table-row">
                                                                <div class="table-column">
                                                                    <form id="form1" runat="server">
                                                                        <div class="browse-wrap btn-disabled">
                                                                            <div class="text-center">
                                                                                <div class="upload-button">
                                                                                    <strong>+</strong> Upload File
                                                                                </div>
                                                                            </div>

                                                                            <div class="fallback">
                                                                                <input class="upload" name="file"
                                                                                    type="file" id="uploadFile" />
                                                                            </div>
                                                                            <% if(productType == 'gift' || productType == 'reward') { %>
                                                                            <h6
                                                                                style="margin:20px 0 0 0;line-height:1.5;">
                                                                                <span><b>Note : </b> According to recent
                                                                                    RBI guidelines, gift cards cannot
                                                                                    be<br> loaded with more than INR
                                                                                    10,000 for a beneficiary.</span>
                                                                            </h6>
                                                                            <% } %>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div id="preview-template" style="display: none">
                                                    <div class="dz-preview dz-file-preview">
                                                        <div class="dotted-line">

                                                            <div class="dz-details">
                                                                <img class="fileType" src="" alt="xls">
                                                                <div class="dz-filename"><span
                                                                        data-dz-name>payout.csv</span>
                                                                </div>
                                                                <div class="dz-progress"><span class="dz-upload"
                                                                        data-dz-uploadprogress></span>
                                                                </div>
                                                                <div class="dz-error-message"><span
                                                                        data-dz-errormessage>Error uploading file</span>
                                                                </div>
                                                                <!--<a class="removelink" href="javascript:void(0);">Change-->
                                                                <!--File</a>-->
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>


                                    <!-- File Upload End -->

                                    <!-- Date Picker End -->
                                    <% if(productType !== 'gift' && productType !== 'reward') { %>
                                    <div class="row pd-top-fifty">
                                        <div class="col-xs-4" id="orderType">
                                            <label class="label-weight"> Type </label>
                                            <div class="form-group select-custom">
                                                <select id='repeatAction'
                                                    class="form-control width-xs  orderTypeDropdown">
                                                    <option value='oneTime'>One-Time</option>
                                                    <option value='recurring'>Recurring</option>

                                                </select>
                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-md-12">

                                        </div>


                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <label  class="label-weight" id="scheduledTransferText">Transfer Date
                                                       </label>
                                                    <div class="form-group input-group date-picker">
                                                        <input type="text" class="form-control datepicker-img datepicker-frame"
                                                            id="scheduleTransferDate" readonly />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 frequencyType" id="frequencyType">
                                                    <label class="label-weight"> Frequency * </label>
                                                    <div class="form-group select-custom">
                                                        <select id='frequencyTypeOptions'
                                                            class="form-control width-xs  orderTypeDropdown">
                                                            <option value='WEEKLY'>Weekly</option>
                                                            <option value='FORT_NIGHTLY'>Fortnightly</option>
                                                            <option value='MONTHLY'>Monthly</option>
                                                            <option value='QUARTERLY'>Quarterly</option>
                                                            <option value='YEARLY'>Yearly</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 repeatUntil" id="repeatDate">
                                                    <label class="label-weight"> Repeat Until *</label>
                                                    <div class="form-group date-picker">

                                                        <div class="input-group full-width">
                                                            <input type="text"
                                                                class="form-control datepicker-img full-width datepicker-frame"
                                                                id="repeatUntilDate" readonly />

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <p class="para-color ordersScheduledText orders-scheduled-bottom"
                                                        id="orderScheduledText">Based on your
                                                        selection above, <b><span id="numberOfOrdersScheduled"></span>
                                                            orders</b>
                                                        will be automatically scheduled
                                                    </p>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-sm-12"><label class="label-weight"
                                                        id="labelPayrollCycle">Order for the month of
                                                        <span id="payrollSpan"></span> </label></div>
                                                    <div class="col-sm-4 form-group select-custom">
                                                            <select id='payPeriodMonth'
                                                            class="form-control width-xs  orderTypeDropdown">
                                                            <option value='' disabled>Month</option>
                                                            <option value='JANUARY'>January</option>
                                                            <option value='FEBRUARY'>February</option>
                                                            <option value='MARCH'>March</option>
                                                            <option value='APRIL'>April</option>
                                                            <option value='MAY'>May</option>
                                                            <option value='JUNE'>June</option>
                                                            <option value='JULY'>July</option>
                                                            <option value='AUGUST'>August</option>
                                                            <option value='SEPTEMBER'>september</option>
                                                            <option value='OCTOBER'>October</option>
                                                            <option value='NOVEMBER'>November</option>
                                                            <option value='DECEMBER'>December</option>
                                                        </select>
                                                    </div>    
                                                <!-- <div class="col-sm-4">
                                                    <div class="form-group date-picker">
                                                        <div class="input-group full-width">
                                                            <input type="text" placeholder="Start Date"
                                                                class="form-control datepicker-img full-width"
                                                                id="payrollCycleStartDate" readonly />
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <!-- <div class="col-sm-1 payroll-text">
                                                    <span class="pd-top-ten pd-bottom-ten para-color"> to </span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group date-picker">
                                                        <div class="input-group full-width">
                                                            <input type="text" placeholder="End Date"
                                                                class="form-control datepicker-img full-width"
                                                                id="payrollCycleEndDate" readonly />
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <!-- <div class="col-sm-3  payroll-text">
                                                    <span class="pd-top-ten pd-bottom-ten para-color hideRepeatText"
                                                        id="repeatFreqText">
                                                    </span>
                                                </div> -->
                                                <!-- <div class="col-md-12">
                                                    <p class="pd-top-ten pd-bottom-ten para-color ordersScheduledText"
                                                        id="orderScheduledText">Based on your
                                                        selection above, <b><span id="numberOfOrdersScheduled"></span>
                                                            orders</b>
                                                        will be automatically scheduled
                                                    </p>
                                                </div> -->
                                            </div>

                                        </div>

                                    </div>
                                    <% } %>
                                    <!-- Date Picker End -->


                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group" id="poOrderNumber">
                                                <label class="opacity-seven form-txt">Purchase Order Number <span
                                                        class="optional-txt">( Optional )</span></label>
                                                <input class="form-control width-md height-small" id="purchaseOrderNo"
                                                    type="text" maxlength="30">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <p class="pd-top-ten pd-bottom-ten para-color">This transfer will use funds
                                                from
                                                <span
                                                    class="color-block"><%- benefitDetails.fundingAccountDetails.name %></span>
                                                (Current Balance: <span class="color-block"><%- benefitDetails.fundingAccountDetails.formattedBalance %></span>)
                                            </p>
                                        </div>
                                    </div>
                                    <% if(newTransfer){ %>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="x-medium-button pd-top-ten pd-bottom-ten">
                                                <button class="btn btn-default btn-disabled" type="button" name=""
                                                    value="" disabled id="create-order">CREATE TRANSFER ORDER
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>

                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <!-- Right Panel -->
                                <div class="panel-container">
                                    <h6>Need help?</h6>
                                    <div class="straight-line mg-tb-less">&nbsp;</div>
                                    <p class="opcity-reduce">
                                        <% if(isSodexoPhp){ %>
                                            Upload a file with Beneficiary list & details in CSV format.
                                            <p> Phone numbers should start with "<span class="plus-symbol">+</span>" mandatorily.</p>
                                        <% } else { %>
                                            Upload a file with Beneficiary list & details in an XLS, XLSX or CSV format.
                                        <% } %>
                                    </p>
                                    <div class="header-preview pd-top-ten pd-bottom-ten">
                                        <b>Sample Preview</b>
                                        <div class="new-program-body new-program-toggle">Updated</div>
                                    </div>
                                    <div class="preview-image-container">

                                        <a href="#" data-featherlight="/<%- previewImage %>">
                                            <img class="thumbnail img-responsive view-image " src="/<%- previewImage %>"
                                                alt="Zeta Preview" id="#mylightbox" />
                                        </a>

                                        <div class="image-preview">
                                            <img data-toggle="modal" data-target="#thumbnailModal" class="search-image"
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                                                alt="zeta search" />
                                        </div>
                                    </div>
                                    <div class="header-preview pd-top-twenty pd-bottom-ten">
                                        <% if(!isSodexoPhp) { %>
                                            <b>Download samples</b>
                                        <% }else { %>
                                            <b>Download sample</b>
                                        <% } %>
                                    </div>
                                    <div class="download-img-list">
                                        <% if(!isSodexoPhp){ %>
                                            <a href="/<%-excelFileDownload%>.xlsx"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                                                alt="Zeta icon" /></a>
                                            <a href="/<%-excelFileDownload%>.xls"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png"
                                                alt="Zeta icon" /></a>
                                            <a href="/<%-excelFileDownload%>.csv"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png"
                                                alt="Zeta icon" /></a>
                                        <% }else{ %>
                                            <a href="/<%-excelFileDownload%>.csv"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png"
                                                alt="Zeta icon" /></a>
                                        <% } %>
                                    </div>
                                    <% if(productType == 'LTA') { %>
                                    <div class="header-preview pd-top-twenty">
                                        <b>Documentation</b>
                                    </div>
                                    <p class="opcity-reduce">
                                        To learn how LTA works, <a
                                            href="https://docs.zetaapps.in/display/OND/LTA+Setup+Guidelines"
                                            target="_blank">click here</a>
                                    </p>
                                    <% } %>
                                </div>
                                <!-- Right Panel End -->
                            </div>
                        </div>
                        <div id="fileErrorContent">
                            
                        </div>
                        <% if(lastLoginTime != false) { %>
                        <div class="col-xs-12 col-md-12">
                            <!-- last login info display -->
                            <div class="straight-line">&nbsp;</div>
                            <div class="text-center">
                                <span>
                                    <p>Last login - <%-lastLoginTime %></p>
                                </span>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <!-- Inner container End -->
            </div>
        </div>
        <!-- Container End -->
    </div>

    <!-- Modal Preview  -->
    <div tabindex="-1" class="modal fade" id="thumbnailModal" role="dialog">
        <div class="modal-dialog thumbnail-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">

                    <img class="thumbnail img-responsive view-image" src="/<%- previewImage %>" alt="Zeta Preview" />

                </div>
            </div>
        </div>
    </div>
    <!-- Modal Preview End -->


    <!-- Modal Box Transfer Initiated success -->
    <div class="modal fade" id="myModalInitiatedSuccess" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&nbsp;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png"
                                alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Transfer order created successfully</h4>
                        <div class="text-center pd-bottom-zero">We will notify you once we complete processing the order
                            file</div>
                        <table class='transfer-summary-table'>
                            <tbody>
                                <tr>
                                    <th colspan="2">
                                        <div class='transfer-summary-hdr'>Summary</div>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="transfer-summary-dtls-col-key">Order ID</td>
                                    <td id='newOrderID'></td>
                                </tr>
                                <tr>
                                    <td class="transfer-summary-dtls-col-key">Schedule transfer date</td>
                                    <td id='newScheduleDate'></td>
                                </tr>
                                <% if(locals.countryVar && (countryVar !== "isSodexoVn" && countryVar !== "isSodexoPh")) { %>
                                    <tr>
                                        <td class="transfer-summary-dtls-col-key">Total no. of beneficiaries</td>
                                        <td id='noOfBeneficiary'>-</td>
                                    </tr>
                                    <tr>
                                        <td class="transfer-summary-dtls-col-key">Total amount</td>
                                        <td id='totalAmount'>-</td>
                                    </tr>
                                <% } %>
                                <tr>
                                    <td class="transfer-summary-dtls-col-key"> Transfer Type </td>
                                    <td>
                                        <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second ">
                                            <p class="freq-custom-height" id='newTransferType'>
                                            </p>
                                            <!-- <p class="freq-custom-height" id="numberOfOrders">
                                            </p> -->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="transfer-summary-dtls-col-key">Status</td>
                                    <td id='newStatus'> </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="flexible-button">
                            <a class="btn btn-default"
                                href="/companies/<%- companyID %>/optima/<%- benefitDetails.programID %>/new-transfer">DONE</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Box Transfer Initiated success End -->
    <!-- Modal Oops Transfer  -->
    <div class="modal fade" id="myModalOops" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png"
                                alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Oops. We could not initiate transfer</h4>
                        <div class="modal-heading-pdtb" align="center">
                            <div class="heading-sub-text">This error is usually temporary and can be due to your
                                Internet connection or something wrong at our end. Trying within few minutes should
                                work. If the problem still persists please try again later or contact us on
                                <%= locals.country_details && country_details.supportEmail ? country_details.supportEmail : 'support@zeta.in' %>
                            </div>
                            <p>
                                This order can't be cancelled. Please contact us at 
                                <a
                                        href="mailto:<%- locals.country_details && country_details.supportEmail ? country_details.supportEmail : 'support@zeta.in' %>"><%= locals.country_details && country_details.supportEmail ? country_details.supportEmail : 'support@zeta.in' %></a>. If you have any further
                                queries.
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="flexible-button">
                            <button class="btn btn-default" type="button" name="" value="" id="retryBtn">Try
                                Again</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalSuccess" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <br />
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img src="/images/warning-exl.png" width="32" alt="Zeta icon" /></div>
                        <br />
                        <h3 align="center">
                            <b>Important Note</b>
                        </h3>
                        <br />
                        <div class="" align="center">
                            <div class="heading-sub-text">
                                <div>
                                    We recently updated the order file formats and made all <b>column headers
                                        mandatory</b>. This will help us validate the file and ensure faster order
                                    processing.
                                </div><br />
                                <div>
                                    Please make sure to <b>add headers in your order file as per the sample file
                                        format</b>. Failure to include the headers will result in the order not being
                                    processed.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="flexible-button">
                            <button class="btn btn-default" type="button" name="" value=""
                                data-dismiss="modal">PROCEED</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Oops Transfer End  -->
    <!-- Modal Loader  -->
    <div class="modal fade" id="myModalLoader" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&nbsp;</span>
                    </button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img width="32"
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif"
                                alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Creating Transfer Order. Please wait...</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="createOrderModalOops" tabindex="-1" role="dialog">
          <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
              <br/>
              <!-- <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                            </div> -->
              <div class="custom-modal-body">
                <div class="modal-body">
                  <div class="text-center">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" />
                  </div>
                  <h4 class="text-center pd-bottom-zero" id="fileHeaderError">Error while processing the order file</h4>
                  <div class="modal-heading-pdtb" align="center">
                    <div class="heading-sub-text" id="fileHeaderErrorDesc">Please check the file for errors or make sure you are uploading the correct order file</div>
                    <div id="appenErrors">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="flexible-button">
                    <button class="btn btn-default" type="button" name="" value="" id="uploadAgainFile" onclick="window.location.reload()">UPLOAD FILE AGAIN</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- Modal Loader End  -->

    <div class="modal fade" id="myModalValidationPopup" tabindex="-1" role="dialog">

        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-gitlabel="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="text-center"><img
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png"
                            alt="Zeta icon" /></div>
                <div class="custom-modal-body">

                    <div class="modal-body">
                        <h4 class="text-center pd-bottom-zero">The same order file has been processed earlier, do you still want to place an order with this file?</h4>
                    </div>

                    <div class="modal-footer">
                        <div class="flexible-button cancel-order">
                            <button class="btn btn-default confirm validation-process-button" type="button">Yes, process</button>
                            <button class="btn btn-disabled" data-dismiss="modal" type="button">No, don’t process </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="modal fade" id="cancelModalPopup" tabindex="-1" role="dialog">

        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-gitlabel="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="text-center"><img
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png"
                            alt="Zeta icon" /></div>
                <div class="custom-modal-body">

                    <div class="modal-body x-medium-button text-center">
                        <h4 class="pd-bottom-zero">Your order has been cancelled</h4>
                        <button class="btn btn-default" onclick="window.location.reload()" type="button">CREATE NEW ORDER</button><br><br>
                        <p>Note: Later, you can also download the complete report for this order from the transfer orders page</p>
                    </div>

                    <div class="modal-footer"></div>
                </div>

            </div>
        </div>

    </div>

    <script async>
        var timepicker = { defaults: { interval: 15, defaultHour: null, defaultMinute: null, start: 0, end: 24 }, options: null, time: { hour: null, minute: null }, active: !1, source: null, load: function (e) { var t = this; this.options = e, t.each(function (e) { null != t.option("defaultHour") && (e.value = t.pad(t.option("defaultHour")), t.time.hour = t.option("defaultHour"), null != t.option("defaultMinute") ? (e.value += ":" + t.pad(t.option("defaultMinute")), t.time.minute = t.option("defaultMinute")) : (e.value += ":00", t.time.minute = 0)), e.onclick = function () { t.source = this, 1 != t.active && t.showHour(this, 1, t.option("start"), t.option("end"), function (e, i) { t.time.hour = i, t.source.value = t.time.hour + ":00", t.showMinute(e, t.option("interval"), 60, t.time.hour, function (e) { t.time.minute = e, t.source.value = t.time.hour + ":" + t.time.minute }) }) } }) }, option: function (e) { return null === this.options ? this.defaults[e] : void 0 === this.options[e] ? this.defaults[e] : this.options[e] }, each: function (e) { for (var t = document.querySelectorAll('[data-toggle="timepicker"]'), i = 0; i < t.length; i++)e(t[i]) }, make: function (e) { return this.active = !0, div = document.createElement("div"), ul = document.createElement("ul"), ul.setAttribute("data-value", "null"), div.setAttribute("class", "timepicker"), div.setAttribute("data-name", e.getAttribute("name")), div.appendChild(ul), e.parentNode.insertBefore(div, e.nextSibling), document.addEventListener("mouseup", this.onClickEvent), document.addEventListener("keydown", this.onKeyEvents), ul }, remove: function () { document.removeEventListener("mouseup", this.onClickEvent), document.removeEventListener("keydown", this.onKeyEvents), timepicker = document.querySelector(".timepicker"), timepicker.parentNode.removeChild(timepicker), this.active = !1 }, clear: function (e) { all = e.querySelectorAll("li"); for (var t = 0; t < all.length; t++)all[t].parentNode.removeChild(all[t]) }, showHour: function (e, t, i, l, o) { var n = null; ul = this.make(e); for (var u = i; l > u; u += t)li = document.createElement("li"), li.setAttribute("href", "#"), li.setAttribute("data-value", this.pad(u)), li.appendChild(document.createTextNode(this.pad(u) + ":00")), ul.appendChild(li), null == n && (n = li.clientHeight), li.onmouseover = function () { all = document.querySelectorAll("div.timepicker ul li"); for (var e = 0; e < all.length; e++)all[e].classList.remove("hover"); this.classList.add("hover") }, li.onmouseout = function () { this.classList.remove("hover") }, li.onclick = function () { o(ul, this.getAttribute("data-value")) }; null == this.time.hour ? ul.scrollTop = n * this.option("default") : ul.scrollTop = this.time.hour * n }, showMinute: function (e, t, i, l, o) { self = this, this.clear(e); for (var n = 0; i > n; n += t)li = document.createElement("li"), li.setAttribute("href", "#"), li.setAttribute("data-value", this.pad(n)), li.appendChild(document.createTextNode(l + ":" + this.pad(n))), ul.appendChild(li), li.onmouseover = function () { all = document.querySelectorAll("div.timepicker ul li"); for (var e = 0; e < all.length; e++)all[e].classList.remove("hover"); this.classList.add("hover") }, li.onmouseout = function () { this.classList.remove("hover") }, li.onclick = function () { o(this.getAttribute("data-value")), self.remove() } }, pad: function (e) { for (var t = String(e); t.length < 2;)t = "0" + t; return t }, onClickEvent: function () { void 0 === event.target.attributes["data-value"] && timepicker.remove() }, onKeyEvents: function () { switch (event.keyCode) { case 27: timepicker.remove(); break; case 40: if (item = document.querySelector("div.timepicker ul li.hover"), list = document.querySelectorAll("div.timepicker ul li"), index = Array.prototype.indexOf.call(list, item), -1 == index) { list[0].classList.add("hover"); break } index < list.length - 1 && (item.classList.remove("hover"), list[index + 1].classList.add("hover")); break; case 38: item = document.querySelector("div.timepicker ul li.hover"), list = document.querySelectorAll("div.timepicker ul li"), index = Array.prototype.indexOf.call(list, item), index > 0 && (item.classList.remove("hover"), list[index - 1].classList.add("hover")); break; case 13: item = document.querySelector("div.timepicker ul li.hover"), item.click() } } };
        document.addEventListener("DOMContentLoaded", function (event) {
            timepicker.load({
                interval: 15
            });
        });
    </script>

    <% include common/html-script %>
    <script src="/dist/scripts/newTransfer.js"></script>
    <script src="/lib/moment/moment.js"></script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>

</body>

</html>