<% if((locals && locals.hostName &&  (hostName === 'PH' || hostName === 'PHSM')) || isPh) {%>
    <% include ./common/noCorpAccount/ph-noCorpAccount %>
<%} else { %>
    <% include ./common/noCorpAccount/noCorpAccount %>
<%}%>