<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zeta Tax Benefits</title>
    <link rel="shortcut icon" href="https://card-program-files.s3.amazonaws.com/hrDashboard/images/favicon.png">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css?v=<%- deployVersion%>">
    <link rel="stylesheet" href="/lib/dropzone/dist/min/dropzone.min.css?v=<%- deployVersion%>"/>

    <link rel="stylesheet" href="/dist/css/main.css?v=<%- deployVersion%>">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <body>
      <div class="wrapper">
          <!-- Header -->
          <div class="typesecond-header header-container" style="left:0;">
              <div class="row">
                  <div class="col-xs-4 col-md-4">
                    <img width="75" height="30" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/page-1@2x.png" alt="Zeta logo">
                  </div>
                  <div class="col-xs-8 col-md-8">
              <!-- User Logout -->
                    <!-- <ul class="notfound-userprofile nav navbar-nav pull-right dropdown-log">
                        <li class=""><a href="3">Help & Support </a></li>
                        <li class="dropdown">
                          <a class="dropdown-toggle hover-focus-overcome bdr-right-zero after-using-arrow" data-toggle="dropdown" href="#">
                            John doe
                          </a>
                          <ul class="dropdown-menu dropdown-log-menu logout-dropdown">
                              <li data-toggle="modal" data-target="#changePassword"><a><span class="dropdown-list-one">&nbsp;</span> Change Password</a></li>
                              <li><a href="#"><span class="dropdown-list-two"></span> Log Out</a></li>
                          </ul>
                        </li>
                    </ul> -->

                    <!-- <ul class="nav navbar-nav navbar-right dropdown-log pull-right"> -->
                        <!-- <li><a href="#">Help & Support</a></li> -->
                        <!-- <li><a href="#"><span class="vertical-line">&nbsp;</span></a></li> -->
                  <!-- Logout -->
                        <!-- Must include this class <div class="dropdown-log"></div> -->
<!--                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle hover-focus-overcome" data-toggle="dropdown"><%# user.account.accountDetails.name %><img
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/down-arrow.png" alt="zeta iocn"/></a>
                          <ul class="dropdown-menu dropdown-log-menu logout-dropdown">
 -->                              <!--<li data-toggle="modal" data-target="#changePassword"><a><span class="dropdown-list-one">&nbsp;</span> Change Password</a></li>-->
<!--                               <li><a href="#"><span class="dropdown-list-two"></span> Log Out</a></li>
                          </ul> -->
                        <!-- </li> -->
                  <!-- Logout End -->
                    <!-- </ul> -->
              <!-- User Logout End -->
                  </div>
              </div>
          </div>
          <!-- Header End -->

          <!-- Container -->
          <div class="clearfix"></div>
          <div class="notfound-container">
            <div class="inner-part text-center">
              <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/not-found.png" alt="Zeta Not Found" />
              <div class="four-not-four">404</div>
              <div class="fournotfour-para">Oops... Looks like you got lost.</div>
              <div class="notfound-link"><a href="/dashboard">Get back to home</a></div>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- Container End -->
      </div>
  </body>
</html>
