<% include common/html-signup-head %>
<body>
    <div class="app-content">
        <div class="signup-parent cleafix">
            <div class="signup-parent__left">
                <div class="signup__header">
                    <a href="#" class="signup__shadow-link"></a>
                    <a href="http://zeta.in" class="signup__logo"></a>
                </div>
                <div class="signup__hero signup__hero--hradmins">
                    <h1 class="signup__hero___heading">Zeta for HR admins</h1>
                    <p class="signup__hero___desc">Helping you help your Beneficiaries</p>
                </div>
                <div class="signup__support">
                    <p class="signup__support___help">Need Help? Let us know</p>
                    <ul class="signup__support___list">
                        <li class="support__list___phone"><a href="tel:+9102261123989">022 61123989</a></li>
                        <li class="support__list___email"><a href="mailto:support@zeta.in">support@zeta.in</a></li>
                    </ul>
                </div>
            </div>
            <div class="signup-parent__right" >
                <!-- Login for HR Admins -->
                <div class="signup__form-container  signup__form-container--login">
                    <a href='/email' ></a>
                    <div class="signup__form">
                        <div class='signup__form__cntr'>
                            <div class="input-wrapper">
                                <div class='old-dashboard-email'><%-emailID %></div>
                            </div>
                            <div class="input-wrapper">
                                <label>Enter Password</label>
                                <input id='password' class="signup__form___input" type='password' autocomplete="off" autofocus />
                            </div>
                            <button id='login' class="signup__form___button" >Sign In</button>
                            <div class="div-msg">
                                <span class="div-error"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include common/html-script %>
  <script src="../dist/scripts/login.js"></script>
</body>
</html>
