<% include common/html-head %>

    <body>
        <div class="wrapper">
            <% include common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <!-- Banner Start -->
                                <div class="top-section banner-background">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <li><a href="/companies/<%- companyID %>/optima">Programs</a></li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="page-heading">
                                                    <h1 class="pd-top-ten pd-bottom-ten">
                                                        <%- cardName %>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="sub-container">
                                    <!-- <div class="col-xs-12 col-md-12 custom-box">

                    </div> -->
                                    <div class="topHeading">
                                        <p class="title">Let's get started</p>
                                        <p class="subtitle">Setup & customize benefits program in a few clicks</p>
                                        <input type="hidden" id="productType" value="<%- productType %>">
                                        <input type="hidden" id="bussinessId" value="<%- bussinessId %>">
                                        <textarea class="hideMe" id="programInfo"><%- JSON.stringify(programConfig) %></textarea>
                                        <span>Issued by 
                                        <% if(ifiBankName == "RBL"){ %>
                                            <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/rbl-logo.png" alt="" style="width: 72px;">
                                            <%}%>
                                                <% if(ifiBankName == "IDFC"){ %>
                                                    <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/idfc-logo@2x.png" alt="" style="width: 72px;">
                                                    <%}%>
                                                        <% if(ifiBankName == "Kotak"){ %>
                                                            <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/kotak-logo.png" alt="" style="width: 72px;">
                                                            <%}%>
                                                                <% if(ifiBankName == "Sodexo"){ %>
                                                                    <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/Sodexo-logo.png" alt="" style="width: 72px;">
                                                                    <%}%>
                                                                        <% if(ifiBankName == "HDFC"){ %>
                                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/HDFC-logo-2x.png" alt="" style="width: 120px;">
                                                                            <%}%>
                                                                        </span>
                                    </div>
                                    <div class="accordionContainer">
                                        <p>
                                            <div class="heading" type="button" data-toggle="collapse" data-value="#multiCollapseExample1" data-target="" role="button" aria-expanded="true" aria-controls="multiCollapseExample1">
                                                <div class="table">
                                                    <div class="table-cell count">
                                                        <p class="stepCount">1</p>
                                                        <p class="tick"><img src="/images/tick.png"></p>
                                                    </div>
                                                    <div class="text table-cell">
                                                        <p>General Settings</p>
                                                        <p>Basic program setup information</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="col">
                                                    <div class="collapse multi-collapse in" id="multiCollapseExample1">
                                                        <div class="card card-body">
                                                            <div class="inputRow">
                                                                <div class="field-label">Program name</div>
                                                                <div class="inputField">
                                                                    <input class="form-control" id="programName" type="text" value="<%- cardName %>">
                                                                    <p class="infoPara">This name will be shown on the card inside the app.</p>
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Funding account</div>
                                                                <div class="inputField select-custom">
                                                                    <select class="form-control" id="fundingAccountID">
                                                                        <option value="0" disabled selected>-Select-</option>
                                                                        <option value="createNew">Create new</option>
                                                                        <% for(key in fundingAccounts){ %>
                                                                            <% if(fundingAccounts[key].accountID && fundingAccounts[key].name) { %>
                                                                                <option value="<%- fundingAccounts[key].accountID %>"><%- fundingAccounts[key].name %></option>
                                                                            <% } %>
                                                                        <% } %>
                                                                    </select>
                                                                    <input class="form-control marginTop6" placeholder="Funding account name" id="fundingAccName" type="text" style="display:none;">

                                                                    <p class="infoPara">A Funding A/c is similar to your Bank’s current account. They can fund one or more programs across all your companies. You can use them to transfer funds to your beneficiaries.</p>
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Program type</div>
                                                                <div class="inputField">
                                                                    <div>
                                                                        <input type="radio" name="programType" value="allowance" checked><span>Allowance</span>
                                                                        <p id="allowancePara" class="infoPara">
                                                                            In this program type, the Corporate issues amount to the Employees upfront. The same can be seen, in full, in the corresponding product card & spent via any Zeta channel.
                                                                        </p>
                                                                    </div>
                                                                    <div>
                                                                        <input type="radio" name="programType" value="reimbursement"><span>Reimbursement</span>
                                                                        <p id="reimbursementPara" class="infoPara hideMe">
                                                                            In this program type, no amount is issued upfront by Corporate to its Employees. The Employees are supposed to claim their reimbursements by uploading bills against this card.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% if(productType != 'gift' && productType != 'meal'){ %>
                                                                <div class="inputRow" id="claimRequiredAction">
                                                                    <div class="field-label">Claim upload required</div>
                                                                    <div class="inputField">
                                                                        <div>
                                                                            <input type="radio" name="claimUpload" value="Yes" checked><span>Yes</span>
                                                                        </div>
                                                                        <div>
                                                                            <input type="radio" name="claimUpload" value="No"><span>No</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            <% } %>
                                                            <div class="inputRow">
                                                                <div class="field-label"> </div>
                                                                <div class="inputField">
                                                                    <a class="btn btn-warning nextSection" data-value="general" data-target="#multiCollapseExample2">Next</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="heading disabled" type="button" data-toggle="collapse" data-value="#multiCollapseExample2" data-target="" role="button" aria-expanded="true" aria-controls="multiCollapseExample2">
                                                <div class="table">
                                                    <div class="table-cell count">
                                                        <p class="stepCount">2</p>
                                                        <p class="tick"><img src="/images/tick.png"></p>
                                                    </div>
                                                    <div class="text table-cell">
                                                        <p>Billing Address</p>
                                                        <p>Billing address</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="col">
                                                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                                                        <div class="card card-body" id="addressSection">
                                                            <div class="inputRow">
                                                                <div class="field-label">First name<sup>*</sup></div>
                                                                <div class="inputField">
                                                                    <input class="form-control" id="firstName" type="text" value="">
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Last name<sup>*</sup></div>
                                                                <div class="inputField">
                                                                    <input class="form-control" id="lastName" type="text" value="">
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Email<sup>*</sup></div>
                                                                <div class="inputField">
                                                                    <input class="form-control" id="email" type="email" value="">
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Phone<sup>*</sup></div>
                                                                <div class="inputField">
                                                                    <input style="width: 60px;display: inline-block" class="form-control" id="countryCode" type="text" value="+91">
                                                                    <input style="display: inline-block; max-width: 240px;;" class="form-control" id="phone" type="number" value="">
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Line1<sup>*</sup></div>
                                                                <div class="inputField">
                                                                    <input class="form-control" id="address1" type="text" value="">
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Line2</div>
                                                                <div class="inputField">
                                                                    <input class="form-control" id="address2" type="text" value="">
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">City<sup>*</sup></div>
                                                                <div class="inputField">
                                                                    <input class="form-control" id="city" type="text" value="">
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">State<sup>*</sup></div>
                                                                <div class="inputField">
                                                                    <input class="form-control" id="state" type="text" value="">
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Pin Code<sup>*</sup></div>
                                                                <div class="inputField">
                                                                    <input class="form-control" id="pincode" type="number" value="">
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label"> </div>
                                                                <div class="inputField">
                                                                    <a class="btn btn-warning nextSection" data-value="address" data-target="#multiCollapseExample3">Next</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="heading disabled" type="button" data-toggle="collapse" data-value="#multiCollapseExample3" data-target="" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">

                                                <div class="table">
                                                    <div class="table-cell count">
                                                        <p class="stepCount">3</p>
                                                        <p class="tick"><img src="/images/tick.png"></p>
                                                    </div>
                                                    <div class="text table-cell">
                                                        <p>Spend Settings</p>
                                                        <p>These rules will apply during every transaction made by the user</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="col">
                                                    <div class="collapse multi-collapse" id="multiCollapseExample3">
                                                        <div class="card card-body">
                                                            <div class="inputRow">
                                                                <div class="field-label">Spend channels</div>
                                                                <div class="inputField">
                                                                    <div>
                                                                        <input id="zeta-app" type="checkbox" <%- programConfig.cardProgram.spendConfiguration.channels.allowSuperCard ? 'checked' : '' %>><span>Zeta
                                                                App</span>
                                                                    </div>
                                                                    <div>
                                                                        <input id="super-card" type="checkbox" <%- programConfig.cardProgram.spendConfiguration.channels.allowZetaApp ? 'checked' : '' %>><span>Super
                                                                Card</span>
                                                                    </div>
                                                                    <div>
                                                                        <input id="super-tag" type="checkbox" <%- programConfig.cardProgram.spendConfiguration.channels.allowSuperTag ? 'checked' : '' %>><span>Super
                                                                Tag</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Allowed merchants</div>
                                                                <div class="inputField">
                                                                    <% if(programConfig.cardProgram.spendConfiguration.allowedMerchants) { %>
                                                                        <div class="multipleOpsSelect">
                                                                            <select class="form-control" id="allowedMerchants" multiple>
                                                                                <% for(merchant in programConfig.cardProgram.spendConfiguration.allowedMerchants) { %>
                                                                                    <option value="<%- programConfig.cardProgram.spendConfiguration.allowedMerchants[merchant] %>" selected><%- programConfig.cardProgram.spendConfiguration.allowedMerchants[merchant] %></option>
                                                                                <% } %>
                                                                            </select>
                                                                        </div>
                                                                    <% } else { %>
                                                                        <div class="padTop6">All</div>
                                                                    <% } %>
                                                                </div>
                                                                <div class="inputField pull-right">
                                                                    <input class="form-control" placeholder="Enter merchants separated by comma" id="customAllowedMerchants">
                                                                    <p class="infoPara">
                                                                        Note: Merchant code example: "mcc:123,mid:123,amc:123"
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Disallowed merchants</div>
                                                                <div class="inputField">
                                                                    <% if(programConfig.cardProgram.spendConfiguration.disallowedMerchants) { %>
                                                                    <div class="multipleOpsSelect">
                                                                        <select class="form-control" id="disallowedMerchants" multiple>
                                                                            <% for(merchant1 in programConfig.cardProgram.spendConfiguration.disallowedMerchants) { %>
                                                                                <option value="<%- programConfig.cardProgram.spendConfiguration.disallowedMerchants[merchant1] %>" selected><%- programConfig.cardProgram.spendConfiguration.disallowedMerchants[merchant1] %></option>
                                                                            <% } %>
                                                                        </select>
                                                                    </div>
                                                                    <% } else { %>
                                                                        <div class="padTop6">None</div>
                                                                    <% } %>
                                                                </div>
                                                                <div class="inputField pull-right">
                                                                    <input class="form-control" placeholder="Enter merchants separated by comma" id="customDisallowedMerchants">
                                                                    <p class="infoPara">
                                                                        Note: Merchant code example: "mcc:123,mid:123,amc:123"
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Allow spends on</div>
                                                                <div class="inputField">
                                                                    <div class="multipleOpsSelect">
                                                                        <select class="form-control" id="spendDays" multiple>
                                                                            <option value="MON">Monday</option>
                                                                            <option value="TUE">Tuesday</option>
                                                                            <option value="WED">Wednesday</option>
                                                                            <option value="THU">Thursday</option>
                                                                            <option value="FRI">Friday</option>
                                                                            <option value="SAT">Saturday</option>
                                                                            <option value="SUN">Sunday</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Allow spend between</div>
                                                                <div class="inputField select-custom" id="timeSliceContainer">

                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Transaction Limit</div>
                                                                <div class="inputField">
                                                                    <div class="col-md-3 row">
                                                                        <p>Min. Amount(in Rupees)</p>
                                                                        <input class="form-control" type="number" placeholder="" id="minTxnLimit" value="<%- programConfig.cardProgram.spendConfiguration.transactionConstraints.minTransactionValue / 100 || 0 %>">
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p>Max. Amount(in Rupees)</p>
                                                                        <input class="form-control" type="number" placeholder="" id="maxTxnLimit" value="<%- programConfig.cardProgram.spendConfiguration.transactionConstraints.maxTransactionValue / 100 || 0 %>">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Daily Spend Limit</div>
                                                                <div class="inputField">
                                                                    <div class="col-md-3 row">
                                                                        <p>Max. Transactions</p>
                                                                        <input class="form-control" type="number" placeholder="" id="maxTxnPerDay" value="<%- programConfig.cardProgram.spendConfiguration.limits.dailyTxnCount || 0 %>">
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p>Max. Amount(in Rupees)</p>
                                                                        <input class="form-control" type="number" placeholder="" id="maxTxnAmtPerDay" value="<%- programConfig.cardProgram.spendConfiguration.limits.dailyLimit / 100 || 0 %>">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Monthly Spend Limit</div>
                                                                <div class="inputField">
                                                                    <div class="col-md-3 row">
                                                                        <p>Max. Transactions</p>
                                                                        <input class="form-control" type="number" placeholder="" id="maxTxnPerMonth" value="<%- programConfig.cardProgram.spendConfiguration.limits.monthlyTxnCount || 0 %>">
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p>Max. Amount(in Rupees)</p>
                                                                        <input class="form-control" type="number" placeholder="" id="maxTxnAmtPerMonth" value="<%- programConfig.cardProgram.spendConfiguration.limits.monthlyLimit / 100 || 0 %>">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label">Require spend declaration?</div>
                                                                <div class="inputField">
                                                                    <div class="col-md-2 row">
                                                                        <div>
                                                                            <input type="radio" name="declaration" value="Yes" <%- programConfig.cardProgram.spendConfiguration.spendDeclaration ? 'checked' : '' %>><span>Yes</span>
                                                                        </div>
                                                                        <div>
                                                                            <input type="radio" name="declaration" value="No" <%- programConfig.cardProgram.spendConfiguration.spendDeclaration ? '' : 'checked' %>><span>No</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <textarea class="form-control" id="declarationText" type="text"><%- programConfig.cardProgram.spendConfiguration.spendDeclaration %></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% if(productType != 'gift'){ %>
                                                                <div class="inputRow">
                                                                    <div class="field-label"> </div>
                                                                    <div class="inputField">
                                                                        <a class="btn btn-warning nextSection" data-value="spend" data-target="<%= productType == 'meal' ? '#multiCollapseExample5' : '#multiCollapseExample4' %>">Next</a>
                                                                    </div>
                                                                </div>
                                                            <% } else { %>
                                                                <div class="inputRow">
                                                                    <div class="field-label"></div>
                                                                    <div class="inputField select-custom">
                                                                        <button class="btn btn-success" data-genie="<%-checkGenie%>" id="showConfirmModal">Finish Setup</button>
                                                                    </div>
                                                                </div>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% if(productType != 'gift' && productType != 'meal'){ %>
                                                <div class="heading disabled" type="button" data-toggle="collapse" data-value="#multiCollapseExample4" data-target="" role="button" aria-expanded="false" aria-controls="multiCollapseExample4">

                                                    <div class="table">
                                                        <div class="table-cell count">
                                                            <p class="stepCount">4</p>
                                                            <p class="tick"><img src="/images/tick.png"></p>
                                                        </div>
                                                        <div class="text table-cell">
                                                            <p>Claim Settings</p>
                                                            <p>Set rules for claims under this program. Claim processing will happen based on these rules</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="col">
                                                        <div class="collapse multi-collapse" id="multiCollapseExample4">
                                                            <div class="card card-body">
                                                                <% if(Object.keys(checkLists).length > 0){ %>
                                                                    <p>All claims will be processed based on the following rules</p><br>
                                                                    <table id="rulesTable" class="table table-bordered">
                                                                        <thead class="bg-grey">
                                                                            <tr>
                                                                                <th>Rules</th>
                                                                                <th>Yes</th>
                                                                                <th>No</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <% for( var key in checkLists) { %>

                                                                                <tr>
                                                                                    <td>
                                                                                        <%- checkLists[key].question  %>
                                                                                    </td>
                                                                                    <td><input type="radio" name="<%- key %>" value="Yes" <%- checkLists[key].showValue=="Yes" ? 'checked' : '' %>></td>
                                                                                    <td><input type="radio" name="<%- key %>" value="No" <%- checkLists[key].showValue=="No" ? 'checked' : '' %>></td>
                                                                                </tr>
                                                                            <% } %>
                                                                        </tbody>
                                                                    </table>
                                                                <% }else{ %>
                                                                    <p>No claim rules configured</p>
                                                                <% } %>
                                                                        <br>
                                                                        <% if(productType == "books") { %>

                                                                            <div class="booksSection">
                                                                                <p>Select Books & Periodicals categories against which claims are allowed
                                                                                </p><br>
                                                                                <% for(category in booksCategories) { %>
                                                                                    <div class="multiselectOptions">
                                                                                        <div class="form-group">
                                                                                            <p>
                                                                                                <%- category %>
                                                                                            </p>
                                                                                            <select class="multiSelectOpts" multiple>
                                                                                                <% booksCategories[category].forEach(function(subCategory) { %>
                                                                                                <option value="<%- subCategory %>" <%- programConfig.cardProgram.reimbursementProgram.extraReimbursementProgramConfig.bookCategories.indexOf(subCategory) >= 0 ? 'selected' : '' %>><%- subCategory %></option>
                                                                                                <% }) %>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <% } %>
                                                                            </div>
                                                                            <% } %>
                                                                                <% if(productType == 'uniform') { %>
                                                                                    <div class="uniform">
                                                                                        <p>Select Uniform categories against which claims are allowed</p>
                                                                                        <div class="uniformOpts inputRow" id="uniformOpts">
                                                                                            <div class="col-md-6 row inputField no-marg-pad">
                                                                                                <% uniformCategories.forEach(function(category){ %>
                                                                                                    <div class="col-md-4"><input type="checkbox" value="<%- category %>" checked><span><%- category %></span></div>
                                                                                                    <% }) %>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <% } %>
                                                                                    <% if(productType != 'gift') { %>
                                                                                        <div class="inputRow">
                                                                                            <a class="btn btn-warning nextSection" data-value="claim" data-target="#multiCollapseExample5">Next</a>
                                                                                        </div>
                                                                                    <% } else { %>
                                                                                        <div class="inputRow">
                                                                                            <div class="field-label"></div>
                                                                                            <div class="inputField select-custom">
                                                                                                <button class="btn btn-success" data-genie="<%-checkGenie%>" id="showConfirmModal">Finish Setup</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    <% } %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                                <% if(productType != 'gift'){ %>
                                                
                                                    <div class="heading disabled" type="button" data-toggle="collapse" data-value="#multiCollapseExample5" data-target="" role="button" aria-expanded="false" aria-controls="multiCollapseExample5">

                                                        <div class="table">
                                                            <div class="table-cell count">
                                                                <p class="stepCount">
                                                                    <%- productType == 'meal' ? '4' : '5' %>
                                                                </p>
                                                                <p class="tick"><img src="/images/tick.png"></p>
                                                            </div>
                                                            <div class="text table-cell">
                                                                <p>Voucher Settings</p>
                                                                <p>Set rules for balance expiry in the program</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <div class="col">
                                                            <div class="collapse multi-collapse" id="multiCollapseExample5">
                                                                <div class="card card-body">
                                                                    <div class="inputRow">
                                                                        <div class="field-label">Voucher Denomination</div>
                                                                        <div class="inputField">
                                                                            <input class="form-control" placeholder="" id="voucherDenomination" type="number" value="">
                                                                            <!-- <p class="infoPara"></p> -->
                                                                        </div>
                                                                    </div>
                                                                    <div class="inputRow">
                                                                        <div class="field-label">Expire balance on the card?</div>
                                                                        <div class="inputField">
                                                                            <div>
                                                                                <input type="radio" name="expire-balance" value="Yes"><span>Yes</span>
                                                                            </div>
                                                                            <div>
                                                                                <input type="radio" name="expire-balance" value="No" checked><span>No</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="inputRow optionalExpiry hideMe">
                                                                        <div class="field-label">When?</div>
                                                                        <div class="inputField select-custom">
                                                                            <select class="form-control" id="expireBalanceOn">
                                                                                <option value="0" disabled>Select</option>
                                                                                <% Object.keys(expiryDropdownData).forEach(function(item){ %>
                                                                                    <option value="<%- item %>"><%- expiryDropdownData[item] %></option>
                                                                                <% }) %>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="inputRow optionalExpiry hideMe">
                                                                        <div class="field-label">On expiry, move the remaining balance in the card to</div>
                                                                        <div class="inputField">
                                                                            <div>
                                                                                <input type="radio" name="remainingbalance" value="moveToUserCashCard" checked><span>Beneficiary’s cash card</span>
                                                                                <p id="cashPara" class="infoPara">
                                                                                    Note: Any pending balance in Holding A/c will be transferred to beneficiary’s cash card
                                                                                </p>
                                                                            </div>
                                                                            <div>
                                                                                <input type="radio" name="remainingbalance" value="moveToIssuer"><span>Corporate Funding A/c</span>
                                                                                <p id="fundingPara" class="infoPara hideMe">
                                                                                    Note: Any pending balance in Holding A/c will be transferred to corporate funding account
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <% if(productType != 'meal'){ %>
                                                                        <div class="inputRow">
                                                                            <div class="field-label"> </div>
                                                                            
                                                                            <div class="inputField">
                                                                                <a class="btn btn-warning nextSection" data-value="expiry" data-target="#multiCollapseExample6">Next</a>
                                                                            </div>
                                                                        </div>
                                                                    <% } else { %>
                                                                        <div class="inputRow">
                                                                            <div class="field-label"></div>
                                                                            <div class="inputField select-custom">
                                                                                <button class="btn btn-success" data-genie="<%-checkGenie%>" id="showConfirmModal">Finish Setup</button>
                                                                            </div>
                                                                        </div>
                                                                    <% } %>
                                                                    <div class="inputRow">
                                                                        <div class="field-label"></div>
                                                                        <div class="inputField">Note: Expiry details can be configured from the order file as well.</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                    <% if(productType != 'gift' && productType != 'meal'){ %>
                                                    <div class="heading disabled" type="button" data-toggle="collapse" data-value="#multiCollapseExample6" data-target="" role="button" aria-expanded="false" aria-controls="multiCollapseExample6">

                                                        <div class="table">
                                                            <div class="table-cell count">
                                                                <p class="stepCount">
                                                                    <%= ['gift', 'meal'].indexOf(productType) >= 0 ? '4' : '6' %>
                                                                </p>
                                                                <p class="tick"><img src="/images/tick.png"></p>
                                                            </div>
                                                            <div class="text table-cell">
                                                                <p>Year End Program Closure Settings</p>
                                                                <p>These rules will apply as a part of year end closure behaviour</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <div class="col">
                                                            <div class="collapse multi-collapse" id="multiCollapseExample6">
                                                                <div class="card card-body">
                                                                    <div class="inputRow">
                                                                        <div class="field-label">Allow this program to be closed for a beneficiary?
                                                                        </div>
                                                                        <div class="inputField">
                                                                            <div>
                                                                                <input type="radio" name="to-be-closed" value="Yes"><span>Yes</span>
                                                                            </div>
                                                                            <div>
                                                                                <input type="radio" name="to-be-closed" value="No" checked><span>No</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="inputRow optionalClosure hideMe">
                                                                        <div class="field-label">When?</div>
                                                                        <div class="inputField">
                                                                            <input readonly="true" type="text" id="closeProgramOn" placeholder="dd/mm/yyyy">
                                                                        </div>
                                                                    </div>
                                                                    <div class="inputRow optionalClosure hideMe">
                                                                        <div class="field-label">On closure, move the remaining balance in the beneficiary’s card to</div>
                                                                        <div class="inputField">
                                                                            <div>
                                                                                <input type="radio" name="closureremainingbalance" value="MOVE_TO_CASH_CARD" checked><span>Beneficiary’s cash
                                                                card</span>
                                                                                <p id="closurecashPara" class="infoPara">
                                                                                    Note: Any pending balance in Holding A/c will be transferred to beneficiary’s cash card
                                                                                </p>
                                                                            </div>
                                                                            <div>
                                                                                <input type="radio" name="closureremainingbalance" value="MOVE_TO_FUNDING_ACCOUNT"><span>Corporate Funding A/c</span>
                                                                                <p id="closurefundingPara" class="infoPara hideMe">
                                                                                    Note: Any pending balance in Holding A/c will be transferred to corporate funding account
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="inputRow">
                                                                        <div class="field-label"></div>
                                                                        <div class="inputField select-custom">
                                                                            <button class="btn btn-success" data-genie="<%-checkGenie%>" id="showConfirmModal">Finish Setup</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <div class="modal fade" id="createProgramLoader" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&nbsp;</span>
                    </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Setting Program. Please wait...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" id="createProgramSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="close_Me" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/success-icon.svg" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Program Setup Successfully</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a id="viewProgramBtnSuccess" href='/companies/<%- companyID %>/optima'>
                                    <button class="btn btn-default" type="button">View Program</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Box Transfer Initiated success End -->

        <div class="modal fade" id="createProgramError" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="close_Me" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.svg" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Program Setup Failed</h4>
                            <p class="text-center" id="errorMsg"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmSetup" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="close_Me" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/success-icon.svg" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Confirm Activation</h4>
                            <p>Once activated, you need to contact your Account Manager or write to support@zeta.in to incorporate any changes in the program settings</p>
                            <button id="finishProgramSetup" class="btn btn-warning" style="width: 100%;background: #ffbc00;padding: 13px;margin-top: 10px;">ACTIVATE PROGRAM</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include common/html-script %>
            <link type="text/css" href="../../../scss/pages/jquery.multiselect.css" rel="stylesheet" />
            <script src="/dist/scripts/benefit.js"></script>


            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>



    </body>

    </html>