<div class="modal-dialog custom-modalbox programs-linked-modal" role="document">
    <div class="modal-content modal-content-founding">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
        </div>
        <div class="custom-modal-body">
            <div class="modal-body">
                <h4 class="text-center">Programs funded by <span><%-name %></span></h4>
                <div class="program-funds">
                    <table class="custom-table mv-table-view hover-state">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Program</th>
                            </tr>
                        </thead>
                        <tbody class="main-content" style="">
                            <% for(var currComp = 0; currComp<companiesFunded.length;currComp++) { %>
                                <% for(var currProg = 0; currProg<companiesFunded[currComp].programs.length;currProg++) { %>
                                    <% if(currProg == 0){ %>
                                        <tr>
                                            <td><%- companiesFunded[currComp].companyName %></td>
                                            <td>
                                                <a href='/companies/<%-companiesFunded[currComp].companyId %>/optima/<%-companiesFunded[currComp].programs[currProg].programId %>'><%- htmlDecoder(companiesFunded[currComp].programs[currProg].programType) %></a>
                                            </td>
                                        </tr>
                                    <% } else { %>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a href='/companies/<%-companiesFunded[currComp].companyId %>/optima/<%-companiesFunded[currComp].programs[currProg].programId %>'><%- htmlDecoder(companiesFunded[currComp].programs[currProg].programType) %></a>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>