<!-- Modal Box Transfer Initiated success -->
<div class="modal fade" data-backdrop="static" id="reissuePayoutModalShow" tabindex="-1" role="dialog">
  <div class="modal-dialog custom-modalbox" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="custom-modal-body">        
        
        <div class="modal-body">
            <div class="text-center">
              <img width="38" height="38" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/re-issue-icon.png" alt="Zeta icon" />
            </div>
            <h4 class="text-center pd-bottom-zero">Re-issue Gift</h4>
            <h6 id="show-error-msg" style="text-align: center;color: red;opacity:0"></h6>            
            <div class="modalbox-form-section" style="padding-top:0px;">
                <form class="pd-top-zero">
                    <div class="form-group left-align">
                        <label class="control-label" for="userName">Full Name</label>
                        <input class="form-control" id="userName" type="text" placeholder="Enter Full Name">
                        <p class="error-message"></p>
                    </div>
                    <div class="form-group left-align mg-bottom-ten ifihdfc-show" style="display:none">
                        <label class="control-label" for="email">Email Address</label>
                        <input class="form-control addUserFields" id="email" type="text" placeholder="Enter Email Address">                       
                        <p class="error-message"></p>
                    </div>                    
                    <div class="heading-sub-text pd-btm-fifteen ifihdfc-show" style="display:none">
                      The user will receive the gift link on this emai
                    </div>
                    <div class="form-group left-align ifihdfc-show" style="display:none">
                          <label class="control-label" for="email">Mobile Number</label>
                          <input class="form-control addUserFields" id="mobile" type="text" placeholder="Enter Your Mobile Number" maxlength="10" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">                       
                          <p class="error-message"></p>
                    </div>  
                    <div class="form-group left-align ifi-other-show" style="display:none">
                      <label class="control-label" for="emailormobile">Email or Mobile Number</label>
                      <input class="form-control addUserFields" id="emailormobile" type="text" placeholder="Enter Email or Mobile Number">                       
                      <p class="error-message"></p>
                     </div>  
                    <div class="form-group left-align">
                          <label class="control-label" for="reason">Reasons/ Comments</label>
                          <textarea class="form-control addUserFields" id="reason" placeholder="E.g. Mobile Number provided was wrong"></textarea>                       
                          <p class="error-message"></p>
                    </div>
            </div>
            </form>
        </div>
        <div class="modal-footer margin-top-zero">
            <div class="flexible-button">
                <button class="btn btn-default revoke-btn cancel" name="" data-dismiss="modal" type="button" value="">
                    CANCEL
                </button>        
                <button disaled class="btn btn-default btn-disaled revoke-btn reissue" id="reissuePayoutDOM" name="" type="button" value="">
                    RE-ISSUE
                </button>
                <img class="add-user-loader" id="addUserLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
            </div>            
        </div>    
      </div>

    </div>
  </div>
</div>
<!-- Modal Box Transfer Initiated success End -->

 <!-- Modal Box Transfer Initiated success -->
 <div class="modal fade" id="reissuePayoutSuccess" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
 <div class="modal-dialog custom-modalbox" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
               </button>
         </div>
         <div class="custom-modal-body">
             <div class="modal-body">
                 <div class="program-code-list-wrpr text-center">   
                     <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg" alt="">                  
                     <h3> The Gift has been Re-issued successfully to:</h3>                     
                     <div class='bulk-order-dtls-wrpr'>
                         <div class='bulk-order-dtls-hdg'>Summary</div>
                         <ul>
                             <li class="clearfix">
                                 <div class='bulk-order-lbl'>Order ID</div>
                                 <div class='bulk-order-val' id='reissueOrderId'></div>
                             </li>
                             <li class="clearfix">
                                 <div class='bulk-order-lbl'>Name</div>
                                 <div class='bulk-order-val' id='reissueName'></div>
                             </li>
                             <li class="clearfix createhideIt reissueEmail" style="display:none">
                                 <div class='bulk-order-lbl'>Email Addess</div>
                                 <div class='bulk-order-val' id='reissueEmail'></div>
                             </li> 
                            
                             <li class="clearfix createhideIt2 reissueMobile" style="display:none">
                                 <div class='bulk-order-lbl'>Mobile Number</div>
                                 <div class='bulk-order-val' id="reissueMobile"></div>
                             </li>

                             <li class="clearfix createhideIt2 reissueEmailorMobile" style="display:none">
                             <div class='bulk-order-lbl'>Email / Mobile Number</div>
                             <div class='bulk-order-val' id="reissueEmailorMobile"></div>
                         </li>
                             
                         </ul>
                     </div>
                    
                     <div class="x-medium-button create-bulk-transfer-order createhideIt2">
                         <a>
                         <button class="btn btn-default reload-btn" style="width:100%;" type="button">Done</button>
                         </a>
                     </div>
                    
                     
                 </div>
             </div>
         </div>

     </div>
 </div>
</div>
<!-- Modal Loader success order End  -->


<!-- Modal Box Transfer Initiated success -->
<div class="modal fade" id="reissueToPayoutSuccess" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog custom-modalbox" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
              </button>
        </div>
        <div class="custom-modal-body">
            <div class="modal-body">
                <div class="program-code-list-wrpr text-center">                    
                    <h3> The Gift has been Re-issued to:</h3>                     
                    <div class='bulk-order-dtls-wrpr'>
                        <div class='bulk-order-dtls-hdg'>Summary</div>
                        <ul>
                            <li class="clearfix">
                                <div class='bulk-order-lbl'>Order ID</div>
                                <div class='bulk-order-val' id='reissueToOrderId'></div>
                            </li>
                            <li class="clearfix">
                                <div class='bulk-order-lbl'>Name</div>
                                <div class='bulk-order-val' id='reissueToName'></div>
                            </li>
                            <li class="clearfix createhideIt reissueToEmail" style="display:none">
                                <div class='bulk-order-lbl'>Email Addess</div>
                                <div class='bulk-order-val' id='reissueToEmail'></div>
                            </li> 
                           
                            <li class="clearfix createhideIt2 reissueToMobile" style="display:none">
                                <div class='bulk-order-lbl'>Mobile Number</div>
                                <div class='bulk-order-val' id="reissueToMobile"></div>
                            </li>

                            <li class="clearfix createhideIt2 reissueToEmailorMobile" style="display:none">
                            <div class='bulk-order-lbl'>Email / Mobile Number</div>
                            <div class='bulk-order-val' id="reissueToEmailorMobile"></div>
                        </li>
                            
                        </ul>
                    </div>
                   
                    <div class="x-medium-button create-bulk-transfer-order createhideIt2">
                        <a>
                        <button  data-dismiss="modal" class="btn btn-default" style="width:100%;" type="button">Done</button>
                        </a>
                    </div>
                   
                    
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- Modal Loader success order End  -->


<!-- Modal Loader  -->
<div class="modal fade" id="reissuePayoutLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog custom-modalbox" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
      </div>
      <div class="custom-modal-body">
        <div class="modal-body">
          <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif"
              alt="Zeta icon" /></div>
          <h4 class="text-center pd-bottom-zero">Please wait...</h4>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Modal Loader End  -->

<!-- Modal Oops Transfer  -->
<div class="modal fade" id="reissuePayoutError" tabindex="-1" role="dialog">
  <div class="modal-dialog custom-modalbox" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="custom-modal-body">
        <div class="modal-body">
          <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png"
              alt="Zeta icon" /></div>
          <h4 class="text-center pd-bottom-zero">Oops!.something went wrong.</h4>
          <div class="modal-heading-pdtb" align="center">
            <div class="heading-sub-text">This error is usually temporary and can be due to your Internet connection or
              something wrong at our end. Trying within few minutes should work. If the problem still persists please
              try again later or contact us on support@zeta.in</div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="flexible-button">
            <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Modal Oops Transfer End  -->