<!-- Modal Box Transfer Initiated success -->
<div class="modal fade" data-backdrop="static" id="cancelPayoutSuccess" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Payout cancelled successfully</h4>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <a href=''>
                            <button class="btn btn-default" type="button">Done</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Box Transfer Initiated success End -->
<!-- Modal Loader  -->
<div class="modal fade" id="cancelPayoutLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Loader End  -->

<!-- Modal Oops Transfer  -->
<div class="modal fade" id="cancelPayoutError" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Oops. Payout cancel failed.</h4>
                    <div class="modal-heading-pdtb" align="center">
                        <div class="heading-sub-text">This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on support@zeta.in</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Oops Transfer End  -->



<!-- Modal Box Transfer Initiated success -->
<div class="modal fade" data-backdrop="static" id="revokePayoutSuccess" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Payout revoked successfully</h4>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <a href=''>
                            <button class="btn btn-default" type="button">Done</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Box Transfer Initiated success End -->
<!-- Modal Loader  -->
<div class="modal fade" id="revokePayoutLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Loader End  -->

<!-- Modal Oops Transfer  -->
<div class="modal fade" id="revokePayoutError" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Oops. Payout revoke failed.</h4>
                    <div class="modal-heading-pdtb" align="center">
                        <div class="heading-sub-text" id="error-msg">
                            This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on support@zeta.in
                        </div>

                        <div class="heading-sub-text" id="cannot-revoke-msg">
                            <p>
                                This amount can't be revoked as it has already been claimed. Please contact us at <a
                                        href="mailto:support@zeta.in">support@zeta.in</a>. If you have any further queries.
                            </p>
                            <p>Note: You would be able to revoke only the unclaimed amount from the user.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Oops Transfer End  -->

<div class="modal fade" data-backdrop="static" id="cancelPayoutConfirm" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <h4 class="text-center pd-bottom-zero">Are you sure that you want to cancel this payout?</h4>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button cancel-order">
                        <button class="btn btn-default confirm" type="button">Yes</button>
                        <button class="btn btn-default reset" type="button">No</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="revokePayoutConfirm" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <h4 class="text-center pd-bottom-zero">Are you sure that you want to revoke this payout?</h4>
                </div>
                <% if(corpID) { %> 
                    <div class="form-group">
                        <textarea style="margin-top:30px;height:100px;" class="form-control" type="text" maxlength="500" placeholder="Please provide a reason to revoke" cols="50" row="4"></textarea>
                    </div>
                    <% } %> 
                <div class="modal-footer">
                    <div class="flexible-button cancel-order">
                        <button class="btn btn-default confirm" type="button">Yes</button>
                        <button class="btn btn-default reset" type="button">No</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
