<% include ./common/html-head %>

<body class="rubix__page">
<div class="wrapper">
    <% include ./common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ./common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container">
                <div class="iframe-box">
                    <iframe src="<%-baseURL%>/#/<%-page%>?<%-query%>" ></iframe>
                </div>
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<% include ./common/html-script %>
<script src="/dist/scripts/rubix.js"></script>
</body>

</html>