<div class="signup-parent__left sodexo-background">
    <div class="signup__header">
      <div class="sodexo__logo"></div>
    </div>

    <div class="signup__hero signup__hero--hradmins-sodexo">
      <h1 class="signup__hero___heading">Digital Dashboard</h1>
      <p class="signup__hero___desc">Improving the Quality of Life of your employees</p>
    </div>

    <div class="signup__support">
      <p class="signup__support___help">Need Help? Let us know</p>
      <ul class="signup__support___list">
        <li class="support__list___phone">
          <a href="tel:02873050667<">(+84) (28) 7305 0667</a>
        </li>
        <li class="support__list___email">
          <a href="mailto:spv.info@sodexo.com">spv.info@sodexo.com</a>
        </li>
      </ul>
    </div>
  </div>