<% include common/html-signup-head %>

<body>
  <div class="app-content sodexo-vn">
    <div class="signup-parent cleafix">
      <% include ./sodexoVnSidebar %>
      <div class="signup-parent__right">
        <!-- Signup for HR Admins -->
        <div class="signup__form-container  signup__form-container--hradmins">
          <div class="signup__form__wrpr">
            <div class="signup__form">
              <h3>Request for a Sodexo Corporate Account</h3>
              <div class="form-title">
                Personal Info
              </div>
              <div class="input-half">
                <div class="input-wrapper textbox__dropdown">
                  
                    <select id="nameTitle" class="drop__down signup__form___select">
                      <option value="mr">Mr</option>
                      <option value="ms">Ms</option>
                      <option value="mrs">Mrs</option>
                    </select>
                  <div class="side__line"></div>
                  <input placeholder="Your full name*" id="fullName" class="signup__form___input text_indent" type='text'
                    autocomplete="off" autofocus />
                  <div class='error-msg'></div>
                </div>

                <div class="input-wrapper">
                  <input placeholder="Your title*" id="designation" class="signup__form___input" type='text'
                    autocomplete="off" />
                  <div class='error-msg'></div>
                </div>
              </div>
              <div class="input-half">
                <div class="input-wrapper">
                  <input placeholder="Your work email address*" id="emailID" class="signup__form___input" type='text'
                    autocomplete="off" />
                  <div class='error-msg'></div>
                </div>

                <div class="input-wrapper mobile-number">
                  <div class="country-code">
                    <p>+84</p>
                  </div>
                  <input placeholder='(903XXXXXX)*' id="contactNo" class="signup__form___input text__indent" type='text'
                    autocomplete="off" />
                  <div class='error-msg'></div>
                </div>
              </div>

              <div class="form-title">
                LEGAL BILLING INFO
              </div>
              <div class="input-half">
                <div class="input-wrapper">
                  <input placeholder='Company Legal name*' id="companyName" class="signup__form___input" type='text'
                    autocomplete="off" />
                  <div class='error-msg'></div>
                </div>

                <div class="input-wrapper">
                  <input placeholder='Tax code' id="taxCode" class="signup__form___input" type='text'
                    autocomplete="off" />
                  <div class='error-msg'></div>
                </div>
              </div>

              <div class="input-full">
                <div class="input-wrapper">
                  <input placeholder='Billing address' id='bill_address' class="signup__form___input" type='text'
                    autocomplete="off" />
                  <div class='error-msg'></div>
                </div>
              </div>

              <div class="input-half">
                <div class="input-wrapper">
                    <div class="input__border">
                      <select id="bill_province" class="signup__form___select drop__down">
                          <option value="">Province</option>
                      </select>
                    </div>
                    <div class='error-msg'></div>
                </div>

                <div class="input-wrapper">
                    <div class="input__border">
                      <select id="bill_city" class="signup__form___select drop__down">
                          <option value="">City</option>
                      </select>
                    </div>
                    <div class='error-msg'></div>
                </div>
              </div>

              <div class="input-full">
                <div class="input-wrapper company_l">
                  <input placeholder='Postal code' id="bill_pinCode" class="signup__form___input" type='text' autocomplete="off" />
                  <div class='error-msg'></div>
                </div>
              </div>
              
              <div class="form-title">
                COMMUNICATION ADDRESS
              </div>

              <div class="checkbox__container">
                <input type="checkbox" id="sameAsBillingAddrs" value="false">
                <label for="sameAsBilling" class="control same__address__checkbox">Same as Billing address</label>
              </div>
              
              <div class="input-full">
                <div class="input-wrapper">
                  <input placeholder='Communication address*' id="comm_address" class="signup__form___input" type='text'
                    autocomplete="off" />
                  <div class='error-msg'></div>
                </div>
              </div>

              <div class="input-half">
                  <div class="input-wrapper">
                      <div class="input__border">
                      <select id="comm_province" class="signup__form___select drop__down">
                          <option value="">Province*</option>
                      </select>
                    </div>
                      <div class='error-msg'></div>
                    </div>
    
                    <div class="input-wrapper">
                        <div class="input__border">
                      <select id="comm_city" class="signup__form___select drop__down">
                          <option value="">City*</option>
                      </select>
                    </div>
                      <div class='error-msg'></div>
                    </div>
              </div>

              <div class="input-full">
                  <div class="input-wrapper company_l">
                    <input placeholder='Postal code*' id="comm_pinCode" class="signup__form___input" type='text' autocomplete="off" />
                    <div class='error-msg'></div>
                  </div>
              </div>

              
              <div class="input-wrapper div-btn">
                <button class="signup__form___button sodexo-vietnam_button" id="createAccount">SUBMIT REQUEST</button>
              </div>
               <div class='signup-error' id='signupError'></div>
              <div class="input-full text-center">
                By proceeding to create your account and use Sodexo, you agree to our <a href="https://sodexo-vietnam.s3.amazonaws.com/en/terms-and-conditions/index.html"
                  target="_blank">
                  <span class="blink link">Terms of Service</span>
                </a> and <a href="https://sodexo-vietnam.s3.amazonaws.com/en/security-policy/index.html" target="_blank">
                  <span class="blink link">Privacy Policy.</span>
                </a>
              </div>


            </div>
            <p class="signup__login-link">Already have an account?
              <a class="link" href="/login/vn">Sign in here</a>
            </p>
          </div>
          <div class="signup__form__success__wrpr">
            <div class="signup__form__success">
              <div class='success__icon'></div>
              <h3>Thanks for your interest</h3>
              <div class='signup__form__success_disc'>Our team will verify your information within 1 working day. Once
                we’re done, your Sodexo Corporate Account
                will be ready to use.</div>
                <div class='signup__form__success_disc'>Should you need any support, please contact us at <br> (+84) (28) 7305 0667</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include common/html-script %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIFsmES_ngL_mMpINpJlqD5uqWxJkHTU8&amp;libraries=places"
    type="text/javascript"></script>
  <script src="../dist/scripts/sodexoVnSignup.js"></script>
</body>

</html>