<% include common/html-head %>

<body>

<input type="hidden" id="orderID" value="<%- typeof orderID !== 'undefined' ? orderID : '' %>">
<input type="hidden" id="programID" value="<%-benefitDetails.programID %>">
<div class="wrapper">
    <% include common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include common/sidebar %>
            <div class="inner-container">
                <!-- Banner Start -->
                <div class="banner-section banner-background">
                    <div>
                        <!-- Breadcrumb -->
                        <div class="row">
                            <div class="col-xs-9 col-md-9">
                                <ul class="breadcrumb pd-tb-zero">
                                    <li><a href="/companies/<%- companyID %>/optima">Programs</a></li>
                                    <li>
                                        <a id='benefiDetailsLink' href="/companies/<%- companyID %>/optima/<%- benefitDetails.programID %>">
                                            <%-benefitDetails.cardProgramObject.cardName %>
                                        </a>
                                    </li>
                                    <input type="hidden" id="compare-date" data-compare-date="<%- benefitDetails.compareDates %>">
                                    <li></li>
                                </ul>
                            </div>
                            <div class="col-xs-3 col-xs-3">
                                <div class="nav-justified">
                                    <ul class="nav nav-pills navbar-right">
                                        <!--<li><a class="text-uppercase pd-tb-zero" href="#"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/gear.png"
                                                                               alt="Zeta Setting Icon"/>
                                Edit Program Details</a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Breadcrumb End -->
                        <!-- Popover -->
                        <!-- <div class="row">
          <div class="col-xs-12 col-md-12 text-right">
            <div class="popover-content">
              <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                  <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
              </span>
            </div>
          </div>
        </div> -->
                        <!-- Popover End -->
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="page-heading">
                                    <div class='transfer-period-select-cntr clearfix'>
                                        <h1>Transfers
                                            <!--<a class="download-link" target="_blank">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/download_link.png" alt="Zeta Icon"/>Download Proforma
                            </a>-->
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row pd-top-list">
            Page Heading and List
            <div class="col-xs-6 col-md-6">
                <div class="page-heading">
                    <div class="heading-list-typetwo">
                        <ul class="list-unstyled mg-bottom-zero">
                            <li><span class="list-four">&nbsp;</span>
                                <small>Total Amount:</small>
                            </li>
                            <li><span class="list-two">&nbsp;</span>
                                <small>Created On:</small>
                            </li>
                            <li><span class="list-three">&nbsp;</span>
                                <small>Created By:</small>
                                John Doe
                            </li>
                            <li class="line-height-zero"><span class="list-one">&nbsp;</span>
                                <small>File Uploaded:</small>
                                <a class="common-link-white"></a>
                            </li>
                        </ul>
                    </div>
                     <div class="x-medium-button pd-top-ten">
                        <button class="btn btn-default" type="button" name="" value="" id="">New Transfer</button>
                    </div>
                </div>
            </div>
             Page Heading and List End
             Page Card Display
            <div class="col-xs-6 col-md-6">
                <div class="page-heading-list">
                    <div class="page-heading">
                        <div class="status-heading">STATUS</div>

                        <a href="" class="tooltip-title transfer-tooltip">
                            <h1 class="pd-top-five"></h1>
                            <span class="tooltip-view">
                                 Tooltip Content
                                  <div class="tooltip-lrtb-pd">
                                      <div class="row">
                                          <div class="col-xs-12 col-md-12"></div>
                                      </div>
                                  </div>
                                Tooltip Content End
                            </span>
                        </a>
                    </div>
                    <div class="pd-top-fifteen status-description">
                        <div>
                            <small>Lack of funds in <a class="link" href=""><b>Funding Account
                                        1.</b></a> (Current Balance: ₹3,54,000)
                            </small>
                        </div>
                        <div>
                            <small>Please add <b>₹45,000</b> to process this transfer
                                <small>
                        </div>
                    </div>
                </div>
            </div>
             Page Card Display End
        </div>-->
                    </div>
                </div>
                <!-- Banner End -->
                <div class="sub-container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <!-- Filter -->
                            <div class="row">
                                <div class="filter-section">
                                    <div class="col-xs-5 col-md-5">
                                        <div class="custom-searchbox">
                                            <div class="input-group stylish-input-group">
                                                <input id="employeeSearch" type="text" class="form-control" placeholder="Search by Beneficiary Name, Email or Mobile">
                                                <span class="input-group-addon">
                                                    <button type="button" id="searchEmployeeBtn">
                                                      <span><img src="/images/search_small.png"></span>
                                                                </button>
                                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Bulk Action -->
                                <div id="bulk-action-section" class="bulk-action-section">
                                    <div class="col-12">
                                        <div class="action-buttons large-button">
                                            <% if(revokeFunds){ %>
                                                <button class="btn btn-secondary text-uppercase btn-bg-color pull-right action-revoke">Revoke selected</button>
                                            <% } %>
                                            <button class="btn btn-secondary text-uppercase pull-right clear">
                                                <strong>x</strong>
                                                Clear Selection
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Bulk Action End -->
                            </div>
                            <!-- Filter End -->
                            <div class="inner-sub-container page-sub-heading transfer-details-wrpr">
                                <!-- Media Object
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="media count-details pd-bottom-ten">
                            <div class="media-left">
                                <h4 class="media-heading font-size-20"></h4>
                            </div>
                            <div class="media-body">
                            </div>
                        </div>
                    </div>
                </div>

                 Media Object End -->
                                <!-- Graph Count -->
                                <!-- <div class="row">
                    <div class="graph-heading">
                        <div class="col-xs-3 col-md-3">
                          <h5>`86,35,000</h5>
                        </div>
                        <div class="col-xs-3 col-md-3">
                          <h5>`86,35,000</h5>
                        </div>
                        <div class="col-xs-3 col-md-3">
                          <h5>`86,35,000</h5>
                        </div>
                    </div>
                </div> -->
                                <!-- Graph Count End -->
                                <!-- Graph Legend -->
                                <!-- <div class="row">
                    <div class="graph-legend">
                        <div class="col-xs-3 col-md-3">
                            <strong class="light-green"></strong> <span> Transferred</span>
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <strong class="light-pink"></strong> <span> Spent by Employees</span>
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <strong class="light-pink"></strong> <span> Reimbursed via Claims</span>
                        </div>
                    </div>
                </div> -->
                                <!-- Graph Legend End -->

                                <!-- Table -->
                                <div class='row filter-cntr' id='payoutFilters'>
                                    <div class='col-xs-2 col-md-2 filter-wrpr active' data-filter-val='scheduled,initiated,temporarily_failed,claimed,partially_revoked,revoked,invalid,cancelled,failed'>
                                        <div class='filter-no' id='totalPayouts'></div>
                                        <div class='filter-txt'>All</div>
                                    </div>
                                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='scheduled'>
                                        <div class='filter-no' id='scheduledPayouts'></div>
                                        <div class='filter-txt'>Scheduled</div>
                                    </div>
                                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='initiated'>
                                        <div class='filter-no' id='processingPayouts'></div>
                                        <div class='filter-txt'>Processing</div>
                                    </div>
                                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='claimed'>
                                        <div class='filter-no' id='transferredPayouts'></div>
                                        <div class='filter-txt'>Transferred</div>
                                    </div>
                                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='temporarily_failed'>
                                        <div class='filter-no' id='waitingPayouts'></div>
                                        <div class='filter-txt'>Waiting for Beneficiary</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div id="payoutstable" data-revoke="<%- revokeFunds %>" data-pmrw="<%- isProgramManagerRW %>"></div>
                                    </div>
                                </div>
                                <!-- Table End -->

                            </div>
                        </div>
                    </div>
                </div>
                <% if(lastLoginTime != false) { %>
                <div class="col-xs-12 col-md-12">
                    <!-- last login info display -->
                    <div class="straight-line">&nbsp;</div>
                    <div class="text-center">
                                            <span>
                                              <p>Last login - <%-lastLoginTime %></p>
                                      </span>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- Container End -->
</div>

<!-- Modal Box Transfer Initiated success -->
<div class="modal fade" data-backdrop="static" id="cancelPayoutSuccess" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Payout cancelled successfully</h4>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <a href=''>
                            <button class="btn btn-default" type="button">Done</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Box Transfer Initiated success End -->
<!-- Modal Loader  -->
<div class="modal fade" id="cancelPayoutLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Loader End  -->

<!-- Modal Oops Transfer  -->
<div class="modal fade" id="cancelPayoutError" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Oops. Payout cancel failed.</h4>
                    <div class="modal-heading-pdtb" align="center">
                        <div class="heading-sub-text">This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on support@zeta.in</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Oops Transfer End  -->
<!-- Modal Oops Transfer  -->
<div class="modal fade" id="cancelPayoutErrorGenie" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Oops. Payout cancel failed.</h4>
                    <div class="modal-heading-pdtb" align="center">
                        <div class="heading-sub-text">You may not have access to cancel payout.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Oops Transfer End  -->



<!-- Modal Box Transfer Initiated success -->
<div class="modal fade" data-backdrop="static" id="revokePayoutSuccess" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><br/><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Payout revoked successfully</h4>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <a href=''>
                            <button class="btn btn-default" type="button">Done</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Box Transfer Initiated success End -->

<!-- Modal Box Transfer Initiated success for BULK REVOKE -->
<div class="modal fade" data-backdrop="static" id="revokeBulkPayout" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><br/><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">
                        <span id="revoke-successCount"></span>
                        Payouts revoked successfully out of
                        <span id="revoke-totalCount"></span>
                        Payouts
                    </h4>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <a href=''>
                            <button class="btn btn-default" type="button">Done</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Box Transfer Initiated success for BULK REVOKE End -->

<!-- Modal Loader  -->
<div class="modal fade" id="revokePayoutLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Loader End  -->

<!-- Modal Oops Transfer  -->
<div class="modal fade" id="revokePayoutError" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Oops. Payout revoke failed.</h4>
                    <div class="modal-heading-pdtb" align="center">
                        <div class="heading-sub-text" id="error-msg">
                            This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on <%= locals.country_details && country_details.supportEmail ? country_details.supportEmail : 'support@zeta.in' %>
                        </div>

                        <div class="heading-sub-text" id="cannot-revoke-msg">
                            <p>
                                This amount can't be revoked as it has already been claimed. Please contact us at <a href="mailto:<%- locals.country_details && country_details.supportEmail ? country_details.supportEmail : 'support@zeta.in' %>"><%= locals.country_details && country_details.supportEmail ? country_details.supportEmail : 'support@zeta.in' %></a>. If you have any further queries.
                            </p>
                            <p>Note: You would be able to revoke only the unclaimed amount from the user.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Oops Transfer End  -->

<div class="modal fade" data-backdrop="static" id="cancelPayoutConfirm" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="text-center"><img
                        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png"
                        alt="Zeta icon" /></div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <h4 class="text-center pd-bottom-zero">Confirm Cancellation for this payout</h4>
                </div>
                <div class="modal-footer cancel-order">

                    <table>
                        <tr>
                            <td> <button class="btn confirm-cancel-single confirm" type="button" data-cancelAll="false">SELECTED ORDER (Order ID: <%-typeof orderID !== 'undefined' ? orderID : '' %>)</button></td>
                        </tr>
                        <tr >
                            <td class="cancel-row"> <button class="btn confirm-cancel-all reset cancel-confirm confirm"  data-cancelAll="true"  type="button">ALL SCHEDULED ORDERS APPLICABLE FOR THIS USER</button></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="revokePayoutConfirm" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close " data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="text-center"><img
                        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png"
                        alt="Zeta icon" /></div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <h4 class="text-center pd-bottom-zer">Confirm revoke for this payout?</h4>
                </div>
                <div class="form-group select-custom" >
                    <select id='revokeOptions' class="form-control  revoke-dropdown">
                        <option disabled selected>Select revoke reason</option>
                        <option value='Payout issued on incorrect uder details'>Payout issued on incorrect user details</option>
                        <option value='Payout issued for incorrect amount'>Payout issued for incorrect amount</option>
                        <option value='User is no longer an employee of the company'>User is no longer an employee of the company</option>
                        <option value='others'>others (please specify)</option>
                    </select>
                </div>
                <div class="form-group revoke-option" id="revokeOthersSpecifyOption">
                    <textarea  id="revokeOthersText" style="margin-top:30px;height:100px;" class="form-control" type="text" maxlength="500" placeholder="Mention the reason here" cols="50" row="4"></textarea>
                </div>
                <!-- <% if(corpID=="495") { %>  -->

                <!-- <% } %>  -->
                <div class="modal-footer">
                    <div class="">
                        <button class="btn confirm-cancel-single confirm" type="button">CONFIRM REVOKE</button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal Order List -->
<div class="modal fade" id="showOrderHistoryListModal" tabindex="-1" role="dialog">
</div>
<!-- Modal Order List End -->

<% include common/html-script %>

<script src="/dist/scripts/transferDetail.js"></script>

<script type="text/javascript">
    $(function() {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>

</html>