<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zeta Tax Benefits</title>
    <link rel="shortcut icon" href="https://card-program-files.s3.amazonaws.com/hrDashboard/images/favicon.png">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/dropzone/dist/min/dropzone.min.css"/>
    <link rel="stylesheet" href="/dist/css/main.css">


</head>

<body>
	<div class="wrapper">
		<!-- Container -->
		<div class="container-fluid sidebar-row">
			<div class="row">
				<!-- Inner container -->
				<div>
					<div class='error-msg-wrpr--full'>
						<img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-error-state.png" alt="error">
						<div class='error' style="color:#ee0c0c">Current IP address is not authorized to access the dashboard</div>
					</div>
				</div>
				<!-- Inner container End -->
			</div>
		</div>
		<!-- Container End -->
	</div>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</body>
