<% include common/html-signup-head %>
<body>
    <div class='activate-wrpr'>
        <div class="activate-container">
            <div class="activate-form-container">
                <div class='activate-form'>
                    <div class="title">Verification code sent to <span><%- emailID %></span></div>
                    <div class="err-msg" id='errMsg'></div>
                    <form>
                        <div>
                            <input id="code" class="zmv-new-input" placeholder="Enter Verification Code" type="number" ng-model="verificationCode" autocomplete="off"/>
                        </div>
                    </form>
                    <div class="div-btn-container">
                        <button id='emailVerifyBtn' class="zmv-new-btn-sign">Verify Email Address</button>
                    </div>
                    <div class="bottom-section">
                        <span class="text">Didn’t receive the code?</span> <br> Please check your SPAM folder or <span id='resendCode' class="link">Resend Code</span>
                        <span class="loading"><img src="img/loading-icon.png"></span>
                        <span class="resend-err"><img src="img/ic-error.png"> <div class="arrow-left"></div><div class="msg">Oops, There was a problem. <br>Please try again.</div> </span>
                        <span class="resend-tick"><img src="img/ic-check-circle.png"><div class="arrow-left"></div> <div class="msg">Code sent successfully.<br>Please check your inbox.</div></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include common/html-script %>
  <script src="../dist/scripts/verifyEmail.js"></script>
</body>
</html>