<tr data-orderid="" class="orders-row numbers-font">
    <td>
        <div class="thumbnail-profile-view">
            <div class="thumbnail-profile-row">
                <div class="thumbnail-profile-icon">
                    <img class="img-shawdow" src="<%- iconImage %>" width="30">
                </div>
                <div class="thumbnail-profile-details">
                    <strong><%- badgeName %></strong>
                </div>
            </div>
        </div>
    </td>

    <td style="min-width:124px;">
        <%- description %>
    </td>

    <td class="text-capitalize">
            Individual
    </td>

    <td style="text-align:  right">
        <%- points %>
    </td>

    <td style="text-align:  center;">
        <img class="cursor-pointer generateCertificate" data-badgeid="<%=badgeID%>" data-description="<%=description%>"
            data-certificateheaderimage="<%=certiFicateHeaderImage%>"
            data-certificatefooterimage="<%=certiFicateFooterImage%>"
            data-certificategradientcolor1="<%=certiFicateGradientColor1%>"
            data-certificategradientcolor2="<%=certiFicateGradientColor2%>" data-badgename="<%=badgeName%>"
            data-badgelogo="<%=iconImage%>"
            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/file.svg" width="14">
    </td>

    <td>
        <% if(isEnabled === true) {%>
        <span class="instagift_status_completed text-capitalize"> Enabled</span>
        <% } else { %>
        <span class="instagift_status_completed text-capitalize"> Disabled</span>
        <% } %>
    </td>

</tr>