<!-- Banner Start -->
<div class="top-section reward-banner">
    <div>
        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-xs-9 col-md-9">
                <ul class="breadcrumb pd-tb-zero">
                    <li><a href="/companies/<%- companyID %>/spotlight"><% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %>Zeta Spotlight <%} %> </a></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <!-- Popover End -->
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="page-heading spBtnDv">
                    <h1 class="pd-top-five">Card-based</h1>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Banner End -->