<% include ../../../common/html-head %>

    <body>
        <input type="hidden" id="orderID" value="<%- orderID %>">
        <div class="wrapper">
            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <!-- Banner Start -->
                                <div class="banner-section banner-background">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <li><a href="/companies/<%- companyID %>/spotlight/"><% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %>Zeta Spotlight <%} %> </a></li>
                                                    <li class='active'>
                                                        <a href="/companies/<%- companyID %>/spotlight/reward#sendGift">
                                                             Rewards
                                                        </a>
                                                    </li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Breadcrumb End -->
                                        <div class="row">
                                            <div class="col-xs-6 col-md-6">
                                                <div class="page-heading">
                                                    <h1 class="pd-top-ten pd-bottom-ten">Transfer Order ID:
                                                        <%- orderID %>
                                                    </h1>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <div class="user-profile-list">
                                                    <div class="user-list-column">

                                                        <ul class="list-unstyled mg-bottom-zero employee-status">
                                                            <li class="clearfix">
                                                                <div class="employee-label">
                                                                    <!--<span class="schedule-date list-two">&nbsp;</span>-->
                                                                    <small>Schedule Date:</small>
                                                                </div>
                                                                <div class="user-discription-column label-details" id='scheduleDateBanner'>

                                                                </div>
                                                            </li>
                                                            <li class="clearfix">
                                                                <div class="employee-label">
                                                                    <!--<span class="purchase-order list-two">&nbsp;</span>-->
                                                                    <small>Purchase Order No.</small>
                                                                </div>
                                                                <div class="user-discription-column label-details" id='poOrder'>

                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->

                                <div class="sub-container">
                                    <div class="row modal-box">
                                        <!-- My Changes Hahahah -->
                                        <div class="col-xs-9 col-md-9 custom-box">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div class="page-sub-heading">
                                                            <h2 class="sub-heading-pdb transfer-error-top-hdg">1. We found some errors in the order file. Here’s a quick summary</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id='transferErrors' class="col-xs-12 col-md-12 transfer-errors">
                                                        <% include ../../../tables/transfer-errors %>
                                                    </div>
                                                </div>
                                                <div class="row download-btn-wrpr">
                                                    <a href='<%-downloadURL %>'>
                                                        <button class="btn btn-default" type="button">Download complete report</button>
                                                    </a>
                                                </div>
                                                <div class="row error-sub-hdg-wrpr">
                                                    <div class="col-xs-12 col-md-12 error-sub-hdg-col">
                                                        <div class="page-sub-heading">
                                                            <h2 class="sub-heading-pdb">2. Choose what you want to do next <span>(Click one of the options below)</span></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row errors-entries-type-wrpr">
                                                    <div class="col-xs-6 col-md-6">
                                                        <div class='errors-entries-type'>
                                                            <span class='active-icon'></span>
                                                            <span class='errors-entries-type-icon cancel-order'></span>
                                                            <h3 class='errors-entries-type-hdg'>Cancel & Create new order</h3>
                                                            <div class="errors-entries-type-desc">Manually fix errors & re-upload the file</div>
                                                        </div>
                                                        <div class='errors-entries-type-cnt'>
                                                            <div class="errors-entries-hdg">The following will happen, if you proceed with this step:</div>
                                                            <ul>
                                                                <li>
                                                                    <span class="cross-icon">We will “Cancel” this order</span>
                                                                </li>
                                                                <li>
                                                                    <span class="tick-icon">You can go ahead and create a new order, after correcting the order file</span>
                                                                </li>
                                                            </ul>
                                                            <div class="x-medium-button">
                                                                <button class="btn btn-default" id='cancelOrder' type="button">Cancel & Create new order</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-md-6">
                                                        <div class='errors-entries-type'>
                                                            <span class='active-icon'></span>
                                                            <span class='errors-entries-type-icon valid-entries'></span>
                                                            <h3 class='errors-entries-type-hdg'>Continue with valid entries</h3>
                                                            <div class="errors-entries-type-desc">Ignore the duplicate & invalid entries</div>
                                                        </div>
                                                        <div class='errors-entries-type-cnt'>
                                                            <div class="errors-entries-hdg">The following will happen, if you proceed with this step:</div>
                                                            <ul>
                                                                <li>
                                                                    <span class="cross-icon">We will ignore all the duplicate & invalid entries</span>
                                                                </li>
                                                                <li>
                                                                    <span class="tick-icon">We will process transfer for the remaining <b><span id='validEntries'>0</span> valid entries</b>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span class="tick-icon">Once processed, we will generate a proforma invoice, totalling to <b><span class="ruppee">₹</span><span id='validAmt'>0</span></b>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                            <div class="x-medium-button">
                                                                <button id='initiateTransferOrder' class="btn btn-default" type="button">Initiate Transfer Order</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                        </div>
                                    </div>
                                    <!-- last login -->
                                    <% include ../../../common/time-footer %>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>


        <!-- Modal Loader  -->
        <div class="modal fade" id="myModalLoader" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img width="32" src="/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Initiaing Transfer Order. Please wait...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

        <!-- Modal Loader  -->
        <div class="modal fade" id="cancelLoader" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img width="32" src="/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" id="cancelOrderSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="/images/sucess-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Your order has been cancelled</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a class="btn btn-default" href="/companies/<%- companyID %>/spotlight/reward#sendGift">Create New Order</a>
                            </div>
                            <div class='success-note'>Note: You can also <a href='<%-downloadURL %>'>download the complete report</a> for this order from the transfer orders
                                <!--<a href="/companies/<%- companyID %>/optima/<%- programID %>">transfer orders</a>-->page later.</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Box Transfer Initiated success End -->

        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" id="orderInitiateSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="/images/sucess-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Transfer order initiated successfully</h4>
                            <div class='transfer-summary'>
                                <div class='transfer-summary-hdr'>Summary</div>
                                <div class='transfer-summary-dtls-row clearfix'>
                                    <div class="transfer-summary-dtls-col">Order ID</div>
                                    <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second" id='newOrderID'></div>
                                </div>
                                <div class='transfer-summary-dtls-row transfer-summary-dtls-second-row clearfix'>
                                    <div class="transfer-summary-dtls-col">Scheduled transfer date</div>
                                    <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second" id='newScheduleDate'></div>
                                </div>
                                <div class='transfer-summary-dtls-row clearfix'>
                                    <div class="transfer-summary-dtls-col">Total no. of beneficiaries</div>
                                    <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second" id='totalBeneficiaries'></div>
                                </div>
                                <div class='transfer-summary-dtls-row transfer-summary-dtls-second-row clearfix'>
                                    <div class="transfer-summary-dtls-col">Total amount</div>
                                    <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second" id='totalAmt'></div>
                                </div>
                                <div class='transfer-summary-dtls-row clearfix'>
                                    <div class="transfer-summary-dtls-col">Status</div>
                                    <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second new-transfer-status" id='newStatus'></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a class="btn btn-default" href="/companies/<%- companyID %>/spotlight/reward#orderHistory">Done</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Box Transfer Initiated success End -->

        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="myModalOops" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="/images/error-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Oops. We could not initiate transfer</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text">This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on support@zeta.in
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <% include ../../../common/html-script %>

            <script src="/dist/scripts/transferError.js"></script>


            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>

    </body>

    </html>