<div class="tab-pane active" id="tab_default_1">
    <!-- Page Heading and List -->
    <div class="row">
            <div class="col-xs-9 col-md-9">
                <ul class='bulk-transfer-step-list'>
                    <li id='chooseStep' class='active'>
                        <div class='bulk-transfer-step-no'>1</div>
                        <div id='chooseTxt' class='bulk-transfer-step-txt'>Choose Design</div>
                    </li>
                    <li id='uploadStep'>
                        <div class='bulk-transfer-step-line'></div>
                        <div class='bulk-transfer-step-no'>2</div>
                        <div class='bulk-transfer-step-txt bulk-transfer-step-two'>Add Beneficiaries</div>
                    </li>
                    <li id='verifyStep'>
                        <div class='bulk-transfer-step-line'></div>
                        <div class='bulk-transfer-step-no'>3</div>
                        <div class='bulk-transfer-step-txt bulk-transfer-step-three'>Verify & Pay</div>
                    </li>
                </ul>
            </div>
        </div>

    <div class="row" id="chooseDesign" style="margin-left:15px;">
        <div class="col-xs-9 col-md-9 custom-box">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="rewardChooseTxt">Choose a design</div>
                    <div class="chooseDesignRow">
                        <ul class="clearfix">
                            <li class="newCreateDesign addNewTemplate">
                                <div class="newCreateDv">
                                    <span>+</span>
                                </div>
                                <div class="newCreateTxt">Create custom design</div>
                            </li>

                            <% for(var i=0; i<rewardData.length; i++) { %>
                                <li class="newCreateDesign rewardGift" data-id="<%- rewardData[i].programID %>" data-fundingid="<%- rewardData[i].fundingAccountDetails.accountID %>"
                                    data-title="<%- rewardData[i].cardName %>" data-img="<%- rewardData[i].cardDesign.bg %>">

                                    <span class="active-icon"></span>
                                    <div class="createDv">
                                        <img src="<%- rewardData[i].cardDesign.bg %>" />
                                    </div>                                   
                                    <div class="ellipsis">
                                        <div class="inner">
                                                <span class="newCreateTxt"> <%- rewardData[i].cardName %></span>
                                        </div>
                                    </div>
                                </li>
                                <% } %>
                                <% var isGreatJob = true, isSpotAward= true , isStarAchiever= true, isReferralBonus= true,isEmployeeofthemonth= true %>
                                <% for(var i=0; i<rewardData.length; i++) { %>
                                <% if(isGreatJob == true) { %>
                                <% if(rewardData[i].cardName == 'Great Job!'){ isGreatJob = false } %> 
                                <% } %>
                                <% if(isSpotAward == true) { %>
                                <% if(rewardData[i].cardName == 'Spot Award'){ isSpotAward = false } %>
                                <% } %>
                                <% if(isStarAchiever == true) { %>
                                <% if(rewardData[i].cardName == 'Star Achiever'){ isStarAchiever = false } %>
                                <% } %>
                                <% if(isReferralBonus == true) { %>
                                <% if(rewardData[i].cardName == 'Referral Bonus'){ isReferralBonus = false } %>
                                <% } %>
                                <% if(isEmployeeofthemonth == true) { %>
                                <% if(rewardData[i].cardName == 'Employee of the month'){ isEmployeeofthemonth = false } %>
                                <% } %>
                                <% } %>
                               
                                    <% if(isGreatJob== true) { %>
                                    <li class="newCreateDesign rewardGiftDummy" data-title="Great Job!" data-img="https://card-program-files.s3.amazonaws.com/hrDashboard/images/cards-large/Goodjob.png"
                                        data-msg="Thank you for the fantastic job you have been doing lately. We really appreciate your hard work and dedication. Keep up the good work!"
                                        data-gretting="Congratulations">
                                        <span class="active-icon"></span>
                                        <div class="createDv">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/cards-large/Goodjob.png" />
                                        </div>
                                        <div class="ellipsis">
                                            <div class="inner">
                                                    <span class="newCreateTxt">Great Job!</span>
                                            </div>
                                        </div>
                                    </li>
                                    <% } %>
                                   

                                    <% if(isSpotAward== true) { %>
                                    <li class="newCreateDesign rewardGiftDummy" data-title="Spot Award" data-img="https://card-program-files.s3.amazonaws.com/hrDashboard/images/cards-large/Spot-Award.png"
                                        data-msg="Thank you for the fantastic job you have been doing lately. We really appreciate your hard work and dedication. Keep up the good work!"
                                        data-gretting="Congratulations">
                                        <span class="active-icon"></span>
                                        <div class="createDv">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/cards-large/Spot-Award.png" />
                                        </div>
                                        <div class="ellipsis">
                                                <div class="inner">
                                                        <span class="newCreateTxt"> Spot Award</span>
                                                </div>
                                            </div>
                                        
                                    </li>
                                     <%}%>
                                   
                                 
                                <% if(isStarAchiever== true) { %>
                                    <li class="newCreateDesign rewardGiftDummy" data-title="Star Achiever" data-img="https://card-program-files.s3.amazonaws.com/hrDashboard/images/cards-large/Star-achiever.png"
                                        data-msg="Congratulations on the tremendous success you’ve achieved as the Star Achiever of this month. This award represents a symbol of our appreciation towards your dedication and hard work. Very well done. Keep it up!"
                                        data-gretting="Congratulations">
                                        <span class="active-icon"></span>
                                        <div class="createDv">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/cards-large/Star-achiever.png" />
                                        </div>
                                       
                                        <div class="ellipsis">
                                                <div class="inner">
                                                        <span class="newCreateTxt">Star Achiever</span>
                                                </div>
                                        </div>
                                    </li>
                                    <% } %>
                                        
                                    <% if(isReferralBonus== true) { %>
                                    <li class="newCreateDesign rewardGiftDummy" data-title="Referral Bonus" data-img="https://card-program-files.s3.amazonaws.com/hrDashboard/images/cards-large/Referral-Bonus.png"
                                        data-msg="Thank you for the referral. We really appreciate your proactiveness for spotting great talent for company. In appreciation of your efforts, here is a token of recognition. Keep referring."
                                        data-gretting="Congratulations">
                                        <span class="active-icon"></span>
                                        <div class="createDv">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/cards-large/Referral-Bonus.png" />
                                        </div>
                                        <div class="ellipsis">
                                                <div class="inner">
                                                        <span class="newCreateTxt">Referral Bonus</span>
                                                </div>
                                        </div>
                                    </li>
                                    <% } %>

                                    <% if(isEmployeeofthemonth== true) { %>
                                    <li class="newCreateDesign rewardGiftDummy" data-title="Employee of the month" data-img="https://card-program-files.s3.amazonaws.com/hrDashboard/images/cards-large/award.jpg"
                                        data-msg="Congratulations on receiving the Employee of the Month award. It is with great pride that we present this award to you as a valued member of our team. People like you are an asset to the company. Keep it up!"
                                        data-gretting="Congratulations">
                                        <span class="active-icon"></span>
                                        <div class="createDv">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/cards-large/award.jpg" />
                                        </div>
                                        <div class="ellipsis">
                                                <div class="inner">
                                                        <span class="newCreateTxt">Employee of the month</span>
                                                </div>
                                        </div>
                                       
                                    </li>
                                    <% } %>
                        </ul>
                    </div>
                    <div class="x-medium-button">
                        <button id="rewardTemplateSelected" data-url="Step2" class="btn btn-default btn-disabled" disabled type="button">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3 ">
            <div class="rewardPrvwTxt">Preview</div>
            <div class="rewardBlankState">
                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/blank-state.svg" />
            </div>
            <div class="rewardMobileDemo" style="display:none">
                <button type="button" class="btn btn-collapse" >Card Design
                    <!-- <span class="rewardPlusMinus">-</span> -->
                </button>
                <div id="demo1" class="collapse collapseData in">
                    <img class="rewardPImageMain" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardPhoneAsset.svg" />
                    <img class="rewardPImg" src="" />
                    <span class="rewardPtitle commonTxtsty">Work Anniversary</span>
                    <span class="rewardPmoney commonTxtsty">₹1234</span>
                </div>
            </div>
            <div class="rewardEmailDemo" style="display:none">
                <button type="button" class="btn btn-collapse" >Email Design
                    <!-- <span id="rewardPlus1" class="rewardPlusMinus">-</span> -->
                </button>
                <div id="demo2" class="collapseData collapse in">
                    <img class="rewardPEImgbg" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardEmailAsset.svg" />
                    <img class="rewardPEImg" src="" />
                    <span class="rewardPEtitle"></span>
                    <div class="preEmailMessage">
                        <!-- <span class="emailQuotes">"</span> -->
                        <div class="preEmailInnerMessage">
                            <span class="rewardPEmessage">Congratulations for completing 3 years with ACME! Thank you for your dedication & contributions
                                along the journey. We wish you continued success with ACME family! In appreciation of your
                                dedicated service, here is a token of recognition.</span>
                            <br>
                            <span class="rewardPEcompany"> -
                                <%- corp.name %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="row virtualManual" id="addBenefits" style="margin-left:15px;display:none;">
        <div class="col-xs-9 col-md-9 custom-box">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="rewardbenegitHead">Add Beneficiaries</div>
                    <div class="rewardbenegitSubHead">Enter details of beneficiaries to whom you want to send gifts</div>
                    <form id="manualData" class="clearfix">
                            <div>
                                    <ol id="buildyourform" class="beneficiaries-input">
                                        <li class="rewardBenefitInputDv" id="field1">
                                            <div class="manualBenefitHead">
                                                <span class="dottedLine dottedLineFull"></span>
                                            </div>
                                            <div class="zeta-col1">
                                                <input type="text" class="inputField inputFieldValidate input-name-validate" data-validator="name" placeholder="Name">
                                                <!--  <p>Please fill the name</p> -->
                                            </div>
                                            <div class="zeta-col3 " style="width: 23%">
                                                <div class="input-group tooltip-custom">
                                                    <div class="input-group-addon"> &nbsp; ₹ &nbsp; </div>
                                                    <input type="number" class="inputField inputFieldValidate custom-border input-amount-validate1" placeholder="Amount" data-validator="amount"
                                                        maxlength="8">
                                                    <span class="tooltiptext rewardTootltip" style="width: 320px;height: 87px">
                                                        <div class="inner-suggestion-container">
                                                            <div class="inner-suggestion-p">Suggested Amounts</div>
            
                                                            <div class="inner-suggestion-amount">
                                                                <div class="inner-suggestion-list">
                                                                    <div class="append-amount" data-amount="500" data-id="1">500</div>
                                                                    <div class="append-amount" data-amount="1000" data-id="1">1,000</div>
                                                                    <div class="append-amount" data-amount="2500" data-id="1">2,500</div>
                                                                    <div class="append-amount" data-amount="5000" data-id="1">5,000</div>
                                                                    <div class="append-amount" data-amount="10000" data-id="1">10,000</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </div>
                                                <!--  <p>Please fill the amount</p> -->
            
                                            </div>
                                            <div class="zeta-col4" style="width:22%;">
                                                    <input type="text" class="inputField inputFieldValidate  input-pan-validate" data-validator="pan" placeholder="Aadhar No. or PAN" maxlength="12">
                                                    <!-- <p>Invalid Aadhar No. or PAN</p> -->
                                            </div>
            
                                            <div class="zeta-col3">
                                                <input type="text" class="inputField inputFieldValidate input-email-validate" data-validator="email" placeholder="Email or Mobile Number">
                                                <!--   <p>Invalid Email Address</p> -->
                                            </div>
                                            <div class="zeta-col4" style="width:49%;">
                                                <div class="form-group date-picker date-picker-width" style="margin-bottom:unset">
                                                    <div class="input-group" style="width:100%;">
                                                        <input type="text" class="inputField inputFieldValidate input-date-validate form-control datepicker-img scheduleTransferDate"
                                                        style="width: 98%;"  data-validator="date" placeholder="Transfer Date" id="" readonly/>
                                                    </div>
                                                </div>
                                                <!--  <p>Invalid Date</p> -->
                                            </div>
                                            
                                        </li>
                                    </ol>
                                    <input type="hidden" value="" id="is-all-fields-filled" readonly/>
                                </div>                 
                    </form>

                    <span class="benefitAddBtn" id="add">
                        <span class="plus">+</span>Add beneficiary
                        <span class="max10">(max 10)</span>
                </div>              
                <div class="x-medium-button col-xs-12 col-md-12">
                    <button id="rewardSingleSelected" data-url="Step3Manual" class="btn btn-default" type="button">Next
                    <img class="spinner-loader" id="spot-show-loader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                    </button>
                </div>

                <div class="orDiv col-xs-12 col-md-12">or
                    <span class="emptyLine"></span>
                </div>
                <div id="rewardBulkUpload" class="col-xs-12 col-md-12">
                    <a href="javascript:void(0)">Upload in bulk</a>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3 ">
            <div class="rewardPrvwTxt">Preview</div>
            <div class="rewardBlankState">
                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/blank-state.svg" />
            </div>
            <div class="rewardMobileDemo" style="display:none">
                <button type="button" class="btn btn-collapse " >Card Design
                    <!-- <span id="rewardPlus1" class="rewardPlusMinus">-</span> -->
                </button>
                <div id="demo3" class="collapse collapseData in">
                    <img class="rewardPImageMain" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardPhoneAsset.svg" />
                    <img class="rewardPImg" src="" />
                    <span class="rewardPtitle commonTxtsty">Work Anniversary</span>
                    <span class="rewardPmoney commonTxtsty">₹1234</span>
                </div>
            </div>
            <div class="rewardEmailDemo" style="display:none">
                <button type="button" class="btn btn-collapse " >Email Design
                    <!-- <span id="rewardPlus1" class="rewardPlusMinus">-</span> -->
                </button>
                <div id="demo4" class="collapse collapseData  in">
                    <img class="rewardPEImgbg" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardEmailAsset.svg" />
                    <img class="rewardPEImg" src="" />
                    <span class="rewardPEtitle"></span>
                    <div class="preEmailMessage">
                        <!-- <span class="emailQuotes">"</span> -->
                        <div class="preEmailInnerMessage">
                            <span class="rewardPEmessage">Congratulations for completing 3 years with ACME! Thank you for your dedication & contributions
                                along the journey. We wish you continued success with ACME family! In appreciation of your
                                dedicated service, here is a token of recognition.</span>
                            <br>
                            <span class="rewardPEcompany"> -
                                <%- corp.name %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <div class="row" id="addBenefitsBulk" style="margin-left:15px;display:none;">
        <div class="col-xs-9 col-md-9 custom-box">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="row sguploadFile">
                        <!-- Upload File -->
                        <div class="col-xs-9 col-md-9">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="page-sub-heading-txt bulk-upload-hdg-wrpr clearfix">
                                        <h3>Add Beneficiaries</h3>
                                    </div>
                                    <div class="pageSubTxt" >Upload a file with beneficiary list & details in an XLS, XLSX or CSV format.</div>
                                </div>
                            </div>
                            <!-- File Upload -->
                            <input type="hidden" id="uploadDetails" value='<%- fileUploadDetails %>' name="uploadDetails">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 file-main-container">
                                    <form action="<%- fileUploadUrl %>" id='dragDrop' class="dropzone bulk-upload-cnt-wrpr">
                                        <div class="file-upload-container page-sub-heading dz-message">
                                            <div class="dotted-line">
                                                <div class="display-table file-upload-height">
                                                    <div class="table-row">
                                                        <div class="table-column">
                                                            <img width="85" height="44" id="image_upload_preview" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/files-icon.png"
                                                                alt="your image" />
                                                        </div>
                                                    </div>
                                                    <div class="table-row">
                                                        <div class="table-column">
                                                            <span class="file-upload-heading">Drag & Drop</span>
                                                        </div>
                                                    </div>
                                                    <div class="table-row">
                                                        <div class="table-column">
                                                            <span class="or-font">OR</span>
                                                        </div>
                                                    </div>
                                                    <div class="table-row">
                                                        <div class="table-column">
                                                            <form id="form1" runat="server">
                                                                <div class="browse-wrap btn-disabled">
                                                                    <div class="text-center">
                                                                        <div class="upload-button">
                                                                            <strong>+</strong> Upload File
                                                                        </div>
                                                                    </div>

                                                                    <div class="fallback">
                                                                        <input class="upload" name="file" type="file" />
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div id="preview-template" style="display: none">
                                            <div class="dz-preview dz-file-preview">
                                                <div class="dotted-line">
                                                    <div class="dz-details">
                                                        <img class="fileType" src="" alt="xls">
                                                        <div class="dz-filename">
                                                            <span data-dz-name>payout.csv</span>
                                                        </div>
                                                        <div class="dz-progress">
                                                            <span class="dz-upload" data-dz-uploadprogress></span>
                                                        </div>
                                                        <div class="dz-error-message">
                                                            <span data-dz-errormessage>Error uploading file</span>
                                                        </div>
                                                        <!--<a class="removelink" href="javascript:void(0);">Change-->
                                                        <!--File</a>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="info-brand-uploads">
                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/c-info.svg" alt=""/>
                                        <span style="font-size: 11px;">Providing correct email and/or phone number of the beneficiary is corporate's responsibility</span>
                                    </div>
                                </div>
                            </div>
                            <!-- File Upload End -->

                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="x-medium-button pd-top-ten pd-bottom-ten" style="padding:0px">
                                        <button class="btn btn-default btn-disabled" data-url="Step3Bulk" disabled type="button" name="" value="" id="create-order">NEXT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-md-3">
                            <!-- Right Panel -->
                            <div class="panel-container">


                                <div class="header-preview pd-top-twenty pd-bottom-ten" style="padding-top: 25px;">
                                    <b>Sample Preview</b>
                                </div>
                                <div class="preview-image-container">
                                    <a href="#" data-featherlight="../../../../images/previews/gift-preview.png">
                                        <img id='previewImage' class="thumbnail img-responsive view-image" src="../../../../images/previews/gift-preview.png" alt="Zeta Preview"
                                            id="#mylightbox" />
                                    </a>
                                    <div class="image-preview">
                                        <img data-toggle="modal" data-featherlight="../../../../images/previews/gift-preview.png" class="search-image" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                                            alt="zeta search" />
                                    </div>
                                </div>
                                <div class="header-preview pd-top-twenty pd-bottom-ten">
                                    <b>Download samples</b>
                                </div>
                                <div class="download-img-list">
                                    <a id='csvFile' href="/../../download-samples/spotlight-card-based-sample.csv">
                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png" alt="Zeta icon" />
                                    </a>
                                    <a id='xlsFile' href="/../../download-samples/spotlight-card-based-sample.xls">
                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png" alt="Zeta icon" />
                                    </a>
                                    <a id='xlsxFile' href="/../../download-samples/spotlight-card-based-sample.xlsx">
                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png" alt="Zeta icon" />
                                    </a>
                                </div>

                                <!-- Right Panel End -->
                            </div>
                        </div>
                    </div>
                    <div class="orDiv">or
                        <span class="emptyLine"></span>
                    </div>
                    <div id="rewardManually">
                        <a href="javascript:void(0)">Enter manually </a>
                        <span class="max10">(max 10)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3 ">
            <div class="rewardPrvwTxt">Preview</div>
            <div class="rewardBlankState">
                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/blank-state.svg" />
            </div>
            <div class="rewardMobileDemo" style="display:none">
                <button type="button" class="btn btn-collapse " >Card Design
                    <!-- <span id="rewardPlus1" class="rewardPlusMinus">-</span> -->
                </button>
                <div id="demo8" class="collapse collapseData in">
                    <img class="rewardPImageMain" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardPhoneAsset.svg" />
                    <img class="rewardPImg" src="" />
                    <span class="rewardPtitle commonTxtsty">Work Anniversary</span>
                    <span class="rewardPmoney commonTxtsty">₹1234</span>
                </div>
            </div>
            <div class="rewardEmailDemo" style="display:none">
                <button type="button" class="btn btn-collapse " >Email Design
                    <!-- <span id="rewardPlus1" class="rewardPlusMinus">-</span> -->
                </button>
                <div id="demo9" class="collapse collapseData in">
                    <img class="rewardPEImgbg" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardEmailAsset.svg" /> 
                    <img class="rewardPEImg" src="" />
                    <span class="rewardPEtitle"></span>
                    <div class="preEmailMessage">
                        <!-- <span class="emailQuotes">"</span> -->
                        <div class="preEmailInnerMessage">
                            <span class="rewardPEmessage">Congratulations for completing 3 years with ACME! Thank you for your dedication & contributions
                                along the journey. We wish you continued success with ACME family! In appreciation of your
                                dedicated service, here is a token of recognition.</span>
                            <br>
                            <span class="rewardPEcompany"> -
                                <%- corp.name %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>




    <div class="row" id="createOrder" style="margin-left:15px;display:none">
        <div class="col-xs-3 col-md-3 custom-box cutomBoxGrey">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="orderSummaryTxt">Order Summary</div>
                    <div class="orderSummarySTxt">No. of Beneficiaries</div>
                    <div class="orderSummarySVal"></div>
                    <div class="orderSummarySTxt">Order Total</div>
                    <div class="orderSummarySVal">₹</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 custom-box">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="paymntTxt">Payment Information</div>

                    <div class="form-group mg-bottom-zero">
                        <label for="recipient-name" class="control-label ">Funding account
                            <span class="tooltip" style="opacity:1">
                                <img class="subtitle sidebar-option-txt" style="width:12px;cursor:pointer;opacity:1" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-icon.svg"
                                    alt="" />
                                <span class="tooltiptext tooltiptext-benefits" style="opacity:1">A Funding A/c is similar to your Bank’s current account. They can fund one or more programs
                                    across all your companies. You can use them to transfer funds to your beneficiaries.</span>
                            </span>
                        </label>
                        <input type="hidden" id="newFundDetails" data-fund='<%- JSON.stringify(fundingAccountDetails) %>' />
                        <div class="form-group select-custom" align="left" style="width: 185px;">
                            <select id='fundingAccountID' class="form-control width-xs input-lg">
                                <option value='0'>Select</option>
                                <% for(var currIndex=0; currIndex< fundingAccountDetails.fundingAccounts.length; currIndex++) {%>
                                    <option value='<%- fundingAccountDetails.fundingAccounts[currIndex].accountID %>' data-name="<%- fundingAccountDetails.fundingAccounts[currIndex].name %>"
                                        data-balance="<%- fundingAccountDetails.fundingAccounts[currIndex].balance / 100 %>">
                                        <%- fundingAccountDetails.fundingAccounts[currIndex].name %> - ₹<%- fundingAccountDetails.fundingAccounts[currIndex].balance / 100 %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <div class="fundCurrntBalance">
                            Current Balance -<b>₹</b><b><span id="balanceFund"></span></b>
                            <span class="insuffFund" style="display:none;">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/alert-orange.svg" /> Insufficient Funds</span>
                        </div>
                    </div>
                    <div class="x-medium-button placeOrderEnd">
                        <button id="orderCompleted" class="btn " type="button">Place Your Order 
                        <img class="spinner-loader" id="order-show-loader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg"></button>
                    </div>
                    <div class="x-medium-button placeOrderEndAddFund" style="display:none;">
                        <button id="orderCompletedNew" class="btn " type="button">Place order & Add funds later
                        <img class="spinner-loader" id="order-show-loader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg"></button>
                        </button>
                    </div>
                    <div class="insuffFundText" style="display:none;">When your order is placed, a proforma invoice will be generated and you can add funds to your funding
                        account later. Once we receive the funds, gifts will automatically be sent to your beneficiaries
                        and we’ll notify you via e-mail.</div>

                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3 ">
            <div class="rewardPrvwTxt">Preview</div>
            <div class="rewardBlankState">
                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/blank-state.svg" />
            </div>
            <div class="rewardMobileDemo" style="display:none">
                <button type="button" class="btn btn-collapse" >Card Design
                    <!-- <span class="rewardPlusMinus">-</span> -->
                </button>
                <div id="demo12" class="collapse collapseData in">
                    <img class="rewardPImageMain" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardPhoneAsset.svg" />
                    <img class="rewardPImg" src="" />
                    <span class="rewardPtitle commonTxtsty">Work Anniversary</span>
                    <span class="rewardPmoney commonTxtsty">₹1234</span>
                </div>
            </div>
            <div class="rewardEmailDemo" style="display:none">
                <button type="button" class="btn btn-collapse" >Email Design
                    <!-- <span id="rewardPlus1" class="rewardPlusMinus">-</span> -->
                </button>
                <div id="demo11" class="collapse collapseData in">
                    <img class="rewardPEImgbg" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardEmailAsset.svg" />
                    <img class="rewardPEImg" src="" />
                    <span class="rewardPEtitle"></span>
                    <div class="preEmailMessage">
                        <!-- <span class="emailQuotes">"</span> -->
                        <div class="preEmailInnerMessage">
                            <span class="rewardPEmessage">Congratulations for completing 3 years with ACME! Thank you for your dedication & contributions
                                along the journey. We wish you continued success with ACME family! In appreciation of your
                                dedicated service, here is a token of recognition.</span>
                            <br>
                            <span class="rewardPEcompany"> -
                                <%- corp.name %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>







</div>