<% include ../../../common/html-head %>

    <body>
        <input type="hidden" id="productType" value="Reward">
        <input type="hidden" id="programID" value=""> 
        <div class="wrapper">
            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container reward_container">
                                <% include ../../../section/spotlight/reward/banner %>
                                    <div class="col-xs-12 col-md-12 program">
                                        <div class="tabs-nav-container tabbable-panel">
                                            <div class="tabbable-line">
                                                <ul class="nav nav-tabs ">
                                                    <li class="active">
                                                        <a href="#tab_default_1" id="sendGift" data-toggle="tab" onclick="return false;">
                                        Send Gift
                                    </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_default_2" id="orderHistory" data-toggle="tab" onclick="return false;">
                                        Order History
                                    </a>
                                                    </li> 
                                                    <li>
                                                        <a href="#tab_default_3" id="beneficiaries" data-toggle="tab" onclick="return false;">
                                        Beneficiaries
                                    </a>
                                                    </li> 
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sub-container">
                                        <div class="row">
                                            <div class="tab-content">

                                                <% include giftOrder %>

                                                  <% include tab-content/transfer-orders %>

                                                 <% include tab-content/transfer-benefitforders %> 

                                            </div>
                                        </div>
                                        <!-- last login  -->
                                        <% include ../../../common/time-footer %>
                                    </div>
                            </div>

                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

<!-- create custom start-->
<div class="modal fade" id="newTemplateCreate" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            
            <div class="modal-content">
                <div class="modal-header mg-top-five">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modalHeadTxt">Create your own custom design</div>
                <div class="custom-modal-body">
                        <div class="row">
                        <div class="col-xs-12 col-md-12 ">
                        <div class="modalPhoneDeign">
                                <button type="button" id="previewBtn1" class="btn btn-collapse openCollapse" data-toggle="collapse" data-target="#demoX">
                                    <span class="circleNumber" id="circleNumber">1</span><span class="circleTick" style="display:none;"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/tick-mark.svg" /></span>Card Design <span class="editGear" style="display:none;"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/setting-gear.svg"/>EDIT</span>
                                </button>
                                <div id="demoX" class="collapse collapseData in">
                                  <div class="row">
                                      <div class="col-md-7 col-xs-7">
                                          <div class="modalCardTitle">Enter card title</div>
                                          <div class="modalCardInput"><input type="text" id="cutomCardName" maxlength="25" class="modalinputBox" placeholder="Custom Design"/></div>
                                          <div class="modalCardTitle">Choose card design</div>
                                          <div class="modalCards">
                                              <ul>
                                                    <% for(var i=0;i<templateType.length; i++) { %>
                                                            <li class="templateChoose" data-id="<%- templateType[i].cardProgramTemplateID %>" data-bg="<%- templateType[i].cardDesignUrl%>" >
                                                                <img class="chooseTick" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/tick-mark.svg"/>
                                                                <div><img src="<%- templateType[i].cardDesignUrl%>" /></div>
                                                            </li>
                                                            <% } %>
                                              </ul>
                                          </div>
                                          <div class="x-medium-button">
                                                <button id="openEmail" class="btn btn-default btn-disabled" disabled type="button">Next</button>
                                        </div>
                                      </div>
                                      <div class="col-md-5 col-xs-5">
                                          <div class="prvwTxt">Preview</div>
                                          <div class="prewImgContainer">
                                              <img class="imageonPhone" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardPhoneAssetBig.svg" />
                                              <img class="imageonPhoneCard" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardEmptyCrad.svg" />
                                              <span class="textonPhone" id="cutomCardNameShowX">Custom Design</span>
                                              <span class="moneyonPhone">₹1234</span>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                            
                            
                        </div>
                        <div class="modalPhoneDeign modalEmailDesign">
                                <button type="button" id="previewBtn2" class="btn btn-collapse " data-toggle="collapse" data-target="#demoY"><span class="circleNumber">2</span>Email Design </button>
                                <div id="demoY" class="collapse collapseData">
                                  <div class="row">
                                      <div class="col-md-7 col-xs-7">
                                          <div class="modalCardTitle">Message Title</div>
                                          <div class="modalCardInput"><input id="cutomCardTitle" maxlength="50" type="text" class="modalinputBox" /></div>
                                          <div class="modalCardTitle">Message Body</div>
                                          <div class="modalCardInput"><textarea id="cutomCardMessage" maxlength="500" class="emailTextarea" ></textarea></div>
                                          <!-- <div class="emailProTip">Protip: use # key to insert custom text like Name &amp; Gift-value</div> -->
                                          <div class="x-medium-button">
                                                <button id="createCustomCard" class="btn btn-default btn-disabled" disabled type="button">Create Design <img class="spinner-loader" style="display:none" id="custom-design-loader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg"></button>
                                        </div>
                                      </div>
                                      <div class="col-md-5 col-xs-5">
                                          <div class="prvwTxt">Preview</div>
                                          <div class="prewImgContainer">
                                              <img class="imageonPhone" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardEmailAsset.svg" />
                                              <img class="imageonPhoneCard" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewardEmptyCrad.svg" />
                                              <span class="textonPhone" id="cutomCardNameShow">Untitled Gift Card</span>
                                              <span class="moneyonPhone">₹1234</span>
                                              <span class="emailGreeting" id="cutomCardTitleShow">Congratulations &lt;Beneficiary Name&gt;</span>
                                          </div>
                                          <div class="emailMainDv">
                                                <!-- <span class="emailQuotes">"</span> -->
                                              <div class="emailSubDv">
                                                  <div class="greetingEmail" id="cutomCardMessageShow">
                                                  Congratulations for completing 3 years with ACME! Thank you for your dedication & contributions along the journey. We wish you continued success with ACME family!
                                                    In appreciation of your dedicated service, here is a token of recognition.</div>
                                                    <div class="greetingCompany"> - <%- corp.name %></div>

                                                </div>        
                                                    <!-- <div class="actvUrCard">activate your card</div> -->
                                                    <!-- <div class="orDv">Or</div> -->
                                                    <!-- <div class="downloadTxt">Download the Zeta app to start using your gift card</div> -->
                                          </div>
                                      </div>
                                  </div>
                                </div>
                            
                            
                            </div>
                        </div>
                    </div>                                                  
                </div>
            </div>
        </div>
    </div>            
    <!-- create custom end-->

    <!-- Modal Loader success order  -->
    <div class="modal fade" id="createOrderModalShow" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                          </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="page-sub-heading-txt program-code-list-wrpr text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg" alt="">
                                <h3>Order created successfully</h3>
                                    <!-- <p class="createhideIt errorTextSG"><img src="../../../../images/spotlight/alert-redicon.svg" alt="">You don’t have enough funds to fulfil this order</p> -->
                                <div class='bulk-order-dtls-wrpr'>
                                    <div class='bulk-order-dtls-hdg'>Summary</div>
                                    <ul>
                                        <li class="clearfix">
                                            <div class='bulk-order-lbl'>Order ID</div>
                                            <div class='bulk-order-val' id='createOrderId'></div>
                                        </li>
                                        <!-- <li class="clearfix">
                                            <div class='bulk-order-lbl'>Scheduled transfer date</div>
                                            <div class='bulk-order-val' id='createScheduleDate'></div>
                                        </li>
                                        <li class="clearfix createhideIt">
                                            <div class='bulk-order-lbl'>Funding account</div>
                                            <div class='bulk-order-val' id='createFundName'></div>
                                        </li> 
                                        <li class="clearfix">
                                            <div class='bulk-order-lbl'>Total order amount</div>
                                            <div class='bulk-order-val'><b class="ruppee">₹</b><span id='createTotalOrderAmt'></span></div>
                                        </li>
                                        <li class="clearfix createhideIt">
                                            <div class='bulk-order-lbl'>Balance in funding account</div>
                                            <div class='bulk-order-val'><b class="ruppee">₹</b><span id='createFundBalance'></span></div>
                                        </li>
                                        <li class="clearfix createhideIt">
                                            <div class='bulk-order-lbl'>Amount to be added</div>
                                            <div class='bulk-order-val'><b class="ruppee">₹</b><span id='createFundTobAdded'></span></div>
                                        </li> -->
                                        <li class="clearfix ">
                                            <div class='bulk-order-lbl'>Status</div>
                                            <div class='bulk-order-val'><span id='createStatus'><b>Processing</b></span></div>
                                        </li>
                                        
                                    </ul>
                                </div>
                               
                                <div class="x-medium-button create-bulk-transfer-order">
                                    <a href="/companies/<%- companyID %>/spotlight/reward#orderHistory">
                                        <button class="btn btn-default done-redirect" style="width:100%;" type="button">Done </button>
                                    </a>
                                </div>
                               
                                <!-- <div class="x-medium-button create-bulk-transfer-order createhideIt">
                                        <button id='createOrderDone' data-fundingaccountids="" class="btn btn-default addFundsSG" type="button">Add Funds Now</button>
                                </div> -->
                                <!-- <a class="skipAddLater createhideIt" href="/companies/<%- companyID %>/spotlight/reward">Skip & add later</a> -->
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader success order End  -->

             <!-- Field Error Modal Oops Transfer  -->
<div class="modal fade" id="error-required-oops" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding-top:10px">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" /></div>
                         <h4 class="text-center pd-bottom-zero">All the input fields are required.</h4>                       
                    </div>
                    <div class="modal-footer">
                        <div class="x-medium-button create-bulk-transfer-order ">                           
                            <button class="btn btn-default" data-dismiss="modal" aria-label="Close" style="width:100%;" type="button">TRY AGAIN</button>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Field Error Modal Oops Transfer End  -->


<!-- Modal Loader success order  -->
<div class="modal fade" id="createOrderModalShowCustom" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                      </button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="page-sub-heading-txt program-code-list-wrpr text-center">
                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg" alt="">
                            <h3>New design created successfully</h3>
                           
                            <div class="x-medium-button create-bulk-transfer-order ">
                                <a href="/companies/<%- companyID %>/spotlight/reward">
                                <button class="btn btn-default" style="width:100%;" type="button">Done</button>
                                </a>
                            </div>
                           
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Loader success order End  -->


        <!-- Error Modal Oops Transfer  -->
        <div class="modal fade" id="createOrderModalSGOops" tabindex="-1" role="dialog">
                <div class="modal-dialog custom-modalbox" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="custom-modal-body">
                            <div class="modal-body">
                                <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" /></div>
                                 <h4 class="text-center pd-bottom-zero">Error while processing the request.</h4> 
                                <div class="modal-heading-pdtb" align="center">
                                    <!-- <div class="heading-sub-text" id"errorText">Error while processing the request.</div> -->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="x-medium-button create-bulk-transfer-order ">
                                    <a href="/companies/<%- companyID %>/spotlight/reward">
                                    <button class="btn btn-default" style="width:100%;" type="button">Done</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Error Modal Oops Transfer End  -->

            <div class="modal fade" id="card-selection-loader" tabindex="-1" role="dialog">
                <div class="modal-dialog custom-modalbox" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                        </div>
                        <div class="custom-modal-body">
                            <div class="modal-body">
                                <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                                <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        <% include ../../../common/html-script %>
            <!-- <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDMv5vpzW8hy8bH54-Mih6Xflgy587xCAI' defer></script> -->
            <!-- <script type='text/javascript' async src='/lib/visualize.js'></script> -->
             <script src="/dist/scripts/rewardHome.js"></script> 
            <script>
            (function(){
                let currentUrl = window.location.href;
                if (currentUrl.indexOf('#') !== -1) {
                    var selectedId = currentUrl.substr(currentUrl.lastIndexOf('#'), currentUrl.length);
                }
               

                $("document").ready(function() {
                    $(selectedId).trigger('click');
                    $('.tabContainer').css('display', 'block');
                });

                $(document).ready(function() {
                    $('[data-toggle="tooltip"]').tooltip();
                });

                $('.nav.nav-tabs > li > a').click(function(e){
                    var data = $(this).attr("id");
                    if(history.pushState) {
                        history.pushState(null, null, '#'+data);
                    }
                    else {
                        window.location.hash = '#'+data;
                    }
                    e.preventDefault();
                    $(this).tab('show');
                });
                
            }());
            </script>

    </body>

    </html>