<!-- Banner Start -->
<div class="top-section physical-banner">
    <div>
        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-xs-9 col-md-9">
                <ul class="breadcrumb pd-tb-zero">
                    <li><a href="/companies/<%- companyID %>/spotlight"><% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %>Zeta Spotlight <%} %> </a></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <!-- Popover End -->
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="page-heading spBtnDv">
                    <h1 class="pd-top-five">Physical Gift Cards</h1>
                </div>
            </div>
            <div class="col-xs-6 col-md-6" id="orderButton" style="text-align:  right;padding-right: 0px;">
            <div class="small-button btn-group" id="showOrderCards" style="display:none">
                                <a id="changesCard" href="/companies/<%- companyID %>/spotlight/physical/ordercard" class="activeLink">
                                    <button type="button" data-label="Physical gift cards" class="btn btn-secondary text-uppercase btn-more ">
                                           + ORDER CARDS
                                    </button>
                                </a>
                        </div>

              <div class="small-button btn-group"  id="showIssueGifts" style="display:none">
                        <a id="changesCard" href="/companies/<%- companyID %>/spotlight/physical/issuegift" class="activeLink">
                            <button type="button"  data-label="Physical gift cards" class="btn btn-secondary text-uppercase btn-more ">
                                   + ISSUE GIFTS
                            </button>
                        </a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Banner End -->