<% include ../../../common/html-head %>

    <body>
        <input type="hidden" id="productType" value="physical">
        <input type="hidden" id="programID" value=""> 
        <input type="hidden" id="SpotlightIFIName" value='<%- ifiBankName %>'> 
        <div class="wrapper">        
<!-- Field Error Modal Oops Transfer End  -->

    <div class="modal fade" id="show-model-loader" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end -->

            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container reward_container">
                                <% include ../../../section/spotlight/physical/banner %>
                                    <div class="col-xs-12 col-md-12 program">
                                        <div class="tabs-nav-container tabbable-panel">
                                            <div class="tabbable-line">
                                                <ul class="nav nav-tabs ">
                                                    <li>
                                                        <a href="#tab_default_1" id="overview" data-toggle="tab" data-reload="true" onclick="return false;">
                                                            Overview
                                    </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_default_2" id="cardOrderHistory"  data-reload="true" data-toggle="tab" onclick="return false;">
                                                            Card Order History
                                    </a>
                                                    </li> 
                                                    <li>
                                                        <a href="#tab_default_3" id="issueOrderHistory"  data-reload="true" data-toggle="tab" onclick="return false;">
                                                            Issuance Order History
                                    </a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sub-container" style="display:none">
                                        <div class="row">
                                            <div class="tab-content">

                                                <% include overview %>

                                                <% include tab-content/transfer-orders %> 

                                                <% include tab-content/transfer-orders-issue %> 


                                            </div>
                                        </div>
                                        <!-- last login  -->
                                        <% include ../../../common/time-footer %>
                                    </div>
                            </div>

                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

<!-- Modal details cheque transfer -->
<div class="modal fade" id="fundChequeTransferx" tabindex="-1" role="dialog">
<div class="modal-dialog modal-sz-550 custom-modalbox " role="document">
    <div class="modal-content">
        <div class="modal-header">
                <a href="/companies/<%- companyID %>/spotlight/virtual">
                    <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </a>
            <h4 id="acc_name" class="text-center">Add Funds to <strong></strong></h4>
        </div>
        <div class="custom-modal-body">
            <div class="modal-body no-border pad-top-10 modal-inner-container">
                <div class="row">
                    
                    <div class="col-xs-12 col-md-12 pd-left-zero ">
                        <h6 class="mg-top-zero"><span class="list-number-circle">1</span> <b id='addFundDetailsHdg'>Drop a cheque/transfer to Zeta’s Bank Account</b></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 pd-right-zero funding-account-block ">
                        <div id='acNameModalWrpr' class="row">
                            <div class="col-xs-4 col-md-3">
                                <div class="account-details">
                                    <p>A/c Name:</p>
                                </div>
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="account-discription">
                                    <p id="ifiAccName">
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row pad-top-8">
                            <div class="col-xs-4 col-md-3">
                                <div class="account-details">
                                    <p>A/c No:</p>
                                </div>
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="account-discription">
                                    <p id='ifiAccNo'></p>
                                </div>
                            </div>
                        </div>
                        <div class="row pad-top-8">
                            <div class="col-xs-4 col-md-3">
                                <div class="account-details">
                                    <p>Bank Name:</p>
                                </div>
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="account-discription">
                                    <p id='ifiBankName'>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row pad-top-8">
                            <div class="col-xs-4 col-md-3">
                                <div class="account-details">
                                    <p>Branch:</p>
                                </div>
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="account-discription">
                                    <p id='ifiBankBranch'>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row pad-top-8">
                            <div class="col-xs-4 col-md-3">
                                <div class="account-details">
                                    <p>IFSC Code:</p>
                                </div>
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="account-discription">
                                    <p id='ifiIfscCode'>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row pad-top-20" id='addFundsBtnWrpr'>
                    <div class="col-xs-12 col-md-12 pd-left-zero ">
                        <h6 class="mg-top-zero pd-bottom-ten"><span class="list-number-circle">2</span> <b>After
                        making the payment</b></h6>
                        <div class="pd-left-forty">
                            <p class="pad-top-4">Let us know the details of your cheque/transfer, by raising a fund addition request:</p>
                        </div>
                        <div class="flexible-button pd-left-forty pad-top-20">
                            <button class="btn btn-default" type="button" name="" value="" id="routeToAddFund">Raise a fund addition request
                    </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
</div>
<!-- Modal details cheque transfer End -->




        <% include ../../../common/html-script %>
        <script src="/dist/scripts/physicalHome.js"></script>
        <script src="/dist/scripts/downloadPdfInvoice.js"></script>
            <script>
            (function(){                              
                $('.sub-container').hide();                                    
                let currentUrl = window.location.href;
                if (currentUrl.indexOf('#') !== -1) {
                    var selectedId = currentUrl.substr(currentUrl.lastIndexOf('#'), currentUrl.length);
                }
                               
                if(window.location.hash == '' || window.location.hash == '#overview'){
                    $('#orderButton').hide()
                }

                if(window.location.hash == '#cardOrderHistory'){
                    $('#orderButton').show()                    
                    $('#showOrderCards').show()
                }

                if(window.location.hash == '#issueOrderHistory'){
                    $('#orderButton').show()                
                    $('#showIssueGifts').show()
                }
                

                $(document).ready(function() {
                    $('[data-toggle="tooltip"]').tooltip();
                });

                $('.nav.nav-tabs > li > a').click(function(e){                           
                    var data = $(this).attr("id");
                    var previousActive = localStorage.getItem('currentActive')
                    console.log('previousActive',previousActive)
                    localStorage.setItem('currentActive',data)
                    if(history.pushState) {
                        history.pushState(null, null, '#'+data);
                       
                    }
                    else {                                              
                        window.location.hash = '#'+data;
                    }                    
                    if(previousActive !==  localStorage.getItem('currentActive')){
                         $('.sub-container').hide();   
                            window.location.reload();
                    }
                  
                });
                window.location.hash == "" ? $('#overview').parent().addClass('active') : ''
                $("document").ready(function() {
                         
                    $(selectedId).trigger('click'); 
                    $('.resetFilter').trigger('click')                  
                    $('.tabContainer').css('display', 'block');   
                    if(!window.location.hash){
                        $('#overview').parent().addClass('active'); 
                    }                 
                });

                setTimeout(function(){
                    $('.sub-container').show();   
                },100)                
            }());
            </script>

    </body>

    </html>