<div class="tab-pane active" id="tab_default_1">
    <div class="row physicalConatiner" >
        <div class="col-md-12 col-sm-12 col-lg-12">

            <div class="physicalHead">Issue gift cards in 3 simple steps</div>
            <div class="physicalSubHead">Ordering and distributing gift cards has never been this easy</div>

            <div class="clearfix physicalMainDv">
                <div class="imgDv">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/orderPhysical.png" style="width:  58px;"/>
                </div>
                <div class="txtDv">
                    <div class="txtDvStep">STEP 1</div>
                    <div class="txtDvHead">Order Cards</div>
                    <div class="txtDvSubHead">Get physical gift cards delivered at your door-step</div>
                </div>
                <div class="btnDv">
                        <div class="small-button btn-group">
                                <a id="physicalCardIssueGift" href="/companies/<%- companyID %>/spotlight/physical/ordercard" class="activeLink">
                                    <button type="button" data-label="Physical gift cards" class="btn btn-secondary text-uppercase btn-more ">
                                           + Order Cards
                                    </button>
                                </a>
                        </div>
                </div>
            </div>

            <div class="clearfix physicalMainDv">
                    <div class="imgDv">
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/distributePhysical.png" style="width:  58px;"/>
                    </div>
                    <div class="txtDv">
                        <div class="txtDvStep">STEP 2</div>
                        <div class="txtDvHead">Distribute</div>
                        <div class="txtDvSubHead">Once you receive the gift cards, distribute them to the beneficiaries</div>
                    </div>
                    <!-- <div class="btnDv">
                            <div class="small-button btn-group">
                                    <a id="physicalCardIssueGift" href="/companies/<%- companyID %>/spotlight/physical/issuegift" class="activeLink">
                                        <button type="button" data-label="Physical gift cards" class="btn btn-secondary text-uppercase btn-more ">
                                               + Order Cards
                                        </button>
                                    </a>
                            </div>
                    </div> -->
                </div>

                <div class="clearfix physicalMainDv">
                        <div class="imgDv">
                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/issuePhysical.png" style="width:  58px;"/>
                        </div>
                        <div class="txtDv">
                            <div class="txtDvStep">STEP 3</div>
                            <div class="txtDvHead">Issue Gifts</div>
                            <div class="txtDvSubHead">Issue gift amount to the beneficiaries on their email and mobile number. The beneficiary will receive an activation link on their email and sms using which they can activate their gift card.</div>
                        </div>
                        <div class="btnDv">
                                <div class="small-button btn-group">
                                        <a id="physicalCardIssueGift" href="/companies/<%- companyID %>/spotlight/physical/issuegift" class="activeLink">
                                            <button type="button" data-label="Physical gift cards" class="btn btn-secondary text-uppercase btn-more ">
                                                   + Issue Gifts
                                            </button>
                                        </a>
                                </div>
                        </div>
                    </div>

        </div>
    </div>    
    
</div>