<div class="chart-section clearfix">
    <div class="status-details">
        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/scheduled.svg" alt="Scheduled icon">
        <div class="amount">
            <span class="amount-val numbers-font">
            <% if(currency == 'INR') { %>
                <b class="ruppee">₹</b>
            <% } else { %>
                <b class="ruppee">ⓩ</b>
            <% } %> <%- scheduled %></span>
            <span class="status-type">Scheduled</span>
        </div>
    </div>
    <div class="status-details">
        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/unclaimed.svg" alt="Unclaimed icon">
        <div class="amount">
            <span class="amount-val numbers-font">
                <% if(currency == 'INR') { %>
                    <b class="ruppee">₹</b>
                <% } else { %>
                    <b class="ruppee">ⓩ</b>
                <% } %> <%- waiting %></span>
            <span class="status-type">Waiting for Beneficiary</span>
        </div>
    </div>
    <div class="status-details">
        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/claimed.svg" alt="Claimed icon">
        <div class="amount">
            <span class="amount-val numbers-font">
            <% if(currency == 'INR') { %>
                <b class="ruppee">₹</b>
            <% } else { %>
                <b class="ruppee">ⓩ</b>
            <% } %> <%- successful %></span>
            <span class="status-type">Successful</span>
        </div>
    </div>
    <div class="status-details">
        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/failed.svg" alt="Revoked icon">
        <div class="amount">
            <span class="amount-val numbers-font">
            <% if(currency == 'INR') { %>
                <b class="ruppee">₹</b>
            <% } else { %>
                <b class="ruppee">ⓩ</b>
            <% } %> <%- revoked %>
            </span>
            <span class="status-type">Revoked</span>
        </div>
    </div>
    <!-- <div class="status-details">
        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/failed.svg" alt="Failed icon">
        <div class="amount">
            <span class="amount-val">₹1,24,36,000</span>
            <span class="status-type">Transferred</span>
        </div>
    </div> -->
</div>
