<tr>
    <td class="profile-image"><img src="<%-profilePicURL%>" alt="Zeta Profile">
        <div class="profile-details profile-details-benefits">
            <a class="text-capitalize" href="<%- profileUrl %>"><strong><%- name%></strong></a>
            <% if(phoneNumber !== '-1') { %>
            <span class="tel" title="<%- phoneNumber %>"><%- phoneNumber %></span>
            <% } %>
            <div class="emailIds">
                <% if(email.first !== 'N/A') { %>
                <span class="email text-lowercase" title="<%- email.first %>"><%- email.first %></span>
                <% } %>
                <% if(email.plusCount > 0) { %>
                <a href="" class="tooltip-title"><span class="plusCountToolTip"><%- email.plusCount %></span>
                    <span class="tooltip-view">
                        <!-- Tooltip Content  -->
                          <div class="tooltip-lrtb-pd">
                              <div class="row">
                                  <div class="col-xs-12 col-md-12"><%- email.otherEmails %></div>
                              </div>
                          </div>
                <!-- Tooltip Content End -->
                    </span>
                </a>
                <% } %>
            </div>
        </div>
    </td>
    <td class="profile-details-transfer roboto-font text-right"><%- eligibility %></td>
    <td class="profile-details-transfer roboto-font text-right"><%- reimbursed %></td>
    <td class="profile-details-transfer roboto-font text-right"><%- totalPaidOutAmount %></td>
    <td class="profile-details-transfer roboto-font text-right"><%- remainingEligibility %></td>
</tr>
