<tr data-name="<%- beneficiaryName %>" data-amount="<%- amount %>" data-claim-id="<%- claimID %>">
    <td width="10%" class='expense-date'><div><%- dateObj.date %></div><span class="time"><%- dateObj.time %></span></td>
    <td class="numbers-font">
        <div class="profile-details profile-details-benefits">
            <a class="text-capitalize" href="javascript:void(0)"><strong><%- beneficiaryName %></strong></a>
            <% if(beneficiaryPhoneNumber) { %>
            <span class="tel" title="<%- beneficiaryPhoneNumber %>"><%- beneficiaryPhoneNumber %></span>
            <% } %>
            <% if(beneficiaryEmailId.length) { %>
            <div class="emailIds">
                <% for (var i = 0; i < beneficiaryEmailId.length; i++) { %>
                    <% if(beneficiaryEmailId[i].length > 0) { %>
                        <span class="email text-lowercase" title="<%- beneficiaryEmailId[i] %>"><%- beneficiaryEmailId[i] %></span>
                        <br>
                     <% } %>
                 <% } %>
            </div>
            <% } %>
        </div>
    </td>
    <td class="numbers-font  text-capitalize"><%- category || '-' %></td>
    <td class="numbers-font  text-capitalize"><%- claimFor || '-' %></td>
    <td class="numbers-font text-right"><%- amount || '-' %></td>
    <td class="payout-status">
        <span class='<%-status%> text-capitalize'><%- status || '-' %></span>
    </td>
    <% if(status === 'pending') { %>
    <td class="position-dropdown approve-claim" width="17%">
        <!-- Popover -->
        <div class="dropdown-arrow-wrap clearfix" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
            <span class="btn btn-approve claimViewDetailsBtn" aria-hidden="true">Approve</span>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="down-arrow"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/expense/down-arrow.svg"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                        <li><a href="javascript:void(0)" class='claimDeclineBtn'>Decline claim</a></li>
                        <li><a target="_blank" href="/document-drive/<%- claimID %>">View Details</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Popover End -->
    </td>
    <% } else { %>
    <td width="17%">
        <a target="_blank" href="/document-drive/<%- claimID %>" class='text-uppercase view-details'>View Details</a>
    </td>
    <% } %>
</tr>