<div class="multiple-dropdown <%- (isMultiple)? '':'multiple-dropdown__single' %>">
    <a class="dropdown--picker" href="javascript:void(0)">
        <p class="dropdown--picker--title"><%-label%></p>
        <h5 class="dropdown--label"></h5>
        <img src="/images/express/dropdown-arrow-down.svg" alt="">
    </a>

    <div class="dropdown--list">
        <% _.forEach(items, function(item, key){ %>
        <label class="dropdown--item">
            <input type="checkbox" data-index="<%-key%>" value="<%-item.value%>" <%-(item.checked == true ? 'checked' :
            '')%>> <span><%-item.label%></span>
        </label>
        <% }) %>
    </div>
</div>
