<table class="custom-table custom-table-rnr">
        <thead>
            <tr>
                <th>Revoke ID</th>
                <th>Email</th>
                <th>Date</th>
                <th>Points</th>
                <th>Amount</th>
                <th>Reason</th>            
                <th>Status</th>                         
            </tr>
        </thead>
        <tbody class="main-content"></tbody>
        <tbody class="loading-content" style="display: none !important;">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>               
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>            
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="table-empty-state" style="display: none">
        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-empty-state.png" alt="">
        <p>No data available</p>
    </div>
    <div class="table-error-state" style="display: none">
        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-error-state.png" alt="">
        <p>Data failed to load.</p>
        <a class="reload-btn" href="javascript:void(0);">Reload</a>
    </div>
    <div align="center" class="row paging-container"></div>
    