<tr class="orders-row numbers-font">
    <td> 
     <%- id %>
    </td>
    <td>
        <%- createdAt %>
    </td>
    <td class="text-capitalize">                   
    <%- referenceName %>
    </td>
    <td>
    <%- numberOfCards %>
    </td>
    <td>  
    <% if(status.toLowerCase() === "completed") { %>
    <span class="instagift_status_completed text-capitalize">
    Approved
    </span>           
    <% } %>     
    <% if(status.toLowerCase() === "failed") { %>
        <span class="instagift_status_stalled text-capitalize">
            <%- status.toLowerCase() %>
        </span>

    <% } %> 
    <% if(status === "INITIALIZED") { %>
        <span class="instagift_status_completed text-capitalize">
        Approved
        </span>

    <% } %>
    <% if(status.toLowerCase() === "processing") { %>
        <span class="instagift_status_completed text-capitalize">
        Approved
        </span>

    <% } %>
    <% if(status.toLowerCase() === "rejected") { %>
        <span class="instagift_status_stalled text-capitalize">
        Declined
        </span>
        <span>            
     <% } %>
    <% if(status.toLowerCase() === "pending") { %>
        <span class="instagift_status_pending text-capitalize" style="color:#f89406">
            <%- status.toLowerCase() %>
        </span>

    <% } %>
    </td>        
</tr>