<tr data-orderid="" class="orders-row numbers-font">
    <td>
        <div class="thumbnail-profile-view">
            <div class="thumbnail-profile-row">
                <div class="thumbnail-profile-icon">
                    <% if(beneficiary.profileImage){ %>
                        <img class="thumbnail-profile-name" src="<%-beneficiary.profileImage%>" width="40"> 
                    <%} else { %>
                    <div class="thumbnail-profile-name" style="background:<%-initialColor1%>">
                                <p>
                                    <%- initial1 %>
                                </p>
                        </div>
                   <%}%>
                </div>
                <div class="thumbnail-profile-details">
                    <h6> <%- beneficiary.name %></h6>
                    <p><%- beneficiary.emailID %></p>
                </div>
            </div>
        </div>

    </td>

    <td style="min-width:124px;">
        <%- beneficiary.buID %>
        <p class="project-text"> Project  ID: <%- beneficiary.teamID %></p>
    </td>

    <td class="text-capitalize">

    <div class="thumbnail-profile-view">
    <div class="thumbnail-profile-row">
        <div class="thumbnail-profile-icon" style="width:30px;">
            <img class="img-shawdow" src="<%- programBadge.iconImage %>" width="30">
        </div>
        <div class="thumbnail-profile-details">
            <strong><%- programBadge.badgeName %></strong>            
        </div>
    </div>
</div>


    </td>

    <td>
        <div class="thumbnail-profile-view">
            <div class="thumbnail-profile-row">
                <div class="thumbnail-profile-icon">                                   
                    <% if(issuer.profileImage){ %>
                        <img class="thumbnail-profile-name" src="<%-issuer.profileImage%>" width="40"> 
                    <%} else { %>
                    <div class="thumbnail-profile-name" style="background:<%-initialColor2%>">
                            <p>
                                <%- initial2 %>
                            </p>
                    </div>
                   <%}%>
                </div>
                <div class="thumbnail-profile-details">
                    <h6> <%= typeof issuer == 'object' ? issuer.name : 'N/A'  %></h6>
                    <p><%= typeof issuer == 'object' ? issuer.emailID : 'N/A'    %></p>
                </div>
            </div>
        </div>
    </td>

   

    <td colspan="2" class="position-dropdown  payout-revoke">
        <!-- Popover -->
        <div class="popover-content">
            <span data-container="body" data-toggle="popover" data-placement="bottom"
                data-content="Edit Program Settings">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
            </span>
        </div>
        <!-- Popover End -->
        <!-- Dropdown -->
        <div class="dropdown-log">
            <!-- <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="" data-toggle="dropdown"><span><img
                                src="/images/vertical_dot_icon.png"></span></a>
                    <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                        <li><a href=''>Details</a></li>
                    </ul>
                </li>
            </ul> -->
        </div>
        <!-- Dropdown End -->
    </td>
</tr>