<span class="detail">Excess claims will be approved by -</span>
<br>
<span class="title">Name:</span>
<span class="detail">
    <%- approverName %>
</span>
<br>
<span class="title">Email:</span>
<span class="detail">
    <%- approverEmailID %>
</span>
<br>
<span class="title">Phone No:</span>
<span class="detail">
    <%- approverPhoneNumber.countryCode + '-' + approverPhoneNumber.nationalNumber %>
</span>
