<div style="border: 1px solid #9c9eb8;">
        <div class="table-empty-state" style="display:block;">
        <img src="/images/cards-empty.png" alt="">
        <p>0 Cards Issused.</p>
        </div>
</div>
        