<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="media-list-container">
            <input type="hidden" id="cardProgramID" value="<%- benefits[i].cardProgram.cardProgramID %>">
            <input type="hidden" id="cardID" value="<%- benefits[i].cardID %>">
            <input type="hidden" id="employeeID" value="<%- employeeID %>">
            <input type="hidden" id="transferId" value="<%- benefits[i].programID %>">
            <input type="hidden" id="userID" value="<%- profile.userID %>">
            <div class="media">
                <div class="media-left">
                    <% if(benefits[i].corpProductType === 'OPTIMA' && displayTag && benefits[i].cardProgram.issuanceConfiguration.lastIssuanceDate && benefits[i].cardProgram.productType !== 'Meal' && benefits[i].cardProgram.productType !== 'Gift') { %>
                        <div class="benefit-card__tag">
                            <span class="benefit-card__tag--pd">Year end closure approaching</span>
                        </div>
                        <% } %>
                            <img src="<%- benefits[i].cardProgram.cardDesign.bg%>" alt="<%- benefits[i].cardProgram.cardName%>">
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-xs-8 col-md-8">
                            <div class="page-heading">
                                <h4 class="media-heading">
                                    <% if(benefits[i].cardProgram.productType && benefits[i].cardProgram.productType == 'Cash') { %>
                                        Cash Incentive
                                    <% } else { %>
                                        <%- benefits[i].cardProgram.cardName || benefits[i].cardProgram.productType %>
                                    <% } %>
                                </h4>
                            </div>
                            <div class="CardsIssued-cntr">
                                <div class="user-list-column">
                                    <ul class="list-unstyled mg-bottom-zero">
                                        <li>
                                            <small>Status:</small>
                                        </li>
                                        <% if( benefits[i].corpProductType === 'EXPENSE' ) { %>
                                            <li>
                                                <small>Product Suite:</small>
                                            </li>
                                        <% } %>
                                        <% if(benefits[i].cardProgram.productType && benefits[i].cardProgram.productType != 'Cash') { %>
                                            <li>
                                                <small>Issued By:</small>
                                            </li>
                                        <% } %>
                                        <% if( benefits[i].corpProductType === 'OPTIMA' ) { %>
                                            <!--<li>
                                                <small>Financial Year:</small>
                                            </li>-->
                                            <% if(benefits[i].cardProgram.issuanceConfiguration && benefits[i].cardProgram.issuanceConfiguration.lastIssuanceDate) { %>
                                                <li>
                                                    <small class="<%- benefits[i].cardProgram.compareDates ? '' : 'orange-darker' %>">Closure Date:</small>
                                                </li>
                                            <% } %>
                                        <% } %>
                                    </ul>
                                </div>
                                <div class="user-discription-column">
                                    <ul class="list-unstyled mg-bottom-zero">
                                        <li>
                                            <% if(benefits[i].cardProgram.compareDates) { %>
                                                <small class="orange-darker">Closed</small>
                                            <% } else if(benefits[i].cardProgram.active) { %>
                                                <small class="medium-green">Active</small>
                                            <% } else { %>
                                                <small>Inactive</small>
                                            <% } %>
                                        </li>
                                        <% if( benefits[i].corpProductType === 'EXPENSE' ) { %>
                                            <li>
                                                <small class="text-capitalize"><%- benefits[i].corpProductType.toLowerCase() %></small>
                                            </li>
                                            <% } %>
                                        <% if(benefits[i].cardProgram.productType && benefits[i].cardProgram.productType != 'Cash') { %>
                                            <li>
                                                <small><%- benefits[i].cardProgram.businessName %></small>
                                            </li>
                                        <% } %>
                                            <% if( benefits[i].corpProductType === 'OPTIMA' ) { %>
                                                <!--<li>
                                                    <small>
                                                        <% if(benefits[i].cardProgram.issuanceConfiguration.extraIssuanceConfig) { %>
                                                            <%- benefits[i].cardProgram.issuanceConfiguration.extraIssuanceConfig["corpben.financialYear"] %>
                                                        <% } else { %>
                                                            2016-17
                                                        <% } %>
                                                    </small>
                                                </li>-->
                                            <% if(benefits[i].cardProgram.issuanceConfiguration && benefits[i].cardProgram.issuanceConfiguration.lastIssuanceDate) { %>
                                                <li>
                                                    <small><%- benefits[i].cardProgram.issuanceConfiguration.lastIssuanceDate %></small>
                                                </li>
                                            <% } %>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <% if( benefits[i].productType.indexOf("gift") === -1 && benefits[i].productType.indexOf("reward") === -1 && benefits[i].productType.indexOf("meal") === -1 && benefits[i].cardProgram.productType != 'CashlessCafeteria') { %>
                            <div class="col-xs-12 col-md-12">
                                <div class="x-medium-button pd-top-ten" align="left">
                                    <!-- <a href="<%- benefits[i].cardProgram.statementURL %>" target="_blank">
                                        <input type="hidden" id="compare-date" data-compare-date="<%- benefits[i].cardProgram.compareDates%>" value="<%- benefits[i].cardProgram.compareDates%>">
                                        <button class="btn btn-default" type="button">DOWNLOAD STATEMENT
                                        </button>
                                    </a> -->
                                    <% if(benefits[i].productType && benefits[i].productType == 'Cash') { %>
                                        <button class="btn btn-default" data-toggle="modal" type="button" data-target="#beneficiaryStatement">DOWNLOAD STATEMENT
                                        </button>
                                    <% } %>
                                </div>
                                <% if( benefits[i].corpProductType === 'EXPENSE' ) { %>
                                    <a href="javascript:void(0)" class="hide-reimbursement pull-right">Hide Details<i class="glyphicon glyphicon-menu-up"></i></a>
                                <% } %>
                            </div>
                            <% } %>
                    </div>
                    <!-- <% if( benefits[i].productType.indexOf("gift") === -1 && benefits[i].productType.indexOf("meal") === -1 ) { %>
                    <div class="page-sub-heading media-footer">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="x-medium-button pd-top-forty" align="left">

                                    <a href="<%- benefits[i].cardProgram.statementURL %>" target="_blank">
                                        <button class="btn btn-default" type="button">DOWNLOAD STATEMENT
                                        </button>
                                    </a>
                                </div>
                                 <% if( benefits[i].corpProductType === 'EXPENSE' ) { %>
                                    <a href="javascript:void(0)" class="hide-reimbursement pull-right">Hide Details<i class="glyphicon glyphicon-menu-up"></i></a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <% } %> -->
                </div>
            </div>
            <% if( benefits[i].corpProductType === 'OPTIMA' ) { %>
                <div class='employee-details-cards-section'>
                    <h2 class="sub-heading-pdb">Transfer Report</h2>

                    <div data-emp-id="<%- employeeID %>" data-program-id="<%- benefits[i].programID %>" class="empReportAmounts">
                    </div>

                    <div class="employee-report-table" data-programid="<%- benefits[i].programID%>">
                        <% include ../../tables/employee-transfer-report %>
                    </div>
                </div>
                <% } else { %>
                    <div class='employee-details-cards-section reimbursement' id="reimbursementSection">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#program_tab_0" id="overviewTab" data-toggle="tab">
                                Overview
                            </a>
                            </li>
                            <li>
                                <a href="#program_tab_1" id="reimbursementsTab" data-toggle="tab">
                                Reimbursements
                            </a>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="program_tab_0">
                                        <h4>Approver</h4>
                                        <div id="approverDetails">
                                        </div>
                                        <div class="straight-line">&nbsp;</div>
                                        <h4 class="dependents">Dependents</h4>
                                        <div id="dependantsTable">
                                            <% include tables/employee-dependents %>
                                        </div>
                                    </div>
                                    <div class="tab-pane expense-details" id="program_tab_1">
                                        <div id="reimbursementAmounts" class="col-sm-12">
                                        </div>
                                        <div id="reimbursementTable" class="employees-wrpr">
                                            <% include tables/employee-reimburse %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
        </div>
    </div>
</div>
