<div class="tab-pane active" id="tab_default_0">
    <div class='employee-overview-cntr pad-top-thirty'>
        <div class="row">
            <div class="col-xs-8 col-md-8">
                <div class='employee-overview-graph'>
                    <div class="pd-top-twenty">
                        <div class="page-sub-heading">
                            <% if(noOfActiveCards > 1) { %>
                            <h3 class="pd-bottom-fifteen"><%- noOfActiveCards %> Active Cards</h3>
                            <% } else if(noOfActiveCards == 1) { %>
                            <h3 class="pd-bottom-fifteen"><%- noOfActiveCards %> Active Card</h3>
                            <% } else {%>
                                <h3 class="pd-bottom-fifteen">0 Active Card</h3>
                           <% }  %>
                        </div>
                    </div>
                    <div class='graph-wrpr'>
                        <% for(var i=0;i<benefits.length;i++) {%>
                                <div class="card-info-hidden" data-cardname="<%- benefits[i].cardDesign.cardName || benefits[i].productType %>" data-transferamount="<%- benefits[i].totalPayoutAmount ? benefits[i].totalPayoutAmount.amount : 0 %>" data-color="<%- benefits[i].cardDesign.bgColor %>">
                                </div>
                        <%  }  %>
                        <div id='spendDataLoader' class='merchant-data-loader card-graph-loader'>
                            <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif' alt='loading' />
                            <div>Loading data...</div>
                        </div>
                        <div id="cardsTransferWrpr" class='spend-channel'>
                            <canvas id="cardsTransferAmount"></canvas>
                        </div>
                        <div id="cardsTransferEmpty" class="graph-empty">
                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                            <div class='pd-top-ten'>Not enough data available</div>
                        </div>
                        <div id='cardsTransferGraphErr' class='graph-error'>
                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                            <div class='pd-top-ten'>Not enough data available</div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="col-xs-4 col-md-4">
                <!-- <div class='saving-data-wrpr'>
                    <ul>
                        <li class='clearfix'>
                            <div class='saving-data-icon tax-saved-icon'></div>
                            <div class='saving-data-val-wrpr'>
                                <div class='saving-data-val'>5,40,000*</div>
                                <div class='saving-data-text'>Tax Saved</div>
                            </div>
                        </li>
                        <li class='clearfix'>
                            <div class='saving-data-icon time-saved-icon'></div>
                            <div class='saving-data-val-wrpr'>
                                <div class='saving-data-val'>
                                    <span><span>360</span> hrs <span>29</span> mins</span>
                                </div>
                                <div class='saving-data-text'>Time Saved</div>
                            </div>
                        </li>
                    </ul>
                </div> -->
                <div class='saving-data-wrpr'>
                    <ul>
                        <li class='clearfix'>
                            <div class='saving-data-icon supercard-issued-icon'></div>
                            <div class='saving-data-val-wrpr'>
                                <div class='saving-data-text'>Active Super Cards<sup>&reg;</sup> </div>
                                <div class='saving-data-val'><%- noOfActiveSuperCards %></div>
                               
                            </div>
                        </li>
                        <li class='clearfix'>
                            <div class='saving-data-icon active-supertags-icon'></div>
                            <div class='saving-data-val-wrpr'>
                                <div class='saving-data-text'>Active Super Tags<sup>&trade;</sup></div>
                                <div class='saving-data-val'><%- noOfActiveSuperTags %></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
