<div class="row single-card-area">
    <div class="col-xs-12 col-md-12">
        <div class="media-list-container">
            <div class="media">
                <div class="media-left">

                    <img src="<%-(benefits.cardDesign.bg) ? benefits.cardDesign.bg : '' %>" alt="<%-(benefits.cardDesign.cardName) ? benefits.cardDesign.cardName : '' %>">
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="page-heading">
                                <h4 class="media-heading">
                                    <%-(benefits.cardDesign.cardName) ? benefits.cardDesign.cardName : '' %>
                                </h4>
                            </div>
                            <div class="CardsIssued-cntr">
                                <div class="user-list-column">
                                    <ul class="list-unstyled mg-bottom-zero">
                                        <li>
                                            <small>Status:</small>
                                        </li>


                                        <li>
                                            <small>Issued By:</small>
                                        </li>


                                        <li>
                                            <small>Card ID:</small>
                                        </li>


                                    </ul>
                                </div>
                                <div class="user-discription-column">
                                    <ul class="list-unstyled mg-bottom-zero">
                                        <li>

                                            <small class="medium-green"><%-(benefits.status) ? benefits.status : '' %></small>

                                        </li>


                                        <li>
                                            <small><%-(companyName) ? companyName : '' %></small>
                                        </li>


                                        <li>
                                            <small>
                                                            
                                                                <%-(cards.cardID) ? cards.cardID : '' %>
                                                            
                                                        </small>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="modal-profileLink text-right">
                                <div>
                                    <!-- Popover -->
                                    <div class="popover-content">
                                        <span>
                                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                        </span>
                                    </div>
                                    <!-- Popover End -->
                                    <!-- Dropdown -->
                                    <div class="dropdown-log">
                                        <ul class="cus-card-nav nav navbar-nav">
                                            <li class="dropdown">
                                                <a href="#" class="" data-toggle="dropdown" aria-expanded="true"><span><img src="/images/vertical_dot_icon.png"></span></a>
                                                <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                                                    <li><a href="/companies/<%- $("metazname='companyID']").attr("content") %>/optima/<%- $('#transferId').val() %>" class="">View Program Details</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown End -->
                                </div>
                                <div align="right" class="x-medium-button card-button-pos">
                                    <button class="btn btn-secondary downloadStatement text-uppercase btn-bg-color" id="" name="" type="button" value="">DOWNLOAD STATEMENT
                                    </button>
                                </div>
                                <div class="card-link-pos">
                                    <p data-card-id="<%-(cards.cardID) ? cards.cardID : '' %>" id="cardDetailsLink-<%-(cards.cardID) ? cards.cardID : '' %>" class="cardDetailsLink view-link">View Details</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Table -->
            <div class="employee-details-cards-section no-display" id="cardDetailsHead-<%-(cards.cardID) ? cards.cardID : '' %>">
                <h2 class="sub-heading-pdb">Transfer Report</h2>
                <div class="employee-report-table" id="cardTransferReportTable-<%-(cards.cardID) ? cards.cardID : '' %>">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../../../dist/scripts/cardProgramIndividualCard.js"></script>