<div class="main-container">
    <input type="hidden" id="programId" value="<%- programId %>">
    <input type="hidden" id="transferId" value="<%- programId %>">
    <% if(scheduledCount){ %>
        <div class="row media-list-container amount-type margin-top-thirty pad-left-zero beneficiary-amount" id="schedule-amount-id">
            <div class="row amount-pos">
                <div class="col-xs-6 col-md-6">
                    <div class="user-profile-container">
                        <div class="schedule_images">
                            <img src="../../../images/scheduled.png" class="amount-pic" alt="Scheduled Image">
                        </div>
                        <div class="profile-name-cell">
                            <div class="profile-heading modal-rupee">
                                <span id="scheduled-amount"><%- scheduledAmount %></span>
                            </div>
                            <div class="profile-subHeading modal-subheading-rupee">
                                Scheduled (<span id="scheduled-count"><%- scheduledCount %></span>)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-6">
                    <div class="modal-profileLink text-right pad-top-ten">
                        <a href="javascript:void(0)" data-id="schedule-table" id="schedule-table-id" class="">View Details</a>
                    </div>
                </div>
            </div>
            <div class="row amount-table-pos" id="scheduled-amount-table">
                <!-- schedule table area -->
            </div>
        </div>
        <% } %>
            <% if(waitingCount){ %>
                <div class="row media-list-container amount-type margin-top-thirty pad-left-zero beneficiary-amount" id="waiting-amount-id">
                    <div class="row amount-pos">
                        <div class="col-xs-6 col-md-6">
                            <div class="user-profile-container">
                                <div class="schedule_images">
                                    <img src="../../../images/waiting-employees.png" class="amount-pic" alt="Scheduled Image">
                                </div>
                                <div class="profile-name-cell">
                                    <div class="profile-heading modal-rupee">
                                        <span id="waiting-amount"><%- waitingAmount %></span>
                                    </div>
                                    <div class="profile-subHeading modal-subheading-rupee">
                                        Waiting for Beneficiary (<span id="waiting-count"><%- waitingCount %></span>)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-md-6">
                            <div class="modal-profileLink text-right pad-top-ten">
                                <a href="javascript:void(0)" data-id="waiting-table" id="waiting-table-id" class="">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="row amount-table-pos" id="waiting-amount-table">
                        <!-- waiting table area -->
                    </div>
                </div>
                <% } %>
                    <% if(cancelledCount){ %>
                        <div class="row media-list-container amount-type margin-top-thirty pad-left-zero beneficiary-amount" id="canceled-amount-id">
                            <div class="row amount-pos">
                                <div class="col-xs-6 col-md-6">
                                    <div class="user-profile-container">
                                        <div class="schedule_images">
                                            <img src="../../../images/cancelled.png" class="amount-pic" alt="Canceled Image">
                                        </div>
                                        <div class="profile-name-cell">
                                            <div class="profile-heading modal-rupee">
                                                <span id="canceled-amount"><%- cancelledAmount %></span>
                                            </div>
                                            <div class="profile-subHeading modal-subheading-rupee">
                                                Cancelled (<span id="canceled-count"><%- cancelledCount %></span>)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-md-6">
                                    <div class="modal-profileLink text-right pad-top-ten">
                                        <a href="javascript:void(0)" data-id="" id="canceled-table-id" class="">View Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row amount-table-pos" id="canceled-amount-table">
                                <!-- cancel table area -->
                            </div>
                        </div>
                        <% } %>
                            <% if(noOfCards){ %>
                                <div id="no-of-cardIssued">
                                    <%-noOfCards %> Card Issued</div>
                                <% } else{ %>
                                    <div class "blank-card-container" style="border: 1px solid #dfdde6; margin-top:30px; border-radius: 4px; box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08)">
                                        <div class="table-empty-state media-list-container pad-top-bottom-forteen" style="display:block;">
                                            <img src="/images/cards-empty.png" class="no-card-img" alt="">
                                            <p class="zero-vd-text">0 Cards Issused.</p>
                                        </div>
                                    </div>

                                    <% } %>

                                        <div class="all-cards-area" id="all-cards-areaId">
                                            <% if(allCardDetails){ %>
                                                <%  for(let i = 0; i < allCardDetails.length; i++){ %>
                                                    <div class="row single-card-area">
                                                        <div class="col-xs-12 col-md-12">
                                                            <div class="media-list-container media-list-padding">
                                                                <div class="media box-overflow-visible">
                                                                    <div class="media-left">

                                                                        <img src="<%-(allCardDetails[i].benefits.cardDesign.bg) ? allCardDetails[i].benefits.cardDesign.bg : '' %>" alt="<%-(allCardDetails[i].benefits.cardDesign.cardName) ? allCardDetails[i].benefits.cardDesign.cardName : '' %>">
                                                                    </div>
                                                                    <div class="media-body box-overflow-visible">
                                                                        <div class="row">
                                                                            <div class="col-xs-6 col-md-6">
                                                                                <div class="page-heading">
                                                                                    <h4 class="media-heading">
                                                                                        <%-(allCardDetails[i].benefits.cardDesign.cardName) ? allCardDetails[i].benefits.cardDesign.cardName : '' %>
                                                                                    </h4>
                                                                                </div>
                                                                                <div class="CardsIssued-cntr">
                                                                                    <div class="user-list-column">
                                                                                        <ul class="list-unstyled mg-bottom-zero">
                                                                                            <li>
                                                                                                <small>Card Status:</small>
                                                                                            </li>


                                                                                            <li>
                                                                                                <small>Issued By:</small>
                                                                                            </li>


                                                                                            <li>
                                                                                                <small>Card ID:</small>
                                                                                            </li>


                                                                                        </ul>
                                                                                    </div>
                                                                                    <div class="user-discription-column">
                                                                                        <ul class="list-unstyled mg-bottom-zero">
                                                                                            <li>
                                                                                                <% if(allCardDetails[i].cards.status){ %>
                                                                                                    <%   if(allCardDetails[i].cards.status === 'ACTIVE'){ %>
                                                                                                        <small class="medium-green">Active</small>
                                                                                                        <%   } else if(allCardDetails[i].cards.status === 'CLOSED'){ %>
                                                                                                            <small class="medium-red">Closed</small>
                                                                                                            <%   } else{  %>
                                                                                                                <small class=""><%-(allCardDetails[i].cards.status) ? allCardDetails[i].cards.status : '' %></small>
                                                                                                                <%   } %>
                                                                                                                    <%  }    %>

                                                                                            </li>


                                                                                            <li>
                                                                                                <small><%-(allCardDetails[i].companyName) ? allCardDetails[i].companyName : '' %></small>
                                                                                            </li>


                                                                                            <li>
                                                                                                <small>
                                                                            
                                                                                <%-(allCardDetails[i].cards.cardID) ? allCardDetails[i].cards.cardID : '' %>
                                                                            
                                                                        </small>
                                                                                            </li>


                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6 col-md-6">
                                                                                <div class="modal-profileLink text-right">
                                                                                    <div>
                                                                                        <!-- Popover -->
                                                                                        <div class="popover-content">
                                                                                            <span>
                                                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                                                                            </span>
                                                                                        </div>
                                                                                        <!-- Popover End -->
                                                                                        <!-- Dropdown -->
                                                                                        <div class="dropdown-log">
                                                                                            <ul class="cus-card-nav nav navbar-nav">
                                                                                                <li class="dropdown">
                                                                                                    <a href="#" class="" data-toggle="dropdown" aria-expanded="true"><span><img src="/images/vertical_dot_icon.png"></span></a>
                                                                                                    <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                                                                                                        <li><a href="/companies/<%- $("meta[name='companyID']").attr("content") %>/optima/<%- allCardDetails[i].benefits.programID %>" class="">View Program Details</a></li>
                                                                                                    </ul>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <!-- Dropdown End -->
                                                                                    </div>
                                                                                    <div align="right" class="x-medium-button card-button-pos">
                                                                                        <%- console.log(allCardDetails[i]) %>
                                                                                            <button class="btn btn-secondary downloadStatement text-uppercase btn-bg-color" data-card-id="<%-(allCardDetails[i].cards.cardID) ? allCardDetails[i].cards.cardID : '' %>" data-cardprogramid="<%-(allCardDetails[i].benefits.cardProgramID) ? allCardDetails[i].benefits.cardProgramID : '' %>"
                                                                                                data-producttype="<%-(allCardDetails[i].benefits.productType) ? allCardDetails[i].benefits.productType : '' %>" data-cardname="<%-(allCardDetails[i].benefits.cardDesign.cardName) ? allCardDetails[i].benefits.cardDesign.cardName : '' %>"
                                                                                                data-userid="<%-(allCardDetails[i].cards.userID) ? allCardDetails[i].cards.userID : '' %>" data-cardstatus="<%-(allCardDetails[i].cards.status) ? allCardDetails[i].cards.status : '' %>"
                                                                                                id="" name="" type="button" value="">DOWNLOAD STATEMENT 
                                                                                   </button>
                                                                                    </div>
                                                                                    <div class="card-link-pos">
                                                                                        <a href="javascript:void(0)" data-card-id="<%-(allCardDetails[i].cards.cardID) ? allCardDetails[i].cards.cardID : '' %>" id="cardDetailsLink-<%-(allCardDetails[i].cards.cardID) ? allCardDetails[i].cards.cardID : '' %>" class="cardDetailsLink">View Details</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Table -->
                                                                <div class="employee-details-cards-section no-display" id="cardDetailsHead-<%-(allCardDetails[i].cards.cardID) ? allCardDetails[i].cards.cardID : '' %>">
                                                                    <h2 class="sub-heading-pdb">Transfer Report</h2>
                                                                    <div class="employee-report-table" id="cardTransferReportTable-<%-(allCardDetails[i].cards.cardID) ? allCardDetails[i].cards.cardID : '' %>">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <script src="../../../../dist/scripts/cardProgramIndividualCard.js"></script>
                                                    <%  } } %>
                                        </div>
</div>
<script src="../../../../dist/scripts/employeeDetailsPayoutStat.js"></script>