.expense-details {
    .custom-table tr td {
        font-size: $font-size-small;
        &.expense-date {
            padding-right: 0 !important;
            padding-left: 10px !important;
        }
    }
    .custom-table tr .claim-amount {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .custom-table tr .profile-details {
        padding-left: 0 !important;
        width: auto !important;
        display: inline-block;
    }
    .custom-searchbox {
        width: 300px;
    }
    .tab-content {
        margin-top: 44px;
    }
    .employees-wrpr {
        h3 {
            font-size: $font-size-xx-regular;
            display: inline-block;
        }
        .right-filter {
            float: right;
        }
        .filter {
            display: inline-block;
            float: left;
            margin-left: 20px;
        }
        .chart-section {
            margin: 0;
            margin-top: 100px;
            justify-content: space-between;
            .status-type {
                opacity: 0.4;
            }
            .status-details {
                width: auto;
            }
        }
        .expense-reimburse-table {
            tr {
                td {
                    font-size: $font-size-small;
                    padding: 15px 10px 15px 15px !important;
                }
                .expense-date,
                .bill-status {
                    padding-right: 0 !important;
                }
                .profile-details-benefits .emailIds .email {
                    max-width: 130px;
                    text-overflow: ellipsis;
                    display: inline-block;
                    overflow: hidden;
                }
                .popover-content {
                    padding: 9px 0;
                }
            }
            tr th {
                padding-right: 7px !important;
                padding-left: 16px !important;
                cursor: auto;
            }
            .align-right {
                text-align: right;
                padding-right: 30px !important;
            }
            .merchant-name {
                max-width: 150px;
            }
            .document-icon {
                background: url(/images/expense/documents-icon.png) no-repeat;
                width: 25px;
                height: 25px;
                display: inline-block;
                background-size: 100%;
                margin: 0 2px;
            }
            .time {
                opacity: .8;
                display: initial;
            }
            .tag {
                border-radius: 2px;
                padding: 3px payoutstablepayoutstable;
                background: $label-dark-color;
                color: $color-white;
                display: inline-block;
                margin-top: 2px;
            }
            .secondary-status {
                display: block;
                font-size: 12px;
                line-height: 1.5;
                color: #8c8793;
                padding: 0;
                margin: 0;
                text-transform: capitalize;
                letter-spacing: 0;
                background: transparent;
                max-width: 180px;
            }
            .dropdown-log .nav {
                left: 15px;
            }
            .dropdown-log-typeTwo a.view-statement {
                padding: 10px 20px;
            }
            .approved {
                color: #00b998;
            }
            .declined {
                color: #e74c3c;
            }
            .pending {
                color: #ffbd00;
            }
        }
        .reimbursement-wrp {
            padding: 0 15px;
        }
    }
    .spend-data-wrpr {
        box-shadow: none;
    }
    .reimbursement-data-wrpr {
        margin-bottom: 0;
        .graph-empty {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .merchant-data-loader {
            padding-top: 60px;
            padding-bottom: 40px;
            margin-top: 0;
        }
    }
    .graph-wrpr {
        border-bottom: none;
        padding: 20px;
    }
    .reimbursementsWrpr {
        padding: 5px;
    }
    .btn-approve {
        border-radius: 2px;
        background-color: $color-medium-green;
        opacity: 1;
        color: $color-white;
        text-transform: uppercase;
        float: left;
    }
    .dropdown-arrow-wrap {
        position: relative;
        .down-arrow {
            height: 34px;
        }
        .navbar-nav {
            position: absolute;
            left: 87px;
            bottom: 0;
            a {
                padding: 0;
            }
            .dropdown-log-typeTwo a {
                padding: 5px 25px;
            }
        }
    }
    .dropdown-log .nav {
        right: -5px;
        top: 9px;
        left: auto;
    }
    .down-arrow {
        width: 32px;
        height: 34px;
        border-radius: 2px;
        background-color: $color-white;
        border: solid 1px $color-zircon-gray;
        display: inline-block;
        text-align: center;
        border-left: none;
        img {
            position: relative;
            top: 7px;
        }
    }
    .dropdown-menu>li>a {
        padding: 5px 25px;
    }
    .dropdown-menu.payout-drpdown {
        min-width: 120px;
    }
    .view-details {
        border-radius: 2px;
        background-color: $color-white;
        border: solid 1px $color-zircon-gray;
        display: inline-block;
        padding: 10px 10px 5px 10px;
        color: $color-medium-block;
        cursor: pointer;
        font-weight: $font-weight-bold;
    }
    .filter-cntr .filter-wrpr {
        height: 9payoutstablepayoutstable;
    }
    .filter-txt {
        margin-bottom: 6px;
    }
    .filter-amount {
        opacity: .4;
    }
    .filter-cntr .active {
        color: $color-pink-progress;
    }
}

#escalations {
    .new_number {
        width: 16px;
        height: 16px;
        background-color: $orange-darker-color;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        font-size: $font-size-xs-small;
        line-height: 17px;
        color: $color-white;
        position: absolute;
        top: 5px;
        right: -1payoutstablepayoutstable;
    }
}

.expense-employee-table .custom-table tr td#profile-details-transfer {
    // padding: 15px 60px 15px 20px !important;
}

.inner-container .sub-container.expense-details .transfer-details-wrpr .filter-cntr .filter-wrpr {
    width: 25%;
}
