/* Spotlight Banner */

.expense-banner {
    @include gradient(#c7006c, #623bff, horizontal);
    .page-heading {
        h1 {
            font-size: 24px;
            font-weight: $font-weight-regular;
        }
    }
    h5 {
        font-size: $font-size-x-small;
        opacity: 0.72;
        color: $color-white;
    }
}

.inner-container {
    .expense-banner {
        padding-top: 37px;
        padding-bottom: 30px;
    }
    .expense-card {
        margin-bottom: 20px;
        .cards-container {
            img {
                width: 100%;
                height: auto;
                max-width: 100%;
                padding: 0 12px;
                margin: 12px auto;
                min-height: 105px;
            }
            .card-text-part {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .cards-height {
            min-height: 235px;
        }
        h5 {
            font-weight: $font-weight-bold;
            margin: 2px 0 2px 0;
        }
    }
}

.nav-tabs--program-list {
    li {
        &.active {
            a {
                background: transparent;
                border: none;
                color: $color-studio-blue;
                border-bottom: 2px solid $color-studio-blue;
                &:focus,
                &:active,
                &:hover {
                    background: transparent;
                    border: none;
                    color: $color-studio-blue;
                    border-bottom: 2px solid $color-studio-blue;
                }
            }
        }
        a {
            background: transparent;
            border: none;
            color: $color-medium-block;
            &:focus,
            &:active,
            &:hover {
                background: transparent;
                border: none;
            }
        }
    }
}
