<div class="tab-pane" id="tab_default_2">
    <div class="col-xs-12 col-md-12">
        <div class="inner-sub-container page-sub-heading employees-wrpr">
            <div class="filter-section">
                <div class="col-md-3">Beneficiaries</div>
                <div class="col-xs-9 col-md-9" align="right">
                    <div class="custom-searchbox">
                        <div class="input-group stylish-input-group">
                            <input id="employeeSearch" type="text" class="form-control" placeholder="Search by Beneficiary Name, Email or Mobile">
                            <span class="input-group-addon">
                                    <button id="employeeSearchBtn" type="button">
                                    <span><img src="/images/search_small.png"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table -->
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div id="expenseEmployees" class='benifits-employees-wrpr expense-employee-table'>
                        <% include tables/expense-employee %>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>