<div class="tab-pane" id="tab_default_4">
    <div class="col-xs-12 col-md-12">
        <!-- Filter -->
        <div class="filter-section employees-wrpr">
            <h3 class="col-md-3">Escalations</h3>
            <div class="col-xs-9 col-md-9 pd-lrt-zero" align="right">
                <div class="custom-searchbox">
                    <div class="input-group stylish-input-group">
                        <input id="searchEscalation" type="text" class="form-control" placeholder="Search by Beneficiary Name, Email or Mobile">
                        <span class="input-group-addon">
                            <button id="searchEscalationBtn" type="button">
                                <span><img src="/images/search_small.png"></span>
                        </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- Filter End -->
        <div class="inner-sub-container page-sub-heading transfer-details-wrpr">
            <!-- Table -->
            <div class='row filter-cntr' id='escalationFilters'>
                <div id='totalEscalations' class='col-xs-3 col-md-3 filter-wrpr active' data-filter-val=''>
                    <div class='filter-no'></div>
                    <div class='filter-txt'>All</div>
                    <div class="filter-amount">(₹<span></span>)</div>
                </div>
                <div id='scheduledEscalations' class='col-xs-3 col-md-3 filter-wrpr' data-filter-val='PENDING'>
                    <div class='filter-no'></div>
                    <div class='filter-txt'>Pending</div>
                    <div class="filter-amount">(₹<span></span>)</div>
                </div>
                <div id='approvedEscalations' class='col-xs-3 col-md-3 filter-wrpr' data-filter-val='APPROVED'>
                    <div class='filter-no'></div>
                    <div class='filter-txt'>Approved</div>
                    <div class="filter-amount">(₹<span></span>)</div>
                </div>
                <div id='declinedEscalations' class='col-xs-3 col-md-3 filter-wrpr' data-filter-val='DECLINED'>
                    <div class='filter-no'></div>
                    <div class='filter-txt'>Declined</div>
                    <div class="filter-amount">(₹<span></span>)</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div id="payoutstable">
                        <% include tables/expense-escalations %>
                    </div>
                </div>
            </div>
            <!-- Table End -->
        </div>
    </div>
</div>