<div class="tab-pane active" id="tab_default_1">
    <!-- Page Heading and List -->
    <div class="col-xs-6 col-md-6 left-column">
        <div class="pd-top mg-bottom-thirty">
            <!-- Page Card Display -->
            <div class="card-section pd-top-ten">
                <% if(cardProgramObject.cardDesign.bg) { %>
                    <img src='<%- cardProgramObject.cardDesign.bg %>' alt="zeta bitmap" />
                <% } else { %>
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/bitmap.png" alt="zeta bitmap">
                <% } %>
            </div>
            <!-- Page Card Display End -->
            <div class="page-heading">
                <div class="page-heading-list">
                    <ul class="list-unstyled">
                        <li>
                            <small class="list-label">Status:</small>
                            <% if(cardProgramObject.active) {%>
                                <div class="details active">Active</div>
                            <% } else { %>
                                <div class="details">Active</div>
                            <% } %>
                        </li>
                        <li>
                            <small class="list-label">Funding Type:</small>
                            <div class="details text-capitalize">
                                <%- (cardProgramObject.cardType) ? cardProgramObject.cardType.toLowerCase() : '-' %>
                            </div>
                        </li>
                        <li>
                            <small class="list-label">Funding Account:</small>
                            <div class="details">
                                <a class="link" href="/admin/transaction-history/<%- fundingAccountDetails.accountID %>" target="_blank">
                                    <%- fundingAccountDetails.name %>
                                </a>
                            </div>
                        </li>
                        <li>
                            <small class="list-label">Balance:</small>
                            <div class="details">
                                <b class="numbers-font"><b class="ruppee">₹</b> <%- fundingAccountDetails.balance %></b>
                            </div>
                        </li>
                        <li>
                            <small class="list-label">Tax Liability:</small>
                            <div class="details">
                                <%- cardProgramObject.taxStatus || Non-Taxable for Spends on Uniform and Approved Bills as per Income Tax Rules %>
                            </div>
                        </li>
                        <!-- <li>
                            <small class="list-label">Expiry:</small>
                            <div class="details">
                                <%-cardProgramObject.voucherProgram.voucherValidity %>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="col-xs-12 pd-left-zero pd-right-zero">
            <div class='graph-wrpr'>
                <div class='graph-hdg'>Claim Times</div>
                <div id='spendTimesLoader' class='merchant-data-loader'>
                    <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif' alt='loading' />
                    <div>Loading Spend Times Data..</div>
                </div>
                <div id='spendTimesWrpr' class='graph-cntr'>
                    <canvas id="claimCharts" height="200"></canvas>
                    <em class="footer-note">* Data for last 3 months only</em>
                </div>
                <div id='spendTimesGraphErr' class="graph-error">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                    <div class='pd-top-ten'>Couldn't load the Graph</div>
                </div>
                <div id="spendTimesEmpty" class="graph-empty">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                    <div class='pd-top-ten'>Not enough data available</div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- Page Heading and List End -->
    <div class="col-xs-3 col-md-3">
        <div class='spend-data-wrpr'>
            <div class='saving-data-wrpr'>
                <ul>
                    <li class='clearfix'>
                        <div class='saving-data-icon employees-icon'></div>
                        <div class='saving-data-val-wrpr'>
                            <div class='saving-data-val'>
                                <b class="numbers-font">
                                    <% if(typeof numberOfEmployees != 'undefined') { %>
                                            <%- numberOfEmployees %>
                                    <% } else { %>
                                        0
                                    <% } %>
                                </b>
                            </div>
                            <div class='saving-data-text'>No. of Beneficiaries</div>
                        </div>
                    </li>
                    <li class='clearfix'>
                        <div class='saving-data-icon transaction-amt-icon'></div>
                        <div class='saving-data-val-wrpr'>
                            <div class='saving-data-val'>
                                <b class="numbers-font" id="noOfClaims"> -
                                </b>
                            </div>
                            <div class='saving-data-text'>No. of Claims</div>
                        </div>
                    </li>
                    <li class='clearfix'>
                        <div class='saving-data-icon transaction-icon'></div>
                        <div class='saving-data-val-wrpr'>
                            <div class='saving-data-val'><span class="ruppee">₹</span>
                                <b class="numbers-font" id="reimbursementsAmount">
                                    -
                                </b>
                            </div>
                            <div class='saving-data-text'>Reimbursed Amount</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class='spend-data-wrpr'>
            <div class='graph-wrpr'>
                <div class='graph-hdg'>Spend Categories</div>
                <div id='spendDataLoader' class='merchant-data-loader'>
                    <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif' alt='loading' />
                    <div>Loading Spend Categories..</div>
                </div>
                <div id="spendChannelsWrpr" class='spend-channel'>
                    <canvas id="spendCategory"></canvas>
                    <em class="footer-note">* Data for last 3 months only</em>
                </div>
                <div id="spendChannelsEmpty" class="graph-empty">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                    <div class='pd-top-ten'>Not enough data available</div>
                </div>
                <div id='spendChannelsGraphErr' class="graph-error">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                    <div class='pd-top-ten'>Couldn't load the Graph</div>
                </div>
            </div>
        </div> -->
    </div>

    <div class="col-xs-3 col-md-3">
        <div class='merchant-data-wrpr' id='merchantsWrpr'>
            <div id='merchantGraphLoader' class='merchant-data-loader'>
                <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif' alt='loading' />
                <div>Loading Merchant Data </div>
            </div>
            <div id='merchantGraphError' class="graph-error">
                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                <div class='pd-top-ten'>Couldn't load the Graph</div>
            </div>
        </div>
    </div>
</div>
