<div class="tab-pane" id="tab_default_3">
    <div class="col-xs-12 col-md-12 expense-details">
        <div class="inner-sub-container page-sub-heading employees-wrpr">
            <div class="row">
                <div class="reimbursement-wrp">
                    <h3 class="sub-heading-pdb">Reimbursements</h3>
                    <div class="right-filter">
                        <!-- <div class="custom-searchbox filter">
                            <div class="input-group stylish-input-group">
                                <input id="employeeReimburseSearch" type="text" class="form-control" placeholder="Search by Beneficiary Name, Email or Mobile">
                                <span class="input-group-addon">
                                        <button id="employeeReimburseSearchBtn" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                            </div>
                        </div> -->
                        <div class="filter-divider-table filter">
                            <div class="filter-divider-left">
                                <div class="form-group select-custom">
                                    <select id="reimbursementStatusType" class="form-control width-xs">
                                        <option value="" disabled>Filter by Status</option>
                                        <option value="UPLOADED">Pending</option>
                                        <option value="APPROVED,PAID,PARTIALLY_PAID">Approved</option>
                                        <option value="DECLINED">Declined</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Date Picker End -->
                        <!-- <div class="form-group date-picker filter">
                            <div class="input-group">
                                <input type="text" class="form-control datepicker-img" placeholder="Select the Date" id="reportDate" />
                            </div>
                        </div> -->
                        <!-- Date Picker End -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class='spend-data-wrpr reimbursement-data-wrpr'>
                        <div class='graph-wrpr reimbursementsWrpr'>
                            <div id='reimbursementsDataLoader' class='merchant-data-loader'>
                                <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif' alt='loading' />
                                <div>Loading Reimbursements ..</div>
                            </div>
                            <div id="reimbursementsWrpr" class='spend-channel'>
                                <canvas id="reimbursementsChart"></canvas>
                                <em class="footer-note">* Data for last 3 months only</em>
                            </div>
                            <div id="reimbursementsEmpty" class="graph-empty">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                                <div class='pd-top-ten'>Not enough data available</div>
                            </div>
                            <div id='spendChannelsGraphErr' class="graph-error">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                                <div class='pd-top-ten'>Couldn't load the Graph</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="reimbursementAmounts" class="col-sm-9">
                </div>
            </div>
            <div id="expenseReimburse" class="pd-top-twenty">
                <% include tables/expense-reimburse %>
            </div>

        </div>
    </div>
</div>
