<tr class="numbers-font">
    <%- rows %>
        <% {let reasonArr = []; %>
            <% if(rows.length === 5 || rows.length === 6 || rows.length === 11 || rows.length === 8) { %>
                <% for(let currIndex = 0;currIndex<rows.length;currIndex++) { %>
                    <% if(rows[currIndex].error) { %>
                        <% reasonArr.push(rows[currIndex].error[0]); %>
                        <td class='error-column'>
                            <% if(rows[currIndex].name !='') { %>
                                <%-rows[currIndex].name%>
                            <% }else { %>
                                (Missing)
                            <% } %>
                        </td>
                    <% } else { %>
                        <td><%-rows[currIndex].name%></td>
                    <% } %>
                <% } %>
                <td>
                    <% if(reasonArr.length > 0) { %>
                        <% for(let currReason = 0;currReason<reasonArr.length;currReason++) { %>
                            <div class="text-capitalize">
                                <% if(reasonArr[currReason] === 'Invalid phone number/email/crn') { %>
                                    Invalid phone number or Email
                                <% } else { %>
                                    <%- reasonArr[currReason] %>
                                <% } %>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div>-</div>
                    <% } %>
                </td>
            <% } else { %>
                    <% console.log('rowsdatacdcudc', rows) %>
                        <% for(let currIndex = 0;currIndex<rows.length;currIndex++) { %>
                            <% if(rows[currIndex].error) { %>
                                <% reasonArr.push(rows[currIndex].error[0]); %>
                            <% } %>
                            <% if(rows[currIndex].name === ''){ %>
                                <td class="<%- rows[currIndex].error ? 'error-column' : '' %>">(missing)</td>
                            <% } else{ %>
                                <td class="<%- rows[currIndex].error ? 'error-column' : '' %>"><%-rows[currIndex].name%></td>
                            <% } %>
                            
                        <% } %>
                        <td><%-reasonArr[0]%></td>
                    <!-- <td class="text-right"> -->
                        
                    <!-- </td> -->
            <% } %>
        <% } %>
    </tr>


