<tr data-orderid="<%- orderID %>" class="numbers-font">
    <td>
        <a href="/companies/<%-companyID%>/optima/<%-programID%>/transfers/<%-orderID%>" class="text-id"><%- orderID %></a>
    </td>
    <td>
        <%- companyShortCode %>
    </td>
    <td class="text-right">
        <%- totalPayouts %>
    </td>
    <td class="text-right">
        <%- amount %>
    </td>
    <td>
        <div>
            <a href='/companies/<%-companyID%>/optima/<%-programID%>/transfers/<%-orderID%>' class="text-none">
                <% if(orderStatus === "completed") { %>
                    <span class="transfer_status_completed text-capitalize text-completed"><%- status %></span>
                <% } else if(orderStatus === "scheduled") { %>
                    <span class="payout_status_scheduled text-capitalize text-scheduled"><%- status %></span>
                <% } else if(orderStatus === "processing" || orderStatus === "initiated" || orderStatus === "valid") { %>
                    <span class="processing text-capitalize text-processing"><%- status %></span>
                <% } else if(orderStatus === "stalled" || orderStatus === "failed") { %>
                    <span class="transfer_status_stalled text-capitalize text-failed"><%- status %></span>
                <% } else if(orderStatus === "cancelled") { %>
                    <span class="cancelled text-capitalize text-cancelled"><%- status %></span>
                <% } else { %>
                    <span class="transfer_status_stalled text-capitalize text-failed"><%- status %></span>
                <% } %>
            </a>
        </div>
    </td>
    <td class="file-url">
        <a href="<%- fileUrl %>" download class="tooltip-title tooltip-cursor-pointer">
            <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xls@2x.png" alt="Download Order">
            <span class="tooltip-view">
                <!-- Tooltip Content  -->
                <div class="tooltip-lrtb-pd">
                    <div class="row">
                        <div class="col-xs-12 col-md-12"> Download Order File</div>
                    </div>
                </div>
                <!-- Tooltip Content End -->
            </span>
        </a>
        <% if((orderStatus === "scheduled" || orderStatus === "initiated" || orderStatus === "stalled") && type != "cashless_cafeteria") { %>
            <a href="<%- performaUrl %>" target="_blank" class="tooltip-title tooltip-cursor-pointer" target="_blank">
                <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/proforma-icon.png" alt="Proforma Invoice">
                <span class="tooltip-view">
                    <!-- Tooltip Content  -->
                    <div class="tooltip-lrtb-pd">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">Download Proforma Invoice</div>
                        </div>
                    </div>
                    <!-- Tooltip Content End -->
                </span>
            </a>
        <% } %>
        <% if((orderStatus === "completed") && type != "cashless_cafeteria") { %>
            <a href="<%- invoiceUrl %>" target="_blank" class="tooltip-title tooltip-cursor-pointer">
                <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/invoice-icon.png" alt="Invoice">
                <span class="tooltip-view">
                    <!-- Tooltip Content  -->
                    <div class="tooltip-lrtb-pd">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">Download Invoice</div>
                        </div>
                    </div>
                    <!-- Tooltip Content End -->
                </span>
            </a>
        <% } %>
        <% if((orderStatus === "completed" || orderStatus === "scheduled" || orderStatus === "stalled") && type != "cashless_cafeteria"){ %>
            <a href="<%- csvUrl %>" download class="tooltip-title tooltip-cursor-pointer">
                <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/report-copy.png" alt="Download Order">
                <span class="tooltip-view">
                    <!-- Tooltip Content  -->
                    <div class="tooltip-lrtb-pd">
                        <div class="row">
                            <div class="col-xs-12 col-md-12"> Download Order Report</div>
                        </div>
                    </div>
                    <!-- Tooltip Content End -->
                </span>
            </a>
        <% } %>
    </td>
</tr>