<tr data-orderid="<%- bulkOrderID %>" class="numbers-font">
    <td>
        <% if(bulkOrderStatus !="failed") {%>
            <a  href="/bulk-action/orders/<%- bulkOrderID %>" class="text-id">
                <%- bulkOrderID %>
            </a>
        <% }else {%> 
            <a  href="javascript:void(0)" class="text-id">
                <%- bulkOrderID %>
            </a>
        <%} %>
    </td>
    <td>
        <%- createdOn %>
    </td>
    <td class="text-right">
        <%- totalValidPayouts %>
    </td>
    <td class="text-right">
        <%- amount %>
    </td>
    <td>
        <%- programShortCode %>
    </td>
    <td>
        <div>
            <% if(bulkOrderStatus === "processing" || bulkOrderStatus === "processing_initiated") { %>
                <span class="processing text-capitalize text-bulk-processing"><%- status %></span>
            <% } else if(bulkOrderStatus === "success" || bulkOrderStatus === "orders_created") { %>
            <a href="/bulk-action/orders/<%- bulkOrderID %>" class="text-none">
                <span class="transfer_status_completed text-capitalize text-completed"><%- status %></span>
            </a>
            <% } else if(bulkOrderStatus === "failed" || bulkOrderStatus === "error") { %>
                <span class="transfer_status_stalled text-capitalize text-failed"><%- status %></span><br/>
                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/caution.svg" class="cautionaryImg">
                <span class="text-failed">Company code ""<%- JSON.parse($.parseHTML(statusMessage)[0].textContent)
                            .data.CompanyCode %>"" is invalid</span>
            <% } else if(bulkOrderStatus === "cancelled") { %>
                <a href="/bulk-action/orders/<%- bulkOrderID %>" class="text-none">
                    <span class="cancelled text-capitalize text-cancelled"><%- status %></span>
                </a>
            <% } else { %>
                <a href="/bulk-action/orders/<%- bulkOrderID %>" class="text-none">
                    <span class="transfer_status_stalled text-capitalize text-failed"><%- status %></span>
                </a>
            <% } %>
        </div>
    </td>
    <td class="file-url">
        <a href="" data-bulkorderID='<%- bulkOrderID %>' class="tooltip-title tooltip-cursor-pointer download-bulk-order-file">
            <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xls@2x.png" alt="Download Order">
            <span class="tooltip-view">
                <!-- Tooltip Content  -->
                <div class="tooltip-lrtb-pd">
                    <div class="row">
                        <div class="col-xs-12 col-md-12"> Download Order File</div>
                    </div>
                </div>
                <!-- Tooltip Content End -->
            </span>
        </a>
        <!-- #disabled order status report due to some issue with api -->
        <!-- <% if(bulkOrderStatus !="failed") {%>
            <a href="" data-bulkorderID='<%- bulkOrderID %>' class="tooltip-title tooltip-cursor-pointer downloadBulkReport">
                    <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/report-copy.png" alt="Download Order">
                    <span class="tooltip-view"> -->
                        <!-- Tooltip Content  -->
                        <!-- <div class="tooltip-lrtb-pd">
                            <div class="row">
                                <div class="col-xs-12 col-md-12"> Order staus report</div>
                            </div>
                        </div> -->
                        <!-- Tooltip Content End -->
                   <!-- </span>
                </a>
        <% } %> -->
        <!--
        <% if(bulkOrderStatus === "success" || bulkOrderStatus === "orders_created"){ %>
            <a href="<%- bulkOrderStatus %>" download class="tooltip-title tooltip-cursor-pointer">
                <img class="download-icon" src="/images/report-copy.png" alt="Download Order">
                <span class="tooltip-view">
                    <div class="tooltip-lrtb-pd">
                        <div class="row">
                            <div class="col-xs-12 col-md-12"> Download Order Report</div>
                        </div>
                    </div>
                </span>
            </a>
        <% } %>
        -->
    </td>
    <td class="position-dropdown  payout-revoke">
        <% if(bulkOrderStatus === "error" || bulkOrderStatus === "cancelled" || bulkOrderStatus === "failed" || bulkOrderStatus === "success" || bulkOrderStatus === "orders_created"){ %>
            <!-- Popover -->
            <div class="popover-content">
                <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                </span>
            </div>
            <% if(bulkOrderStatus !="failed") {%>
                <div class="dropdown-log">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="" data-toggle="dropdown"><span><img src="/images/vertical_dot_icon.png"></span></a>
                            <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                                <li>
                                    <a href="/bulk-action/orders/<%- bulkOrderID %>" class="error-row">View Order Details</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            <%} %>
            <!-- Dropdown End -->
            <% } %>
    </td>
</tr>

<% if(bulkOrderStatus !="failed") {%>
    <a  href="/bulk-action/orders/<%- bulkOrderID %>" class="text-id">
        <%- bulkOrderID %>
    </a>
<% }else {%> 
    <a  href="javascript:void(0)" class="text-id">
        <%- bulkOrderID %>
    </a>
<%} %>