<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Zeta Corporates</title>
<link rel="shortcut icon" href="https://card-program-files.s3.amazonaws.com/hrDashboard/images/favicon.png">
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css?v=<%- deployVersion%>">
<!-- <link rel="stylesheet" href="/dist/css/main.css?v=<%- deployVersion%>"> -->
<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://corp.zetaapps.in https://mv-stage.dash.zeta.in https://www.gstatic.com https://maps.googleapis.com https://www.google-analytics.com; style-src 'unsafe-inline' 'self' https://www.gstatic.com https://fonts.googleapis.com ; connect-src 'self' https://api.gw.zetapay.in https://corp.zetaapps.in https://zapps-prod-mv-tmp.s3-ap-southeast-1.amazonaws.com https://api.stage.zeta.in https://mv-stage.dash.zeta.in https://corp-ben-hr-files-temp-stage.s3-ap-southeast-1.amazonaws.com/ ws: ;img-src 'self' https://s3.ap-south-1.amazonaws.com https://card-program-files.s3.amazonaws.com https://zeta-ud-prod.s3.amazonaws.com https://csi.gstatic.com https://zeta-s3-bucket-claimed-bills-prod.s3.amazonaws.com https://i.ytimg.com https://zeta-userdocs-stage2.s3.amazonaws.com https://www.google-analytics.com https://zeta-s3-bucket-claimed-bills-staging.s3.amazonaws.com http://loyalty-files.zetaapps.in.s3.amazonaws.com/; font-src 'self' data: https://fonts.gstatic.com;"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- <meta name="HandheldFriendly" content="true"> -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
@font-face {font-family: ProximaNova;src: url(../../fonts/ProximaNova/ProximaNova-Regular.otf);}
@font-face {font-family: ProximaNova;src: url(../../fonts/ProximaNova/ProximaNova-Bold.otf);font-weight: bold;}
* {box-sizing: border-box;-webkit-font-smoothing: antialiased;}
body {font-family: ProximaNova; margin: auto;padding: 0;}
.wrapper{width:100%;height:auto;}
.header-container{background-color: #FFFFFF;border-bottom: none;z-index: 1;
-webkit-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
-webkit-box-shadow: 0 1px 2px 0 rgba(25, 15, 39, 0.08);
-moz-box-shadow: 0 1px 2px 0 rgba(25, 15, 39, 0.08);
box-shadow: 0 1px 2px 0 rgba(25, 15, 39, 0.08);padding:0 15px;}
.header-container .zeta-purple-logo {
background-image: url(/images/zeta-logo-purple.png);width: 50px;height: 20px;display: inline-block;
-moz-background-size: 50px 20px;background-size: 50px 20px;margin-top: 15px;}
.header-container .hdfcLogo {
background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/hdfcHeaderLogo.svg) no-repeat;width: 102px;height: 20px;display: inline-block;
-moz-background-size: 102px 20px;background-size: 102px 20px;margin-top: 15px;float:right;}
.confirmation-page-background {background-image: linear-gradient(#633ea5, #633ea5);min-width: 320px;}
.generate-brand-logo {text-align: center;padding-bottom: 20px;}
.generate-brand-logo img {display: inline-block;text-align: center;width: 100px;height: auto;}
.generate-message { text-align: center;padding-top: 60px;margin-bottom: 20px; background: url(/../../../images/confetti.svg) no-repeat 0 0; }
.generate-message p {font-size: 17px; text-align: center;}
.generate-message strong { font-size: 18px;text-align: center; font-weight: 800; }
.generate-details-amount { background-color: #f1eff2;font-size: 26px;font-weight: 500;margin: 10px 0 20px 0; }
.generate-details-amount span {float:right;line-height:2;}
.generate-details-amount img {max-width:120px;}
.generate-details-giftcard p {font-size: 14px;text-align: left;line-height: 2;color: #5a5a5a;margin:0px;}
.generate-details-giftcard p:nth-of-type(2){font-size:12px;}
.generate-details-giftcard strong {font-size: 18px;font-weight: 500;text-align: left;letter-spacing: 1px;line-height: 20px;}
.generate-details {background-color: #f1eff2;margin: 0 30px;padding:10px 20px;}
.generate-gift-footer {margin: 0 30px;}
.generate-gift-footer p {font-size: 12px;padding-top: 10px}
.generate-gift-footer ul{padding-top:6px; margin:0;}
.generate-gift-footer ul li{ font-size: 12px; opacity:0.7;padding-top:4px;}
.generate-gift-footer ul li a{opacity:1;color:#4a90e2}
.container-header-wave { padding: 0px 30px 10px;}
.container-header-wave .top-header-wave {height: 10px;position: relative; background-image: url(../../../images/spotlight/voucher-edge-top.png);background-repeat: repeat;}
.container-header-wave .bottom-header-wave {height: 9px;position: relative; background-image: url(../../../images/spotlight/ridges.svg); background-repeat: repeat;background-size: 18px 9px; }
.generate-gift-box {width: 420px;border-radius: 4px;background-color: #ffffff;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);margin: 100px auto;padding: 0 0 20px 0;color:#190f27;}
.loading-gif {text-align: center;width: 420px;border-radius: 3px;margin: 100px auto;background-color: #ffffff;padding: 40px 20px;}
.loading-gif img {height: 30px;margin-bottom: 15px;display: inline-block;}
.loading-gif p {font-size: 18px; opacity: unset;}
.generate-error-state h3 {font-size: 18px;line-height: 1.33;text-align: center;color: #190f27;margin-top: 10px; }
.generate-error-state p { font-size: 14px;line-height: 1.5;text-align: center;color: #190f27;padding: 14px 40px 14px 40px;}
.generate-error-state button {width: 84%;}
#sidebar-cntr-overflow{display:none;}
.gift-card-terms{margin:0 30px;font-size:12px;}
.gift-card-terms__head{margin-bottom:16px;}
.gift-card-terms__head span{text-decoration:underline;color:#000;}
.gift-card-terms__head img {margin-left: 10px;transition: all .6s ease;}
.gift-card-terms__head img.active{margin-left: 10px;transform: rotate(-180deg);transition: all .6s ease;}
.gift-card-terms__list{line-height: 20px;font-size:13px;}
.btn-toggle-terms {margin:0 30px;cursor: pointer;border-radius: 2px;padding: 10px;background-color: #ffbc00;text-transform:uppercase;text-align:center;margin-top: 16px;font-size: 12px;font-weight: 500;}
.btn-toggle-terms img {margin-left: 10px;transition: all .6s ease;}
.btn-toggle-terms img.active{margin-left: 10px;transform: rotate(-180deg);transition: all .6s ease;}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
{
.wrapper {
width: 100%;
}
.generate-gift-box{width:95%;}
.btn-toggle-terms {margin:0 10px;font-size:10px;width: 80%;margin: 0 auto;}
}
</style>
</head>

<body class="confirmation-page-background">
<div id="sidebar-cntr-overflow">
<ul><li></li></ul>
</div>
<div class="wrapper">
<!-- Top Header Part -->
<nav class="navbar navbar-inverse navbar-fixed-top header-container">
<div class='zeta-purple-logo'></div>
<div class='hdfcLogo' style="display:none"></div>
</nav>
<!-- Top Header Part End -->
<!-- Container -->
<div class="container-fluid">
<div class="row">
<div class="mainloader">
<div class="loading-gif">
<img src="../../../../images/spotlight/loader.gif" alt="">
<p>Fetching details…</p>
</div>
</div>



<!-- generator -->
<div class="generate-gift-box" id="showGiftGenerator" style="display:none">
<div class="generate-message">
<strong>Congrats!</strong>
<p>Here’s your gift voucher from <span id="giftBrand"></span></p>
</div>

<div class="generate-details">

<div class="generate-details-amount">
<img id="giftImage" src="" alt="Brand Image">
<span id="giftAmount">₹5000</span>

</div>
<div class="generate-details-giftcard azVoucher" style="display:none;">
<p>Gift Card Code</p>
<strong class="giftCardCode"></strong>
<p>Expiry Date: <span class="brandExDate"></span></p>
<a id="amazonAccountImg" target="_blank" href="" ><img src="../../../../images/spotlight/amazon-button.svg" style="margin-top:10px;"></a>
</div>
<div class="generate-details-giftcard bmsVoucher" style="display:none;">
<p>Voucher Code</p>
<strong class="giftCardNum"></strong>
<p>Expiry Date: <span class="brandExDate"></span></p>
</div>
<div class="generate-details-giftcard cmnVoucher">
<p>Voucher Number</p>
<strong class="giftCardNum"></strong>
<p>Voucher PIN</p>
<strong class="giftCardCode"></strong>
<p>Expiry Date: <span class="brandExDate"></span></p>
</div>
</div>

<div class="container-header-wave">
<div class="bottom-header-wave">
</div>
</div>

<div class="generate-gift-footer" >
</div>

<div class="gift-card-terms" style="display:none">
  <div class="gift-card-terms__head" >
    <span class="show-hide-terms" data-isexpand="false">Terms and conditions</span><img class="arrow change-arrow" src="https://card-program-files.s3.amazonaws.com/hrDashboard/down-arrow-black.svg">
  </div>
  <div class="gift-card-terms__list"></div>  
</div>

<div class="btn-toggle-terms show-hide-terms">
    <span class="btn-toggle-text">Show terms and conditions</span>
    <img  class="arrow change-arrow" src="https://card-program-files.s3.amazonaws.com/hrDashboard/down-arrow-black.svg"></div>
</div>
<!-- generator end -->

<div style="display:none" class="generate-error-state" id="errorfetchingGift">
<div class="loading-gif">
<img src="../../../../images/error-icon.png" alt="">
<h3>Oops. Something went wrong</h3>
<p>This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on <a href="mailto:support@zeta.in">support@zeta.in</a></p>
<div class="x-medium-button create-bulk-transfer-order">

<button id='retryGerenateGift' class="btn btn-default" type="button">Try Again</button>

</div>
</div>
</div>

<div style="display:none" class="generate-error-state expire-error-state" id="errorExpirefetchingGift" >
<div class="loading-gif">
<img src="../../../../images/expired-image.svg" style="width:73px;height:74px;" alt="">
<h3>Uh oh! The link has expired </h3>
<p>Please contact us on <a href="mailto:support@zeta.in">support@zeta.in</a> and we’ll do our best to resolve this issue.</p>
</div>
</div>

<div style="display:none" class="generate-error-state expire-error-state" id="errorinvalidfetchingGift" >
<div class="loading-gif">
<img src="../../../../images/expired-image.svg" style="width:73px;height:74px;" alt="">
<h3>Uh oh! The link is invalid</h3>
<p>Please contact us on <a href="mailto:support@zeta.in">support@zeta.in</a> and we’ll do our best to resolve this issue.</p>
</div>
</div>



<button id="generateSelectGiftingOrder" hidden></button>
</div>

</div>
<!-- Container End -->

</div>

<% include ../../../common/html-script %>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>


<script>
$(document).ready(function() {
$('#generateSelectGiftingOrder').trigger('click');
console.log("ready!");
});
</script>
<script src="/dist/scripts/selectgiftHome.js"></script>
</body>

</html>