<% include ../../../common/html-head %>

    <body>

        <input id="currentProductType" type="hidden">
        <input id="programId" type="hidden">

        <div class="wrapper">
            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <!-- Banner Start -->
                                <div class="top-section instagift-banner">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <li><a href="/companies/<%- companyID %>/spotlight"><% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %>Zeta Spotlight <%} %> </a></li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Breadcrumb End -->

                                        <div class="row">
                                            <div class="col-xs-8 col-md-8">
                                                <div class="page-heading">
                                                    <h1 class="pd-top-ten pd-bottom-ten">Brand Vouchers</h1>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-md-4">
                                                <div class="x-medium-button btn-right" align="right">
                                                    <a id="new_gift_order" data-label="New Gift Order" href="/companies/<%- companyID %>/spotlight/selectgifting/newgiftorder">
                                                        <button class="btn" type="button">
                                                                SEND GIFT VOUCHERS
                                                       </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->

                                <div style="display:none">
                                    <button id="totalOrderCount" data-totalordercount="<%- orders.length %>" />
                                </div>
                                <div class="sub-container">
                                    <div class="inner-sub-container page-sub-heading">
                                        <div class="row transferorder-row">
                                            <div class="horizontal-row">
                                                <div class="filter-section filter-section-prjtr ">
                                                    <div class="row select-giftorder-history" style="padding-left: 17px;padding-bottom: 10px;">
                                                        <h3 class="col-md-12 col-xs-12">Order History</h3>
                                                    </div>
                                                    <div class="filter-section">
                                                        <div class="col-xs-6 col-md-6 no-padding">
                                                            <div class="custom-searchbox no-margin">
                                                                <div class="input-group stylish-input-group">
                                                                    <input id="searchBox" type="text" class="form-control" placeholder="Search by Order ID or Brand">
                                                                    <span class="input-group-addon">
                                                                            <button id="searchBtn" type="button">
                                                                                    <span><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/search_small.png"></span>
                                                                            </button>
                                                                    </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-md-6 filter-prjtr" align="right">
                                                        <div class="filter-divider-table">
                                                            <div class="filter-divider-left">
                                                                <div class="form-group select-custom">
                                                                    <select class="form-control width-xs" id="transferOrderStatus">
                                                                        <option value="ALL" disabled selected>Filter by Status</option>
                                                                        <option value="ALL">All Statuses</option>
                                                                        <option value="DELIVERED">Completed</option>
                                                                        <option value="INSUFFICIENT_FUNDS">Insufficient Funds</option>
                                                                        <option value="PROCESSING">Processing</option>
                                                                        <option value="SCHEDULED">Scheduled </option>  
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                            <div id="orderListTable">
                                                <% include ../../../../template/section/spotlight/selectgifting/table/transfer-orders.ejs %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->

<!-- Modal details cheque transfer -->
<div class="modal fade" id="fundChequeTransferx" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sz-550 custom-modalbox " role="document">
            <div class="modal-content">
                <div class="modal-header">
                        <a href="/companies/<%- companyID %>/spotlight/selectgifting/newselectgifting">
                            <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </a>
                    <h4 id="acc_name" class="text-center">Add Funds to <strong></strong></h4>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body no-border pad-top-10 modal-inner-container">
                        <div class="row">
                            
                            <div class="col-xs-12 col-md-12 pd-left-zero ">
                                <h6 class="mg-top-zero"><span class="list-number-circle">1</span> <b id='addFundDetailsHdg'>Drop a cheque/transfer to Zeta’s Bank Account</b></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 pd-right-zero funding-account-block ">
                                <div id='acNameModalWrpr' class="row">
                                    <div class="col-xs-4 col-md-3">
                                        <div class="account-details">
                                            <p>A/c Name:</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="account-discription">
                                            <p id="ifiAccName">
                                                
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pad-top-8">
                                    <div class="col-xs-4 col-md-3">
                                        <div class="account-details">
                                            <p>A/c No:</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="account-discription">
                                            <p id='ifiAccNo'></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pad-top-8">
                                    <div class="col-xs-4 col-md-3">
                                        <div class="account-details">
                                            <p>Bank Name:</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="account-discription">
                                            <p id='ifiBankName'>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pad-top-8">
                                    <div class="col-xs-4 col-md-3">
                                        <div class="account-details">
                                            <p>Branch:</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="account-discription">
                                            <p id='ifiBankBranch'>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pad-top-8">
                                    <div class="col-xs-4 col-md-3">
                                        <div class="account-details">
                                            <p>IFSC Code:</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="account-discription">
                                            <p id='ifiIfscCode'>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row pad-top-20" id='addFundsBtnWrpr'>
                            <div class="col-xs-12 col-md-12 pd-left-zero ">
                                <h6 class="mg-top-zero pd-bottom-ten"><span class="list-number-circle">2</span> <b>After
                                making the payment</b></h6>
                                <div class="pd-left-forty">
                                    <p class="pad-top-4">Let us know the details of your cheque/transfer, by raising a fund addition request:</p>
                                </div>
                                <div class="flexible-button pd-left-forty pad-top-20">
                                    <button class="btn btn-default" type="button" name="" value="" id="routeToAddFund">Raise a fund addition request
                            </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal details cheque transfer End -->

        </div>
        <% include ../../../common/html-script %>
            <script>
                //for maintaining reupload status
                sessionStorage.setItem('reuploadStatus', false)
                sessionStorage.setItem('selectBrandStatus', true)
            </script>
            <script src="/dist/scripts/selectgiftHome.js"></script>
            <script src="/dist/scripts/downloadPdfInvoice.js"></script>
    </body>

    </html>