<% include ../../../common/html-head %>

<body>

    <input id="currentProductType" type="hidden">
    <input id="programId" type="hidden">
    <input id="fundingBlanc" type="hidden">

    <div class="wrapper">
        <% include ../../../common/header %>
        <!-- Container -->
        <div class="container-fluid sidebar-row">
            <div class="row">
                <% include ../../../common/sidebar %>
                <!-- Inner container -->
                <div class="inner-container">
                    <!-- Banner Start -->
                    <div class="top-section instagift-banner">
                        <div>
                            <!-- Breadcrumb -->
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <ul class="breadcrumb pd-tb-zero">
                                        <li><a href="/companies/<%- companyID %>/spotlight"><% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %>
                                                SpotGifting <%}else{ %>Zeta Spotlight <%} %> </a></li>
                                        <li><a
                                                href="/companies/<%- companyID %>/spotlight/selectgifting/newselectgifting">Brand
                                                Vouchers</a></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Breadcrumb End -->

                            <div class="row">
                                <div class="col-xs-8 col-md-8">
                                    <div class="page-heading">
                                        <h1 class="pd-top-ten pd-bottom-ten">Brand Vouchers </h1>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <div class="x-medium-button xTransparentBtn btn-right" align="right">
                                        <a id="new_gift_order" data-label="Order History"
                                            href="/companies/<%- companyID %>/spotlight/selectgifting/newselectgifting">
                                            <button class="btn" type="button">
                                                ORDER HISTORY
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Banner End -->

                    <!-- container -->
                    <div class="sub-container">
                        <div class="row">
                            <div class="col-xs-9 col-md-9">
                                <ul class='bulk-transfer-step-list'>
                                    <li id='chooseStep' class='active'>
                                        <div class='bulk-transfer-step-no'>1</div>
                                        <div id='chooseTxt' class='bulk-transfer-step-txt'>Choose</div>
                                    </li>
                                    <li id='uploadStep'>
                                        <div class='bulk-transfer-step-line'></div>
                                        <div class='bulk-transfer-step-no'>2</div>
                                        <div class='bulk-transfer-step-txt' style="margin-left: 7px;">Upload</div>
                                    </li>
                                    <li id='verifyStep'>
                                        <div class='bulk-transfer-step-line'></div>
                                        <div class='bulk-transfer-step-no'>3</div>
                                        <div class='bulk-transfer-step-txt' style="margin-left:  -2px;">Verify</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row" id="chooseShortcodeCntr" style="display:none">
                            <div class="col-xs-9 col-md-9 custom-box">
                                <div class="row new-custom-box">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="page-sub-heading-txt program-code-list-wrpr">
                                            <h6>POPULAR BRANDS</h6>
                                            <ul class='program-code-list chooseBrandsUl clearfix'>
                                                <% for(var i=0; i<products.length; i++) { %>
                                                <% if(products[i].isActive == true){ %>
                                                <% if(products[i].brandName.toLowerCase() === 'amazon' || products[i].brandName.toLowerCase() === "shopper's stop" || products[i].brandName.toLowerCase() === 'bookmyshow' || products[i].brandName.toLowerCase() === 'makemytrip' ) { %>
                                    <li class='clearfix chooseBrandsLi'>
                                        <span class="tooltip" style="opacity:1">
                                            <div data-brandname='<%= products[i].brandName %>' data-brandid="<%= products[i].productId %>"
                                                data-discount="<%= products[i].discount %>" data-iconurl="<%= products[i].productListPageLogo %>"
                                                data-logourl="<%= products[i].placeOrderPageLogo %>" data-purchasemin="<%= products[i].purchaseMinLimit %>"
                                                data-purchasemax="<%= products[i].purchaseMaxLimit %>" data-denomination="<%- products[i].denominations %>"
                                                data-purchasetype="<%- products[i].purchaseType %>"
                                                class='program-code-img-cntr program-code-img-box chooseBrandName'>
                                                <span class="active-icon"></span>
                                                <div class='program-code-align-center'>
                                                    <img class="brandImgSg" src='<%= products[i].productListPageLogo %>' />
                                                </div>
                                                <div class='program-code-align-center'>
                                                    <div class='program-code-hdg'>
                                                        <%= products[i].brandName %>
                                                    </div>
                                                    <div style="display:none" class='program-code-dtls'><span class='program-code-label'>Discount: </span>
                                                        <%= products[i].discount %>%
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="tooltiptext" style="opacity:1">
                                                <div class="tooltip-text_gift">
                                                    <ol class="tool-list-order">
                                                        <div>Any amount above ₹<%- products[i].purchaseMinLimit/100 %>
                                                            and below ₹<%- products[i].purchaseMaxLimit/100 %>
                                            </span>
                                            </div>
                                            <% if(products[i].denominations.length != 0) { %><div>
                                                Allowed deniminations: Any amount in denominations of <%- products[i].denominations.map(data=>{
                                                                                                                                        return '₹'+data/100;
                                                                                                                                    }) %>.</div>
                                            <% } %>
                                            <div>
                                                Partial Redemption:
                                                <%- products[i].isPartialRedemptionEnabled == true ? 'Allowed' : 'Disallowed' %>.
                                                <% if(products[i].partialRedemptionText != '') { %>
                                                <%= products[i].partialRedemptionText %>
                                                <% } %></div>
                                            <div>
                                                Valid Till:
                                                <%- products[i].validTill !== undefined ? products[i].validTill + ' Days' : '-' %>.
                                            </div>
                                            </ol>
                                            </div>
                                        </span>
                                        </span>
                                    </li>
                            <% } %>
                            <% } %>
                            <% } %>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row new-custom-box">
                    <div class="col-xs-12 col-md-12">
                        <div class="page-sub-heading-txt program-code-list-wrpr">
                            <div class="clearfix shopCateDv">
                                <div class="shopCateTxt">Shop by category</div>
                                <div class="shopCateSearch"><input id="searchBrand" type"text" onkeyup="myBrandFilter()"
                                        placeholder="Search for a brand" /></div>
                            </div>
                            <!--
                                                                        <div>
                                                                            <ul class="chooseCategory clearfix">
                                                                                <li class="active">all</li>
                                                                                <% for(var i=0; i< uniqueArray.length; i++) { %>
                                                                                            <li><%= uniqueArray[i] %></li>
                                                                                <% } %>          
                                                                            </ul>
                                                                        </div>  -->
                
                            <!-- <h5 class="">Tip: Can’t wait? Click to let us know which brand to add next:</h5> -->
                            <div class="moving-menu">
                                <div id="topMenu">
                                    <div id="box">
                                        <div class="scroller scroller-left"><svg style="width:10px;" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 551 1024" class="pn-Advancer_Icon">
                                                <path
                                                    d="M445.44 38.183L-2.53 512l447.97 473.817 85.857-81.173-409.6-433.23v81.172l409.6-433.23L445.44 38.18z">
                                                </path>
                                            </svg></div>
                                        <div class="scroller scroller-right"><svg style="width:10px;" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 551 1024" class="pn-Advancer_Icon">
                                                <path
                                                    d="M105.56 985.817L553.53 512 105.56 38.183l-85.857 81.173 409.6 433.23v-81.172l-409.6 433.23 85.856 81.174z">
                                                </path>
                                            </svg></div>
                
                                        <div class="wrapper">
                                            <div class="list chooseCategoryDiv">
                                                <div class="item active"><span>All</span></div>
                                                <% for(var i=0; i< uniqueArray.length; i++) { %>
                                                <div class="item"><span title="<%= uniqueArray[i] %>"><%= uniqueArray[i] %></span></div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                
                
                            </div>
                            <ul class='program-code-list chooseBrandsUl clearfix pad-top-10' id="brandFilter">
                
                                <% for(var i=0; i<products.length; i++) { %>
                                <% if(products[i].isActive == true){ %>
                                <li class='clearfix chooseBrandsLi' data-category="<%= products[i].productCategory %>"
                                    data-brandname='<%= products[i].brandName %>'>
                                    <span class="tooltip" style="opacity:1">
                                        <a href="javascript:void(0)" style="display:none"><%= products[i].brandName %></a>
                                        <span href="javascript:void(0)" style="display:none"><%= products[i].productCategory %></span>
                                        <!-- <div data-brandname='<%= products[i].brandName %>' data-brandid="<%= products[i].productId %>" data-iconurl="<%= products[i].productListPageLogo %>" data-logourl="<%= products[i].placeOrderPageLogo %>" 
                                                                                            class='program-code-img-box program-code-img-cntr cominSoonBrands'> -->
                                        <div data-brandname='<%= products[i].brandName %>'
                                            data-category="<%= products[i].productCategory %>"
                                            data-brandid="<%= products[i].productId %>" data-discount="<%= products[i].discount %>"
                                            data-iconurl="<%= products[i].productListPageLogo %>"
                                            data-logourl="<%= products[i].placeOrderPageLogo %>"
                                            data-purchasemin="<%= products[i].purchaseMinLimit %>"
                                            data-purchasemax="<%= products[i].purchaseMaxLimit %>"
                                            data-denomination="<%- products[i].denominations %>"
                                            data-purchasetype="<%= products[i].purchaseType %>"
                                            class='program-code-img-cntr program-code-img-box chooseBrandName'>
                                            <span class="active-icon"></span>
                                            <div class='program-code-align-center'>
                                                <img class="brandImgSg" src='<%= products[i].productListPageLogo %>' />
                                            </div>
                                            <div class='program-code-align-center'>
                                                <div class='program-code-hdg'>
                                                    <%= products[i].brandName %>
                                                </div>
                                                <div style="display:none" class='program-code-dtls'><span
                                                        class='program-code-label'>Discount: </span>
                                                    <%= products[i].discount %>%
                                                </div>
                                            </div>
                                        </div>
                                        <span class="tooltiptext" style="opacity:1">
                                            <div class="tooltip-text_gift">
                                                <ol class="tool-list-order">
                                                    <div>Any amount above ₹<%- products[i].purchaseMinLimit/100 %> and
                                                        below ₹<%- products[i].purchaseMaxLimit/100 %>
                                        </span>
                        </div>
                        <% if(products[i].denominations.length != 0) { %><div>
                            Allowed deniminations: Any amount in denominations of <%- products[i].denominations.map(data=>{
                                                                                                            return '₹'+data/100;
                                                                                                        }) %>.</div>
                        <% } %>
                        <div>
                            Partial Redemption:
                            <%- products[i].isPartialRedemptionEnabled == true ? 'Allowed' : 'Disallowed' %>.
                            <% if(products[i].partialRedemptionText != '') { %>
                            <%= products[i].partialRedemptionText %>
                            <% } %></div>
                        <div>
                            Valid Till:
                            <%- products[i].validTill !==  undefined ? products[i].validTill + ' Days' : '-' %>.
                        </div>
                        </ol>
                    </div>
                    </span>
                    </span>
                    </li>
                    <% } %>
                    <% } %>
                    </ul>
                
                </div>
                </div>
                </div>
    </div>
    <div class="col-xs-3 col-md-3">
        <!-- Right Panel -->
        <div class="panel-container">
            <div class="clearfix"
                style="border-radius: 4px;box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);background-color: #fff8ea;padding:20px 12px;margin-bottom:30px">
                <div style="float:left;width:30%;padding-right:10px;"><img style="width:50px;height:50px;"
                        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/discountsImageBrand.svg" />
                </div>
                <div style="float:left;width:70%;">
                    <span
                        style=" font-size: 12px;font-weight: 600;line-height: 1.5;color: #190f27;display:inline-block;width: 100%;margin-bottom: 8px;">Avail
                        attractive discounts</span><br>
                    <span
                        style=" opacity: 0.8;font-size: 12px;line-height: 18px;color: #190f27;display:inline-block;width: 100%;">Get
                        in touch with your Account Manager today to get discounts on select brands</span>
                </div>
            </div>
            <h6>Need help?</h6>
            <div class="straight-line mg-tb-less">&nbsp;</div>

            <div class="header-preview pd-top-ten pd-bottom-ten">
                <b>How does Brand Vouchers work?</b>
                <div>
                    <ul class='bulk-transfer-work-list'>
                        <li>Choose from popular brands</li>
                        <li>Upload file &amp; schedule order</li>
                        <li>Verify details &amp; create order</li>
                    </ul>
                    <p class="opcity-reduce">
                        Once created, we will send an email to your beneficiaries with your customized message and gift
                        voucher details.
                    </p>
                    <br>
                    <b>What does discount mean?</b>
                    <br>
                    <p class="opcity-reduce pd-bottom-ten">
                        Zeta provides you a discount on the total order value which varies based on the brand you
                        select.
                    </p>
                    <div><a href="#selectGiftLrnMre" data-programtype="SELECTGIFTING" data-toggle="modal"
                            style="font-weight:normal;" class="learn-more-dom">Learn
                            more</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="video-play-button" href="#"
                            data-toggle="modal" data-target="#videoModal"
                            data-theVideo="https://www.youtube.com/embed/uArTyjks75M" style="font-weight:normal;">Watch
                            video</a> </div>
                    <div class="straight-line mg-tb-less">&nbsp;</div>
                    <p class="opcity-reduce">Reach out to us on support@zeta.in or +91 80 66905995. We assure you of
                        quick service.</p><br>
                    <p class="opcity-reduce">You may also reach out to your Corporate Account Manager.</p><br>
                </div>
            </div>
        </div>
        <!-- Right Panel End -->
    </div>
    </div>
    <div class="row" id='verifyOrderCntr' style='display: none;'>
        <div class="col-xs-9 col-md-9 custom-box">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="page-sub-heading-txt program-code-list-wrpr">
                        <h3>Verify your order details</h3>
                        <div class='bulk-order-dtls-wrpr'>
                            <div class='bulk-order-dtls-hdg'>Order Summary</div>
                            <ul>
                                <li class="clearfix">
                                    <div class='bulk-order-lbl'>Brand</div>
                                    <div class='bulk-order-val'>
                                        <span id="brandLogo"></span>
                                        <p style="display:inline" id='brandId'></p>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class='bulk-order-lbl'>Total no. of beneficiaries</div>
                                    <div class='bulk-order-val' id='noOfBeneficiaries'></div>
                                </li>
                                <li class="clearfix">
                                    <div class='bulk-order-lbl'>Scheduled transfer date</div>
                                    <div class='bulk-order-val' id='scheduledTransferDate'></div>
                                </li>
                                <li class="clearfix">
                                    <div class='bulk-order-lbl'>Total gift value</div>
                                    <div class='bulk-order-val'><b class="ruppee">₹</b><span id='totalGiftValue'></span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class='bulk-order-lbl'>Discount @ <span id="discountProvided"></span>%</div>
                                    <div class='bulk-order-val'><b class="ruppee">₹</b><span
                                            id='discountProvidedValue'></span></div>
                                </li>
                                <li class="clearfix">
                                    <div class='bulk-order-lbl'><b>Total order amount</b></div>
                                    <div class='bulk-order-val'><b class="ruppee">₹</b><b><span
                                                id='totalAmount'></span></b></div>
                                </li>
                            </ul>
                        </div>

                        <p>Note: <br>
                            - To complete this order, add funds to the <abbr
                                title="A Funding A/c is similar to your Bank’s current account. They can fund one or more programs across all your companies. You can use them to transfer funds to your beneficiaries.">funding
                                account</abbr> named <b><span class="accName"></span></b> <a href="javascript:void(0)"
                                data-toggle="modal" data-target="#changeFundAccSg"
                                style="color: #4a90e2;font-weight: 800;text-decoration: underline;">(Change)</a> <br>
                            - Current balance in this funding a/c is <span class="numbers-font"><span
                                    class="ruppee">₹</span> <b><span class="accBalance"></span></b> </span><br>
                            - A proforma invoice will also be generated and you can add funds later
                        </p>
                        <br>
                        <div>
                            <div class="form-group left-align">
                                <div class="control-group">
                                    <label class="control control--checkbox terms">I agree to the <span
                                            class="termsNcon">Terms and Conditions.</span> I also understand that this
                                        order can be neither cancelled nor revoked.
                                        <input type="checkbox" id="createGiftCheckbox">
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="x-medium-button create-bulk-transfer-order program-code-next-btn">
                            <button id='createSelectGiftingOrder' data-fundingaccountid="" data-pgprogramid="" disabled
                                class="btn btn-default btn-disabled" type="button" style="width:unset">Create gift order
                                <img class="spinner-loader create-order-spinner" id="order-show-loader"
                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3">
            <!-- Right Panel -->
            <div class="panel-container">
                <div class="clearfix"
                    style="border-radius: 4px;box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);background-color: #fff8ea;padding:20px 12px;margin-bottom:30px">
                    <div style="float:left;width:30%;padding-right:10px;"><img style="width:50px;height:50px;"
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/discountsImageBrand.svg" />
                    </div>
                    <div style="float:left;width:70%;">
                        <span
                            style=" font-size: 12px;font-weight: 600;line-height: 1.5;color: #190f27;display:inline-block;width: 100%;margin-bottom: 8px;">Avail
                            attractive discounts</span><br>
                        <span
                            style=" opacity: 0.8;font-size: 12px;line-height: 18px;color: #190f27;display:inline-block;width: 100%;">Get
                            in touch with your Account Manager today to get discounts on select brands</span>
                    </div>
                </div>
                <h6>Need help?</h6>
                <div class="straight-line mg-tb-less">&nbsp;</div>

                <div class="header-preview pd-top-ten pd-bottom-ten">
                    <b>How does Brand Vouchers work?</b>
                    <div>
                        <ul class='bulk-transfer-work-list'>
                            <li>Choose from popular brands</li>
                            <li>Upload file &amp; schedule order</li>
                            <li>Verify details &amp; create order</li>
                        </ul>
                        <p class="opcity-reduce">
                            Once created, we will send an email to your beneficiaries with your customized message and
                            gift voucher details.
                        </p>
                        <br>
                        <b>What does discount mean?</b>
                        <br>
                        <p class="opcity-reduce pd-bottom-ten">
                            Zeta provides you a discount on the total order value which varies based on the brand you
                            select.
                        </p>
                        <div><a href="#selectGiftLrnMre" style="font-weight:normal;" data-programtype="SELECTGIFTING"
                                data-toggle="modal">Learn more</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
                                class="video-play-button" href="#" data-toggle="modal" style="font-weight:normal;"
                                data-target="#videoModal"
                                data-theVideo="https://www.youtube.com/embed/uArTyjks75M">Watch video</a></div>
                        <div class="straight-line mg-tb-less">&nbsp;</div>
                        <p class="opcity-reduce">Reach out to us on support@zeta.in or +91 80 66905995. We assure you of
                            quick service.</p><br>
                        <p class="opcity-reduce">You may also reach out to your Corporate Account Manager.</p><br>
                    </div>
                </div>
            </div>
            <!-- Right Panel End -->
        </div>
    </div>

    <!-- Error Details start-->

    <div class="row" id="fileErrorWrpr" style="display: none;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class='bulk-order-errors'>
                    <h3>Oops! We found some errors in your order file</h3>
                    <div class='file-details-wrpr clearfix'>
                        <div class='file-details-cntr'>
                            <img id='fileTypeImg' width="36" height="48"
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                                alt="fileType" />
                            <div class='file-details'>
                                <div id='fileName' class='file-name'></div>
                                <div class='file-status'>File uploaded</div>
                            </div>
                        </div>
                        <div class='bulk-report-wrpr'>
                            <a id='downloadSGReport' class='bulk-report-link' href=''>Download complete report</a>
                        </div>
                    </div>
                    <div class='error-row-hdr'>
                        <span class='bulk-invalid-icon'></span>
                        <span class='bulk-invalid-dtls'>
                            <span class='no-of-invalid-entries' id='noOfInvalidEntries'></span> invalid entries
                        </span>
                    </div>
                    <div id="errorSelectGiftingTransfers">
                        <% include ../../../tables/transfer-orders %>
                    </div>
                    <div class='error-page-btn-wrpr'>
                        <div class="x-medium-button pd-top-ten pd-bottom-ten upload-again">
                            <button class="btn btn-default" type="button" id="uploadAgain">Upload file again</button>
                        </div>
                        <!-- <span>OR</span> -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Error Details End-->

    <div class="row sguploadFile" id='uploadFileCntr' style='display: none;'>
        <!-- Upload File -->
        <div class="col-xs-9 col-md-9 custom-box">
            <div class="row ">
                <div class="col-xs-12 col-md-12">
                    <div class="page-sub-heading-txt bulk-upload-hdg-wrpr clearfix">
                        <h3>Upload beneficiary list & details</h3>
                        <img src="" class="brandLogoSg" />
                    </div>
                </div>
            </div>
            <!-- File Upload -->
            <input type="hidden" id="uploadDetails" value='<%- fileUploadDetails %>' name="uploadDetails">
            <div class="row">
                <div class="col-xs-12 col-md-12 file-main-container file-upload-custom__selectbrand">
                    <form action="<%- fileUploadUrl %>" id='dragDrop' class="dropzone bulk-upload-cnt-wrpr">
                        <div class="file-upload-container page-sub-heading dz-message">
                            <div class="dotted-line">
                                <div class="display-table file-upload-height">
                                    <div class="table-row">
                                        <div class="table-column">
                                            <img width="85" height="44" id="image_upload_preview"
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/files-icon.png"
                                                alt="your image" />
                                        </div>
                                    </div>
                                    <div class="table-row">
                                        <div class="table-column">
                                            <span class="file-upload-heading">Drag & Drop</span>
                                        </div>
                                    </div>
                                    <div class="table-row">
                                        <div class="table-column">
                                            <span class="or-font">OR</span>
                                        </div>
                                    </div>
                                    <div class="table-row">
                                        <div class="table-column">
                                            <form id="form1" runat="server">
                                                <div class="browse-wrap btn-disabled">
                                                    <div class="text-center">
                                                        <div class="upload-button"><strong>+</strong> Upload File
                                                        </div>
                                                    </div>

                                                    <div class="fallback">
                                                        <input class="upload" name="file" type="file" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <h6 class="denominationCont1" style="margin:30px 0 0 0;"><i>Allowed denominations:
                                            Any amount above &#8377;<span class="denominationMin"></span> and below
                                            &#8377;<span class="denominationMax"></span></i></h6>
                                    <h6 class="denominationCont" style="margin:30px 0 0 0;"><i>Allowed denominations:
                                            Any amount in denominations of &#8377; [<span class="denomination"></span>]
                                        </i></h6>
                                </div>

                            </div>
                        </div>


                        <div id="preview-template" style="display: none">
                            <div class="dz-preview dz-file-preview">
                                <div class="dotted-line">
                                    <div class="dz-details">
                                        <img class="fileType" src="" alt="xls">
                                        <div class="dz-filename"><span data-dz-name>payout.csv</span>
                                        </div>
                                        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span>
                                        </div>
                                        <div class="dz-error-message"><span data-dz-errormessage>Error uploading
                                                file</span></div>
                                        <!--<a class="removelink" href="javascript:void(0);">Change-->
                                        <!--File</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="info-brand-uploads">
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/c-info.svg" alt="" />
                        <span style="font-size: 11px;">Providing correct email/ phone number of the beneficiary is
                            corporate's responsibility</span>
                    </div>

                </div>
            </div>
            <!-- File Upload End -->

            <!-- Date Picker start -->
            <div class="row pd-top-fifty">
                <div class="col-xs-12 col-md-12">
                    <div class="form-group date-picker date-picker-width">
                        <label>Schedule a date to send the gift vouchers </label>
                        <div class="input-group">
                            <input type="text" class="form-control datepicker-img" id="scheduleTransferDate" readonly />
                            <!-- <span class="icon-transparent input-group-addon">
                                                                    <span><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/date.png"  alt="Zeta Date"/></span>
                                                                </span> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Date Picker End -->

            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="x-medium-button pd-top-ten pd-bottom-ten">
                        <button class="btn btn-default btn-disabled" type="button" name="" value="" disabled
                            id="create-order">NEXT</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3">
            <!-- Right Panel -->
            <div class="panel-container">
                <div class="clearfix"
                    style="border-radius: 4px;box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);background-color: #fff8ea;padding:20px 12px;margin-bottom:30px">
                    <div style="float:left;width:30%;padding-right:10px;"><img style="width:50px;height:50px;"
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/discountsImageBrand.svg" />
                    </div>
                    <div style="float:left;width:70%;">
                        <span
                            style=" font-size: 12px;font-weight: 600;line-height: 1.5;color: #190f27;display:inline-block;width: 100%;margin-bottom: 8px;">Avail
                            attractive discounts</span><br>
                        <span
                            style=" opacity: 0.8;font-size: 12px;line-height: 18px;color: #190f27;display:inline-block;width: 100%;">Get
                            in touch with your Account Manager today to get discounts on select brands</span>
                    </div>
                </div>
                <h6>Need help?</h6>
                <div class="straight-line mg-tb-less">&nbsp;</div>
                <p class="opcity-reduce">
                    You need to upload a file with the beneficiary name, email & amount in a CSV format.
                </p>
                <div class="header-preview pd-top-twenty pd-bottom-ten">
                    <b>Download samples</b>
                </div>
                <div class="download-img-list">
                    <% if(ifiBankName == 'HDFC' ) { %>
                    <a id='csvFile' href="/../../download-samples/SpotGifting-brand-voucher-sample.csv"><img
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png"
                            alt="SpotGifting sample file" /></a>
                    <a id='xlsFile' href="/../../download-samples/SpotGifting-brand-voucher-sample.xls"><img
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png"
                            alt="SpotGifting sample file" /></a>
                    <a id='xlsxFile' href="/../../download-samples/SpotGifting-brand-voucher-sample.xlsx"><img
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                            alt="SpotGifting sample file" /></a>
                    <% }else { %>
                    <a id='csvFile' href="/../../download-samples/spotlight-brand-voucher-sample.csv"><img
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png"
                            alt="Zeta icon" /></a>
                    <a id='xlsFile' href="/../../download-samples/spotlight-brand-voucher-sample.xls"><img
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png"
                            alt="Zeta icon" /></a>
                    <a id='xlsxFile' href="/../../download-samples/spotlight-brand-voucher-sample.xlsx"><img
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                            alt="Zeta icon" /></a>
                    <% } %>
                </div>
                <div class="header-preview pd-top-twenty pd-bottom-ten">
                    <b>Sample Preview</b>
                </div>
                <div class="preview-image-container">
                    <a href="#" data-featherlight="../../../../images/previews/digital-gift-preview.png">
                        <img id='previewImage' class="thumbnail img-responsive view-image"
                            src="../../../../images/previews/selectgift-order-preview.png" alt="Zeta Preview"
                            id="#mylightbox" />
                    </a>
                    <div class="image-preview">
                        <img data-toggle="modal"
                            data-featherlight="../../../../images/previews/digital-gift-preview.png"
                            class="search-image"
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                            alt="zeta search" />
                    </div>
                </div>
                <div class="straight-line mg-tb-less">&nbsp;</div>
                <div class="header-preview pd-top-ten">
                    <b>How does Brand Vouchers work?</b>
                </div>
                <div class="header-preview"><a href="#selectGiftLrnMre" data-programtype="SELECTGIFTING"
                        data-toggle="modal" style="text-decoration:underline">Learn
                        more</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a style="text-decoration:underline"
                        class="video-play-button" href="#" data-toggle="modal" data-target="#videoModal"
                        data-theVideo="https://www.youtube.com/embed/uArTyjks75M">Watch video</a></div>

                <!-- Right Panel End -->
            </div>
        </div>
    </div>

    <!-- container end -->


    </div>


    <!-- Inner container End -->
    </div>
    <!-- Container End -->
    </div>

    <!-- Modal New t&c -->
    <div class="modal fade" id="myModalBrandDetail" role="dialog" tabindex="-1">
        <div class="modal-dialog custom-modalbox " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <h4 class="text-center">Terms &amp; Conditions</h4>
                        <div class="content tandc"></div>
                    </div>
                    <div class="modal-footer">
                        <div class="flexible-button">
                            <button class="btn btn-default" id="chooseThisBrand" data-dismiss="modal" name=""
                                type="button" value="">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal New t&c End -->


    <!-- Modal Coming Soon RB -->
    <!-- <div class="modal fade" id="comingSoonBrandsPop" role="dialog" tabindex="-1">
                        <div class="modal-dialog custom-modalbox " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="custom-modal-body">
                                    <div class="modal-body">
                                        <div class="text-center" id="brandLogosSoon"></div>
                                        <div class="text-center comingSoonThankTxt">Thanks for letting us know your interest</div>
                                        <div class="text-center comingSoonTxt">We will let you know once we add <span id="brandNameSoon"></span> to our suite</div>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <div class="flexible-button">
                                            <button class="btn btn-default" data-dismiss="modal">Done</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
    <!-- Modal Coming Soon RB End -->


    <!-- Modal Loader  -->
    <div class="modal fade" id="createOrderModalLoader" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&nbsp;</span>
                    </button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img width="32"
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif"
                                alt="Zeta icon" /></div>
                        <h4 id="errorProcessingText" class="text-center pd-bottom-zero">Uploading file…. Please wait...
                        </h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Loader End  -->


    <!-- Modal Oops Transfer  -->
    <div class="modal fade" id="createBulkOrderModalOops" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png"
                                alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Error while processing the order file</h4>
                        <div class="modal-heading-pdtb" align="center">
                            <div class="heading-sub-text">Please check the file for errors or make sure you are
                                uploading the correct order file</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="flexible-button">
                            <button class="btn btn-default" type="button" name="" value="" id="retryBtn">Try
                                Again</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Oops Transfer End  -->


    <!-- Error Modal Oops Transfer  -->
    <div class="modal fade" id="createOrderModalSGOops" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png"
                                alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Error while processing the request.</h4>
                        <div class="modal-heading-pdtb" align="center">
                            <!-- <div class="heading-sub-text" id"errorText">Error while processing the request.</div> -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="flexible-button">
                            <button class="btn btn-default" data-dismiss="modal" type="button" name=""
                                value="">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Error Modal Oops Transfer End  -->


    <!-- Modal Loader success order  -->
    <div class="modal fade" id="createOrderModalShow" tabindex="-1" role="dialog" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&nbsp;</span>
                    </button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="page-sub-heading-txt program-code-list-wrpr text-center">
                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg"
                                alt="">
                            <h3>Order created successfully</h3>
                            <p class="createhideIt errorTextSG"><img
                                    src="../../../../images/spotlight/alert-redicon.svg" alt="">You don’t have enough
                                funds to fulfil this order</p>
                            <div class='bulk-order-dtls-wrpr'>
                                <div class='bulk-order-dtls-hdg'>Summary</div>
                                <ul>
                                    <li class="clearfix">
                                        <div class='bulk-order-lbl'>Order ID</div>
                                        <div class='bulk-order-val' id='createOrderId'></div>
                                    </li>
                                    <li class="clearfix">
                                        <div class='bulk-order-lbl'>Scheduled transfer date</div>
                                        <div class='bulk-order-val' id='createScheduleDate'></div>
                                    </li>
                                    <li class="clearfix createhideIt">
                                        <div class='bulk-order-lbl'>Funding account</div>
                                        <div class='bulk-order-val' id='createFundName'></div>
                                    </li>
                                    <li class="clearfix">
                                        <div class='bulk-order-lbl'>Total order amount</div>
                                        <div class='bulk-order-val'><b class="ruppee">₹</b><span
                                                id='createTotalOrderAmt'></span></div>
                                    </li>
                                    <li class="clearfix createhideIt">
                                        <div class='bulk-order-lbl'>Balance in funding account</div>
                                        <div class='bulk-order-val'><b class="ruppee">₹</b><span
                                                id='createFundBalance'></span></div>
                                    </li>
                                    <li class="clearfix createhideIt">
                                        <div class='bulk-order-lbl'>Amount to be added</div>
                                        <div class='bulk-order-val'><b class="ruppee">₹</b><span
                                                id='createFundTobAdded'></span></div>
                                    </li>
                                    <li class="clearfix createhideIt2">
                                        <div class='bulk-order-lbl'>Status</div>
                                        <div class='bulk-order-val'><span id='createStatus'><b>Processing</b></span>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                            <div class="x-medium-button create-bulk-transfer-order createhideIt2">
                                <a href="/companies/<%- companyID %>/spotlight/selectgifting/newselectgifting">
                                    <button class="btn btn-default" style="width:100%;" type="button">Done</button>
                                </a>
                            </div>

                            <div class="x-medium-button create-bulk-transfer-order createhideIt">
                                <button id='createOrderDone' data-fundingaccountids=""
                                    class="btn btn-default addFundsSG" type="button">Add Funds Now</button>
                            </div>
                            <a class="skipAddLater createhideIt"
                                href="/companies/<%- companyID %>/spotlight/selectgifting/newselectgifting">Skip & add
                                later</a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Loader success order End  -->

    <!-- Modal Loader  -->
    <div class="modal fade" id="selectGiftOrderLoader" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&nbsp;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img width="32"
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif"
                                alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Loader End  -->

    <!-- Modal Loader Error -->
    <div class="modal fade" id="selectGiftErrorLoader" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&nbsp;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img width="32"
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.svg"
                                alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Your Order has been created.</h4>
                        <h4 class="text-center pd-bottom-zero">Something went wrong while adding funds, Please try
                            adding fund from funding account.</h4>
                        <div class="x-medium-button create-bulk-transfer-order">
                            <a href="/companies/<%- companyID %>/spotlight/selectgifting/newselectgifting">
                                <button class="btn btn-default" style="width:100%;" type="button">Done</button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Loader Error End  -->
    <!-- Modal details cheque transfer -->
    <div class="modal fade" id="fundChequeTransferx" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sz-550 custom-modalbox " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="/companies/<%- companyID %>/spotlight/selectgifting/newselectgifting">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </a>
                    <h4 id="acc_name" class="text-center">Add Funds to <strong></strong></h4>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body no-border pad-top-10 modal-inner-container">
                        <div class="row">

                            <div class="col-xs-12 col-md-12 pd-left-zero ">
                                <h6 class="mg-top-zero"><span class="list-number-circle">1</span> <b
                                        id='addFundDetailsHdg'>Drop a cheque/transfer to Zeta’s Bank Account</b></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 pd-right-zero funding-account-block ">
                                <div id='acNameModalWrpr' class="row">
                                    <div class="col-xs-4 col-md-3">
                                        <div class="account-details">
                                            <p>A/c Name:</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="account-discription">
                                            <p id="ifiAccName">

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pad-top-8">
                                    <div class="col-xs-4 col-md-3">
                                        <div class="account-details">
                                            <p>A/c No:</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="account-discription">
                                            <p id='ifiAccNo'></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pad-top-8">
                                    <div class="col-xs-4 col-md-3">
                                        <div class="account-details">
                                            <p>Bank Name:</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="account-discription">
                                            <p id='ifiBankName'>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pad-top-8">
                                    <div class="col-xs-4 col-md-3">
                                        <div class="account-details">
                                            <p>Branch:</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="account-discription">
                                            <p id='ifiBankBranch'>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pad-top-8">
                                    <div class="col-xs-4 col-md-3">
                                        <div class="account-details">
                                            <p>IFSC Code:</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-md-9">
                                        <div class="account-discription">
                                            <p id='ifiIfscCode'>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row pad-top-20" id='addFundsBtnWrpr'>
                            <div class="col-xs-12 col-md-12 pd-left-zero ">
                                <h6 class="mg-top-zero pd-bottom-ten"><span class="list-number-circle">2</span> <b>After
                                        making the payment</b></h6>
                                <div class="pd-left-forty">
                                    <p class="pad-top-4">Let us know the details of your cheque/transfer, by raising a
                                        fund addition request:</p>
                                </div>
                                <div class="flexible-button pd-left-forty pad-top-20">
                                    <button class="btn btn-default" type="button" name="" value=""
                                        id="routeToAddFund">Raise a fund addition request
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal details cheque transfer End -->

    <!-- Modal Create Program -->
    <div class="modal fade" id="changeFundAccSg" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding-top: 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <h4 class="text-center pd-bottom-zero pd-top-zero">Funding account for Select Gifting
                            <div class="modalbox-form-section" style="text-align:left;font-size:14px;">
                                <form class="" id="programCreate">

                                    <div class="fundaccerror-state" id="showFundAccountError" style="display:none">
                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.svg"
                                            alt="">
                                        <span>
                                            Failed. Server Error. Please try again or later
                                        </span>
                                    </div>
                                    <div class="form-group mg-bottom-zero">
                                        <label for="recipient-name" class="control-label ">Select a funding a/c <span
                                                class="tooltip" style="opacity:1">
                                                <img class="subtitle sidebar-option-txt"
                                                    style="width:12px;cursor:pointer;opacity:1"
                                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-icon.svg"
                                                    alt="" />
                                                <span class="tooltiptext tooltiptext-benefits" style="opacity:1">A
                                                    Funding A/c is similar to your Bank’s current account. They can fund
                                                    one or more programs across all your companies. You can use them to
                                                    transfer funds to your beneficiaries.</span>
                                            </span>
                                        </label>
                                        <div class="form-group select-custom" align="right">
                                            <select id='fundingAccountID' class="form-control width-xs input-lg">
                                                <option value='0'>Select</option>
                                                <option value='createNew'>Create New</option>
                                                <% for(var currIndex=0; currIndex< fundingAccountDetails.fundingAccounts.length; currIndex++) {%>
                                                <option
                                                    value='<%- fundingAccountDetails.fundingAccounts[currIndex].accountID %>'
                                                    data-name="<%- fundingAccountDetails.fundingAccounts[currIndex].name %>"
                                                    data-balance="<%- fundingAccountDetails.fundingAccounts[currIndex].balance.value / 100 %>">
                                                    <%- fundingAccountDetails.fundingAccounts[currIndex].name %> -
                                                    ₹<%- fundingAccountDetails.fundingAccounts[currIndex].balance / 100 %>
                                                </option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" id="shownewfundingaccname" style="display:none">
                                        <label for="fundingaccname" class="control-label">Enter funding a/c name</label>
                                        <div class="form-group select-custom">
                                            <input id='newfundingaccname' maxlength="40" type='text'
                                                class="form-control width-xs" />
                                            <span align="left" style="color:red;display:none"
                                                id="showfundingAccDuplicate">Funding account name already exists</span>
                                        </div>
                                    </div>

                                </form>
                            </div>
                    </div>
                    <div class="modal-footer" style="padding:0px">
                        <div class="flexible-button">
                            <button disabled class="btn btn-default btn-disabled" type="button" id="changeAccSG">Change
                                Account</button>
                            <button disabled class="btn btn-default btn-disabled" type="button" id="setAccSG"
                                style="display:none">Set funding account</button>
                            <img class="create-program-loader" id="createProgramLoader"
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Create Program End -->

    <!-- Modal Box Fund Account Change success -->
    <div class="modal fade" id="changeFundAccProgramSuccess" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding-top: 25px;">
                    <button type="button" id="close_Me" class="close" data-dismiss="modal" aria-label="Close">
                        <!-- <span aria-hidden="true">&times;</span> -->
                    </button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center">
                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/success-icon.svg"
                                alt="Zeta icon" />
                        </div>
                        <div class="text-center pd-top-fifteen pd-bottom-zero">The funding a/c for <strong> Select
                                Gifting </strong> program has been changed to the a/c <strong
                                id="changedFundAccountName">Better World Technology Pvt. Ltd.</strong>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding-top: 10px;">
                        <div class="flexible-button">
                            <a id="viewProgramBtnSuccess" href=''>
                                <button class="btn btn-default" data-dismiss="modal" type="button">DONE</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Box Fund Account Change success End -->
    <!-- learn more select gifting start-->
    <div class="modal fade" id="selectGiftLrnMre" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox custom-modalbox-new" role="document">
            <div class="modal-content" style="margin-bottom: 20px;">
                <div class="modal-header" style="padding-top: 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 ">
                            <div class="select-gift-head">
                                <div class="mainSgImg"><img
                                        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/select-gifting.png">
                                </div>
                                <h4>Great for issuing digital gift cards from a <br>wide-selection of brands</h4>
                                <div class="row select-gift-body">
                                    <div class="col-md-4 col-xs-12">
                                        <div><img src="../../../../images/spotlight/wdRange.svg" /></div>
                                        <p class="heading">Wide-range of Brands</p>
                                        <p>Select from a variety of popular brands across various categories.</p>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div><img src="../../../../images/spotlight/getDcnt.svg" /></div>
                                        <p class="heading">Get Discount</p>
                                        <p>Save money by getting 1% discount on your total order value.</p>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div><img src="../../../../images/spotlight/instDis.svg" /></div>
                                        <p class="heading">Instant Disbursal</p>
                                        <p>Instantly distribute vouchers in bulk on email</p>
                                    </div>
                                </div>

                                <div class="row select-gift-body mg-top-twenty">
                                    <div class="col-md-4 col-xs-12">
                                        <div><img src="../../../../images/spotlight/easyRed.svg" /></div>
                                        <p class="heading">Easy Redemption</p>
                                        <p>Beneficiaries can redeem vouchers in just 1-click.</p>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div><img src="../../../../images/spotlight/noLogic.svg" /></div>
                                        <p class="heading">No Logistics/Inventory</p>
                                        <p>Go green. Go digital. Enjoy peace of mind.</p>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div><img src="../../../../images/spotlight/corSprt.svg" /></div>
                                        <p class="heading">Corporate Support</p>
                                        <p>Relationship managers across major cities & 24/7 call and chat support.</p>
                                    </div>
                                </div>
                                <p class="border-bottom"></p>
                                <h4>Get started in 3 easy steps</h4>
                                <div class="row select-gift-body">
                                    <div class="col-md-4 col-xs-12">
                                        <div><img src="../../../../images/spotlight/verify.svg" /></div>
                                        <div class="numbering"><span>1</span></div>
                                        <p class="heading">Choose from popular brands</p>
                                        <p>Your gift, their choice. Select the gift vouchers from one of the popular
                                            brands at attractive discounts.</p>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div><img src="../../../../images/spotlight/upload-schedule.svg" /></div>
                                        <div class="numbering"><span>2</span></div>
                                        <p class="heading">Upload & schedule</p>
                                        <p>Upload details of beneficiaries to whom you want to send the gift. You may
                                            also schedule it for later.</p>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div><img src="../../../../images/spotlight/choose.svg" /></div>
                                        <div class="numbering"><span>3</span></div>
                                        <p class="heading">Verify & create order</p>
                                        <p>Once your order is created, we will send an email to your beneficiaries with
                                            the gift voucher details.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- learn more select gifting end-->
    <!-- watch video select gifting start-->
    <div class="modal fade signup--video--modal--block in" id="videoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <div>
                        <iframe width="100%" height="500" src="" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- watch video select gifting end-->

    <% include ../../../common/html-script %>

    <script src="/dist/scripts/selectgiftHome.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.chooseCategoryDiv').on('click', 'span', function () {
                $('.chooseCategoryDiv div').removeClass('active');
                $(this).parent().addClass('active');
                let input, filter, ul, li, a, i;
                filter = $(this).html().toUpperCase();
                ul = document.getElementById("brandFilter");
                li = ul.getElementsByTagName("li");
                if (filter != 'ALL') {
                    for (i = 0; i < li.length; i++) {
                        a = li[i].getElementsByTagName("span")[0];
                        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            li[i].style.display = "";
                            li[i].removeAttribute('displayx');
                        } else {
                            li[i].style.display = "none";
                            var att = document.createAttribute("displayx");
                            att.value = "none";
                            li[i].setAttributeNode(att);

                        }
                    }
                }
                else {
                    for (i = 0; i < li.length; i++) {
                        li[i].style.display = "block";
                        li[i].removeAttribute('displayx');
                    }
                }

            });

            //brand scroller
            var hidWidth;
            var scrollBarWidths = 10;

            var widthOfList = function () {
                var itemsWidth = 0;
                $('.item').each(function () {
                    var itemWidth = $(this).outerWidth();
                    itemsWidth += itemWidth;
                });
                return itemsWidth;
            };

            var widthOfHidden = function () {
                return (($('.wrapper').outerWidth()) - widthOfList() - getLeftPosi()) - scrollBarWidths;
            };

            var getLeftPosi = function () {
                return $('.item:first-child').position().left;
                // return $('.list').position().left;
            };

            var reAdjust = function () {
                if (($('.wrapper').outerWidth()) < widthOfList()) {
                    $('.scroller-right').show();
                }
                else {
                    // $('.scroller-right').hide();
                    var leftPos = $('.item:first-child').position().left;
                    $('.item').animate({ left: "-=" + leftPos + "px" }, 'slow');

                }

                if (getLeftPosi() < 0) {
                    $('.scroller-left').show();
                }
                else {
                    $('.item').animate({ left: "-=" + getLeftPosi() + "px" }, 'slow');
                    // $('.scroller-left').hide();
                }
            }

            var reLeftAdjust = function () {
                if (($('.wrapper').outerWidth()) < widthOfList()) {
                    $('.scroller-right').show();
                }
                else {
                    // $('.scroller-right').hide();
                    var leftPos = $('.item:first-child').position().left;
                    $('.item').animate({ left: "+=" + leftPos + "px" }, 'slow');

                }

                if (getLeftPosi() < 0) {
                    $('.scroller-left').show();
                }
                else {
                    $('.item').animate({ left: "-=" + getLeftPosi() + "px" }, 'slow');
                    // $('.scroller-left').hide();
                }
            }

            reAdjust();

            $(window).on('resize', function (e) {
                reAdjust();
            });

            $('.scroller-right').click(function () {

                $('.scroller-left').fadeIn('slow');
                $('.scroller-right').fadeOut('slow');

                $('.list').animate({ left: "+=" + widthOfHidden() + "px" }, 'slow', function () {
                    reAdjust();
                });
            });

            $('.scroller-left').click(function () {
                $('.chooseCategoryDiv').animate({ left: "-00px" }, 'slow');
                $('.scroller-left').fadeOut('slow');
                $('.scroller-right').fadeIn('slow');
            });
        });

        function myBrandFilter() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("searchBrand");
            filter = input.value.toUpperCase();
            ul = document.getElementById("brandFilter");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1 && !a.parentElement.hasAttribute("displayx")) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        };

        function autoPlayYouTubeModal() {
            var trigger = $("body").find('[data-toggle="modal"]');
            trigger.click(function () {
                var theModal = $(this).data("target"),
                    videoSRC = $(this).attr("data-theVideo"),
                    videoSRCauto = videoSRC + "?autoplay=1";
                $(theModal + ' iframe').attr('src', videoSRCauto);
                console.log('1')
                $(theModal + ' button.close').click(function () {
                    console.log('hi')
                    $(theModal + ' iframe').attr('src', videoSRC);
                });
                $("#videoModal").click(function () {
                    $(theModal + ' iframe').attr('src', videoSRC);
                });
                $(document).on('keyup', function (e) {
                    if (e.which == 27) {
                        $('#videoModal iframe').attr('src', videoSRC);
                    }
                });
            });
        }
        autoPlayYouTubeModal();
    </script>

</body>

</html>