<% include ../../../common/html-head %>

    <body>
            
        <input id="currentProductType" type="hidden">
        <input id="programId" type="hidden">

        <div class="wrapper">
            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <!-- Banner Start -->
                                <div class="top-section instagift-banner">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <li><a href="/companies/<%- companyID %>/spotlight"><% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %>Zeta Spotlight <%} %> </a></li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Breadcrumb End -->

                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="page-heading">
                                                    <h1 class="pd-top-ten pd-bottom-ten">Select Gifting</h1>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Banner End -->

                                <div class="sub-container">
                                    <!-- <script>console.log(sgOrderList)</script> -->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 ">
                                            <div class="pd-top pd-b-20 select-gift-head">
                                                <h3>Create your first gift order</h3>
                                                <p class="border-bottom">Motivate &amp; reward your employees by gifting in a simple, cost-effective and scalable way.</p>
                                                <h6>How it works?</h6>
                                                <div class="row select-gift-body">
                                                    <div class="col-md-4 col-xs-12">
                                                        <div><img src="../../../../images/spotlight/verify.svg" /></div>
                                                        <p class="heading">1. Choose from popular brands</p>
                                                        <p>Your gift, their choice. Select the gift vouchers from one of the popular brands.</p>
                                                    </div>
                                                    <div class="col-md-4 col-xs-12">
                                                        <div><img src="../../../../images/spotlight/upload-schedule.svg" /></div>
                                                        <p class="heading">2. Upload & schedule</p>
                                                        <p>Upload details of beneficiaries to whom you want to send the gift. You may also schedule it for later.</p>
                                                    </div>
                                                    <div class="col-md-4 col-xs-12">
                                                        <div><img src="../../../../images/spotlight/choose.svg" /></div>
                                                        <p class="heading">3. Verify & create order</p>
                                                        <p>Once your order is created, we will send an email to your beneficiaries with the details of your gift.</p>
                                                    </div>
                                                </div>
                                                <div class="x-medium-button">
                                                    <a href="/companies/<%- companyID %>/spotlight/selectgifting/newgiftorder">
                                                        <button class="btn" type="button">
                                                            NEW GIFT ORDER
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <% include ../../../common/html-script %>
        <script>
            //for maintaining reupload status
            sessionStorage.setItem('reuploadStatus', false);
            sessionStorage.setItem('selectBrandStatus', true);
        </script>

        <script src="/dist/scripts/selectgiftHome.js"></script>
        
    </body>

    </html>