$sodexo-primary: #273895;
$sodexo-vn-btn: #FF0000;

.sodexo {
    .header-container {
        .help-info-dropdown {
            font-size: 13px; 
            font-weight: 400;
            line-height: 1.36;
            letter-spacing: .5px;
            color: #000;
            margin: 5px 0;
            .dropdown-list {
                padding: 10px;
                border:none;
                .left {
                    margin-right: 10px;
                    float: left;
                }
                .right {
                    text-align: left;
                    width: 80%;
                    float: right;
                }
                .title {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.38;
                    letter-spacing: .1px;
                    color: #000;
                    margin: 0;
                }
                .mailToLink {
                    background: $sodexo-primary;
                    border-radius: 2px;
                    font-size: 12px;
                    color: #fff !important;
                    padding: 5px 10px;
                    border: none;
                    cursor: pointer;
                    outline: 0;
                    opacity: 1;
                    &:hover {
                        color: #fff !important;
                        background-color:  $sodexo-primary !important;
                        text-decoration: none;
                    }
                }
            }
            
        }
    }
    .sidebar-container {
        .companyListSec {
            margin: 15px 0;
            .navbar-Company {
                background-color: $sodexo-primary;
            }
        }
        .openProgList{
            border-left: 2px solid #FFFFFF;
        }
    }
    .inner-container {
        .banner-background,
        .banner-section,
        .gradient-indigo-blue,
        .gradient-indigo-blue-reverse   {
            background: $sodexo-primary;
            .learn-more-link {
                display: none;
            }
        }
    }
    .x-medium-button,
    .flexible-button  {
        button, a {
            background-color: $sodexo-vn-btn;
            &:hover,
            &:focus,
            &:active,
            &:visited {
                background-color: $sodexo-vn-btn;
            }
        }
    }
    :disabled {
        background: #ddd;
        color: #7B7682;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            background-color: #ddd;
            color: #7B7682;
        }
    }
    .large-button {
        .btn-bg-color {
            background-color: $sodexo-vn-btn;
        }
    }
    
    .upload-button { 
        background-color: $sodexo-vn-btn;
    }

    .tab-content {
        .cards-height {
            min-height: 220px;
        }
    }

    .corp-details-top-hdr {
        background: $sodexo-primary;
        background: -moz-linear-gradient(top, $sodexo-primary 0%, $sodexo-primary 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $sodexo-primary), color-stop(100%, $sodexo-primary));
        background: -webkit-linear-gradient(top, $sodexo-primary 0%, $sodexo-primary 100%);
        background: -o-linear-gradient(top, $sodexo-primary 0%, $sodexo-primary 100%);
        background: -ms-linear-gradient(top, $sodexo-primary 0%, $sodexo-primary 100%);
        background: linear-gradient(to bottom, $sodexo-primary 0%, $sodexo-primary 100%);
        .hr-image {
            background-image: url(/images/sodexo-hr-signup.png);
        }
    }
    
    .report-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 5px;
        background-color: #fff;
        margin: 30px;
    }

    // .tabs-nav-container {
    //     li {
    //         a {
    //             color: $sodexo-primary;
    //         }
    //     }
    // }
}


