<!-- Banner -->
    <div class="banner-section gradient-red-violet-reverse">
    <div class="row row-to-table">
        <div class="col-xs-7 col-md-7 float-to-column">
            <div class="page-heading">
                <h1>Bulk Actions</h1>
                <p class="mg-bottom-zero">
                    <span class="document-quote-text">Reduce time & increase your efficiency by using bulk actions for all your repetitive tasks, such as, transfer orders, close cards, etc.</span>
                    <a class="learn-more-link learn-more-size underline-text" target="_blank" href="https://docs.zetaapps.in/display/OND/Bulk+Actions">Learn more</a>
                </p>
            </div>
        </div>
        <div class="col-xs-5 col-md-5 float-to-column position-relative" align="right">
            <div class="banner-image-pos"></div>
        </div>
    </div>
    </div>
<!-- Banner End -->