<% include ../../common/html-head %>

<body>
<div class="wrapper">
    <% include ../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">

        <div class="row">
            <% include ../../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container">
                <% include banner %>
                  <div class="top-section">
                      <div class="row">
                        <!-- Page Heading and List -->
                        <div class="col-xs-12 col-md-12">
                            <!-- Cards -->
                              <div class="cards-row manage-panel clearfix">
                                <div class="bulk-action-card">
                                    <div class="thumbnail cards-container">
                                        <div class="card-image-part" align="center">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/bulk-icon.png" alt="Zeta image" />
                                        </div>
                                        <div class="caption card-text-part">
                                            <div class="admin-heading-txt">Bulk Transfer Orders</div>
                                            <div class="page-sub-heading">
                                                <p>Create and upload only a single order file for a program across all your companies</p>
                                            </div>
                                            <div class="x-medium-button bulk-card-action-btn">
                                                <a href='/bulk-action/new-transfer'>
                                                    <button id='createBulkOrder' class="btn" type="button">+ Create Order</button>
                                                </a>
                                            </div>
                                            <a class='bulk-orders-link' href='/bulk-action/orders'>View all orders</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bulk-action-card">
                                    <div class="thumbnail cards-container">
                                        <div class="card-image-part" align="center">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/bulk-close-orders.png" alt="Zeta image" />
                                        </div>
                                        <div class="caption card-text-part">
                                            <div class="admin-heading-txt">Bulk Close Cards</div>
                                            <div class="page-sub-heading">
                                                <p>Close one or multiple cards of your beneficiaries</p>
                                            </div>
                                            <div class="x-medium-button bulk-card-action-btn">
                                                <a href='/bulk-close/new-transfer'>
                                                    <button class="btn" type="button">+ Create Order</button>
                                                </a>
                                            </div>
                                            <a class='bulk-orders-link' href='#'>View all</a>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            <!-- Cards End -->
                        </div>
                        <!-- Page Heading and List End -->
                    </div>
                </div>
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>
<% include ../../common/html-script %>
<script src="../dist/scripts/admin.js"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>

</html>
