<% include ../../common/html-head %>
<body>
    <div class="wrapper">
        <% include ../../common/header %>
        <!-- Container -->
        <div class="container-fluid sidebar-row">
            <div class="row">
                <% include ../../common/sidebar %>
                <!-- Inner container -->
                <div class="inner-container">
                    <!-- Banner Start -->
                    <div class="banner-section gradient-red-violet-reverse">
                        <div>
                            <!-- Breadcrumb -->
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <ul class="breadcrumb pd-tb-zero">
                                        <li><a href="/bulk-action">Bulk Actions</a></li>
                                        <li class='active'>
                                            <a href="/bulk-action/orders">Bulk Transfer Orders</a>
                                        </li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Breadcrumb End -->
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <div class="page-heading">
                                        <h1 class="pd-top-ten pd-bottom-ten">Bulk Transfer Order ID: <span id='bulkOrderID'></span></h1>
                                        <div class='bulk-order-status'>Status: <span id='bulkTransferOrderStatus'></span></div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="user-profile-list">
                                        <div class="user-list-column">

                                            <ul class="list-unstyled mg-bottom-zero employee-status">
                                                <li class="clearfix">
                                                    <div class="employee-label">
                                                        <small>Schedule Date: </small>
                                                    </div>
                                                    <div class="user-discription-column label-details" id='scheduleDate'></div>
                                                </li>
                                                <li class="clearfix">
                                                    <div class="employee-label">
                                                        <small>Total beneficiaries: </small>
                                                        </div>
                                                    <div class="user-discription-column label-details" id='totalBeneficiaries'></div>
                                                </li>
                                                <li class="clearfix">
                                                    <div class="employee-label">
                                                        <small>Total amount: </small>
                                                        </div>
                                                    <div class="user-discription-column label-details"><span class="ruppee">₹</span><span id='totalAmount'></span></div>
                                                </li>
                                                <li class="clearfix">
                                                    <div class="employee-label">
                                                        <small>Program code: </small>
                                                        </div>
                                                    <div class="user-discription-column label-details" id='programCode'></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Banner End -->
                    <div class="sub-container">
                        <div class="row">
                            <% include individual-transfer-orders %>
                        </div>
                    </div>
                </div>
                <!-- Inner container End -->
            </div>
        </div>
        <!-- Container End -->
    </div>
    <% include ../../common/html-script %>
    <script src="/dist/scripts/individualBulkOrders.js"></script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
</body>
</html>
