<% include ../../common/html-head %>

    <body>
        <div class="wrapper">
            <% include ../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <!-- Banner Start -->
                                <div class="top-section gradient-red-violet-reverse">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero">
                                                        <li><a href="/bulk-action">Bulk Actions</a></li>
                                                    <li><a href="/bulk-close/orders">&nbsp;Bulk Close Cards</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Breadcrumb End -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="page-heading">
                                                    <h1 class="pd-top-ten pd-bottom-ten">New Bulk Close Card Request</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="sub-container">
                                    <!-- <div class="row">
                                        <div class="col-xs-9 col-md-9 bulk_close_steps">
                                            <ul class='bulk-transfer-step-list'>
                                                <li id='uploadStep' class="active">
                                                    <div class='bulk-transfer-step-no'>1</div>
                                                    <div class='bulk-transfer-step-txt'>Upload</div>
                                                </li>
                                                <li id='verifyStep'>
                                                    <div class='bulk-transfer-step-line'></div>
                                                    <div class='bulk-transfer-step-no'>2</div>
                                                    <div class='bulk-transfer-step-txt'>Verify</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> -->
                                    <div class="row" id='verifyOrderCntr' style='display: none;'>
                                        <div class="col-xs-9 col-md-9 custom-box">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="page-sub-heading-txt program-code-list-wrpr">
                                                        <h3>Verify your order</h3>
                                                        <div class='bulk-order-dtls-wrpr'>
                                                            <div class='bulk-order-dtls-hdg'>Bulk Order Summary</div>
                                                            <ul>
                                                                <li class="clearfix">
                                                                    <div class='bulk-order-lbl'>Program code</div>
                                                                    <div class='bulk-order-val' id='programCode'>MEAL</div>
                                                                </li>
                                                                <li class="clearfix">
                                                                    <div class='bulk-order-lbl'>Program type</div>
                                                                    <div class='bulk-order-val' id='programType'>Meal Vouchers</div>
                                                                </li>
                                                                <li class="clearfix">
                                                                    <div class='bulk-order-lbl'>Scheduled transfer date</div>
                                                                    <div class='bulk-order-val' id='scheduledTransferDate'>Wednesday, 25 Apr 2017</div>
                                                                </li>
                                                                <li class="clearfix">
                                                                    <div class='bulk-order-lbl'>Purchase order number</div>
                                                                    <div class='bulk-order-val' id='purchaseOrderNumber'>-</div>
                                                                </li>
                                                                <li class="clearfix">
                                                                    <div class='bulk-order-lbl'>Total no. of beneficiaries</div>
                                                                    <div class='bulk-order-val' id='noOfBeneficiaries'>12,300</div>
                                                                </li>
                                                                <li class="clearfix">
                                                                    <div class='bulk-order-lbl'>Total amount</div>
                                                                    <div class='bulk-order-val'><b class="ruppee">₹</b><span id='totalAmount'>1,000</span></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="x-medium-button create-bulk-transfer-order">
                                                            <button id='createBulkTransferOrder' class="btn btn-default" type="button">Create Bulk Transfer Order</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                            <!-- Right Panel -->
                                            <div class="panel-container">
                                                <h6>Important note</h6>
                                                <div class="straight-line mg-tb-less">&nbsp;</div>
                                                <p class="opcity-reduce">
                                                    Once created, we will process and split the bulk order file into multiple individual transfer orders per company.
                                                </p>
                                                <p class="opcity-reduce">
                                                    Also, a proforma invoice will be generated for each of these individual transfer orders.
                                                </p>
                                            </div>
                                            <!-- Right Panel End -->
                                        </div>
                                    </div>
                                    <div class="row" id='fileErrorWrpr' style='display: none;'>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <div class='bulk-order-errors'>
                                                    <h3>Oops! We found some errors in the bulk order file</h3>
                                                    <div class='file-details-wrpr'>
                                                        <img id='fileTypeImg' width="36" height="48" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png" alt="fileType" />
                                                        <div class='file-details'>
                                                            <div id='fileName' class='file-name'>meal-vouchers_may_15_part1.xlsx</div>
                                                            <div class='file-status'>File uploaded</div>
                                                        </div>
                                                    </div>
                                                    <div class='error-row-hdr'>
                                                        <span class='bulk-invalid-icon'></span>
                                                        <span class='bulk-invalid-dtls'>
                                                <span class='no-of-invalid-entries' id='noOfInvalidEntries'></span> invalid entries
                                                        </span>
                                                    </div>
                                                    <div id="errorBulkTransfers">
                                                        <% include ../../tables/transfer-orders %>
                                                    </div>
                                                    <div class='error-page-btn-wrpr'>
                                                        <div class="x-medium-button pd-top-ten pd-bottom-ten upload-again">
                                                            <button class="btn btn-default" type="button" id="uploadAgain">Upload file again</button>
                                                        </div>
                                                        <span class="hideWhenNoValid">OR</span>
                                                        <div class="x-medium-button pd-top-ten pd-bottom-ten continue-valid hideWhenNoValid">
                                                            <button class="btn btn-default" type="button" id="continueValid">Continue with valid entries only</button>
                                                            <!-- Tooltip Content  -->
                                                            <div class="bulk-order-tp">
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-md-12">Note: All invalid entries will be discarded.</div>
                                                                </div>
                                                            </div>
                                                            <!-- Tooltip Content End -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id='uploadFileCntr'>
                                        <!-- Upload File -->
                                        <div class="col-xs-9 col-md-9 custom-box">
                                            <div class="form-group bulk_close-heading">
                                                    <label class="opacity-seven">Company</label>
                                                    <div class="form-group select-custom bulk-close-company-drpdown" align="left">
                                                        <select id='companies' class="form-control width-xs">
                                                            <option value='0'>Select</option>
                                                            <% for(var currIndex=0; currIndex<companies.length; currIndex++) {%>
                                                                <option value='<%- companies[currIndex].company.companyID %>'><%- companies[currIndex].company.companyName %></option>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="page-sub-heading-txt bulk-upload-hdg-wrpr">
                                                        <p>Upload a file with beneficiary list</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- File Upload -->
                                            <input type="hidden" id="uploadDetails" value='<%- fileUploadDetails %>' name="uploadDetails">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12 file-main-container">
                                                    <form action="<%- fileUploadUrl %>" id='dragDrop' class="dropzone bulk-upload-cnt-wrpr">
                                                        <div class="file-upload-container page-sub-heading dz-message">
                                                            <div class="dotted-line">
                                                                <div class="display-table file-upload-height">
                                                                    <div class="table-row">
                                                                        <div class="table-column">
                                                                            <img width="85" height="44" id="image_upload_preview" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/files-icon.png" alt="your image" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="table-row">
                                                                        <div class="table-column">
                                                                            <span class="file-upload-heading">Drag & Drop</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="table-row">
                                                                        <div class="table-column">
                                                                            <span class="or-font">OR</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="table-row">
                                                                        <div class="table-column">
                                                                            <form id="form1" runat="server">
                                                                                <div class="browse-wrap btn-disabled">
                                                                                    <div class="text-center">
                                                                                        <div class="upload-button"><strong>+</strong> Upload File
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="fallback">
                                                                                        <input class="upload" name="file" type="file" />
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="preview-template" style="display: none">
                                                            <div class="dz-preview dz-file-preview">
                                                                <div class="dotted-line">
                                                                    <div class="dz-details">
                                                                        <img class="fileType" src="" alt="xls">
                                                                        <div class="dz-filename"><span data-dz-name>payout.csv</span>
                                                                        </div>
                                                                        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span>
                                                                        </div>
                                                                        <div class="dz-error-message"><span data-dz-errormessage>Error uploading file</span></div>
                                                                        <!--<a class="removelink" href="javascript:void(0);">Change-->
                                                                        <!--File</a>-->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- File Upload End -->
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <div>Note:</div>
                                                    <ul class='bulk-close-note-list'>
                                                        <li>Once a request is created, we will attempt to close all the active cards of the beneficiaries mentioned in the file.</li>
                                                        <li>The remaining balance in the beneficiary’s card will be moved to their cash card. If the amount is not yet claimed by the user, it will be transferred back to your funding account.</li>
                                                        <li>After your request is processed successfully, you will be able to download the complete report from “bulk close cards” page.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="form-group left-align">
                                                <div class="control-group">
                                                    <label class="control control--checkbox terms">I understand that this action <span class="highlighted-txt">cannot be undone</span> &amp; would like to proceed
                                            <input type="checkbox" id="termsConditions">
                                            <div class="control__indicator"></div>
                                        </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="x-medium-button pd-top-ten pd-bottom-ten">
                                                        <button class="btn btn-default btn-disabled" type="button" name="" value="" disabled id="create-order">CREATE BULK CLOSE CARD REQUEST</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                            <!-- Right Panel -->
                                            <div class="panel-container">
                                                <h6>Need help?</h6>
                                                <div class="straight-line mg-tb-less">&nbsp;</div>
                                                <p class="opcity-reduce">
                                                    Upload a file with the beneficiary email/mobile in CSV format.
                                                </p>
                                                <div class="header-preview pd-top-ten pd-bottom-ten">
                                                    <b>Sample Preview</b>
                                                </div>
                                                <div class="preview-image-container">
                                                    <a href="#" data-featherlight="/images/previews/bulk-close/sample-file.png">
                                                        <img id='previewImage' class="thumbnail img-responsive view-image" src="/images/previews/bulk-close/sample-file.png" alt="Zeta Preview" id="#mylightbox" />
                                                    </a>
                                                    <div class="image-preview">
                                                        <img data-toggle="modal" data-target="#thumbnailModal" class="search-image" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png" alt="zeta search" />
                                                    </div>
                                                </div>
                                                <div class="header-preview pd-top-twenty pd-bottom-ten">
                                                    <b>Download samples</b>
                                                </div>
                                                <div class="download-img-list">
                                                    <!-- #Due to xls and xlsx file processing issue this two formats are disabling
                                                    <a id='xlsxFile' href="/download-samples/bulk-actions/bulk-close.xlsx">
                                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png" alt="Zeta icon" /></a>
                                                    <a id='xlsFile' href="/download-samples/bulk-actions/bulk-close.xls"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png" alt="Zeta icon" /></a>
                                                    -->
                                                    <a id='csvFile' href="/download-samples/bulk-actions/bulk-close.csv"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png" alt="Zeta icon" /></a>
                                                </div>
                                                <div class="header-preview pd-top-ten pd-bottom-ten">
                                                    <b>Documentation</b>
                                                    <p class="opcity-reduce">For more help and FAQs, <a href='https://docs.zetaapps.in/display/OND/Bulk+Actions#BulkActions-BulkCloseCards' target="_blank">click here</a> </p>
                                                </div>
                                            </div>
                                            <!-- Right Panel End -->
                                        </div>
                                    </div>
                                    <!-- last login  -->
                                    <% include ../../common/time-footer %>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->

                <!-- Modal Preview  -->
                <div tabindex="-1" class="modal fade" id="thumbnailModal" role="dialog">
                    <div class="modal-dialog thumbnail-modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" type="button" data-dismiss="modal">×</button>
                            </div>
                            <div class="modal-body">
                                <img id='previewImageModal' class="thumbnail img-responsive view-image" src="/images/previews/bulk-close/sample-file.png" alt="Zeta Preview" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Preview End -->

                <!-- List of company short codes Modal Loader  -->
                <div class="modal fade" id="companyCodesModalLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog custom-modalbox" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                </button>
                            </div>
                            <div class="custom-modal-body">
                                <div class="modal-body">
                                    <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                                    <h4 class="text-center pd-bottom-zero">Loading Company Codes...</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- List of company short codes Modal Loader  -->

                <!-- Upload File Modal Loader  -->
                <div class="modal fade" id="uploadAgainModalLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog custom-modalbox" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                </button>
                            </div>
                            <div class="custom-modal-body">
                                <div class="modal-body">
                                    <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                                    <h4 class="text-center pd-bottom-zero">Loading Upload File again...</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Upload File Modal Loader  -->

                <!-- Modal Oops Transfer  -->
                <div class="modal fade" id="uploadAgainModalOops" tabindex="-1" role="dialog">
                    <div class="modal-dialog custom-modalbox" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="custom-modal-body">
                                <div class="modal-body">
                                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" /></div>
                                    <h4 class="text-center pd-bottom-zero">Oops. We could not cancel the bulk order</h4>
                                    <div class="modal-heading-pdtb" align="center">
                                        <div class="heading-sub-text">Oops. We could not load company codes.</div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="flexible-button">
                                        <button class="btn btn-default" type="button" id="uploadAgainRetryBtn">Try Again</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Oops Transfer End  -->

                <!-- Modal Oops Transfer  -->
                <div class="modal fade" id="companyCodesModalOopsFund" tabindex="-1" role="dialog">
                    <div class="modal-dialog custom-modalbox" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="custom-modal-body">
                                <div class="modal-body">
                                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" /></div>
                                    <h4 class="text-center pd-bottom-zero">Oops. We could not load company codes.</h4>
                                    <div class="modal-heading-pdtb" align="center">
                                        <div class="heading-sub-text">This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us
                                            on support@zeta.in
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="flexible-button">
                                        <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Modal Oops Transfer End  -->

                <!-- Modal for list of company short codes  -->
                <div class="modal fade" id="companyCodesModalWrpr" tabindex="-1" role="dialog">

                </div>
                <!-- Modal for list of company short codes End -->

                <!-- List of company short codes Modal Loader  -->
                <div class="modal fade" id="verifiedBulkOrderModalLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog custom-modalbox" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                </button>
                            </div>
                            <div class="custom-modal-body">
                                <div class="modal-body">
                                    <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                                    <h4 class="text-center pd-bottom-zero">Creating Bulk Order...</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- List of company short codes Modal Loader  -->

                <!-- Modal Oops Transfer  -->
                <div class="modal fade" id="createBulkOrderModalOops" tabindex="-1" role="dialog">
                    <div class="modal-dialog custom-modalbox" role="document">
                        <div class="modal-content">
                            <!-- <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                            </div> --><br/>
                            <div class="custom-modal-body">
                                <div class="modal-body">
                                        <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" /></div>
                                        <h4 class="text-center pd-bottom-zero" id="fileHeaderError">Error while processing the bulk order file</h4>
                                        <div class="modal-heading-pdtb" align="center">
                                            <div class="heading-sub-text" id="fileHeaderErrorDesc">Please check the file for errors or make sure you are uploading the correct order file</div>
                                            <ol id="onlyHeaderList">
                                                <li>Email or Mobile</li>
                                            </ol>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="flexible-button">
                                        <button class="btn btn-default" type="button" id="uploadAgainFile">UPLOAD FILE AGAIN</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Oops Transfer End  -->

                <!-- Modal Oops Transfer  -->
                <div class="modal fade" id="verifiedBulkOrderModalOops" tabindex="-1" role="dialog">
                    <div class="modal-dialog custom-modalbox" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="custom-modal-body">
                                <div class="modal-body">
                                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" /></div>
                                    <h4 class="text-center pd-bottom-zero">Error while creating bulk order</h4>
                                    <div class="modal-heading-pdtb" align="center">
                                        <div class="heading-sub-text">Please check the file for errors or make sure you are uploading the correct order file</div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="flexible-button">
                                        <button class="btn btn-default" type="button" id="retryBulkOrderBtn">Try Again</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Oops Transfer End  -->

                <!-- Modal Box Transfer Initiated success -->
                <div class="modal fade" id="bulkOrderSuccess" tabindex="-1" role="dialog">
                    <div class="modal-dialog custom-modalbox" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            </div>
                            <div class="custom-modal-body">
                                <div class="modal-body"> <br/>
                                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                                    <h4 class="text-center pd-bottom-zero">Bulk close card request created successfully</h4>
                                    <div class="text-center pd-bottom-zero">We will notify you once we complete processing your request</div>
                                    <div class='transfer-summary'>
                                        <div class='transfer-summary-hdr'>Summary</div>
                                        <div class='transfer-summary-dtls-row clearfix'>
                                            <div class="transfer-summary-dtls-col">Bulk request ID</div>
                                            <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second" id='bulkRequestID'></div>
                                        </div>
                                        <div class='transfer-summary-dtls-row transfer-summary-dtls-second-row clearfix'>
                                            <div class="transfer-summary-dtls-col">Total no. of beneficiaries</div>
                                            <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second" id='noOfBeneficiariesConfirm'></div>
                                        </div>
                                        <div class='transfer-summary-dtls-row clearfix'>
                                            <div class="transfer-summary-dtls-col">Status</div>
                                            <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second new-transfer-status" id='newStatus'>Processing file</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="flexible-button">
                                        <a class="btn btn-default" href="/bulk-close/orders">DONE</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Modal Box Transfer Initiated success End -->

                <!-- Modal Loader  -->
                <div class="modal fade" id="createBulkOrderModalLoader" tabindex="-1" role="dialog">
                    <div class="modal-dialog custom-modalbox" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                </button>
                            </div>
                            <div class="custom-modal-body">
                                <div class="modal-body">
                                    <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                                    <h4 class="text-center pd-bottom-zero">Closing Cards. Please wait...</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Modal Loader End  -->

        </div>
        <% include ../../common/html-script %>
            <script src="/dist/scripts/bulkClose.js"></script>
    </body>

    </html>