<tr class="beneficiary-directory-row">
    <td class="profile-image" onclick="document.location.href='/beneficiaries/<%- employeeID %>?companyID=<%- companyID %>';">
        <img src="<%-(profileInfo.profilePicURL) ? profileInfo.profilePicURL : 'https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png' %>"  alt="Zeta Profile">
    </td>
    <td class="profile-details" width="32%">
        <span>
          <a href="/beneficiaries/<%- employeeID %>?companyID=<%- companyID%>" class="text">
            <strong><%- name%></strong>
          </a>
        </span>
        <% if(phoneNumber !== '-1'){ %>
          <span class="tel tel-beneficiaries" title="<%- phoneNumber %>"><%- phoneNumber %></span>
        <% } %>
        <div class="emailIds">
            <% if(email !== 'N/A') { %>
              <span class="email text-lowercase email-beneficiaries" title="<%- email %>"><%- email %></span>
            <% } %>
              
        </div>
    </td>
    <td>
        <%- companyName %>
    </td>
    <td class="checkMarksCenter">
        <a href="javascript:void(0)" class="tooltip-title">
            <img src="<%- (profileInfo.kycDone) ? "https://card-program-files.s3.amazonaws.com/hrDashboard/images/checkGreen.png":"https://card-program-files.s3.amazonaws.com/hrDashboard/images/crossRed.svg" %>" class="tooltip-title-img" alt="Zeta Cards"/>
            <span class="tooltip-view tooltip-view-benefit position-tooltip">
                <!-- Tooltip Content  -->
                  <div class="tooltip-lrtb-pd">
                      <div class="row">
                         <div class="col-xs-12 col-md-12"> <%- (profileInfo.kycDone) ? "Verified":"Not Verified" %> </div>
                      </div>
                  </div>
                <!-- Tooltip Content End -->
            </span>            
        </a>
    </td>
    <td class="checkMarksCenter">
        <a href="javascript:void(0)" class="tooltip-title">
            <img src="<%- (profileInfo.superCardStatus) ? "https://card-program-files.s3.amazonaws.com/hrDashboard/images/checkGreen.png":"https://card-program-files.s3.amazonaws.com/hrDashboard/images/crossRed.svg" %>"  class="tooltip-title-img" alt="Zeta Cards"/>
            <span class="tooltip-view tooltip-view-benefit position-tooltip">
              <!-- Tooltip Content  -->
                  <div class="tooltip-lrtb-pd">
                      <div class="row">
                        <div class="col-xs-12 col-md-12"> <%- (profileInfo.superCardStatus) ? "Active":"Inactive" %> </div>
                      </div>
                  </div>
                <!-- Tooltip Content End -->
            </span>
        </a>
    </td>

    <td class="multiple-cards-section">
        <% if (benefits.length <= 2) {%>
            <% for(cur = 0;cur < benefits.length; cur++) { %>
                <a href="javascript:void(0)" class="tooltip-title">
                    <img src="<%- benefits[cur].cardDesign.bg %>" alt="<%- benefits[cur].cardDesign.cardName || benefits[cur].productType || "N/A" %>"/>
                    <%  if (benefits[cur].cardDesign.cardName !== '' && benefits[cur].productType !== '') {%>
                    <span class="tooltip-view">
                      <!-- Tooltip Content  -->
                          <div class="tooltip-lrtb-pd">
                              <div class="row">
                                <div class="col-xs-12 col-md-12"> <%- benefits[cur].cardDesign.cardName || benefits[cur].productType %> </div>
                              </div>
                          </div>
                      <!-- Tooltip Content End -->
                    </span>
                    <%  }%>
                </a>
            <% } %>
        <% } else { %>
                        <% for(cur = 0;cur < 2; cur++) { %>
                            <a href="javascript:void(0)" class="tooltip-title">
                                <img src="<%- benefits[cur].cardDesign.bg %>" alt= "<%- benefits[cur].cardDesign.cardName || benefits[cur].productType || 'N/A'%>"/>
                            <span class="tooltip-view">
                        <!-- Tooltip Content  -->
                              <div class="tooltip-lrtb-pd">
                                  <div class="row">
                                    <div class="col-xs-12 col-md-12"> <%- benefits[cur].cardDesign.cardName || benefits[cur].productType || "N/A" %> </div>
                                  </div>
                              </div>
                <!-- Tooltip Content End -->
                            </span>
                            </a>
                      <% } %>
                      <a href="javascript:void(0)" class="tooltip-title tooltip-card-beneficiaries"><span>+<% var otherLength = cardsTooltip.length - 2 %><%- otherLength %></span>
                        <span class="tooltip-view">
                    <!-- Tooltip Content  -->
                          <div class="tooltip-lrtb-pd">
                            <div class="row">
                              <div class="col-xs-12 col-md-12"><% let arr = cardsTooltip.slice(2); %><%- arr %></div>
                            </div>
                          </div>
            <!-- Tooltip Content End -->
                      </span>
                    </a>
              <% } %>
    </td>
    <% if(employeeSetupEnabled) { %>
    <td class="employee-toggle-status">
        <% if(profileInfo.zetaUserID) { %>
      <label class="employee-toggle-status-switch">
          <input class="employee-toggle-switch" type="checkbox" <% if(groupStatus == 'ENABLED'){ %> checked="true" <% } %>  data-zetauserid="<%- profileInfo.zetaUserID %>" data-username="<%- name %>">
          <span class="employee-toggle-status-switch-slider round"></span>
        </label>
        <% } %>
    </td>
    <% } %>
</tr>