<table class="custom-table mv-table-view small-table">
    <thead>
        <tr class="hover-remove">
            <th width="30%" colspan="2">BENEFICIARY</th>
            <th width="40%">COMPANY</th>
            <th width="30%" class="text-left">ACTIVE CARDS</th>
        </tr>
    </thead>
    <tbody class="main-content"></tbody>
    <tbody class="loading-content">
        <tr>
            <td colspan="2"></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="2"></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="2"></td>
            <td></td>
            <td></td>
        </tr>


    </tbody>
</table>


<!-- Table End -->
<div align="center" class="row paging-container"></div>
<!-- Pagination End -->

<div class="table-empty-state" style="display: none">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-empty-state.png" alt="">
    <p>No data available</p>
</div>

<div class="table-error-state" style="display: none">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-error-state.png" alt="">
    <p>Data failed to load.</p>
    <a class="reload-btn" href="javascript:void(0);">Reload</a>
</div>
