<table class="custom-table">
    <thead class="table--head">
    <tr>
        <th class="">Report Name</th>
        <th class="">Report Parameters</th>
        <th class="">Date Generated</th>
        <th class="">STATUS</th>
        <th class="">Action</th>
    </tr>
    </thead>
    <tbody class="table--body">
    <tr>
        <td class="report-name">
            <div>
                <%- reportDisplayName %>
            </div>
            <div class="overlay-6">
                <% if(category) { %>
                    <% if(htmlDecoder(category)==='Express Reports') { %> 
                        Closed loop Cafeteria Reports
                    <% } else { %>
                        <%- htmlDecoder(category) %>
                    <% } %>
                <% } else { %>
                -
                <% } %>

            </div>
        </td>
        <td class="">
                
            <% if(!yearEndReport){ %>
            <div>
                <% if(userParameters.startDate) { %>
                From
                <%- userParameters.startDate %> To
                <%- userParameters.endDate %>
                <% } else if(userParameters.closeCardOrderID){ %>
                Close card order ID - <%- htmlDecoder(userParameters.closeCardOrderID) %>
                <% } else if(reportID == 'ESCROW_BALANCES_PROGRAM_LEVEL' || reportID == 'ESCROW_BALANCES_BENEFICIARY_WISE') { %>
                    As of report generation time
                <% } else { %>
                    -
                <% } %>
            </div>
            <% } else { %>
            <div>
                <%- extraParam %>
            </div>
            <% } %>

            <div class="parameters">
                <% if(userParameters.productType.length > 0) { %>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%- userParameters.productType.length %> Program Type
                        <% if(userParameters.productType.length > 1) { %>s<% } %>
                    </a>
                    <ul class="dropdown-menu">
                        <% for(let i = 0;i < userParameters.productType.length;i++){ %>
                        <li>
                            <a href="javascri:void(0)">
                                <%- userParameters.productType[i] %>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <% } %>
                <% if(userParameters.companies.length > 0) { %>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%- userParameters.companies.length %> Compan<% if(userParameters.companies.length == 1) { %>y<% } else { %>ies<% } %>
                    </a>
                    <ul class="dropdown-menu">
                        <% for(let i = 0;i < userParameters.companies.length;i++){ %>
                        <li>
                            <a href="javascri:void(0)">
                                <%- htmlDecoder(userParameters.companies[i]) %>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <% } %>
                <% if(userParameters.cardprograms.length > 0) { %>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%- userParameters.cardprograms.length %> Program<% if(userParameters.cardprograms.length > 1) { %>s<% } %>
                    </a>
                    <ul class="dropdown-menu">
                        <% for(let i = 0;i < userParameters.cardprograms.length;i++){ %>
                        <li>
                            <a href="javascri:void(0)">
                                <%- htmlDecoder(userParameters.cardprograms[i]) %>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <% } %>
                <% if(userParameters.fundingAccountNames.length > 0) { %>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%- userParameters.fundingAccountNames.length %> Funding Account
                        <% if(userParameters.fundingAccountNames.length > 1) { %>s<% } %>
                    </a>
                    <ul class="dropdown-menu">
                        <% for(let i = 0;i < userParameters.fundingAccountNames.length;i++){ %>
                        <li>
                            <a href="javascri:void(0)">
                                <%- userParameters.fundingAccountNames[i] %>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <% } %>
            </div>
        </td>
        <td class="">
            <div>
                <div>
                    <%- createdAt %>
                </div>
                <div class="overlay-6">
                    <%- createdAtTime %>
                </div>
            </div>
        </td>
        <td class="">
            <% if(reportState == 'AVAILABLE') { %>
            <div class="text-completed no-underline">
                Generated
            </div>
            <% } else if (reportState == 'TRIGGERED') { %>
            <div class="text-processing no-underline">
                Processing
            </div>
            <% } else if (reportState == 'FAILED') { %>
            <div class="text-failed no-underline">
                Failed
            </div>
            <% } else { %>
            <div class="text-failed no-underline">
                Error
            </div>
            <% } %>
        </td>
        <td class="file-url">
            <% if(reportState == 'AVAILABLE') { %>
            <a href="<%- url ? htmlDecoder(url) : '' %>" download class="tooltip-title tooltip-cursor-pointer" target="_blank"
               >
                <img class="download-icon download-icon-border overlay-6" src="../../../images/cloud-download.svg"
                     alt="">
                <span class="tooltip-view">
              <div class="tooltip-lrtb-pd">
                <div class="row">
                  <div class="col-xs-12 col-md-12">Download</div>
                </div>
              </div>
            </span>
            </a>
            <% if(showView) { %>
            <a href="/report-centre/report-details/<%- id %><%- productSource ? '?product='+productSource : '' %>" class="tooltip-title tooltip-cursor-pointer">
                <img class="download-icon download-icon-border overlay-6" src="../../../images/eye-dark.svg" alt="">
                <span class="tooltip-view tooltip-all">
                <div class="tooltip-lrtb-pd">
                  <div class="row">
                    <div class="col-xs-12 col-md-12">View</div>
                  </div>
                </div>
              </span>
            </a>
            <% } %>
            <% if(!showView) { %>
            <a href="javascript:void(0)" class="tooltip-title tooltip-cursor-pointer">
                <img class="download-icon download-icon-border overlay-3" src="../../../images/eye-dark.svg" alt="">
                <span class="tooltip-view tooltip-all">
                    <div class="tooltip-lrtb-pd">
                      <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <% if(!yearEndReport){ %>
                            Reports generated before 25th Aug 2018 aren't available for viewing
                            <% } else { %>
                            View unavailable for year end reports
                            <% } %>
                        </div>
                      </div>
                    </div>
                  </span>
            </a>
            <% } %>
            <% } else if (reportState == 'TRIGGERED') { %>
            <a href="javascript:void(0)" download class="tooltip-title tooltip-cursor-pointer">
                <img class="download-icon download-icon-border overlay-3" src="../../../images/cloud-download.svg"
                     alt="">
                <span class="tooltip-view">
                        <div class="tooltip-lrtb-pd">
                          <div class="row">
                            <div class="col-xs-12 col-md-12">Your report is being generated. It will be available for download soon</div>
                          </div>
                        </div>
                      </span>
            </a>
            <a href="javascript:void(0)" class="tooltip-title tooltip-cursor-pointer">
                <img class="download-icon download-icon-border overlay-3" src="../../../images/eye-dark.svg" alt="">
                <span class="tooltip-view tooltip-all">
                        <div class="tooltip-lrtb-pd">
                          <div class="row">
                            <div class="col-xs-12 col-md-12">Your report is being generated. It will be available for viewing soon</div>
                          </div>
                        </div>
                      </span>
            </a>
            <% } else if (reportState == 'FAILED') { %>
            <a href="javascript:void(0)" class="tooltip-title tooltip-cursor-pointer">
                <img class="download-icon download-icon-border overlay-3" src="../../../images/close-icon.svg" alt="">
                <span class="tooltip-view tooltip-all">
                          <div class="tooltip-lrtb-pd">
                            <div class="row">
                              <div class="col-xs-12 col-md-12">The report couldn't be generated. Please try again</div>
                            </div>
                          </div>
                        </span>
            </a>
            <% } else { %>
            <a href="javascript:void(0)" download class="tooltip-title tooltip-cursor-pointer">
                <img class="download-icon download-icon-border overlay-3" src="../../../images/refresh.svg" alt="">
                <span class="tooltip-view tooltip-all">
                            <div class="tooltip-lrtb-pd">
                              <div class="row">
                                <div class="col-xs-12 col-md-12">Error</div>
                              </div>
                            </div>
                          </span>
            </a>
            <% } %>
        </td>
    </tr>
    </tbody>
</table>
