<!-- Banner Start -->
<div class="top-section cardorder-banner">
    <div>
        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-xs-9 col-md-9">
                <ul class="breadcrumb pd-tb-zero">
                    <li><a href="/companies/<%- companyID %>/optima/cardorder">Cards </a></li>
                    <li><a href="javascript:void(0)"> &nbsp;Disbursed Cards </a></li>
                </ul>
            </div>
        </div>
        <!-- Popover End -->
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="page-heading spBtnDv">
                    <h1 class="pd-top-five"><%=superCard.maskedCardNumber%></h1>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Banner End -->