<div class="tab-pane active" id="tab_default_1">
    <!-- Page Heading and List -->
    <div class="row">
        <div class="col-xs-9 col-md-9">
            <ul class='bulk-transfer-step-list'>
                <li id='chooseStep' class='active'>
                    <div class='bulk-transfer-step-no'>1</div>
                    <div id='chooseTxt' class='bulk-transfer-step-txt'>Choose Design</div>
                </li>
                <li id='uploadStep'>
                    <div class='bulk-transfer-step-line'></div>
                    <div class='bulk-transfer-step-no'>2</div>
                    <div class='bulk-transfer-step-txt bulk-transfer-step-two'>Order Details</div>
                </li>
                <li id='verifyStep'>
                    <div class='bulk-transfer-step-line'></div>
                    <div class='bulk-transfer-step-no'>3</div>
                    <div class='bulk-transfer-step-txt bulk-transfer-step-three'>Payment</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin-left:15px;" id="virtualGiftContainer">
        <div class="col-xs-9 col-md-9 custom-box" style="min-height:432px;">
            <div>
                <!-- START chooseDesign -->
                <div id="chooseDesign">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <% if(cardorderTemplate.length > 0){ %>
                            <div class="rewardChooseTxt">Choose a card design</div>
                            <% } else { %>
                            <div class="rewardChooseTxt">No Card Products have been enabled for this company.<br>
                                Kindly reach out to your Account Manager for more details.</div>
                            <% } %>

                            <div class="chooseDesignRow">
                                <ul class="clearfix">

                                    <% for(var i=0; i<cardorderTemplate.length; i++) { %>

                                    <li class="rewardGift" data-cardmasterID="<%- cardorderTemplate[i].cardMasterID %>"
                                        data-cardname="<%- cardorderTemplate[i].cardName %>"
                                        data-img="<%- cardorderTemplate[i].designLink %>">

                                        <span class="active-icon"></span>
                                        <div class="createDv">
                                            <img src="<%- cardorderTemplate[i].designLink %>" />
                                        </div>
                                        <div class="ellipsis">
                                            <div class="inner">
                                                <span class="newCreateTxt">
                                                    <%- cardorderTemplate[i].cardName %>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <% } %>

                                </ul>
                            </div>
                            <% if(cardorderTemplate.length > 0){ %>
                            <div class="x-medium-button">
                                <button id="rewardTemplateSelected" data-url="Step2"
                                    class="btn btn-default btn-disabled" disabled type="button">Next</button>
                            </div>
                            <% }%>
                        </div>
                    </div>
                </div>
                <!-- END chooseDesign -->


                <!-- START BULKUPLOAD -->
                <div id="addBenefitsBulk" style="display:none;margin-right: 25px;">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="cartypeText">Card type</div>
                                    <div class="control-group radio-group">
                                        <label class="control control--radio">Personalised
                                            <input class="personalization" type="radio" name="personalised" value="1"
                                                checked>
                                            <div class="control__indicator"></div>
                                        </label>
                                        <label class="control control--radio">Non - Personalised
                                            <input class="personalization" type="radio" name="personalised" value="2">
                                            <div class="control__indicator"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="row sguploadFile ">
                                <div id="persoanlised1" class="personalDv">
                                    <!-- persoanlised starts -->
                                    <div class="col-xs-9 col-md-9">

                                        <div class="row ">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="page-sub-heading-txt bulk-upload-hdg-wrpr clearfix">
                                                    <h4>Upload a file with card and beneficiary details</h4>
                                                </div>
                                                <div class="pageSubTxt"></div>
                                            </div>
                                        </div>
                                        <!-- File Upload -->
                                        <input type="hidden" id="uploadDetails" value='<%=fileUploadDetails%>'
                                            name="uploadDetails">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12 file-main-container">
                                                <form action=" fileUploadUrl " id='dragDrop'
                                                    class="dropzone bulk-upload-cnt-wrpr">
                                                    <div class="file-upload-container page-sub-heading dz-message">
                                                        <div class="dotted-line">
                                                            <div class="display-table file-upload-height">
                                                                <div class="table-row">
                                                                    <div class="table-column">
                                                                        <img width="85" height="44"
                                                                            id="image_upload_preview"
                                                                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/files-icon.png"
                                                                            alt="your image" />
                                                                    </div>
                                                                </div>
                                                                <div class="table-row">
                                                                    <div class="table-column">
                                                                        <span class="file-upload-heading">Drag &
                                                                            Drop</span>
                                                                    </div>
                                                                </div>
                                                                <div class="table-row">
                                                                    <div class="table-column">
                                                                        <span class="or-font">OR</span>
                                                                    </div>
                                                                </div>
                                                                <div class="table-row">
                                                                    <div class="table-column">
                                                                        <form id="form1" runat="server">
                                                                            <div class="browse-wrap btn-disabled">
                                                                                <div class="text-center">
                                                                                    <div class="upload-button">
                                                                                        <strong>+</strong> Upload File
                                                                                    </div>
                                                                                </div>

                                                                                <div class="fallback">
                                                                                    <input class="upload" name="file"
                                                                                        type="file" />
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div id="preview-template" style="display: none">
                                                        <div class="dz-preview dz-file-preview"
                                                            style="margin:0px;height: 268px;">
                                                            <div class="dotted-line">
                                                                <div class="dz-details">
                                                                    <img class="fileType" src="" alt="xls">
                                                                    <div class="dz-filename">
                                                                        <span data-dz-name>payout.csv</span>
                                                                    </div>
                                                                    <div class="dz-progress">
                                                                        <span class="dz-upload"
                                                                            data-dz-uploadprogress></span>
                                                                    </div>
                                                                    <div class="dz-error-message">
                                                                        <span data-dz-errormessage>Error uploading
                                                                            file</span>
                                                                    </div>
                                                                    <!--<a class="removelink" href="javascript:void(0);">Change-->
                                                                    <!--File</a>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                        <!-- File Upload End -->
                                        <div class="deliveryAddTxt">Delivery address</div>
                                        <div class="form-group left-align"
                                            style="padding-top: 10px;margin-bottom: 5px;">
                                            <div class="control-group">
                                                <label class="control control--checkbox terms"
                                                    style="font-weight:normal;">Use single consignment for all cards
                                                    destined to one location
                                                    <input type="checkbox" id="deliveryAddCheckbox">
                                                    <div class="control__indicator"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-3 col-md-3">
                                        <!-- Right Panel -->
                                        <div class="panel-container">
                                            <div class="header-preview pd-top-twenty pd-bottom-ten"
                                                style="padding-top: 16px;">
                                                <b>Sample Preview</b>
                                            </div>
                                            <div class="preview-image-container">

                                                <a href="#"
                                                    data-featherlight="../../../../images/previews/card-cost-gift-preview.png">
                                                    <img id='previewImage' class="thumbnail img-responsive view-image"
                                                        src="../../../../images/previews/digital-gift-preview.png"
                                                        alt="Zeta Preview" id="#mylightbox" />
                                                </a>
                                                <div class="image-preview">
                                                    <img data-toggle="modal"
                                                        data-featherlight="../../../../images/previews/card-cost-gift-preview.png"
                                                        data-backdrop="false" class="search-image"
                                                        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                                                        alt="zeta search" />
                                                </div>

                                                <!-- <div class="image-preview">
                                                    <img data-toggle="modal"
                                                        data-featherlight="../../../../images/previews/card-cost-gift-preview.png"
                                                        data-backdrop="false" class="search-image"
                                                        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                                                        alt="zeta search" />
                                                </div> -->
                                            </div>
                                            <div class="header-preview pd-top-twenty pd-bottom-ten">
                                                <b>Download samples</b>
                                            </div>

                                            <div class="download-img-list">
                                                <a id='csvFile'
                                                    href="/../../download-samples/Sample_Order_File_Personalised.csv">
                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png"
                                                        alt="Zeta icon" />
                                                </a>
                                                <!-- <a id='xlsFile'
                                                    href="/../../download-samples/spotlight-digital-gift-sample.xls">
                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png"
                                                        alt="Zeta icon" />
                                                </a>
                                                <a id='xlsxFile'
                                                    href="/../../download-samples/spotlight-digital-gift-sample.xlsx">
                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                                                        alt="Zeta icon" />
                                                </a> -->
                                            </div>

                                            <!-- Right Panel End -->
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <div class="orDiv">
                                            <span class="emptyLine"></span>
                                        </div>
                                    </div>

                                </div>
                                <!-- persoanlised1 end -->
                                <div id="persoanlised2" class="personalDv" style="display:none;">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="form-group left-align inputDv">
                                            <label class="control-label" for="noOfCards">No. of cards
                                                required</label>
                                            <input class="form-control addUserFields manualValidate" id="noOfCards"
                                                type="number" autocomplete="__away" placeholder="Eg: 100 or 500">
                                            <p class="error-message"></p>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12 deliveryaddSelection">
                                                <div class="deliveryAddTxt">Delivery address</div>
                                                <div class="control-group radio-group">
                                                    <% for(var i=0; i<address.address.length; i++) { %>
                                                    <% var checked = ( i == 0 ) ? "checked" : ""; %>
                                                    <label
                                                        class='control control--radio'><%=address.address[i].addressDetail%>
                                                        <br><%=address.address[i].city%>, <%=address.state%>,
                                                        <%=address.country%>, <%=address.address[i].pincode%> <br>
                                                        <input data-address=' <%- JSON.stringify(address.address[i]) %>'
                                                            class='address' value="<%=i%>" type='radio' name='address'
                                                            <%=checked%>>
                                                        <div class=' control__indicator'></div>
                                                    </label>
                                                    <% } %>
                                                    <div class="newAddDv">
                                                        <span class="newAddIcon">+</span>
                                                        <span class="newAddTxt">Add a new address</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group left-align inputDv">
                                        <label class="control-label" for="referenceName">Reference name</label>
                                        <input class="form-control addUserFields manualValidate" id="referenceName"
                                            type="text" autocomplete="__away" placeholder="Eg: Card Order#">
                                        <p class="error-message"></p>
                                    </div>
                                </div>
                                <input type="hidden" id="addressDetails"
                                    data-address=' <%- JSON.stringify(address) %>' />
                                <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                                    <div class="x-medium-button pd-top-twenty pd-bottom-ten" style="padding:  0px;">
                                        <button class="btn btn-default btn-disabled verifyOrder" data-url="Step3"
                                            disabled type="button" name="" value="" id="verify-order1">NEXT
                                            <img class="spinner-loader create-order-spinner" id="order-show-loader"
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                                        </button>
                                        <button style="display:none;" class="btn btn-default btn-disabled verifyOrder"
                                            data-url="Step3" disabled type="button" name="" value=""
                                            id="verify-order2">NEXT
                                            <img class="spinner-loader create-order-spinner" id="order-show-loader"
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                                        </button>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <!-- END BULKUPLOAD -->

                <!-- START CREATE ORDER -->
                <div id="createOrder" style="display:none;">
                    <div class="row">
                        <div class="col-xs-8 col-md-8">
                            <div class="paymntTxt">Payment Information</div>

                            <div class="form-group mg-bottom-zero">
                                <label for="recipient-name" class="control-label " style="margin-bottom: 6px;">Funding
                                    account
                                    <span class="tooltip" style="opacity:1">
                                        <img class="subtitle sidebar-option-txt"
                                            style="width:12px;cursor:pointer;opacity:1"
                                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-icon.svg"
                                            alt="" />
                                        <span class="tooltiptext tooltiptext-benefits" style="opacity:1">A Funding A/c
                                            is
                                            similar to your Bank’s current account. They can fund
                                            one or more programs
                                            across all your companies. You can use them to transfer
                                            funds to your
                                            beneficiaries.</span>
                                    </span>
                                </label>
                                <input type="hidden" id="newFundDetails"
                                    data-fund='<%- JSON.stringify(fundingAccountDetails) %>' />

                                <div class="form-group select-custom" align="left">
                                    <select id='fundingAccountID' style="height:38px;width: 180px;"
                                        class="form-control width-xs input-lg">
                                        <option value='0'>Select funding account</option>
                                        <% for(var currIndex=0; currIndex< fundingAccountDetails.fundingAccounts.length; currIndex++) {%>
                                        <option
                                            value='<%- fundingAccountDetails.fundingAccounts[currIndex].accountID %>'
                                            data-name="<%- fundingAccountDetails.fundingAccounts[currIndex].name %>"
                                            data-balance="<%- fundingAccountDetails.fundingAccounts[currIndex].balance / 100 %>">
                                            <%- fundingAccountDetails.fundingAccounts[currIndex].name %>
                                            -
                                            ₹<%- fundingAccountDetails.fundingAccounts[currIndex].balance / 100 %>
                                        </option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="fundCurrntBalance">
                                    Current Balance - <b>₹</b><b><span id="balanceFund"></span></b>
                                    <span class="insuffFund" style="display:none;">
                                        <img
                                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/full-alert-circle.svg" />
                                        Insufficient Funds</span>
                                </div>
                            </div>
                            <div class="form-group left-align" style="padding-top: 17px;width: 455px;">
                                <div class="control-group">
                                    <label class="control control--checkbox terms">I understand that
                                        this order can be
                                        neither cancelled nor revoked.
                                        <input type="checkbox" id="createGiftCheckbox">
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="x-medium-button placeOrderEndAddFund program-code-next-btn"
                                style="display:none;">
                                <button id="orderCompleted" data-fundingaccountid="" disabled
                                    class="btn btn-default btn-disabled" type="button">Place order &
                                    Add funds later
                                    <img class="spinner-loader" id="order-show-loader"
                                        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                                </button>
                            </div>
                            <div class="x-medium-button placeOrderEnd program-code-next-btn">
                                <button id="orderCompletedNew" data-fundingaccountid="" disabled
                                    class="btn btn-default btn-disabled" type="button">Place Your
                                    Order
                                    <img class="spinner-loader" id="order-show-loader"
                                        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                                </button>
                            </div>

                            <div class="insuffFundText" style="display:none;">When your order is
                                placed, a
                                <b>proforma invoice</b> will be generated and you can add funds to
                                your funding account
                                later. Once
                                we receive the funds, gifts will automatically be sent to your
                                beneficiaries and we’ll
                                notify you
                                via e-mail.</div>

                        </div>
                        <div class="col-xs-4 col-md-4 custom-box cutomBoxGrey"
                            style="display:block;width:190px !important;height: 432px;right: 0px;top: -1px;">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="orderSummaryTxt">ORDER SUMMARY</div>
                                    <div class="orderSummarySTxt">Total Cards Ordered</div>
                                    <div class="orderSummarySVal" id="totalBenefits"></div>
                                    <div class="orderSummarySTxt">Fee Per Cards</div>
                                    <div class="orderSummarySVal" id="totalfeepercard"></div>
                                    <div class="orderSummarySTxt">Card Cost</div>
                                    <div class="orderSummarySVal" id="totalcardcost"></div>
                                    <div class="orderSummarySTxt">Tax Amount</div>
                                    <div class="orderSummarySVal" id="totalTaxAmount"></div>
                                    <div class="orderSummarySTxt">Total Issuance Cost</div>
                                    <div class="orderSummarySVal" id="totalAmount">₹</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CREATE ORDER -->
            </div>
            <div style="clear:both">&nbsp;</div>
        </div>





        <!-- END SIDEPREVIEW -->
        <div class="col-xs-3 col-md-3">

            <div class="needHelp">
                <div class="needHelpHeader">
                    <span class=""><img
                            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/round-e-help.svg" /></span>
                    <span class="needHelpHeadTxt">Need help?</span>
                </div>
                <div class="needHelpBody">
                    Reach out to us on <a href="mailto:support@sodexo.br">support@sodexo.br</a> or
                    <a class="phonelink" href="tel:+55 88379321"><b>+55 88379321</b></a>. We assure
                    you of quick
                    service.
                </div>
            </div>

            <div class="rewardPrvwTxt" style="display:none;">Preview</div>

            <div class="rewardMobileDemo" style="display:none">
                <button type="button" class="btn btn-collapse ">Card Design
                    <!-- <span class="rewardPlusMinus">-</span> -->
                </button>
                <div id="demo1" class="collapse collapseData in">
                    <img class="rewardPImg" src="" />
                </div>
            </div>

        </div>
        <!-- END SIDEPREVIEW -->
    </div>


    <!-- Error Details start-->
    <div class="row" id="fileErrorWrpr" style="display: none;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class='bulk-order-errors'>
                    <h3>Oops! We found some errors in your order file</h3>
                    <div class='file-details-wrpr clearfix'>
                        <div class='file-details-cntr'>
                            <img id='fileTypeImg' width="36" height="48"
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                                alt="fileType" />
                            <div class='file-details'>
                                <div id='fileName' class='file-name'></div>
                                <div class='file-status'>File uploaded</div>
                            </div>
                        </div>
                        <div class='bulk-report-wrpr'>
                            <a id='downloadSGReport' class='bulk-report-link' href='javascript:void(0)'>Download
                                complete report</a>
                        </div>
                    </div>
                    <div class='error-row-hdr'>
                        <span class='bulk-invalid-icon'></span>
                        <span class='bulk-invalid-dtls'>
                            <span class='no-of-invalid-entries' id='noOfInvalidEntries'></span>
                            invalid entries
                        </span>
                    </div>
                    <div id="fileErrorMain">
                        <div id="errorVirtualGiftingTransfers">

                        </div>
                        <div id="errorVirtualGiftingTransfers1">
                        </div>
                    </div>
                    <div class='error-page-btn-wrpr'>
                        <div class="x-medium-button pd-top-ten pd-bottom-ten upload-again duplicateEntries">
                            <button class="btn btn-default" type="button" id="duplicateEntries" data-type=""
                                style="background: #ffbc00;color: #fff;border: 0;opacity: unset;" ">Continue with duplicate entries</button>
                        </div>
                        <span class=" duplicateOr">OR &nbsp;</span>
                                <div class="x-medium-button pd-top-ten pd-bottom-ten upload-again">
                                    <button class="btn btn-default" type="button" id="uploadAgain" data-type=""
                                        style="background: #fff;color: #190f27;border: 1px solid #E0DDE6;opacity: unset;">Upload
                                        file again</button>
                                </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Error Details End-->


    </div>

    <!-- Add New Address -->
    <div class="modal fade" id="myModalAddressDetail" role="dialog" tabindex="-1">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="deliveryAddTxt">Add Address Details</span>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="custom-modal-body">
                    <!-- Inner container -->
                    <div class="load-cards">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 instaGiftOrderCardsDV">
                                <form autocomplete="__away">


                                    <div class="form-group left-align">
                                        <label class="control-label" for="name">Full Name</label>
                                        <input class="form-control addUserFields" id="name" type="text"
                                            placeholder="Eg: John doe">
                                        <p class="error-message"></p>
                                    </div>
                                    <div class="form-group left-align phoneNumberDv">
                                        <label class="control-label" for="phoneNumber">Phone
                                            number</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"> +91</div> <input type="text" maxlength="10"
                                                pattern="[0-9]"
                                                onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                                id="phoneNumber" data-validator="phone" placeholder="Phone Number"
                                                class="inputField inputFieldValidate addUserFields input-phone-validate custom-border"
                                                style="width: 40%;">
                                        </div>
                                        <p>This number will be used to assist with scheduling the
                                            delivery</p>
                                        <p class="error-message-phone"></p>
                                    </div>
                                    <div class="form-group left-align">
                                        <label class="control-label" for="email">Email</label>
                                        <input class="form-control addUserFields" id="email" type="text"
                                            placeholder="Eg:abc@zeta.tech">
                                        <p class="error-message"></p>
                                    </div>

                                    <div class="straight-line mg-tb-less">&nbsp;</div>
                                    <h4>Delivery address</h4>

                                    <div class="clearfix instaDeliveryAdd">
                                        <div class="form-group left-align instaDeliveryTextarea">
                                            <label class="control-label" for="address">Address</label>
                                            <textarea class="form-control addUserFields" id="address" type="text"
                                                placeholder="Eg: Building#, Street, Location"></textarea>
                                            <p class="error-message"></p>
                                        </div>
                                    </div>
                                    <div class="clearfix instaDeliveryAdd">
                                        <div class="form-group left-align">
                                            <label class="control-label" for="city">City</label>
                                            <input class="form-control addUserFields" id="city" value="" type="text"
                                                placeholder="Eg: Bangalore" onkeypress="return (event.charCode > 64 && 
                            event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
                                            <p class="error-message"></p>
                                        </div>
                                        <div class="form-group left-align">
                                            <label class="control-label" for="state">State</label>
                                            <input class="form-control addUserFields" id="state" value="" type="text"
                                                placeholder="Eg: Karnataka" onkeypress="return (event.charCode > 64 && 
                            event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
                                            <p class="error-message"></p>
                                        </div>

                                    </div>
                                    <div class="clearfix instaDeliveryAdd">
                                        <div class="form-group left-align">
                                            <label class="control-label" for="country">Country</label>
                                            <input class="form-control addUserFields" id="country" value="India"
                                                type="text" value="India" placeholder="Eg: India" readonly>
                                            <p class="error-message"></p>
                                        </div>
                                        <div class="form-group left-align">
                                            <label class="control-label" for="zipcode">Pincode</label>
                                            <input class="form-control addUserFields" value="" id="zipcode"
                                                pattern="[0-9]" type="text" min="0" maxlength="6"
                                                onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                                placeholder="Enter 6 digits">
                                            <p class="error-message"></p>
                                        </div>

                                    </div>

                                    <!-- <div class="x-medium-button pd-top-ten">
                                        <button disabled class="btn btn-default btn-disabled createPhysicalOrder"
                                            type="button" name="" value="">PLACE ORDER
                                            <img class="spinner-loader" id="showBtnLoader"
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                                        </button>

                                    </div> -->
                                </form>
                            </div>

                        </div>



                    </div>

                </div>

                <div class="modal-footer">
                    <!-- <button class="btn btn-default" id="chooseThisBrand" data-dismiss="modal" name="" type="button"
                            value="">Done</button> -->
                    <div class="flexible-button x-medium-button" style="text-align:left">
                        <button disabled class="btn btn-default btn-disabled addcardcostAdd" id="addcardcostAdd"
                            data-dismiss="modal" type="button" name="" value="">ADD NEW ADDRESS
                            <img class="spinner-loader" id="showBtnLoader"
                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- add new address End -->