<% include ../../common/html-head %>

<body>
    <div class="wrapper">
        <% include ../../common/header %>
        <!-- Container -->
        <div class="container-fluid sidebar-row">
            <div class="row">
                <% include ../../common/sidebar %>
                <!-- Inner container -->
                <div class="inner-container reward_container cardorder_container">
                    <% include ../../section/supercard/bannerinner %>
                    <div class="col-xs-12 col-md-12 singleCardOrderDetail">

                        <div class="row">
                            <div class="col-xs-6 col-md-6 ">
                                <div class="inner-sub-container">
                                    <div class="heading">Card Information</div>
                                    <div class="body">
                                        <span class="name">Card Status</span>
                                        <% if(superCard.status.toLowerCase() == 'active'){ %>
                                        <span class="nameStatus"
                                            style="background-color: #e2ffee; font-weight:bold;"><%=superCard.status%></span>
                                        <% } else { %>
                                        <span class="nameStatus"
                                            style="background-color: #fff0b3; font-weight:bold;"><%=superCard.status%></span>
                                        <% } %>
                                    </div>
                                    <div class="body">
                                        <span class="name">Card ID</span>
                                        <span class="name"><%=superCard.superCardID%></span>
                                    </div>
                                    <div class="body">
                                        <span class="name">Card Number</span>
                                        <span class="name"><%=superCard.maskedCardNumber%></span>
                                    </div>
                                    <div class="body">
                                        <span class="name">Card Product</span>
                                        <% if(superCardOrder.type == 'SUPER_CARD_NON_PERSONALISED'){ %>
                                        <span class="name">Non Personalised</span>
                                        <% } else { %>
                                        <span class="name">Personalised</span>
                                        <% } %>
                                    </div>
                                    <div class="body">
                                        <span class="name">Card Design</span>
                                        <span class="nameCard"><img src="<%=cardMaster.designLink%>" /></span>
                                    </div>
                                    <div class="body">
                                        <span class="name">Account Holder Name/ID</span>
                                        <span class="name"><%=superCard.name%></span>
                                    </div>
                                    <!-- <div class=" body">
                                        <span class="name">Payment Engine</span>
                                        <span class="name"></span>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-6 ">
                                <div class="inner-sub-container" style="margin-left:0;">
                                    <div class="heading">Order Information</div>
                                    <div class="body">
                                        <span class="name">Order ID</span>
                                        <span class="nameStatus"><%=superCardOrder.superCardOrderid%></span>
                                    </div>
                                    <div class="body">
                                        <span class="name">SKU</span>
                                        <span class="name"><%=superCardOrder.cardSkuId%></span>
                                    </div>
                                    <div class="body">
                                        <span class="name">Personalization</span>
                                        <span class="name"><%=superCardOrder.type%></span>
                                    </div>
                                    <div class="body">
                                        <span class="name">Third Line</span>
                                        <span class="name"><%=superCard.embossingText1%></span>
                                    </div>
                                    <div class="body">
                                        <span class="name">Fourth Line</span>
                                        <span class="name"><%=superCard.embossingText2%></span>
                                    </div>
                                    <div class="body">
                                        <span class="name">Delivery Address</span>
                                        <span class="name" style="vertical-align:top;"><%=superCard.addressLine1%>,
                                            <%=superCard.addressLine2%>, <%=superCard.addressLine3%>,<br>
                                            <%=superCard.addressLine4%>, <br><%=superCard.city%> -
                                            <%=superCard.pincode%></span>
                                    </div>
                                    <div class="body">
                                        <span class="name">Delivery Status</span>
                                        <span class="name"><%=superCardOrder.status%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- Inner container End -->
            </div>
        </div>
        <!-- Container End -->
    </div>















    <!-- end -->



    <% include ../../common/html-script %>
    <!-- <script type='text/javascript' async src='/lib/visualize.js'></script> -->
    <script src="/dist/scripts/supercardHome.js"></script>
    <!-- <script src="/dist/scripts/downloadPdfInvoice.js"></script> -->
    <!-- <script>
        (function () {
            let currentUrl = window.location.href;
            if (currentUrl.indexOf('#') !== -1) {
                var selectedId = currentUrl.substr(currentUrl.lastIndexOf(
                    '#'), currentUrl.length);
            }

            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });


            $('.nav.nav-tabs > li > a').click(function (e) {
                var data = $(this).attr("id");
                if (history.pushState) {
                    history.pushState(null, null, '#' + data);
                } else {
                    window.location.hash = '#' + data;

                }

                e.preventDefault();
                $(this).tab('show');
            });
            window.location.hash == "" ? $('#sendGift').parent().addClass(
                'active') : ''
            $("document").ready(function () {
                $(selectedId).trigger('click');
                $('.tabContainer').css('display', 'block');
            });

            setTimeout(function () {
                $('.sub-container').show()
            }, 1000)

        }());
    </script> -->

</body>

</html>