<% include ../../../common/html-head %>

    <body>
    <input type="hidden" id="SpotlightIFIName" value='<%- ifiBankName %>'> 
        <div class="wrapper">
            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <!-- Banner Start -->
                                <div class="banner-section spotlight-virtual-order-gradient" style="margin-top: 0px;">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <li><a href="/companies/<%- companyID %>/spotlight"><% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %>Zeta Spotlight<%} %> </a></li>
                                                    <li>
                                                        <a href="/companies/<%- companyID %>/spotlight/virtual">Digital gift cards</a>
                                                    </li>
                                                    <li class='active'><a href="/companies/<%- companyID %>/spotlight/virtual#orderHistory">Order history</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Breadcrumb End -->
                                        <div class="row">
                                            <div class="col-xs-6 col-md-6">
                                                <div class="page-heading">
                                                    <h1 class="pd-top-ten pd-bottom-ten">Order ID: <span id="get-oreder-id"><%-orderID%></span></h1>
                                                    <div class='bulk-order-status' style="padding-top:unset">Status: <span>   
                                                    <% if(orderStatus == 'Insufficient_funds') {%>
                                                    Insufficient funds 
                                                    <% } else { %> 
                                                    <%- orderStatus %>
                                                    <% }%> 
                                                    </span></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                                <div class="user-profile-list" style="top:20px">
                                                    <div class="user-list-column">

                                                        <ul class="list-unstyled mg-bottom-zero employee-status">                                                            
                                                            <li class="clearfix">
                                                                <div class="employee-label">
                                                                    <small>Total beneficiaries: </small>
                                                                </div>
                                                                <div class="user-discription-column label-details" style="text-align: right;padding-right: 50px;"><span id="totalPayouts"><%- totalPayouts %></span></div>
                                                            </li>
                                                            <li class="clearfix">
                                                                <div class="employee-label">
                                                                    <small>Total amount: </small>
                                                                </div>
                                                                <div class="user-discription-column label-details" style="text-align:right;padding-right: 50px;"><span class="ruppee">₹</span><span><%- amount %></span></div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="sub-container">
                                    <div class="row">
                                        <% include individual-order-table/individual-transfer-table %>
                                        <% include ../../../reissue-modal %>
                                    </div>
                                    <!-- last login  -->
                                    <% include ../../../common/time-footer %>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End --> 
        </div>
        <% include ../../../common/html-script %>
            <script src="/dist/scripts/individual-virtual-digital.js"></script>

            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>
    </body>

    </html>