
<div class="tab-pane active" id="tab_default_1">
    

                            <!-- Inner container -->
                            <div class="load-cards">
                                    <div>
                                        <div class="col-xs-9 col-md-9 custom-box instaGiftOrderCardsDV">
                                               <form autocomplete="__away">
                                                
                                                <div class="form-group left-align">
                                                    <label class="control-label" for="numberOfCards">No. of Super cards required</label>
                                                    <input class="form-control addUserFields" id="numberOfCards" type="number" min="0" minlength="1" pattern="[0-9]" autocomplete="__away"  placeholder="Enter quantity" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" title="Can be number only" >
                                                    <p class="error-message"></p>
                                                </div>
                                                <div class="form-group left-align">
                                                    <label class="control-label" for="referenceName">Reference name</label>
                                                    <input class="form-control addUserFields" id="referenceName" type="text" autocomplete="__away" placeholder="Eg: Super Card Order#, Spot awards, etc.">
                                                    <p class="error-message"></p>
                                                </div>
                                                <div class="straight-line mg-tb-less">&nbsp;</div>
                                                <h3>Delivery address</h3>
                                                <div class="clearfix instaDeliveryAdd">
                                                    <div class="form-group left-align">
                                                        <label class="control-label" for="name">Full Name</label>
                                                        <input class="form-control addUserFields" id="name" type="text" autocomplete="__away" placeholder="">
                                                        <p class="error-message"></p>
                                                    </div>
                                                    
                                                    <div class="form-group left-align phoneNumberDv">
                                                    <label class="control-label" for="phoneNumber">Phone number</label>
                                                    <div class="input-group"><div class="input-group-addon"> +91</div> <input autocomplete="__away" type="text" maxlength="10" pattern="[0-9]"  onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"  id="phoneNumber" data-validator="phone" placeholder="Phone Number" class="inputField inputFieldValidate addUserFields input-phone-validate custom-border" style="width: 96%;"></div>                                                        
                                                        <p>This number will be used to assist with scheduling the delivery</p>                                                        
                                                        <p class="error-message-phone"></p>
                                                    </div>
                                                </div>
                                                <div class="clearfix instaDeliveryAdd">
                                                        <div class="form-group left-align instaDeliveryTextarea">
                                                                <label class="control-label" for="address">Address</label>
                                                                <textarea class="form-control addUserFields" id="address" autocomplete="__away" type="text" placeholder=""><%-address.streetAddress%></textarea>
                                                                <p class="error-message"></p>
                                                            </div>
                                                </div>
                                                <div class="clearfix instaDeliveryAdd">
                                                    <div class="form-group left-align">
                                                        <label class="control-label" for="city">City</label>
                                                        <input class="form-control addUserFields" id="city" value="<%-address.city%>" type="text" autocomplete="__away" placeholder="Eg: Bangalore" onkeypress="return (event.charCode > 64 && 
                                                        event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
                                                        <p class="error-message"></p>
                                                    </div>
                                                    <div class="form-group left-align">
                                                        <label class="control-label" for="state">State</label>
                                                        <input class="form-control addUserFields" id="state" value="<%-address.state%>" type="text" autocomplete="off" placeholder="Eg: Karnataka" onkeypress="return (event.charCode > 64 && 
                                                        event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
                                                        <p class="error-message"></p>
                                                    </div>
                                                    
                                                </div>
                                                <div class="clearfix instaDeliveryAdd">
                                                    <div class="form-group left-align">
                                                        <label class="control-label" for="country">Country</label>
                                                        <input class="form-control addUserFields" id="country" value="<%-address.country ? address.country : 'India'%>" autocomplete="__away" type="text" value="India" placeholder="Eg: India" readonly>
                                                        <p class="error-message"></p>
                                                    </div>
                                                    <div class="form-group left-align">
                                                        <label class="control-label" for="zipcode">Pincode</label>
                                                        <input class="form-control addUserFields" autocomplete="__away"  value="<%-address.pincode%>" id="zipcode" pattern="[0-9]" type="text" min="0" maxlength="6" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" placeholder="Enter 6 digits">
                                                        <p class="error-message"></p>
                                                    </div>
                                                    
                                                </div>
                                                
                                                <div class="x-medium-button pd-top-ten">
                                                        <button disabled class="btn btn-default btn-disabled createPhysicalOrder"  type="button" name="" value="">PLACE ORDER
                                                        <img class="spinner-loader" id="showBtnLoader"  src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                                                        </button>
                                                        
                                                </div>
                                               </form>
                                        </div>
                                        <div class="col-xs-3 col-md-3" style="width:24%">
                                            <!-- Right Panel -->
                                            <div class="rewardPrvwTxt">PREVIEW</div>
                                            <div class="physcialCardPrw">
                                                <div class="physcialCardHead">Card design</div>
                                                <div class="physcialCardImg"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/superCardRBL.svg" /></div>

                                            </div>
                                            <!-- <div class="panel-container">
                                                   
                                                </div> -->
                                            <!-- Right Panel End -->
                                        </div>
                                    </div>
                             
                                    
                          
                            </div>
                            <!-- Inner container End -->
      
    </div>    
        


        <!-- Modal Box Transfer Initiated success -->
        <!-- <div class="modal fade" id="createOrderModalShow" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                          </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="page-sub-heading-txt program-code-list-wrpr text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg" alt="">
                                <h3>Order placed successfully</h3>
                                <h5 style="font-size: 13px;">We’re currently processing this order. A zeta representative will get back to you shortly.</h5>
                                <div class='bulk-order-dtls-wrpr'>
                                    <div class='bulk-order-dtls-hdg'>Order Summary</div>
                                    <ul>
                                        <li class="clearfix">
                                            <div class='bulk-order-lbl'>ID</div>
                                            <div class='bulk-order-val' id='createOrderId'></div>
                                        </li>
                                        <li class="clearfix">
                                            <div class='bulk-order-lbl'>Ref. Name</div>
                                            <div class='bulk-order-val' id='refName'></div>
                                        </li>
                                        <li class="clearfix createhideIt">
                                            <div class='bulk-order-lbl'>No. of gift cards</div>
                                            <div class='bulk-order-val' id='noOfCards'></div>
                                        </li> 
                                       
                                        <li class="clearfix createhideIt2">
                                            <div class='bulk-order-lbl'>Status</div>
                                            <div class='bulk-order-val'><span id='createStatus'><b style="color:#ff8b00">Pending</b></span></div>
                                        </li>
                                        
                                    </ul>
                                </div>
                               
                                <div class="x-medium-button create-bulk-transfer-order createhideIt2">
                                    <a onclick="reload()">
                                    <button class="btn btn-default" style="width:100%;" type="button">Done</button>
                                    </a>
                                </div>
                               
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->
        <!-- Modal Loader success order End  -->
        
        <!-- Modal Loader  -->
        <div class="modal fade" id="myModalLoader" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img class="reloadGif" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Placing Order. Please wait...</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

       

        <!-- Modal Oops   -->
        <div class="modal fade" id="Errorstate" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Oops. Something went wrong try again</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->

                <!-- Modal Oops   -->
                <div class="modal fade" id="ErrorstateX" tabindex="-1" role="dialog">
                        <div class="modal-dialog custom-modalbox" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="custom-modal-body">
                                    <div class="modal-body">
                                        <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                                        <h4 class="text-center pd-bottom-zero"></h4>
                                        <div class="modal-heading-pdtb" align="center">
                                            <div class="heading-sub-text errorState"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="flexible-button">
                                            <button class="btn btn-default" type="button" data-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Oops Transfer End  -->

        
                
            <script type="text/javascript">

              function reload(){
                  event.preventDefault();
                  let x = window.location.href;
                  window.location.href = x+'#cardOrderHistory';
                  window.location.reload();
              }
            </script>

