$color-tuatara: #343434;
$color-mako: #525252;
$color-bright-gray: #5A5A5A;
$color-white: #FFFFFF;
$color-grey: #8c8492;
$color-steel: #666666;
$color-white-lilac: #d8d8d8;
$color-dove-gray: #6d6d6d;
$color-alabaster: #FAFAFA;
$color-star-dust: #9f9f9f;
$color-light-gray: #d0d2d3;
$color-thunder: #4c4c4c;
$color-athens-gray: #DFDFDF;
$color-bumice: #C6C8CA;
$color-nobal-gray: #dfdde6;
$color-medium-block: #190f27;
$color-medium-green: #00b898;
$color-hint-red: #e9e6ee;
$color-zircon-gray: #E0E0E0;
$color-mirage-block: #190f27;
$color-mirage-block-less: #534B5D;
$white-smoke: #F4F4F4;
$cornflower-blue: #4a90e2;
$color-orange: #ffbc00;
$color-orange-darker: #fa7700;
$pastel-magenta: #eb3b8c;
$honey-flower: rgba(255, 255, 255, 0.1);
$color-minsk-pink: #422F66;
$color-magenta: #c7006c;
$color-purple: #623bff;
$color-blue-azhe: #b7b9d0;
$color-block-haze: #e6e5ea;
$color-blue: #4a90e2;
$color-green: #00b898;
$color-red: #e74c3c;
$color-orange: #ffbc00;
$color-dark-orange: #ff8b00;
$color-white-gray: #C7C4D2;
$color-santas-gray: #9892a5;
$color-cod-gray: #303030;
$color-studio-blue: #6e4db7;
$color-lighten-darken-gray: #C7C4D2;
$color-dark-gray: #f9f9f9;
$color-athens-gray-light: #F1EEF3;
$color-pink-progress: #633ea5;
$color-black: #000000;
$color-white-half: #B1B4ED;
$color-link-blue: #337ab7;
$dropdown-hover: #e9e6ed;
$hr-color:#C7C4D2;
$tab-border:#e6e6e6;
$tab-border-darker:#c3c1c1;
$orange-dark:#fdad0c;
$label-dark-color:#6f7188;
$orange-darker-color:#eb5946;
// Header Part Backgkround Colors
$header-navbar-bgcolor: $color-white;
// Left Side Bar Menu
$sidebar-menu-bgcolor: $color-mako;
$sidebar-heighlight-bgcolor: $color-steel;
// right Side Bar Menu
$right-panel-heading-bgcolor: #e2e2e2;
$right-panel-bgcolor: #e5e5e5;
// Inner container backgorund color
$inner-container-bgcolor: $color-hint-red;
// Text Color
$default-text-color: $color-dove-gray;
$header-navbar-text-color: $color-white-lilac;
$header-navbar-link-color: $color-mirage-block;
$breadcrumb-text-color: $color-star-dust;
$popover-text-color: $color-thunder;
$dot-color: $color-white-lilac;
$sub-heading-color: $color-medium-block;
$sub-heading-child-color: $color-bright-gray;
$breadcrumb-hover-color: $color-white;
$heading-color: $color-mirage-block;
// Pagination
$pagination-text-color: $color-mirage-block;
$pagination-border-color: $color-bumice;
$pagination-highlight-bgcolor: $color-blue-azhe;
// Dropdown Text Color
$dropdown-text-color: #333333;
$dropdown-border-color: #DFDFDF;
$dropdown-bgcolor: $color-white;
$dropdown-bgcolor-hover: $white-smoke;
// Radio Button
$radio-button-border-color: $color-lighten-darken-gray;
$radio-button-bgcolor: #C7C4D2;
// Cards Background Color
$card-top-bgcolor: $color-white;
$card-bottom-bgcolor: $color-white;
// Popover
$popover-text-color: $color-dove-gray;
// Button
$button-text-color: #777777;
$medium-button-bgcolor: #f1f1f1;
$medium-button-border-color: #bbbdbf;
$large-button-border-color: $color-zircon-gray;
$large-button-text-color: $color-mirage-block;
$button-hover-bgcolor: #eeaf00;
// Legend
$light-green: #abb9a3;
$light-pink: #bd8a8a;
// Table
$border-table-color: $color-athens-gray;
$element-horizontal-color: $color-nobal-gray;
$table-heading-bgcolor: $color-blue-azhe;
$table-heading-color: $color-white;
$table-odd-bgcolor: $color-white;
$table-even-bgcolor: $color-block-haze;
$table-body-color: $color-mirage-block;
$default-link-color: $color-blue;
$bgcolor-table-row-hover: $color-block-haze;
$color-border-table-row: $white-smoke;
$table-child-bgcolor: $color-athens-gray-light;
$dulpicate-txt-color: #eb5946;
$invalid-txt-color: #ffa500;
$valid-txt-color: #00b898;
// Media List
$media-box-border-color: $white-smoke;
$media-link-color: $cornflower-blue;
$box-width-image-bgcolor: $color-cod-gray;
// Nav Justified
$nav-justified-text-color: $color-white;
// Border color
$border-line: #D5D1DC;
$border-line-darker:#cecece;
// Input field
$border-color-input-field: $color-white-gray;
$para-medium-color: $color-santas-gray;
$border-color-input-text: $color-lighten-darken-gray;
// Tabs
$color-tabs-active-border: $color-studio-blue;
$color-tabs-active-text: $color-studio-blue;
// Modal Box
$modal-border-color: $white-smoke;
//Cards Background Colors
$meal-right-color: #ea6118;
$meal-left-color: #f5ab27;
$medical-left-color: #21a343;
$medical-right-color: #9dcd2b;
$fuel-left-color: #0e80ae;
$fuel-right-color: #56b8eb;
$gift-left-color: #bb1a27;
$gift-right-color: #f13e4c;
//Sign up
$zmv-font-clr: RGBA(65, 65, 65, 1);
$zmv-success-clr: RGBA(51, 218, 74, 1);
$zmv-vanilla-white-clr: RGBA(255, 255, 255, 1);
//Bill address details page purple gradient
$purple-bottom-color: #594ec4;
$purple-top-color: #805bd3;
// No Account
$reason-no-bg: #e9e6ed;