$font-family-text: "Proxima Nova Rg";
$font-family-light: "Proxima Nova Light";
$font-family-SemiBold: "Proxima Nova SemiBold";
// WEB FONTS 

@font-face {
    font-family: $font-family-text;
    src: url("https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/fonts/ProximaNova/ProximaNova-Regular.eot");
    src: url("https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: $font-family-light;    
    src: url("https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/fonts/ProximaNova/ProximaNova-Light.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: $font-family-SemiBold;
    src: url("https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/fonts/ProximaNova/ProximaNova-Semibold.eot");
    src: url("https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-thin-bold: 800;

// Font Size
$font-size-xs-small: 10px;
$font-size-small: 12px;
$font-size-xs: 13px;
$font-size-x-small: 14px;
$font-size-xx-small: 15px;
$font-size-regular: 16px;
$font-size-x-regular: 18px;
$font-size-xx-regular: 20px;
$font-size-large: 24px;
$font-size-x-large: 25px;
$font-size-m-large: 30px;
$font-size-medium-large: 36px;
$font-size-xx-large: 48px;
$font-size-xxx-large: 64px;
$font-size-xxxx-large: 96px;
$font-size-m-large:30px;
