    * {
        outline: none !important;
        // -webkit-transition: all 400ms ease-in-out;
        // -moz-transition: all 400ms ease-in-out;
        // -ms-transition: all 400ms ease-in-out;
        // -o-transition: all 400ms ease-in-out;
        // transition: all 400ms ease-in-out;
    }

    body {
        font-family: $font-family-text, sans-serif;
        font-size: $font-size-x-small;
        background-color: $color-hint-red;
        padding-right: 0 !important;
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
    }

    @mixin custom-animation {
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
    }

    .form-group textarea.form-control {
        border: 1px solid $color-white-gray;
        box-shadow: none;
    }

    .float-right {
        float: right;
    }

    .disabled {
        cursor: default;
    }

    .text-ellipsis {
        text-overflow: ellipsis;
    }

    .numbers-font,
    .roboto-font {
        font-family: 'Roboto', sans-serif;
        font-weight: $font-weight-regular;
    }

    .approved {
        color: $color-medium-green;
    }

    .declined {
        color: $color-red;
    }

    .numbers-font,
    .roboto-font {
        font-family: 'Roboto', sans-serif;
        font-weight: $font-weight-regular;
    }

    .max-width-row {
        max-width: 200px;
        word-wrap: break-word;
    }

    .ruppee {
        font-size: 0.9em;
        font-weight: normal;
    }

    .selected {
        background-color: #E9E6EE !important;
    }

    .custom-box {
        background-color: #FFFFFF;
        width: 708px;
        padding-bottom: 15px;
        transition: all 200ms ease-in-out;

        @media (min-width: 992px) {
            //width: 620px;
            transition: all 200ms ease-in-out;
        }

        &::after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }
    }

    #openAddFundModal {
        position: relative;
        top: -30px;
    }

    a.noColor {
        line-height: 30px !important;
        height: auto !important;
    }

    a.noColor:hover {
        background-color: transparent !important;
    }

    .dropdown>ul {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .nav>li>a:focus,
    .nav>li>a:hover {
        background-color: transparent;
    }

    .mg-b-zero {
        margin-bottom: 0px;
    }

    select#programsBenifits {
        width: 220px;
    }

    .sample-image {
        max-width: 1150px;
    }

    .horizontally-center {
        transform: translateX(50%);
    }

    .pd-btm-ten {
        padding-bottom: 10px;
    }

    .pd-btm-fifteen {
        padding-bottom: 15px;
    }

    .access-ctrl-user-name {
        line-height: 0.67;
        font-weight: 600;
        letter-spacing: 0.4px;
        font-size: 13px;
        color: #190f27;
    }

    .current-user-info {
        margin-left: 11px;
        padding: 3px 5px;
        border-radius: 2px;
        font-size: 11px;
        letter-spacing: 1px;
        text-align: center;
        color: #190f27;
        background-color: #dfdde6;
    }

    .access-ctrl-user-details {
        // opacity: 0.5;
        line-height: 0.8;
        color: #190f27;
    }

    .access-ctrl-status {
        font-size: 13px;
    }

    .hidden {
        display: none;
    }

    .left-align {
        text-align: left;
        display: block;
    }

    .center-align {
        text-align: center;
    }

    .right-align {
        text-align: right;
        display: block;
    }

    .pd-top-btm-fifteen {
        padding: 15px 0;
    }

    .mg-ten {
        margin: 10px
    }

    .padding-zero-all {
        padding: 0px;

        .opacity-point-seven {
            opacity: 0.7;
        }

        .underline-text {
            text-decoration: underline;
        }
    }

    #openAddFundModal {
        position: relative;
        top: -30px;
    }

    a.noColor {
        line-height: 30px !important;
        height: auto !important;
    }

    a.noColor:hover {
        background-color: transparent !important;
    }

    .dropdown>ul {
        // padding-left: 0px !important; //affecting logout dropdown
        padding-right: 0px !important;
    }

    .nav>li>a:focus,
    .nav>li>a:hover {
        background-color: transparent;
    }

    .mg-b-zero {
        margin-bottom: 0px;
    }

    select#programsBenifits {
        width: 220px;
    }

    .sample-image {
        max-width: 1150px;
    }

    .horizontally-center {
        transform: translateX(50%);
    }

    .pd-btm-ten {
        padding-bottom: 10px;
    }

    .pd-btm-fifteen {
        padding-bottom: 15px;
    }

    .access-ctrl-user-name {
        line-height: 0.67;
        font-weight: 600;
        letter-spacing: 0.4px;
        font-size: 13px;
        color: #190f27;
    }

    .current-user-info {
        margin-left: 11px;
        padding: 3px 5px;
        border-radius: 2px;
        font-size: 11px;
        letter-spacing: 1px;
        text-align: center;
        color: #190f27;
        background-color: #dfdde6;
    }

    .access-ctrl-user-details {
        // opacity: 0.5;
        line-height: 0.8;
        color: #190f27;
    }

    .access-ctrl-status {
        font-size: 13px;
    }

    .hidden {
        display: none;
    }

    .left-align {
        text-align: left;
        display: block;
    }

    .center-align {
        text-align: center;
    }

    .right-align {
        text-align: right;
        display: block;
    }

    .pd-top-btm-fifteen {
        padding: 15px 0;
    }

    .mg-ten {
        margin: 10px
    }

    .mg-left-ten {
        margin-left: 10px
    }

    .mg-bottom-ten{
        margin-bottom: 10px !important;
    }

    .zeta-scroll::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #f1eff2;
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .zeta-scroll::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    .zeta-scroll::-webkit-scrollbar-thumb {
        border-radius: 10px;
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #ccc6d4;
    }

    .opacity-point-seven {
        opacity: 0.7;
    }

    .underline-text {
        text-decoration: underline;
    }

    .glyphicon-option-vertical {
        display: none;
    }

    .grecaptcha-badge {
        display: none;
    }

    .file-main-container {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    #progress-top {
        position: fixed;
        z-index: 2000;
        top: 0px;
        left: -6px;
        width: 1%;
        height: 3px;
        background-color: #16b798;    
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        border-radius: 1px;    
        -moz-transition: width 600ms ease-out, opacity 500ms linear;
        -ms-transition: width 600ms ease-out, opacity 500ms linear;
        -o-transition: width 600ms ease-out, opacity 500ms linear;
        -webkit-transition: width 600ms ease-out, opacity 500ms linear;
        transition: width 1000ms ease-out, opacity 500ms linear;    
        b,
        i {
            position: absolute;
            top: 0;
            height: 3px;    
            -moz-box-shadow: #777777 1px 0 6px 1px;
            -ms-box-shadow: #777777 1px 0 6px 1px;
            -webkit-box-shadow: #777777 1px 0 6px 1px;
            box-shadow: #777777 1px 0 6px 1px;
    
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            border-radius: 100%;
        }    
        b {
            clip: rect(-6px, 22px, 14px, 10px);
            opacity: .6;
            width: 20px;
            right: 0;
        }    
        i {
            clip: rect(-6px, 90px, 14px, -6px);
            opacity: .6;
            width: 180px;
            right: -80px;
        }
    }