// Header Part
$header-height: 59px;
$header-line-height: 59px;
$padding-top-zero: 0px;
$padding-bottom-zero: 0px;
$padding-left-zero: 0px;
$padding-right-zero: 0px;
$padding-top-fifty: 50px;
$header-pd-left: 10px;
$header-pd-right: 10px;
$sidbar-nav-pdtblr: 5px 18px 10px 18px;
$sidebar-nav-main-pdtblr: 15px 20px 5px 20px;
$block-border-radius: 4px;

// Sidebar
$sidebar-width: 250px;

// Inner top section well
$well-top-pd: 35px;
$well-left-pd: 60px;
$well-right-pd: 60px;
$well-bottom-pd: 40px;
$well-tblr-pd:30px 40px;

$sub-well-top-pd: 30px;
$sub-well-left-pd: 30px;
$sub-well-right-pd: 30px;
$sub-well-bottom-pd: 30px;

// Container
$mg-container-zero: 0px;
$padding-tblr-zero: 0px;

// Dispaly Card Section
$card-width: 345px;
$card-height: 213px;

// Cards Thumbnail
$card-thumbnail-width: 90%;
$card-thumbnail-height: 90%;

// Buttons
$medium-button-width: 122px;
$medium-button-height: 32px;
$large-button-width: 240px;
$large-button-height: 44px;
$large-small-button-width: 123px;
$large-small-button-height: 34px;
$small-button-width: 100px;
$small-button-height: 44px;
$x-medium-button-width: 200px;
$x-small-button-height: 44px;
$height-small: 34px;

// Common
$padding-top-ten: 10px;
$padding-bottom-ten: 10px;
$padding-bottom-five: 5px;

// Legend
$legend-width: 12px;
$legend-height: 7px;

// Filter
$padding-filter-top: 36px;
$selectbox-filter-width: 100%;
$search-field-width: 292px;

// Table
$table-padding-top: 15px;
$table-padding-bottom: 15px;
$table-padding-left: 20px;
$table-padding-right: 20px;

$table-th-padding-top: 8px;
$table-th-padding-bottom: 8px;

// Bnner
$banner-hieght-sm: 250px;
$banner-hieght-md: 340px;
$banner-hieght-lg: 500px;
$banner-padding-top: 30px;
$banner-padding-bottom: 30px;
$banner-padding-left: 40px;
$banner-padding-right: 40px;

// Media List
$media-box-height: 220px;
$media-list-md-width: 285px;
$media-list-md-height: 180px;
$media-list-xs-width: 40px;
$media-list-xs-height: 40px;

// Container
$sub-container-pdtblr: 50px 60px;

// Straight Border
$line-margin-top: 20px;
$line-margin-bottom: 20px;

// File Upload
$file-upload-height: 230px;

// Date Picker
$date-picker-width: 270px;

// Modal Box
$width-modal-box: 498px;
$height-modal-box: 464px;
$padding-modal-body: 5px 40px 40px 40px;

// Input Field
$input-field-height: 45px;
