<% include ../../../../common/html-head %>

    <body>
            <input type="hidden" id="productType" value="physical">
            <input type="hidden" id="programID" value=""> 
        <div class="wrapper">
            <% include ../../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container load-cards">
                                <!-- Banner Start -->
                                <div class="top-section physical-banner">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <li><a href="/companies/<%- companyID %>/spotlight">Zeta Spotlight</a></li>
                                                    <li class='active'><a href="/companies/<%- companyID %>/spotlight/physical#overview"> Physical Gift Cards %></a>
                                                    </li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Popover End -->
                                        <div class="row">
                                            <div class="col-xs-6 col-md-6">
                                                <div class="page-heading">
                                                    <h1 class="pd-top-ten pd-bottom-ten">Order Cards</h1>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-6">
                                            <a href="/companies/<%- companyID %>/spotlight/physical#cardOrderHistory">
                                                <div class="order-history-physical pull-right">
                                                    <h2>Card Order History</h2>
                                                </div>
                                                </a>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="sub-container">
                                    <div>
                                        <div class="col-xs-9 col-md-9 custom-box instaGiftOrderCardsDV">
                                               <form>
                                                
                                                <div class="form-group left-align">
                                                    <label class="control-label" for="numberOfCards">No. of Gift cards required</label>
                                                    <input class="form-control addUserFields" id="numberOfCards" type="number" min="0" pattern="[0-9]"  placeholder="Enter quantity" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" title="Can be number only" >
                                                    <p class="error-message"></p>
                                                </div>
                                                <div class="form-group left-align">
                                                    <label class="control-label" for="referenceName">Reference name</label>
                                                    <input class="form-control addUserFields" id="referenceName" type="text" placeholder="Eg: Diwali Gift, Spot awards, etc.">
                                                    <p class="error-message"></p>
                                                </div>
                                                <div class="straight-line mg-tb-less">&nbsp;</div>
                                                <h3>Delivery address</h3>
                                                <div class="clearfix instaDeliveryAdd">
                                                    <div class="form-group left-align">
                                                        <label class="control-label" for="name">Full Name</label>
                                                        <input class="form-control addUserFields" id="name" type="text" placeholder="">
                                                        <p class="error-message"></p>
                                                    </div>
                                                    
                                                    <div class="form-group left-align phoneNumberDv">
                                                    <label class="control-label" for="phoneNumber">Phone number</label>
                                                    <div class="input-group"><div class="input-group-addon"> +91</div> <input type="number" autocomplete="tel" onkeypress="if(this.value.length==10) return false;"  id="phoneNumber" data-validator="phone" placeholder="Phone Number" class="inputField inputFieldValidate addUserFields input-phone-validate custom-border" style="width: 96%;"></div>                                                        
                                                        <p>This number will be used to assist with scheduling the delivery</p>                                                        
                                                        <p class="error-message-phone"></p>
                                                    </div>
                                                </div>
                                                <div class="clearfix instaDeliveryAdd">
                                                        <div class="form-group left-align instaDeliveryTextarea">
                                                                <label class="control-label" for="address">Address</label>
                                                                <textarea class="form-control addUserFields" id="address" type="text" placeholder=""></textarea>
                                                                <p class="error-message"></p>
                                                            </div>
                                                </div>
                                                <div class="clearfix instaDeliveryAdd">
                                                    <div class="form-group left-align">
                                                        <label class="control-label" for="city">City</label>
                                                        <input class="form-control addUserFields" id="city" type="text" placeholder="Eg: Bangalore" onkeypress="return (event.keyCode >=48 && event.keyCode <= 57">
                                                        <p class="error-message"></p>
                                                    </div>
                                                    <div class="form-group left-align">
                                                        <label class="control-label" for="state">State</label>
                                                        <input class="form-control addUserFields" id="state" type="text" placeholder="Eg: Karnataka">
                                                        <p class="error-message"></p>
                                                    </div>
                                                    
                                                </div>
                                                <div class="clearfix instaDeliveryAdd">
                                                    <div class="form-group left-align">
                                                        <label class="control-label" for="country">Country</label>
                                                        <input class="form-control addUserFields" id="country" type="text" value="India" placeholder="Eg: India" readonly>
                                                        <p class="error-message"></p>
                                                    </div>
                                                    <div class="form-group left-align">
                                                        <label class="control-label" for="zipcode">Pincode</label>
                                                        <input class="form-control addUserFields" id="zipcode" type="number" min="0" max="10" onkeypress="if(this.value.length==6) return false;"  placeholder="Enter 6 digits">
                                                        <p class="error-message"></p>
                                                    </div>
                                                    
                                                </div>





                                                <!-- <div class="clearfix instaDeliveryAdd">
                                                    <div class="form-group left-align instaPinDv">
                                                        <label class="control-label" for="zipcode">Pincode</label>
                                                        <input class="form-control addUserFields" maxlength="6" onKeyPress="if(this.value.length==6) return false;" id="zipcode" pattern="[0-9]{6}" type="number" placeholder="">
                                                        <input type="text" class="form-control addUserFields instaAdd" placeholder="City, State, Country" readonly>
                                                        <img class="add-user-loader" id="addUserLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg" style="display: none;">
                                                        <p class="error-message"></p>
                                                    </div>
                                                   
                                                </div> -->
                                                <!-- <input id="city" type="hidden" />
                                                <input id="state" type="hidden" />
                                                <input id="country" type="hidden" />        -->
                                                
                                                <div class="x-medium-button pd-top-ten">
                                                        <button disabled class="btn btn-default btn-disabled createPhysicalOrder"  type="button" name="" value="">PLACE ORDER
                                                        <img class="spinner-loader" id="showBtnLoader"  src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                                                        </button>
                                                        
                                                </div>
                                               </form>
                                        </div>
                                        <div class="col-xs-3 col-md-3" style="width:24%">
                                            <!-- Right Panel -->
                                            <div class="rewardPrvwTxt">PREVIEW</div>
                                            <div class="physcialCardPrw">
                                                <div class="physcialCardHead">Card design</div>
                                                <% if(ifiBankName == 'HDFC') { %>  
                                                <div class="physcialCardImg"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/giftPhysicalCardHDFC.png" /></div>
                                                <% } else if(ifiBankName == 'RBL'){ %>
                                                    <div class="physcialCardImg"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/giftPhysicalCardRBL.svg" /></div>
                                                <% }%>

                                            </div>
                                            <!-- <div class="panel-container">
                                                    <h6>Need help?</h6>
                                                    <div class="straight-line mg-tb-less">&nbsp;</div>
    
                                                    <div class="header-preview pd-bottom-ten">
                                                        <div>
                                                            <p>Reach out to us on support@zeta.in or +91 80 66905995. We assure you of quick service.</p><br>
                                                            <p>You may also reach out to your Corporate Account Manager.</p><br>
                                                            <b>Documentation</b>
                                                            <p class="opcity-reduce">For more help and FAQs, <a href="/companies/<%- companyID %>/spotlight/instagift/faq">click here</a></p>
                                                        </div>

                                                    </div>
                                                </div> -->
                                            <!-- Right Panel End -->
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-12">
                                        <!-- last login  -->
                                    <% include ../../../../common/time-footer %>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>
        


        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" id="createOrderModalShow" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                          </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="page-sub-heading-txt program-code-list-wrpr text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg" alt="">
                                <h3>Order placed successfully</h3>
                                <h5 style="font-size: 13px;">We’re currently processing this order. A zeta representative will get back to you shortly.</h5>
                                <div class='bulk-order-dtls-wrpr'>
                                    <div class='bulk-order-dtls-hdg'>Order Summary</div>
                                    <ul>
                                        <li class="clearfix">
                                            <div class='bulk-order-lbl'>ID</div>
                                            <div class='bulk-order-val' id='createOrderId'></div>
                                        </li>
                                        <li class="clearfix">
                                            <div class='bulk-order-lbl'>Ref. Name</div>
                                            <div class='bulk-order-val' id='refName'></div>
                                        </li>
                                        <li class="clearfix createhideIt">
                                            <div class='bulk-order-lbl'>No. of gift cards</div>
                                            <div class='bulk-order-val' id='noOfCards'></div>
                                        </li> 
                                       
                                        <li class="clearfix createhideIt2">
                                            <div class='bulk-order-lbl'>Status</div>
                                            <div class='bulk-order-val'><span id='createStatus'><b style="color:#ff8b00">Pending</b></span></div>
                                        </li>
                                        
                                    </ul>
                                </div>
                               
                                <div class="x-medium-button create-bulk-transfer-order createhideIt2">
                                    <a href="/companies/<%- companyID %>/spotlight/physical#cardOrderHistory">
                                    <button class="btn btn-default" style="width:100%;" type="button">Done</button>
                                    </a>
                                </div>
                               
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader success order End  -->
        
        <!-- Modal Loader  -->
        <div class="modal fade" id="myModalLoader" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img class="reloadGif" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Placing Order. Please wait...</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

       

        <!-- Modal Oops   -->
        <div class="modal fade" id="Errorstate" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Oops. Something went wrong try again</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->

                <!-- Modal Oops   -->
                <div class="modal fade" id="ErrorstateX" tabindex="-1" role="dialog">
                        <div class="modal-dialog custom-modalbox" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="custom-modal-body">
                                    <div class="modal-body">
                                        <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                                        <h4 class="text-center pd-bottom-zero"></h4>
                                        <div class="modal-heading-pdtb" align="center">
                                            <div class="heading-sub-text errorState"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="flexible-button">
                                            <button class="btn btn-default" type="button" data-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Oops Transfer End  -->

        <% include ../../../../common/html-script %>
        <!-- <script src="/dist/scripts/home.js">
         
        </script> -->
        <script src="/dist/scripts/pointbasedHome.js"></script> 
                
            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })

                $( document ).ready(function() {
                $( "#city" ).keypress(function(e) {                    
                    var key = e.keyCode;
                    if (key >= 48 && key <= 57) {
                        e.preventDefault();
                    }
                });
                $( "#state" ).keypress(function(e) {
                    var key = e.keyCode;
                    if (key >= 48 && key <= 57) {
                        e.preventDefault();
                    }
                });
                
            });
            </script>
    </body>

    </html>
