<tr data-orderid="<%- order.orderID %>" class="orders-row numbers-font">
    <td> 
        
        <div class="orders-row">
            <% if(order.orderStatus.toLowerCase() === "error") { %>
                <a href="reward/<%-order.programID%>/transfers/<%-order.orderID%>/errors" class="text-id">
                    <strong><%- order.orderID%></strong>
                <a/>
                <% } else { %>
                <a href="reward/<%- order.orderID %>"  class="text-id">
                    <strong><%- order.orderID%></strong>
                <a/>
            <% } %>  
        
    </div>
     
    </td>
    <td>
        <%- order.createdOn%>
    </td>
    <!-- <td class="text-capitalize">
        <%- order.cardTitle %>
    </td> -->
    <td style="text-align:right">
        <%- order.totalScheduledPayouts %>
    </td>
    <td style="text-align:right">
        <span class="ruppee">₹</span>
        <%- order.amount %>
    </td>
    <td>
        <% if(order.orderStatus.toLowerCase() === "completed") { %>
            <span class="instagift_status_completed text-capitalize">
                <%- order.orderStatus.toLowerCase() %>
            </span>

            <% } %>
            <% if(order.orderStatus.toLowerCase() === "error") { %>
            <a href="reward/<%-order.programID%>/transfers/<%-order.orderID%>/errors">
                <span class="instagift_status_stalled text-capitalize">
                     Errors Found 
                </span>
            <a/>
            <% } %>
            <% if(order.orderStatus.toLowerCase() === "cancelled") { %>
                <span class="instagift_status_stalled text-capitalize">
                    <%- order.orderStatus.toLowerCase() %>
                </span>

            <% } %>
            <% if(order.orderStatus.toLowerCase() === "stalled") { %>
                <span class="instagift_status_stalled text-capitalize">
                    <%- order.orderStatus.toLowerCase() %>
                </span>

            <% } %>
            <% if(order.orderStatus.toLowerCase() === "processing_failed") { %>
                <span class="instagift_status_stalled text-capitalize">
                        Processing Failed
                </span>

            <% } %>
            <% if(order.orderStatus.toLowerCase() === "failed") { %>
                <span class="instagift_status_stalled text-capitalize">
                    <%- order.orderStatus.toLowerCase() %>
                </span>

            <% } %>
            <% if(order.orderStatus.toLowerCase() === "initiated") { %>
                <span class="instagift_status_processing text-capitalize">
                    <%- order.orderStatus.toLowerCase() %>
                </span>

            <% } %>
            <% if(order.orderStatus.toLowerCase() === "processing") { %>
                <span class="instagift_status_processing text-capitalize">
                    <%- order.orderStatus.toLowerCase() %>
                </span>

            <% } %>
            <% if(order.orderStatus.toLowerCase() === "valid") { %>
                <span class="instagift_status_processing text-capitalize">
                    <%- order.orderStatus.toLowerCase() %>
                </span>
             <% } %>
            <% if(order.orderStatus.toLowerCase() === "scheduled") { %>
                <span class="instagift_status_processing text-capitalize">
                    <%- order.orderStatus.toLowerCase() %>
                </span>

            <% } %>
    </td>

    <td class="file-url">
        <a href="<%- fileUrl %>" download class="tooltip-title tooltip-cursor-pointer">
            <% if(order.fileName.substr(order.fileName.lastIndexOf(".") + 1) === 'csv') {%>
                <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/csv.svg" alt="Download Order">
                <% } else if(order.fileName.substr(order.fileName.lastIndexOf(".") + 1) === 'xls') { %>
                    <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xls.svg" alt="Download Order">
                    <% } else if(order.fileName.substr(order.fileName.lastIndexOf(".") + 1) === 'xlsx') { %>
                        <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xlsx.svg" alt="Download Order">
                        <% } else { %>
                            <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/report-copy.png" alt="Download Order">
                            <% } %>

                                <!-- <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xls@2x.png" alt="Download Order"> -->
                                <span class="tooltip-view">
                                    <!-- Tooltip Content  -->
                                    <div class="tooltip-lrtb-pd">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">Download Order File</div>
                                        </div>
                                    </div>
                                    <!-- Tooltip Content End -->
                                </span>
        </a>


        <% if((order.orderStatus.toLowerCase() === "initiated") || (order.orderStatus.toLowerCase() === "processing") || (order.orderStatus.toLowerCase() === "scheduled") || (order.orderStatus.toLowerCase() === "valid") || (order.orderStatus.toLowerCase() === "stalled")) { %>
            <a href="<%- performaUrl %>" download class="tooltip-title tooltip-cursor-pointer" target="_blank">
                <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/proforma-icon.png" alt="Download Proforma Invoice">
                <span class="tooltip-view">
                    <!-- Tooltip Content  -->
                    <div class="tooltip-lrtb-pd">
                        <div class="row">
                            <div class="col-xs-12 col-md-12"> Download Proforma Invoice</div>
                        </div>
                    </div>
                    <!-- Tooltip Content End -->
                </span>
            </a>
            <% } %>


                <% if(order.orderStatus.toLowerCase() === "completed") { %>
                    <a href="<%- inVoiceUrl %>" download class="tooltip-title tooltip-cursor-pointer">
                        <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/invoice-icon.png" alt="Download Invoice">
                        <span class="tooltip-view">
                            <!-- Tooltip Content  -->
                            <div class="tooltip-lrtb-pd">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">Download Invoice</div>
                                </div>
                            </div>
                            <!-- Tooltip Content End -->
                        </span>
                    </a>

                    <a href="<%- orderReportFile %>" download class="tooltip-title tooltip-cursor-pointer">

                        <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/report-copy.png" alt="Download Order Report">
                        <span class="tooltip-view">
                            <!-- Tooltip Content  -->
                            <div class="tooltip-lrtb-pd">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12"> Download Order Report</div>
                                </div>
                            </div>
                            <!-- Tooltip Content End -->
                        </span>
                    </a>
                    <% } %>


    </td>

    <!-- <td>
        <a href="#" target="_blank" class=" text-center tooltip-title tooltip-cursor-pointer">
            <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/proforma-icon.svg" alt="Proforma Invoice">
            <span class="tooltip-view">
                  <div class="tooltip-lrtb-pd">
                      <div class="row">
                          <div class="col-xs-12 col-md-12">Report and Invoice will be available once the order is processed</div>
                      </div>
                  </div>
            </span>
        </a>
    </td> -->
</tr>