<table class="custom-table hover-state">
    <thead>
        <tr>
            <th >BENEFICIARY</th>
            <th class="text-center">MOBILE/EMAIL</th>
            <!-- <th class="text-center">TRANSFERRED (₹)</th> -->
            <th class="text-center">CARDS</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="main-content"></tbody>
    <tbody class="loading-content">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
        <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
    </tbody>
</table>
<div align="center" class="row paging-container"></div>
<div class="table-empty-state" style="display: none">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-empty-state.png" alt="">
    <p>No data available</p>
</div>

<div class="table-error-state" style="display: none">
    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-error-state.png" alt="">
    <p>Data failed to load.</p>
    <a class="reload-btn" href="javascript:void(0);">Reload</a>
</div>
