<tr onclick="document.location.href='/beneficiaries/<%-employeeID%>?companyID=<%-companyID%>';" style="cursor:pointer">
        <td class="profile-image">
                <img style="float:left;" src="<%-(profileInfo.profilePicURL) ? profileInfo.profilePicURL : 'https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png' %>"
                        alt="Zeta Profile">
                <div class="profile-details profile-details-benefits" style="padding-left: 45px!important;width: 100% !important;padding-top: 7px;">
                        <!-- <a class="text-capitalize text" href="javscript:void(0)"> -->
                                <strong class="text-capitalize text">
                                        <%- name %>
                                </strong>
                        <!-- </a> -->

                </div>
        </td>
        <td class="card-status profile-details-cardstatus text-center">
                <% if(phoneNumber !== '-1') { %>
                        <span class="tel" title="<%- phoneNumber %>">
                                <%- phoneNumber %>
                        </span>
                        <% } else { %>
                                <div class="emailIds">
                                        <span class="email text-lowercase" title="<%- email %>">
                                                <%- email%>
                                        </span>
                                </div>
                                <% } %>
        </td>
        <td class="card-status profile-details-cardstatus text-center">

                <span class="transfer_status_completed text-capitalize">
                        <%- activeCardCount %> Active</span> /
                <span class="cancelled text-capitalize">
                        <%- closedCardCount %> Closed</span>
        </td>
        <td class="text-right">
                        <img src="../../../images/arrow-right.png" >
                
        </td>


</tr>