<% include ../../../../common/html-head %>

    <body>
        <input id="currentProductType" type="hidden" value="<%- productType %>">
        <input id="programID" type="hidden" value="<%- programID %>">
        <input id="fundingBlanc" type="hidden" value="<%- benefitDetails.fundingAccountDetails.rsBalance %>">

        <div class="wrapper">
            <% include ../../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container load-cards">
                                <!-- Banner Start -->
                                <div class="top-section instagift-banner">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <li><a href="/companies/<%- companyID %>/spotlight"><% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %>Zeta Spotlight <%} %> </a></li>
                                                    <li class='active'><a href="/companies/<%- companyID %>/spotlight/instagift/<%- benefitDetails.programID %>"> InstaGift %></a>
                                                    </li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Popover End -->
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="page-heading">
                                                    <h1 class="pd-top-ten pd-bottom-ten">Load Cards</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="sub-container">
                                    <div class="row">
                                        <div class="col-xs-9 col-md-19">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="page-sub-heading">
                                                        <h2 class="sub-heading-pdb">Order Reference Name</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control purchase-ref-width height-small" placeholder="e.g. Diwali gifting - mumbai office" id="purchaseOrderNo" type="text" required>
                                                <p class="error-msg error-color" id="refNumber">Please enter an order reference name</p>
                                            </div>
                                            <!-- File Upload -->
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12 file-main-container">
                                                    <h4>Upload a file with card and beneficiary details</h4>
                                                    <form action="/" class="upload-cards">
                                                        <div class="file-upload-container page-sub-heading">
                                                            <div class="dotted-line">
                                                                <div class="display-table file-upload-height">
                                                                    <div class="table-row">
                                                                        <div class="table-column">
                                                                            <img id="image_upload_preview" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/files-icon.png" alt="your image" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="table-row">
                                                                        <div class="table-column">
                                                                            <div class="fileUpload">
                                                                                <p class="file-input">
                                                                                    <input type="file" name="file" id="file" class="hide">
                                                                                    <label for="file" class="upload-button"><strong>+</strong> Upload File</label>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="dz-preview load-cards-preview">
                                                            <div class="dotted-line">
                                                                <div class="dz-details">
                                                                    <img class="fileType" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png" alt="xls">
                                                                    <div class="dz-filename"><span></span>
                                                                    </div>
                                                                    <div class="dz-progress"><span class="dz-upload"></span>
                                                                    </div>
                                                                    <div class="dz-error-message">The uploaded file contains the following errors</div>
                                                                    <a class="removelink" href="javascript:void(0);">Change
                                                                    File</a>
                                                                    <div class="success"></div>
                                                                    <div class="error"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- File Upload End -->
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <p class="pd-top-ten pd-bottom-ten para-color">This transfer will use funds from
                                                        <span class="color-block"><%- benefitDetails.fundingAccountDetails.name %></span> (Current Balance: <span class="color-block"><span class="ruppee">₹</span>
                                                        <%- benefitDetails.fundingAccountDetails.balance %>
                                                            </span>)
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <p class="error-msg hide pd-top-ten pd-bottom-ten para-color">Insufficient funds in Funding account
                                                        <span class="color-block"><%- benefitDetails.fundingAccountDetails.name %></span> (Current Balance: <span class="color-block"><span class="ruppee">₹</span>
                                                        <%- benefitDetails.fundingAccountDetails.balance %>
                                                            </span>)
                                                    </p>
                                                    <p class="error-msg error-color" id="insufficient-fund">
                                                        Insufficient funds in Funding account - xxxx
                                                        <%- funAccountLastDigit%> (Current Balance: <span class="ruppee">₹</span>
                                                            <%- benefitDetails.fundingAccountDetails.balance %>). You need an additional <span class="ruppee">₹</span><span id="additional-bal"></span> to load this order
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="x-medium-button pd-top-ten pd-bottom-ten">
                                                        <button class="btn btn-default btn-disabled" type="button" disabled value="" id="create-order">LOAD CARDS
                                                        </button>
                                                        <a id="fundChequeTransfer" class="btn btn-secondary text-uppercase addFundsOnHome hide-btn" href="/admin/funding-accounts/add-funds-details">
                                                            <strong>+</strong> ADD FUNDS
                                                        </a>
                                                        <p class="error-color error-msg">There was an error while loading your cards. Please try again.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="pd-top-ten pd-bottom-ten para-color">Note: Gift Cards are non-reloadable under RBI guidelines. Please ensure that all the information is correct before loading
                                            </p>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                            <!-- Right Panel -->
                                            <div class="panel-container">
                                                <h6>Need help?</h6>
                                                <div class="straight-line mg-tb-less">&nbsp;</div>
                                                <p class="opcity-reduce">
                                                    Upload a file with Beneficiary list & details in an XLS, XLSX or CSV format.
                                                </p>
                                                <div class="header-preview pd-top-ten pd-bottom-ten">
                                                    <b>Sample Preview</b>
                                                </div>
                                                <div class="preview-image-container">
                                                    <img data-toggle="modal" data-target="#thumbnailModal" class="thumbnail view-image" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/load-cards-sample.png" alt="Zeta Preview" />
                                                    <div class="image-preview">
                                                        <img data-toggle="modal" data-target="#thumbnailModal" class="search-image" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png" alt="zeta search" />
                                                    </div>
                                                </div>
                                                <div class="header-preview pd-top-twenty pd-bottom-ten">
                                                    <b>Download samples</b>
                                                </div>
                                                <div class="download-img-list">
                                                    <a href="/download-samples/instagift-sample.xlsx"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png" alt="instagift sample" /></a>
                                                    <a href="/download-samples/instagift-sample.csv"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png" alt="instagift sample" /></a>
                                                    <a href="/download-samples/instagift-sample.xls"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png" alt="instagift sample" /></a>
                                                </div>
                                            </div>
                                            <!-- Right Panel End -->
                                        </div>
                                    </div>
                                    <!-- last login  -->
                                    <% include ../../../../common/time-footer %>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>
        <!-- Modal Preview  -->
        <div tabindex="-1" class="modal fade load-cards-modal" id="thumbnailModal" role="dialog">
            <div class="modal-dialog thumbnail-modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <img class="thumbnail view-image" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/load-cards-sample.png" alt="Zeta Preview" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Preview End -->


        <!-- myModalInitiatedSuccess -->
        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade load-cards-modal" id="myModalInitiatedSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Your cards are being loaded</h4>
                            <p class="text-center">Loading Instagift cards typically takes a few minutes. You can check their status or load more cards.</p>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a class="btn btn-default load-more" href="">LOAD MORE CARDS</a>
                                <a class="btn btn-default" id="viewCardProgram" data-programtype="instagift" href="/companies/<%- companyID %>/spotlight/instagift/<%- benefitDetails.programID %>">VIEW PROGRESS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Box Transfer Initiated success End -->
        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="myModalOops" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Oops. We could not initiate transfer</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text">This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on support@zeta.in
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" name="" value="" id="retryBtn">Try Again</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->
        <!-- Modal Loader  -->
        <div class="modal fade" id="myModalLoader" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img class="reloadGif" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Initiating Transfer. Please wait...</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

        <!-- Modal Loader  -->
        <div class="modal fade" id="loading" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img class="reloadGif" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Loading. Please wait...</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

        <!-- Modal Oops   -->
        <div class="modal fade" id="Errorstate" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Oops. Something went wrong try again</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <!-- Modal details cheque transfer End -->
        <% include ../../../../common/html-script %>
            <script src="/dist/scripts/load-cards.js"></script>
            <script src="/lib/jquery-csv/src/jquery.csv.js"></script>
            <script src="/lib/js-xlsx/dist/xlsx.core.min.js"></script>
            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>
    </body>

    </html>