<div class="bad-bits-container">
    <div class="bad-image-container">
        <div class="bad-image">
            <img src="/images/feedback/bad-bits.svg" class="bad-bits-image"/>
        </div>
        <div class="bad-stat-container">
            <p class="bad-bits-text">Bad Bits</p>
            <p class="bad-bits-total-rating">Rated by <%- feedback.badBits.totalUsers %> people</p>
        </div>
    </div>
    <div class="bad-review-container" id="bad-review-container">
        <div class="loading--box" id="bad-bits-loading">
            <div class="loading--body">
                <p class="loading--text">Loading...</p>
                <img src="/images/feedback/loading.svg" alt="">
            </div>
        </div>
    <% if(feedback.badBits.bits.length == 0){ %>
         
        <div class="bad-bits-empty" id="bad-bits-empty" >
            <img src="/images/feedback/table-empty-icon.svg" alt="">
            <h4>No data</h4>
        </div>
     <% }else{ %>
        <% for(let i =0;i< feedback.badBits.bits.length;i++) {%>
            <div class="bad-review-text-number">
                <p class="bad-review-text"><%- feedback.badBits.bits[i].field %></p>
                <p class="bad-review-number"><%- feedback.badBits.bits[i].percentage %></p><span>%</span>
            </div>
            <div class="loader-container">
                <div class="loader-outer">
                    <div class="loader-inner">
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
    </div>
</div>