<div class="customer-rating-container">
    <div class="rating-star-container">
        <div class="rating-text-container">
            <span class="avg-rating"><%- ratings.averageRating %></span> /<span class="total-rating">5</span>
        </div>
        <div class="star-rating-container">
            <% for(var i=0;i<  ratings.goldenStar ;i++ ) { %>
                <img src="/images/feedback/rating.svg" class="rating-star"/>
            <% } %>
            <% for(var j=0;j<  ratings.normalStar ;j++ ) { %>
                <img src="/images/feedback/normal-star.svg" class="rating-star"/>
            <% } %>
           
        </div>
        <div class="rated-by-people-container">
            Rated by <%- ratings.totalNoOfUsers %> people
        </div>
    </div>
    <div class="rating-stats-graph-container">
        <div id="rating-stats-container">
            
        </div>
    </div>
</div>
