<div class="city">
    <div class="city-dropdown">
    <p class="city-label">CITIES</p>
        <p class="city-title">ALL CITIES </p>
        <span class="city-image"></span>
    </div>
    <div class="city-triangle-container">
        <div class="city-triangle">
        </div>
    </div>
    <div class="city-list">
    <% for(var i=0;i<cities.length;i++) { %>
        <div class="city-multiselect-container">
        <div  class="city-multiselect-option"><span class="city-tick">&#10003;</span></div>
        <div class="city-multiselect-values" data-check= <%- cities[i].check %> ><%- cities[i].cityName %></div>
        </div>
    <% } %>
    </div>
</div>