    <div class="loading--box" id="customer-comments-loading">
        <div class="loading--body">
            <p class="loading--text">Loading...</p>
            <img src="/images/feedback/loading.svg" alt="">
        </div>
    </div>
    <% if(comments.length == 0){ %>
        <div class="customer-comments-empty" id="customer-comments-empty" >
            <img src="/images/feedback/table-empty-icon.svg" alt="">
            <h4>No data</h4>
        </div>
    <% }else{ %>
        <% for (let i = 0 ;i<comments.length;i++) { %>
        <div class="comment-inner-container">
            <p class="comment-user-name"> <%- comments[i].customerName %></p>
            <p class="comment-user-time"> <%- comments[i].timeStamp %></p>
            <p class="user-comment"> <%- comments[i].comment %></p>       
        </div>
        <% } %>
    <% } %>

    