
        <% for (let i = 0 ;i<comments.length;i++) { %>
        <div class="comment-inner-container">
            <p class="comment-user-name"> <%- comments[i].customerName %></p>
            <p class="comment-user-time"> <%- comments[i].timeStamp %></p>
            <p class="user-comment"> <%- comments[i].comment %></p>       
        </div>
        <% } %>
   
