<div class="comment-text-container">
    <p class="comment-text">Customer Comments</p>
</div>
<div class="comment-rating-container">
    <span class="customer-rating" data-star="5">5 Stars</span>
    <span class="customer-rating" data-star="4">4 Stars</span>
    <span class="customer-rating" data-star="3">3 Stars</span>
    <span class="customer-rating" data-star="2">2 Stars</span>
    <span class="customer-rating" data-star="1">1 Stars</span>
</div>
<div class="comment-details-container" id="comment-details-container">
   <% include ../../section/feedback/comment-data-feedback %>
</div>