<div class="row">
   <div class="col-md-4" id = "cityPicker"> 
    <% include ../../section/feedback/city-feedback-dropdown %>                                                         
   </div>
   <div class="col-md-4" id = "officePicker">
    <% include ../../section/feedback/office-feedback-dropdown %>                                                         
   </div>
   <div class="col-md-4" id = "storePicker">
    <% include ../../section/feedback/store-feedback-dropdown %>                                                         
   </div>
</div>