<div class="good-bits-container">
    <div class="good-image-container">
        <div class="good-image">
            <img src="/images/feedback/good-bits.svg" class="good-bits-image" />
        </div>
        <div class="good-stat-container">
            <p class="good-bits-text">Good Bits</p>
            <p class="good-bits-total-rating">Rated by <%- feedback.goodBits.totalUsers %> people</p>
        </div>
    </div>
    <div class="good-review-container" id="good-review-container">
        <div class="loading--box" id="good-bits-loading">
            <div class="loading--body">
                <p class="loading--text">Loading...</p>
                <img src="/images/feedback/loading.svg" alt="">
            </div>
        </div>
    <% if(feedback.goodBits.bits.length == 0){ %>
        
        <div class="good-bits-empty" id="good-bits-empty" >
            <img src="/images/feedback/table-empty-icon.svg" alt="">
            <h4>No data</h4>
        </div>
    <% }else{ %>
         <% for(let i =0;i< feedback.goodBits.bits.length;i++) {%>
            <div class="good-review-text-number">
                <p class="good-review-text"><%- feedback.goodBits.bits[i].field %></p>
                <p class="good-review-number"><%- feedback.goodBits.bits[i].percentage %></p><span>%</span>
            </div>
            <div class="loader-container">
                <div class="loader-outer">
                    <div class="loader-inner">
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
        
    </div>
    
</div>