<% include ../../common/html-head %>
<link rel="stylesheet" href="/lib/bootstrap-daterangepicker/daterangepicker.css">
<body>
<div class="wrapper">
    <% include ../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container">
                <% include ../../section/feedback/home-banner %>
                <div class="top-section">
                    <div class="row">
                        <!-- Page Heading and List -->
                        <div class="col-xs-12 col-md-12 feedback-home">
                            <div  id = "filter-container"></div>
                                <% include ../../section/feedback/filter %>
                            </div>
                          

                        </div>
                        <div class="stats-container col-xs-12 col-md-12" style="padding:40px;">
                           <div class="col-xs-12 col-md-12 global-date-container no-padding" id="global-date-container" >
                                <div class="col-md-6 heading-one no-padding" >
                                    <p class="customer-rating-text">Customer Rating</p>
                                </div>
                                <div class="col-md-6 date-container no-padding" >
                                    <div class="date-picker">
                                        <input type="text" id="datePicker" value=""/>
                                    </div>
                                </div>
                           </div>
                           <div class="col-xs-12 col-md-12 rating-bits-container "  style="padding:32px 0px 0px 0px;">
                                <div class = "col-xs-6 col-md-6" id="rating-graph-container" style="padding:0px;padding-right:5px;">
                                    <% include ../../section/feedback/bar-graph %>
                                </div>
                                <div class = "col-xs-3 col-md-3" id="good-bits-container" style="padding:0px 5px;">
                                    <% include ../../section/feedback/good-bits %>
                                </div>
                                <div class = "col-xs-3 col-md-3" id="bad-bits-container" style="padding:0px;padding-left:5px;">
                                    <% include ../../section/feedback/bad-bits %>   
                                </div>
                            </div>

                        </div>
                        <div class="comment-main-container col-xs-8 col-md-8" id="customer-comment-container" style="padding:40px;">
                            <% include ../../section/feedback/comment-feedback %>
                        </div>
                        <!-- Page Heading and List End -->
                    </div>
                </div>
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<% include ../../common/html-script %>
 <script type='text/javascript'>
            var allstores = <%- JSON.stringify(response) %>
            var ratings = <%- JSON.stringify(ratings) %>
            var comments = <%- JSON.stringify(new_comments) %>
            localStorage.setItem('allStores', JSON.stringify(allstores));
            localStorage.setItem('ratings',JSON.stringify(ratings));
            localStorage.setItem('comments',JSON.stringify(comments));
</script>
<script type="text/javascript" src="/lib/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/lib/moment/moment.js"></script>
<script src="/dist/scripts/feedback.js"></script>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>

</html>
