<div class="office">
    <div class="office-dropdown">
    <p class="office-label">OFFICES</p>
        <p class="office-title"> ALL OFFICES</p>
        <span class="office-image"></span>
    </div>
    <div class="office-triangle-container">
        <div class="office-triangle">
        </div>
    </div>
    <div class="office-list">
        <% for(i=0;i<offices.length;i++){ %>
            <div class="office-multiselect-container">
            <div  class="office-multiselect-option"><span class="office-tick">&#10003;</span></div>
            <div class="office-multiselect-values" data-check= <%- offices[i].check %> data-businessid=<%- offices[i].businessID %> ><%- offices[i].officeName%> </div>
            </div>
        <% } %>
    </div>
</div>