<div class="store">
    <div class="store-dropdown">
    <p class="store-label">STORES</p>
        <p class="store-title">ALL STORES</p>
        <span class="store-image"></span>
    </div>
    <div class="store-triangle-container">
        <div class="store-triangle">
        </div>
    </div>
    
    <div class="store-list">
    <% for(var i=0;i<stores.length;i++) { %>
        <div class="store-multiselect-container">
        <div  class="store-multiselect-option"><span class="store-tick">&#10003;</span></div>
        <div class="store-multiselect-values" data-storeId= <%- stores[i].storeId %> data-check= <%- stores[i].check %> > <%- stores[i].storeName %></div>
        </div>
    <% } %>
    </div>
</div>