<tr>
    <td>
        <%- date %>
    </td>
    <!-- <td>
        <%- refNo  %>
    </td> -->
    <td>
        <%- beneficiaryName %>
    </td>
    <td>
        <%- emailorContact %>
    </td>
    <td class="text-right">
        <%- amount %>
    </td>
    <td class="payout-status">
        <div>
            <% if(status.toLowerCase() == "claimed") { %>
            <span style="cursor: unset;text-decoration: none;" class="transfer_status_completed  text-completed">
                <%- status %></span>
            <% } else if(status.toUpperCase() == "DELIVERED") { %>
            <span style="cursor: unset;text-decoration: none;" class="processing  text-processing">Yet to be claimed</span>
            <% } else if(status.toUpperCase() == "INITIATED") { %>
            <span style="cursor:  #eee;text-decoration: none;" class="payout_status_scheduled">Scheduled</span>
            <% } else if(status.toUpperCase() == "PROCESSING") { %>
            <span style="cursor: unset;text-decoration: none;" class="processing  text-processing">
                <%- status %></span>
            <% } else if(status.toUpperCase() == "FAILED") { %>
            <span style="cursor: unset;text-decoration: none;" class="transfer_status_stalled  text-failed">
                <%- status %></span>
            <% } else if(status.toUpperCase() == "SUCCESS") { %>
            <span style="cursor: unset;text-decoration: none;" class="transfer_status_completed  text-completed">
                <%- status %></span>
            <% } else if(status.toLowerCase() == "revoked" || status.toLowerCase() == 'partially revoked') { %>
            <span style="cursor: unset;text-decoration: none;" class="transfer_status_stalled  text-failed">
                <%- status %></span>
            <!-- <br><span class="revoked_amt">Revoked Amount - <%-amount%></span> -->
            <% } else { %>
            <span style="cursor: #eee;text-decoration: none;" class="payout_status_scheduled ">
                <%- status %></span>
            <% } %>
            <% if(isReissued == true) { %>
            <br>
            <!-- <span class="transfer_status_stalled  text-failed reissue-to-list" data-attributes="<%=JSON.stringify(attributes.reIssuanceList)%>">Re-issue History</span> -->

            <span class="transfer_status_stalled  text-failed" data-toggle="modal" data-target="#<%-payoutID%>">Show Re-issue History</span>

            <!-- Modal Box Transfer Initiated success -->
            <div class="modal fade" id="<%-payoutID%>" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog custom-modalbox" role="document" style="width:unset">
                    <div class="modal-content">
                        <div class="modal-header">
                           
                        </div>
                        <div class="custom-modal-body">
                            <div class="modal-body">
                                <div class="program-code-list-wrpr text-center">
                                    <h3>Re-issued History</h3>
                                    <div class='bulk-order-dtls-wrpr'>
                                        <div class='bulk-order-dtls-hdg'>Summary</div>
                                        <table class="custom-table custom-table-reissue hover-state">
                                            <thead>
                                                <tr>
                                                    <th class="hover">Name</th>                                                    
                                                    <th>Email Addess</th>
                                                    <th>Mobile Number</th>                                                    
                                                    <th>comments</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody class="main-content" style="">
                                           
                                            <% for(var i=0;i<attributes.reIssuanceList.length; i++){ %>
                                            <tr>
                                                <td>
                                                    <%-  attributes.reIssuanceList[i].name %>
                                                </td>
                                                <td>
                                                <%-  (attributes.reIssuanceList[i].email ? attributes.reIssuanceList[i].email : '-') %>
                                                </td>
                                                <td>
                                                <%-  (attributes.reIssuanceList[i].contact ? attributes.reIssuanceList[i].contact : '-') %>
                                                </td>
                                                <td class="text-left">                                                            
                                                    <div class="textBox-comment<%- attributes.reIssuanceList[i].comments.toString().length > 25 ? 'textBox-comment' : '' %>"><span title="<%-  attributes.reIssuanceList[i].comments%>"><%-  attributes.reIssuanceList[i].comments%></span></div>
                                                </td> 
                                                <td>
                                                    <%-  (function(epoch) {
                                                        var date = new Date(epoch);
                                                        var dateFormat;
                                                        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                                                        var monthIndex = date.getMonth();
                                                        dateFormat = date.getDate() + " " + months[monthIndex] + " " + date.getFullYear();
                                                        return dateFormat;
                                                    }(attributes.reIssuanceList[i].revokedOn))   %>
                                                </td>
                                        </tr>
                                        <% }  %>           
                                                                                 
                                            </tbody>
                                        </table>


                                    </div>

                                    <div class="x-medium-button create-bulk-transfer-order createhideIt2">
                                        <a>
                                            <button data-dismiss="modal" class="btn btn-default" style="width:100%;"
                                                type="button">Done</button>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal Loader success order End  -->
            <% } %>
        </div>
    </td>

    <% if(status.toUpperCase() == 'DELIVERED'){ %>
    <td class="position-dropdown payout-revoke">
    </td>
    <% } else {%>
    <td class="position-dropdown payout-revoke">
    </td>
    <% }%>
</tr>