<tr data-orderid="" class="orders-row numbers-font">
    <td class="custom-padding">
        <%- revokeBadge.revokeID%>
    </td>
    <td class="custom-padding">
        <%- employee.emailID%>
    </td>
    <td>
        <%- revokeBadge.createdAt %>
    </td>
    <td>
        <%- revokeBadge.totalPoints %>
    </td>
    <td>
        <%- revokeBadge.totalAmount/100 %>
    </td>
    <td>
        <% if(revokeBadge.revokeReason == 'MANUAL_EXPIRY'){ %>
            Manual Revoke
        <% } else { %>
            <% revokeBadge.revokeReason %>
        <% } %>
    </td>
    <td>
        <% if(revokeBadge.revokeRequestStatus.toLowerCase() === "completed") { %>
            <span class="instagift_status_completed text-capitalize">
            Completed
            </span>           
            <% } %>     
            <% if(revokeBadge.revokeRequestStatus.toLowerCase() === "failed") { %>
                <span class="instagift_status_stalled text-capitalize">
                    Failed
                </span>
        
            <% } %> 
            <% if(revokeBadge.revokeRequestStatus.toLowerCase() === "initiated") { %>
                <span class="instagift_status_completed text-capitalize" style="cursor: unset;text-decoration: none;color: #FF8B00">
                Initiated
                </span>
        
            <% } %>
            <% if(revokeBadge.revokeRequestStatus.toLowerCase() === "processing") { %>
                <span class="instagift_status_completed text-capitalize">
                Processing
                </span>
        
            <% } %>
            <% if(revokeBadge.revokeRequestStatus.toLowerCase() === "rejected") { %>
                <span class="instagift_status_stalled text-capitalize">
                Declined
                </span>
                <span>            
             <% } %>
            <% if(revokeBadge.revokeRequestStatus.toLowerCase() === "pending") { %>
                <span class="instagift_status_pending text-capitalize" style="color:#f89406">
                    Pending
                </span>
        
            <% } %>
    </td>
</tr>