  <div class="banner-section spotlight-banner">
    <div class="ifnoSlick">
            <div class="sptBan ban1 clearfix">
                    <div class="banDv1">
                        <div class="banHeader">Shine a light on your superstars</div>
                        <div class="banSubHeader"><% if(ifiBankName.toLowerCase() == 'hdfc' || 'kotak') { %> SpotGifting <%}else{ %>Zeta Spotlight&reg;<%} %>  is the first one-stop, fully customisable digital solution for employee gifting and R&R</div>
                        <div class="x-medium-button xTransparentBtn banBtn">
                            <a href="https://www.zeta.in/zeta-spotlight/" target="_blank">
                                <button class="btn" type="button">
                                        LEARN MORE&nbsp;&nbsp;<img class="btnImg" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/openNewTab.svg" />
                               </button>
                            </a>
                        </div>
                    </div>
                    <div class="banDv2">
                      <img class="img1" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlightBannerImg1.png" />
                    </div>
                  </div> 
    </div>

    <div class="your-class" style="display:none">
        <div class="sptBan ban1 clearfix">
          <div class="banDv1">
              <div class="banHeader">Shine a light on your superstars</div>
              <div class="banSubHeader"><% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %>Zeta Spotlight&reg;<%} %>  is the first one-stop, fully customisable digital solution for employee gifting and R&R</div>
              <div class="x-medium-button xTransparentBtn banBtn">
                  <a href="https://www.zeta.in/zeta-spotlight/" target="_blank">
                      <button class="btn" type="button">
                              LEARN MORE&nbsp;&nbsp;<img class="btnImg" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/openNewTab.svg" />
                     </button>
                  </a>
              </div>
          </div>
          <div class="banDv2">
            <img class="img1" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlightBannerImg1.png" />
          </div>
        </div>
        <div class="sptBan ban2">
            <div class="banDv1">
                <div class="banDisDv">GET 1% DISCOUNT</div>
                <div class="banHeader">Delight your team with Amazon gift vouchers</div>
                <% for(var i=0; i< popularBrand.products.length; i++) { %>
                  <% if(popularBrand.products[i].isActive == true){ %>
                  <% if(popularBrand.products[i].brandName.toLowerCase() === 'amazon') { %>
                <div class="x-medium-button xTransparentBtn banBtn">
                    <a>
                        <button class="btn popularbrandNxt" type="button" data-brandname='<%= popularBrand.products[i].brandName %>' data-brandid="<%= popularBrand.products[i].productId %>" data-discount="<%= popularBrand.products[i].discount %>" data-iconurl="<%- popularBrand.products[i].productListPageLogo %>" data-logourl="<%= popularBrand.products[i].placeOrderPageLogo %>" data-purchasemin="<%= popularBrand.products[i].purchaseMinLimit %>" data-purchasemax="<%= popularBrand.products[i].purchaseMaxLimit %>"
                          data-denomination="<%- popularBrand.products[i].denominations %>" data-purchasetype="<%- popularBrand.products[i].purchaseType %>">
                                SEND GIFT NOW
                       </button>
                    </a>
                </div>
                <% } %>
                <% } %>
                <% } %>

            </div>
            <div class="banDv2">
                <img class="img2" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlightBannerImg2.png" />
            </div>
          </div>
        <!-- <div class="sptBan ban3">your content 3</div>
        <div class="sptBan ban4">your content 4</div>
        <div class="sptBan ban5">your content 5</div> -->
      </div>
</div>

<!-- Banner End -->
