<% include ../../../common/html-head %>

    <body>
        <input type="hidden" id="accountID" value="<%= accountID%>">
        <div class="wrapper">
            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">

                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container inner-container---spotlight-container">
                                <% include ../../../section/spotlight/home/banner %>
                                    <div class="top-section">
                                        <div class="row">
                                            <!-- Page Heading and List -->                                           
                                            <div class="col-xs-12 col-md-12">                                            
                                                <div class="page-sub-heading">
                                                    <h2>The Spotlight suite</h2>
                                                    <hr style="width: 2%;font-weight: bold;background-color: #190f27;height: 3px;margin-top:  10px;" align="left">
                                                </div>                                               
                                                <!-- Cards -->                                              
                                                <div class="row"> 
                                                <% if(ifiBankName == 'HDFC') { %>                                             
                                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                                        <div class="spContainer sp-corp-container clearfix">
                                                            <div class="spTextContent">
                                                                <div class="spImage">
                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/virtualGift.svg">
                                                                </div>
                                                                <div class="spTextContent-giftcards">
                                                                    <h4>Send personalised gift cards</h4>
                                                                    <p>
                                                                        <b>Zeta</b> gift cards are ideal for online issuances
                                                                        to a user.</p>
                                                                    <ul>
                                                                        <li>Employees get new digital cards on every issuance</li>
                                                                        <li>No KYC required</li>
                                                                        <li>Maximum card Limit of INR 10k</li>
                                                                    </ul>
                                                                    <a data-programType="REWARD" data-toggle="modal" href=""></a>
                                                                </div>
                                                            </div>
                                                            <div class="spBtnDv"></div>
                                                        </div>

                                                        <!-- Digital and Physical card block -->
                                                        <div class="spotlight-inner-card">
                                                            <div class="row">
                                                                <div>
                                                                    <div class="col-md-6 col-xs-6 col-sm-6" style="padding-left:unset">
                                                                        <div style="">
                                                                            <div class="spotlight-inner-digi">
                                                                                <h5>Digital gift cards</h5>
                                                                                <p>
                                                                                    Instantly gift digital cards with personalized card design and email message
                                                                                </p>
                                                                                <div class="spBtnDv pd-top-ten">
                                                                                    <div class="small-button height-43 drpdwnBtn btn-group">
                                                                                        <a id="vitualCardSendGift" href="/companies/<%- companyID %>/spotlight/virtual" class="activeLink">
                                                                                            <button type="button" data-label="Digital Gifting" class="btn btn-secondary text-uppercase btn-more ">
                                                                                                SEND GIFT
                                                                                            </button>
                                                                                        </a>
                                                                                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                            <span class="sr-only">Toggle Dropdown</span>
                                                                                        </button>
                                                                                        <div class="dropdown-menu">
                                                                                            <a id="vitualCardListOrder" class="dropdown-item" href="/companies/<%- companyID %>/spotlight/virtual#orderHistory">View Order History</a>
                                                                                            <div class="dropdown-divider"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- <a href="#selectGiftLrnMre" class="padding-left-20" data-programType="VIRTUAL_NON_PERSONALISED" data-toggle="modal">Learn More</a> -->
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-xs-6 col-sm-6" style="padding-left:unset">
                                                                        <div style="">
                                                                            <div class="spotlight-inner-digi">
                                                                                <h5>Physical gift cards</h5>
                                                                                <p>
                                                                                    Get beautiful & personalised Physical gift cards delivered at your door-step
                                                                                </p>
                                                                                <div class="spBtnDv pd-top-ten">
                                                                                    <div class="small-button drpdwnBtn btn-group height-43">
                                                                                        <a id="physicalCardOrderGift" href="/companies/<%- companyID %>/spotlight/physical/ordercard" class="activeLink">
                                                                                            <button type="button" data-label="Physical gift cards" class="btn btn-secondary text-uppercase btn-more ">
                                                                                                ORDER CARDS
                                                                                            </button>
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="small-button padding-left-14 drpdwnBtn btn-group height-43">
                                                                                        <a id="physicalCardIssueGift" href="/companies/<%- companyID %>/spotlight/physical/issuegift" class="activeLink">
                                                                                            <button type="button" data-label="Physical gift cards" class="btn btn-secondary text-uppercase btn-more ">
                                                                                                ISSUE GIFTS
                                                                                            </button>
                                                                                        </a>
                                                                                    </div>
                                                                                    <!-- <a href="#selectGiftLrnMre" class="padding-left-20" data-programType="PHYSICAL_NON_PERSONALISED" data-toggle="modal">Learn More</a> -->
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                    <% if(ifiBankName != 'HDFC'){ %>
                                                    <div class="col-md-12 col-xs-12 col-sm-12 ">
                                                        <div class="spContainer clearfix">
                                                            <div class="spTextContent">
                                                                <div class="spImage">
                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/select-gifting.png">
                                                                </div>
                                                                <div class="spTextDetails">
                                                                    <h4>Send Digital Gift Vouchers </h4>
                                                                    <p>
                                                                        <b>Select Gift</b> is great for issuing digital gift
                                                                        cards from a wide-selection of brands. </p>
                                                                    <ul>
                                                                        <li>Get 1% discount </li>
                                                                        <li>Choose from over 15 brands </li>
                                                                        <li>Distribute electronically in an instant</li>
                                                                    </ul>
                                                                    <% if(checkSGOrderList === false ) { %>
                                                                        <a href="#selectGiftLrnMre" data-programType="SELECTGIFTING" data-toggle="modal">Learn More</a>
                                                                        <% } %>
                                                                </div>

                                                            </div>
                                                            <div class="spBtnDv">
                                                                <div class="video-container collapsed clearfix">
                                                                    <div class="video-containerDv clearfix">
                                                                        <a class="video-play-button" href="#" data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/uArTyjks75M">
                                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/videoSGImg.png" />
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="spPopularBrand clearfix">
                                                            <div class="spPopBrandDtl">
                                                                <h5>POPULAR BRANDS</h5>

                                                                <div class="popularBrandDv">
                                                                    <% for(var i=0; i< popularBrand.products.length; i++) { %>
                                                                        <% if(popularBrand.products[i].isActive == true){ %>
                                                                            <% if(popularBrand.products[i].brandName.toLowerCase() === 'amazon' || popularBrand.products[i].brandName.toLowerCase() === 'shopperstop' || popularBrand.products[i].brandName.toLowerCase() === 'bookmyshow' || popularBrand.products[i].brandName.toLowerCase() === 'makemytrip' ) { %>
                                                                                <span class="popularBrandSp popularbrandNxt" data-brandname='<%= popularBrand.products[i].brandName %>' data-brandid="<%= popularBrand.products[i].productId %>"
                                                                                    data-discount="<%= popularBrand.products[i].discount %>"
                                                                                    data-iconurl="<%= popularBrand.products[i].productListPageLogo %>"
                                                                                    data-logourl="<%= popularBrand.products[i].placeOrderPageLogo %>"
                                                                                    data-purchasemin="<%= popularBrand.products[i].purchaseMinLimit %>"
                                                                                    data-purchasemax="<%= popularBrand.products[i].purchaseMaxLimit %>"
                                                                                    data-denomination="<%- popularBrand.products[i].denominations %>"
                                                                                    data-purchasetype="<%- popularBrand.products[i].purchaseType %>">
                                                                                    <img src="<%= popularBrand.products[i].productListPageLogo %>">
                                                                                    <span>
                                                                                        <%= popularBrand.products[i].brandName %>
                                                                                    </span>
                                                                                </span>
                                                                                <% } %>
                                                                                    <% } %>
                                                                                        <% } %>
                                                                                            <span data-label="Select Gifting" data-href="/companies/<%= companyID %>/spotlight/selectgifting/newgiftorder" class="select-programs common-link popularBrandSp">
                                                                                                <a href="/companies/<%= companyID %>/spotlight/selectgifting/newgiftorder">
                                                                                                    <span class="circleMore">...</span>
                                                                                                    <span class="circleMoreTxt">and more</span>
                                                                                                </a>
                                                                                            </span>

                                                                </div>


                                                            </div>
                                                            <div class="spBtnDv">
                                                                <% if(checkSGOrderList === false ) { %>
                                                                    <div class="small-button small-btn-container">
                                                                        <button class="btn btn-secondary text-uppercase btn-more" type="button" data-toggle="modal" data-target="#selectGiftLrnMre">SEND GIFT</button>
                                                                    </div>
                                                                    <% } else { %>
                                                                        <div class="small-button small-btn-container drpdwnBtn btn-group">
                                                                            <a href="/companies/<%= companyID %>/spotlight/selectgifting/newgiftorder" class="activeLink">
                                                                                <button type="button" data-label="Select Gifting" class="btn btn-secondary text-uppercase btn-more ">
                                                                                    SEND GIFT
                                                                                </button>
                                                                            </a>
                                                                            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <span class="sr-only">Toggle Dropdown</span>
                                                                            </button>
                                                                            <div class="dropdown-menu">
                                                                                <a class="dropdown-item" href="/companies/<%= companyID %>/spotlight/selectgifting/newselectgifting">View Order History</a>
                                                                                <div class="dropdown-divider"></div>
                                                                            </div>
                                                                        </div>
                                                                        <% } %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                   
                                                    
                                                    <div class="col-md-12 col-xs-12 col-sm-12 ">                                                   
                                                        <div class="spContainer clearfix">
                                                            <div class="spTextContent">
                                                                <div class="spImage">
                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/insta-gift.png">
                                                                </div>
                                                                <div class="spTextDetails">
                                                                    <h4>Instantly Distribute Physical Gift Cards </h4>
                                                                    <p>
                                                                        <b>Insta Gift</b> is the ideal method for on-the-spot
                                                                        gifting, as they are pre-loaded and ready to use.
                                                                    </p>
                                                                    <ul>
                                                                        <li>Activate, load and offer on the spot </li>
                                                                        <li>PIN protected to prevent misuse</li>
                                                                    </ul>
                                                                    <!-- <a href="">Learn More</a> -->
                                                                </div>
                                                            </div>
                                                            <div class="spBtnDv">
                                                                <% if(compProductsInfoCheckIG === false && checkInstagift === false) { %>
                                                                    <div class="small-button small-btn-container">
                                                                        <button class="btn btn-secondary text-uppercase btn-more InstagiftsaveProgram" type="button" data-toggle="modal" data-target="#">ORDER CARDS</button>
                                                                    </div>
                                                                    <% } else if(compProductsInfoCheckIG === true && checkInstagift === false) { %>
                                                                        <div class="small-button small-btn-container">
                                                                            <button class="btn btn-secondary text-uppercase btn-more" type="button" data-programType="INSTAGIFT" data-programName="InstaGift Program"
                                                                                data-toggle="modal" data-target="#setupInstagiftProgramModal">SETUP</button>
                                                                        </div>
                                                                        <% } else { %>
                                                                            <div class="small-button small-btn-container drpdwnBtn btn-group">
                                                                                <a href="/companies/<%- companyID %>/spotlight/instagift/<%- instaProgramID %>/load-cards" class="activeLink">
                                                                                    <button type="button" class="btn btn-secondary text-uppercase btn-more">LOAD CARDS</button>
                                                                                </a>
                                                                                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    <span class="sr-only">Toggle Dropdown</span>
                                                                                </button>
                                                                                <div class="dropdown-menu">
                                                                                    <a class="dropdown-item" href="/companies/<%- companyID %>/spotlight/instagift/<%- instaProgramID %>">Overview</a>
                                                                                    <a class="dropdown-item" href="/companies/<%- companyID %>/spotlight/instagift/<%- instaProgramID %>#cardLoadHistory">Card Load History</a>
                                                                                    <div class="dropdown-divider"></div>
                                                                                </div>
                                                                            </div>
                                                                            <% } %>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                  

                                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                                        <div class="spContainer clearfix">
                                                            <div class="spTextContent">
                                                                <div class="spImage">
                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rewards.png">
                                                                </div>
                                                                <div class="spTextDetails">
                                                                    <h4>Reloadable Digital Gift Cards </h4>
                                                                    <p>
                                                                        <b>Rewards</b> gift cards are ideal for recurring issuances
                                                                        to a single user.</p>
                                                                    <ul>
                                                                        <li>Personalize card design and email message</li>
                                                                        <li>E-gifting - instant disbursal of gift vouchers to
                                                                            mobile number or email</li>
                                                                        <li>Use via Zeta mobile app and Zeta on web</li>
                                                                        <li>Load upto 1 lakh with Full KYC</li>
                                                                    </ul>
                                                                    <a data-programType="REWARD" data-toggle="modal" href=""></a>
                                                                </div>
                                                            </div>
                                                            <div class="spBtnDv">

                                                                <div class="small-button small-btn-container drpdwnBtn btn-group">
                                                                    <a href="/companies/<%- companyID %>/spotlight/reward#sendGift" class="activeLink">
                                                                        <button type="button" class="btn btn-secondary text-uppercase btn-more">Send Gift</button>
                                                                    </a>
                                                                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                    </button>
                                                                    <div class="dropdown-menu">
                                                                        <a class="dropdown-item" href="/companies/<%- companyID %>/spotlight/reward#orderHistory">Order History</a>


                                                                        <div class="dropdown-divider"></div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-12 col-xs-12 col-sm-12 ">
                                                        <div class="spContainer clearfix">
                                                            <div class="spTextContent">
                                                                <div class="spImage">
                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/cash-incentive.png">
                                                                </div>
                                                                <div class="spTextDetails">
                                                                    <h4>Handle Bulk Cash Distribution With Ease </h4>
                                                                    <p>
                                                                        <b>Cash Incentive</b> simplifies how you disburse funds
                                                                        to your sales teams, channel partners & other stakeholders.</p>
                                                                    <ul>
                                                                        <li>Send cash directly to email or mobile number </li>
                                                                        <li>Advanced reporting and tracking</li>
                                                                    </ul>
                                                                    <!-- <% if(checkCashIncentive === false) { %>
                                                                        <a href="#incentivesProgramModal" data-programType="INCENTIVES" data-toggle="modal">Learn More</a>
                                                                    <% } %> -->
                                                                </div>
                                                            </div>
                                                            <div class="spBtnDv">
                                                                <% if(checkCashIncentive === false) { %>
                                                                    <div class="small-button small-btn-container">
                                                                        <button class="btn btn-secondary text-uppercase btn-more" type="button" data-toggle="modal" data-target="#setupCashIncentiveModal"
                                                                            data-programtype="INCENTIVES">SETUP</button>
                                                                    </div>
                                                                    <% } else { %>
                                                                        <!-- Example split danger button -->
                                                                        <div class="small-button small-btn-container drpdwnBtn btn-group">
                                                                            <a href="/companies/<%- companyID %>/spotlight/<%- cashProgramID %>/new-transfer" class="activeLink">
                                                                                <button type="button" class="btn btn-secondary text-uppercase btn-more">NEW ORDER</button>
                                                                            </a>
                                                                            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <span class="sr-only">Toggle Dropdown</span>
                                                                            </button>
                                                                            <div class="dropdown-menu">
                                                                                <a class="dropdown-item" href="/companies/<%- companyID %>/spotlight/<%- cashProgramID %>">Overview</a>
                                                                                <a class="dropdown-item" href="/companies/<%- companyID %>/spotlight/<%- cashProgramID %>#transferOrdersTab">Transfer Orders</a>
                                                                                <div class="dropdown-divider"></div>
                                                                            </div>
                                                                        </div>
                                                                        <% } %>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <%}%>

                                                </div>
                                              

                                                <!-- <div class="clearfix"></div> -->

                                            </div>
                                            <!-- Page Heading and List End -->
                                        </div>
                                        <!-- last login  -->
                                        <% include ../../../common/time-footer %>
                                    </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>


        <!-- Modal Create Spotlight Program -->
        <div class="modal fade" id="instagiftModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox spotlight-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="modal-image">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/instagift-card.svg" alt="Zeta image" />
                            </div>
                            <h4 class="text-center pd-bottom-zero pd-top-zero">Great to know your interest in InstaGift!</h4>
                            <p id="instagiftInterest">Your Zeta
                                <span class="instagiftManagerRole">Account Manager</span>,
                                <b class="instagiftManagerName">Parth Kapadia</b> (
                                <span id="instagiftManagerEmail">parth.k@zeta.tech</span>) will contact you within 2 business days to discuss the details
                                and get this program rolling.
                            </p>
                        </div>
                        <div class="modal-footer" id="instagiftContact">
                            <p>Already signed up but still seeing this?</p>
                            <a id="instagiftManagerEmaillink">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 
           // old select gifting learn more  
            <div class="modal fade" id="digitalGiftModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox spotlight-modal gift-voucher-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero pd-top-zero">Spotlight Select Gifting</h4>
                            <p>Instant. Personalised. For every occasion.
                            </p>
                            <div class="clearfix"></div>
                            <div class="voucher-detail-wrap gift-img-wrap">
                                <div class="col-xs-4">
                                    <div class="info">
                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/customise-design.svg" alt="" />
                                        <div class="details">
                                            <h4 class="text-center pd-bottom-zero pd-top-zero">Customise design</h4>
                                            <p>Choose from a beautiful bouquet of digital cards designs</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="info">
                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/personalise-message.svg" alt="" />
                                        <div class="details">
                                            <h4 class="text-center pd-bottom-zero pd-top-zero">Personalise message</h4>
                                            <p>Make the gift memorable by personalising the delivery message</p>
                                        </div>.
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="info">
                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/handpick-merchants.svg" alt="" />
                                        <div class="details">
                                            <h4 class="text-center pd-bottom-zero pd-top-zero">Handpick merchants</h4>
                                            <p>Customize the spending experience across a range of merchants</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default digigift-request-demo request-demo" data-programType="DIGIGIFT" type="button">REQUEST A DEMO</button>
                                <div class="error">Your request could not be registered. Please retry</div>
                            </div>
                            <div class="program-demo-wrapper">
                                <div class="profile-container ">
                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/account-manager.svg" alt="Avatar">
                                    <div class="user-info">
                                        <h5 class="digigiftManagerName">Parth Kapadia</h5>
                                        <p class="digigiftManagerRole">Account Manager</p>
                                    </div>
                                </div>
                                <div class="progrem-info text-left">
                                    <h5>Great to know your interest in Spotlight Gifting Program</h5>
                                    <p>I will be in touch with you within the next 2 business days to let you know more about this program</p>
                                </div>
                            </div>
                            <div class="program-demo-default-text">
                                <div class="profile-container ">
                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg" alt="Avatar">
                                </div>
                                <div class="progrem-info text-left">
                                    <h5>Great to know your interest in Spotlight Gifting Program</h5>
                                    <p>I will be in touch with you within the next 2 business days to let you know more about this program</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


        <!-- learn more select gifting start-->
        <div class="modal fade" id="selectGiftLrnMre" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox custom-modalbox-new" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 ">
                                <div class="select-gift-head">
                                    <div class="mainSgImg">
                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/select-gifting.png">
                                    </div>
                                    <h4>Great for issuing digital gift cards from a
                                        <br>wide-selection of brands</h4>
                                    <div class="row select-gift-body">
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/wdRange.svg" />
                                            </div>
                                            <p class="heading">Wide-range of Brands</p>
                                            <p>Select from a variety of popular brands across various categories.</p>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/getDcnt.svg" />
                                            </div>
                                            <p class="heading">Get Discount</p>
                                            <p>Save money by getting 1% discount on your total order value.</p>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/instDis.svg" />
                                            </div>
                                            <p class="heading">Instant Disbursal</p>
                                            <p>Instantly distribute vouchers in bulk on email</p>
                                        </div>
                                    </div>

                                    <div class="row select-gift-body mg-top-twenty">
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/easyRed.svg" />
                                            </div>
                                            <p class="heading">Easy Redemption</p>
                                            <p>Beneficiaries can redeem vouchers in just 1-click.</p>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/noLogic.svg" />
                                            </div>
                                            <p class="heading">No Logistics/Inventory</p>
                                            <p>Go green. Go digital. Enjoy peace of mind.</p>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/corSprt.svg" />
                                            </div>
                                            <p class="heading">Corporate Support</p>
                                            <p>Relationship managers across major cities & 24/7 call and chat support.</p>
                                        </div>
                                    </div>
                                    <p class="border-bottom"></p>
                                    <h4>Get started in 3 easy steps</h4>
                                    <div class="row select-gift-body">
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/verify.svg" />
                                            </div>
                                            <div class="numbering">
                                                <span>1</span>
                                            </div>
                                            <p class="heading">Choose from popular brands</p>
                                            <p>Your gift, their choice. Select the gift vouchers from one of the popular brands
                                                at attractive discounts.</p>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/upload-schedule.svg" />
                                            </div>
                                            <div class="numbering">
                                                <span>2</span>
                                            </div>
                                            <p class="heading">Upload & schedule</p>
                                            <p>Upload details of beneficiaries to whom you want to send the gift. You may also
                                                schedule it for later.</p>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/choose.svg" />
                                            </div>
                                            <div class="numbering">
                                                <span>3</span>
                                            </div>
                                            <p class="heading">Verify & create order</p>
                                            <p>Once your order is created, we will send an email to your beneficiaries with
                                                the gift voucher details.</p>
                                        </div>
                                    </div>
                                    <div class="x-medium-button">
                                        <a href="/companies/<%- companyID %>/spotlight/selectgifting/newgiftorder">
                                            <button class="btn" type="button">
                                                SEND GIFT VOUCHERS NOW
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- learn more select gifting end-->


        <!-- learn more cashincetive start-->
        <div class="modal fade" id="incentivesProgramModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox spotlight-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="modal-image">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/incentives-card.svg" alt="Zeta image"
                                />
                            </div>
                            <h4 class="text-center pd-bottom-zero pd-top-zero">Cash Incentive is coming soon!</h4>
                            <p>Let us know if you’re interested to know more, and we’ll arrange for a detailed demo.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default incentives-request-demo" type="button" data-programType="INCENTIVES">REQUEST A DEMO</button>
                                <div class="error">Your request could not be registered. Please retry</div>
                            </div>
                            <div class="program-demo-wrapper">
                                <div class="profile-container ">
                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/account-manager.svg" alt="Avatar">
                                    <div class="user-info">
                                        <h5 class="incentivesManagerName"></h5>
                                        <p class="incentivesManagerRole">Account Manager</p>
                                    </div>
                                </div>
                                <div class="progrem-info text-left">
                                    <h5>Great to know your interest in Spotlight Cash Incentive Program</h5>
                                    <p>I will be in touch with you within the next 2 business days to let you know more about
                                        this program</p>
                                </div>
                            </div>
                            <div class="program-demo-default-text">
                                <div class="profile-container ">
                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg" alt="Avatar">
                                </div>
                                <div class="progrem-info text-left">
                                    <h5>Great to know your interest in Spotlight Cash Incentive Program</h5>
                                    <p>I will be in touch with you within the next 2 business days to let you know more about
                                        this program</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- learn more cashincetive end-->


        <div class="modal fade" id="setupSpotlightProgramModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox spotlight-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="modal-image">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/rn-r-integration.svg" alt="Zeta image"
                                />
                            </div>
                            <h4 class="text-center pd-bottom-zero pd-top-zero">We’d like to meet you!</h4>
                            <p>We’d like to understand your recognition platform in detail, and discuss how Spotlight can integrate
                                with it.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default rnr-request-demo" type="button" data-programType="RNR">REQUEST A DEMO</button>
                                <div class="error">Your request could not be registered. Please retry</div>
                            </div>
                            <div class="program-demo-wrapper">
                                <div class="profile-container ">
                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/account-manager.svg" alt="Avatar">
                                    <div class="user-info">
                                        <h5 class="rnrManagerName"></h5>
                                        <p class="rnrManagerRole">Account Manager</p>
                                    </div>
                                </div>
                                <div class="progrem-info text-left">
                                    <h5>Great to know your interest in Spotlight Rewards & Recognition Program</h5>
                                    <p>I will be in touch with you within the next 2 business days to let you know more about
                                        this program</p>
                                </div>
                            </div>
                            <div class="program-demo-default-text">
                                <div class="profile-container ">
                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg" alt="Avatar">
                                </div>
                                <div class="progrem-info text-left">
                                    <h5>Great to know your interest in Spotlight Rewards & Recognition Program</h5>
                                    <p>I will be in touch with you within the next 2 business days to let you know more about
                                        this program</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Create Program End -->

        <!-- Modal Cash Incentive Program -->
        <div class="modal fade" id="setupCashIncentiveModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero pd-top-zero">Setup your
                                <span id='programType'></span> program</h4>
                            <div class="modalbox-form-section">
                                <form class="pd-top-twenty" id="programCreate">
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Select a Funding Account for this benefit</label>
                                        <div class="form-group select-custom" align="right">
                                            <select id='cashIncentiveFundingAccountID' class="form-control width-xs input-lg">
                                                <option value='0'>Select</option>
                                                <% for(var currIndex=0; currIndex<fundingAccounts.fundingAccounts.length; currIndex++) {%>
                                                    <option value=<%- fundingAccounts.fundingAccounts[currIndex].accountID %>>
                                                        <%- fundingAccounts.fundingAccounts[currIndex].name %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button disabled class="btn btn-default btn-disabled" type="button" id="cashIncentiveCreateProgram" data-programType="INCENTIVE">CREATE PROGRAM</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Cash Incentive Program End -->

        <!-- Modal Setup Instagift Program -->
        <div class="modal fade" id="setupInstagiftProgramModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero pd-top-zero">Setup
                                <span id='programType'></span> program</h4>
                            <div class="modalbox-form-section">
                                <form class="pd-top-twenty">
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Select a Funding Account</label>
                                        <div class="form-group select-custom" align="right">
                                            <select id='fundingAccountID' class="form-control width-xs input-lg">
                                                <option value='0'>Select</option>
                                                <% for(var currIndex=0; currIndex<fundingAccounts.fundingAccounts.length; currIndex++) {%>
                                                    <option value=<%- fundingAccounts.fundingAccounts[currIndex].accountID %>>
                                                        <%- fundingAccounts.fundingAccounts[currIndex].name %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                            <p class="text-center mg-top-five ">
                                                Create a new funding account from your
                                                <a href="/admin/funding-accounts"> Funding Accounts Page</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group" id="newAccountField">
                                        <label for="programName" class="control-label">Enter Account Name</label>
                                        <div class="form-group select-custom" align="right">
                                            <input id='programName' maxlength="40" type='text' class="form-control width-xs" placeholder="e.g. Spotlight gifting" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button disabled class="btn btn-default btn-disabled" type="button" id="createProgram">SETUP PROGRAM</button>
                                <div class="error">Oops. We could not setup program</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Setup Instagift Program -->

        <!-- Modal Loader  -->
        <div class="modal fade" id="createProgramLoader" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&nbsp;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Setting Program. Please wait...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

        <!-- Modal Loading  -->
        <div class="modal fade" id="loading" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&nbsp;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Loading. Please wait...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="createProgramError" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Oops. We could not setup program</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Oops   -->
        <div class="modal fade" id="Errorstate" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Oops. Something went wrong try again</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" id="cashIncentivecreateProgramSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Cash Incentive program setup successfully</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a id="viewProgramBtnSuccess" href='/companies/<%- companyID %>/spotlight'>
                                    <button class="btn btn-default" type="button">View Program</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" id="selectGiftingcreateProgramSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="closeSG" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Select Gifting program setup successfully</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a id="viewProgramBtnSuccess" href='/companies/<%- companyID %>/spotlight'>
                                    <button class="btn btn-default" type="button">View Program</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" id="InstagiftcreateProgramSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">InstaGift program setup successfully</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a id="viewProgramBtnSuccess" href='/companies/<%- companyID %>/spotlight'>
                                    <button class="btn btn-default" type="button">View Program</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- watch video select gifting start-->
        <div class="modal fade signup--video--modal--block" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <div class="mymodal">
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/uArTyjks75M" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- watch video select gifting end-->


        <!-- carousel slick css-->
        <!-- <link type="text/css" href="../../../../scss/pages/slick.css" rel="stylesheet" /> -->
        <% include ../../../common/html-script %>
            <script type='text/javascript' async src='/../lib/slick.min.js'></script>
            <script src="/dist/scripts/home.js"></script>
            <script src="/dist/scripts/selectgiftHome.js"></script>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('.your-class').slick({
                        dots: true,
                        infinite: true,
                        speed: 500,
                        fade: true,
                        autoplay: true,
                        autoplaySpeed: 6000,
                        slidesToShow: 1,
                        cssEase: 'linear',
                    });
                    $(".ifnoSlick").css("display", "none");
                    $('.your-class').show();

                });

                function autoPlayYouTubeModal() {
                    var trigger = $("body").find('[data-toggle="modal"]');
                    trigger.click(function () {
                        var theModal = $(this).data("target"),
                            videoSRC = $(this).attr("data-theVideo"),
                            videoSRCauto = videoSRC + "?autoplay=1";
                        $(theModal + ' iframe').attr('src', videoSRCauto);
                        $(theModal + ' button.close').click(function () {
                            $(theModal + ' iframe').attr('src', videoSRC);
                        });
                        $("#videoModal").click(function () {
                            $(theModal + ' iframe').attr('src', videoSRC);
                        });
                        $(document).on('keyup', function (e) {
                            if (e.which == 27) {
                                $('#videoModal iframe').attr('src', videoSRC);
                            }
                        });
                    });

                }
                autoPlayYouTubeModal();

                sessionStorage.setItem('reuploadStatus', false);
                sessionStorage.setItem('selectBrandStatus', true);
            </script>

    </body>

    </html>