<% include ../../../common/html-head %>

    <body>
        <input type="hidden" id="accountID" value="<%= accountID%>">
        <div class="wrapper">
            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">

                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container" style="display:none">
                                    <% if(ifiBankName == 'HDFC') { %> 
                                        <div class="mainContainerSpot mainContainerSpotHDFC">
                                    <% } else if(ifiBankName == 'Kotak') {%>
                                        <div class="mainContainerSpot mainContainerSpotKotak">
                                    <% } else {%>
                                        <div class="mainContainerSpot">
                                    <% } %>
                                        <div class="sptSuperTxt">Shine a light <br> on your <span>superstars</span></div>
                                        <div class="sptSuperSubTxt"><% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting&reg; <%}else{ %>Zeta Spotlight&reg;<%} %> is the first one-stop, fully customisable<br> digital solution for all gifting, incentives and R&R</div>

                                        <div class="sptTabsDv" style="margin-top: 20px;">
                                                <% if(ifiBankName == 'HDFC') { %> 
                                                    <span class="sptGCV sptTabsBtn active sptGCVHdfc">
                                                <% } else if(ifiBankName == 'Kotak') {%>
                                                    <span class="sptGCV sptTabsBtn active sptGCVKotak">
                                                <% } else {%>
                                                    <span class="sptGCV sptTabsBtn active">
                                                <% } %>
                                                <% if(ifiBankName.toLowerCase() == 'hdfc' || ifiBankName.toLowerCase() == 'kotak') { %>
                                                    <span style="margin-left: 24px;">Gift Cards</span></span>
                                                <% } else { %>
                                                    <span style="margin-left: 24px;">Gift Cards and Vouchers</span></span>
                                                <% } %>
                                                <% if(ifiBankName.toLowerCase() !== 'hdfc' && ifiBankName.toLowerCase() !== 'kotak') { %>
                                                    <% if(ifiBankName == 'Kotak') {%>
                                                        <span class="sptIR sptTabsBtn sptIRKotak">
                                                    <% } else {%>
                                                        <span class="sptIR sptTabsBtn">
                                                    <% } %>
                                                    <span style="margin-left: 24px;">Rewards and Recognition</span></span>
                                                <% } %>
                                        </div>



                                        <div id="sptGCV" class="sptTabsContainer">
                                            <div class="sptTabsCTxt">Gift in a click - choose what fits</div>
                                            <div class="sptTabsCSubTxt">Our digital solutions are tailored to cater to various gifting requirements at your organisation. Be empowered with <% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting&reg; <%}else{ %>Zeta Spotlight&reg;<%} %>  - Zeta Gifting Suite.</div>
                                            

                                            <% if(ifiBankName == 'Kotak') { %>
                                        <div class="row sptProgramsContainer sptProgramsContainerKotak"> 
                                            <% } else if(ifiBankName == 'HDFC') { %>
                                                <div class="row sptProgramsContainer sptProgramsContainerHDFC">                                        
                                            <% } else { %>
                                            <div class="row sptProgramsContainer">  
                                            <% } %> 
                                                <div class="col-md-4 col-lg-4 col-sm-4">
                                                    <div class="sptProgramsDv">
                                                    <% if(ifiBankName == 'RBL') { %>  
                                                    <span class="new-info">NEW</span>
                                                    <%}%>
                                                            <div class="sptProgramsImg">
                                                                <% if(ifiBankName == 'HDFC') { %> 
                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightDigitalHdfc.svg" />
                                                                <% } else if(ifiBankName == 'Kotak') {%>
                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/DigitalCardsKotak.svg" /> 
                                                                <% } else {%>
                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightDigital.svg" /> 
                                                                <% } %>
                                                            </div>
                                                            <div class="sptProgramsHead">Digital Gift Cards</div>
                                                            <div class="sptProgramsBorder"><span></span></div>
                                                            <div class="sptProgramsInfo">
                                                                <ul>
                                                                    <li><span>Send gift cards in an instant</span></li>
                                                                    <li><span>Customise cards and email design</span></li>
                                                                    <li><span>Can be used at all online stores</span></li>
                                                                    <li><span>OTP-based transaction authentication</span></li>
                                                                </ul>
                                                            </div>
                                                            <!-- <div class="sptProgramsOrderBtn">
                                                                    <div class="spotlightBtn disabled"><a href="/companies/<%- companyID %>/spotlight/virtual" >Order Now</a></div>
                                                            </div> -->
                                                            <% if((ifiBankName == 'RBL') || (ifiBankName == 'HDFC') || (ifiBankName == 'Kotak') || (ifiBankName == 'IDFC' )) { %>  
                                                            <div class="sptProgramsOrderBtn">
                                                                <div class="spotlightBtn"><a href="/companies/<%- companyID %>/spotlight/virtual" >Order Now</a></div>
                                                            </div>
                                                            <%}%>
                                                    </div>
                                                   

                                                </div>
                                                <div class="col-md-4 col-lg-4 col-sm-4">
                                                        <div class="sptProgramsDv">
                                                        <% if(ifiBankName == 'RBL') { %>  
                                                            <span class="new-info">NEW</span>
                                                            <%}%>
                                                                <div class="sptProgramsImg">
                                                                        <% if(ifiBankName == 'HDFC') { %> 
                                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightPhysicalHdfc.svg" />
                                                                        <% } else if(ifiBankName == 'Kotak') {%>
                                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/PhysicalCardsKotak.svg" /> 
                                                                        <% } else {%>
                                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightPhysical.svg" />
                                                                        <% } %>
                                                                </div>
                                                                <div class="sptProgramsHead">Physical Gift Cards</div>
                                                                <div class="sptProgramsBorder"><span></span></div>
                                                                <div class="sptProgramsInfo">
                                                                    <ul>
                                                                        <li><span>Order physical gift cards</span></li>
                                                                        <li><span>Choose from beautiful card designs</span></li>
                                                                        <li><span>Can be used both online and offline</span></li>
                                                                        <li><span>PIN-based transaction authentication</span></li>
                                                                    </ul>
                                                                </div>
                                                                <% if((ifiBankName == 'RBL') || (ifiBankName == 'HDFC' ) || (ifiBankName == 'Kotak')) { %>
                                                                <div class="sptProgramsOrderBtn">
                                                                    <div class="spotlightBtn"><a href="/companies/<%- companyID %>/spotlight/physical" >Order Now</a></div>
                                                                </div>
                                                                <%} else {%>
                                                                    <div class="sptProgramsOrderBtn">
                                                                        <div class="spotlightBtn" style="background: #fff;"><a href="javascript:void(0)" ></a></div>
                                                                    </div>
                                                                <%}%>
                                                        </div>
                                                       
    
                                                    </div>
                                                    <% if(ifiBankName != 'HDFC' && ifiBankName != 'Kotak') { %>
                                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                                            <div class="sptProgramsDv">
                                                                    <div class="sptProgramsImg">
                                                                            <% if(ifiBankName == 'HDFC') { %> 
                                                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightBrandHdfc.png" />
                                                                            <% } else {%>
                                                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightBrand.png" />
                                                                            <% } %>
                                                                    </div>
                                                                    <div class="sptProgramsHead">Brand Vouchers</div>
                                                                    <div class="sptProgramsBorder"><span></span></div>
                                                                    <div class="sptProgramsInfo">
                                                                        <ul>
                                                                            <li><span>Get upto 15% discount</span></li>
                                                                            <li><span>Choose from over 30+ brands</span></li>
                                                                            <li><span>Distribute electronically in an instant</span></li>
                                                                            <li><span>No registration required</span></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="sptProgramsOrderBtn">
                                                                        <div class="spotlightBtn"><a href="/companies/<%- companyID %>/spotlight/selectgifting/newgiftorder" >Order Now</a></div>
                                                                    </div>
                                                            </div>
                                                           
        
                                                    </div>
                                                    <% } %>
                                            </div>

                                        </div>


                                        <% if(ifiBankName !== 'HDFC') { %>
                                        <div id="sptIR" class="sptTabsContainer" style="display: none;">
                                            <div class="sptTabsCTxt">When gift cards won’t cut it</div>
                                            <div class="sptTabsCSubTxt">Our incentives and award programs are great for recurring rewards.</div>
                                            <% if(ifiBankName == 'Kotak') { %>
                                                <div class="row sptProgramsContainer sptProgramsContainerKotak"> 
                                            <% } else if(ifiBankName == 'HDFC') { %>
                                                <div class="row sptProgramsContainer sptProgramsContainerHDFC"> 
                                            <% } else if(corpID == '96' || corpID == '4803' || corpID == '17573') { %>
                                                <div class="row sptProgramsContainer sptProgramsContainerHDFC">       
                                            <% } else { %>
                                            <div class="row sptProgramsContainer">  
                                            <% } %> 
                                                    <% if(corpID != '96' && corpID != '4803' && corpID != '17573'){ %>                                                  
                                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                                        <div class="sptProgramsDv">
                                                                <div class="sptProgramsImg">
                                                                        <% if(ifiBankName == 'HDFC') { %> 
                                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/cash-transfer-spHdfc.svg" />
                                                                        <% } else {%>
                                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/cash-transfer-sp.svg" />
                                                                        <% } %>
                                                                </div>
                                                                <div class="sptProgramsHead">Cash Transfer</div>
                                                                <div class="sptProgramsBorder"><span></span></div>
                                                                <div class="sptProgramsInfo">
                                                                    <ul>
                                                                        <li><span>Load upto 1 lakh with full KYC</span></li>
                                                                        <li><span>Send cash directly to email/mobile</span></li>
                                                                        <li><span>Employees can transfer out to bank</span></li>
                                                                        <li><span>Advanced reporting and tracking</span></li>
                                                                    </ul>
                                                                </div>
                                                                <% if( ifiBankName != 'HDFC' ) { %>
                                                                <% if(checkCashIncentive === false) { %>
                                                                <div class="sptProgramsOrderBtn">
                                                                    <div class="spotlightBtn "><a href="javascript:void(0)" data-toggle="modal" data-target="#setupCashIncentiveModal"
                                                                        data-programtype="INCENTIVES">Set Up</a></div>
                                                                </div>
                                                                <% } else { %>
                                                                <div class="sptProgramsOrderBtn">
                                                                        <div class="spotlightBtn"><a href="/companies/<%- companyID %>/spotlight/<%- cashProgramID %>" >Order Now</a></div>
                                                                </div>
                                                                <% } %>
                                                                <% } else {%>
                                                                    <div class="sptProgramsOrderBtn">
                                                                            <div class="spotlightBtn"><a href="javascript:void(0)" >Coming Soon</a></div>
                                                                    </div>
                                                                    <% } %>
                                                        </div>
                                                       
                                                    </div>
                                                    <% } %>
                                                    <% if(corpID != '96' && corpID != '4803' && corpID != '17573'){ %>  
                                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                                            <div class="sptProgramsDv">
                                                                    <div class="sptProgramsImg">
                                                                            <% if(ifiBankName == 'HDFC') { %> 
                                                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/card-basedHdfc.svg" />
                                                                            <% } else {%>
                                                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/card-based.svg" />
                                                                            <% } %>
                                                                    </div>
                                                                    <div class="sptProgramsHead">Card-Based</div>
                                                                    <div class="sptProgramsBorder"><span></span></div>
                                                                    <div class="sptProgramsInfo">
                                                                        <ul>
                                                                            <li><span>Load upto 1 lakh with Full KYC</span></li>
                                                                            <li><span>Personalise card design & message</span></li>
                                                                            <li><span>Instant one-click disbursal</span></li>
                                                                            <li><span>Use via Zeta mobile app and on web</span></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="sptProgramsOrderBtn">
                                                                        <div class="spotlightBtn"><a href="/companies/<%- companyID %>/spotlight/reward#sendGift" >Order Now</a></div>
                                                                    </div>
                                                            </div>
        
                                                    </div>   
                                                    <% } %>     
                                                    <% if(isRnREnabled === true) { %>                                           
                                                      <div class="col-md-4 col-lg-4 col-sm-4">
                                                            <div class="sptProgramsDv">
                                                                    <span class="new-info">NEW</span>
                                                                    <div class="sptProgramsImg"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/rnr-logo.svg" /></div>
                                                                    <div class="sptProgramsHead">Point-Based</div>
                                                                    <div class="sptProgramsBorder"><span></span></div>
                                                                    <div class="sptProgramsInfo">
                                                                        <ul>
                                                                            <li><span>Fully customizable RnR programs</span></li>
                                                                            <li><span>Choose your own currency</span></li>
                                                                            <li><span>Personalise rewards and badges</span></li>
                                                                            <li><span>Detailed reporting and insights</span></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="sptProgramsOrderBtn">
                                                                        <div class="spotlightBtn"><a href="/companies/<%- companyID %>/spotlight/pointbased" >View Programs</a></div>
                                                                    </div>
                                                            </div>
                                                    </div>
                                                    <% } %>
                                                </div>

                                        </div>
                                        <% if((ifiBankName == 'RBL') || (ifiBankName == 'Kotak') || (ifiBankName == 'IDFC' )) { %>  
                                            <% if(checkInstagift === true) { %>                
                                        <div class="row">
                                        <div class="col-md-12 col-lg-12 col-sm-12">
                                            <div class="insta-gift-info">
                                                <p class="info-header">
                                                Load InstaGift Cards?
                                                </p>
                                                <p class="info-description">
                                                Note: We have stopped accepting new orders for InstaGift.<a href="/companies/<%- companyID %>/spotlight/instagift/<%- instaProgramID %>/load-cards"> Click here</a> to load your existing InstaGift cards. To view your past orders, 
                                                <a href="/companies/<%- companyID %>/spotlight/instagift/<%- instaProgramID %>#cardLoadHistory">click here.</a>                                            
                                                </p>
                                            </div>
                                        </div>
                                        </div>
                                        <%}%>
                                        <%}%>
                                        <% if(ifiBankName == 'HDFC') { %>                  
                                        <div class="row">
                                        <div class="col-md-12 col-lg-12 col-sm-12">
                                            <div class="spotlight-ifi-info">
                                                <span>
                                                Issued by
                                                </span>
                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/HDFC-logo-2x.png"/>
                                            </div>
                                        </div>
                                        </div>
                                        <%}%>
                                        <% if(ifiBankName == 'Kotak') { %>                  
                                            <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12">
                                                <div class="spotlight-ifi-info">
                                                    <span>
                                                    Issued by
                                                    </span>
                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/kotak-logo.svg"/>
                                                </div>
                                            </div>
                                            </div>
                                            <%}%>
                                    </div>
                                </div>
                                <% } %>
                            
                            <!-- Inner container End. -->
                    </div>
                </div>
                <!-- Container End -->
        </div>


        <!-- Modal Create Spotlight Program -->
        <div class="modal fade" id="instagiftModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox spotlight-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="modal-image">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/instagift-card.svg" alt="Zeta image" />
                            </div>
                            <h4 class="text-center pd-bottom-zero pd-top-zero">Great to know your interest in InstaGift!</h4>
                            <p id="instagiftInterest">Your Zeta
                                <span class="instagiftManagerRole">Account Manager</span>,
                                <b class="instagiftManagerName">Parth Kapadia</b> (
                                <span id="instagiftManagerEmail">parth.k@zeta.tech</span>) will contact you within 2 business days to discuss the details
                                and get this program rolling.
                            </p>
                        </div>
                        <div class="modal-footer" id="instagiftContact">
                            <p>Already signed up but still seeing this?</p>
                            <a id="instagiftManagerEmaillink">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- learn more select gifting start-->
        <div class="modal fade" id="selectGiftLrnMre" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox custom-modalbox-new" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 ">
                                <div class="select-gift-head">
                                    <div class="mainSgImg">
                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/select-gifting.png">
                                    </div>
                                    <h4>Great for issuing digital gift cards from a
                                        <br>wide-selection of brands</h4>
                                    <div class="row select-gift-body">
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/wdRange.svg" />
                                            </div>
                                            <p class="heading">Wide-range of Brands</p>
                                            <p>Select from a variety of popular brands across various categories.</p>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/getDcnt.svg" />
                                            </div>
                                            <p class="heading">Get Discount</p>
                                            <p>Save money by getting 1% discount on your total order value.</p>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/instDis.svg" />
                                            </div>
                                            <p class="heading">Instant Disbursal</p>
                                            <p>Instantly distribute vouchers in bulk on email</p>
                                        </div>
                                    </div>

                                    <div class="row select-gift-body mg-top-twenty">
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/easyRed.svg" />
                                            </div>
                                            <p class="heading">Easy Redemption</p>
                                            <p>Beneficiaries can redeem vouchers in just 1-click.</p>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/noLogic.svg" />
                                            </div>
                                            <p class="heading">No Logistics/Inventory</p>
                                            <p>Go green. Go digital. Enjoy peace of mind.</p>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/corSprt.svg" />
                                            </div>
                                            <p class="heading">Corporate Support</p>
                                            <p>Relationship managers across major cities & 24/7 call and chat support.</p>
                                        </div>
                                    </div>
                                    <p class="border-bottom"></p>
                                    <h4>Get started in 3 easy steps</h4>
                                    <div class="row select-gift-body">
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/verify.svg" />
                                            </div>
                                            <div class="numbering">
                                                <span>1</span>
                                            </div>
                                            <p class="heading">Choose from popular brands</p>
                                            <p>Your gift, their choice. Select the gift vouchers from one of the popular brands
                                                at attractive discounts.</p>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/upload-schedule.svg" />
                                            </div>
                                            <div class="numbering">
                                                <span>2</span>
                                            </div>
                                            <p class="heading">Upload & schedule</p>
                                            <p>Upload details of beneficiaries to whom you want to send the gift. You may also
                                                schedule it for later.</p>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div>
                                                <img src="../../../../images/spotlight/choose.svg" />
                                            </div>
                                            <div class="numbering">
                                                <span>3</span>
                                            </div>
                                            <p class="heading">Verify & create order</p>
                                            <p>Once your order is created, we will send an email to your beneficiaries with
                                                the gift voucher details.</p>
                                        </div>
                                    </div>
                                    <div class="x-medium-button">
                                        <a href="/companies/<%- companyID %>/spotlight/selectgifting/newgiftorder">
                                            <button class="btn" type="button">
                                                SEND GIFT VOUCHERS NOW
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- learn more select gifting end-->


        <!-- learn more cashincetive start-->
        <div class="modal fade" id="incentivesProgramModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox spotlight-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="modal-image">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/incentives-card.svg" alt="Zeta image"
                                />
                            </div>
                            <h4 class="text-center pd-bottom-zero pd-top-zero">Cash Incentive is coming soon!</h4>
                            <p>Let us know if you’re interested to know more, and we’ll arrange for a detailed demo.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default incentives-request-demo" type="button" data-programType="INCENTIVES">REQUEST A DEMO</button>
                                <div class="error">Your request could not be registered. Please retry</div>
                            </div>
                            <div class="program-demo-wrapper">
                                <div class="profile-container ">
                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/account-manager.svg" alt="Avatar">
                                    <div class="user-info">
                                        <h5 class="incentivesManagerName"></h5>
                                        <p class="incentivesManagerRole">Account Manager</p>
                                    </div>
                                </div>
                                <div class="progrem-info text-left">
                                    <h5>Great to know your interest in <% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %> Spotlight<%} %>  Cash Incentive Program</h5>
                                    <p>I will be in touch with you within the next 2 business days to let you know more about
                                        this program</p>
                                </div>
                            </div>
                            <div class="program-demo-default-text">
                                <div class="profile-container ">
                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg" alt="Avatar">
                                </div>
                                <div class="progrem-info text-left">
                                    <h5>Great to know your interest in <% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %> Spotlight<%} %> Cash Incentive Program</h5>
                                    <p>I will be in touch with you within the next 2 business days to let you know more about
                                        this program</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- learn more cashincetive end-->


        <div class="modal fade" id="setupSpotlightProgramModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox spotlight-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="modal-image">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/rn-r-integration.svg" alt="Zeta image"
                                />
                            </div>
                            <h4 class="text-center pd-bottom-zero pd-top-zero">We’d like to meet you!</h4>
                            <p>We’d like to understand your recognition platform in detail, and discuss how <% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %> Spotlight<%} %> can integrate
                                with it.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default rnr-request-demo" type="button" data-programType="RNR">REQUEST A DEMO</button>
                                <div class="error">Your request could not be registered. Please retry</div>
                            </div>
                            <div class="program-demo-wrapper">
                                <div class="profile-container ">
                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/account-manager.svg" alt="Avatar">
                                    <div class="user-info">
                                        <h5 class="rnrManagerName"></h5>
                                        <p class="rnrManagerRole">Account Manager</p>
                                    </div>
                                </div>
                                <div class="progrem-info text-left">
                                    <h5>Great to know your interest in <% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %> Spotlight<%} %> Rewards & Recognition Program</h5>
                                    <p>I will be in touch with you within the next 2 business days to let you know more about
                                        this program</p>
                                </div>
                            </div>
                            <div class="program-demo-default-text">
                                <div class="profile-container ">
                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg" alt="Avatar">
                                </div>
                                <div class="progrem-info text-left">
                                    <h5>Great to know your interest in <% if(ifiBankName.toLowerCase() == "hdfc" || ifiBankName.toLowerCase() == "kotak") { %> SpotGifting <%}else{ %> Spotlight<%} %> Rewards & Recognition Program</h5>
                                    <p>I will be in touch with you within the next 2 business days to let you know more about
                                        this program</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Create Program End -->

        <!-- Modal Cash Incentive Program -->
        <div class="modal fade" id="setupCashIncentiveModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero pd-top-zero">Setup your
                                <span id='programType'></span> program</h4>
                            <div class="modalbox-form-section">
                                <form class="pd-top-twenty" id="programCreate">
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Select a Funding Account for this benefit</label>
                                        <div class="form-group select-custom" align="right">
                                            <select id='cashIncentiveFundingAccountID' class="form-control width-xs input-lg">
                                                <option value='0'>Select</option>
                                                <% for(var currIndex=0; currIndex<fundingAccounts.fundingAccounts.length; currIndex++) {%>
                                                    <option value=<%- fundingAccounts.fundingAccounts[currIndex].accountID %>>
                                                        <%- fundingAccounts.fundingAccounts[currIndex].name %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button disabled class="btn btn-default btn-disabled" type="button" id="cashIncentiveCreateProgram" data-programType="INCENTIVE">CREATE PROGRAM</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Cash Incentive Program End -->

        <!-- Modal Setup Instagift Program -->
        <div class="modal fade" id="setupInstagiftProgramModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero pd-top-zero">Setup
                                <span id='programType'></span> program</h4>
                            <div class="modalbox-form-section">
                                <form class="pd-top-twenty">
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Select a Funding Account</label>
                                        <div class="form-group select-custom" align="right">
                                            <select id='fundingAccountID' class="form-control width-xs input-lg">
                                                <option value='0'>Select</option>
                                                <% for(var currIndex=0; currIndex<fundingAccounts.fundingAccounts.length; currIndex++) {%>
                                                    <option value=<%- fundingAccounts.fundingAccounts[currIndex].accountID %>>
                                                        <%- fundingAccounts.fundingAccounts[currIndex].name %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                            <p class="text-center mg-top-five ">
                                                Create a new funding account from your
                                                <a href="/admin/funding-accounts"> Funding Accounts Page</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group" id="newAccountField">
                                        <label for="programName" class="control-label">Enter Account Name</label>
                                        <div class="form-group select-custom" align="right">
                                            <input id='programName' maxlength="40" type='text' class="form-control width-xs" placeholder="e.g. SpotGifting" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button disabled class="btn btn-default btn-disabled" type="button" id="createProgram">SETUP PROGRAM</button>
                                <div class="error">Oops. We could not setup program</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Setup Instagift Program -->

        <!-- Modal Loader  -->
        <div class="modal fade" id="createProgramLoader" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&nbsp;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Setting Program. Please wait...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

        <!-- Modal Loading  -->
        <div class="modal fade" id="loading" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&nbsp;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Loading. Please wait...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="createProgramError" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Oops. We could not setup program</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Oops   -->
        <div class="modal fade" id="Errorstate" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Oops. Something went wrong try again</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" id="cashIncentivecreateProgramSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Cash Incentive program setup successfully</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a id="viewProgramBtnSuccess" href='/companies/<%- companyID %>/spotlight'>
                                    <button class="btn btn-default" type="button">Done</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Box Transfer Initiated success -->
        <!-- <div class="modal fade" id="selectGiftingcreateProgramSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="closeSG" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">Select Gifting program setup successfully</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a id="viewProgramBtnSuccess" href='/companies/<%- companyID %>/spotlight'>
                                    <button class="btn btn-default" type="button">View Program</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Modal Box Transfer Initiated success -->
        <!-- <div class="modal fade" id="InstagiftcreateProgramSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" />
                            </div>
                            <h4 class="text-center pd-bottom-zero">InstaGift program setup successfully</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a id="viewProgramBtnSuccess" href='/companies/<%- companyID %>/spotlight'>
                                    <button class="btn btn-default" type="button">View Program</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- watch video select gifting start-->
        <div class="modal fade signup--video--modal--block" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <div class="mymodal">
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/uArTyjks75M" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- watch video select gifting end-->


        <!-- carousel slick css-->
        <% include ../../../common/html-script %>
            <script src="/dist/scripts/home.js"></script>
            <script src="/dist/scripts/selectgiftHome.js"></script>
                        
            <script type="text/javascript">

                setTimeout(()=> {
                    $('.inner-container').show('slow');
                    new Image().src = "https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightBG.png";
                    new Image().src = "https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/spotlightBGHdfc.png";
                }, 1)
               
                function autoPlayYouTubeModal() {
                    var trigger = $("body").find('[data-toggle="modal"]');
                    trigger.click(function () {
                        var theModal = $(this).data("target"),
                            videoSRC = $(this).attr("data-theVideo"),
                            videoSRCauto = videoSRC + "?autoplay=1";
                        $(theModal + ' iframe').attr('src', videoSRCauto);
                        $(theModal + ' button.close').click(function () {
                            $(theModal + ' iframe').attr('src', videoSRC);
                        });
                        $("#videoModal").click(function () {
                            $(theModal + ' iframe').attr('src', videoSRC);
                        });
                        $(document).on('keyup', function (e) {
                            if (e.which == 27) {
                                $('#videoModal iframe').attr('src', videoSRC);
                            }
                        });
                    });

                }
                autoPlayYouTubeModal();

                sessionStorage.setItem('reuploadStatus', false);
                sessionStorage.setItem('selectBrandStatus', true);
            </script>

    </body>

    </html>