<% include ../../common/html-head %>

<body>
<div class="wrapper">
    <% include ../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container access-ctrl-V2-container">
                <!-- Banner Start -->
                <div class="banner-section royal-blue-sodexo">
                    <div>
                        <div class="row">
                            <div class="col-xs-7 col-md-8">
                                <div class="page-heading">
                                    <h1 class="pd-btm-ten">Report center </h1>
                                    <p class="para-lead mg-bottom-zero">
                                        <span class="para-lead-text">Report Center provides comprehensive reporting to track multiple products for your Company.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Banner End -->
                <div class="report-center">
                        <iframe src= "<%- url %>"  class="survey-frame" >
                        </iframe>
                    
                </div>
                <!-- Inner container End -->
            </div>
        </div>
    </div>
    <!-- Container End -->
</div>

<% include ../../common/html-script %>
<script src="/dist/scripts/survey.js"></script> 

</body>

</html>
