<tr class="numbers-font">
    <% { let reason = ''; %>
        <% for(let currIndex = 0;currIndex<row.length;currIndex++) { %>
            <% if(errors[currIndex]) { %>
                <% 
                reason += errors[currIndex] +'<br>';
                console.log(reason);
            %>
                    <td class='error-column'>
                        <%- row[currIndex] %>
                    </td>
                    <% } else { %>
                        <td>
                            <%- row[currIndex] %>
                        </td>
                        <% } %>
                            <% } %>
                                <td>
                                    <%- reason %>
                                </td>

                                <% } %>
</tr>