<tr data-orderid="<%- orderId %>" class="numbers-font">
    <td>
        <!-- <a href="/select-gift/orders/ orderId " class="text-id"> -->
        <%= orderId %>
            <!-- </a> -->
    </td>
    <td style="min-width:130px">
        <%= createdOn %>
    </td>
    <td>
        <%= brandName %>
    </td>
    <td class="text-right">
        <%= totalPayout %>
    </td>
    <td class="text-right">
        <%= discountAmount %>
    </td>
    <td class="text-right">
        <%= amount %>
    </td>
    <td>
        <div>
            <% if(status === "SCHEDULED") { %>
                <span class="processing text-capitalize text-bulk-processing">Scheduled</span>
            <% } else if(status === "DELIVERED") { %>
                <!-- <a href="/select-gift/orders/ orderId " class="text-none"> -->
                <span class="transfer_status_completed text-capitalize text-completed">Completed</span>
                <!-- </a> -->
            <% } else if(status === "INSUFFICIENT_FUNDS") { %>
                <!-- <a href="/select-gift/orders/ orderId " class="text-none"> -->
                <span class="processing text-capitalize text-bulk-processing">Stalled</span>
                <!-- </a> -->
            <% } else if(status === "PROCESSING") { %>
                <!-- <a href="/select-gift/orders/ orderId " class="text-none"> -->
                <span class="processing text-capitalize text-bulk-processing">Processing</span>
                <!-- </a> -->
            <% } else if(status === "CANCELLED"){ %>
                <span class="transfer_status_stalled text-capitalize text-failed">Cancelled</span>
            <% } else {  %>
                <span class="transfer_status_stalled text-capitalize text-failed"> <%=status%> </span>
            <% } %>
            <br>
            <% if(addBalance === true && status != "CANCELLED") { %>
            <div class="insufFundTable"><span class="warnCircle">i</span><span>Insufficient Funds</span> <a href="javascript:void(0)" data-fundingaccountids="<%=fundingAccountId %>" class="addFundsSG">Add</a></div>
            <% } %>
        </div>
    </td>
    <td class="file-url" style="min-width:150px">
        <a href="javascript:void(0)" class="tooltip-title tooltip-cursor-pointer download-bulk-order-file">
            <img class="download-icon csvDownlaodURL" data-fileurl="<%= fileUrl %>" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png" alt="Download Order">
            <span class="tooltip-view">
                <!-- Tooltip Content  -->
                <div class="tooltip-lrtb-pd">
                    <div class="row">
                        <div class="col-xs-12 col-md-12"> Download Order File</div>
                    </div>
                </div>
                <!-- Tooltip Content End -->
            </span>
        </a>
        <% if(status === "INSUFFICIENT_FUNDS" || status === "SCHEDULED" ) { %>
            <a href="/companies/<%- companyId %>/spotlight/selectgifting/proforma-invoice/<%- orderId %>" data-fileurl="<%= filePInvoiceUrl %>" target="_blank" class="tooltip-title tooltip-cursor-pointer">
                <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/proforma-icon.png" alt="Proforma Invoice">
                <span class="tooltip-view">
                    <!-- Tooltip Content  -->
                    <div class="tooltip-lrtb-pd">
                        <div class="row">
                            <div>Download Proforma Invoice</div>
                        </div>
                    </div>
                    <!-- Tooltip Content End -->
                </span>
            </a>
        <% } %> 
        <% if(status === "DELIVERED" || status === "PROCESSING" ) { %>
        <!-- <a href="/companies/<%- companyId %>/spotlight/selectgifting/invoice/<%- orderId %>" data-fileurl="<%= fileInvoiceUrl %>" target="_blank" class="tooltip-title tooltip-cursor-pointer"> -->
        <a href="javascript:void(0)" data-orderid="<%= orderId %>" class="tooltip-title tooltip-cursor-pointer">
                <img  class="download-icon downloadpdfinvoice" data-spotlighttype="SELECT_GIFTING" data-orderid="<%= orderId %>" data-from="GET_SELECT_GITFTING_INVOICEURL" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/invoice-icon.png" alt="Invoice">
                <span class="tooltip-view">
                    <!-- Tooltip Content  -->
                    <div class="tooltip-lrtb-pd">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">Download Invoice</div>
                        </div>
                    </div>
                    <!-- Tooltip Content End -->
                </span>
            </a>
        <% } %>
       
    </td>
    
    
</tr>


   
