.form-group{
    position: relative;
    .input-has-error{
        border-radius: 2px;
        border: solid 1px #e74c3c !important;
    }

    .error-message{
        color: #e74c3c;
        opacity: 1;
    }
    .valid-img{
        display: none;
        position: absolute;
        top: 42px;
        right: 10px;
    }
}

.flexible-button{
    position: relative;

    .add-user-loader{
        display: none;
        position: absolute;
        animation:spin 1s linear infinite;
        top: 15px;
        right: 50px;
    }        
}
.responseModalBody{
    text-align: center;
}

.response-img{
    padding-top:25px;
    display: none;
}

.__position-relative-input-box {
    position: relative;
    .__generate-password {
        position: absolute;
        top: 40px;
        right: 11px;
        font-size: 12px;
        color: #273895;
        font-weight: 700;
        cursor: pointer;
    }
}