.benifits-employees-wrpr {
    .custom-table tr th {
        // padding-left: 10px !important;
        // padding-right: 10px !important;
    }
    .custom-table tr td {
        &.position-dropdown {
            padding: 0 !important;
            .popover-content {
                padding-right: 5px;
                padding-left: 5px;
                cursor: pointer;
                &:hover {
                    color: #000;
                    opacity: 1;
                }
            }
        }
    }
    .expense-beneficiary-table {
        tr th {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }
}

.footer-note {
    margin-top: 20px;
    display: inline-block;
    font-size: 11px;
    color: $button-text-color;
    font-style: italic;
}

.filter-cntr {
    margin: 35px -30px 0 -30px;
    .filter-wrpr {
        background: #f4f4f4;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        height: 80px;
        padding: 0;
        text-align: center;
        cursor: pointer;
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
        .filter-no {
            font-size: 20px;
            line-height: 18px;
            padding: 20px 0 10px 0;
            color: #190f27;
        }
        .filter-txt {
            color: rgba($color: #190f27, $alpha: 0.4);
            font-size: 14px;
            line-height: 10px;
        }
    }
    .active {
        background: #fff;
        border-top: 2px solid #633ea5;
        .filter-no {
            color: #633ea5;
        }
        .filter-txt {
            color: #633ea5;
        }
    }
}

.employees-wrpr {
    padding-top: 0;
    margin-top: 0;
    .filter-cntr {
        margin-top: 0;
        margin-bottom: 30px;
        .filter-wrpr {
            width: 20%;
        }
    }
    .report-graph {
        position: relative;
        display: none;
        canvas {
            display: none;
        }
        .y-label-left {
            width: 80px;
            text-align: left;
            padding-bottom: 30px;
            line-height: 16px;
            font-size: 13px;
        }
        .y-label-right {
            @extend .y-label-left;
            text-align: right;
        }
        .graph-loader {
            margin: auto;
            text-align: center;
            img {
                width: 100px;
                padding-bottom: 20px;
            }
        }
        .graph-empty {
            position: absolute;
            top: 30%;
            left: 35%;
        }
    }
}

.benefit-card {
    margin-bottom: 30px;
}

.tabContainer {
    display: none;
}

.program-no-bottom-margin {
    margin-bottom: 0px !important;
}

.inner-container .program {
    background-color: $color-white;
    margin-bottom: 30px;
    border-bottom: 1px solid #eae9ed;
    .tabbable-panel {
        padding: 0 60px 0 25px;
        .tabbable-line>.nav-tabs {
            border: none;
        }
        .nav>li>a {
            padding: 12px 0 11px 0;
        }
    }
}

.pd-top {
    background-color: $color-white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: $block-border-radius; // min-width: 400px;
    ul li {
        color: $color-black;
    }
    .card-section {
        margin-bottom: 30px;
        position: relative;
        img {
            width: auto;
            height: 145px;
        }
        .card-image-part__tag {
            background-color: #eb5946;
            width: auto;
            height: 20px;
            position: absolute;
            top: 7%;
            left: -7px;
            color: $color-white;
            .card-image-part__tag--pd {
                padding: 10px;
            }
        }
        .card-image-part__tag:after {
            position: absolute;
            content: "";
            top: -8px;
            right: 90%;
            border-top: 0 solid transparent;
            border-right: 0 solid transparent;
            border-bottom: 9px solid #c84837;
            border-left: 20px solid transparent;
        }
        .card-logo-vn {
            left: 300px;
            position: absolute;
            bottom: 20px;
            width: auto;
            height: 43px;
        }
    }
    .mg-b-24 {
        margin-bottom: 24px;
    }
}

.pd-b-20 {
    padding-bottom: 20px;
}

.sub-container .transfer .filter-section {
    h3 {
        margin-top: 10px;
        line-height: 15px;
        font-size: 20px;
    }
    .benefit-card {
        margin-bottom: 30px;
    }
    .tabContainer {
        display: none;
    }
    .program-no-bottom-margin {
        margin-bottom: 0px !important;
    }
    .inner-container .program {
        background-color: $color-white;
        margin-bottom: 30px;
        border-bottom: 1px solid #eae9ed;
        .tabbable-panel {
            padding: 0 60px 0 25px;
            .tabbable-line>.nav-tabs {
                border: none;
            }
            .custom-searchbox {
                display: inline-block;
                width: 165px;
                float: right;
                margin: 0 20px 15px 0;
            }
            .filter-divider-table {
                margin-right: 20px;
                float: right;
                .filter-divider-left {
                    width: auto;
                    float: left;
                }
            }
            .date-picker {
                width: auto;
                float: left;
                margin-left: 20px;
                input[type="text"] {
                    width: 180px;
                }
            }
            .col-xs-9.col-md-9 {
                padding-right: 0;
            }
        }
        .cardloadhistry-tbl {
            padding: 10px 10px 10px 20px;
        }
        .sub-container .filter-section {
            h3 {
                margin-top: 0;
                padding-left: 0;
                padding-top: 5px;
                font-size: 20px;
            }
            .custom-searchbox {
                margin-bottom: 10px;
                margin-left: 15px;
            }
            .container {
                padding-left: 30px;
            }
            .report-heading {
                font-size: 20px;
            }
            .report-links {
                margin-top: 10px;
            }
        }
        .chart-section {
            margin: 20px 0 30px 0;
            display: flex;
            .status-details {
                display: inline-block;
                width: 33%;
                padding-left: 45px;
                position: relative;
                img {
                    position: absolute;
                    left: 0;
                    top: 2px;
                }
                .status-type {
                    font-size: 12px;
                    color: #190f27;
                }
                .amount-val {
                    display: block;
                }
            }
            .width-twenty {
                width: 20%;
            }
            .width-forty {
                width: 40%;
            }
        }
        .custom-program-iframe {
            width: 100%;
            background: $color-white;
        }
        .fundaccerror-state {
            text-align: center;
            padding-bottom: 10px;
            &.span {
                color: #e74c3c;
                text-align: center;
                font-size: 14px;
            }
            &.img-error {
                width: 16px;
                margin-right: 5px;
                margin-bottom: 2px;
            }
            .margin-top {
                margin-top: 20px;
            }
            .heading-text {
                padding-top: 0;
                padding-bottom: 25px;
            }
        }
    }
}

.cardloadhistry-tbl {
    padding: 10px 10px 10px 20px;
}

.sub-container .filter-section {
    h3 {
        margin-top: 0;
        padding-left: 0;
        padding-top: 5px;
        font-size: 20px;
    }
    .custom-searchbox {
        margin-bottom: 10px;
        margin-left: 15px;
    }
    .container {
        padding-left: 30px;
    }
    .report-heading {
        font-size: 20px;
    }
    .report-links {
        margin-top: 10px;
    }
}

.chart-section {
    margin: 20px 0 30px 0;
    display: flex;
    .status-details {
        display: inline-block;
        width: 33%;
        padding-left: 45px;
        position: relative;
        img {
            position: absolute;
            left: 0;
            top: 2px;
        }
        .status-type {
            font-size: 12px;
            color: #190f27;
        }
        .amount-val {
            display: block;
        }
    }
    .width-twenty {
        width: 20%;
    }
    .width-forty {
        width: 40%;
    }
}

.custom-program-iframe {
    width: 100%;
    background: $color-white;
}

.margin-top {
    margin-top: 20px;
}

.heading-text {
    padding-top: 0;
    padding-bottom: 25px;
}

.whatRprtTxt {
    font-size: 13px;
    color: #333;
    padding: 0 0 0 10px;
    border-left: 1px solid #ccc;
    margin: 0 0 0 10px;
    text-decoration: underline;
    opacity: 0.8;
    &:hover {
        text-decoration: none;
        color: #333;
    }
}

.sub-container {
    .margin-left-20 {
        margin-left: 20px;
    }
    .margin-bot-20 {
        margin-bottom: 20px;
    }
    .no-marg-pad {
        margin: 0 !important;
        padding: 0 !important;
    }
    .topHeading {
        position: relative;
        .title {
            color: #190f27;
            font-size: 20px;
        }
        .subtitle {
            color: #190f27;
            font-size: 14px;
        }
        span {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .accordionContainer {
        .table {
            display: table;
            margin: 0;
            .bg-grey{
                background: #9c9eb8;
                color: #fff;
            }
        }
        .table-cell {
            display: table-cell;
            vertical-align: middle;
        }
        .heading {
            background: #fff;
            margin-top: 20px;
            border: 1px solid #c7c4d2;
            padding: 10px 20px;
            box-shadow: 0px 3px 3px 0px #ddd;
            .text {
                p {
                    &:nth-child(1) {
                        font-weight: bold;
                    }
                    &:nth-child(2) {
                        font-size: 12px;
                    }
                }
            }
            .count {
                width: 30px;
                p {
                    &:nth-child(1) {
                        text-align: center;
                        border: 1px solid #00b898;
                        border-radius: 50%;
                        height: 24px;
                        width: 24px;
                        font-size: 14px;
                        color: #231f20;
                        font-weight: bold;
                        padding-top: 1px;
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
            &.complete {
                .count {
                    p {
                        &:nth-child(1) {
                            display: none;
                        }
                        &:nth-child(2) {
                            display: block;
                        }
                    }
                }
            }
            &.disabled {
                background: none;
            }
        }
        .card-body {
            background: #fff;
            padding: 20px;
            border: 1px solid #c7c4d2;
            border-top: none;
            .inputRow {
                margin-bottom: 10px;
                overflow: auto;
                .enableEdit{
                    cursor: pointer;
                }
                .field-label {
                    float: left;
                    width: 200px;
                    text-align: right;
                    padding-top: 7px;
                    &.bold {
                        text-align: left;
                        font-weight: bold;
                    }
                }
                .inputField {
                    float: left;
                    margin: 0 0 0 20px;
                    width: calc(100% - 220px);
                    min-height: 40px;
                    input,
                    select {
                        height: 30px;
                        max-width: 300px;
                        padding: 0 10px;
                    }
                    span {
                        position: absolute;
                        margin: 9px 9px 0 9px;
                    }
                    .infoPara {
                        width: 50%;
                        font-size: 12px;
                        color: #190f27;
                        margin-top: 2px;
                    }
                    .padTop6 {
                        padding-top: 6px;
                    }
                    .marginTop6{
                        margin-top: 6px;
                    }
                    .marTop12{
                        margin-top: 12px;
                    }
                    &.marTop12{
                        margin-top: 12px;
                    }
                }
            }
            .multiselectOptions {
                height: 47px;
                margin-bottom: 35px;
                position: relative;
                display: inline-block;
                width: 30%;
                margin-right: 3%;
            }
            .billingEdit,
            .generalEdit,
            .spendEdit,
            .claimEdit,
            .expiryEdit,
            .closureEdit, #fundingAccountName {
                display: none;
            }
            &.readOnly{
                input{
                    background: transparent;
                    border-color: transparent;
                    pointer-events: none;
                    cursor: unset;
                    box-shadow: none;
                    max-width: none;
                    width: 100vw;
                }
            }
            sup{
                color: red;
            }
        }
        .uniformSection {
            overflow: auto;
        }
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-container,
.instructions {
    width: 200px;
    margin: 20px auto 0;
    font-size: 14px;
    font-family: sans-serif;
    overflow: auto;
}

.instructions {
    width: 100%;
    text-align: center;
}

.dropdown-button {
    float: left;
    width: 100%;
    background: whitesmoke;
    padding: 10px 12px;
    cursor: pointer;
    border: 1px solid lightgray;
    box-sizing: border-box;
    .dropdown-label,
    .dropdown-quantity {
        float: left;
    }
    .dropdown-quantity {
        margin-left: 4px;
    }
    .fa-filter {
        float: right;
    }
}

.dropdown-list {
    float: left;
    width: 100%;
    border: 1px solid lightgray;
    border-top: none;
    box-sizing: border-box;
    padding: 10px 12px;
    input[type="search"] {
        padding: 5px 0;
    }
    ul {
        margin: 10px 0;
        max-height: 200px;
        overflow-y: auto;
        input[type="checkbox"] {
            position: relative;
            top: 2px;
        }
    }
}

.textCenter {
    text-align: center;
}

.hideMe {
    display: none;
}

.showMe {
    display: block;
}

.errorField {
    border: 1px solid red !important;
    display: block;
}

.selectRows {
    margin-bottom: 10px;
    img {
        width: 100%;
        max-width: 25px;
        margin-top: 2px;
    }
}

.setupProgramBtn {
    width: 100px;
    height: 44px;
    text-align: center;
    background-color: #ffbc00;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    color: #FFFFFF !important;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    padding-top: 13px;
    padding-left: 0;
    &:hover {
        background-color: #ffbc00 !important;
    }
}

.multipleOpsSelect{
    position: absolute; width: 300px;
    button{
        height: 36px !important;
    }
    span{
        position: relative !important;
        margin: 0 !important;
    }
    input[type=checkbox]{
        height: 14px !important;
    }
    input[type=text]{
        max-width: 100% !important;
    }
}

.centerText{
    float: left;
    width: 3%;
}