@import '../../../node_modules/bootstrap-daterangepicker/daterangepicker.scss';
.bulk-orders-link {
    margin-top: 20px;
    display: inline-block;
}

.bulk-transfer-work-list {
    padding-left: 15px;
    list-style-type: decimal;
    li {
        line-height: 30px;
        padding-left: 5px;
    }
}

.program-code-list-wrpr {
    padding: 0 10px;
    h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .program-code-next-btn {
        margin-bottom: 20px;
        button {
            width: 150px;
        }
        button.btn-disabled {
            background: #ddd;
            color: #190f27;
        }
    }
}

.bulk-transfer-step-list {
    padding: 0;
    list-style: none;
    margin-bottom: 15px;
    //text-align: center;
    li {
        display: inline-block;
        width: 206px;
        position: relative;
        .bulk-transfer-step-no {
            width: 24px;
            height: 24px;
            border-radius: 30px;
            background-color: #e9e6ed;
            border: solid 2px #b4b0bb;
            text-align: center;
            line-height: 22px;
            // margin: 0 auto;
            margin: 0px 0px 0px 18px;
            font-size:11px;
        }
        .bulk-transfer-step-txt {
            text-transform: uppercase;
            opacity: 0.5;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #190f27;
            padding-top: 16px;
            // text-align:center;
            margin-left: 18px;
        }
        .bulk-transfer-step-two{
            margin-left: -28px;
        } 
        .bulk-transfer-step-three{
            margin-left: -37px;
        }        
        .bulk-transfer-step-line {
            border-bottom: solid 1px #b4b0bb;
            position: absolute;
            width: 186px;
            left: -168px;
            top: 12px;
        }
    }
    li.active {
        .bulk-transfer-step-no {
            background-color: #00b898;
            border-color: #00b898;
            color: #ffffff;
            cursor: pointer;
        }
        .bulk-transfer-step-txt {
            color: #00b898;
            opacity: 1;
        }
        .bulk-transfer-step-line {
            border-bottom-color: #00b898;
        }
    }
    li.done {
        .bulk-transfer-step-no {
            background: #e9e6ed url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/greenTickWhite.svg") no-repeat center;
            border-color: #00b898;
            text-indent: -9999px;
        }
    }
}

.program-code-list {
    list-style-type: none;
    padding: 0;
    li {
        float: left;
        width: 50%;
        .program-code-img-cntr {
            border: solid 1px #dfdde6;
            border-radius: 4px;
            padding: 14px 0 14px 20px;
            float: left;
            width: 100%;
            margin-bottom: 20px;
            transition: all 500ms;
            &:hover {
                cursor: pointer;
                box-shadow: 0 3px 6px 0 rgba(20, 12, 33, 0.18);
            }
        }
        .program-code-img-box {
            border: solid 1px #dfdde6;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            padding: 10px 0 10px 0;
            float: left;
            width: 156px;
            margin-bottom: 20px;
            img {
                width: 100px;
                height: auto;
            }
        }
        .active {
            border-color: #00b898;
            position: relative;
            .active-icon {
                background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/greenTickWhite.svg);
                display: inline-block;
                width: 24px;
                height: 24px;
                background-size: 24px;
                position: absolute;
                right: -9px;
                top: -13px;
                background-color: #fff;
            }
        }
        .program-code-img-wrpr {
            float: left;
        }
        .program-code-dtls-wrpr {
            float: left;
            padding-left: 20px;
            color: #190f27;
            .program-code-hdg {
                font-weight: 600;
                text-transform: uppercase;
            }
            .program-code-dtls {
                font-size: 12px;
                line-height: 20px;
                width: 220px;
            }
            .program-code-label {
                color: #8c8793;
            }
        }
        &:nth-of-type(odd) {
            padding-right: 10px;
        }
        &:nth-of-type(even) {
            padding-left: 10px;
        }
    }
}

.bulk-upload-hdg-wrpr {
    margin-bottom: 15px;
    img {
        float: left;
        margin-right: 10px;
    }
    h3 {
        font-size: 20px;
        line-height: 30px;
    }
}

.bulk-upload-cnt-wrpr.dropzone {
    .dz-message {
        // margin: 0 0 20px 0;
        margin: 0px;
    }
}

.company-codes-modal-body {
    padding: 0 40px 40px 40px;
}

.bulk-order-errors {
    padding: 30px 30px 40px 30px;
    background: $color-white;
    h3 {
        margin: 0;
        font-size: 20px;
        color: #190f27;
    }
    .file-details-wrpr {
        padding: 30px 0 20px 0;
        font-size: 13px;
        color: #190f27;
        .file-details-cntr {
            float: left;
            width: 50%;
        }
        img {
            float: left;
            margin-right: 10px;
        }
        .file-name {
            line-height: 16px;
            padding-top: 8px;
        }
        .file-status {
            opacity: 0.7;
            padding-top: 5px;
        }
        .bulk-report-wrpr {
            float: right;
            background: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/downloadArrow.svg") no-repeat left 2px;
            padding-left: 20px;
            font-size: 12px;
            margin: 20px 0 0 0;
            a {
                color: #190f27;
            }
        }
    }
    .error-row-hdr {
        border-radius: 2px 2px 0 0;
        background-color: #eb5946;
        padding: 10px 0 10px 20px;
        line-height: 10px;
        .bulk-invalid-icon {
            background: url("../images/bulk-invalid-icon.png") no-repeat center;
            width: 24px;
            height: 24px;
            display: inline-block;
            background-size: 24px;
            margin-right: 10px;
        }
        .bulk-invalid-dtls {
            vertical-align: 6px;
            display: inline-block;
            font-size: 16px;
            color: #ffffff;
            .no-of-invalid-entries {
                font-weight: 600;
            }
        }
    }
    .error-page-btn-wrpr {
        margin-top: 10px;
        .x-medium-button {
            display: inline-block;
        }
        span {
            font-size: 12px;
            letter-spacing: 1px;
            color: #190f27;
        }
        .upload-again {
            margin-right: 10px;
            button {
                border: solid 1px #c7c4d2;
                background: transparent;
                color: #190f27;
                opacity: 0.7;
            }
        }
        .continue-valid {
            margin-left: 10px;
            position: relative;
            button {
                width: 285px;
            }
            &:hover {
                .bulk-order-tp {
                    display: block;
                }
            }
        }
    }
}

.create-bulk-transfer-order {
    button {
        width: 240px;
    }
}

.bulk-order-dtls-wrpr {
    margin: 15px 0 20px 0;
    .bulk-order-dtls-hdg {
        line-height: 34px;
        background-color: #9c9eb8;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        border-radius: 2px 2px 0 0;
    }
    ul {
        border: solid 1px #dfdde6;
        padding: 0;
        list-style: none;
        border-radius: 0 0 2px 2px;
        li {
            line-height: 40px;
            border-bottom: 1px solid #dfdde6;
            &:last-child {
                border-bottom: none;
            }
            &:nth-child(even) {
                background-color: #f6f6f7;
            }
            .bulk-order-lbl {
                font-size: 14px;
                text-align: right;
                color: #190f27;
                width: 50%;
                float: left;
                padding-right: 20px;
                border-right: 1px solid #dfdde6;
            }
            .bulk-order-val {
                text-align: left;
                width: 50%;
                float: left;
                padding-left: 20px;
            }
        }
    }
}

.error-table {
    border-top: 0;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
    thead {
        tr th {
            background-color: #eceef0;
            color: #190f27;
            line-height: 22px;
            text-transform: capitalize;
            &:first-child {
                border-radius: 0;
            }
            &:last-child {
                border-radius: 0;
            }
        }
    }
    tbody {
        >tr:nth-child(even) {
            background-color: #fff;
        }
    }
    tr {
        td.error-column {
            color: #e74c3c;
        }
    }
}

.bulk-order-status {
    padding-top: 25px;
    color: rgba(255, 255, 255, 0.9);
}

.bulk-orders tr td {
    .text-completed {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .text-failed {
        text-decoration: none;
        cursor: auto;
    }
    .text-bulk-processing {
        cursor: pointer;
        color: #190f27;
        opacity: 0.5;
    }
}

.bulk-order-tp {
    display: none;
    background: #190f27;
    border: 1px solid #190f27;
    padding: 10px;
    border-radius: 2px;
    color: #fff;
    width: 200px;
    text-align: center;
    top: -56px;
    left: 40px;
    font-size: 12px;
    position: absolute;
    &:after,
    &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after {
        border-color: rgba(25, 15, 39, 0);
        border-top-color: #190f27;
        border-width: 10px;
        margin-left: -10px;
    }
    &:before {
        border-color: rgba(25, 15, 39, 0);
        border-top-color: #190f27;
        border-width: 11px;
        margin-left: -11px;
    }
}

.bulk-close-company-drpdown {
    width: 220px;
}

.bulk-close-btn button {
    width: 250px
}

.control-group {
    display: block;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
    .control {
        padding: 0 0 0 22px;
        font-weight: 600;
        .control__indicator {
            top: 3px;
            left: 0px;
        }
        .control__indicator {
            height: 16px;
            width: 16px;
        }
        .control__indicator:after {
            left: 6px;
            top: 3px;
            width: 4px;
            height: 9px;
            border: solid #ffffff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
        .control-show {
            display: none;
        }
    }
    .card-each {
        padding-top: 0px;
        font-size: 14px;
        font-weight: normal;
    }
    .terms {
        padding-top: 2px;
        .highlighted-txt {
            color: #eb5946;
        }
    }
}

.bulk-close-note-list {
    list-style-type: decimal;
    padding: 0 40px 0 25px;
    margin-top: 5px;
    li {
        padding-left: 10px;
    }
}

.company_code {
    position: fixed;
    left: 0;
    right: auto;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    .company_code-success {
        width: 498px;
        height: 226px;
        padding: 40px 20px;
        background-color: #fff;
        border-radius: 2px;
        margin: 16% auto;
        text-align: center;
        p {
            font-size: 18px;
            line-height: 3.4;
            text-align: center;
            color: #190f27;
            font-family: "Proxima Nova Rg", sans-serif;
        }
        button {
            background-color: #ffbc00;
            color: #fff;
            height: 44px;
            border: 0;
            width: 100%;
            font-size: 12px;
        }
    }
}

.corp-form {
    max-width: 708px;
    padding: 30px;
    font-family: "Proxima Nova Rg", sans-serif;
    h3 {
        font-size: 20px;
        margin: 0;
        line-height: 15px;
    }
    p {
        font-size: 14px;
        line-height: 21px;
        color: #190f27;
        margin: 20px 0;
    }
    .custom-table {
        tr {
            td {
                border: 1px solid #e0dde7;
                font-size: 12px;
                padding: 5px 20px!important;
                width: 50%;
                input[type="text"] {
                    height: 30px;
                    width: 200px;
                    font-size: 13px;
                    padding: 0 10px;
                }
            }
        }
    }
    button {
        height: 45px;
        border-radius: 2px;
        box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
        border: 0;
        font-size: 12px;
    }
    button.btn {
        background-color: #ffbc00;
        color: #fff;
        font-weight: bold;
        padding: 0 35px;
        letter-spacing: 1px;
    }
    button.btn-disabled {
        background: #ddd;
        color: #190f27;
        cursor: no-drop;
    }
}

.edit_code {
    color: #4a90e2;
    text-decoration: underline;
    font-weight: bold;
}

.opcity-reduce {
    padding: 10px 0 0;
}

#saveCompanyCodes.btn-disabled {
    pointer-events: none;
    opacity: 0.4;
}

.noProgrammsSet {
    height: 500px;
    text-align: center;
    padding-top: 125px;
    h3 {
        padding-top: 5px;
    }
    p {
        max-width: 515px;
        margin: 0 auto;
    }
}

#chooseShortcodeCntr {
    margin-left: 0;
    .whiteBg{
        background:#fff; 
    }
} 

.program-funds {
    max-height: 240px !important;
    .custom-table tr td {
        padding: 10px 20px !important;
        border: 1px solid #dfdde6;
    }
}

.edit_company-code {
    text-align: center;
    padding-top: 15px;
}

.company-codes-modal-body {
    padding: 20px 40px 30px;
}

.custom-box-nopg {
    width: 99%;
}

.edit_company-codeP p {
    padding-bottom: 10px;
}

.add_company-code:hover {
    cursor: inherit;
}

.homeAddCompanyCo {
    display: none;
}

#createBulkOrderModalOops {
    .modal-heading-pdtb {
        padding-bottom: 0px;
        ol {
            text-align: left;
            font-weight: bold;
            text-transform: capitalize;
            margin-top: 15px;
            li {
                padding-left: 5px;
                line-height: 2;
            }
        }
    }
    .modal-footer {
        padding-top: 15px;
    }
}

.custom-modalbox .heading-sub-text {
    opacity: 0.7;
}

.error-table {
    tr td {
        white-space: nowrap;
    }
    thead tr th {
        white-space: nowrap;
    }
}

.processStage {
    width: 708px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.x-medium-button button {
    width: initial;
    padding: 6px 15px;
}

#fileErrorWrpr {
    margin-left: 0;
}

.bulk_close_steps {
    margin-bottom: 20px;
    max-width: 723px;
}

#uploadFileCntr {
    margin-left: 0;
    .custom-box {
        padding: 0 30px 15px;
        color: #190f27;
        .bulk_close-heading {
            margin-top: 30px;
        }
        .page-sub-heading-txt {
            margin: 5px 0;
            p {
                opacity: initial;
            }
        }
        #companies.form-control {
            height: 45px;
            padding: 6px 25px 6px 20px;
            width: 250px;
            color: #190f27;
            font-size: 13px;
            border-radius: 2px;
            border: solid 1px #797783;
        }
        .bulk-close-note-list li {
            padding-left: 10px;
            line-height: 1.7;
            margin-bottom: 12px;
            opacity: 0.7;
        }
        .control-group .terms {
            padding-top: 3px;
            font-size: 13px;
            padding-left: 25px;
        }
    }
}

.inner-container .pd-bottom-ten {
    padding-top: 15px;
    a {
        text-decoration: underline;
        font-weight: bold;
    }
}

.removePadding {
    left: 0 !important;
    width: 100%;
}

.clearRightPadding {
    padding-right: 0;
    width: 20%;
    .custom-searchbox {
        width: initial;
        margin-left: 0 !important;
        margin-right: 10px;
    }
}

.clearLeftMargin {
    margin-left: 0;
}

.glyphicon-calendar:before {
    content: url('https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-calendar-60.png');
}

.glyphicon-chevron-right:before {
    //content: url(../../images/arrow_right.svg);
}

.glyphicon-chevron-left:before {
    //content: url(../../images/arrow_left.svg);
}

.daterangepicker {
    margin-top: 11px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #797783;
    padding: 0;
    z-index: 9999 !important;
    td {
        border-radius: 0;
        &.off.end-date {
            border-color: transparent !important;
        }
        &.start-date,
        &.end-date {
            background-color: #633ea5 !important;
            border-radius: 0;
            border: 1px solid #fff;
        }
        &.in-range {
            background-color: #e9e6ee;
            border-radius: 0;
            border: 1px solid #fff;
        }
        &.disabled {
            text-decoration: inherit;
        }
    }
    &::before {
        border-bottom: 7px solid #141315;
    }
    .ranges {
        li {
            color: #190f27;
            border-radius: 0px;
            border-color: #fff;
            background-color: #fff;
            &.active {
                background-color: #633ea5;
                border: 1px solid #633ea5;
                color: #fff;
            }
        }
    }
    .range_inputs {
        margin-top: 20px;
        .btn {
            border-radius: 0px;
            font-weight: bold;
            &.btn-success {
                background-color: #633ea5;
                border-color: #633ea5;
            }
        }
    }
    .daterangepicker_input {
        display: none;
    }
}

.file-upload-container {
    .file-upload-height {
        border: 2px dashed #c7c4d2;
    }
}

.filter-section {
    .col-sm-2,
    .col-sm-3 {
        padding: 0 10px;
    }
}

.bulk_close {
    .clearRightPad {
        padding-right: 10px;
        padding-left: 5px;
    }
    .custom-searchbox {
        width: initial;
    }
}

.dropdown-log .nav{
    left: 10px;
}


#resetFilters {
    opacity: 1;
    text-decoration: underline;
    color: #4a90e2;
    font-size: 12px;
    line-height: 3;
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    text-align: center;
    svg {
        position: absolute;
        top: 12px;
    }
}

.transfer_status_completed:first-letter {
    text-transform: uppercase !important;
}

.disableReset {
    pointer-events: none;
}

.resetBtn {
    padding-left: 17px;
}

.daterangepicker.ltr {
    .ranges {}
    .calendar {
        margin: 0px;
        &.right {
            border-right: 1px solid #e9e6ed;
            padding: 5px 12px 5px !important;
        }
        &.left {
            padding: 5px 12px 5px !important;
        }
    }
}

.errorSeparator {
    font-size: 30px;
    font-weight: bold;
    padding: 0 10px;
    color: #111;
    opacity: 0.25;
    line-height: 0;
    vertical-align: middle;
}

td.error-column span:last-child {
    display: none;
}

#errorBulkTransfers {
    max-width: 100%;
    overflow: scroll;
    .row.paging-container {
        margin: 0;
    }
}

.download-claim-report,
.download-revoke-report {
    .tooltip-view {
        width: 220px !important;
        margin-left: -113px !important;
    }
}

#createBulkOrderModalOops {
    .custom-modal-body {
        padding-bottom: 25px;
    }
}

#verifyOrderCntr {
    margin-left: 0;
}

.select-custom select,
#searchBox {
    opacity: 1;
    font-weight: normal;
}

#searchBoxIssue {
    opacity: 1;
    font-weight: normal;
}

#searchBoxIssue input[type=text]::placeholder {
    color: #6d6d6d;
}

.custom-searchbox input[type=text]::placeholder,
.date-picker input[type=text]::placeholder {
    color: #6d6d6d;
}

#transferOrderTable {
    .custom-table{
        tr{
            th{
                white-space: nowrap;
            }
        }
    }
    .cautionaryImg {
        width: 12px;
        height: 14px;
        zoom: 1.2;
        vertical-align: top;
    }
}

.download-icon-disabled {
    opacity: .5;
    padding-right: 5px;
    width: 31px;
    padding: 6px;
    margin: 0;
    
}

.tooltip-view-disabled {
   
    cursor: not-allowed !important;
}