.corp-details-top-hdr{
    text-align: center;
    @include gradient($purple-top-color,$purple-bottom-color, vertical);
    padding: 40px 0 30px 0;
    .hr-image{
        background-image: url(/images/hr-illustration.png);
        width: 252px;
        height: 168px;
        margin: 0 auto 10px;
        background-size: 252px 168px;
    }
    .hr-hdg{
        font-size: 32px;
        line-height: 52px;
        color: $color-white;
    }
}
.corp-details-cnt{
    h2{
        margin: 30px 0;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
    }
    .flexible-button{
        margin: 30px auto;
        width: 418px;     
    }
}
.details-section{
    width: 600px;
    background: $color-white;
    margin: 0 auto 30px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    .details-section-cntr{
        padding: 40px 90px;
    }
    h3{
        font-size: 18px;
        color: $color-medium-block;
        margin: 0;
    }
    .details-desc{
        font-size: 14px;
        line-height: 20px;
        padding: 15px 0 30px 0;
        color: $color-medium-block;
        opacity: 0.7;
    }
    .form-list{
        list-style: none;
        padding: 0;
        text-align: left;
        margin: 0;
        li{
            padding-bottom: 20px;
            position: relative;
            label{
                font-size: 13px;
                color: $color-medium-block;
                padding-bottom: 12px;
                margin: 0;
                line-height: 12px;
                font-weight: normal;
            }
            .tool-tip-wrpr{
                display: inline-block;
                &:hover{
                    .tool-tip-data{
                        display: block;
                    }
                }
            }
            .tool-tip-cntr{
                color: $color-medium-block;
                border: 1px solid $color-medium-block;
                width: 14px;
                height: 14px;
                border-radius: 14px;
                display: inline-block;
                text-align: center;
                font-size: 10px;
                opacity: 0.35;
                line-height: 12px;
                font-weight: bold;
                margin-left: 2px;
            }
            .tool-tip-data {
                position: absolute;
                background: #190f27;
                border: 1px solid #190f27;
                color: #fff;
                padding: 10px;
                line-height: 15px;
                width: 210px;
                font-size: 12px;
                z-index: 10;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
                border-radius: 2px;
                top: -13px;
                left: 130px;
                display: none;
                &:hover{
                    display: block;
                }
                &:after,&:before{
                    right: 100%;
                    top: 24%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
                &:after{
                    border-color: rgba(25, 15, 39, 0);
                    border-right-color: #190f27;
                    border-width: 5px;
                    margin-top: -5px;
                }
                &:before{
                    border-color: rgba(25, 15, 39, 0);
                    border-right-color: #190f27;
                    border-width: 6px;
                    margin-top: -6px;
                }
            }
            .company-tool-tip{
                &:after,&:before{
                    top: 28%;
                }
            }
            .gst-tool-tip{
                top: 20px;
                right: -225px;
                left: initial;
                &:after,&:before{
                    top: 47%;
                }
            }
            .gst-input-box{
                &:hover + .gst-tool-tip{
                    display: block;
                }
            }
            input{
                width: 100%;
                height: 45px;
                line-height: 45px;
                border-radius: 2px;
                border: 1px solid $color-lighten-darken-gray;
                padding-left: 15px;
            }
            input.error-input{
                border: 1px solid red;
            }
            input.website-input{
                padding-left: 81px;
            }
            input.pincode-input{
                padding-left: 141px;
            }
            .input-static-txt{
                position: absolute;
                display: inline-block;
                background-color: $color-dark-gray;
                width: 66px;
                line-height: 43px;
                top: 30px;
                left: 1px;
                text-align: center;
                border-right: 1px solid $color-lighten-darken-gray;
            }
            span.pincode-static{
                width: 126px;
                background-color: $color-white;
            }
            &:last-child{
                padding-bottom: 0;
            }
            .error-msg{
                font-size: 14px;
                color: red;
                display: none;
                position: absolute;
            }
            select{
                height: 44px;
            }
        }
        li.input-half-wrpr{
            width: 50%;
            display: inline-block;
        }
        li.first-half-wrpr{
            float: right;
            padding-left: 20px;
        }
        
    }
}
.billing-addrs-hdr-wrpr{
    text-transform: uppercase;
    text-align: left;
    border-top: 1px solid #c7c4d2;
    padding: 30px 0 20px 0;
    margin-top: 30px;
    h3{
        font-size: 14px;
        letter-spacing: 1px;
    }
}
.company-dtls{
    .company-details-note{
        font-size: 14px;
        line-height: 20px;
        color: $color-medium-block;
        opacity: 0.7;
        padding: 20px 0 30px 0;
        border-top: solid 1px #e9e6ed;
    }
}
.complete-setup{
    &.loading::after {
            background-image: url(../images/button_loading.gif);
            content: ' ';
            height: 16px;
            width: 16px;
            display: inline-flex;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 11px;
            position: relative;
            top: 5px;
        }
}