.doc-store-list {
    margin: 0 0 0 0;
    padding-top: 10px;
    border-top: 1px solid #eae9ed;
    .doc-store-item-wrpr {
        padding: 0;
        height: 255px;
        &:nth-child(4n+1) {
            .doc-store-item {
                margin-right: 20px;
            }
        }
        .doc-store-pic {
            height: 124px;
            background-size: cover!important;
            background-position: 100%!important;
        }
        &:nth-child(4n+2) {
            .doc-store-item {
                margin: 0 10px 0 10px;
            }
        }
        &:nth-child(4n+3) {
            .doc-store-item {
                margin: 0 5px 0 20px;
            }
        }
        &:nth-child(4n) {
            .doc-store-item {
                margin-left: 25px;
            }
        }
        .doc-store-item {
            a{
                text-decoration: none;
            }
            background: $color-white;
            padding: 2px;
            border-radius: 4px;
            margin-bottom: 20px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
            cursor: pointer;
            min-height: 223px;
            transition: all 0.5s ease-in-out;
            .doc-store-card {
                position: relative;
                margin: -2px;
                .doc-store-pic-amt {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    height: 17px;
                    width: 56px;
                    background-color: $color-black;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 17px;
                    .doc-store-pic-amt-text {
                        color: $color-white;
                        font-size: 10px;
                        letter-spacing: 1px;
                    }
                }
                .doc-store-pic-more {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: $color-black;
                    height: 59px;
                    width: 109px;
                    opacity: 0.6;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 59px;
                    .doc-store-pic-more-text {
                        font-size: 18px;
                        font-weight: bold;
                        color: $color-white;
                    }
                }
            }
            &:hover {
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
                .doc-store-item-dtls {
                    background: $color-white;
                }
            }
            .doc-store-item-dtls {
                background: $color-white;
                border-radius: 4px 4px 0 0;
                padding: 0 0 0 18px;
                margin: 0;
                .doc-name {
                    margin: 0;
                    padding: 18px 0 5px 0;
                    font-size: 18px;
                    line-height: 12px;
                    color: #190f27;
                    font-weight: 600;
                    .doc-store-profile-pic {
                        height: 25px;
                        width: 25px;
                    }
                    .doc-store-profile-name {
                        font-size: 12px;
                        margin-left: 10px;
                    }
                }
                .doc-type {
                    font-size: 12px;
                    color: rgba(25, 15, 39, 0.7);
                    line-height: 12px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                    padding-bottom: 10px;
                    .doc-store-decline {
                        color: #00b898;
                    }
                    .doc-store-paid {
                        color: $color-orange;
                    }
                    .doc-store-unpaid {
                        color: $color-red;
                    }
                }
                .doc-prod-type {
                    color: rgba($color: #190f27, $alpha: 0.7);
                    padding-bottom: 10px;
                    font-size: 12px;
                    line-height: 15px;
                }
                .doc-amt {
                    font-size: 20px;
                    line-height: 18px;
                    color: #190f27;
                    padding-bottom: 18px;
                    height: 36px;
                }
            }
        }
    }
}

.doc-img-wrpr {
    margin: 0;
    height: 120px;
    .doc-img-cntr {
        padding: 0;
        img {
            height: 120px;
            width: 100%;
            border-radius: 0 0 4px 4px;
        }
    }
}

.doc-multi-img-wrpr {
    height: 60px;
    position: relative;
    .doc-multi-img-cntr img {
        height: 60px;
    }
}

.load-more-btn-wrpr {
    text-align: center;
    padding-top: 20px;
}

.doc-user-cntr {
    padding-top: 15px;
}

.doc-amt-dtls {
    padding: 0;
    text-align: right;
    .doc-div {
        text-align: right;
        color: $color-white;
        margin-top: 3px;
        padding-right: 0px;
        img {
            height: 13px;
        }
        .doc-div-text {
            // opacity: 0.7;
            margin-left: 5px;
        }
    }
    .doc-div-value {
        text-align: left;
        color: $color-white;
        margin-top: 10px;
        top: -7px;
        .download-margin {
            margin-left: 5px;
        }
    }
    .doc-amt-txt {
        font-size: 12px;
        font-weight: 600;
        line-height: 10px;
        padding-bottom: 10px;
        color: rgba($color: #fff, $alpha: 0.7);
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .doc-amt-val {
        font-size: 36px;
        font-weight: 600;
        line-height: 28px;
        padding-bottom: 30px;
        color: #fff;
    }
    .doc-view-stmt-btn {
        background: #F0B100;
        color: #fff;
        border: 0;
        border-radius: 2px;
        font-size: 12px;
        line-height: 10px;
        letter-spacing: 1px;
        font-weight: 600;
        padding: 18px;
    }
}

.doc-details {
    padding: 10px 30px 30px 30px;
    background: #fff;
    .pad-top-doc{
        padding-top: 30px;
    }
    .no-item-header{
        font-size: 12px;
        color: #FFF;
        font-weight: 600;
        background-color: #9C9EB8;
        border-bottom: 0!important;
        border-top: 0!important;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 8px 20px!important;
    }
    .no-item-border{
        border: 1px solid #9c9eb8;
    }
    .right-align{
        text-align: right;
    }
    h3 {
        margin: 0;
        font-size: 20px;
        line-height: 16px;
        padding-bottom: 20px;
    }
    .doc-activity-dtls {
        // padding-bottom: 50px;
        .title,
        .details {
            font-size: 14px;
            display: inline-block;
            color: $color-medium-block;
            width: 80%;
        }
        .title {
            opacity: 0.5;
            width: 15%;
            float: left;
        }
    }
}

.claim-txt {
    h3 {
        margin-top: 30px;
        font-size: 20px;
        line-height: 16px;
        padding-bottom: 20px;
    }
}

.no-documents {
    text-align: center;
    padding-top: 60px;
    font-weight: 600;
    font-size: 20px;
}

.more-images {
    position: absolute;
    right: 0;
    color: #fff;
    width: 50%;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}

.search-txt-loader {
    text-align: center;
    img {
        height: 50px;
        padding-bottom: 10px;
    }
}
.filter-section{
    .desc { color:#6b6b6b;}
    .desc a {color:#0092dd;}
    
    .dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
    .dropdown dd { position:relative; }
    .dropdown a, .dropdown a:visited { color:#816c5b; text-decoration:none; outline:none;}
    .dropdown a:hover { color:#5d4617;}
    .dropdown dt a:hover { color:#5d4617; border: 1px solid #d0c9af;}
    .dropdown dt a {background:#fff url(https://card-program-files.s3.amazonaws.com/hrDashboard/down-arrow-black.svg) no-repeat scroll; display:block; padding-right:20px;
                    border:1px solid #d4ca9a; min-width:215px;font-size: 11px;
                    font-weight: 500;min-height: 34px;
                    background-repeat: no-repeat;
                    background-position: right 10px center;
                    text-align: left;
                    padding-top: 3px;
                    color: #6d6d6d;
                    border: 1px solid #C7C4D2;
                    font-size: 12px;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    padding-left: 6px;}
    .dropdown dt a span {cursor:pointer; display:block; padding:5px;}
    .dropdown dd ul { background:#fff none repeat scroll 0 0; border:1px solid #d4ca9a; color:#C5C0B0; display:none;
                      left:0px; padding:2px 0px; position:absolute; top:2px; width:auto; min-width:215px; list-style:none;}
    .dropdown span.value { display:none;}
    .dropdown dd ul li a { padding:5px; display:block;
        font-size: 11px;
        font-weight: 500;
        text-align: left;
        padding-left: 10px;}
    .dropdown dd ul li a:hover { background-color:#afb1f0;}
    
    .dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
    .flagvisibility { display:none;}
    .program-ul{max-height: 120px;
        overflow: scroll;
        z-index: 1;}
        
        .gradient {
            animation-duration: 1.8s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: placeHolderShimmer;
            animation-timing-function: linear;
            background: #f6f7f8;
            background: linear-gradient(to right, #e1e1e1 8%, #f4f4f4 38%, #e1e1e1 54%);
            background-size: 1000px 640px;
            
            position: relative;
            
        }
        
        @keyframes placeHolderShimmer{
            0%{
                background-position: -468px 0
            }
            100%{
                background-position: 468px 0
            }
        }
        #downloadDocuments-modal, #downloadCompile, #downloadCompileError{
            .download-text{ font-family: Proxima Nova Rg;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.83;
                letter-spacing: normal;
                text-align: center;
                color: #190f27;
            }
        } 
       
        
        .download-link{
            font-family: Proxima Nova Rg;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.75;
            letter-spacing: normal;
            color: #190f27;
            padding-top: 12px;
            a{
                font-size: 12px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: .75;
                letter-spacing: normal;
                color: #190f27 !important;
                text-decoration: underline !important;
                cursor: pointer;
             }
        }
        .cross-pos{
            margin-top: 5px !important;
        }
        .custom-modal-body-doc{
            padding-bottom: 20px;
            padding-right: 10px;
            margin-left: -16px;
        }
        .doc-modal-container{
            margin-left: -15px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    .doc-multiselect.form-group {
        margin-bottom: 0;
        height: 34px;
        .ms-options-wrap, .ms-active {
            button {
              height: 34px;
              background: #fff url(https://card-program-files.s3.amazonaws.com/hrDashboard/down-arrow-black.svg)
               no-repeat right 8px center !important;
              padding-right: 25px;
              margin-top: 0;
              span {
                  font-weight: normal;
                  font-size: 12px;
              }
            }
            .ms-options {
                width: auto;
                min-height: 0 !important;
                min-width: 172px;
                .ms-search input {
                    height: auto;
                }
                ul {
                    li {
                        margin: 5px 0;
                        label {
                            font-size: 12px;
                            line-height: 1;
                            font-weight: normal;
                            white-space: nowrap;
                            input[type="checkbox"] {
                                top: 4px;
                            }
                        }
                    }
                }
            }
            button:after {
              content: none;
            }
          }
          .company-dropdown {
            button {
                width: 100%;
                height: 34px;
                background: #fff url(https://card-program-files.s3.amazonaws.com/hrDashboard/down-arrow-black.svg)
                no-repeat right 8px center;
                border: 1px solid #C7C4D2;
                color: #6d6d6d;
                border-radius: 0;
                padding: 5px 25px 5px 14px !important;
                font-size: 12px;
                text-align: left;
            }
            .dropdown-menu {
                li {
                    a {
                        line-height: 1;
                        padding: 10px 12px;
                    }
                }
            }
          }
    }
    &.doc-filter-row {
        display: flex;
        justify-content: space-between;
        margin: 0 -5px;
        .filter-elements {
            width: 185px;
            margin: 0 5px;
            text-align: right;
            &.search-filter {
                min-width : 215px;
            }
            &.download-wrap {
                width: 90px;
                padding-top: 0;
            }
            &.bulk_order-datepicker {
                .form-control {
                    width: 192px;
                }
            }
        }
    }
}
.right-margin{
    margin-right: 44px;
}