.employee-details-cards-section {
    &.reimbursement {
        margin: 0px -30px;
    }
    h2.sub-heading-pdb {
        padding: 0;
        margin: 0;
        font-size: 20px;
        line-height: 16px;
        padding-top: 30px;
        padding-bottom: 15px;
        margin-top: 20px;
        border-top: 1px solid #f4f4f4;
    }
    .empReportAmounts {
        margin-bottom: 30px;
        margin-top: -20px;
    }
    .media-body {
        padding-top: 0;
    }
    .nav-tabs {
        @extend .filter-cntr;
        margin: 35px 0 0 0;
        li {
            @extend .filter-wrpr;
            width: 50%;
            display: inline-block;
            height: 60px;
            border-right: none;
            border-left: none;
            a {
                height: 60px;
                display: inline-block;
                width: 100%;
                line-height: 40px;
                border: none;
                text-decoration: none;
                &:hover,
                &:visited,
                &:active,
                &:focus {
                    border: none;
                }
            }
        }
    }
    .tab-content {
        padding: 30px 30px 0 30px;
        .title {
            padding-top: 5px;
            color: #8c8793;
            width: 8%;
            display: inline-block;
        }
        h4 {
            @extend .media-heading;
            margin-bottom: 10px;
            font-weight: 500 !important;
        }
        .dependents {
            margin-bottom: 30px;
        }
        .straight-line {
            margin-top: 30px;
        }
    }
}

.employees-wrpr {
    h3.sub-heading-pdb {
        padding-bottom: 0;
        margin: 5px 0 0 0;
        font-size: 20px;
    }
}

.claim-activity-hdg {
    margin: 20px 0 20px 0;
}

.user-profile-list .user-list-column .employee-status {
    .list-five {
        background-position: -6px 2px;
    }
}

.verified,
.not-verified {
    display: inline-block;
    background-size: 50%;
    background-repeat: no-repeat;
}

.verified {
    background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/checkGreen.png");
    width: 24px;
    height: 18px;
    background-position: 4px 8px;
}

.not-verified {
    background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/crossGreyDark.svg");
    width: 20px;
    height: 20px;
    background-position: 4px 10px;
}

.employee-report-table {
    .custom-table tr {
        td,
        th {
            cursor: default;
        }
    }
}

.hide-reimbursement {
    margin-top: -25px;
    .glyphicon {
        padding-left: 5px;
    }
}