.funding-acc-dtls {
    padding-bottom: 10px;
    span {
        display: inline-block;
    }
    .ac-name-icon {
        background: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/ac-name-icon.png");
    }
    .ac-no-icon {
        background: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/ac-no-icon.png");
    }
    .ifsc-code-icon {
        background: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/ifsc-code-icon.png");
    }
    .funding-acc-icon {
        width: 16px;
        height: 16px;
        background-size: 16px;
        float: left;
        margin-top: 2px;
    }
    .funding-acc-label {
        font-size: 14px;
        color: rgba(25, 15, 39, 0.7);
        vertical-align: 3px;
        padding: 0 8px 0 12px;
        float: left;
    }
    .funding-acc-val {
        font-weight: 400;
        color: #190f27;
        font-size: 14px;
        vertical-align: 3px;
        float: left;
        display: inline-block;
        max-width: 390px;
    }
}

.progrmas-linked {
    border-top: 1px solid #C7C4D2;
    padding: 20px 0 0 0;
    margin-left: -4px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(25, 15, 39, 0.7);
    .progrmas-linked-cntr {
        padding: 0;
        a {
            color: rgba(25, 15, 39, 0.7);
            text-decoration: underline;
            cursor: pointer;
        }
        p {
            opacity: unset;
        }
    }
}

.programs-linked-modal {
    h4 {
        padding: 0;
        margin: 0 0 20px 0;
    }
    a {
        text-decoration: underline;
        cursor: pointer;
    }
}

.custom-h5-font {
    font-size: $font-size-xx-small;
}

.add-funds-note {
    margin-top: 10px;
    margin-bottom: 0;
}

.view-authorized-banks-link {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

.autorized-banks-modla-note {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
}
.pad-top-10{
    padding-top: 10px !important;
}
.pad-left-right-zero{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.para-middle{
    text-align: center;
    font-size: 18px;
    color: #190f27;
    padding-top: 15px;
}
.para-below{
    padding-top: 10px;
}

.funding-acc-dtls:first-child>.funding-acc-val {
    font-weight: 700;
}

.transferFundsModal {
    .custom-modalbox {
        .modal-content {
            .custom-modal-body {
                .modal-body {
                    .modalbox-form-section {
                        .pd-top-twenty {
                            .form-group {
                                .label-bold {
                                    font-size: 13px;
                                    font-weight: 600;
                                    line-height: 1.54;
                                    text-align: left;
                                    color: #190f27;
                                }
                                .details-text {
                                    font-size: 13px;
                                    color: #190f27;
                                    opacity: 1;
                                    .bal-info {
                                        font-size: 12px;
                                        color: rgba(25, 15, 39, 0.7);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}