/**
 * ============  NEW SIGNUP PAGE  ============
 */

.signup-parent {
    height: 100vh;
    min-height: 650px;
    .old-dashboard-email {
        font-size: 24px;
        color: #222;
        padding-bottom: 10px;
    }
    &.signup-parent--employees {
        .signup__hero--hradmins,
        .signup__form-container--hradmins,
        .signup__form-container--login {
            display: none;
        }
        .signup__form___button {
            margin-bottom: 0;
        }
    }
    &.signup-parent--hradmins {
        .signup__hero--employees,
        .signup__form-container--employees,
        .signup__form-container--login {
            display: none;
        }
    }
    .signup__form-container--login {
        .signup__form___button {
            clear: both;
            margin-bottom: 0;
        }
    }
    .link {
        color: #633ea5;
        font-size: 14px;
        cursor: pointer;
    }
    .link--forget-pass {
        margin-bottom: 20px;
        float: right;
    }
    .div-msg {
        margin-top: 20px;
    }
    .tnc {
        font-size: 11px;
        line-height: 1.7;
        width: 80%;
        margin: 0 auto;
        color: rgba(#190F27, 0.5);
        .link {
            color: rgba(#190F27, 0.5);
            text-decoration: underline;
        }
    }
}

.signup__info-text {
    color: rgba(#190F27, 0.5);
    margin-bottom: 30px;
}

.signup-parent__left {
    text-align: left;
    float: left;
    width: 50%;
    height: 100%;
    padding: 40px;
    position: relative;
    background: #36215a;
    background-image: -webkit-linear-gradient(-180deg, #633EA5 0%, #452B72 100%);
    background-image: -moz-linear-gradient(-180deg, #633EA5 0%, #452B72 100%);
    background-image: linear-gradient(-180deg, #633EA5 0%, #452B72 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    // &:after {
    // 	position: absolute;
    // 	content: '';
    // 	right: -5px;
    // 	top: calc(50% - 10px);
    // 	width: 20px;
    // 	height: 20px;
    // 	background: #54348b;
    //
    // 	-webkit-transform: rotate(45deg);
    // 	transform: rotate(45deg);
    // }
}

.signup__logo {
    background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/zeta-logo.svg);
    background-size: 57px 23px;
    height: 23px;
    width: 57px;
    display: block;
    cursor: pointer;
}

.signup__back {
    display: inline-block;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 32px;
    padding-left: 35px;
    background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/back-arrow-login.png) no-repeat;
    width: 18px;
    height: 15px;
    background-size: 18px 15px;
    background-position: left 1px;
    &:hover,
    &:active,
    &:visited {
        color: white;
        text-decoration: none;
    }
}

.signup__hero {
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding-top: 135px;
    background-repeat: no-repeat;
    background-position: top center;
    &.signup__hero--hradmins {
        background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/signup-hr.png);
        background-size: 168px 116px;
    }
    &.signup__hero--employees {
        background-image: url(../img/signup-em.png);
        background-size: 111px 114px;
    }
}

.signup__hero___heading {
    font-size: 32px;
    font-weight: 600;
    color: white;
    margin: 0 0 5px 0;
}

.signup__hero___desc {
    font-size: 16px;
    line-height: 27px;
    color: rgba(white, 0.5);
}

.signup__support {
    text-align: center;
}

.signup__support___help {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(white, 0.5);
}

.signup__support___list {
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        margin: 0 15px;
        padding-left: 20px;
        background-repeat: no-repeat;
        background-position: left center;
        line-height: 16px;
        height: 15px;
    }
    a {
        color: white;
    }
}

.support__list___phone {
    background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/icon-phone.png);
    background-size: 12px 12px;
    font-size: 12px;
}

.support__list___email {
    background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/icon-email.png);
    background-size: 12px 9px;
    font-size: 13px;
}

.signup-parent__right {
    float: right;
    width: 50%;
    height: 100%;
    background: #f4f4f4;
    &.signup-parent__right--login {
        .signup__form-container--hradmins,
        .signup__form-container--employees {
            display: none;
        }
        .signup__form-container--login {
            display: block;
        }
    }
}

.signup__form-container {
    text-align: center;
    position: relative;
    top: 50%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.signup__form {
    display: inline-block;
    background: white;
    box-shadow: 0px 2px 4px rgba(black, 0.06);
    width: calc(100% - 160px);
    max-width: 500px;
    padding: 40px;
    h3 {
        margin: 0 0 30px;
        font-size: 18px;
        color: #190F27;
        font-weight: 400;
    }
    .input-wrapper {
        text-align: left;
        margin-bottom: 20px;
        position: relative;
        .error {
            position: absolute;
            top: 15px;
            right: 20px;
            font-size: 12px;
            padding-left: 5px;
            color: #D94A49;
            display: none;
        }
    }
    .has-error {
        .signup__form___input {
            border: 1px solid #e74c3c;
        }
        .error {
            display: block;
        }
    }
    .input-half {
        font-size: 0;
        .input-wrapper {
            display: inline-block;
            width: calc(50% - 10px);
            margin-right: 20px;
            vertical-align: top;
        }
        .input-wrapper:last-of-type {
            margin-right: 0;
        }
    }
    .signup__form___input,
    .signup__form___select {
        height: 45px;
        background: white;
        border: 1px solid #EBEBEB;
        padding: 0 16px;
        line-height: 45px;
        color: #190F27;
        font-size: 16px;
        width: 100%;
        border-radius: 2px;
        box-shadow: none;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &:active,
        &:focus {
            border: 1px solid #633EA5;
        }
        &.err {
            border: 1px solid #D94A49;
        }
    }
    .signup__form___download {
        font-size: 0;
        a {
            margin: 0 8px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .signup__form___select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 42px;
        // To accommodate the arrow
        color: rgba(#190F27, 0.3);
    }
    .div-error {
        color: red;
    }
    .select-input-wrapper {
        position: relative;
        &:after {
            position: absolute;
            content: '';
            right: 18px;
            top: 20px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #c3c3c3;
        }
    }
    .signup__form___button {
        display: block;
        background: #E60A6F;
        border-radius: 100px;
        height: 45px;
        line-height: 45px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        width: 100%;
        border: none;
        outline: none;
        box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &.loading::after {
            background-image: url(/img/button_loading.png);
            content: ' ';
            height: 16px;
            width: 16px;
            display: inline-flex;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 11px;
            position: relative;
            top: 3px;
            animation-name: rotate;
            animation-duration: 0.8s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }
}

.separator-with-word {
    font-size: 14px;
    color: #190F27;
    letter-spacing: 0px;
    position: relative;
    margin: 40px 0;
    z-index: 1;
    &:before {
        position: absolute;
        content: '';
        height: 1px;
        background: #EAE9ED;
        width: 100%;
        left: 0;
        top: calc(50% - 1px);
        z-index: -1;
    }
    &:after {
        position: absolute;
        content: '';
        height: 100%;
        width: 60px;
        left: calc(50% - 30px);
        background: white;
        z-index: -1;
    }
}

.signup__login-link {
    font-size: 14px;
    margin-top: 30px;
}

::-webkit-input-placeholder {
    color: rgba(#190F27, 0.3);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(#190F27, 0.3);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(#190F27, 0.3);
}

:-ms-input-placeholder {
    color: rgba(#190F27, 0.3);
}

select:invalid {
    color: rgba(#190F27, 0.3);
}

// Brand Logo Container
.brand__logo-container {
    .brand__heading {
        font-size: 12px;
        text-transform: uppercase;
        color: #190f27;
        font-weight: 700;
        opacity: 0.5;
        filter: alpha(opacity=50);
        letter-spacing: 1px;
    }
    .brand__images {
        padding-top: 10px;
        a {
            padding-left: 17px;
            padding-right: 17px;
        }
    }
}

.brand__logo__extra__pd {
    padding-top: 76px;
}

.forgot__password___container {
    a {
        font-size: 12px !important;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}


/** Media Query **/

@media (max-width: 1024px) {
    .signup-parent {
        width: 1024px;
    }
}


/**
 * ===========================================
 */