div.timepicker {
    position: absolute;
    z-index: 100;
    width: 95%;
    top: 34px;
}

div.timepicker>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 12px;
    max-height: 130px;
    overflow: scroll;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    overflow-x: hidden;
}

div.timepicker>ul>li {
    height: 30px;
    cursor: pointer;
    text-align: center;
    height: 100%;
    line-height: 150%;
    display: block;
    text-decoration: none;
    color: #363636;
}

div.timepicker>ul>li.hover {
    background: #e8edeb;
}

.no-margin-right {
    margin-right:0px !important;
}
.transfer-summary-table{
    margin-top: 20px;
    border-radius: 2px;
    width: 100%;
    .transfer-summary-hdr{
        text-align: center;
        background-color: #9c9eb8 !important;
        height: 34px;
        line-height: 34px;
        font-size: 12px;
        font-weight: 600;
        color: $color-white;
        border-radius: 2px 2px 0 0;
        text-transform: uppercase;
    }
    .new-transfer-status{
        font-weight: bold;
        text-transform: capitalize;
    }
    td {
        width: 50%;
        padding: 10px;
        border: solid 1px #dfdde6;
        font-size: 12px;
    }
    .transfer-summary-dtls-col-key {
        text-align: right;
        color: #190f27;
    }
}
.banner-order-width{
    width: px !important;
}
.transfer-summary{
    margin-top: 20px;
    border-radius: 2px;
    .transfer-summary-hdr{
        text-align: center;
        background-color: #9c9eb8 !important;
        height: 34px;
        line-height: 34px;
        font-size: 12px;
        font-weight: 600;
        color: $color-white;
        border-radius: 2px 2px 0 0;
        text-transform: uppercase;
    }
}
.transfer-summary-dtls-row{
    border-bottom: solid 1px #dfdde6;
    border-left: solid 1px #dfdde6;
    line-height: 40px;
    .transfer-summary-dtls-col{
        float: left;
        text-align: right;
        width: 50%;
        padding-right: 20px;
        border-right: solid 1px #dfdde6;
        font-size: 12px;
    }
    .transfer-summary-dtls-col-second{
        padding-left: 20px;
        text-align: left;
    }
    .new-transfer-status{
        font-weight: bold;
        text-transform: capitalize;
    }
    .status-scheduled{
        color: $cornflower-blue;
    }
    .status-stalled{
        color: $orange-darker-color;
    }
}
.transfer-summary-dtls-second-row{
    background-color: #f6f6f7;
}

.new-program-body {
    display: inline-block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #00b898;
    color: #FFF;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 5px;
    margin-left: 10px;
    letter-spacing: 0.6px;
}

//CODE ADDED BY PARYUL JAIN WITH REF. TO TASK B)REPEAT ORDERS -->
//START 
.frequencyType, .repeatUntil, .repeatFreqText, .ordersScheduledText{
    display: none;
}

.orders-scheduled-bottom{
    padding-top: 0px;
    padding-bottom: 10px;
}

.orderTypeDropdown {
    padding:0 16px;
    height:34px;
    line-height:34px;
}

.payroll-text
{
    padding-top: 9px;
    text-align: center;
}

.label-weight{
    font-weight:normal;
}

.datepicker-frame
{
    width: 195px !important;
}

.mar-bot-16{
    margin-bottom: 16px;
}

.mar-top-16{
    margin-top: 16px;
}

.full-width
{
    width: 100% !important;
}

.color-error{
    td{
        color: #eb5946 !important;
    }
}

.color-warn{
    td{
        color: #ffa500 !important;
    }
}

.color-success{
    td{
        color: #00b898 !important;
    }
}

.overflow-auto{
    overflow: auto;
}
.orderOptionsBox{
    width: 48%;
    .infoPara{
        p{
            margin: 18px 0;
        }
    }
}
.orderOptions {
    padding: 28px;
    border: 1px solid #dfdde6;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(20, 12, 33, 0.08);
    position: relative;
    .tickIcon{
        display: none;
        position: absolute;
        top: -10px;
        right: -10px;
    }
    &.active{
        border-color: #00b898;
        .tickIcon{
            display: block;
        }
    }
}

.mar-right-10{
    margin-right: 10px;
}

.displayTable{
    display: table;
    .table-cell{
        display: table-cell;
        vertical-align: middle;
    }
}

.input-group .form-control {
    // width: 200px;
}

.width-md {
    width: 200px !important;
}

.custom-table
tr
td{
    //padding: 15px 10px 15px 10px !important;
    font-size: $font-size-small !important;
    padding-left: 8px !important;
    padding-right: 25px !important;

    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.freq-custom-height
{    line-height: 22px;
}


.payout-file-border{
    color: #c7c4d2;
    border-style: dashed;
    border-width: 2px ;
}

.x-medium-button
{
    .btn-disabled{
        background-color: #cfcfcf;
        cursor: not-allowed !important;
        color:#190f27;
        // margin-left:-80%;
        &:hover{
            background-color: #cfcfcf !important;
        }
    }

}

.payout-transfer-summary-table{

    width: 85px;
    height: 11px;
    opacity: 0.7;
    font-family: ProximaNova;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    color: #ffffff;

}

.payout-info-side-container {
    margin-top: 20px;
    margin-bottom: 20px;
    .heading-table-text {
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        width: 140px;
    }

}

//To set the calendar icon color to white
.glyphicon-calendar:before {
    content: "\E109" !important;
}


.payout-banner{
    font-size: 30px !important;
}

.banner-background{
    height: 145px  !important;
}


.banner-breadcrum{
    padding-top: 20px;
}

.banner-breadcrum-child{
    padding-top: 10px;
}

.inner-container .dropdown .dropdown-menu li a{
    text-transform: unset !important;
    font-size: 13px !important;
}

.btnAddPayout{
    float: right;
}

.multiple-payout-upload{
    // width: 60% !important;
    height: 300px !important;
    float: left;
}

.multiple-orders-table{
    background-color: #f5f4f6;
    width: 198px;
    float: right;
    // margin-top: 10px;
    table{
        width: calc(100% - 20px);
        margin: 10px;
        thead{
            border-bottom: 1px solid #ccc;
        }
    }
}

.multiple-order-heading{
    font-size: $font-size-small ;
}

.multiple-order-line{
    width: 100%
}

.coherent-rows{
    opacity: 0.3;
    filter: alpha(opacity=30);
    font-size: $font-size-small;
    color: $color-mirage-block;
    text-align: left;
}

.orders-row-layout{
    opacity: 0.6;
    color: $color-mirage-block;
    text-align: left;

}
.clm-layout{
    padding-top: 10px;
    width:50px;
}

.orders-row-payoutdate{
    //  padding-left: 10px !important;
    text-align: left;
}

.custom-modalbox .close{
    top: 0px !important;
}
// .multiple-payout-dropzone{
//     width: 60% !important;
// }
//END


.transfer-table{
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.13);
    background-color: #FFFFFF;
    /* width: 100%; */
    border: 1px solid #dfdde6;
    border-radius: 2px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.custom-table tr th {
    padding-left: 8px !important;
    padding-right: 10px !important;
}

