.modal-box {
    margin-left: 0px;
}

.transfer-error-top-hdg {
    padding-top: 30px;
}

.transfer-errors {
    margin-top: 10px;
    td {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 12px;
    }
    .duplicate {
        td {
            color: $dulpicate-txt-color;
            font-size: 12px;
        }
    }
    .invalid {
        td {
            color: $invalid-txt-color;
            font-size: 12px;
        }
    }
    .valid {
        td {
            color: $valid-txt-color;
            font-size: 12px;
        }
    }
}

.download-btn-wrpr {
    border: 2px solid #dfdde6;
    margin: 0;
    padding: 10px;
    border-top: 0;
    .btn {
        width: 100%;
        line-height: 32px;
        background: $color-orange url(../images/download-cloud.png) no-repeat;
        background-position: right 27% center;
        background-size: 18px 15px;
        color: $color-white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 1px;
        border-color: $color-orange;
    }
}

.error-sub-hdg-wrpr {
    border-top: solid 1px #dfdde6;
    margin: 30px 0 0 0;
    padding: 30px 0 20px 0;
    .error-sub-hdg-col {
        padding: 0;
    }
    span {
        font-size: 12px;
        opacity: 0.7;
        font-style: italic;
    }
}

.errors-entries-type-wrpr {
    padding-bottom: 20px;
    .errors-entries-type {
        border-radius: 4px;
        background-color: $color-white;
        box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
        border: solid 1px #dfdde6;
        padding: 30px 0;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        &:hover {
            box-shadow: 0 3px 6px 0 rgba(20, 12, 33, 0.18);
        }
        .errors-entries-type-hdg {
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            color: $color-mirage-block;
            padding-bottom: 10px;
            margin: 0;
        }
        .errors-entries-type-desc {
            font-size: 12px;
            text-align: center;
            color: $color-mirage-block;
            opacity: 0.7;
        }
        .errors-entries-type-icon {
            height: 24px;
            margin-bottom: 20px;
            display: inline-block;
        }
        .valid-entries {
            width: 24px;
            background: url(../images/continue-valid-entries.png) no-repeat;
            background-size: 24px;
        }
        .cancel-order {
            width: 27px;
            background: url(../images/cancel-order.png) no-repeat;
            background-size: 27px 24px;
        }
    }
    .active {
        border-color: #00b898;
        .active-icon {
            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/greenTickWhite.svg);
            display: inline-block;
            width: 24px;
            height: 24px;
            background-size: 24px;
            position: absolute;
            right: 4px;
            top: -13px;
        }
        .cancel-order {
            width: 27px;
            background: url(../images/cancel-order-active.png) no-repeat;
            background-size: 27px 24px;
        }
        .valid-entries {
            width: 24px;
            background: url(../images/continue-valid-entries-active.png) no-repeat;
            background-size: 24px;
        }
    }
}

.errors-entries-type-cnt {
    display: none;
    .errors-entries-hdg {
        padding: 25px 0;
        opacity: 0.7;
        font-size: 13px;
        color: $color-mirage-block;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding-bottom: 20px;
            font-size: 13px;
            color: $color-mirage-block;
            .cross-icon {
                background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/crossRed.svg) no-repeat left 0 top 2px;
                padding-left: 20px;
                display: inline-block;
                margin-right: 10px;
            }
            .tick-icon {
                background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/checkGreen.png) no-repeat left 0 top 2px;
                padding-left: 22px;
                background-size: 12px 9px;
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
    .btn {
        width: 100%;
    }
}

.success-note {
    padding-top: 20px;
}

