.no-account-wrpr{
    margin: 40px;
    .no-account-left,.no-account-right{
        padding: 30px;
        background: $color-white;
        float: left;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
    }
    .no-account-left{
        width: 25%;
    }
    .no-account-right{
        margin-left: 40px;
        width: 71%;
    }
}
.profile-img-cntr{
    text-align: center;
    .profile-img{
        width: 80px;
        height: 80px;
    }
    .profile-name{
        font-size: 16px;
        color: $color-medium-block;
        text-align: center;
        padding: 18px 0;
    }
}
.profile-details-cntr{
    border-top: 1px solid #c7c4d2;
    padding-top: 23px;
    .contact-list-wrpr{
        .contact-list-hdg{
            font-size: 12px;
            color: $color-medium-block;
            font-weight: 600;
        }
        .contact-list{
            div{
                font-size: 12px;
                line-height: 20px;
                color: $color-medium-block;
            }
        }
    }
    .mobile-contacts-wrpr{
        padding-bottom: 20px;
    }
}
.no-account-hdr{
    padding-bottom: 30px;
    .no-account-icon{
        background-image: url('../images/lock-icon.png');
        width: 72px;
        height: 60px;
        float: left;
        background-size: 72px 60px;
        margin-right: 20px;
    }
    h3{
        font-size: 24px;
        color: $color-medium-block;
        line-height: 20px;
        float: left;
    }
}
.no-account-details{
    .details-hdg{
        font-size: 14px;
        line-height: 20px;
        color: $color-medium-block;
        opacity: 0.7;
        padding-bottom: 20px;
    }
}
.reason-list{
    padding: 0;
    list-style: none;
    .reason-no{
        float: left;
        background: $reason-no-bg;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        text-align: center;
        line-height: 24px;
        font-size: 13px;
        color: $color-medium-block;
        margin-right: 10px;
    }
}
.reason-details{
    float: left;
    color: $color-medium-block;
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 18px;
    width: 90%;
    .reason-question{
        font-weight: 600;
    }
    .reason-answer{
        .new-txt{
            font-style: italic;
            font-weight: bold;
        }
    }
    .login-link{
        padding-top: 10px;
    }
}
