.inner-container {
    .cardorder-banner {
        padding-bottom: 30px;
        @include gradient(#633ea5, #633ea5, vertical);

        .page-heading {
            h1 {
                font-size: $font-size-large;
                font-weight: $font-weight-regular;
            }
        }
    }
}

.cardorder_container {
    .bulk-transfer-step-list {
        li {
            .bulk-transfer-step-one {}

            .bulk-transfer-step-two {
                margin-left: -14px;
            }

            .bulk-transfer-step-three {
                margin-left: -10px;
            }
        }
    }

    .sub-container {
        background-color: #e6e6e6;
    }

    .needHelp {
        border-radius: 4px;
        border: solid 1px #c7c4d2;
        padding: 14px;

        .needHelpHeadTxt {
            font-weight: bold;
            vertical-align: -2px;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .needHelpBody {
            margin-top: 8px;
            font-size: 12px;
            line-height: 1.5;

            a {
                color: #190f27;
                text-decoration: underline;
                opacity: 0.7;
            }

            .phonelink {
                text-decoration: none;
            }
        }
    }

    .collapseData {
        padding-bottom: 10px;
        text-align: center;
    }

    .rewardMobileDemo {
        .rewardPImg {
            position: static;
            max-width: 218px;
            max-height: 140px;
        }
    }

    .rewardPrvwTxt {
        margin-top: 20px;
    }

    .radio-group {
        margin-bottom: 20px;

        .control {
            font-weight: normal;

            .control__indicator {
                top: 1px;
            }

            .control__indicator:after {
                left: 5px;
                top: 5px;
                width: 6px;
                height: 6px;
            }
        }
    }

    .cartypeText {
        font-size: 13px;
        line-height: 1.69;
        color: #190f27;
        padding-bottom: 6px;
    }

    .emptyLine {
        width: 100%;
        margin: 0;
    }

    .orDiv {
        margin: 0 0 20px 0;
    }

    .deliveryAddTxt {
        font-size: 20px;
        line-height: 0.9;
        color: #190f27;
    }

    .inputDv {
        label {
            font-weight: normal;
        }

        input {
            max-width: 300px;
            height: 35px;
            border-radius: 2px;
            border: solid 1px #c7c4d2;
            background-color: #ffffff;
        }
    }

    .deliveryaddSelection {
        .deliveryAddTxt {
            margin: 10px 0 15px 0;
        }

        .radio-group {
            border-radius: 4px;
            border: solid 1px #c7c4d2;
            background-color: #ffffff;
            max-width: 500px;

            label {
                display: block;
                min-height: 40px;
                border-bottom: solid 1px #c7c4d2;
                padding-left: 32px;
            }

            .control {
                padding: 10px 10px 10px 42px;
                margin-right: 0;

                .control__indicator {
                    left: 10px;
                    top: 10px;
                }
            }

            .newAddDv {
                cursor: pointer;
                margin: 10px 0;

                .newAddIcon {
                    width: 16px;
                    height: 16px;
                    border: solid 1px #273895;
                    color: #273895;
                    border-radius: 50%;
                    padding: 0 0 0px 1px;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 13px;
                    display: inline-block;
                    margin-right: 12px;
                    margin-left: 10px;
                }

                .newAddTxt {
                    color: #273895;
                    font-size: 13px;
                }
            }
        }
    }

    button.btn-disabled {
        background: #ddd;
        color: #190f27;

        &:hover {
            background: #ddd;
            color: #190f27;
        }
    }

    #myModalAddressDetail {
        .instaGiftOrderCardsDV {
            box-shadow: none;
            border: none;
            border-radius: 0;
            padding: 20px 40px;
        }

        .custom-modal-body {
            max-height: 500px;
            overflow-x: scroll;
        }
    }

    .singleCardOrderDetail {
        .inner-sub-container {
            margin: 30px;
            border-radius: 4px;
            box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
            border: solid 1px #dfdde6;
            background-color: #ffffff;
            padding: 20px;
            min-height: 380px;

            .heading {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.25;
                color: #000000;
                margin-bottom: 20px;
            }

            .body {
                margin-bottom: 10px;

                .name {
                    font-size: 14px;
                    line-height: 1.43;
                    color: #151515;
                    display: inline-block;
                    min-width: 200px;
                }

                .nameStatus {
                    display: inline-block;
                    padding: 2px 6px;
                }

                .nameCard {
                    display: inline-block;

                    img {
                        width: 150px;
                        height: 96px;
                        vertical-align: top;
                    }
                }
            }


        }
    }

    .custom-table {
        tr {
            td {
                padding: 15px 10px 15px 10px !important;
            }
        }
    }
}