.filter-section {
  right: 0;
}

.inner-container.report-details {
  .tabbable-panel {
    padding: 30px 30px 10px;
  }
  .overlay-text {
    opacity: 0.6;
  }
  .tabbable-line {
    position: relative;
    & > ul {
      padding: 0;

      li {
        list-style: none;
        display: inline-block;
        position: relative;
        margin-right: 30px;
        padding-right: 30px;
        div {
          &.label-text {
            font-size: 12px;
          }
          margin-bottom: 6px;
          font-size: 14px;
        }

        &:first-child {
          position: relative;
          bottom: 10px;
          margin-right: 10px;
          div {
            font-size: 18px;
          }
        }

        &:after {
          content: '';
          position: absolute;
          right: 0;
          height: 18px;
          top: 50%;
          border: 1px solid #c7c4d2;
          transform: translate(-50%, -50%);
        }
        &:last-child:after, &:first-child:after {
          display: none;
        }
      }
    }
    .edit {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
    }
  }

  .custom-dropdown {
    .dropdown-menu {
      background-color: #190f27;
      max-height: 200px;
      overflow-y:scroll;
      li {
        margin-left: 15px;
        color: #fff;
        white-space: nowrap;
        &:after{
          display: none;
        }

        &:first-child {
          bottom: 0;
        }
      }
    }
  }
}

table.loader-table {
  width: 100%;
  thead {
    th {
      min-width: 200px;
      background-color: #9c9eb8;

    }
  }
  tbody {
    td {
      border-right: 1px solid #dfdde6;
      border-bottom: 1px solid #dfdde6;
      padding: 7px;
      text-align: right;
      border-left: 1px solid #dfdde6;
    }
  }
  th, td {
    height: 32px;
  }
  td {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05) 100%);
    background-size: 500% 100%;
    animation: loadGradient 1.5s linear infinite normal;
    border: 10px solid #FFFFFF;
  }

  @keyframes loadGradient {
    0% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

.report-details {
  .report-table-container {
    position: relative;
    .report-table-header{
      position: relative;

      .download-btn {
        position: absolute;
        top: 10px;
        right: 0px;

        .dropdown-menu{
          left: initial !important;
          right: 0 !important;

          ul{
            li{
              a{
                padding: 15px 20px;
              }
            }
          }
        }

        button{
          padding: 0 !important;
          background-color: transparent;
          border: none;
          position: relative;

          &:before {
            content: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/cloud-download.svg);
            left: -18px;
            position: absolute;
          }

        }

        .dt-buttons {
          a {
            font-weight: 600;
            color: #190f27;
          }

        }

        span.tooltip-view{
          bottom: 25px;
          top: auto;
        }
      }

    }



    .dataTables_filter {
      display: none;
    }
    .table-container {
      overflow: hidden;
      overflow-x: scroll;

      border: 1px solid #c7c4d2;;
    }
    .table-info {
      position: relative;

      .length-container {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);

        label {
          opacity: 0.6;
          font-size: 12px;
          font-weight: normal;
        }
        select {
          width: 54px;
          height: 24px;
          border-radius: 2px;
          background-color: #ffffff;
          border: solid 1px #c7c4d2;
          margin: 0;
          padding: 0 !important;
        }
      }
      .pagination-container {

        .paginate_button.current {
          a {
            background-color: #9c9eb8;
            color: #fff;
          }
        }

      }
    }

    table {
      font-size: 12px;
      thead {
        th {
          min-width: 200px;
          border-right: solid 1px #c7c4d2;
          border-bottom: solid 1px #c7c4d2;

          &.sorting {
            .th-title {
              &:before {
                content: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/sort.svg);
                position: absolute;
                right: 5px;
              }
            }

          }

          &.sorting_asc {
            .th-title {
              &:before {
                content: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/sort-asc.svg);
                position: absolute;
                right: 5px;
              }
            }

          }
          &.sorting_desc {
            .th-title {
              &:before {
                content: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/sort-desc.svg);
                position: absolute;
                right: 5px;
              }
            }
          }

          .th-title {
            background-color: #9c9eb8;
            //padding: 8px;
            letter-spacing: 1px;
            color: #ffffff;
            letter-spacing: 1px;
            font-size: 12px;
            padding: 7px;
            white-space: nowrap;
            padding-right: 24px;
            position: relative;
          }
          .search-box {
            margin: 7px;
            input {
              height: 28px;
              background-color: #ffffff;
              border: solid 1px #c7c4d2;
              font-size: 12px;
              font-weight: normal;
              width: 100%;
              padding: 5px;

            }
          }

        }
      }
      tbody {
        td {
          border-right: 1px solid #dfdde6;
          border-bottom: 1px solid #dfdde6;
          padding: 7px;
          text-align: right;
          white-space: nowrap;
        }
        .odd {
          .dataTables_empty {
            text-align: left;
          }
        }

      }
    }

    .paging_simple_numbers {
      text-align: center;
      ul.pagination {
        //background-color: #0a0a0a;
        li {
          //background-color: #0e80ae;
          &:first-child, &:last-child {
            a {
              width: 81px;
            }
          }
        }
      }
    }
  }

}
