.report-center-wrapper {

  #verticalNavbar {
    .report-heading {
      margin-bottom: 30px;
    }
  }

  ul.vertical-menubar {
    padding: 0;
    li {
      list-style: none;
      padding: 5px 15px 5px;
      line-height: 15px;
      margin-bottom: 15px;

      a, a:hover, a:active {
        color: #333;
        // border: none;
        text-decoration: none;
      }

      &.active {
        border-left: 2px solid #6e4db7;
        a {
          color: #633ea5;
        }
      }
    }
  }

  .inner-sub-container {
    margin-right: 0 !important;

    &.report-card-wrapper {

      .report-heading {
        margin-bottom: 20px;
      }

      .seperator {
        //padding-bottom: 30px;
        border-bottom: 1px solid #c7c4d2;
        margin-bottom: 30px;
      }
      .report-card-holder {
        .col-sm-4 {
          padding-right: 5px;
          margin-bottom: 30px;
        }
      }

      .report-card {
        border: 1px solid #dfdde6;
        box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
        padding: 20px 10px 20px 20px;
        border-radius: 4px;
        transition-duration: .5s;
        min-height: 160px;
        position: relative;

        &:hover {
          box-shadow: 0 3px 6px 0 rgba(20, 12, 33, 0.18);
          background-color: #ffffff;
          border: solid 1px #dfdde6;
        }

        .report-title {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 6px;

          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          color: #333;
        }

        .about-report {
          margin-bottom: 10px;

          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }

        .report-sample {
          line-height: 30px;
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: 15px;

          li {
            display: inline;
            list-style: none;

            background-repeat: no-repeat;
            padding-left: 20px;
            background-position: left 2px;

            img {
              width: 10px;
              height: 10px;
              margin-right: 3px;
              margin-bottom: 2px;
            }

            a {
              text-decoration: underline;
            }

            &.generate-report {
              background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/single-folded.svg);

            }
            &.sample {
              background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/cloud-download.svg);
              //background-repeat: no-repeat;
              //padding-left: 20px;
              //background-position: left 2px;
            }

            &:after {
              content: '';
              padding-left: 12px;
              border-right: 1px solid #c7c4d2;
              margin-right: 10px;
            }

            &:last-child {
              opacity: 0.8;
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }

    .overlay-6 {
      opacity: 0.6;
    }
    .overlay-3 {
      opacity: 0.3;
    }
  }
  .generate-wrapper {
    padding: 0 0 30px 0px;
  }
  .listreport-wrapper {

    label{
      margin-right: 15px;
    }
    
    .select-custom{
      display: inline-block;
    }
    
    .report-name{
      max-width: 300px;
    }

    .parameters {
      & > div {
        display: inline-block;
        margin-right: 10px;

        a {
          color: #4a90e2;
          //text-decoration: underline;
        }
        .dropdown-menu {
          background-color: #190f27;
          max-height: 200px;
          overflow: scroll;
          padding: 5px 0;
          li {
            a {
              text-decoration: none;
              color: #fff;

              &:hover {
                background-color: initial;
              }
            }

          }
        }
      }
    }


    .table--body {
      tr {
        &:nth-child(even) {
          background-color: #e9e6ed !important;
        }
      }

      .no-underline {
        text-decoration: none;
      }

      span.tooltip-view{
        bottom: 25px;
        top: auto;
      }
    }

  }
  .express--paging {
    margin: 20px 0 -15px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  margin-top: 135px;
  width: 18%;
  // width: 100%;
}
