.transfer-period-select-cntr {
    padding-top: 14px;
    h1 {
        float: left;
    }
    .datepicker-img {
        float: left;
        width: 200px;
        margin-left: 5px;
        line-height: 34px;
        height: 34px;
        background: rgba(255, 255, 255, 0.1) url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/transfer-calendar-icon.png") no-repeat;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        background-position: right 10px center;
        background-size: 12px 12px;
    }
}

.datepicker-img[readonly]{
    background-color: #fff;
}



.inner-container .sub-container{
    .bulk-action-section{
        display: none;
        .action-buttons{
            overflow: hidden;
            padding: 0 30px 0 15px;
            button{
                margin-left: 10px;
                width: auto;
                padding: 6px 15px;
                &.clear{
                    border: 1px solid;
                    border-color: rgba(83, 75, 93, 0.7);
                    color: #534B5D;
                    opacity: 0.7;
                    strong{
                        text-transform: lowercase;
                    }
                }
            }
        }
    }

    &.bulk-action{
        .filter-section{
            display: none;
        }
        .bulk-action-section{
            display: block;
        }
        #payoutstable{
            tbody.main-content{
                tr td{
                    &.payout-revoke{
                        .dropdown-log{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .transfer-details-wrpr {
        padding-top: 0;
        margin-top: 20px;
        border: none;
        .filter-cntr {
            margin-top: 0;
            margin-bottom: 30px;
            .filter-wrpr {
                width: 20%;
            }
        }
        #payoutstable{
            table.custom-table{
                thead tr th{
                    &.multi-select-chkbox{
                        display: table-cell;
                        input[type="checkbox"]{
                            cursor: pointer;
                        }
                    }
                }
                tbody tr td{
                    &.multi-select-chkbox{
                        display: table-cell;
                        input[type="checkbox"]{
                            cursor: pointer;
                            &.disabled{
                                cursor: default;
                            }
                        }
                    }
                }
            }
        }
    }
}

.secondary-status {
    background: #eae9ed;
    border-radius: 2px;
    line-height: 18px;
    padding: 5px;
    color: #8c8793;
    font-size: 10px;
    letter-spacing: 1px;
    margin-left: 5px;
    text-transform: uppercase;
}

.status-error {
    font-size: 10px;
    padding-top: 5px;
}

.claimed {
    color: $color-medium-green;
    text-transform: capitalize;
}

.initiated,
.temporarily-failed {
    color: $color-orange;
}

.revoked_amt{
    font-size: 12px;
    color: grey;
}


.confirm-cancel-single{
    font-size: $font-size-small;
    width: 418px !important;
    height: 44px;
    background-color: #ffbc00;
    border-radius: 2px;
    text-align: center;
    color: black;
    font-weight: 800;
    letter-spacing: 1px;
    opacity: 0.6;

}

.confirm-cancel-all{

    font-size: $font-size-small;
    width: 418px !important;
    height: 44px;
    background-color: #e5e5e5;
    border-radius: 2px;
    text-align: center;
    color: #898989;
    font-weight: 800;
    letter-spacing: 1px;

}

// .cancel-confirm{
//     padding-top: 10px;
// }

.cancel-row
{
    padding-top: 10px;
}
.revoke-dropdown{
    width: 418px;
    height: 30px;
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.2);



}

.revoke-dropdown{
    color: #999;
    background-color: #ffffff;
    height: 40px;
}
.options{
    height: 40px;
}

.revoke-option{
    display: none;
}



// .styled-select {
//     width: 240px;
//     height: 60px;
//     overflow: hidden;
//     background: url(new_arrow.png) no-repeat right #ddd;
//     border: 1px solid #ccc;
// box-shadow: 0 0 10px 100px #999 inset;
//     }