<% include ../../../common/html-head %>
<body>
<input type="hidden" id="transferId" value="<%- programID%>">
<input type="hidden" id="productType" value="<%- cardProgramObject.productType%>">
<input type="hidden" id="cardProgramID" value="<%- cardProgramObject.cardProgramID%>">
<div class="wrapper">
    <% include ../../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container">
                <% include ../../../section/expense/details/banner %>
                <div class="col-xs-12 col-md-12 program">
                    <div class="tabs-nav-container tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" id="overview" data-toggle="tab">
                                        Overview
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_default_2" id="beneficiaries" data-toggle="tab">
                                        Beneficiaries
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_default_3" id="reimbursements" data-toggle="tab">
                                        Reimbursements
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_default_4" id="escalations" data-toggle="tab">
                                        Escalations
                                        <span class="new_number hide"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="sub-container expense-details">
                    <div class="row">

                        <div class="tab-content">

                        <% include tab-content/overview %>

                        <% include tab-content/beneficiaries %>

                        <% include tab-content/reimbursement %>

                        <% include tab-content/escalations %>

                        </div>

                    </div>
                </div>
            </div>

            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<!-- Modal escalation Approve  -->
<div class="modal fade" id="escalationProgramApprove" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/expense/declined-icon.svg" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Approve <b class="name"></b>'s claim of <span class="ruppee">₹</span><b class="amount">150</b>?</h4>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default approved" type="button" data-dismiss="modal">Approve</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal escalation Approve  End  -->

<!-- Modal escalation decline   -->
<div class="modal fade" id="escalationProgramDecline" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/expense/declined-icon.svg" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Decline <b class="name"></b>’s claim of <span class="ruppee">₹</span><b class="amount"></b>?</h4>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default decline" type="button" data-dismiss="modal">Decline</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal escalation decline  End  -->

<!-- Modal escalation sucess   -->
<div class="modal fade" id="escalationProgramSucess" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/expense/sucess-icon.svg" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero" id="msg"></h4>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default done" type="button" data-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal escalation sucess  End  -->

<!-- Modal escalation error   -->
<div class="modal fade" id="escalationApproveError" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/expense/error-icon.svg" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Oops. Approve Claim failed</h4>
                    <div class="heading-sub-text text-center">
                        <p>
                            Please refresh the page and try again. If the error persists, please contact us at <a href="mailto:support@zeta.in">support@zeta.in</a>.

                        </p>
                    </div>
               </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal escalation error  End  -->

<!-- Modal escalation error   -->
<div class="modal fade" id="escalationDeclineError" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/expense/error-icon.svg" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Oops. Decline Claim failed</h4>
                    <div class="heading-sub-text text-center">
                        <p>
                            Please refresh the page and try again. If the error persists, please contact us at <a href="mailto:support@zeta.in">support@zeta.in</a>.

                        </p>
                    </div>
               </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal escalation error  End  -->

<!-- Modal Loader  -->
<div class="modal fade" id="escalationLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Loader End  -->


<% include ../../../common/html-script %>
<script src="/dist/scripts/expense-details.js"></script>
<script src="/dist/scripts/escalation-claims.js"></script>
</body>

</html>
