<% include ../../../common/html-head %>

    <body>
        <input type="hidden" id="programID" value="<%-benefitDetails.programID %>">
        <div class="wrapper">
            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <div class="inner-container">
                                <!-- Banner Start -->
                                <div class="top-section banner-background">
                                    <div>
                                        <!-- Breadcrumb -->
                                        <div class="row">
                                            <div class="col-xs-9 col-md-9">
                                                <ul class="breadcrumb pd-tb-zero">
                                                    <li><a href="#">Zeta Spotlight</a></li>
                                                    <li><a href="#">InstaGift</a></li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="page-heading">
                                                    <h1 class="pd-top-five">Diwali Gifting</h1>
                                                    <div class="x-medium-button pull-right">
                                                        <a href="/companies/<%- companyID %>/spotlight/instagift/<%- programID %>/load-cards">
                                                            <button class="btn btn-default" type="button">LOAD CARDS
                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Banner End -->
                                <div class="sub-container">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <!-- Filter -->
                                            <div class="row">
                                                <div class="filter-section">
                                                    <div class="col-xs-5 col-md-5">
                                                        <div class="custom-searchbox">
                                                            <div class="input-group stylish-input-group">
                                                                <input id="employeeSearch" type="text" class="form-control" placeholder="Search by Beneficiary Name, Last 4 digits of Card Number or Email/Mobile/Employee ID">
                                                                <span class="input-group-addon">
                                                    <button type="button" id="searchEmployeeBtn">
                                                    <span><img src="/images/search_small.png"></span>
                                                                </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Filter End -->
                                            <div class="inner-sub-container page-sub-heading transfer-details-wrpr">
                                                <!-- Table -->
                                                <div class='row filter-cntr' id='payoutFilters'>
                                                    <div class='col-xs-2 col-md-2 filter-wrpr active' data-filter-val='scheduled,initiated,temporarily_failed,claimed,partially_revoked,revoked,invalid,cancelled,failed'>
                                                        <div class='filter-no' id='totalPayouts'></div>
                                                        <div class='filter-txt'>All</div>
                                                    </div>
                                                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='scheduled'>
                                                        <div class='filter-no' id='scheduledPayouts'></div>
                                                        <div class='filter-txt'>Scheduled</div>
                                                    </div>
                                                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='initiated'>
                                                        <div class='filter-no' id='processingPayouts'></div>
                                                        <div class='filter-txt'>Processing</div>
                                                    </div>
                                                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='claimed'>
                                                        <div class='filter-no' id='transferredPayouts'></div>
                                                        <div class='filter-txt'>Transferred</div>
                                                    </div>
                                                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='temporarily_failed'>
                                                        <div class='filter-no' id='waitingPayouts'></div>
                                                        <div class='filter-txt'>Waiting for Beneficiary</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div id="payoutstable"></div>
                                                    </div>
                                                </div>
                                                <!-- Table End -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" data-backdrop="static" id="cancelPayoutSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Payout cancelled successfully</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a href=''>
                                    <button class="btn btn-default" type="button">Done</button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Box Transfer Initiated success End -->
        <!-- Modal Loader  -->
        <div class="modal fade" id="cancelPayoutLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="cancelPayoutError" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Oops. Payout cancel failed.</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text">This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on support@zeta.in</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->



        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" data-backdrop="static" id="revokePayoutSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Payout revoked successfully</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a href=''>
                                    <button class="btn btn-default" type="button">Done</button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Box Transfer Initiated success End -->
        <!-- Modal Loader  -->
        <div class="modal fade" id="revokePayoutLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="revokePayoutError" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Oops. Payout revoke failed.</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text" id="error-msg">
                                    This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on support@zeta.in
                                </div>

                                <div class="heading-sub-text" id="cannot-revoke-msg">
                                    <p>
                                        This amount can't be revoked as it has already been claimed. Please contact us at <a href="mailto:support@zeta.in">support@zeta.in</a>. If you have any further queries.
                                    </p>
                                    <p>Note: You would be able to revoke only the unclaimed amount from the user.</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <div class="modal fade" data-backdrop="static" id="cancelPayoutConfirm" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero">Are you sure that you want to cancel this payout?</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button cancel-order">
                                <button class="btn btn-default confirm" type="button">Yes</button>
                                <button class="btn btn-default reset" type="button">No</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" data-backdrop="static" id="revokePayoutConfirm" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero">Are you sure that you want to revoke this payout?</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button cancel-order">
                                <button class="btn btn-default confirm" type="button">Yes</button>
                                <button class="btn btn-default reset" type="button">No</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <% include ../../../common/html-script %>

            <script src="/dist/scripts/transferDetail.js"></script>

    </body>

    </html>