<!-- Top Header Part -->
<nav class="navbar navbar-inverse navbar-fixed-top header-container" style="<%- typeof requestedSource !== 'undefined' && requestedSource ? 'left:0' : '' %>">
    <div class="container-fluid mv-container header-boxshadow">

        <div id="navbar" class="navbar-collapse collapse mv-float-right">
            <ul class="nav navbar-nav navbar-left navbar-left-pd">
                <li>
                    <% if(ifiBankName == 'Kotak') { %>
                        <span class="app-text" href="javascript:void(0)"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/kotak-logo.svg" alt="Kotak" /></span>
                    <% } else { %>
                    <span class="app-text" href="javascript:void(0)">We <img src="/images/heart_icon.svg" alt="zeta iocn"/>
                    <%- corp.name %> (CorpId : <%- corp.id %>) 
                    <% if(typeof(checkGenie) != 'undefined'){ 
                        if(checkGenie !=0){ %>
                            <span>You are using genie login</span>
                     <%   } } %>
                    </span>
                    <% } %>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right dropdown-log">

                <li class="dropdown"><a href="#" class="dropdown-toggle hover-focus-overcome" data-toggle="dropdown" aria-expanded="true">Help & Support
                 <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group.svg" alt="zeta iocn"/></a>
                    
                        <% if(locals.countryVar && countryVar == "isSodexoVn") { %>
                            <ul class="help-info-dropdown dropdown-menu" role="menu" aria-labelledby="menu1" style="width : 300px;">
                                <li class="dropdown-list">
                                    <div class="left">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/call-us-icon.png" alt=""/>
                                    </div>
                                    <div class="right">
                                        <h2 class="title">Mail us</h2>
                                        <p>Just drop us a mail at  spv.info@sodexo.com</p>
                                        <a class="noColor mailToLink" href="mailto:spv.info@sodexo.com">Drop a mail</a>
                                    </div>
                                </li>
                                <li class="dropdown-list">
                                    <div class="left">
                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/mail-us-icon.png" alt=""/>
                                    </div>
                                    <div class="right">
                                        <h2 class="title">Speak to us</h2>
                                        <p>Call us on (+84) (28) 7305 0667, Mon-Friday 9-6pm only except public holidays</p>
                                    </div>
                                </li>
                            </ul>
                        <% } else { %>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li><a class="noColor" target="_blank" href="https://docs.zetaapps.in/" role="menuitem">Documentation</a></li>
                                <li><a class="noColor" target="_blank" href="https://docs.zetaapps.in/display/OND/FAQs#ForEmployers" role="menuitem">FAQs</a></li>
                                <li><a class="noColor" target="_blank" href="https://zeta.in/support/" role="menuitem">Contact Us</a></li>
                            </ul>
                        <% } %> 
                    
                </li>
                <li><span class="vertical-line">&nbsp;</span></li>
                <!-- Logout -->
                <!-- Must include this class <div class="dropdown-log"></div> -->
                <li class="dropdown __user-actions">
                    <a href="javascript:void(0)" class="dropdown-toggle hover-focus-overcome" data-toggle="dropdown">

                        <%- user.account.accountDetails.name %> <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group.svg" alt="zeta iocn"
                            /></a>

                    <ul class="logout-dropdown dropdown-menu dropdown-log-menu">
                        <% if(corpList.corporateCompanies.length > 1) { %>
                            <li class="corporate-switcher">
                                <a id="corporate-switch" data-toggle="modal" data-target="#myModal" class="logout-text" href=""><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/switch-arrows.png" alt="" />Switch Corporate </a>
                            </li>
                            <% } %>
                                <!--<li data-toggle="modal" data-target="#changePassword"><a><span class="dropdown-list-one">&nbsp;</span> Change Password</a></li>-->
                                <!--<li class="on-off-btn">High Contrast Mode :<label class="onoffbtn"><input type="checkbox"></label></li>
                        <li>Switch Corporates</li>-->
                        <% if(typeof requestedSource === 'undefined' || !requestedSource){ %>
                            <li><a href="/logout" class="logout-text"> Log Out </a></li>
                        <% } %>

                    </ul>
                </li>
                <!-- Logout End -->
            </ul>
        </div>
    </div>
</nav>
<!-- Top Header Part End -->

<div class="modal fade" id="myModal" role="dialog">
    <!-- Modal content-->
    <div class="signup__form-container-switcher signup__form-container-switch signup__form-container--login">
        <div class="signup__form--switch">
            <div class="custom-modal-body" style="display:block" id="corpSwitcherHide">
                <div class="modal-body">
                    <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Loading corporate switcher. Please wait...</h4>
                </div>
            </div>
            <div class='signup__form__cntr' id="corpSwitcher" style="display:none">
                <button type="button" class="close signup__form--switch--close" data-dismiss="modal">&times;</button>
                <div class="building-icon">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/building.svg" alt="">
                </div>
                <h3 class='signin__hdg--switch'>Choose a Corporate Account</h3>
                <div class="container-corparate-switch zeta-scroll">
                    <% for(var currIndex=0; currIndex<corpList.corporateCompanies.length; currIndex++) {%>
                        <div class="list-group">
                            <a href="javascript:void(0)" class="list-group-item" data-key="<%- corpList.corporateCompanies[currIndex].corporate.id %>">
                                <div class="list-group-table">
                                    <div class="list-group-tablecell">
                                        <h4 class="list-group-item-heading">
                                            <%- corpList.corporateCompanies[currIndex].corporate.name %>
                                        </h4>
                                        <%if((corpList.corporateCompanies[currIndex].companies.length) == 1){ %>
                                            <p class="list-group-item-text">
                                                <%- corpList.corporateCompanies[currIndex].companies.length %> Company</p>
                                            <% } else { %>
                                                <p class="list-group-item-text">
                                                    <%- corpList.corporateCompanies[currIndex].companies.length %> Companies</p>
                                                <%} %>

                                    </div>

                                </div>
                            </a>
                        </div>
                        <% } %>
                </div>
                <button id="switchCorporate" class="signup__form___button--switch">SWITCH</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Loader  -->
<div class="modal fade" id="corporateSwitcherModal" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Switching corporate. Please wait...</h4>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="corporateSwitcherErrorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #0c0b0b;
                    font-size: 15px;
                    padding: 7px 8px;
                    margin-top:-15px;
                    background-color: #fff;">X</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center" 
                    style="font-size: 30px;
                    border-radius: 50%;
                    color: #fd0f0f;
                    font-weight: bold;
                    border: 1px solid #ccc;
                    width: 54px;
                    margin: 0px auto;
                    box-shadow: 0px 0px 22px 6px #ccc;
                    height: 50px;
                    line-height: 50px;
                    text-align:center;">X</div>
                    <h4 class="text-center pd-bottom-zero">Current IP address is not authorized to access the dashboard</h4>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    (function() {
        setInterval(function() {
            switch (document.readyState) {
                case "loading":
                    document.getElementById("corpSwitcher").style.display = "none";
                    document.getElementById("corpSwitcherHide").style.display = "block";
                    break;
                case "interactive":
                    document.getElementById("corpSwitcher").style.display = "block";
                    document.getElementById("corpSwitcherHide").style.display = "none";
                    break;
                case "complete":
                    document.getElementById("corpSwitcher").style.display = "block";
                    document.getElementById("corpSwitcherHide").style.display = "none";
                    break;
            }
        }, 3000);
    })();
</script>
<!-- Modal Loader End  -->
