<div class="tab-pane active" id="tab_default_1">
    <!-- Page Heading and List -->
  <div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-xs-7 col-md-7 left-column">
            <div class="pd-top">
                <!-- Page Card Display -->
                <div class="card-section pd-top-ten">
                    <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/instagift-modal.svg' alt="zeta bitmap"/>
                </div>
                <!-- Page Card Display End -->
                <div class="page-heading page-heading-overview">
                    <div class="page-heading-list">
                        <ul class="list-unstyled">
                            <li>
                                <small class="title">Status:</small>
                                <div class="active"><% if(cardProgramObject.active) {%>
                                Active
                                <% } else { %>
                                Inactive
                                <% } %></div>
                            </li>
                            <li class="text-capitalize">
                                <small class="title">Funding Type:</small>
                                <%- cardProgramObject.fundingType.toLowerCase() %>
                            </li>
                            <li>
                                <small class="title">Funding Account:</small>
                                <%- fundingAccountDetails.name %>
                                <small class="balance">(Balance: <span class="ruppee">₹</span><%- fundingAccountDetails.balance %>)</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class='spend-data-wrpr'>
                <div class='saving-data-wrpr'>
                    <ul>
                        <li class='clearfix'>
                            <div class='saving-data-icon transaction-icon'></div>
                            <div class='saving-data-val-wrpr'>
                                <div class='saving-data-val'>
                                    <b class="numbers-font">
                                        250
                                    </b>
                                </div>
                                <div class='saving-data-text'>No. of Cards Loaded</div>
                            </div>
                        </li>
                        <li class='clearfix'>
                            <div class='saving-data-icon transaction-amt-icon'></div>
                            <div class='saving-data-val-wrpr'>
                                <div class='saving-data-val'>₹
                                    <b class="numbers-font">
                                        2,00,000
                                    </b>
                                </div>
                                <div class='saving-data-text'>Total Amount Loaded</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
         <div class="col-xs-5 col-md-5">
            <div class='merchant-data-wrpr' id='merchantsWrpr'>
                <div id='merchantGraphLoader' class='merchant-data-loader'>
                    <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif' alt='loading'/>
                    <div>Loading Merchant Data </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 control-center-wrap">
      <div class="row">
        <div class="col-xs-12">
            <a href="/companies/<%- companyID %>/spotlight/instagift/<%- programID%>/control-center">
                <div class="pd-top control-center text-center">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/control-center.svg">
                    <h4 class="text-center">Control Center</h4>
                    <p>Approve or decline PIN reset requests</p>
                    <div class="request">
                        <span class="bdr"></span>
                        <span class="request-number" id="requestNumber"></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12">
            <a href="/companies/<%- companyID %>/spotlight/instagift/<%- programID%>/faq">
                <div class="pd-top control-center text-center">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/f-a-qs.svg">
                    <h4 class="text-center">FAQS</h4>
                    <p>Have questions? Get them answered here</p>
                </div>
            </a>
        </div>
      </div>
    </div>
  </div>

</div>
