<% if (aggregations.totalUniqueMerchants) { %>

<div class='total-merchants-wrpr clearfix'>
    <div>
        <span class='total-merchants numbers-font'><%-aggregations.totalUniqueMerchants %></span>
        <span class='total-merchants-txt'>Total merchants</span>
    </div>
    <!-- <div class='total-merchants-note'>(Where this benefit was used)</div> -->
</div>
    <% if(aggregations.topLocations.length) { %>
    <div class='top-merchants-wrpr'>
        <div class='top-merchants-hdg'>Top <%-aggregations.topLocations.length%>  Merchants</div>
        <div class='top-merchants-cntr'>
            <% for(let currMerchant = 0; currMerchant < aggregations.topLocations.length; currMerchant++) { %>
                <div class='top-merchant'>
                    <div class='row clearfix merchant-left'>
                        <div class='col-xs-9'>
                            <div class='row'>
                                <div class='top-merchant-name'><%-aggregations.topLocations[currMerchant].merchantName%></div>
                                <div class='top-merchant-loc'><%-aggregations.topLocations[currMerchant].city%></div>
                            </div>
                        </div>
                        <div class='top-merchant-count numbers-font col-xs-3'><%-aggregations.topLocations[currMerchant].count%></div>
                    </div>
                    <div class='top-merchant-graph'>
                        <div style='width: <%-aggregations.topLocations[currMerchant].count %>;' class='top-merchant-active'></div>
                    </div>
                </div>
            <% } %>
        </div>
        <div id='merchantGraphError' class="graph-error">
            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
            <div class='pd-top-ten'>Couldn't load the Graph</div>
        </div>
        <em class="footer-note">* Data for last 3 months only</em>
    </div>
    <% } %>
<% } else { %>
    <div class="pd-top step-list" id="step-list">
        <h4 class="text-center">Steps to get started</h4>
        <ul>
            <li>
                <h5>Order Cards</h5>
                <p>Contact your Zeta Account Manager to order InstaGift cards</p>
            </li>
            <li>
                <h5>Add Funds</h5>
                <p>Ask your Zeta Account Manager for a proforma invoice, and <a href="/admin/funding-accounts">add funds</a> via NEFT/IMPS</p>
            </li>
            <li>
                <h5>Load Cards</h5>
                <p><a href="/companies/<%- companyID %>/spotlight/instagift/<%- programID %>/load-cards">Load</a> your InstaGift cards by simply uploading a file with card number and details of recipient</p>
            </li>
        </ul>
    </div>
<% } %>