<div class="tab-pane" id="tab_default_2">
    <div class="col-xs-12 col-md-12">
        <div class="inner-sub-container page-sub-heading">
            <div class="row">
                <div class="col-xs-12 col-md-12 filter-section">
                    <h3 class="col-md-3">Card Load History</h3>
                    <div class="col-xs-9 col-md-9" align="right">
                        <div class="filter-divider-table">
                            <div class="filter-divider-left">
                                <div class="form-group select-custom">
                                    <select class="form-control width-xs" id="transferOrderStatus">
                                        <option value="ALL" disabled selected>Filter by Status</option>
                                        <option value="ALL">All Statuses</option>
                                        <option value="PROCESSING">Processing</option>
                                        <option value="COMPLETED">Completed</option>
                                        <!-- <option value="cancelled">Cancelled</option>
                                        <option value="processing">Processing</option>
                                        <option value="stalled">Failed</option> -->
                                    </select>
                                </div>
                            </div>
                            <!-- Date Picker Start -->
                            <!-- <div class="form-group date-picker">
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker-img" placeholder="Select the Date" id="orderDate" />
                                    <span class="icon-transparent input-group-addon">
                                            <span><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/date.png"  alt="Zeta Date"/></span>
                                          </span>
                                </div>
                            </div> -->
                            <!-- Date Picker End -->
                        </div>
                        <!-- <div class="custom-searchbox">
                            <div class="input-group stylish-input-group">
                                <input id="searchBox" type="text" class="form-control" placeholder="Search by ID">
                                <span class="input-group-addon">
                                    <button id="searchBtn" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                            </div>
                        </div> -->
                    </div>
                    <div id="transferOrderTable" data-programid="<%- programID %>" class="cardloadhistry-tbl">
                        <% include tables/transfer-orders %>
                    </div>
                    <!-- <div id="ordersTable"></div> -->
                </div>
            </div>
            <!-- Table End -->
            <!-- Media Object -->
        </div>
    </div>
</div>
