
<div class="col-xs-12 col-md-12">
    <div class="inner-sub-container page-sub-heading">
        <div class="row">
            <div class="col-xs-12 col-md-12 filter-section reset-pin-table">
                <h3>Reset PIN Requests</h3>
                <div class="note">
                    <h5>NOTE:</h5>
                    <p>Before acting on any request, please verify the authenticity of the cardholder by contacting the Beneficiary directly, via phone/email.</p>
                </div>
                <div class="filter-divider-table">
                    <div class="filter-divider-left">
                        <div class="form-group select-custom">
                            <select class="form-control width-xs" id="statusFilter">
                                <option value="ALL" disabled selected>Filter by Status</option>
                                <option value="ALL">All</option>
                                <option value="ACCEPTED">Approved</option>
                                <option value="PROCESSING">Pending</option>
                                <option value="REJECTED">Declined</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="resetPinRequestTable" data-programid="<%- programID %>">
                  <% include tables/reset-pin-request %>
                </div>
                <!-- <div id="ordersTable"></div> -->
            </div>
        </div>
        <!-- Table End -->
        <!-- Media Object -->
    </div>
</div>
