<div class="inputField">
    <div class="spendView padTop6">
        <%- selectedSpendDays.length > 0 ? selectedSpendDays.join(', ') : 'Everyday' %>
    </div>
    <div class="spendEdit padTop6">
        <div class="multipleOpsSelect">
            <select class="form-control" id="spendDays" multiple>
                <option value="0" <%- selectedSpendDays.indexOf("SUN") >= 0 ? 'selected' : '' %>>Sunday</option>
                <option value="1" <%- selectedSpendDays.indexOf("MON") >= 0 ? 'selected' : '' %>>Monday</option>
                <option value="2" <%- selectedSpendDays.indexOf("TUE") >= 0 ? 'selected' : '' %>>Tuesday</option>
                <option value="3" <%- selectedSpendDays.indexOf("WED") >= 0 ? 'selected' : '' %>>Wednesday</option>
                <option value="4" <%- selectedSpendDays.indexOf("THU") >= 0 ? 'selected' : '' %>>Thursday</option>
                <option value="5" <%- selectedSpendDays.indexOf("FRI") >= 0 ? 'selected' : '' %>>Friday</option>
                <option value="6" <%- selectedSpendDays.indexOf("SAT") >= 0 ? 'selected' : '' %>>Saturday</option>
            </select>
        </div>
    </div>
</div>
