<div class="selectRows col-md-12 row">
    <div class="col-md-3 row">
        <select class="form-control timeFrame">
            <option value="select">Select</option>
            <option value="0"  <%- time == "0" ? 'selected' : '' %>>1.00AM</option>
            <option value="1"  <%- time == "1" ? 'selected' : '' %>>2.00AM</option>
            <option value="2"  <%- time == "2" ? 'selected' : '' %>>3.00AM</option>
            <option value="3"  <%- time == "3" ? 'selected' : '' %>>4.00AM</option>
            <option value="4"  <%- time == "4" ? 'selected' : '' %>>5.00AM</option>
            <option value="5"  <%- time == "5" ? 'selected' : '' %>>6.00AM</option>
            <option value="6"  <%- time == "6" ? 'selected' : '' %>>7.00AM</option>
            <option value="7"  <%- time == "7" ? 'selected' : '' %>>8.00AM</option>
            <option value="8"  <%- time == "8" ? 'selected' : '' %>>9.00AM</option>
            <option value="9"  <%- time == "9" ? 'selected' : '' %>>10.00AM</option>
            <option value="10"  <%- time == "10" ? 'selected' : '' %>>11.00AM</option>
            <option value="11"  <%- time == "11" ? 'selected' : '' %>>12.00PM</option>
            <option value="12"  <%- time == "12" ? 'selected' : '' %>>1.00PM</option>
            <option value="13"  <%- time == "13" ? 'selected' : '' %>>2.00PM</option>
            <option value="14"  <%- time == "14" ? 'selected' : '' %>>3.00PM</option>
            <option value="15"  <%- time == "15" ? 'selected' : '' %>>4.00PM</option>
            <option value="16"  <%- time == "16" ? 'selected' : '' %>>5.00PM</option>
            <option value="17"  <%- time == "17" ? 'selected' : '' %>>6.00PM</option>
            <option value="18"  <%- time == "18" ? 'selected' : '' %>>7.00PM</option>
            <option value="19"  <%- time == "29" ? 'selected' : '' %>>8.00PM</option>
            <option value="20"  <%- time == "20" ? 'selected' : '' %>>9.00PM</option>
            <option value="21"  <%- time == "21" ? 'selected' : '' %>>10.00PM</option>
            <option value="22"  <%- time == "22" ? 'selected' : '' %>>11.00PM</option>
            <option value="23" <%- time == "23" ? 'selected' : '' %>>0.00AM</option>
        </select>
    </div>
</div>