<!-- Top Header Part -->
<% if(locals.countryVar && (countryVar == "isSodexoPhpSm" || countryVar == "isSodexoPh")) {%>
    <% include ./headers/philippines-header %>
<%} else { %>
    <% include ./headers/optima-header %>
<%}%>
