<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tax Benefits</title>
    <!-- <link rel="shortcut icon" href="https://card-program-files.s3.amazonaws.com/hrDashboard/images/favicon.png"> -->
    <link rel="stylesheet" href="/css/vendor.css?v=<%- deployVersion%>" type="text/css"/>
    <link rel="stylesheet" href="/css/main.css?v=<%- deployVersion%>" type="text/css"/>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            console.log("Test", token);
          document.getElementById('captchaToken').value = token;
          document.getElementById('submitNow').click()
        }
      </script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
