<!-- Modal Change password -->
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog">
  <div class="modal-dialog custom-modalbox" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="custom-modal-body">
        <div class="modal-body">
          <h4 class="text-center pd-tb-zero">Change password</h4>
          <div class="modalbox-form-section pd-top-zero">
            <form class="pd-top-twenty">
              <div class="form-group">
                <label for="currentPassword" class="control-label">Current Password</label>
                <input type="password" class="form-control" id="currentPassword">
              </div>
              <div class="form-group">
                <label for="newPassword" class="control-label">New Password</label>
                <input type="password" class="form-control" id="newPassword">
              </div>
              <div class="form-group">
                <label for="retypeNewPassword" class="control-label">Re-type New Password</label>
                <input type="password" class="form-control" id="retypeNewPassword">
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <div class="flexible-button">
            <button class="btn btn-default btn-disabled" type="button" disabled id="changePasswordBtn">Change Password</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Modal Change password End -->

<!-- Modal Loader  -->
<div class="modal fade" id="loaderModal" tabindex="-1" role="dialog">
  <div class="modal-dialog custom-modalbox" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&nbsp;</span>
        </button>
      </div>
      <div class="custom-modal-body">
        <div class="modal-body">
          <div class="text-center">
            <img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon"
            />
          </div>
          <h4 class="text-center pd-bottom-zero">Please wait...</h4>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Modal Loader End  -->

<!-- Modal Oops Transfer  -->
<div class="modal fade" id="changePasswordError" tabindex="-1" role="dialog">
  <div class="modal-dialog custom-modalbox" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="custom-modal-body">
        <div class="modal-body">
          <div class="text-center">
            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" />
          </div>
          <h4 class="text-center pd-bottom-zero" id='errorMsg'></h4>
        </div>
        <div class="modal-footer">
          <div class="flexible-button">
            <button class="btn btn-default" data-dismiss="modal" type="button">CLOSE</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Modal Oops Transfer End  -->

<!-- Modal Box Transfer Initiated success -->
<div class="modal fade" id="changePasswordSuccess" tabindex="-1" role="dialog">
  <div class="modal-dialog custom-modalbox" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="custom-modal-body">
        <div class="modal-body">
          <div class="text-center">
            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" />
          </div>
          <h4 class="text-center pd-bottom-zero">Password Changed successfully</h4>
        </div>
        <div class="modal-footer">
          <div class="flexible-button">
            <button class="btn btn-default" data-dismiss="modal" type="button">Ok</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Modal Box Transfer Initiated success End -->

<div class="modal fade" id="programUpdateSuccess" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="custom-modal-body">
          <div class="modal-body">
            <div class="text-center">
              <img class="successImage" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" />
              <img class="errorImage hideMe" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" />
            </div>
            <h4 class="text-center pd-bottom-zero" id="programUpdateSuccessMessage"></h4>
          </div>
          <div class="modal-footer">
            <div class="flexible-button">
              <button class="btn btn-default" data-dismiss="modal" type="button">Ok</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <input type="hidden" id="authToken" value="<%= typeof authToken !== 'undefined' ? authToken : '' %>">
  <input type="hidden" id="sessionID" value="<%= typeof sessionID !== 'undefined' ? sessionID : '' %>">
  
  <script src="/scripts/manifest.js?v=<%- deployVersion%>" type="application/javascript"></script>
  <script src="/scripts/vendor.js?v=<%- deployVersion%>" type="application/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  
  <script src="https://cdn.ravenjs.com/3.26.4/raven.min.js" crossorigin="anonymous"></script>
  <script>
    var authToken = document.getElementById('authToken').value
    var sessionID = document.getElementById('sessionID').value
    window.localStorage.setItem('authToken', typeof authToken == "undefined" ? "" : authToken)
    window.localStorage.setItem('sessionID', typeof sessionID == "undefined" ? "" : sessionID)
    document.getElementById("authToken").remove()
    document.getElementById("sessionID").remove()

  if (window.location.host.indexOf('stage') < 0 && window.location.host.indexOf('localhost') < 0) {
    let host = window.location.host.indexOf('-pp') > 0 ?  'preprod': 'production'; 
    Raven.config('https://fa7e5db56f1744c78a0c85e9e3a00d4f@sentry.io/1251214', {
      logger: 'javascript',
      environment: host
    }).install();
  }

</script>
<script>
  var ga_id;
  if (window.location.host.indexOf('stage') > -1 || window.location.host.indexOf('localhost') > -1) {
    ga_id = 'UA-108797697-1';
  } else {
    ga_id = 'UA-91193627-1';
  }

  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', ga_id, 'auto');
  ga('send', 'pageview');

  function initGAEvent(hitType, eventCategory, eventAction, eventLabel) {
    ga('send', hitType, eventCategory, eventAction, eventLabel);
  }

</script>
