<% if(locals.countryVar && (countryVar == "isSodexoPhpSm" || countryVar == "isSodexoPh")) {%>
    <% include ./html-heads/philippines-html-head %>
<%} else { %>
    <% include ./html-heads/optima-html-head %>
<%}%>
