<!-- Sidebar -->
<% if(locals.countryVar && countryVar === "isSodexoPhpSm") {%>
    <% include ./sidebars/philippines-sm-sidebar %>
<% } else if(locals.countryVar && countryVar === "isSodexoVn") {%>
    <% include ./sidebars/vietnam-sidebar %>
<% } else if(locals.countryVar && countryVar === "isSodexoPh") {%>
    <% include ./sidebars/philippines-sidebar %>
<% } else { %>
    <% include ./sidebars/optima-sidebar %>
<%}%>
