<% if(lastLoginTime != false && (locals.countryVar && (countryVar !== "isSodexoPhpSm" && countryVar !== "isSodexoPh" && countryVar !== "isSodexoVn"))) { %>
    <div class="point-based-subcontainer">
        <!-- last login info display -->
        <div class="straight-line">&nbsp;</div>
        <div class="text-center">
            <span>
              <p>Last login - <%- lastLoginTime %></p>
      </span>
        </div>
    </div>
<% } %>