<% include ../../common/html-head %>
<link rel="stylesheet" href="/lib/bootstrap-daterangepicker/daterangepicker.css">
    <body>
        <div class="wrapper">
            <% include ../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <% include ../../section/express/top-banner %>
                                    <div class="col-xs-12 col-md-12 program">
                                        <div class="tabs-nav-container tabbable-panel">
                                            <div class="tabbable-line">
                                                <ul class="nav nav-tabs ">
                                                    <li class="active">
                                                        <a href="/express/insight/cafeteria/overview">
                                                            Overview
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/express/insight/cafeteria/menu">
                                                            Menu
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-container">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div id="cityPicker"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div id="officePicker"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div id="storePicker"></div>
                                            </div>
                                        </div>

                                        <div id="citiesList" style="display: none"><%- citiesOfficesStores %></div>
                                        <div class="row" style="padding:15px;">
                                            
                                            <div class="form-group date-picker pull-right">
                                                <div class="input-group">
                                                    <span style="display:inline-block;padding-right:10px;font-weight:700;vertical-align:middle">Insights for:</span>
                                                    <input type="text" id="snapDatePicker" value="" style="display:inline"/>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <section class="section--box">
                                                    <!--<h2 class="section&#45;&#45;heading">Snapshot ( last 30 days )</h2>-->
                                                    <div class="express--stats">
                                                       
                                                        <h3 class="section--title section--caption"></h3>
                                                        <div id="salesSnapContainer"></div>

                                                        <div class="loading--box" id="salesSnapLoading">
                                                            <div class="loading--body">
                                                                <p class="loading--text">Loading...</p>
                                                                <img src="/images/express/loading.svg" alt="">
                                                            </div>
                                                        </div>


                                                        <div class="menu__container__error" id="salesSnapError" style="display: none;">
                                                            <img src="/images/express/table-error-icon.svg" alt="">
                                                            <h4>Data failed to load</h4>
                                                        </div>
                                                    </div>
                                                </section>




                                                <section class="section--box section--white" id="topTenVendors">
                                                    <div class="top-vendors">
                                                        <div class="form-group date-picker pull-right" style="display:none">
                                                            <div class="input-group">
                                                                <input type="text" id="vendorDatePicker" value=""/>
                                                            </div>
                                                        </div>
                                                        <h3 class="section--title">
                                                            <span id="sortVendor" class="singleDropdown">Top</span>
                                                            10 Vendors by
                                                            <span id="sortBy" class="singleDropdown">Sales Amount</span>
                                                        </h3>
                                                        <div class="graphBarLoading" id="vendorGraph">
                                                            <img class="graphBarLoading__img" src="/images/express/graph-loading.svg" alt="">
                                                            <div class="loading--box">
                                                                <div class="loading--body">
                                                                    <p class="loading--text">Loading...</p>
                                                                    <img src="/images/express/loading.svg" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="topTenVendorsChart" class="express--charts"></div>
                                                        <div id="vendorsTable"></div>
                                                    </div>
                                                </section>

                                                <section class="section--box section--white" id="topTenStores">
                                                    <div class="top-stores">
                                                        <div class="form-group date-picker pull-right" style="display:none">
                                                            <div class="input-group">
                                                                <input type="text" id="storeDatePicker" value=""/>
                                                            </div>
                                                        </div>
                                                        <h3 class="section--title">
                                                            <span id="sortStores" class="singleDropdown">Top</span>
                                                            10 Stores by
                                                            <span id="sortStoreBy" class="singleDropdown">Sales Amount</span>
                                                        </h3>
                                                        <div class="graphBarLoading" id="storeGraphLoading">
                                                            <img class="graphBarLoading__img" src="/images/express/graph-loading.svg" alt="">
                                                            <div class="loading--box">
                                                                <div class="loading--body">
                                                                    <p class="loading--text">Loading...</p>
                                                                    <img src="/images/express/loading.svg" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="storesBarChart" class="express--charts"></div>
                                                        <div id="storeTable"></div>
                                                    </div>
                                                </section>
                                                  <section class="section--box section--white">
                        <h5 class="right-info"></h5>
                        
                        <div class="form-group date-picker pull-right" style="display:none">
                             
                            <div class="input-group">
                               
                                <input type="text" id="paymentPreferenceDatePicker" value=""/>
                            </div>
                         </div>
                         <a style="display: inline" href="javascript:void(0)" class="downloadBtn pull-right" id="paymentDownload"><img
                                            src="/images/express/cafeteria_download.svg" alt=""></a>
                        <h3 class="section--title">Payment Preferences</h3>
                         
                        <div class="payment__preferences">

                            <div class="graphBarLoading" id="paymentPrefLoading">
                                <img class="graphBarLoading__img" src="/images/express/graph-loading.svg" alt="">
                                <div class="loading--box">
                                    <div class="loading--body">
                                        <p class="loading--text">Loading...</p>
                                        <img src="/images/express/loading.svg" alt="">
                                    </div>
                                </div>
                            </div>


                            <div class="row" id="paymentPrefContainer">
                                <div class="col-md-4">
                                    <div id="pieChart" style="width: 100%"></div>
                                </div>

                                <div class="col-md-8">

                                    <div id="paymentTableStats">

                                    </div>

                                </div>
                            </div>
                            <div class="menu__container__error" id="paymentPrefError" style="display: none;">
                                <img src="/images/express/table-error-icon.svg" alt="">
                                <h4>Data failed to load</h4>
                            </div>

                        </div>

                    </section>
                                            </div>
                                        </div>

                                    </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <% include ../../common/html-script %>

            <script type="text/javascript" src="/lib/moment/moment.js"></script>
            <script type="text/javascript" src="/lib/highcharts/highcharts.js"></script>
            <script type="text/javascript" src="/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
            <script src="/dist/scripts/expressCafeteriaInsightOverview.js"></script>
            

            <script type="text/javascript">
                $(function () {
                    $('[data-toggle="popover"]').popover()
                })
            </script>

    </body>

    </html>