<% include ../../common/html-head %>

<body>
<div class="wrapper">
    <% include ../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container">
                <% include ../../section/express/top-banner %>
                <div class="col-xs-12 col-md-12 program">
                    <div class="tabs-nav-container tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li>
                                    <a href="/express/insight/cafeteria/overview">
                                        Overview
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="/express/insight/cafeteria/menu">
                                        Menu
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sub-container">

                    <% include ./menuSubview.ejs%>

                </div>
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<% include ../../common/html-script %>

<script type="text/javascript" src="/lib/google-charts/chart.js"></script>
<script type="text/javascript" src="/lib/jquery-scrollspy/scrollspy.js"></script>
<script type="text/javascript" src="/lib/stickyNavbar.js/jquery.stickyNavbar.js"></script>
<script type="text/javascript" src="/lib/moment/moment.js"></script>
<script src="/dist/scripts/expressCafeteriaInsightMenu.js"></script>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>

</html>
