<% include ../../common/html-head %>
<link rel="stylesheet" href="/lib/bootstrap-daterangepicker/daterangepicker.css">
<body>
<div class="wrapper">
    <% include ../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container">
                <% include ../../section/express/top-banner %>

                <div class="top-section">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="cityPicker"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="officePicker"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="storePicker"></div>
                        </div>
                    </div>

                    <div id="citiesList" style="display: none"><%- citiesOfficesStores %></div>

                    <br>

                    <section class="section--box">
                        <div class="express--stats">
                            <span class="section--heading">Snapshot </span>
                                <div class="form-group date-picker pull-right">
                                    <div class="input-group">
                                        <input type="text" id="employeeSnapDatePicker" value=""/>
                                    </div>
                                </div>
                            <div class="express--list" id="employeeList"></div>

                            <div class="loading--box" id="employeeListLoading">
                                <div class="loading--body">
                                    <p class="loading--text">Loading...</p>
                                    <img src="/images/express/loading.svg" alt="">
                                </div>
                            </div>


                            <div class="menu__container__error" id="employeeSnapError" style="display: none;">
                                <img src="/images/express/table-error-icon.svg" alt="">
                                <h4>Data failed to load</h4>
                            </div>
                        </div>
                    </section>


                    <section class="section--box section--white" id="uniqueTransactions">
                        <div class="form-group date-picker pull-right">
                            <div class="input-group">
                                <input type="text" id="uniqTransDatePicker" value=""/>
                            </div>
                        </div>

                        <h3 class="section--title">Unique Users & Transactions</h3>

                        <div class="graphBarLoading" id="uniqueTransactionsChartLoading">
                            <img class="graphBarLoading__img" src="/images/express/graph-loading.svg" alt="">
                            <div class="loading--box">
                                <div class="loading--body">
                                    <p class="loading--text">Loading...</p>
                                    <img src="/images/express/loading.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div id="uniqueTransactionsChart" class="express--charts"></div>

                        <div class="uniqueTransactionsTable"></div>

                    </section>


                    <section class="section--box section--white">
                        <div class="form-group date-picker pull-right">
                            <div class="input-group">
                                <input type="text" id="avgSpendDatePicker" value=""/>
                            </div>
                        </div>
                        <h3 class="section--title">Average Customer Spend per day</h3>

                        <div class="graphBarLoading" id="avgCustomerSpendLoading">
                            <img class="graphBarLoading__img" src="/images/express/graph-loading.svg" alt="">
                            <div class="loading--box">
                                <div class="loading--body">
                                    <p class="loading--text">Loading...</p>
                                    <img src="/images/express/loading.svg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="menu__container__empty" id="avgCustomerEmpty" style="display: none;">
                            <img src="/images/express/table-empty-icon.svg" alt="">
                            <h4>No data available</h4>
                        </div>

                        <div class="menu__container__error" id="avgCustomerError" style="display: none;">
                            <img src="/images/express/table-error-icon.svg" alt="">
                            <h4>Data failed to load</h4>
                        </div>

                        <div id="avgCustomerSpend" class="express--charts"></div>
                    </section>




                </div>
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<% include ../../common/html-script %>

<script type="text/javascript" src="/lib/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/lib/moment/moment.js"></script>
<script type="text/javascript" src="/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/dist/scripts/employeeModule.js"></script>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>

</html>
