<% include ../../common/html-head %>

<body>
<div class="wrapper">
   <% include ../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container">
                <% include ../../section/express/home-banner %>
                <div class="top-section">
                    <div class="row">
                        <!-- Page Heading and List -->
                        <div class="col-xs-12 col-md-12 express-home">

                            <ul class="express-gateway-menu">
                                <li>
                                    <a href="/express/insight/cafeteria/overview" class="menu--item">
                                        <img src="/images/express/cafeInsight.svg" alt="" class="item--illus">
                                        <h4 class="item--title">Cafeteria Insights</h4>
                                        <p class="item--details">View Details</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/express/insight/vendors" class="menu--item">
                                        <img src="/images/express/vendor-insight.svg" alt="" class="item--illus">
                                        <h4 class="item--title">Vendor Insights</h4>
                                        <p class="item--details">View Details</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/express/insight/employee" class="menu--item">
                                        <img src="/images/express/employeeInsights.svg" alt="" class="item--illus">
                                        <h4 class="item--title">Employee Insights</h4>
                                        <p class="item--details">View Details</p>
                                    </a>
                                </li>

                            </ul>

                        </div>
                        <!-- Page Heading and List End -->
                    </div>
                </div>
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<% include ../../common/html-script %> 

<script src="/dist/scripts/cashless.js"></script>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>

</html>
