<div class="single-dropdown">
  <a href="javascript:void(0)" class="single-dropdown__link"></a>

  <ul class="single-dropdown__list">
    <%_.forEach(list, function(item, index){%>
    <li>
      <a href="javascript:void(0)" class="single-dropdown__list__link" data-index="<%-index%>"><%-item.label%></a>
    </li>
    <%})%>
  </ul>
</div>
