<div class="row">
    <div class="col-md-4">
        <div id="cityPicker"></div>
    </div>
    <div class="col-md-4">
        <div id="officePicker"></div>
    </div>
    <div class="col-md-4">
        <div id="storePicker"></div>
    </div>
</div>

<div id="citiesList" style="display: none"><%- citiesOfficesStores %></div>
<section class="section--box section--white">

    <div class="row">
        <div class="col-md-8">
            <h3 class="section--title">Menu</h3>
        </div>
        <div class="col-md-4">
            <div class="form-group date-picker pull-right">
                <div class="input-group">
                    <input type="text" class="form-control datepicker-img" id="menuDatePicker"/>
                </div>
            </div>
        </div>
    </div>


    <div class="menu__container">
        <div id="menuContainer"></div>
        <div class="loading--box">
            <div class="loading--body">
                <p class="loading--text">Loading...</p>
                <img src="/images/express/loading.svg" alt="">
            </div>
        </div>

        <div class="menu__container__empty" style="display: none;">
            <img src="/images/express/table-empty-icon.svg" alt="">
            <h4>No menu available</h4>
        </div>

        <div class="menu__container__error" style="display: none">
            <img src="/images/express/table-error-icon.svg" alt="">
            <h4>Data failed to load</h4>
        </div>
    </div>


</section>