<% include ../../common/html-head %>

<body>
<div class="wrapper">
    <% include ../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container">
                <% include ../../section/express/top-banner %>

                <div id="citiesList" style="display: none"><%- citiesOfficesStores %></div>
                <div class="top-section">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="cityPicker"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="officePicker"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="storePicker"></div>
                        </div>
                    </div>


                    <div class="loader__parent">
                        <div id="vendorsList"></div>

                        <div class="loading--box" id="vendorsLoading" >
                            <div class="loading--body">
                                <p class="loading--text">Loading...</p>
                                <img src="/images/express/loading.svg" alt="">
                            </div>
                        </div>

                        <div class="menu__container__empty" id="vendorsEmpty" style="display: none">
                            <img src="/images/express/table-empty-icon.svg" alt="">
                            <h4>No data available</h4>
                        </div>


                        <div class="menu__container__error" id="vendorsError" style="display: none">
                            <img src="/images/express/table-error-icon.svg" alt="">
                            <h4>Data failed to load</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<% include ../../common/html-script %>

<script type="text/javascript" src="/lib/google-charts/chart.js"></script>
<script type="text/javascript" src="/lib/moment/moment.js"></script>
<script type="text/javascript" src="/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/dist/scripts/vendors.js"></script>


<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>

</html>
