<% include ../../common/html-head %>
<link rel="stylesheet" href="/lib/bootstrap-daterangepicker/daterangepicker.css">
<body>
<div class="wrapper">
    <% include ../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container">
                <% include ../../section/express/vendor-banner.ejs %>
                <div id="citiesList" style="display: none"><%- citiesOfficesStores %></div>
                <div class="sub-container">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="cityPicker"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="officePicker"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="storePicker"></div>
                        </div>
                    </div>


                    <section class="section--box section--white" id="allItemsConsumption">
                        <div class="top-vendors">
                            <div class="pull-right">
                                <a style="display: none" href="javascript:void(0)" class="downloadBtn" id="excelDownload"><img
                                            src="/images/express/download-cta.svg" alt=""></a>
                                <div class="form-group date-picker">
                                    <div class="input-group">
                                        <input type="text" id="datePicker" value=""/>
                                    </div>
                                </div>
                            </div>


                            <h3 class="section--title">All Items</h3>
                            <div class="menu__container">
                                <div id="vendorsTable"></div>
                                <div class="loading--box" id="loadingBox">
                                    <div class="loading--body">
                                        <p class="loading--text">Loading...</p>
                                        <img src="/images/express/loading.svg" alt="">
                                    </div>
                                </div>

                                <div class="menu__container__empty" style="display: none;" id="emptyBox">
                                    <img src="/images/express/table-empty-icon.svg" alt="">
                                    <h4>No data available</h4>
                                </div>

                                <div class="menu__container__error" style="display: none" id="errorBox">
                                    <img src="/images/express/table-error-icon.svg" alt="">
                                    <h4>Data failed to load</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<% include ../../common/html-script %>

<script type="text/javascript" src="/lib/google-charts/chart.js"></script>
<script type="text/javascript" src="/lib/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/lib/moment/moment.js"></script>
<script type="text/javascript" src="/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/dist/scripts/vendorItemConsumption.js"></script>


<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>

</html>
