<% include ../../common/html-head %>
<link rel="stylesheet" href="/lib/bootstrap-daterangepicker/daterangepicker.css">
    <body>
        <div class="wrapper">
            <% include ../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <% include ../../section/express/vendor-banner.ejs %>

                                    <div class="sub-container">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <section class="section--box">
                                                    <!--<h2 class="section&#45;&#45;heading">At a Glance</h2>-->
                                                    <div class="express--stats vendor-over-stats">
                                                        <div class="form-group date-picker pull-right">
                                                            <div class="input-group">
                                                                <input type="text" id="vendorInsightsSnapShotDatePicker" value=""/>
                                                            </div>
                                                        </div>
                                                        <h2 class="section--heading">At a Glance </h2>
                                                        <div id="vendorInsightsSnapShotContainer">
                                                        </div>
                                                         <div class="loading--box" id="vendorInsightsSnapShotLoading">
                                                            <div class="loading--body">
                                                                <p class="loading--text">Loading...</p>
                                                                <img src="/images/express/loading.svg" alt="">
                                                            </div>
                                                        </div>


                                                        <div class="menu__container__error" id="vendorInsightsSnapShotError" style="display: none;">
                                                            <img src="/images/express/table-error-icon.svg" alt="">
                                                            <h4>Data failed to load</h4>
                                                        </div>
                                                    </div>
                                                </section>

                                                <section class="section--box section--white">
                                                    <h3 class="section--title">All Stores</h3>
                                                    <div class="top-vendors">
                                                        <div id="allStores"></div>
                                                    </div>
                                                </section>

                                            </div>
                                        </div>

                                    </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>

        <% include ../../common/html-script %>

            <script type="text/javascript" src="/lib/google-charts/chart.js"></script>
            <script type="text/javascript" src="/lib/moment/moment.js"></script>
<script type="text/javascript" src="/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
            <script src="/dist/scripts/vendorDetails.js"></script>

            <script type="text/javascript">
                $(function () {
                    $('[data-toggle="popover"]').popover()
                })
            </script>

    </body>

    </html>