<!-- Banner Start -->
<div class="banner-section banner-background express-banner vendor--banner">
    <div>
        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-xs-8 col-md-8">
                <ul class="breadcrumb pd-tb-zero">
                    <li><a href="/express">Zeta Express</a></li>
                    <li><a href="/express/insight/vendors">Vendor Insights</a></li>
                </ul>

                <div class="banner--dropdown" id="vendorDropdown">
                    <div class="dropdown--list--link">
                        <img class="vendor--logo" src="/images/express/businessLogoPlaceholder.svg" alt="">
                        <div class="vendor--details <%-(businessData.selectedVendor.ratingSum / businessData.selectedVendor.ratingCount).toFixed(0) > 0 ? '' : 'vendor--details__norating'%>">
                            <h2 class="vendor--title"><%- htmlDecoder(businessData.selectedVendor.vendorName) %></h2>
                            <div class="vendor--stars vendor--stars__<%-(businessData.selectedVendor.ratingSum / businessData.selectedVendor.ratingCount).toFixed(0)%>">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <p class="vendor--address"><%-businessData.selectedVendor.address || 'NA'%></p>
                        </div>
                    </div>

                    <div class="dropdown--list">
                        <% businessData.otherVendors.forEach(function (vendor) { %>
                        <a href="/express/insight/vendor/<%-vendor.businessID%>/<%-currentTab%>">
                            <img src="/images/express/businessLogoPlaceholder.svg" alt="">
                            <h4><%-vendor.vendorName%></h4>
                        </a>
                        <%})%>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4">
                <dl class="dl-horizontal details--list">
                    <dt>Business ID</dt>
                    <dd><%-businessData.selectedVendor.businessID%></dd>
                    <dt>No. of stores</dt>
                    <dd><%-businessData.selectedVendor.numOfStores%></dd>
                    <dt>Contact No.</dt>
                    <dd>NA</dd>
                </dl>
            </div>
        </div>
    </div>
</div>



<div class="col-xs-12 col-md-12 program">
    <div class="tabs-nav-container tabbable-panel">
        <div class="tabbable-line">
            <ul class="nav nav-tabs ">
                <li class="<%- (currentTab == 'overview') ? 'active' : '' %>">
                    <a href="/express/insight/vendor/<%-businessID%>/overview">
                        Overview
                    </a>
                </li>
                <li class="<%- (currentTab == 'sales') ? 'active' : '' %>">
                    <a href="/express/insight/vendor/<%-businessID%>/sales">
                        Sales & Operations
                    </a>
                </li>
                <li class="<%- (currentTab == 'settlement') ? 'active' : '' %>">
                    <a href="/express/insight/vendor/<%-businessID%>/settlement">
                        Settlements
                    </a>
                </li>
                <li class="<%- (currentTab == 'menu') ? 'active' : '' %>">
                    <a href="/express/insight/vendor/<%-businessID%>/menu">
                        Menu
                    </a>
                </li>
                <li class="<%- (currentTab == 'item-trends') ? 'active' : '' %>">
                    <a href="/express/insight/vendor/<%-businessID%>/item-trends">
                        Item Trends
                    </a>
                </li>
                <li class="<%- (currentTab == 'item-consumption') ? 'active' : '' %>">
                    <a href="/express/insight/vendor/<%-businessID%>/item-consumption">
                        Item Consumption
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Banner End -->