<% include ../../common/html-head %>
<link rel="stylesheet" href="/lib/bootstrap-daterangepicker/daterangepicker.css">
<body>
<div class="wrapper">
    <% include ../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container">
                <% include ../../section/express/vendor-banner.ejs %>
                <div id="citiesList" style="display: none"><%- citiesOfficesStores %></div>
                <div class="sub-container">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="cityPicker"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="officePicker"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="storePicker"></div>
                        </div>
                    </div>


                    <section class="section--box section--white" id="topTenItemTrends">
                        <div class="top-vendors">
                            <div class="form-group date-picker pull-right">
                                <div class="input-group">
                                    <input type="text" id="datePicker" value=""/>
                                </div>
                            </div>
                            <h3 class="section--title"><span id="sortVendor" class="singleDropdown">Top</span>
                                10 Items by <span id="sortBy" class="singleDropdown">Sales Amount</span></h3>
                            <div class="graphBarLoading" id="vendorGraph">
                                <img class="graphBarLoading__img" src="/images/express/graph-loading.svg" alt="">
                                <div class="loading--box">
                                    <div class="loading--body">
                                        <p class="loading--text">Loading...</p>
                                        <img src="/images/express/loading.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div id="topTenVendorsChart" class="express--charts"></div>
                            <div id="vendorsTable"></div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<% include ../../common/html-script %>

<script type="text/javascript" src="/lib/google-charts/chart.js"></script>
<script type="text/javascript" src="/lib/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/lib/moment/moment.js"></script>
<script type="text/javascript" src="/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/dist/scripts/vendorItemTrends.js"></script>


<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>

</html>
