<% include ../../common/html-head %>
<link rel="stylesheet" href="/lib/bootstrap-daterangepicker/daterangepicker.css">
<body>
<div class="wrapper">
    <% include ../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container">
                <% include ../../section/express/vendor-banner.ejs %>
                <div id="citiesList" style="display: none"><%- citiesOfficesStores %></div>
                
                <div class="sub-container">
                <div class="row" style="padding:15px;">
                    <div class="form-group date-picker pull-right">
                        <div class="input-group">
                        <span style="display:inline-block;padding-right:10px;font-weight:700;vertical-align:middle">Insights for:</span>
                            <input type="text" id="snapDatePicker" value=""style="display:inline"/>
                        </div>
                    </div>
                </div>
                    <section class="section--box" style="margin-top:10px">
                        <div class="express--stats">
                            
                            <h3 class="section--title section--caption">Settlements</h3>
                            <br>
                            <div id="settlementSnapContainer"></div>

                            <div class="loading--box" id="settlementSnapLoading">
                                <div class="loading--body">
                                    <p class="loading--text">Loading...</p>
                                    <img src="/images/express/loading.svg" alt="">
                                </div>
                            </div>


                            <div class="menu__container__error" id="settlementSnapError" style="display: none;">
                                <img src="/images/express/table-error-icon.svg" alt="">
                                <h4>Data failed to load</h4>
                            </div>
                        </div>

                    </section>

                    <section class="section--box section--white">
                        <div class="top-vendors">
                            <div class="form-group date-picker pull-right" style="display:none;">
                                <div class="input-group">
                                    <input type="text" id="datePicker" value=""/>
                                </div>
                            </div>
                            <h3 class="section--title">ALL TRANSACTIONS</h3>
                            <div id="settlementTable"></div>
                        </div>
                    </section>

                </div>
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<% include ../../common/html-script %>

<script type="text/javascript" src="/lib/google-charts/chart.js"></script>
<script type="text/javascript" src="/lib/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/lib/moment/moment.js"></script>
<script type="text/javascript" src="/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/dist/scripts/vendorSettlements.js"></script>


<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>

</html>
