<% include ../../common/html-head %>
<link rel="stylesheet" href="/lib/bootstrap-daterangepicker/daterangepicker.css">
<body>
<div class="wrapper">
    <% include ../../common/header %>
    <!-- Container -->
    <div class="container-fluid sidebar-row">
        <div class="row">
            <% include ../../common/sidebar %>
            <!-- Inner container -->
            <div class="inner-container">
                <% include ../../section/express/vendor-banner.ejs %>

                <div class="sub-container">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="cityPicker"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="officePicker"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="storePicker"></div>
                        </div>
                    </div>

                    <div id="citiesList" style="display: none"><%- citiesOfficesStores %></div>
                    <div class="row" style="padding:15px;">
                        <div class="form-group date-picker pull-right">
                            <div class="input-group">
                            <span style="display:inline-block;padding-right:10px;font-weight:700;vertical-align:middle">Insights for:</span>
                                <input type="text" id="snapDatePicker" value="" style="display:inline"/>
                            </div>
                        </div>  
                    </div>       
                    <section class="section--box">
                        <div class="express--stats">
                            
                            <h3 class="section--title section--caption">Total Sales</h3>
                            <div id="salesSnapContainer"></div>

                            <div class="loading--box" id="salesSnapLoading">
                                <div class="loading--body">
                                    <p class="loading--text">Loading...</p>
                                    <img src="/images/express/loading.svg" alt="">
                                </div>
                            </div>


                            <div class="menu__container__error" id="salesSnapError" style="display: none;">
                                <img src="/images/express/table-error-icon.svg" alt="">
                                <h4>Data failed to load</h4>
                            </div>
                        </div>


                    </section>

                    <section class="section--box section--white">
                        <div class="form-group date-picker pull-right" style="display:none">
                            <div class="input-group">
                                <input type="text" id="salesAmtDatePicker" value=""/>
                            </div>
                        </div>
                        <h3 class="section--title">Sale Amount & No. of Transactions</h3>

                        <div class="graphBarLoading" id="transactionGraphLoading">
                            <img class="graphBarLoading__img" src="/images/express/graph-loading.svg" alt="">
                            <div class="loading--box">
                                <div class="loading--body">
                                    <p class="loading--text">Loading...</p>
                                    <img src="/images/express/loading.svg" alt="">
                                </div>
                            </div>
                        </div>


                        <div class="express--charts" id="transactionGraph"></div>
                        <div id="transactionsTable"></div>
                    </section>

                    <section class="section--box section--white">
                        <div class="form-group date-picker pull-right" >
                            <div class="input-group">
                                <input type="text" id="footfallDatePicker" value=""/>
                            </div>
                        </div>
                        <h2 class="section--title">Hourly Customer Footfall</h2>
                        <p class="section--subtitle section--subtitle-footfall"><img src="/images/express/clock.svg" alt="">Peak Hours: <span class="time">9AM - 9PM</span></p>

                        <br>
                        <div class="graphBarLoading" id="footfallGraphLoading">
                            <img class="graphBarLoading__img" src="/images/express/graph-loading.svg" alt="">
                            <div class="loading--box">
                                <div class="loading--body">
                                    <p class="loading--text">Loading...</p>
                                    <img src="/images/express/loading.svg" alt="">
                                </div>
                            </div>
                        </div>

                        <div id="footfallGraph"></div>
                    </section>

                </div>
            </div>
            <!-- Inner container End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<% include ../../common/html-script %>

<script type="text/javascript" src="/lib/google-charts/chart.js"></script>
<script type="text/javascript" src="/lib/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/lib/moment/moment.js"></script>
<script type="text/javascript" src="/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/dist/scripts/vendorSales.js"></script>


<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>

</html>
