<tr data-orderid="<%- superCardOrderid %>" class="orders-row numbers-font">
    <td>
        <%- superCardOrderid%>
    </td>
    <td style="min-width:124px;">
        <%- date %>
    </td>
    <td>
        <%- referenceName %>
    </td>
    <td>
        <%- cardType %>
    </td>
    <td style="text-align: right;">
        <%- numberOfCards %>
    </td>
    <td style="text-align: right;">
        <%- totalAmount %>
    </td>
    <td>
        <% if(status.toLowerCase() === "completed") { %>
        <span class="instagift_status_completed text-capitalize">
            <%- status.toLowerCase() %>
        </span>
        <% } %>
        <% if(status.toLowerCase() === "failed") { %>
        <span class="instagift_status_stalled text-capitalize">
            <%- status.toLowerCase() %>
        </span>

        <% } %>
        <% if(status.toLowerCase() === "initiated") { %>
        <span class="instagift_status_processing text-capitalize">
            <%- status.toLowerCase() %>
        </span>

        <% } %>
        <% if(status.toLowerCase() === "processing") { %>
        <span class="instagift_status_processing text-capitalize">
            <%- status.toLowerCase() %>
        </span>

        <% } %>
        <% if(status.toLowerCase() === "pending") { %>
        <span class="instagift_status_processing text-capitalize">
            <%- status.toLowerCase() %>
        </span>

        <% } %>

    </td>

    <td class="file-url">

        <% if(status.toLowerCase() === "completed") { %>
        <a href="javascript:void(0)" class="tooltip-title tooltip-cursor-pointer">
            <img class="download-icon downloadpdfinvoice" data-spotlighttype="<%- cardType %>"
                data-orderid="<%- superCardOrderid%>" data-from="cardorder"
                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/invoice-icon.png"
                alt="Download Invoice">
            <span class="tooltip-view">
                <!-- Tooltip Content  -->
                <div class="tooltip-lrtb-pd">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">Download Invoice</div>
                    </div>
                </div>
                <!-- Tooltip Content End -->
            </span>
        </a>
        <% } else { %>
        N/A
        <% }%>
    </td>


</tr>