<tr data-orderid="<%- superCardID %>" class="orders-row numbers-font">
    <td>
        <a href="cardorder/order/<%- superCardID%>/view/cardDetails/" style="color:  #000;text-decoration:  underline;">
            <%- superCardID%>
            <a />
    </td>
    <td style="min-width:130px;">
        <%- maskedCardNumber %>
    </td>
    <td>
        <%- embossingText1 %>
    </td>
    <td>
        <%- type %>
    </td>
    <td>
        <%- name %>
    </td>
    <td>
        <% if(status.toLowerCase() === "active") { %>
        <span class="instagift_status_completed text-capitalize">
            <%- status.toLowerCase() %>
        </span>
        <% } %>
        <% if(status.toLowerCase() === "enabled") { %>
        <span class="instagift_status_stalled text-capitalize">
            Active
        </span>

        <% } %>
        <% if(status.toLowerCase() === "inactive") { %>
        <span class="instagift_status_stalled text-capitalize">
            Inactive
        </span>

        <% } %>
        <% if(status.toLowerCase() === "blocked") { %>
        <span class="instagift_status_stalled text-capitalize">
            Closed
        </span>

        <% } %>
        <% if(status.toLowerCase() === "disabled") { %>
        <span class="instagift_status_stalled text-capitalize">
            Paused
        </span>

        <% } %>
        <% if(status.toLowerCase() === "pending") { %>
        <span class="instagift_status_processing text-capitalize">
            <%- status.toLowerCase() %>
        </span>

        <% } %>
        <% if(status.toLowerCase() === "processing") { %>
        <span class="instagift_status_processing text-capitalize">
            <%- status.toLowerCase() %>
        </span>

        <% } %>


    </td>



    <td colspan="3" class="position-dropdown">
        <!-- Popover -->
        <% if(status.toLowerCase() != "blocked" ) { %>
        <% if(status.toLowerCase() != "pending" ) { %>
        <div class="popover-content">
            <span data-container="body" data-toggle="popover" data-placement="bottom"
                data-content="Edit Program Settings">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
            </span>
        </div>
        <!-- Popover End -->
        <!-- Dropdown -->
        <div class="dropdown-log">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="" data-toggle="dropdown"><span><img
                                src="/images/vertical_dot_icon.png"></span></a>
                    <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown" style="width:220px;">
                        <!-- <li><a href='cardorder/order/<%- superCardID%>/view/cardDetails/'>View
                                Order Details</a></li> -->
                        <% if(status.toLowerCase() == "inactive") { %>
                        <li><a class="cardAction" data-type="<%-type%>" data-email="<%-email%>"
                                data-superCardID="<%- superCardID %>" data-action="ACTIVATE"
                                href="javascript:void(0)"><img
                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/active.svg"
                                    style="padding-right:5px;" />Active
                                Card</a> </li>
                        <% } %>
                        <li><a href="javascript:void(0)" data-type="<%-type%>" class="cardAction"
                                data-email="<%-email%>" data-superCardID="<%- superCardID %>" data-action="BLOCK"><img
                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/close.svg"
                                    style="padding-right:5px;" />Close
                                Card</a></li>
                        <% if(status.toLowerCase() == "active") { %>
                        <li><a class="cardAction" data-type="<%-type%>" data-email="<%-email%>"
                                data-superCardID="<%- superCardID %>" data-action="PAUSE" href="javascript:void(0)"><img
                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/pausereal.svg"
                                    style="padding-right:5px;" />Pause
                                Card</a></li>
                        <% } %>
                        <% if(status.toLowerCase() == "disabled") { %>
                        <li><a class="cardAction" data-type="<%-type%>" data-email="<%-email%>"
                                data-superCardID="<%- superCardID %>" data-action="RESUME"
                                href="javascript:void(0)"><img
                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/pause.svg"
                                    style="padding-right:5px;" />Un-pause
                                Card</a></li>
                        <% } %>

                        <li><a class="cardAction" data-type="<%-type%>" data-email="<%-email%>"
                                data-superCardID="<%- superCardID %>" data-action="RESET_PIN"
                                href="javascript:void(0)"><img
                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/reset.svg"
                                    style="padding-right:5px;" />Reset
                                PIN</a></li>


                        <li><a class="cardAction" data-type="<%-type%>" data-email="<%-email%>"
                                data-superCardID="<%- superCardID %>" data-action="REISSUANCE"
                                href="javascript:void(0)"><img
                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/resetpin.svg"
                                    style="padding-right:5px;" />Request
                                Replacement</a></li>

                    </ul>
                </li>
            </ul>

        </div>
        <% } %>
        <% } %>
        <!-- Dropdown End -->
    </td>
</tr>