<div class="chart-section clearfix">
    <div class="status-details">
        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/expense/pending-transferred.svg" alt="Pending Icon">
        <div class="amount">
            <span class="amount-val"><span class="ruppee">₹</span> <%- pending.amount %></span></span>
            <span class="status-type">Pending Approval (<%- pending.count %>)</span>
        </div>
    </div>
    <div class="status-details">
        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/expense/approved-transferred.svg" alt="Approved icon">
        <div class="amount">
            <span class="amount-val"><span class="ruppee">₹</span> <%- approved.amount %></span>
            <span class="status-type">Approved (<%- approved.count %>)</span>
        </div>
    </div>
    <div class="status-details">
        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/expense/decline-transferred.svg" alt="Decline icon">
        <div class="amount">
            <span class="amount-val"><span class="ruppee">₹</span> <%- declined.amount %></span></span>
            <span class="status-type">Declined (<%- declined.count %>)</span>
        </div>
    </div>
</div>
