.banner-background {
    position: relative;
    overflow: hidden;
    @include gradient($color-magenta, $color-purple, horizontal);
    .anim-container {
        position: absolute;
        right: 0px;
        width: 50%;

        ul {
            height: 200px;
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                position: absolute;
                width: 100%;
                height: 200px;
                animation: blurIntro 3s;

                div {
                    position: absolute;
                    border-radius: 50%;
                    opacity: 0.6;
                }
            }
        }

        @keyframes blurIntro {
            0% {
                filter: blur(500px);
            }

            100% {
                filter: blur(0px);
            }
        }

        @keyframes blink {
            50% {
                opacity: 0.4;
            }
        }

        .front {
            div {
                &:nth-child(1) {
                    width: 150px;
                    height: 150px;
                    background: #21a343;
                    top: 10%;
                    left: 40%;
                    animation: blink 5s infinite 0.5s;
                }

                &:nth-child(2) {
                    width: 140px;
                    height: 140px;
                    background: #21a343;
                    top: 50%;
                    left: 80%;
                    animation: blink 5s infinite 2s;
                }

                &:nth-child(3) {
                    width: 130px;
                    height: 130px;
                    background: #21a343;
                    top: 30%;
                    left: 10%;
                    animation: blink 5s infinite 1s;
                }
            }
        }

        .second {
            div {
                &:nth-child(1) {
                    width: 110px;
                    height: 110px;
                    background: #21a343;
                    top: 60%;
                    left: 40%;
                    animation: blink 5s infinite 0.3s;
                }

                &:nth-child(2) {
                    width: 100px;
                    height: 100px;
                    background: #21a343;
                    top: 80%;
                    left: 60%;
                    animation: blink 5s infinite 1.2s;
                }

                &:nth-child(3) {
                    width: 90px;
                    height: 90px;
                    background: #21a343;
                    top: 90%;
                    left: 20%;
                    animation: blink 5s infinite 1.4s;
                }
            }
        }

        .third {
            div {
                &:nth-child(1) {
                    width: 80px;
                    height: 80px;
                    background: #21a343;
                    top: 25%;
                    left: 18%;
                    animation: blink 5s infinite 0.8s;
                }

                &:nth-child(2) {
                    width: 70px;
                    height: 70px;
                    background: #21a343;
                    top: 75%;
                    left: 35%;
                    animation: blink 5s infinite 1.6s;
                }

                &:nth-child(3) {
                    width: 60px;
                    height: 60px;
                    background: #21a343;
                    top: 10%;
                    left: 80%;
                    animation: blink 5s infinite 1s;
                }
            }
        }

        .forth {
            div {
                &:nth-child(1) {
                    width: 55px;
                    height: 55px;
                    background: #21a343;
                    top: 45%;
                    left: 68%;
                    animation: blink 5s infinite 0.4s;
                }

                &:nth-child(2) {
                    width: 65px;
                    height: 65px;
                    background: #21a343;
                    top: 77%;
                    left: 25%;
                    animation: blink 5s infinite 0.9s;
                }

                &:nth-child(3) {
                    width: 75px;
                    height: 75px;
                    background: #21a343;
                    top: 94%;
                    left: 40%;
                    animation: blink 5s infinite 1.6s;
                }
            }
        }

        .fifth {
            div {
                &:nth-child(1) {
                    width: 30px;
                    height: 30px;
                    background: #21a343;
                    top: 90%;
                    left: 28%;
                    animation: blink 5s infinite 0.4s;
                }

                &:nth-child(2) {
                    width: 20px;
                    height: 20px;
                    background: #21a343;
                    top: 57%;
                    left: 55%;
                    animation: blink 5s infinite 0.9s;
                }

                &:nth-child(3) {
                    width: 35px;
                    height: 35px;
                    background: #21a343;
                    top: 24%;
                    left: 70%;
                    animation: blink 5s infinite 0.2s;
                }

                &:nth-child(4) {
                    width: 35px;
                    height: 35px;
                    background: #21a343;
                    top: 1%;
                    left: 25%;
                    animation: blink 5s infinite 1s;
                }

                &:nth-child(5) {
                    width: 35px;
                    height: 35px;
                    background: #21a343;
                    top: 0%;
                    left: 0%;
                    animation: blink 5s infinite 0.6s;
                }
            }
        }
    }
}

.loading-content td {
    height: 14px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05) 100%);
    background-size: 500% 100%;
    animation: loadGradient 1.5s linear infinite normal;
    border: 10px solid #FFFFFF;
}

@keyframes loadGradient {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}