.banner-section {
  @include gradient(#c7006c, #623bff, horizontal);
  padding: $banner-padding-top $banner-padding-right $banner-padding-bottom $banner-padding-left;

  .page-heading {
    h1 {
      color: $color-white;
      padding-bottom: 10px;
    }
  }

  p {
    font-size: $font-size-regular;
    color: $color-white;
    filter: alpha(opacity=70);
    font-weight: $font-weight-light;
    width: 650px;
    opacity: 1;
  }

  &.express-banner {
    @include gradient(#623bff, #f517a8, horizontal);
    //background-image: linear-gradient(271deg, #f517a8, #623bff);
    //background: url(/images/express/express-banner.png);

    //.page-heading
    //{
    //  margin-top: 28px;
    //}
  }
}

.banner-new-section {
  background-color: $color-red;

  .banner-new-section--margin {
    margin-left: 30px;
  }

  img {
    height: 12px;
  }

  .banner-new-section__imp-text {
    color: #f2f2f2;
    font-size: $font-size-small;
    line-height: 30px;
  }

  .banner-new-section__btn {
    background-color: #ca4334;

    .banner-new-section__btn-text {
      color: $color-white;
      font-size: $font-size-small;
      line-height: 30px;
    }
  }
}

.learn-more-size {
  font-size: $font-size-regular !important;
}

.para-lead {
  font-size: $font-size-regular;
  color: $color-white;
  filter: alpha(opacity=50);
  font-weight: $font-weight-light;
  width: 650px !important; // .para-lead-text {
  //     opacity: 0.7;
  // }
}

p {
  margin: 0px;
}

// Gradient Green
.gradient-green {
  @include gradient(#21a343, #9dcd2b, horizontal);
}

.gradient-blue {
  @include gradient(#4a90e2, #623bff, horizontal);
}

// Indigo Blue
.gradient-indigo-blue {
  @include gradient(#7b45dc, #4a90e2, horizontal);
}

// Indigo Blue Reverse
.gradient-indigo-blue-reverse {
  @include gradient(#4a90e2, #623bff, horizontal);
}

// Red Violet
.gradient-red-violet {
  @include gradient(#eb3b8c, #633ea5, horizontal);
}

// Red Violet reverse
.gradient-red-violet-reverse {
  @include gradient(#633ea5, #eb3b8c, horizontal);
}

.spotlight-virtual-order-gradient {
  @include gradient(#9F58D1, #8E5BE3, vertical);
  //background-image: linear-gradient(to bottom, #f549b9, #7654ff);
}

// Royal blue sodexo
.royal-blue-sodexo {
  @include gradient(#273895, #273895, horizontal);
}

.height-sm {
  height: $banner-hieght-sm;
}

.height-lg {
  height: $banner-hieght-lg;
}

.height-md {
  height: $banner-hieght-md;
}

.link {
  font-size: $font-size-small;
  color: $color-white;
  text-decoration: underline;
  letter-spacing: 0.8px;

  &:hover {
    text-decoration: none;
    color: $color-white;
  }
}

.learn-more-link {
  font-size: $font-size-small;
  color: $color-white;
  opacity: 1; //letter-spacing: 0.8px;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: $color-white;
  }

  &:active,
  &:focus {
    color: $color-white;
    text-decoration: underline;
  }
}

// Type 1
a.download-link {
  font-size: $font-size-small;
  color: $color-white;
  text-decoration: underline;
  position: relative;
  top: -6px;
  padding-left: 20px;
  letter-spacing: 0.8px;

  &:hover {
    text-decoration: none;
  }

  img {
    margin-right: 6px;
  }
}

// Type 2
a.download-linkBlock {
  font-size: $font-size-small;
  color: $color-mirage-block;
  text-decoration: underline;
  position: relative;
  top: -6px;
  padding-left: 20px;

  &:hover {
    text-decoration: none;
  }

  img {
    margin-right: 6px;
  }
}

// User Profile
.user-profile-container {
  position: relative;
  display: table;

  div {
    color: $color-white;
  }

  .profile-img-cell {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;

    img {
      margin-top: 10px;
      width: 70px;
      height: 70px;
      @include border-radius(50%);
    }
  }

  .profile-name-cell {
    display: table-cell;
    vertical-align: middle;

    .profile-heading {
      font-size: $font-size-x-large;
      text-transform: capitalize;
    }

    .profile-subHeading {
      font-weight: normal;
    }
  }
}

// User Profile List
.user-profile-list {
  position: relative;
  display: table;
  float: right;
  margin-left: 30%;
  top: -20px;
  left: 20px;

  .user-list-column {
    display: table-cell;

    li {
      filter: alpha(opacity=70);
      font-size: 15px;
      line-height: 30px;

      small {
        font-size: 100% !important;
      }
    }

    .label-details {
      font-size: 15px;
      line-height: 30px;
      opacity: 1;
      color: $color-white;

      small {
        font-size: 100% !important;
      }
    }

    li .all-emails {
      line-height: 10px;
      padding-bottom: 10px;
      margin-top: -20px;
    }

    .all-emails--verify {
      @extend .all-emails;
      margin-top: -31px;
    }

    // span {
    //     background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/employee_individual_list.png");
    //     background-repeat: no-repeat;
    //     width: 23px;
    //     height: 19px;
    //     display: inline-block;
    //     text-indent: -9999em;
    //     overflow: hidden;
    //     position: relative;
    //     top: 5px;
    //     margin-right: 7px;
    //     &.list-one {
    //         background-position: -33px 1px;
    //     } // Hover
    //     &.list-two {
    //         background-position: -5px -21px;
    //         opacity: 1;
    //         filter: alpha(opacity=100);
    //     }
    //     &.list-three {
    //         background-position: -32px -21px;
    //     } // Hover
    //     &.list-four {
    //         background-position: -5px -48px;
    //     }
    //     &.list-five {
    //         background-position: -6px -2px;
    //     }
    // }
    span.schedule-date {
      background-image: url("/images/schedule-date-icon.png");
      background-size: 14px;

      &.list-two {
        background-position: 0 0;
      }
    }

    span.purchase-order {
      background-image: url("/images/purchase-order-icon.png");
      background-size: 16px;

      &.list-two {
        background-position: 0 0;
      }
    }

    .label-verified,
    .label-verified-supercard {
      background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/checkGreen.png");
      display: inline-block;
      background-size: 50%;
      background-repeat: no-repeat;
      width: 25px;
      height: 20px;
      right: 3px;
      background-position: 4px 0px;
    }

    .tooltip-view-employee-details {
      text-indent: 0px;
    }

    .label-verified-supercard {
      margin-left: 10px;
    }

    .label-not-verified,
    .label-not-verified-supercard {
      background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/crossGreyDark.svg");
      display: inline-block;
      background-size: 50%;
      background-repeat: no-repeat;
      width: 19px;
      height: 14px;
      margin-left: 2px;
    }

    .label-not-verified-supercard {
      margin-left: 10px;
    }
  }
}

.user-discription-column {
  display: table-cell;
  padding-left: 10px;

  li {
    color: $color-white;
    line-height: 30px;
    font-size: 15px;

    small {
      font-size: 100% !important;
    }
  }
}

.heading-right-section-block {
  float: right;
  width: 100%;

  .status {
    height: 30px;
  }

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

// User Profile List Old
// .user-profile-list{
//   position: relative;
//   display: table;
//
//   .user-list-column{
//     display: table-cell;
//
//         li{
//           color:$color-white;
//           opacity: 0.5;
//           filter: alpha(opacity=50);
//           font-size: 15px;
//           line-height: 30px;
//
//           small{
//             font-size: 100% !important;
//           }
//         }
//
//         span{
//           background-image:url('https://card-program-files.s3.amazonaws.com/hrDashboard/images/sprite_user_profile.png');
//           background-repeat: no-repeat;
//           width: 23px;
//           height: 19px;
//           display:inline-block;
//           text-indent: -9999em;
//           overflow: hidden;
//           position: relative;
//           top:8px;
//           margin-right:7px;
//
//           &.dropdown-list-one{
//             background-position: -5px 4px;
//           }
//           // Hover
//           &.dropdown-list-one:hover{
//             background-position: -5px -17px;
//             opacity: 1;
//             filter:alpha(opacity=100);
//           }
//
//           &.dropdown-list-two{
//             background-position: -5px -40px;
//           }
//           // Hover
//           &.dropdown-list-two:hover{
//             background-position: -5px -62px;
//           }
//         }
//   }
//   .user-discription-column{
//     display: table-cell;
//     padding-left:10px;
//
//     li{
//       color:$color-white;
//       line-height: 30px;
//       font-size: 15px;
//
//       small{
//         font-size: 100% !important;
//       }
//     }
//   }
// }
.list-unstyled .label-details {
  display: inline-block;
  float: left;
  width: 49%;
}

.list-unstyled .employee-label {
  display: inline-block;
  color: $color-white;
  float: left;
}

.user-profile-list .user-list-column li .label-details {
  opacity: 1;
  color: $color-white;
  margin-left: 175px;
  margin-top: -31px;
}