.bill-carousel {
  .carousel-indicators {
    bottom: -40px;
    max-height: 16px;
    overflow: scroll;

    li {
      background-color: #d8d8d8;
      border-color: #d8d8d8;
      height: 10px;
      width: 10px;
      margin: 0;

      &.active {
        background-color: #4a4a4a;
        border-color: #4a4a4a;
      }
    }
  }

  // .zoom {
  //    -webkit-transition: all .3s ease-out;
  //    -moz-transition: all .3s ease-out;
  //    -o-transition: all .3s ease-out;
  //    transition: all .3s ease-out;
  // }
  // .zoom:hover {
  //    -moz-transform: scale(2);
  //    -webkit-transform: scale(2);
  //    -o-transform: scale(2);
  //    transform: scale(2);
  //    -ms-transform: scale(2);
  // filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
  //    M11=2, M12=-0, M21=0, M22=2);
  // z-index:1000;
  //    }
  .carousel-control {
    background-image: none;

    .glyphicon {
      width: 28px;
      height: 28px;
      position: absolute;
      top: 50%;
      margin-top: -14px;
      background-image: url(/images/carousal-arrow.svg);
      background-color: black;
      border-radius: 100%;
      border: 1px solid #000;
    }

    &.left {
      .glyphicon {
        transform: rotate(180deg);
        left: 3px;
      }
    }

    &.right {
      .glyphicon {
        right: 3px;
      }
    }
  }
}