.breadcrumb {
    background-color: transparent;
    padding-left: $padding-left-zero;
    padding-right: $padding-right-zero;
    margin-bottom: 0px;
    padding: 0px;
    li {
        a {
            color: $color-white;
            filter: alpha(opacity=70);
            &:hover,
            &.active {
                text-decoration: underline;
                cursor: pointer;
                color: $breadcrumb-hover-color;
                opacity: 1;
                filter: alpha(opacity=100);
            }
        }
    }
}

.breadcrumb>li+li:before {
    background-image: url("../images/breadcrum_arrows.svg");
    background-repeat: no-repeat;
    content: "";
    width: 6.9px;
    height: 11px;
    position: relative;
    top: 1px;
    left: 5px;
    padding-right: 10px;
    
}
.breadcrumb>li{
    display: inline;
    
}