// Medium Button
.medium-button {
    button {
        width: $medium-button-width;
        height: $medium-button-height;
        text-align: center;
        background-color: $medium-button-bgcolor;
        border: 1px solid $medium-button-border-color;
        @include border-radius(3px);
        color: $button-text-color;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            color: $button-text-color;
            outline: none;
            border: 1px solid $medium-button-border-color;
        }
    }
}

// X Medium Button
.x-medium-button {
    button {
        width: $x-medium-button-width;
        height: $x-small-button-height;
        text-align: center;
        background-color: $color-orange;
        @include border-radius(2px);
        color: $color-white;
        font-size: $font-size-small;
        font-weight: $font-weight-thin-bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 0px solid;
        min-width:130px;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            color: $color-white;
            outline: none;
            border: 0px solid;
            background-color: #FFCB39; //$button-hover-bgcolor
            transition: background-color 0.5s ease;
        }
        strong {
            font-size: $font-size-xx-small;
            padding-right: 3px;
        }
    }
    a {
        width: $x-medium-button-width;
        height: $x-small-button-height;
        text-align: center;
        background-color: $color-orange;
        @include border-radius(2px);
        color: $color-white;
        font-size: $font-size-small;
        font-weight: $font-weight-thin-bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 0px solid;
        line-height: 25px;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            color: $color-white;
            outline: none;
            border: 0px solid;
            background-color: #FFCB39; //$button-hover-bgcolor
            transition: background-color 0.5s ease;
        }
        strong {
            font-size: $font-size-xx-small;
            padding-right: 3px;
        }
    }
}

// Large Button
.large-button {
    button {
        width: $large-button-width;
        height: $large-button-height;
        text-align: center;
        background-color: transparent;
        border: 1px solid $large-button-border-color;
        @include border-radius(2px);
        color: $large-button-text-color;
        font-size: $font-size-small;
        font-weight: $font-weight-thin-bold;
        letter-spacing: 1px;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            color: $large-button-text-color;
            outline: none;
            border: 1px solid $large-button-text-color; // background-color:$button-hover-bgcolor;
        }
        strong {
            font-size: $font-size-xx-small;
            padding-right: 3px;
        }
    }
    .btn-bg-color {
        background-color: $color-orange;
        border: 0px solid !important;
        color: $color-white !important;
        &:hover {
            background-color: #FFCB39;
            transition: background-color 0.5s ease;
        }
    }
}

// Large Button
.large-small-button {
    button {
        width: $large-small-button-width;
        height: $large-small-button-height;
        text-align: center;
        background-color: transparent;
        border: 1px solid $large-button-border-color;
        @include border-radius(2px);
        color: $color-mirage-block-less;
        opacity: 0.7;
        font-size: $font-size-small;
        font-weight: $font-weight-thin-bold;
        letter-spacing: 1px;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            color: $large-button-text-color;
            outline: none;
            border: 1px solid $large-button-text-color;
            background-color: transparent;
            transition: border 0.5s ease;
        }
        strong {
            font-size: $font-size-xx-small;
            padding-right: 3px;
        }
    }
    .btn-bg-color {
        background-color: $color-orange;
        border: 0px solid !important;
        color: $color-white !important;
    }
}

// Upload button
.upload-button {
    width: $large-small-button-width;
    height: $large-small-button-height;
    line-height: $large-small-button-height;
    text-align: center;
    background-color: #ffbc00; //transparent
    @include border-radius(2px);
    color: #ffffff; //$large-button-text-color
    font-size: $font-size-small;
    font-weight: $font-weight-thin-bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: $color-white;
        outline: none;
        border: 0px solid;
        background-color: #FFCB39; //$button-hover-bgcolor
        transition: background-color 0.5s ease;
    }
    strong {
        font-size: $font-size-xx-small;
        padding-right: 3px;
    }
}

// Small Button
.small-button {
    button {
        width: $small-button-width;
        height: $small-button-height;
        text-align: center;
        background-color: $color-orange;
        @include border-radius(2px);
        color: $color-white;
        font-size: $font-size-small;
        font-weight: $font-weight-thin-bold;
        letter-spacing: 1px;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            color: $color-white;
            outline: none;
            border: 0px solid;
            background-color: $button-hover-bgcolor;
            transition-duration: 4ms;
        }
    }
}

// Flexible Button
.flexible-button {
    button,
    a {
        width: 100%;
        height: $x-small-button-height;
        text-align: center;
        background-color: $color-orange;
        @include border-radius(2px);
        color: $color-white;
        font-size: $font-size-small;
        font-weight: $font-weight-thin-bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 0px solid;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            color: $color-white;
            outline: none;
            border: 0px solid;
            background-color: #FFCB39; //$button-hover-bgcolor
            transition: background-color 0.5s ease;
        }
        &.load-more {
            border: solid 1px $color-zircon-gray;
            background: transparent;
            color: #8c8793;
            &:hover,
            &:focus,
            &:active,
            &:visited {
                color: #8c8793;
                outline: none;
                border: solid 1px $color-zircon-gray;
                background-color: transparent;
            }
        }
    }
    .approved {
        background-color: $color-green;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            background-color: $color-green;
        }
    }
    .decline {
        background-color: $orange-darker-color;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            background-color: $orange-darker-color;
        }
    }
    .revoke-btn{        
        &.cancel{
            width: 48%;
            border: 1px solid #ffbc00;
            color: #ffbc00;
            background: #ffffff;
        }
        &.reissue{            
            width: 49%;            
            color: #000000;            
        }
    }
    a {
        line-height: 35px;
    }
    .submit-btn-disabled {
        background: #ddd;
        color: #7B7682;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            background-color: #ddd;
            color: #7B7682;
        }
    }
    .create-program-loader{
        display: none;
        position: absolute;
        animation:spin 1s linear infinite;
        top: 15px;
        right: 50px;
    }
}

.cancel-order {
    button {
        width: 40%;
        display: inline-block;
        margin: 0px 2%;
    }
}