.cards-container {
  box-shadow: 0 1px 3px 0 rgba(20, 12, 33, 0.08); //0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: none;
  padding: $padding-tblr-zero;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  &.cards-height {
    min-height: 250px;
  } // &.active-cards-height {
  //     min-height: 360px;
  // }
  .benefit-card__tag {
    background-color: #eb5946;
    width: auto;
    height: 20px;
    position: absolute;
    margin-top: 3%;
    margin-left: -2%;
    color: $color-white;
    .benefit-card__tag--pd {
      padding: 10px;
    }
  }
  .benefit-card__tag:after {
    position: absolute;
    content: "";
    top: -8px;
    right: 90%;
    border-top: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 9px solid #c84837;
    border-left: 20px solid transparent;
  }
  .card-image-part {
    color: $card-top-bgcolor;
    img {
      height: $card-thumbnail-height;
      width: $card-thumbnail-width;
      margin: 12px auto;
      @include border-radius(4px);
    }
  }
  .card-text-part {
    background-color: $card-bottom-bgcolor;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: $padding-top-zero;
    border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -o-border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -ms-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -o-border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -ms-border-bottom-right-radius: 4px;
    h3 {
      font-size: 14px;
      color: $sub-heading-color;
      margin: 0; // padding-bottom: 14px;
      font-weight: bold;
      line-height: 20px;
    }
    .admin-heading-txt {
      font-size: 18px;
      color: $sub-heading-color;
      margin: 0; // padding-bottom: 14px;
      font-weight: bold;
      line-height: 20px;
    }
    p {
      margin: 0px;
      line-height: 19px;
      margin-top: 10px;
    }
    .ellipsis-for-active-cards {
      .ellipsis {
        display: block;
        line-height: initial;
      }
      .ellipsis .inner {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        transition: text-indent linear 3.0s;
        span {
          color: $sub-heading-color;
          opacity: 0.7;
          filter: alpha(opacity=70);
          font-size: 14px;
          line-height: 20px;
          &.medium-green {
            color: $color-medium-green;
            padding-top: 6px;
            padding-bottom: 10px;
            font-weight: 600;
          }
          &.medium-green.program-status {
            padding-top: 0;
            margin-bottom: 10px !important;
          }
        }
        &.card-name {
          display: block;
          font-size: 14px;
          color: #190f27;
          margin: 0;
          font-weight: 700;
          line-height: 20px;
          span {
            opacity: 1;
          }
        }
      }
    }
    .bulk-card-action-btn {
      margin-top: 20px;
    }
    .medium-green {
      margin-bottom: 0 !important;
    }
    .orange-darker {
      color: $orange-darker-color;
      opacity: 1;
    }
  }
  &:hover {
    box-shadow: 0 3px 6px 1px rgba(20, 11, 32, 0.25); // 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    cursor: pointer;
  }
}

.meal-card-bg {
  @include gradient($meal-left-color, $meal-right-color, horizontal);
}

.medical-card-bg {
  @include gradient($medical-left-color, $medical-right-color, horizontal);
}

.fuel-card-bg {
  @include gradient($fuel-left-color, $fuel-right-color, horizontal);
}

.gift-card-bg {
  @include gradient($gift-left-color, $gift-right-color, horizontal);
}

@media screen and (min-width: 992px) {
  .sub-card {
    .col-md-2 {
      width: 19.66666667%;
    }
  }
}
