.count-details {
    .font-size-large {
        font-size: $font-size-medium-large;
    }

    .media-left {
        vertical-align: middle;
    }

    .media-body {
        vertical-align: middle;
    }
}

.bdr-count-right {
    border-left: 1px solid $media-box-border-color;
    text-align: right;
    line-height: 36px;
}

.count-width {
    width: 110px;
}

// Employee Count
.count-name {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    @include border-radius(4px);

    border: solid 1px $white-smoke;
    width: 240px;
    padding: 30px 30px 20px 30px;
    background-color: $color-white;
}