.date-picker {
    // width: $date-picker-width;
    &.date-picker--width {
        width: 193px;
        display: inline-block;
    }
    &.date-picker--margin {
        margin-left: 25px;
    }
    .date-picker__label {
        font-size: 14px;
        opacity: 1;
        padding-bottom: 0px;
    }
    label {
        font-size: 13px;
        color: $color-mirage-block;
        filter: alpha(opacity=70);
        font-weight: normal;
        padding-bottom: 3px;
    }
    .date-picker__input--bg-color {
        background-color: $color-alabaster;
    }
    input[type="text"] {
        height: 34px;
        &.date-picker__input--width {
            width: 193px;
        }
        @include border-radius(2px);
        color: $default-text-color; 
        font-size: $font-size-small;
        padding: 6px 12px;
        border-color: $border-color-input-field;
        box-shadow: 0 0 0;
        background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-calendar-60.png);
        background-repeat: no-repeat;
        background-position: 96% 9px;
        padding-right: 35px;
       // width: $date-picker-width;
        width: 245px;
    }
    .icon-transparent {
        background: white !important;
        border-color: $border-color-input-field;
        padding: 5px 12px;
        @include border-radius(2px);
    }
}

// Date Picker Extra Large
.date-picker-xlg {
    width: $date-picker-width;
    label {
        font-size: $font-size-regular;
        color: $color-mirage-block;
        opacity: 1;
        filter: alpha(opacity=100);
        font-weight: normal;
    }
    input[type="text"] {
        height: 45px;
        @include border-radius(2px);
        color: $default-text-color;
        font-size: $font-size-small;
        padding: 6px 12px;
        border-color: $border-color-input-field;
        box-shadow: 0 0 0;
        background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-calendar-60.png);
        background-repeat: no-repeat;
        background-position: 96% 15px;
        padding-right: 35px;
        width: 418px;
    }
    .icon-transparent {
        background: white !important;
        border-color: $border-color-input-field;
        padding: 5px 12px;
        @include border-radius(2px);
    }
}