// Custom Scroll Bar
.sidebar-dropdown::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    display: none;
}

.sidebar-dropdown::-webkit-scrollbar-track {
    background: $color-white;
    // margin-top: 59px;
}

.sidebar-dropdown::-webkit-scrollbar-thumb {
    background: $border-line;
    @include border-radius(0px);
}

.dropdown-list-item {
    position: relative;
    min-width: 162px;
    max-width: 500px;
    top: -4px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    a {
        display: block;
        text-decoration: none;
        color: #FFFFFF;
        padding: 2px 30px 8px 10px; // width: 272px;
    }
    strong {
        font-size: 12px;
        font-weight: 600;
    }
    .arrow-dropdown-right {
        right: 0px;
    }
    .dropdown-select-list {
        max-height: 300px;
        overflow: scroll;
        right: 0px;
        left: 0px;
        overflow-x: auto;
        width: 300px;
        z-index: 1;
    }
}
.trans-history-label {
    text-align: left;
}     

ul.sidebar-dropdown {
    left: 10px !important;
    min-width: 298px; // top: 55px;
    border: 1px solid #fff;
    overflow-y: auto;
    max-height: 279px;
    .scroll-section {
        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }
        &::-webkit-scrollbar-track {
            background: $color-white;
        }
        &::-webkit-scrollbar-thumb {
            background: $border-line;
            @include border-radius(2px);
        }
    }
    li {
        a {
            // background-color: $dropdown-bgcolor !important;
            color: $dropdown-text-color !important;
            display: inline-block;
            opacity: 1;
            &:hover,
            &:focus,
            &:active {
                background-color: $dropdown-hover !important;
            }
        }
        &:last-child {
            border-bottom: none !important;
        }
    }
}

.image-text-container {
    display: table;
    .column-image {
        display: inline-block;
        vertical-align: middle;
        img {
            padding: 0 10px 0 0;
            max-width: 100%;
            height: 40px;
            @include border-radius(2px);
        }
    }
    .column-text {
        display: inline-block;
        width: 200px;
        vertical-align: middle;
        div {
            font-size: $font-size-small;
            color: $color-dove-gray; // line-height: 20px;
            strong {
                font-size: $font-size-x-small;
                color: $dropdown-text-color;
            }
        }
    }
}

// Drop Down slide toggle
.dropdown-log {
    .nav {
        left: 20px;
        top: 2%;
        position: absolute;
    }
    .nav>li>a:hover,
    .nav>li>a:focus,
    .nav .open>a,
    .nav .open>a:hover,
    .nav .open>a:focus {
        background: transparent;
    }
    .dropdown-menu>li>a {
        color: #428bca;
        cursor: pointer;
        padding: 10px 20px;
        white-space: normal;
    }
    .dropdown ul.dropdown-menu {
        border-radius: 4px;
        box-shadow: none;
        margin-top: -6px;
        width: 179px;
        right: -7px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    }
    .dropdown-move-right {
        margin-top: 10px !important;
        right: -12px !important;
    }
    .dropdown ul.dropdown-menu:before {
        content: "";
        border-bottom: 4px solid #fff;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        position: absolute;
        top: -4px;
        right: 16px;
        z-index: 10;
    }
    .dropdown ul.dropdown-menu:after {
        content: "";
        border-bottom: 6px solid #f2f2f2;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        position: absolute;
        top: -6px;
        right: 14px;
        z-index: 9;
    }
    .dropdown-menu {
        right: 0px;
        left: inherit;
        border: 0px solid;
    }
    .dot-font {
        color: #6d6d6d;
        font-size: 14px;
        opacity: 0.7;
        filter: alpha(opacity=70);
    } // .on-off-btn {
    //     padding-left: 15px;
    //     .onoffbtn {
    //         width: 60px;
    //         height: 30px;
    //         border-radius: 15px;
    //         background: #000;
    //         display: block;
    //         position: relative;
    //     }
    //     .onoffbtn:after {
    //         position: absolute;
    //         height: 28px;
    //         width: 28px;
    //         display: block;
    //         border-radius: 50%;
    //         background: #ff0000;
    //         top: 1px;
    //         left: 1px;
    //         content: 'off';
    //         -webkit-transition: all 200ms ease-in-out;
    //         -moz-transition: all 200ms ease-in-out;
    //         -o-transition: all 200ms ease-in-out;
    //         transition: all 200ms ease-in-out;
    //         text-align: center;
    //         line-height: 29px;
    //         color: #fff;
    //         font-size: 12px;
    //     }
    //     .onoffbtn.active:after {
    //         left: 100%;
    //         margin-left: -29px;
    //         background: #008000;
    //         content: 'on';
    //     }
    //     .onoffbtn input[type="checkbox"] {
    //         opacity: 0;
    //     }
    // }
}

// Drop down list
.logout-dropdown {
    padding-left: 0px !important;
    padding-right: 5px !important;
    padding-bottom: 8px !important; //  margin-top: 8px !important;
    li {

        border-bottom: 1px solid #ccc;
        padding: 10px 0;
        margin: 0 12px;

        &:last-child{
            border: none;
        }

        a {
            line-height: 30px !important;
            height: 30px !important;
        }
        .logout-text {}
    }
    .corporate-switcher {
        img {
            display: inline-block;
            width: 15px;
            margin-right: 5px;
            padding-left: 0;
        }
        a {
            display: inline-block;
        }
    }
}

.hover-focus-overcome {
    &:hover,
    &:focus,
    &:active,
    &:link {
        background-color: transparent !important;
    }
}

.vertical-line {
    border-right: 1px solid #F4F4F4;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 20px;
}

// Type 1
.dropdown-log-menu {
    a {
        font-size: $font-size-xs;
        color: $color-mirage-block !important;
        opacity: 0.5;
        filter: alpha(opacity=50);
        padding: 3px 8px !important;
        &:hover {
            color: $color-mirage-block !important;
            opacity: 1;
            filter: alpha(opacity=100);
            background-color: transparent !important;
        }
        span {
            background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/sprite_user_profile.png");
            background-repeat: no-repeat;
            width: 23px;
            height: 22px;
            display: inline-block;
            text-indent: -9999em;
            overflow: hidden;
            position: relative;
            top: 7px;
            margin-right: 3px;
            &.dropdown-list-one {
                background-position: -5px 4px;
            } // Hover
            // &.dropdown-list-one:hover{
            //   background-position: -5px -17px;
            //   opacity: 1;
            //   filter:alpha(opacity=100);
            // }
            &.dropdown-list-two {
                background-position: -5px -40px;
            } // Hover
            // &.dropdown-list-two:hover{
            //   background-position: -5px -62px;
            // }
        }
    }
}

// Type 2
.dropdown-log-typeTwo {
    a {
        font-size: $font-size-xs;
        color: $color-mirage-block !important;
        opacity: 0.5;
        filter: alpha(opacity=50);
        padding: 8px;
        &.view-statement {
            padding: 10px 20px;
        }
        &:hover {
            color: $color-mirage-block !important;
            opacity: 1;
            filter: alpha(opacity=100);
            background-color: transparent !important;
        }
        span {
            // background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/sprite_transfer_individual.png");
            background-repeat: no-repeat;
            width: 23px;
            height: 22px;
            display: inline-block;
            text-indent: -9999em;
            overflow: hidden;
            position: relative;
            top: 7px;
            margin-right: 3px;
            &.dropdown-list-close {
                background-position: -5px -40px;
            }
            &.dropdown-list-download {
                background-position: -5px -127px;
            }
            &.dropdown-list-two {
                background-position: -5px -15px;
            } // Hover
            &.dropdown-list-two:hover {
                background-position: -5px -62px;
            }
        }
    }
}

// Type 3
.dropdown-log-typeThree {
    a {
        font-size: $font-size-xs;
        color: $color-mirage-block !important;
        opacity: 0.5;
        filter: alpha(opacity=50);
        padding: 0px 8px 8px 8px !important;
        &:hover {
            color: $color-mirage-block !important;
            opacity: 1;
            filter: alpha(opacity=100);
            background-color: transparent !important;
        }
        span {
            background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/sprite_transfer_individual.png");
            background-repeat: no-repeat;
            width: 23px;
            height: 22px;
            display: inline-block;
            text-indent: -9999em;
            overflow: hidden;
            position: relative;
            top: 7px;
            margin-right: 3px;
            &.dropdown-list-one {
                background-position: -5px -40px;
            } // Hover
            &.dropdown-list-one:hover {
                background-position: -5px -17px;
                opacity: 1;
                filter: alpha(opacity=100);
            }
            &.dropdown-list-two {
                background-position: -5px -84px;
            } // Hover
            &.dropdown-list-two:hover {
                background-position: -5px -106px;
            }
        }
    }
}

// Type 4
.dot-font-white {
    color: $color-white;
    font-size: 14px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.dropdown-log-typeFour {
    a {
        font-size: $font-size-xs;
        color: $color-mirage-block !important;
        opacity: 0.5;
        filter: alpha(opacity=50);
        padding: 0px 8px 8px 8px !important;
        &:hover {
            color: $color-mirage-block !important;
            opacity: 1;
            filter: alpha(opacity=100);
            background-color: transparent !important;
        }
        span {
            background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/sprite_transfer_individual.png");
            background-repeat: no-repeat;
            width: 23px;
            height: 22px;
            display: inline-block;
            text-indent: -9999em;
            overflow: hidden;
            position: relative;
            top: 7px;
            margin-right: 3px;
            &.dropdown-list-one {
                background-position: -5px -40px;
            } // Hover
            &.dropdown-list-one:hover {
                background-position: -5px -17px;
                opacity: 1;
                filter: alpha(opacity=100);
            }
            &.dropdown-list-two {
                background-position: -5px -84px;
            } // Hover
            &.dropdown-list-two:hover {
                background-position: -5px -106px;
            }
        }
    }
}

// Dropdown Type 2
.dropdown-typeTwo {
    // Custom Scroll Bar
    // .dropdown-menu::-webkit-scrollbar
    // {
    //   width: 4px;  /* for vertical scrollbars
    //   height: 4px; /* for horizontal scrollbars
    // }
    //
    // .dropdown-menu::-webkit-scrollbar-track
    // {
    //   background: #fff;
    // }
    //
    // .dropdown-menu::-webkit-scrollbar-thumb
    // {
    //   background: #eae9ed;
    //   @include border-radius(2px);
    // }
    .dropdown-menu {
        right: 0px;
        left: inherit;
        min-width: 270px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        @include border-radius(2px);
        border: none;
        max-height: 230px;
        overflow-y: auto;
        li {
            a {
                color: #8c8793;
                padding-top: 7px;
                padding-bottom: 7px;
                font-size: $font-size-xs;
                &:hover {
                    color: #190f27;
                    background-color: $color-white;
                }
            }
        }
    }
}