.dropzone {
    border: 0;
    padding: 0;
    background-color: transparent;
        .dz-message{
            margin: 0px;
        }
    .dz-preview {
        padding: 10px;
        @include border-radius(2px);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: solid 1px $white-smoke;
        background-color: $color-white;
        margin: 0em 0;
        width: 100%;
        .dz-remove {
            position: relative;
            top: -105px;
            z-index: 100; 
            // display: none !important;
        }
        .dotted-line {
            //border: 1px dashed #e2e2e2;
            @include border-radius(3px);
            min-height: $file-upload-height;
            position: relative;
            text-align: center;
            .dz-details {
                // top: 50%;
                // transform: translateY(-50%);
                // margin: 43px 0;
                padding: 3em 1em;
                pointer-events: all;
                img {
                    height: 36px;
                    margin-bottom: 20px;
                }
                .dz-filename {
                    font-size: 14px;
                    line-height: 0.86;
                    color: #190f27;
                    margin-bottom: 15px;
                }
                .dz-progress {
                    margin-top: 35px;
                    height: 2px;
                }
            }
            .removelink {
                font-size: 12px;
                line-height: 0.75;
                color: #4a90e2;
                text-decoration: none;
                cursor: pointer;
                display: none;
            }
        }
        
    }
    .dz-processing{
        border: 2px dashed #c7c4d2;
        height: 230px !important; 
        // height: 287px; 
        background-color: #f5f4f6;
        pointer-events: all;
    }
    .dz-preview.dz-error {
        .dz-error-message {
            display: none;
        }
    }
}

//.dropzone.dz-clickable{
//    text-align: center;
//}