.control-group {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-bottom: 10px;
}

.control {
  position: relative;
  padding: 6px 0 0 25px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 25px;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e9e6ed;
  border: 1px solid #c7c4d2;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control {
  &:hover input ~ .control__indicator {
    background: #e9e6ed;
  }
  input {
    &:focus ~ .control__indicator {
      background:#e9e6ed;
    }
    &:checked ~ .control__indicator {
      background: #00b898;
      border: 0;
    }
  }
  &:hover input:not([disabled]):checked ~ .control__indicator {
    background: #00b898;
    border: 0;
  }
  input {
    &:checked:focus ~ .control__indicator {
      background: #00b898;
      border: 0;
    }
    &:disabled ~ .control__indicator {
      background: #c7c4d2;
      opacity: 0.6;
      pointer-events: none;
    }
  }
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--radio {
  .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffffff;
  }
  input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
  }
}

.employee-toggle-status-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 15px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .employee-toggle-status-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .4s;
    }
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
  input:checked + .employee-toggle-status-switch-slider {
    background-color: #2196F3;
    &:before {
      transform: translateX(26px);
    }
  }
}

