.activate-wrpr {
    height: 100vh;
    // min-height: 873px;
    position: relative;
    // border: solid 10px #ffffff;
    background: #36215a;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #36215a 0%, #633ea5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #36215a 0%, #633ea5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #36215a 0%, #633ea5 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36215a', endColorstr='#633ea5', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.activate-container {
    width: 400px;
    margin: -140px 0 0 -200px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    .email-verified {
        padding: 1rem;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        border-radius: 4px;
        background-color: #5fad56;
        width: 80%;
        margin: 25% auto 8% auto;
    }
    .activate-form-container {
        .activate-form {
            background-color: $zmv-vanilla-white-clr;
            padding: 15px;
            border-radius: 2px;
            .title {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 5%;
                padding: 2% 0 2% 0;
                span {
                    font-weight: bold;
                }
            }
            .err-msg {
                text-align: center;
                background: red;
                color: white;
                width: 90%;
                margin: auto;
                border-radius: 2px;
                padding: 5px;
                font-weight: 600;
                display: none;
            }
            form {
                padding: 2%;
                .div-email {
                    margin-bottom: 4%;
                }
                .zmv-new-input {
                    width: 98%;
                    height: 44px;
                    border-radius: 2px;
                    background-color: #fff;
                    box-shadow: 0 0 0 0 rgba(124, 121, 128, 0.25);
                    border: solid 1px #dfdde2;
                    padding: 1rem;
                    outline: 0;
                }
            }
            .invalid-link {
                text-align: center;
                margin-bottom: 1rem;
                img {
                    width: 48px;
                    height: 47px;
                    object-fit: contain;
                }
            }
            .div-btn-container {
                margin-top: 20px;
                margin-bottom: 30px;
                .btn {
                    width: 94%;
                }
                .zmv-new-btn-sign {
                    width: 98%;
                    height: 45px;
                    border-radius: 2px;
                    background-color: #fdb142;
                    outline: 0;
                    color: white;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    text-align: center;
                    border: 1px solid transparent;
                    &.loading::after {
                        background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif);
                        content: ' ';
                        height: 16px;
                        width: 16px;
                        display: inline-flex;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-left: 11px;
                        position: relative;
                        top: 5px;
                    }
                    &:hover,
                    &:focus,
                    &:active {
                        text-decoration: none;
                    }
                }
            }
            .bottom-section {
                font-size: 10px;
                padding-bottom: 1rem;
                position: relative;
                .link {
                    color: #4a90e2;
                    text-decoration: underline;
                }
                .text {
                    color: gray;
                }
                .loading img {
                    animation-name: rotate;
                    animation-duration: 0.8s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                .loading,
                .resend-err,
                .resend-tick {
                    padding-left: 5px;
                    display: none;
                    .arrow-left {
                        width: 0;
                        height: 0;
                        border-top: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                        border-right: 5px solid black;
                        position: absolute;
                        right: 59px;
                        top: 17px;
                    }
                    img {
                        width: 16px;
                        height: 16px;
                    }
                    .msg {
                        position: absolute;
                        width: 40%;
                        border-radius: 2px;
                        background-color: #222222;
                        font-size: 9px;
                        line-height: 1.2;
                        color: #ffffff;
                        top: 1rem;
                        right: -8.8rem;
                        padding: 2px;
                    }
                }
            }
        }
    }
    .support {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        color: #a89dbb;
        padding: 1rem;
        margin-top: 2%;
        span {
            color: white;
        }
    }
}

.error-txt {
    color: red;
}
