.employee-overview-cntr {
    h3 {
        font-size: 20px;
        line-height: 16px;
        color: #190f27;
        padding: 10px 0 0 10px;
        margin-top: 0;
    }
    .page-sub-heading {
        padding-left: 15px;
    }
    .select-giftorder-history {
        font-size: 20px;
    }
    .employee-overview-graph {
        margin: auto;
        background: #fff;
        box-shadow: 0px 1px 2px 0 rgba($color: #000, $alpha: 0.05);
        border-radius: $block-border-radius;
        .graph-wrpr {
            height: auto;
            width: 50%;
            margin: auto;
        }
        .graph-empty {
            padding: 20px 0 50px 0;
        }
        .card-graph-loader {
            text-align: center;
            margin-top: 0;
            padding: 20px 0 50px 0;
        }
    }
}
.details {
    .logo-format-text {
        font-size: 12px
    }
}