.filter-widget {
    text-align: left;

    //&.ui-state-focus .filter-options
    //{
    //  display: block;
    //}
    .filter-ctrl {
        position: relative;
        height: 34px;
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #ededed;
        white-space: nowrap;
        opacity: 0.5;

        //font-family: ProximaNova;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.75;
        color: #190f27;
        padding: 13px 10px;
        padding-right: 25px;

        &:after {
            content: " ";
            background-image: url(/images/group@3x.png);
            position: absolute;
            background-size: auto 100%;
            height: 7px;
            width: 14px;
            background-repeat: no-repeat;
            right: 4px;
        }
    }

    .filter-options {
        //display: none;
        border: 1px solid #ededed;
        margin-top: 4px;
        padding: 4px;
        color: $color-medium-block;
        background: $color-white;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.11);
        position: absolute;
        z-index: 1;
        right: 15px;

        .search-box {
            width: 100%;
            line-height: 34px;
            height: 34px;
            padding-left: 12px;
            font-size: 12px;
            font-weight: 600;
        }

        .option-list {
            list-style: none;
            padding: 10px 0 0 12px;
            margin: 0;
            max-height: 200px;
            overflow: scroll;

            li {
                height: 34px;
                line-height: 34px;
                font-size: 13px;

                p {
                    margin: 0;
                    opacity: 1;
                    color: #8c8793;

                    label {
                        font-weight: normal;
                        cursor: pointer;

                        &:hover {
                            color: $color-medium-block;
                        }
                    }
                }

                /* Base for label styling */
                [type="checkbox"] {
                    &:not(:checked), &:checked {
                        position: absolute;
                        left: -9999px;
                    }

                    &:not(:checked) + label,
                    &:checked + label {
                        position: relative;
                        padding-left: 25px;
                        cursor: pointer;
                    }

                    &:not(:checked) + label:before,
                    &:checked + label:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 8px;
                        width: 16px;
                        height: 16px;
                        background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/checkbox-not-checked.png");
                    }

                    &:checked + label:before {
                        background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/checkbox-checked.png");
                    }

                    &:not(:checked) + label:after,
                    &:checked + label:after {
                        content: '';
                        position: absolute;
                        top: 3px;
                        left: 4px;
                        font-size: 18px;
                        line-height: 0.8;
                        color: #09ad7e;
                        transition: all .2s;
                    }

                    &:not(:checked) + label:after {
                        opacity: 0;
                        transform: scale(0);
                    }

                    &:checked + label:after {
                        opacity: 1;
                        transform: scale(1);
                    }

                    &:disabled {
                        &:not(:checked) + label:before {
                            box-shadow: none;
                            border-color: #bbb;
                            background-color: #ddd;
                        }

                        &:checked + label {
                            &:before {
                                box-shadow: none;
                                border-color: #bbb;
                                background-color: #ddd;
                            }

                            &:after {
                                color: #999;
                            }
                        }

                        + label {
                            color: #aaa;
                        }
                    }
                }
            }
        }

        .multiselect-options {
            padding: 15px 16px 16px 12px;
            font-size: 12px;

            .total-selected {
                float: left;
            }

            .other-options {
                float: right;

                .clear-all {
                    float: left;
                    cursor: pointer;
                }

                .apply {
                    float: right;
                    padding-left: 20px;
                    color: $cornflower-blue;
                    cursor: pointer;
                }
            }
        }
    }
}