// File Upload
div.browse-wrap {
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    position: relative;
    cursor: pointer;
    &.btn-disabled{
        cursor: not-allowed;
        pointer-events: none;
    }
}

div.title {
    color: #3b5998;
    font-size: 12px;
    font-weight: normal;
}

input.upload {
    right: 0;
    margin: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    outline: none;
    cursor: inherit;
    position: absolute;
    font-size: 1000px !important;
}

span.upload-path {
    text-align: center;
    margin: 20px;
    display: block;
    font-size: 80%;
    color: #3b5998;
    font-size: $font-size-small;
}

.dropzone .dz-preview .dz-error-message {
    top: 145px;
    left: 40%;
}