.filter-section {
    padding-right: 0;
    position: relative;
    right: 15px;
  //  padding: 0 15px;
    @media (max-width: 992px) {
        padding-right: 0;
        position: relative;
        right: 15px;
        padding: 0 15px;
    }
    h4 {
        font-size: $font-size-xx-small;
        color: $default-text-color;
    }
    .width-xs {
        width: $selectbox-filter-width;
    }
    .filter-divider-table {
        display: table;
        font-weight: 600;
        //opacity: 0.7;
        padding-left: 0;
        position: relative;
        left: 25px;
        @media (max-width: 992px) {
            left: 40px;
            margin-top: 10px;
        }
        .filter-divider-left {
            display: table-cell;
            width: 130px;
        }
        .filter-divider-left-long {
            display: table-cell;
            width: 150px;
        }
        .filter-divider-right {
            display: table-cell;
            width: 111px;
            padding-left: 10px;
           padding-right: 0px;
        }
        .form-group {
            margin-bottom: 20px;
            margin-right: 11px;
        }
    }
}

.filter-divider--margin-top {
    margin-top: 25px;
}

.filter-divider--margin-left {
    margin-left: 30px;
}

