// Select Box
.select-custom {
    .select__input--bg-color {
        background-color: $color-alabaster;
    }
    select {
        background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/down-arrow-black.svg");
        padding-right: 25px;
        background-repeat: no-repeat;
        background-position: right 10px center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        opacity: 0.7;
        @include border-radius(2px);
        color: $default-text-color;
        border: 1px solid #C7C4D2;
        font-size: $font-size-small;
        box-shadow: none;
    }
    .error {
        span {
            color: red;
        }
    }
}

// Search Box
.custom-searchbox {
    width: $search-field-width;
    .stylish-input-group .input-group-addon {
        background: white !important;
        border-color: #C7C4D2; //$border-color-input-field
        padding: 5px 4px;
        @include border-radius(2px);
    }
    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border-color: #C7C4D2; //$border-color-input-field
        font-weight: 600;
        padding-left: 10px;
    }
    .stylish-input-group button {
        border: 0;
        background: transparent;
    }
    input[type="text"] {
        height: 34px;
        @include border-radius(2px);
        color: $default-text-color;
        font-size: $font-size-small;
        padding: 6px 2px;
    }
    .glyphicon-search {
        color: $color-mirage-block;
        opacity: 0.4;
        filter: alpha(opacity=40);
        font-size: $font-size-small;
    }
}

// File Upload and Drag and Drop
.file-upload-container {
    //padding: 10px;
    @include border-radius(4px);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px $white-smoke;
    background-color: $color-white;
    .dotted-line {
        // border: 1px dashed #e2e2e2;
        // @include border-radius(3px);
    }
    .file-upload-height {
        height: $file-upload-height;
        border: 1px dashed #c7c4d2;
        background-color: #f5f4f6;
    }
}

// Input Field Text
input[type="text"] {
    display: block;
    margin: 0;
    appearance: none;
    box-shadow: none;
    @include border-radius(2px);
    height: $input-field-height;
    border: solid 1px $border-color-input-text;
}

input[type="text"]:focus {
    outline: none;
}

// Input Field Number
input[type="number"] {
    display: block;
    margin: 0;
    appearance: none;
    box-shadow: none;
    @include border-radius(2px);
    height: $input-field-height;
    border: solid 1px $border-color-input-text;
}

input[type="text"]:focus {
    outline: none;
}

// Textarea
textarea[class="form-control"] {
    display: block;
    margin: 0;
    appearance: none;
    box-shadow: none;
    @include border-radius(2px);
    border: solid 1px $border-color-input-text;
}

textarea[class="form-control"]:focus {
    outline: none;
}

// Radio Button
.radio-button-container {
    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: $radio-button-bgcolor;
        border: 1px solid $radio-button-border-color;
        outline: 0;
    }
    input[type="radio"]:checked {
        background-color: #190f27;
        width: 16px;
        height: 16px;
        border: 5px solid #00b898;
    }
    .form-group {
        label {
            font-size: $font-size-xs;
            color: $color-mirage-block;
            font-weight: 700;
        }
    }
    label {
        span {
            position: relative;
            top: 3px;
            padding-left: 10px;
            padding-right: 30px;
        }
    }
}

// Css Table
.display-table {
    display: table;
    text-align: center;
    width: 100%;
    padding: 30px 0px; 
    // padding-top: 54px;
    // padding-bottom: 74px;
    .table-row {
        display: table-row;
    }
    .table-column {
        display: table-cell;
        // padding-top: 10px;
        vertical-align: middle;
    }
}

.custom-modal-body {
    label {
        font-weight: normal;
    }
    select.input-lg {
        line-height: normal;
    }
}

// Form Input Foucus overwright
.form-control:focus {
    box-shadow: none;
    border: solid 1px #C7C4D2; //$color-lighten-darken-gray
}

// Input Type Number top and down arrow remove
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.required-field {
    .add-fund-label {
        color: blue;
        sup {
            font-size: 20px;
            top: 0;
            display: inline !important;
        }
    }
}
