.gradient-cardGraph-green {
    @include gradient(#21a343, #9dcd2b, horizontal);
}

.gradient-cardGraph-orange {
    @include gradient(#ea6118, #f5ab27, horizontal);
}

.graph-card-container {
    padding: 30px;
}

// Cards List
.graph-cards-list {
    position: relative;
    display: table;

    .user-list-column {
        display: table-cell;

        li {
            color: $color-mirage-block;
            opacity: 0.7;
            filter: alpha(opacity = 70);
            font-size: $font-size-x-small;
            line-height: 30px;

            small {
                font-size: 100% !important;
            }
        }

        span {
            background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/sprite_user_profile.png");
            background-repeat: no-repeat;
            width: 23px;
            height: 19px;
            display: inline-block;
            text-indent: -9999em;
            overflow: hidden;
            position: relative;
            top: 8px;
            left: -6px;
            margin-right: 0px;

            &.dropdown-list-one {
                background-position: -5px 4px;
            }

            // Hover
            &.dropdown-list-one:hover {
                background-position: -5px -17px;
                opacity: 1;
                filter: alpha(opacity = 100);
            }

            &.dropdown-list-two {
                background-position: -5px -40px;
            }

            // Hover
            &.dropdown-list-two:hover {
                background-position: -5px -62px;
            }
        }
    }

    .user-discription-column {
        display: table-cell;
        padding-left: 10px;

        li {
            color: $color-black;
            line-height: 30px;
            font-size: $font-size-x-small;

            small {
                font-size: 100% !important;
            }
        }
    }
}

// Cards Status Issued
.CardsIssued-cntr {
    position: relative;
    display: table;

    .user-list-column {
        display: table-cell;

        li {
            color: $color-mirage-block;
            opacity: 0.7;
            filter: alpha(opacity = 70);
            font-size: $font-size-x-small;
            line-height: 30px;

            small {
                font-size: 100% !important;
            }
        }

        span {
            background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/card-status.png");
            background-repeat: no-repeat;
            -webkit-background-size: 173%;

            /* Safari 3.0 */
            -moz-background-size: 173%;

            /* Gecko 1.9.2 (Firefox 3.6) */
            -o-background-size: 173%;

            /* Opera 9.5 */
            background-size: 173%;
            width: 16px;
            height: 16px;
            display: inline-block;
            text-indent: -9999em;
            overflow: hidden;
            position: relative;
            top: 1px;
            left: -2px;
            margin-right: 2px;

            &.list-one {
                background-position: -5px 4px;
            }

            &.list-two {
                background-position: -5px -16px;
            }
        }
    }

    .user-discription-column {
        display: table-cell;
        padding-left: 10px;

        li {
            color: $color-black;
            line-height: 30px;
            font-size: $font-size-x-small;

            small {
                font-size: 100% !important;
            }
        }
    }
}

