.graph-heading {
    h5 {
        color: $sub-heading-child-color;
        font-weight: $font-weight-bold;
    }
}

.graph-legend {
    strong {
        width: $legend-width;
        height: $legend-height;
        display: inline-block;

        &.light-green {
            background-color: $light-green;
        }

        &.light-pink {
            background-color: $light-pink;
        }
    }

    span {
        font-size: $font-size-xs-small;
        padding-left: 5px;
        color: $sub-heading-child-color;
    }
}

.graph-view {
    padding: 50px 0 30px 0;

    img {
        width: 100%;
    }
}