// Type 1
.page-heading-list {
    .page-heading-list--margin {
        margin-left: 40px;
    }
    .page-heading-list__date-text {
        text-decoration: underline;
    }
    ul {
        li {
            color: $default-text-color;
            line-height: 27px;
            color: $color-white;
            letter-spacing: 0.6px;
            font-weight: $font-weight-light;
            span {
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/1xsprite_benefit_details.png");
                background-repeat: no-repeat;
                width: 23px;
                height: 22px;
                display: inline-block;
                text-indent: -9999em;
                overflow: hidden;
                position: relative;
                top: 3px;
                margin-right: 3px;
                &.list-one {
                    background-position: -9px -21px;
                }
                &.list-two {
                    background-position: -9px 5px;
                }
                &.list-three {
                    background-position: -9px -72px;
                }
                &.list-four {
                    background-position: -9px -98px;
                }
                &.list-five {
                    background-position: -9px -47px;
                }
            }
            span.ruppee {
                width: auto;
                height: auto;
                text-indent: 0;
                overflow: visible;
                top: 0;
                margin-right: 0;
            }
            .details {
                display: inline-block;
                width: 65%;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                color: $color-medium-block;
                letter-spacing: 0;
                line-height: 18px;
                margin-bottom: 10px;
                .active {
                    color: $color-medium-green;
                }
                .balance {
                    font-size: 14px;
                }
                .link {
                    text-decoration: underline;
                    color: #337ab7;
                    font-size: 14px;
                    letter-spacing: 0;
                    &:hover {
                        color: #4a90e2;
                    }
                }
            }
            .details-benefits {
                display: block;
                width: unset;
            }
            .list-label {
                display: inline-block;
                width: 32%;
                font-size: 14px;
                opacity: 0.7;
                font-size: 14px;
                color: $color-medium-block;
                float: left;
                letter-spacing: 0;
            }
            .list-label-overview {
                //  width: 20%;
                display: unset;
                margin-top: -3px;
            }
            small {
                opacity: 0.7;
                filter: alpha(opacity=70);
            }
        }
    }
}

.status-heading {
    font-size: $font-size-small;
    color: $color-white;
    letter-spacing: 1px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.status-description {
    div {
        color: $color-white;
        line-height: 33px;
        font-weight: normal;
        small {
            font-size: 14px;
        }
    }
}

// Type 2
.heading-list-typetwo {
    ul {
        li {
            color: $default-text-color;
            line-height: 40px;
            color: $color-white;
            letter-spacing: 0.6px;
            font-weight: $font-weight-light;
            span {
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/1xsprite_transfer_individual.png");
                background-repeat: no-repeat;
                width: 23px;
                height: 22px;
                display: inline-block;
                text-indent: -9999em;
                overflow: hidden;
                position: relative;
                top: 3px;
                margin-right: 3px;
                &.list-one {
                    background-position: -9px -72px;
                }
                &.list-two {
                    background-position: -9px 5px;
                }
                &.list-three {
                    background-position: -9px -47px;
                }
                &.list-four {
                    background-position: -9px -21px;
                }
                &.list-five {
                    background-position: -9px -47px;
                }
            }
            small {
                opacity: 0.6;
                filter: alpha(opacity=60);
            }
        }
    }
}

// Type 3
.heading-list-typethree {
    ul {
        li {
            color: $default-text-color;
            line-height: 40px;
            color: $color-white;
            letter-spacing: 0.6px;
            font-weight: $font-weight-light;
            span {
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/sprite_administration_companies.png");
                background-repeat: no-repeat;
                width: 23px;
                height: 22px;
                display: inline-block;
                text-indent: -9999em;
                overflow: hidden;
                position: relative;
                top: 3px;
                margin-right: 3px;
                &.list-one {
                    background-position: -33px -17px;
                }
                &.list-two {
                    background-position: -9px 5px;
                }
                &.list-three {
                    background-position: -33px -18px;
                }
                &.list-four {
                    background-position: -9px -18px;
                }
                &.list-five {
                    background-position: -9px -47px;
                }
            }
            small {
                opacity: 0.6;
                filter: alpha(opacity=60);
            }
        }
    }
}