// Bellow 1024
@media (max-width: 1170px) {
    .wrapper {
        width: 1170px;
        &:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    }
    .sidebar-container1{
        width:80px !important;
        .heading-txt-toggle{
            margin-left: -13px;
            transition: inherit !important;
        }
        span.textToggle{
            left: -95px !important;
            transition: inherit !important;
        } 
    }
    .sidebar-row .sidebar-toggle .tooltip .tooltiptext{
        opacity: 0;
        transition: opacity  0.7s;
        position: fixed;
        left: 85px;
        z-index: 9999;
        top: 164px;
    }
    .tooltip:hover .tooltiptext{
        opacity: 1 !important;
        visibility: visible;
    }
    .navbar-Company .nav-company-list .dropdown-toggle span, .nav-company-list #dropdown{
        transition: all 0.2s ease-in-out;
    }
    a.tooltip.tooltip-inner-sidebar:hover .tooltiptext{
        visibility: hidden !important;
    }
    .navbar-brand {
        height: 59px;
    }
    .navbar-toggle {
        padding: 13px 10px;
    }
    .card-section img {}
    .sidebar-row .sidebar-container {
        position: fixed;
        box-shadow: 1px 0 10px 0 rgba(25, 15, 39, 0.37);
        transition:all 0.2s ease-in-out;
    }
    .sidebar-row .sidebar-container.sidebar-toggle {
        box-shadow: 0 0 0 0 rgba(25, 15, 39, 0.37);
    }
    .inner-container {
        width: 1170px;
        margin-left: 80px;
    } // Not Found and Error found
    .typesecond-header {
        ul {
            li {
                display: inline-block;
            }
        }
    } // Not Found and Error found End
    .navbar-collapse.collapse {
        display: block !important;
    }
    .navbar-nav>li,
    .navbar-nav {
        float: left !important;
        margin-top: 0px;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: -15px !important;
    }
    .navbar-right {
        float: right !important; // width: 270px;
    }
    .mv-container {
        // width: 1170px;
    }
    .mv-float-left {
        // float: left;
        width: 100%px;
    }
    .mva-float-left {
        width: 90%;
        transition: all 500ms ease-in-out;
    }
    .mv-float-right {
        float: left;
        width: calc(100% - 250px);
    }
    .navbar-fixed-top {
        position: relative;
        left:80px;
    }
    .sidebar-row {
        margin-top: 0px;
    }
    .navbar {
        margin-bottom: 0px;
        width: 100%;
    }
    .sidebar-row {
        position: absolute;
        height: calc(100vh - 59px);
    }
    
    .navbar-collapse {
        max-height: 59px !important;
    }
    .well-default-container {}
    //  Full height sidebar
    .sidebar-row>.row:first-of-type {
        position: relative;
        min-height: 100%;
    }
    // .sidebar-row .nav_list_icon-group {
    //     height: 30px;
    //     overflow: hidden;
    // }
}

.nav-btn-power {
    position: absolute;
    bottom: -10px;
    right: 0;
    .nav-cntr {
        height: 40px;
        .nav-btn-cntr {
            width: 80px;
            height: 40px;
            background-color: rgb(62, 48, 86); //float: right;
            right: 0;
            bottom: 0px;
            position: relative;
            z-index: 9999;
            cursor: pointer;
            margin-top: 20px;
            padding: 10px 32px;
            .left-arrow {
                width: 7px;
                height: 11px;
                background-color: rgba(255, 255, 255, 0.7);
                background: transparent;
                transition: all 500ms ease-in-out;
            }
        }
    }
}




// Bellow 767
@media (max-width: 767px) {
    .header-container .navbar-header {
        left: 0px !important;
    }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: transparent;
    }
}

// Founding account well container
@media (max-width: 1050px) {
    .mv-fundingAccount-List {}
}

// Table content more
@media (max-width: 1380px) {
    .mv-table-view .profile-img {
        display: none;
    }
}

@media (min-width: 1790px) {
    .details {
        margin-left: -90px;
    }
}

@media only screen and (max-width: 1790px) and (min-width: 1470px) {
    .details {
        margin-left: -40px;
    }
}
@media (max-width:1170px) {
    .sidebar-toggle {
        .business-arrow-list{
            right: 0px !important;
        }
    }
    .openActiveList{
        display: none;
    }
    .sidebar-toggle{
        .secondList{
            margin-bottom:0px;
        }
    }
    .companyShow {
        white-space: nowrap;
        text-overflow: ellipsis !important;
        width: 55px !important;
    }
    
    #sidebar-cntr-overflow {
        //height: 80vh;
        .sidebar-cntr-overflow {
            //height: 81.6vh;
            position: absolute; 
            width: 100%;
            //overflow: scroll;
            overflow-x: hidden;
            // &::-webkit-scrollbar {
            //     width: .4em;
            //     overflow: visible;
            //     border-radius: 4px;
            // }
            // &::-webkit-scrollbar-thumb {
            //     overflow: visible;
            //     border-radius: 4px;
            //     background: rgba(255, 255, 255, 0.1)
            // }
            .sidebar-overflow {
                li {
                    line-height: 0;
                }
            }
        }
        ul.sidebar-dropdown{
            left: 10px !important;
            margin-top: 15px;
        }
        .sidebar-row .nav_list_icon-group{
            height: 30px;
            overflow: hidden;
        } 
    }
    .sidebar-row .sidebar-container ul.nav-company-list li .business-arrow-list{
        position: absolute;
        top: 20px !important;
        right: 0px;
        cursor: pointer;
        left: inherit;
        z-index: 1;
        //background-color: #633fa4;
        padding: 6px 7px 0 7px;
        margin-top: -5px;
    }
    .sidebar-row .sidebar-container ul.child-list li .new-program, .sidebar-container .new-program{
        position: inherit !important;
        left: inherit !important;
        right:inherit !important;
        top:inherit !important;
        display: inline-block;
        margin-top: 8px;      
        float: right;
        display: inherit !important;  
    }
    .sidebar-row .sidebar-container ul.sub-child-list {
        // position: absolute;
        // bottom: 20px;
        position: relative;
        top: 0px;
       li a{
            padding: 5px 18px 10px 18px;
        }
    }
    .nav-btn {
        position: absolute;
        bottom: -10px;
        right: 0;
        .nav-cntr {
            height: 40px;
            .nav-btn-cntr {
                width: 80px;
                height: 40px;
                background-color: rgb(62, 48, 86); //float: right;
                right: 0;
                bottom: 0px;
                position: relative;
                z-index: 9999;
                cursor: pointer;
                margin-top: 20px;
                padding: 10px 32px;
                .left-arrow {
                    width: 7px;
                    height: 11px;
                    background-color: rgba(255, 255, 255, 0.7);
                    background: transparent;
                    transition: all 500ms ease-in-out;
                }
            }
        }
    }

}

.active {
    .left-arrow {
        transform: rotateZ(180deg);
    }
}

@media (min-width:1171px) {
    #nav-block-hide {
        display: none;
    }
    .sideBar_mainSec .openProgList.closed{
        text-align: left;
    }
}

@media (min-width:1600px) {
    .col-lg-3 {
        width: 20%;
    }
} 