.media-list-container {
    background-color: $color-white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px $media-box-border-color;
    border-radius: $block-border-radius;

    // height:$media-box-height;
    padding: 20px;

    .media-left, .media-left a {
        img {
            width: $media-list-md-width;
            height: $media-list-md-height;

            @include border-radius(4px);
        }

        .benefit-card__tag {
            background-color: #eb5946;
            width: auto;
            height: 20px;
            position: absolute;
            margin-top: 2%;
            margin-left: -2%;
            color: $color-white;

            .benefit-card__tag--pd {
                padding: 10px;
            }
        }

        .benefit-card__tag:after {
            position: absolute;
            content: "";
            top: -8px;
            right: 90%;
            border-top: 0 solid transparent;
            border-right: 0 solid transparent;
            border-bottom: 9px solid #c84837;
            border-left: 20px solid transparent;
        }
    }

    .media-body {
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .media-heading {
        color: $color-mirage-block;
        font-weight: $font-weight-thin-bold;
    }

    .media-footer {
        /*padding-top:15px;*/
        p {
            color: $color-mirage-block;
            opacity: 0.7;
            filter: alpha(opacity = 30);
        }

        img {
            padding-right: 6px;
            position: relative;
            top: -2px;
        }

        a {
            color: $media-link-color;
            font-size: $font-size-small;
            padding-right: 0px;
            right: 20px;

            &:hover,
            &:active,
            &:focus,
            &:visited {
                background-color: transparent;
            }
        }

        .nav-pills-list {
            padding-top: 40px;
        }

        .amount-column {
            float: left;
            width: 162px;
        }

        .media-column {
            float: left;
            width: 248px;
        }
    }
}

.employee-program-details .media-list-container {
    padding: 15px 30px 30px 30px;
}
// Media List xs
.media-list-xs {
    .media-left {
        a {
            img {
                width: $media-list-xs-width;
                height: $media-list-xs-height;
            }
        }
    }

    .media-heading {
        color: $color-mirage-block;
        font-weight: $font-weight-thin-bold;
    }

    .media-body {
        padding-left: 10px;
    }
}

// Business List
.card-business-container {
    @include border-radius(4px);

    background-color: $color-white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px $media-box-border-color;
    padding: 20px;
    margin-top: 0px;

    // &:hover{
    //   box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    //   cursor: pointer;
    // }
    .box-image {
        @include border-radius(2px);

        width: 88px;
        height: 88px;

        // background-color:$box-width-image-bgcolor;
        img {
            width: 88px;
            height: 88px;

            @include border-radius(2px);
        }

        .list-one {
            background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/address.png");
            background-position: 0px 0px;
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            display: inline-block;
            position: relative;
            top: 31px;
            left: 31px;
        }
    }

    .media-body {
        vertical-align: middle;
      //  padding-left: 10px;

        .text-bold {
            font-weight: 700;
        }

        .admin-corporate--action {
            text-align: right;
            color: $color-medium-block;

            .admin-corporate-edit-icon {
                height: 13px;
            }

            .admin-corporate-edit {
                color: $color-grey;
                font-weight: 600;
                margin-left: 5px;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 1px;
                cursor: pointer;
            }
        }
    }
}

// Media List Medium
.card-md-container {
    @include border-radius(4px);

    background-color: $color-white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px $media-box-border-color;
    padding: 20px;
    margin-top: 0px;

    &:hover {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
        cursor: pointer;
    }

    .box-image {
        @include border-radius(2px);

        width: 88px;
        height: 88px;

        // background-color:$box-width-image-bgcolor;
        img {
            width: 88px;
            height: 88px;

            @include border-radius(2px);
        }

        .list-one {
            background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/address.png");
            background-position: 0px 0px;
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            display: inline-block;
            position: relative;
            top: 31px;
            left: 31px;
        }
    }

    .media-body {
        vertical-align: middle;
        padding-left: 10px;
    }
}

// Manage Panel
.manage-panel {
    .cards-column-one,
    .cards-column-two,
    .cards-column-three {
        width: 285px;
    }

    .caption {
        text-align: center;
    }

    .card-image-part {
        padding-top: 40px;

        img {
            width: 72px;
            height: 60px;
            margin: 0px 0px 30px 0px;
        }
    }

    .card-text-part {
        padding-bottom: 40px;
    }
}

// Add New
.add-new {
    img {
        width: 80px !important;
        height: 80px !important;
        margin: 66px auto 10px auto !important;
    }

    .cards-container {
        height: 259px;
    }

    p {
        font-size: 12px;
        font-weight: bold;
    }
}

.cursor-none {
    cursor: default;
}