.merchant-data-wrpr {
    background: #fff;
    box-shadow: 0px 1px 2px 0 rgba($color: #000, $alpha: 0.05);
    margin-bottom: 30px;
    padding: 30px 15px;
    border-radius: $block-border-radius;
    .total-merchants-wrpr {
        font-size: 14px;
        line-height: 12px;
        color: rgba($color: #190f27, $alpha: 0.7);
        //margin-bottom: 30px;

        .count-text-block{
          display: table;
          width:100%;
        }

        span.total-merchants {
            font-size: 32px;
            color: #190f27;
            display: inline-block;
            padding-right: 10px;
            display: table-cell;
            vertical-align: middle;
            width:1%;
        }

        .total-merchants-txt {
            color: #190f27;
            display: table-cell;
            vertical-align: middle;
            width:80%;
        }

        .total-merchants-note {
            padding-top: 12px;
            padding-bottom:20px;
            border-bottom:1px solid $color-white-gray;
            font-size:$font-size-small;
        }


    }

    .top-merchants-wrpr {
        margin-top: 30px;
        .top-merchants-hdg {
            font-size: 20px;
            line-height: 16px;
            padding-bottom: 30px;
            color: #190f27;
        }

        .merchant-left {
            margin: 0;
        }

        .top-merchants-cntr {
            .top-merchant {
                padding-bottom: 30px;

                &:last-child {
                    padding-bottom: 0;
                }

                .top-merchant-name {
                    font-size: 14px;
                    color: #190f27;
                    line-height: 18px;
                    padding-right: 5px;
                }

                .top-merchant-loc {
                    color: rgba($color: #190f27, $alpha: 0.7);
                    padding-top: 10px;
                    font-size: 12px;
                    line-height: 10px;
                }

                .top-merchant-count {
                    font-size: 14px;
                    color: #190f27;
                    line-height: 12px;
                    text-align: right;
                    padding: 2px 0 0 0;
                }
            }

            .top-merchant-graph {
                width: 100%;
                height: 5px;
                border-radius: 7px;
                position: relative;
                margin: 0;
                box-sizing: border-box;
                background: #e2e2e2;
                margin-top: 13px;

                .top-merchant-active {
                    position: absolute;
                    height: 5px;
                    top: 0;
                    left: 0;
                    border-radius: 7px;
                    box-sizing: border-box;
                    background: #00b898;
                }
            }
        }
    }
}

.merchant-data-loader {
    text-align: center;
    margin-top: 30px;

    img {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
    }
}
