.modal {
    z-index: 9999;
    background: rgba(0,0,0,0.4);
}

.close-card-response {
    width: 604px;
}

.modal-backdrop {
    &.in{
        display: none;
    }
}

.custom-modalbox--width {
    width: 585px !important;
}

.custom-modalbox-new {
    width: 930px;
    top: 55% !important;
    height: 100%;
}

.modal-name {
    color: #190f27 !important;
    font-size: 30px !important;
}

.modal-subheading {
    color: #190f27 !important;
}

.modal-profileLink {
    text-decoration: underline;
}

.modal-sz-550 {
    width: 550px !important;
}

.modal-sz-500 {
    width: 500px !important;
}

.custom-modalbox {
    width: $width-modal-box;
    h4.multiple-cards-hdg {
        margin: 0;
        padding: 0;
        font-size: 13px;
        color: $color-mirage-block;
        font-weight: 600;
    }
    .modal-content {
        @include border-radius(2px);
    }
    .modal-content-founding {
        max-height: $height-modal-box;
    }
    .modal-header {
        padding-bottom: 0px;
        height: auto;
        .close {
            line-height: 0.6;
        }
    }
    .modal-header,
    .modal-footer {
        border: 0px solid;
        .blockcard-modal-footer {
            margin-top: 20px;
            span {
                color: #267adc;
                cursor: pointer;
                text-decoration: underline;
            }
            span:hover {
                text-decoration: none;
            }
        }
    }
    .modal-footer {
        text-align: center;
        padding: 0px;
        padding-top: 20px;
        .btn-disabled {
            background: #ddd;
            color: #7B7682;
        }
        .declaration {
            font-size: 12px;
            margin-top: 20px;
            text-align: left;
            line-height: 1.5;
            color: #190f27;
        }
    }
    .custom-modalbox-blockcard {
        padding-top: 0px;
    }
    .close {
        font-size: 30px;
        color: $color-medium-block;
        opacity: 0.4;
        filter: alpha(opacity=40);
        position: relative;
        top: 10px;
    }
    .custom-modal-body {
        //text-align: center;
        padding: $padding-modal-body;
    }
    .unblock-card-warning {
        position: absolute;
        top: -40px;
        left: 50%;
        width: 38px;
        transform: translate(-50%, -50%);
    }
    .choose-blockCard-Info {
        display: none;
        color: #000000;
        font-size: 13px;
        font-weight: 600;
        padding-bottom: 10px;
        text-align: left;
    }
    .custom-modal-body {
        padding: 0 40px 40px 40px;
    }
    .gst-modal-body {
        padding: 0 40px 40px 40px;
        .gst-modal-desc {
            text-align: center;
        }
    }
    h4 {
        color: $color-medium-block;
        padding: 10px 0px; // margin: 0;
    }
    h3 {
        font-size: 18px;
        padding: 0;
        margin: 0;
        color: $color-medium-block;
    }
    h6 {
        font-size: $font-size-x-small;
        color: $color-mirage-block;
    }
    .modal-body {
        padding: 0px;
        #loadingReportText {
            color: $color-santas-gray;
            margin-top: 20px;
        }
        #reportModalHeading {
            margin-top: 10px;
        }
        .program-funds,
        .modal-table {
            display: block;
            max-height: 338px;
            overflow-y: auto;
            .custom-table {
                width: 99%;
                margin: auto;
            }
        }
        .modal-body__note {
            font-size: $font-size-small;
            margin-top: 20px;
        }
    }
    .modal-border-hr {
        height: 1px;
        background-color: $modal-border-color;
    }
    .modal-subheading-pdtb {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .align-cntr {
        text-align: center !important;
    }
    .pad-top-8 {
        padding-top: 8px;
    }
    .pad-top-20 {
        padding-top: 20px;
    }
    .pad-top-4 {
        padding-top: 4px;
    }
    .pad-top-10 {
        padding-top: 10px !important;
    }
    .pad-top-30 {
        padding-top: 30px !important;
    }
    .account-details {
        p {
            color: $color-mirage-block;
            opacity: 0.7;
            filter: alpha(opacity=70);
            line-height: 23px;
        }
    }
    .account-discription {
        p {
            color: $color-mirage-block;
            opacity: 1;
            filter: alpha(opacity=100);
            line-height: 23px;
        }
    }
    .modal-heading-pdtb {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .width-para-next {
        width: 259px;
    }
    .heading-sub-text {
        color: $color-mirage-block;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    .heading-sub-text--size {
        font-size: $font-size-small;
    }
    .heading-sub-text--color {
        color: #e34237;
    }
    .modalbox-form-section {
        padding-top: 20px;
        label {
            color: $color-mirage-block;
        }
        .modalbox-form-section__text--size {
            font-size: $font-size-xs;
        }
        .modalbox-form-section__input--height {
            height: 32px;
        }
        .modalbox-form-section--width {
            width: 100%;
        }
        .info-list {
            padding: 0 22px;
            .list-items {
                padding: 5px 0px;
                color: #190f27;
                opacity: 0.7;
            }
        }
        .form-group {
            .control-group {
                display: block;
                padding-top: 5px;
                padding-bottom: 0;
                margin: 0;
                .control {
                    padding: 0 0 0 22px;
                    font-weight: 600;
                    .control__indicator {
                        top: 3px;
                        left: 0px;
                    }
                    .control__indicator {
                        height: 16px;
                        width: 16px;
                    }
                    .control__indicator:after {
                        left: 6px;
                        top: 3px;
                        width: 4px;
                        height: 9px;
                    }
                    .control-show {
                        display: none;
                    }
                }
                .card-each {
                    padding-top: 0px;
                    font-size: 14px;
                    font-weight: normal;
                }
                .terms {
                    padding-top: 2px;
                    .highlighted-txt {
                        color: #eb5946;
                    }
                }
            }
        }
    }
    .modal-note-text {
        font-size: $font-size-small;
        margin-top: 20px;
    }
}

// Modal Inner Container
.modal-inner-container {
    border: 1px solid $white-smoke;
    padding: 30px 30px 30px 30px !important;
    @include border-radius(2px);
}

.no-border {
    border: 0px !important;
}

// List Number Circle
.list-number-circle {
    width: 25px;
    height: 25px;
    @include border-radius(50%);
    border: 1px solid $white-smoke;
    display: inline-block;
    line-height: 25px;
    padding-left: 8px;
    margin-right: 10px;
}

// Divider OR Line
.divider-or-line {
    border-left: 1px solid $white-smoke;
    float: left;
    width: 50px;
    height: 200px;
    top: 20px;
    position: relative;
    left: 25px;
    span {
        position: relative;
        display: inline-block;
        color: #DDD;
        filter: alpha(opacity=30);
        top: 90px;
        left: -11px;
        background-color: #FFFFFF;
        @include border-radius(50%);
        height: 32px;
        width: 32px;
        line-height: 32px;
    }
}

//  CSS Table
.modal-addfund-table {
    .row-to-table {
        display: table;
        width: 100%;
    }
    .float-to-column {
        display: table-cell;
        vertical-align: top;
        float: none;
    }
}

// Modalbox Screen Center
.modal-dialog {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    &.thumbnail-modal {
        width: 1024px;
    }
}

.blockcard-summary {
    margin-top: 20px;
}

.beneficiary-cntr {
    img {
        margin: 0 auto;
        display: table;
        padding-top: 40px;
        width: 77px;
        height: 160px;
    }
    .heading-txt {
        margin: 0 auto;
        width: 366px;
        font-size: 18px;
        line-height: 0.83;
        text-align: center;
        color: #190f27;
        margin-top: 30px;
    }
    .content-txt {
        width: 426.9px;
        height: 60px;
        margin: 0 auto;
        opacity: 0.7;
        font-size: 14px;
        line-height: 1.43;
        text-align: center;
        color: #190f27;
        margin-top: 20px;
    }
    .sub-content {
        width: 426.9px;
        height: 50px;
        opacity: 0.7;
        font-size: 14px;
        line-height: 1.43;
        text-align: center;
        color: #190f27;
        margin: 0 auto;
        span {
            font-weight: 600;
        }
    }
}

.beneficiary-cntr-download{
    .heading-txt {
        margin: 0 auto;
        width: 366px;
        font-size: 18px;
        line-height: 0.83;
        text-align: center;
        color: #190f27;
        margin-top: 30px;
    }
}

.ifi-logo-details {
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    opacity: unset;
    img {
        width: 72px;
    }
    p {
        opacity: unset;
    }
}

.download-statement-modal {
    width: 598px;
    .padding-download-statement {
        padding: 30px 40px 40px 40px;
    }
    .padding-left-radio {
        padding-left: 15px;
    }
    .col-downloadstate {
        border: 1px solid #c7c4d2;
        padding-top: 10px;
        p {
            padding: 10px 0 10px 29px;
        }
    }
    .col-downloadstate-active {
        background-color: #f4f2f6;
        p {
            padding: 10px 0 10px 29px;
        }
    }
}

.add-user-modal {
    top: 60px;
    transform: translateX(-50%) !important;
    .role-select-wrap {
        .role-select {
            color: #5e5767;
            border-radius: 2px;
            border: 1px solid #dfdde6;
            padding: 10px;
            .role-row {
                margin-top: 10px;
                margin-bottom: 10px;
                .checkbox {
                    margin: 0;
                    label {
                        color: #5e5767;
                        input {
                            display: none;
                            position: relative;
                            margin: 0 5px 0 0;
                            &~span {
                                position: absolute;
                                width: 15px;
                                height: 15px;
                                border: 1px solid #c7c4d2;
                                background: #e9e6ed;  
                                top: 2px;
                                left: -5px;  
                                &:after{
                                    content: "";
                                    position: absolute;
                                    display: none;
                                }    
                            }
                            &:checked {
                                &~span {
                                    background: #00b898;
                                    &:after{
                                        display: block;
                                        left: 4px;
                                        top: 0px;
                                        width: 5px;
                                        height: 10px;
                                        border: solid white;
                                        border-width: 0 2px 2px 0;
                                        -webkit-transform: rotate(45deg);
                                        -ms-transform: rotate(45deg);
                                        transform: rotate(45deg);
                                    }
                                }
                            }
                        }
                        
                    }
                }
                &.other-roles {
                    &.role-select-disabled, &.row-disabled{
                        opacity: 0.6;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}