.nav-justified {
    ul {
        li {
            a {
                color: $nav-justified-text-color;
                font-size: $font-size-small;
                letter-spacing: 1px;

                &:hover,
                &:active,
                &:focus,
                &:visited {
                    background-color: transparent;
                }

                img {
                    padding-right: 8px;
                    position: relative;
                    top: -1px;
                }
            }
        }
    }
}