.modal-rupee{
    font-size: 17px !important;
    color: #190f27 !important;
}
.modal-subheading-rupee{
    font-size: 12px !important;
    color: #190f27 !important;
}
.amount-type{
    border: solid 1px #c7c4d2;
    padding-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.body-pad{
    padding: 20px;
}
.modalCross{
    font-size: 50px;
    padding-right: 10px;
}
.schedule-img{
    padding-bottom: 20px !important;
}
.modal-newHeader{
    padding: 0px !important;
}
.text-right{
    text-align: right;
}
#beneficiary-pic{
    height: 80px !important;
    width: 80px !important;
}
.cus-card-nav{
    @include custom-animation;
    right: 0% !important;
    top: -12% !important;
    left: unset !important;
}
.zero-zindex{
    z-index: 0 !important;
}
#schedule-amount-id{
    display: none;
}
#waiting-amount-id{
    display: none;
}
#canceled-amount-id{
    display: none;
}
#no-of-cardIssued{
    padding-top: 25px;
    font-size: 20px;
}
.card-button-pos{
    padding-top: 54px;
}
.card-link-pos{
    padding-top: 15px;
}
.amount-pic{
    height: 34px;
    width: 34px;
}
.schedule_images{
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}
.custom-modal-header{
    padding: 15px;
}
.amount-pos{
    margin-left: 10px;
    margin-right: 10px;
}
.view-link{
    color: blue;
    cursor: pointer;
}
.amount-table-pos{
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
#scheduled-amount-table{
    display: none;
}
#waiting-amount-table{
    display: none;
}
#canceled-amount-table{
    display: none;
}
.single-card-area{
    margin-top: 20px;
}
.pad-top-ten{
    padding-top: 10px;
}
.no-display{
    display: none;
}
.pos-initial{
    position: initial !important;
}
#revokePayoutConfirm{
    z-index: 9999999 !important;
}
.blank-card-container{
border: 1px solid #9c9eb8;
}
.medium-green {
    color: #00b898;
    opacity: 1; }
.medium-red{
color: red;
opacity: 1;
}
.orderLink{
    color: #190f27;
    text-decoration: underline;
}
.padding-top-85{
    padding-top: 85px;
}
.horizontal-scroll{
    height: 39px;
    overflow-x: auto;
    overflow-y: hidden;
}
.horizontal-scroll-ul{
    width: 1300px;
    position: relative;
}
.border-line{
    border: solid 1px #c7c4d2 !important;
    border-radius: 0px !important;
}
.pad-top-five{
    padding-top: 5px;
}
.pad-top-six{
    padding-top: 6px !important;
}
.left-right-pad{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 6px;
}
.custom-close{
    @include custom-animation;
    margin: 26px 0px 0px 0px;
    color: #190f27;
    opacity: 0.5;
    &:hover{
        opacity: 1; 
    }
}
.media-list-padding{
    padding: 20px 20px 10px 20px !important;
    box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08)
}
.pad-top-bottom-ninty{
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}
.pad-top-bottom-forteen{
    padding-top: 114px !important;
    padding-bottom: 114px !important;
}
.zero-vd-text{
    color: #190f27 !important;
    font-size: 20px !important;
    margin-top: -25px;
}
.margin-top-thirty{
    margin-top: 30px !important;
}
.amount-type{
    .express--loading{
        display: none !important;
    }
}
.pad-left-zero{
 padding-left: 0px !important;
}
.modified-header{
    padding-top: 0px !important;
    padding-bottom: 25px !important;
}
.cross-size-fortyfive{
font-size: 45px;
}
.box-overflow-visible{
    overflow: visible;
}
.anchor-disabled-button{
    padding: 20px !important;
    text-decoration: none !important;
    text-align: center !important;
    
    /* padding-bottom: 14px; */
    
    padding-top: 10px !important;
    display: inline !important;
    display: inline-block !important;
    text-transform: none !important;
    color: #696473 !important;
    opacity: 1 !important;
}
.anchor-disabled-tooltip{
    margin-top: -32px !important;
    white-space: normal !important;
    margin-left: -101px !important;
    
    /* width: 420px; */
    
    margin-top: -70px !important;
}
.anchor-desabled-tooltip-width{
    width: 200px;
}
.pad-top-thirty{
    padding-top: 30px;
}
.margin-top-thirty{
    margin-top: 30px;
}
.position-tooltip{
    margin-left: -82px !important;
}
.pad-top-twelve{
    padding-top: 12px !important;
}
.profile-heading-line{
    line-height: 1.119;
}
.no-card-img{
    width: 234px !important;
    height: 110px !important;
}
.beneficiary-amount{
    border: 1px solid #dfdde6 !important;
    box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
}    
#cardProgramIndividualBeneficiary{
    .payout-drpdown{
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
        border: solid 1px #c7c4d2;
        right: -4px !important;
        &:after {
            border-bottom: 6px solid #c7c4d2 !important;
        }
    }
}
#employee-program-details{
    .payout-drpdown{
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);
        border: solid 1px #c7c4d2;
        right: -4px !important;
        &:after {
            border-bottom: 6px solid #c7c4d2 !important;
        }
    }
}
ul#horizontal, #horizontal ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
    #horizontal li {
    float: left;  
    }
    #horizontal {
    height: 50px;
    float: left;
    width:100%;
    }
    
  
    #horizontal li.hideshow ul{
    position:absolute;
    background: #f3f3f3;
    z-index: 1;
    display:none;
    left:0px;
    }
    
    #horizontal li.hideshow
    {
    position:relative;
    }
    .margin-top-pos{
        margin-bottom: -11px !important;
    }
    // More drop down inside employee profile
    .more-dropdown-menu{
        max-height: 260px;
        overflow-y: auto;
        border-radius: 4px;
        background-color: #ffffff !important;
        box-shadow: 0 1px 3px 0 rgba(21, 12, 34, 0.08);
        border: 1px solid #c7c4d2;
        display: block;
        width: 204px;
        padding-top: 8px !important;
        padding-bottom: 14px !important;
        li{
            width: 100%;
            a {
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.60;
            letter-spacing: normal;
            text-align: left;
            color: rgba(25, 15, 39, 0.7);
            /* color: #428bca; */
            cursor: pointer;
            padding: 7px 10px 7px 20px;
            margin-top: 9px;
            white-space: normal;
            float: left;
            width: 100%;
            line-height: 10px;
            &:hover{
                color: #633ea5;
                background: #e9e6ed;
                text-decoration:none;
            }
            
        }
        &.active a{
            color: #633ea5;
            background: #e9e6ed;; 
        }
    }
 }
    
