.pagination-container {
    nav {
        ul {
            li {
                a {
                    @include border-radius(50%);

                    border: 0px solid;
                    color: $pagination-text-color;
                    padding: 4px 10px;
                    font-size: $font-size-small;
                    background-color: transparent;
                    opacity: 0.5;
                    filter: alpha(opacity = 50);

                    &:not(.active):hover {
                        background-color: transparent;
                        color: $pagination-text-color;
                        opacity: 1;
                        filter: alpha(opacity = 100);
                    }

                    &.active {
                        background-color: $pagination-highlight-bgcolor;
                        color: $pagination-text-color;
                        width: 25px;
                        height: 25px;
                        line-height: 26px;
                        border-radius: 100px;
                        padding: 0;
                        display: inline-block;
                    }

                    &.go-prev,&.go-next, &.go-first,&.go-last{
                        opacity: 1;
                    }

                    img {
                        position: relative;
                        display: inline-block;
                        top: -1px;
                        right: 0px;

                        &.icon-direction {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}