.page-heading {
    h1 {
        font-size: $font-size-large;
        margin: $mg-container-zero;
        color: $color-white;
    }
}

.page-sub-heading {
    h2 {
        font-size: 20px;
        margin: $mg-container-zero;
        margin-bottom: 10px; // padding: 0px 15px 0;
        color: #190f27;
    }
    
}

.page-sub-heading-txt {
    .txt {
        font-size: 13px;
        margin: $mg-container-zero;
        padding: 30px 0 0;
        color: #190f27;
    }
}

.transferorder-row {
    margin-right: 0px;
    margin-left: 0px;
}

.beneficiaries-txt {
    margin-top: 0;
    padding-top: 5px;
    font-size: 20px;
}

.search-box {
    padding-right: 0px;
    // right: -12px;
}

.manage-txt {
    font-size: 20px;
    margin-bottom: 15px;
//    padding: 30px 0 0;
    color: #190f27;
}

.corporate-txt {
    font-size: 20px;
    margin-bottom: 15px;
    padding: 10px 0 0;
    color: #190f27;
}

p {
    color: $sub-heading-color;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.heading-child-title {
    font-size: $font-size-regular;
    color: $color-medium-block;
    opacity: 0.7;
    filter: alpha(opacity=50);
}

.file-upload-heading {
    font-size: $font-size-x-regular;
    color: $heading-color;
    font-weight: $font-weight-bold;
}

.or-font {
    color: $color-mirage-block;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.link-default {
    color: $default-link-color;
    font-size: $font-size-small;
}
.notesContainer{
    padding: 12px 20px;
    border-radius: 2px;
    background: #4a90e2;
    margin-bottom: 20px;
    .notesAlertIcon{
        margin: 10px 10px 0 0;
        display: inline-block;
        height: 30px;
        float: left;
    }
    .notesAlertText{
        font-size: 12px;
        line-height: 1.5;
        text-align: left;
        color: #f2f2f2;
    }
}