.panel-container {
    //padding-top: 30px;
    margin-left: 30px;
    h6 {
        font-size: $font-size-x-small;
        color: $color-mirage-block;
    }
    .mg-tb-less {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p {
        font-size: $font-size-small;
        color: $color-mirage-block;
        &.opcity-reduce {
            filter: alpha(opacity=80);
            opacity: 0.8;
            a{
                cursor: pointer;
            }
        }
        .plus-symbol {
            font-size: 13px;
        }
    }
    .header-preview {
        font-size: $font-size-small;
        color: $color-mirage-block;
    }
    .preview-image-container {
        position: relative;
        background-color: #000000;
        opacity: 0.6;
        filter: alpha(opacity=60);
        transition: all .2s;
        cursor: pointer;
        @include border-radius(2px);
        &:hover {
            opacity: 1;
            filter: alpha(opacity=100);
        }
        .view-image {
            width: 100%;
            height: 130px;
            background-color: #000000;
            opacity: 0.2;
        }
        .image-preview {
            position: absolute;
            top: 44%;
            left: 46%;
            opacity: 1;
            filter: alpha(opacity=100);
        }
    }
    .download-img-list {
        img {
            margin-right: 10px;
            display: inline-block;
            width: 27px;
            height: 36px;
        }
      }
    .thumbnail {
        margin-bottom: 0px;
        border: 0px solid;
        padding: 0px;
    }
}

.thumbnail {
    border: 0px solid;
}

.img-responsive {
    width: 100% !important;
}
