@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -o-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
}

.popover {
    @include border-radius(2px);

    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    border: transparent;
}

.popover.bottom > .arrow {
    border-bottom-color: rgba(229, 229, 229, 0.4);
    top: -7px;
    margin-left: -6px;
}

.popover > .arrow:after {
    border-width: 6px;
}

.popover.bottom > .arrow:after {
    margin-left: -6px;
}

.popover > .arrow {
    border-width: 6px;
}

.popover-content {
    font-size: $font-size-small;
    color: $popover-text-color;

    span {
        color: $popover-text-color;
        font-size: $font-size-regular;
        opacity: 0.7;
        filter: alpha(opacity = 70);
        transform: all 0.5s ease-in-out;
        &:hover{
            color: #000;
            opacity: 1;
            cursor: pointer;
        }
    }
}