.progress-custom-container {
    width: 120px;

    .progress-custom {
        overflow: hidden;

        .first-child-radius {
            border-top-left-radius: 60px;
            border-bottom-left-radius: 60px;
            -moz-border-top-left-radius: 60px;
            -moz-border-bottom-left-radius: 60px;
            -webkit-border-top-left-radius: 60px;
            -webkit-border-bottom-left-radius: 60px;
        }

        .last-child-radius {
            border-top-right-radius: 60px;
            border-bottom-right-radius: 60px;
            -moz-border-top-right-radius: 60px;
            -moz-border-bottom-right-radius: 60px;
            -webkit-border-top-right-radius: 60px;
            -webkit-border-bottom-right-radius: 60px;
        }

        .progress-bar {
            height: 4px;
        }

        .progress-bar-green {
            background-color: $color-green;
        }

        .progress-bar-orange {
            background-color: $color-orange;
        }

        .progress-bar-pink {
            background-color: $color-pink-progress;
        }
    }
}