.saving-data-wrpr {
    background: #fff;
    box-shadow: 0px 1px 2px 0 rgba($color: #000, $alpha: 0.05);
    margin-bottom: 30px;
    border-radius: $block-border-radius;
    ul {
        padding: 0;
        list-style-type: none;

        li {
            padding: 25px 5px 25px 25px;
            border-bottom: 1px solid $color-white-gray;

            .saving-data-icon {
                width: 40px;
                height: 40px;
                float: left;
                background-size: 40px;
                margin-right: 10px;
            }

            .tax-saved-icon {
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/tax-saved-icon.png");
            }

            .time-saved-icon {
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/time-saved-icon.png");
            }

            .trees-saved-icon {
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/trees-saved-icon.png");
            }

            .transaction-icon {
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/transaction-icon.png");
            }

            .employees-icon {
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/employees-icon.svg");
            }

            .transaction-amt-icon {
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/transaction-amt-icon.png");
            }

            .supercard-issued-icon {
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/supercard-issued-icon.png");
            }
            .transferred-icon {
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/transferred-icon.svg");
            }
            .reimbursed-icon {
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/reimbursed-icon.svg");
            }

            .active-supertags-icon {
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/active-supertags-icon.png");
            }

            .saving-data-val-wrpr {
                float: left;

                .saving-data-val {
                    font-size: 20px;
                    line-height: 18px;
                    color: #190f27;
                }

                .saving-data-text {
                    font-size: 14px;
                    line-height: 12px;
                    color:#190f27 ;//rgba($color: #190f27, $alpha: 0.4)
                    padding-top: 2px;
                    padding-bottom: 10px;
                    opacity:0.7;
                }
            }
        }

        li.saving-data-img {
            background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/saving-data-img.png");
            background-size: 85px 79px;
            background-repeat: no-repeat;
            background-position: right 22px;
        }

        li.overview-vertical-li-last{
            border-bottom: 0px solid;
            padding: 0px 5px 20px 25px;
        }

        li.border-bot-0{
            border-bottom: 0px solid;
        }
    }
}
