.sign-up-wrapper {
  margin-top: 6%; // display: none;
}

.app-container {
  min-height: 100%;
}

/**
 * ============  NEW SIGNUP PAGE  ============
 */

.signup-parent {
  height: 100vh;
  &.signup-parent--employees {
    .signup__hero--hradmins,
    .signup__form-container--hradmins,
    .signup__form-container--login {
      display: none;
    }
    .signup__form___button {
      margin-bottom: 0;
    }
  }
  &.signup-parent--hradmins {
    .signup__hero--employees,
    .signup__form-container--employees,
    .signup__form-container--login {
      display: none;
    }
  }
  .signup__form-container--login {
    .signup__form___button {
      clear: both;
      margin-bottom: 0;
    }
  }
  .link {
    color: #633ea5;
    cursor: pointer;
  }
  .link--forget-pass {
    margin-bottom: 20px;
    float: right;
  }
  .div-msg {
    margin-top: 20px;
  }
  .tnc {
    font-size: 12px;
    line-height: 1.7;
    width: 80%;
    margin: 0 auto;
    color: rgba(#190F27, 0.5);
    .link {
      color: rgba(#190F27, 0.5);
      text-decoration: underline;
      font-weight: 600;
    }
  }
}

.signup__info-text {
  color: rgba(#190F27, 0.5);
  margin-bottom: 30px;
}

.signup-parent__left {
  text-align: left;
  float: left;
  width: 50%;
  height: 100%;
  padding: 40px;
  position: relative;
  background: #633ea5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  &:after {
    position: absolute;
    content: '';
    right: -5px;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background: #633ea5;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.sodexo-background {
  background: #2A2C83;
  &:after {
    background: #2A2C83;
  }
}
.signup__logo {
  background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/zeta-logo.svg);
  background-size: 57px 23px;
  height: 23px;
  width: 57px;
  display: block;
  cursor: pointer;
  float: left;
}

.hdfc__logo {
  background: url(/images/hdfc__logo.png);
  background-size: 162px 47px;
  height: 47px;
  width: 162px;
  display: block;
  cursor: pointer;
  float: right;
}
.sodexo__logo {
  background: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/sodexo-logo-withtext.png);
  background-size: 200px 60px;
  height: 60px;
  width: 200px;
  display: block;
  cursor: pointer;
  float: right;
  background-repeat: no-repeat;
}
.signup__back {
  display: inline-block;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px; // margin-top: 32px;
  // padding-left: 35px;
  // background: url(../img/back-arrow.png) no-repeat;
  background-size: 16px 12px;
  background-position: left 1px;
  &:hover,
  &:active,
  &:visited {
    color: white;
  }
}

.signup__hero {
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 235px;
  background-repeat: no-repeat;
  background-position: top center;
  &.signup__hero--hradmins {
    background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/signup-hr.png);
    background-size: 350px 219px;
  }
  &.signup__hero--hradmins-sodexo {
    background-image: url(/images/sodexo-hr-signup.png);
    background-size: 350px 219px;
  }
  &.signup__hero--employees {
    background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/signup-em.png);
    background-size: 111px 114px;
  }
}

.signup__hero___heading {
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin: 0 0 5px 0;
}

.signup__hero___desc {
  font-size: 16px;
  line-height: 27px;
  color: $color-white;
  color: rgba(white, 0.7);
}

.signup__support {
  text-align: center;
}

.signup__support___help {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color-white;
  color: rgba(white, 0.7);
}

.signup__support___list {
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin: 0 15px;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 16px;
    height: 15px;
  }
  a {
    color: white;
  }
}

.support__list___phone {
  background-image: url(../images/icon-phone.png);
  background-size: 12px 12px;
  font-size: 12px;
}

.support__list___email {
  background-image: url(../images/icon-email.png);
  background-size: 12px 9px;
  font-size: 13px;
}

.signup-parent__right {
  float: right;
  width: 50%;
  height: 100vh;
  background: #E9E6ED;
  overflow: auto;
  &.signup-parent__right--login {
    .signup__form-container--hradmins,
    .signup__form-container--employees {
      display: none;
    }
    .signup__form-container--login {
      display: block;
    }
}
  .signUpTandC {
    display: grid;
    label.control {
      &.checbox {
        padding: 0;
        .control__indicator {
          top: 0px;
        }
      }
      font-weight: normal;
      font-size: 12PX;
    //   display: inherit;
      margin-bottom: 0;
      // margin-right: 50px;
      a:hover {
        text-decoration: none;
      }
    }
  }
}

.signup__form-container {
  height: 100%;
  max-width: 500px;
  display: table;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
}

.signin__form-container {
  text-align: center;
  position: relative;
  top: 35%;
  margin: 0 auto;
}

.signup__form__wrpr {
  display: table-cell;
  vertical-align: middle;
}

.signup__form {
  display: inline-block;
  background: white;
  box-shadow: 0px 2px 4px rgba(black, 0.06); // width: calc(100% - 160px);
  // max-width: 500px;
  padding: 36px 40px;
  .form-title {
    text-align: left;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 14px;
    color: rgba(25,15,39, 0.6);
  }
  .signup__form__cntr {
    text-align: left;
    label {
      font-size: 16px;
      font-weight: normal;
    }
    label.landing-page-label {
      margin-bottom: 13px;
    }
  }
  h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #222;
    font-weight: 400;
    text-align: center;
  }
  h3.signin__hdg {
    text-align: left;
  }
  .textbox__dropdown {
    position: relative;
    .drop__down {
      width: 45px;
      border: none;
      position: absolute;
      background: none;
      padding: 0;
      &:active,
      &:focus {
        border: none;
      }
    }
    .signup__form___input {
      text-indent: 40px;
    }
    .side__line {
      border-right: 1px solid #C7C4D2;
      height: 23px;
      position: absolute;
      left: 49px;
      top: 8px;
    }
  }
  .mobile-number {
    position: relative;
    .country-code {
      position: absolute;
      left: 0;
      top: 0;
      width: 35px;
      height: 40px;
      color: #190F27;
      font-size: 13px;
      border-right: 1px solid #C7C4D2;
      p {
        padding-top: 11px;
        padding-left: 5px;
      }
    }
    .text__indent {
      text-indent: 27px;
    }
  }
  .input__border {
    border: 1px solid #C7C4D2;
    border-radius: 2px;
    .drop__down {
      border: none;
      &:active,
      &:focus {
        border: none;
      }
    }
  }

  .checkbox__container {
    text-align: left;
    .same__address__checkbox {
      padding: 0 0 10px 5px;
    }
  }

  .input-wrapper {
    text-align: left;
    margin-bottom: 15px;
    .input-label {
      color: #222;
      width: 100%;
      height: 20px;
      line-height: 20px;
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 13px;
    }
    .input-error {
      border-color: red;
    }
    .error {
      margin-top: 5px;
      font-size: 12px;
      padding-left: 5px;
      color: #D94A49;
      display: none;
    }
  }
  .input-half {
    font-size: 0;
    .input-wrapper {
      display: inline-block;
      width: calc(50% - 10px);
      margin-right: 20px;
      vertical-align: top;
    }
    .input-wrapper:last-of-type {
      margin-right: 0;
    }
  }
  .input-full {
    .input-wrapper {
      width: 100%;
    }
  }
  .input-with-link {
    .input-wrapper {
      width: 55%;
      float: left;
    }
    .link-cntr {
      float: left;
      padding: 5px 0 0 10px;
      font-size: 12px;
      text-align: left;
      width: 45%;
      label {
        color: #4a90e2;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
      .file-name {
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .error {
        color: red;
        margin: 0;
        display: block;
      }
    }
  }
  .input-city-half {
    text-align: left;
  }
  .signup__form___input,
  .signup__form___select,
  .signup__form___textarea {
    height: 40px;
    background: white;
    border: 1px solid #C7C4D2;
    padding: 0 16px;
    line-height: 40px;
    color: #190F27;
    font-size: 13px;
    width: 100%;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
    &:active,
    &:focus {
      border: 1px solid #797783;
    }
    &.err {
      border: 1px solid #D94A49;
    }
  }
  .signup__form___email {
    font-size: 16px;
  }
  .signup__form___textarea {
    height: 85px;
    resize: none;
  }
  .signup__form___download {
    font-size: 0;
    a {
      margin: 0 8px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .select-input-wrapper {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      right: 18px;
      top: 20px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #c3c3c3;
    }
  }
  .signup__form___button {
    display: block;
    background: #ffbc00;
    border-radius: 2px;
    height: 45px;
    line-height: 45px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &.loading::after {
      background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif);
      content: ' ';
      height: 16px;
      width: 16px;
      display: inline-flex;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 11px;
      position: relative;
      top: 5px;
    }
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
  .sodexo-vietnam_button {
    background: #EC2324;
  }
}



.signup__form__success__wrpr {
  display: none; //display: table-cell;
  vertical-align: middle;
  .signup__form__success {
    display: inline-block;
    background: white;
    box-shadow: 0px 2px 4px rgba(black, 0.06);
    width: 100%;
    max-width: 600px;
    padding: 36px 50px;
    text-align: center;
    color: $color-mirage-block;
    .success__icon {
      background: url(../images/sucess-icon.png);
      height: 38px;
      width: 38px;
      margin: 0 auto 30px auto;
    }
    h3 {
      font-size: 18px;
      margin: 0;
    }
    .signup__form__success_disc {
      font-size: 14px;
      opacity: 0.7;
      padding: 14px 0 26px 0;
    }
    .signup__form__success_mail {
      color: #5e5767;
      font-size: 12px;
      line-height: 20px;
      a {
        color: $color-black;
        text-decoration: underline;
      }
    }
  }
  .signup__login-link {
    margin: 20px 0;
    color: $color-black;
  }
  .social__icon__wrpr {
    .social__icon {
      display: inline-block;
      margin-right: 30px;
    }
    .facebook__icon {
      background: url(../images/facebook.png);
      height: 20px;
      width: 20px;
      background-size: 20px;
    }
    .twitter__icon {
      background: url(../images/twitter.png);
      height: 17px;
      width: 20px;
      background-size: 20px 17px;
    }
    .youtube__icon {
      background: url(../images/youtube.png);
      height: 20px;
      width: 28px;
      background-size: 28px 20px;
    }
    .instagram__icon {
      background: url(../images/instagram.png);
      height: 20px;
      width: 20px;
      background-size: 20px;
    }
  }
}

.separator-with-word {
  font-size: 14px;
  color: #190F27;
  letter-spacing: 0px;
  position: relative;
  margin: 40px 0;
  z-index: 1;
  &:before {
    position: absolute;
    content: '';
    height: 1px;
    background: #EAE9ED;
    width: 100%;
    left: 0;
    top: calc(50% - 1px);
    z-index: -1;
  }
  &:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 60px;
    left: calc(50% - 30px);
    background: white;
    z-index: -1;
  }
}

.signup__login-link {
  font-size: 14px;
  margin-top: 30px;
  opacity: 1;
  a.link {
    text-decoration: none;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}

::-webkit-input-placeholder {
  color: rgba(#190F27, 0.3);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(#190F27, 0.3);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(#190F27, 0.3);
}

:-ms-input-placeholder {
  color: rgba(#190F27, 0.3);
}

select:invalid {
  color: rgba(#190F27, 0.3);
}

@media screen and (max-width: 1250px) {
  .signup__form {
    .signup__form___download {
      a {
        margin: 16px 0 0;
        display: block;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .signup-parent {
    height: auto;
  }
  .signup-parent__left,
  .signup-parent__right {
    display: block;
    float: none;
    width: 100%;
    height: auto;
  }
  .signup-parent__left {
    text-align: center;
    padding: 16px 16px 40px;
  }
  .signup-parent__right {
    padding: 16px;
  }
  .signup__header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .signup__back,
  .signup__shadow-link {
    font-size: 0;
    display: block;
    height: 14px;
    width: 18px;
    background-size: 18px 14px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
  }
  .signup__back {
    //background-image: url(../img/back-arrow.png);
  }
  .signup__logo {
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
  }
  .signup__hero {
    margin: 40px auto;
  }
  .signup__hero___heading {
    font-size: 28px;
  }
  .signup__form-container {
    top: 0;
    transform: none;
  }
  .signup__form {
    width: 100%;
    max-width: 100%;
    padding: 40px 16px;
    .signup__form___download {
      a {
        margin: 16px 0 0;
        display: block;
      }
    }
    .input-half {
      font-size: 0;
      .input-wrapper {
        display: block;
        width: 100%;
        margin-right: 0;
      }
    }
    .input-city-half {
      text-align: left;
    }
  }
}

.input-wrapper .error-msg {
  font-size: 14px;
  color: red;
}

/**
 * ===========================================
 */

.media-div {
  width: 55%;
  float: left;
  color: #ffffff;
  position: relative;
  .main {
    padding: 5% 5% 0 7%;
    .media-section {
      margin-top: 10%;
      .exp-text {
        width: 70%;
        float: right;
        .comma {
          opacity: 0.1;
          font-family: Gotham;
          font-size: 46px;
          font-weight: 700;
          color: #ffffff;
        }
        div {
          font-style: italic;
          font-size: 24px;
          font-weight: 300;
          line-height: 1.25;
          margin: -8% 0 0 8%;
          span:last-child {
            font-weight: bold;
          }
          span:first-child {
            opacity: 0.8;
            font-weight: normal;
          }
        }
      }
      .image {
        //    width: 30%;
        cursor: pointer;
        padding-top: 165px;
        margin-bottom: 3rem;
        text-align: center;
        position: relative;
        .hr2 {
          position: absolute;
          left: 30px;
          bottom: 0;
          width: 190px;
          height: 160px;
        }
        .txt-play {
          width: 375px;
          height: 64px;
          margin-left: 20%;
          border-radius: 2px;
          background-color: #46316c;
          border: solid 1px #573e82;
          padding: 10px;
          .name {
            font-size: 30px;
            width: 132px;
            height: 32px;
            margin: auto;
            img {
              height: 100%;
              width: 100%;
              margin: 0;
            }
          }
          .desig {
            font-size: 10px;
            font-weight: 400;
            width: 170px;
            margin: auto;
            opacity: 0.7;
          }
        }
        .safwan {
          width: 20rem;
          height: 15rem;
        }
        .play-div {}
        img {
          margin: 5px 10px 0 0;
          float: right;
          width: 32px;
          height: 32px;
        }
        span {}
      }
    }
    .text-float {
      display: none;
      position: absolute;
      top: 5px;
      right: 20px;
      padding: 1rem;
      width: 180px;
      height: 40px;
      font-family: BanglaSangamMN;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.43;
      text-align: center;
      opacity: 0.7;
      span {
        color: #fdb142;
      }
      .arrow {
        width: 51px;
        height: 43px;
        margin: auto;
        margin-top: 1rem 20px 0 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .hr-img {
      max-width: 560px;
      width: 100%;
      height: 200px;
      cursor: pointer;
    }
    .comp-sections {
      display: none;
      padding: 2rem;
      div {
        padding: 0 0 2% 0;
      }
      span {
        opacity: 0.5;
        font-size: 12px;
        font-weight: 600;
        line-height: 0.75;
        letter-spacing: 1px;
      }
      .logo {
        width: 110px;
        height: 27px;
        margin-right: 8%;
        margin-top: 4%;
      }
      .logo1 {
        width: 63px;
        height: 27px;
        margin-right: 8%;
        margin-top: 4%;
      }
      .logo2 {
        height: 12px;
        width: 95px;
        margin-right: 8%;
        margin-top: 4%;
      }
      .logo3 {
        width: 71px;
        height: 21px;
        margin-top: 4%;
      }
    }
  }
}

.signup-container {
  width: 45%;
  max-width: 575px;
  float: right;
  padding: 0 10% 0 0;
  text-align: center;
  .logo {}
  .signup-form-container {
    .signup-header {
      //    background-color: $zmv-form-header-bg-clr;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      font-size: 20px;
      line-height: 25px;
      color: $zmv-font-clr;
      height: 4.5rem;
      .tabs {
        width: 50%;
        padding: 1.2rem;
        font-size: 14px;
        color: white;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }
      .right-link {
        font-size: 10px;
        text-align: right;
      }
      .switch {
        background-color: white;
        color: black; // font-weight:600;
        //    background-image: linear-gradient(234deg, #633ea5, #36215a);
      }
    }
    .signup-form {
      background-color: white;
      padding: 1% 5%;
      .form-heading {
        font-size: 18px;
        margin: 30px 0;
      }
      .div-input {
        margin-bottom: 16px;
        .error {
          text-align: left;
          padding: 5px;
          color: red;
          display: none;
        }
        .err {
          border: 1px solid red;
        }
      }
      .div-last-input {
        margin-bottom: 15px;
      }
      .div-btn {
        margin-top: 10px;
        margin-bottom: 5px;
      }
      .div-msg {
        margin: 10px 0 15px 0;
        font-size: 16px;
        border-radius: 4px;
        background-color: #f93943;
        .div-error {
          font-family: ProximaNova;
          font-size: 14px;
          font-weight: 400;
          text-align: center;
          color: #ffffff;
        }
        .div-success {
          color: $zmv-success-clr;
        }
      }
      .section-middle {
        float: none;
        clear: both;
        padding: 5px 250px 0 250px;
      }
      .emp-width {
        width: 68%;
      }
      .city-width {
        width: 30%;
      }
      .comp-phone-width,
      .pass-width {
        width: 48%;
      }
      .comp-name-width,
      .name-width {
        width: 50%;
      }
      .blink {
        color: #633ea5;
      }
      .tnc {
        font-size: 11px;
        line-height: 1.5;
        color: #7c7980;
        width: 80%;
        margin: 16px auto;
      }
    }
    .signup-footer {
      // background-color: white;
      // border-top: 1px solid #f4f4f4;
      border-radius: 2px;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      font-size: 14px;
      color: #7c7980;
      font-weight: 400;
      padding: 1.5rem 0 1.5rem 0;
      margin-top: 10px; // border-top-right-radius: 0;
      // border-top-left-radius: 0;
      .txt-have-account {
        color: white;
      }
      .link {
        font-size: 14px;
        color: white;
        font-weight: 600;
      }
    }
  }
}

.employee-side {
  background: white;
  .up {
    padding: 1rem;
    padding-bottom: 8rem;
  }
  .form-heading {
    font-size: 18px;
    margin: 30px 0;
  }
  .down {
    background: #633ea5;
    padding: 3rem;
    color: white;
    position: relative;
    img {
      width: 170px;
      height: 154px;
      position: absolute;
      top: 18%;
      right: 2%;
    }
    .notice {
      float: left;
      font-size: 32px;
      font-weight: 600;
      line-height: 1;
    }
    .notice-txt {
      font-size: 14px;
      float: left;
      width: 50%;
      font-weight: 400;
      text-align: left;
      margin: 24px 0 0px 0;
    }
    .learn-btn {
      margin-top: 14rem;
      padding: 15px 10px;
      width: 40%;
      border-radius: 2px;
      background-color: #5fad56;
      font-size: 12px;
      letter-spacing: 1px;
    }
  }
  .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    color: #2c2b2b;
    margin: 30px 10px 10px 10px;
    padding-bottom: 2rem;
    text-align: left;
    span {
      font-weight: bold;
    }
  }
  .dwnld-text {
    margin: 20px 10px 0px 10px;
    padding: 1rem 0 0 0;
    h4 {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #dfdde2;
      line-height: 0.1em;
      margin: 10px 0 20px;
      font-size: 14px;
    }
    span {
      background: #fff;
      padding: 0 10px;
      font-size: 16px;
      font-weight: 400;
      color: #2c2b2b;
    }
  }
  .store-img {
    margin: 20px 5px 20px 5px;
    padding: 10px 0 10px 0;
    text-align: center;
    .img-span {
      margin-right: 1rem;
      img {
        width: 121px;
        height: 36px;
        margin: 10px 0 10px 0;
      }
    }
  }
  .only-text {
    width: 60%;
    float: left;
  }
  .only-img {
    width: 40%;
    float: right;
    img {
      width: 12rem;
      height: 12rem;
    }
  }
}

.popup {
  width: 100%;
  height: 100%;
  background: rgba(99, 62, 165, 0.95);
  opacity: 0.98;
  position: fixed;
  top: 0;
  a {
    text-decoration: none;
  }
  .screenshot {
    width: 50%;
    max-width: 640px;
    margin: auto;
    margin-top: 16%;
    background-color: #ffffff;
    border-radius: 2px;
    height: auto;
    .utube-video {
      width: 100%;
      height: 350px;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    .cancel {
      float: right;
      cursor: pointer;
      width: 18px;
      height: 18px;
      margin: 10px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .title {
      width: 100%;
      padding: 1rem;
      text-align: center;
      padding-top: 24px;
      font-size: 18px;
      span {
        font-weight: bold;
      }
    }
    form {
      padding: 2rem 2rem 0 2rem;
      .div-input {
        padding-bottom: 16px;
      }
      input {
        width: 100%;
      }
      .emp-width {
        width: 60%;
      }
      .city-width {
        width: 40%;
      }
    }
    .div-btn {
      padding: 0 2rem 40px 2rem;
      button {
        width: 100%;
        margin-top: 1rem;
      }
    }
    .sharing {
      .text {
        padding: 24px 2rem;
        font-size: 14px;
        text-align: center;
      }
      .social-media {
        text-align: center;
        padding: 1rem 0 2rem 0;
        div {
          width: 70%;
          margin: auto;
          padding: 1rem;
          border: 1px solid #a89dbb;
          border-radius: 2px;
          margin-bottom: 24px;
          font-size: 12px;
          font-weight: 400;
          line-height: 0.75;
          letter-spacing: 1px;
          color: #2c2b2b;
          img {
            width: 24px;
          }
          .ytube {
            height: 18px;
          }
          .fb {
            height: 24px;
          }
          .twt {
            height: 20px;
          }
          span {
            vertical-align: middle;
            margin-left: 10px;
          }
        }
      }
    }
    .video-div {
      video {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .media-div {
    .main {
      padding-left: 25% !important;
    }
  }
  .signup-container {
    margin-right: 4%;
  }
  .text-float {
    right: -20px !important;
    top: 10px !important;
  }
}

@media only screen and (min-width: 1800px) {
  .sign-up-wrapper {
    margin-top: 9% !important;
  }
  .media-div {
    .main {
      padding-left: 25% !important;
    }
  }
  .signup-container {
    margin-right: 10%;
    max-width: 620px !important;
  }
  .hr2 {
    left: 70px !important;
  }
  .media-section {
    margin-top: 12% !important;
  }
}

@media screen and (max-width: 550px) {
  .app-container {
    height: auto !important;
  }
  .media-div {
    float: none;
    width: auto;
  }
  .signup-container {
    width: auto;
    margin-left: 10%;
    float: none;
  }
  .sign-up-wrapper {
    margin-top: 15%;
  }
  .text-float {
    display: none;
  }
  .main {
    padding-left: 10% !important;
    padding-top: 0 !important;
  }
  .media-section {
    margin-top: 0% !important;
  }
  .image {
    padding-top: 30% !important;
    width: 70%;
  }
  .hr2 {
    left: 0 !important;
    width: 120px !important;
    height: 100px !important;
  }
  .txt-play {
    width: 100% !important;
    height: 40px !important;
    margin-left: 30% !important;
    .play {
      width: 20px !important;
      height: 20px !important;
      margin-top: 0 !important;
    }
    .name {
      width: 65px !important;
      height: 15px !important;
    }
    .desig {
      font-size: 7px !important;
      padding-left: 30px !important;
    }
  }
  .comp-sections {
    padding: 0 0 2% 0 !important;
  }
  .care-number {
    margin-right: 5% !important;
  }
  .learn-btn {
    width: 45% !important;
    margin-top: 14em !important;
    padding: 5px !important;
  }
  .demo {
    width: 100px !important;
  }
  .screenshot {
    width: auto !important;
    margin: 40% 8% !important;
  }
  .logo3 {
    margin-top: 15px;
  }
  .down {
    img {
      width: 150px !important;
      right: 0 !important;
      top: 25% !important;
    }
  }
  .logo-img {
    width: 40px !important;
    height: 20px !important;
  }
  .demo {
    height: 20px !important;
  }
  .care-number {
    img:last-child {
      height: 12px !important;
      width: 12px !important;
    }
    div {
      font-size: 10px !important;
    }
  }
  .dwnld-text {
    span {
      font-size: 12px !important;
    }
  }
  .img-span {
    margin-right: 0 !important;
  }
  .exp-text {
    width: 75% !important;
    .comma {
      font-size: 35px !important;
    }
    div {
      font-size: 12px !important;
    }
  }
  .notice-txt {
    font-size: 13px !important;
  }
}

.sign-up-wrapper {
  a {
    color: #b19ed2;
    text-decoration: underline;
  }
  a:hover {
    color: #b19ed2;
  }
  button:hover {
    color: white;
  }
}

.signup-error {
  text-align: center;
  color: red;
  font-size: 16px;
  padding-bottom: 20px;
  line-height: 22px;
}

.input-error {
  border-color: red !important;
}

.signup__form-container-switcher {
  text-align: center;
  position: absolute !important;
  top: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.no-transform{
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}

.signup__form-container-switch {
  text-align: center;
  position: relative;
  top: 50%;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  .container-corparate-switch {
    width: 100%;
    max-height: 296px;
    overflow-y: auto; // &::-webkit-scrollbar {
    //     -webkit-appearance: none;
    //     width: 7px;
    // }
    // &::-webkit-scrollbar-thumb {
    //     border-radius: 4px;
    //     background-color: rgba(0,0,0,.5);
    //     -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    // }
  }
  .list-group {
    margin-bottom: 10px;
    width: 90%;
  }
  .list-group-table {
    display: table;
    width: 100%;
    .list-group-table-cell {
      display: table-cell;
      vertical-align: middle;
      width: 50px;
      p {
        border-radius: 100px;
        font-size: 14px;
        color: #000000;
        text-align: center;
        background: #dad8e1;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-transform: uppercase;
      }
    }
    .list-group-tablecell {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .list-group-item {
    transition-property: all;
    transition-duration: .5s;
  }
  .list-group-item:hover {
    text-decoration: none;
    border-radius: 4px;
    color: #000000;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(20, 12, 33, 0.18);
    border: solid 1px #dfdde6;
    pointer-events: all;
    cursor: pointer;
    .list-group-item-text {
      color: #190f27;
    }
    .list-group-item-text:active {
      color: #190f27;
    }
  }
  .list-group-active:hover {
    border-radius: 4px;
    /* background-color: #00b898; */
    border-left: 1px solid #00b898;
  }
  .list-group-active:focus {
    border-radius: 4px;
    /* background-color: #00b898; */
    border-left: 1px solid #00b898;
  }
  .list-group-item-activeSelect {
    text-decoration: none;
    border-radius: 4px;
    color: #000000;
    background-color: #f1eff2 !important;
    box-shadow: 0 3px 6px 0 rgba(20, 12, 33, 0.18);
    border: solid 1px #dfdde6;
    pointer-events: all;
    cursor: pointer;
    z-index: 100;
    border-radius: 4px;
    /* background-color: #00b898; */
    border-left: 4px solid #00b898 !important;
    .list-group-item-text {
      color: #190f27;
    }
    .list-group-item-text:active {
      color: #190f27;
    }
  }
  .list-group-item-text {
    color: #190f27;
  }
  .list-group-item-text:active {
    color: #190f27;
  }
  .list-group-item-text:hover {
    color: #190f27;
  }
  .list-group-item:focus {
    text-decoration: none;
    color: #000000;
    border-radius: 4px;
    background-color: #f1eff2;
    box-shadow: 0 3px 6px 0 rgba(20, 12, 33, 0.18);
    border: solid 1px #dfdde6;
    pointer-events: all;
    cursor: pointer;
    border-radius: 4px;
    /* background-color: #00b898; */
    border-left: 4px solid #00b898;
    .list-group-item-text {
      color: #190f27;
    }
    .list-group-item-text:active {
      color: #190f27;
    }
    .list-group-item-text:focus {
      color: #190f27;
    }
  }
  .list-group-item-activeSelect:hover {
    border-radius: 4px;
    /* background-color: #00b898; */
    .list-group-item-text {
      color: #190f27;
    }
    .list-group-item-text:active {
      color: #190f27;
    }
  }
  .list-group-item-text:focus {
    color: #190f27;
    border-left: 4px solid #00b898;
  }
  .list-group-item-heading {
    margin-bottom: 2px;
  }
  .signup__form--switch {
    display: inline-block;
    background: white;
    box-shadow: 0px 2px 4px rgba(black, 0.06);
    width: calc(100% - 160px);
    max-width: 500px;
    padding: 40px 20px 30px 75px;
    .signup__form--switch--close {
      position: relative;
      top: -28px;
    }
    .modal-body {
      margin-right: 40px;
    }
    .signup__form__cntr {
      text-align: left;
      label {
        font-size: 16px;
        font-weight: normal;
      }
      label.landing-page-label {
        margin-bottom: 13px;
      }
    }
    h3 {
      margin: 0;
      font-size: 18px;
      color: #222;
      font-weight: 400;
      text-align: center;
    }
    .building-icon {
      text-align: center;
      margin-bottom: 20px;
      padding-right: 34px;
    }
    h3.signin__hdg--switch {
      text-align: center;
      padding-right: 34px;
      padding-bottom: 10px;
    }
    .input-wrapper {
      text-align: left;
      margin-bottom: 15px;
      .input-label {
        color: #222;
        width: 100%;
        height: 20px;
        line-height: 20px;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 13px;
      }
      .input-error {
        border-color: red;
      }
      .error {
        margin-top: 5px;
        font-size: 12px;
        padding-left: 5px;
        color: #D94A49;
        display: none;
      }
    }
    .input-half {
      font-size: 0;
      .input-wrapper {
        display: inline-block;
        width: calc(50% - 10px);
        margin-right: 20px;
        vertical-align: top;
      }
      .input-wrapper:last-of-type {
        margin-right: 0;
      }
    }
    .input-full {
      .input-wrapper {
        width: 100%;
      }
    }
    .input-with-link {
      .input-wrapper {
        width: 55%;
        float: left;
      }
      .link-cntr {
        float: left;
        padding: 5px 0 0 10px;
        font-size: 12px;
        text-align: left;
        width: 45%;
        label {
          color: #4a90e2;
          text-decoration: underline;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
        }
        .file-name {
          width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .error {
          color: red;
          margin: 0;
          display: block;
        }
      }
    }
    .input-city-half {
      text-align: left;
    }
    .signup__form___input,
    .signup__form___select,
    .signup__form___textarea {
      height: 45px;
      background: white;
      border: 1px solid #c7c4d2;
      padding: 0 16px;
      line-height: 45px;
      color: #190F27;
      font-size: 13px;
      width: 100%;
      border-radius: 2px;
      box-shadow: none;
      outline: none;
      &:active,
      &:focus {
        border: 1px solid #633EA5;
      }
      &.err {
        border: 1px solid #D94A49;
      }
    }
    .signup__form___email {
      font-size: 16px;
    }
    .signup__form___textarea {
      height: 85px;
      resize: none;
    }
    .signup__form___download {
      font-size: 0;
      a {
        margin: 0 8px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .select-input-wrapper {
      position: relative;
      &:after {
        position: absolute;
        content: '';
        right: 18px;
        top: 20px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #c3c3c3;
      }
    }
    .signup__form___button--switch {
      display: block;
      background: #ccc;
      border-radius: 2px;
      height: 45px;
      line-height: 45px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
      width: 91%;
      border: none;
      outline: none;
      box-shadow: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin-top: 10px;
      &.loading::after {
        background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif);
        content: ' ';
        height: 16px;
        width: 16px;
        display: inline-flex;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 11px;
        position: relative;
        top: 5px;
      }
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
    .signup__form___button--switch-background {
      background-color: #ffbc00;
    }
  }
}

.signup__modal {
  text-align: center;
  position: relative;
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-0%);
}
