.spend-data-wrpr {
    background: #fff;
    box-shadow: 0px 1px 2px 0 rgba($color: #000, $alpha: 0.05);
    margin-bottom: 30px;
    border-radius: $block-border-radius;
    min-width:208px;

    .saving-data-wrpr {
        box-shadow: none;
        margin-bottom: 0;
    }
}

.pd-right-zero {
    padding-right: 0;
}

.pd-left-zero {
    padding-left: 0;
}

.spend-location {
    .footer-note {
        display: none;
    }
}

.graph-wrpr {
    padding: 30px;
    border-bottom: 1px solid $color-white-gray;
    background-color: $color-white;
    border-radius: $block-border-radius;

    .graph-hdg {
        font-size: 19px;
        line-height: 26px;
        color: #190f27;
        padding-bottom: 20px;
    }

    .graph-cntr {
        height: 100%;
        display: none;

        &#spendLocations  {
            height: 100px;
            overflow: hidden;
        }
    }

    .spend-channel {
        height: auto;
        display: none;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.graph-error, .graph-empty {
    text-align: center;
    display: none;
    .msg {
        font-size: 16px;
        font-weight: 600;
        color: #8c8793;
    }
}
