.custom-table tr {
    .payout_status_scheduled,
    .scheduled,
    .uploaded {
        color: #9c9eb8;
    }

    .payout_status_invalid {
        color: $color-red;
    }

    .payout_status_failed {
        color: $color-red;
    }

    .payout_status_cancelled {
        color: $color-red;
    }

    .payout_status_revoked {
        color: $color-orange;
    }

    .payout_status_partially_revoked, .pending {
        // color: $color-orange;
        color: #633ea5;
    }

    .payout_status_fund_locked {
        color: $color-red;
    }

    .payout_status_temporarily_failed {
        color: $color-red;
    }

    .payout_status_issued {
        color: $color-green;
    }

    .payout_status_claimed,.paid {
        color: $color-green;
    }

    .transfer_status_processing,
    .cancelled {
        color: $color-orange;
    }

    .transfer_status_processing_failed,
    .transfer_status_cancelled,
    .transfer_status_stalled,
    .failed,
    .invalid,
    .declined,
    .duplicate {
        color: $color-red;
    }

    .processing {
        color: $color-orange;
    }

    .transfer_status_initiated,
    .transfer_status_scheduled,
    .transfer_status_completed,
    .successful, .success, .approved, .valid {
        color: $color-green;
    }

    .unpaid{
        color: $color-dark-orange;
    }
}

.doc-state-green{
    color:$color-green;
}

.doc-state-red{
    color:$color-red;
}

.doc-state-yellow{
    color:$color-orange;
}