/* Tabs panel */

.tabbable-panel {
    padding: 20px 0px 20px 0px;
}

.tabbable-panel--pd{
    padding-top: 10px;
}
.panel-tpd-zero{
  padding-top:0px;
}

/* Default mode */

.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
    border-bottom: 1px solid $color-white-gray;
}

.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}

.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: $color-medium-block;
    line-height:14px;
}

.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
}

.tabbable-line > .nav-tabs > li.open > a,
.tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}

.tabbable-line > .nav-tabs > li.open > a > i,
.tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open .dropdown-menu,
.tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}

.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
}

.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}

.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}

.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}

.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}

.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}

.tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
}

.tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
}

.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.tabs-nav-container {
    .tabbable-line > .nav-tabs > li.active,
    .tabbable-line > .nav-tabs > li.active:hover {
        border-bottom: 2px solid $color-tabs-active-border;
        opacity: 1;
        filter: alpha(opacity = 100);
    }

    .tabbable-line > .nav-tabs > li.active > a,
    .tabbable-line > .nav-tabs > li a:hover {
        color: $color-tabs-active-text;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        background-color: transparent;
    }

    .tabbable-line > .nav-tabs > li.open,
    .tabbable-line > .nav-tabs > li:hover {
        border-bottom: 2px solid transparent;
    }

    .nav > li > a {
        padding: 0;
        padding-bottom: 8px;
    }

    .tabbable-line > .nav-tabs > li {
        margin-right: 2%;
    }
}

li .tab-arrow {
    position: absolute;
    padding-top: 8px;
    padding-left: 2px;
}