.custom-table {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.13);
    background-color: $color-white;
    width: 100%;
    border: 1px solid #dfdde6;
    border-radius: 2px;
    .text-center{
        text-align: center;
    }
    .active-green{
        color: green;
    }
    .closed-red{
        color: red;
    }
    .benefit-row{
        cursor: pointer;
    }
    tbody>tr:nth-child(even) {
        background-color: #F0EFF3; //$inner-container-bgcolor
        border-top: 1px solid #dfdde6;
        border-bottom: 1px solid #dfdde6;
        &:hover {
            border-left: 2px solid #9C9EB8; 
            transition: 0s;
        }
    }
    &.custom-table__header--margin {
        margin-top: 10px;
    }
    &.custom-table__header {
        tr {
            border-bottom: 0px;
            th {
                font-size: $font-size-small;
                padding-left: 10px !important;
                padding-right: 10px !important;
                text-transform: none;
                background-color: #eaeaea;
                color: $color-black;
            }
            td {
                font-size: $font-size-small;
                padding-left: 10px !important;
                padding-right: 10px !important;
                padding: 6px !important;
                span {
                    color: $color-mirage-block;
                    opacity: 0.6;
                }
            }
        }
        tbody {
            tr:nth-child(even) {
                background-color: $color-white;
                border-bottom: 0px;
            }
        }
    }
    @include border-radius(3px);
    .table-title-three {
        padding: 0 !important;
    }
    .table-title-two {
        padding-left: 41px !important;
    }
    .table-title-four {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .table-title-five {
        line-height: 2px;
    }
    tr {
        th {
            font-size: $font-size-small;
            color: $table-heading-color;
            font-weight: $font-weight-bold;
            background-color: #9C9EB8; // $table-heading-bgcolor
            padding-top: $table-th-padding-top !important;
            padding-bottom: $table-th-padding-bottom !important;
            border-bottom: 0 !important;
            border-top: 0 !important;
            padding-left: $table-padding-left !important;
            padding-right: $table-padding-right !important;
            text-transform: uppercase;
            letter-spacing: 1px;
            &.name {
                max-width: 130px;
                padding: 15px 0 !important;
            }
            &.image-td {
                padding: 0 !important;
            }
            &:first-child {
                @include border-radius-tblr(3px, 0px, 0px, 0px);
            }
            &:last-child {
                @include border-radius-tblr(0px, 3px, 0px, 0px);
            }
            &.beneficiaries {
                width: 130px;
            }
            &.align-center {
                text-align: center;
            }
            &.multi-select-chkbox{
                display: none;
            }
        }
    }
    tr {
        td {
            font-size: $font-size-x-small;
            color: $table-body-color;
            padding: $table-padding-top $table-padding-right $table-padding-bottom $table-padding-left !important;
            &.text-lowercase {
                text-transform: lowercase;
            }
            &.card-status {
                width: 110px;
                padding-right: 0 !important;
            }
            &.card-status,
            .profile-details-balance {
                width: 0px;
                padding-right: none;
            }
            &.name {
                max-width: 130px;
                padding: 15px 0 !important;
            }
            &#profile-details-transfer {
                width: 16% !important;
                padding: 15px 36px 15px 20px !important;
            }
            &.payout-revoke {
                padding-bottom: 13px !important;
                .popover-content {
                    padding: 0;
                    margin-right: -10px;
                }
            }
            &.payout-status {
                padding-right: 0 !important;
                .status-message {
                    line-height: 12px;
                    display: inline-block;
                    font-style: italic;
                    &::first-letter {
                        text-transform: uppercase;
                    }
                }
            }
            &.text-completed {
                color: #00b898;
            }
            &.text-processing {
                color: #ffbc00;
            }
            &.text-scheduled {
                color: #4a90e2;
            }
            &.text-failed {
                color: #e74c3c;
            }
            &.multi-select-chkbox{
                display: none;
            }
            .text {
                color: $table-body-color;
                text-decoration: underline; //  cursor: pointer;
                &:hover {
                    text-decoration: none;
                    -webkit-transition: opacity 0.5s ease;
                    -moz-transition: opacity 0.5s ease;
                    transition: opacity 0.5s ease;
                }
            }
            .text-id {
                color: $table-body-color;
                text-decoration: underline;
                cursor: pointer;
                &:hover {
                    text-decoration: none;
                    -webkit-transition: opacity 0.5s ease;
                    -moz-transition: opacity 0.5s ease;
                    transition: opacity 0.5s ease;
                }
            }
            .text-none {
                &:hover {
                    text-decoration: none;
                }
            }
           
            .text-completed {
                color: #00b898;
                text-decoration: underline;
                cursor: pointer;
                &:hover {
                    text-decoration: none;
                    -webkit-transition: opacity 0.5s ease;
                    -moz-transition: opacity 0.5s ease;
                    transition: opacity 0.5s ease;
                }
            }
            .text-scheduled {
                color: #4a90e2;
                text-decoration: underline;
                cursor: pointer;
                &:hover {
                    text-decoration: none;
                    -webkit-transition: opacity 0.5s ease;
                    -moz-transition: opacity 0.5s ease;
                    transition: opacity 0.5s ease;
                }
            }
            .text-processing {
                color: #ffbc00;
                text-decoration: underline;
                cursor: pointer;
                &:hover {
                    text-decoration: none;
                    -webkit-transition: opacity 0.5s ease;
                    -moz-transition: opacity 0.5s ease;
                    transition: opacity 0.5s ease;
                }
            }
            .text-failed {
                color: #e74c3c;
                text-decoration: underline;
                cursor: pointer;
                &:hover {
                    text-decoration: none;
                    -webkit-transition: opacity 0.5s ease;
                    -moz-transition: opacity 0.5s ease;
                    transition: opacity 0.5s ease;
                }
            }
            .text-cancelled {
                color: #e74c3c;
                text-decoration: underline;
                cursor: pointer;
                &:hover {
                    text-decoration: none;
                    -webkit-transition: opacity 0.5s ease;
                    -moz-transition: opacity 0.5s ease;
                    transition: opacity 0.5s ease;
                }
            }
            &.checkMarks {
                text-align: left;
                &.indent {
                    text-align: left;
                    text-indent: 16px;
                }
                img {
                    height: 10px;
                }
                a:hover.tooltip-title span.tooltip-view,
                a:hover.tooltip-title span.tooltip-view-benefit {
                    top: -50px;
                    margin-left: -80px;
                }
                a:hover.tooltip-title span.tooltip-view-benefit {
                    margin-left: 0;
                    margin-left: -98px;
                }
            }
            &.checkMarksCenter {
                text-align: center;
                &.indent {
                    text-align: center;
                    text-indent: 16px;
                }
                img {
                    height: 10px;
                }
                a:hover.tooltip-title span.tooltip-view,
                a:hover.tooltip-title span.tooltip-view-benefit {
                    top: -50px;
                    margin-left: -80px;
                }
                a:hover.tooltip-title span.tooltip-view-benefit {
                    margin-left: 0;
                    margin-left: -98px;
                }
            }
            &.beneficiaries {
                width: 130px;
            }
            .download-icon {
                padding-right: 5px;
                width: 31px;
                padding: 6px;
                margin: 0;
            }
            .download-icon-border{
                border: 1px solid #c7c4d2;
                border-radius: 2px;
                height: 30px;
                width: 30px;
            }
            .overlay-text {
                opacity: 0.6;
            }
            &.profile-image {
                padding-right: 0 !important;
                padding-left: 20px !important;
                width: 35px;
                img {
                    vertical-align: middle;
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                }
            }
            &.profile-details,
            .profile-details-beneficiaries,
            .profile-details-benefits,
            #profile-details-transfer {
                position: relative;
                padding-left: 10px !important;
                width: 25% !important;
                img {
                    position: absolute;
                    position: absolute;
                    left: 10px;
                    top: 7px;
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                }
                &.company-name {
                    padding: 15px 10px 15px 50px !important;
                }
                .email,
                .tel,
                .tel-beneficiaries,
                .email-beneficiaries {
                    display: block;
                    text-decoration: none;
                    color: $color-medium-block;
                    opacity: 0.8;
                    &:hover {
                        text-decoration: none;
                    }
                }
                .tel-beneficiaries,
                .email-beneficiaries {
                    font-size: $font-size-x-small;
                }
                .nameAfterPic{
                    position: relative;
                    padding-left: 50px;
                }
                .emailIds {
                    position: relative;
                    display: table-cell;
                    .email {
                        margin-right: 5px;
                        display: initial;
                        padding-right: 0 !important;
                    }
                    .plusCount {
                        position: absolute;
                        right: 0;
                        top: -5px;
                        background-color: #f4f4f4;
                        border-radius: 50%;
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        text-align: center;
                        display: inline-block;
                        padding: 1px 2px;
                        cursor: pointer;
                        &:before {
                            content: "+";
                            padding-right: 2px;
                        }
                    }
                    .plusCountTooltip {
                        top: -5px;
                        background-color: #f4f4f4;
                        border-radius: 50%;
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        text-align: center;
                        display: inline-block;
                        padding: 1px 2px;
                        cursor: default;
                        &:before {
                            content: "+";
                            padding-right: 2px;
                        }
                    }
                    .tooltip-title,
                    .tooltip-title-beneficiaries {
                        top: -5px;
                        background-color: #f4f4f4;
                        border-radius: 50%;
                        width: 25px;
                        height: 25px;
                        float: right;
                        line-height: 25px;
                        text-align: center;
                        display: inline-block;
                        padding: 1px 2px;
                        cursor: default;
                        &:before {
                            content: "+";
                            padding-right: 2px;
                        }
                    }
                    .tooltip-title-beneficiaries {
                        top: -3px;
                        width: 22px;
                        height: 22px;
                        font-size: 10px;
                        line-height: 22px;
                    }
                }
            }
            .profile-details-beneficiaries {
                width: 24% !important;
            }
            &.profile-details.profile-details-benefits {
                width: 16% !important;
                padding: 15px 1px 15px 10px !important;
            }
            &.profile-details-benefits {
                padding: 15px 30px 15px 10px !important;
            }
        } // &:nth-child(odd){
        //   background-color:$color-white;
        // }
        // &:nth-child(even){
        //   background-color:$table-even-bgcolor;
        // }
    }
    .status-blue {
        color: $color-blue;
    }
    .status-green {
        color: $color-green;
    }
    .status-orange {
        color: $color-orange;
    }
    .status-red {
        color: $color-red;
    }
    .profile-img {
        @include border-radius(50%);
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .profile-img-xs {
        width: 12px;
        height: 12px;
        margin-right: 10px;
        margin-bottom: 5px;
    }

    .custom-table-reissue{
        thead{
            tr{
                th{
                    padding: 5px !important;   
                }
            }
        }
        tr {           
            td {
                border: 1px solid #e0dde7;
                font-size: 10px;
                padding: 5px!important;    
                                
            }
            .textBox-comment {
                width: 120px;
                height: 20px;
                line-height: 20px;            
                // overflow: hidden;
                // line-height: 30px;
                // padding: 5px;
                // position: relative;
              }
            //   .textBox-comment span {
            //     position: absolute;
            //     white-space: nowrap;
            //     transform: translateX(0);
            //     transition: 1s;
            //   }
            //   .textBox-comment:hover span {
            //     transform: translateX(calc(120px - 100%));
            //   }       
        }
    }

}

.custom-table-virtual{
     tr{
     th{
       padding: 10px 10px!important
    }
    }
    tr {
        td {
            font-size: $font-size-x-small;
            color: $table-body-color;
            padding: 15px 10px !important;
        }}
        tbody>tr:nth-child(even) {
            background-color: #F0EFF3; //$inner-container-bgcolor
            border-top: 1px solid #dfdde6;
            border-bottom: 1px solid #dfdde6;
            &:hover {
                border-left: unset; 
                transition: 0s;
            }
        }

}

.hover-state {
    tbody>tr:nth-child(even) {
        &:hover {
            border: 1px solid #dfdde6;
        }
    }
}

.transfer-report {
    tr {
        td,
        th {
            width: 10%;
            &.amount-transferred {
                padding-right: 6% !important;
                text-align: right;
            }
        }
        td.amount-transferred {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                right: 20px;
                top: 11px;
                height: 10px;
                width: 5px;
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/arrow-right.svg");
            }
        }
    }
}

.custom-table-margin {
    tr {
        td.arrow-icon {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                right: 20px;
                top: 17px;
                height: 10px;
                width: 5px;
                background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/arrow-right.svg");
                &:hover {
                    background: #000;
                }
            }
        }
    }
}

.custom-table-child {
    background-color: $table-child-bgcolor;
    width: 100%;
    @include border-radius(3px);
    tr {
        th {
            font-size: $font-size-small;
            color: $table-heading-color;
            font-weight: $font-weight-bold;
            background-color: $table-heading-bgcolor;
            padding-top: $table-th-padding-top !important;
            padding-bottom: $table-th-padding-bottom !important;
            border-bottom: 0 !important;
            border-top: 0 !important;
            padding-left: $table-padding-left !important;
            padding-right: $table-padding-right !important;
            text-transform: uppercase;
            letter-spacing: 1px;
            &:first-child {
                @include border-radius-tblr(3px,
                0px,
                0px,
                0px);
            }
            &:last-child {
                @include border-radius-tblr(0px,
                3px,
                0px,
                0px);
            }
        }
    }
    tr {
        border-bottom: 1px solid $border-line;
        td {
            font-size: $font-size-small;
            color: $table-body-color;
            a {
                color: $table-body-color;
            }
        }
    }
    .status-blue {
        color: $color-blue;
    }
    .status-green {
        color: $color-green;
    }
    .status-orange {
        color: $color-orange;
    }
    .status-red {
        color: $color-red;
    }
    .profile-img {
        @include border-radius(50%);
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .profile-img-xs {
        width: 12px;
        height: 12px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .table-heading-child {
        td {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

.small-table {
    tr {
        &:hover {
            // background-color: $bgcolor-table-row-hover; //  cursor: pointer;
            border-left: 2px solid #9C9EB8;
            transition: 0s;
        }
        &.hover-remove {
            border: 0px solid;
        }
    }
}

.tab-row {
    cursor: pointer;
}

.toggle-row {
    background-color: $table-child-bgcolor;
    &:hover {
        background-color: $table-child-bgcolor !important;
    }
}

.small-table-child {
    tr {
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: transparent !important;
        }
    }
}

.multiple-cards-section,
.multiple-cards-section-beneficiaries {
    img {
        height: 20px;
        width: 30px;
        margin-right: 4px;
    }
    span {
        background-color: $border-line;
        padding: 4px 10px;
        font-size: 10px;
        color: $color-mirage-block;
        opacity: 0.5;
        filter: alpha(opacity=50);
        display: inline-block;
        height: 21px;
        width: 30px;
        position: relative;
        top: 1px;
        left: 0;
    }
}

.mv-table-view tr td.multiple-cards-section-beneficiaries {
    padding-right: 0px !important;
    padding-left: 17px !important;
}

@media (max-width: 1380px) {
    mv-table-view tr td .multiple-cards-section-beneficiaries {
        padding-right: 0px !important;
        padding-left: 17px !important;
    }
}

.table-empty-state {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    img {
        margin-bottom: 20px;
        height: 80px;
    }
    p {
        font-size: 16px;
        line-height: 1.31;
        text-align: center;
        color: #8c8793;
    }
}

.table-error-state {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    img {
        margin-bottom: 20px;
        height: 80px;
    }
    p {
        font-size: 16px;
        line-height: 1.31;
        text-align: center;
        color: #8c8793;
    }
    a {
        font-size: 14px;
        text-decoration: none;
        line-height: 0.86;
        text-align: center;
        color: #4a90e2;
    }
}

.mv-table-view tr td {
    // padding-left: 47px !important;
    // padding-right: 10px !important;
    &.access-control-dropdwn {
        padding-left: 0px !important;
        padding-right: 0px !important;
        .popover-content {
            padding: 0;
            width: 20px;
        }
        .dropdown-log .nav {
            top: 28px;
            left: 0;
            text-align: right;
            a {
                padding: 20px 15px;
                top: -42px;
                left: -8px;
                &.access-ctrl-link {
                    top: -25px;
                }
            }
            .dropdown-menu {
                top: 18px;
                right: 4px;
                a {
                    padding: 14px 22px;
                }
            }
        }
    }
}

// Table content more
@media (max-width: 1380px) {
    .mv-table-view tr td {
        // padding-left: 47px !important;
        // padding-right: 10px !important;
        &.access-control-dropdwn {
            padding-left: 0px !important;
            padding-right: 0px !important;
            .popover-content {
                padding: 0;
                width: 20px;
            }
            .dropdown-log .nav {
                top: 28px;
                left: 0;
                text-align: right;
                a {
                    padding: 20px 15px;
                    top: -40px;
                    left: -5px;
                }
                .dropdown-menu {
                    top: 18px;
                    right: 4px;
                    a {
                        padding: 14px 22px;
                    }
                }
            }
        }
    }
}

.employee-report-table {
    .position-dropdown {
        width: 30px;
    }
}

.main-content {
    .businessName {
        padding-left: 40px !important;
    }
}

.beneficiary-directory-row {
    cursor: pointer;
}

.admin-companies {
    cursor: pointer;
    &:hover {
        border-radius: 0 1px 1px 1px solid;
    }
}

.custom-table-error{
     tbody>tr th:nth-child(3){
       text-align: right;
    }
    tbody>tr td:nth-child(3){
        text-align: right;
    }
}