// Tooltip Table Type
a.tooltip-custom {
    position: relative;
    display: inline;
    font-size: $font-size-small;
}

a.tooltip-custom span.tooltip-view {
    position: absolute;
    width: 206px;
    color: #FFFFFF;
    background: $color-mirage-block;
    padding-top: 15px;
    padding-bottom: 15px;
    visibility: hidden;
    @include border-radius(3px);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    p {
        color: $color-white;
    }
}

a.tooltip-custom span.tooltip-view:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-bottom: 4px solid $color-mirage-block;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

a:hover.tooltip-custom span.tooltip-view {
    visibility: visible;
    opacity: 1;
    top: 10px;
    left: 50%;
    margin-left: -40px;
    z-index: 999;
    height: auto;
}

.tooltip-lr-pd {
    padding-left: 15px;
    padding-right: 15px;
}

.text-b-pd {
    padding-bottom: 10px;
}

.green-dot-circle {
    width: 6px;
    height: 6px;
    @include border-radius(50%);
    display: inline-block;
    background-color: $color-green;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.orange-dot-circle {
    width: 6px;
    height: 6px;
    @include border-radius(50%);
    display: inline-block;
    background-color: $color-orange;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.pink-dot-circle {
    width: 6px;
    height: 6px;
    @include border-radius(50%);
    display: inline-block;
    background-color: $color-pink-progress;
    position: relative;
    top: -1px;
}

.width-ten {
    width: 10px;
}

.tooltip-hz-line {
    height: 1px;
    background-color: #2b203b;
}

.tooltip-tlr-pd {
    padding: 15px 15px 0px 15px;
}

// Tooltip Tittle Type old

/**
a.tooltip-title {
  position: relative;
  display: inline;
  font-size:$font-size-small;
}
a.tooltip-title span.tooltip-view {
  position: absolute;
  width:206px;
  color: #FFFFFF;
  background:$color-mirage-block;
  padding-top:15px;
  padding-bottom:5px;
  display: none;
  @include border-radius(3px);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  text-align:center;

  p{
    color:$color-white;
  }
}
a.tooltip-title span.tooltip-view:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -4px;
  width: 0; height: 0;
  border-bottom: 4px solid $color-mirage-block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
a:hover.tooltip-title span.tooltip-view {
  display: block;
  opacity:1;
  top: 20px;
  left: 50%;
  margin-left:-105px;
  z-index: 999;
  height: auto;
}
**/

// Tooltip Tittle Type New
a.tooltip-title {
    position: relative;
    display: inline;
    font-size: $font-size-small;
    text-decoration: none;
    cursor: default;
    &.tooltip-cursor-pointer {
        cursor: pointer;
    }
    @media screen and (max-width: 1380px) {
        .tooltip-title-img {
            padding-right: 38px;
        }
    }
    @media screen and (min-width: 1381px) {
        .tooltip-title-img {
            padding-right: 2px;
        }
    }
}

a.tooltip-title-bannr {
    position: absolute;
    display: inline;
    font-size: $font-size-small;
    text-decoration: none;
    cursor: default;
    &.tooltip-cursor-pointer {
        cursor: pointer;
    }
    @media screen and (max-width: 1380px) {
        .tooltip-title-img {
            padding-right: 38px;
        }
    }
    @media screen and (min-width: 1381px) {
        .tooltip-title-img {
            padding-right: 2px;
        }
    }
}

a.tooltip-title span.tooltip-view {
    position: absolute;
    width: 160px;
    color: #FFFFFF;
    background: $color-mirage-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    @include border-radius(3px);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    p {
        color: $color-white;
    }
}

a.tooltip-title-bannr span.tooltip-view {
    position: absolute;
    width: 160px;
    color: #FFFFFF;
    background: $color-mirage-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    @include border-radius(3px);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    p {
        color: $color-white;
    }
}

a.tooltip-title span.tooltip-view:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-top: 4px solid $color-mirage-block;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

a.tooltip-title-bannr span.tooltip-view:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-top: 4px solid $color-mirage-block;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

a:hover.tooltip-title span.tooltip-view,
.tooltip-view-benefit,
.tooltip-email {
    display: block;
    opacity: 1;
    left: 50%;
    margin-left: -85px;
    z-index: 999;
    height: auto;
    top: -47px;
}

a:hover.tooltip-title-bannr span.tooltip-view,
.tooltip-view-benefit,
.tooltip-email {
    display: block;
    opacity: 1;
    left: 50%;
    margin-left: -85px;
    z-index: 999;
    height: auto;
    top: -47px;
}

a:hover.tooltip-title span.tooltip-view,
.tooltip-email {
    top: -50px;
    font-size: 12px;
    line-height: 16px;
}

a:hover.tooltip-title-bannr span.tooltip-view,
.tooltip-email {
    top: -50px;
    font-size: 12px;
    line-height: 16px;
}

a:hover.transfer-tooltip:hover {
    display: inline-block;
    h1 {
        display: inline-block;
    }
    .tooltip-view {
        width: 200px;
        margin-left: -95px;
    }
}

// Sidebar Tooltip
.sidebar-tooltip {
    position: relative;
    display: inline;
    font-size: $font-size-small;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-tooltip .sidebar-tooltip__view {
    position: absolute;
    width: 160px;
    color: $color-white;
    background: $color-mirage-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    margin-left: 10px;
    @include border-radius(3px);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    p {
        color: $color-white;
    }
    &:hover {
        color: #fff;
        opacity: 1;
    }
}

.sidebar-tooltip .sidebar-tooltip__view:before {
    content: '';
    position: absolute;
    top: 13px;
    bottom: 100%;
    right: 100%;
    width: 0;
    height: 0;
    border-bottom: 4px solid transparent;
    border-right: 4px solid $color-mirage-block;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
}

.sidebar-tooltip:hover .sidebar-tooltip__view {
    display: block;
    opacity: 1;
    left: 97%;
    z-index: 999;
    height: auto;
    top: 4px;
    font-size: 12px;
    line-height: 17px;
    transition: all 300ms ease-in;
}

a:hover.transfer-tooltip:hover {
    display: inline-block;
    h1 {
        display: inline-block;
    }
    .sidebar-tooltip__view {
        width: 200px;
        margin-left: -95px;
    }
}


//sidebar tooltip
.tooltip {
    position: relative;
    display: inline-block;
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .tooltiptext {
      opacity: 0;
      visibility: hidden;
      width: auto;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      padding: 10px 15px;
      position: absolute;
      z-index: 1;
      top: 5px;
      left: 102%;
    
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent black transparent transparent;
      }
    }
    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 0.5s;
    }
  }
  .secondList li:last-child{
    margin-bottom: 115px;
  }
  .sidebar-container {
    .tooltip .tooltiptext{
        position: static;
    }
      .sidebar-toggle{
        .secondList li:last-child{
            margin-bottom: 0px;
        }
        .tooltip .tooltiptext{
            position: absolute;
        }
      }
  }
