.signup__video__block {
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    .signup__video__block__items {
        width: 50%;
        margin: 0 auto;
        .video-play-button {
            position: absolute;
            z-index: 10;
            box-sizing: content-box;
            display: block;
            width: 10px;
            height: 19px;
            /* background: #fa183d; */
            border-radius: 50%;
            &:before {
                content: "";
                position: absolute;
                z-index: 0;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                width: 70px;
                height: 70px;
                background-color: #E9408C;
                border-radius: 50%;
                animation: pulse-border 1500ms ease-out infinite;
            }
            &:after {
                content: "";
                position: absolute;
                z-index: 1;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                width: 60px;
                height: 60px;
                background-color: #D72272;
                border-radius: 50%;
                transition: all 200ms;
            }
            span {
                display: inline-block;
                position: relative;
                z-index: 3;
                width: 0;
                height: 0;
                border-left: 16px solid #fff;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
            }
            strong {
                position: relative;
                top: -35px;
                display: inline-block;
                width: 300px;
                background-color: #E9408C;
                padding: 10px 10px 10px 45px;
                border-radius: 50px;
                color: #FFFFFF;
                font-size: 13px;
                transition: background-color 1s ease-out;
                &:hover {
                    background-color: #D72272;
                }
            }
        }
        @keyframes pulse-border {
            0% {
                transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
                opacity: 1;
            }
            100% {
                transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
                opacity: 0;
            }
        }
    }
}

// VIDEO MODAL BOX STYLE
.signup--video--modal--block {
    .modal-body {
        padding: 6px 0px 0px 0px;
    }
    iframe {
        outline: none;
        border: none;
    }
    .modal-content {
        background-color: #000;
    }
    .close {
        position: absolute;
        right: -24px;
        top: -20px;
        background-color: #190f27;
        color: #FFFFFF;
        border-radius: 50%;
        padding: 1px 6px;
        opacity: 1;
        transition: background-color 300ms ease-in;
        &:hover {
            color: #FFFFFF;
            background-color: #D72272;
        }
    }
}