.well-default-container {
    @include border-radius(4px);

    background-color: $color-white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px $media-box-border-color;
    padding: 30px 30px;

    // Funding List Part
    .mg-tb-less {
        margin-top: 15px !important;
        margin-bottom: 20px !important;
    }

    .btn-move-down {
        padding-top: 60px;
    }

    .funding-list {
        ul {
            margin-bottom: -7px;

            li {
                line-height: 40px;
                color: $color-mirage-block;
                letter-spacing: 0.6px;
                font-weight: $font-weight-light;
                font-size: $font-size-x-small;

                span {
                    background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/sidebar_icons.png");
                    background-repeat: no-repeat;
                    width: 23px;
                    height: 22px;
                    margin-right: 10px;
                    display: inline-block;
                    text-indent: -9999em;
                    overflow: hidden;
                    position: relative;
                    top: 3px;
                    border: 1px solid #ddd;

                    &.list-one {
                        background-position: 0px 5px;
                    }

                    &.list-two {
                        background-position: 0px -123px;
                    }

                    &.list-three {
                        background-position: 0px -123px;
                    }

                    &.list-four {
                        background-position: 0px 5px;
                    }

                    &.list-five {
                        background-position: 0px -123px;
                    }
                }

                small {
                    opacity: 0.6;
                    filter: alpha(opacity = 60);
                    font-size: $font-size-x-small;
                }
            }
        }
    }
}

// Admin Funding Account
.funding-account-left {
    width: calc(90% - 300px);
    float: left;
    padding-left:14px;
}

.funding-account-right {
    float: right;
    width: 355px;
}
#fundingAccounts .custom-table{
    border-radius: initial;
    box-shadow: initial;
    border:none;
    background-color:initial;
    .pd-tupple:last-of-type {
        padding-bottom: 30px;
    }
    tbody{
        tr.mainContent{
            &:nth-child(even){
                background-color: inherit !important;
                border-top:0;
                border-bottom:0;
            }
            td{
                padding: 0 !important;
            }
            &:hover{
                border-left: 0px !important
            }
        }
    } 
}