.single-dropdown {
  display: inline-block;

  &__link {
    text-decoration: none;
  }

  &__list {
    list-style: none;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.12);
    display: none;
    margin-top: 10px;

    &--active {
      display: block;
    }

    &:before {
      content: " ";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #FFFFFF;
      position: absolute;
      top: -6px;
      left: 10px;
    }

    li {
      .single-dropdown__list__link {
        font-size: 14px;
        color: #190f27;
        text-decoration: none;
        display: block;
        padding: 10px 16px;
        padding-right: 30px;

        &:hover {
          background-color: rgba(99, 53, 170, 0.1);
        }
      }
    }
  }
}

.multiple-dropdown {
  //height: 34px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #c7c4d2;
  position: relative;
  margin-bottom: 30px;

  .dropdown--picker {
    padding: 10px;
    display: block;
    text-decoration: none;
    position: relative;
    //cursor: pointer;

    .dropdown--picker--title
    {
      font-size: 10px;
      letter-spacing: 1px;
      text-align: left;
      color: rgba(25, 15, 39, 0.7);
      text-transform: uppercase;
      margin-bottom: 6px;
    }

    .dropdown--label {
      font-size: 12px;
      font-weight: 600;
      line-height: 0.75;
      text-align: left;
      color: rgba(25, 15, 39, 0.7);
      margin: 0;
    }

    img {
      position: absolute;
      right: 14px;
      top: 22px;
    }

  }

  .dropdown--list {
    position: absolute;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.12);
    width: 272px;
    right: 0;
    margin-top: 15px;
    display: none;
    max-width: 100%;
    padding: 5px 0;
    padding-bottom: 0px;
    z-index: 3;

    &:before {
      content: " ";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      position: absolute;
      right: 20px;
      top: -9px;
    }

    &.dropdown--list--active {
      display: block;
    }

    .dropdown--item {
      padding: 10px 15px;
      display: block;
      cursor: pointer;

      &:hover {
        background-color: rgba(99, 53, 170, 0.1);
      }

      span {
        margin-top: 1px;
        font-size: 14px;
        color: #190f27;
        margin-left: 6px;
      }

      input {
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        background-color: #f4f4f4;
        border: solid 1px #ebebeb;
        outline: none;
        border-radius: 2px;
        vertical-align: middle;
        margin-top: -1px;

        &:checked:after {
          content: " ";
          width: 8px;
          height: 6px;
          background-image: url("/images/express/green-tick.svg");
          position: absolute;
          margin-top: 4px;
          margin-left: 3px;
        }
      }
    }
  }

  &.multiple-dropdown__single {
    .dropdown--item {
      input {
        display: none;
      }
    }
  }
}