<% if((account.status == 'active')||(account.status == 'inactive')||(account.status=='suspended') ){ %>
    <tr>
        <td class="profile-image">
            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png"  alt="Zeta Profile">
        </td>
        <td class="profile-details" width="32%">
            <span class="access-ctrl-user-name"><%=account.name%></span>
            <% if(account.loggedUser == true){ %>
            <span class="current-user-info"> YOU </span>
            <% } %>
            <div class="emailIds">
            <% if (typeof employeeId !== 'undefined' && employeeId) { %>
                <span class="email text-lowercase email-beneficiaries" title="<%- employeeId %>"><%- employeeId %></span>
            <% } else if(account.email !== 'N/A') { %>
                <span class="email text-lowercase email-beneficiaries" title="<%- account.email %>"><%- account.email %></span>
            <% } %>   
            </div>
        </td>
        <td>
            <div>
                <span class="access-ctrl-user-details">
                    <%= typeof displayRoles !== 'undefined' && displayRoles.length ? displayRoles[0].displayRole : '' %>
                </span>
            </div>
        </td>
        <td class="position-dropdown access-control-dropdwn access-ctrl-user-details">
            <% if(typeof stores !== 'undefined' && stores && stores !== 'NA'){  %>
            <!-- Popover -->
                <!-- Dropdown -->
                <div class="dropdown-log">
                        <ul class="nav navbar-nav">
                            <li class="dropdown right20px">
                                <a href="#" class="access-ctrl-store-list access-ctrl-link" data-toggle="dropdown"><span><%=stores.length && stores.length !== 0 ? stores[0] : 'NA'%> </span><span class="more"><%=stores.length && stores.length > 1 ? ' + ' + (stores.length - 1) + ' More' : ''%></span></a>
                                <ul class="dropdown-menu dropdown-log-typeTwo popover-content">
                                    <% for(let currentIndex=1; currentIndex<stores.length; currentIndex++) {%>
                                        <li class="popover-list-items">
                                            <%=stores[currentIndex]%>
                                        </li>
                                    <% } %>
                                </ul>
                            </li>
                        </ul>
                    </div>
            <% } else { %>
            <!-- Dropdown End -->
                NA
            <% } %>
        </td>
        <td class="<% if(account.status == 'active'){ %>status-green<% }else if(account.status == 'suspended'){%>status-red<%}else{%>status-orange<%}%> access-ctrl-status">
            <% if(account.status == 'inactive'){ %>
                Pending Verification
                <%}
            else{ %>
                    <%- _.startCase(account.status) %>
                        <% } %>
        </td>
        <td class="position-dropdown access-control-dropdwn">
            <!-- Popover -->
            <% if(((account.status === 'active' || account.status === 'suspended') && (account.loggedUser == false)) && (!disableChangePassword || !disableSuspendUser || !disableEditPrivilege)){  %>
                <!-- <div class="popover-content">
                    <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Change account status">
                        <span><img src="/images/vertical_dot_icon.png"></span>
                    </span>
                </div> -->
                <!-- Popover End -->
                <!-- Dropdown -->
                <div class="dropdown-log">
                    <ul class="nav navbar-nav">
                        <li class="dropdown right20px">
                            <a href="#" class="access-ctrl-link" data-toggle="dropdown"><span><img src="/images/vertical_dot_icon.png"></span></a>
                            <ul class="dropdown-menu dropdown-log-typeTwo">
                                <% if (!disableChangePassword) { %>
                                <li>
                                    <a style="padding: 0 8px" class="change-status" href="javascript:void(0)" data-accountid="<%-account.accountID%>" data-target="#changePasswordModal" data-toggle="modal">
                                        Change password
                                    </a>
                                </li>    
                                <% } %>
                                <% if (!disableEditPrivilege) { %>
                                <li>
                                    <a style="padding: 0 8px" class="change-status" href="javascript:void(0)" data-role="<%=typeof displayRoles !== 'undefined' && displayRoles.length ? displayRoles[0].role : '' %>" data-accountid="<%-account.accountID%>" data-companyids="<%=companyIDs%>" data-target="#editPrivilegesModal" data-toggle="modal">
                                        Edit privileges
                                    </a>
                                </li>
                                <% } %>
                                <% if (!disableSuspendUser) { %>
                                <li>
                                    <a style="padding: 0 8px" class="change-status" href="javascript:void(0)" data-status="<%-account.status%>" data-name="<%- _.startCase(account.name) %>" data-accountid="<%-account.accountID%>" data-target="#changeStatusModal" data-toggle="modal">
                                    <% if(account.status == 'active'){ %>
                                        Suspend this User
                                    <%}else if(account.status == 'suspended'){ %>
                                        Restore this User
                                    <% } %>
                                    </a>
                                </li>
                                <% } %>
                            </ul>
                        </li>
                    </ul>
                </div>
                <% } %>
                    <!-- Dropdown End -->
        </td>
    </tr>
    <% } %>