<% include ../../../../common/html-head %>

    <body>
        <input type="hidden" id="productType" value="physical">
        <input type="hidden" id="programID" value=""> 
        <input type="hidden" id="SpotlightIFIName" value='<%- ifiBankName %>'> 
        <div class="wrapper">        
<!-- Field Error Modal Oops Transfer End  -->

    <div class="modal fade" id="show-model-loader" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end -->

            <% include ../../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container reward_container">
                                <!-- Banner Start -->
                                    <div class="top-section pointbased-banner">
                                        <div>
                                            <!-- Breadcrumb -->
                                            <div class="row">
                                                <div class="col-xs-9 col-md-9">
                                                    <ul class="breadcrumb pd-tb-zero">
                                                        <li><a href="/companies/<%- companyID %>/spotlight">Zeta Spotlight</a></li>
                                                        <li><a href="/companies/<%- companyID %>/spotlight">Rewards and Recognition</a></li> 
                                                        <li><a href="/companies/<%- companyID %>/spotlight/pointbased">Point-Based</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- Popover End -->
                                            <div class="row">
                                                <div class="col-xs-6 col-md-6">
                                                    <div class="page-heading spBtnDv">
                                                        <h1 class="pd-top-five">Create a new RnR Program</h1>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                        </div>
                                    </div>
                                 <!-- Banner End -->

                                    <div class="sub-container">
                                        
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                    <div class="page-sub-heading">
                                                        <h2>Let’s get started</h2>
                                                        <p>Just a few steps and you should be ready to delight your employees.</p>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <div class="mainCollapseDv">
                                                        <dl class="accordion">

                                                                <dt class="accordianHead accordianActive"><a href="">
                                                                    <span class="number ">1</span>
                                                                    <span class="heading">
                                                                        <span class="headingTxt">Basic Settings</span><br>
                                                                        <span class="headingSubTxt">Setup your program name and funding account</span>
                                                                    </span>
                                                                    <span class="editIcon "><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/setting-gear.svg" />Edit</span>
                                                                  </a>
                                                                </dt>
                                                                <dd class="accordianBody">
                                                                    <div class="row">
                                                                            <div class="col-md-3 col-lg-3 col-sm-3 accordianLabel">
                                                                                <label>Program Name</label>
                                                                            </div>
                                                                            <div class="col-md-9 col-lg-9 col-sm-9 accordianInput">
                                                                                    <input id="programName" type="text" class="commonClassAccordian"/> <br> 
                                                                                    <span>Use a name that will appeal and encourage your employees<br> to use this program. Eg: Kudos, GEMs, Rewards, etc.</span>
                                                                            </div>
                                                                    </div>
                                                                    <div class="row">
                                                                            <div class="col-md-3 col-lg-3 col-sm-3 accordianLabel">
                                                                                <label>Description</label>
                                                                            </div>
                                                                            <div class="col-md-9 col-lg-9 col-sm-9 accordianInput">
                                                                                    <textarea id="programDesc" rows="4" cols="50" class="commonClassAccordian"></textarea> <br> 
                                                                                    <span>Describe your program in few words</span>
                                                                            </div>
                                                                    </div>
                                                                    <div class="row">
                                                                            <div class="col-md-3 col-lg-3 col-sm-3 accordianLabel">
                                                                                <label>Funding account</label>
                                                                            </div>
                                                                            <div class="col-md-9 col-lg-9 col-sm-9 accordianInput select-custom">
                                                                                    <select id='programFund' class="commonClassAccordian">
                                                                                            <option value='0'>Select funding account</option>
                                                                                            <option value='2113312' data-name="" data-balance="">ALL</option>
                                                                                        </select> <br> <br> 
                                                                                    <span>Funding accounts are like your bank current account. They <br>are used to fund your programs</span>
                                                                            </div>
                                                                    </div>
                                                                    <div class="row mg-b-zero">
                                                                        <div class="col-md-3 col-lg-3 col-sm-3 accordianLabel"></div>
                                                                        <div class="col-md-9 col-lg-9 col-sm-9">
                                                                                    <div class="x-medium-button">
                                                                                            <button id="accordianBtn1" disabled data-url="Step1" class="btn btn-default btn-disabled accordianBtn" type="button">Next
                                                                                                    <img class="spinner-loader" id="order-show-loader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg" style="display: none;">
                                                                                            </button>
                                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </dd>
                                                                
                                                                <dt class="accordianHead "><a href="">
                                                                        <span class="number ">2</span>
                                                                        <span class="heading">
                                                                            <span class="headingTxt">Currency</span><br>
                                                                            <span class="headingSubTxt">Setup your unique RnR currency type and conversion rate</span>
                                                                        </span>
                                                                        <span class="editIcon "><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/setting-gear.svg" />Edit</span>
                                                                      </a>
                                                                </dt>
                                                                <dd class="accordianBody">
                                                                        <div class="row">
                                                                                <div class="col-md-3 col-lg-3 col-sm-3 accordianLabel">
                                                                                    <label>Currency Name</label>
                                                                                </div>
                                                                                <div class="col-md-9 col-lg-9 col-sm-9 accordianInput">
                                                                                        <input id="currencyName" type="text" class="commonClassAccordian"/> <br> 
                                                                                        <span>Use a unique currency name that your employees will see <br> when they give or receive a reward.</span>
                                                                                </div>
                                                                        </div>
                                                                        <div class="row">
                                                                                <div class="col-md-3 col-lg-3 col-sm-3 accordianLabel">
                                                                                    <label>Currency symbol</label>
                                                                                </div>
                                                                                <div class="col-md-9 col-lg-9 col-sm-9 accordianInput">
                                                                                   
                                                                                         <span class="currencySymbol">
                                                                                             <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/currencySymbol2.svg" />
                                                                                             <span class="activeIcon"></span>
                                                                                        </span>
                                                                                         <span class="currencySymbol">
                                                                                             <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/currencySymbol1.svg" />
                                                                                             <span class="activeIcon"></span>
                                                                                        </span>
                                                                                         <span class="currencySymbol">
                                                                                             <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/currencySymbol3.svg" />
                                                                                             <span class="activeIcon"></span>
                                                                                        </span>
                                                                                        
                                                                                        <!-- <span>Describe your program in few words</span> -->
                                                                                </div>
                                                                        </div>
                                                                        <div class="row">
                                                                                <div class="col-md-3 col-lg-3 col-sm-3 accordianLabel">
                                                                                    <label>Conversion rate</label>
                                                                                </div>
                                                                                <div class="col-md-9 col-lg-9 col-sm-9 accordianInput">
                                                                                        <input id="currencyRate" class="inputConversion commonClassAccordian" type="text" /> <span class="pointClass">Points = 1 INR</span><br> 
                                                                                        <!-- <span>Funding accounts are like your bank current account. They <br>are used to fund your programs</span> -->
                                                                                </div>
                                                                        </div>
                                                                        <div class="row mg-b-zero">
                                                                            <div class="col-md-3 col-lg-3 col-sm-3 accordianLabel"></div>
                                                                            <div class="col-md-9 col-lg-9 col-sm-9">
                                                                                        <div class="x-medium-button">
                                                                                                <button id="accordianBtn2" disabled data-url="Step2" class="btn btn-default btn-disabled accordianBtn" type="button">Next
                                                                                                        <img class="spinner-loader" id="order-show-loader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg" style="display: none;">
                                                                                                </button>
                                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    </dd>
                                                                
                                                                <dt class="accordianHead "><a href="">
                                                                            <span class="number ">3</span>
                                                                            <span class="heading">
                                                                                <span class="headingTxt">Badges</span><br>
                                                                                <span class="headingSubTxt">Create and customize your own badges</span>
                                                                            </span>
                                                                            <span class="editIcon "><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/setting-gear.svg" />Edit</span>
                                                                          </a>
                                                                </dt>
                                                                <dd class="accordianBody">
                                                                        <div class="row">
                                                                              <div class="col-md-12 col-lg-12 col-sm-12">
                                                                                   <% include ../badge-table/badge-table %>
                                                                              </div> 
                                                                        </div>
                                                                        <div class="row mg-b-zero">
                                                                            <div class="col-md-3 col-lg-3 col-sm-3 accordianLabel"></div>
                                                                            <div class="col-md-9 col-lg-9 col-sm-9">
                                                                                        <div class="x-medium-button">
                                                                                                <button id="accordianBtn3" class="btn btn-default accordianBtn" type="button">Next
                                                                                                        <img class="spinner-loader" id="order-show-loader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg" style="display: none;">
                                                                                                </button>
                                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    </dd>
                                                                
                                                                <dt class="accordianHead"><a href="">
                                                                                <span class="number">4</span>
                                                                                <span class="heading">
                                                                                    <span class="headingTxt">Limits</span><br>
                                                                                    <span class="headingSubTxt">Set overall program limits to prevent abuse</span>
                                                                                </span>
                                                                                <span class="editIcon "><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/setting-gear.svg" />Edit</span>
                                                                              </a>
                                                                </dt>
                                                                <dd class="accordianBody">
                                                                        <div class="row">
                                                                                <div class="col-md-3 col-lg-3 col-sm-3 accordianLabel">
                                                                                    <label>Sending Limits</label>
                                                                                </div>
                                                                                <div class="col-md-9 col-lg-9 col-sm-9 accordianInput">
                                                                                        <span class="limitMain"><span class="limitLabel">Monthly</span><br><input  type="text" class="commonClassAccordian"/></span> 
                                                                                        <span class="limitMain"><span class="limitLabel">Quarterly</span><br><input  type="text" class="commonClassAccordian"/></span>  
                                                                                        <span class="limitMain"><span class="limitLabel">Yearly</span><br><input  type="text" class="commonClassAccordian"/></span><br> 
                                                                                        <!-- <span>Use a name that will appeal and encourage your employees<br> to use this program. Eg: Kudos, GEMs, Rewards, etc.</span> -->
                                                                                </div>
                                                                        </div>
                                                                        <div class="row">
                                                                                <div class="col-md-3 col-lg-3 col-sm-3 accordianLabel">
                                                                                    <label>Receiving Limits</label>
                                                                                </div>
                                                                                <div class="col-md-9 col-lg-9 col-sm-9 accordianInput">
                                                                                        <span class="limitMain"><span class="limitLabel">Monthly</span><br><input  type="text" class="commonClassAccordian"/></span> 
                                                                                        <span class="limitMain"><span class="limitLabel">Quarterly</span><br><input  type="text" class="commonClassAccordian"/></span>  
                                                                                        <span class="limitMain"><span class="limitLabel">Yearly</span><br><input  type="text" class="commonClassAccordian"/></span><br> 
                                                                                        <!-- <span>Use a name that will appeal and encourage your employees<br> to use this program. Eg: Kudos, GEMs, Rewards, etc.</span> -->
                                                                                </div>
                                                                        </div>
                                                                        
                                                                        <div class="row mg-b-zero">
                                                                            <div class="col-md-3 col-lg-3 col-sm-3 accordianLabel"></div>
                                                                            <div class="col-md-9 col-lg-9 col-sm-9">
                                                                                        <div class="x-medium-button">
                                                                                                <button id="accordianBtn4" disabled data-url="Step2" class="btn btn-default btn-disabled accordianBtn" type="button">Create Program
                                                                                                        <img class="spinner-loader" id="order-show-loader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg" style="display: none;">
                                                                                                </button>
                                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    </dd>

                                                </div>
                                                    

                                            </div>
                                        </div>
                                       





                                        <!-- last login  -->
                                        <% include ../../../../common/time-footer %>
                                    </div>
                            </div>

                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>






        <% include ../../../../common/html-script %>
        <!-- <script src="/dist/scripts/home.js"></script> -->
      
             <script src="/dist/scripts/pointbasedHome.js"></script>
      
        <script>
                $(document).ready(function(){
                    

                    var allPanels = $('.accordion > dd').hide();
                    $('.accordion > dd').first().addClass('active').slideDown();
                    $('.currencySymbol').on({
                        click:function(e){
                            $('.activeIcon').hide();
                            $('.currencySymbol').removeClass('choosen');
                            $this = $(this);
                            $this.addClass('choosen');
                            $this.children('.activeIcon').show();
                        }
                    });
                    $('.accordion > dt > a').click(function() {
                        $this = $(this);
                        $target =  $this.parent().next();
                        $accordianTarget =  $this.parent();
                        if(!$target.hasClass('active')){
                        allPanels.removeClass('active').slideUp();
                        $target.addClass('active').slideDown();
                        $('.accordion > dt').removeClass('accordianActive').removeClass('accordianDone');
                        $accordianTarget.addClass('accordianActive');

                        }
                        
                    return false;
                    });

                    // next btn click
                    $('.accordianBtn').click(function() {
                        $this = $(this);
                        var $targetdd =  $this.closest('.accordianBody');
                        var $accordianTarget =  $targetdd.prev('.accordianHead');

                        var $targetddNext =  $targetdd.next().next('.accordianBody');
                        var $accordianTargetNext =  $accordianTarget.next().next('.accordianHead');

                        var $allPanels = $('.accordion > dd');

                        if($targetdd.hasClass('active')){

                        $allPanels.removeClass('active').slideUp();

                        $accordianTarget.removeClass('accordianActive').addClass('accordianDone');

                        $targetddNext.addClass('active').slideDown();
                        $accordianTargetNext.addClass('accordianActive');

                        }
                        
                    return false;
                    });

                    $('.commonClassAccordian').on({
                        keyup: function(e) {
                            var $programNameLength = $('#programName').val().length;
                            var $programDescLength = $('#programDesc').val().length;
                            var $programFundSelected = $('#programFund option:selected').val();

                            var $currencyName = $('#currencyName').val().length;
                            var $conversionRate = $('#currencyRate').val().length;
                            //console.log($programNameLength , $programDescLength, $programFundSelected);
                            if($programNameLength > 0 && $programDescLength > 0 && $programFundSelected > 0){
                                $('#accordianBtn1').removeAttr('disabled').removeClass('btn-disabled');
                            }else{
                                $('#accordianBtn1').attr('disabled','disabled').addClass('btn-disabled');
                            }

                            if($currencyName > 0 && $conversionRate > 0 && $('.currencySymbol').hasClass('choosen')==true){
                                $('#accordianBtn2').removeAttr('disabled').removeClass('btn-disabled');
                            }else{
                                $('#accordianBtn2').attr('disabled','disabled').addClass('btn-disabled');
                            }
                            
                        },
                        change: function(e) {
                            var $programNameLength = $('#programName').val().length;
                            var $programDescLength = $('#programDesc').val().length;
                            var $programFundSelected = $('#programFund option:selected').val();
                           // console.log($programNameLength , $programDescLength, $programFundSelected);
                           var $currencyName = $('#currencyName').val().length;
                            var $conversionRate = $('#currencyRate').val().length;
                            if($programNameLength > 0 && $programDescLength > 0 && $programFundSelected > 0){
                                $('#accordianBtn1').removeAttr('disabled').removeClass('btn-disabled');
                            }else{
                                $('#accordianBtn1').attr('disabled','disabled').addClass('btn-disabled');
                            }

                            if($currencyName > 0 && $conversionRate > 0 && $('.currencySymbol').hasClass('choosen')==true){
                                $('#accordianBtn2').removeAttr('disabled').removeClass('btn-disabled');
                            }else{
                                $('#accordianBtn2').attr('disabled','disabled').addClass('btn-disabled');
                            }
                        }
                    });



                 });
        </script>
        
            

    </body>

    </html>