<tr data-orderid="" class="orders-row numbers-font">
    <td>
        <div class="thumbnail-profile-view">
            <div class="thumbnail-profile-row">
                <div class="thumbnail-profile-icon">                    
                <% if(profileImage){ %>
                        <img class="thumbnail-profile-name" src="<%-profileImage%>" width="40"> 
                    <%} else { %>
                     <div class="thumbnail-profile-name" style="background:<%-initialColor%>">
                            <p>
                                <%- initial %>
                            </p>
                    </div>
                   
                   <%}%>
                </div>
                <div class="thumbnail-profile-details">
                    <h6> <%- employeeName %></h6>
                    <p class="text-ellipsis-show-email"><%- employeeEmail %></p>
                </div>
            </div>
        </div>
    </td>

    <td style="min-width:124px;">
        <%# buID +" / " + %>
        <%-  employeeID %>
    </td>
    
    <td style="min-width:124px;">
        <%# buID +" / " + %>
        <%-  designation %>
    </td>

    <td>
        <%- teamID %>
    </td>
    
    <td>
        <%- buID %>
    </td>
    
    <td colspan="2" class="position-dropdown  payout-revoke">

    </td>
</tr>