<div class="tab-pane" id="beneficiaries-info">
    <div class="col-xs-12 col-md-12">
        <div class="inner-sub-container page-sub-heading employees-wrpr">
            <div class="filter-section">
                <div class="col-md-3 beneficiaries-txt">Beneficiaries
                </div>
                <div class="col-xs-9 col-md-9 search-box beneficiaries-prjtr" align="right">
                    <div class="custom-searchbox">
                        <div class="input-group stylish-input-group">
                            <input id="employeeSearch" type="text" class="form-control zero-zindex" placeholder="Search by Beneficiary Name, Mobile or Email">
                            <span class="input-group-addon">
                                    <button id="employeeSearchBtn" type="button">
                                    <span><img src="/images/search_small.png"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table -->
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div id="benifitsEmployees" class='benifits-employees-wrpr'>
                        <% include ../../tables/benifitEmployeeTable %>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <!-- Table End -->
            
        </div>
    </div>
</div>
