<div class="col-xs-9 col-md-9 custom-box">
    <div class="col-xs-12 col-md-12">
        <h4 class="mar-bot-16 mar-top-16">1. We found some errors in the order file. Here’s a quick summary</h4>
        <div class="table-bordered">
            <div id="table-error" class="overflow-auto">
                
            </div>
            <div class="col-md-12 x-medium-button mar-top-16">
                <button class="full-width mar-bot-16" id="download_error_report">Download complete report</button>
            </div>
        </div>
        <hr>
        <h4>2. Choose what you want to do next</h4>
        <div class="orderOptionsBox pull-left x-medium-button">
            <div class="orderOptions text-center active" id="discardOrder">
                <img class="tickIcon" src="/images/tick.png">
                <img class="mar-bot-16" src="/images/transfer-order/new.svg">
                <p><b>Cancel & Create new order</b></p>
                <p>Manually fix errors & re-upload the file</p>
            </div>
            <div id="cancelInfo" class="infoPara">
                <p>The following will happen, if you proceed with this step:</p>
                <p class="displayTable"><img class="mar-right-10" src="/images/cross.png" class="table-cell"><span class="table-cell">We will "Cancel" this order</span></p>
                <p class="displayTable"><img class="mar-right-10" src="/images/tick-small.png" class="table-cell"><span class="table-cell">You can go ahead and create new order, after correcting the order file.</span></p>
                <button class="full-width" data-toggle="modal" data-target="#cancelModalPopup">Cancel & Create new order</button>
            </div>
        </div>
        <% if(params.validRows > 0){ %>
            <div class="pull-right orderOptionsBox x-medium-button">
                <div class="orderOptions text-center" id="continueOrder">
                    <img class="tickIcon" src="/images/tick.png">
                    <img class="mar-bot-16" src="/images/transfer-order/continue.svg">
                    <p><b>Continue with valid entries</b></p>
                    <p>Ignore the duplicate & invalid entries</p>
                </div>
                <div id="continueInfo" class="infoPara hideMe">
                    <p>The following will happen, if you proceed with this step:</p>
                    <p class="displayTable"><img class="mar-right-10" src="/images/cross.png" class="table-cell"><span class="table-cell">We will ignore all the duplicate & invalid entries</span></p>
                    <p class="displayTable"><img class="mar-right-10" src="/images/tick-small.png" class="table-cell"><span class="table-cell">We will process transfer for the remaining.</span></p>
                    <p class="displayTable"><img class="mar-right-10" src="/images/tick-small.png" class="table-cell"><span class="table-cell">Once processed, we will generate a performa invoice, totalling to.</span></p>
                    <button class="full-width" id="continueTransfer">Initiate Transfer Order</button>
                </div>
            </div>
        <% } %>
    </div>
</div>