<div class="tab-pane active" id="over-view" data-cardprogramobject='<%- JSON.stringify(cardProgramObject) %>'>
    <input type="hidden" id="corpID" value="<%- corpID %>">
    <input type="hidden" id="companyID" value="<%- companyID %>">
    <input type="hidden" id="programID" value="<%- programID %>">
    <!-- Page Heading and List -->
    <div class="col-xs-8 col-md-8 left-column">
        <div class="pd-top pd-b-20">
            <!-- Page Card Display -->
            <div class="card-section mg-b-24">
                <% if(cardProgramObject.cardDesign.bg) { %>
                    <img src='<%- cardProgramObject.cardDesign.bg %>' alt="zeta bitmap" />
                    <% } else { %>
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/bitmap.png" alt="zeta bitmap">
                        <% } %>
                            <% if(displayTag && cardProgramObject.issuanceConfiguration.lastIssuanceDate && cardProgramObject.productType !== 'Meal' && cardProgramObject.productType !== 'Gift') { %>
                                <div class="card-image-part__tag">
                                    <span class="card-image-part__tag--pd">Year end closure approaching</span>
                                </div>
                                <% } %>

                            <% if(cardProgramObject.cardDesign.logo && templateData && templateData.overview && templateData.overview.showCardProgramLogo) { %>
                                <img class="card-logo-vn" id="cardProgramLogo" src='<%- cardProgramObject.cardDesign.logo %>' alt="" />
                            <% } %>
            </div>
            <!-- Page Card Display End -->
            <div class="page-heading">
                <div class="page-heading-list">
                    <ul class="list-unstyled mg-b-zero">
                        <li>
                            <small class="list-label list-label-overview">Status:</small>
                            <% if(compareDates) { %>
                                <input type="hidden" id="compare-date-overview" data-compare-date="<%- compareDates%>">
                                <div class="details details-benefits">
                                    Closed
                                    <% if(cardProgramObject.productType !== 'Meal' && cardProgramObject.productType !== 'Gift') { %>
                                        <p>All claims are closed. Processing will complete by
                                            <b>
                                                <%- cardProgramObject.issuanceConfiguration.extraIssuanceConfig["corpben.reportGenerationDate"]%>
                                            </b>.
                                            <a href="#" data-target="#myModalImportantDates" data-toggle="modal" class="page-heading-list__date-text">View Important Dates</a>
                                        </p>
                                        <% } else { %>
                                            <p> All new issuances are closed. Please use the card of next financial year.
                                            </p>
                                            <% } %>
                                </div>
                                <% } else if(cardProgramObject.active) {%>
                                    <div class="details details-benefits">
                                        <div class="active">Active</div>
                                        <% if(cardProgramObject.issuanceConfiguration.lastIssuanceDate && cardProgramObject.productType !== 'Meal' && cardProgramObject.productType !== 'Gift') { %>
                                            <p>Year end closure is scheduled on
                                                <b>
                                                    <%- cardProgramObject.issuanceConfiguration.lastIssuanceDate%>
                                                </b>.
                                                <a href="#" data-target="#myModalImportantDates" data-toggle="modal" class="page-heading-list__date-text">View Important Dates</a>
                                            </p>
                                            <% } %>
                                    </div>
                                    <% } else { %>
                                        <div class="details details-benefits">Inactive</div>
                                        <% } %>
                        </li>
                        <li>
                            <small class="list-label list-label-overview">Funding Type:</small>
                            <div class="details details-benefits text-capitalize">
                                <%- (cardProgramObject.fundingType) ? cardProgramObject.fundingType.toLowerCase() : '-' %>
                            </div>
                        </li>
                        <li>
                            <small class="list-label list-label-overview">Issued by:</small>
                            <div class="details details-benefits">
                                <div class="text-left">
                                    <% if(ifiBankName == "RBL"){ %>
                                        <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/rbl-logo.png" alt="" style="width: 72px;">
                                        <%}%>
                                            <% if(ifiBankName == "IDFC"){ %>
                                                <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/IDFC-FIRST-Bank-Primary-Logo.jpg" alt="" style="width: 72px;">
                                                <%}%>
                                                    <% if(ifiBankName == "Kotak"){ %>
                                                        <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/kotak-logo.png" alt="" style="width: 72px;">
                                                        <%}%>
                                                            <% if(ifiBankName == "Sodexo" || ifiBankName == "Sodexo_Vietnam" || ifiBankName == "Sodexo_Philippines"){ %>
                                                                <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/Sodexo-logo.png" alt="" style="width: 72px;">
                                                                <%}%>
                                                                <% if(ifiBankName == "HDFC"){ %>
                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/HDFC-logo-2x.png" alt="" style="width: 120px;">
                                                                    <%}%>
                                </div>
                            </div>
                        </li>
                        <% if(templateData && templateData.overview && templateData.overview.enableCardLogoInput) {%>
                        <li>
                            <small class="list-label list-label-overview">Logo:</small>
                            <div class="details details-benefits1">
                                <div>
                                    <input type="file" id="cardLogo" accept="image/*" />
                                    <p class="logo-format-text">
                                        <i>*File name should be in the format of <b><%- companyID %>_<%- programID %>_{filename}</b> without containing spaces. Eg : <b><%- companyID %>_<%- programID %>_sodexo </b></i>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <% } %>
                        <% if(cardProgramObject.productType != 'CashlessCafeteria') {%>
                            <li>
                                <small class="list-label list-label-overview">Funding Account:</small>
                                <div class="details details-benefits">
                                    <div>
                                        <i id="fundingAccName"><%- fundingAccountDetails.name %></i>
                                        <% if(changeFundingAcct){ %>
                                            <a href="javascript:void(0)" data-programtype="<%- cardProgramObject.productType %>" data-programname="<%- cardProgramObject.cardName %>" data-toggle="modal" data-target="#setupProgramModal"> Change</a>
                                        <% } %>
                                        </div>
                                    <!-- <a class="link" href="/admin/transaction-history/<%- fundingAccountDetails.accountID %>" target="_blank">
                                </a> -->
                                </div>
                            </li>
                            <% } %>
                                <li>
                                    <small class="list-label list-label-overview">Balance:</small>
                                    <div class="details details-benefits">
                                        <b class="numbers-font">
                                            <i id="fundingAccBalance"><%- fundingAccountDetails.formattedBalance %></i>
                                        </b>
                                    </div>
                                </li>
                                <% if(templateData && templateData.overview && templateData.overview.showTaxAndExpiry) { %> 
                                    <li>
                                        <small class="list-label list-label-overview">Tax Liability:</small>
                                        <div class="details details-benefits">
                                            <%- cardProgramObject.taxStatus || 'Non-Taxable for Spends on Uniform and Approved Bills as per Income Tax Rules' %>
                                        </div>
                                    </li>
                                
                                    <li>
                                        <small class="list-label list-label-overview">Expiry:</small>
                                        <div class="details details-benefits">
                                            <%-cardProgramObject.voucherProgram.voucherValidity %>
                                        </div>
                                    </li>
                                <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <% if(locals.countryVar && countryVar == "isSodexoVn") { %>
            <% include ./vn-overview-graph.ejs %>
        <% } else if(!(locals.countryVar && countryVar == "isSodexoPh")) { %>
            <div class="col-xs-4 pd-left-zero">
                <div class='graph-wrpr'>
                    <div class='graph-hdg'>Spend Times</div>
                    <div id='spendTimesLoader' class='merchant-data-loader'>
                        <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif' alt='loading' />
                        <div>Loading Spend Times Data..</div>
                    </div>
                    <div id='spendTimesWrpr' class='graph-cntr'>
                        <canvas id="spendTimes" height="200"></canvas>
                        <em class="footer-note">* Data for last 3 months only</em>
                    </div>
                    <div id='spendTimesGraphErr' class="graph-error">
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                        <div class='pd-top-ten'>Couldn't load the Graph</div>
                    </div>
                    <div id="spendTimesEmpty" class="graph-empty">
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                        <div class='pd-top-ten'>Not enough data available</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class='graph-wrpr spend-location'>
                    <div class='graph-hdg'>Spend Locations</div>
                    <div id='spendLocationsLoader' class='merchant-data-loader'>
                        <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif' alt='loading' />
                        <div>Loading Spend Locations Data..</div>
                    </div>
                    <div class='graph-cntr' id="spendLocations">
                    </div>
                    <div class="footer-note">* Data for last 3 months only</div>
                    <div id='spendLocationsGraphErr' class="graph-error">
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                        <div class='pd-top-ten'>Couldn't load the Graph</div>
                    </div>
                    <div id="spendLocationsEmpty" class="graph-empty">
                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                        <div class='pd-top-ten'>Not enough data available</div>
                    </div>
                </div>
            </div>
        
            <div class='col-xs-4 pd-right-zero'>
                <div class='spend-data-wrpr'>
                    <div class='graph-wrpr'>
                        <div class='graph-hdg'>Spend Channels</div>
                        <div id='spendDataLoader' class='merchant-data-loader'>
                            <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif' alt='loading' />
                            <div> Loading data...</div>
                        </div>
                        <div id="spendChannelsWrpr" class='spend-channel'>
                            <canvas id="spendChannels"></canvas>
                            <em class="footer-note">* Data for last 3 months only</em>
                        </div>
                        <div id="spendChannelsEmpty" class="graph-empty">
                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                            <div class='pd-top-ten'>Not enough data available</div>
                        </div>
                        <div id='spendChannelsGraphErr' class="graph-error">
                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg" class='empty-state'>
                            <div class='pd-top-ten'>Couldn't load the Graph</div>
                        </div>
                    </div>
                </div>
            </div>
    <% } %>
    </div>
    <!-- Page Heading and List End -->

    <div class="col-xs-4 col-md-4">
        <!-- <div class='saving-data-wrpr'>
            <ul>
                <li class='clearfix'>
                    <div class='saving-data-icon tax-saved-icon'></div>
                    <div class='saving-data-val-wrpr'>
                        <div class='saving-data-val'>&#8377;5,40,000*</div>
                        <div class='saving-data-text'>Tax Saved</div>
                    </div>
                </li>
            </ul>
        </div> -->
        <% if(!(locals.countryVar && countryVar == "isSodexoPh")) { %>
        <div class='merchant-data-wrpr' id='merchantsWrpr'>
            <div id='merchantGraphLoader' class='merchant-data-loader'>
                <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif' alt='loading' />
                <div>Loading Merchant Data </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
<% if(cardProgramObject.issuanceConfiguration.lastIssuanceDate) { %>
    <!-- Modal New Funding Account -->
    <div class="modal fade" id="myModalImportantDates" role="dialog" tabindex="-1">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <h4 class="text-center pd-bottom-zero pd-lrt-zero">Year end closure dates</h4>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="page-sub-heading">
                                    <!-- Table -->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">

                                            <table class="custom-table custom-table-margin custom-table__header custom-table__header--margin">
                                                <tbody class="main-content">
                                                    <tr>
                                                        <td>
                                                            <span>
                                                                Last date for submission of claims by beneficiaries
                                                            </span>
                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-grey.svg">
                                                        </td>
                                                        <td>
                                                            <%- cardProgramObject.reimbursementProgram.lastClaimUploadDate %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>
                                                                Processing complete for all claims for the financial year
                                                            </span>
                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-grey.svg">
                                                        </td>
                                                        <td>
                                                            <%- cardProgramObject.reimbursementProgram.lastClaimProcessDate %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>
                                                                Settlement of balance in the beneficiary card
                                                            </span>
                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-grey.svg">
                                                        </td>
                                                        <td>
                                                            <% if(cardProgramObject.closeCardConfiguration && cardProgramObject.closeCardConfiguration.closeCardDate) { %>
                                                                <%- cardProgramObject.closeCardConfiguration.closeCardDate %>
                                                                    <% } %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>
                                                                Final report available for download
                                                            </span>
                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-grey.svg">
                                                        </td>
                                                        <td>
                                                            <% if(cardProgramObject.issuanceConfiguration && cardProgramObject.issuanceConfiguration.lastIssuanceDate) { %>
                                                                <%- cardProgramObject.issuanceConfiguration.extraIssuanceConfig["corpben.reportGenerationDate"] %>
                                                                    <% } %>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- Table End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal New Funding Account End -->

    <% } %>

        <!-- Modal Create Program -->
        <div class="modal fade" id="setupProgramModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <h4 class="text-center pd-bottom-zero pd-top-zero">Funding account for
                                <%- cardProgramObject.cardName %>
                                    <span id='programType'></span> program</h4>
                            <div class="modalbox-form-section">
                                <form class="" id="programCreate">
                                    <!-- <div class="form-group">
                                        <label for="recipient-name" class="control-label">Which Financial Year is this program for?</label>
                                        <div class="form-group select-custom" align="right">
                                            <select id='financialYear' class="form-control width-xs input-lg">
                                                <option value='0'>Select</option>
                                                <option value="2017-18">2017-18</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="fundaccerror-state" id="showFundAccountError" style="display:none">
                                        <img src="../../../images/error-icon-log.png" alt="">
                                        <span>
                                            Failed. Server Error. Please try again or later
                                        </span>
                                    </div>
                                    <div class="fundaccerror-state" id="showGenieFundAccountError" style="display:none">
                                        <img src="../../../images/error-icon-log.png" alt="">
                                        <span>
                                            You do not have access to change or create funding account.
                                        </span>
                                    </div>
                                    <div class="form-group mg-bottom-zero">
                                        <label for="recipient-name" class="control-label ">Select a funding a/c
                                            <span class="tooltip" style="opacity:1">
                                                <img class="subtitle sidebar-option-txt" style="width:12px;cursor:pointer;opacity:1" src="../../../images/help-icon.png"
                                                    alt="" />
                                                <span class="tooltiptext tooltiptext-benefits" style="opacity:1">A Funding A/c is similar to your Bank’s current account. They can fund one
                                                    or more programs across all your companies. You can use them to transfer
                                                    funds to your beneficiaries.</span>
                                            </span>
                                        </label>

                                        <div class="form-group select-custom" align="right">
                                            <select id='fundingAccountID' class="form-control width-xs input-lg">
                                                <option value='0'>Select</option>
                                                <option value='createNew'>Create New</option>
                                                <% for(var currIndex=0; currIndex<fundingAccounts.length; currIndex++) {%>
                                                    <option value=<%- fundingAccounts[currIndex].accountID %>>
                                                        <%- fundingAccounts[currIndex].name %>
                                                            <%- fundingAccounts[currIndex].formattedBalance %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" id="shownewfundingaccname" style="display:none">
                                        <label for="fundingaccname" class="control-label">Enter funding a/c name</label>
                                        <div class="form-group select-custom">
                                            <input id='newfundingaccname' maxlength="40" type='text' class="form-control width-xs" />
                                            <span align="left" style="color:red;display:none" id="showfundingAccDuplicate">Funding account name already exists</span>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="programName" class="control-label">Program Name</label>
                                        <div class="form-group select-custom" align="right">
                                            <input id='programName' maxlength="40" type='text' class="form-control width-xs" />
                                        </div>
                                    </div>
                                    <div>
                                        <p>For advanced customizations, please get in touch with your acccount manager or write to us on support@zeta.in</p>
                                    </div> -->
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button disabled class="btn btn-default btn-disabled" type="button" data-programtype="<%- cardProgramObject.productType %>" data-programid="<%- programID %>" data-programname="<%- cardProgramObject.cardName %>" data-programdescription="<%- cardProgramObject.cardName %>"
                                    id="createProgram">Change Account</button>
                                <img class="create-program-loader" id="createProgramLoader" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/loading-icon.svg">
                                <div>
                                    <img class="card-program-logo" id="cardProgramLogo" src="">
                                </div>

                            </div>
                        </div>
                        <div class="ifi-logo-details">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Create Program End -->

        <!-- Modal Box Fund Account Change success -->
        <div class="modal fade" id="changeFundAccProgramSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="close_Me" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" id="reload-funding-changes">&times;</span>
                        </button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/success-icon.svg" alt="Zeta icon" />
                            </div>
                            <div class="text-center pd-top-fifteen pd-bottom-zero">The funding a/c for
                                <strong>
                                    <%- cardProgramObject.cardName %>
                                </strong> program has been changed to the a/c
                                <strong id="changedFundAccountName">Better World Technology Pvt. Ltd.</strong>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a id="viewProgramBtnSuccess" href=''>
                                    <button class="btn btn-default" type="button">DONE</button>
                                </a>
                            </div>
                            <div>
                                <div class="programsuccess-footer" style="padding-top: 20px;font-size: 12px;">
                                    <div class="inner-image-content" style=" position: absolute;">
                                        <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-exl.png" style=" float: left;" alt="" width="16px">
                                    </div>
                                    <div class="inner-content" style="text-align: left;padding-left: 23px;font-size: 12px;display: inline;float: right;">
                                        <p>
                                            <p>
                                                <b>NOTE: </b>Any existing orders in the
                                                <b> Initiated</b> state will still use funds from the previous funding a/c
                                                <%- fundingAccountDetails.name %>
                                            </p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Box Fund Account Change success End -->