<div class="tab-pane" id="program-settings" data-cardprogramobject='<%- JSON.stringify(cardProgramObject) %>'>

    <input type="hidden" id="corpID" value="<%- corpID %>">
    <input type="hidden" id="companyID" value="<%- companyID %>">
    <input type="hidden" id="programID" value="<%- programID %>">
    <input type="hidden" id="fundingAccData" data-accounts='<%- JSON.stringify(fundingAccounts) %>'>
    <div class="col-xs-12 col-md-12">
        <div class="topHeading">

            <p class="title">Program settings</p>
            <span>Issued by 
                <% if(ifiBankName == "RBL"){ %>
                    <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/rbl-logo.png" alt="" style="width: 72px;">
                    <%}%>
                        <% if(ifiBankName == "IDFC"){ %>
                            <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/idfc-logo@2x.png" alt="" style="width: 72px;">
                            <%}%>
                                <% if(ifiBankName == "Kotak"){ %>
                                    <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/kotak-logo.png" alt="" style="width: 72px;">
                                    <%}%>
                                        <% if(ifiBankName == "Sodexo"){ %>
                                            <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/Sodexo-logo.png" alt="" style="width: 72px;">
                                            <%}%>
                                                <% if(ifiBankName == "HDFC"){ %>
                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/HDFC-logo-2x.png" alt="" style="width: 120px;">
                                                    <%}%>
                                                </span>

        </div>
        <br>
        <div class="inner-sub-container page-sub-heading">

            <div class="accordionContainer">
                <p>
                    <div class="heading complete" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" role="button" aria-expanded="true" aria-controls="multiCollapseExample1">
                        <div class="table">
                            <!-- <div class="table-cell count"></div>
                                <p class="">1</p>
                                <p class="tick"><img src="/images/tick.png"></p>
                            </div> -->
                            <div class="text table-cell">
                                <p>General Settings</p>
                                <p>Basic program setup information</p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col">
                            <div class="collapse multi-collapse in" id="multiCollapseExample1">
                                <div class="card card-body">
                                    <div class="inputRow">
                                        <div class="field-label bold">Program name</div>
                                        <div class="inputField">
                                            <div class="generalEdit">
                                                <input class="form-control" id="programName" type="text" value="<%- cardProgramObject.cardDesign.cardName == '' ? cardProgramObject.cardName : cardProgramObject.cardDesign.cardName %>">
                                                <p class="infoPara">This name will be shown on the card inside the app.</p>
                                            </div>
                                            <div class="generalView padTop6" id="programNameView">
                                                <%- cardProgramObject.cardDesign.cardName || cardProgramObject.cardName %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Funding account</div>
                                        <div class="inputField select-custom">
                                            <div class="generalEdit">
                                                <%- console.log('fundingAccounts', fundingAccounts) %>
                                                <select class="form-control" id="fundingAccountId">
                                                    <option value="0" disabled>-Select-</option>
                                                    <option value="createNew">Create new</option>
                                                    <% for(key in fundingAccounts){ %>
                                                        <% if(fundingAccounts[key].accountID && fundingAccounts[key].name) { %>
                                                            <option value="<%- fundingAccounts[key].accountID %>" <%- fundingAccounts[key].accountID == fundingAccountDetails.accountID ? 'selected' : '' %>><%- fundingAccounts[key].name %></option>
                                                        <% } %>
                                                    <% } %>
                                                </select>
                                                <input class="form-control marginTop6 hideMe" id="fundingAccountName" placeholder="Funding account name" type="text">
                                                <p class="infoPara">A Funding A/c is similar to your Bank’s current account. They can fund one or more programs across all your companies. You can use them to transfer funds to your beneficiaries.</p>
                                            </div>
                                            <div class="generalView padTop6" id="funcdingAcctView">
                                                <%- fundingAccountDetails.name %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Program type</div>
                                        <div class="inputField">
                                            <div class="generalEdit">
                                                <div>
                                                    <input type="radio" name="programType" value="allowance" <%- closeCardConfiguration[0].programModel == 'ALLOWANCE' ? 'checked' : '' %>><span>Allowance</span>
                                                    <p id="allowancePara" class="infoPara <%- closeCardConfiguration[0].programModel == 'ALLOWANCE' ? '' : 'hideMe' %>">
                                                        In this program type, the Corporate issues amount to the Employees upfront. The same can be seen, in full, in the corresponding product card & spent via any Zeta channel.
                                                    </p>
                                                </div>
                                                <div>
                                                    <input type="radio" name="programType" value="reimbursement" <%- closeCardConfiguration[0].programModel == 'ALLOWANCE' ? '' : 'checked' %>><span>Reimbursement</span>
                                                    <p id="reimbursementPara" class="infoPara <%- closeCardConfiguration[0].programModel == 'ALLOWANCE' ? 'hideMe' : '' %>">
                                                        In this program type, no amount is issued upfront by Corporate to its Employees. The Employees are supposed to claim their reimbursements by uploading bills against this card.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="generalView padTop6" id="programTypeView">
                                                <%- closeCardConfiguration[0].programModel == 'ALLOWANCE' ? 'Allowance' : 'Reimbursement' %>
                                            </div>
                                        </div>
                                    </div>
                                    <% if(cardProgramObject.productType != 'gift' && cardProgramObject.productType != 'meal'){ %>
                                        <div class="inputRow <%- closeCardConfiguration[0].programModel == 'ALLOWANCE' ? '' : 'hideMe' %>" id="claimRequiredAction">
                                            <div class="field-label bold">Claim upload required</div>
                                            <div class="inputField">
                                                <div class="generalEdit">
                                                    <div>
                                                        <input type="radio" name="claimUpload" value="Yes" <%- cardProgramObject.spendConfiguration.channels.allowReimbursement ? 'checked' : '' %>><span>Yes</span>
                                                    </div>
                                                    <div>
                                                        <input type="radio" name="claimUpload" value="No" <%- cardProgramObject.spendConfiguration.channels.allowReimbursement ? '' : 'checked' %>><span>No</span>
                                                    </div>
                                                </div>
                                                <div class="generalView padTop6" id="claimUploadView">
                                                    <%- cardProgramObject.spendConfiguration.channels.allowReimbursement ? 'Yes' : 'No' %>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                    <div class="inputRow">
                                        <div class="field-label bold"><a class="enableEdit" data-button="generalSave" data-show="generalEdit" data-hide="generalView">Edit Details</a></div>
                                        <div class="inputField hideMe generalSave">
                                            <button class="btn btn-success" id="saveGeneralSettings">Save</button>
                                            <button class="btn btn-danger cancelEdit" data-show="generalEdit" data-hide="generalView">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="heading complete" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" role="button" aria-expanded="true" aria-controls="multiCollapseExample2">
                        <div class="table">
                            <!-- <div class="table-cell count">
                                <p class="">2</p>
                                <p class="tick"><img src="/images/tick.png"></p>
                            </div> -->
                            <div class="text table-cell">
                                <p>Billing Address</p>
                                <p>Billing address</p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample2">
                                <div class="card card-body" id="addressSection">
                                    <div class="inputRow">
                                        <div class="field-label bold">First name<sup>*</sup></div>
                                        <% var billingData = cardProgramObject.businessDetails ? cardProgramObject.businessDetails.billingAddress : {} %>
                                        <div class="inputField">
                                            <div class="billingEdit">
                                                <input class="form-control" placeholder="" id="firstName" type="text" value="<%- billingData.firstName || '' %>">
                                            </div>
                                            <div class="billingView padTop6" id="firstNameView">
                                                <%- billingData.firstName || 'NA' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Last name<sup>*</sup></div>
                                        <div class="inputField">
                                            <div class="billingEdit">
                                                <input class="form-control" placeholder="" id="lastName" type="text" value="<%- billingData.lastName || '' %>">
                                            </div>
                                            <div class="billingView padTop6" id="lastNameView">
                                                <%- billingData.lastName || 'NA' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Email<sup>*</sup></div>
                                        <div class="inputField">
                                            <div class="billingEdit">
                                                <input class="form-control" placeholder="" id="email" type="email" value="<%- billingData.email || '' %>">
                                            </div>
                                            <div class="billingView padTop6" id="emailView">
                                                <%- billingData.email || 'NA' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Phone<sup>*</sup></div>
                                        <div class="inputField">
                                            <div class="billingEdit">
                                                <input style="width: 60px;display: inline-block" class="form-control" placeholder="" id="countryCode" type="text" value="<%- billingData.countryID || '' %>">
                                                <input style="display: inline-block; max-width: 240px;" class="form-control" id="phone" type="number" value="<%- billingData.telephone || '' %>">
                                            </div>
                                            <div class="billingView padTop6" id="phoneView">
                                                <%- (billingData.telephone ? billingData.countryID + ' ' + billingData.telephone : 'NA') %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Line1<sup>*</sup></div>
                                        <div class="inputField">
                                            <div class="billingEdit">
                                                <input class="form-control" placeholder="" id="address1" type="text" value="<%- billingData.line1 || '' %>">
                                            </div>
                                            <div class="billingView padTop6" id="address1View">
                                                <%- billingData.line1 || 'NA' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Line2</div>
                                        <div class="inputField">
                                            <div class="billingEdit">
                                                <input class="form-control" placeholder="" id="address2" type="text" value="<%- billingData.line2 || '' %>">
                                            </div>
                                            <div class="billingView padTop6" id="address2View">
                                                <%- billingData.line2 || 'NA' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">City<sup>*</sup></div>
                                        <div class="inputField">
                                            <div class="billingEdit">
                                                <input class="form-control" placeholder="" id="city" type="text" value="<%- billingData.city || '' %>">
                                            </div>
                                            <div class="billingView padTop6" id="cityView">
                                                <%- billingData.city || 'NA' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">State<sup>*</sup></div>
                                        <div class="inputField">
                                            <div class="billingEdit">
                                                <input class="form-control" placeholder="" id="state" type="text" value="<%- billingData.region || '' %>">
                                            </div>
                                            <div class="billingView padTop6" id="stateView">
                                                <%- billingData.region || 'NA' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Pin Code<sup>*</sup></div>
                                        <div class="inputField">
                                            <div class="billingEdit">
                                                <input class="form-control" placeholder="" id="pincode" type="number" value="<%- billingData.postCode || '' %>">
                                            </div>
                                            <div class="billingView padTop6" id="pincodeView">
                                                <%- billingData.postCode || 'NA' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold"><a class="enableEdit" data-button="billingSave" data-show="billingEdit" data-hide="billingView">Edit Details</a></div>
                                        <div class="inputField hideMe billingSave">
                                            <button class="btn btn-success" id="saveAddressSettings">Save</button>
                                            <button class="btn btn-danger cancelEdit" data-show="billingEdit" data-hide="billingView">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="heading complete" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">

                        <div class="table">
                            <!-- <div class="table-cell count">
                                <p class="">3</p>
                                <p class="tick"><img src="/images/tick.png"></p>
                            </div> -->
                            <div class="text table-cell">
                                <p>Spend Settings</p>
                                <p>These rules will apply during every transaction made by the user</p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample3">
                                <div class="card card-body">
                                    <div class="inputRow">
                                        <div class="field-label bold">Spend channels</div>
                                        <div class="inputField">
                                            <div class="spendView padTop6">
                                                    <%- cardProgramObject.spendConfiguration.channels.allowSuperCard ? 'Super Card<br>' : '' %>
                                                    <%- cardProgramObject.spendConfiguration.channels.allowZetaApp ? 'Zeta App<br>' : '' %>
                                                    <%- cardProgramObject.spendConfiguration.channels.allowSuperTag ? 'Super Tag<br>' : '' %>
                                            </div>
                                            <div class="spendEdit padTop6">
                                                <div>
                                                    <input id="zeta-app" type="checkbox" <%- cardProgramObject.spendConfiguration.channels.allowZetaApp ? 'checked' : '' %>><span>Zeta
                                                        App</span>
                                                </div>
                                                <div>
                                                    <input id="super-card" type="checkbox" <%- cardProgramObject.spendConfiguration.channels.allowSuperCard ? 'checked' : '' %>><span>Super
                                                        Card</span>
                                                </div>
                                                <div>
                                                    <input id="super-tag" type="checkbox" <%- cardProgramObject.spendConfiguration.channels.allowSuperTag ? 'checked' : '' %>><span>Super
                                                        Tag</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Allowed merchants</div>
                                        <div class="inputField">
                                            <div class="spendView padTop6">
                                                    <%- cardProgramObject.spendConfiguration.allowedMerchants ? cardProgramObject.spendConfiguration.allowedMerchants.join(', ') : 'None' %>
                                            </div>
                                            <div class="spendEdit padTop6">
                                                <div class="multipleOpsSelect">
                                                    <select class="form-control" id="allowedMerchants" multiple>
                                                        <% for(merchant in (cardProgramObject.spendConfiguration.allowedMerchants || [])) { %>
                                                            <% if(cardProgramObject.spendConfiguration.allowedMerchants[merchant]){ %>
                                                                <option value="<%- cardProgramObject.spendConfiguration.allowedMerchants[merchant] %>" selected><%- cardProgramObject.spendConfiguration.allowedMerchants[merchant] %></option>
                                                            <% } %>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="inputField spendEdit pull-right marTop12">
                                            <input class="form-control" placeholder="Enter merchants separated by comma" id="customAllowedMerchants">
                                            <p class="infoPara">
                                                Note: Merchant code example: "mcc:123,mid:123,amc:123"
                                            </p>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Disallowed merchants</div>
                                        <div class="inputField">
                                            <div class="spendView padTop6">
                                                <%- cardProgramObject.spendConfiguration.disallowedMerchants ? (cardProgramObject.spendConfiguration.disallowedMerchants.length > 0 && cardProgramObject.spendConfiguration.disallowedMerchants[0] != "" ? cardProgramObject.spendConfiguration.disallowedMerchants.join(', ') : 'None') : 'None' %>
                                            </div>
                                            <div class="spendEdit padTop6">
                                                <div class="multipleOpsSelect">
                                                    <select class="form-control" id="disallowedMerchants" multiple>
                                                        <% for(merchant1 in (cardProgramObject.spendConfiguration.disallowedMerchants || [])) { %>
                                                            <% if(cardProgramObject.spendConfiguration.disallowedMerchants[merchant1] != ""){ %>
                                                                <option value="<%- cardProgramObject.spendConfiguration.disallowedMerchants[merchant1] %>" selected><%- cardProgramObject.spendConfiguration.disallowedMerchants[merchant1] %></option>
                                                            <% } %>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="inputField spendEdit pull-right marTop12">
                                            <input class="form-control" placeholder="Enter merchants separated by comma" id="customDisallowedMerchants">
                                            <p class="infoPara">
                                                Note: Merchant code example: "mcc:123,mid:123,amc:123"
                                            </p>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Allow spends on</div>
                                        <div class="inputField">
                                            <div class="spendView padTop6">
                                                <%- selectedSpendDays.length > 0 ? selectedSpendDays.join(', ') : 'Everyday' %>
                                            </div>
                                            <div class="spendEdit padTop6">
                                                <div class="multipleOpsSelect">
                                                    <select class="form-control" id="spendDays" multiple>
                                                        <option value="MON" <%- selectedSpendDays.indexOf("MON") >= 0 ? 'selected' : '' %>>Monday</option>
                                                        <option value="TUE" <%- selectedSpendDays.indexOf("TUE") >= 0 ? 'selected' : '' %>>Tuesday</option>
                                                        <option value="WED" <%- selectedSpendDays.indexOf("WED") >= 0 ? 'selected' : '' %>>Wednesday</option>
                                                        <option value="THU" <%- selectedSpendDays.indexOf("THU") >= 0 ? 'selected' : '' %>>Thursday</option>
                                                        <option value="FRI" <%- selectedSpendDays.indexOf("FRI") >= 0 ? 'selected' : '' %>>Friday</option>
                                                        <option value="SAT" <%- selectedSpendDays.indexOf("SAT") >= 0 ? 'selected' : '' %>>Saturday</option>
                                                        <option value="SUN" <%- selectedSpendDays.indexOf("SUN") >= 0 ? 'selected' : '' %>>Sunday</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Allow spend between</div>
                                        <div class="inputField select-custom" data-timeslices='<%- JSON.stringify(allowedTimeSlice); %>' id="timeSliceContainer">
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Transaction Limit</div>
                                        <div class="inputField">
                                            <div class="col-md-3 row">
                                                <p>Min. Amount(in Rupees)</p>
                                                <input class="form-control" type="number" placeholder="" id="minTxnLimit" value="<%- cardProgramObject.spendConfiguration.transactionConstraints.minTransactionValue / 100 %>">
                                            </div>
                                            <div class="col-md-3">
                                                <p>Max. Amount(in Rupees)</p>
                                                <input class="form-control" type="number" placeholder="" id="maxTxnLimit" value="<%- cardProgramObject.spendConfiguration.transactionConstraints.maxTransactionValue / 100 %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Daily Spend Limit</div>
                                        <div class="inputField">
                                            <div class="col-md-3 row">
                                                <p>Max. Transactions</p>
                                                <input class="form-control" type="number" placeholder="" id="maxTxnPerDay" value="<%- cardProgramObject.spendConfiguration.limits.dailyTxnCount || 0 %>">
                                            </div>
                                            <div class="col-md-3">
                                                <p>Max. Amount(in Rupees)</p>
                                                <input class="form-control" type="number" placeholder="" id="maxTxnAmtPerDay" value="<%- cardProgramObject.spendConfiguration.limits.dailyLimit / 100 || 0 %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Monthly Spend Limit</div>
                                        <div class="inputField">
                                            <div class="col-md-3 row">
                                                <p>Max. Transactions</p>
                                                <input class="form-control" type="number" placeholder="" id="maxTxnPerMonth" value="<%- cardProgramObject.spendConfiguration.limits.monthlyTxnCount || 0 %>">
                                            </div>
                                            <div class="col-md-3">
                                                <p>Max. Amount(in Rupees)</p>
                                                <input class="form-control" type="number" placeholder="" id="maxTxnAmtPerMonth" value="<%- cardProgramObject.spendConfiguration.limits.monthlyLimit / 100 || 0 %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold">Require spend declaration?</div>
                                        <div class="inputField">
                                            <div class="spendEdit">
                                                <div class="col-md-2 row">
                                                    <div>
                                                        <input type="radio" name="declaration" value="Yes" <%- cardProgramObject.spendConfiguration.spendDeclaration ? 'checked' : '' %>><span>Yes</span>
                                                    </div>
                                                    <div>
                                                        <input type="radio" name="declaration" value="No" <%- cardProgramObject.spendConfiguration.spendDeclaration ? '' : 'checked' %>><span>No</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <textarea class="form-control" id="declarationText" type="text"><%- cardProgramObject.spendConfiguration.spendDeclaration %></textarea>
                                                </div>
                                            </div>
                                            <div class="spendView padTop6">
                                                <%- cardProgramObject.spendConfiguration.spendDeclaration ? 'Yes' : 'No' %>
                                                <%- cardProgramObject.spendConfiguration.spendDeclaration ? '<br>Declaration:- '+cardProgramObject.spendConfiguration.spendDeclaration : '' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold"><a class="enableEdit" data-button="spendSave" data-show="spendEdit" data-hide="spendView">Edit Details</a></div>
                                        <div class="inputField hideMe spendSave">
                                            <button class="btn btn-success" id="saveSpendSettings">Save</button>
                                            <button class="btn btn-danger cancelEdit" data-show="spendEdit" data-hide="spendView">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if(cardProgramObject.productType != 'gift' && cardProgramObject.productType != 'meal'){ %>
                        <div class="heading complete <%- cardProgramObject.spendConfiguration.channels.allowReimbursement ? '' : 'hideMe' %>" type="button" data-toggle="collapse" data-target="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample4">

                            <div class="table">
                                <!-- <div class="table-cell count">
                                    <p class="">3</p>
                                    <p class="tick"><img src="/images/tick.png"></p>
                                </div> -->
                                <div class="text table-cell">
                                    <p>Claim Settings</p>
                                    <p>Set rules for claims under this program. Claim processing will happen based on these rules</p>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="col">
                                <div class="collapse multi-collapse" id="multiCollapseExample4">
                                    <div class="card card-body">
                                        <% if(Object.keys(checkListMap).length > 0){ %>
                                            <p>All claims will be processed based on the following rules</p><br>
                                            <table id="rulesTable" class="table table-bordered">
                                                <thead class="bg-grey">
                                                    <tr>
                                                        <th>Rules</th>
                                                        <th class="claimView">Opted</th>
                                                        <th class="claimEdit">Yes</th>
                                                        <th class="claimEdit">No</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for( var key in allRules) { %>
                                                        <% if(checkListMap[allRules[key].rule]){ %>
                                                            <tr>
                                                                <td>
                                                                    <%- checkListMap[allRules[key].rule].question %>
                                                                </td>
                                                                <td class="claimView"><img src="<%- allRules[key].value == true ? '/images/tick-small.png' : '/images/cross.png' %>"></td>
                                                                <td class="claimEdit"><input type="radio" name="<%- allRules[key].rule %>" value="Yes" <%- allRules[key].value ? 'checked' : '' %>></td>
                                                                <td class="claimEdit"><input type="radio" name="<%- allRules[key].rule %>" value="No" <%- allRules[key].value ? '' : 'checked' %>></td>
                                                            </tr>
                                                        <% } %>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                            <% } %>
                                                <br>
                                                <% if(cardProgramObject.productType == 'books') { %>
                                                    <div class="booksSection">
                                                        <div class="claimEdit">
                                                            <p>Select Books & Periodicals categories against which claims are allowed
                                                            </p><br>
                                                            <% for(category in booksCategories) { %>
                                                                <div class="multiselectOptions">
                                                                    <div class="form-group">
                                                                        <p>
                                                                            <%- category %>
                                                                        </p>
                                                                        <select class="multiSelectOpts" multiple>
                                                                            <% booksCategories[category].forEach(function(subCategory) { %>
                                                                                <option value="<%- subCategory %>" <%- cardProgramObject.reimbursementProgram.extraReimbursementProgramConfig.bookCategories.indexOf(subCategory) >= 0 ? 'selected' : '' %>><%- subCategory %></option>
                                                                            <% }) %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <% } %>
                                                        </div>
                                                        <div class="claimView">
                                                            <div class="inputRow">
                                                                <div class="field-label bold">Books & Periodicals categories</div>
                                                                <div class="inputField padTop6">
                                                                    <%- cardProgramObject.reimbursementProgram.extraReimbursementProgramConfig.bookCategories.join(', ') %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <% if(cardProgramObject.productType == 'uniform') { %>
                                                            <div class="uniform">
                                                                <div class="claimEdit">
                                                                    <p>Select Uniform categories against which claims are allowed</p>
                                                                    <div class="uniformOpts inputRow" id="uniformOpts">
                                                                        <div class="col-md-6 row inputField no-marg-pad">
                                                                            <% uniformCategories.forEach(function(category){ %>
                                                                                <div class="col-md-4"><input type="checkbox" value="<%- category %>" checked><span><%- category %></span></div>
                                                                                <% }) %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="claimView">
                                                                    <div class="inputRow">
                                                                        <div class="field-label bold">Uniform categories</div>
                                                                        <div class="inputField padTop6">
                                                                            <%- cardProgramObject.reimbursementProgram.extraReimbursementProgramConfig.uniformCategories.join(', ') %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="inputRow">
                                                                <div class="field-label bold"><a class="enableEdit" data-button="claimSave" data-show="claimEdit" data-hide="claimView">Edit Details</a></div>
                                                                <div class="inputField hideMe claimSave">
                                                                    <button class="btn btn-success" id="saveClaimSettings">Save</button>
                                                                    <button class="btn btn-danger cancelEdit" data-show="claimEdit" data-hide="claimView">Cancel</button>
                                                                </div>
                                                            </div>
                                                            <% }else{ %>
                                                                <p>No claim rules configured</p>
                                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% if(cardProgramObject.productType != 'gift'){ %>
                            <div class="heading complete" type="button" data-toggle="collapse" data-target="#multiCollapseExample5" role="button" aria-expanded="false" aria-controls="multiCollapseExample5">

                                <div class="table">
                                    <!-- <div class="table-cell count">
                                        <p class="">
                                            4
                                        </p>
                                        <p class="tick"><img src="/images/tick.png"></p>
                                    </div> -->
                                    <div class="text table-cell">
                                        <p>Voucher Settings</p>
                                        <p>Set rules for balance expiry in the program</p>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="col">
                                    <div class="collapse multi-collapse" id="multiCollapseExample5">
                                        <div class="card card-body">
                                            <div class="inputRow">
                                                <div class="field-label bold">Voucher Denomination</div>
                                                <div class="inputField">
                                                    <div class="expiryEdit">
                                                        <input class="form-control" placeholder="" id="voucherDenomination" type="number" value="<%- cardProgramObject.reimbursementProgram.extraReimbursementProgramConfig ? cardProgramObject.reimbursementProgram.extraReimbursementProgramConfig.voucherDenomination : '' %>">
                                                    </div>
                                                    <div class="expiryView padTop6">
                                                        <%- cardProgramObject.reimbursementProgram.extraReimbursementProgramConfig ? cardProgramObject.reimbursementProgram.extraReimbursementProgramConfig.voucherDenomination : 'NA' %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inputRow">
                                                <div class="field-label bold">Expire balance on the card?</div>
                                                <div class="inputField">
                                                    <div class="expiryEdit">
                                                        <div>
                                                            <input type="radio" name="expire-balance" value="Yes" <%- cardProgramObject.voucherProgram.voucherValidity ? 'checked' : '' %>><span>Yes</span>
                                                        </div>
                                                        <div>
                                                            <input type="radio" name="expire-balance" value="No" <%- cardProgramObject.voucherProgram.voucherValidity ? '' : 'checked' %>><span>No</span>
                                                        </div>
                                                    </div>
                                                    <div class="expiryView padTop6">
                                                        <%- cardProgramObject.voucherProgram.voucherValidity ? 'Yes' : 'No' %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inputRow optionalExpiry <%- cardProgramObject.voucherProgram.voucherValidity ? '' : 'hideME' %>">
                                                <div class="field-label bold">When?</div>
                                                <div class="inputField select-custom">
                                                    <div class="expiryEdit">
                                                        <select class="form-control" id="expireBalanceOn">
                                                            <option value="0" disabled <%- cardProgramObject.voucherProgram.voucherValidity ? '' : 'selected' %>>Select</option>
                                                            <% Object.keys(expiryDropdownData).forEach(function(item){ %>
                                                                <option value="<%- item %>" <%- cardProgramObject.voucherProgram.voucherValidity == item ? 'selected' : '' %>><%- expiryDropdownData[item] %></option>
                                                            <% }) %>
                                                        </select>
                                                    </div>
                                                    <div class="expiryView padTop6">
                                                        <%- expiryDropdownData[cardProgramObject.voucherProgram.voucherValidity] || cardProgramObject.voucherProgram.voucherValidity %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inputRow optionalExpiry <%- cardProgramObject.voucherProgram.voucherValidity ? '' : 'hideME' %>">
                                                <div class="field-label bold">On expiry, move the remaining balance in the card to</div>
                                                <div class="inputField">
                                                    <div class="expiryEdit">
                                                        <div>
                                                            <input type="radio" name="remainingbalance" value="moveToUserCashCard" <%- cardProgramObject.issuanceConfiguration.expiryBehaviour=='moveToUserCashCard' ? 'checked' : '' %>><span>Beneficiary’s cash card</span>
                                                            <p id="cashPara" class="infoPara <%- cardProgramObject.issuanceConfiguration.expiryBehaviour == 'moveToUserCashCard' ? '' : 'hideMe' %>">
                                                                Note: Any pending balance in Holding A/c will be transferred to beneficiary’s cash card
                                                            </p>
                                                        </div>
                                                        <div>
                                                            <input type="radio" name="remainingbalance" value="moveToIssuer" <%- cardProgramObject.issuanceConfiguration.expiryBehaviour=='moveToIssuer' ? 'checked' : '' %>><span>Corporate Funding A/c</span>
                                                            <p id="fundingPara" class="infoPara <%- cardProgramObject.issuanceConfiguration.expiryBehaviour == 'moveToIssuer' ? '' : 'hideMe' %>">
                                                                Note: Any pending balance in Holding A/c will be transferred to corporate funding account
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="expiryView padTop6">
                                                        <%- FUND_MOVEMENT_BEHAVIOUR[cardProgramObject.issuanceConfiguration.expiryBehaviour] %>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="inputRow">
                                                <div class="field-label">Voucher Denomination</div>
                                                <div class="inputField">
                                                    <input class="form-control" placeholder="" id="voucherDenomination" type="number" value="">
                                                </div>
                                            </div> -->
                                            <div class="inputRow">
                                                Note: Expiry details can be configured from the order file as well.
                                            </div>
                                            <div class="inputRow">
                                                <div class="field-label bold"><a class="enableEdit" data-button="expirySave" data-show="expiryEdit" data-hide="expiryView">Edit Details</a></div>
                                                <div class="inputField hideMe expirySave">
                                                    <button class="btn btn-success" id="saveExpirySettings">Save</button>
                                                    <button class="btn btn-danger cancelEdit" data-show="expiryEdit" data-hide="expiryView">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <% if(cardProgramObject.productType != 'gift' && cardProgramObject.productType != 'meal'){ %>
                            <div class="heading complete" type="button" data-toggle="collapse" data-target="#multiCollapseExample6" role="button" aria-expanded="false" aria-controls="multiCollapseExample6">

                                <div class="table">
                                    <!-- <div class="table-cell count">
                                        <p class="">
                                            <%= ['gift', 'meal'].indexOf(cardProgramObject.productType) >= 0 ? '3' : '5' %>
                                        </p>
                                        <p class="tick"><img src="/images/tick.png"></p>
                                    </div> -->
                                    <div class="text table-cell">
                                        <p>Year End Program Closure Settings</p>
                                        <p>These rules will apply as a part of year end closure behaviour</p>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="col">
                                    <div class="collapse multi-collapse" id="multiCollapseExample6">
                                        <div class="card card-body">
                                            <div class="inputRow">
                                                <div class="field-label bold">Allow this program to be closed for a beneficiary?
                                                </div>
                                                <div class="inputField">
                                                    <div class="closureEdit">
                                                        <div>
                                                            <input type="radio" name="to-be-closed" value="Yes" <%- closeCardConfiguration[0].closeCardConfiguration ? 'checked' : '' %>><span>Yes</span>
                                                        </div>
                                                        <div>
                                                            <input type="radio" name="to-be-closed" value="No" <%- closeCardConfiguration[0].closeCardConfiguration ? '' : 'checked' %>><span>No</span>
                                                        </div>
                                                    </div>
                                                    <div class="closureView padTop6">
                                                        <%- closeCardConfiguration[0].closeCardConfiguration ? 'Yes' : 'No' %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inputRow optionalClosure <%- closeCardConfiguration[0].closeCardConfiguration ? '' : 'hideMe' %>">
                                                <div class="field-label bold">When?</div>
                                                <div class="inputField select-custom">
                                                    <div class="closureEdit">
                                                        <input type="text" id="closeProgramOn" placeholder="dd/mm/yyyy" value="<%- closeCardConfiguration[0].closeCardConfiguration ? closeCardConfiguration[0].closeCardConfiguration.closeCardDate.split('-')[2] + '/' + closeCardConfiguration[0].closeCardConfiguration.closeCardDate.split('-')[1] + '/' + closeCardConfiguration[0].closeCardConfiguration.closeCardDate.split('-')[0] : '' %>" readonly='true'>
                                                    </div>
                                                    <div class="closureView padTop6">
                                                        <%- closeCardConfiguration[0].closeCardConfiguration ? closeCardConfiguration[0].closeCardConfiguration.closeCardDate.split('-')[2] + '/' + closeCardConfiguration[0].closeCardConfiguration.closeCardDate.split('-')[1] + '/' + closeCardConfiguration[0].closeCardConfiguration.closeCardDate.split('-')[0] : '' %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inputRow optionalClosure <%- closeCardConfiguration[0].closeCardConfiguration ? '' : 'hideMe' %>">
                                                <div class="field-label bold">On closure, move the remaining balance in the beneficiary’s card to</div>
                                                <div class="inputField">
                                                    <div class="closureEdit">
                                                        <div>
                                                            <input type="radio" name="closureremainingbalance" value="MOVE_TO_CASH_CARD" <%- closeCardConfiguration[0].closeCardConfiguration ? (closeCardConfiguration[0].closeCardConfiguration.closeBehaviour == 'MOVE_TO_CASH_CARD' ? 'checked' : '') : '' %>><span>Beneficiary’s cash
                                                        card</span>
                                                            <p id="closurecashPara" class="infoPara <%- closeCardConfiguration[0].closeCardConfiguration ? (closeCardConfiguration[0].closeCardConfiguration.closeBehaviour == 'MOVE_TO_CASH_CARD' ? '' : 'hideMe') : '' %>">
                                                                Note: Any pending balance in Holding A/c will be transferred to beneficiary’s cash card
                                                            </p>
                                                        </div>
                                                        <div>
                                                            <input type="radio" name="closureremainingbalance" value="MOVE_TO_FUNDING_ACCOUNT" <%- closeCardConfiguration[0].closeCardConfiguration ? (closeCardConfiguration[0].closeCardConfiguration.closeBehaviour == 'MOVE_TO_CASH_CARD' ? '' : 'checked') : '' %>><span>Corporate Funding A/c</span>
                                                            <p id="closurefundingPara" class="infoPara <%- closeCardConfiguration[0].closeCardConfiguration ? (closeCardConfiguration[0].closeCardConfiguration.closeBehaviour == 'MOVE_TO_CASH_CARD' ? 'hideMe' : '') : 'hideMe' %>">
                                                                Note: Any pending balance in Holding A/c will be transferred to corporate funding account
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="closureView padTop6">
                                                        <%- closeCardConfiguration[0].closeCardConfiguration ? FUND_MOVEMENT_BEHAVIOUR[closeCardConfiguration[0].closeCardConfiguration.closeBehaviour] : 'NA' %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inputRow">
                                                <div class="field-label bold"><a class="enableEdit" data-button="closureSave" data-show="closureEdit" data-hide="closureView">Edit Details</a></div>
                                                <div class="inputField hideMe closureSave">
                                                    <button class="btn btn-success" id="saveCloseCardSettings">Save</button>
                                                    <button class="btn btn-danger cancelEdit" data-show="closureEdit" data-hide="closureView">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                </p>
            </div>
        </div>
    </div>
</div>