<div class="tab-pane" id="program-settings" data-cardprogramobject='<%- JSON.stringify(cardProgramObject) %>'>

    <input type="hidden" id="corpID" value="<%- corpID %>">
    <input type="hidden" id="companyID" value="<%- companyID %>">
    <input type="hidden" id="programID" value="<%- programID %>">
    <!-- <input type="hidden" id="fundingAccData" data-accounts='<%- JSON.stringify(fundingAccounts) %>'> -->
    <div class="col-xs-12 col-md-12">
        <div class="topHeading">

            <p class="title">Program settings</p>
            <span>Issued by 
                <% if(ifiBankName == "RBL"){ %>
                    <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/rbl-logo.png" alt="" style="width: 72px;">
                    <%}%>
                        <% if(ifiBankName == "IDFC"){ %>
                            <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/idfc-logo@2x.png" alt="" style="width: 72px;">
                            <%}%>
                                <% if(ifiBankName == "Kotak"){ %>
                                    <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/kotak-logo.png" alt="" style="width: 72px;">
                                    <%}%>
                                        <% if(ifiBankName == "Sodexo"){ %>
                                            <img src="https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/corporates-hr/Sodexo-logo.png" alt="" style="width: 72px;">
                                            <%}%>
                                                <% if(ifiBankName == "HDFC"){ %>
                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/HDFC-logo-2x.png" alt="" style="width: 120px;">
                                                    <%}%>
                                                </span>

        </div>
        <br>
        <div class="inner-sub-container page-sub-heading">

            <div class="accordionContainer">
                <p>
                    <div class="heading complete" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">

                        <div class="table">
                            <!-- <div class="table-cell count">
                                <p class="">3</p>
                                <p class="tick"><img src="/images/tick.png"></p>
                            </div> -->
                            <div class="text table-cell">
                                <p>Spend Settings</p>
                                <p>Kindly note that these rules will apply during every transaction made by the users</p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="col">
                            <div class="collapse multi-collapse in" id="multiCollapseExample3">
                                <div class="card card-body">
                                    <div class="inputRow">
                                        <div class="field-label bold">Allow spends on</div>
                                        <div id="allowspendsContainer" data-allowedspenddays='<%- selectedSpendDays %>'>
                                            
                                        </div>
                                    </div>
                                    <div id="timeSliceContainer" data-timeslices='<%- JSON.stringify(allowedTimeSlice); %>'>
                                   
                                        <div class="inputRow">
                                            <div class="field-label bold">Allow spend from</div>
                                            <div class="inputField select-custom" id="timeSliceFromContainer">
                                            </div>
                                        </div>
                                        <div class="inputRow">
                                            <div class="field-label bold">Allow spend to</div>
                                            <div class="inputField select-custom" id="timeSliceToContainer">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputRow">
                                        <div class="field-label bold"><a class="enableEdit" data-button="spendSave" data-show="spendEdit" data-hide="spendView">Edit Details</a></div>
                                        <div class="inputField hideMe spendSave">
                                            <button class="btn btn-success" id="saveSpendSettings_VND">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
