<div class="col-xs-12 pd-left-zero pd-right-zero">
    <div class='graph-wrpr'>
        <div class='graph-hdg'>Spend Times</div>
        <div id='spendTimesLoader' class='merchant-data-loader'>
            <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/button_loading.gif'
                alt='loading' />
            <div>Loading Spend Times Data..</div>
        </div>
        <div id='spendTimesWrpr' class='graph-cntr'>
            <canvas id="spendTimes" height="200"></canvas>
            <em class="footer-note">* Data for last 3 months only</em>
        </div>
        <div id='spendTimesGraphErr' class="graph-error">
            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg"
                class='empty-state'>
            <div class='pd-top-ten'>Couldn't load the Graph</div>
        </div>
        <div id="spendTimesEmpty" class="graph-empty">
            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/graph-error.svg"
                class='empty-state'>
            <div class='pd-top-ten'>Not enough data available</div>
        </div>
    </div>
</div>