.header-container {
    background-color: $header-navbar-bgcolor;
    border-bottom: none;
    left: 250px;
    transition: all 500ms ease-in-out;
    .header-boxshadow {
        box-shadow: 0 1px 2px 0 rgba(25, 15, 39, 0.08);
    }
    ul {
        padding-left: 23px;
        padding-right: 30px;
        li {
            .app-text {
                line-height: $header-height;
                height: $header-line-height;
                padding-top: $padding-top-zero;
                padding-bottom: $padding-bottom-zero;
                padding-left: $header-pd-left;
                padding-right: $header-pd-right;
                color: $header-navbar-link-color !important;
                font-size: $font-size-xs; // font-weight: $font-weight-thin-bold;
                opacity: 0.7;
                filter: alpha(opacity=70);
            }
            a {
                @extend .app-text;
                &.app-text {
                    opacity: 0.7;
                    font-size: $font-size-xs;
                }
                span.vertical-line {
                    border-right: 1px solid $white-smoke;
                    height: 18px;
                    display: inline-block;
                    position: relative;
                    top: 20px;
                }
                img {
                    padding-left: $header-pd-left;
                }
                &:hover {
                    opacity: 1;
                    filter: alpha(opacity=100);
                    cursor: pointer;
                    
                }
            }
        }
    }
    .navbar-left-pd {
        padding-left: 15px;
        .zeta-purple-logo {
            background-image: url(/images/zeta-logo-purple.png);
            width: 50px;
            height: 20px;
            display: inline-block;
            background-size: 50px 20px;
            margin-top: 20px;
        }
        .sodexo-logo {
            background-image: url(/images/sodexo-logo.png);
            width: 80px;
            height: 30px;
            display: inline-block;
            background-size: 80px 30px;
            margin-top: 20px;
            background-repeat: no-repeat;
        }
    }
    a {
        padding-left: 20px;
    }
    .mv-float-right {
        float: left;
        width: 100%;
    }
    .full-header {
        float: left;
        width: 100%;
    }
    .navbar-brand {
        margin-left: 0px !important;
        padding: 14px 24px;
    }
    .glyphicon-heart {
        color: $pastel-magenta;
    }
}

.position-dropdown {
    .dropdown-log {
        .dropdown {
            .benefits-dropdown-toggle {
                padding-top: 7px;
                padding-bottom: 14px;
                margin-left: -24px;
                margin-top: 6px;
            }
        }
    }
}

.benefits-dropdown-toggle {
    img {
        position: relative;
    }
}

.dropdown-toggle {
    padding-top: 9px !important;
}

.navbar-nav.navbar-right>li>a {
    padding-top: 0px!important;
}

.right20px {
    right: 20px;
}