.new-error-container{
    width:50%;
    background-color:#ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding-bottom:40px;
    border-radius: 2px;
    .new-error-image{        
        display:block;
        position:relative;
        left:50%;
        transform:translateX(-50%);
        padding-top:40px;
    }
    .new-error-heading{
        font-family:$font-family-text;
        font-size:18px;
        // position:relative;
        // left:50%;
        // transform:translateX(-50%);
        text-align: center;
        padding-top:30px;
    }
    .new-error-content{
        font-size:14px;
        position:relative;
        left:50%;
        transform:translateX(-50%);
        text-align:center;
        padding:20px 40px;
        color: #190f27;
        opacity: 0.7;
    }
    .new-error-button{
        display:inline-block;
        width:50%;
        text-align:center;
        background-color:#ffbc00;
        padding:10px 0px;
        position:relative;
        left:50%;
        transform:translateX(-50%);
        border-radius:2px;
        color:#ffffff;
        font-size: 12px;
        font-weight: 600;
        cursor:pointer;
    }
    
}