// Header
.bdr-right-zero {
    border-right: 0px solid !important;
}

.typesecond-header {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(25, 15, 39, 0.08);
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0px;
    width: 100%;
    padding-left: 23px;
    padding-right: 42px;

    ul {
        li {
            a {
                cursor: pointer;

                &:hover,
                &:visited,
                &:focus,
                &:active {
                    color: $color-mirage-block;
                    background-color: transparent;
                }
            }
        }
    }
}

.notfound-userprofile {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        float: left;

        a {
            color: #96919C;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            text-decoration: none;
            text-align: right;
            font-size: $font-size-xs;
            border-right: 1px solid $color-alabaster;
            cursor: pointer;

            &:hover {
                color: $color-mirage-block;
            }

            &.img:hover {
                border: 1px solid #ff0000;
            }
        }
    }
}

// After Using image
.after-using-arrow {
    display: inline-block;
    position: relative;
}

.after-using-arrow::after {
    content: "";
    background-image: url(/images/down-arrow.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    display: inline-block;
    position: absolute;
    width: 7px;
    height: 5px;
    top: 27px;
    right: 5px;
}

.after-using-arrow:hover:after {
    background-image: url(/images/down-arrow.png);
    background-position: 100% 100%;
    -ms-transform: rotate(180deg);

    /* IE 9 */
    -webkit-transform: rotate(180deg);

    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
}

// After Using image End
// Not Found
.notfound-container {
    background-color: #F9F9F9;
    margin-top: 59px;
    height: 100vh;
    height: calc(100vh - 59px);

    .inner-part {
        width: 400px;
        height: 400px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -200px;

        img {
            width: 200px;
            height: 200px;
        }

        .four-not-four {
            font-size: 64px;
            font-weight: bold;
            color: #190f27;
            width: 302px;
            padding-top: 10px;
        }

        .fournotfour-para {
            font-size: 16px;
            color: #8c8793;
            width: 302px;
        }

        .notfound-link {
            width: 302px;
            padding-top: 20px;

            a {}
        }
    }
}

// Error Found
.error-container {
    background-color: #F9F9F9;
    margin-top: 59px;
    height: 100vh;
    height: calc(100vh - 59px);

    .inner-part {
        width: 400px;
        height: 400px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -200px;

        img {
            width: 200px;
            height: 200px;
        }

        .four-not-four {
            font-size: 64px;
            font-weight: bold;
            color: #190f27;
            width: 400px;
            padding-top: 10px;
        }

        .fournotfour-para {
            font-size: 16px;
            color: #8c8793;
            width: 400px;
        }

        .notfound-link {
            width: 400px;
            padding-top: 20px;

            a {}
        }
    }
}