@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-radius-tblr($topleft, $topright, $bottomright, $bottomleft) {
    border-top-left-radius: $topleft;
    border-top-right-radius: $topright;
    border-bottom-right-radius: $bottomright;
    border-bottom-left-radius: $bottomleft;
    -webkit-border-top-left-radius: $topleft;
    -webkit-border-top-right-radius: $topright;
    -webkit-border-bottom-right-radius: $bottomright;
    -webkit-border-bottom-left-radius: $bottomleft;
    -moz-border-radius-topleft: $topleft;
    -moz-border-radius-topright: $topright;
    -moz-border-radius-bottomright: $bottomright;
    -moz-border-radius-bottomleft: $bottomleft;
}

sub {
    color: $color-mirage-block;
    font-size: $font-size-small;
    position: relative;
    display: inline-block;
    top: 0px;
}

hr {
    border-top: 1px solid $element-horizontal-color; //opacity: 0.2;
    filter: alpha(opacity=20);
    width: 102%;
}

.lastChild-lineHeight li:last-child {
    line-height: 7px;
}

.common-link {
    display: block;
    border: none;
    outline: none;
    color: inherit;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: inherit;
    }
}

.common-link-white {
    border: none;
    outline: none;
    color: inherit;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: inherit;
    }
}

.red {
    color: $color-red !important;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.mg-bottom-zero {
    margin-bottom: 0px; // .document-quote-text {
    //     opacity: 0.7;
    // }
}

.mg-bottom-thirty {
    margin-bottom: 30px !important;
}

.pd-bottom-zero {
    padding-bottom: 0px !important;
}

.pd-lrt-zero {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.pd-l-sixtyeight {
    padding-left: 68px;
}

.funding-account-block {
    padding-left: 41px;
}

.mg-right-16 {
    margin-right: 16px;
}

.pd-top-zero {
    padding-top: 0px !important;
}

.pd-tb-zero {
    padding-top: 0px !important;
    padding-bottom: 0px;
}

.pd-right-zero {
    padding-right: 0px;
}

.pd-left-zero {
    padding-left: 0px;
}

.pd-top-xlg {
    padding-top: 46px;
}

.pd-left-forty {
    padding-left: 40px;
}

.pd-top-fifteen {
    padding-top: 15px;
}

.height-thirty {
    height: 30px;
}

.height-43 {
    height: 43px;
}

.pd-top {
    padding-top: 25px;
}

.pd-top-list {
    // padding-top: 20px;
}

.small-btn-container {
    padding-top: 30px;
}

.pd-top-forty {
    padding-top: 40px;
}

.pdtb-heading {
    padding-top: 40px;
    padding-bottom: 30px;
}

.bdr-line-pdtb {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.mg-top-zero {
    margin-top: 0px !important;
}

.mg-top-twenty {
    margin-top: 20px !important;
}

.mg-top-five {
    margin-top: 5px;
}

.mg-top-fifteen {
    margin-top: 15px !important;
}

.mg-top-minus-ten {
    margin-top: -10px;
}

.mg-bottom-twenty {
    margin-bottom: 20px !important;
}

.mg-minus-five {
    margin: -5px;
}

.width-md {
    width: 245px !important;
}

.width-xlg {
    width: 418px !important;
}

.modal-xlg {
    width: 1000px !important;
}

.width-height-xlg {
    width: 418px !important;
    height: 45px !important;
}

.sub-heading-pdb {
    // padding-top:16px;
    // padding-bottom: 20px;
}

.sub-heading-pdt {
    padding-top: 20px;
}

.heading-button-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.inner-container {
    margin-top: 65px;
    float: left;
    width: calc(100% - 250px);
    margin-left: 250px;
    margin-bottom: 40px;
    transition: all 500ms ease-in-out;
    .top-section {
        background-color: $inner-container-bgcolor;
        padding: $well-tblr-pd;
        h1.pd-top-five {
            display: inline-block;
        }
        .pd-tupple {
            padding-top: 50px;
            margin-bottom: -30px;
            &:first-of-type {
                padding-top: 40px;
            }
            &:last-of-type {
                padding-bottom: 50px;
            }
        }
    }
    .page-sub-heading {
        // margin-bottom: 20px;
    }
    .cards-row {
        clear: both;
    }
    .cards-column-one,
    .cards-column-two,
    .cards-column-three {
        float: left; // width: 240px;
        width: 215px;
    }
    .bulk-action-card {
        float: left; // width: 240px;
        width: 320px;
    }
    .cards-column-one,
    .cards-column-two,
    .bulk-action-card {
        margin-right: 30px;
    }
    .position-dropdown {
        position: relative;
    }
    .pd-top-ten {
        padding-top: $padding-top-ten;       
    }
    .pd-top-eight {
        padding-top: 8px;
    }
    .pd-top-ten {
        padding-top: 10px;
    }
    .pd-top-twenty {
        padding-top: 20px;
    }
    .pd-bottom-ten {
        padding-top: 10px;
        padding-bottom: $padding-bottom-ten;
    }
    .pd-bottom-fifteen {
        padding-bottom: 15px !important;
    }
    .pd-bottom-thirty {
        padding-bottom: 30px;
    }
    .pd-top-five {
        padding-top: 5px !important;
    }
    .pd-bottom-five {
        padding-bottom: 5px !important;
    }
    .pd-bottom-five {
        padding-bottom: $padding-bottom-five;
    }
    .pd-top-fifty {
        // padding-top: 10px;;
    }
    .page-sub-heading-txt {
        margin-top: 30px;
    }
    .sub-heading-txt {
        margin-top: 0;
    }
    .form-action-container {
        // margin-top: -20px;        
    }
    .color-block {
        color: $color-mirage-block !important;
        opacity: 1 !important;
    }
    .para-color {
        color: $para-medium-color;
    }
    .para-text {
        font-size: 12px;
        margin-top: 5px;
    }
    .medium-green {
        color: $color-medium-green;
        opacity: 1;
    }
    .orange-darker {
        color: $orange-darker-color;
        opacity: 1;
    }
    .status-red {
        color: $color-red;
        opacity: 1;
    }
    .height-small {
        height: $height-small;
    }
    .inline {
        display: inline;
    }
    .breadcrumb>li+li:before {
        color: $nav-justified-text-color;
        opacity: 0.7;
        filter: alpha(opacity=70);
    }
    .line-height-zero {
        line-height: 10px;
    }
    .opacity-full {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }
    .opcity-half {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    .opacity-seven {
        filter: alpha(opacity=70);
        font-weight: normal;
    }
    .straight-line {
        height: 1px;
        background-color: $hr-color;
        margin-top: $line-margin-top;
        margin-bottom: $line-margin-bottom;
    }
    .straightLine-themeTwo {
        height: 1px;
        background-color: $white-smoke;
        margin-top: $line-margin-top;
        margin-bottom: $line-margin-bottom;
        opacity: 0.1;
        filter: alpha(opacity=10);
    }
    .btn-divder {
        float: left;
    }
    .mg-right-twenty {
        margin-right: 20px;
    }
    .move-to-right {
        float: right;
    }
    .circle-img-pos {
        position: relative;
        top: -2px;
        left: 4px;
    }
    .down-arrow-fit {
        position: absolute;
        top: 15px;
        right: 9px;
    }
    .font-size-12 {
        font-size: 12px;
    }
    .font-size-20 {
        font-size: $font-size-xx-regular;
    }
    .anchor-line {
        text-decoration: underline;
    }
    .anchor-line:hover {
        text-decoration: none;
    }
    .bdr-radius {
        border-radius: 2px !important;
        -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
    } // Banner Card Image
    .position-relative {
        position: relative;
    }
    .banner-image-pos {
        position: relative;
        right: 0px;
    }
    .pos-top-zero {
        top: 0px;
        position: absolute;
    }
    .position-move-top {
        position: absolute;
        top: -40px;
    }
    .default-link {
        color: $color-blue;
    }
    .sub-container {
        padding: 40px 40px;
        .inner-sub-container {
            padding-top: 30px;
            padding-bottom: $sub-well-bottom-pd;
            padding-left: $sub-well-left-pd;
            padding-right: $sub-well-right-pd;
            background-color: $color-white;
            border-radius: $block-border-radius;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
            border: solid 1px $white-smoke;
            // margin-left: 10px;
            // margin-right: 20px;
        }
    }
    &.power-center-frame{
        margin-top:18px !important;
        margin-bottom: 0;
    }
}

.main-cntr-toggle {
    margin-left: 80px;
    width: 100%;
}

.main-cntr-toggle-power {
    margin-left: 80px;
    width: 100%;
}

.header-cntr-toggle {
    left: 80px;
}

.nav-comp-toggle {
    width: 100% !important;
    margin-left: 0;
    border-radius: 0px;
    .nav-cmpy-toggle {
        width: 40px !important;
    }
    .business-arrow-toggle {
        top: -18px !important;
        display: inline;
        left: 10px;
    }
}

.heading-txt-toggle {
    margin-left: -13px;
    transition: all 500ms ease-in-out;
}
.heading-txt-toggle-power{
    margin-left: -13px;
    transition: inherit !important;
}

.global-heading-txt-toggle {
    margin-left: -5px;
    word-wrap: break-word;
    transition: all 0.5s ease-in-out;
}

.new-pgm-toggle {
    display: none !important;
}

.btn-adfund-column {
    float: right;
}

.btn-trns-column {
    float: right;
    margin-right: 16px;
}

// Elipse ...
.ellipsis {
    display: block;
    width: 100%;
    color: #fff;
    line-height: initial;
}

.ellipsis .inner {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    transition: text-indent linear 3.0s;
}

// Elipse End ...
// Convert row to table
.row-to-table {
    display: table;
}

.float-to-column {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

// Funding Account Dashed Line
.dashed-line {
    border-bottom: 1px dashed $color-white-half;
}

//override
#create-order.btn-disabled {
    background: #ddd;
    color: #190f27;
}

.companyCodeError {
    color: #e74c3c;
}

// Error page with header
.error-msg-wrpr {
    margin: 50px 60px;
    border: 1px solid #f4f4f4;
    background: #fff;
    padding: 50px;
    text-align: center;
    .error-msg {
        padding-top: 25px;
        word-break: break-all;
        width: 50%;
        margin: 0 auto;
    }
    .link {
        padding: 0 5px;
        color: $color-link-blue;
        &:hover {
            color: $color-link-blue;
        }
    }
    a {
        cursor: pointer;
        padding-top: 20px;
        display: inline-block;
    }
}

.error-msg-wrpr-inside-page {
    @extend .error-msg-wrpr;
    margin: 5px 20px;
}

.error-msg-wrpr--full {
    @extend .error-msg-wrpr;
    margin-top: 0;
    padding: 100px 20px;
    .error {
        padding-top: 25px;
        width: 50%;
        margin: 0 auto;
        word-wrap: initial;
        display: block;
        color: #333;
    }
}

.banner-top {
    margin-top: -52px;
}

.optional-txt {
    color: rgba(19, 12, 29, 0.7);
}

.form-txt {
    font-size: 13px;
}

.dropdown-select-list .hideAnchor {
    display: none;
}

.padding-left-14 {
    padding-left: 14px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-5 {
    padding-left:5px;
}