
// Global Heading
.global-heading {
    color: $color-white;
    opacity: 0.7;
    filter: alpha(opacity=20);
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    padding: 26px 0 15px 26px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
}

.sidebar-row {
    position: relative;
    top: 40px;
    .sidebar-container {
        // background-image: linear-gradient(to bottom, rgba(99, 62, 165, 0.5), rgba(53, 33, 89, 0.5)), linear-gradient(#190f27, #190f27);
        background: #222629;
        position: fixed;
        height: 100%;
        float: left;
        width: $sidebar-width;
        z-index: 9999;
        top: 0px;
        left: 0px;
        transition: all 500ms ease-in-out;
        ul.nav-company-list {
            //background-color:$color-minsk-pink;
            li {
                a {
                    color: $color-white;
                    font-size: $font-size-xs;
                    padding: 15px 35px 5px 20px;
                    font-weight: $font-weight-light;
                    border-left: 4px solid transparent;
                    line-height: 1.1;
                    &:hover {
                        background-color: transparent;
                    }
                    &:active {
                        background-color: transparent;
                    }
                    &:focus {
                        background-color: transparent;
                    }
                    &:visited {
                        //background-color: transparent;
                    }
                }
                .business-arrow-list {
                    position: relative;
                    top: -27px;
                    right: 3px;
                    cursor: pointer;
                }
                span.light-border {
                    border-bottom: 1px solid $color-white;
                    opacity: 0.1;
                    filter: alpha(opacity=10);
                    height: 1px;
                    width: 193px;
                    display: inline-block;
                    position: relative;
                    left: 25px;
                }
                .bussiness-list-pd {
                    padding-bottom: 12px;
                }
            }
        }
        ul.child-list {
            padding-bottom: 0px;
            padding-top: 19px;
            width: 100%; //background-color:$color-minsk-pink;
            // border-bottom: 1px solid #4B386C;
            li {
                .new-program {
                    width: 38px;
                    height: 18px;
                    border-radius: 20px;
                    background-color: #00b898;
                    color: $color-white;
                    display: block;
                    text-align: center;
                    line-height: 18px;
                    position: absolute;
                    top: 14px;
                    right: 15px;
                    font-size: 10px;
                    text-transform: uppercase;
                    line-height: 0;
                }
                a {
                    color: $color-white;
                    opacity: 0.9;
                    filter: alpha(opacity=50);
                    //padding: $sidbar-nav-pdtblr;
                    padding: 0;
                    &:hover,
                    &:active,
                    &:visited {
                        opacity: 1 !important;

                        .nav-btn-cntr, .openProgList{
                            background-color: transparent;
                            //border-left: 4px solid #fff;
                            color: $color-white;
                            opacity: 0.9;
                            filter: alpha(opacity=100);
                            //background-color:rgba(255,255,255,.1);
                        }
                        li{
                            opacity: 1 !important;
                            transition: 0.3s all ease-in-out;
                        }
                    }
                    .openProgList{
                        border-left: 4px solid transparent;
                        padding: 5px 5px 10px;
                        transition: all .5s ease-in-out;
                    }
                    &.disabled {
                        .subtitle {
                            color: #fff;
                            opacity: 0.7;
                        }
                        .second-icon,
                        .second-icon:hover,
                        .second-icon:focus {
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/cafeteria-icon-white.svg);
                            background-position: 5px 6px;
                            opacity: 0.7;
                        }
                        .zeta-expense,
                        .zeta-expense:hover,
                        .zeta-expense:focus {
                            //background-image: url(../../images/shopping-16px_receipt-list.svg);
                            background-position: 7px 6px;
                            opacity: 0.7;
                        }
                        &:hover {
                            border-color: transparent;
                        }
                    }
                    &:hover {
                        -webkit-transition: opacity 0.5s ease;
                        -moz-transition: opacity 0.5s ease;
                        transition: all 0.5s ease-in-out;
                    }
                    &.cur-page .nav-btn-cntr, &.cur-page .openProgList {
                        background-color: $honey-flower;
                        opacity: 1;
                        filter: alpha(opacity=100);
                        //border-left: 4px solid $color-white;
                        padding: 5px 5px 10px;
                    }
                    &.disabled {
                        cursor: default;
                        .sidebar-tooltip__view {
                            transition: all 300ms ease-in;
                        }
                        &:focus {
                            background-color: transparent;
                        }
                    }
                    img {
                        padding-top: 7px;
                    }
                    .sidebar--list-element {
                        background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/shopping.svg);
                        background-repeat: no-repeat;
                        display: inline-block;
                        height: 22px;
                        width: 23px;
                        overflow: hidden;
                        text-align: left;
                        text-indent: -999em; //transition: all 0.2s ease 0s;
                        position: relative;
                        top: 2px;
                        margin-right: 14px;
                        background-position: 5px 5px;
                        &.first-icon {
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/optima-icon.svg);
                            background-position: 5px 5px;
                        }
                        &.three-icon {
                            background-position: -4px -155px;
                        }
                        &.incentives-icon {
                            background-position: 6px 5px;
                        }
                        &.expense-icon {
                            background-position: -4px -308px;
                        }
                        &.partners-icon {
                            background-position: -4px -410px;
                        }
                        &.second-icon {
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/cafeteria-icon-white.svg);
                            background-position: 7px 5px;
                        }
                        &.expense-icon{
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/expense.svg);
                            background-position: 8px 5px;
                        }
                        &.vendor-icon{
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/vendor.svg);
                            background-position: 5px 5px;
                        }
                        &.payment-icon{
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/payment.svg);
                            background-position: 5px 5px;
                        }
                        &.express-cafeteria-icon{
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/expense_cafeteria.svg);
                            background-position: 5px 5px;
                        }
                        &.spotlight-icon{
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight.svg);
                            background-position: 5px 5px;
                        }
                        &.funding-account-icon{
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/funding_account.svg);
                            background-position: 5px 5px;
                        }
                        &.admin-console-icon{
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/admin_console.svg);
                            background-position: 5px 5px;
                        }
                        &.account-icon {
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/fund-account-white.svg);
                            background-position: 5px 5px;
                        }
                        &.express-icon {
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/ExpressIcon.svg);
                            background-position: 5px 5px;
                        }
                        &.reportCenter-icon{
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/report-center.svg);
                            background-position: 5px 5px;
                        }
                        &.express-icon_new{
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/ExpressIcon.svg);
                            background-position: 5px 5px;
                        }
                        &.convert-giftpass-icon{
                            background-image: url(https://s3-ap-southeast-1.amazonaws.com/zeta-s3-bucket-image-mailers-prod/images/philippines-sodexo/direction.svg);
                            background-position: 5px 5px;
                        }
                        &.beneficiary-icon{
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/beneficiary-directory.svg);
                            background-position: 5px 5px;
                        }
                    }
                    .tooltip-container {
                        display: inline-block;
                        position: relative;
                    }
                    &:hover .tooltip-pos {
                        right: -170px;
                        top: -10px;
                        left: auto;
                        margin-left: 0;
                        &:after {
                            content: none;
                        }
                    }
                    &:hover .first-icon {
                        color: $color-white;
                        opacity: 1;
                        filter: alpha(opacity=100);
                    }
                    // &.cur-page .first-icon,
                    // &:not(.disabled):focus .first-icon,
                    // &:not(.disabled):hover .first-icon {
                    //     background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/optima-icon.svg);
                    //     background-position: 5px 6px; // background-position: -4px -177px;
                    // } // &.cur-page .second-icon,
                    // &:not(.disabled):focus .second-icon,
                    // &:not(.disabled):hover .second-icon {
                    // background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/cafeteria-icon-white.svg);
                    // background-position: 5px 6px;
                    // }
                    // &.cur-page .zeta-expense,
                    // &:not(.disabled):focus .zeta-expense,
                    // &:not(.disabled):hover .zeta-expense {
                    // background-image: url(../images/zeta-expense.svg);
                    // background-position: 7px 6px;
                    // }
                    // &.cur-page .three-icon,
                    // &:not(.disabled):focus .three-icon,
                    // &:not(.disabled):hover .three-icon {
                    //     background-position: -4px -155px;
                    // }
                    // &.cur-page .incentives-icon,
                    // &:not(.disabled):focus .incentives-icon,
                    // &:not(.disabled):hover .incentives-icon {
                    //     background-position: 6px 5px;
                    // }
                    // &.cur-page .expense-icon,
                    // &:not(.disabled):focus .expense-icon,
                    // &:not(.disabled):hover .expense-icon {
                    //     background-position: -4px -334px;
                    // }
                    // &.cur-page .partners-icon,
                    // &:not(.disabled):focus .partners-icon,
                    // &:not(.disabled):hover .partners-icon {
                    //     background-position: -4px -436px;
                    // } // .sidebar-option-txt {
                    //     opacity: 1;
                    //     font-size: 13px;
                    //     font-weight: $font-weight-light;
                    // }
                }
                .new-program, .new-program-powercenter  {
                    width: 38px;
                    height: 18px;
                    border-radius: 20px;
                    background-color: #00b898;
                    color: $color-white;
                    display: block;
                    text-align: center;
                    line-height: 18px;
                    position: absolute;
                    top: 14px;
                    right: 15px;
                    font-size: 10px;
                    text-transform: uppercase;
                }
            }
        }
        ul.sub-child-list {
            // position: absolute;
            // bottom: 80px;
            position: relative;
            top: 0px;
            width: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            li {
                .new-program {
                    width: 38px;
                    height: 18px;
                    border-radius: 20px;
                    background-color: #00b898;
                    color: $color-white;
                    display: block;
                    text-align: center;
                    line-height: 18px;
                    position: absolute;
                    top: 14px;
                    right: 15px;
                    font-size: 10px;
                    text-transform: uppercase;
                }
                a {
                    border-left: 4px solid transparent;
                    color: $color-white;
                    filter: alpha(opacity=50);
                    padding: $sidbar-nav-pdtblr;
                    opacity: 0.9;
                    &:hover,
                    &:active,
                    &:visited,
                    &:focus,
                    &.cur-page {
                        background-color: transparent; // opacity: 1;
                        filter: alpha(opacity=100);
                        border-left: 4px solid #fff;
                        transition: all 0.5s ease-in-out;
                    } // &:active {
                    // background-color: $honey-flower;
                    // opacity: 1;
                    // filter: alpha(opacity = 100);
                    // border-left: 4px solid $color-white;
                    // }
                    &.cur-page {
                        background-color: $honey-flower;
                        border-left: 4px solid $color-white;
                        opacity: 1;
                        filter: alpha(opacity=1);
                    } // &:visited {
                    // background-color: $honey-flower;
                    // opacity: 1;
                    // filter: alpha(opacity = 100);
                    // border-left: 4px solid $color-white;
                    // }
                    img {
                        padding-top: 7px;
                    }
                    span {
                        // background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/sprite_sidebar_final.png);
                        background-repeat: no-repeat;
                        display: inline-block;
                        height: 22px;
                        width: 23px;
                        overflow: hidden;
                        text-align: left;
                        text-indent: -999em; // transition: all 0.2s ease 0s;
                        position: relative;
                        color: #fff;
                        top: 3px;
                        margin-right: 14px;
                        &.child-first-icon {
                            background-position: -4px -46px;
                        }
                        &.child-second-icon {
                            background-position: -4px -99px;
                        }
                        &.child-three-icon {
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/admin-icon-white.svg);
                            background-position: 5px 5px;
                        }
                        &.beneficiary-directory {
                            background-image: url(../images/beneficiary-directory.svg);
                            background-position: 5px 5px;
                        }
                        &.express-icon {
                            background-image: url(/images/express/ExpressIcon.svg);
                            background-position: 5px 5px;
                        }
                        &.document-drive {
                            background-image: url(../images/document-drive-icon.svg);
                            background-position: 5px 5px;
                        }
                        &.account-icon {
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/fund-account-white.svg);
                            background-position: 5px 5px;
                        }
                        &.report-centre-icon {
                            background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/report-centre-icon.svg);
                            background-position: 5px 5px;
                        }
                        &.bulk-action-icon {
                            background-image: url(../images/bulk-icon.svg);
                            background-position: 5px 5px;
                        }
                        &.move-rl-mg {
                            margin-right: 17px;
                        }
                    }
                    &.cur-page .child-first-icon,
                    &:focus:not(.disabled) .child-first-icon,
                    &:hover:not(.disabled) .child-first-icon {
                        background-position: -4px -72px;
                    }
                    &.cur-page .child-second-icon,
                    &:focus:not(.disabled) .child-second-icon,
                    &:hover:not(.disabled) .child-second-icon {
                        background-position: -4px -125px;
                    }
                    &.cur-page .child-three-icon,
                    &:focus:not(.disabled) .child-three-icon,
                    &:hover:not(.disabled) .child-three-icon {
                        background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/admin-icon-white.svg);
                        background-position: 5px 6px;
                    }
                    &.cur-page .report-centre-icon,
                    &:focus:not(.disabled) .report-centre-icon,
                    &:hover:not(.disabled) .report-centre-icon {
                        background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/report-centre-icon-white.svg);
                        background-position: 5px 6px;
                        opacity: 1;
                        filter: alpha(opacity=100);
                    }
                    &.cur-page .account-icon,
                    &:focus:not(.disabled) .account-icon,
                    &:hover:not(.disabled) .account-icon {
                        background-image: url(https://card-program-files.s3.amazonaws.com/hrDashboard/images/fund-account-white.svg);
                        background-position: 5px 6px;
                        opacity: 1;
                        filter: alpha(opacity=100);
                    }
                    &.cur-page .beneficiary-directory,
                    &:focus:not(.disabled) .beneficiary-directory,
                    &:hover:not(.disabled) .beneficiary-directory {
                        background-image: url(../images/beneficiary-directory.svg);
                        background-position: 5px 6px;
                        opacity: 1;
                        filter: alpha(opacity=100);
                    }
                    &.cur-page .document-drive,
                    &:focus:not(.disabled) .document-drive,
                    &:hover:not(.disabled) .document-drive {
                        background-image: url(../images/document-drive-icon.svg);
                        background-position: 5px 6px;
                        opacity: 1;
                        filter: alpha(opacity=100);
                    }
                }
            }
            .nav-cntr {
                height: 40px;
                .nav-btn-cntr {
                    width: 60px;
                    height: 40px;
                    background-color: rgba(255, 255, 255, 0.1); //float: right;
                    right: 0;
                    top: -20px;
                    position: absolute;
                    cursor: pointer;
                    margin-top: 20px;
                    padding: 10px 25px;
                    .left-arrow {
                        width: 7px;
                        height: 11px;
                        background-color: rgba(255, 255, 255, 0.7);
                        background: transparent;
                        transition: all 500ms ease-in-out;
                        &:active {
                            transform: rotateZ(180deg);
                        }
                    }
                }
            }
        }
    }
    .sidebar-toggle {
        width: 80px;
        .sidebar-option-txt {
            display: none;
            transition: all ease-in-out 0.5s;
        }
        .corpTools{
            margin-left: 18px !important;
        }
        .business-arrow-list {
            top: 18px!important;
            right: -4px;
        }
    }
}
.sidebar-option-txt {
    opacity: 1;
    font-size: 13px;
    display: inline;
    font-weight: $font-weight-light;
}
.tooltip {
    position: relative;
    display: inline-block;
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 110%;
        &::after {
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent black transparent transparent;
        }
    }
    .tooltiptext-benefits {
        width: 200px !important;
        top: -51px !important;
        left: 19px !important;
    }
    &:hover {
        .tooltiptext {
            visibility: visible;
        }
    }
}

.heading-cntr {
    width: 100%;
    background-color: #222629;
    height: 59px;
    position: relative;
    padding: 20px;
    .heading-txt {
        width: 67px;
        opacity: 0.7;
        font-size: 11px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 1px;
        text-align: left;
        color: #ffffff;
    }
}

.navbar-logo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .navbar-header {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
        float: left; // new added
        width: 110%;
        background-color: #222629;
        height: 59px;
        position: relative;
        left: -25px;
        float: none;
        img {
            width: 80px;
            padding: 20px;
            margin-left: 25px;
        }
    }
}

.dropdown-toggle {
    padding-top: 15px !important;
}

.navbar-Company {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    width: 90%;
    background-color: #633ea5;
    margin-left: 10px;
    height: 52px;
    li#dropDown a#selectedCompany {
        top: -2px;
    }
    .nav-company-list .dropdown-toggle {
        color: $color-white !important;
        padding-left: 0;
        margin-left: 0;
        font-size: 14px;
        font-weight: 600;
        opacity: 1;
        position: relative;
        padding-top: 14px;
        .business-arrow-list {
            position: absolute;
            right: 12px;
            padding: 5px;
            cursor: pointer;
            top: 20px;
        }
        span {
            //width: 160px;
            white-space: nowrap;
            overflow: hidden;
            top: 2px;
            text-overflow: ellipsis;
            display: inline-block;
            margin-left: 0px;
            &.companyName1 {
                text-align: left;
                font-size: 11px;
                font-weight: normal;
                text-transform: uppercase;
                padding-top: 3px;
            }
        }
    }
    ul.nav-company-list {
        padding-right: 0px;
        padding-left: 0px; // background-color:$color-minsk-pink;
        li {
            a {
                color: $color-white;
                font-size: $font-size-xs;
                padding: 20px 16px 20px 16px;
                font-weight: $font-weight-light;
                border-left: 4px solid transparent;
                line-height: initial;
                height: auto;
                display: block;
                transition: all 0.5s ease-in-out;
                &.company-text-arrow {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                &:hover {
                    background-color: transparent;
                }
                &:active {
                    background-color: transparent;
                }
                &:focus {
                    background-color: transparent;
                }
                &:visited {
                    background-color: transparent;
                }
            }
            span.light-border {
                border-bottom: 1px solid $color-white;
                opacity: 0.1;
                filter: alpha(opacity=10);
                height: 1px;
                width: 193px;
                display: inline-block;
                position: relative;
                left: 25px;
            }
            .bussiness-list-pd {
                padding-bottom: 20px;
            }
            .subtitle {
                color: $color-white;
                opacity: 0.5;
                font-size: 12px;
                margin-left: 4px;
                bottom: 6px;
                position: relative;
                width: 160px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
            }
        }
    }
    ul.sidebar-dropdown {
        padding: 0;
        .active {
            background-color: #ece8e8;
            border-left: 4px solid #00b898; // .label-verified {
            // background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/checkGreen.png");
            // display: block;
            // background-size: 50%;
            // background-repeat: no-repeat;
            // width: 40px;
            // height: 20px;
            // float: right;
            // margin: -25px auto;
            // }
        }
    }
    .sidebar-toggle {
        width: 80px;
        transition: all 500ms ease-in-out;
        .sidebar-img-toogle-optima {
            //background-position: 5px 4px !important;
            transition: all 500ms ease-in-out;
        }
        .sidebar-img-toogle-spotlight {
            //background-position: 6px 3px !important;
            transition: all 500ms ease-in-out;
        }
        .sidebar-img-toogle {
            //background-position: 7px 0px !important;
            transition: all 500ms ease-in-out;
        }
        .sidebar-option-txt {
            visibility: hidden;
            transition: all 500ms ease-in-out;
        }
        .sidebar-tooltip__view {
            opacity: 0 !important;
            transition: all 500ms ease-in-out;
        }
        .tooltip {
            .tooltiptext {
                opacity: 1;
            }
        }
    }
    // .nav_list_icon-group {
    //     height: 30px;
    //     overflow: hidden;
    // }
}

.lastItem {
    margin-bottom: 102px;
}

.sidebar-option-txt {
    opacity: 1;
    font-size: 13px;
    display: inline;
    font-weight: 400;
    color: #fff;
    transition: all 500ms ease-in-out;
}
 
.heading-cntr {
    width: 100%;
    background-color: #222629;
    height: 50px;
    position: relative;
    padding: 20px;
    transition: all 500ms ease-in-out;
    .heading-txt {
        width: 67px;
        opacity: 0.7;
        font-size: 11px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 1px;
        text-align: left;
        color: #ffffff;
        transition: all 500ms ease-in-out;
    }
}
.companyListSec{
    background-color: #222629;  
}
.companyName {
    text-overflow: initial !important;
    overflow: inherit !important;
    .companyShow {
        margin-left: 0 !important;
        top: 0px !important;
        vertical-align: text-bottom;
        text-transform: uppercase;
        font-size: 11px;
        &.hideThisEl {
            display: none !important;
        }
    }
    .companyHide {
        font-weight: bold !important;
        text-overflow: ellipsis!important;
        width: 179px!important;
        &.hideThisEl {
            display: none !important;
        }
    }
}

.companyName1 {
    .companyHide {
        font-weight: normal !important;
    }
}

.companyHide {
    margin-left: 0 !important;
    top: 0px !important;
    vertical-align: text-bottom;
    font-weight: normal !important;
    &.hideThisEl {
        visibility: hidden;
    }
}

.navbar-logo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .navbar-header {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
        float: left; // new added
        width: 110%;
        background-color: #222629;
        height: 59px;
        position: relative;
        left: -25px;
        z-index: 9999;
        float: none;
        .zeta-logo {
            width: 80px;
            padding: 20px;
            margin-left: 25px;
            transition: all 500ms ease-in-out;
        }
        .sodexo-logo {
            width: 120px;
            padding: 0 0 0 20px;
            margin: 15px 0 0 25px;
            height: 30px;
        }
    }
}

.navbar-Company {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    width: 90%;
    background-color: #633ea5;
    border-radius: 2px;
    margin-left: 12px;
    transition: all 500ms ease-in-out;
    &.sdp-royal-blue-bg {
        background-color: #273895;
    }
    .nav-company-list .dropdown-toggle {
        color: $color-white !important;
        padding-left: 0;
        margin-left: 0;
        font-size: 14px;
        font-weight: 600;
        opacity: 1;
        position: relative;
        padding-top: 14px;
        .business-arrow-list {
            position: absolute;
            right: 12px;
            padding: 5px;
            cursor: pointer;
            top: 20px;
        }
        span {
            //width: 160px;
            white-space: nowrap;
            overflow: hidden;
            top: 2px;
            text-overflow: ellipsis;
            display: inline-block;
            margin-left: 0px;
            font-weight: 600;
            transition: all 500ms ease-in-out;
        }
    }
    ul.nav-company-list {
        padding-right: 0px;
        padding-left: 0px; //                    background-color:$color-minsk-pink;
        li {
            a {
                color: $color-white;
                font-size: $font-size-xs;
                padding: 20px 16px 20px 16px;
                font-weight: $font-weight-light;
                border-left: 4px solid transparent;
                line-height: initial;
                height: auto;
                display: block;
                transition: all 0.5s ease-in-out;
                &.company-text-arrow {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                &:hover {
                    background-color: transparent;
                }
                &:active {
                    background-color: transparent;
                }
                &:focus {
                    background-color: transparent;
                }
                &:visited {
                    background-color: transparent;
                }
            }
            span.light-border {
                border-bottom: 1px solid $color-white;
                opacity: 0.1;
                filter: alpha(opacity=10);
                height: 1px;
                width: 193px;
                display: inline-block;
                position: relative;
                left: 25px;
            }
            .bussiness-list-pd {
                padding-bottom: 20px;
            }
            .subtitle {
                color: $color-white;
                opacity: 0.5;
                font-size: 12px;
                margin-left: 4px;
                bottom: 6px;
                position: relative;
                width: 160px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
            }
        }
    }
    ul.sidebar-dropdown {
        padding: 0;
        top: inherit;
        position: fixed;
        border-radius: 4px;
        margin-top: 0;
        margin-left: 3px;
        z-index: 99999;
        .sidebar-company-item {
            position: relative;
            max-width: 450px;
            .success_img {
                img {
                    max-width: 17px;
                    position: absolute;
                    right: 7px;
                    top: 20px;
                }
            }
        }
        .active {
            background-color: #ece8e8;
            border-left: 4px solid #00b898; // .label-verified {
            //     background-image: url("https://card-program-files.s3.amazonaws.com/hrDashboard/images/checkGreen.png");
            //     display: block;
            //     background-size: 50%;
            //     background-repeat: no-repeat;
            //     width: 40px;
            //     height: 20px;
            //     float: right;
            //     margin: -25px auto;
            // }
        }
        .scroll-section {
            li a {
                border-left: 0;
            }
        }
        .image-text-container .column-text {
            min-width: 250px;
            width: inherit;
            div {
                font-size: 11px;
                color: #190f27;
            }
            h4 {
                font-size: 14px;
            }
        }
        .dropdown_selectedCompName {
            background-color: #e9e6ed;
            display: block;
            position: fixed;
            box-shadow: 0 1px 0 0 #c7c4d2, inset 0 1px 0 0 #c7c4d2;
            max-width: 100%;
            min-width: 298px;
            border-right: 1px solid #c7c4d2;
            border-top-right-radius: 4px;
            width: auto;
            .success_img img {
                max-width: 16px;
                margin-top: -23px;
                margin-right: -14px;
            }
            .selectedCompName {
                cursor: default;
            }
            &+li {
                padding-top: 59px;
            }
        }
    }
    .business-arrow-list {
        position: relative;
        top: -10px;
        right: -10px;
        cursor: pointer;
    }
    span.light-border {
        border-bottom: 1px solid $color-white;
        opacity: 0.1;
        filter: alpha(opacity=10);
        height: 1px;
        width: 193px;
        display: inline-block;
        position: relative;
        left: 25px;
    }
    .bussiness-list-pd {
        padding-bottom: 12px;
    }
}

.bodyScroll {
    overflow: hidden;
}
#sidebar-cntr-overflow {
    .tooltiptext{
        display: none;
    }
    .companyShow{
        display: none;
    }
    &::-webkit-scrollbar{
        width: 5px;
        background: transparent;
        display: none !important;
    }
    &::-webkit-scrollbar-thumb {
        background:rgba(255, 255, 255, 0.3);
        border-radius:5px;
    } 
    .notAllowed {
        cursor: inherit;
    }
    //height: 90vh;
    //position: relative;
    .sidebar-cntr-overflow {
        // overflow-y: scroll;
        overflow-x: hidden;
        // height: 100vh;
        &::-webkit-scrollbar{
            width: 5px;
            background: transparent;
            display: none !important;
        }
        &::-webkit-scrollbar-thumb {
            background:rgba(255, 255, 255, 0.3);
            border-radius:5px;
        } 
        width: 100%;
        position: absolute;
        .sidebar-overflow {
            li {
                line-height: 0;
                a.tooltip {
                    opacity: 0.7;
                }
                a.disabled.tooltip{
                    opacity: 0.7 !important;
                }
                a.cur-page.tooltip{
                    opacity: 1 !important;
                }
            }
            li.corpTools {
                overflow: hidden;
                margin: 0 0 0 8px;
                span {
                    display: block;
                    position: relative;
                    left: -20px;
                    width: 153px;
                    transition: all 0.4s ease-in-out;
                }
                span.textToggle {
                    left: -95px;
                }
            }
        }
    }
}
.navbar-logo .navbar-header{
    background-color: #222629;
}
span.arrowBounce{
    display: none;
    position: absolute;
    top: 55px;
    left: 21px;
    transition: 0.3s all ease-in-out;
    &::before{
        content: '\203A';
        width: 9px;
        height: 14px;
        color: #f9f9f9;
        font-size: 20px;
        background-color: #212529;
        line-height: 0.6;
        transition: 0.3s all ease-in-out;
        display: block;
    }
    &.activeState{
        display: block !important;
        position: relative;
        top: 11px;
        left: -5px;
        &::before{
            position: absolute;
        }
    }
}
.sideBar_subcon{
    display: none;
    margin-left: 22px;
   // padding: 10px 0; 
    ul{
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        a{
            //position: relative;
            &:hover{
                // &::before{
                //     content: '\203A';
                //     width: 9px;
                //     height: 15px;
                //     color: #f9f9f9;
                //     font-size: 24px;
                //     position: absolute;
                //     top: 63px;
                //     left: 21px;
                //     background-color: #291942;
                //     line-height: 0.5;
                //     transition: 0.3s all ease-in-out;
                // }
                li{
                    // border-left: 4px solid #fff;
                    //background-color: rgba(255, 255, 255, 0.1);
                }
            }
            &:hover,
            &:visited,
            &:active{
                text-decoration: none;
            }
            li{
                padding: 20px 0 20px 20px;
                border-left: 4px solid transparent;
                opacity: 0.7;
                font-size: 12px;
                line-height: 0;
            }
        }
    }
}
.secondList{
    border-top: 1px solid rgba(255, 255, 2555, 0.1);
    padding-top: 3px !important;
}
.sideBar_mainSec{
    .openProgList{
        transition: all ease-in-out 0.5s;
        text-align: left;
        height: 42px;
        line-height: 2;
        overflow: hidden;
        &.closed{
            text-align: center;
        }
    }
}
.activeSubItm{
    position: relative;
    li{
        opacity: 1 !important;
    }
}
.side_products{
    background-color: #222629;
}
.cur-page+.sideBar_subcon{
    display: block;
}

.sideBar_subcon{
    ul{
        li{
            position: relative;
        }
    }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
    #sidebar-cntr-overflow .sidebar-cntr-overflow .sidebar-overflow li.corpTools span {
        width: 157px;
    }
    #sidebar-cntr-overflow .sidebar-cntr-overflow .sidebar-overflow li.corpTools span.textToggle{
        left:-105px;
    }
}}

  .sidebar-toggle-power {
        .business-arrow-list{
            right: 0px !important;
        }
    }
    .openActiveList{
        display: none;
    }
    .sidebar-toggle-power{
        .secondList{
            margin-bottom:0px;
        }
    }
    .companyShow {
        white-space: nowrap;
        text-overflow: ellipsis !important;
        width: 55px !important;
    }
    
    #sidebar-cntr-overflow {
        //height: 80vh;
        .sidebar-cntr-overflow {
            //height: 81.6vh;
            position: absolute; 
            width: 100%;
            //overflow: scroll;
            overflow-x: hidden;
            // &::-webkit-scrollbar {
            //     width: .4em;
            //     overflow: visible;
            //     border-radius: 4px;
            // }
            // &::-webkit-scrollbar-thumb {
            //     overflow: visible;
            //     border-radius: 4px;
            //     background: rgba(255, 255, 255, 0.1)
            // }
            .sidebar-overflow {
                li {
                    line-height: 0;
                }
            }
        }
        ul.sidebar-dropdown{
            left: 10px !important;
            margin-top: 15px;
        }
        .sidebar-row .nav_list_icon-group{
            height: 30px;
            overflow: hidden;
        } 
    }
    .sidebar-row .sidebar-container ul.nav-company-list li .business-arrow-list{
        position: absolute;
        top: 20px !important;
        right: 0px;
        cursor: pointer;
        left: inherit;
        z-index: 1;
        //background-color: #633fa4;
        padding: 6px 7px 0 7px;
        margin-top: -5px;
    }
    .sidebar-row .sidebar-container ul.child-list li .new-program, .sidebar-container .new-program{
        position: inherit !important;
        left: inherit !important;
        right:inherit !important;
        top:inherit !important;
        display: inline-block;
        margin-top: 8px;      
        margin-right: 12px;
        float: right;
        display: inherit !important;  
    }
    .sidebar-row .sidebar-container ul.child-list li .new-program-powercenter, .sidebar-container .new-program-powercenter{
        margin-top: -3px;   
    }
    .sidebar-row .sidebar-container ul.sub-child-list {
        // position: absolute;
        // bottom: 20px;
        position: relative;
        top: 0px;
       li a{
            padding: 5px 18px 10px 18px;
        }
    }
    .nav-btn {
        position: absolute;
        bottom: -10px;
        right: 0;
        .nav-cntr {
            height: 40px;
            .nav-btn-cntr {
                width: 80px;
                height: 40px;
                background-color: rgb(62, 48, 86); //float: right;
                right: 0;
                bottom: 0px;
                position: relative;
                z-index: 9999;
                cursor: pointer;
                margin-top: 20px;
                padding: 10px 32px;
                .left-arrow {
                    width: 7px;
                    height: 11px;
                    background-color: rgba(255, 255, 255, 0.7);
                    background: transparent;
                    transition: all 500ms ease-in-out;
                }
            }
        }
    }
    
    