<tr class="numbers-font">
    <% { let reason = '-'; %>
        <% for(let currIndex = 0;currIndex<rows.length;currIndex++) { %>
            <% if(rows[currIndex].error) { %>
                <% 
                    reason = rows[currIndex].error[0];
                    console.log(reason);
                %>
                <td class='error-column'><%-rows[currIndex].name%></td>
            <% } else { %>
                <td><%-rows[currIndex].name%></td>
            <% } %>
        <% } %>
        <td class="text-right"><%-reason%></td>
    <% } %>
</tr>