<tr data-orderid="<%- orderID %>" class="numbers-font">
<td>
    <%- orderID %>
</td>
<td><%- createdOn %></td>
<td class="text-right">
    <%- totalValidBeneficiaries %>
</td>
<td>
    <div>
        <% if(status === "processing" || status === "processing_initiated") { %>
        <span class="processing text-capitalize text-bulk-processing"><%- closeStatus %></span>
        <% } else if(status === "success" || status === "completed") { %>
        <span class="transfer_status_completed text-capitalize text-completed"><%- closeStatus %></span>
        <% } else if(status === "failed" || status === "error") { %>
        <span class="transfer_status_stalled text-capitalize text-failed"><%- closeStatus %></span>
        <% } else if(status === "cancelled") { %>
        <span class="cancelled text-capitalize text-cancelled"><%- closeStatus %></span>
        <% } else { %>
        <span class="transfer_status_stalled text-capitalize text-failed"><%- closeStatus %></span>
        <% } %>
    </div>
</td>
<td class="file-url">
    <a href="" data-closeOrderID='<%- orderID %>' data-name="<%- fileName %>"
        class="tooltip-title tooltip-cursor-pointer download-file-report">
        <%if(fileName.substr(fileName.lastIndexOf(".") + 1) === 'csv') {%>
        <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/csv.svg"
            alt="Download Order">
        <% } else if(fileName.substr(fileName.lastIndexOf(".") + 1) === 'xls') { %>
        <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xls.svg"
            alt="Download Order">
        <% } else if(fileName.substr(fileName.lastIndexOf(".") + 1) === 'xlsx') { %>
        <img class="download-icon" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/xlsx.svg"
            alt="Download Order">
        <% } else { %>
        <img class="download-icon"
            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/report-copy.png"
            alt="Download Order">
        <% } %>

        <span class="tooltip-view">
            <!-- Tooltip Content  -->
            <div class="tooltip-lrtb-pd">
                <div class="row">
                    <div class="col-xs-12 col-md-12">Download order file</div>
                </div>
            </div>
            <!-- Tooltip Content End -->
        </span>
    </a>

    <a href="javascript:void(0)" data-closeOrderID='<%- orderID %>'
        class="tooltip-title tooltip-cursor-pointer <%= isDownloadAvailable ? 'download-card-status-report' : '' %>">
        <img class="<%= isDownloadAvailable ? 'download-icon' : 'download-icon-disabled' %>"
        src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/claimed-report-icon.svg"
        alt="Download Order">
        <span class="tooltip-view <%= isDownloadAvailable ? '' : 'tooltip-view-disabled' %>">
            <!-- Tooltip Content  -->
            <div class="tooltip-lrtb-pd">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <%if (!isDownloadAvailable) {%>
                            Try downloading in an hour
                        <% } 
                                else { %> Close card - Status report
                        <% } %>

                    </div>
                </div>
            </div>
            <!-- Tooltip Content End -->
        </span>
    </a>
    <a href="javascript:void(0)" data-closeOrderID='<%- orderID %>'
        class="tooltip-title tooltip-cursor-pointer <%= isDownloadAvailable ? 'download-claim-report' : '' %>">
        <img class="<%= isDownloadAvailable ? 'download-icon' : 'download-icon-disabled' %>"
            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/claimed-report-icon.svg"
            alt="Download Order">
        <span class="tooltip-view <%= isDownloadAvailable ? '' : 'tooltip-view-disabled' %>">
            <!-- Tooltip Content  -->
            <div class="tooltip-lrtb-pd">
                <div class="row">
            <div class="col-xs-12 col-md-12">
                    <%if (!isDownloadAvailable) {%>
                        Try downloading in an hour
                        <% } 
                                else { %> Claimed payouts - Close card report
                    <% } %>
            </div>
                </div>
            </div>
            <!-- Tooltip Content End -->
        </span>
    </a>
    <% if(status === "success" || status === "completed" || status === "failed" || status === "error"){ %>
    <a href="javascript:void(0)" data-closeOrderID='<%- orderID %>'
        class="tooltip-title tooltip-cursor-pointer  <%= isDownloadAvailable ? 'download-revoke-report' : '' %>">
        <img class="  <%= isDownloadAvailable ? 'download-icon' : 'download-icon-disabled' %> "
            src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/unclaimed-report-icon.svg"
            alt="Download Order">
            <span class="tooltip-view <%= isDownloadAvailable ? '' : 'tooltip-view-disabled' %>">
                    <!-- Tooltip Content  -->
                    <div class="tooltip-lrtb-pd">
                        <div class="row">
                    <div class="col-xs-12 col-md-12">
                            <%if (!isDownloadAvailable) {%>
                                Try downloading in an hour
                                <% } 
                                        else { %> Unclaimed payouts - Revoked report
                            <% } %>
                    </div>
                        </div>
                    </div>
                    <!-- Tooltip Content End -->
                </span>
    </a>
    <% } %>




</td>
</tr>