<div class="col-xs-12 col-md-12">
    <div class="inner-sub-container page-sub-heading">
        <div class="row transferorder-row">
            <div class="row clearLeftMargin">
                <div class="filter-section">
                    <div class="col-md-2 clearRightPadding" style="width: 36%;padding-left:0;margin-right: 14px;">
                        <div class="custom-searchbox">                                    
                            <div class="input-group stylish-input-group">
                                <input id="searchBox" type="text" class="form-control" placeholder="Search by Beneficiary Name, Email or Mobile">
                                <span class="input-group-addon">
                                    <button id="searchBtn" type="button">
                                        <span><img src="/images/search_small.png"></span>
                                </button>
                                </span>
                            </div>
                        </div>
                        </div>
                    </div>                
                    <div class="col-md-6 filter-prjtr" align="left">
                        <div class="filter-divider-table"> 
                            <div class="filter-divider-left">
                                <div class="form-group select-custom">
                                    <select class="form-control width-xs" id="transferOrderStatus" style="width: 42%;margin-left: -21px;">
                                        <option value="ALL" disabled selected>Filter by Status</option>
                                        <option value="ALL">All</option>
                                        <option value="CLAIMED">Claimed</option>
                                        <option value="DELIVERED">Unclaimed</option>                                                                             
                                        <option value="INITIATED">Scheduled</option>                                      
                                    </select>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="transferOrderTable">
                <% include individual-transfer-orders %>
            </div>
        </div>
    </div>
</div>

<!-- modal revoke -->
<div class="modal fade" data-backdrop="static" id="revokePayoutConfirm" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding:20px 0 0 0;">
                <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    
                    <h4 class="text-center pd-bottom-zero">Are you sure that you want to revoke this payout?</h4>
                </div>
                <% if(corpID=="495") { %> 
                    <div class="form-group">
                        <textarea style="margin-top:30px;height:100px;" class="form-control" type="text" maxlength="500" placeholder="Please provide a reason to revoke" cols="50" row="4"></textarea>
                    </div>
                    <% } %> 
                <div class="modal-footer">
                    <div class="flexible-button cancel-order">
                        <button class="btn btn-default confirm" type="button">Yes</button>
                        <button class="btn btn-default reset" type="button">No</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--  modal revoke -->
<!-- Modal Oops Transfer  -->
<div class="modal fade" id="revokePayoutError" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                    <h4 class="text-center pd-bottom-zero">Oops. Payout revoke failed.</h4>
                    <div class="modal-heading-pdtb" align="center">
                        <div class="heading-sub-text" id="error-msg">
                            This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on support@zeta.in
                        </div>

                        <div class="heading-sub-text" id="cannot-revoke-msg">
                            <p>
                                This amount can't be revoked as it has already been claimed. Please contact us at <a href="mailto:support@zeta.in">support@zeta.in</a>. If you have any further queries.
                            </p>
                            <p>Note: You would be able to revoke only the unclaimed amount from the user.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="flexible-button">
                        <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Oops Transfer End  -->
<!-- Modal Box Transfer Initiated success -->
<div class="modal fade" data-backdrop="static" id="revokePayoutSuccess" tabindex="-1" role="dialog">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding-top:30px;">
                    <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Payout revoked successfully</h4>
                    </div>
                    <div class="modal-footer">
                        <div class="flexible-button">
                            <a href=''>
                                <button class="btn btn-default" type="button">Done</button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Box Transfer Initiated success End -->
    <!-- Modal Loader  -->
    <div class="modal fade" id="revokePayoutLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                </div>
                <div class="custom-modal-body">
                    <div class="modal-body">
                        <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                        <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Loader End  -->