<!-- Banner -->
<div class="banner-section gradient-red-violet-reverse">
        <div class="row row-to-table">
            <div class="col-xs-7 col-md-7 float-to-column">
                <div class="page-heading">
                    <p class="mg-bottom-zero">
                        <span class="document-quote-text">Bulk Actions</span><br/><br/>
                    </p>
                    <h1>Edit company codes</h1>
                </div>
            </div>
            <div class="col-xs-5 col-md-5 float-to-column position-relative" align="right">
                <div class="banner-image-pos"></div>
            </div>
        </div>
        </div>
    <!-- Banner End -->