<% include ../../common/html-head %>

    <body>
        <div class="wrapper">
            <% include ../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">

                    <div class="row">
                        <% include ../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                    <div class="top-section gradient-red-violet-reverse">
                                            <div>
                                                <!-- Breadcrumb -->
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <ul class="breadcrumb pd-tb-zero">
                                                            <li><a href="/bulk-action">Bulk Actions</a></li>
                                                            <li></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- Breadcrumb End -->
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div class="page-heading">
                                                            <h1 class="pd-top-ten pd-bottom-ten" id="companyCodeListLink">Edit Company Codes</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="top-section">
                                        <div class="row">
                                            <!-- Page Heading and List -->
                                            <div class="col-xs-12 col-md-12">
                                                    <!-- <%- companies[0].companyID %> -->
                                                <%- console.log('this is company info', companies) %>
                                                    <!-- corporate code entry form -->
                                                    <div class="corp-form thumbnail cards-container">
                                                        <p style="margin-top:0">A company is identified by its company code in the bulk upload file. Based on this, a bulk order is split into multiple indivisual orders per company.</p>
                                                        <table class="custom-table hover-state bulk-orders">
                                                                <thead>
                                                                    <tr>
                                                                        <th>COMPANY NAME</th>
                                                                        <th>COMPANY CODE</th>
                                                            
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% for(var currIndex=0; currIndex<companies.length; currIndex++) {%>
                                                                        <tr>
                                                                            <td><%- companies[currIndex].company.companyName %></td>
                                                                            <td>
                                                                                <input type="text" data-companyID="<%- companies[currIndex].company.companyID %>" data-corpID="<%- companies[currIndex].company.corpID %>" class="companycode<%- currIndex  %> companyCode" id="<%- companies[currIndex].company.companyName %>" name="companyCode" placeholder="Enter company code" value="<%- companies[currIndex].company.companyShortCode %>" maxlength="7">
                                                                                <span class="companyCodeError"></span>
                                                                            </td>
                                                                        </tr>
                                                                    <% } %>
                                                                </tbody>
                                                            </table><br/>
                                                            <!-- <button id="saveCompanyCodes" data-companycount="<%- companiesCount %>"  class="btn btn-default btn-disabled">COMPLETE SETUP</button> -->
                                                            <button id="saveCompanyCodes" data-companycount="<%- companiesCount %>"  class="btn btn-default btn-disabled">SAVE</button>
                                                    </div>
                                                    <!-- /corporate code entry form -->

                                                    <div class="company_code">
                                                        <div class="company_code-success">
                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/greenTickWhite.svg" style="max-width:40px;">
                                                            <p>Company codes setup successfully</p>
                                                            <button class="buttonbtn btn-default">CONTINUE</button>
                                                        </div>
                                                    </div>
                                            
                                            </div>
                                            <!-- Page Heading and List End -->
                                        </div>
                                        <!-- last login  -->
                                        <% include ../../common/time-footer %>
                                    </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>
        <% include ../../common/html-script %>
            <script src="../dist/scripts/admin.js"></script>
            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>

    </body>

    </html>