<% include ../../common/html-head %>

    <body>
        <div class="wrapper">
            <% include ../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">

                    <div class="row">
                        <% include ../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <% include banner %>
                                    <div class="top-section">
                                        <div class="row">
                                            <!-- Page Heading and List -->
                                            <div class="col-xs-12 col-md-12">
                    
                                                    <!-- Cards -->
                                                    <div class="cards-row manage-panel clearfix bulkAction_Cards">
                                                            
                                                                <div class="bulk-action-card">
                                                                    <div class="thumbnail cards-container">
                                                                        <div class="card-image-part" align="center">
                                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/bulk-icon.png" alt="Zeta image" />
                                                                        </div>
                                                                        <div class="caption card-text-part">
                                                                            <div class="admin-heading-txt">Bulk Transfer Orders</div>
                                                                            <div class="page-sub-heading">
                                                                                <p>Create and upload only a single order file for a program across all your companies</p>
                                                                            </div>
                                                                            <div class="x-medium-button bulk-card-action-btn">
                                                                                <% if(!companyCodeSet) {%>
                                                                                    <a href='javascript:void(0)'>
                                                                                        <button id='createBulkOrder' class="btn AddCompany_code" type="button">+ Create Order</button>
                                                                                    </a>
                                                                                <%} else if(companyCodeSet) { %>
                                                                                    <a href='/bulk-action/new-transfer'>
                                                                                            <button data-href='/bulk-action/new-transfer' id='createBulkOrder' class="btn" type="button">+ Create Order</button>
                                                                                    </a>
                                                                                <% } %>
                                                                            </div>
                                                                            <a class='bulk-orders-link' href='/bulk-action/orders'>View all orders</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                        <div class="bulk-action-card">
                                                                            <div class="thumbnail cards-container">
                                                                                <div class="card-image-part" align="center">
                                                                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/bulk-close-orders.png" alt="Zeta image" />
                                                                                </div>
                                                                                <div class="caption card-text-part">
                                                                                    <div class="admin-heading-txt">Bulk Close Cards</div>
                                                                                    <div class="page-sub-heading">
                                                                                        <p>Close one or multiple cards of your beneficiaries</p>
                                                                                    </div>
                                                                                    <div class="x-medium-button bulk-card-action-btn">
                                                                                        <a href='/bulk-close/new-transfer'>
                                                                                            <button data-href='/bulk-close/new-transfer' id="bulk_close_card_request" class="btn" type="button">+ New Request</button>
                                                                                        </a>
                                                                                    </div>
                                                                                    <a class='bulk-orders-link' href='/bulk-close/orders'>View all requests</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        
                                                        </div>
                                                        <!-- Cards End -->
                                                <% if(!companyCodeSet) {%>
                                                    <!-- corporate code entry form -->
                                                    <div class="corp-form thumbnail cards-container add_company-code homeAddCompanyCo">
                                                        <h3>Before you can proceed, please setup company codes</h3>
                                                        <p>For bulk actions, a company code is required to identify your companies.</p>
                                                        <table class="custom-table hover-state bulk-orders">
                                                                <thead>
                                                                    <tr>
                                                                        <th>COMPANY NAME</th>
                                                                        <th>COMPANY CODE</th>
                                                            
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% for(var currIndex=0; currIndex<companies.length; currIndex++) {%>
                                                                        <tr>
                                                                            <td><%- companies[currIndex].company.companyName %></td>
                                                                            <td>
                                                                                <input type="text" data-companyID="<%- companies[currIndex].company.companyID %>" data-corpID="<%- companies[currIndex].company.corpID %>" class="companycode<%- currIndex  %> companyCode" id="<%- companies[currIndex].company.companyName %>" name="companyCode" placeholder="Enter company code" value="<%- companies[currIndex].company.companyShortCode %>" maxlength="7">
                                                                                <span class="companyCodeError"></span>
                                                                            </td>
                                                                        </tr>
                                                                    <% } %>
                                                                </tbody>
                                                            </table><br/>
                                                            <!-- <button id="saveCompanyCodes" data-companycount="<%- companiesCount %>"  class="btn btn-default btn-disabled">COMPLETE SETUP</button> -->
                                                            <button id="saveCompanyCodes" data-companycount="<%- companiesCount %>"  class="btn btn-default btn-disabled">COMPLETE SETUP</button>
                                                    </div>
                                                    <!-- /corporate code entry form -->

                                                    <div class="company_code">
                                                        <div class="company_code-success">
                                                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/greenTickWhite.svg" style="max-width:40px;">
                                                            <p>Company codes setup successfully</p>
                                                            <button class="buttonbtn btn-default">CONTINUE</button>
                                                        </div>
                                                    </div>
                                                <% } %>
                                            </div>
                                            <!-- Page Heading and List End -->
                                        </div>
                                        <!-- last login  -->
                                        <% include ../../common/time-footer %>
                                    </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>
        <% include ../../common/html-script %>
            <script src="../dist/scripts/admin.js"></script>
            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>

    </body>

    </html>