<div class="col-xs-12 col-md-12">
    <div class="inner-sub-container page-sub-heading">
        <div class="row transferorder-row">
            <div class="row clearLeftMargin">
                <div class="filter-section">
                    <div class="col-md-2 clearRightPadding">
                        <div class="custom-searchbox">                                    
                            <div class="input-group stylish-input-group">
                                <input id="searchBox" type="text" class="form-control" placeholder="Search by Order ID">
                                <span class="input-group-addon">
                                    <button id="searchBtn" type="button">
                                        <span><img src="/images/search_small.png"></span>
                                </button>
                                </span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-2 filter-prjtr" align="left">
                        <div class="filter-divider-table">
                            <div class="filter-divider-left">
                                <div class="form-group select-custom">
                                    <select class="form-control width-xs" id="transferOrderStatus">
                                        <option value="ALL" disabled selected>Filter by Status</option>
                                        <option value="ALL">All</option>
                                        <option value="PENDING">Pending</option>
                                        <option value="SCHEDULED">Scheduled </option>                                        
                                        <option value="CANCELLED">Cancelled</option>
                                        <option value="PROCESSING">Processing</option>
                                        <option value="STALLED">Stalled</option>
                                        <option value="COMPLETED">Completed</option>
                                        <option value="FILE_PROCESSING_FAILED">Failed</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="transferOrderTable">
                <% include tables/transfer-orders %>
            </div>
        </div>
    </div>
</div>