<% include ../../common/html-head %>

  <body>
    <div class="wrapper">
      <% include ../../common/header %>
        <!-- Container -->
        <div class="container-fluid sidebar-row">
          <div class="row">
            <% include ../../common/sidebar %>
              <!-- Inner container -->
              <div class="inner-container">
                <!-- Banner Start -->
                <div class="top-section gradient-red-violet-reverse">
                  <div>
                    <!-- Breadcrumb -->
                    <div class="row">
                      <div class="col-xs-12 col-md-12">
                        <ul class="breadcrumb pd-tb-zero">
                          <li>
                            <a href="/bulk-action">Bulk Actions</a>
                          </li>
                          <li>
                            <a href="/bulk-action/orders">&nbsp;Bulk Transfer Orders</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- Breadcrumb End -->
                    <div class="row">
                      <div class="col-xs-12 col-md-12">
                        <div class="page-heading">
                          <h1 class="pd-top-ten pd-bottom-ten">New Transfer Order</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Banner End -->


                <div class="sub-container">
                  <% if(shortcodeList != '') {%>
                    <div class="row">
                      <div class="col-xs-9 col-md-9 processStage">
                        <ul class='bulk-transfer-step-list'>
                          <li id='chooseStep' class='active'>
                            <div class='bulk-transfer-step-no'>1</div>
                            <div id='chooseTxt' class='bulk-transfer-step-txt'>Choose</div>
                          </li>
                          <li id='uploadStep'>
                            <div class='bulk-transfer-step-line'></div>
                            <div class='bulk-transfer-step-no'>2</div>
                            <div class='bulk-transfer-step-txt'>Upload</div>
                          </li>
                          <li id='verifyStep'>
                            <div class='bulk-transfer-step-line'></div>
                            <div class='bulk-transfer-step-no'>3</div>
                            <div class='bulk-transfer-step-txt'>Verify</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <% } %>
                      <div class="row" id='chooseShortcodeCntr'>
                        <div class="col-xs-9 col-md-9 custom-box whiteBg <% if(shortcodeList == ''){ %>custom-box-nopg<% } %>">
                          <div class="row">
                            <div class="col-xs-12 col-md-12">
                              <div class="page-sub-heading-txt program-code-list-wrpr">
                                <% if(shortcodeList == '') {%>
                                  <div class="noProgrammsSet">
                                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/table-empty-state.png" style="max-width: 95px;">
                                    <h3>Program codes are not set</h3>
                                    <p>Program codes are used to group and identify multiple programs across different companies.
                                      To set them, please get in touch with your account manager or contact us on support@zeta.in
                                    </p>
                                  </div>
                                  <% } %>
                                    <% if(shortcodeList != '') {%>
                                      <h3>Choose a Program Type</h3>
                                      <ul class='program-code-list clearfix'>
                                        <% for(let currIndex=0;currIndex<shortcodeList.length;currIndex++) { %>
                                          <li class='clearfix'>
                                            <div data-productType='<%-shortcodeList[currIndex].productType %>' data-shortcode='<%-shortcodeList[currIndex].programCode %>'
                                              data-prodType='<%-shortcodeList[currIndex].shortCodeProductType %>' data-totcompany='<%-shortcodeList[currIndex].numberOfCompanies %>'
                                              class='program-code-img-cntr'>
                                              <span class="active-icon"></span>
                                              <div class='program-code-img-wrpr'>
                                                <img width='50' height='50' src='<%-shortcodeList[currIndex].productIcon %>' />
                                              </div>
                                              <div class='program-code-dtls-wrpr'>
                                                <div class='program-code-hdg'>
                                                  <%-shortcodeList[currIndex].programCode %>
                                                </div>
                                                <!--<div class='program-code-dtls'><span class='program-code-label'>Program Type: </span><%-shortcodeList[currIndex].shortCodeProductType %></div>-->
                                                <div class='program-code-dtls'>
                                                  <span class='program-code-label'>Type: </span>
                                                  <%-shortcodeList[currIndex].shortCodeProductType %>
                                                </div>
                                                <div class='program-code-dtls'>
                                                  <span class='program-code-label'>Used by: </span>
                                                  <%-shortcodeList[currIndex].numberOfCompanies %> Companies</div>
                                              </div>
                                            </div>
                                          </li>
                                          <% } %>
                                      </ul>

                                      <div class="x-medium-button program-code-next-btn">
                                        <button disabled id='chooseShortcodeNext' class="btn btn-default btn-disabled" type="button">Next</button>
                                      </div>

                              </div>
                              <% } %>

                            </div>
                          </div>
                        </div>
                        <% if(shortcodeList != '') {%>
                          <div class="col-xs-3 col-md-3">
                            <!-- Right Panel -->
                            <div class="panel-container">
                              <h6>Need help?</h6>
                              <div class="straight-line mg-tb-less">&nbsp;</div>
                              <p class="opcity-reduce">
                                You can create a bulk transfer order across multiple companies. This is achieved using a program code which is common across
                                these companies.
                              </p>
                              <div class="header-preview pd-top-ten pd-bottom-ten">
                                <b>How does bulk transfer order work?</b>
                                <div>
                                  <ul class='bulk-transfer-work-list'>
                                    <li>Choose a program code</li>
                                    <li>Upload file & schedule order</li>
                                    <li>Verify details & create order</li>
                                  </ul>
                                  <p class="opcity-reduce">
                                    Once created, we will process and split the bulk order file into multiple individual transfer order per company.
                                  </p>
                                  <br/>
                                  <b>List of company codes</b>
                                  <p class="opcity-reduce">
                                    A company is identified using a company code in the bulk order file. To view all codes,
                                    <a href="javascript:void(0)" class="edit_code" id="companyCodeListLink1">click here</a> .
                                  </p>
                                  <br/>
                                  <b>Documentation</b>
                                  <p class="opcity-reduce">
                                    For more help and FAQs,
                                    <a href="https://docs.zetaapps.in/display/OND/Bulk+Actions#BulkActions-BulkTransferOrders" target="_blank" class="edit_code">click here</a> .
                                  </p>
                                </div>
                              </div>
                              <p></p>
                              <!--<div class="header-preview pd-top-ten pd-bottom-ten">
                                        <b>Documentation</b>
                                        <p class="opcity-reduce">For more help and FAQs, <a href='#'>click here</a> </p>
                                    </div>-->
                            </div>
                            <!-- Right Panel End -->
                          </div>
                          <% } %>
                      </div>
                      <div class="row" id='verifyOrderCntr' style='display: none;'>
                        <div class="col-xs-9 col-md-9 custom-box">
                          <div class="row">
                            <div class="col-xs-12 col-md-12">
                              <div class="page-sub-heading-txt program-code-list-wrpr">
                                <h3>Verify your order</h3>
                                <div class='bulk-order-dtls-wrpr'>
                                  <div class='bulk-order-dtls-hdg'>Bulk Order Summary</div>
                                  <ul>
                                    <li class="clearfix">
                                      <div class='bulk-order-lbl'>Program code</div>
                                      <div class='bulk-order-val' id='programCode'>MEAL</div>
                                    </li>
                                    <li class="clearfix">
                                      <div class='bulk-order-lbl'>Program type</div>
                                      <div class='bulk-order-val' id='programType'>Meal Vouchers</div>
                                    </li>
                                    <li class="clearfix scheduleDate">
                                      <div class='bulk-order-lbl'>Scheduled transfer date</div>
                                      <div class='bulk-order-val' id='scheduledTransferDate'>Wednesday, 25 Apr 2017</div>
                                    </li>
                                    <li class="clearfix">
                                      <div class='bulk-order-lbl'>Purchase order number</div>
                                      <div class='bulk-order-val' id='purchaseOrderNumber'>-</div>
                                    </li>
                                    <li class="clearfix">
                                      <div class='bulk-order-lbl'>Total no. of beneficiaries</div>
                                      <div class='bulk-order-val' id='noOfBeneficiaries'></div>
                                    </li>
                                    <li class="clearfix">
                                      <div class='bulk-order-lbl'>Total amount</div>
                                      <div class='bulk-order-val'>
                                        <b class="ruppee">₹</b>
                                        <span id='totalAmount'></span>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                                <div class="x-medium-button create-bulk-transfer-order">
                                  <button id='createBulkTransferOrder' class="btn btn-default" type="button">Create Bulk Transfer Order</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-3 col-md-3">
                          <!-- Right Panel -->
                          <div class="panel-container">
                            <h6>Important note</h6>
                            <div class="straight-line mg-tb-less">&nbsp;</div>
                            <p class="opcity-reduce">
                              Once created, we will process and split the bulk order file into multiple individual transfer orders per company.
                            </p>
                            <p class="opcity-reduce">
                              Also, a proforma invoice will be generated for each of these individual transfer orders.
                            </p>
                          </div>
                          <!-- Right Panel End -->
                        </div>
                      </div>
                      <div class="row" id='fileErrorWrpr' style='display: none;'>
                        <div class="row">
                          <div class="col-xs-12 col-md-12">
                            <div class='bulk-order-errors'>
                              <h3>Oops! We found some errors in the bulk order file</h3>
                              <div class='file-details-wrpr clearfix'>
                                <div class='file-details-cntr'>
                                  <img id='fileTypeImg' width="36" height="48" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                                    alt="fileType" />
                                  <div class='file-details'>
                                    <div id='fileName' class='file-name'></div>
                                    <div class='file-status'>File uploaded</div>
                                  </div>
                                </div>
                                <div class='bulk-report-wrpr'>
                                  <a id='downloadBulkReport' class='bulk-report-link' href=''>Download complete report</a>
                                </div>
                              </div>
                              <div class='error-row-hdr'>
                                <span class='bulk-invalid-icon'></span>
                                <span class='bulk-invalid-dtls'>
                                  <span class='no-of-invalid-entries' id='noOfInvalidEntries'></span> invalid entries
                                </span>
                              </div>
                              <div id="errorBulkTransfers">
                                <% include ../../tables/transfer-orders %>
                              </div>
                              <div class='error-page-btn-wrpr'>
                                <div class="x-medium-button pd-top-ten pd-bottom-ten upload-again">
                                  <button class="btn btn-default" type="button" id="uploadAgain">Upload file again</button>
                                </div>
                                <span class="hideWhenNoValid">OR</span>
                                <div class="x-medium-button pd-top-ten pd-bottom-ten continue-valid hideWhenNoValid">
                                  <button class="btn btn-default" type="button" id="continueValid">Continue with valid entries only</button>
                                  <!-- Tooltip Content  -->
                                  <div class="bulk-order-tp">
                                    <div class="row">
                                      <div class="col-xs-12 col-md-12">Note: All invalid entries will be discarded.</div>
                                    </div>
                                  </div>
                                  <!-- Tooltip Content End -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" id='uploadFileCntr' style='display: none;'>
                        <!-- Upload File -->
                        <div class="col-xs-9 col-md-9 custom-box">
                          <div class="row">
                            <div class="col-xs-12 col-md-12">
                              <div class="page-sub-heading-txt bulk-upload-hdg-wrpr">
                                <img width='30' height='30' id='uploadHdgIcon' />
                                <h3>Upload beneficiary list & details</h3>
                              </div>
                            </div>
                          </div>
                          <!-- File Upload -->
                          <input type="hidden" id="uploadDetails" value='<%- fileUploadDetails %>' name="uploadDetails">
                          <div class="row">
                            <div class="col-xs-12 col-md-12 file-main-container">
                              <form action="<%- fileUploadUrl %>" id='dragDrop' class="dropzone bulk-upload-cnt-wrpr">
                                <div class="file-upload-container page-sub-heading dz-message">
                                  <div class="dotted-line">
                                    <div class="display-table file-upload-height">
                                      <div class="table-row">
                                        <div class="table-column">
                                          <img width="85" height="44" id="image_upload_preview" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/files-icon.png"
                                            alt="your image" />
                                        </div>
                                      </div>
                                      <div class="table-row">
                                        <div class="table-column">
                                          <span class="file-upload-heading">Drag & Drop</span>
                                        </div>
                                      </div>
                                      <div class="table-row">
                                        <div class="table-column">
                                          <span class="or-font">OR</span>
                                        </div>
                                      </div>
                                      <div class="table-row">
                                        <div class="table-column">
                                          <form id="form1" runat="server">
                                            <div class="browse-wrap btn-disabled">
                                              <div class="text-center">
                                                <div class="upload-button">
                                                  <strong>+</strong> Upload File
                                                </div>
                                              </div>

                                              <div class="fallback">
                                                <input class="upload" name="file" type="file" />
                                              </div>
                                            </div>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>


                                <div id="preview-template" style="display: none">
                                  <div class="dz-preview dz-file-preview">
                                    <div class="dotted-line">
                                      <div class="dz-details">
                                        <img class="fileType" src="" alt="xls">
                                        <div class="dz-filename">
                                          <span data-dz-name>payout.csv</span>
                                        </div>
                                        <div class="dz-progress">
                                          <span class="dz-upload" data-dz-uploadprogress></span>

                                        </div>
                                        <div class="dz-error-message">
                                          <span data-dz-errormessage>Error uploading file</span>
                                        </div>
                                        <!--<a class="removelink" href="javascript:void(0);">Change-->
                                        <!--File</a>-->
                                      </div>
                                      <span id="progressPercentage">Upload status</span>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                          <!-- File Upload End -->

                          <!-- Date Picker End -->
                          <% if(productType !== 'gift') { %>
                            <div class="row pd-top-fifty">
                              <div class="col-xs-12 col-md-12">
                                <div class="form-group date-picker">
                                  <label>Schedule Transfer Date</label>
                                  <div class="input-group">
                                    <input type="text" class="form-control datepicker-img" id="scheduleTransferDate" readonly/>
                                    <!-- <span class="icon-transparent input-group-addon">
                                                        <span><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/date.png"  alt="Zeta Date"/></span>
                                                    </span> -->
                                  </div>
                                  <p id="bulkOrderDateInfo" class="para-color para-text hidden">(Payouts will be enabled on 3rd April for the Financial Year 2018-19)</p>
                                </div>
                              </div>
                            </div>
                            <% } %>
                              <!-- Date Picker End -->
                              <div class="form-group">
                                <label class="opacity-seven">Purchase Order Number ( Optional )</label>
                                <input class="form-control width-md height-small" id="purchaseOrderNo" type="text">
                              </div>
                              <div class="row">
                                <div class="col-xs-12 col-md-12">
                                  <div class="x-medium-button pd-top-ten pd-bottom-ten">
                                    <button class="btn btn-default btn-disabled" type="button" name="" value="" disabled id="create-order">NEXT</button>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-xs-3 col-md-3">
                          <!-- Right Panel -->
                          <div class="panel-container">
                            <h6>Need help?</h6>
                            <div class="straight-line mg-tb-less">&nbsp;</div>
                            <p class="opcity-reduce">
                              Upload a file with the company shortcode, beneficiary list & other details in CSV format.
                            </p>
                            <div class="header-preview pd-top-ten pd-bottom-ten">
                              <b>Sample Preview</b>
                            </div>
                            <div class="preview-image-container">
                              <a href="#" data-featherlight="https://card-program-files.s3.amazonaws.com/hrDashboard/images/previews/bulk-actions/fuel-preview.png">
                                <img id='previewImage' class="thumbnail img-responsive view-image" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/previews/bulk-actions/fuel-preview.png"
                                  alt="Zeta Preview" id="#mylightbox" />
                              </a>
                              <div class="image-preview">
                                <img data-toggle="modal" data-target="#thumbnailModal" class="search-image" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                                  alt="zeta search" />
                              </div>
                            </div>
                            <div class="header-preview pd-top-twenty pd-bottom-ten">
                              <b>Download samples</b>
                            </div>
                            <div class="download-img-list">
                              <!-- #Due to xls and xlsx file processing issue this two formats are disabling
                              <a id='xlsxFile' href="/<%-excelFileDownload%>.xlsx">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png" alt="Zeta icon" />
                              </a>
                              <a id='xlsFile' href="/<%-excelFileDownload%>.xls">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png" alt="Zeta icon" />
                              </a>
                              -->
                              <a id='csvFile' href="/<%-excelFileDownload%>.csv">
                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png" alt="Zeta icon" />
                              </a>
                            </div>
                            <br/>
                            <div class="header-preview pd-top-ten pd-bottom-ten">
                              <b>List of company codes</b>
                            </div>
                            <p class="opcity-reduce">
                              To view the list of shortcodes for all your companies,
                              <a id='companyCodeListLink'>click here</a>
                            </p>
                            <!--<div class="header-preview pd-top-ten pd-bottom-ten">
                                        <b>Documentation</b>
                                        <p class="opcity-reduce">For more help and FAQs, <a href='#'>click here</a> </p>
                                    </div>-->
                          </div>
                          <!-- Right Panel End -->
                        </div>
                      </div>
                      <!-- last login  -->

                </div>
                <% include ../../common/time-footer %>
              </div>
              <!-- Inner container End -->
          </div>
        </div>
        <!-- Container End -->

        <!-- Modal Preview  -->
        <div tabindex="-1" class="modal fade" id="thumbnailModal" role="dialog">
          <div class="modal-dialog thumbnail-modal">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
              </div>
              <div class="modal-body">
                <img id='previewImageModal' class="thumbnail img-responsive view-image" src="" alt="Zeta Preview" />
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Preview End -->

        <!-- List of company short codes Modal Loader  -->
        <div class="modal fade" id="companyCodesModalLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&nbsp;</span>
                </button>
              </div>
              <div class="custom-modal-body">
                <div class="modal-body">
                  <div class="text-center">
                    <img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" />
                  </div>
                  <h4 class="text-center pd-bottom-zero">Loading Company Codes...</h4>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- List of company short codes Modal Loader  -->

        <!-- Upload File Modal Loader  -->
        <div class="modal fade" id="uploadAgainModalLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&nbsp;</span>
                </button>
              </div>
              <div class="custom-modal-body">
                <div class="modal-body">
                  <div class="text-center">
                    <img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" />
                  </div>
                  <h4 class="text-center pd-bottom-zero">Loading Upload File again...</h4>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Upload File Modal Loader  -->

        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="uploadAgainModalOops" tabindex="-1" role="dialog">
          <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="custom-modal-body">
                <div class="modal-body">
                  <div class="text-center">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" />
                  </div>
                  <h4 class="text-center pd-bottom-zero">Oops. We could not cancel the bulk order</h4>
                  <div class="modal-heading-pdtb" align="center">
                    <div class="heading-sub-text">Oops. We could not load company codes.</div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="flexible-button">
                    <button class="btn btn-default" type="button" id="uploadAgainRetryBtn">Try Again</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="companyCodesModalOopsFund" tabindex="-1" role="dialog">
          <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="custom-modal-body">
                <div class="modal-body">
                  <div class="text-center">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" />
                  </div>
                  <h4 class="text-center pd-bottom-zero">Oops. We could not load company codes.</h4>
                  <div class="modal-heading-pdtb" align="center">
                    <div class="heading-sub-text">This error is usually temporary and can be due to your Internet connection or something wrong at our
                      end. Trying within few minutes should work. If the problem still persists please try again later or
                      contact us on support@zeta.in
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="flexible-button">
                    <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <!-- Modal for list of company short codes  -->
        <div class="modal fade" id="companyCodesModalWrpr" tabindex="-1" role="dialog">

        </div>
        <!-- Modal for list of company short codes End -->

        <!-- List of company short codes Modal Loader  -->
        <div class="modal fade" id="verifiedBulkOrderModalLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&nbsp;</span>
                </button>
              </div>
              <div class="custom-modal-body">
                <div class="modal-body">
                  <div class="text-center">
                    <img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" />
                  </div>
                  <h4 class="text-center pd-bottom-zero">Creating Bulk Order...</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- List of company short codes Modal Loader  -->

        <!-- Download Report Modal Loader  -->
        <div class="modal fade" id="downloadReportModalLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&nbsp;</span>
                </button>
              </div>
              <div class="custom-modal-body">
                <div class="modal-body">
                  <div class="text-center">
                    <img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" />
                  </div>
                  <h4 class="text-center pd-bottom-zero">Downloading complete report...</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Download Report Modal Loader  -->

        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="createBulkOrderModalOops" tabindex="-1" role="dialog">
          <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
              <br/>
              <!-- <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                            </div> -->
              <div class="custom-modal-body">
                <div class="modal-body">
                  <div class="text-center">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" />
                  </div>
                  <h4 class="text-center pd-bottom-zero" id="fileHeaderError">Error while processing the bulk order file</h4>
                  <div class="modal-heading-pdtb" align="center">
                    <div class="heading-sub-text" id="fileHeaderErrorDesc">Please check the file for errors or make sure you are uploading the correct order file</div>
                    <div id="appenErrors">
                      <!-- <ol id="onlyHeaderList">
                                                    <li>Company Code</li>
                                                    <li>Name</li>
                                                    <li>Email or Mobile</li>
                                                    <li>Amount</li>
                                                    <li>PAN or Aadhaar</li>
                                                </ol> -->
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="flexible-button">
                    <button class="btn btn-default" type="button" name="" value="" id="uploadAgainFile">UPLOAD FILE AGAIN</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="verifiedBulkOrderModalOops" tabindex="-1" role="dialog">
          <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="custom-modal-body">
                <div class="modal-body">
                  <div class="text-center">
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" />
                  </div>
                  <h4 class="text-center pd-bottom-zero">Error while creating bulk order</h4>
                  <div class="modal-heading-pdtb" align="center">
                    <div class="heading-sub-text">Please check the file for errors or make sure you are uploading the correct order file</div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="flexible-button">
                    <button class="btn btn-default" type="button" id="retryBulkOrderBtn">Try Again</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" id="bulkOrderSuccess" tabindex="-1" role="dialog">
          <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
              <div class="modal-header">
              </div>
              <div class="custom-modal-body">
                <div class="modal-body">
                  <div class="text-center">
                    <br/>
                    <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" />
                  </div>
                  <h4 class="text-center pd-bottom-zero">Bulk transfer order created successfully</h4>
                  <div class="text-center pd-bottom-zero">We will notify you once we complete processing the bulk order file</div>
                  <div class='transfer-summary'>
                    <div class='transfer-summary-hdr'>Summary</div>
                    <div class='transfer-summary-dtls-row clearfix'>
                      <div class="transfer-summary-dtls-col">Bulk transfer order ID</div>
                      <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second" id='bulkOrderID'></div>
                    </div>
                    <div class='transfer-summary-dtls-row transfer-summary-dtls-second-row clearfix scheduleDate'>
                      <div class="transfer-summary-dtls-col">Scheduled transfer date</div>
                      <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second" id='newScheduleDate'></div>
                    </div>
                    <div class='transfer-summary-dtls-row clearfix'>
                      <div class="transfer-summary-dtls-col">Status</div>
                      <div class="transfer-summary-dtls-col transfer-summary-dtls-col-second new-transfer-status" id='newStatus'></div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="flexible-button">
                    <a class="btn btn-default" href="/bulk-action/orders">DONE</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Modal Box Transfer Initiated success End -->

        <!-- Modal Loader  -->
        <div class="modal fade" id="createBulkOrderModalLoader" tabindex="-1" role="dialog">
          <div class="modal-dialog custom-modalbox" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&nbsp;</span>
                </button>
              </div>
              <div class="custom-modal-body">
                <div class="modal-body">
                  <div class="text-center">
                    <img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" />
                  </div>
                  <h4 class="text-center pd-bottom-zero">Creating Transfer Order. Please wait...</h4>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Modal Loader End  -->

    </div>
    <% include ../../common/html-script %>
      <script src="/dist/scripts/bulkNewTransfer.js"></script>
  </body>

  </html>
