<% include ../../../../common/html-head %>

<body>
    <input type="hidden" id="productType" value="pointbased">
    <input type="hidden" id="programID" value="<%-programID%>">
    <input type="hidden" id="SpotlightIFIName" value='<%- ifiBankName %>'>
    <div class="wrapper">
        <% include ../../../../common/header %>
        <!-- Container -->
        <div class="container-fluid sidebar-row">
            <div class="row physical_container">
                <% include ../../../../common/sidebar %>
                <!-- Inner container -->
                <div class="inner-container load-cards">
                    <!-- Banner Start -->
                    <div class="top-section pointbased-banner">
                        <div>
                            <!-- Breadcrumb -->
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <ul class="breadcrumb pd-tb-zero">
                                        <li><a href="/companies/<%- companyID %>/spotlight">Zeta Spotlight</a></li>
                                        <li><a href="/companies/<%- companyID %>/spotlight">Rewards and Recognition</a>
                                        </li>
                                        <li><a href="/companies/<%- companyID %>/spotlight/pointbased">Point-Based</a>
                                        </li>
                                        <li>
                                            <a
                                                href="/companies/<%- companyID %>/spotlight/pointbased/employee/<%-programID %>/<%- programName %>/pointsprogram#overview"><%- programName %></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Popover End -->
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <div class="page-heading">
                                        <h1 class="pd-top-ten pd-bottom-ten">Upload Beneficiary List</h1>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Banner End -->
                    <div class="sub-container" style="display: none;">
                        <div class="row sguploadFile" id='uploadFileCntr'>
                            <!-- Upload File -->
                            <div class="col-xs-9 col-md-9 custom-box custom-box__point">
                                <div class="row ">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="page-sub-heading-txt bulk-upload-hdg-wrpr clearfix">
                                            <h5>Upload File</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- File Upload -->
                                <input type="hidden" id="uploadDetails" value='<%- fileUploadDetails %>'
                                    name="uploadDetails">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 file-main-container file-main-container__point">
                                        <form action="<%- fileUploadUrl %>" id='dragDrop'
                                            class="dropzone bulk-upload-cnt-wrpr">
                                            <div class="file-upload-container page-sub-heading dz-message">
                                                <div class="dotted-line">
                                                    <div class="display-table file-upload-height">
                                                        <div class="table-row">
                                                            <div class="table-column">
                                                                <img width="85" height="44" id="image_upload_preview"
                                                                    src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/files-icon.png"
                                                                    alt="your image" />
                                                            </div>
                                                        </div>
                                                        <div class="table-row">
                                                            <div class="table-column">
                                                                <span class="file-upload-heading">Drag & Drop</span>
                                                            </div>
                                                        </div>
                                                        <div class="table-row">
                                                            <div class="table-column">
                                                                <span class="or-font">OR</span>
                                                            </div>
                                                        </div>
                                                        <div class="table-row">
                                                            <div class="table-column">
                                                                <form id="form1" runat="server">
                                                                    <div class="browse-wrap btn-disabled">
                                                                        <div class="text-center">
                                                                            <div class="upload-button">
                                                                                <strong></strong> BROWSE
                                                                            </div>
                                                                        </div>

                                                                        <div class="fallback">
                                                                            <input class="upload" name="file"
                                                                                type="file" />
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <div id="preview-template" style="display: none">
                                                <div class="dz-preview dz-file-preview">
                                                    <div class="dotted-line">
                                                        <div class="dz-details">
                                                            <img class="fileType" src="" alt="xls">
                                                            <div class="dz-filename"><span
                                                                    data-dz-name>payout.csv</span>
                                                            </div>
                                                            <div class="dz-progress"><span class="dz-upload"
                                                                    data-dz-uploadprogress></span>
                                                            </div>
                                                            <div class="dz-error-message"><span
                                                                    data-dz-errormessage>Error uploading file</span>
                                                            </div>
                                                            <!--<a class="removelink" href="javascript:void(0);">Change-->
                                                            <!--File</a>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- File Upload End -->

                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="x-medium-button">
                                            <button class="btn btn-default btn-disabled" type="button" name="" value=""
                                                disabled id="uploadBeneficiary">Upload</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <!-- Right Panel -->
                                <div class="panel-container">
                                    <h6>Need help?</h6>
                                    <div class="straight-line mg-tb-less">&nbsp;</div>
                                    <p class="opcity-reduce">
                                        You need to upload a file with the beneficiary list & details in an XLS, XLSX or CSV format.
                                    </p>
                                    <div class="header-preview pd-top-twenty pd-bottom-ten">
                                        <b>Download samples</b>
                                    </div>
                                    <div class="download-img-list">
                                        <a id='csvFile' href="/../../download-samples/rewardBeneficiary-sample.csv"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-12.png"
                                                alt="Zeta icon" /></a>
                                        <a id='xlsFile' href="/../../download-samples/rewardBeneficiary-sample.xls"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xls.png"
                                                alt="Zeta icon" /></a>
                                        <a id='xlsxFile'
                                            href="/../../download-samples/rewardBeneficiary-sample.xlsx"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                                                alt="Zeta icon" /></a>
                                    </div>
                                    <div class="header-preview pd-top-twenty pd-bottom-ten">
                                        <b>Sample Preview</b>
                                    </div>
                                    <div class="preview-image-container">
                                        <a href="#"
                                            data-featherlight="/../../images/previews/rewardBeneficiary-preview.png">
                                            <img id='previewImage' class="thumbnail img-responsive view-image"
                                                src="/../../images/previews/rewardBeneficiary-preview.png"
                                                alt="Zeta Preview" id="#mylightbox" />
                                        </a>
                                        <div class="image-preview">
                                            <img data-toggle="modal"
                                                data-featherlight="/../../images/previews/rewardBeneficiary-preview.png"
                                                class="search-image"
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/ui-16-px-1-zoom-in.png"
                                                alt="zeta search" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>                
                        
                    <!-- Error Details start-->
                    <div class="row" id="fileErrorWrpr" style="display: none;">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class='bulk-order-errors'>
                                    <h3>Oops! We found some errors in your order file</h3>
                                    <div class='file-details-wrpr clearfix'>
                                        <div class='file-details-cntr'>
                                            <img id='fileTypeImg' width="36" height="48"
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/group-xlsx.png"
                                                alt="fileType" />
                                            <div class='file-details'>
                                                <div id='fileName' class='file-name'></div>
                                                <div class='file-status'>File uploaded</div>
                                            </div>
                                        </div>
                                        <div class='bulk-report-wrpr '>
                                            <!-- <a id='downloadSGReport' class='bulk-report-link'
                                                href='javascript:void(0)'>Download complete report</a> -->
                                        </div>
                                    </div>
                                    <div class='error-row-hdr'>
                                        <span class='bulk-invalid-icon'></span>
                                        <span class='bulk-invalid-dtls'>
                                            <span class='no-of-invalid-entries' id='noOfInvalidEntries'></span> invalid
                                            entries
                                        </span>
                                    </div>
                                    <div id="fileErrorMain">
                                        <div id="errorSelectGiftingTransfers">
                                        </div>
                                    </div>
                                    <div class='error-page-btn-wrpr'>                                                                                       
                                                <div class="x-medium-button pd-top-ten pd-bottom-ten upload-again">
                                                    <button
                                                        style="background: #fff;color: #190f27;border: 1px solid #E0DDE6;opacity: unset;"
                                                        class="btn btn-default" type="button" id="uploadAgain"
                                                        data-type="">Upload file again</button>
                                                </div>
                                                <!-- <span>OR</span> -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Error Details End-->                                  
                    </div>
                            
                       <!-- Error Modal Oops Transfer  -->
                    <div class="modal fade" id="createOrderModalSGOops" tabindex="-1" role="dialog">
                        <div class="modal-dialog custom-modalbox" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="custom-modal-body">
                                    <div class="modal-body">
                                        <div class="text-center"><img
                                                src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png"
                                                alt="Zeta icon" /></div>
                                        <h4 class="text-center pd-bottom-zero header-error-msg"></h4>                                       
                                         <div>
                                         <div class="text-center displayErrorMsg">
                                            <p> 
                                                Please check the file for missing headers or spelling mistakes. These are the expected headers:
                                            </p>                                        
                                            <div class="error-list-headers">
                                                <ol class="appendError">
                                                    <li><strong></strong></li>                                                   
                                                </ol>
                                            </div>
                                        </div>
                                            
                                        </div>                                       
                                    </div>
                                    <div class="modal-footer">
                                        <div class="x-medium-button create-bulk-transfer-order ">
                                            <a href="/companies/<%- companyID %>/spotlight/physical#cardOrderHistory">
                                                <button class="btn btn-default reupload-file" style="width:100%;" data-dismiss="modal"
                                                    type="button">Upload file again</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Error Modal Oops Transfer End  -->

                        <div class="modal fade in" id="show-success-modal" tabindex="-1" role="dialog"
                            data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog custom-modalbox" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&nbsp;</span>
                                        </button>
                                    </div>
                                    <div class="custom-modal-body">
                                        <div class="modal-body">
                                            <div
                                                class="program-code-list-wrpr program-code-list-wrpr__point text-center">
                                                <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/sucess-icon.svg"
                                                    alt="">
                                                <h3>Employee list has been updated successfully</h3>
                                                <div class="x-medium-button create-bulk-transfer-order createhideIt2">
                                                    <a
                                                        href="/companies/<%- companyID %>/spotlight/pointbased/employee/<%-programID %>/<%- programName %>/pointsprogram#overview">
                                                        <button class="btn btn-default" style="width:100%;"
                                                            type="button">Done</button>
                                                    </a>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Inner container End -->
            </div>
        </div>
        <!-- Container End -->



        <% include ../../../../common/html-script %>
        <script src="/dist/scripts/pointbasedHome.js"></script>

</body>

</html>