<% include ../../../common/html-head %>

    <body>
        <div class="wrapper">
            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">

                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container" style="margin-bottom: 0;">
                                <div>
                                    <div style="margin: 0" class="row">
                                        <!-- Page Heading and List -->
                                        <div style="padding: 0" class="col-xs-12 col-md-12">
                                            <!-- Cards -->
                                            <div class="cards-row manage-panel clearfix">
                                                <iframe frameBorder="0" class='sdp-iframe' src="<%-baseURL%><%-page%>?<%-query%>" height="600"></iframe>
                                            </div>
                                            <div class="clearfix"></div>
                                            <!-- Cards End -->
                                        </div>
                                        <!-- Page Heading and List End -->
                                    </div>
                                </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End.. -->
        </div>


        <% include ../../../common/html-script %>
        <script src="/dist/scripts/sodexoPhilippinesSmModule.js"></script>

    </body>

    </html>