<div class="tab-pane" id="tab_default_4">
    <div class="col-xs-12 col-md-12">
        <div class="inner-sub-container page-sub-heading employees-wrpr">
            <div class="filter-section">
                <div class="col-md-3 beneficiaries-txt">Beneficiaries</div>
                <div class="col-xs-9 col-md-9 search-box beneficiaries-prjtr" align="right">
                    <!-- <div class="filter-divider-table">
                        <div class="filter-divider-left">
                            <div class="form-group select-custom">
                                <select class="form-control width-xs" id="companiesDropDown">
                                    <option value="">Filter by Status</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Scheduled">Scheduled</option>
                                    <option value="Cancelled">Cancelled</option>
                                    <option value="Processing">Processing</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group date-picker">
                            <div class="input-group">
                                <input type="text" class="form-control datepicker-img" placeholder="Select the Date" id="beneficiarySortDate" />
                            </div>
                        </div>
                    </div> -->
                    <div class="custom-searchbox">
                        <div class="input-group stylish-input-group">
                            <input id="employeeSearch" type="text" class="form-control" placeholder="Search by Beneficiary Name, Mobile or Email">
                            <span class="input-group-addon">
                                    <button id="searchBtn" type="button">
                                    <span><img src="/images/search_small.png"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class='row filter-cntr' id='filterCntr'>
                <% if(typeof numberOfEmployees != 'undefined') { %>
                    <div class='col-xs-2 col-md-2 filter-wrpr active' id='totalEmployees' data-filter-val=''>
                        <div class='filter-no'><%- numberOfEmployees %></div>
                        <div class='filter-txt'>Employees</div>
                    </div>
                <% } else { %>
                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val=''>
                        <div class='filter-no'>0</div>
                        <div class='filter-txt'>Employees</div>
                    </div>
                <% } %>
                <% if(typeof numberOfInActiveUsers != 'undefined') { %>
                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='inactive'>
                        <div class='filter-no'><%- numberOfInActiveUsers %></div>
                        <div class='filter-txt'>Inactive</div>
                    </div>
                <% } else { %>
                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val=''>
                        <div class='filter-no'>0</div>
                        <div class='filter-txt'>Inactive</div>
                    </div>
                <% } %>
                <% if(typeof numberOfEmployees != 'undefined') { %>
                <div class='col-xs-2 col-md-2 filter-wrpr' id='activeEmployees' data-filter-val='active'>
                    <div class='filter-no'><%- numberOfEmployees %></div>
                    <div class='filter-txt'>Active</div>
                </div>
                <% } else { %>
                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val=''>
                        <div class='filter-no'>0</div>
                        <div class='filter-txt'>Active</div>
                    </div>
                <% } %>
                <% if(typeof numberOfClosedUsers != 'undefined') { %>
                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='closed'>
                        <div class='filter-no'><%- numberOfClosedUsers %></div>
                        <div class='filter-txt'>Closed</div>
                    </div>
                <% } else { %>
                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val=''>
                        <div class='filter-no'>0</div>
                        <div class='filter-txt'>Closed</div>
                    </div>
                <% } %>
                <% if(typeof numberOfBlockedUsers != 'undefined') { %>
                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val='blocked'>
                        <div class='filter-no'><%- numberOfBlockedUsers %></div>
                        <div class='filter-txt'>Blocked</div>
                    </div>
                <% } else { %>
                    <div class='col-xs-2 col-md-2 filter-wrpr' data-filter-val=''>
                        <div class='filter-no'>0</div>
                        <div class='filter-txt'>Blocked</div>
                    </div>
                <% } %>
            </div> -->
            <!-- Media Object End -->
            <!-- <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="straight-line bdr-line-pdtb mg-top-fifteen">&nbsp;</div>
                </div>
            </div> -->
            <!-- Filter -->
            <!-- Filter End -->
            <!-- Table -->
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div id="benifitsEmployees" class='benifits-employees-wrpr'>
                        <% include ../../../tables/benifitEmployeeTable %>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <!-- Table End -->
            <!-- <table class="custom-table small-table">
                <thead>
                    <tr>
                        <th>Beneficiary</th>
                        <th>Transferred (₹)</th>
                        <th>Spend (₹)</th>
                        <th>Reimbursed (₹)</th>
                        <th>Balance (₹)</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="main-content">
                    <tr>
                        <td class="profile-details">
                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png">
                            <a href="#">Jack Holmes</a>
                            <a class="tel" href="tel:+44 20 7859 3645" title="+44 20 7859 3645">8821234567</a>
                            <a class="email" href="mailto:Aman.Abouaf@gmail.com" title="Aman.Abouaf@gmail.com">Aman.Abouaf@gmail.com</a>
                        </td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>Active</td>
                        <td class="position-dropdown">
                            <div class="popover-content">
                                <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                                            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                </span>
                            </div>
                            <div class="dropdown-log">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="dot-font glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                                            <li><a class="payoutOutRevokeBtn">Revoke Funds</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="profile-details">
                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png">
                            <a href="#">Jack Holmes</a>
                            <a class="tel" href="tel:+44 20 7859 3645" title="+44 20 7859 3645">8821234567</a>
                            <a class="email" href="mailto:Aman.Abouaf@gmail.com" title="Aman.Abouaf@gmail.com">Aman.Abouaf@gmail.com</a>
                        </td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>Active</td>
                        <td class="position-dropdown">
                            <div class="popover-content">
                                <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                                            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                </span>
                            </div>
                            <div class="dropdown-log">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="dot-font glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                                            <li><a class="payoutOutRevokeBtn">Revoke Funds</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="profile-details">
                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png">
                            <a href="#">Jack Holmes</a>
                            <a class="tel" href="tel:+44 20 7859 3645" title="+44 20 7859 3645">8821234567</a>
                            <a class="email" href="mailto:Aman.Abouaf@gmail.com" title="Aman.Abouaf@gmail.com">Aman.Abouaf@gmail.com</a>
                        </td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>Active</td>
                        <td class="position-dropdown">
                            <div class="popover-content">
                                <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                                            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                </span>
                            </div>
                            <div class="dropdown-log">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="dot-font glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                                            <li><a class="payoutOutRevokeBtn">Revoke Funds</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="profile-details">
                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png">
                            <a href="#">Jack Holmes</a>
                            <a class="tel" href="tel:+44 20 7859 3645" title="+44 20 7859 3645">8821234567</a>
                            <a class="email" href="mailto:Aman.Abouaf@gmail.com" title="Aman.Abouaf@gmail.com">Aman.Abouaf@gmail.com</a>
                        </td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>Active</td>
                        <td class="position-dropdown">
                            <div class="popover-content">
                                <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                                            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                </span>
                            </div>
                            <div class="dropdown-log">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="dot-font glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                                            <li><a class="payoutOutRevokeBtn">Revoke Funds</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="profile-details">
                            <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/profileDp.png">
                            <a href="#">Jack Holmes</a>
                            <a class="tel" href="tel:+44 20 7859 3645" title="+44 20 7859 3645">8821234567</a>
                            <a class="email" href="mailto:Aman.Abouaf@gmail.com" title="Aman.Abouaf@gmail.com">Aman.Abouaf@gmail.com</a>
                        </td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>1250</td>
                        <td>Active</td>
                        <td class="position-dropdown">
                            <div class="popover-content">
                                <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit Program Settings">
                                            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                </span>
                            </div>
                            <div class="dropdown-log">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="dot-font glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu dropdown-log-typeTwo payout-drpdown">
                                            <li><a class="payoutOutRevokeBtn">Revoke Funds</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody class="loading-content" style="display: none !important;">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>
</div>