<div class="tab-pane active" id="tab_default_1">
    <!-- Page Heading and List -->
    <div class="col-xs-6 col-md-6 left-column">
        <div class="pd-top pd-b-20">
            <!-- Page Card Display -->
            <div class="card-section mg-b-24">
                <img src='https://card-program-files.s3.amazonaws.com/hrDashboard/images/spotlight/incentives-card.svg' alt="zeta bitmap" />
                <% if(displayTag && cardProgramObject.issuanceConfiguration.lastIssuanceDate && cardProgramObject.productType !== 'Meal' && cardProgramObject.productType !== 'Gift') { %>
                     <div class="card-image-part__tag">
                         <span class="card-image-part__tag--pd">Year end closure approaching</span>
                     </div>
                <% } %>
            </div>
            <!-- Page Card Display End -->
            <div class="page-heading">
                <div class="page-heading-list">
                    <ul class="list-unstyled mg-b-zero">
                        <li>
                            <small class="list-label">Status:</small>
                            <% if(compareDates) { %>
                                <input type="hidden" id="compare-date-overview" data-compare-date="<%- compareDates%>">
                                <div class="details">
                                    Closed
                                    <% if(cardProgramObject.productType !== 'Meal' && cardProgramObject.productType !== 'Gift') { %>
                                        <p>All claims are closed. Processing will complete by
                                            <b><%- cardProgramObject.issuanceConfiguration.extraIssuanceConfig["corpben.reportGenerationDate"]%></b>.
                                            <a href="#" data-target="#myModalImportantDates" data-toggle="modal" class="page-heading-list__date-text">View Important Dates</a>
                                        </p>
                                    <% } else { %>
                                        <p> All new issuances are closed. Please use the card of next financial year.
                                        </p>
                                    <% } %>
                                </div>
                            <% } else if(cardProgramObject.active) {%>
                                <div class="details">
                                    <div class="active">Active</div>
                                    <% if(cardProgramObject.issuanceConfiguration.lastIssuanceDate && cardProgramObject.productType !== 'Meal' && cardProgramObject.productType !== 'Gift') { %>
                                        <p>Year end closure is scheduled on <b><%- cardProgramObject.issuanceConfiguration.lastIssuanceDate%></b>.
                                        <a href="#" data-target="#myModalImportantDates" data-toggle="modal" class="page-heading-list__date-text">View Important Dates</a>
                                        </p>
                                    <% } %>
                                </div>
                            <% } else { %>
                                <div class="details">Inactive</div>
                            <% } %>
                        </li>
                        <li>
                            <small class="list-label">Company:</small>
                            <div class="details text-capitalize">
                                <%- companyName %>
                            </div>
                        </li>
                        <li>
                            <small class="list-label">Funding Account:</small>
                            <div class="details">
                                <a class="link" href="/admin/transaction-history/<%- fundingAccountDetails.accountID %>" target="_blank">
                                    <%- fundingAccountDetails.name %>
                                </a>
                            </div>
                        </li>
                        <li>
                            <small class="list-label">Balance:</small>
                            <div class="details">
                                <b class="numbers-font"><b class="ruppee">₹</b> <%- fundingAccountDetails.balance %></b>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Heading and List End -->
    <div class="col-xs-3 col-md-3">
        <div class='spend-data-wrpr'>
            <div class='saving-data-wrpr'>
                <ul>
                    <li class='clearfix'>
                        <div class='saving-data-icon employees-icon'></div>
                        <div class='saving-data-val-wrpr'>
                            <div class='saving-data-text'>No. of Beneficiaries</div>
                            <div class='saving-data-val'>
                                <b class="numbers-font">
                                    <% if(typeof numberOfEmployees != 'undefined') { %>
                                        <%- numberOfEmployees %>
                                    <% } else { %>
                                        0
                                    <% } %>
                                </b>
                            </div>
                            
                        </div>
                    </li>
                    <li class='clearfix'>
                        <div class='saving-data-icon transferred-icon'></div>
                        <div class='saving-data-val-wrpr'>
                            <div class='saving-data-text'>Total Deposited</div>
                            <div class='saving-data-val'><span class="ruppee">₹</span>
                                <b class="numbers-font">
                                    <% if(typeof totalPayoutsAmount != 'undefined') { %>
                                            <%- totalPayoutsAmount.amount %>
                                    <% } else { %>
                                        0
                                    <% } %>
                                </b>
                            </div>
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% if(cardProgramObject.issuanceConfiguration.lastIssuanceDate) { %>
<!-- Modal New Funding Account -->
<div class="modal fade" id="myModalImportantDates" role="dialog" tabindex="-1">
    <div class="modal-dialog custom-modalbox" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-modal-body">
                <div class="modal-body">
                    <h4 class="text-center pd-bottom-zero pd-lrt-zero">Year end closure dates</h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="page-sub-heading">
                                <!-- Table -->
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">

                                        <table class="custom-table custom-table-margin custom-table__header custom-table__header--margin">
                                              <tbody class="main-content">
                                              <tr>
                                              <td>
                                                  <span>
                                                    Last date for submission of claims by beneficiaries
                                                  </span>
                                                  <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-grey.svg">
                                              </td>
                                              <td><%- cardProgramObject.reimbursementProgram.lastClaimUploadDate %></td>
                                              </tr>
                                              <tr>
                                              <td>
                                                  <span>
                                                      Processing complete for all claims for the financial year
                                                  </span>
                                                  <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-grey.svg">
                                              </td>
                                              <td><%- cardProgramObject.reimbursementProgram.lastClaimProcessDate %></td>
                                              </tr>
                                              <tr>
                                              <td>
                                                  <span>
                                                      Settlement of balance in the beneficiary card
                                                  </span>
                                                  <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-grey.svg">
                                              </td>
                                              <td>
                                              <% if(cardProgramObject.closeCardConfiguration && cardProgramObject.closeCardConfiguration.closeCardDate) { %>
                                                <%- cardProgramObject.closeCardConfiguration.closeCardDate %>
                                              <% } %>
                                              </td>
                                              </tr>
                                              <tr>
                                              <td>
                                                  <span>
                                                      Final report available for download
                                                  </span>
                                                  <img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/help-grey.svg">
                                              </td>
                                              <td>
                                              <% if(cardProgramObject.issuanceConfiguration && cardProgramObject.issuanceConfiguration.lastIssuanceDate) { %>
                                                <%- cardProgramObject.issuanceConfiguration.extraIssuanceConfig["corpben.reportGenerationDate"] %>
                                              <% } %>
                                              </td>
                                              </tr>
                                          </tbody>
                                          </table>
                                    </div>
                                </div>
                                <!-- Table End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Modal New Funding Account End -->
<% } %>
