<% include ../../../common/html-head %>

    <body>
        <input type="hidden" id="transferId" value="<%- programID%>">
        <input type="hidden" id="productType" value="<%- cardProgramObject.productType%>">
        <input type="hidden" id="cardProgramID" value="<%- cardProgramObject.cardProgramID%>">
        <div class="wrapper">
            <% include ../../../common/header %>
                <!-- Container -->
                <div class="container-fluid sidebar-row">
                    <div class="row">
                        <% include ../../../common/sidebar %>
                            <!-- Inner container -->
                            <div class="inner-container">
                                <% include banner %>
                                    <div class="col-xs-12 col-md-12 program">
                                        <div class="tabs-nav-container tabbable-panel">
                                            <div class="tabbable-line">
                                                <ul class="nav nav-tabs ">
                                                    <li class="active">
                                                        <a href="#tab_default_1" id="overview" data-toggle="tab">
                                        Overview
                                    </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_default_2" id="transferOrders" data-toggle="tab">
                                        Transfer Orders
                                    </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_default_3" id="transferReport" data-toggle="tab">
                                        Transfer Report
                                    </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_default_4" id="beneficiaries" data-toggle="tab">
                                        Beneficiaries
                                    </a>
                                                    </li>
                                                    <!-- <li>
                                    <a href="#tab_default_5" id="accTab" data-toggle="tab">
                                        Claims
                                    </a>
                                </li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sub-container">
                                        <div class="row">
                                            <div class="tab-content">
                                                <% include overview %>
                                                    <% include transferOrders %>
                                                        <% include transferReport %>
                                                            <% include beneficiaries %>
                                            </div>
                                        </div>
                                        <!-- last login  -->
                                        <% include ../../../common/time-footer %>
                                    </div>
                            </div>
                            <!-- Inner container End -->
                    </div>
                </div>
                <!-- Container End -->
        </div>



        <!-- Modal Box Transfer Initiated success -->
        <div class="modal fade" data-backdrop="static" id="closeCardSuccess" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/sucess-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Card closed successfully</h4>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <a href=''>
                                    <button class="btn btn-default" type="button">Done</button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Box Transfer Initiated success End -->
        <!-- Modal Loader  -->
        <div class="modal fade" id="closeCardLoader" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&nbsp;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img width="32" src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/reload.gif" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Please wait...</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Loader End  -->

        <!-- Modal Oops Transfer  -->
        <div class="modal fade" id="closeCardError" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/error-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Oops. Close card failed.</h4>
                            <div class="modal-heading-pdtb" align="center">
                                <div class="heading-sub-text">
                                    This error is usually temporary and can be due to your Internet connection or something wrong at our end. Trying within few minutes should work. If the problem still persists please try again later or contact us on support@zeta.in
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="flexible-button">
                                <button class="btn btn-default" type="button" name="" value="" id="" data-dismiss="modal">CLOSE</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Oops Transfer End  -->

        <!-- Modal Box For GST Invoise Coming -->
        <div class="modal fade" id="gstInvoiseModal" tabindex="-1" role="dialog">
            <div class="modal-dialog custom-modalbox" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="close_Me" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="custom-modal-body gst-modal-body">
                        <div class="modal-body">
                            <div class="text-center"><img src="https://card-program-files.s3.amazonaws.com/hrDashboard/images/warning-icon.png" alt="Zeta icon" /></div>
                            <h4 class="text-center pd-bottom-zero">Coming soon!</h4>
                            <div class='gst-modal-desc'>We are currently upgrading our invoicing system to reflect GST. Invoices with GST details will be available by 31st of July.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Box For GST Invoise Coming -->


        <% include ../../../common/html-script %>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" defer></script>
            <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDMv5vpzW8hy8bH54-Mih6Xflgy587xCAI' defer></script>
            <script type='text/javascript' async src='/lib/visualize.js'></script>
            <script src="/dist/scripts/benefitDetails.js"></script>
            <script src="/dist/scripts/employeeDetails.js"></script>

            <script type="text/javascript">
                $(function() {
                    $('[data-toggle="popover"]').popover()
                })
            </script>

    </body>

    </html>